<div class='right-view reduction-proposal-update'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button class='btn btn--light-blue btn-small btn-back' (click)='backStep()'>
        <em class='las la-undo f-16'></em> {{ 'btnAction.back' | translate }}
      </button>
    </div>

    <ng-container>
      <div class='step-container'>
                <span class='i-block step active'> <span class='rounded-circle step-circle'>1</span>
                  {{'reductionProposal.tabs.declare' | translate}} </span>
        <span class='step-line ml-2 mr-2'></span>
        <span class='i-block step'> <span class='rounded-circle step-circle'>2</span>
          {{'reductionProposal.tabs.signProcess' | translate}} </span>
        <span class='step-line ml-2 mr-2'></span>
        <span class='i-block step'> <span class='rounded-circle step-circle'>3</span>
          {{'reductionProposal.tabs.confirm' | translate}} </span>
      </div>
    </ng-container>
    <div class='content__top-right'>
      <button class='btn btn--light-blue btn-small mr-4' (click)='previewPdf()'>Preview</button>
      <button class='btn btn--light-blue btn-small'
              *ngIf='tabIndex > 0 && this.freeDiscountAnnexComponent && this.freeDiscountAnnexComponent.isLoadingInfo'
              (click)='signSubmit()'>{{ 'reductionProposal.tabs.signProcess' | translate }}
      </button>
      <button class='btn btn--light-blue btn-small' (click)="update(true, 'update')">{{ 'btnAction.save' |
        translate }}</button>
      <button class='btn btn--light-blue btn-small' *ngIf='tabIndex < 1' (click)='next()'>{{ 'btnAction.next' |
        translate }}</button>
    </div>
  </div>
  <div class='content'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div style='height: 100%;'>
        <div class='col-12 detail-block mb-3 mt-3'>
          <div class='detail-container border-none'>
            <mat-tab-group (selectedTabChange)='onTabChanged($event)' [selectedIndex]='tabIndex'>
              <mat-tab label=" {{'reductionProposal.tabs.report' | translate}}"></mat-tab>
              <mat-tab label=" {{'reductionProposal.tabs.annex' | translate}}"></mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="col-12 detail-block mb-4 tab-content {{tabIndex === 0 ? 'd-block' : 'd-none'}}">
          <app-create-proposal #declareComponent (dataReduction)='handlerDataReduction($event)'
                               [declareInfo]='declareInfo' [isUpdate]='true' [onLoaded]='updateInfo'
                               (changeLoading)='changeLoading($event)'>
          </app-create-proposal>
        </div>

        <div class="col-12 detail-block mb-4 tab-content {{tabIndex === 1 ? 'd-block' : 'd-none'}}">
          <app-free-discount-annex [customerCode]='customerCode' [isUpdate]='true' [onLoaded]='updateInfo'
                                   [searchValue]='searchValue'></app-free-discount-annex>
        </div>
      </div>
    </div>
  </div>
</div>
