.reduction-proposal-update {
  .btn-back{
    z-index: 999;
  }
  .list__block {
    overflow-y: auto;
  }
  .mat-tab-label-active{
    font-weight: bold;
  }
  .crm-btn-close{
    padding: 2px 6px;
    float: right;
  }
  .form-label{
    color: #737373;
  }
  .step-container{
    // position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
  .step{
    font-weight: 600;
    font-size: 17px;
  }
  .step-circle{
    padding: 4px 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }
  .step.active {
    color: #bbbbfd!important;;
  }
  .step.active .step-circle {
    background-color: #bbbbfd!important;
    color: #fff;
  }
  .step-line{
    width: 50px;
    border: 1px solid #212121;
    display: inline-block;
    vertical-align: super;
  }
  .tab-content {
    height: calc(100% - 75px);
    overflow: auto;
  }

}

::ng-deep .detail-container.border-none .mat-tab-labels{
  border: none;
}
