.mt-15 {
  margin-top: -15px;
}

.attachment {
  text-decoration: underline;
  cursor: pointer;
  color: #5e81f5;
}

.ic-check {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(../../../../../assets/images/checkbig-green.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
button:hover {
  .ic-check {
    background-image: url(../../../../../assets/images/checkbig.svg);
  }
}

.ic-x {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(../../../../../assets/images/checkx-big-red.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
button:hover {
  .ic-x {
    background-image: url(../../../../../assets/images/checkx-big-white.svg);
  }
}
.action-cell {
  padding-left: 8px;
}
