<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <!-- <button  class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button> -->
      <h3 class="mb-0 page--title">
        {{ "rm.menu.rm_fluctuate" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <!-- <button *ngIf="objFunction?.create" class="btn btn-icon btn-icon--small btn-search" (click)="create()">
        <em class="las la-plus-circle f-16"></em>
      </button> -->
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">

          <div class="fluid-container px-4" *ngIf="showAdvance">
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.hrisCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.hrisCode" (input)="trimParam($event)"
                  maxlength="50" />
              </div>
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.rmCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.employeeCode"
                  maxlength="20" />
              </div>
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.rmName' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.employeeName"
                  maxlength="120" />
              </div>
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.branch' | translate }}</label>
                <lp-branches [(model)]="params.branches" [listBranch]="listBranch">
                </lp-branches>
              </div>

            </div>
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.status' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listStatus"
                  class="d-block" [(ngModel)]="params.status" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="name" optionValue="code"></p-dropdown>
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'fields.fromDate' | translate }}</label>
                <p-calendar [(ngModel)]="params.startDate" class="d-block" dateFormat="dd/mm/yy" [showIcon]="true"
                  icon="las la-calendar-alt" [maxDate]="today" (onSelect)="selectedDate($event)"></p-calendar>
              </div>

              <div class="col-md-3 form-group py-6">
                <label class="mt-15">{{ 'fields.toDate' | translate }}</label>
                <p-calendar [(ngModel)]="params.endDate" class="d-block" dateFormat="dd/mm/yy" [showIcon]="true"
                  [minDate]="endDateMin" [maxDate]="today" icon="las la-calendar-alt"></p-calendar>
              </div>

              <div class="col-md-3">
                <label class="m-0">{{ 'fields.jobStatus' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listStatusWork" class="d-block" [(ngModel)]="params.statusWork" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" optionLabel="name" (onChange)="changeStatusWork($event)"
                  optionValue="code"></p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="m-0">{{ 'fields.updateBranchT24' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listStatusUpdateT24" class="d-block" [(ngModel)]="params.statusUpdateBranchT24"
                  appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listBlock"
                  class="d-block" [(ngModel)]="params.blockCode" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>

            </div>
          </div>

          <div class="block-center-between filter-top px-4">
            <div class="filter-top__left">
              <ng-container *ngIf="!showAdvance">
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                    [(ngModel)]="params.search" (keyup.enter)="search(true, 'basic')" maxlength="200" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  title="{{ 'btnAction.search' | translate }}" (click)="search(true, 'basic')">
                  <em class="las la-search f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="switchSearch()">
                  {{ 'btnAction.searchAdvance'| translate }}</button>
              </ng-container>
              <ng-container *ngIf="showAdvance">
                <button class="btn btn--light-blue btn-small mr-2" (click)="switchSearch()">{{
                  'btnAction.searchBasic'| translate }}
                </button>
                <button class="btn btn-small btn--light-blue mr-2" (click)="search(true, 'advance')">
                  <!-- <em class="las la-search f-16"></em> -->
                  {{ 'btnAction.search'| translate }}
                </button>
              </ng-container>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction?.create" class="btn btn-icon btn-icon--small btn-search"
                title="{{ 'btnAction.create' | translate }}" (click)="create()">
                <em class="las la-plus-circle f-16"></em>
              </button>

              <button *ngIf="objFunction?.export" class="btn btn-icon btn-icon--small btn-search ml-2"
                title="{{ 'btnAction.export' | translate }}" (click)="exportFile()">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>

          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="true"
              [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [columnMode]="'fore'"
              [rows]="listData" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="setPage($event)" [footerHeight]="50" (activate)="onActive($event)"
              [headerHeight]="50">

              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="35"
                name="{{ 'fields.order' | translate }}" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="employeeCode" name="{{ 'fields.rmCode' | translate }}" [sortable]="false"
                [width]="100" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="employeeName" name="{{ 'fields.rmName' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="employeeHrsCode" name="{{ 'fields.hrisCode' | translate }}" [sortable]="false"
                [width]="150" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branchCode" name="{{ 'fields.branchCode' | translate }}" [sortable]="false"
                [width]="100" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branchName" name="{{ 'fields.branchName' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="statusWorkDisplay" name="{{ 'fields.jobStatus' | translate }}"
                [sortable]="false" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="expiredDate" name="{{ 'fields.endDate' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}"> {{ value | date: 'dd/MM/yyyy' }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="statusDisplay" name="{{ 'fields.status' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span [ngClass]="{'text-green': row.status === '1', 'text-danger': row.status === '2'}"
                    title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="fileName" name="{{ 'fields.attachments' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" (click)="downloadFile(row)" class="text-truncate"> {{ value }} </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="createdBy" name="{{ 'fields.createdBy' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="createdDate" name="{{ 'fields.createdDate' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}"> {{ value | date: 'dd/MM/yyyy' }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="updatedBy" name="{{ 'fields.modifiedBy' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="updatedDate" name="{{ 'fields.modifiedDate' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}"> {{ value | date: 'dd/MM/yyyy' }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="reason" name="{{ 'fields.note' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="source" name="{{ 'fields.sourceData' | translate }}" [sortable]="false"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>



              <ngx-datatable-column [width]="140" [frozenRight]="true" [sortable]="false" [canAutoResize]="false"
                [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.action' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="action-cell">
                    <button *ngIf="row.status === '1' && row.restoreManual && objFunction?.restore" type="button"
                      class="btn-outline" title="{{ 'btnAction.restore' | translate }}"
                      (click)="restore(row);$event.stopPropagation()">
                      <em class="las la-sync-alt__custom"></em>
                    </button>
                    <ng-container *ngIf="row.status !== '1' && row.status !== '2' && rowMenu.length > 0">
                      <button type="button" class="btn-outline" title="{{ 'btnAction.approved' | translate }}"
                        (click)="handleApproveOrReject(row, true);$event.stopPropagation()">
                        <em class="ic-check"></em>
                      </button>
                      <button type="button" class="btn-outline" title="{{ 'btnAction.refuse' | translate }}"
                        (click)="handleApproveOrReject(row, false);$event.stopPropagation()">
                        <em class="ic-x"></em>
                      </button>
                      <button type="button" class="btn-outline" pButton icon="pi pi-bars" label=""
                        (click)="menu.toggle($event)"></button>
                      <p-menu #menu [popup]="true" [model]="rowMenu" appendTo="body" (onShow)="onShowMenu($event)"
                        (onHide)="onHideMenu($event)"></p-menu>
                    </ng-container>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
