.cash-flow-customer-list{
	.group__create-form {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.list_cash-flow {
		flex: 1 1 auto;
	}  
}
.mat-menu-panel {
	max-width: 600px !important;
}
  
.mat-menu-item {
	height: 40px !important;
}
  