<div class="right-view cash-flow-customer-list">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">Quản lý dòng tiền của Khách hàng</h3>
		</div>
		<div class="content__top-right"></div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<ng-container>
					<div class="group__create-form px-4 mt-4">
						<div class="row form-create" [formGroup]="formSearch">
							<div class="col-md-3 form-group">
								<label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
								<input type="text" maxlength="50" pInputText placeholder="" class="d-block"
									formControlName="customerCode" (blur)="searchAccountByCustomerCode($event.target.value)" />
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{ 'fields.taxCode' | translate }}</label>
								<input type="text" maxlength="50" pInputText placeholder="" class="d-block" formControlName="taxCode"
								(blur)="searchAccountByTaxCode($event.target.value)"
								/>
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{ 'cash-flow.accountNumber' | translate }}</label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
									formControlName="accountNumber" [options]="listAccount" placeholder="Chọn tài khoản" class="d-block"
									optionLabel="accountNumber" optionValue="accountNumber" (onChange)="onChangeAccount($event.value)"></p-dropdown>
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{ 'cash-flow.ftNumber' | translate }}</label>
								<input type="text" maxlength="50" pInputText placeholder="" class="d-block" formControlName="ftNumber" (keyup.enter)="search(true)"/>
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{ 'fields.status' | translate }}</label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
									formControlName="status" [options]="listStatus" placeholder="Chọn trạng thái" class="d-block"
									optionLabel="name" optionValue="code"></p-dropdown>
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{'cash-flow.fromDate' | translate}}</label>
								<p-calendar icon="las la-calendar-alt" formControlName="fromDate" class="d-flex" dateFormat="dd/mm/yy"
									appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="minDate"
									[maxDate]="formSearch.get('toDate').value" [showTime]="false">
								</p-calendar>
							</div>
							<div class="col-md-3 form-group">
								<label class="mb-0">{{'cash-flow.toDate' | translate}}</label>
								<p-calendar icon="las la-calendar-alt" formControlName="toDate" class="d-flex" dateFormat="dd/mm/yy"
									appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
									[minDate]="formSearch.get('fromDate').value" [maxDate]="crrDate" [showTime]="false">
								</p-calendar>
							</div>
						</div>
						<div class="filter-top block-center-between">
							<div class="filter-top__left">
								<button class="btn btn-small btn--light-blue" (click)="search(true)">
									{{ 'btnAction.search' | translate }}
								</button>
							</div>
						</div>
						<div class="table__view list_cash-flow">
							<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" columnMode="force" [headerHeight]="50"
								[footerHeight]="50" rowHeight="auto" [virtualization]="false" [scrollbarV]="true" [scrollbarH]="true"
								[rows]="listData" [externalPaging]="true" [count]="pageable?.totalElements"
								[offset]="pageable?.currentPage" [limit]="pageable?.size"
								[messages]="messages">

								<ngx-datatable-column prop="ftNumber" [sortable]="false" [draggable]="false" [width]='150'
									name="{{ 'cash-flow.ftNumber' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{ value }}</span>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column prop="moneyReturnDate" [sortable]="false" [draggable]="false" [width]='150'
									name="{{ 'cash-flow.moneyReturnDate' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value | date: 'dd/MM/yyyy'}}">{{ value | date: 'dd/MM/yyyy'}}</span>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column prop="moneyReturnValue" [sortable]="false" [draggable]="false" [width]='150'
									name="{{ 'cash-flow.moneyReturnValue' | translate }}">
									<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
										<span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column prop="moneyReturnNote" [sortable]="false" [draggable]="false" [width]='300'
									name="{{ 'cash-flow.moneyReturnNote' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{ value }}</span>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column prop="tsdbCode" [sortable]="false" [draggable]="false"
									name="{{ 'cash-flow.tsdbCode' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{ value }}</span>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column prop="batch" [sortable]="false" [draggable]="false"
									name="{{ 'cash-flow.batch' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{ convertPeriod(value) }}</span>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column prop="paymentType" [sortable]="false" [draggable]="false"
									name="Loại thanh toán">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{convertPaymentType(value)}}</span>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column prop="status" [sortable]="false" [draggable]="false"
									name="{{ 'fields.status' | translate }}">
									<ng-template let-value="value" ngx-datatable-cell-template>
										<span title="{{ value }}">{{value}}</span>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="120" [frozenRight]="true"
									[sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
									<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
										<div class="block-center text-center column-action">
											<button class="btn--light-blue btn-icon--small btn ml-2"
												title="{{ 'cash-flow.actionAssign' | translate }}" (click)="assign(row)">
												<em class="las la-edit f-16"></em>
											</button>
										</div>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-footer>
									<ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
										let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
										<app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
											[hidden]="false" (change)="changePage($event)">
										</app-pager-ngx-datatable>
									</ng-template>
								</ngx-datatable-footer>
							</ngx-datatable>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
