<div class="block-center">
  <div class="form-group__icon">
    <input type="text" class="form-control function-parent" id="facilityCode" [(ngModel)]="display_name" readonly />
  </div>
  <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="chooseBranch()" [disabled]="disabled">
    <em class="las la-search f-16"></em>
  </button>
</div>