<!-- không sử dụng component này common chung ở CASA-->

<div class="chart raise-capital-top-chart">
    <div class="chart__header block-center-between">
      <div class="chart__header-left">
        <div class="header-title">Top KH biến động chi tiêu thẻ lớn nhất</div>
      </div>
      <div class="chart__header-right">
        <img
          *ngIf="!isTable"
          alt="icon-table"
          src="assets/images/table-indiv.svg"
          class="img-icon"
          (click)="switchChart()"
        />
        <img
          *ngIf="isTable"
          alt="icon-chart"
          src="assets/images/chart-indiv.svg"
          class="img-icon"
          (click)="switchChart()"
        />
      </div>
    </div>

    <div class="chart-search" [formGroup]="formSearch">
      <div class="col-12">
        <div class="row py-1">
          <div class="col-4">
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="sortOrders"
              class="d-block"
              formControlName="fluctype"
              appendTo="body"
              optionLabel="value"
              optionValue="id"
              [autoWidth] = "false"
              (onChange)="getChartData()"
            ></p-dropdown>
          </div>

          <div class="col-4">
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="dayMonths"
              class="d-block"
              formControlName="datatype"
              appendTo="body"
              optionLabel="value"
              optionValue="id"
              [autoWidth] = "false"
              (onChange)="getChartData()"
            ></p-dropdown>
          </div>

          <div class="col-4">
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="records"
              class="d-block"
              formControlName="limit"
              appendTo="body"
              optionLabel="value"
              optionValue="value"
              [autoWidth] = "false"
              (onChange)="getChartData()"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isLoading && chartData.length > 0">
      <div class="chart__body mt-3">
        <div class="chart-container" *ngIf="!isTable">
            <div class="indiv-container" *ngFor="let item of this.chartData">
                <div class="unit-indiv">
                    <div class="name-indiv">{{item.customerName}}</div>
                    <div class="code-indiv" (click)="showDetailCustomer360(item.customerCode)">{{item.customerCode}}</div>
                </div>
                <div class="unit-chart">
                  <div class="chart-node" [style.width.%]="(item?.balChange / balChangeMax) * 80"></div>
                  <div class="price">{{ item?.balChange | number: '1.0-0' }}</div>
                </div>
            </div>
        </div>
        <div *ngIf="isTable" class="table__view">
            <div class="table-container">
                <ngx-datatable
            ngxDataTable
            #table
            class="bootstrap"
            [rows]="chartData"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            rowHeight="auto"
            [virtualization]="false"
            [externalPaging]="false"
             [scrollbarH]="true"
             [scrollbarV]="true"
             style="height: 398px;"
             (activate)="onActivate($event)"
          >
            <ngx-datatable-column
              [sortable]="false"
              name="{{ 'fields.order' | translate }}"
              [width]="35"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="false"
            >
              <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{ rowIndex + 1 }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              [sortable]="false"
              [draggable]="false"
              cellClass="column-style"
              prop="customerCode"
              [width]="150"
              [canAutoResize]="false"
              name="{{ 'fields.customerCode' | translate }}"
              [resizeable]="false"
            >
            </ngx-datatable-column>
            <ngx-datatable-column
              [sortable]="false"
              [draggable]="false"
              prop="customerName"
              name="{{ 'fields.customerName' | translate }}"
              [resizeable]="false"
            ></ngx-datatable-column>

            <ngx-datatable-column
              [sortable]="false"
              [draggable]="false"
              prop="bal"
              [name]="this.formSearch.value.datatype === '01' ?  'Hôm qua' : 'Tháng này'"
              cellClass="column-number"
              headerClass="column-number"
              [resizeable]="false"
              >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              [sortable]="false"
              [draggable]="false"
              prop="balPre"
              [name]="this.formSearch.value.datatype === '01' ?  'Hôm kia' : 'Tháng trước'"
              cellClass="column-number"
              headerClass="column-number"
              [resizeable]="false"
              >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              [sortable]="false"
              [draggable]="false"
              prop="balChange"
              [width]="150"
              [canAutoResize]="false"
              name="Biến động"
              cellClass="column-number"
              headerClass="column-number"
              [resizeable]="false"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
            </div>

        </div>
      </div>
      <div class="chart__legend">*Dữ liệu cập nhật ngày {{ chartData[0]?.transactionDate }}</div>

    </ng-container>
    <ng-container *ngIf="!isLoading && chartData.length === 0">
      <div class="chart__empty">
        <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
      </div>
    </ng-container>
   <app-loading *ngIf="isLoading"></app-loading>
    <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
