.raise-capital-top-chart {
    .chart__header-right {
      display: flex;
      align-items: center;
    }
    .chart__header {
      margin-bottom: 1rem;
    }
    .ngx-datatable .datatable-body .datatable-body-row {
      min-height: 36px !important;
      height: 36px !important;
    }
    .column-number {
      .datatable-body-cell-label {
        flex-direction: row-reverse;
      }
      .datatable-header-cell-template-wrap {
        text-align: center !important;
      }
    }

    .column-style {
      .datatable-body-cell-label {
        color: #4a6ef6;
      }
    }

    .header-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #4f5b89;
    }

    .chart__legend {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      // display: flex;
      align-items: center;
      text-align: center;
      color: #9AA1BC;
      opacity: 0.7;
    }

    .chart-container {
      max-height: 430px;
      height: 100%;
      overflow: auto;
    }

    .max-width {
      max-width: 185px;
      width: 185px;
    }

    .indiv-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px;
      gap: 20px;

      &:nth-child(1n) .chart-node {
        background: #4b70f6;
      }

      &:nth-child(2n) .chart-node {
        background: #ff7b2c;
      }

      &:nth-child(3n) .chart-node {
        background: #45d39d;
      }
    }

    .unit-indiv {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0px;

      width: 20%;
    }

    .name-indiv {
      font-style: normal;
      font-size: 12px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #041557;
      word-break: break-word;
    }

    .code-indiv {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      color: #4a6ef6;
      cursor: pointer;
    }

    .unit-chart {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;
      width: 80%;
      .chart-node {
        // background-color: #4A6EF6;
        height: 10px;
        border-radius: 4px;
      }

      .price {
        width: auto;
        font-style: normal;
        font-size: 12px;
        display: flex;
        color: #041557;
      }
    }

    .chart-search {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 100%;

      @media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
        .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 160px !important;
          width: 160px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 160px !important;
        }
      }
      @media only screen and (min-width: 1440px) {
          /* styles for browsers larger than 1440px; */
          .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 160px !important;
          width: 160px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 160px !important;
        }
      }
      @media only screen and (min-width: 2000px) {
          /* for sumo sized (mac) screens */
          .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 160px !important;
          width: 160px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 160px !important;
        }
      }
      @media only screen and (max-device-width: 480px) {
        /* styles for mobile browsers smaller than 480px; (iPhone) */
        .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 90px !important;
          width: 90px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 100px !important;
        }
      }
      @media only screen and (device-width: 768px) {
        /* default iPad screens */
        .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 90px !important;
          width: 90px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 100px !important;
        }
      }
      /* different techniques for iPad screening */
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
        /* For portrait layouts only */
        .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 90px !important;
          width: 90px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 100px !important;
        }
      }

      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        /* For landscape layouts only */
        .form-control,
        .p-dropdown,
        .p-multiselect {
          min-width: 90px !important;
          width: 90px;
        }

        .form-control,
        .p-dropdown,
        .-d-block {
          max-width: 100px !important;
        }
      }
    }

    .table__view {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      // display: flex;
      // align-items: center;
      color: #041557;
    }
}
