<div class="right-view kpi-standard-cbql-import">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'coaching.suggest_result_import' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="card py-4 px-4 mb-3 d-file">
          <div class="d-flex-end">
            <div class="pl-5">
              <label>{{'coaching.choose_file' | translate}}</label>
              <div class="block-center">
                <div class="upload block-center">
                  <div [class.file-disabled]="isUpload"></div>
                  <input class="upload__input" type="file" accept=".xlsx, .xls" [(ngModel)]="files"
                    (change)="handleFileInput($event.target.files)" />
                  <em class="las la-cloud-upload-alt f-20"></em>
                  <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
                </div>
                <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                  <em class="las la-times f-16"></em>
                </button>
                <button class="btn btn-small btn--light-blue ml-3" [class.disabled]="!isFile || isUpload"
                  (click)="importFile()">
                  <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                  <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="listDataError.length" class="flex-grow-1 block-table">
          <div class="table__error col-md-12 pl-0 pr-0">
            <div class="card flex-grow-1">
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <h5>{{ 'customer360.title.listError' | translate }}</h5>
                </div>
                <div class="filter-top__right d-flex"></div>
              </div>
              <div class="table__view">
                <p-table class="p-table-fullscreen custom-table" [value]="[{}]" [scrollable]="true" scrollHeight="flex"
                  [virtualScroll]="true">
                  <ng-template pTemplate="header">
                    <tr class="header">
                      <th width="200px">{{ 'fields.order' | translate }}</th>
                      <th width="200px">{{ 'fields.row' | translate }}</th>
                      <th width="200px">{{ 'fields.column' | translate }}</th>
                      <th width="200px">{{ 'fields.dataError' | translate }}</th>
                      <th width="200px">{{ 'fields.infoError' | translate }}</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body">
                    <ng-container *ngFor="let row of listDataError; let rowIndex = index">
                      <tr>
                        <td width="200px">{{rowIndex+1}}</td>
                        <td width="200px">{{row.row}}</td>
                        <td width="200px">{{row.column}}</td>
                        <td width="200px">
                          <div class="pl" title="{{row.valueError}}">
                            {{row.valueError}}
                          </div>
                        </td>
                        <td width="200px">
                          <div class="pl" title="{{row.errorDetail}}">
                            {{row.errorDetail}}
                          </div>
                        </td>
                      </tr>
                    </ng-container>

                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="11" style="text-align: center">
                        {{ 'messageTable.emptyMessage' | translate }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
