@import "variable";

.kpi-standard-cbql-import {
  .d-flex-end {
    display: flex;
    align-items: flex-end;
  }
  .d-file {
    text-align: left !important;
  }

  .upload {
    width: 300px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    height: 36px;
  }
  .file-disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 5;
    cursor: not-allowed;
  }
  .content-body__list {
    display: flex;
    flex-direction: column;
  }
  .block-table {
    display: flex;
  }
  .content-body {
    background-color: $body-bg;
    padding: 0;
  }
  .table__error {
    .card {
      height: 100%;
    }
  }
  .pl {
    white-space: pre-line;
  }
}
