.card-5 {
    border-radius: 5px !important;
    overflow-y: scroll;
    margin-bottom: 0;
    min-height: 100%;
}

.wrap-content {
    width: 100%;
}

.main-title {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 15px;
    .user {
        display: inline-block;
        color: #bbbbfd;
        border-right: 1px solid #eee;
        padding: 5px 15px 5px 0;
        margin-right: 15px;
    }
    .branch {
        display: inline-block;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #eff2fe;
    margin-bottom: 15px;
}

.wrap-detail-item:last-child .line {
    display: none;
}
