<div class="right-view sale-manager-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'queryMBALDetail.label.mainTitle' | translate }}</h3>
    </div>
    <div class="content__top-right block-center">
      <button
        (click)="exportFile()"
        class="btn btn-icon btn-icon--small btn-search ml-2"
        title="{{ 'btnAction.export' | translate }}"
      >
        <em class="las la-file-excel f-16"></em>
      </button>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <!-- <div class="mb-2">
            <i>{{ textFooter}}</i>
          </div> -->
          <div class="card p-4 text-left card-5">
            <div class="row">
              <div class="wrap-content">
                <div class="main-title" *ngIf="queryBy === 'rm' && accordianData.length > 0">
                  <div class="user">{{ accordianData[0]?.mbAgencyCode }} - {{ accordianData[0]?.mbAgencyName }}</div>
                  <div class="branch">
                    <span>{{ 'queryMBALDetail.label.branch' | translate }}</span
                    >{{ accordianData[0]?.branch }} - {{ accordianData[0]?.branchName }}
                  </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="wrap-detail-item" *ngFor="let data of accordianData">
                    <app-query-mbal-detail-item
                      [data]="data"
                      [queryBy]="queryBy"
                      class="panel panel-default"
                    ></app-query-mbal-detail-item>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
