<div class="right-view manager_money_transfer_view list__block">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <h3 class="ml-4 mb-0 page--title">Danh sách bán Block TTR và Combo TTQT</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-3 form-group has-error">
                <label>Mã khách hàng</label>
                <input
                  placeholder=""
                  maxlength="50"
                  type="text"
                  class="d-block"
                  formControlName="customerCode"
                  pInputText
                  trimInput
                  (keyup.enter)="search(true)"
                />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>Sản phẩm</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listProductMoneyTransfer"
                  class="d-block"
                  formControlName="type"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (keyup.enter)="search(true)"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>CN quản lý</label>
                <p-multiSelect
                  [filter]='true'
                  [itemSize]='31'
                  [options]='commonData.listBranch'
                  [virtualScroll]='true'
                  class='d-block'
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName='branchCodes'
                  optionLabel='name'
                  optionValue='code'
                  (keyup.enter)="search(true)"
                ></p-multiSelect>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>RM quản lý</label>
                <p-multiSelect
                  [filter]='true'
                  [itemSize]='31'
                  [options]='commonData.listRmManagement'
                  [virtualScroll]='true'
                  class='d-block'
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName='rmCodes'
                  optionLabel='displayName'
                  optionValue='code'
                  (keyup.enter)="search(true)"
                ></p-multiSelect>
              </div>
            </div>
          </div>
          <ng-container >
            <div class='block-center px-4 filter-top'>
              <div class='action__left'>
                <button (click)='search(true)' class='btn btn-small btn--light-blue'>
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
            </div>
          </ng-container>
          <div class="table__view group__view">

            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listMoneyTransfer"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onAction($event)"
            >

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="customerCode"
                name="Mã khách hàng"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="customerName"
                name="Tên khách hàng"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="type"
                name="Sản phẩm"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ getStatus(value) }}">{{ getStatus(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmCode"
                name="Mã RM"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmName"
                name="Tên RM"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchCode"
                name="Mã chi nhánh"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="Tên chi nhánh"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
