.p-inputgroup {
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #f0f0f3;
  border-radius: 4px;

  .p-inputtext {
    border: none;
  }
  ::placeholder {
    font-style: normal;
  }
  .p-dropdown-label {
    line-height: 20px im !important;
  }
}
