<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'customer360.menu.operationBlock' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 mt-4" *ngIf="isAdvance">
                        <div class="row">
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.customerCode' | translate }}</label>
                                <input placeholder="" type="text" class="form-control" maxlength="20"
                                    [(ngModel)]="paramSearch.customerCode" (keyup.enter)="searchAdvance(true)" />
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.branch' | translate }}</label>
                                <lp-branches [listBranch]="listBranches" [(model)]="paramSearch.branches">
                                </lp-branches>
                            </div>
                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="filter-top__left">
                            <div *ngIf="!isAdvance">
                                <div class="p-inputgroup">
                                    <input type="text" (keyup.enter)="searchBasic(true)" [(ngModel)]="textSearch"
                                        maxlength="200" placeholder="{{ 'btnAction.search' | translate }}" pInputText>
                                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                        [options]="listSearchType" class="p-inputgroup-dropdown-right"
                                        [(ngModel)]="searchType" optionLabel="name" optionValue="code"></p-dropdown>
                                </div>
                            </div>
                            <button *ngIf="!isAdvance" class="btn-icon btn-icon--small btn btn-search grey ml-2"
                                (click)="searchBasic(true)" title="{{ 'btnAction.search' | translate }}">
                                <em class="las la-search f-16"></em>
                            </button>
                            <!-- <div *ngIf="!isAdvance">
                                <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                                    class="form-control search-box" [(ngModel)]="paramSearch.searchAdvanced"
                                    (keyup.enter)="searchBasic(true)" maxlength="200" />
                            </div>
                            <button *ngIf="!isAdvance" class="btn-icon btn-icon--small btn btn-search ml-2"
                                title="{{ 'btnAction.search' | translate }}" (click)="searchBasic(true)">
                                <em class="las la-search f-16"></em>
                            </button> -->
                            <button *ngIf="!isAdvance" class="btn btn--light-blue btn-small ml-4" (click)="isShow()">
                                {{ 'btnAction.searchAdvance' | translate }}
                            </button>
                            <button *ngIf="isAdvance" class="btn btn--light-blue btn-small" (click)="isShow()">
                                {{ 'btnAction.searchBasic' | translate }}
                            </button>
                            <button *ngIf="isAdvance" class="btn btn--light-blue btn-small ml-2"
                                (click)="searchAdvance(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="filter-top__right d-flex">
                            <button *ngIf="objFunction?.assignKVH" class="btn btn--light-blue btn-small btn-light mr-2"
                                (click)="assign()">
                                {{ 'btnAction.assignCustomer' | translate }}
                            </button>
                            <button *ngIf="objFunction?.unAssignKVH"
                                class="btn btn--light-blue btn-small btn-light mr-2" (click)="unAssign()">
                                {{ 'btnAction.unAssignCustomer' | translate }}
                            </button>
                            <button *ngIf="objFunction?.export" class="btn btn-icon btn-icon--small btn-search "
                                title="{{ 'btnAction.export' | translate }}" (click)="exportFile()">
                                <em class="las la-file-excel f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages">
                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="45" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                                name="{{ 'fields.customerCode' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
                                name="{{ 'fields.customerName' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branchCode"
                                name="{{ 'fields._branchCode' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branchName"
                                name="{{ 'fields._branchName' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false"
                                name="{{ 'fields.block' | translate }}">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ 'fields.operationBlock' | translate }}">{{ 'fields.operationBlock' |
                                        translate
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdByCustom"
                                name="{{ 'fields.assignedBy' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
                                name="{{ 'fields.dateOfAssign' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
