.kpi-standard-rm {
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
  }

  .padding-right-0 {
    padding-right: 0rem;
  }

  .margin-right-n30 {
    margin-right: -30px;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .button-save-column {
    border: 2px;
    margin-left: 8px;
    border-radius: 3px;
    padding-inline: 10px;
  }

  .bg-white {
    background-color: white;
  }

  .icon-save-column {
    font-size: 18px;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }

  .col-right-small {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    margin-right: 50px;
  }

  .col-right {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    margin-right: 100px;
  }
}
