<div class="right-view kpi-standard-rm">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.kpi_standard_rm' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row margin-right-n30">
              <div class="col-md-3 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBlock"
                  placeholder=" "
                  class="d-block"
                  formControlName="blockCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeBlockCode()"
                ></p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label>{{ 'fields.titleGroupRM' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listGroup"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmTitleCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeGroup()"
                ></p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label>{{ 'fields.levelRM' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listLevel"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmLevelCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 row padding-right-0">
                <div class="col-md-6 form-group">
                  <label>{{ 'fields.month' | translate }}</label>
                  <p-dropdown
                    [options]="listMonth"
                    placeholder=" "
                    class="d-block"
                    formControlName="month"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="name"
                    optionValue="code"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6 form-group">
                  <label>{{ 'fields.year' | translate }}</label>
                  <p-dropdown
                    [options]="listYear"
                    placeholder=" "
                    class="d-block"
                    formControlName="year"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="code"
                    optionValue="code"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-top px-4">
            <button *ngIf="!codeSelected" class="btn btn--light-blue btn-small" (click)="onSearchKpiStandardRm()">
              {{ 'btnAction.search' | translate }}
            </button>
            <span class="p-error note">{{ 'kpi.fields.note' | translate }}</span>
          </div>

          <div>
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listKpiItemMapping"
              [formGroup]="formCreate"
              [columnMode]="'force'"
              [headerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [messages]="messages"
              [treeFromRelation]="'parentId'"
              [treeToRelation]="'idGroup'"
              (treeAction)="onTreeAction($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="name"
                name="{{ 'kpi.fields.index' | translate }}"
                [isTreeColumn]="true"
                [treeLevelIndent]="30"
                [width]="250"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="frequency"
                name="{{ 'kpi.fields.frequency' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="unitName"
                name="{{ 'kpi.fields.unit' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rate"
                name="{{ 'kpi.fields.rate_2' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="col-right-small">
                    <span title="{{ value }}">{{ value }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngFor="let item of listColumnValue; let i = index"
                [sortable]="false"
                [draggable]="false"
                prop="mappingTargets"
                [width]="200"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-header-template>
                  <span>{{ getColName(item) }}</span>
                  <button
                    *ngIf="codeSelected !== item.code && checkEditCib(item)"
                    class="button-edit-column"
                    (click)="editColumn(item.code)"
                  >
                    <em class="las la-edit icon-edit-column"></em>
                  </button>
                  <button
                    *ngIf="codeSelected === item.code && checkEditCib(item)"
                    class="btn--light-blue button-save-column"
                    (click)="save()"
                  >
                    <em class="las la-check icon-save-column"></em>
                  </button>
                  <button
                    *ngIf="codeSelected === item.code && checkEditCib(item)"
                    class="bg-white button-save-column"
                    (click)="back()"
                  >
                    <em class="las la-times icon-save-column"></em>
                  </button>
                </ng-template>
                <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <div
                    *ngIf="
                      codeSelected === item.code &&
                      row.kpiItemRmLevelId &&
                      getIsInActiveTime(row, item) &&
                      checkEditKPI(row, value[i])
                    "
                    [formGroupName]="rowIndex"
                  >
                    <input placeholder="" type="text" class="d-block" formControlName="value" pInputText />
                    <small
                      class="p-error"
                      *ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.cusRequired"
                      >{{ 'validationMessage.required' | translate }}</small
                    >
                    <small class="p-error" *ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.value">{{
                      'validationMessage.value_standard' | translate
                    }}</small>
                  </div>
                  <div class="col-right">
                    <span
                      *ngIf="codeSelected !== item.code && row.kpiItemRmLevelId && getIsInActiveTime(row, item)"
                      title="{{ value }}"
                      >{{ value[i]?.value || 0 }}</span
                    >
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
