
<p-toast #toast class = "calendar-alert" position="top-right" >
  <ng-template let-message  pTemplate="message">
    <div class="flex flex-column"  #el style="flex: 1" (click)="goDetailCalendar(el,message)">
<!--      <app-loading *ngIf="isLoading"></app-loading>-->
      <div class="row t-content">
        <div class="col-2">
          <em class="las icon-alert-calendar"></em>
        </div>
        <div class="col-10">
          <div class="d-block pb-3">
            <h4 *ngIf="!isCal" style="color: #141ED2;" class="d-inline">Lời nhắc lịch</h4>
            <h4 *ngIf="isCal" style="color: #141ED2;" class="d-inline">{{message.contentStyleClass}}</h4>
            <p *ngIf="message.data" [ngClass]="message.data === AlertCalendarType.OUTDATED ? 'color-orange' : ''" class="mb-0 float-right time">{{message.data}}</p>
          </div>
          <div>
            <h6>{{message.summary}}</h6>
            <p *ngIf="!isCal" >{{message.detail}}</p>
          </div>
        </div>
      </div>
      <div class="grid p-fluid row pt-3">
        <div class="col-6"></div>
        <div class="col-3 no-repeat">
          <p *ngIf="message.life === 1" #el class=" pointer" (click)="clear(el,message,false)">Không nhắc lại</p>
        </div>
        <div class="col-3 close-alert">
          <p *ngIf="message.life === 1" #el class="pointer" (click)="clear(el,message,true)">Nhắc tôi sau</p>
          <p *ngIf="message.life === 2" #el class="pointer text-center" (click)="clear(el,message,true)">Đóng</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
