<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ "rm.menu.title_category" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" maxlength="200"
                  class="form-control search-box" [(ngModel)]="params.search" (keyup.enter)="search()" />
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}" (click)="search()">
                <em class="las la-search f-16"></em>
              </button>
              <div class="ml-5 mr-3">{{ 'rm.fields.grade' | translate }}</div>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                placeholder=" " class="d-block"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                [(ngModel)]="params.blockCode" appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code"
                optionLabel="value_to_search">
              </p-dropdown>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="obj?.create" class="btn btn-icon btn-icon--small btn-search" (click)="add()"
                title="{{ 'btnAction.create' | translate }}">
                <em class="las la-plus-circle f-16"></em>
              </button>
              <button *ngIf="obj?.export" class="btn btn-icon btn-icon--small ml-2 btn-search" (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #tablerm class="custom-header fullscreen" [messages]="messages"
              [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
              [columnMode]="'force'" [rows]="models" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="paging($event)" [footerHeight]="70" [selectionType]="'single'"
              (activate)="onActive($event)" [headerHeight]="50">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="grade" [sortable]="false" [width]="100" [canAutoResize]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.grade' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.blockCode }}"> {{ row?.blockCode }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="rm_group_code" [sortable]="false" [width]="170" [canAutoResize]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_group_code' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.code }}"> {{ row?.code }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="name" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_group_name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.name }}"> {{ row?.name }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="description" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.description' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.description }}"> {{ row?.description }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="action" [width]="110" [frozenRight]="true" [sortable]="false"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.action' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="action-cell">
                    <button type="button" class="btn-outline" (click)="delete(row)"
                      *ngIf="row?.isActive === true && obj?.delete" title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt f-16"></em>
                    </button>
                    <button type="button" class="btn-outline" (click)="update(row)" *ngIf="obj?.update"
                      title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit f-16"></em>
                    </button>
                  </div>

                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="tablerm.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>