@import 'variable';
.kpi-indiv-report-list {
  .table__view__customer {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    .fullscreen {
      height: 180px;
    }
  }
  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
    height: 100%;
    padding-top: 20px;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }

  .align-items-center {
    align-items: center;
    height: 100%;
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-200-data {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
  .w-60 {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-60-data {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-80 {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .datatable-header-cell {
    height: 100%;
    margin-top: 25px;
    th {
      text-align: center !important;

    }
  }

  .w-80-data {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }


  .modal-dialog {
    max-width: calc(100% - 10%);
    // max-width: 662px;
  }
}

