<div class="kpi-indiv-report-list">
  <div class="modal-header pb-4">
    <div class="block-center-between">
      <div class="">
        <!--      <h5 class="m-0">{{ 'labels.listFile' | translate }}</h5>-->
        <button (click)="export()"  class="btn btn-icon btn-icon&#45;&#45;small btn-search ml-1" title="{{ 'btnAction.export' | translate }}">
          <em class="las la-file-excel f-16"></em>
        </button>
      </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="text-center">
      <div><b>Báo cáo điểm KPIs</b></div>
      <div class="mb-3">
        <span>Từ ngày: {{fromDate}} </span>
        <span class="ml-5">Đến ngày: {{toDate}}</span>
      </div>
    </div>
    <ngx-datatable
      ngxDataTable
      #table
      class="custom-header"
      [messages]="messages"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [virtualization]="false"
      [externalPaging]="true"
      [columnMode]="'force'"
      [rows]="listCurrentData"
      [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage"
      [limit]="pageable?.size"
      (page)="setPage($event)"
      [footerHeight]="70"
      [headerHeight]="75"
      style="min-height: 635px"
    >
      <ngx-datatable-column
        prop=""
        [sortable]="false"
        [draggable]="false"
        [width]="50"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <div class="text-center  h-100 table-border"><span class="pt-4">{{ 'rm.fields.index' | translate }}</span></div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="NGAY"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        {{ 'fields.date' | translate }}-->
          <div class="text-center h-100 table-border">{{ 'fields.date' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{getValue(row,'NGAY')}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="RM_BANCHINH"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        <span class="table-border"> {{ 'fields.rmMainSale' | translate }}</span>-->
          <div class="text-center h-100 table-border">{{ 'fields.rmMainSale' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{ getValue(row,'RM_BANCHINH') }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="RM_BANCHEO"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        {{ 'fields.rmCrossSale' | translate }}-->
          <div class="text-center h-100 table-border">{{ 'fields.rmCrossSale' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{ getValue(row,'RM_BANCHEO') }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="HESO_BANCHEO"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        {{ 'fields.factorCrossSale' | translate }}-->
          <div class="text-center h-100 table-border">{{ 'fields.factorCrossSale' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <div class="w-100 text-right" >{{getValue(row,'HESO_BANCHEO')}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="HESO_CUMOI"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        {{ 'fields.factorOld_New' | translate }}-->
          <div class="text-center h-100 table-border">{{ 'fields.factorOld_New' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <div class="w-100 text-right" >{{getValue(row,'HESO_CUMOI')}}</div>
          <!--        <span>{{ getValue(row,'HESO_CUMOI') }}</span>-->
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="prop"
        [width]="300"
        headerClass="align-items-center"
        [cellClass]="'my-custom-cell-class'"
        [flexGrow]="2"
        [resizeable]="false"
        [draggable]="false"
        [sortable]="false"
      >
        <ng-template let-column="column"  ngx-datatable-header-template>
          <table aria-hidden="true" class="border-col">
            <thead>
            <tr>
              <th scope="col" [attr.colspan]="2" class="colspan-border text-center">{{'customer.title' | translate}}</th>
            </tr>
            <tr>
              <th scope="col" class="border-col w-150">{{'reductionProposal.labels.customerCode' | translate}}</th>
              <th scope="col" class="border-col w-150">{{'reductionProposal.labels.proposalCustomerName' | translate}}</th>
            </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
            <tr>
              <td class="w-150-data">{{ getValue(row, 'CODE_KH') }}</td>
              <td class="w-150-data">{{ getValue(row, 'TEN_KH') }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="prop"
        [width]="600"
        headerClass="align-items-center"
        [cellClass]="'my-custom-cell-class'"
        [flexGrow]="3"
        [resizeable]="false"
        [draggable]="false"
        [sortable]="false"
      >
        <ng-template let-column="column"  ngx-datatable-header-template>
          <table aria-hidden="true" class="border-col">
            <thead>
            <tr>
              <th scope="col" [attr.colspan]="3" class="colspan-border text-center">{{'fields.product_service' | translate}}</th>
            </tr>
            <tr>
              <th scope="col" class="border-col w-200">{{'fields.productLevel1' | translate}}</th>
              <th scope="col" class="border-col w-200">{{'fields.productLevel2' | translate}}</th>
              <th scope="col" class="border-col w-200">{{'fields.productLevel3' | translate}}</th>
            </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
            <tr>
              <td class="w-200-data">{{ getValue(row, 'SP1') }}</td>
              <td class="w-200-data">{{ getValue(row, 'SP2') }}</td>
              <td class="w-200-data">{{ getValue(row, 'SP3') }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="prop"
        [width]="600"
        headerClass="align-items-center"
        [cellClass]="'my-custom-cell-class'"
        [flexGrow]="3"
        [resizeable]="false"
        [draggable]="false"
        [sortable]="false"
      >
        <ng-template let-column="column"  ngx-datatable-header-template>
          <table aria-hidden="true" class="table-border-first">
            <thead>
            <tr>
              <th scope="col" [attr.colspan]="3" class="colspan-border text-center">{{'fields.insuranceSales' | translate}}</th>
            </tr>
            <tr>
              <th scope="col" class="border-col w-200">{{'fields.insuranceSales' | translate}}</th>
              <th scope="col" class="border-col w-200">{{'fields.insuranceSalesReal' | translate}}</th>
              <th scope="col" class="border-col w-200">{{'marketing.field.unit' | translate}}</th>
            </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
            <tr>
              <td class="w-200 text-right">{{ getValue(row, 'DOANHSO') }}</td>
              <td class="w-200 text-right">{{ getValue(row, 'DOANHSO_TT') }}</td>
              <td class="w-200 pl-3">{{ getValue(row, 'DONVI') }}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        prop="CCY"
        [sortable]="false"
        [draggable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          <!--        {{ 'debtClaims.fields.moneyType' | translate }}-->
          <div class="text-center h-100 table-border">{{ 'debtClaims.fields.moneyType' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{ getValue(row,'CCY') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <app-pager-ngx-datatable
            [page]="curPage"
            [offset]="offset"
            [size]="pageSize"
            [count]="pageable?.totalElements"
            [hasDropdown]='true'
            (eventChangePageSize)='handleChangePageSize($event)'
            [hidden]="false"
            (change)="table.onFooterPage($event)"
          >
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>

