<div class="target-sale-config-list right-view">
  <div class="content__top">
    <h3 class="ml-4 mb-0 page--title">Doanh số mục tiêu</h3>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class=" px-4 pt-4">
            <div class="row">
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Đối tượng khách hàng</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listDivision"
                  formControlName="division"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Nhóm chức danh RM</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listTitleGroup"
                  formControlName="rmTitleId"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Cấp độ RM</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listLevelRM"
                  formControlName="rmLevelId"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.agency' | translate }}</label>
                <p-multiSelect
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listBranch"
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="branchCodeList"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="false"
                  maxSelectedLabels="{{ commonData.listBranch.length - 1 }}"
                  [selectedItemsLabel]="fields.all"
                  defaultLabel=" "
                >
                </p-multiSelect>
              </div>

              <div class="col-md-2 form-group" [formGroup]="formSearch">
                <label class="m-0">Ngày bắt đầu</label>
                <p-calendar
                  class="d-block"
                  dateFormat="dd/mm/yy"
                  formControlName="startDate"
                  [minDate]=""
                  [maxDate]="this.formSearch.controls.endDate.value"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-2 form-group" [formGroup]="formSearch">
                <label class="m-0">Ngày kết thúc </label>
                <p-calendar
                  class="d-block"
                  dateFormat="dd/mm/yy"
                  formControlName="endDate"
                  [minDate]="this.formSearch.controls.startDate.value"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4">
            <div class="center__search">
              <button class="btn btn--light-blue btn-small" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button
                *ngIf="isUserInDiv() || this.isHO"
                class="btn-icon btn-icon--small btn btn-search ml-2"
                title="{{ 'btnAction.create' | translate }}"
                (click)="create()"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view group__view px-4 pb-0">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="55"
                [canAutoResize]="false"
                [draggable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmTitleName"
                name="Nhóm chức danh"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmLevelName"
                name="Cấp độ RM"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="Chi nhánh"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="startDate"
                name="Ngày bắt đầu"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="text-center">Ngày bắt đầu</div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div
                    class="w-100"
                    style="text-align: center"
                  >
                    <span title="{{value}}">{{ value }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="endDate"
                name="Ngày kết thúc"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="text-center">Ngày kết thúc</div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div
                    class="w-100"
                    style="text-align: center"
                  >
                  <span title="{{ value }}">{{ value }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="product"
                name="Tên sản phẩm"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="value"
                name="Tổng giá trị phân bổ (VNĐ/cái)"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div
                    class="w-75"
                    style="text-align: right"
                  >
                    <span>{{convertValue(value)}}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action" style="justify-content: center;">
                    <button
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                    <button type="button" class="btn-outline"
                            (click)="delete(row);$event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                    (eventChangePageSize)='handleChangePageSize($event)'
                    [hasDropdown]='true'
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
