.target-sale-config-list {
  //.content-body {
  //  background-color: #e6e6f3;
  //}

  .p-inputnumber {
    display: inline-flex;
    width: 100%;
  }
}
.table__row--fixsize {
  height: 38px!important;
}

