<div class="app-layout">
  <div class="right-view dashboard-view">
    <div class="m-0 gridster row position-relative">
      <!-- <app-loading *ngIf="isLoading"></app-loading> -->
      <ng-container *ngIf="!isRm">
        <div  [ngClass]="{'h-600' : true}" class="p-2 gridster-item col-md-12 col-xs-12" *ngFor="let dashboardType of dashboardTypeLst">
          <div class="gridster__item-body">
            <app-dashboard-mobilize-indiv [branchCodeFilter]="branchMobilizeStr" [state]="state" [dashboardType]="dashboardType" (onShowLoading)='onShowLoading($event)'></app-dashboard-mobilize-indiv>
          </div>
        </div>
      </ng-container>
      <div [ngClass]="{'h-600' : true}" class="p-2 gridster-item col-md-6 col-xs-12" *ngFor="let actionType of actionTypeLst">
        <div class="gridster__item-body" *ngIf="chartContainer[actionType.value]">
          <app-casa-volatility [actionType]="actionType.value" (sendRequest)="getChartData($event)" (onShowLoading)='onShowLoading($event)' [chartFetchData]="chartContainer[actionType.value]" [showFilter]='actionType.filter'></app-casa-volatility>
        </div>
      </div>

    </div>
  </div>
</div>
