.choose-customer-modal-content{
    .mess{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #353644;
    }
}

.crm-btn-secondary{
    background-color: #EFF2FE;
    color: #bbbbfd;
}

.crm-btn-secondary:hover{
    color: #fff;
    background-color: #bbbbfd;
    border-color: #bbbbfd;
}

.cdk-overlay-pane{
    min-width: 0;
}
