<div class="choose-customer-modal-content">
    <h5>
        {{ 'title.notification' | translate }}
        <button type="button" class="close crm-btn-close" (click)="closeModal()"><span
                aria-hidden="true">×</span></button>
    </h5>

    <hr />
    <p class="text-center m-4 mess">{{ 'reductionProposal.labels.chooseCustomerType' | translate }}</p>
    <button class="mb-2 w-100 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(true)">
        {{ 'reductionProposal.labels.existedCustomer' | translate }}
    </button>
    <button class="ml-0 w-100 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
        {{ 'reductionProposal.labels.notExistedCustomer' | translate }}
    </button>
</div>