<div class="right-view customer-inactive">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'report.customerInactive' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row" [formGroup]="form">
            <div class="col-md-3">
              <div class="form-group">
                <label class="m-0">{{ 'kpi.menu.reportingMonth' | translate }}</label>
                <p-calendar class="d-block custom-calendar" formControlName="momentReportMonth" dateFormat="mm/yy"
                  appendTo="body" autoZIndex="false" [maxDate]="commonData.maxDate" baseZIndex="10000" [showIcon]="true"
                  [minDate]="commonData.minDate" icon="las la-calendar-alt" view="month">
                </p-calendar>

                <small class="p-error" *ngIf="
                          form?.controls?.momentReportMonth?.errors?.cusRequired && form?.controls?.momentReportMonth?.touched && form?.controls.period.value === 'monthly'
                        ">{{ 'validationMessage.toDateCredit' | translate }}</small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Loại khách hàng</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listCustomerType" class="d-block" formControlName="customerType" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code" [autoDisplayFirst]="false"
                  [filter]="true" [virtualScroll]="true" [itemSize]="31"></p-dropdown>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'Chi nhánh cấp 2'}}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [options]="branchLv2List"
                  class="d-block" formControlName="branchCodes" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="name" optionValue="code" [autoDisplayFirst]="false" [filter]="true"
                  [virtualScroll]="true" [itemSize]="31"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center pt-4">
              <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">
                {{ 'labels.reportShow' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
