<div class="right-view campaign-rm-customer">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn btn--light-blue btn-small" (click)="back()">
				<em class="las la-undo f-16"></em> {{
				'btnAction.back' | translate }}
			</button>
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'campaign.menu.campaign_rm' | translate }} / {{
				'campaign.menu.campaign_detail' | translate }} / {{ 'title.customerDetail' | translate }}</h3>
		</div>
		<div class="content__top-right">
			<button class="btn btn--light-blue btn-small" (click)="historyCampaign()"
				title="{{ 'title.historyCampaign' | translate }}">{{
				'btnAction.history' | translate }}</button>
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block p-4" *ngIf="componentLoaded">
					<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
						<mat-tab *ngFor="let campaign of listCampaign" label="{{ campaign.name }}"></mat-tab>
					</mat-tab-group>
					<hr />
					<p-timeline [value]="workflow" layout="horizontal">
						<ng-template pTemplate="marker" let-event>
							<span class="custom-marker" [class]="event.background">
								<em [ngClass]="event.icon"></em>
							</span><span class="marker-label">{{ event.name }}</span>
						</ng-template>
					</p-timeline>
					<hr />
					<div class="b-info row mx-0 py-4">
						<div class="b-customer col-md-6">
                <div class="d-flex col-md-12">
                  <div class="customer-avatar mr-3">
                    <p-avatar image="assets/images/avatar_male.png" size="large"></p-avatar>
                  </div>
                  <div class="customer-info">
                    <div><a href="javascript:void(0)"
                            (click)="detailCustomer()">{{customer?.customerCode}}</a> - <span
                      class="font-weight-bold">{{ customer?.customerName }}</span></div>
                    <div class="block-center">
                      <div class="mr-2" *ngIf="customer?.customerIdCard?.length > 0"><span><em
                        class="las la-id-card text-primary"></em>
                        {{customer?.customerIdCard}}</span></div>
                      <div class="mr-2" *ngIf="customer?.phone?.length > 0"><span><em
                        class="las la-phone text-primary"></em>
                        {{customer?.phone}}</span>
                      </div>
                      <div class="mr-2" *ngIf="customer?.dateOfBirth?.length > 0"><span><em
                        class="las la-birthday-cake text-primary"></em>
                        {{customer?.dateOfBirth | date: 'dd/MM/yyyy'}}</span></div>
                      <div class="text-truncate" *ngIf="customer?.gender?.length > 0"><span><em
                        class="las la-transgender text-primary"></em> {{ customer?.gender
                        }}</span></div>
                    </div>
                    <div class="block-center">
                      <div class="mr-2" *ngIf="customer?.email?.length > 0"><span><em
                        class="las la-envelope text-primary"></em>
                        {{customer?.email}}</span>
                      </div>
                      <div class="text-truncate" *ngIf="customer?.address?.length > 0"><span><em
                        class="las la-home text-primary"></em>
                        {{customer?.address}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="word-wrap: break-word; white-space:pre-wrap" class="col-md-10">
                {{customer?.value ? customer?.value + ' - ' : ''}}{{customer?.additinalInfor1 ? customer?.additinalInfor1 + ' - ' : ''}}
                  {{customer?.additinalInfor2 ? customer?.additinalInfor2 + ' - ' : ''}}{{customer?.additinalInfor3 ? customer?.additinalInfor3 + ' - ' : ''}}
                  {{customer?.additinalInfor4 ? customer?.additinalInfor4 + ' - ' : ''}}{{customer?.additinalInfor5 ? customer?.additinalInfor5 : ''}}
<!--                  <textarea class="d-block" style="border: none;color: initial;resize: none;"-->
<!--                            type="text" rows="5" [maxlength]="1000" [value]="customer?.additinalInfor1" readonly-->
<!--                            pInputTextarea></textarea>-->
                </div>
              </div>
						<div class="b-campaign col-md-4">
							<div class="block-center">
								<div class="pr-4">
									<div class="label">{{ 'fields.campaignImplementationBranch' | translate }}</div>
									<div class="font-weight-bold">{{customer?.branchPerform}}</div>
								</div>
								<div class="pl-4">
									<div class="label">{{ 'fields.sourceData' | translate }}</div>
									<div class="font-weight-bold">{{customer?.source}}</div>
								</div>
							</div>
							<div class="">
								<div class="label">{{ 'fields.product' | translate }}</div>
								<div class="font-weight-bold">{{customer?.productName}}</div>
							</div>
						</div>
						<div class="b-action col-md-2">
							<div class="f-16">{{ 'fields.timeremaining' | translate }}</div>
							<div *ngIf="!expired" class="f-14 font-weight-bold"
								[class]="generateClassName(customer?.remainDayRmAccost)">
								{{customer?.remainDayRmAccost}} {{
								'fields.date' | translate}}</div>
							<div *ngIf="expired" class="f-14 text-danger font-weight-bold">{{ 'fields.expired' |
								translate}}</div>
							<div class="mt-2">
								<button class="btn btn-orange btn-small w-100" [disabled]="expired"
									(click)="openModalChangeStage()">{{
									'btnAction.changeStage' | translate }}</button>
							</div>
						</div>
					</div>
					<div class="block-center-between py-3 header-title mb-4">
						<div>
							<h5 class="m-0">{{ 'title.historyActivity' | translate }}</h5>
						</div>
						<div>
							<button class="btn btn-icon btn-search btn-icon--small" [disabled]="expired"
								(click)="mailTo()" title="{{ 'btnAction.sendEmail' | translate }}"><em
									class="las la-envelope f-16"></em></button>
							<button class="btn btn-icon btn-search btn-icon--small ml-3" [disabled]="expired"
								(click)="createCalendar()">
								<em class="las la-calendar-alt f-16"
									title="{{ 'btnAction.createCalendar' | translate }}"></em>
							</button>
							<button class="btn btn-icon btn-search btn-icon--small ml-3" [disabled]="expired"
								title="{{ 'btnAction.createActivity' | translate }}" (click)="createActivity()"><em
									class="las la-plus-circle f-16"></em></button>
						</div>
					</div>
					<div class="list-activity row">
						<div *ngFor="let item of listActivity" class="item-activity col-md-6 mb-4">
							<div class="item-activity-body p-4">
								<div class="item-activity-left">
									<div class="activity-type mr-3" *ngIf="checkItem(item)">
										<p-avatar [icon]="getIcon(item)" styleClass="p-mr-2 bg-green" size="large">
										</p-avatar>
									</div>
									<div class="activity-type mr-3" *ngIf="!checkItem(item)">
										<p-avatar [icon]="getIcon(item)" styleClass="p-mr-2 bg-orange" size="large">
										</p-avatar>
									</div>
									<div class="activity-content" *ngIf="checkItem(item)">
										<div class="activity-title">
											<span class="font-weight-bold f-14 mr-5">{{ getActivityTypeName(item, 'activityType')
                        }}</span>
											<span>{{ item?.dateStart | date: 'dd/MM/yyyy' }}</span>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="label">{{ 'fields.result' | translate }}</div>
												<div class="font-weight-bold text-truncate">{{ item?.activityResultName
													}}</div>
											</div>
											<div class="col-md-8">
												<div class="label">{{ 'fields.note' | translate }}</div>
												<div class="font-weight-bold text-truncate">{{ item?.note }}</div>
											</div>
										</div>
									</div>

									<div class="activity-content" *ngIf="!checkItem(item)">
										<div class="activity-title">
											<span class="font-weight-bold f-14 mr-5">
												<span class="text-orange">{{ 'fields.next' | translate }} </span>
                        {{ getActivityTypeName(item, 'activityType')
                        }}</span>
											<span>{{ item?.dateStart | date: 'dd/MM/yyyy' }}</span>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="label">{{ 'fields.result' | translate }}</div>
												<div class="font-weight-bold text-truncate">{{ item?.activityResultName
													}}</div>
											</div>
											<div class="col-md-8">
												<div class="label">{{ 'fields.note' | translate }}</div>
												<div class="font-weight-bold text-truncate">{{ item?.note }}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item-activity-right block-center">
									<ng-container *ngIf="showMenu(item)">
										<div class="pl-2 pointer" (click)="menu.toggle($event);getItemActivity(item)">
											<em class="las la-ellipsis-v f-16"></em>
										</div>
										<p-menu #menu [popup]="true" [model]="rowMenu" appendTo="body"
											(onShow)="onShowMenu()"></p-menu>
									</ng-container>
<!--									<div *ngIf="!showMenu(item)" class="pl-2 pointer"><em-->
<!--											class="las la-ellipsis-v f-16"></em>-->
<!--									</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<ng-template #stageModal let-modal>-->
<!--	<div class="modal-header pb-4">-->
<!--		<div class="m-0">-->
<!--			<h5>{{ 'btnAction.changeStage' | translate }}</h5>-->
<!--		</div>-->
<!--		<button type="button" class="close" (click)="closeModal(modal)">-->
<!--			<span aria-hidden="true">&times;</span>-->
<!--		</button>-->
<!--	</div>-->
<!--	<div class="modal-body">-->
<!--		<div *ngIf="showForm" class="row">-->
<!--			<div class="col-md-6 form-group" [formGroup]="form">-->
<!--				<label>{{ 'fields.stage' | translate }} <span class="text-red">(*)</span></label>-->
<!--				<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="lanes"-->
<!--					[autofocus]="false" placeholder=" " class="d-block" formControlName="status" appendTo="body"-->
<!--					autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="status">-->
<!--				</p-dropdown>-->
<!--				<small class="p-error"-->
<!--					*ngIf="form?.controls?.status?.errors?.cusRequired && form?.controls?.status?.touched && isValidator">{{-->
<!--					'validationMessage.required' |-->
<!--					translate }}</small>-->
<!--			</div>-->
<!--			<div *ngIf="workflowType === 'OPPORTUNITY' && showFormProduct" class="col-md-6 form-group"-->
<!--				[formGroup]="form">-->
<!--				<label>{{ 'fields.product' | translate }}</label>-->
<!--				<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"-->
<!--					[options]="listProductChild" [autofocus]="false" placeholder=" " [filter]="true"-->
<!--					emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate}}" class="d-block"-->
<!--					formControlName="product" appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"-->
<!--					optionValue="code">-->
<!--				</p-dropdown>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="modal-footer modal-footer&#45;&#45;grey d-block">-->
<!--		<div class="text-right">-->
<!--			<button class="btn btn&#45;&#45;red" (click)="closeModal(modal)">{{ 'btnAction.cancel' | translate }}</button>-->
<!--			<button class="btn btn--light-blue ml-3" (click)="changeStage(modal)">{{ 'btnAction.record' | translate-->
<!--				}}</button>-->
<!--		</div>-->
<!--	</div>-->
<!--</ng-template>-->
