@import 'variable';

.campaign-rm-customer {
  .list__block {
    overflow: auto;
  }
  .bg-grey {
    color: $app-grey !important;
    background: $app-grey !important;
  }
  .bg-green {
    background: $green !important;
    color: $white !important;
  }
  .bg-orange {
    background: $orange !important;
    color: $white !important;
  }
  .bg-danger {
    background: $danger !important;
    color: $white !important;
  }
  .mat-tab-labels {
    justify-content: center;
    > :not(:first-child) {
      margin-left: 10px;
    }
    > :not(:last-child) {
      margin-right: 10px;
    }

    > :not(.mat-tab-label-active) {
      border: 1px solid $primary;
      border-radius: 8px;
      color: $primary;
    }
  }
  hr {
    width: 100%;
  }
  .custom-marker {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  .p-timeline-horizontal .p-timeline-event-connector {
    width: auto;
  }
  .p-timeline-event {
    min-height: 30px;
  }
  .p-timeline-event-opposite,
  .p-timeline-event-content {
    padding: 0 !important;
  }
  .p-timeline .p-timeline-event-connector {
    background-color: $green;
  }
  .marker-label {
    padding: 0 5px;
  }
  .b-info {
    border: 1px solid $gray-400;
    border-radius: 8px;
  }
  .b-customer {
    //display: flex;
    align-self: stretch;
  }
  // .b-campaign {
  //   flex-wrap: wrap;
  //   padding-right: 0;
  //   display: flex;
  //   align-self: stretch;
  // }
  // .b-action {
  //   padding-left: 0;
  // }
  .customer-info {
    overflow: hidden;
  }
  .header-title {
    border-bottom: 1px solid $gray-300;
    align-items: flex-end;
  }
  .item-activity-body {
    display: flex;
    align-content: center;
    border: 1px solid $gray-400;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
  }
  .item-activity-left {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    .activity-type {
      display: flex;
      align-items: center;
    }
    .activity-content {
      flex: 1 1 auto;
      overflow: hidden;
    }
  }
}
.modal-process-stage {
  .modal-dialog {
    max-width: 550px;
  }
}

.text-orange {
  color: $orange;
}
