<div class="right-view kpi-standard-cbql">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.kpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listBlock"
                  placeholder=" " class="d-block" formControlName="blockCode" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="name" optionValue="code"></p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.unitType' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="unitTypes"
                  placeholder=" " class="d-block" formControlName="unitType" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="text" optionValue="code"></p-dropdown>
              </div>

              <div class="col-md-4 form-group" *ngIf="formSearch.get('unitType').value !== '3'">
                <label>{{ 'fields.branch' | translate }}</label>
                <p-multiSelect emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="units"
                  placeholder=" " class="d-block" formControlName="unit" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="name" optionValue="code">
                </p-multiSelect>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4">
            <div class="center__search">
              <button class="btn btn--light-blue btn-small" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button *ngIf="allowImport" class="btn-icon btn-icon--small btn btn-search ml-2"
                (click)="import()" title="{{ 'kpi.title.importKpiStandard' | translate }}">
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div>
            <ngx-datatable ngxDataTable #table class="fullscreen bootstrap-non-fixed-height" [rows]="listData"
              [columnMode]="'force'" headerHeight="auto" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true"
              [virtualization]="false" [messages]="messages" (activate)="onActive($event)">
              <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="100" prop="code"
                [name]="tblHeader[0]">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="100" prop="name"
                [name]="tblHeader[1]">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="100" prop="blockCode"
                [name]="tblHeader[2]">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
