<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Chiến dịch</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="p-0 modal-body">
  <app-loading *ngIf="isLoading"></app-loading>
  <app-campaigns-rm
    [isViewFromPopup]="true"
    (onChangeCampain)="onChangeCampain($event)"
  >
  </app-campaigns-rm>
</div>
<div class="pt-0 modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" [disabled]="data?.length < 1" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
