<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ "rm.menu.rm_unassign" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <!-- <button class="btn btn-icon btn-icon--small grey" (click)="add()" *ngIf="obj?.create">
        <em class="las la-plus-circle f-16"></em>
      </button> -->
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="fluid-container px-4">
            <div class="row">
              <div class="col-md-4 mt-3">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                  placeholder=" " class="d-block" [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="paramSearch.blockCodes" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="value_to_search" optionValue="code">
                </p-dropdown>
              </div>
              <div class="col-md-4 mt-3">
                <label class="mb-0">{{ 'fields.agency' | translate }}</label>
                <lp-branches [listBranch]="branches" [(model)]="paramSearch.branchCodes"></lp-branches>
              </div>
              <div class="col-md-4 mt-3">
                <div class="row px-4">
                  <label class="mb-0">{{ 'customer360.fields.month' | translate }}</label>
                </div>
                <div class="row view-calendar">
                  <div class="col-md-12">
                    <p-calendar [(ngModel)]="paramSearch.businessDate" class="d-block1" view="month" dateFormat="mm/yy"
                      appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt"
                      [showTime]="false" (onBlur)="monthChange($event)">
                    </p-calendar>
                  </div>
                </div>
              </div>
            </div>

            <div class="row py-3 block-center-between">
              <div class="col-md-3">
                <button class="btn btn-small btn--light-blue mr-2" (click)="search()">
                  {{ 'btnAction.search'| translate }}
                </button>
              </div>
              <button class="btn btn--light-blue btn-icon--small mr-4" (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}" *ngIf="obj?.export">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="true"
              [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [columnMode]="'force'"
              [rows]="models" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="setPage($event)" [footerHeight]="70" [selectionType]="'single'"
              (activate)="onActive($event)" [headerHeight]="50">
              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.index' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="rm-code" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.rmCode' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'rmCode') }}">{{ getValue(row, 'rmCode') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="rm-name" [sortable]="false" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.rmName' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'rmName') }}">{{ getValue(row, 'rmName') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="title" [sortable]="false" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.title' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'titleGroupName') }}">{{ getValue(row, 'titleGroupName') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="levelName" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.level' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'levelName') }}">{{ getValue(row, 'levelName') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="grade" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.grade' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'blockCode') }}">{{ getValue(row, 'blockCode') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="branch_code_level_2" [sortable]="false" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_code_level_2' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'branchCode') }}">{{ getValue(row, 'branchCode') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch_name_level_2" [sortable]="false" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_name_level_2' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'branchName') }}">{{ getValue(row, 'branchName') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="status" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.status' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'status') }}">{{
                    getValue(row, 'status') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="isSyntheticKPI" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.syntheticKPI' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-column">
                    <p-checkbox disabled="true" [ngModel]="value" binary="true">
                    </p-checkbox>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <!-- <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                  </div>
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
