<div class="right-view list-revenue-sharing">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Quản lý chia sẻ doanh thu</h3>
    </div>
    <div class="content__top-right">
      <button *ngIf="approvedList" (click)="isApprovedList()" class="btn btn--light-blue btn-small">Phê duyệt nhanh</button>
    </div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4">
          <div class="row form-create" [formGroup]="formSearch">
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="divisionCode"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
              >
              </p-dropdown>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
              <input
                type="text"
                maxlength="100"
                pInputText
                placeholder=""
                class="d-block"
                formControlName="customerCode"
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
              <input
                type="text"
                maxlength="100"
                pInputText
                placeholder=""
                class="d-block"
                formControlName="customerName"
              />
            </div>
          </div>
          <div class="row" [formGroup]="formSearch">
            <div class="col-md-4 form-group">
              <!-- <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="branchManagement"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown> -->

              <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listBranchesManager"
                placeholder=" "
                class="d-block"
                [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                formControlName="branchCode"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              ></p-dropdown>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.codeRmManagement' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="rmCode"
                [filter]="true"
                [options]="listRmManager"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              >
              </p-dropdown>
            </div>
            <div class="col-md-4 form-group">
              <!-- <label class="mb-0">{{ 'fields.branchShare' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="branchShare"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown> -->

              <label class="mb-0">{{ 'fields.branchShare' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listBranchesShare"
                placeholder=" "
                class="d-block"
                [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                formControlName="shareBranchCode"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              ></p-dropdown>
            </div>
          </div>
          <div class="row" [formGroup]="formSearch">
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.rmShared' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="shareRmCode"
                [filter]="true"
                [options]="listRmShare"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              >
              </p-dropdown>
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.status' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="shareStatus"
                [options]="listStatusShare"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <button class="btn btn--light-blue btn-small" (click)="search(false)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button
                (click)="exportFile()"
                class="btn btn-icon btn-icon--small btn-search ml-2"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>

          <div class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [width]="35"
                [frozenLeft]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="checkAll"
                      (click)="onCheckboxAllFn($event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="isChecked(row)"
                      (click)="onCheckboxFn(row, $event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="customerCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="customerName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="branchName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branch' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="divisionCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.block' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="rmCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmManager' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="shareBranchName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branchShared' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="shareRmCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmShared' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- <ngx-datatable-column
                prop="branch"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.shareRate' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-column
                prop="startDate"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.startTime' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="enDate"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.endTime' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="shareStatus"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.status' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="150"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <ng-container *ngIf="checkUserCase(row)">
                      <button
                        *ngIf="isShowEdit(row)"
                        type="button"
                        title="{{ 'btnAction.editOrView' | translate }}"
                        (click)="viewEdit(row)"
                        class="btn-outline"
                      >
                        <em class="las la-edit"></em>
                      </button>

                      <button
                        *ngIf="row.statusCode === 'PENDING'"
                        type="button"
                        class="btn-outline ml-2"
                        title="{{ 'btnAction.delete' | translate }}"
                      >
                        <em class="las la-trash-alt f-16"></em>
                      </button>
                    </ng-container>

                    <ng-container *ngIf="approvedList">
                      <button
                        *ngIf="!checkUserCase(row)"
                        type="button"
                        (click)="viewEdit(row, true)"
                        class="btn-outline"
                        title="{{ 'btnAction.editOrView' | translate }}"
                      >
                        <em class="las la-edit"></em>
                      </button>
                      <button
                        *ngIf="row.statusCode === 'APPROVE'"
                        type="button"
                        (click)="viewEdit(row)"
                        class="btn-outline ml-2"
                        title="{{ 'btnAction.buttonEnd' | translate }}"
                      >
                        <em class="ic-x"></em>
                      </button>
                      <button
                        *ngIf="row.statusCode === 'PENDING'"
                        type="button"
                        (click)="viewEdit(row, false)"
                        class="btn-outline ml-2"
                        title="{{ 'btnAction.approved' | translate }}"
                      >
                        <em class="ic-check"></em>
                      </button>
                    </ng-container>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
