h3 {
    margin: 0 !important;
}

.section {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 5px 0;
    margin-bottom: 20px;
}

::ng-deep .w-100 {
    width: 100%;
}

h3{
    margin: 0 !important;
}