<div class="right-view">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="content__top d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <button class="btn btn--light-blue btn-small pr-3" (click)="close()"><em class="las la-undo f-16"></em> Quay
        lại</button>
      <h3 class="pl-3">{{params?.mode == 'edit' ? 'Chỉnh sửa' : 'Tạo mới'}} cơ hội bán </h3>
    </div>
    <button class="btn btn--light-blue btn-small btn-back" (click)="create()">
      {{this.params?.mode == 'edit' ? 'Lưu' :'Tạo mới'}}
    </button>
  </div>
  <div class="content">
    <div class="content-body p-3 overflow-auto">
      <div class="section p-3">
        <h3>Thông tin khách hàng</h3>
        <div class="row mt-3">
          <div class="col-6 row py-3">
            <div class="col-5">
              Loại KH
            </div>
            <div class="col-7">
              {{customerInfoOpportunity?.customerType == 'KH360' ? 'Khác hàng hiện hữu' :
              customerInfoOpportunity?.customerType == 'KHTN' ? 'Khách hàng tiềm năng' : '--'}}
            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Mã KHHH
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.customerCode || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Mã KHTN
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.leadCode || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Tên KH
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.name || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Số ĐKKD
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.businessRegistrationNumber || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Địa chỉ
            </div>
            <div style="overflow: hidden; text-overflow: ellipsis;" class="col-7">
              <span style="white-space: break-spaces"
                    [title]="customerInfoOpportunity?.address ">{{customerInfoOpportunity?.address || '--'}} </span>
            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Số lao động
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.employeesNo || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Loại hình doanh nghiệp
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.typeOfBusiness || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Phân khúc
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.segment || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              Chi nhánh mở code
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.branch || '--'}}

            </div>
          </div>
          <div class="col-6 row py-3">
            <div class="col-5">
              RM quản lý
            </div>
            <div class="col-7">

              {{customerInfoOpportunity?.rm || '--'}}

            </div>
          </div>
        </div>
      </div>
      <div [formGroup]="form" class="section p-3">
        <h3>Thông tin cơ hội</h3>
        <div class="row mt-3">
          <div class="col-4">
            <label class="m-0">Trạng thái</label>
            <p-dropdown [readonly]="isEdit"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName="status"
                        [options]="listStatusOppSME"
                        placeholder=" "
                        class="d-block"
                        [optionLabel]="'name'"
                        optionValue="code">
            </p-dropdown>
          </div>
          <div class="col-4">
            <label class="m-0">Sản phẩm</label>
            <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="listProductChild"
                        class="d-block"
                        [filter]="true"
                        emptyFilterMessage="Không tìm thấy kết quả!"
                        formControlName="productCode"
                        optionLabel="name"
                        optionValue="code"
                        placeholder="Chọn sản phẩm"
                        [virtualScroll]="true"
                        [itemSize]="31">
            </p-dropdown>
            <div class='p-error d-block d-flex align-items-center'
                 *ngIf="!form.controls.productCode.value && form.controls.productCode.touched">
              <span>Vui lòng chọn sản phẩm !</span>
            </div>
          </div>
          <div class="col-4">
            <label class="m-0">Chi nhánh cơ hội</label>
            <p-dropdown [readonly]="isEdit"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="listBranchesOpp"
                        placeholder=" "
                        class="d-block"
                        [filter]="true"
                        emptyFilterMessage="Không tìm thấy kết quả!"
                        formControlName="branchOpp"
                        optionLabel="displayName"
                        optionValue="code"
                        [virtualScroll]="true"
                        [itemSize]="31">
            </p-dropdown>
          </div>
          <div class="col-4 mt-2">
            <label class="m-0">Người xử lý</label>
            <p-dropdown [readonly]="isEdit"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName="memberHrsCode"
                        [filter]="true"
                        [options]="listHandler"
                        placeholder="Chọn người xử lý"
                        optionLabel="displayName"
                        optionValue="code"
                        class="d-block">
            </p-dropdown>
            <div class='p-error d-block d-flex align-items-center'
                 *ngIf="form.controls.memberHrsCode?.errors?.required && form.controls.amount.touched">
              <span>Vui lòng Chọn người xử lý!</span>
            </div>
          </div>
          <div class="col-4 mt-2">
            <label class="m-0">Nguồn</label>
            <p-dropdown [readonly]="params?.mode == 'edit'"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="listSource"
                        emptyFilterMessage="Không tìm thấy kết quả!"
                        formControlName="source"
                        optionLabel="name"
                        class="d-block"
                        optionValue="code">
            </p-dropdown>
          </div>
          <div class="col-12 my-3">
            <label class="m-0">Mô tả</label>
            <textarea maxlength="5000" formControlName="description" class="d-block form-control" cols="30"
                      rows="5"></textarea>
          </div>
          <div class="col-4">
            <label class="m-0">Loại tiền tệ</label>
            <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="listCurrent"
                        emptyFilterMessage="Không tìm thấy kết quả!"
                        formControlName="currency"
                        optionLabel="name"
                        class="d-block"
                        optionValue="code">
            </p-dropdown>
          </div>
          <div class="col-4">
            <label class="m-0">Giá trị</label>
            <p-inputNumber class="d-block" locale="en-US" [maxlength]="20" placeholder="Nhập giá trị"
                           formControlName="amount"
                           styleClass="w-100">
            </p-inputNumber>
            <div class='p-error d-block d-flex align-items-center'
                 *ngIf="!form.controls.amount.value && form.controls.amount.value != 0  && form.controls.amount.touched">
              <span>Vui lòng nhập giá trị !</span>
            </div>
          </div>
          <div class="col-4">
            <label class="m-0">Người giới thiệu</label>
            <p-dropdown [readonly]="params?.mode == 'edit'"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName="guideHrsCode"
                        [filter]="true"
                        [options]="listIntroduce"
                        placeholder=" "
                        optionLabel="displayName"
                        optionValue="hrsCode"
                        [virtualScroll]="true"
                        class="d-block">
            </p-dropdown>
            <div class='p-error d-block d-flex align-items-center'
                 *ngIf="!form.controls.guideHrsCode.value && form.controls.guideHrsCode.touched && params?.mode != 'edit'">
              <span>Vui lòng nhập chọn người giới thiệu !</span>
            </div>
          </div>
          <div class="col-12 my-3">
            <label class="m-0">Ghi chú</label>
            <textarea maxlength="500" formControlName="note" class="d-block form-control" cols="30" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
