<div class="right-view campaign-add-customer">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title" *ngIf="type === 'CREATE'">Thêm mới khách hàng cho chiến dịch</h3>
      <h3 class="mb-0 page--title" *ngIf="type === 'UPDATE'">Cập nhật khách hàng chiến dịch</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="form-body px-4 mt-3">
            <div class="title-info">
              <h5>{{ 'potentialCustomerCreate.title.basicInfo' | translate }}</h5>
            </div>

            <div class="row">
              <ng-container>

                <div class="col-md-4 form-group" [formGroup]="form">
                    <label>{{ 'potentialCustomerCreate.idCard' | translate }}<span class="text-red">(*)</span></label>
                  <div class="row p-0 m-0">
                    <div class="col-md-11 p-0 m-0">
                      <input [readOnly]="type === 'UPDATE'" placeholder="" type="text" maxlength="50" class="d-block" formControlName="idCard" pInputText />
                      <small
                        class="p-error"
                        *ngIf="form?.controls?.idCard?.errors?.cusRequired && form?.controls?.idCard?.touched"
                      >{{ 'validationMessage.required' | translate }}</small
                      >
                      <small
                        class="p-error"
                        *ngIf="form?.controls?.idCard?.errors?.idCard && form?.controls?.idCard?.touched"
                      >Sai định dạng, chỉ cho phép nhập chữ, số và '-,/'</small
                      >
                    </div>
                    <div class="col-md-1 p-0 m-0">
                      <button [disabled]="type === 'UPDATE'" class="btn-icon btn-icon--small btn btn-search grey ml-2"
                              title="{{ 'btnAction.search' | translate }}" (click)="searchKH()">
                        <em class="las la-search f-16"></em>
                      </button>
                      </div>
                  </div>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.customerName' | translate }}<span class="text-red">(*)</span></label>
                  <input
                    [readOnly]="this.form.get('customerType').value === '2'"
                    placeholder=""
                    type="text"
                    maxlength="200"
                    class="d-block"
                    formControlName="customerName"
                    pInputText
                  />
                  <small
                    class="p-error"
                    *ngIf="form?.controls?.customerName?.errors?.cusRequired && form?.controls?.customerName?.touched"
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.birthday' | translate }}</label>
                  <p-calendar
                    [disabled]="this.form.get('customerType').value === '2'"
                    [yearNavigator]="true"
                    class="d-block"
                    readonlyInput="true"
                    formControlName="birthday"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    [showIcon]="true"
                    [maxDate]="today"
                    icon="las la-calendar-alt"
                    yearRange="1900:2022"
                  >
                  </p-calendar>
                </div>

                <div class="col-md-4 form-group">
                  <label>{{ 'potentialCustomerCreate.gender' | translate }}</label>
                  <div class="d-flex">
                    <div class="p-field-radiobutton mr-4" [formGroup]="form">
                      <p-radioButton [disabled]="this.form.get('customerType').value === '2'" formControlName="gender" value="1"></p-radioButton>
                      <label class="ml-2">{{ 'fields.male' | translate }}</label>
                    </div>
                    <div class="p-field-radiobutton" [formGroup]="form">
                      <p-radioButton [disabled]="this.form.get('customerType').value === '2'" formControlName="gender" value="0"></p-radioButton>
                      <label class="ml-2">{{ 'fields.female' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.national' | translate }}</label>
                  <p-dropdown
                    [disabled]="this.form.get('customerType').value === '2' || type === 'UPDATE'"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.listCountry"
                    placeholder=" "
                    class="d-block"
                    formControlName="national"
                    appendTo="body"
                    optionLabel="name"
                    optionValue="code"
                  ></p-dropdown>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.email' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="50"
                    class="d-block"
                    formControlName="email"
                    pInputText
                  />
                  <small
                    class="p-error"
                    *ngIf="
                    form?.controls?.email?.errors?.email && form?.controls?.email?.touched
                    "
                  >{{ 'validationMessage.noEmail' | translate }}</small
                  >
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.phone' | translate }}</label>
                  <input placeholder="" type="text" maxlength="15" class="d-block" formControlName="phone" pInputText />
                  <small
                    class="p-error"
                    *ngIf="form?.controls?.phone?.errors?.onlyNumber && form?.controls?.phone?.touched"
                  >{{ 'validationMessage.onlyNumber' | translate }}</small
                  >
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.address' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="address"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.potentialLevel' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.listPotentialLevel"
                    placeholder=" "
                    class="d-block"
                    formControlName="potentialLevel"
                    appendTo="body"
                    optionLabel="name"
                    optionValue="code"
                  ></p-dropdown>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.job' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="job"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.incomePerMonth' | translate }}</label>
                  <p-inputNumber
                    maxlength="21"
                    class="d-block"
                    formControlName="incomePerMonth"
                  ></p-inputNumber>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.customerResources' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.listCustomerResources"
                    placeholder=" "
                    class="d-block"
                    formControlName="customerResources"
                    appendTo="body"
                    optionLabel="name"
                    optionValue="code"
                  ></p-dropdown>
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.value' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="value"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.addtionInfo1' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="additinalInfor1"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.addtionInfo2' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="additinalInfor2"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.addtionInfo3' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="additinalInfor3"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.addtionInfo4' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="additinalInfor4"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.addtionInfo5' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="additinalInfor5"
                    pInputText
                  />
                </div>

                <div class="col-md-4 form-group" [formGroup]="form">
                  <label>{{ 'potentialCustomerCreate.campaign' | translate }}</label>
                  <input
                    placeholder=""
                    type="text"
                    maxlength="255"
                    class="d-block"
                    formControlName="campaign"
                    pInputText
                  />
                </div>

                <div class="col-md-12">
                  <div class="title-info">
                    <h5>{{ 'potentialCustomerCreate.title.sysInfo' | translate }}</h5>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.leadCode' | translate }}</label>
                      <input
                        placeholder=""
                        type="text"
                        maxlength="100"
                        class="d-block"
                        formControlName="leadCode"
                        pInputText
                      />
                    </div>

                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.customerTypeName' | translate }}</label>
                      <input
                        placeholder=""
                        type="text"
                        maxlength="100"
                        class="d-block"
                        value="Khách hàng cá nhân"
                        readonly
                        pInputText
                        style="opacity: 0.6;"
                      />
                    </div>

                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.branchCode' | translate }}</label>
                      <p-dropdown
                        [disabled]="type === 'UPDATE'"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        [options]="commonData.listBranchManager"
                        placeholder=" "
                        class="d-block"
                        formControlName="branchCode"
                        appendTo="body"
                        optionLabel="name"
                        optionValue="code"
                        [virtualScroll]="true"
                        [itemSize]="31"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                      ></p-dropdown>
                    </div>

                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.rmCode' | translate }}</label>
                      <p-dropdown
                        [disabled]="type === 'UPDATE'"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        [options]="commonData.listRmManager"
                        placeholder=" "
                        class="d-block"
                        formControlName="rmCode"
                        appendTo="body"
                        optionLabel="displayName"
                        optionValue="code"
                        [virtualScroll]="true"
                        [itemSize]="31"
                        [autoDisplayFirst]="false"
                        [filter]="true"
                      ></p-dropdown>
                    </div>

                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.branchUpload' | translate }}</label>
                      <input
                        placeholder=""
                        type="text"
                        maxlength="100"
                        class="d-block"
                        formControlName="branchUpload"
                        pInputText
                      />
                    </div>

                    <div class="col-md-4 form-group" [formGroup]="form">
                      <label>{{ 'potentialCustomerCreate.createdDate' | translate }}</label>
                      <input
                        placeholder=""
                        type="text"
                        maxlength="100"
                        class="d-block"
                        formControlName="createdDate"
                        pInputText
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="px-4 pb-4 text-left btn-action">
            <ng-container>
<!--              <button class="btn btn-default btn-small" (click)="cancelKHCN()">{{ 'btnAction.cancel' | translate }}</button>-->
              <button class="btn btn--light-blue btn-small" [disabled]="this.form.invalid" (click)="saveKHCN()">{{ 'btnAction.save' | translate }}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
