<div class='right-view'>
  <app-loading *ngIf='isLoading'></app-loading>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button (click)='back()'
              class='btn btn--light-blue btn-small'>
        <em class='las la-undo f-16'></em>
        {{ 'btnAction.back' | translate }}
      </button>
    </div>
    <div *ngIf='selectedTab === 3'
         class='content__top-right'>
      <ng-container *ngIf="action == 'approved'">
        <button class='btn btn--light-blue btn-small btn-view'
                (click)='CBQLconfirm(false)'>{{ 'Từ chối' | translate }}</button>
        <button class='btn btn--light-blue btn-small btn-view'
                (click)='CBQLconfirm(true)'>{{ 'Đồng ý' | translate }}</button>
      </ng-container>
      <button class='btn btn--light-blue btn-small btn-view'
              *ngIf="action == 'confirm'"
              (click)='confirm()'>{{ 'reductionProposal.tabs.confirm' | translate }}</button>
    </div>
  </div>

  <div class='content bg-transparent'>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block'>
          <div class='col-md-12 detail-block'>
            <div class='detail-container border-none'
                 [formGroup]='form'>
              <mat-tab-group [fitInkBarToContent]='true'
                             (selectedTabChange)='updateType($event); selectedTab = $event.index'
                             [selectedIndex]='selectedTab'>
                <mat-tab label="{{'reductionProposal.tab.report' | translate}}">
                  <div class='imformation-customer mt-5'
                       *ngIf="this.type === 'report'">
                    <div class='col-md-12 collapse show'>
                      <div class='row'>
                        <div class='col-md-2 form-group'>
                          <label class='detail-key'>{{ 'Mã khách hàng' }}</label>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span class='report-text'>{{ reductionProposalDetail?.customerCode ||
                          info?.customer?.customerCode || '--' }}</span>
                        </div>
                        <div class='col-md-2 form-group'>
                          <label class='detail-key'>{{ 'Tên khách hàng' }}</label>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span class='report-text'>{{ reductionProposalDetail?.customerName ||
                          info?.customer?.customerName || '--' }}</span>
                        </div>
                        <div class='col-md-2 form-group'>
                          <label class='detail-key'>{{ reductionProposalDetail?.blockCode == 'INDIV' ? 'Số GTTT' :
                            'MST/DKKD/GTTT' }}</label>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span class='report-text'>{{ reductionProposalDetail?.taxCode || info.customer?.taxCode ||
                          reductionProposalDetail?.businessRegistrationNumber || info.customer?.businessRegistrationNumber ||
                          '--' }}</span>
                        </div>
                        <div class='col-md-2 form-group'>
                          <div class='text-style'>
                            <label class='detail-key'>{{'Phân khúc'}}</label>
                            <label class='detail-style'>{{ '(Theo DTBQ 3 năm gần nhất)' }}</label>
                          </div>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span
                            class='report-text'>{{ (clearSegment(info.customer?.segment) || reductionProposalDetail?.segmentName | uppercase) || '--'
                            }}</span>
                        </div>
                        <div class='col-md-2 form-group'>
                          <label class='detail-key'>{{ 'Xếp hạng tín dụng '}}</label>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span class='report-text'>{{ info.customer?.scoreValue || '--' }}</span>
                        </div>
                        <ng-container *ngIf="reductionProposalDetail?.blockCode != 'INDIV'">
                          <div class='col-md-2 form-group'>
                            <label class='detail-key'>{{ 'Đối tượng'}}</label>
                          </div>
                          <div class='col-md-4 form-group'>
                            <span class='report-text'>{{ info.customer?.classification || '--' }}</span>
                          </div>
                        </ng-container>
                        <div class='col-md-2 form-group'
                             *ngIf="reductionProposalDetail?.type === 0 && reductionProposalDetail?.blockCode != 'FI' ">
                          <label class='detail-key'>{{ 'Cơ cấu khách hàng' }}</label>
                        </div>
                        <div class='col-md-4 form-group'
                             *ngIf="reductionProposalDetail?.type === 0  && reductionProposalDetail?.blockCode != 'FI'">

                          <span class='report-text'>{{ customerCreditResp?.customerType || '--' }}</span>
                        </div>
                        <ng-container *ngIf="reductionProposalDetail?.blockCode == 'INDIV'">
                          <div class='col-md-2 form-group'>
                            <label class='detail-key'>{{ 'Số năm quan hệ với MB' || '--' }}</label>
                          </div>
                          <div class='col-md-4 form-group'>
                            <span class='report-text'>{{ reductionProposalDetail?.mbRelationship || '--' }}</span>
                          </div>
                        </ng-container>
                        <div class='col-md-2 form-group'>
                          <label class='detail-key'>{{ 'Loại khách hàng' }}</label>
                        </div>
                        <div class='col-md-4 form-group'>
                          <span class='report-text'>{{ formatLoaiKH(reductionProposalDetail?.loai_KH) || '--' }}</span>
                        </div>

                        <ng-container *ngIf="reductionProposalDetail?.blockCode != 'INDIV'">
                          <ng-container *ngIf='managementView.showDTTTRR'>
                            <div class='col-md-2 form-group'>
                              <label class='detail-key'>{{ 'DTTTRR (trđ)' }}</label>
                            </div>
                            <div class='col-md-4 form-group'>
                              <span class='report-text'>{{
                                formatCurrency(convertDtttrr(reductionProposalDetail?.dtttrrExisting)) || '--' }}</span>
                            </div>
                          </ng-container>
                          <ng-container *ngIf='managementView.showToiHienHuu'>
                            <div class='col-md-2 form-group'>
                              <label class='detail-key'>{{ 'TOI hiện hữu(%)' }}</label>
                            </div>
                            <div class='col-md-4 form-group'>
                              <span class='report-text'>{{
                                formatCurrency(convertToiCurrent(reductionProposalDetail?.toiExisting)) }}</span>
                            </div>
                          </ng-container>
                          <ng-container *ngIf='managementView.showToiCamKet'>
                            <div class='col-md-2 form-group'>
                              <label class='detail-key'>{{ 'TOI cam kết(%)' }}</label>
                            </div>
                            <div class='col-md-4 form-group'>
                              <span class='report-text'>{{ formatCurrency(reductionProposalDetail?.toiConfirm) || '--'
                                }}</span>
                            </div>
                          </ng-container>
                          <ng-container *ngIf='managementView.showDTTTRRCamKet'>
                            <div class='col-md-2 form-group'>
                              <label class='detail-key'>{{ 'DTTTRR cam kết (trđ)' }}</label>
                            </div>
                            <div class='col-md-4 form-group'>
                              <span class='report-text'>{{
                                formatCurrency(convertDtttrr(reductionProposalDetail?.dtttrrConfirm)) || '--' }}</span>
                            </div>
                          </ng-container>
                          <ng-container *ngIf='managementView.showThoiGianDanhGia'>
                            <div class='col-md-2 form-group'>
                              <label class='detail-key'>{{'Thời gian đánh giá'}}</label>
                            </div>
                            <div class='col-md-4 form-group'>
                              <span class='report-text'>{{ reductionProposalDetail?.monthConfirm ?
                                reductionProposalDetail?.monthConfirm + ' Tháng' : '--' }} </span>
                            </div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="reductionProposalDetail?.blockCode == 'INDIV'">
                          <div class='col-md-2 form-group'>
                            <label class='detail-key'>{{ 'NIM hiện hữu(%)' }}</label>
                          </div>
                          <div class='col-md-4 form-group'>
                            <span class='report-text'>{{formatCurrency(reductionProposalDetail?.nimExisting) }}</span>
                          </div>
                          <div class='col-md-2 form-group'>
                            <label class='detail-key'>{{ 'NIM cam kết(%)' }}</label>
                          </div>
                          <div class='col-md-4 form-group'>
                            <span class='report-text'>{{formatCurrency(reductionProposalDetail?.nimConfirm)}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <ng-container *ngIf='managementView.showBtnTinhToi && !isLoading'>
                        <div class='row'>
                          <div class='col-md-6'></div>
                          <div class='col-md-4'>
                            <button class='btn btn--light-blue btn-small btn-view btn-block'
                                    (click)='caculateToi()'>
                              {{'Tính TOI/DTTTRR cam kết'}}
                            </button>
                          </div>
                          <div class='col-md-2'></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>

                  <!-- <div class="imformation-customer mt-5"
                       *ngIf="this.type === 'report'">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-2 style-pl">
                          <h5 class="m-0 mb-3">{{ 'reductionProposal.labels.caseSuggest' | translate }}</h5>
                        </div>
                        <div class="col-md-6">
                          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                      [options]="caseSuggesst"
                                      class="d-block w-250"
                                      appendTo="body"
                                      formControlName="caseSuggest"
                                      autoZIndex="false"
                                      baseZIndex="10000"
                                      optionLabel="displayName"
                                      optionValue="code"
                                      [autoDisplayFirst]="false"
                                      [filter]="false"
                                      [showClear]="false">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class='imformation-customer mt-5'
                       *ngIf="this.type === 'report'">
                    <div class='col-md-12'>
                      <div class='row'>
                        <div class='col-md-2 style-pl'>
                          <h5 class='m-0 mb-3'>{{ 'reductionProposal.labels.operationRange' | translate }}</h5>
                        </div>
                        <div class='col-md-6'>
                          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                      [options]='scopeApplys'
                                      class='d-block w-250'
                                      appendTo='body'
                                      formControlName='scopeApply'
                                      autoZIndex='false'
                                      baseZIndex='10000'
                                      optionLabel='displayName'
                                      optionValue='code'
                                      [autoDisplayFirst]='false'
                                      [filter]='false'
                                      [showClear]='false'>
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class='imformation-customer mt-5'
                       *ngIf="this.type === 'report' && !reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.ldCode && this.info.customer.customerCode && this.typeDetail === 1">
                    <div class='col-md-12'>
                      <div class='row'>
                        <div class='col-md-2 style-pl'>
                          <h5 class='m-0 mb-3'>{{ 'reductionProposal.labels.TypeFee' | translate }}</h5>
                        </div>
                        <div class='col-md-6'>
                          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                      [options]='AllTypeFee'
                                      class='d-block w-250'
                                      appendTo='body'
                                      formControlName='typeInterest'
                                      autoZIndex='false'
                                      baseZIndex='10000'
                                      optionLabel='displayName'
                                      optionValue='id'
                                      [autoDisplayFirst]='false'
                                      [filter]='false'
                                      [showClear]='false'>
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='mt-5'
                       *ngIf="this.type === 'report'">
                    <mat-expansion-panel expanded>
                      <mat-expansion-panel-header [collapsedHeight]="'48px'"
                                                  [expandedHeight]="'100%'">
                        <mat-panel-title class='mt-2'>
                          <h5 class='m-2 ml-2'>{{ (reductionProposalDetail?.type == 1 ?
                            'reductionProposal.labels.eductionProfitInfoReduction' : 'Thông tin miễn giảm phí') |
                            translate }}
                          </h5>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-container
                        *ngIf='reductionProposalDetail?.reductionProposalDetailsDTOList && this.reductionProposalDetail.type == 1'>
                        <p-treeTable [value]='listData'
                                     class='mt-2 mr-4 ml-4 d-flex'
                                     [autoLayout]='true'
                                     [style]="{'width':'100%','overflow':'auto!important'}">
                          <ng-template pTemplate='header'>
                            <tr>
                              <th
                                *ngIf='reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.planCode
                                || reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.mdCode
                                || reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.ldCode'
                                class='text-center'
                                rowspan='2'>{{
                                reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.planCode ? 'Mã phương án hạn mức'
                                  : reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.ldCode ? 'Mã LD'
                                    : !reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.mdCode ? 'Mã MD' : ''
                                }}</th>
                              <th class='text-center'
                                  rowspan='2'>Biểu lãi suất
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Loại tiền tệ
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Kỳ điều chỉnh
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Kỳ hạn vay <br> (tháng)
                              </th>
                              <th class='text-center text-style'
                                  colspan='4'>Biểu theo quy định
                              </th>
                              <th class='text-center text-style'
                                  [colSpan]='this.checkAbilityInterest() ? 3 : 2 '>Biểu đề xuất giảm
                              </th>
                              <th class='text-center text-style'
                                  rowspan='2'>Tỉ lệ giảm <br>biên độ (%)
                              </th>
                              <th *ngIf='this.checkAbilityInterest()' class='text-center' rowspan='2'>Tỷ lệ giảm <br>
                                lãi suất tối thiểu (%)
                              </th>
                            </tr>
                            <tr>
                              <th class='text-center text-style'>Lãi suất <br> tham chiếu (%)</th>
                              <th class='text-center text-style'>Biên độ <br> cơ sở (%)</th>
                              <th *ngIf='!this.checkAbilityInterest()' class='text-center' style='width: 160px'>Mức giảm
                                <br> biên tối đa (%)
                              </th>
                              <th *ngIf='this.checkAbilityInterest()' class='text-center' style='width: 160px'>Lãi suất
                                <br> tối thiểu (%)
                              </th> <!--Đối với loại lãi là Ưu đãi, Linh hoạt, Ngoại lệ Ưu đãi, Ngoại lệ linh hoạt-->
                              <th class='text-center text-style'>Lãi suất <br> cho vay (%)</th>
                              <th class='text-center text-style'
                                  style='width: 140px'>Biên độ (%)
                              </th>
                              <th *ngIf='this.checkAbilityInterest()' class='text-center'>Lãi suất <br> tối thiểu (%)
                              </th>
                              <th class='text-center text-style'>Lãi suất <br> cho vay (%)</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate='body'
                                       let-rowNode
                                       let-rowData='rowData'>
                            <tr>
                              <td class='text-center'
                                  *ngIf='reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.planCode
                                  || reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.mdCode
                                  || reductionProposalDetail?.reductionProposalDetailsDTOList[0]?.ldCode'>
                                {{rowData?.planCode || rowData?.mdCode || rowData?.ldCode || ''}}</td>
                              <td *ngIf="reductionProposalDetail?.scopeApply === 'ALL' ">{{rowData?.name}}</td>

                              <td *ngIf="reductionProposalDetail?.scopeApply !== 'ALL' ">
                                <a class='text-info style-link'>{{rowData?.name || 'Chọn biểu'}}</a>
                              </td>
                              <td class='text-center'>{{rowData?.currency || ''}}</td>
                              <td class='text-center'>{{rowData?.adjustmentPeriod || ''}}</td>
                              <td class='text-center'>{{rowData?.period || ''}}</td>
                              <td class='text-center'>{{rowData?.referenceInterestRate || ''}}</td>
                              <td class='text-center'>{{rowData?.baseMargin || ''}}</td>
                              <td *ngIf='!this.checkAbilityInterest()'
                                  class='text-center'>{{ calMaginReduction(rowData) }}</td>
                              <td *ngIf='this.checkAbilityInterest()'
                                  class='text-center'>{{rowData?.minInterestRate || '--'}}</td>
                              <!-- {{rowData?.maximumMarginReduction || ''}}012 -->
                              <td class='text-center'>{{rowData?.loanRate || ''}}</td>
                              <td class='text-center'>{{rowData?.productCode || ''}}</td>
                              <td *ngIf='this.checkAbilityInterest()'
                                  class='text-center'>{{rowData?.minInterestRate ? rowData?.minInterestRateOffer : '--'}}</td>
                              <td class='text-center'>{{rowData?.loanSuggest || ''}}</td>
                              <td class='text-center'>{{rowData?.reductPercent || ''}}</td>
                              <td *ngIf='this.checkAbilityInterest()'
                                  class='text-center'>{{rowData?.minInterestRate ? rowData?.rateMinimum : '--'}}</td>
                            </tr>
                          </ng-template>
                        </p-treeTable>
                      </ng-container>
                      <ng-container
                        *ngIf='reductionProposalDetail?.reductionProposalDetailsDTOList && this.reductionProposalDetail.type == 0'>
                        <p-table [value]='reductionProposalDetail.reductionProposalDetailsDTOList'
                                 class='mt-2 mr-4 ml-4 d-flex'
                                 [autoLayout]='true'
                                 [style]="{'width':'100%','overflow':'auto!important'}">
                          <ng-template pTemplate='header'>
                            <tr>
                              <th rowspan='2' class='text-center'
                                  *ngIf='reductionProposalDetail.scopeType != 0 && reductionProposalDetail.scopeType != 3'>
                                {{
                                reductionProposalDetail?.scopeType == 1 ? 'Mã phương án hạn mức' :
                                  reductionProposalDetail?.scopeType == 2 ? 'Mã LD' :
                                    reductionProposalDetail?.scopeType == 4 ? 'Mã MD' : 'Chưa xác định mã phương án'
                                }}
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Tên phí/<br>Khoản mục phí
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Loại tiền tệ
                              </th>
                              <th class='text-center'
                                  rowspan='2'>Phân loại phí
                              </th>
                              <th class='text-center'
                                  colspan='3'>Biểu theo quy định
                              </th>
                              <th class='text-center'
                                  colspan='6'>Biểu đề xuất giảm
                              </th>
                            </tr>
                            <tr>
                              <th class='text-center'>Mức phí</th>
                              <th class='text-center'>Phí tối thiểu</th>
                              <th class='text-center'>Phí tối đa</th>
                              <th class='text-center'>Mức phí</th>
                              <th class='text-center'>Tỉ lệ giảm <br> mức phí (%)</th>
                              <th class='text-center'>Phí tối thiểu</th>
                              <th *ngIf="reductionProposalDetail?.blockCode != 'INDIV'" class='text-center'>Tỉ lệ giảm
                                <br> phí tối thiểu (%)
                              </th>
                              <th class='text-center'>Phí tối đa</th>
                              <th *ngIf="reductionProposalDetail?.blockCode != 'INDIV'" class='text-center'>Tỉ lệ giảm
                                <br> phí tối đa (%)
                              </th>

                            </tr>
                          </ng-template>
                          <ng-template pTemplate='body'
                                       let-product>
                            <tr>
                              <td class='text-center'
                                  *ngIf='reductionProposalDetail.scopeType != 0 && reductionProposalDetail.scopeType != 3'>
                                {{product?.planCode || product?.mdCode || product?.ldCode || '--'}}
                              </td>
                              <td>
                                {{product?.itemName || '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.interestUnit || '--'}}
                              </td>
                              <td class='text-center'>
                                {{ product?.interestType ? 'Loại ' + product?.interestType : '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.ratioCost || '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.minimumCost || '--'}}
                              </td>
                              <td class='text-center'>
                                {{ (product?.maximumCost | number) || '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.ratioCostOffer?.toString() || '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.ratioCost ? ((product?.ratioCost - product?.ratioCostOffer) / (product?.ratioCost) * 100 | number) : '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.minimumCostOffer?.toString() || '--'}}
                              </td>
                              <td *ngIf="reductionProposalDetail?.blockCode != 'INDIV'" class='text-center'>
                                {{product?.minimumCost ? ((product?.minimumCost - product?.minimumCostOffer) / (product?.minimumCost) * 100 | number) : '--'}}
                              </td>
                              <td class='text-center'>
                                {{product?.maximumCostOffer?.toString() || '--'}}
                              </td>
                              <td *ngIf="reductionProposalDetail?.blockCode != 'INDIV'" class='text-center'>
                                {{product?.maximumCost ? ((product?.maximumCost - product?.maximumCostOffer) / (product?.maximumCost) * 100 | number) : '--'}}
                              </td>
                            </tr>

                          </ng-template>
                        </p-table>
                      </ng-container>
                    </mat-expansion-panel>
                  </div>

                  <div class='imformation-customer mt-5'
                       *ngIf="this.type === 'report'">
                    <div class='col-md-12'>
                      <div class='row'>
                        <div class='col-md-2 style-pl'>
                          <h5 class='m-0 mb-3'>{{ 'reductionProposal.labels.monthApprove' | translate }}</h5>
                          <p class='comment-text'>(Kể từ ngày phê duyệt)</p>
                        </div>
                        <div class='col-md-6'
                             style='line-height: 32px;'>
                          <span>{{ reductionProposalDetail?.monthApply ? reductionProposalDetail?.monthApply + ' Tháng'
                            : reductionProposalDetail?.type === 0 && reductionProposalDetail?.blockCode === 'INDIV' ? 'Không thời hạn' : '--' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class='imformation-customer mt-5'
                       *ngIf="this.type === 'report'">
                    <div class='col-md-12'>
                      <div class='row'>
                        <div class='col-md-2 style-pl'>
                          <h5 class='m-0 mb-3'>{{ 'reductionProposal.labels.scopeApprove' | translate }}</h5>
                        </div>
                        <div class='col-md-6'>
                          <span>{{ reductionProposalDetail?.lastApprove || '--' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="{{'reductionProposal.tab.appendix' | translate}}">
                  <app-free-discount-annex [customerCode]='reductionProposalDetail?.customerCode'
                                           [searchValue]='reductionProposalDetail'
                                           [mode]='mode.VIEW'></app-free-discount-annex>
                </mat-tab>
                <!--  *ngIf="!isTabManager()" -->
                <mat-tab *ngIf='!isTabManager()'
                         label=" {{'Thông tin phê duyệt' | translate}}">
                  <app-authorization-information [code]='code'></app-authorization-information>
                </mat-tab>
                <mat-tab label="{{'Xác nhận'}}"
                         *ngIf='isConfirm'>
                  <app-confirm-reduction [dataReduction]='reductionProposalDetail'></app-confirm-reduction>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
