.d-flex-end {
  display: flex;
  align-items: flex-end;
  .custom-field {
    flex: 1 1 auto;
  }
}

.list__block {
  overflow-y: auto;
}


.detail-block {
  background: #FFFFFF;
  padding: 1.5rem;
  width: 100%;
  border-radius: 10px;
  overflow: auto;

  .imformation-customer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 8px;

    .text-detail {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      display: flex;
      align-items: center;
      letter-spacing: 0.25px;
      color: #2E2E2E;
    }

    .mr-top {
      margin-top: 7px;
    }

    .style-pl {
      padding-left: 0px;
    }

    .report-text {
      font-weight: 600;
      font-size: 12px;
      display: flex;
      align-items: center;
      line-height: 1.5;
      color: #1c1d21;
      text-align: left;
    }
  }

  .w-120-data {
    width: 120px !important;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .w-120 {
    width: 120px !important;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-110 {
    width: 110px !important;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

   .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .w-160 {
    width: 160px !important;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // .table-container {
  //   max-width: 1172px;
  //   width: 100%;
  //   overflow: auto;
  // }

  .w-220-data {
    width: 220px !important;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
  }

  .align-items-left {
    padding-left: 5px;
    text-align: left;
  }

   .align-items-center {
    align-items: center;
    height: 100%;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .appendix-text {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #2E2E2E;
    word-break: break-word;
    white-space: pre-line;
  }

  .text-right {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #9F9F9F;
  }

  .text-style {
    word-break: break-word;
    white-space: pre-line;
  }

  .border-bottom {
    height: 48px !important;
    border-bottom: 1px solid #ececf2;
  }

  .text-custom-right {
    text-align: right;
  }

  .text-custom-left {
    text-align: left;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .w-210 {
    width: 210px !important;
    max-width: 210px;
    min-width: 210px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-205 {
    width: 205px !important;
    max-width: 205px;
    min-width: 205px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-250 {
    width: 250px !important;
    max-width: 250px;
    min-width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .style-font {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #353644;
    background: #eff2fe;
  }

  .w-410 {
    width: 410px !important;
    max-width: 410px;
    min-width: 410px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .style-width {
    width: 100%;
  }

  th{
    overflow-x: auto;
  }

  .text-credit {
    font-size: 12px;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #1c1d21;
  }

  .text-normal {
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #1c1d21;
  }

  .style-margin {
    margin: 3px;
  }

  .mrg-l {
    margin-left: -15px;
  }

  .detail-style {
    color: #ffffff;
    font-style: italic;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
  }

  .target-detail {
    font-weight: 700;
    font-size: 12px;
  }
  .font-italic {
    font-size: 12px;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .text-appendix {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 1.5;
    color: #1c1d21;
  }

  .mat-expansion-report {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
  }

  .block-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 16px;
    gap: 8px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
  }

  .hyperlink {
    color: #2E2E2E;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        color: #1649ef;
        text-decoration: underline;
    }
  }

  .center-inline {
    display: flex;
    align-items: center;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
    padding: 5px;
  }
  .comment-text{
    position: absolute;
    font-style: italic;
    top: 22px;
  }
}
.mat-tab-label-active{
  font-weight: bold;
}
.style-link {
  color: #1649ef!important;
}
.style-link:hover {
  color: #1649ef!important;
}
::ng-deep .detail-container.border-none .mat-tab-labels{
  border: none;
  width: 100%;
}
