<div class="right-view calendar-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'calendar.title' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</div>
