<div class="right-view">
    <div class="content__top block-center-between">
      <div class="content__top-left block-center">
        <button class="btn btn-small btn--light-blue" (click)="backStep()">
          <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
        </button>
        <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
          <em class="las la-bars"></em>
        </button>
        <h3 class="mb-0 page--title">Phân bổ khách hàng</h3>
      </div>
      <div class="content__top-right"></div>
    </div>
    <div class="content">
      <app-loading *ngIf="isLoading"></app-loading>
      <div class="content-body">
        <div class="content-body__list">
          <div class="card py-4 px-4 mb-3 d-file">
            <div class="d-flex-end">
              <div class="pl-5">
                <!-- <span class="text-red">(Không nhập liệu quá 5000KH trong file)</span> -->
                <label>Chọn file</label>
                <div class="block-center">
                  <div class="upload block-center">
                    <div [class.file-disabled]="isUpload"></div>
                    <input
                      class="upload__input"
                      type="file"
                      accept=".xlsx, .xls"
                      [(ngModel)]="files"
                      (change)="handleFileInput($event.target.files)"
                    />
                    <em class="las la-cloud-upload-alt f-20"></em>
                    <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                    <em class="las la-times f-16"></em>
                  </button>
                  <button
                    class="btn btn-small btn--light-blue ml-3"
                    [class.disabled]="!isFile || isUpload"
                    (click)="importFile()"
                  >
                    <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                  </button>
                  <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                    <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
