<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'system.create' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 mt-3" [formGroup]="form">
      <div class="row">
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.code' | translate }} <span class="text-red">(*)</span></label>
          <input class="form-control" type="text" uppercase formControlName="code" maxlength="50"
            placeholder="{{ 'placeholder' | translate }}" />
          <div *ngIf="form.get('code').errors && form.get('code').touched" class="invalid-tooltip">
            <div *ngIf="form.get('code').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
            <div *ngIf="form.get('code').errors.code">{{ 'validationMessage.code' | translate }}</div>
          </div>
        </div>
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.name' | translate }} <span class="text-red">(*)</span></label>
          <input class="form-control" type="text" formControlName="name" maxlength="200"
            placeholder="{{ 'placeholder' | translate }}" />
          <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && form.get('name').touched"
            class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.value' | translate }} <span class="text-red">(*)</span></label>
          <input class="form-control" type="text" formControlName="value" maxlength="1000"
            placeholder="{{ 'placeholder' | translate }}" />
          <div *ngIf="form.get('value').errors && form.get('value').errors.cusRequired && form.get('value').touched"
            class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.order' | translate }}</label>
          <input class="form-control" type="number" formControlName="orderNum" min="0"
            placeholder="{{ 'placeholder' | translate }}" />
        </div>
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.default' | translate }}</label>
          <label class="checkbox mr-2">
            <input type="checkbox" formControlName="isDefault" />
            <span class="ck"></span>
          </label>
        </div>
        <div class="col-md-12 form-group has-error">
          <label>{{ 'system.fields.description' | translate }}</label>
          <textarea class="form-control" formControlName="description" [maxlength]="200"
            placeholder="{{ 'placeholder' | translate }}"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red mr-4" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
    <button class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.save' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
