@import '../../../../../assets/styles/variable';

.list__block {
  overflow-y: auto;
}

.title-info {
  margin-bottom: 1.75rem;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;
  h5 {
    margin: 0;
    padding-bottom: 5px;
  }
}

.col-fixed {
  max-width: 100%;
  width: 185px;
  padding-right: 10px;
  label {
    margin: 0;
  }
}

// .col-value {
//   font-weight: $font-weight-bold;
//   overflow-y: auto;
//   max-height: 75px;
// }

.p-inputtextarea {
  min-height: 0;
  padding: 0;
  height: auto;
}

.text-error {
  color: red;
}

.text-success {
  color: #2db669 !important;
}

.text-warring {
  color: orange !important;
}
