<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small" (click)="back()">
                <em class="las la-undo f-16"></em> {{
                'btnAction.back' | translate }}
            </button>
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <ng-container *ngIf="!isDetail">
                <h3 class="mb-0 page--title">{{ 'device.list.titleUpdate' | translate }}</h3>
            </ng-container>
            <ng-container *ngIf="isDetail">
                <h3 class="mb-0 page--title">{{ 'device.list.titleDetail' | translate }}</h3>
            </ng-container>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content bg-transparent">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="card p-4 text-left mb-3">
                        <ng-container *ngIf="isDetail">
                            <div class="title-info block-center-between">
                                <h5>{{ 'title.detailInfo' | translate }}</h5>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isDetail">
                            <div class="">
                                <h5></h5>
                            </div>
                        </ng-container>

                        <div [formGroup]="formSearch">
                            <div class="row">
                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.account' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.userName}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.status' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">
                                            <label class="checkbox">
                                                <ng-container *ngIf="isDetail">
                                                    <input disabled="true" formControlName="status" [(ngModel)]="active"
                                                        type="checkbox" placeholder="" />
                                                </ng-container>
                                                <ng-container *ngIf="!isDetail">
                                                    <input formControlName="status" [(ngModel)]="active" type="checkbox"
                                                        placeholder="" />
                                                </ng-container>

                                                <span class="ck"></span>
                                                <span class="ml-3">{{ 'device.list.active' | translate }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>

                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.imei' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.imei ? dataDetail?.imei : ''}}</div>
                                    </div>
                                </div>
                                <ng-container *ngIf="isDetail">
                                    <div class="col-md-4 d-flex form-group">
                                        <div class="col-fixed detail-key"><label>{{ 'device.list.phoneCts' | translate
                                                }}</label></div>
                                        <div class="col">
                                            <div class="text-wrap">{{ dataDetail?.phoneDevice ? dataDetail?.phoneDevice
                                                : ''}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!isDetail">
                                    <div class="col-md-4 d-flex form-group has-error">
                                        <div class="col-fixed detail-key"><label>{{ 'device.list.phoneCts' | translate
                                                }}</label></div>
                                        <div class="col">
                                            <input formControlName="phone" class="form-control" type="text"
                                                maxlength="10" placeholder="{{ 'placeholder' | translate }}" />
                                            <div *ngIf="formSearch.get('phone').errors && formSearch.get('phone').touched"
                                                class="invalid-tooltip">
                                                <div *ngIf="formSearch.get('phone').errors.phoneMobile">{{
                                                    'validationMessage.noPhoneMobile' |
                                                    translate }}</div>
                                            </div>
                                        </div>
                                    </div>

                                </ng-container>
                                <div class="col-md-2"></div>

                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.deviceId' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.deviceId ? dataDetail?.deviceId : ''}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.nameDevice' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.deviceName ? dataDetail?.deviceName : ''}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>

                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.system' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.systemName ? dataDetail?.systemName : ''}}
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.lastDay' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.loginDate ?
                                            formatDateTime(dataDetail?.loginDate) : ''}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>

                                <div class="col-md-4 d-flex form-group">
                                    <div class="col-fixed detail-key"><label>{{ 'device.list.updateBy' | translate
                                            }}</label></div>
                                    <div class="col">
                                        <div class="text-wrap">{{ dataDetail?.updatedBy ? dataDetail?.updatedBy : ''}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <ng-container *ngIf="!isDetail">
                            <div class="text-left btn-action mt-3">
                                <button class="btn btn--light-blue" (click)="save()">{{ 'btnAction.update' | translate
                                    }}</button>
                                <button class="btn btn-light ml-3" (click)="back()">{{ 'btnAction.cancel' | translate
                                    }}</button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
