<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ title }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row col">
    <div class="col-md-12 mt-3" [formGroup]="form">
      <div class="row">
        <div class="col-md-6 form-group has-error">
          <label>Nhãn <span class="text-red">(*)</span></label>
          <input class="form-control" type="text" formControlName="label" />
          <div *ngIf="form.get('label').errors && form.get('label').errors.required && form.get('label').touched"
            class="invalid-tooltip">
            Trường này bắt buộc.
          </div>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Mã</label>
          <input class="form-control" type="text" formControlName="name" />
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Loại trường <span class="text-red">(*)</span></label>
          <select class="form-control selectpicker" data-live-search="false" title="" formControlName="type">
            <option *ngFor="let item of listType" [value]="item.code">{{ item.name }}</option>
          </select>
          <div *ngIf="form.get('type').errors && form.get('type').errors.required && form.get('type').touched"
            class="invalid-tooltip">
            Trường này bắt buộc.
          </div>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Validations</label>
          <select class="form-control selectpicker" data-live-search="true" title="" formControlName="validations">
            <option *ngFor="let item of listValidations" [value]="item.code">{{ item.name }}</option>
          </select>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Input Type</label>
          <div class="form-row mt-3">
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="inputType" value="text">
                <span class="ck"></span>
                <span class="ml-3 radio-label">Text</span>
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="inputType" value="password">
                <span class="ck"></span>
                <span class="ml-3 radio-label">Password</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Date Type</label>
          <div class="form-row mt-3">
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="dateType" value="0">
                <span class="ck"></span>
                <span class="ml-3 radio-label">Chỉ ngày</span>
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="dateType" value="1">
                <span class="ck"></span>
                <span class="ml-3 radio-label">Ngày va giờ</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Options</label>
          <select class="form-control selectpicker" data-live-search="true" title="" formControlName="options">
            <option *ngFor="let item of listOptions" [value]="item.code">{{ item.name }}</option>
          </select>
        </div>
        <div class="col-md-6 form-group has-error">
          <label>Kiểu hiển thị checkbox hoặc radio</label>
          <div class="form-row mt-3">
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="optionColumn" value="1">
                <span class="ck"></span>
                <span class="ml-3 radio-label">1 cột</span>
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio">
                <input type="radio" formControlName="optionColumn" value="2">
                <span class="ck"></span>
                <span class="ml-3 radio-label">2 cột</span>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red mr-4" (click)="closeModal()">Cancel</button>
    <button class="btn btn--light-blue" (click)="save()">Save</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
