<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Chọn sản phẩm bán</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list__block">
    <div class="content__top block-center-between pb-4">
      <div class="content__top-left block-center" [formGroup]="search_form">
        <div class="mr-4">
          <label class="m-0">{{ 'fields.block' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            formControlName="divisionCode"
            [options]="listDivision"
            class="d-block"
            optionLabel="displayName"
            optionValue="code"
            (onChange)="changeDivision($event)"
          >
          </p-dropdown>
        </div>
        <div class="mr-4">
          <label class="m-0">{{ 'fields.levelRM' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            formControlName="rmLevelCode"
            [options]="listLevelRm"
            class="d-block"
            optionLabel="displayName"
            optionValue="code"
            [autoDisplayFirst]="false"
          >
          </p-dropdown>
        </div>

        <div class="mr-4">
          <input
            placeholder="{{ 'btnAction.search' | translate }}"
            type="text"
            class="form-control search-box"
            formControlName="search"
            (keyup.enter)="reload(true)"
            maxlength="200"
          />
        </div>
        <div class="">
          <button class="btn-icon btn-icon--small btn btn-search buttonSearch" (click)="reload()">
            <em class="las la-search f-16"></em>
          </button>
        </div>
      </div>
    </div>

    <div class="table__view user__view">
      <ngx-datatable
        ngxDataTable
        #tablerm
        class="bootstrap fullscreen"
        [messages]="messages"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [virtualization]="false"
        [externalPaging]="true"
        [columnMode]="'force'"
        [rows]="listData"
        [count]="pageable?.totalElements"
        [offset]="pageable?.currentPage"
        [limit]="pageable?.size"
        (page)="paging($event)"
        [footerHeight]="70"
        [headerHeight]="50"
      >
        <ngx-datatable-column
          [width]="40"
          [frozenLeft]="true"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
        >
          <ng-template ngx-datatable-header-template>
            <div class="block-center">
              <label class="checkbox">
                <input
                  type="checkbox"
                  [checked]="checkAll"
                  (click)="onCheckboxRmAllFn($event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="block-center">
              <label class="checkbox">
                <input
                  type="checkbox"
                  [checked]="isChecked(row)"
                  (click)="onCheckboxRmFn(row, $event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [sortable]="false"
          name="{{ 'fields.order' | translate }}"
          [width]="40"
          [canAutoResize]="false"
          [draggable]="false"
        >
          <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="productCode" [sortable]="false" [width]="200" [canAutoResize]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.productCode' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.productCode }}"> {{ row?.productCode }} </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="productName" [sortable]="false" [width]="600" [canAutoResize]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.productName' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.productName }}"> {{ row?.productName }} </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="productGroup" [sortable]="false" [width]="600" [canAutoResize]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.productType' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.productGroup }}"> {{ row?.productGroup }} </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            ngx-datatable-footer-template
          >
            <app-pager-ngx-datatable
              [page]="curPage"
              [offset]="offset"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="false"
              (change)="tablerm.onFooterPage($event)"
            >
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
