<div class="right-view list-templates-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'template.title' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4" [formGroup]="formSearch">
                        <div class="row">
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.templateCode' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" (keyup.enter)="search(true)"
                                    formControlName="code" pInputText />
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.templateName' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" (keyup.enter)="search(true)"
                                    formControlName="name" pInputText />
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.formality' | translate }}</label>
                                <p-dropdown placeholder=" "
                                    emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listFormality" class="d-block" formControlName="formality"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>Category</label>
                                <p-dropdown placeholder=" "
                                    emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listCategories" class="d-block" formControlName="category"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.status' | translate }}</label>
                                <p-dropdown placeholder=" "
                                    emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listStatus" class="d-block" formControlName="status"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.object' | translate }}</label>
                                <p-dropdown placeholder=" "
                                    emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listObjects" class="d-block" formControlName="object"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 row m-0 form-group has-error">
                                <div class="u-col-6">
                                    <label>{{ 'fields.createdDate' | translate }}</label>
                                    <p-calendar class="d-block" formControlName="createdDateFrom" dateFormat="dd/mm/yy"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                        icon="las la-calendar-alt">
                                    </p-calendar>
                                </div>
                                <div class="u-col-6">
                                    <label>{{ 'fields.to' | translate }}</label>
                                    <p-calendar class="d-block" formControlName="createdDateTo" dateFormat="dd/mm/yy"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                        icon="las la-calendar-alt">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="col-md-3 row m-0 form-group has-error">
                                <div class="u-col-6">
                                    <label>{{ 'fields.updatedDate' | translate }}</label>
                                    <p-calendar class="d-block" formControlName="updatedDateFrom" dateFormat="dd/mm/yy"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                        icon="las la-calendar-alt">
                                    </p-calendar>
                                </div>
                                <div class="u-col-6">
                                    <label>{{ 'fields.to' | translate }}</label>
                                    <p-calendar class="d-block" formControlName="updatedDateTo" dateFormat="dd/mm/yy"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                        icon="las la-calendar-alt">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="filter-top__left">
                            <button class="btn btn--light-blue btn-small" (click)="search(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="filter-top__right block-center">
                            <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-2"
                                (click)="create()" title="{{ 'btnAction.create' | translate }}">
                                <em class="las la-plus-circle f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">

                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="35" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                                name="{{ 'fields.templateCode' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                                name="{{ 'fields.templateName' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="formality"
                                name="{{ 'fields.formality' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="object"
                                name="{{ 'fields.object' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="status"
                                name="{{ 'fields.status' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdBy"
                                name="{{ 'fields.createdBy' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createDate"
                                name="{{ 'fields.createdDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedBy"
                                name="{{ 'fields.updatedBy' | translate }}">
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
                                name="{{ 'fields.updatedDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf="objFunction?.update" class="block-center text-center column-action">
                                        <button type="button" class="btn-outline btn--light-blue"
                                            title="{{ 'btnAction.edit' | translate }}"
                                            (click)="update(row);$event.stopPropagation()">
                                            <em class="las la-edit"></em>
                                        </button>
                                        <button type="button" class="btn-outline btn--light-blue"
                                            title="{{ 'btnAction.delete' | translate }}"
                                            (click)="delete(row);$event.stopPropagation()">
                                            <em class="las la-trash-alt"></em>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
