<div class="customer-product-detail-sme">
  <div class="product__list pb-3">
    <div class="product__list-item col" *ngFor="let product of productsType" (click)="scrollTo(product?.groupCode)">
      <div
        *ngIf="!product?.dataProduct?.contractNumber || product?.dataProduct?.contractNumber === 0"
        class="product-disabled"
      ></div>

      <div class="product-item py-4">
        <div class="product-icon">
          <img alt="" [src]="product?.icon" class="img-icon" />
        </div>
        <div class="product-count font-weight-bold">
          <span *ngIf="product?.dataProduct?.contractNumber > 0" class="mr-2">{{
            product?.dataProduct?.contractNumber
          }}</span
          >{{ product?.groupName | translate }}
        </div>

        <div *ngIf="isNotNull(product?.dataProduct?.balance)" class="product-sum">
          {{ 'fields.total' | translate }}: {{ product?.dataProduct?.balance / 1000000 | number: '0.0-2' }} trđ
        </div>
      </div>
    </div>
  </div>

  <div class="product__content">
    <div class="product-table" *ngFor="let product of productsType">
      <app-product-list-type-sme
        *ngIf="product?.dataProduct?.data?.length > 0"
        [data]="product?.dataProduct?.data"
        [type]="product?.groupCode"
        [codeType]="product?.groupCode"
        [resizeWindow]="timeResize"
        [customerCode]="customerCode"
        (loading)="showLoading($event)"
        [title]="product?.groupName"
        [rsId]="objFunction?.rsId"
      >
      </app-product-list-type-sme>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
