<!-- <div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'fields.process_result' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body process-history">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="list__block">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
      <mat-tab label="{{ 'fields.email_list' | translate }}">
        <process-history-detail></process-history-detail>
      </mat-tab>
      <mat-tab label="{{ 'fields.sms_list' | translate }}">
        <process-history-detail></process-history-detail>
      </mat-tab>
      <mat-tab label="{{ 'fields.notify_list' | translate }}">
        <process-history-detail></process-history-detail>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="close()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading> -->


<div class="modal-header pb-4">
  <div class="block-center-between">
    <h5 class="m-0">{{ 'fields.process_result' | translate}}</h5>
  </div>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body process-history">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="list__block">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
      <mat-tab label="{{ 'fields.email_list' | translate }}">
        <process-history-detail *ngIf="tab_index === 0"></process-history-detail>
      </mat-tab>
      <mat-tab label="{{ 'fields.sms_list' | translate }}">
        <process-history-detail *ngIf="tab_index === 1"></process-history-detail>
      </mat-tab>
      <mat-tab label="{{ 'fields.notify_list' | translate }}">
        <process-history-detail *ngIf="tab_index === 2"></process-history-detail>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="close()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>