.btn-light {
  color: $blue;
}
.btn-search {
  background: $app-blue !important;
  color: $white !important;
}
.btn-refuse {
  background: $red !important;
  color: $white !important;
}
.btn-small {
  height: 36px;
  padding: 5px 15px;
}
.btn {
  //font-size: 1.4rem;
  box-shadow: none !important;
  font-weight: 600;
  & + .btn {
    margin-left: 1rem;
  }
  &-small {
    &.disabled {
      border-radius: 4px;
    }
  }
  &.d-block {
    width: 100%;
  }
  &.active {
    color: white;
    background: $blue;
    border-color: $blue;
  }
  &[disabled],
  .disabled {
    background: #f6f6f6;
    border-color: #f6f6f6;
    color: $gray-900;
  }
  &:hover {
    background: $hover-color !important;
    border-color: $hover-color !important;
    color: white !important;
  }
  &:active {
    color: $blue !important;
    background: $app-blue !important;
    border-color: $app-blue !important;
  }
  &--red {
    background: $red;
    color: white;
    border-color: $red;
  }
  &--red-new {
    background: $white;
    color: #EB2959;
    border-color: $red;
  }
  &--green {
    background: $green;
    color: white;
    border-color: $green;
  }
  &--yellow {
    background: $yellow;
    color: white;
    border-color: $yellow;
  }
  &--purple {
    background: $purple;
    color: white;
    border-color: $purple;
  }
  &--light-blue {
    background: $app-blue !important;
    color: $white !important;
    border-color: transparent !important;
  }
  &--light-grey {
    background: #EFF2FE !important;
    border-color: #EFF2FE !important;
    width: 93px;
  }
}

.btn-lg {
  border-radius: $border-radius;
  font-size: 1.4rem;
  padding: 11px 20px;
}

.btn-outline {
  color: inherit;
  background: none;
  border: 1px solid #ececf2;
  border-radius: $border-radius;
  height: 36px;
  min-width: 36px;
  line-height: 1;
  box-shadow: none !important;
  & + .btn-outline {
    margin-left: 5px;
  }
  &--sm {
    border-radius: 6px;
  }
  &.medium {
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.btn-outline--danger {
  background: rgba(255, 66, 113, 0.1)!important;
  border: 1px solid #EB2959!important;
  min-width: 42px;
  border-radius: $border-radius;
  height: 36px;
  line-height: 1;
}
.btn-outline--active {
  background: rgba(0, 161, 107, 0.1);
  border: 1px solid #00A16B;
  min-width: 42px;
  border-radius: $border-radius;
  height: 36px;
  line-height: 1;
}

.btn-outline--warning {
  background: rgba(250, 162, 27, 0.1);
  border: 1px solid #FAA21B;
  min-width: 42px;
  border-radius: $border-radius;
  height: 36px;
  line-height: 1;
}

.btn-outline--gray {
  background: #F3F3F3;
  border: 1px solid #9B9B9B;
  min-width: 42px;
  border-radius: $border-radius;
  height: 36px;
  line-height: 1;
}

.btn-outline-secondary {
  border: 1px solid #ececf2;
  color: inherit;
}

.btn-outline-primary {
  &:hover {
    background: white !important;
    border-color: $primary !important;
    color: $headings-color !important;
  }
  &:active {
    background: white !important;
    border-color: #ececf2 !important;
    color: $body-color !important;
  }
}

.btn-icon {
  text-align: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none !important;
  background: none;
  box-shadow: none;
  display: inline-flex;
  @include justify-content(center);
  @include align-items(center);
  font-size: inherit;
  &--medium {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 10px;
  }
  &--small {
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    padding: 5px 5px;
    &.xs {
      width: 42px;
      height: 42px;
      line-height: 42px;
    }
    &:after {
      display: none;
    }
  }

  &-green {
    background: #58cf8d;
    color: $white;
  }
}

.btn-tab {
  height: 42px;
  font-weight: bold;
  border-radius: $border-radius;
  padding: 5px 18px;
  border: none;
  background: white;
  color: $body-color;
  cursor: pointer;
  &.active {
    color: $headings-color;
    border: 1px solid $gray-700;
  }
  &--primary {
    &.active {
      background: $primary;
      color: white;
    }
  }
  &--blue {
    background: $app-blue;
    color: $blue;
    border-color: $app-blue;
  }
  &:hover {
    background: $app-blue;
    color: $blue;
    border-color: $app-blue;
  }
}

.btn-process-block {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;

  button {
    margin-right: 5px;
    padding: 5px 30px;
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-arrow-right,
.btn-arrow-left {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}
.btn-arrow-right {
  padding-left: 36px;
}
.btn-arrow-left {
  padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
  content: '';
  position: absolute;
  top: 3px;
  width: 23px;
  height: 21px;
  background: inherit;
  border: 0;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 4px 0px 0px;
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
  transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before {
  /* align the "before" square to the left */
  left: -13px;
}
.btn-arrow-right:after,
.btn-arrow-left:after {
  /* align the "after" square to the right */
  right: -12px;
}
.btn-arrow-right:after,
.btn-arrow-left:before {
  /* bring arrow pointers to front */
  z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after {
  /* hide arrow tails background */
  background-color: white;
}
.btn-small-p {
  height: 36px;
  padding: 5px 15px !important;
}
.btn-export-excel {
  background: #EFF2FE;
  border: 1px solid #EBEBEB;
}
