.card {
  margin-bottom: 14px;
  text-align: center;
  border-radius: 12px;
  //border: 1px solid #eeeeee;
  border: none;
  box-shadow: none;
  &__avatar {
    margin: 0 auto 10px;
    max-width: 66px;
    position: relative;
    .status {
      position: absolute;
      bottom: -2px;
      right: -2px;
    }
    img {
      border-radius: 8px;
    }
  }
  &__name {
    margin: 0 0;
  }
  &__price {
    padding: 8px 10px;
    background: $gray-800;
    border-radius: 8px;
    float: right;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -5px;
    & + * {
      clear: both;
    }
  }
  &__top {
    .progress {
      width: 38px;
    }
  }
  &__logo {
    width: 64px;
    height: 64px;
    text-align: center;
    display: flex;
    margin: 0 auto 15px;
    justify-content: center;
    align-items: center;
    background: $gray-700;
    border-radius: 6px;
    em {
      font-size: 30px;
    }
  }
  &__progress {
    color: $headings-color;
    padding: 20px 0;
    .progress {
      margin-top: 5px;
    }
  }
  &__progress-percent {
    font-weight: bold;
  }
}

.card-body {
  padding: 16px;
  &--md {
    padding: 15px;
  }
}

.card-footer {
  background: none;
  padding: 0;
  &__btn {
    font-weight: 900;
    text-transform: uppercase;
    color: $headings-color;
    font-size: 12px;
    width: 50%;
    background: none;
    border-radius: 0;
    padding: 16px 15px;
    border: none;
    &.left {
      border-right: 1px solid $card-border-color;
    }
  }
  em {
    margin-right: 5px;
    font-size: 18px;
  }
}
