.chart {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  &__header {
    // padding-bottom: 1.5rem;
  }
  &__body {
    flex: 1 1 auto;
  }
  &__legend {
    // padding-top: 1.5rem;
    ul {
      margin: 0;
      list-style: none;
      padding: 0px 10px !important;
      & > li {
        .legend-bage {
          width: 20px;
          height: 10px;
          margin-right: 8px;
          display: inline-block;
        }
      }
    }

    &-left {
      display: flex;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
    }
  }
  &__empty {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
