label {
  font-size: inherit;
  color: inherit;
  margin: 0 0 10px;
}

.form-group {
  margin-bottom: 30px;
  &__icon {
    position: relative;
    &.left {
      em {
        right: auto;
        left: 0;
      }
      input {
        padding-left: 30px;
      }
    }
    input {
      padding-right: 30px !important;
      &:focus {
        & + em {
          color: #1c1d21;
        }
      }
    }
    em {
      font-size: 20px;
      right: 6px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
    }
  }
  &.has-error {
    input {
      padding-left: 12px;
    }
    .la-info-circle {
      left: auto;
      right: 0;
    }
  }
  &.has-valid {
    input {
      padding-left: 0;
    }
    .la-check {
      left: auto;
      right: 0;
    }
  }
}
.form-control {
  padding: 10px 0;
  border: 1px solid $gray-400;
  box-shadow: none !important;
  @include placeholder(#c0c0e9);
  &.no-border {
    border: none !important;
  }
  &.is-invalid {
    border-color: $red;
  }
  &.is-valid {
    border-color: $green;
  }
  &::placeholder {
    font-style: unset;
    font-size: 1.1rem;
  }
  &:disabled {
    position: relative;

    &::after {
      content: '\f05e';
      display: block;
      position: absolute;
      top: 5px;
      right: 20px;
    }
  }
}
.upload {
  position: relative;
  cursor: pointer;
  &__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 30px;
  }
  &__label {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #bbbbfd;

  }
  em {
    color: #bbbbfd;
  }
}
.checkbox,
.radio {
  margin: 0;
  @include checkbox();
}
.radio {
  margin: 0;
  @include radio();
}
