.fc-event,
.fc-event-dot {
  background-color: #fff0;
}

.fc-event {
  border: none;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.event-done {
  .fc-event-time {
    text-decoration: line-through !important;
  }
  .fc-event-title {
    text-decoration: line-through !important;
  }
}

.fc-event-main {
  color: $black !important;
}

.fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fc-event {
  cursor: pointer;
}

// .fc-scrollgrid tr {
//   height: 50px;
// }
