.gridster {
  background: #0000 !important;
  .gridster-item {
    // background: #fff0 !important;
    border-radius: 8px;
  }
  .gridster__item-body {
    width: 100%;
    height: 100%;
  }
  .gridster__item-content {
    width: 100%;
    height: 100%;
  }
}
