.left-bar {
  // min-height: 80vh;
  // margin: 40px 0;

  // @media only screen and (max-width: 1600px) {
  margin: 25px 0;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0;
  scrollbar-width: none;
  // }
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .nav-item {
    // margin-bottom: 15px;
  }
  .nav-link {
    color: $body-color;
    // text-align: center;
    text-align: left;
    padding: 10px 5px;
    // border-radius: 4px;
    @include flexbox;
    @include align-items(center);
    position: relative;
    cursor: pointer;
    display: flex!important;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    .status {
      position: absolute;
      top: 12px;
      left: 24px;
      .show-sidebar & {
        left: 6px;
      }
    }
    em {
      background-color: #FFFFFF !important;
      opacity: 0.8;
      font-size: 25px;
      margin: 0;
      margin-right: 10px;
    }
    &:hover {
      background: #bbbbfd;
      span {
        color: #FFFFFF !important;
      }
      em {
        background-color: #FFFFFF !important ;
      }
    }
    // span {
    //   display: none;
    //   font-weight: bold;
    // }
  }
  & > .nav-item {
    & > .nav-link {
      &.active {
        background: #bbbbfd !important;
        // border-radius: 4px;
        position: relative;
        &:after {
          width: 3px;
          height: 60%;
          position: absolute;
          // right: -11px;
          background: #fff !important;
          z-index: 1;
          top: 20%;
          // border-radius: 4px;
          content: '';

          // @media only screen and (max-width: 1600px) {
          right: 0px;
          // }
        }
        em {
          color: #fff !important;
          background-color: #fff !important;
        }
        span {
          // color: $headings-color;
          color: #fff !important;
        }

        @media only screen and (max-width: 1600px) {
          min-height: 41px;
          right: 0;
        }
      }
    }
  }

  .sub-nav {
    .nav-link {
      // @include justify-content(left);
      @include justify-content(flex-end);
    }
    .nav-item {
      direction: rtl;
    }
  }
}

.profile {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  align-items: center;

  strong {
    margin-left: 20px;
  }
  &__avatar {
    position: relative;
    width: 32px;
    display: block;
    height: 32px;
    margin: 0;
    margin-right: 10px;
    margin-left: 14px;
    .status {
      position: absolute;
      bottom: -2px;
      right: -2px;
    }
    img {
      border-radius: 4px;
    }
  }
}

.profile-select {
  // padding: 0 0 24px;
  position: relative;

  // @media only screen and (max-width: 1600px) {
  padding: 0 0 8px;
  // }

  &:after {
    content: '';
    // left: -18px;
    bottom: 0;
    position: absolute;
    height: 1px;
    // width: calc(100% + 36px);
    background: $border;

    // @media only screen and (max-width: 1600px) {
    left: -10px;
    width: calc(100% + 20px);
    // }
  }
}
.boxes {
  min-height: 54vh;
}

//----------------show sidebar-----------------------//
.show-sidebar {
  // .app__left-bar {
  //   width: auto;
  //   text-align: left;
  // }
  // .logo {
  //   @include flexbox;
  //   @include align-items(center);
  //   strong {
  //     display: block!important;
  //     margin-left: 20px;
  //   }
  // }
  // .left-bar .nav-link {
  //   @include justify-content(flex-start);
  //   span {
  //     display: block!important;
  //     margin-left: 20px;
  //   }
  // }
  // .profile {
  //   .d-none {
  //     display: block!important;
  //     margin-left: 20px;
  //   }
  // }
  .app__left-content {
    // padding: 24px 18px;
    // width: 282px;
    opacity: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-300;

    // @media only screen and (max-width: 1600px) {
    width: 234px;
    padding: 10px 8px;
    // }
  }
}
