.mat-tab-label {
  line-height: 36px;
  font-size: 12px;
  min-width: 70px !important;
}

.mat-tab-label-active {
  background: #bbbbfd;
  opacity: 1;
  color: #fff;
  border-radius: 8px;
  border-bottom: none !important;
}
mat-ink-bar.mat-ink-bar {
  display: none;
}
.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}

.mat-tab-label {
  height: 40px !important;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 1 !important;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.vh-100 {
  height: 100vh;
}

.body::-webkit-scrollbar {
  display: none;
  width: 0;
}
