.cdk-overlay-container {
  position: fixed;
  z-index: 9050;
}
.owl-dt-inline-container,
.owl-dt-popup-container {
  width: 25.5em;
  .owl-dt-calendar {
    height: auto;
  }
}
.owl-dt-control-button {
  font-size: 1.5em;
}
.owl-dt-calendar-table {
  //   font-size: 1.2rem !important;
  .owl-dt-calendar-header {
    .owl-dt-weekdays > th {
      font-size: 1.2em;
    }
  }
  .owl-dt-calendar-cell-content {
    font-size: 1.2em;
  }
}
.owl-dt-container-row {
  &:last-child {
    padding: 0.5em;
  }
}
.owl-dt-container-buttons {
  height: auto;
}
.owl-dt-timer {
  height: auto;
}
