// ngx-select {
//   align-items: center;
//   display: flex !important;
//   width: 100%;
// }
.ngx-select {
  flex: 1 1 auto;
  max-width: 100%;
  .ngx-select__toggle {
    height: 36px;
    padding: 5px 0;
    padding-left: 12px;
    box-sizing: border-box;
    border: 1px solid $gray-400 !important ;
    border-radius: 4px;
    line-height: 56px;

    &.btn {
      &:hover {
        background: none !important;

        color: $black !important;
      }
    }
  }

  .ngx-select__placeholder {
    color: #c0c0e9 !important;
    font-size: 11px !important;

    & span {
      font-style: italic;
    }
  }

  &.ngx-select_multiple {
    .ngx-select__selected {
      position: relative;
      flex-flow: row wrap;
      display: flex;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
      max-height: 98px;
    }

    .ngx-select__selected-plural {
      color: $gray-900;
      border-radius: 8px;
      background: $gray-800;
      font-weight: 400;
      border: none;
      margin: 0 8px 8px 0;
      padding: 0.6rem 0.8rem;

      &:hover {
        background: $gray-900 !important;
      }
    }

    .ngx-select__clear-icon {
      &:before,
      &:after {
        border-top: 1px solid;
      }
    }
  }
}

.ngx-select__item.dropdown-item {
  margin-left: -15px !important;
  min-width: 250px !important;
}

ul.ngx-select__choices.dropdown-menu.ng-star-inserted.show {
  border-radius: 0.5px !important;
}
