@import '~@swimlane/ngx-datatable/index.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable {
  display: block;
  overflow: hidden;
  justify-content: center;
  position: relative;
  transform: translateZ(0);
  .datatable-header {
    background: $gray-100;
    display: flex !important;
    align-items: center;

    .datatable-header-inner {
      .datatable-row-left,
      .datatable-row-right {
        background-color: #eff2fe;
      }

      .datatable-header-cell-template-wrap {
        text-align: left;
        line-height: 30px;
        background: #eff2fe;
        font-weight: 700;
        overflow: hidden;
      }
    }
  }
  .datatable-body {
    width: auto !important;
    .datatable-body-cell {
      display: flex !important;
      align-items: center;
      padding: 0 0 0 1rem;
      overflow-x: visible;
      overflow-y: visible;
    }
    .datatable-body-cell-label {
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      p-editor span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: unset;
      }
    }
    .datatable-scroll {
      width: 100% !important;
    }
    .datatable-body-row {
      min-height: 48px;
      //height: 48px !important;
      border-bottom: 1px solid #ececf2;
      &:hover {
        width: 100% !important;
        background-color: $gray-800 !important;
        color: $body-color;
        cursor: pointer;
        .datatable-body-cell.sort-active {
          background-color: $gray-800;
        }
      }
      &.active {
        background-color: #84a0ff;
        color: $white;
      }
    }
    .datatable-tree-button {
      background: $app-blue;
      border: none;
      border-radius: 6px;
      width: 40px;
      min-width: 40px;
      height: 40px;
      i {
        font-size: 22px;
        color: $white;
        line-height: 2;
      }
      em {
        font-size: 22px;
        color: $gray-900;
        line-height: 2;
      }
    }
    .datatable-row-center {
      align-items: center;
    }
    .empty-row {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  .datatable-body-cell-label {
    display: flex;
    align-items: center;
    text-align: left;
    span {
      white-space: normal;
      word-break: break-word;
    }
  }
  .datatable-header-cell-label {
    font-weight: 700;
  }
  .datatable-body-row {
    min-height: 52px;
    //height: 48px !important;

    &:hover {
      background-color: $gray-800 !important;
      color: $body-color;

      .datatable-row-right {
        .datatable-body-cell.sort-active {
          //height: 48px !important;
        }
      }

      .datatable-body-cell.sort-active {
        //height: 48px !important;
      }
    }
    &.active {
      background-color: $blue;
      color: $white;

      .datatable-body-cell.sort-active {
        height: 48px !important;
        background: $blue !important;
        color: $white;
      }
    }
  }
  .datatable-tree-button {
    background: $app-blue;
    border: none;
    border-radius: 6px;
    width: 36px !important;
    height: 36px !important;
    min-width: 36px !important;

    i {
      font-size: 22px;
      color: $gray-900;
      line-height: 1.5 !important;
      &::before {
        line-height: 1.5 !important;
      }
    }
    em {
      font-size: 22px;
      color: $gray-900;
      line-height: 1.5 !important;
      &::before {
        line-height: 1.5 !important;
      }
    }
  }
  .datatable-row-center {
    align-items: center;
  }
  .datatable-row-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .datatable-footer {
    background: transparent;
    color: $body-color;
  }

  .datatable-row-left {
    align-items: center;
    display: flex;
    background-color: $white;
  }
}

.ngx-datatable.header-center .datatable-header .datatable-header-cell-template-wrap {
  text-align: center;
}

.ngx-datatable.bootstrap-non-fixed-height {
  font-size: 1.2rem;
  box-shadow: none;
  .datatable-header {
    .datatable-header-cell {
      vertical-align: bottom;
      padding: 0.75rem;
      border-bottom: none;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: none;
      &.datatable-row-even {
        background-color: $white;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
      &.row-pending {
        background-color: $gray-700;
        .datatable-row-right {
          .datatable-body-cell {
            background-color: $gray-700;
          }
        }
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
      .datatable-row-right {
        transform: none !important;
        position: sticky !important;
        right: 0 !important;
        // .datatable-body-cell {
        //   position: absolute;
        //   right: -8px;
        //   left: 0px;
        //   bottom: 0;
        //   min-width: 108px !important;
        // }
      }
    }
    .column-action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: $white;
    color: initial;
    margin-top: -1px;
    .page-count {
      padding: 10px;
      line-height: 50px;
      height: 50px;
    }
    .datatable-pager {
      margin: 0px 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 10px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: $gray-800;
                background-color: #fff0;
                font-weight: initial;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        // vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }
  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
  .datatable-row-right {
    .datatable-body-cell {
      &:last-child {
        .datatable-body-cell-label {
          // text-align: center;
          .block-center {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .btn-outline {
    border: 1px solid $gray-400 !important;
    em {
      font-size: 1.6rem;
    }
    &:hover {
      background-color: $gray-100;
    }
  }
}

.datatable-row-wrapper {
  .datatable-row-right {
    .datatable-body-cell.sort-active {
      //height: 48px !important;
      background: $white;
      color: $body-color;
      border-bottom: 1px solid #ececf2;
    }
    .action-shell {
      .dropdown-menu {
        z-index: 99;
      }
    }
  }
}

/*
bootstrap table theme
*/

.ngx-datatable.bootstrap {
  font-size: 1.2rem;
  box-shadow: none;
  .datatable-header {
    height: 40px !important;
    .datatable-header-cell {
      vertical-align: bottom;
      padding: 0.75rem;
      border-bottom: none;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: none;
      &.datatable-row-even {
        background-color: $white;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
      &.row-pending {
        background-color: $gray-700;
        .datatable-row-right {
          .datatable-body-cell {
            background-color: $gray-700;
          }
        }
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
      .datatable-row-right {
        transform: none !important;
        position: sticky !important;
        right: 0 !important;
        // .datatable-body-cell {
        //   position: absolute;
        //   right: -8px;
        //   left: 0px;
        //   bottom: 0;
        //   min-width: 108px !important;
        // }
      }
    }
    .column-action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: $white;
    color: initial;
    margin-top: -1px;
    .page-count {
      padding: 10px;
      line-height: 50px;
      height: 50px;
    }
    .datatable-pager {
      margin: 0px 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 10px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: $gray-800;
                background-color: #fff0;
                font-weight: initial;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        // vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }
  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
  .datatable-row-right {
    .datatable-body-cell {
      &:last-child {
        .datatable-body-cell-label {
          // text-align: center;
          .block-center {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .btn-outline {
    border: 1px solid $gray-400 !important;
    em {
      font-size: 1.6rem;
    }
    &:hover {
      background-color: $gray-100;
    }
  }
}

.ngx-datatable.custom-header {
  font-size: 1.2rem;
  box-shadow: none;
  .datatable-header {
    height: 65px !important;
    .datatable-header-cell {
      vertical-align: bottom;
      border-bottom: none;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: none;
      &.datatable-row-even {
        background-color: $white;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
      &.row-pending {
        background-color: $gray-700;
        .datatable-row-right {
          .datatable-body-cell {
            background-color: $gray-700;
          }
        }
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
      .datatable-row-right {
        transform: none !important;
        position: sticky !important;
        right: 0 !important;
        // .datatable-body-cell {
        //   position: absolute;
        //   right: -8px;
        //   left: 0px;
        //   bottom: 0;
        //   min-width: 108px !important;
        // }
      }
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: $white;
    color: initial;
    margin-top: -1px;
    .page-count {
      padding: 10px;
      line-height: 50px;
      height: 50px;
    }
    .datatable-pager {
      margin: 0px 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 10px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: $gray-800;
                background-color: #fff0;
                font-weight: initial;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        // vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }
  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
  .btn-outline {
    border: 1px solid $gray-400 !important;
  }
}
.resize-handle {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #bbbbfd;
    right: 40%;
    top: 10%;
    height: 80%;
  }
}
/* hightlight Table
.datatable-scroll {
  .datatable-row-wrapper:nth-child(2n) {
    .datatable-body-cell {
      background-color: #eff2fe;
    }
  }
} */
.datatable-row-center {
  .datatable-header-cell {
    &:first-child {
      min-width: 50px;
    }
  }
}

.datatable-row-center {
  .datatable-body-cell {
    &:first-child {
      min-width: 50px;
    }
  }
}


.ngx-datatable.custom-header-100 {
  font-size: 1.2rem;
  box-shadow: none;
  .datatable-header {
    height: 100px !important;
    .datatable-header-cell {
      vertical-align: bottom;
      border-bottom: none;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: none;
      &.datatable-row-even {
        background-color: $white;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
      &.row-pending {
        background-color: $gray-700;
        .datatable-row-right {
          .datatable-body-cell {
            background-color: $gray-700;
          }
        }
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
      .datatable-row-right {
        transform: none !important;
        position: sticky !important;
        right: 0 !important;
        // .datatable-body-cell {
        //   position: absolute;
        //   right: -8px;
        //   left: 0px;
        //   bottom: 0;
        //   min-width: 108px !important;
        // }
      }
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: $white;
    color: initial;
    margin-top: -1px;
    .page-count {
      padding: 10px;
      line-height: 50px;
      height: 50px;
    }
    .datatable-pager {
      margin: 0px 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 10px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: $gray-800;
                background-color: #fff0;
                font-weight: initial;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        // vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }
  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
  .btn-outline {
    border: 1px solid $gray-400 !important;
  }
}
