.empty-content {
  height: 100%;
  text-align: center;
  padding: 20px;
  // min-height: calc(100vh - 100px);
  &__img {
    margin-bottom: 30px;
    @include min-768 {
      // max-width: 540px;
      max-width: 30%;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__btn {
    margin-top: 35px;
    min-width: 178px;
  }
}
