.pagination-container {
  margin: 20px 0 0;
}
.page-link {
  font-weight: bold;
  padding: 8px 13px;
  border-radius: $border-radius;
  margin: 0 4px;
  background: $gray-800;
  color: $headings-color;
  border-color: $gray-800;
  &:hover {
    background: $primary;
    color: white;
    border-color: $primary;
  }
}
.page-item {
  &.active {
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: $primary;
      bottom: -15px;
      left: 0;
      position: absolute;
    }
    .page-link {
      background: $gray-100;
      color: $primary;
      border-color: $gray-100;
    }
  }
  &.next,
  &.prev {
    .page-link {
      &:hover {
        color: white;
      }
      color: $body-color;
      font-size: 12px;
    }
    i {
      font-size: 14px;
    }
  }
}

.pagination {
  padding: 0 90px;
  position: relative;
  .next,
  .prev {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    left: 0;
  }
  .next {
    left: auto;
    right: 0;
  }
}
