.p-component {
  margin: 0;
  font-family: $font-family-base;
  font-size: 1.2rem;
  font-weight: 400;
  .p-chip-text {
    color: $black;
  }
}

.kpi-standard-rm {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-standard-cbql {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-standard-cbql-import {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-assignment-rm-update {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-assignment-cbql-update {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-standard-cbql-detail {
  .p-dropdown {
    min-width: auto;
  }
}

.kpi-assignment-receive {
  .p-dropdown {
    min-width: auto;
  }
}

.p-cascadeselect {
  width: 100%;
  height: 36px;
  border: 1px solid $input-border-color;

  .p-cascadeselect-panel {
    max-width: 100%;
  }

  .p-cascadeselect-label {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: $font-weight-bold;
  }
}

.p-error {
  display: block;
  padding: 0 5px;
}

.p-dropdown {
  height: 36px;
  min-width: 160px;
}

.p-dropdown,
.p-multiselect {
  height: 36px;
  width: 100%;
  border: 1px solid $input-border-color;
}

.p-inputgroup- .p-dropdown {
  min-width: 14rem;
  width: 100%;
  border: 1px solid $input-border-color;
}
.p-inputtext {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  border: 1px solid $input-border-color;
  font-size: 1.2rem;
  height: 36px;
  width: 100%;
  &::placeholder {
    font-style: italic;
    font-size: 1.1rem;
    color: #c0c0e9 !important;
  }
  &:hover {
    border-color: $primary !important;
  }
  &:enabled:focus {
    box-shadow: none;
    border-color: $primary;
  }

  &.ng-dirty.ng-invalid {
    border: 1px solid $input-border-color;
  }
}

.p-inputtextarea {
  min-height: 85px;
}

.p-inputgroup-addon {
  width: 36px;
}

.p-inputgroup {
  .p-button {
    &.p-button-icon-only {
      width: 36px;
    }
  }

  .p-inputgroup-dropdown-left .p-dropdown {
    background: $gray-100;
    border: none;
    // border-right: 1px solid $gray-400;
    border-radius: 4px 0 0 4px;
  }

  .p-inputgroup-dropdown-right .p-dropdown {
    background: $gray-100;
    border: none;
    // border-left: 1px solid $gray-400;
    border-radius: 0 4px 4px 0;
  }

  .p-inputnumber-parent:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .p-inputnumber-parent {
    border: 1px solid $input-border-color;
    flex: 1 1 auto;
    width: 1%;
    .p-inputnumber {
      width: 100%;
      .p-inputnumber-input {
        border: none;
      }
    }
  }
}

.p-button:enabled:hover {
  background: $primary;
  color: $black;
  border-color: $primary;
}

.p-calendar {
  .p-button {
    background: $primary;
    border: 1px solid $primary;
    &.p-button-icon-only {
      width: 36px;
      height: 36px;
      font-size: 2rem;
      padding: 0;
      &.p-button-rounded {
        height: 36px;
      }
    }
    &:enabled:hover {
      background: $primary;
      border: 1px solid $primary;
    }
  }
}
.p-calendar > .p-inputtext {
  border: 1px solid $input-border-color !important;
}

.p-dropdown-label,
.p-multiselect-label {
  box-sizing: border-box;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  font-weight: $font-weight-bold;
}

.p-multiselect {
  border: 1px solid $input-border-color !important;
}

.p-avatar {
  &.p-avatar-lg {
    width: 4rem;
    height: 4rem;
    font-size: 1.75rem;
    .p-avatar-icon {
      font-size: 1.75rem;
    }
  }
}

.p-calendar {
  width: 100%;
}

.p-calendar .p-datepicker-touch-ui,
.p-datepicker-touch-ui {
  min-width: 38vw !important;
}

.p-datepicker table th {
  text-align: center;
}

//table start
.p-datatable .p-datatable-thead > tr > th {
  height: 40px;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0rem 1rem;
  height: 50px;
}
//table end

//SonLQ start
.p-datatable .p-datatable-thead > tr > th {
  border: 1px solid #ffffff;
  color: #1c1d21;
  background: #eff2fe;
}
.p-datatable .p-datatable-tbody > tr > td {
  border: none;
  border-bottom: 1px solid #e9ecef;
}
.p-datatable-scrollable-header-box {
  background: #eff2fe;
}
//end
// p-table start
.p-datatable-resizable .p-datatable-tbody > tr > td,
.p-datatable-resizable .p-datatable-tfoot > tr > td,
.p-datatable-resizable .p-datatable-thead > tr > th {
  text-overflow: ellipsis;
}
// p-table end
.p-monthpicker {
  white-space: pre-wrap;
}

.p-table-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// tree table
.p-treetable .p-treetable-thead > tr > th {
  border: 1px solid #fff;
  color: #1c1d21;
  background: #eff2fe;
}
