.progress {
  border-radius: 3px;
  background: #dee2e6;
  height: 4px;
  &--red {
    .progress-bar {
      background: $red !important;
    }
  }
  &--yellow {
    .progress-bar {
      background: $yellow !important;
    }
  }
  &--blue {
    .progress-bar {
      background: $blue !important;
    }
  }

  &--green {
    .progress-bar {
      background: $green !important;
    }
  }
}
