.switch {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  height: 22px;
  margin: 0;
  user-select: none;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    & + .slider {
      & + .switch__label {
        opacity: 0.7;
      }
    }
    &:checked + .slider {
      background-color: $primary;
      & + .switch__label {
        color: $headings-color;
      }
      &:before {
        @include translateX(17px);
        background: white;
      }
    }
    &:disabled + .slider {
      opacity: 0.7;
    }

    &.is-invalid {
      + .slider {
        background: $red;
        &:before {
          background: white;
        }
        & + .switch__label {
          color: $red;
        }
      }
    }
    &.is-valid {
      + .slider {
        background: $green;
        &:before {
          background: white;
        }
        & + .switch__label {
          color: $green;
        }
      }
    }
  }
  .slider {
    width: 40px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    &:before {
      border-radius: 50%;
      background: #98a9ab;
    }

    &:before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}
