/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
  border-bottom: 1px solid $input-border-color;
  display: inline-block;
  position: relative;
  padding: 0 20px 6px 0;
  vertical-align: middle;
  width: 100%;
  cursor: text;
  &:before {
    //font-family: 'Line Awesome Free'!important;
    //content: "\f067";
    //right:0;
    //top: 10px;
    //position: absolute;
  }
  input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
    @include placeholder($input-alt-color-placeholder);
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .badge {
    margin: 2px 2px 0 2px;
    padding: 10px 8px 10px 14px;
    color: inherit;
    background: $gray-800;
    border-radius: $border-radius;
    span[data-role='remove']:after {
      margin-left: 4px;
      cursor: pointer;
      // font-family: 'Line Awesome Free';
      content: '\f00d';
    }
  }
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.blue-violet-tag {
  color: #141ED2;
  background: rgba(49, 66, 212, 0.1);
}

.purple-tag {
  color: #5D3BFC;
  background: rgba(180, 165, 250, 0.1);
}

.light-sky-blue-tag {
  color: #0F78D7;
  background: rgba(160, 210, 255, 0.1);
}

.orange-tag {
  color: #FF821E;
  background: rgba(255, 130, 30, 0.2);
}

.red-tag {
  color: #EB2D4B;
  background: rgba(235, 45, 75, 0.1);
}

.brown-tag {
  color: #FF6347;
  background: rgba(235, 45, 75, 0.1);
}