<div class="modal-header pb-4">
	<div class="block-center-between">
		<div class="">
			<h5 class="m-0">{{ params.kpiItemName }}</h5>
		</div>
	</div>
	<button type="button" class="close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="content-body">
	<div class="content-body__list">
		<div class="list__block">
			<div class="px-4 mt-3">
				<div class="row" [formGroup]="formSearch">

					<div class="col-md-4 form-group">
						<label>{{ 'kpi.fields.block' | translate }} <span class="text-red">(*)</span></label>
						<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
							[options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
							appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
						</p-dropdown>
						<small class="p-error"
							*ngIf="formSearch.controls?.blockCode?.errors?.cusRequired && formSearch.controls?.blockCode?.touched">{{
							'validationMessage.required' |
							translate }}</small>
					</div>

					<div class="col-md-4 form-group">
						<label>{{ 'fields.titleGroupRM' | translate }} <span class="text-red">(*)</span></label>
						<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
							[options]="listGroup" placeholder=" " class="d-block" formControlName="rmTitleCode"
							appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
						</p-dropdown>
						<small class="p-error"
							*ngIf="formSearch.controls?.rmTitleCode?.errors?.cusRequired && formSearch.controls?.rmTitleCode?.touched">{{
							'validationMessage.required' |
							translate }}</small>
					</div>

					<div class="col-md-4 form-group">
						<label>{{ 'fields.levelRM' | translate }} <span class="text-red">(*)</span></label>
						<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
							[options]="listLevel" placeholder=" " class="d-block" formControlName="rmLevelCode"
							appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
						</p-dropdown>
						<small class="p-error"
							*ngIf="formSearch.controls?.rmLevelCode?.errors?.cusRequired && formSearch.controls?.rmLevelCode?.touched">{{
							'validationMessage.required' |
							translate }}</small>
					</div>

				</div>
			</div>

			<div class="filter-top block-center-between px-4">
				<h6 class="mb-0 sub-title">{{ 'kpi.title.history_property_kpi' | translate }}</h6>
				<div class="filter-top__right block-center">
					<button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.write' |
						translate
						}}</button>
					<button class="btn btn-light" (click)="closeModal()">{{ 'btnAction.skip' | translate
						}}</button>
				</div>
			</div>

			<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listOldKpiByTitle"
				[columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
				[virtualization]="false" [messages]="messages" [formGroup]='formRow'>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="efficientDate"
					name="{{ 'fields.startDate' | translate }}" [width]='250'>
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- calendar -->
						<p-calendar *ngIf="editing[rowIndex]" class="d-block" formControlName="efficientDate"
							dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000"
							[showIcon]="true" view="month" icon="las la-calendar-alt" [readonlyInput]='true'
							(onSelect)='onChangeEndDate($event)' [minDate]='minDate'
							[maxDate]='this.formRow.value?.maxEfficientDate'>
						</p-calendar>
						<!-- text -->
						<span *ngIf="!editing[rowIndex]" title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="expireDate"
					name="{{ 'fields.endDate' | translate }}" [width]='250'>
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- calendar -->
						<p-calendar *ngIf="editing[rowIndex]" class="d-block" formControlName="expireDate"
							dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000"
							[showIcon]="true" view="month" icon="las la-calendar-alt" [readonlyInput]='true'
							(onSelect)='onChangeEndDate($event)'
							[minDate]='this.formRow.value?.minExpireDate || minDate'>
						</p-calendar>
						<!-- text -->
						<span *ngIf="!editing[rowIndex]" title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isActive"
					name="{{ 'fields.effective' | translate }}" [width]='200'>
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<p-checkbox formControlName="isActive" [binary]="true">
							</p-checkbox>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<p-checkbox [ngModel]='value' [ngModelOptions]="{standalone: true}" [readonly]='true'
								[binary]="true">
							</p-checkbox>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="rate" width='220'
					name="{{ 'kpi.fields.rate' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<input placeholder="" type="text" class="d-block" pInputText formControlName="rate" />
							<small class="p-error" *ngIf="getErrRequire('rate')">{{
								'validationMessage.required' |
								translate }}</small>
							<small class="p-error" *ngIf="getErrValidate('rate')">{{
								'validationMessage.value_rate' |
								translate }}</small>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<span title="{{ value }}">{{ value }}</span>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="limitFloor" width='240'
					name="{{ 'kpi.fields.limitFloor' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<input placeholder="" type="text" class="d-block" pInputText formControlName="limitFloor" />
							<small class="p-error" *ngIf="getErrValidate('limitFloor')">{{
								'validationMessage.value_common' |
								translate }}</small>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<span title="{{ value }}">{{ value }}</span>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="limitCeiling" width='240'
					name="{{ 'kpi.fields.limitCeiling' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<input placeholder="" type="text" class="d-block" pInputText
								formControlName="limitCeiling" />
							<small class="p-error" *ngIf="getErrValidate('limitCeiling')">{{
								'validationMessage.value_common' |
								translate }}</small>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<span title="{{ value }}">{{ value }}</span>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="ceilingRatio" [width]='200'
					name="{{ 'kpi.fields.ceilingRatio' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<input placeholder="" type="text" class="d-block" pInputText
								formControlName="ceilingRatio" />
							<small class="p-error" *ngIf="getErrValidate('ceilingRatio')">{{
								'validationMessage.value_common' |
								translate }}</small>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<span title="{{ value }}">{{ value }}</span>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isKpi"
					name="{{ 'kpi.fields.isKpi' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<p-checkbox formControlName="isKpi" [binary]="true">
							</p-checkbox>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<p-checkbox [ngModel]='value' [ngModelOptions]="{standalone: true}" [readonly]='true'
								[binary]="true">
							</p-checkbox>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isAreaFactor"
					name="{{ 'kpi.fields.isAreaFactor' | translate }}" [width]='200'>
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<p-checkbox formControlName="isAreaFactor" [binary]="true">
							</p-checkbox>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<p-checkbox [ngModel]='value' [ngModelOptions]="{standalone: true}" [readonly]='true'
								[binary]="true">
							</p-checkbox>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isTimeOrgFactor"
					name="{{ 'kpi.fields.isTimeOrgFactor' | translate }}" [width]='200'>
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<p-checkbox formControlName="isTimeOrgFactor" [binary]="true">
							</p-checkbox>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<p-checkbox [ngModel]='value' [ngModelOptions]="{standalone: true}" [readonly]='true'
								[binary]="true">
							</p-checkbox>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isShare"
					name="{{ 'kpi.fields.isShare' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]'>
							<p-checkbox formControlName="isShare" [binary]="true">
							</p-checkbox>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<p-checkbox [ngModel]='value' [ngModelOptions]="{standalone: true}" [readonly]='true'
								[binary]="true">
							</p-checkbox>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="sourceInput" [width]='220'
					name="{{ 'kpi.fields.sourceInput' | translate }}">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<!-- edit -->
						<div *ngIf='editing[rowIndex]' class="p-dropdown-in-row">
							<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
								[options]="listSourceInput" placeholder=" " class="d-block h-36" appendTo="body"
								autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code"
								formControlName="sourceInput">
							</p-dropdown>
							<small class="p-error" *ngIf="getErrRequire('sourceInput')">{{
								'validationMessage.required' |
								translate }}</small>
						</div>
						<!-- non edit -->
						<div *ngIf='!editing[rowIndex]'>
							<span title="{{ value }}">{{ getSourceInputName(value) }}</span>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="{{ 'fields.action_2' | translate }}" [width]="120" [frozenRight]="true"
					[sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
					<ng-template let-value="value" let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
						<button type="button" class="btn-outline"
							(click)="delete(row, rowIndex);$event.stopPropagation()"
							title="{{ 'btnAction.delete' | translate }}">
							<em class="las la-trash-alt f-16"></em>
						</button>
						<div class="block-center text-center column-action">
							<button type="button" class="btn-outline btn--light-blue"
								title="{{ 'btnAction.edit' | translate }}"
								(click)="update(row, rowIndex); $event.stopPropagation()">
								<em class="las la-edit"></em>
							</button>
						</div>
					</ng-template>
				</ngx-datatable-column>

			</ngx-datatable>

		</div>
	</div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
