<div class="activity-empty" [class.d-none]="activityCalls.length > 0">
  <div class="activity-empty--body">
    <img alt="" src="/assets/images/activity-empty.png" width="80%" />
    <div class="activity-empty--text">Chưa có cuộc gọi</div>
  </div>
</div>