<div class="block-center">
	<input type="text" class="function-parent" id="facilityCode" [(ngModel)]="display_name" readonly [disabled]="isRM"
		pInputText />
	<button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="chooseBranch()" [disabled]="isRM">
		<em class="las la-search f-16"></em>
	</button>
</div>