<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'rm.form.createRm360' | translate }}</h3>
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="permission__create-form px-4 pt-4">
					<div class="row form-create" [formGroup]="form">
						<div class="col-md-12">
							<h5 class="mb-4">{{ 'rm.fields.info' | translate }}</h5>
						</div>
						<div class="col-md-6 form-group has-error">
							<label>{{ 'rm.fields.username' | translate }} <span class="text-red">(*)</span></label>
							<input class="form-control" type="text" formControlName="username" maxlength="50"
								placeholder="{{ 'placeholder' | translate }}" />
							<div *ngIf="form.get('username').errors && form.get('username').touched" class="invalid-tooltip">
								<div *ngIf="form.get('username').errors.cusRequired">
									{{ 'validationMessage.required' | translate }}
								</div>
							</div>
						</div>
						<div class="col-md-6 form-group has-error">
							<label>{{ 'rm.fields.employee_code_hris' | translate }} <span class="text-red">(*)</span></label>
							<input class="form-control" type="text" formControlName="hrisCode" maxlength="20"
								placeholder="{{ 'placeholder' | translate }}" />
							<div *ngIf="form.get('hrisCode').errors && form.get('hrisCode').touched" class="invalid-tooltip">
								<div *ngIf="form.get('hrisCode').errors.cusRequired">
									{{ 'validationMessage.required' | translate }}
								</div>
							</div>
						</div>
						<div class="col-md-6 form-group has-error">
							<label>{{ 'rm.fields.rm_code_t24' | translate }}</label>
							<input class="form-control" type="text" formControlName="t24EmployeeCode" maxlength="20"
								placeholder="{{ 'placeholder' | translate }}" />
						</div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.name' | translate }}</label>
              <input class="form-control" type="text" formControlName="rmName" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.email' | translate }}</label>
              <input class="form-control" type="text" formControlName="email" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.phone' | translate }}</label>
              <input class="form-control" type="text" formControlName="phone" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.gender' | translate }}</label>
              <input class="form-control" type="text" formControlName="gender" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.title' | translate }}</label>
              <input class="form-control" type="text" formControlName="title" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.date_of_birth' | translate }}</label>
              <p-calendar
                class="d-block"
                formControlName="dateOfBirth"
                dateFormat="yy-mm-dd"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.start_position' | translate }}</label>
              <p-calendar
                class="d-block"
                formControlName="startPosDate"
                dateFormat="yy-mm-dd"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.position' | translate }}</label>
              <input class="form-control" type="text" formControlName="position" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.start_working_evt' | translate }}</label>
              <p-calendar
                class="d-block"
                formControlName="jointDate"
                dateFormat="yy-mm-dd"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.grade' | translate }}</label>
              <input class="form-control" type="text" formControlName="division" maxlength="20"
                     placeholder="{{ 'placeholder' | translate }}" />
            </div>

<!--						<div class="col-md-6"></div>-->
						<div class="col-md-6 has-error">
							<label class="mb-0" for="facilityCode">{{ 'rm.fields.facility' | translate }}<span
									class="text-red">(*)</span></label>
							<lp-branch [(model)]="facilityCode" (modelChange)="check($event)" [listBranch]="facilities">
							</lp-branch>
							<div *ngIf="show_mes" class="invalid-tooltip">
								{{ 'validationMessage.required' | translate }}
							</div>
						</div>

					</div>
					<div class="text-left btn-action mt-3">
						<button class="btn btn--light-blue" (click)="save()">{{ 'btnAction.create' | translate }}</button>
						<button class="btn btn-light ml-3" (click)="back()">{{ 'btnAction.cancel' | translate
							}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
