.valid {
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    line-height: 24px;
    color: #ff808b;
    background-color: #fff;
    font-size: 12px;
    font-style: italic;
    top: 2px;
}