<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'rm.menu.rm360' | translate }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  *ngIf="!show"
                  [(ngModel)]="search_value"
                  (keyup.enter)="searchBasic()"
                  maxlength="200"
                />
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="searchBasic()"
                *ngIf="!show"
              >
                <em class="las la-search f-16"></em>
              </button>
              <button class="btn btn--light-blue btn-small mr-2 ml-4" *ngIf="!show" (click)="show_advance_search()">
                {{ 'btnAction.searchAdvance' | translate }}
              </button>
            </div>
            <div class="filter-top__right d-flex" *ngIf="!show">
              <button class="btn btn--light-blue btn-small btn-light mr-2" *ngIf="obj?.import" (click)="addFile()">
                {{ 'rm.fields.createRmFile' | translate }}
              </button>
              <button
                class="btn btn-icon--small btn--light-blue mr-2"
                (click)="add()"
                *ngIf="obj?.create"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
              <button
                class="btn btn-icon--small btn--light-blue"
                (click)="exportFile()"
                *ngIf="obj?.export"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="fluid-container px-4" *ngIf="show" [formGroup]="search_form">
            <div class="row py-1">
              <div class="col-md-3">
                <label class="mb-0">{{ 'system.fields.rmCode' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  formControlName="employeeCode"
                  maxlength="20"
                  (keyup.enter)="searchAdvance()"
                />
                <div
                  *ngIf="search_form.get('employeeCode').errors && search_form.get('employeeCode').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="search_form.get('employeeCode').errors?.maxlength">
                    {{ 'validationMessage.maxlength' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'rm.fields.employee_code_hris' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  formControlName="employeeId"
                  maxlength="20"
                  (keyup.enter)="searchAdvance()"
                />
                <div
                  *ngIf="search_form.get('employeeId').errors && search_form.get('employeeId').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="search_form.get('employeeId').errors?.maxlength">
                    {{ 'validationMessage.maxlength' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'rm.fields.rm_name' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  maxlength="120"
                  (keyup.enter)="searchAdvance()"
                />
                <div
                  *ngIf="search_form.get('fullName').errors && search_form.get('fullName').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="search_form.get('fullName').errors?.maxlength">
                    {{ 'validationMessage.maxlength' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="mb-0" for="facilityCode">{{ 'rm.fields.facility' | translate }}</label>
                <lp-branches [listBranch]="facilities" [(model)]="facilityCode" (modelChange)="changeBranch($event)">
                </lp-branches>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-3">
                <label class="mb-0" for="email">{{ 'rm.fields.email' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  maxlength="50"
                  (keyup.enter)="searchAdvance()"
                />
                <div
                  *ngIf="search_form.get('email').errors && search_form.get('email').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="search_form.get('email').errors?.maxlength">
                    {{ 'validationMessage.maxlength' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'rm.fields.phone' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="form-control"
                  formControlName="mobile"
                  maxlength="30"
                  (keyup.enter)="searchAdvance()"
                />
                <div
                  *ngIf="search_form.get('mobile').errors && search_form.get('mobile').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="search_form.get('mobile').errors?.maxlength">
                    {{ 'validationMessage.maxlength' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'rm.fields.grade' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="grades"
                  class="d-block"
                  formControlName="rmBlock"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="value_to_search"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'rm.fields.customer_range' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="customer_ranges"
                  class="d-block"
                  formControlName="crmIsActive"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
            </div>
            <div class="row py-1 px-4 block-center-between">
              <div class="">
                <button class="btn btn--light-blue btn-small mr-2 mt-3 mb-3" (click)="show_quick_search()">
                  {{ 'btnAction.searchBasic' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue mr-2 mt-3 mb-3" (click)="searchAdvance()">
                  <!-- <em class="las la-search f-16"></em> -->
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div>
<!--                <button-->
<!--                  class="btn btn&#45;&#45;light-blue btn-small btn-light mr-2"-->
<!--                  *ngIf="obj?.onlyOPN"-->
<!--                  (click)="updateRmCode()"-->
<!--                >-->
<!--                  Cập nhật RM T24-->
<!--                </button>-->
<!--                <button-->
<!--                  class="btn btn&#45;&#45;light-blue btn-small btn-light mr-2"-->
<!--                  *ngIf="obj?.onlyOPN"-->
<!--                  (click)="createRmCode()"-->
<!--                >-->
<!--                  {{ 'rm.fields.rmCodeNew' | translate }}-->
<!--                </button>-->
<!--                <button class="btn btn&#45;&#45;light-blue btn-small btn-light mr-2" *ngIf="obj?.import" (click)="updateHris()">-->
<!--                  {{ 'rm.fields.updateHris' | translate }}-->
<!--                </button>-->
                <button class="btn btn--light-blue btn-small btn-light mr-2" *ngIf="obj?.import" (click)="addFile()">
                  {{ 'rm.fields.createRmFile' | translate }}
                </button>
                <button
                  class="btn btn-icon--small btn--light-blue mr-2"
                  title="{{ 'btnAction.create' | translate }}"
                  (click)="add()"
                  *ngIf="obj?.create"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button
                  class="btn btn--light-blue btn-icon--small"
                  title="{{ 'btnAction.export' | translate }}"
                  (click)="exportFile()"
                  *ngIf="obj?.export"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
          </div>

          <div class="table__view user__view">
            <ngx-datatable
              ngxDataTable
              #tablerm
              class="bootstrap fullscreen"
              [messages]="messages"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [columnMode]="mode"
              [rows]="models"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="paging($event)"
              [footerHeight]="70"
              (activate)="onActive($event)"
              [headerHeight]="50"
            >
              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.index' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  {{ offset * limit + rowIndex + 1 }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="rm_code" [sortable]="false" [width]="70">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_code' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.t24Employee?.employeeCode }}">{{ row?.t24Employee?.employeeCode }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="ehris_code" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.ehris_code' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.employeeId }}">{{ row?.hrisEmployee?.employeeId }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="name" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.fullName }}">{{ row?.hrisEmployee?.fullName }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="moblie_phone" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.mobile_phone' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.mobile }}">{{ row?.hrisEmployee?.mobile }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="email" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.email' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.email }}">{{ row?.hrisEmployee?.email }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="title" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.title' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.title }}">{{ row?.hrisEmployee?.title }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="date_of_birth" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.date_of_birth' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.dateOfBirth | date: 'dd/MM/yyyy' }}">{{
                    row?.hrisEmployee?.dateOfBirth | date: 'dd/MM/yyyy'
                  }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="start_position" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.start_position' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.hrisEmployee?.startPosDate | date: 'dd/MM/yyyy' }}">{{
                    row?.hrisEmployee?.startPosDate | date: 'dd/MM/yyyy'
                  }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch-code-level-2" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_code_level_2' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row?.t24Employee?.branchLevel2 !== undefined"
                    title="{{ row?.t24Employee?.branchLevel2 }}"
                    >{{ row?.t24Employee?.branchLevel2 }}</span
                  >
                  <span
                    *ngIf="row?.t24Employee?.branchLevel2 === undefined"
                    title="{{ row?.t24Employee?.branchCode }}"
                    >{{ row?.t24Employee?.branchCode }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch-name-level-2" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_name_level_2' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row?.t24Employee?.branchNameLevel2 !== undefined"
                    title="{{ row?.t24Employee?.branchNameLevel2 }}"
                    >{{ row?.t24Employee?.branchNameLevel2 }}</span
                  >
                  <span
                    *ngIf="row?.t24Employee?.branchNameLevel2 === undefined"
                    title="{{ row?.t24Employee?.branchName }}"
                    >{{ row?.t24Employee?.branchName }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch-code-level-1" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_code_level_1' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  {{ row?.t24Employee?.branchLevel1 }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch-name-level-1" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.branch_name_level_1' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  {{ row?.t24Employee?.branchNameLevel1 }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="action"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                style="right: -10px !important"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.action' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div>
                    <button
                      type="button"
                      title="{{ 'btnAction.historyAssignCustomer' | translate }}"
                      class="btn-outline"
                      (click)="historyAssignCustomer(row)"
                      *ngIf="obj?.log"
                    >
                      <em class="las la-file-invoice"></em>
                    </button>
                    <button
                      type="button"
                      title="{{ 'btnAction.historyBlockOfRm' | translate }}"
                      class="btn-outline"
                      (click)="historyBlock(row)"
                      *ngIf="obj?.log"
                    >
                      <em class="las la-history"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="count"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [visiblePagesCount]="currentVisible"
                    [size]="pageSize"
                    [count]="count"
                    [hidden]="false"
                    [hasDropdown]="true"
                    (change)="paging($event)"
                    (eventChangePageSize)="handleChangePageSize($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
