@import 'variable';

.customers-view {
  .row__item-name {
    flex-basis: 50%;
    max-width: 50%;
  }
  .row__item-date {
    flex-basis: 25%;
    max-width: 25%;
  }
  .filter-grid {
    padding: 12px 25px;
  }
  .filter-list {
    padding: 12px 40px;
  }
  .filter__row {
    width: 25%;
    padding: 0 !important;
  }
}

.padding-5 {
  padding: 0px 5px 5px 5px;
}

// .app__left-content.left-content {
//   padding: 20px 18px;
//   min-height: 100vh;
// }

.action-cell {
  background: #ddd;
}

.quick-search {
  margin-top: 10px;
  font-weight: 500;
  margin-left: -15px;
  text-decoration: underline;
  cursor: pointer;
}

// .content .content-body {
//   overflow-x: hidden !important;
// }
