@import '../../../../assets/styles/variable';

.menu-account {
  color: #ffffff !important;

  .mat-menu-item {
    color: #ffffff !important;
  }
}
.mat-menu-item {
  color: #ffffff !important;
}

.nav-item {
  position: relative;
  cursor: pointer;
}

.sub-title-menu {
  color: #FFFFFF;
  opacity: 0.8;
}

.sub-menu {
  .nav-link {
    padding: 10px 10px;
  }
}

// Sub Menu lvl 1,2
.sub-nav {
  display: none;
  opacity: 0;
  // position: absolute;
  // left: 100%;
  position: fixed;
  left: 0;
  width: 220px;
  // z-index: 60;
  z-index: 999999999;
  background: #fff;
  // top: -18px;
  top: 0;
  padding: 10px 0;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 1px 2px 12px #0202025c;
  .sub-nav {
    top: -21px;
  }
}

.nav-item {
  &:focus {
    background: #eff2fe;
  }
  &:hover {
    background: #bbbbfd;
    em {
      color: #bbbbfd;
    }
    & > .sub-nav {
      display: block;
      opacity: 1;
    }
  }
}

.menu-arrow-custom {
  display: inline-block;
  padding: 2px;
  margin: auto;
  margin-right: inherit;
  position: absolute;
  right: 12px;
}
