<ng-container *ngIf="!isSubMenu">
  <div class="app__left-bar">
    <a routerLink="/dashboard" class="logo">
      <img alt="" src="/assets/images/logo_new.png" alt="" width="75%" />
    </a>
    <ul id='menu' class="left-bar nav flex-column">
      <ng-container *ngFor="let item of listMenu">
        <li class="nav-item" #itemMenu (mouseover)="onMouseOver(itemMenu, true)">
          <ng-container *ngIf="item.subMenu.length > 0; else noSubMenu">
            <a class="nav-link text-gray-900 text-center text-center d-block" routerLinkActive="active">
              <em [class]="generateIcon(item)" class="d-block"></em>
              <span class="sub-title-menu">{{ item.name }}</span>
            </a>
            <app-navbar class="sub-menu" isSubMenu="true" [subMenu]="item.subMenu"></app-navbar>
          </ng-container>
          <ng-template #noSubMenu>
            <a class="nav-link text-gray-900 text-center text-center d-block" routerLink="{{ item.uri }}"
              routerLinkActive="active">
              <em [class]="generateIcon(item)"></em>
              <span class="d-block sub-title-menu">{{ item.name }}</span>
            </a>
          </ng-template>
        </li>
      </ng-container>
    </ul>
    <div class="profile text-center">
      <a class="profile__avatar pointer" data-toggle="dropdown">
        <img alt="" [src]="'assets/images/avatar-' + (currUser?.gender !== 'nam' ? 'male': 'female') + '.svg'"
          width="30" />
        <span class="status status--green"></span>
      </a>
      <div class="text-white-50">{{ name }}</div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item pointer" (click)="viewDevice()">
          <em class="las la-cogs f-16 mr-2"></em> <span>Thiết bị</span>
        </a>
        <a class="dropdown-item pointer" (click)="viewProfile()">
          <em class="las la-user f-16 mr-2"></em> <span>Hồ
            sơ</span>
        </a>
        <a class="dropdown-item pointer" (click)="logout()">
          <em class="las la-sign-out-alt f-16 mr-2"></em>
          <span>Thoát</span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isSubMenu">
  <ul *ngIf="subMenu.length > 0" class="sub-nav nav">
    <li class="nav-item m-0" #itemSubMenu (mouseover)="onMouseOver(itemSubMenu)" *ngFor="let itemSub of subMenu">
      <ng-container *ngIf="itemSub.subMenu.length > 0; else noSubMenu">
        <a class="nav-link" routerLinkActive="active">
          <span class="m-0">{{ itemSub.name }}</span>
          <em class="menu-arrow-custom"></em>
        </a>
        <app-navbar isSubMenu="true" [subMenu]="itemSub.subMenu"></app-navbar>
      </ng-container>
      <ng-template #noSubMenu>
        <a
          class="nav-link"
          routerLink="{{ itemSub.uri }}"
          routerLinkActive="active"
          #itemActive
          (click)="routerActiveClass(itemActive, itemSub.uri)"
          *ngIf="!links[itemSub.code]; else opentab"
        >
          <span class="m-0">{{ itemSub.name }}</span>
        </a>
        <ng-template #opentab>
          <a class="nav-link" #itemActive (click)="openTab($event, itemSub.code)">
            <span class="m-0">{{ itemSub.name }}</span>
          </a>
        </ng-template>
      </ng-template>
    </li>
  </ul>
</ng-container>
