.chart__legend {
  margin: 0 auto;
  min-width: 550px;
  padding-bottom: 10px;
}
.chart__legend-body {
  margin: 0 -1.5rem;
  padding: 0 !important;
}

// .legend__hover:hover {
//   font-weight: bold;
//   cursor: pointer;

// }

.one-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}


.one-line-ellipsis:hover::before {
  width: auto;
  z-index: 1;

}

.chart__legend-left:hover {
  font-weight: bold;
  cursor: pointer;
}


.legend-total {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  &--text {
    top: 43%;
    letter-spacing: 0.5px;
    color: #9F9F9F;
    font-size: 13px;
    font-weight: 400;
    z-index: 999;
  }
  &--number {
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    font-weight: 700;
    font-size: 24px;
    color: #2E2E2E;
    top: 48%;
    z-index: 999;
    width: 100px;
  }

}
.text-update {
  font-size: 12px;
  color: #737373;
}

.legend-bage-circle {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-flex;
}

.tooltip{
  font-weight: bold;
}

.block-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

