<p-accordion class="product-list-type-v2">
  <p-accordionTab [header]="title" [(selected)]="isOpen">
    <div class="" [id]="'list-' + type.toLowerCase()">
      <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listDataMapping"
                     [columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="false"
                     [scrollbarH]="true" [virtualization]="false" [messages]="messages"
                     [treeFromRelation]="'parentId'" [treeToRelation]="'idGroup'"
                     (treeAction)="onTreeAction($event)"
                     (activate)="onActive($event)">

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                                name="{{ 'fields.order' | translate }}" [isTreeColumn]="true"
                                [treeLevelIndent]="30" [width]='250'>
            <ng-template   let-value="value" let-row="row"  ngx-datatable-cell-template >
  <!--            <strong *ngIf="row.order == ''" class="ml-2 text-blue">{{ value }}</strong>-->
  <!--            <span *ngIf="row.order != ''" class="ml-2">{{ value }}</span>-->
              <div style="transform: translate3d(0px,0px,0px);backface-visibility: hidden;" class="px-1 py-2 group-header-title block-center">
                <strong style="" *ngIf="row.order == ''" class="ml-2 text-blue">{{ value }}</strong>
                <span *ngIf="row.order != ''" class="ml-2">{{ value }}</span>
              </div>
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column
            *ngFor="let field of listFields"
            [prop]="field"
            [width]='150'
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="true"
          >
            <ng-template let-value="value" let-column="column" ngx-datatable-header-template>

              <div [class]="generateClassNameHeader(field)">
                {{ 'fields.' + field | translate }}
              </div>
            </ng-template>

            <ng-template let-value="value" ngx-datatable-cell-template >
<!--              <div [class]="generateClassNameCell(field)" class="text-wrap-field" >-->
<!--                <span title="{{ value }}">{{ value }}</span>-->
<!--              </div>-->
<!--              <span *ngIf="field === 'redemptionBalance' || field === 'currencyBalance' || field === 'sales'" style="margin-right: 0px; margin-left: auto !important"  class="text-wrap-field" title="{{ value }}">{{ value }}</span>-->
<!--              <span *ngIf="field === 'dueDate' ||-->
<!--                          field === 'dateDue' ||-->
<!--                          field === 'openDate' ||-->
<!--                          field === 'dataDate' ||-->
<!--                          field === 'dateOpen' ||-->
<!--                          field === 'expiredDate'" style="margin-right: auto !important; margin-left: auto !important"  class="text-wrap-field" title="{{ value }}">{{ value }}</span>-->
              <span [class]="generateClassNameCell(field)"  class="text-wrap-field" title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </p-accordionTab>
  </p-accordion>

