.product-list-type-v2 {
//  ::ng-deep .ngx-datatable .datatable-body .datatable-body-cell-label{
//    display: block;
//  }
//}
//::ng-deep .ngx-datatable .datatable-body .datatable-tree-button {
//  float: left
  .text-right{
    margin-right: 0px;
    margin-left: auto !important
  }
  .text-center{
    margin-right: auto !important;
    margin-left: auto !important
  }
} 

