<div id="lead-activity" class="layout-activity-log" [ngClass]="{'layout-config-active': active}">
    <div class="layout-config-content-wrapper">
        <!-- <a tabindex="0" class="layout-config-button" (cdkDragStarted)="startDrag($event)"
            (cdkDragEnded)="endDrag($event)" cdkDragLockAxis="y" cdkDrag (click)="openConfigurator($event, 'task')">
            <em class="config icon-config-custom"></em>
        </a> -->
        <a tabindex="0" class="layout-config-button layout-config-button-notify2"
              (click)="openConfigurator($event)">
            <em class="las icon-vecto-activity"></em>
        </a>
        <a tabindex="0" class="layout-config-close mr-4" (click)="openNoteInput()">
            <em class="las icon-activity-note"></em>
        </a>

        <div class="layout-rightpanel">
            <div class="right-panel-header">
                <div class="title"><h4>Lịch sử hoạt động</h4>
                  <h4 class="m-0">{{ title }}</h4>
                </div>
            </div>
            <div class="right-panel-content">
                <ng-container >
                    <div class="notify-content">
                        <div class="notify-header row">
                          <div class="col-12 pb-5" style="display: inherit">
                              <div class="mr-2" >
                                <button [ngClass]="{ 'active': logTypeFilter.all}" (click)="handleLogType('all')"
                                >{{'activity.logs.ALL' | translate}}</button>
                              </div>
                              <div class="mr-2" >
                                <button [ngClass]="{ 'active': logTypeFilter.call}" (click)="handleLogType('call')"
                                >{{'activity.logs.CALL' | translate}}</button>
                              </div>
                              <div class="mr-2" >
                                <button [ngClass]="{ 'active': logTypeFilter.sms}" (click)="handleLogType('sms')"
                                >{{'activity.logs.SMS' | translate}}</button>
                              </div>
                              <div class="mr-2" >
                                <button [ngClass]="{ 'active': logTypeFilter.email}" (click)="handleLogType('email')"
                                >{{'activity.logs.EMAIL' | translate}}</button>
                              </div>
                              <div class="" >
                                <button [ngClass]="{ 'active': logTypeFilter.calendar}" (click)="handleLogType('calendar')"
                                >{{'activity.logs.CALENDAR' | translate}}</button>
                              </div>
                          </div>
                          <div *ngIf="isOpenNote" class="col-12 mb-4">
                            <input (keyup.enter)="saveNote()" id="inputNote" placeholder="Nhập ghi chú" [(ngModel)] = "inputNote"
                                   class="form-control border-cus input-field " type="text" [maxLength]="200" />
                          </div>
                        </div>
                        <div class="notify-body border-bottom-0" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="0"
                             (scrolled)="onScroll($event)"
                           >
                              <ng-container *ngFor="let item of listActivityLog; let i = index"
                              >
                                <div class=" item-activity-log row" [id]="i" (click)="blurLog(item.id)">
                                  <div class="col-1 d-flex align-items-center">
                                    <em class="las"  [ngClass]="this.getIconClass(item.type)" ></em>
                                  </div>
                                  <div class="col-7 pl-5 pr-0">
                                    <div>
                                      <p *ngIf="item.type !== 'CALENDAR' " class="activity-title pt-3 pb-1">
                                        {{item.createdDate | date: 'HH:mm dd/MM/yyyy'}}</p>
                                      <p *ngIf="item.type === 'CALENDAR' " class="activity-title pt-3">
                                        {{item.calStartDate | date: 'HH:mm dd/MM/yyyy'}} -
                                        </p>
                                      <p *ngIf="item.type === 'CALENDAR' " class="activity-title pb-1">
                                        {{item.calEndDate | date: 'HH:mm dd/MM/yyyy'}}</p>
                                      <div *ngIf="(inputFocus !== item.id || inputFocus === '') && item.content" style="color:#ffffff;">{{item.content}}</div>
                                    </div>
                                  </div>
                                  <div class="col-4 pt-3 pr-0 pl-0">
                                    <p class="mb-0 activity-title-blur">{{item.createdBy}}</p>
                                    <p class="mb-0 activity-title-blur">{{'CN.' + item.rmBranchName }}</p>
                                  </div>
                                  <input (keyup.enter)="saveActivityLog($event,item.id)" (focusout)="saveActivityLog($event,item.id)" [id]="item.id" *ngIf="inputFocus === item.id"
                                         style="width: 350px; height: 29px"
                                         class="notify-time border-0 pl-4" type="text" value="{{item.content}}" [maxLength]="200">
                                </div>
                              </ng-container>

                            <div *ngIf="isLoading" class="b-loading">
                                <div class="lds-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
