<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>{{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.permissionCategory' | translate
        }}/{{'system.menu.permissionCategoryUpdate' | translate}}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="permission__create-form px-4">
          <div class="row form-create" [formGroup]="form">
            <div class="col-md-6 mt-3 form-group has-error">
              <label>{{ 'system.fields.name' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="name" maxlength="50"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('name').errors && form.get('name').touched" class="invalid-tooltip">
                <div *ngIf="form.get('name').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
              </div>
            </div>
            <div class="col-md-6 mt-3 form-group has-error">
              <label>{{ 'system.fields.resource' | translate }} <span class="text-red">(*)</span></label>
              <app-choose-function-input [listFunction]="listResource" [(model)]="resourceId"
                (modelChange)="changeParentId($event)"></app-choose-function-input>
              <div
                *ngIf="form.get('resources').errors && form.get('resources').errors.cusRequired && form.get('resources').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'fields.permissionType' | translate }} <span class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listResourceType" class="d-block" formControlName="type"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
              <div *ngIf="form.get('type').errors && form.get('type').errors.cusRequired && form.get('type').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.description' | translate }}</label>
              <textarea class="form-control" formControlName="description" [maxlength]="250" style="height: 40px;"
                maxlength="550" placeholder="{{ 'placeholder' | translate }}"></textarea>
            </div>
            <div class="col-md-6 form-group has-error" *ngIf="isShowScopes">
              <label>{{ 'system.fields.manipulation' | translate }} <span class="text-red">(*)</span></label>
              <p-multiSelect class="d-block" [options]="listScopesOfResource" formControlName="scopes" display="chip"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="{{ 'choose' | translate }}" optionValue="id" optionLabel="name"></p-multiSelect>
              <div
                *ngIf="form.get('scopes').errors && form.get('scopes').errors.cusRequired && form.get('scopes').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
          </div>
          <div class="block-center-between">
            <div class="form-group w-100">
              <label>
                {{ 'fields.applyFor' | translate }}:
              </label>
              <ngx-select [allowClear]="true" optionValueField="name" optionTextField="description"
                noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}" [items]="listRoleForApply"
                (select)="itemchoose($event)" placeholder="{{ 'choose' | translate }}">
              </ngx-select>
            </div>
            <div class="filter-top__right d-flex">
            </div>
          </div>
          <div class="table__view role-choose">
            <ngx-datatable ngxDataTable style="height: 100%;" class="bootstrap fullscreen"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50"
              [scrollbarV]="true" [rows]="listRoleSelected" [messages]="messagesTable">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="20">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="name" [sortable]="false" name="{{ 'fields.roleCode' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column prop="description" [sortable]="false" name="{{ 'fields.roleName' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" class="minh">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" class="btn-outline" (click)="deleteRole(row);$event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue mb-3" (click)="confirmDialog()">{{ 'btnAction.update' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
