.filter-top__left {
  display: flex;
  align-items: center;
  flex-basis: 350px;
  max-width: 350px;
}
.choose-role {
  flex: 1 1 auto;
}
.permission__create-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column-action {
  width: 100%;
}
