@import '../../../../../../assets/styles/variable';

.customer-product-detail {
  position: relative;
  .product__list {
    overflow-x: auto;
    align-items: stretch;
    display: flex;

    &-item:first-child {
      margin: 0 !important;
    }

    &-item {
      display: inline-block;
      background-color: $white;
      border-radius: 12px;
      text-align: center;
      margin-left: 1rem;

      .product-disabled {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #d3d3d380;
        border-radius: 12px;
      }

      .product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .product-count span {
      padding: 5px;
      border-radius: 4px;
      background: $gray-100;
    }
  }

  .product__content {
    .gridster {
      &.fixed {
        overflow: visible;
      }
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      background: $gray-100 !important;
    }

    .p-tabview {
      .p-tabview-nav {
        border-radius: 8px;
        padding: 10px;
        border: none;

        .p-tabview-nav-link {
          color: $blue !important;
          border-radius: 8px;
          padding: 10px 25px;
          height: 36px;
          border: none;
        }
      }

      .p-tabview-panels {
        background: none;
        padding: 0;
        padding-top: 10px;
      }
    }

    .p-accordion .p-accordion-header .p-accordion-header-link {
      border: none;
      background: $white;
      color: $black;
      padding: 1.5rem 1rem;
      text-decoration: none;
    }

    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link {
      &:focus {
        box-shadow: none;
      }
    }

    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
      &:focus {
        box-shadow: none;
      }
      border: none;
      background: $white;
      color: $black;
      padding: 1.5rem 1rem;
      text-decoration: none;
    }

    .p-accordion .p-accordion-content {
      padding: 1rem 0;
      border: none;
    }

    .product-table {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .img-icon {
    height: 48px !important;
  }
}
