<div class="customer-product-detail">
    <div class="product__list pb-3">
        <div class="product__list-item col" *ngFor="let product of productsType" (click)="scrollTo(product?.type)">
            <div *ngIf="!product?.count || product?.count === 0" class="product-disabled"></div>
            <div class="product-item py-4">
                <div class="product-icon">
                    <img alt="" [src]="product?.icon" class="img-icon" />
                </div>
                <div class="product-count font-weight-bold"><span *ngIf="isShow(product?.type) && product?.count > 0"
                        class="mr-2">{{
                        product?.count
                        }}</span>{{ 'serviceProduct.' + product?.type?.toLowerCase() | translate }}</div>
                <div *ngIf="isShow(product?.type) && product?.count > 0 && product?.type !== 'Digital' && product?.type !== 'Card'"
                    class="product-sum">{{ 'fields.total' |
                    translate }}: {{
                    product?.total }} trđ</div>
            </div>
        </div>
    </div>
    <div class="product__content">
        <p-tabView (onChange)="onChangeTab($event)">
            <p-tabPanel id="gridProduct" header="{{ 'customer360.title.branchAll' | translate }}">
                <gridster class="gridster" #gridProduct [options]="options" class="gridster">
                    <ng-container *ngFor="let product of productsType">
                        <gridster-item class="gridster-item" *ngIf="product.dataChart?.length > 0"
                            [item]="product.item">
                            <div class="gridster__item-body">
                                <ndc-dynamic [ndcDynamicComponent]="component"
                                    [ndcDynamicInputs]="{'resizeEvent': resizeEvent, 'viewChange': viewChange, 'type': product?.type, 'data': product?.dataChart}">
                                </ndc-dynamic>
                            </div>
                        </gridster-item>
                    </ng-container>
                </gridster>
            </p-tabPanel>
            <p-tabPanel header="{{ 'customer360.title.detailAtBranch' | translate }}" [selected]="true">
                <p-panel>
                    <div class="product-table" *ngFor="let product of productsType">
                        <app-product-list-type-v2 *ngIf="isShow(product?.type) && product?.listData?.length > 0"
                            [data]="product?.listData" [type]="product?.type" [codeType]="product?.codeType"
                            [resizeWindow]="timeResize" [customerCode]="customerCode" (loading)="showLoading($event)">
                        </app-product-list-type-v2>
                    </div>
                </p-panel>
            </p-tabPanel>
        </p-tabView>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>
