<div class="right-view planning-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Lập kế hoạch</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="fluid-container px-4 pt-4" [formGroup]="formSearch">
            <!-- <div class="row py-1"> -->
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.customerCode' | translate }}</label>
                <input
                  type="text"
                  class="d-block"
                  formControlName="customerCode"
                  pInputText
                  (keyup.enter)="searchPlan(false)"
                  [maxlength]="20"
                />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="customerName"
                  (keyup.enter)="searchPlan(false)"
                  [maxlength]="200"
                />
              </div>
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.branch' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranches"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="m-0">Loại khách hàng</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listTypeCustomer"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="typeCustomer"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>
            </div>

            <div class="row py-1">
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.rmManager' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="rmCode"
                  [filter]="true"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="statusAp"
                  [filter]="true"
                  [options]="listApStatus"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.year' | translate }}</label>
                <input type="text" class="d-block" formControlName="yearAp" pInputText />
              </div>
            </div>
          </div>

          <div class="block-center px-4 filter-top">
            <div class="action__left">
              <button [disabled]="disabledSearch" class="btn btn-small btn--light-blue" (click)="searchPlan(false)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>

            <div class="action__right">
              <button
                class="btn btn-small btn--light-blue"
                [disabled]="this.listSelected?.length === 0"
                (click)="importPlanning()"
              >
                Nhập từ file
              </button>
            </div>
          </div>

          <div class="table__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <!-- <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-column
                [width]="35"
                [frozenLeft]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="checkAll"
                      (click)="onCheckboxAllFn($event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="isChecked(row)"
                      (click)="onCheckboxFn(row, $event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="customerCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="customerName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="branchNamePlan"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branchName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="employeeName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmManager' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="accountType"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerType' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'saleTarget.saleTargetStatus' | translate }}"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <em class="las {{ row.icon }} f-16"></em>
                  <span style="margin-left: 15px" title="{{ row.statusOpportunity | translate }}">{{
                    row.statusTarget | translate
                  }}</span>
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-column
                prop="statusText"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.status' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="125"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button
                      *ngIf="row.status === 2"
                      type="button"
                      title="{{ 'btnAction.sendApproved' | translate }}"
                      class="btn btn-small btn--light-blue"
                      (click)="requestApprovalAp(row)"
                    >
                      {{ 'btnAction.sendApproved' | translate }}
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
