<div class="modal-header" [class]="background" [ngxModalDraggable]>
  <div class="m-0 f-16"><span>{{'title.' + (isConfirm ? 'confirm' : 'notification') | translate }}</span></div>
</div>
<div class="modal-body" id="content">
  <ng-container *ngIf="message">
    <p *ngFor="let mes of listMessage">{{ mes }}</p>
  </ng-container>
  <ng-container *ngIf="!message">
    <p>{{ 'notificationMessage.confirmMessage' | translate }}</p>
  </ng-container>
</div>
<div class="modal-footer">
  <button *ngIf="isConfirm" class="btn btn--red mr-3" (click)="close(false)">{{ closeTitle | translate
    }}</button>
  <button *ngIf="!isConfirm" [class]="'btn mr-3 btn--' + color" (click)="close(false)">{{'btnAction.close' | translate
    }}</button>
  <button *ngIf="isConfirm && !disableConfirm" class="btn btn--light-blue" (click)="close(true)">{{continueTitle | translate }}</button>
  <button *ngIf="isCopy" class="btn btn-light" (click)="copy()">
    <em class="las la-copy"></em> {{'btnAction.copy' | translate }}
  </button>

</div>
