<div class="modal-header pb-4" [class]="isApproved ? 'background-blue' : 'background-red'">
  <div class="m-0">
    <h5>{{ 'btnAction.' + (isApproved ? 'approved' : 'refuse') | translate }}</h5>
  </div>
</div>
<div class="modal-body">
  <div class="form-group has-error" [formGroup]="form">
    <div *ngIf="isApproved">
      <label>
        {{ 'exception_reason' | translate }}
        <span class="text-red">(*)</span>
      </label>
      <p-dropdown
        emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
        formControlName="exceptionReason"
        [options]="exceptionReasons"
        optionLabel="name"
        optionValue="code"
        placeholder=" "
        (onFocus)="onFocus()"
      >
      </p-dropdown>
    </div>

    <div class="mt-4">
      <label
      >{{ 'fields.' + (isApproved ? 'content' : 'reason') | translate
      }}<span *ngIf="!isApproved" class="text-red">(*)</span></label
    >
      <textarea
        placeholder="{{ 'placeholder' | translate }}"
        [maxlength]="maxlength"
        type="text"
        class="form-control"
        formControlName="content"
      ></textarea>
      <div
        *ngIf="
          !isApproved &&
          isSubmit &&
          form.get('content').errors &&
          form.get('content').errors.cusRequired &&
          form.get('content').touched
        "
        class="invalid-tooltip"
      >
        {{ 'validationMessage.required' | translate }}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
    <button class="btn btn--light-blue ml-3" [disabled]="form.controls.exceptionReason.invalid" (click)="save()">{{ 'btnAction.record' | translate }}</button>
  </div>
</div>
