// .confirm-approved-modal {
//   .modal-dialog {
//     max-width: 450px;
//   }
// }
@import 'src/assets/styles/variable';

.confirm-approved-modal {
  .modal-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 450px;
  }
  .modal-content {
    border-radius: 7px;
    border: none;
  }
  .modal-header {
    padding: 15px;
    margin: 0;
  }
  .modal-body {
    min-height: 120px;
  }

  .background-red {
    background-color: $red !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
  .background-blue {
    background-color: $blue !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
  .background-yellow {
    background-color: $yellow !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
}
