<div class="modal-header pb-4 pt-3">
  <div class="block-center-between">
    <div class="">
      <h4 class="m-0">Thông báo</h4>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span class="f-25 pr-2" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-header">
  <p class="font-weight-bolder pl-2">Đã tồn tại nhóm chat với tiêu chí lọc này !</p>
</div>
<div class="modal-body">
  <h4 class="pl-2">Danh sách các nhóm đã tồn tại</h4>
  <div class="list__block">
    <div class="table__view user__view">
      <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="true"
                     [scrollbarH]="true" [virtualization]="false" [columnMode]="'force'"
                     [rows]="listData" (activate)="onActive($event)" [headerHeight]="50">
        <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="50">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.index' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <span>{{ rowIndex + 1}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="groupName" [sortable]="false" [width]="450">
          <ng-template let-column="column" ngx-datatable-header-template>
            Tên nhóm
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="createdDate" [sortable]="false" [width]="250">
          <ng-template let-column="column" ngx-datatable-header-template>
            Ngày tạo
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                              [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div class="block-center text-center column-action">
              <button
                type="button"
                title="Chat"
                class="btn--light-blue btn-icon--small btn btn-email"
                (click)="goGroupChat(row)"
              >
                <em class="las la-chat-small f-16"></em>
              </button>

            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                       let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                                     [hidden]="false" (change)="table.onFooterPage($event)">
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="pb-5 modal-footer d-block">
  <div class="text-center">
    <button (click)="createGroupChatIgnoreFilter()" class="btn btn--light-blue ml-3" title="Tạo mới">Tạo mới</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
