.list__group-mbchat-modal {
  .list__group-mbchat-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(62% - 3.5rem);
  }
  .modal-content {
    height: 100%;
    left: 20%;
    width: 62%;
    top: 20%;
  }
  @media screen and (max-width: 1600px) {
    .modal-content {
      height: 100%;
      left: 10%;
      width: 70%;
      top: 20%;
    }
  }
  @media screen and (max-width: 1450px) {
    .modal-content {
      height: 100%;
      left: 10%;
      width: 85%;
      top: 20%;
    }
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #f0f0f3;
  }
}
