<div class="right-view warning-ap">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Cảnh báo AP</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row">
            <div class="col-md-4">
              <!-- <div class="form-group" [formGroup]="formSearch">
                <label class="m-0">{{ 'kpi.menu.formatReport' | translate }} </label>
                <div class="row px-4" [formGroup]="formSearch">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="HTML" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">HTML</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="EXCEL" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">Excel</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="PDF" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">PDF</label>
                  </div>
                </div>
              </div> -->

              <div class="form-group">
                <div class="row" [formGroup]="formSearch">
                  <div class="col-md-12">
                    <label class="m-0">{{ 'fields.block' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listDivision"
                      placeholder=" "
                      class="d-block"
                      formControlName="division"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row" [formGroup]="formSearch">
                  <div class="col-md-12">
                    <label class="m-0">Nhóm RM</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="listGroupRM"
                      placeholder=" "
                      class="d-block"
                      formControlName="groupRM"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="m-0">Kỳ dữ liệu</label>
                <div class="row px-4" [formGroup]="formSearch">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-4">
                    <p-radioButton value="1" formControlName="period"></p-radioButton>
                    <label class="m-0" class="ml-3">Tháng</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-4">
                    <p-radioButton value="2" formControlName="period"></p-radioButton>
                    <label class="m-0" class="ml-3">6 Tháng</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row" [formGroup]="formSearch">
                  <div class="col-md-6">
                    <label class="m-0">Thời điểm dữ liệu</label>
                    <ng-container *ngIf="formSearch.controls.period.value === '1'">
                      <p-calendar
                        class="d-block custom-calendar"
                        formControlName="dateWarning"
                        dateFormat="mm/yy"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        [showIcon]="true"
                        [maxDate]="commonData.maxMonth"
                        [minDate]="commonData.minMonth"
                        view="month"
                        [readonlyInput]="true"
                        icon="las la-calendar-alt"
                      >
                      </p-calendar>
                    </ng-container>
                    <ng-container *ngIf="formSearch.controls.period.value === '2'">
                      <p-dropdown
                        [options]="listMonth"
                        placeholder=" "
                        class="d-block pr-4"
                        formControlName="monthPlan"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="name"
                        optionValue="code"
                      >
                      </p-dropdown>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="form-group" [formGroup]="formSearch">
                <label class="m-0">Chiều dữ liệu</label>
                <div class="row px-4">
                  <div *ngIf="listGroupRM.length > 1" class="mt-2 mb-0 p-field-radiobutton col-md-4">
                    <p-radioButton value="CN" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields._branch' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-4">
                    <p-radioButton value="RM" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.rm' | translate }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 b-table">
              <app-loading *ngIf="isSearch"></app-loading>

              <div class="filter-top block-center-between mt-0">
                <div class="filter-top__left">
                  <div>
                    <input
                      placeholder="{{ 'btnAction.search' | translate }}"
                      type="text"
                      class="form-control search-box"
                      [(ngModel)]="textSearch"
                      (keyup.enter)="add()"
                    />
                  </div>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.create' | translate }}"
                    (click)="add()"
                  >
                    <em class="las la-plus-circle f-16"></em>
                  </button>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    (click)="search()"
                  >
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
                <div class="filter-top__right block-center">
                  <button class="btn btn--red btn-small mr-4 text-white" (click)="removeList()">
                    {{ 'btnAction.deleteAll' | translate }}
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  #table
                  ngxDataTable
                  class="bootstrap fullscreen"
                  [rows]="listDataTable"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="55"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [sortable]="false"
                    [draggable]="false"
                    [prop]="columns[0].prop"
                    [name]="columns[0].name"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [sortable]="false"
                    [draggable]="false"
                    [prop]="columns[1].prop"
                    [name]="columns[1].name"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="block-center text-center column-action">
                        <button
                          type="button"
                          class="btn-outline"
                          (click)="removeRecord(row); $event.stopPropagation()"
                          title="{{ 'btnAction.delete' | translate }}"
                        >
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="table.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div class="text-center pt-4">
            <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewApWarning()">
              {{ 'labels.reportShow' | translate }}
            </button>
          </div>
          <ng-container *ngIf="isViewTable">
            <div class="block-center-between px-4 filter-top pt-5">
              <div class="action__left"></div>
              <div class="action__right">
                <button
                  class="btn btn-icon btn-icon--small btn-search ml-2"
                  (click)="downloadFile()"
                  title="{{ 'btnAction.export' | translate }}"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
            <div class="block-center-between filter-top">
              <div class="card text-left mb-4">
                <div style="margin-bottom: 25px; height: 350px">
                  <p-table
                    class="ngxDataTable plan-table"
                    [value]="[{}]"
                    [scrollable]="dataRows.length !== 0"
                    scrollHeight="flex"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                          <th *ngIf="item?.column < firstHeader" rowspan="2" width="150px" class="pre-line text-center">
                            {{ item?.value }}
                          </th>
                        </ng-container>

                        <ng-container *ngFor="let item of parentHeader; let rowIndex = index">
                          <th
                            *ngIf="item?.countCode > 0"
                            [attr.colspan]="item?.countCode"
                            [width]="fixWidth(item.countCode)"
                            class="pre-line text-center"
                          >
                            {{ item?.value }}
                          </th>
                        </ng-container>
                      </tr>

                      <tr>
                        <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                          <th *ngIf="item?.column >= firstHeader" width="150px" class="children text-center">
                            {{ item?.value }}
                          </th>
                        </ng-container>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-sale>
                      <ng-container *ngFor="let itemRow of dataRows; let rowIndex = index">
                        <tr>
                          <ng-container *ngFor="let col of itemRow.cells; let indexCol = index">
                            <td class="text-center" width="150px" style="white-space: pre-line">{{ col?.value }}</td>
                          </ng-container>
                        </tr>
                      </ng-container>
                      <tr *ngIf="dataRows.length === 0">
                        <td
                          [attr.colspan]="countCol"
                          style="text-align: center; border-bottom: none"
                          class="text-center"
                        >
                          {{ 'messageTable.emptyMessage' | translate }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
