.row__item-task {
  flex-basis: 30%;
  max-width: 30%;
}
.row__item-created {
  flex-basis: 20%;
  max-width: 20%;
}
.row__item-dateExpired {
  flex-basis: 20%;
  max-width: 20%;
}
.row__item-type {
  flex-basis: 15%;
  max-width: 15%;
}
.row__item-status {
  flex-basis: 15%;
  max-width: 15%;
}
.filter {
  padding: 12px 25px;
}
.icon-pending {
  display: none;
}
.isPending {
  border: 1px solid #ffc107;
  cursor: not-allowed;
  .icon-pending {
    display: block !important;
    color: #ffc107;
  }
}
.isAbort {
  border: 1px solid #ff808b;
  cursor: not-allowed;
  .icon-pending {
    display: block !important;
    color: #ff808b;
  }
}
