<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'task.title' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" *ngIf="isAdvance" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.taskName' | translate }}</label>
                <input placeholder="" type="text" (keyup.enter)="searchAdvance(true)" class="form-control"
                  formControlName="subject" />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.createdBy' | translate }}</label>
                <input placeholder="" type="text" (keyup.enter)="searchAdvance(true)" class="form-control"
                  formControlName="createdBy" />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.status' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listStatus"
                  placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="status"
                  appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code" optionLabel="name">
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.priority' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="priority"
                  placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="level"
                  appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code" optionLabel="name">
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.type' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listTaskType" placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="type"
                  appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code" optionLabel="name">
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.campaign' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listCampaign" placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="campaignId" appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="id">
                  <ng-template let-item pTemplate="item">
                    <div class="text-truncate" title="{{ item.displayName }}">
                      {{item.value_to_search}}
                    </div>
                  </ng-template>
                  <ng-template let-item pTemplate="selectedItem">
                    {{item.value_to_search}}
                  </ng-template>
                </p-dropdown>

              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.expiredDate' | translate }}</label>
                <p-calendar class="d-block" formControlName="dueDate" dateFormat="dd/mm/yy" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt">
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4 mt-0" [class.pt-4]="!isAdvance">
            <div class="filter-top__left">
              <div *ngIf="!isAdvance">
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                  [(ngModel)]="paramSearch.search" (keyup.enter)="search(true)" maxlength="200" />
              </div>
              <button *ngIf="!isAdvance" class="btn-icon btn-icon--small btn btn-search ml-2" (click)="search(true)">
                <em class="las la-search f-16"></em>
              </button>
              <button *ngIf="!isAdvance" class="btn btn--light-blue btn-small ml-2" (click)="isShow()">
                {{ 'btnAction.searchAdvance' | translate }}
              </button>
              <button *ngIf="isAdvance" class="btn btn--light-blue btn-small" (click)="isShow()">
                {{ 'btnAction.searchBasic' | translate }}
              </button>
              <button *ngIf="isAdvance" class="btn btn--light-blue btn-small ml-2" (click)="searchAdvance(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button class="btn btn--light-blue btn btn-small ml-2" (click)="switchType()">
                <em [class]="'las f-16 la-' + (!isAssign ? 'tasks' : 'bell')"></em> {{ 'btnAction.' + (!isAssign ?
                'assignedFor' : 'lstFollowUp') | translate }}
              </button>
              <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-2"
                (click)="create()" title=" {{ 'btnAction.createTask' | translate }} ">
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view group__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
              [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages"
              (activate)="onActive($event)" [rowClass]="getRowClass">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="subject"
                name="{{ 'fields.taskName' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="type"
                name="{{ 'fields.type' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ 'task.type.' + value.toLowerCase() | translate }}">{{ 'task.type.' +
                    value.toLowerCase() | translate }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="refStatus"
                name="{{ 'fields.status' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ 'task.status.' + value.toLowerCase() | translate }}">{{ 'task.status.' +
                    value.toLowerCase() | translate }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="level"
                name="{{ 'fields.priority' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ 'priority.' + value.toLowerCase() | translate }}">{{ 'priority.' + value.toLowerCase()
                    | translate }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdBy"
                name="{{ 'fields.createdBy' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="dueDate"
                name="{{ 'fields.expiredDate' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="campaignName"
                name="{{ 'fields.campaign' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button *ngIf="isShowUpdate(row) && objFunction?.update" type="button"
                      title="{{ 'btnAction.edit' | translate }}" class="btn-outline btn--light-blue"
                      (click)="edit(row);$event.stopPropagation()">
                      <em class="las la-edit"></em>
                    </button>
                    <button *ngIf="isShowDelete(row) && objFunction?.delete" type="button" class="btn-outline"
                      title="{{ 'btnAction.delete' | translate }}" (click)="delete(row);$event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
