<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ "customer360.menu.customer360" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <app-customer-list #customerList [showAction]="true" [type]="type" [refreshTable]="isRefreshTable"
          [propData]="prop" (loading)="showLoading($event)">
        </app-customer-list>
      </div>
    </div>
  </div>
</div>
