<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ objFunction?.rsName }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list row">
        <div class="table-branch col-md-4 pl-0 pr-2">
          <div class="card flex-grow-1">
            <!-- <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div class="card-title">Đơn vị kinh doanh</div>
              </div>
              <div class="filter-top__right"></div>
            </div> -->

            <div class="fluid-container px-4 py-2" [formGroup]="formSearch">
              <div class="row py-1">
                <div class="col-md-6">
                  <label class="m-0">{{ 'fields.branch' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listBranches"
                    placeholder=" "
                    class="d-block"
                    [filter]="true"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    formControlName="branchesCode"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [autoDisplayFirst]="false"
                  ></p-dropdown>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-6">
                  <label class="m-0">{{ 'fields.block' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listDivision"
                    placeholder=" "
                    class="d-block"
                    [filter]="true"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    formControlName="divisionCode"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [autoDisplayFirst]="false"
                  ></p-dropdown>
                </div>
                <div class="col-md-6">
                  <label class="m-0">{{ 'fields.month' | translate }}</label>
                  <p-calendar
                    class="d-block"
                    formControlName="month"
                    dateFormat="mm/yy"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    [showIcon]="true"
                    icon="las la-calendar-alt"
                    view="month"
                  >
                  </p-calendar>
                </div>
              </div>
            </div>

            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small" (click)="search(true)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="filter-top__right">
                <button class="btn btn--light-blue btn-small" (click)="import()">
                  {{ 'btnAction.importFromFile' | translate }}
                </button>
              </div>
            </div>

            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #tableUser
                class="bootstrap fullscreen"
                [rows]="listBranch"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [selected]="selected"
                [selectionType]="'single'"
                (select)="onSelect($event)"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  prop="branchCode"
                  name="{{ 'fields.branchCode' | translate }}"
                  [width]="200"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="ml-2">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" prop="branchName" name="{{ 'fields.branchName' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="ml-2">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="tableUser.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="table-standard col-md-8 pl-2 pr-0">
          <div class="card flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div class="card-title">KPI tiêu chuẩn của từng CBQL</div>
              </div>
              <div class="filter-top__right d-flex">
                <button *ngIf="hiddenTable && !isEdit" class="btn btn--light-blue btn-small" (click)="showEdit()">
                  {{ 'btnAction.edit' | translate }}
                </button>

                <button *ngIf="hiddenTable && isEdit" class="btn btn--light-blue btn-small" (click)="save()">
                  {{ 'btnAction.save' | translate }}
                </button>
              </div>
            </div>
            <div *ngIf="hiddenTable" class="table__view mb-4">
              <p-table class="p-table-fullscreen custom-table" [value]="[{}]" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header">
                  <tr>
                    <th width="200px" rowspan="2">Chỉ tiêu</th>
                    <th width="100px" rowspan="2" style="white-space: pre-line">KPI tiêu chuẩn/kế hoạch đơn vị</th>
                    <ng-container *ngFor="let item of parentHeader; let rowIndex = index">
                      <th *ngIf="rowIndex > 1" colspan="2" class="parent pre-line">
                        {{ item?.value }}
                      </th>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                      <th *ngIf="rowIndex > 1" class="children">
                        {{ item?.value }}
                      </th>
                    </ng-container>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sale>
                  <ng-container *ngFor="let itemRow of dataRows; let rowIndex = index">
                    <tr>
                      <ng-container *ngFor="let col of itemRow; let indexCol = index">
                        <td *ngIf="indexCol === 0" width="200px" style="white-space: pre-line">
                          {{ col?.value }}
                        </td>
                        <td *ngIf="indexCol === 1" width="100px">
                          {{ col?.value | number: '0.0-2' }}
                        </td>
                        <td *ngIf="indexCol >= 2" class="children">
                          <ng-container *ngIf="!col?.kpiStandardId">
                            <ng-container *ngIf="isEdit && col.showInput">
                              <input
                                [class]="col.error ? 'ng-invalid ng-dirty' : ''"
                                pInputText
                                [(ngModel)]="col.value"
                                [suffix]="'%'"
                                (change)="editProportion(col, itemRow)"
                              />
                            </ng-container>
                            <ng-container *ngIf="!isEdit">
                              {{ col?.value }} {{ !col.showInput ? '' : '%' }}
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="col?.kpiStandardId"> {{ col?.value | number: '0.0-2' }} </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
