@import 'variable';

.content-body {
  background-color: $body-bg;
  padding: 0;
}
.filter-top__left {
  display: flex;
  align-items: flex-end;
}
.table-branch,
.table-standard {
  display: flex;
  flex-direction: column;
  .card {
    text-align: left;
    margin: 0;
  }
  .card-title {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }
}

.pre-line {
  white-space: pre-line;
}

.custom-table {
  .parent {
    width: 250px !important;
  }
  
  .children {
    width: calc(250px / 2) !important;
  }
}
  