<app-loading *ngIf="isLoading"></app-loading>
<div class="construction-cashflow-tracking h-100 content-body__list">
  <div class="list__block">
    <div class="pt-4" [formGroup]="form">
      <div class="row">
        <div class="col-md-4 form-group has-error">
          <label>{{ 'debtClaims.filter.accNumber' | translate }}</label>
          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [filter]="true"
            [options]="commonData.listAccountNumber" class="d-block" formControlName="accNumber" appendTo="body"
            autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
          </p-dropdown>
        </div>
        <div class="col-md-4 form-group has-error">
          <label>{{ 'debtClaims.filter.startDate' | translate }}</label>
          <p-calendar class="d-block" formControlName="fromDate" dateFormat="dd/mm/yy" appendTo="body"
            [maxDate]="commonData.maxDate" [minDate]="commonData.minDate" autoZIndex="false" baseZIndex="10000"
            [showIcon]="true" icon="las la-calendar-alt">
          </p-calendar>
          <small class="p-error" *ngIf="
                          form?.controls?.fromDate?.errors?.cusRequired && form?.controls?.fromDate?.touched
                        ">{{ 'validationMessage.toDate' | translate }}</small>
        </div>
        <div class="col-md-4 form-group has-error">
          <label>{{ 'debtClaims.filter.toDate' | translate }}</label>
          <p-calendar class="d-block" formControlName="toDate" dateFormat="dd/mm/yy" appendTo="body"
            [maxDate]="commonData.maxDate" [minDate]="commonData.minDate" autoZIndex="false" baseZIndex="10000"
            [showIcon]="true" icon="las la-calendar-alt">
          </p-calendar>
          <small class="p-error" *ngIf="
                          form?.controls?.toDate?.errors?.cusRequired && form?.controls?.toDate?.touched
                        ">{{ 'validationMessage.fromDate' | translate }}</small>
        </div>
        <div class="col-md-4 form-group has-error">
          <label>{{ 'debtClaims.fields.ftCode' | translate }}</label>
          <input placeholder="Nhập số FT" maxlength="50" type="text" class="d-block" formControlName="ftCode" pInputText
            trimInput />
        </div>
        <div class="col-md-4 form-group has-error">
          <label>{{ 'fields.status' | translate }}</label>
          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="commonData.listStatus" class="d-block" formControlName="status" appendTo="body"
            autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
          </p-dropdown>
        </div>
        <div class="col-md-4 form-group has-error" *ngIf="isStatusAll">
          <label>{{ 'debtClaims.filter.assetSuggest' | translate }}</label>
          <div class="d-flex mt-3">
            <div class=" mr-4" [formGroup]="form">
              <p-radioButton formControlName="assetSuggest" value="1"></p-radioButton>
              <label class="ml-2">{{ 'fields.yes' | translate }}</label>
            </div>
            <div class="" [formGroup]="form">
              <p-radioButton formControlName="assetSuggest" value="0"></p-radioButton>
              <label class="ml-2">{{ 'fields.no' | translate }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-small btn-search" title="{{ 'btnAction.search' | translate }}" (click)="search()">
            {{ 'btnAction.search' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="table__view mt-4">
      <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listFT" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
        [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
        [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">

        <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" width="10">
          <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div class="center-column">
              <!-- <p-checkbox [(ngModel)]="row.checked" binary="true" (onChange)="checkValue(row ,row.checked, $event)"
                [disabled]="!editable">
              </p-checkbox> -->

              <input type="checkbox" [checked]="row.checked" [disabled]="!editable"
                (click)="checkValue(row, $event.target.checked, $event); $event.stopPropagation()" />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="refNo"
          name="{{ 'debtClaims.fields.ftCode' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="trxDt"
          name="{{ 'debtClaims.fields.inComeDate' | translate }}">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="creditAmt"
          name="{{ 'debtClaims.fields.inComeValue' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value | formatNumber : null : 2 }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="dscp"
          name="{{ 'debtClaims.fields.inComeContent' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="amtRemaining"
          name="{{ 'debtClaims.fields.amountRemaining' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value !== '' ? (value | formatNumber : null : 2) : '' }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false"
          name="{{ 'debtClaims.fields.inComeValueOfContruction' | translate }}">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ value }}" hidden>{{ value }}</span>
            <p-inputNumber [disabled]='!row?.editing' [minFractionDigits]='2' [min]='0' class='w-64' maxlength="19"
              [(ngModel)]="row.amountCollateral" maxFractionDigits='2' mode='decimal' placeholder='0.00'
              styleClass='w-100' useGrouping='false' (keyup)="checkAmountCollateral($event.target.value, row)">
            </p-inputNumber>
            <small class="p-error custom-error" *ngIf="row.amountCollateralErr">{{ row.amountCollateralErr }}</small>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false"
          name="{{ 'debtClaims.fields.paymentRound' | translate }}">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [disabled]='!row?.editing'
              [options]="commonData.listPaymentRound" placeholder=" " class="d-block"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [(ngModel)]="row.period"
              appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code" optionLabel="name"
              (onChange)="checkPaymentRound(row)"
              >
            </p-dropdown>
            <small class="p-error custom-error" *ngIf="row.periodErr">{{ row.periodErrMessage }}</small>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false"
          name="{{ 'debtClaims.fields.paymentType' | translate }}">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [disabled]='!row?.editing'
              [options]="commonData.listPaymentType" placeholder=" " class="d-block"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [(ngModel)]="row.paymentType"
              appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="value" optionLabel="name"
              (onChange)="checkPaymentType(row)">
            </p-dropdown>
            <small class="p-error custom-error" *ngIf="row.paymentTypeErr">{{ row.paymentTypeErrMessage }}</small>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.action' | translate }}">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-small btn-secondary" *ngIf="row?.showDuplicateBtn" (click)="duplicateFT(row)"><em
              class="las la-plus-circle f-16"></em></button>
            <button class="btn btn-small btn-secondary" *ngIf="showRemoveDuplicateBtn(row)" (click)="removeDuplicatedFT(row)"><em
              class='ic-x'></em></button>
            <button class="btn btn-small" *ngIf="row?.status && !row?.editing && editable" (click)="editFT(row)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-small btn--light-blue" *ngIf="row?.editing && row?.checked" (click)="save(row, true)">{{
              'btnAction.save' |
              translate }}</button>
            <button class="btn btn-small btn-secondary" *ngIf="row?.editing && row?.checked"
              (click)="cancelEditFT(row, false)">{{
              'btnAction.cancel' | translate
              }}</button>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
              [hidden]="false" (change)="table.onFooterPage($event)">
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
    <div [formGroup]="form">
      <div class="row">
        <div class="col-12 text-center">
          <button class="col-md-4 btn btn-small btn--light-blue" title="{{ 'btnAction.completed' | translate }}"
            (click)="completed()">
            {{ 'btnAction.completed' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
