<div class="right-view campaign-detail">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small" (click)="backToList()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'campaign.detailCampaign' | translate }}</h3>
        </div>
        <div class="content__top-right">
            <!-- <button class="btn btn--light-blue btn--light-blue-custom btn-small">{{ 'campaign.button.create_child' | translate }}</button>
            <button class="btn btn--light-blue btn--light-blue-custom btn-small">{{ 'campaign.button.update' | translate }}</button> -->
            <button *ngIf="allowActive" class="btn btn--light-blue btn-small" (click)="activeCampaign()">{{ 'campaign.button.active' | translate }}</button>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="header">
                <span class="i-block">
                    {{'campaign.sale.created_by' | translate}}: <span class="value">{{campaign?.createdBy || ''}}</span>
                </span>
                <span class="i-block text-ellipsis">
                    {{'fields.branch' | translate}}: <span class="value">{{campaign?.branchDisplay || ''}}</span>
                </span>
                <span class="i-block">
                    {{'fields.status' | translate}}: <span class="status-value">{{campaign?.statusDisplay || ''}}</span>
                </span>
            </div>
            <div class="col-12 detail-block mt-3">
                <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
                    <mat-tab label="{{'campaign.tabs.campaign_info' | translate}}"></mat-tab>
                    <mat-tab label="{{'campaign.tabs.campaign_allocation' | translate}}"></mat-tab>
                    <mat-tab label="{{'campaign.tabs.follow_customer' | translate}}"></mat-tab>
                    <mat-tab label="{{'campaign.tabs.campaign_result' | translate}}"></mat-tab>
                    <!-- <mat-tab label="{{'campaign.tabs.campaign_child' | translate}}"></mat-tab> -->
                </mat-tab-group>
            </div>

            <div class="col-12 detail-block mb-4" style="padding: 0px; height: calc(100% - 125px); overflow: auto;" *ngIf="tabIndex === 0">
                <app-sme-campaign-info (changeInfo)="changeInfo($event)" (changeLoading)="changeLoading($event)"></app-sme-campaign-info>
            </div>

            <div class="col-12 detail-block mb-4" style="padding: 0px; height: calc(100% - 125px); overflow: hidden;" *ngIf="tabIndex === 1">
                <app-detail-campaign-allocation [campaignCode] = "campaignCode" (changeLoading)="changeLoading($event)" (changeInfo)="changeInfo($event)"></app-detail-campaign-allocation>
            </div>

            <div class="col-12 detail-block mb-4" style="padding: 0px; height: calc(100% - 125px); overflow: hidden;" *ngIf="tabIndex === 2">
                <app-detail-customer-tracking [campaignCode] = "campaignCode" (changeInfo)="changeInfo($event)" (changeLoading)="changeLoading($event)"></app-detail-customer-tracking>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tabIndex === 3">
                <campaign-report [campaignCode]="campaignCode" [detailCampaign]="detailCampaign"></campaign-report>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tabIndex === 4">

            </div>

            <!-- <div class="col-12 detail-block mb-4" *ngIf="tabIndex === 5">

            </div> -->

        </div>
    </div>
</div>
