@import '../../../../../assets/styles/variable';

.content-body {
  background-color: $body-bg;
  padding: 0;
}
.filter-top__left {
  display: flex;
  align-items: flex-end;
}
.table-user,
.table-role {
  display: flex;
  flex-direction: column;
}
