<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.roleForUser' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list row">
        <div class="table-user col-md-7 pl-0 pr-2">
          <div class="card flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                    [(ngModel)]="userSearch" (keyup.enter)="searchUser(true)" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  title="{{ 'btnAction.search' | translate }}" (click)="searchUser(true)">
                  <em class="las la-search f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable ngxDataTable #tableUser class="bootstrap fullscreen" [rows]="listUser"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                [count]="pageableUser?.totalElements" [offset]="pageableUser?.currentPage" [limit]="pageableUser?.size"
                (page)="setPage($event, 'user')" [selected]="selected" [selectionType]="SelectionType.single"
                (select)="onSelect($event)" [messages]="messages">
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                  [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageableUser?.currentPage * pageableUser?.size + rowIndex + 1}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="username"
                  name="{{ 'system.fields.username' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="btn-icon btn-icon--small grey clickable">
                      <em class="las f-16 la-user"></em>
                    </span>
                    <span class="ml-2">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="hrsCode"
                  name="{{ 'system.fields.hrisCode' | translate }}" [width]="105" [canAutoResize]="false">
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="code" name="{{ 'system.fields.rmCode' | translate }}"
                  [width]="95" [canAutoResize]="false"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="fullName"
                  name="{{ 'system.fields.fullName' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="branch" name="{{ 'system.fields.branch' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ generateBranchName(value) }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="currentVisible"
                      [size]="pageSize" [count]="rowCount" [hidden]="false" (change)="tableUser.onFooterPage($event)"
                      [messages]="messages">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="table-role col-md-5 pl-2 pr-0">
          <div class="card flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                    [(ngModel)]="roleSearch" (keyup.enter)="searchRole(true)" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  title="{{ 'btnAction.search' | translate }}" (click)="searchRole(true)">
                  <em class="las la-search f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button *ngIf="objFunction && objFunction.update" class="btn btn--light-blue btn-small mr-2"
                  (click)="save()" [class.disabled]="!(userSelected && roleSelected.length > 0)">
                  {{ 'btnAction.save' | translate }}
                </button>
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable ngxDataTable #tableRole class="bootstrap fullscreen" [rows]="listRole"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                [count]="pageableRole?.totalElements" [offset]="pageableRole?.currentPage" [limit]="pageableRole?.size"
                (page)="setPage($event, 'role')">
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                  [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageableRole?.currentPage * pageableRole?.size + rowIndex + 1}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="30" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                  [draggable]="false" [resizeable]="false" prop="id" name="">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxRoleFn">
                    <label class="checkbox">
                      <input type="checkbox" [checked]="row.isChecked" [disabled]="!(objFunction && objFunction.update)"
                        (click)="onCheckboxRoleFn(row, $event.target.checked);$event.stopPropagation()" />
                      <span class="ck"></span>
                    </label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                  name="{{ 'system.fields.roleCode' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="btn-icon btn-icon--small grey clickable">
                      <em class="las f-16 la-cogs"></em>
                    </span>
                    <span class="ml-2">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="description"
                  name="{{ 'system.fields.roleName' | translate }}"></ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="3"
                      [size]="pageSize" [count]="rowCount" [hidden]="false" (change)="tableRole.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
