<div class="right-view planning-import">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'fields.titlePlan' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card py-4 px-4 mb-4">
            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <div class="upload block-center">
                  <div [class.file-disabled]="isUpload"></div>
                  <input
                    class="upload__input"
                    type="file"
                    accept=".xlsx, .csv"
                    [(ngModel)]="files"
                    (change)="handleFileInput($event.target.files)"
                  />
                  <em class="las la-cloud-upload-alt f-20"></em>
                  <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
                </div>

                <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                  <em class="las la-times f-16"></em>
                </button>

                <button
                  class="btn btn-small btn--light-blue ml-3"
                  [class.disabled]="!isFile || isUpload"
                  (click)="importFile(true, false)"
                >
                  <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                </button>

                <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                  <em class="las la-file-invoice f-16"></em> Tải dữ liệu mẫu
                </button>
              </div>
              <div class="filter-top__right block-center">
                <button class="btn btn-small btn--light-blue ml-3" (click)="exportAPDataImported()">
                  Tải file đã nhập
                </button>
              </div>
            </div>
          </div>

          <ng-container *ngIf="viewListError">
            <div class="card pt-5 px-4 mb-4">
              <div class="filter-top__left">
                <h5>{{ 'customer360.title.listError' | translate }}</h5>
              </div>
            </div>

            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listDataError"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="address" [sortable]="false" [draggable]="false" name="Cột lỗi">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="sheet" [sortable]="false" [draggable]="false" name="Sheet lỗi">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="errorMessage" [sortable]="false" [draggable]="false" name="Loại lỗi">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="errorMessageDetail"
                  [sortable]="false"
                  [draggable]="false"
                  name="Chi tiết lỗi"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </ng-container>
          <ng-container *ngIf="viewListSuccess">
            <div class="card pt-5 px-4 mb-4">
              <div class="filter-top__left">
                <h5>Danh sách khách hàng thành công</h5>
              </div>
            </div>
            <div class="table__view" style="flex: none; height: 300px">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listDataSuccess"
                [virtualization]="false"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [width]="300"
                  prop="customerCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="Mã KH"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerName"
                  [width]="900"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  name="Tên KH"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <ng-container *ngIf="isSaveSuccess">
              <div class="text-center mt-4">
                <button class="btn btn-small btn--light-blue" (click)="requestApprovalAp()">
                  {{ 'btnAction.sendApproved' | translate }}
                </button>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!viewListSuccess && !viewListError && disableApproval">
            <div class="text-center">
              <button class="btn btn-small btn--light-blue" (click)="requestApprovalAp()">
                {{ 'btnAction.sendApproved' | translate }}
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
