<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'rm.menu.rmGroup' | translate }}/{{ 'rm.title.rmGroupCreate' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4">
          <div class="row form-create" [formGroup]="form">
            <div class="col-md-6 form-group has-error mt-4">
              <label>{{ 'fields.block' | translate }} <span class="text-red">(*)</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listBlock"
                class="d-block"
                formControlName="blockCode"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder=" "
                appendTo="body"
                optionValue="code"
                optionLabel="displayName"
                (onChange)="selectBlock($event)"
              >
              </p-dropdown>
              <div
                *ngIf="
                  form.get('blockCode').errors &&
                  form.get('blockCode').errors.cusRequired &&
                  form.get('blockCode').touched
                "
                class="invalid-tooltip"
              >
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error mt-5">
              <button
                class="btn btn-light btn-small text-primary"
                [class.disabled]="form.get('blockCode').value === ''"
                (click)="selectMembers()"
              >
                <em class="las la-user-plus f-16"></em> {{ 'fields.addRmInGroup' | translate }}
              </button>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'fields.groupCode' | translate }} <span class="text-red">(*)</span></label>
              <input
                class="form-control"
                type="text"
                formControlName="code"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
              <div *ngIf="form.get('code').errors && form.get('code').touched" class="invalid-tooltip">
                <div *ngIf="form.get('code').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
                <div *ngIf="form.get('code').errors.code">{{ 'validationMessage.code' | translate }}</div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'fields.groupName' | translate }} <span class="text-red">(*)</span></label>
              <input
                class="form-control"
                type="text"
                formControlName="name"
                maxlength="250"
                placeholder="{{ 'placeholder' | translate }}"
              />
              <div *ngIf="form.get('name').errors && form.get('name').touched" class="invalid-tooltip">
                <div *ngIf="form.get('name').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="textSearch"
                  (keyup.enter)="search(true)"
                  maxlength="200"
                />
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="search(true)"
              >
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex"></div>
          </div>
          <div class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listRm"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="100"
                name="{{ 'fields.type' | translate }}"
              >
                <ng-template ngx-datatable-cell-template>
                  <span title="{{ rmType }}">{{ rmType }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="rmCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.objectCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="rmFullName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.objectName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" class="btn-outline" (click)="deleteMember(row); $event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="150"
                [canAutoResize]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="center-column">
                    <span>{{ 'fields.leader' | translate }}</span>
                  </div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="center-column">
                    <p-checkbox
                      #ck
                      [(ngModel)]="row.isLeader"
                      binary="true"
                      inputId="binary"
                      (click)="onSelectedFn(row, ck)"
                    >
                    </p-checkbox>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="dateOfJoin"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.effectiveDate' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <div class="text-left btn-action my-3">
            <button class="btn btn--light-blue btn-small" (click)="confirmDialog()">
              {{ 'btnAction.create' | translate }}
            </button>
            <!-- <button class="btn btn-light ml-3" (click)="back()"><em class="las la-undo f-16"></em>
              {{ 'btnAction.back' | translate }}</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
