<div class="right-view list__campaigns-modal list__block">
  <div class="content__top block-center-between" *ngIf="!isViewFromPopup">
    <div class="content__top-left block-center">
<!--      <button class="btn-toggle-sidebar btn-icon&#45;&#45;small grey btn btn-icon mr-4">-->
<!--        <em class="las la-bars"></em>-->
<!--      </button>-->
      <h3 class="ml-4 mb-0 page--title">{{ 'campaign.title' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="customerType"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  (onChange)="changeBlock($event)"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.campaignCode' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="code"
                  pInputText
                />
              </div>
              <div class="col-md-4 form-group has-error"  *ngIf="customerType === 'INDIV'">
                <label>{{ 'fields.campaignName' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="name"
                  pInputText
                />
              </div>
              <div class="col-md-4 form-group has-error"  *ngIf="customerType === 'INDIV'">
                <label>{{ 'fields.purpose' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listPurpose"
                  class="d-block"
                  formControlName="typeId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.formality' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listFormality"
                  class="d-block"
                  formControlName="formId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-2 form-group has-error">
                <label>{{ 'fields.startFromDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="startDateFirst"
                  dateFormat="dd/mm/yy"
                  [maxDate]="maxStartDateFirst"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-2 form-group has-error">
                <label>{{ 'fields.toDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="startDateLast"
                  dateFormat="dd/mm/yy"
                  [minDate]="minStartDateLast"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-2 form-group has-error">
                <label>{{ 'fields.endFromDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="endDateFirst"
                  dateFormat="dd/mm/yy"
                  [maxDate]="maxEndDateFirst"
                  [minDate]="minEndDateCheck"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-2 form-group has-error">
                <label>{{ 'fields.toDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="endDateLast"
                  dateFormat="dd/mm/yy"
                  [minDate]="minEndDateLast"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.status' | translate }}</label>
                <p-dropdown *ngIf="customerType === 'INDIV'"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatus"
                  class="d-block"
                  formControlName="status"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
                <p-dropdown *ngIf="customerType === 'SME'"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatusSME"
                  class="d-block"
                  formControlName="status"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error" *ngIf="customerType !== 'SME'">
                <label>{{ 'fields.statusCampaign' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="statusCampaign"
                  class="d-block"
                  formControlName="isCampaignActive"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error" *ngIf="customerType === 'SME'">
                <label>Đơn vị tạo chiến dịch</label>
                <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listBranchesManager"
                placeholder=" "
                class="d-block"
                [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                formControlName="createdBranch"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                optionLabel="name"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              ></p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error" *ngIf="customerType === 'SME'">
                <label>Người tạo chiến dịch</label>
                <!-- <input
                  placeholder=""
                  maxlength="200"
                  type="text"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="createdUsername"
                  pInputText
                />-->
                <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="createdUsername"
                [filter]="true"
                [options]="listRmManager"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              >
              </p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error" *ngIf="customerType === 'SME'">
                <label>Chiến dịch liên quan</label>
                <input
                  placeholder=""
                  maxlength="200"
                  type="text"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="parentCampaignId"
                  pInputText
                />
                <!-- <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="createdUsername"
                [filter]="true"
                [options]="listRmManager"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
                [virtualScroll]="true"
                [itemSize]="31"
              >
              </p-dropdown> -->
              </div>


            </div>
          </div>
          <div class="filter-top block-center-between px-4">
            <div class="center__search">
              <button class="btn btn--light-blue btn-small" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button
                *ngIf="objFunction?.create"
                class="btn-icon btn-icon--small btn btn-search ml-2"
                (click)="create()"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view group__view" *ngIf="customerType === 'INDIV'">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                *ngIf="isViewFromPopup"
                [width]="40"
                [frozenLeft]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <div class="block-center">
                    <label class="radio">
                      <input
                        type="radio"
                        name="managerManager"
                        (click)="onCheckRadio(row); $event.stopPropagation()"
                        [checked]="isCheckedRadio(row)"
                      />
                      <span class="ck"></span>
                    </label>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="code"
                name="{{ 'fields.campaignCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="name"
                name="{{ 'fields.campaignName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="typeName"
                name="{{ 'fields.purpose' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="startDate"
                name="{{ 'fields.startDate' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="endDate"
                name="{{ 'fields.endDate' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="status"
                name="{{ 'fields.status' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getStatusDesc(value) }}">{{ getStatusDesc(value) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="campaignLevel"
                name="{{ 'fields.campaignLevel' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="{{ 'fields.campaignUnit' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="createdBy"
                name="{{ 'fields.campaignCreator' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="!isViewFromPopup"
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="isUpdate(row)" class="block-center text-center column-action">
                    <button
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <div class="table__view group__view" *ngIf="customerType === 'SME'">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listDataSME"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="code"
                name="{{ 'fields.campaignCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="name"
                name="{{ 'fields.campaignName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="parentCampaignName"
                name="{{ 'campaign_sme.campaignParent' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="status"
                name="{{ 'campaign_sme.status' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getStatusSME(value) }}">{{ getStatusSME(value) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="startDate"
                name="{{ 'campaign_sme.startTime' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="endDate"
                name="{{ 'campaign_sme.endTime' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="{{ 'campaign_sme.branch' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getBranchInfo(row) }}">{{ getBranchInfo(row) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'campaign_sme.rm' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getRMInfo(row) }}">{{ getRMInfo(row) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngIf="!isViewFromPopup && !isRM"
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="isUpdateSME(row)" class="block-center text-center column-action" style="justify-content: start;">
                    <button
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                    <button
                     *ngIf="canDeleteSME(row)"
                      (click)='deleteCampaign(row); $event.stopPropagation()'
                      class='btn-outline btn--light-blue'
                      title="{{ 'btnAction.delete' | translate }}"
                      type='button'
                    >
                      <em class='las la-trash-alt f-16'></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
