<div class="right-view revenue-sharing-approve">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="backShare()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'title.revenueSharing' | translate }}
      </h3>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.legalRepresentativeInfo' | translate }}</h5>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input formControlName="customerCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input formControlName="customerName" type="text" pInputText placeholder="" class="d-block" />
              </div>

              <!-- <div class="col-md-4">
                <label class="mb-0">{{ 'fields.phone' | translate }}</label>
                <input type="text" pInputText placeholder="" class="d-block" />
              </div> -->
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.currentRaisingCapital' | translate }}</label>
                <input formControlName="currentFundraising" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.currentCredit' | translate }}</label>
                <input formControlName="currentCredit" type="text" pInputText placeholder="" class="d-block" />
              </div>
            </div>

            <div class="row" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.block' | translate }}</label>
                <input formControlName="divisionCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
                <input formControlName="branchCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.codeRmManagement' | translate }}</label>
                <input formControlName="rmCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
            </div>
          </div>

          <div class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'fields.infoShare' | translate }}</h5>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.divisionShare' | translate }}</label>
                <!-- <input type="text" pInputText placeholder="" class="d-block" /> -->
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  formControlName="shareDivision"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
                <div
                  *ngIf="formCreated.get('shareDivision').errors && formCreated.get('shareDivision').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="formCreated.get('shareDivision').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.branchShare' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranches"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="shareBranch"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
                <div
                  *ngIf="formCreated.get('shareBranch').errors && formCreated.get('shareBranch').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="formCreated.get('shareBranch').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>

              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.codeRmShare' | translate }}</label>

                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="shareRmCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                ></p-dropdown>
                <div
                  *ngIf="
                    formCreated.get('shareRmCode').errors && formCreated.get('shareRmCode').touched && vaildateRmShare
                  "
                  class="invalid-tooltip"
                >
                  <div *ngIf="formCreated.get('shareRmCode').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.startTime' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="startDate"
                  dateFormat="dd/mm/yy"
                  [minDate]="minDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [readonlyInput]="false"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
                <div
                  *ngIf="formCreated.get('startDate').errors && formCreated.get('startDate').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="formCreated.get('startDate').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.endTime' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="endDate"
                  dateFormat="dd/mm/yy"
                  [minDate]="minDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [readonlyInput]="false"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
                <div
                  *ngIf="formCreated.get('endDate').errors && formCreated.get('endDate').touched"
                  class="invalid-tooltip"
                >
                  <div *ngIf="formCreated.get('endDate').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>
            </div>

            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap"
                columnMode="force"
                [headerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [rows]="listTarget"
                [messages]="messages"
              >
                <ngx-datatable-column
                  prop="targetName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.target' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="rateOfRmManagement"
                  [sortable]="false"
                  [draggable]="false"
                  [disabled]="true"
                  name="{{ 'fields.rateRmManagement' | translate }}"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ row.rateOfRmManagement }}">{{ row.rateOfRmManagement }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="ratioRmAmShared"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.rateRmShare' | translate }}"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <p-inputNumber
                      class="d-block"
                      [max]="maxRate"
                      [min]="0"
                      [(ngModel)]="row.ratioRmAmShared"
                      (onBlur)="editRateSharedRM(row)"
                      locale="en-IN"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                    >
                    </p-inputNumber>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
          <div class="card p-4 flex-grow-1 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.statusRevenue' | translate }}</h5>
            </div>
            <div class="row" [formGroup]="formCreated">
              <div class="col-md-4 mb-10">
                <label class="mb-0">{{ 'fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatusShare"
                  placeholder=" "
                  class="d-block"
                  formControlName="shareStatus"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-12 has-error mb-10">
                <label class="mb-0">{{ 'fields.propositionShare' | translate }}</label>
                <textarea
                  maxlength="500"
                  class="form-control label-text note-text"
                  type="text"
                  formControlName="note"
                ></textarea>
                <div *ngIf="formCreated.get('note').errors && formCreated.get('note').touched" class="invalid-tooltip">
                  <div *ngIf="formCreated.get('note').errors.cusRequired">
                    {{ 'validationMessage.required' | translate }}
                  </div>
                </div>
              </div>

            </div>
            <div class="content__top block-center-between mr-0">
              <div class="content__top-left block-center"></div>
              <div class="content__top-right">
                <button class="btn btn-small btn--light-blue" (click)="back()">
                  {{ 'btnAction.skip' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue" (click)="createdRevenueShare()">
                  {{ 'btnAction.write' | translate }}
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="screenType === 'UPDATE'" class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.historyRevenue' | translate }}</h5>
            </div>
            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #tableTarget
                class="bootstrap"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="customerCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.approver' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="customerName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.action' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="branch"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.time' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="phonea"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.propositionShare' | translate }}"
                  [resizeable]="false"
                  [frozenRight]="true"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
