<div class="heading my-4 block-center-between">
  <h5>{{ 'title.recentActivities' | translate }}</h5>
</div>
<div class="boxes" [class.d-none]="activityCalls.length === 0">
  <div class="box" *ngFor="let activity of activityCalls; let i = index; trackBy: identify"
    (click)="collapsedActivity(i)">
    <div class="media">
      <div class="media__left mr-3 position-relative">
        <ng-container *ngIf="activity.activityType === 'CALL'">
          <div class="activity__icon activity-call call-success">
            <em class="la-phone las f-22"></em>
          </div>
        </ng-container>
        <ng-container *ngIf="activity.activityType === 'MEETING'">
          <div class="activity__icon activity-meeting">
            <em class="la-bell las f-22"></em>
          </div>
        </ng-container>
        <ng-container *ngIf="activity.activityType === 'SMS'">
          <div class="activity__icon activity-sms">
            <em class="la-sms las f-22"></em>
          </div>
        </ng-container>
        <ng-container *ngIf="activity.activityType === 'EMAIL'">
          <div class="activity__icon activity-email">
            <em class="la-envelope las f-22"></em>
          </div>
        </ng-container>
        <ng-container
          *ngIf="activity.activityType !== 'EMAIL' && activity.activityType !== 'SMS' && activity.activityType !== 'CALL' && activity.activityType !== 'MEETING'">
          <div class="activity__icon activity-email" style="visibility: hidden;">
            <em class="la-envelope las f-22"></em>
          </div>
        </ng-container>
      </div>
      <div class="media-body">
        <div class="f-12">
          <span class="text-black">{{ activity?.parentId + ' - ' + activity?.parentName }}</span>
        </div>
        <div class="f-12">
          <span class="text-black">{{ activity?.rmUserName + ' - ' + activity?.rmBranchCode }}</span>
        </div>
        <div class="f-12">
          <span class="text-black">{{ activity?.dateStart | date: 'dd/MM/yyyy, HH:mm' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="activity-empty" [class.d-none]="activityCalls.length > 0">
  <div class="activity-empty--body">
    <img alt="" src="/assets/images/activity-empty.png" width="80%" />
    <div class="activity-empty--text">{{ 'activity.callEmpty' | translate }}</div>
  </div>
</div>