<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'system.menu.customer' | translate }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block customer-360__list">
          <div class="fluid-container px-4 pt-4" *ngIf="isShowAdvance" [formGroup]="searchForm">
            <div class="row py-1">
              <div class="col-md-3">
                <div>
                  <div>
                    <input
                      placeholder="{{ 'btnAction.multiSearch' | translate }}"
                      type="text"
                      class="form-control search-box"
                      (keyup.enter)="search(true, 'advance')"
                      formControlName="keyWord"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatus"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="status"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="search(true,'advance')"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3">
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  [filter]="true"
                  class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                  [disabled]="this.dataSearch?.customerType?.disabled"
                  placeholder="Nhóm khách hàng"
                  formControlName="customerType"
                  (onChange)="search(true,'advance')">
                </p-dropdown>
              </div>
              <div class="col-md-3">
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listRmManager"
                  placeholder="Người phụ trách"
                  class="d-block"
                  [filter]="true"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  formControlName="hrsCode"
                  (onChange)="search(true,'advance')"
                ></p-dropdown>
              </div>
            </div>
            <div style="float: right;margin-top: 10px;margin-bottom: 10px;">
              <div class="filter-top__right d-flex">
                <button
                  class="btn btn-icon btn-icon--small btn-search grey mr-2"
                  title="{{ 'btnAction.create' | translate }}"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small ml-3" >
                  <i class="las la-download" style="font-size: large;"></i> {{ 'btnAction.downloadFile' | translate }}
                </button>
                <button class="btn btn--light-blue btn-small ml-3" >
                  <i class="las la-upload" style="font-size: large;"></i> {{ 'btnAction.uploadFile' | translate }}
                </button>
              </div>
            </div>
          </div>


          <div *ngIf="isLoadTable; else noSearch" class="table__view user__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customerCode" [sortable]="false" [width]="110">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.customerCode' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                 <span title="{{value}}"><a style="color: cornflowerblue;" (click)="navigateDetail(value)">{{ value }}</a></span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customerName" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.customerName' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [prop]="searchForm.controls.customerTypeSale.value === 2 ? 'customerTypeMerge' : 'customerType'"
                [sortable]="false"
                [width]="110"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.customerType' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [prop]="searchForm.controls.customerTypeSale.value === 2 ? 'phone' : 'phoneDisplay'"
                [sortable]="false"
                [width]="100"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.phone' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="personInCharge" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.personInCharge' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="email" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.email' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customerObjects" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.customerObjects' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="status" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.status' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="createAt" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.createAt' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="createdBy" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'assignLDRM.title.createdBy' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="135"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="text-center">{{ 'fields.action' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center item-right">
                    <button type="button" class="btn-outline" title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button type="button" class="btn-outline ml-2" title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit"></em>
                    </button>

                    <p-menu
                      #menu
                      [popup]="true"
                      [model]="rowMenu"
                      appendTo="body"
                      (onShow)="onShowMenu($event)"
                      (onHide)="onHideMenu($event)"
                    ></p-menu>
                    <!-- CRMCN-3672 - NAMNH - END -->
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <div *ngIf="!isCount" class="w-100">
                    <div class="lds-ellipsis">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                  <app-pager-ngx-datatable
                    *ngIf="isCount"
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    [hasDropdown]="true"
                    (change)="table.onFooterPage($event)"
                    (eventChangePageSize)="handleChangePageSize($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <ng-template #noSearch>
            <div class="table_message">
              <b>Vui lòng chọn tiêu chí lọc.</b>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
