<div class="right-view info-basic">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small" (click)="back()">
                <em class="las la-undo f-16"></em>
                {{ 'btnAction.back' | translate }}
            </button>
            <h3 class="mb-0 page--title pl-5">
                Thông tin chi tiết Khách hàng
            </h3>
        </div>
    </div>
    <div class="content bg-transparent">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body p-0">
            <div class="content-body__list">
                <div class="list__block px-4">
                    <div class="row form-create">
                        <div class="col-12 mb-3" *ngIf="!isCustomer">
                          <div class="row">
                            <div class="col-7 collapse show pl-0 pr-3" id="detail">
                              <div class="detail-block">
                                <div class="row mb-5">
                                  <div class="col-lg-6">
                                    <h5 class="m-0">{{ 'address.labelInfoBasic' | translate }}</h5>
                                  </div>
                                  <div class="col-lg-2">
                                  </div>
                                  <div class="col-lg-4  ">
                                    <span class="float-right" [ngClass]="getClassStatus(info?.status)">{{info?.status}}</span>
                                  </div>
                                  <div class="col-lg-6 text-right"></div>
                                </div>
                                <div class="row px-4">
                                  <div class="col-3" >
                                    <label class="detail-key">Tên Doanh nghiệp</label>
                                  </div>

                                  <div class="col-9 form-group has-error" >
                                                <span class="text-wrap">
                                                    {{ info?.corpNm }}
                                                </span>
                                  </div>

                                  <div class="col-3" >
                                    <label class="detail-key">{{ 'address.taxCode' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" >
                                    <span class="text-wrap">{{ info?.taxCode }}</span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.dateEstablished' | translate
                                      }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.esbtDt }}
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.typeOfEnterprise' | translate
                                      }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.typeOfEnterprise }}
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.industry' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.industry }}
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.address' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.address }}
                                                </span>
                                  </div>

                                  <div class=" col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.NBR_OF_EMP' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.nbrOfEmp | number}} người
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.VN_CAP_AMT' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.vnCapAmt | number}} VNĐ
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.FRG_CAP_AMT' | translate }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.frgCapAmt | number}} VNĐ
                                                </span>
                                  </div>

                                  <div class="col-3" *ngIf="is_show">
                                    <label class="detail-key">{{ 'address.TOTAL_INVEST_CAP_AMT' | translate
                                      }}</label>
                                  </div>
                                  <div class="col-9 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.totalInvestCapAmt | number}} VNĐ
                                                </span>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-md-8"></div>
                                      <div class="col-md-2">
                                        <button class="btn btn-small btn-outline-primary" (click)="show()"
                                                *ngIf="!is_show">
                                          Xem thêm
                                        </button>
                                        <button class="btn btn-small btn-outline-primary" (click)="close()"
                                                *ngIf="is_show">
                                          Thu gọn
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!--                                <div class="col-3 ">-->
                                  <!--                                  <label class="detail-key">{{ 'address.CAPITAL_AMT' | translate }}</label>-->
                                  <!--                                </div>-->
                                  <!--                                <div class="col-8 form-group has-error">-->
                                  <!--                                                <span class="text-wrap">-->
                                  <!--                                                    {{ info?.capitalAmt | number}}-->
                                  <!--                                                </span>-->
                                  <!--                                </div>-->

                                  <!--                                <div class=" col-3 ">-->
                                  <!--                                  <label class="detail-key">{{ 'address.INCOME_OF_EMP' | translate }}</label>-->
                                  <!--                                </div>-->
                                  <!--                                <div class="col-8 form-group has-error">-->
                                  <!--                                                <span class="text-wrap">-->
                                  <!--                                                    {{ info?.incomeOfEmp | number}}-->
                                  <!--                                                </span>-->
                                  <!--                                </div>-->

                                </div>
                              </div>
                            </div>
                            <div class="col-5 collapse show detail-block" >
                              <div class="row mb-5">
                                <div class="col-lg-6">
                                  <h5 class="m-0">Thông tin tại MB</h5>
                                </div>
                                <div class="col-lg-6 text-right"></div>
                              </div>
                              <div class="row px-4">
                                <div class="col-4">
                                  <label class="detail-key">Code:</label>
                                </div>
                                <div class="col-8 form-group has-error">
                                                  <span class="text-wrap">

                                                  </span>
                                </div>

                                <div class="col-4 ">
                                  <label class="detail-key">{{ 'address.warningFirstCheck' | translate
                                    }}</label>
                                </div>
                                <div class="col-8 form-group has-error">
                                                <span class="text-wrap">
                                                    {{ info?.result }}
                                                </span>
                                </div>

                                <div class="col-4" *ngIf="is_show">
                                  <label class="detail-key">{{ 'address.statusActive' | translate }}</label>
                                </div>
                                <div class="col-8 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">

                                                </span>
                                </div>

                                <div class="col-4 " *ngIf="is_show">
                                  <label class="detail-key">{{ 'address.rmManagement' | translate }}</label>
                                </div>
                                <div class="col-8 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.rmCode}} - {{ info?.rmName}}
                                                </span>
                                </div>

                                <div class="col-4 " *ngIf="is_show">
                                  <label class="detail-key">{{ 'address.branch' | translate }}</label>
                                </div>
                                <div class="col-8 form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.branchName }}
                                                </span>
                                </div>

                                <div class="col-4 " *ngIf="is_show">
                                  <label class="detail-key">{{ 'address.mbIndustry' | translate }}</label>
                                </div>
                                <div class="col-8  form-group has-error" *ngIf="is_show">
                                                <span class="text-wrap">
                                                    {{ info?.mbIndustry }}
                                                </span>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 detail-block mb-3" *ngIf="isCustomer">
                            <div class="row" >
                                <div class="col-12">
                                    <div class="row mb-5">
                                      <div class="col-md-6">
                                        <h5 class="m-0">{{ 'customer360.title.customerInfo' | translate }}</h5>
                                      </div>
                                      <div class="col-md-6 text-right"></div>
                                    </div>
                                </div>
                                <div class="col-12 collapse show" id="detail">
                                    <div class="row px-4">
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.customerCode' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ getValue(model,
                                                'systemInfo.code') }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.customerFullName' | translate
                                                }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap"
                                                title="{{ getValue(model, 'customerInfo.fullName') }}">{{
                                                getTruncateValue(model, 'customerInfo.fullName', 50)
                                                }}</span>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.registrationNumber' | translate
                                                }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{
                                                getValue(model, 'customerInfo.registrationNumber')
                                                }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.taxCode' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{
                                                getValue(model, 'remainingInfo.vatInvSerial')
                                                }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.companyRegistrationDate' |
                                                translate}}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ getValue(model,'businessInfo.dateofbrith')
                                                }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.companyPhone' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ getValue(model,'customerInfo.mobileNumber')
                                                }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.sectorName' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ getValue(model,'systemInfo.sectorName') }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.country' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ getValue(model,'customerInfo.nationality')
                                                }}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">{{ 'fields.employeeNo' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{
                                                getValue(model, 'customerInfo.employeesNo')}}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="detail-key">Phân khúc KH (DT gần nhất)</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error">
                                            <span class="text-wrap">{{ segmentCustomer }}</span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.customerIndustry' | translate
                                                }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap"
                                                title="{{ getValue(model, 'otherInfo.mbIndustry') }}">{{
                                                getTruncateValue(model, 'otherInfo.mbIndustry', 250) }}</span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.customerType' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap">{{ getValue(model,
                                                'systemInfo.accountType') }}</span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.branchOpenCode' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap">{{ getValue(model,
                                                'systemInfo.branchCode') }} -
                                                {{ getValue(model, 'systemInfo.branchName') }}</span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.rmAssignToManage' | translate
                                                }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap">{{ rmManager }}</span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.dateOpenCode' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap">
                                                {{ getValue(model, 'customerInfo.openCodeDate') }}
                                            </span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.rmCrossSale' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap"
                                                title="{{ getValue(model, 'remainingInfo.mbRmBancheo') }}">{{
                                                getTruncateValue(model, 'remainingInfo.mbRmBancheo', 250) }}</span>
                                            <span class="text-wrap"></span>
                                        </div>
                                        <div class="col-md-3" *ngIf="is_show">
                                            <label class="detail-key">{{ 'fields.address' | translate }}</label>
                                        </div>
                                        <div class="col-md-3 form-group has-error" *ngIf="is_show">
                                            <span class="text-wrap"
                                                title="{{ getValue(model, 'customerInfo.address') }}">{{
                                                getTruncateValue(model, 'customerInfo.address', 250)
                                                }}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-small btn-outline-primary" (click)="show()"
                                                        *ngIf="!is_show">
                                                        Xem thêm
                                                    </button>
                                                    <button class="btn btn-small btn-outline-primary" (click)="close()"
                                                        *ngIf="is_show">
                                                        Thu gọn
                                                    </button>
                                                </div>
                                                <div class="col-md-5"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 detail-block mb-3">
                            <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
                                <mat-tab label="{{ 'address.tab.infoContact' | translate }}"></mat-tab>
                                <mat-tab label="Thông tin mối quan hệ"></mat-tab>
                                <mat-tab label="{{ 'address.tab.infoFinancial&CreditRelations' | translate }}"></mat-tab>
                                <mat-tab label="{{ 'address.tab.reportFinancial' | translate }}" *ngIf="isCustomer"></mat-tab>
                                <mat-tab label="{{ 'address.tab.infoCreditRelationshipMb' | translate }}" *ngIf="isCustomer"></mat-tab>
                            </mat-tab-group>
                        </div>
                        <div class="col-12 detail-block mb-4" *ngIf="tab_index === 0">
                            <div  *ngIf="!isCustomer">
                              <div class="row pl-4">
                                <div class="col-2 ">
                                  <label class="detail-key">{{ 'address.phoneNumber' | translate }}</label>
                                  <span class="text-wrap ml-4">
                                                    {{ info?.mobile }}
                                                </span>
                                </div>
                                <div class="col-2 ">
                                  <label class="detail-key">{{ 'address.email' | translate }}</label>
                                  <span class="text-wrap ml-4">
                                                    {{ info?.email }}
                                                </span>
                                </div>
                                <div class="col-2  ">
                                  <label class="detail-key">{{ 'address.website' | translate }}</label>
                                  <span class="text-wrap ml-4">
                                                    {{ info?.website }}
                                                </span>
                                </div>
                              </div>
                            </div>
                            <app-info-contact *ngIf="!isCustomer" [taxCode]="taxCode"></app-info-contact>
                            <div *ngIf="isCustomer" class="row">
                                <div *ngIf="isManager" class="col-12 detail-block mb-4">
                                    <div class="block-center mb-4"></div>
                                    <div class="row mt-3">
                                        <div class="filter filter-list no-gutters col-12">
                                            <div class="px-4">{{ 'customer360.title.legalRepresentativeInfo' | translate }}</div>
                                        </div>
                                        <div class="px-4 col-12 mt-3">
                                            <div class="filter-hearder no-gutters col-12 view-more" (click)="openLegalRepresentatives()">
                                                <div class="mb-2">
                                                    <button class="btn--light-blue btn-icon--small mr-2">
                                                        <em class="las la-angle-down f-16" *ngIf="!isLegalRepresentatives"></em>
                                                        <em class="las la-angle-up f-16" *ngIf="isLegalRepresentatives"></em>
                                                    </button>
                                                    <span>{{ 'fields.legalRepresentativeInfo' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="row px-4 mt-3" *ngIf="!isLegalRepresentatives">
                                                <div class="col-md-12">
                                                    <div class="row" *ngFor="let entity of legalRepresentatives">
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.customerLegalRepresentative' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'repName') }}</span>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'repPhone') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'repBirthDay') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{
                                                                'customer360.title.identificationPapers' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'repIdNum') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.email' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error"
                                                            (click)="sendMailToPerson(entity,'repEmail')">
                                                            <span class="text-wrap href-link">{{ getValue(entity, 'repEmail') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="px-4 col-12 mt-3">
                                            <div class="filter-hearder no-gutters col-12 view-more" (click)="openChiefAccountants()">
                                                <div class="mb-2">
                                                    <button class="btn--light-blue btn-icon--small mr-2">
                                                        <em class="las la-angle-down f-16" *ngIf="!isChiefAccountants"></em>
                                                        <em class="las la-angle-up f-16" *ngIf="isChiefAccountants"></em>
                                                    </button>
                                                    <span>{{ 'fields.chiefAccountant' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="row px-4">
                                                <div class="col-md-12" *ngIf="!isChiefAccountants">
                                                    <div class="row" *ngFor="let entity of chiefAccountants">
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.chiefAccountantName' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'chiefAccName') }}</span>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'chiefAccPhone') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'chiefAccBirth') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{
                                                                'customer360.title.identificationPapers' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'chiefAccIdNum') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.email' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error"
                                                            (click)="sendMailToPerson(entity,'chiefAccMail')">
                                                            <span class="text-wrap href-link">{{ getValue(entity, 'chiefAccMail') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="px-4 col-12 mt-3">
                                            <div class="filter-hearder no-gutters col-12 view-more" (click)="openContactInfos()">
                                                <div class="mb-2">
                                                    <button class="btn--light-blue btn-icon--small mr-2">
                                                        <em class="las la-angle-down f-16" *ngIf="!isContactInfos"></em>
                                                        <em class="las la-angle-up f-16" *ngIf="isContactInfos"></em>
                                                    </button>
                                                    <span>{{ 'fields.personContact' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="row px-4">
                                                <div class="col-md-12" *ngIf="!isContactInfos">
                                                    <div class="row" *ngFor="let entity of contactInfos">
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.contactInfoName' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'traderName') }}</span>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'traderPhone') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'traderBirthDay') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{
                                                                'customer360.title.identificationPapers' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'traderIdNum') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.email' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error"
                                                            (click)="sendMailToPerson(entity,'traderEmail')">
                                                            <span class="text-wrap href-link">{{ getValue(entity, 'traderEmail') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="px-4 col-12 mt-3">
                                            <div class="filter-hearder no-gutters col-12 view-more" (click)="openDirectors()">
                                                <div class="mb-2">
                                                    <button class="btn--light-blue btn-icon--small mr-2">
                                                        <em class="las la-angle-down f-16" *ngIf="!isDirectors"></em>
                                                        <em class="las la-angle-up f-16" *ngIf="isDirectors"></em>
                                                    </button>
                                                    <span>{{ 'fields.director' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="row px-4">
                                                <div class="col-md-12" *ngIf="!isDirectors">
                                                    <div class="row" *ngFor="let entity of directors">
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.directorName' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'directorName') }}</span>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error mt-3">
                                                            <span class="text-wrap">{{ getValue(entity, 'directorPhone') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'directorBirth') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{
                                                                'customer360.title.identificationPapers' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error">
                                                            <span class="text-wrap">{{ getValue(entity, 'directorIdNum') }}</span>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="detail-key">{{ 'fields.email' | translate }}</label>
                                                        </div>
                                                        <div class="col-md-3 form-group has-error"
                                                            (click)="sendMailToPerson(entity,'directorMail')">
                                                            <span class="text-wrap href-link">{{ getValue(entity, 'directorMail') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!isManager" class="col-12 collapse show">
                                    <h6>{{warningPermission}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 detail-block mb-4" *ngIf="tab_index === 1">
                          <app-info-shareholder [taxCode]="taxCode"></app-info-shareholder>
                        </div>
                        <div class="col-12 detail-block mb-4" *ngIf="tab_index === 2">
                            <app-info-relationship-oci *ngIf="!isCustomer" [taxCode]="taxCode" [(model)]="creditInformation">
                            </app-info-relationship-oci>
                            <app-info-relationship-oci *ngIf="isCustomer" [taxCode]="registrationNumber" [(model)]="creditInformation">
                            </app-info-relationship-oci>
                        </div>
                        <div class="col-12 detail-block mb-4" *ngIf="tab_index === 3 && isCustomer">
                            <customer-report-finance-address [customerCode]="code">
                            </customer-report-finance-address>
                        </div>
                        <div class="col-12 detail-block mb-4" *ngIf="tab_index === 4 && isCustomer">
                            <app-info-oci-mb *ngIf="isManager"></app-info-oci-mb>
                            <div *ngIf="!isManager" class="col-12 collapse show">
                                <h6>{{warningPermission}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
