<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h4 class="m-0">{{ hyper_link }}</h4>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mt-3" [formGroup]="form">
    <img alt="" [src]="data" class="m-auto vh-100" />
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red mr-4" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>