<div class="modal-header pb-4">
  <div class="m-0" style="width: 100%">
    <h5 class="text-center">{{ 'title.' + actionConfig[action].title | translate }}</h5>
  </div>
</div>
<div class="modal-body">
  <div class="form-group has-error" [formGroup]="form">
    <label>{{ 'fields._reason' | translate }}</label>
    <textarea
      placeholder="{{ 'placeholder' | translate }}"
      [maxlength]="maxlength"
      type="text"
      class="form-control"
      formControlName="content"
    ></textarea>
    <div
      *ngIf="form.get('content').errors && form.get('content').errors.cusRequired && form.get('content').touched"
      class="invalid-tooltip"
    >
      <div *ngIf="form.get('content').errors.cusRequired">
        {{ 'validationMessage.required' | translate }}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-center">
    <button class="btn btn--light-blue" (click)="closeModal()">{{ 'btnAction.skip' | translate }}</button>
    <button *ngIf="'end'" class="btn btn--red ml-3" (click)="save()">
      {{ actionConfig[action].btnName | translate }}
    </button>
  </div>
</div>
