.kanban-view {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .content {
    position: relative;
    flex-grow: 1;
  }
}

.kanban {
  &__col {
    padding: 0 5px !important;
    width: 300px;
    margin: 5px 0;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }

  &__row {
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 15px 8px 15px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }

  &__block {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    border: 1px dashed $gray-700;
    padding: 12px 5px;

    .card {
      margin: 10px 5px;
      cursor: move;
    }
    .card.cdk-drag-disabled {
      background: #f5f5fa;
      cursor: no-drop;
    }
  }

  &__progress {
    margin: 20px 0;
  }

  &__info {
    flex-wrap: wrap;

    .badge {
      margin-bottom: 5px;
    }
  }

  &__block-heading {
    flex: 0 0 auto;
    position: relative;
    min-height: 20px;
    // padding: 0 7px;
    padding: 0.5rem;
    border-bottom: 1px solid $gray-400;

    .la-plus-circle {
      position: relative;
      top: 2px;
    }

    .btn-icon {
      font-weight: 900;
      color: $headings-color;
    }
  }

  &__block-body {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    min-height: 15px;

    .card-body {
      border: 1px solid $gray-400;
      border-radius: 6px;
    }

    .task-lead {
      &:first-child {
        .card {
          margin-top: 0;
        }
      }
      &:last-child {
        .card {
          margin-bottom: 0;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
}

.cdk-drag-placeholder {
  background: #f5f5fa;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  div {
    opacity: 0;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
