.create-calendar-modal {
  .modal-dialog {
    max-width: 650px;
  }

  .p-label-none {
    .p-button-icon {
      display: none !important;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }
}
.modal-content {
  width: 148%;
  margin-left: -155px;
}

.form-task {
  border: 1px solid #ccc;
  padding: 19px;
  border-radius: 4px;
}
.form-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 5px;
}
input::placeholder {
  color: red;
  font-size: 1.2em;
  font-style: italic;
}

.btn-suggest {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.line-shadow {
  padding: 6px 17px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 8%);
}
.f-cus.l-height-fix {
  height: 300px!important;
  max-height: 400px!important;
}

.col-right {
  flex-direction: row-reverse;
  padding-right: 18px;
}
.btn-outline {
  background: #EFF2FE;
}
.m-height {
  min-height: 80px;
}

.border-cus {
  border-radius: 5px;
}
.f-cus {
  font-size: 15px;
}
.block-center-between.f-cus {
  cursor: pointer;
  &:hover {
    background-color: #EFF2FE !important;
    color: #bbbbfd !important;
  }
}
.f-cus.badge-danger {
  /*border-bottom: 2px solid #FF4271;*/
  padding: 5px 25px 14px 5px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  /*border-left: 4px solid #FF4271;*/
  /*background-color: rgb(255, 66, 113,0.1);*/
  background-color: #FFFFFF;
  color: #FF4271;
}

.f-cus.badge-success {
  /*border-bottom: 2px solid #25BA89;*/
  padding: 5px 25px 14px 5px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  /*border-left: 4px solid #25BA89;*/
  /*background-color: rgb(37, 186, 137, 0.1);*/
  background-color: #FFFFFF;
  color: #25BA89;

}

.f-cus.badge-primary {
  /*border-bottom: 2px solid #1D83BB;*/
  padding: 5px 25px 14px 5px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  /*border-left: 4px solid #1D83BB;*/
  /*background-color: rgba(100, 188, 237, 0.1);*/
  background-color: #FFFFFF;
  color: #1badde;
}

.f-cus.badge-blur {
  /*border-bottom: 2px solid #1D83BB;*/
  padding: 5px 25px 14px 5px;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  /*border-left: 4px solid #1D83BB;*/
  /*background-color: rgba(100, 188, 237, 0.1);*/
  background-color: #FFFFFF;
  color: #AEAFB4;
}

.f-cus.badge-blur-deco {
  padding: 5px 25px 14px 5px;
  background-color: #FFFFFF;
  color: #AEAFB4;
  text-decoration: line-through;
  text-decoration-color: red;
}

.chat-icon {
  width: 13px;
  margin-left: 8px;
}
.btn-chat {
  right: 10px;
  top: 10px;
}
