<div class="modal-header pb-4">
    <div class="block-center-between">
        <h5 class="m-0">Danh sách hoạt động</h5>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
      <div class="overflow-auto f-cus l-height-fix">
        <div *ngFor="let item of listData; let i = index" class="block-center-between line-shadow f-cus"
             [ngClass]="this.getStatusClass(item.status)" (click)="onEdit(i)"
        >
          <div class="">
            <b>{{item.name}}</b>   -  {{this.getLimitLength(item.description, 65)}}
            <span class="btn-chat mr-3" *ngIf="isShowBtnChat(item.comment)">
              <img class="chat-icon" src="assets/images/sme/icon-comment.svg"/>
            </span>
            <em class="las repeat_custom mr-3 align-items-center align-middle" *ngIf="item.repeat !== 0 && item.repeat !== null"></em>
            <em class="las la-circle-stars_custom mr-3 align-items-center align-middle"*ngIf="item.level === 'HIGH'" ></em>
          </div>
          <div class="">
            {{item.start | date: 'HH:mm dd/MM/yyyy'}} - {{item.end | date: 'HH:mm dd/MM/yyyy'}}
          </div>
        </div>
      </div>
</div>

