<div class="info-relationship-oci">
    <mat-tab-group
                (selectedTabChange)="onCreditFinanceChanged($event)"
                [selectedIndex]="credit_finance_tab_index">
        <mat-tab label="{{ 'customer360.title.loanBalance' | translate }}"></mat-tab>
        <mat-tab label="{{ 'customer360.title.outstandingBalanceInformation' | translate }}"></mat-tab>
        <mat-tab label="{{ 'customer360.title.collateral' | translate }}"></mat-tab>
    </mat-tab-group>
    <div class="col-12 detail-block mb-4" *ngIf="credit_finance_tab_index === 0">
        <customer-loan-balance
            [(model)]="creditInformation"
            [notificationMessage]="notificationMessage"
            #customerLoanBalance
        ></customer-loan-balance>
    </div>  
    <div class="col-12 detail-block mb-4" *ngIf="credit_finance_tab_index === 1">
        <customer-sme-obligation-other 
            [(model)]="creditInformation" 
            #customerObligation>
        </customer-sme-obligation-other>
    </div>
    <div class="col-12 detail-block mb-4" *ngIf="credit_finance_tab_index === 2">
        <customer-collateral-address
            [code]="code"
            [dataCollateral]="data"
            [loading]="isLoading"
            (loadingChange)="onLoadingChange($event)"
            [first]="first"
            (firstChange)="onFirstChange($event)"
            [notificationMessage]="notificationMessage"
            [showData]="show_data_collateral"
            [data]="collateral"
            (dataChange)="onCollateralChange($event)"
            (showDataChange)="onShowDataChange($event)"
            [fields]="fields"
            #smeCollateralTable
        ></customer-collateral-address>
    </div>
</div>