<div class="kpi-report-branch-table" id="customer__activity-list">
  <div class="filter-top block-center-between mt-2 pb-4">
    <div class="filter-top__left">
      <div>
        <input placeholder="{{ 'labels.branchInput' | translate }}" type="text" class="form-control search-box"
          [(ngModel)]="search_value" (keyup.enter)="add()" maxlength="200" />
      </div>
      <button class="btn btn-icon--small btn--light-blue  ml-2 mr-2" title="Chọn chi nhánh" (click)="add()">
        <em class="las la-plus-circle f-16"></em>
      </button>
      <button class="btn-icon btn-icon--small btn btn-search grey mr-2" (click)="selectMembers()">
        <em class="las la-search f-16"></em>
      </button>

    </div>
    <div class="filter-top__right d-flex">
      <button class="btn btn--red mr-4" (click)="deleteAll()">
        {{ 'btnAction.deleteAll' | translate }}
      </button>
    </div>
  </div>

  <div class="table__view">

    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen table-border" [rows]="branches"
      [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true"
      [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">

      <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40" [resizeable]="false" [frozenLeft]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'rm.fields.index' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="branchCode" [sortable]="false" [draggable]="false" [width]="130" [frozenLeft]="true"
        name="{{ 'fields.branchCode' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'code') }}">{{ getValue(row, 'code') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="branchName" [sortable]="false" [draggable]="false" [frozenLeft]="true"
        name="{{ 'fields.branchName' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'name') }}">{{ getValue(row, 'name') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="90" [frozenRight]="true"
        [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <div class="block-center text-center column-action">
            <button type="button" class="btn-outline" (click)="deleteMember(row);$event.stopPropagation()">
              <em class="las la-trash-alt"></em>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
            [hidden]="false" (change)="table.onFooterPage($event)">
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>
