.customer-overview-chart {
  .chart__header-right {
    display: flex;
    align-items: center;
  }
  .chart__header {
    margin-bottom: 1rem;
  }
  .ngx-datatable .datatable-body .datatable-body-row {
    min-height: 36px !important;
    height: 36px !important;
  }
  .column-number {
    .datatable-body-cell-label {
      flex-direction: row-reverse;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .max-width {
    max-width: 185px;
    width: 185px;
  }
  .header-dvt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
}
