<div class="chart customer-overview-chart">
  <div class="mb-0 chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">Bscore</div>
      <div class="chart__header-title-total ">Tổng số lượng KH: <span class="font-weight-bold">{{data?.totalCustomer}}</span></div>
    </div>
    <div class="chart__header-right">
      <div class="header-dvt pr-2">Đơn vị tính: VND</div>
      <!--        <p-dropdown-->
      <!--          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"-->
      <!--          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"-->
      <!--          [options]="commonData.filterList"-->
      <!--          class="d-block pr-5"-->
      <!--          appendTo="body"-->
      <!--          autoZIndex="false"-->
      <!--          baseZIndex="10000"-->
      <!--          optionLabel="name"-->
      <!--          optionValue="value"-->
      <!--          [(ngModel)]="filter"-->
      <!--          (onChange)="mapChart()"-->
      <!--        ></p-dropdown>-->
      <!--      <img-->
      <!--        *ngIf="!isTable"-->
      <!--        alt="icon-table"-->
      <!--        src="assets/images/ic_table.svg"-->
      <!--        class="img-icon"-->
      <!--        (click)="switchChart()"-->
      <!--      />-->
      <!--      <img-->
      <!--        *ngIf="isTable"-->
      <!--        alt="icon-chart"-->
      <!--        src="assets/images/ic_chart-horizontion.svg"-->
      <!--        class="img-icon"-->
      <!--        (click)="switchChart()"-->
      <!--      />-->
    </div>
  </div>
  <div class="mb-0 row form-group">

  </div>
  <ng-container *ngIf="!isLoading && data?.data && data?.data?.length > 0">
    <div class="chart__body">
      <!--      <div-->
      <!--        #myChart-->
      <!--        *ngIf="!isTable"-->
      <!--        echarts-->
      <!--        [options]="option"-->
      <!--        style="height: 100%"-->
      <!--      ></div>-->
      <div *ngIf="isTable" class="pt-5 pl-2 table__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [rows]="data?.data"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [virtualization]="false"
          [externalPaging]="false"
        >
          <ngx-datatable-column
            [sortable]="false"
            [width]="100"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            name="Hạng"
            prop="classGroup"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="totalCustomer"
            [canAutoResize]="true"
            name="Số lượng KH"
            headerClass="column-number"
            [resizeable]="true"
          >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span title="{{value | number}}" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="debtGroup1"
            [resizeable]="true"
            name="Nhóm nợ 1"
            headerClass="column-number"
          >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span title="{{value | number}}" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="debtGroupOther"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Nhóm còn lại"
            headerClass="column-number"
          >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span title="{{value | number}}" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="unScrLn"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Dư nợ tín chấp"
            headerClass="column-number"
          >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span title="{{value | number}}" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="scrLn"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Dư nợ có TSĐB"
            headerClass="column-number"
          >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span title="{{value | number}}" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="chart__legend text-right">Dữ liệu cập nhật ngày {{data?.dsnapshotDate}}</div>
  </ng-container>
  <ng-container *ngIf="!isLoading && (!data?.data || data?.data?.length == 0)">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!--  <app-loading *ngIf="isLoading"></app-loading>-->
</div>
