.kpi-manager-by-day {
  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }
  .list__block {
    overflow: auto;
  }
  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }

  .datatable-header-cell {
    th {
      text-align: center !important;
    }
  }

  .align-items-center {
    align-items: center;
    height: 100%;
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .border-col-left {
    border-right: 2px solid #ffffff;
    text-align: left;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .w-100-number-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }

  .number-data {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }

  .w-150-number-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }

  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .view-calendar {
    margin-top: -1rem;
  }

  .p-25 {
    padding-top: 25px;
  }

  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-200-data {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
}
