<div class="right-view kpi-manager-by-day">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'kpi.menu.kpi_manager' | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <!-- <button class="btn btn-icon btn-icon--small btn-search ml-2">
        <em class="las la-plus-circle f-16"></em>
      </button> -->
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="fluid-container">
            <div class="row">
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.rmCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.rmCode" trimInput maxlength="20" />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.hrisCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.hrsCode" trimInput maxlength="20" />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.rmName' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="params.rmName" trimInput maxlength="20" />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.branch' | translate }}</label>
                <lp-branches [(model)]="params.branches" [listBranch]="branches"></lp-branches>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.block' | translate }}</label>
                <ngx-select
                  placeholder=""
                  name="block"
                  [(ngModel)]="params.bizLine"
                  [allowClear]="false"
                  [items]="blocks"
                  optionValueField="code"
                  optionTextField="value_to_search"
                  (ngModelChange)="onBlockChange($event)"
                >
                </ngx-select>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.titleGroupRM' | translate }}</label>
                <ngx-select
                  placeholder=""
                  name="group"
                  [(ngModel)]="params.groupTitleId"
                  [allowClear]="false"
                  [items]="groups"
                  optionValueField="id"
                  optionTextField="value_to_search"
                  (ngModelChange)="onGroupTitleChange($event)"
                >
                </ngx-select>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.levelRM' | translate }}</label>
                <ngx-select
                  placeholder=""
                  name="level"
                  [(ngModel)]="params.rmLevelId"
                  [allowClear]="false"
                  [items]="levels"
                  optionValueField="id"
                  optionTextField="value_to_search"
                >
                </ngx-select>
              </div>
              <ng-container *ngIf="checkDisabledDate(params.bizLine)">
                <div class="col-md-3" *ngIf="!params.period">
                  <label class="mb-0">{{ 'fields.valueType' | translate }}</label>
                  <ngx-select
                    placeholder=""
                    name="value-type"
                    [(ngModel)]="params.dayView"
                    [allowClear]="false"
                    [items]="valueTypes"
                    optionValueField="code"
                    optionTextField="name"
                    (ngModelChange)="onValueTypeChange($event)"
                  >
                  </ngx-select>
                </div>

                <div class="col-md-3" *ngIf="params.period">
                  <label class="mb-0">{{ 'fields.valueType' | translate }}</label>
                  <ngx-select
                    placeholder=""
                    name="value-type"
                    [(ngModel)]="params.typeView"
                    [allowClear]="false"
                    [items]="dayViews"
                    optionValueField="code"
                    optionTextField="name"
                    (ngModelChange)="onTypeViewChange($event)"
                  >
                  </ngx-select>
                </div>
              </ng-container>
            </div>

            <div class="row py-2">
              <div class="col-md-3" *ngIf="checkDisabledDate(params.bizLine)">
                <label>{{ 'kpi.menu.typeData' | translate }}</label>
                <div class="row">
                  <div
                    class="p-field-radiobutton col-md-6"
                    *ngIf="checkScopes(['VIEW_KPI_BY_MONTH', 'VIEW_KPI_BY_DAY'])"
                  >
                    <p-radioButton [value]="false" [(ngModel)]="params.past" (ngModelChange)="onPastchange($event)">
                    </p-radioButton>
                    <label class="ml-3">Hiện tại</label>
                  </div>
                  <div
                    class="p-field-radiobutton col-md-6"
                    *ngIf="checkScopes(['VIEW_HISTORY_KPI_BY_MONTH', 'VIEW_HISTORY_KPI_BY_DAY'])"
                  >
                    <p-radioButton [value]="true" [(ngModel)]="params.past" (ngModelChange)="onPastchange($event)">
                    </p-radioButton>
                    <label class="ml-3">Lịch sử</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label>{{ 'fields.period' | translate }}</label>
                <div class="row">
                  <div
                    class="p-field-radiobutton col-md-6"
                    *ngIf="checkScopes(['VIEW_KPI_BY_DAY', 'VIEW_HISTORY_KPI_BY_DAY'])"
                  >
                    <p-radioButton
                      [value]="false"
                      [(ngModel)]="params.period"
                      (ngModelChange)="onPeriodChangeDay($event)"
                    >
                    </p-radioButton>
                    <label class="ml-3">Ngày</label>
                  </div>
                  <div
                    class="p-field-radiobutton col-md-6"
                    *ngIf="checkScopes(['VIEW_KPI_BY_MONTH', 'VIEW_HISTORY_KPI_BY_MONTH'])"
                  >
                    <p-radioButton
                      [value]="true"
                      [(ngModel)]="params.period"
                      (ngModelChange)="onPeriodchangeMonth($event)"
                    >
                    </p-radioButton>
                    <label class="ml-3">Tháng</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3" *ngIf="params.period">
                <div class="row">
                  <div class="col-md-6">
                    <label class="mb-0">{{ 'fields.month' | translate }}</label>
                    <ngx-select
                      placeholder=""
                      name="month"
                      [(ngModel)]="params.month"
                      [allowClear]="false"
                      [items]="months"
                      optionValueField="code"
                      optionTextField="name"
                      [disabled]="!params.past && checkDisabledDate(params.bizLine)"
                      (ngModelChange)="onMonthChange($event)"
                    >
                    </ngx-select>
                  </div>
                  <div class="col-md-6">
                    <label class="mb-0">{{ 'fields.year' | translate }}</label>
                    <ngx-select
                      placeholder=""
                      name="year"
                      [(ngModel)]="params.year"
                      [allowClear]="false"
                      [items]="years"
                      optionValueField="code"
                      optionTextField="name"
                      [disabled]="!params.past && checkDisabledDate(params.bizLine)"
                      (ngModelChange)="onYearChange($event)"
                    >
                    </ngx-select>
                  </div>
                </div>
              </div>
              <div class="col-md-3" *ngIf="!params.period">
                <div class="row px-4">
                  <label>{{ 'fields.date_of_view_data' | translate }}</label>
                </div>
                <div class="row view-calendar">
                  <div class="col-md-12">
                    <p-calendar
                      [(ngModel)]="params.businessDate"
                      class="d-block1"
                      dateFormat="dd/mm/yy"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      [showIcon]="true"
                      icon="las la-calendar-alt"
                      [disabled]="!params.past && checkDisabledDate(params.bizLine)"
                      [showTime]="false"
                      [maxDate]="maxDate"
                      [minDate]="minDate"
                    >
                    </p-calendar>
                  </div>
                </div>
              </div>
            </div>

            <div class="row py-3 block-center-between">
              <div class="center__search">
                <button class="btn btn-small btn--light-blue mr-2" (click)="search()">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <button
                class="btn btn--light-blue btn-icon--small mr-4"
                (click)="exportFile()"
                title="{{ 'btnAction.expport' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>

          <div class="" *ngIf="params.period && showLastModifiedDate">
            <span class="" style="color: red"
            >{{ 'kpi.menu.lastModifiedDate' | translate }}: {{ lastModifiedDate }}</span
            >
          </div>
          <div>
            <ng-container *ngIf="isSme">
              <ngx-datatable
                ngxDataTable
                #table
                class="custom-header"
                [messages]="messages"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [virtualization]="false"
                [externalPaging]="true"
                [columnMode]="'force'"
                [rows]="models"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (activate)="onActiveSme($event)"
                (page)="setPage($event)"
                [footerHeight]="70"
                [selectionType]="'single'"
                [headerHeight]="75"
              >
                <ngx-datatable-column
                  prop="rm_index"
                  headerClass="column-order"
                  [cellClass]="'my-custom-cell-class'"
                  [sortable]="false"
                  [frozenLeft]="true"
                  [width]="50"
                  [maxWidth]="50"
                  [resizeable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'rm.fields.index' | translate }}
                  </ng-template>

                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <table aria-hidden="true">
                      <thead>
                      <tr>
                        <td>
                          {{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}
                        </td>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="prop"
                  [width]="650"
                  [maxWidth]="650"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="5"
                  [frozenLeft]="true"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border-first">
                      <thead>
                      <tr>
                        <th scope="col" [attr.colspan]="5" class="colspan-border text-center">
                          {{ 'kpi.menu.infoRm' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.codeRm' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.nameRm' | translate }}</th>
                        <th scope="col" class="border-col w-200">{{ 'kpi.menu.branch' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.levelRm' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.codeHris' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-100-data">{{ getValue(row, 'rmCode') }}</td>
                        <td class="w-150-data">{{ getValue(row, 'rmName') }}</td>
                        <td class="w-200-data">
                          <span title="{{ getValue(row, 'branch') }}">{{ getValue(row, 'branch') }}</span>
                        </td>
                        <td class="w-100-data">{{ getValue(row, 'rmLevelName') }}</td>
                        <td class="w-100-data">{{ getValue(row, 'hrisCode') }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <!-- day -->
                <ng-container *ngIf="!params.period">
                  <ngx-datatable-column prop="target" [width]="600" [maxWidth]="600" [cellClass]="'my-custom-cell-class'" [flexGrow]="5"
                                        [resizeable]="false" [draggable]="false" [sortable]="false">
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border">
                        <thead>
                        <tr>
                          <th scope="col" colspan="4" class="colspan-border text-center">
                            {{ 'Kết quả' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.totalStandardScore' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.standardRating' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.totalDistributionPoints' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.classificationOfAssignment' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-data text-center padding-w" >
                            <span class="text-wrap"  [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{ getValue(row, 'standardScore') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"  [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{ getValue(row, 'standardRating') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"  [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{ getValue(row, 'entrustScore') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"  [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{ getValue(row, 'entrustRating') }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>
                <!-- day -->

                <!-- Tháng -->
                <ng-container *ngIf="params.period">
                  <ngx-datatable-column
                    prop="prop"
                    [width]="600"
                    [maxWidth]="600"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="5"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border">
                        <thead>
                        <tr>
                          <th scope="col" colspan="5" class="colspan-border text-center">
                            {{ 'kpiSme.result' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.totalStandardScore' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.standardRating' | translate }}</th>
                          <th scope="col" class="border-col w-150">
                            {{ 'kpiSme.totalDistributionPoints' | translate }}
                          </th>
                          <th scope="col" class="border-col w-150">
                            {{ 'kpiSme.classificationOfAssignment' | translate }}
                          </th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-data text-center padding-w">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{
                                getValue(row, 'standardScore') | number
                                }}</span>
                          </td>
                          <td class="w-150-data text-center">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{
                                getValue(row, 'standardRating')
                                }}</span>
                          </td>
                          <td class="w-150-data text-center">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{
                                getValue(row, 'entrustScore') | number
                                }}</span>
                          </td>
                          <td class="w-150-data text-center">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{
                                getValue(row, 'entrustRating')
                                }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>
                <!-- Tháng -->

                <ngx-datatable-column
                  prop="properties"
                  [width]="700"
                  [maxWidth]="700"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="5"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                  *ngFor="let dataPr of properties; let i = index"
                >
                  <ng-template ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="5" class="colspan-border text-center">
                          {{ dataPr.kpiItemName }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.standard' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.assign' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpiSme.result' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.benchmarkResults' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.resultOfTheComparison' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-150-data text-center padding-w">
                          {{ getValue(value[i], 'standard') | number }}
                        </td>
                        <td class="w-150-data text-center">{{ getValue(value[i], 'entrust') | number }}</td>
                        <td class="w-100-data text-center">
                            <span [ngStyle]="{ color: value[i]?.entrustColor }">{{
                              getValue(value[i], 'result') | number
                              }}</span>
                        </td>
                        <td class="w-150-data text-center">
                            <span [ngStyle]="{ color: value[i]?.entrustColor }">{{
                              getValue(value[i], 'standardPercent') | number
                              }}</span>
                        </td>
                        <td class="w-150-data text-center">
                            <span [ngStyle]="{ color: value[i]?.entrustColor }">{{
                              getValue(value[i], 'entrustPercent') | number
                              }}</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </ng-container>
            <ng-container *ngIf="!isSme">
              <div>
                <ngx-datatable
                  ngxDataTable
                  #table
                  class="row"
                  [messages]="messages"
                  [scrollbarV]="false"
                  [scrollbarH]="true"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [columnMode]="'force'"
                  [rows]="models"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [footerHeight]="50"
                  [selectionType]="'single'"
                  (activate)="onActive($event)"
                  [headerHeight]="66"
                >
                  <ngx-datatable-column
                    prop="rm_index"
                    headerClass="column-order"
                    [sortable]="false"
                    [width]="40"
                    [resizeable]="false"
                    [frozenLeft]="true"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      {{ 'rm.fields.index' | translate }}
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="prop"
                    [width]="width"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="5"
                    [frozenLeft]="true"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border-first" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" [attr.colspan]="colspan" class="colspan-border text-center">
                            {{ 'rm.title.rmInfo' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col-left w-100">{{ 'fields.rmCode' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'fields.rmName' | translate }}</th>
                          <th scope="col" class="border-col-left w-150">{{ 'rm.fields.branch' | translate }}</th>
                          <th scope="col" class="border-col-left w-150">{{ 'rm.fields.rm_level' | translate }}</th>
                          <th scope="col" class="border-col-left w-100">{{ 'fields.hrsCode' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-data">{{ getValue(row, 'rmCode') }}</td>
                          <td class="w-150-data">{{ getValue(row, 'rmName') }}</td>
                          <td class="w-150-data">{{ getValue(row, 'branchName') }}</td>
                          <td class="w-150-data">{{ getValue(row, 'rmLevel') }}</td>
                          <td class="w-100-data">{{ getValue(row, 'hrsCode') }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    *ngIf="view_value === 'NS'"
                    headerClass="align-items-center"
                    prop="prop"
                    [width]="200"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border" style="height: 100%">
                        <thead>
                        <tr>
                          <th scope="col" class="border-col-left w-100">{{ 'kpi.menu.floorPoint' | translate }}</th>
                          <th scope="col" class="border-col-left w-100">{{ 'kpi.menu.benchmark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data">{{ getValue(row, 'diemSan') | number }}</td>
                          <td class="w-100-number-data">{{ getValue(row, 'diemChuan') | number }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Theo điều kiện tự doanh -->
                  <ngx-datatable-column
                    prop="prop"
                    [width]="300"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'TUDOANH'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="3" class="colspan-border text-center">
                            {{ 'kpi.menu.sellingPoint' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.choVay' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.huyDong' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.dichVu' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'banChinhChoVayNgay') | number }}">{{
                                getValue(row, 'banChinhChoVayNgay') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'banChinhHuyDongNgay') | number }}">{{
                                getValue(row, 'banChinhHuyDongNgay') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'banChinhDichVuNgay') | number }}"
                              >{{ getValue(row, 'banChinhDichVuNgay') | number }}
                              </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="prop"
                    [width]="300"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'TUDOANH'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="3" class="colspan-border text-center">
                            {{ 'system.fields.diemBanCheo' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.choVay' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.huyDong' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.dichVu' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data" title="{{ getValue(row, 'banCheoChoVayNgay') | number }}">
                            {{ getValue(row, 'banCheoChoVayNgay') | number }}
                          </td>
                          <td class="w-100-number-data" title="{{ getValue(row, 'banCheoHuyDongNgay') | number }}">
                            {{ getValue(row, 'banCheoHuyDongNgay') | number }}
                          </td>
                          <td class="w-100-number-data" title="{{ getValue(row, 'banCheoDichVuNgay') | number }}">
                            {{ getValue(row, 'banCheoDichVuNgay') | number }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="prop"
                    [width]="250"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="2"
                    *ngIf="view_value === 'TUDOANH'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'system.fields.tongDiem' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'labels.dateMark' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'labels.accumulateMark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data" title="{{ getValue(row, 'tongDiemNgay') | number }}">
                            {{ getValue(row, 'tongDiemNgay') | number }}
                          </td>
                          <td class="w-150-number-data" title="{{ getValue(row, 'tongDiemLKNgay') | number }}">
                            {{ getValue(row, 'tongDiemLKNgay') | number }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Theo điều kiện tổng hợp theo ngày -->

                  <ngx-datatable-column
                    prop="prop"
                    [width]="300"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'THTN'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'labels.flowDate' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'labels.tudoanh' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'labels.totalrmMark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-number-data">
                              <span title="{{ getValue(row, 'theoNgayTuDoanh') | number }}">{{
                                getValue(row, 'theoNgayTuDoanh') | number
                                }}</span>
                          </td>
                          <td class="w-150-number-data">
                              <span title="{{ getValue(row, 'theoNgayTongDiem') | number }}">{{
                                getValue(row, 'theoNgayTongDiem') | number
                                }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="prop"
                    [width]="300"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'THTN'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'labels.lkDate' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'labels.tudoanh' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'labels.totalrmMark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-number-data">
                              <span title="{{ getValue(row, 'luyKeTuDoanh') | number }}">{{
                                getValue(row, 'luyKeTuDoanh') | number
                                }}</span>
                          </td>
                          <td class="w-150-number-data">
                              <span title="{{ getValue(row, 'luyKeTongDiem') | number }}">{{
                                getValue(row, 'luyKeTongDiem') | number
                                }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="total"
                    [resizeable]="false"
                    [minWidth]="300"
                    [sortable]="false"
                    *ngIf="view_value === 'THTN'"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      {{ 'system.fields.tongDiem' | translate }}
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span class="number-data" title="{{ getValue(row, 'tongDiem') | number }}">{{
                        getValue(row, 'tongDiem') | number
                        }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <!-- Theo điều kiện năng suất -->

                  <ngx-datatable-column
                    prop="prop"
                    [width]="750"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'NS'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="7" class="colspan-border text-center">
                            {{ 'system.fields.tongHopDiem' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'labels.tudoanhMark' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'labels.rmMark' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'labels.totalPSKHCN' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.diem_chuan' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.diem_san' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'labels.totalquymoMark' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'system.fields.tongDiem' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopDiemTuDoanh') | number }}">{{
                                getValue(row, 'tongHopDiemTuDoanh') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopDiemRm') | number }}">{{
                                getValue(row, 'tongHopDiemRm') | number
                                }}</span>
                          </td>
                          <td class="w-150-data">
                              <span title="{{ getValue(row, 'tongHopTongDiemSpkhcn') | number }}">{{
                                getValue(row, 'tongHopTongDiemSpkhcn') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopDiemChuan') | number }}">{{
                                getValue(row, 'tongHopDiemChuan') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopDiemSan') | number }}">{{
                                getValue(row, 'tongHopDiemSan') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopTongDiemQuyMo') | number }}">{{
                                getValue(row, 'tongHopTongDiemQuyMo') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'tongHopTongDiem') | number }}">{{
                                getValue(row, 'tongHopTongDiem') | number
                                }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="prop"
                    [width]="200"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'NS'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'system.fields.diemKenhSo' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'labels.tudoanh' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'labels.totalrmMark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'kenhSoTuDoanh') | number }}">{{
                                getValue(row, 'kenhSoTuDoanh') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'kenhSoRm') | number }}">{{
                                getValue(row, 'kenhSoRm') | number
                                }}</span>
                          </td>
                          <!-- <td class="w-150-data"><span title="{{getValue(row, 'huydong') | number }}">{{getValue(row,
                            'huydong') | number }}</span></td> -->
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="prop"
                    [width]="200"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="3"
                    *ngIf="view_value === 'NS'"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table class="table-border" aria-hidden="true">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'labels.bancasMark' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'labels.tudoanh' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'labels.totalrmMark' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'bancasTuDoanh') | number }}">{{
                                getValue(row, 'bancasTuDoanh') | number
                                }}</span>
                          </td>
                          <td class="w-100-number-data">
                              <span title="{{ getValue(row, 'bancasRm') | number }}">{{
                                getValue(row, 'bancasRm') | number
                                }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        (change)="table.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
