<div class="ml-3">
  <app-loading *ngIf="isLoading"></app-loading>
  <div>
    <div>
      <div class="col-md-7 b-table">
        <div [formGroup]="form"
             class="pb-3">
          <div class="mt-3">Ngày báo cáo</div>
          <div class="d-flex w-30 mt-3">
            <div>
              <p-calendar class="d-block custom-calendar"
                          formControlName="dateReport"
                          [(ngModel)]="dateReport"
                          dateFormat="dd/mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          icon="las la-calendar-alt"
                          placeholder="dd/mm/yyyy"
                          [maxDate]="maxDate"
                          [minDate]="minDate"
                          view="date">
              </p-calendar>
              <!--       -->
              <small *ngIf="form?.controls?.dateReport?.errors?.required && form?.controls?.dateReport?.touched"
                     class="p-error">
                {{'Ngày báo cáo không được để trống'}}
              </small>
            </div>
          </div>
        </div>
        <div class="form-group"
             [formGroup]="form">
          <label class="m-0">Chiều báo cáo</label>
          <div class="row">
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2"
                 *ngIf="!commonData.isRm && commonData.isRegionDirector">
              <p-radioButton [disabled]="isDownloadReport('EXCEL')"
                             value="area"
                             formControlName="reportBy"></p-radioButton>
              <label *ngIf="isDownloadReport('EXCEL')"
                     style="color: #909aa5"
                     class="m-0"
                     class="ml-3">Vùng</label>
              <label *ngIf="!isDownloadReport('EXCEL')"
                     class="m-0"
                     class="ml-3">Vùng</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2"
                 *ngIf="!commonData.isRm">
              <p-radioButton [disabled]="isDownloadReport('EXCEL')"
                             value="branch"
                             formControlName="reportBy"></p-radioButton>
              <label *ngIf="isDownloadReport('EXCEL')"
                     style="color: #909aa5"
                     class="m-0"
                     class="ml-3">Chi nhánh</label>
              <label *ngIf="!isDownloadReport('EXCEL')"
                     class="m-0"
                     class="ml-3">Chi nhánh</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton [disabled]="isDownloadReport('EXCEL')"
                             value="rm"
                             formControlName="reportBy"></p-radioButton>
              <label *ngIf="isDownloadReport('EXCEL')"
                     style="color: #909aa5"
                     class="m-0"
                     class="ml-3">{{ 'fields.rm' | translate }}</label>
              <label *ngIf="!isDownloadReport('EXCEL')"
                     class="m-0"
                     class="ml-3">{{ 'fields.rm' | translate }}</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="customer"
                             formControlName="reportBy"></p-radioButton>
              <label class="m-0"
                     class="ml-3">{{ 'fields.customer' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="form-group"
             *ngIf="(isReportBy('customer') || isReportBy('contract')) && isDownloadReport('EXCEL')">
          <label class="m-0">{{ 'kpi.menu.detailedReportType' | translate }} </label>
          <div class="row"
               [formGroup]="form">
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="rm"
                             formControlName="reportTypeDetail"> </p-radioButton>
              <label class="m-0"
                     class="ml-3">RM</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton [disabled]="commonData.isRm"
                             value="branch"
                             formControlName="reportTypeDetail"> </p-radioButton>
              <label class="m-0"
                     class="ml-3">Chi nhánh</label>
            </div>

          </div>
        </div>

        <div class="form-group row"
             [formGroup]="form"
             *ngIf="this.isReportBy('area')">
          <div class="col-md-5 p-w-5">
            <label>{{ 'fields.region_origin' | translate }}</label>
            <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                           class="d-block"
                           [options]="commonData.regionList"
                           formControlName="areaCode"
                           appendTo="body"
                           autoZIndex="false"
                           baseZIndex="10000"
                           optionLabel="locationName"
                           optionValue="locationCode"
                           [filter]="true"
                           [virtualScroll]="true"
                           [itemSize]="31">
            </p-multiSelect>
          </div>
        </div>
        <div class="form-group"
             *ngIf="isReportBy('branch')">
          <label class="m-0">{{ 'labels.list' | translate }} </label>
          <div class="row"
               [formGroup]="form">
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="ALL"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">{{ 'fields.choose_all' | translate }}</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="choose"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">Chọn chi nhánh</label>
            </div>
          </div>
        </div>
        <div *ngIf="((isReportBy('customer') || isReportBy('contract')) && isReportTypeDetail('branch'))
              || (isReportBy('branch') && !isListOptionAll())">
          <kpi-report-branch-table [listBranch]="branches"
                                   [(model)]="branchCodes"
                                   (modelChange)="onModelChange($event)"
                                   #table>
          </kpi-report-branch-table>
        </div>
        <div class="form-group"
             *ngIf="isReportBy('rm')">
          <label class="m-0">{{ 'labels.list' | translate }} </label>
          <div class="row"
               [formGroup]="form">
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="ALL"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">{{ 'fields.choose_all' | translate }}</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="choose"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">Chọn RM</label>
            </div>
          </div>
        </div>
        <div class="form-group"
             *ngIf="isReportBy('customer')">
          <label class="m-0">{{ 'labels.list' | translate }} </label>
          <div class="row"
               [formGroup]="form">
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="ALL"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">{{ 'fields.choose_all' | translate }}</label>
            </div>
            <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
              <p-radioButton value="choose"
                             formControlName="listOption"></p-radioButton>
              <label class="m-0"
                     class="ml-3">Chọn Khách hàng</label>
            </div>
          </div>
        </div>
        <div class="filter-top block-center-between mt-0"
             *ngIf="(isReportBy('customer') || isReportBy('rm')) && !isListOptionAll()">
          <div class="filter-top__left">
            <div>
              <input placeholder="{{ 'btnAction.search' | translate }}"
                     type="text"
                     [maxlength]="20"
                     pInputText
                     (onkeydown)="textSearch.substring(0,20)"
                     class="form-control search-box"
                     [(ngModel)]="textSearch"
                     [disabled]="allRM"
                     (keyup.enter)="add()"/>
            </div>
            <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.add' | translate }}"
                    [disabled]="allRM"
                    (click)="add()">
              <em class="las la-plus-circle f-16"></em>
            </button>
            <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    [disabled]="allRM"
                    (click)="search()">
              <em class="las la-search f-16"></em>
            </button>

          </div>
          <div class="filter-top__right block-center">
            <button class="btn btn--red btn-small mr-4 text-white"
                    [disabled]="allRM"
                    (click)="removeList()">
              {{ 'btnAction.deleteAll' | translate }}
            </button>
          </div>
        </div>
        <div *ngIf="(isReportBy('customer') || isReportBy('rm')) && !isListOptionAll()">
          <ngx-datatable style="height: 250px;"
                         #table
                         ngxDataTable
                         class="bootstrap fullscreen"
                         [rows]="listDataTable"
                         [columnMode]="'force'"
                         [headerHeight]="40"
                         [footerHeight]="50"
                         [bodyHeight]="400"
                         rowHeight="auto"
                         [scrollbarV]="true"
                         [scrollbarH]="true"
                         [virtualization]="false"
                         [externalPaging]="true"
                         [count]="pageable?.totalElements"
                         [offset]="pageable?.currentPage"
                         [limit]="pageable?.size"
                         (page)="setPage($event)"
                         [messages]="messages">
            <ngx-datatable-column [sortable]="false"
                                  name="{{ 'fields.order' | translate }}"
                                  [width]="55"
                                  [canAutoResize]="false"
                                  [draggable]="false"
                                  [resizeable]="false">
              <ng-template let-value="value"
                           let-rowIndex="rowIndex"
                           ngx-datatable-cell-template>
                <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false"
                                  [draggable]="false"
                                  [prop]="columns[0].prop"
                                  [name]="columns[0].name">
              <ng-template let-value="value"
                           ngx-datatable-cell-template>
                <span title="{{ value }}">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false"
                                  [draggable]="false"
                                  [prop]="columns[1].prop"
                                  [name]="columns[1].name">
              <ng-template let-value="value"
                           ngx-datatable-cell-template>
                <span title="{{ value }}">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'fields.action' | translate }}"
                                  [width]="100"
                                  [frozenRight]="true"
                                  [sortable]="false"
                                  [canAutoResize]="false"
                                  [draggable]="false"
                                  [resizeable]="false">
              <ng-template let-value="value"
                           let-row="row"
                           ngx-datatable-cell-template>
                <div class="block-center text-center column-action">
                  <button type="button"
                          class="btn-outline"
                          (click)="removeRecord(row); $event.stopPropagation()"
                          title="{{ 'btnAction.delete' | translate }}">
                    <em class="las la-trash-alt"></em>
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
              <ng-template let-rowCount="rowCount"
                           let-pageSize="pageSize"
                           let-selectedCount="selectedCount"
                           let-curPage="curPage"
                           let-offset="offset"
                           ngx-datatable-footer-template>
                <app-pager-ngx-datatable [page]="curPage"
                                         [offset]="offset"
                                         [size]="pageSize"
                                         [count]="rowCount"
                                         [hidden]="false"
                                         (change)="table.onFooterPage($event)">
                </app-pager-ngx-datatable>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>

    <div class="vw-100 d-flex w-100 justify-content-center align-items-center pt-3">
      <div>
        <button class="btn btn--light-blue btn-small btn-view"
                (click)="viewReport()">
          {{'Xuất báo cáo'}}
        </button>
      </div>
    </div>

  </div>
</div>
