@import 'variable';

.report-mobilization {
  &.right-view {
    .list__block {
      overflow: auto;
    }

    .b-table {
      display: flex;
      flex-direction: column;
      // left: 5px;
      height: 550px;
    }

    .table__view {
      border: 1px solid #dddd;
    }
  }
}

::ng-deep {
  .check-all-rm {
    .p-checkbox-label {
      margin-bottom: 0;
    }
  }
}

// ::ng-deep .datatable-body {
//   max-height: 250px !important;
//   height: auto !important;
// }