<div class="right-view dashboard-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'dashboard.title' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn-small btn--light-blue" (click)="redirectTo()">
        <em class="las la-list-ol f-16 mr-2"></em> {{ 'customer360.title.listCustomer' | translate }}
      </button>
    </div>
  </div>
  <div class="dashboard-body">
    <gridster [options]="options">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="gridster__item-body">
          <ndc-dynamic [ndcDynamicComponent]="item.component"
            [ndcDynamicInputs]="{'widget': item, 'resizeEvent': resizeEvent, 'viewChange': viewChange}">
          </ndc-dynamic>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>

<!-- <div class="right-view dashboard-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button  class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'dashboard.title' | translate }}</h3>
    </div>
  </div>
  <div class="row ml-3 dashboard">
    <div class="col-md-4 statistic-box">
      <div class="mb-3 mt-3">
        <span class="f-16 text-black chart-title">{{ 'fields.customer_status_chart' | translate }}</span>
        <img alt="" src="assets/images/chart.svg" class="f-22 chart-icon" (click)="view()" />
      </div>
      <ng-container *ngIf="is_loading_status">
        <div class="backdrop-loading--content"></div>
        <div class="shapeshifter play" style="background-image: url(/assets/images/sprite_60fps.svg)"></div>
      </ng-container>
      <div class="row">
        <div class="col-md-12 chart-auto" *ngIf="display_status">
          <app-chart-doughnut name="customer_status" [data]="status_chart" *ngIf="is_status_pie"></app-chart-doughnut>
          <lp-chart name="customer_status" [data]="status_bar_chart" *ngIf="!is_status_pie"></lp-chart>
          <div class="legend">
            <ul *ngFor="let entity of status_legend">
              <li>
                <div class="row">
                  <div class="col-md-7">
                    <div class="row">
                      <span [ngStyle]="{backgroundColor: entity.color}"></span>
                      {{entity.label}}
                    </div>
                  </div>
                  <div class="col-md-5 text-right">
                    {{entity.value}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ng-container *ngIf="!display_status">
          <div class="col-md-12 chart-empty">
            <div class="text-center text-notification f-16 mt-5">{{ 'notificationMessage.dataEmpty' | translate }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-4 statistic-box">
      <div class="mb-3 mt-3">
        <span class="f-16 text-black chart-title">{{ bscore_title }}</span>
        <img alt="" src="assets/images/chart.svg" class="f-22 chart-icon" (click)="view_bscore()" />
      </div>
      <ng-container *ngIf="is_loading_bscore">
        <div class="backdrop-loading--content"></div>
        <div class="shapeshifter play" style="background-image: url(/assets/images/sprite_60fps.svg)"></div>
      </ng-container>
      <div class="row" *ngIf="display_bscore">
        <div class="col-md-12 chart-auto">
          <app-chart-doughnut name="bscore_chart" [data]="bscore_chart" *ngIf="is_bscore_pie"></app-chart-doughnut>
          <lp-chart name="bscore_chart" [data]="bscore_bar_chart" [step]="1" *ngIf="!is_bscore_pie"></lp-chart>
          <div class="legend">
            <ul class="row">
              <li class="col-md-6" *ngFor="let entity of bscore_legend">
                <div class="row">
                  <div class="col-md-6 mr-3">
                    <div class="row">
                      <span [ngStyle]="{backgroundColor: entity.color}"></span>
                      {{entity.label}}
                    </div>
                  </div>
                  <div class="col-md-5 text-right">
                    {{entity.value}}
                  </div>
                </div>
              </li>
              <div class="py-4 chart-mes">
                <span> {{ message }}</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!display_bscore">
        <div class="col-md-12 chart-empty">
          <div class="text-center text-notification f-16 mt-5">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
      </ng-container>
    </div>

    <div class="col-md-4 statistic-box">
      <div class="mb-3 mt-3">
        <span class="f-16 text-black chart-title">{{ 'fields.toi_chart' | translate }}</span>
      </div>
      <ng-container *ngIf="is_loading_toi">
        <div class="backdrop-loading--content"></div>
        <div class="shapeshifter play" style="background-image: url(/assets/images/sprite_60fps.svg)"></div>
      </ng-container>
      <div class="row">
        <div class="col-md-12 chart-auto" *ngIf="display_toi">
          <lp-chart class="demo" name="toi_chart" [data]="toi_bar_chart" [step]="1" [viewx]="true"
            [xlabel]="'Triệu đồng'" [ylabel]="'Khách hàng'"></lp-chart>
        </div>
        <ng-container *ngIf="!display_toi">
          <div class="col-md-12 chart-empty">
            <div class="text-center text-notification f-16 mt-5">{{ 'notificationMessage.dataEmpty' | translate }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
