@import "variable";

::ng-deep .PEditor {
    height: 100%;
    overflow: auto;

    &__Wrapper {
        border: 1px solid $gray-300 !important;
        display: flex;
        flex-direction: column;
        position: relative !important;
        .editor-disabled {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .ql-editor {
            overflow: auto !important;
            height: 161px !important;
        }
    }
    &__MenuBar {
        border-bottom: 1px solid $gray-300 !important;
    }
    &__Main {
        flex: 1 1 auto;
        overflow: hidden;
        .p-editor-toolbar {
            .ql-formats {
                .ql-font {
                    display: none !important;
                }
                .ql-clean {
                    display: none !important;
                }
            }
        }
    }
    &__Content {
        height: 100%;
        word-break: break-word;
    }
    .ql-formats {
        overflow: unset !important;
    }

    ::ng-deep .ql-snow .ql-picker .ql-font {
        display: none !important;
    }
}

::ng-deep .ql-snow .ql-picker .ql-font {
    display: none !important;
}

.p-r-0 {
    padding-right: 0px;
}

.m-r-15 {
    margin-right: 15px;
}

.p-15 {
    padding: 15px;
}

.download-file {
    border: 1px solid #bebebe;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px 0px;
    height: 250px;
    display: flex;
    flex-direction: row;
    .box-file {
        height: 100px;
        text-align: center;
        margin: 0px 15px;
        width: calc(50% - 30px);
        background-color: #cfd2fc;
        display: flex;
        flex-direction: row;
        div {
            align-self: center;
            width: 100%;
        }
    }
}

.b-row {
    display: flex;
    flex-direction: row;
}

::ng-deep .p-editor-container {
    height: 142px;
}

.campaign-info-value{
    color: #141ED2;
    font-weight: 400;
    white-space: pre-wrap;
}

label.campaign-label{
    color: #737373;
    font-weight: 400;
}
.attachment-list-wrapper{
    border: 1px solid #BEBEBE;
}
.btn-download-file{
    cursor: pointer;
}
.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.campaign-participants,
.scope-branch,
.scope-region{
    overflow: auto;
    height: 70px;
}
.text-decoration-underline{
    text-decoration: underline!important;
}
.custom-tbl-height {
    padding: 0rem 1rem!important;
    height: 37px!important;
}