<div class="content-body__list">
    <div class="list__block">
        <div class="px-4 mt-3 campaign-wrapper">
            <div class="row" *ngIf="campaign">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'campaign.label.parent_campaign' | translate }} </label>
                            <p class="campaign-info-value text-ellipsis" [title]="campaign.parentCampaign" >{{ campaign.parentCampaign || ''}}</p>
                        </div>
        
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'fields.campaignCode' | translate }} </label>
                        <p class="campaign-info-value text-ellipsis" [title]="campaign.code"> {{ campaign.code || ''}}</p>
                        </div>
        
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'fields.campaignName' | translate }} </label>
                            <p class="campaign-info-value text-ellipsis" [title]="campaign.name">{{ campaign.name || ''}}</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="campaign-label">{{ 'fields.startDate' | translate }} </label>
                            <p class="campaign-info-value text-ellipsis">{{ campaign.formatedStartDate || ''}}</p>
                        </div>
        
                        <div class="col-md-6 form-group">
                            <label class="campaign-label">{{ 'fields.endDate' | translate }} </label>
                            <p class="campaign-info-value text-ellipsis">{{ campaign.formatedEndDate || ''}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="campaign-label">{{ 'campaign.label.campaign_target' | translate }} </label>
                        <p class="campaign-info-value text-ellipsis">{{ campaign?.itemName || '' }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="campaign-label">{{ 'campaign.label.campaign_participants' | translate }} </label>
                        <div class="campaign-participants">
                            <p class="campaign-info-value">{{ campaign?.participants || ''}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mb-4" style="height: 301px;">
                    <p-table
                    [scrollable]="true"
                    scrollHeight="flex"
                    [value]="campaign.campaignItemAllocations">

                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col">{{ 'fields.order' | translate }}</th>
                            <th scope="col">{{ 'campaign.label.alocation_name' | translate }}</th>
                            <th scope="col">{{ 'campaign.label.alocation_unit' | translate }}</th>
                            <th scope="col">{{ 'campaign.label.alocation_entrust_value_2' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td class="custom-tbl-height">{{rowIndex+1}}</td>
                            <td class="custom-tbl-height">{{item.itemName}}</td>
                            <td class="custom-tbl-height">{{item.unitName}}</td>
                            <td class="custom-tbl-height">{{item.entrustValue | number:'1.0-2'}}</td>
                        </tr>
                    </ng-template>
                    
                    <ng-template *ngIf="isLoading" pTemplate="emptymessage" let-customer>
                      {{ 'messageTable.emptyMessage' | translate }}
                    </ng-template>
                  </p-table>
                </div>
                <div class="col-md-5 mb-5"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'campaign.label.assigned_sla' | translate }} </label>
                            <p class="campaign-info-value">{{ campaign.slaManager || '' }} </p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'campaign.label.approach_sla' | translate }} </label>
                            <p class="campaign-info-value">{{ campaign.slaRm || '' }} </p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="campaign-label">{{ 'campaign.sale.scope' | translate }} </label>
                            <p class="campaign-info-value" *ngIf="scopeRegion === 'TOAN_HANG'">{{'fields.allBranch' | translate }}</p>
                            <p class="campaign-info-value" *ngIf="scopeRegion === 'CHI_NHANH'">{{'fields.region' | translate }}</p>
                        </div>
                    </div>
                 </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group" *ngIf="scopeRegion === 'CHI_NHANH'">
                                <label class="campaign-label">{{ 'fields.area' | translate }}</label>
                                <div class="scope-region">
                                    <p class="campaign-info-value">{{ campaign?.areaCode || ''}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label class="campaign-label" *ngIf="scopeRegion === 'CHI_NHANH'">{{ 'fields.chi_nhanh' | translate }}</label>
                                <div class="scope-branch">
                                    <p class="campaign-info-value">{{ campaign?.branchs || ''}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label class="campaign-label">{{ 'campaign.label.note' | translate }} </label>
                    <p class="campaign-info-value" [innerHTML]="campaign.content | safeHtml"></p>
                </div>
                <div class="col-md-5">
                    <label class="campaign-label">{{ 'campaign.label.attachment' | translate }} </label>
                    <div class="p-4 attachment-list-wrapper">
                        <ul class="attachment-list list-unstyled">
                            <li *ngFor="let item of campaign.campaignAttachments" class="attachment-list-item">
                                <span class="campaign-info-value btn-download-file text-decoration-underline" (click)="downloadFile(item)">{{ item.fileName }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>