<div class="content-body__list tracking">
  <!-- <app-loading *ngIf="isLoading"></app-loading> -->
  <ng-container>
    <div class="group__create-form px-4">
      <div>
        <div class="row form-create" [formGroup]="form" hidden>
          <div class="col-lg-3 col-md-4 form-group">
            <div>Loại KH
            </div>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [options]="listType"
              class="d-block" appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
              optionValue="value" formControlName="customerType"></p-dropdown>
          </div>
          <div class="col-lg-3 col-md-4 form-group">
            <label class="mb-0">Mã số thuế/ĐKKD/QDTL</label>
            <input type="text" maxlength="200" pInputText placeholder="" class="d-block" formControlName="taxCode" />
          </div>
          <div class="col-lg-3 col-md-4 form-group">
            <label class="mb-0">Code KH</label>
            <input type="text" maxlength="200" pInputText placeholder="" class="d-block"
              formControlName="customerCode" />
          </div>
          <div class="col-lg-3 col-md-4 form-group">
            <div>Kết quả tiếp cận
            </div>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [options]="listResultSearch"
              class="d-block" appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
              optionValue="value" formControlName="approachingResult"></p-dropdown>
          </div>
          <div class="col-lg-3  col-md-4 form-group has-error">
            <label>Chi nhánh</label>
            <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="listBranchesManager" placeholder=" " class="d-block" [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="branchCodes"
              appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code"
              [virtualScroll]="true" [itemSize]="31"></p-multiSelect>
          </div>
          <div class="col-lg-3 col-md-4 form-group has-error">
            <label>RM</label>
            <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              formControlName="rmCodes" [filter]="true" [options]="listRmManager" placeholder=" " class="d-block"
              optionLabel="displayName" optionValue="code" [virtualScroll]="true" [itemSize]="31">
            </p-multiSelect>
          </div>
        </div>
        <div class="mb-2 block-center-between">
          <div class="filter-top__left">
            <button class="btn btn-small btn--light-blue" (click)="search(0)" hidden>
              {{ 'btnAction.search' | translate }}
            </button>
          </div>
          <div class="filter-top__right d-flex mr-2" style="align-items: center;">
            <div class="f-row">
              <div class="col-md-auto p-field-radiobutton mb-0">
                <p-radioButton [value]="1" [(ngModel)]="viewMode"></p-radioButton>
                <label class="ml-3">
                  {{ 'campaign.detail.customer_list' | translate }}
                </label>
              </div>

              <div class="col-md-auto p-field-radiobutton mb-0">
                <p-radioButton [value]="2" [(ngModel)]="viewMode"></p-radioButton>
                <label class="ml-3">
                  {{ 'campaign.detail.tracking_customer_result_list' | translate }}
                </label>
              </div>
            </div>

            <button class="btn btn--light-blue btn-small" (click)="createFromFile()">
              {{'rm.fields.createRmFile' | translate}}
            </button>

            <button
                class="btn btn--light-blue btn-icon--small"
                (click)="exportApproachingResultFile()"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
          </div>
        </div>
      </div>
      <div class="table__view customer_tracking_list">
        <ngx-datatable ngxDataTable #table class="bootstrap tracking-table" *ngIf="viewMode == 1" [rows]="listData" [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [height]="40" [scrollbarV]="true" [scrollbarH]="true"
          [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
          [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages"
          (activate)="onActive($event)">

          <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
            [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="taxCode" name="MST/DKKD">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode" name="Mã KH (Code T24)"
            [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
            name="{{ 'fields.customerName' | translate }}">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="approachingTime"
            name="Thời gian tiếp cận">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value | date: 'dd/MM/yyyy' }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [width]="200" [draggable]="false" prop="approachingResult"
            name="Kết quả tiếp cận">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <div *ngIf="!allowUpdate(row)">
                <span  title="{{ getNameResult(row.approachingResult) }}">{{ getNameResult(row.approachingResult) }}</span>
              </div>
              <div  *ngIf="allowUpdate(row)">
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [(ngModel)]="row.approachingResult"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" [options]="listResult"
                  class="d-block" appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                  optionValue="value" (onChange) = "onChange(row)" (onBlur)="detectChange(row)"></p-dropdown>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="note"
            name="Ghi chú">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}" >{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmBranchName" name="Chi nhánh quản lý">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" name="RM quản lý">
            <ng-template let-value="value"  let-row="row" ngx-datatable-cell-template>
              <span title="{{ getRMInfo(row) }}">{{ getRMInfo(row) }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="125" [frozenRight]="true"
            [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                <button class="btn--light-blue btn-icon--small btn" mat-button [matMenuTriggerFor]="beforeMenu"
                  title="{{ 'title.sendMail' | translate }}" (click)="getAllMailAndPosition(row)">
                  <em class="las la-envelope f-16"></em>
                </button>
                <mat-menu #beforeMenu="matMenu" yPosition="above" xPosition="before">
                  <div mat-menu-item *ngFor="let item of listEmail">
                    <div class="row info-mail" (click)="mailTo(row, item.mail)">
                      <div style="width: 120px">
                        <p class="pl-4">{{item.position}}</p>
                      </div>
                      <div style="width : calc(100% - 120px)">
                        <p class="pr-4">{{item.mail}}</p>
                      </div>
                    </div>
                  </div>
                </mat-menu>

                <button class="btn--light-blue btn-icon--small btn ml-2" title="{{ 'title.createTask' | translate }}"
                  (click)="createTaskTodo(row)">
                  <em class="icon-create-todo i-16"></em>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
              let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
              <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                [hidden]="false" (change)="table.onFooterPage($event)">
              </app-pager-ngx-datatable>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>

        <ng-container *ngIf="viewMode == 2">
          <div class="table__view customer_tracking_list h-100">
            <app-detail-result-branch [prevParams]="prevParams" [listData]="listData" [pageable]="pageable" [isRM]="isRM"
              [campaignId]="campaignId" (onSearch)="search($event)" style="height: 100%; display: flex;flex-direction: column;">
            </app-detail-result-branch>
          </div>

        </ng-container>

      </div>
    </div>
  </ng-container>
</div>
