.tracking {
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .customer_tracking_list {
      flex: 1 1 auto;
  }
  ::ng-deep .tracking-table {
      height: 100%;
  }
  ::ng-deep .visible{
      height: 100%;
  }
  ::ng-deep .datatable-body {
      height: calc(100% - 100px)!important;
  }

  ::ng-deep .customer_tracking_list .p-dropdown {
    height: 30px;
  }

  ::ng-deep .customer_tracking_list .p-dropdown-label {
    height: 30px;
  }
  ::ng-deep .visible {
    height: 100%!important;
  }

  .limit_customer {
    flex: 1 1 auto;
  }
  ::ng-deep .mat-menu-item {
    height: 40px !important;
  }
  ::ng-deep .customize {
    max-width: 600px!important;
  }
}
::ng-deep .mat-menu-panel {
  max-width: 600px !important;
}

.f-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}