<p-accordion>
  <p-accordionTab [header]="title" [(selected)]="isOpen">
    <div class="" [id]="'list-'+type.toLowerCase()">
      <ngx-datatable ngxDataTable #table class="bootstrap expandable" columnMode="force" [headerHeight]="40"
        [footerHeight]="0" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true" [rows]="rows" [messages]="messages"
        (activate)="onActive($event)" [groupRowsBy]="'productCodeAndName'">

        <ngx-datatable-group-header *ngIf="type === 'Mobilization' || type === 'Credit'">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="px-1 py-2 group-header-title block-center">
              <button #groupCode (click)="toggleExpandGroup(group)" class="datatable-tree-button">
                <em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
              </button>
              <strong class="ml-2 text-blue">{{ group.value[0].productCodeAndName
                }}</strong>
              <div
                [class]="'font-weight-bold text-right total ' + type.toLowerCase() + '_' + group.value[0].productCode">
                {{
                getTotalByType(group.value[0].productCodeAndName) }}</div>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-group-header *ngIf="type === 'Card'">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="px-1 py-2 group-header-title block-center">
              <button #groupCode (click)="toggleExpandGroup(group)" class="datatable-tree-button">
                <em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
              </button>
              <strong class="ml-2 text-blue">{{ group.value[0].productCodeAndName }}</strong>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-group-header *ngIf="type === 'Digital'">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="px-1 py-2 group-header-title block-center">
              <button #groupCode (click)="toggleExpandGroup(group)" class="datatable-tree-button">
                <em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
              </button>
              <strong class="ml-2 text text-blue">{{ group.value[0].productCodeAndName }}</strong>
              <!-- <div
                [class]="'font-weight-bold text-right total ' + type.toLowerCase() + '_' + group.value[0].productCode">
                {{
                getTotalByType(group.value[0].productCodeAndName) }}</div> -->
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-group-header *ngIf="type === 'Group'">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="px-1 py-2 group-header-title block-center">
              <button #groupCode (click)="toggleExpandGroup(group)" class="datatable-tree-button">
                <em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
              </button>
              <strong class="ml-2 text-blue">{{ group.value[0].productCodeAndName }}</strong>
              <div class="font-weight-bold text-right total total-money">
                {{
                getTotalByTypeGroup(group.value[0].productCodeAndName) }}</div>
            </div>
          </ng-template>
        </ngx-datatable-group-header>


        <ngx-datatable-column *ngFor="let field of listFields" [prop]="field" [width]="field === 'order' ? 80 : 150"
          [sortable]="false" [draggable]="false" [canAutoResize]="field === 'order' ? false : true">

          <ng-template let-value="value" let-column="column" ngx-datatable-header-template>
            <div [class]="generateClassNameHeader(field)">
              {{ 'fields.' + field | translate }}
            </div>
          </ng-template>

          <ng-template let-value="value" ngx-datatable-cell-template>
            <div [class]="generateClassNameCell(field)" class="text-wrap-field">
              <span title="{{ value }}">{{ value }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </p-accordionTab>
</p-accordion>