@import '../../../../../../assets/styles/variable';

.total {
  position: absolute;
  left: 0px;
  padding: 0.75rem;
}
.text-right {
  width: 100%;
}
.text-center {
  width: 100%;
}
.text-wrap-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contractOrAccountNumber {
  color: $primary !important;
}
