<div class='right-view dashboard-manage-card'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button (click)='back()' *ngIf='isBack' class='btn btn--light-blue btn-small'>
        <em class='las la-undo f-16'></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>{{'Danh sách khách hàng' | translate}}</h3>
    </div>
  </div>
  <div class='content bg-transparent'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block flex-row'>
          <div class='pl-0 pr-0 pr-3' style="width: 40%!important;">
            <div class='card h-100 p-4 pb-0 text-left'>
              <div class='mb-0 title-info block-center-between' style='border-bottom: 0px'>
                <!--              <h5>{{ 'dashboard.creditManagement.name' | translate }}</h5>-->
                <div class='chart__header-left'>
                  <div
                    class='f-16 text-black chart__header-title'>{{ 'dashboard.dashboardApp.title' | translate }}</div>
                  <!--                <div class="chart__header-title-total mt-1 ">Tổng số lượng thẻ: <span class="font-weight-bold">{{data?.total}}</span></div>-->
                </div>
              </div>
              <!--            <div class="row"></div>-->
              <ng-container *ngIf='data'>
                <div class='chart__body position-relative'>
                  <div (chartClick)='onClickChart($event.data,$event)' [options]='option'
                       class='chart__body-height h-100' echarts id='chartId'></div>
                  <div class='legend-total legend-total--text'>Tổng</div>
                  <div class='legend-total legend-total--number'>{{dataTotal || 0}}</div>
                </div>
                <div class='chart__legend'>
                  <ul>
                    <li *ngFor='let item of data' class='block-center-between' style="margin-top: 8px;">
                      <div class='chart__legend-left'>
                            <span [ngStyle]='{backgroundColor: item.color}'
                                  class='legend-bage-circle'></span>{{item.label}}
                      </div>
                      <div class='chart__legend-right'>
                        <strong>{{item.value | number}} KH</strong>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
              <ng-container *ngIf='!isLoading && !data'>
                <div class='chart__empty'>
                  <div class='f-14'>{{ 'notificationMessage.dataEmpty' | translate }}</div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class='w-75 pr-0 pl-0'>
            <div class='card h-100 p-4 pb-0 text-left'>
              <div class='title-info block-center-between'>
                <div class='chart__header-left'>
                  <h5>{{statusNameCard}}</h5>
                </div>
                <div class='chart__header-right mr-2 mb-2 '>
                  <div>
                    <ng-container *ngIf='!isRm && listBranch && listBranch.length > 0'>
                      <div *ngIf='!isRm' [formGroup]='form'>
                        <label>{{ 'Chi nhánh quản lý' | translate }}</label>
                        <p-dropdown
                          (onChange)='changeBranch($event)'
                          [filter]='true'
                          [options]='listBranch'
                          appendTo='body'
                          autoZIndex='false'
                          baseZIndex='10000'
                          class='d-block'
                          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          formControlName='branchCode'
                          optionLabel='name'
                          optionValue='code'
                          placeholder=' '
                        ></p-dropdown>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <ng-container>
                <ngx-datatable
                  #table
                  (activate)='onActive($event)'
                  (page)='setPage($event)'
                  [count]='pageable?.totalElements'
                  [externalPaging]='true'
                  [footerHeight]='50'
                  [headerHeight]='68'
                  [limit]='pageable?.size'
                  [messages]='messages'
                  [offset]='pageable?.currentPage'
                  [rows]='listDataCard'
                  [scrollbarH]='true'
                  [scrollbarH]='true'
                  [scrollbarV]='true'
                  [virtualization]='false'
                  [virtualization]='false'
                  class='bootstrap'
                  columnMode='force'
                  ngxDataTable
                  rowHeight='auto'
                  style='height: calc(100vh - 285px)'
                >
                  <ngx-datatable-column
                    [canAutoResize]='false'
                    [draggable]='false'
                    [sortable]='false'
                    [width]='40'
                    name="{{ 'fields.order' | translate }}"
                  >
                    <ng-template let-rowIndex='rowIndex' let-value='value' ngx-datatable-cell-template>
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.customerCode' | translate }}"
                    prop='customerId'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span class='pointer' title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.customerName' | translate }}"
                    prop='customerName'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span class='pointer' title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.address' | translate }}"
                    prop='address'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.phone' | translate }}"
                    prop='mobile'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.relationshipTimeWithMB' | translate }}"
                    prop='relationsMonth'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-curPage='curPage'
                      let-offset='offset'
                      let-pageSize='pageSize'
                      let-rowCount='rowCount'
                      let-selectedCount='selectedCount'
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        (change)='table.onFooterPage($event)'
                        (eventChangePageSize)='handleChangePageSize($event)'
                        [count]='rowCount'
                        [hasDropdown]='true'
                        [hidden]='false'
                        [offset]='offset'
                        [page]='curPage'
                        [size]='pageSize'
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
