@import 'variable';

.list__block {
  overflow: auto;
}

.title-info {
  margin-bottom: 1.75rem;
  border-bottom: 1px solid $gray-300;

  h5 {
    margin: 0;
    padding-bottom: 5px;
  }
}

.chart__body {
  flex: none;
  margin-top: 100px;
}

.chart__legend {
  margin: 0 auto;
  margin-top: 40px;
  width: 300px;
}

.legend-bage-circle {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-flex;
}

.legend-bage {
  width: 20px;
  height: 10px;
  margin-right: 8px;
  display: inline-block;
}

.legend-bage-card {
  width: 4px;
  margin-bottom: -7px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 60px;
}

.chart__header-title-total {
  font-weight: 400;
  font-size: 15px;

}

.legend-total {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  &--text {
    top: 43%;
    letter-spacing: 0.5px;
    color: #9F9F9F;
    font-size: 13px;
    font-weight: 400;
    z-index: 999;
  }

  &--number {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    top: 48%;
    color: #2E2E2E;
    z-index: 999;
    width: 100px;
  }

}

.flex-row-screen {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
  }
}

.test-css {
  //background-color: #1c1d21;
}

.chart__body-height {
  max-height: 300px;
  top: -50px;
}

.active-opp {
  background-color: #eff2fe !important;
  color: #1042e5 !important;

}

.opp-detail {
  cursor: pointer;
  font-weight: 600;
}

.inner {
  white-space: break-spaces;
}

::ng-deep .ngx-datatable.bootstrap .datatable-header {
  height: 68px !important;
}

::ng-deep .datatable-header-cell {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}

::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  line-height: 24px!important;
}

::ng-deep .ngx-datatable .datatable-header .datatable-header-inner .datatable-header-cell-template-wrap {
  text-align: left;
  line-height: 24px!important;
  background: #eff2fe;
  font-weight: 700;
  overflow: hidden;
}
