<div class="right-view dashboard-manage-card">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button *ngIf="isBack" class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{'dashboard.creditManagement.detailInforCredit' | translate}}</h3>
    </div>
  </div>
  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div style="border-bottom: 0px" class="mb-0 title-info block-center-between">
<!--              <h5>{{ 'dashboard.creditManagement.name' | translate }}</h5>-->
              <div class="chart__header-left">
                <div class="f-16 text-black chart__header-title">{{ 'dashboard.creditManagement.name' | translate }}</div>
<!--                <div class="chart__header-title-total mt-1 ">Tổng số lượng thẻ: <span class="font-weight-bold">{{data?.total}}</span></div>-->
              </div>
              <div class="chart__header-right mr-2">
                <div class="row">
                  <div class="col-md-10 form-group" *ngIf="listBranch && listBranch.length > 0">
                    <div class="flex-col">
                      <label>Chi nhánh quản lý</label>
                      <div class="p-input-icon-right">
<!--                        <i-->
<!--                          class="pi pi-times branch"-->
<!--                          [ngClass]="{ show: listBranchCode }"-->
<!--                          (click)="removeBranchSelected()"-->
<!--                        ></i>-->
                        <lp-branches
                          [listBranch]="listBranch"
                          [(model)]="listBranchCode"
                          (modelChange)="changeBranch($event)"
                        >
                        </lp-branches>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 form-group">
                    <div class="flex-col">
                      <label >&nbsp;</label>
                      <button (click)="export()"  class="btn btn-icon btn-icon&#45;&#45;small btn-search ml-1" title="{{ 'btnAction.export' | translate }}">
                        <em class="las la-file-excel f-16"></em>
                      </button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
<!--            <div class="row"></div>-->
            <ng-container *ngIf="data">
              <div class="row" >
                <div class="col-md-5 h-100">
                    <div class="chart__body position-relative">
                      <div id="chartId" class="chart__body-height h-100" (chartClick)="onClickChart($event.data,$event)" echarts [options]="option"  ></div>
                      <div class="legend-total legend-total--text">Tổng</div>
                      <div class="legend-total legend-total--number">{{formatNumber(data?.total)}}</div>
                    </div>
                </div>
                <div class="col-md-7">
                  <div class="chart__legend row inner">
                    <div *ngFor="let item of data?.data" class="pt-5 mt-5 col-md-4">
                      <div   class="block-start-between legend-border-card legend-height-card" [ngStyle]="{borderColor: item.color}">
                        <h5 class="mr-3">{{item.name}}
                        </h5>
                        <h5>{{formatNumber(item.value)}}</h5>
                      </div>
                      <div class="mt-3" style="border-top: 1px solid #EAEAEA;">
                      </div>
                      <div class="mt-4" *ngFor="let itemDetail of item?.detail">
                        <div (click)="onClickChart(itemDetail)"  class="opp-detail manage-card"  [ngClass]="preClickData?.code===itemDetail?.code ? 'active-opp' : ''">
                          <div style="display: -webkit-inline-box;">
                            <span class="legend-bage-circle" [ngStyle]="{backgroundColor: itemDetail?.color}"></span>
                            <div style="margin-right: 12px;">
                              <span style="text-indent: 0px; padding-right: 10px;">{{itemDetail?.name}}</span>
                            </div>
                          </div>
                          <div style="width: 10px"></div>
                          <div style="margin-left: 7px;">
                            <span >{{formatNumber(itemDetail.value)}}</span>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div style="margin-bottom: -65px" class="text-right"></div>-->
            </ng-container>
            <ng-container *ngIf="!isLoading && !data">
              <div class="chart__empty">
                <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
              </div>
            </ng-container>
          </div>
          <div class="card p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <div class="content__top-left">
                <h5>{{statusNameCard}}</h5>
              </div>
            </div>
            <ng-container *ngIf="isRm">
                <ngx-datatable
                  ngxDataTable
                  #table
                  class="bootstrap"
                  style="height: 300px"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [virtualization]="false"
                  [scrollbarH]="true"
                  [rows]="listDataCard"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="40"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="cst_Cd"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.customerCode' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="cst_Nm"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.customerName' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="mobile_Number"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.phone' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="email"
                    [sortable]="false"
                    [draggable]="false"
                    [width]="200"
                    name="{{ 'fields.email' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="card_Id"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.idCard' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="card_Type"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.typeCard' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="card_Level"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.levelCard' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="card_Status"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.statusCard' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="rm_Code_Open"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.rmCodeRelease' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="rm_Name_Open"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.rmNameRelease' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="rm_Code_Mng"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.rmCodeManage' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="rm_Name_Mng"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.rmNameManage' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="branch_Code_Open"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.branchRelease' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="open_Dt"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.dateRelease' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="expire_Dt"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.outdateCredit' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="cst_Grp"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.customerGroup' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="cst_Sector"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'fields.sector' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="cst_Seg_Grp"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'sellingOppIndivDetail.label.segment' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="open_Card_Flow"
                    [sortable]="false"
                    [draggable]="false"
                    name="{{ 'dashboard.creditManagement.flowRelease' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="table.onFooterPage($event)"
                        [hasDropdown]="true"
                        (eventChangePageSize)="handleChangePageSize($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
            </ng-container>
            <ng-container *ngIf="isCBQL">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap"
                style="height: 300px"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [virtualization]="false"
                [scrollbarH]="true"
                [rows]="listDataCard"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="branch_Code_Open"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'dashboard.creditManagement.branchCodeManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="branch_Name_Open"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'dashboard.creditManagement.branchManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rm_Code_Open"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'dashboard.creditManagement.rm_ubCodeManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rm_Name_Open"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'dashboard.creditManagement.rm_ubManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="total"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'dashboard.creditManagement.quantityManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                      [hasDropdown]="true"
                      (eventChangePageSize)="handleChangePageSize($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
