@import 'variable';
.dashboard-manage-card{
  .list__block {
    overflow:auto;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }
  .chart__legend {
    height: 180px;
  }
  .legend-bage-circle {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-flex;
  }

  .legend-bage {
    width: 20px;
    height: 10px;
    margin-right: 8px;
    display: inline-block;
  }

  .legend-bage-card {
    width: 4px;
    margin-bottom: -7px;
    height: 24px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 60px;
  }

  .chart__header-title-total {
    font-weight: 400;
    font-size: 15px;

  }

  .legend-total {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    &--text {
      top: 43%;
      letter-spacing: 0.5px;
      color: #1c1d21;
      font-size: 13px;
      font-weight: 400;
      z-index: 0;
      width: 30px;
    }

    &--number {
      color: #1c1d21;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 28px;
      top: 48%;
      z-index: 0;
      width: 70px;
    }
  }
  .flex-row-screen{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    label {
      font-size: 13px;
    }
  }
  .test-css {
    //background-color: #1c1d21;
  }

  .chart__body-height {
    max-height: 300px;
    top: -50px;
  }
  .active-opp {
    background-color: #eff2fe!important;
    color: #1042e5 !important;

  }
  .opp-detail {
    cursor: pointer;
    font-weight: 600;
  }
  .inner{
    white-space: break-spaces;
  }
  .manage-card {
    display: flex;
    justify-content: space-between;
  }

  .legend-border-card {
    border-left: 4px solid;
    padding-left: 10px;
  }

  .legend-border-card h5 {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 1900px) {
    .legend-height-card {
      height: 35px;
    }
  }
  @media only screen and (max-width: 1280px) {
    .legend-height-card {
      height: 48px;
    }
  }
}
