<div class="chart spdv-chart">
  <div class="mb-0 chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">Tỷ lệ sử dụng SPDV</div>
    </div>
    <div class="chart__header-right">
      <div class="pr-0 form-group col-md-4">
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          [options]="commonData.groupCustomer"
          class="d-block pr-3"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="value"
          [(ngModel)]="groupCustomer"
          (onChange)="search()"
        ></p-dropdown>
      </div>
      <div class="form-group col-md-4">
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          [options]="commonData.segment"
          class="d-block pr-3"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="value"
          [(ngModel)]="segment"
          (onChange)="search()"
        ></p-dropdown>
      </div>
      <div class="form-group col-md-4">
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          [options]="commonData.ageGroup"
          class="d-block pr-3"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="value"
          [(ngModel)]="ageGroup"
          (onChange)="search()"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="mb-0 row form-group">

  </div>
  <ng-container *ngIf="!isLoading && data?.data && data?.data?.length > 0">
    <div class="chart__body">
      <div class="pt-4 pl-2 table__view spdv-table">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap "
          [rows]="data?.data"
          [rowClass]="highlightTotal"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [virtualization]="false"
          [externalPaging]="false"
        >
          <ngx-datatable-column
            cellClass="spdv-first-cell"
            [sortable]="false"
            [draggable]="false"
            prop="name"
            name="Sản phầm dịch vụ"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="app"
            [resizeable]="true"
            name="APP"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="tgtk"
            [resizeable]="true"
            [canAutoResize]="true"
            name="TGTK"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="vay"
            [resizeable]="true"
            [canAutoResize]="true"
            name="VAY"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="mbal"
            [resizeable]="true"
            [canAutoResize]="true"
            name="MBAL"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="tksd"
            [resizeable]="true"
            [canAutoResize]="true"
            name="TKSD"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="creditCard"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Thẻ tín dụng"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="spdt"
            [resizeable]="true"
            [canAutoResize]="true"
            name="SPĐT"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="kieuHoi"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Kiều hối"
            headerClass="column-number"
            cellClass="column-number"
          >
            <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
              <span>{{value}}</span><span *ngIf="row.name !== 'TỔNG SLKH'">%</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="chart__legend text-right">Dữ liệu cập nhật ngày {{data?.dsnapshotDate}}</div>
  </ng-container>
  <ng-container *ngIf="!isLoading && (!data?.data || data?.data?.length == 0)">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!--  <app-loading *ngIf="isLoading"></app-loading>-->
</div>
