.spdv-chart {
  .chart__header-right {
    display: flex;
    align-items: center;
  }
  .chart__header {
    margin-bottom: 1rem;
  }
  .ngx-datatable .datatable-body .datatable-body-row {
    min-height: 36px !important;
    height: 36px !important;
  }
  .column-number {
    .datatable-body-cell-label {
      text-align: center !important;
      justify-content: center !important;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .max-width {
    max-width: 185px;
    width: 185px;
  }
  .text-hightligh {
    font-weight: 700;
    background-color: #eff2fe!important;
  }
}


.spdv-table {
  .datatable-row-center {
    .datatable-body-cell {
      &:first-child {
        font-weight: 700;
        padding-left: 1.1rem!important;
        background-color: #eff2fe !important;
      }
    }
  }
}
