<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'kpi.title.viewKpiStandardCbql' | translate }}</h3>
        </div>
        <div class="content__top-right"></div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4" [formGroup]="formSearch">
                        <div class="row">

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.rmCode' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" formControlName="rmCode" pInputText
                                    [maxlength]="20" />
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.rmName' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" formControlName="rmName" pInputText
                                    [maxlength]="100" />
                            </div>

                            <div class="col-md-4 form-group">
                                <label>{{ 'kpi.fields.block' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code" (onChange)='onChangeBlockCode()'></p-dropdown>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>{{ 'fields.titleGroupRM' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound'  |  translate}}"
                                    [options]="listGroup" placeholder=" " class="d-block" formControlName="titleId"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="id" (onChange)='onChangeGroup()'></p-dropdown>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>{{ 'fields.levelRM' | translate }}</label>
                                <p-dropdown emptyMessage="{{'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listLevel" placeholder=" " class="d-block" formControlName="levelId"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="id">
                                </p-dropdown>
                            </div>

                            <div class="col-md-4">
                                <label class="m-0">{{ 'fields.branch' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                    [options]="listBranches" placeholder=" " class="d-block" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    formControlName="branchCode" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="displayName" optionValue="code"></p-dropdown>
                            </div>

                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="center__search">
                            <button class="btn btn--light-blue btn-small" (click)="search(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">
                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="35" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="hrisCode"
                                name="{{ 'fields.hrsCode' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmCode"
                                name="{{ 'fields.rmCode' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmName"
                                name="{{ 'fields.rmName' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branchName"
                                name="{{ 'fields.branch' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
