.left-bar .nav-link {
  justify-content: left;
  padding: 0.5rem 1rem;
}

.left-bar {
  min-height: auto;
  margin: 0;
  .nav-item {
    position: relative;
    .nav-link {
      em {
        font-size: 12px;
        position: absolute;
        right: 4px;
      }
    }
  }
}

// Sub Menu lvl 1,2
.sub-nav {
  display: none;
  opacity: 0;
  position: absolute;
  left: 100%;
  width: 220px;
  z-index: 60;
  background: #fff;
  top: -20px;
  padding: 20px 1rem;
  border: 1px solid #f5f5fa;
  border-radius: 8px;
}

.nav-item {
  &:focus {
    background: #eff2fe;
  }
  &:hover {
    background: #eff2fe;
    em {
      color: #bbbbfd;
    }
    & > .sub-nav {
      display: block;
      opacity: 1;
    }
  }
}
