<div class="heading my-4 block-center-between">
    <h5>{{ 'dashboard.leftBar.title' | translate }}</h5>
</div>
<div class="activity-empty">
    <div class="activity-empty--body">
        <img alt="" src="/assets/images/activity-empty.png" width="80%" />
        <div class="activity-empty--text">{{ 'activity.callEmpty' | translate }}</div>
    </div>
</div>