<div class="bidding">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="fluid-container px-4">
            <div class="row">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="paramSearch.customerCode"
                  (keyup.enter)="search()" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input placeholder="" type="text" class="form-control" [(ngModel)]="paramSearch.customerName"
                  (keyup.enter)="search()" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerType' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="customerTypes" placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="paramSearch.customerType" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionValue="code" optionLabel="name"></p-dropdown>
              </div>
            </div>

            <div class="row py-1">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.result' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="activityResultsParent" placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="paramSearch.result" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.process_step' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listStage"
                  placeholder=" " class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="paramSearch.status" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionValue="status" optionLabel="title"></p-dropdown>
              </div>

            </div>

            <div class="row py-3 block-center-between">
              <div class="col-md-3">
                <button class="btn btn-small btn--light-blue mr-2" (click)="search()">
                  <em class="las la-search f-16"></em>
                  {{ 'btnAction.search'| translate }}
                </button>
              </div>
              <div>
                <button *ngIf="showBtnImportCus" (click)="importCustomer()" class="btn btn-small btn--light-blue ml-5">
                  {{ 'rm.fields.createRmFile' | translate}}
                </button>

                <button *ngIf="showBtnAddCampaign"
                  class="btn btn--light-blue btn-icon--small mr-2"
                  (click)="addCustomer()"
                  title="{{ 'btnAction.create' | translate }}"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-icon--small" (click)="exportExcel()">
                  <em class="las la-file-excel f-16"></em></button>
              </div>
            </div>
          </div>

    <div>
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="false"
              [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [columnMode]="'force'"
              [rows]="models" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="setPage($event)" [footerHeight]="70" (activate)="onActive($event)"
              [headerHeight]="50">
              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.index' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="productRequiredToSale" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.productRequiredToSale' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="campaign-name" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.productKeySale' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row.productKeySale }}">{{ row.productKeySale
                    }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="purpose" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.customerType' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getCustomerType(row, 'type') }}">{{ getCustomerType(row, 'type') }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customer-code" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.customerCode' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'customerCode') }}">{{ getValue(row, 'customerCode') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="customer-name" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.customerName' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'customerName') }}">{{ getValue(row, 'customerName') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="phone" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.phone' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'phone') }}">{{ getValue(row, 'phone') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="email" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.email' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'email') }}">{{
                    getValue(row, 'email') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="address" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.address' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'address') }}">{{ getValue(row, 'address') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="status" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.stage' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span [ngClass]="checkViewStatus(value)" title="{{ getValue(row, 'stageName') }}">{{ getValue(row, 'stageName') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="resultActivityName" [sortable]="false" [width]="100">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.result' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row,'resultActivityName') }}">{{ getValue(row,'resultActivityName')
                    }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="featureActivityTypeName" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.next_job' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'featureActivityTypeName') }}">{{ getValue(row,
                    'featureActivityTypeName')
                    }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="created-date" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.note' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'note') }}">{{ getValue(row, 'note') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="assignedDate" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.dateCBQLAssignRm' | translate }}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy'}}">{{ value | date: 'dd/MM/yyyy'}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="remainDayRmAccost" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.daysRemainingRmApproachCustomer' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="text-center" *ngIf="checkRemainDayRmAccost(row)">
                    <em class="fa fa-check text-success f-16"></em>
                  </div>
                  <div class="text-center" *ngIf="!checkRemainDayRmAccost(row)">
                    <div [class]="generateClass(row.remainDayRmAccost)">
                      {{ checkExpired() ? expiredMessage : value }}
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="assignedByCampaingn" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.assignedByCampaingn' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="customerIdCard" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.cmnd_passport' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="campaign-unit" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.campaignImplementationBranch' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValue(row, 'branchCode') }}">{{ getValue(row, 'branchCode') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="value" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                 Giá trị
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="additinalInfor1" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Thông tin bổ sung 1
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="additinalInfor2" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Thông tin bổ sung 2
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="additinalInfor3" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Thông tin bổ sung 3
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="additinalInfor4" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Thông tin bổ sung 4
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="additinalInfor5" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Thông tin bổ sung 5
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="130" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div style="justify-content: end !important;" class="block-center text-center column-action">

                    <button style="margin-left: 5px; margin-right: 5px" type="button" title="Chat" *ngIf="isShowChat && row.type !== 'TN'"
                            (click)="createGroupChat11(row);$event.stopPropagation()"
                            class="btn--light-blue btn-icon--small btn btn-email"
                    >
                      <em class="las la-chat-small f-16"></em>
                    </button>

                    <button type="button" class="btn-outline btn--light-blue" title="Chuyển giai đoạn" *ngIf="!isExpired"
                            (click)="changeStage(row);$event.stopPropagation()">
                      <em class="icon-change-stage i-12"></em>
                    </button>

                    <button type="button" class="btn-outline btn--light-blue" *ngIf="!isExpired && (!isShowChat || row.type === 'TN')"
                      (click)="createActivity(row);$event.stopPropagation()" title="Tạo hoạt động">
                      <em class="icon-create-activity-black i-12"></em>
                    </button>

                    <button type="button" class="btn-outline btn--light-blue" title="Lịch sử chiến dịch"
                            *ngIf="(!(isShowChat && row.type !== 'TN') && !row.showMenu )|| isExpired"
                      (click)="historyCampaign(row);$event.stopPropagation()">
                      <em class="las la-calendar-check f-14"></em>
                    </button>
<!--                    *ngIf="showBtnAddCampaign"-->
                    <button *ngIf="row.showMenu" type="button" class="btn-outline" pButton icon="pi pi-bars" label=""
                            (click)="menu.toggle($event)"></button>
<!--                    <p-menu #menu [popup]="true" [model]="rowMenu" appendTo="body" (onShow)="onShowMenu($event)"-->
                    <p-menu #menu [popup]="true" [model]=row.menu appendTo="body" (onShow)="onShowMenu($event)"
                            (onHide)="onHideMenu($event)"></p-menu>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)" (eventChangePageSize)='handleChangePageSize($event)' [hasDropdown]='true'>
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
</div>
