@import 'variable';

.kpi-standard-cbql {
  .border-red {
    border-color: #ff0000 !important;
  }
  
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
  }

  .padding-right-0 {
    padding-right: 0rem;
  }

  .margin-right-n30 {
    margin-right: -30px;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }

  .number {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .full-width {
    width: 100%;
  }

  .break-type {
    white-space: pre;
  }
}
