<div class="right-view kpi-standard-cbql">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.kpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBlock"
                  placeholder=" "
                  class="d-block"
                  formControlName="blockCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeBlockCode()"
                ></p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.titleGroup' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listGroup"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmTitleCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeGroup()"
                ></p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.levelRM' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listLevel"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmLevelCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.menu.period' | translate }} </label>
                <div class="row mt-2">
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="true" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                  </div>
                  <!--                                    23-03-2022 LinhHH2: Bỏ radio 6 tháng-->
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="false" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.sixMonth' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4 form-group">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>{{ 'fields.month' | translate }}</label>
                    <p-dropdown
                      [options]="listMonth"
                      placeholder=" "
                      class="d-block"
                      formControlName="month"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>{{ 'fields.year' | translate }}</label>
                    <p-dropdown
                      [options]="listYear"
                      placeholder=" "
                      class="d-block"
                      formControlName="year"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="code"
                      optionValue="code"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.hrsCode' | translate }}</label>
                <input placeholder="" type="text" class="d-block" formControlName="hrisCode" pInputText />
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4">
            <div class="center__search">
              <button class="btn btn--light-blue btn-small" (click)="onClickButtonSearch()">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button
                *ngIf="objFunction?.create"
                class="btn-icon btn-icon--small btn btn-search ml-2"
                (click)="create()"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div>
            <ngx-datatable
              ngxDataTable
              #table
              class="fullscreen header-center bootstrap-non-fixed-height"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="66"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchCode"
                [width]="100"
                name="{{ 'fields.branchCode' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ row[0].branchCode }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                [width]="100"
                name="{{ 'fields.branchName' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ row[0].branchName }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="hrisCode"
                [width]="100"
                name="{{ 'fields.hrsCode' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ row[0].hrisCode }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                *ngFor="let item of listHeaders; let i = index"
                [sortable]="false"
                [formGroup]="formCreate"
                [width]="250"
                [draggable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <span class="break-type">{{ getHeader(item) }}</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div *ngIf="!isEdit(rowIndex)" class="number">
                    <span>{{ getValue(row, item.kpiItemCode) }}</span>
                  </div>
                  <div *ngIf="isEdit(rowIndex)" [formGroupName]="i" class="full-width">
                    <input
                      *ngIf="!formCreate.value[i]?.success"
                      placeholder=""
                      type="text"
                      class="d-block border-red"
                      formControlName="value"
                      pInputText
                    />
                    <input
                      *ngIf="formCreate.value[i]?.success"
                      placeholder=""
                      type="text"
                      class="d-block"
                      formControlName="value"
                      pInputText
                    />
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action_2' | translate }}"
                [width]="100"
                [sortable]="false"
                [draggable]="false"
                [resizeable]="false"
                [frozenRight]="true"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button
                      *ngIf="!isEdit(rowIndex)"
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row, rowIndex); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                    <button
                      *ngIf="isEdit(rowIndex)"
                      type="button"
                      class="btn-outline btn--light-blue"
                      (click)="clear(); $event.stopPropagation()"
                    >
                      <img class="check" src="/assets/images/close.png" />
                    </button>
                    <button
                      *ngIf="isEdit(rowIndex)"
                      type="button"
                      class="btn-outline btn--light-blue"
                      (click)="save(); $event.stopPropagation()"
                    >
                      <img class="check" src="/assets/images/check.png" />
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
