.news-list {
  //.content-body {
  //  background-color: #e6e6f3;
  //}

  .p-inputnumber {
    display: inline-flex;
    width: 100%;
  }

  .content {
    background: none;
    margin: 8px 10px;
  }
}
.table__row--fixsize {
  height: 38px!important;
}
::ng-deep {
  .p-inputnumber {
    width: 100%;
  }
}
