<div class="news-list right-view">
  <div class="content__top">
    <h3 class="ml-4 mb-0 page--title">Danh sách tin tức sự kiện</h3>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class=" px-4 pt-4" style="background-color: white; border-radius: 10px">
            <div class="row">
              <div class="col-md-3 form-group">
                <label class="m-0">Đối tượng khách hàng</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="divisionOfUser"
                  [(ngModel)]="block"
                  (onChange)="search(true)"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div style="background-color: white;border-radius: 10px 10px 0px 0px;" class="mb-0 filter-top block-center-between px-4">
            <div class="pl-0 pt-4 col-md-6">
              <div class="mb-3 col-md-6 p-0 form-group">
                  <label>Số lượng tin tức hiển thị</label>
                <div class="pl-4 row">
                  <p-inputNumber
                    maxlength="5"
                    class="d-block p-inputnumber-parent"
                    [(ngModel)]="newsNumberDisplay"
                    min="0"
                    [useGrouping]="false"
                    [disabled]="true"
                    *ngIf="!isEditNewsNumberDisplay"
                  ></p-inputNumber>
                  <p-dropdown
                    *ngIf="isEditNewsNumberDisplay"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listNumberView"
                    [(ngModel)]="newsNumberDisplay"
                    class="d-block"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="code"
                    optionValue="code"
                  ></p-dropdown>
                  <button
                    *ngIf="!isEditNewsNumberDisplay"
                    style="font-size: 16px;border: 1px solid #c3c3cb;"
                    type="button"
                    title="{{ 'btnAction.edit' | translate }}"
                    class="btn-outline ml-2"
                    (click)="onEditNewsNumberDisplay()"
                  >
                    <em class="las la-edit"></em>
                  </button>
                </div>
              </div>
              <div *ngIf="isEditNewsNumberDisplay" class="pb-3 col-md-12 btn-action p-0">
                <button
                  class="btn btn-tab--blue btn-small btn-news"
                  (click)="onEditNewsNumberDisplay()"
                >{{ 'btnAction.cancel' | translate }}</button>
                <button
                  class="btn btn--light-blue btn-small btn-news"
                  (click)="onUpdateNewsNumber()"
                >
                  Lưu
                </button>
              </div>
            </div>
            <div class="filter-top__right block-center">
              <button
                class="btn-icon btn-icon--small btn btn-search ml-2"
                title="{{ 'btnAction.create' | translate }}"
                (click)="create()"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div style="background-color: white;border-radius: 0px 0px 10px 10px" class="table__view group__view px-4 pb-0">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="55"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="true"
                prop="orderNum"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="title"
                name="Tiêu đề"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="bannerImgName"
                name="Ảnh"
              >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span style="text-decoration-line: underline;" (click)="previewImg(row.bannerImgId, row.bannerImgName)" title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="bannerImgName"
                name="Trạng thái"
              >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span
                    title="{{ getStatus(row) }}">{{ getStatus(row) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action" style="justify-content: end;">
                    <button *ngIf="!row.defaultTop" type="button" class="btn-outline"
                            (click)="delete(row);$event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                    (eventChangePageSize)='handleChangePageSize($event)'
                    [hasDropdown]='true'
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
