<app-loading *ngIf="isLoading"></app-loading>
<div class="container popup-time">
  <div class="header" style="padding-bottom: 50px;">
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="body">
    <form [formGroup]="this.formGroup">
      <div class="job-type mb-5">
        <span class="body-label "><b>{{this.formGroup.get('name').value}}</b>
        </span>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <div class="d-flex">
            <span class="prefix-icon">
              <img width="17" src="assets/images/sme/calendar.svg">
            </span>
            <input type="text" class="form-control" disabled [value]="(this.formGroup.get('start').value | date : 'HH:mm dd/MM/yyyy') + ' - ' + (this.formGroup.get('end').value | date : 'HH:mm dd/MM/yyyy')"/>
          </div>
        </div>
        <div class="col-3">
          <p-dropdown formControlName="repeat"
                      class="event-type border-cus" [options]="listFrequency"
                      optionLabel="name" optionValue="code" [showClear]="false">
          </p-dropdown>
        </div>
        <div class="col-2 ">
          <div class="position-relative ml-5 mt-2">
            <em class="las la-circle-stars_custom position-absolute" *ngIf="this.formGroup.get('level').value === 'HIGH'"></em>
            <em class="las la-circle-stars-black_custom position-absolute" *ngIf="this.formGroup.get('level').value === 'MEDIUM'"></em>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex">
            <span class="prefix-icon">
              <img width="17" src="assets/images/sme/3que.svg">
            </span>
            <textarea formControlName="description" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex">
                 <span class="prefix-icon">
              <img width="17" src="assets/images/sme/ic_account.svg">
            </span>
            <input type="text" formControlName="fullNameUser" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex">
                 <span class="prefix-icon">
              <img width="17" src="assets/images/sme/Solid.svg">
            </span>
            <input type="text" formControlName="location" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex">
                 <span class="prefix-icon">
              <img width="17" src="assets/images/sme/check.svg">
            </span>
            <input type="text" formControlName="result" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="d-flex" >
            <span class="prefix-icon">
              <img width="17" src="assets/images/sme/chat.svg">
            </span>
            <input maxlength="200" type="text" class="form-control" formControlName="comment" placeholder="{{'calendar.enterComent' | translate}}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer mt-5">
    <div class="row" >
      <div class="col d-flex justify-content-end">
        <button class="btn btn--light-blue submit-btn"
        (click)="this.onSubmit()">Lưu</button>
      </div>
    </div>
  </div>
</div>
