.item-detail-calendar-modal {
  .modal-dialog {
    max-width: 408px!important;
  }
  .modal-content {
    width: 604px!important;
  }
  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }
}

.popup-time{
  border: solid 1px rgba(102, 105, 255, 0.1);
  border-radius: 10px;
  padding: 9px 25px 31px 25px;
  width: 600px;
}
.body-label {
  border-radius: 5px;
  border: solid 1px rgba(102, 105, 255, 0.1);
  background-color: rgba(208, 208, 208, 0.2)!important;
  padding: 7px;
}
.form-control{
  padding: 7px;
}
.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control[disabled] {
  background-color: #f5f5f5!important;
  opacity: 1;
}
.prefix-icon {
  /*position: relative;*/
  /*left: -1.5rem;*/
  margin-right: 1rem;
}
.submit-btn{
  width: 91px;
  height: 35px;
  background-color: #141ED2;
  border-radius: 5px;
}

.job-type {
  margin-left: 23px;
}
