<div class='right-view report-map-customer-v2'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>Báo cáo bản đồ khách hàng SME</h3>
    </div>
    <div class='content__top-right'></div>
  </div>
  <div class='content'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block p-4'>
          <div class='row'>
            <div class='col-md-4'>
              <ng-container>
                <div class='form-group'>
                  <div [formGroup]='form' class='row'>
                    <div class='col-md-6'>
                      <label class='m-0'>{{ 'fields.currencyUnit' | translate }}</label>
                      <p-dropdown
                        [options]='commonData.listCurrencyUnit'
                        appendTo='body'
                        autoZIndex='false'
                        baseZIndex='10000'
                        class='d-block'
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='currencyUnit'
                        optionLabel='name'
                        optionValue='code'
                        placeholder=' '
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class='form-group'>
                  <div [formGroup]='form' class='row'>
                    <ng-container>
                      <div class='col-md-6'>
                        <label class='m-0'>{{ 'kpi.menu.periodDate' | translate }}</label>
                        <p-calendar [maxDate]='commonData.maxDate'
                                    [minDate]='commonData.minDate'
                                    [showIcon]='true'
                                    appendTo='body'
                                    autoZIndex='false'
                                    baseZIndex='10000'
                                    class='d-block custom-calendar'
                                    dateFormat='mm/yy'
                                    formControlName='reportPeriodMonth'
                                    icon='las la-calendar-alt'
                                    view='month'>
                        </p-calendar>
                        <small *ngIf='
                          form?.controls?.reportPeriodFrom?.errors?.cusRequired && form?.controls?.reportPeriodFrom?.touched
                        '
                               class='p-error'>{{ 'validationMessage.reportPeriodFrom' | translate }}</small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class='col-md-1'></div>
            <div class='col-md-7 b-table'>
              <div [formGroup]='form' class='form-group'>
                <label class='m-0'>{{ 'labels.report' | translate }}</label>
                <div class='row px-4'>
                  <div class='mt-2 mb-0 p-field-radiobutton col-md-2 mr-2'>
                    <p-radioButton formControlName='reportBy' value='customer'></p-radioButton>
                    <label class='m-0' class='ml-3'>{{ 'fields.customer' | translate }}</label>
                  </div>
                </div>
              </div>
              <div *ngIf='showListOptions' [formGroup]='form' class='form-group'>
                <label class='m-0'>{{ 'labels.list' | translate }} </label>
                <div class='row pl-4'>
                  <div class='mt-2 mb-0 p-field-radiobutton col-md-2'>
                    <p-radioButton formControlName='listOption' value='ALL'></p-radioButton>
                    <label class='m-0' class='ml-3'>{{ 'fields.choose_all' | translate }}</label>
                  </div>
                  <div class='mt-2 mb-0 p-field-radiobutton col-md-3'>
                    <p-radioButton formControlName='listOption' value='customer'></p-radioButton>
                    <label class='m-0' class='ml-3'>{{ 'fields.selectCustomer' | translate }}</label>
                  </div>
                  <ng-container *ngIf='!commonData.isRm'>
                    <div class='mt-2 mb-0 p-field-radiobutton col-md-2'>
                      <p-radioButton formControlName='listOption' value='rm'></p-radioButton>
                      <label class='m-0' class='ml-3'>{{ 'fields.selectRM' | translate }}</label>
                    </div>
                    <div *ngIf='!commonData.isRm' class='mt-2 mb-0 p-field-radiobutton col-md-3'>
                      <p-radioButton formControlName='listOption' value='branch'></p-radioButton>
                      <label class='m-0' class='ml-3'>{{ 'fields.choose_branch' | translate }}</label>
                    </div>
                    <div *ngIf="this.commonData.isRegionDirector" class='mt-2 mb-0 p-field-radiobutton col-md-2'>
                      <p-radioButton formControlName='listOption' value='region'></p-radioButton>
                      <label class='m-0' class='ml-3'>{{ 'fields.region_origin' | translate }}</label>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div *ngIf="form.get('listOption').value === 'region'" [formGroup]='form' class='form-group row'>
                <div class='col-md-5 p-w-5'>
                  <label>{{ 'fields.region_origin' | translate }}</label>
                  <p-dropdown
                    [autoDisplayFirst]='false'
                    [filter]='true'
                    [itemSize]='31'
                    [options]='commonData.regionList'
                    [virtualScroll]='true'
                    appendTo='body'
                    autoZIndex='false'
                    baseZIndex='10000'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='regionCode'
                    optionLabel='locationName'
                    optionValue='locationCode'
                  ></p-dropdown>
                </div>

              </div>

              <div [ngClass]='{hide: hidePickupList}' class='show'>
                <div class='filter-top block-center-between mt-0'>
                  <div class='filter-top__left'>
                    <div>
                      <input
                        (keyup.enter)='add()'
                        [(ngModel)]='textSearch'
                        class='form-control search-box'
                        maxlength='20'
                        placeholder="{{ 'btnAction.search' | translate }}"
                        type='text'
                      />
                    </div>
                    <button
                      (click)='add()'
                      class='btn-icon btn-icon--small btn btn-search grey ml-2'
                      title="{{ 'btnAction.create' | translate }}"
                    >
                      <em class='las la-plus-circle f-16'></em>
                    </button>
                    <button
                      (click)='search()'
                      class='btn-icon btn-icon--small btn btn-search grey ml-2'
                      title="{{ 'btnAction.search' | translate }}"
                    >
                      <em class='las la-search f-16'></em>
                    </button>

                  </div>
                  <div class='filter-top__right block-center'>
                    <button (click)='removeList()' [disabled]='allRM' class='btn btn--red btn-small mr-4 text-white'>
                      {{ 'btnAction.deleteAll' | translate }}
                    </button>
                  </div>
                </div>
                <div class='table__view'>
                  <ngx-datatable
                    #table
                    (page)='setPage($event)'
                    [columnMode]="'force'"
                    [count]='pageable?.totalElements'
                    [externalPaging]='true'
                    [footerHeight]='50'
                    [headerHeight]='40'
                    [limit]='pageable?.size'
                    [messages]='messages'
                    [offset]='pageable?.currentPage'
                    [rows]='listDataTable'
                    [scrollbarH]='true'
                    [scrollbarV]='true'
                    [virtualization]='false'
                    class='bootstrap fullscreen'
                    ngxDataTable
                    rowHeight='auto'
                  >
                    <ngx-datatable-column
                      [canAutoResize]='false'
                      [draggable]='false'
                      [resizeable]='false'
                      [sortable]='false'
                      [width]='55'
                      name="{{ 'fields.order' | translate }}"
                    >
                      <ng-template let-rowIndex='rowIndex' let-value='value' ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      [draggable]='false'
                      [name]='columns[0].name'
                      [prop]='columns[0].prop'
                      [sortable]='false'
                    >
                      <ng-template let-value='value' ngx-datatable-cell-template>
                        <span title='{{ value }}'>{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      [draggable]='false'
                      [name]='columns[1].name'
                      [prop]='columns[1].prop'
                      [sortable]='false'
                    >
                      <ng-template let-value='value' ngx-datatable-cell-template>
                        <span title='{{ value }}'>{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      [canAutoResize]='false'
                      [draggable]='false'
                      [frozenRight]='true'
                      [resizeable]='false'
                      [sortable]='false'
                      [width]='100'
                      name="{{ 'fields.action' | translate }}"
                    >
                      <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
                        <div class='block-center text-center column-action'>
                          <button
                            (click)='removeRecord(row); $event.stopPropagation()'
                            class='btn-outline'
                            title="{{ 'btnAction.delete' | translate }}"
                            type='button'
                          >
                            <em class='las la-trash-alt'></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                      <ng-template
                        let-curPage='curPage'
                        let-offset='offset'
                        let-pageSize='pageSize'
                        let-rowCount='rowCount'
                        let-selectedCount='selectedCount'
                        ngx-datatable-footer-template
                      >
                        <app-pager-ngx-datatable
                          (change)='table.onFooterPage($event)'
                          [count]='rowCount'
                          [hidden]='false'
                          [offset]='offset'
                          [page]='curPage'
                          [size]='pageSize'
                        >
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>

              <div [ngClass]="{'m-t-rp-view': hidePickupList }" class='pt-4 '>
                <button (click)='viewReport()' class='btn btn--light-blue btn-small mr-3 btn-view'>
                  {{ 'labels.reportShow' | translate }}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
