<div class="right-view sale-manager-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'assignLDRM.label.mainTitle' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="!permissionOpp">
          <div class="group__create-form px-4 mt-4 cus-primeng">
            <div class="row" >
              <div class="col-md-3 form-group">
                <div class="flex-col">
                  <label>{{ 'assignLDRM.label.block' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listDivision"
                    placeholder=" "
                    class="d-block"
                    [filter]="true"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [(ngModel)]="customerType"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [disabled]="true"
                  ></p-dropdown>
                </div>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <div class="title">{{ 'assignLDRM.label.customerCode' | translate }}</div>
                <input
                  type="text"
                  maxlength="150"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="customerCode"
                  pInputText
                />
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <div class="title">{{ 'assignLDRM.label.customerName' | translate }}</div>
                <input
                  type="text"
                  maxlength="150"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="customerName"
                  pInputText
                />
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <div class="title">{{ 'assignLDRM.label.contractCode' | translate }}</div>
                <input
                  type="text"
                  maxlength="150"
                  class="d-block"
                  (keyup.enter)="search(true)"
                  formControlName="contractNumber"
                  pInputText
                />
              </div>
            </div>
            <ng-container *ngIf="isOpenMore">
              <div class="row">

                <div class="col-md-3 form-group">
                  <div class="flex-col">
                    <label>{{ 'assignLDRM.label.branch' | translate }}</label>
                    <div class="p-input-icon-right">
                      <i
                        class="pi pi-times branch"
                        [ngClass]="{ show: facilityCode }"
                        (click)="removeBranchSelected()"
                      ></i>
                      <lp-branches
                        [listBranch]="facilities"
                        [(model)]="facilityCode"
                        (modelChange)="changeBranch($event)"
                      >
                      </lp-branches>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 form-group"  [formGroup]="formSearch" >
                  <label>{{ 'fields.statusAssign' | translate }} <span class="text-red">(*)</span></label>
                  <div class="row mt-3">
                    <div class="p-field-radiobutton col-md-6">
                      <p-radioButton [value]="false" formControlName="isAssign"></p-radioButton>
                      <label class="ml-3">{{ 'campaign.statusAssign.yetAssign' | translate }}</label>
                    </div>
                    <div class="p-field-radiobutton col-md-6">
                      <p-radioButton [value]="true" formControlName="isAssign"></p-radioButton>
                      <label class="ml-3">{{ 'campaign.statusAssign.assigned' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 form-group" *ngIf="formSearch.controls.isAssign.value === true">
                  <div class="flex-col">
                    <label>{{ 'assignLDRM.label.rmManager' | translate }}</label>
                    <div class="filter-top__left custom">
                      <div class="flex-1">
                        <span class="p-input-icon-right">
                          <i
                            class="pi pi-times"
                            [ngClass]="{ show: employeeCode && checkEmployeeCode() }"
                            (click)="removeRMSelected()"
                          ></i>
                          <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeCode" readonly />
                        </span>
                      </div>
                      <button
                        class="btn-icon btn-icon--small btn btn-search grey ml-2"
                        title="{{ 'btnAction.search' | translate }}"
                        (click)="searchRM()"
                      >
                        <em class="las la-search f-16"></em>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 form-group" [formGroup]="formSearch">
                  <div class="title">{{ 'fields.productGroup' | translate }}</div>
                  <p-dropdown
                    formControlName="systemAssign"
                    class="event-type border-cus" [options]="listProduct"
                    optionLabel="name" optionValue="value">
                  </p-dropdown>
                </div>
              </div>
            </ng-container>

            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small search" (click)="search(true)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="action__center">
                <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                  <em class="las la-angle-down f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                  <em class="las la-angle-up f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button
                  (click)="exportFile()"
                  class="btn btn-icon btn-icon--small btn-search ml-2"
                  title="{{ 'btnAction.export' | translate }}"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <div class="table__view list_rm">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="contractNumber"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.contractCode' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.contractCode' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.customerCode' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.customerCode' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.customerName' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.customerName' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="balanceQd"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.valueVND' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.valueVND' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <!-- rmCode - rmName -->
                <ngx-datatable-column
                  prop="rmManager"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.rmAssign' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.rmAssign' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="assignedDate"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.dateAssign' | translate }}"
                >
                  <ng-template ngx-datatable-header-template>
                    <div class="text-center">{{ 'assignLDRM.title.dateAssign' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: auto !important; margin-left: auto !important" title="{{ value }}">{{
                      value | date: 'dd/MM/y'
                      }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="productType"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.productName' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.productName' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="productName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.productNameDetail' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.productNameDetail' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rmBranchCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.branchCode' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.branchCode' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rmBranchName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.branchName' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.branchName' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="createdBy"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'assignLDRM.title.assignBy' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'assignLDRM.title.assignBy' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <!-- CRMCN-5321 - NAMNH.OS - START -->
                <ngx-datatable-column
                  name="{{ 'fields.action' | translate }}"
                  [width]="135"
                  [frozenRight]="true"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template ngx-datatable-header-template>
                    <div class="text-center">{{ 'fields.action' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="block-center item-right">
                      <!-- CRMCN-3672 - NAMNH.OS - START -->
                      <button
                        *ngIf="objFunction?.log && row.isAssign == true"
                        type="button"
                        class="btn-outline"
                        title="{{ 'customer360.menu.historyAssignment' | translate }}"
                        (click)="historyAssign(row)"
                      >
                        <em class="las la-file-invoice"></em>
                      </button>
                      <!-- CRMCN-3672 - NAMNH.OS - END -->
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      [hasDropdown]="true"
                      (change)="table.onFooterPage($event)"
                      (eventChangePageSize)="handleChangePageSize($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
