.sale-manager-list {
    color: #353644;
    .group__create-form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .list_rm {
        flex: 1 1 auto;
    }
    .messageSaleOpp {
        text-align: center;
        color: red;
        margin-top: 300px !important;
    }
}

.box {
    padding: 5px 10px;
    background-color: #F5F5FA;
    border-radius: 5px;
    .title {
        color: #AEAFB4;
        font-weight: 700;
    }
    .select-list {
        margin-top: 0;
        display: flex;
    }
    .sectors {
        border-radius: 4px;
        background-color: #ECECF9;
        padding: 5px 10px;
        margin: 5px 0;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    label {
        font-size: 13px;
    }
}

.slider-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    span {
        padding: 0 10px;
    }
    .p-inputwrapper-filled {
        flex: 1 1 auto;
    }
}

.slider-range-able {
    padding: 0 5px;
}

.flex-1 {
    flex: 1;
}

.text-bold {
    font-weight: 700;
    color: #FF3446;
    &.black {
        color: #353644;
    }
}
.search {
    padding: 0 50px;
}

.css-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-email {
    background-color: #bbbbfd;
    border: 1px solid #bbbbfd;
    &:hover {
        background-color: #bbbbfd !important;
        border: 1px solid #bbbbfd !important;
    }
}

.btn-action {
    background-color: #fff;
    border: 1px solid #EBEBEC;
    &:hover {
        background-color: #fff !important;
        border: 1px solid #EBEBEC !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.h-right {
    padding-right: 10px;
}
