<div class="row head-cus">
</div>
<div class="list__block calendar-view">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="filter-top-calendar pb-3 block-center-between px-4 pt-4">
    <div class="filter-top__left">
      <div class="block-center-between f-12">
        <div class="block-center mr-5">
          <button pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded background-all p-label-none p-button-medium"
                  [ngClass]="{ 'active': eventStatusFilter.all}" (click)="handleEventStatus(0)"></button>
          <div class="ml-2">{{'calendar.home-view.allStatus' | translate}}</div>
        </div>
        <div class="block-center mr-5">
          <button pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded background-blue-cus p-label-none p-button-low"
                  [ngClass]="{ 'active': eventStatusFilter.unfinished}" (click)="handleEventStatus(1)"></button>
          <div class="ml-2">{{'calendar.home-view.unFinished' | translate}}</div>
        </div>
        <div class="block-center mr-5">
          <button pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded background-green-cus p-label-none p-button-low"
                  [ngClass]="{ 'active': eventStatusFilter.finished}" (click)="handleEventStatus(2)"></button>
          <div class="ml-2">{{'calendar.home-view.finished' | translate}}</div>
        </div>
        <div class="block-center mr-5">
          <button pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded background-red-cus p-label-none p-button-high"
                  [ngClass]="{ 'active': eventStatusFilter.outDate }" (click)="handleEventStatus(3)"></button>
          <div class="ml-2">{{'calendar.home-view.outOfDate' | translate}}</div>
        </div>
        <div class="block-center mr-5">
          <button pButton pRipple type="button" icon="pi pi-check"
                  class="p-button-rounded background-grey p-label-none p-button-medium"
                  [ngClass]="{ 'active': eventStatusFilter.wait}" (click)="handleEventStatus(4)"></button>
          <div class="ml-2">{{'calendar.home-view.wait' | translate}}</div>
        </div>

      </div>
    </div>
    <div class="filter-top__right block-center">
      <button *ngIf="listRm.length > 0"
              (click)="changeTypeView()"
              class="btn btn--light-blue btn-small mr-3 btn-view">
        {{!isViewPersonal? 'Cá nhân': 'Quản lý lịch RM'}}
      </button>
        <p-multiSelect *ngIf="!isViewPersonal" class="d-block event-type mul-select-cus" [options]="listRm" display="chip" [(ngModel)]="rmSelected"
                       emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" (onPanelHide)="onChangeRM()"
                       placeholder="{{ 'calendar.home-view.chooseRm' | translate }}" optionValue="code" optionLabel="name">
        </p-multiSelect>
<!--      <button *ngIf="!isViewPersonal" class="btn-icon btn-icon&#45;&#45;small btn btn-search grey ml-2"-->
<!--              title="{{ 'btnAction.search' | translate }}" (click)="onChangeRM()">-->
<!--        <em class="las la-search f-16"></em>-->
<!--      </button>-->
      <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                  class="select-calendar-cus event-type ml-5" [(ngModel)]="eventTypeSelected" [options]="listEventType" (onBlur)="onBlur(type)"
                  (onChange)="onChangeEventType()"  optionLabel="name" optionValue="code" [showClear]="false">
      </p-dropdown>
      <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-5" (click)="create()"
              title="{{ 'btnAction.createCalendar' | translate }}">
        <em class="las la-plus-circle f-16"></em>
      </button>
    </div>
  </div>
  <div class="table__view p-4">
    <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr">
      <div class="fc-toolbar-chunk">
        <button (click)="goToDay()" class="ml-1 btn-suggest">{{'calendar.currentWeek' | translate}}</button>
      </div>
      <div class="fc-toolbar-chunk"><form [formGroup]="configForm">
        <div class="row">
          <button class="btn-icon btn-icon--small  ml-5" (click)="preWeek()" title="Tuần trước">
            <em class="las pre_custom"></em>
          </button>
          <h2 style="padding: 4px;">{{monday | date:'dd/MM'}} - {{sunday | date:'dd/MM/yyyy'}}</h2>
          <button class="btn-icon btn-icon--small " (click)="nextWeek()" title="Tuần tiếp theo">
            <em class="las next_custom"></em>
          </button>
          <p-calendar class="border-none" yearRange="1900:2100" [monthNavigator]="true" [yearNavigator]="true"
                      (onSelect)="onChangeDate()" autoZIndex="false" baseZIndex="10000" appendTo="body" [touchUI]="true"
                      [readonlyInput]="true" formControlName="dateData" [showIcon]="true" icon="las la-calendar-alt" >
          </p-calendar>
        </div>
      </form></div>
      <div class="fc-toolbar-chunk">
<!--        <button class="ml-1 btn-suggest" >{{'calendar.home-view.week' | translate}}</button>-->
      </div>
    </div>
    <div class="fc-view-harness fc-view-harness-active">
      <div class="row mb-2 fc-timegrid fc-timeGridWeek-view fc-view overflow-auto" style="max-height: 65vh">
        <table class="table ">
          <thead class="th-head " >
          <tr>
            <th class="th-boder" *ngIf="!isViewPersonal">
              {{'calendar.home-view.RmName' | translate}}
            </th>
            <th [ngClass]="getHeadClass(monday)" class="th-boder">{{monday | date: 'EEEE'|translate}}{{monday | date: ', d/MM' }}</th>
            <th [ngClass]="getHeadClass(tuesday)" class="th-boder">{{tuesday | date: 'EEEE'|translate}}{{tuesday | date: ', d/MM'}}</th>
            <th [ngClass]="getHeadClass(wednesday)" class="th-boder">{{wednesday | date: 'EEEE'|translate}}{{wednesday | date: ', d/MM'}}</th>
            <th [ngClass]="getHeadClass(thursday)"  class="th-boder">{{thursday | date: 'EEEE'|translate}}{{thursday | date: ', d/MM'}}</th>
            <th [ngClass]="getHeadClass(friday)" class="th-boder">{{friday | date: 'EEEE'|translate}}{{friday | date: ', d/MM'}}</th>
            <th [ngClass]="getHeadClass(saturday)" class="th-boder text-danger">{{saturday | date: 'EEEE'|translate}}{{saturday | date: ', d/MM'}}</th>
            <th [ngClass]="getHeadClass(sunday)" class="th-boder text-danger">{{sunday | date: 'EEEE'|translate}}{{sunday | date: ', d/MM'}}</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let item of listData" >
            <td *ngIf="!isViewPersonal" class="td-boder font-weight-bold">{{item.nameRm}}</td>
            <td class="td-boder">
              <app-job-item (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(monday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                            [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(monday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(monday, item.jobs).length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(monday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(tuesday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                            [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(tuesday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(tuesday, item.jobs).length - 2}} công việc</div>
                <div class="p-all"  (click)="showAllEvent(this.getJobByDate(tuesday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item  (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(wednesday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                            [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(wednesday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(wednesday, item.jobs).length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(wednesday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item  (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(thursday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                             [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(thursday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(thursday, item.jobs).length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(thursday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item  (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(friday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                             [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(friday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(friday, item.jobs).length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(friday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item  (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(saturday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                             [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(saturday, item.jobs).length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(saturday, item.jobs).length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(saturday, item.jobs))">Xem tất cả</div>
              </div>
              </td>
            <td class="td-boder">
              <app-job-item (onChangeSth)="getEvents()" (onChangeLoading) = "changeLoading($event)" *ngFor="let job of this.getJobByDate(sunday, item.jobs); let i = index"
                            [job] = "job"
                            [index] = "i"
                            [isViewPersonal] = "isViewPersonal"
                            [listEventType] = "listEventType"
              >
              </app-job-item>
              <div class="block-center-between d-padding-event" *ngIf="this.getJobByDate(sunday, item.jobs)?.length > 2 && !isViewPersonal">
                <div class="p-padding-calendar">+ {{this.getJobByDate(sunday, item.jobs)?.length - 2}} công việc</div>
                <div class="p-all" (click)="showAllEvent(this.getJobByDate(sunday, item.jobs))">Xem tất cả</div>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="!isViewPersonal" class="mr-0"><mat-paginator #paginator [length]="totalItem" [pageIndex]="params.pageNumber"
                                   [pageSize]="params.pageSize" [pageSizeOptions]="[3, 6, 9]"
                                   (page)="changePage($event)" [hidePageSize]="false"></mat-paginator></div>
</div>
