.calendar-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0 0 10px;
  }

  .p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    //background-image: url('src/assets/images/sme/search_icon.svg')!important;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: contain!important;
    width: 34px;
    height: 34px;
    border-radius: 4px!important;
    background-color: #bbbbfd !important;
    &:hover {
      //background-image: url('src/assets/images/sme/search_icon.svg')!important;
      //background-repeat: no-repeat;
      //background-position: center;
      //background-size: contain!important;
      width: 34px;
      height: 34px;
      //background: transparent;
      border-radius: 4px!important;
      background-color: #9595f3!important
    }
  }
  //.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover{
  //
  //}
  .pi-times:before {
    content: "\e908";
    color: #fff;
    //background: red;
    //padding: 20px;
    font-size: 14px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .btn-secondary {
    border: 1px solid #ececf2;
  }

  .filter-top-calendar {
    border-bottom: 1px solid #dee2e6;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  a.fc-daygrid-event.fc-daygrid-block-event {
    cursor: pointer;
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }

  .w-0 {
    width: 0px !important;
  }

  .p-calendar .p-datepicker-touch-ui,
  .p-datepicker-touch-ui {
    min-width: 500px;
  }
}
.btn-suggest {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.table {
  background: #FFFFFF;
  box-shadow: inset -1px 0px 0px rgba(102, 102, 102, 0.08), inset 0px -1px 0px #EEEEEE;
  .td {
    box-shadow: inset -1px 0px 0px rgb(102 102 102 / 8%), inset 0px -1px 0px #eeeeee;
  }
}
.td-boder {
  box-shadow: inset -1px 0px 0px rgb(102 102 102 / 8%), inset 0px -1px 0px #eeeeee;
  width: calc(100% / 8);
}

.th-boder {
  box-shadow: inset -1px 0px 0px rgb(102 102 102 / 8%), inset 0px -1px 0px #eeeeee;
  width: calc(100% / 8);
  padding: 12px 10px 13px 16px!important;
}
.th-head {
  background: #EFF2FE;
  height: 48px;
}

.head-cus {
  background-color: #e6e6f3;
}

.sum-cus {
  background-color: #FFFFFF;
  border-radius: 6px;
  margin: 0px 19px 25px 18px;
  height: 90px;
  padding: 16px 44px 20px 20px;
}
.mul-select-cus {
  max-width: 500px;
  width: 230px;
  .p-multiselect {
    border-color: #bbbbfd !important;
  }
  .p-multiselect .p-multiselect-label.p-placeholder { /* Edge */
    color: black;
    padding-left: 8px;
  }
}
.select-calendar-cus {
  .p-dropdown {
    border-color: #bbbbfd !important;
  }
  .p-dropdown .p-dropdown-label { /* Edge */
    color: black;
  }
}
.sum-num-cus {
  padding: 8px;
  text-align: right;
}
.border-none {
  .p-calendar-w-btn .p-inputtext {
    display: none;
  }
  .p-calendar-w-btn .p-datepicker-trigge {
    border-radius: 5px;
  }
  .p-calendar .p-button.p-button-icon-only {
    border-radius: 5px;
  }
}
.color-danger {
  color: #FF4271;
}

.color-success {
  color: #25BA89;
}

.color-primary {
  color: #1D83BB;
}

.d-padding-event {
  padding: 8px;
  .p-padding-calendar {
    padding: 7px;
    background: rgba(255, 170, 100, 0.1);
    color: #FF8D2F;
    border-radius: 4px;
  }
  .p-all {
    text-decoration-line: underline;
    color: #AEAFB4;
  }
}
.background-blue-cus {
  background: #1badde;
  color: #FFFFFF;
  border: 1px solid #1badde;
}

.background-green-cus {
  background: #25BA89;
  color: #FFFFFF;
  border: 1px solid #25BA89;
}

.background-red-cus {
  background: #FF4271;
  color: #FFFFFF;
  border: 1px solid #FF4271;
}

.pi {
  font-weight: 900;
}

.background-gray {
  background: #FBFBFB;
}
.background-head {
  background: #C6D1FF;
}
