<div class="modal-header pb-4">
  <div class="block-center-between" style="width: calc(100% - 25px);">
    <div class="modal-header-left">
      <div class="">
        <h5 class="m-0">{{ titleHeader | translate }}</h5>
        <label class="m-0">{{
          'fields.customer' | translate }}: {{
          parent?.parentId + ' - ' + parent?.parentName
          }}</label>
      </div>
    </div>
    <div class="modal-header-right">
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="row customer-activity-table">
      <div class="col-md-12">
        <customer-activities #customers class="customer-activity-table" [campaignId]="campaignId" [rsId]="rsId"
          [customerId]="customerId" [isHistory]="true">
        </customer-activities>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>