<div class="right-view branch-category-update">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.branchCategory' | translate }}/{{ data?.name }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 mt-3" [formGroup]="form">
            <div class="row">
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.branchCode' | translate }}</label>
                <input class="form-control" type="text" formControlName="code" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.branchName' | translate }}</label>
                <input class="form-control" type="text" formControlName="name" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.branchType' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listBranchType" class="d-block" formControlName="type"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.branchParent' | translate }}</label>
                <input class="form-control" type="text" formControlName="parentCode" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.branchTypeKPI' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listBranchTypeKPI" class="d-block" formControlName="typeKpi"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.regionKPI' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listLocationKpi" class="d-block" formControlName="locationKpi"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'fields.regionM' | translate }}</label>
                <input type="text" class="form-control" formControlName="vungMienM" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.dateEstablished' | translate }}</label>
                <p-calendar formControlName="dateOfEstablishment" class="d-block" dateFormat="dd/mm/yy" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt">
                </p-calendar>
                <!-- <input a2e-datetimepicker [options]="a2eOptions" type="text" class="form-control"
                  formControlName="dateOfEstablishment" /> -->
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'fields.area' | translate }}</label>
                <input type="text" class="form-control" formControlName="khuVucM" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.description' | translate }}</label>
                <input type="text" class="form-control" formControlName="description" />
              </div>
              <div class="col-md-6 form-group has-error">
                <label>{{ 'system.fields.address' | translate }}</label>
                <textarea class="form-control" formControlName="address"></textarea>
              </div>
            </div>
          </div>
          <div class="px-4 text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
