

.header {
    height: 68px;
    border-bottom: 1.38889px solid #eeeeee;
    .chart-type {
        width: 150px;
    }
}

.selected-chart-type {
    color: #002edb;
}

.cp {
    cursor: pointer;
}

.chart-wrapper {
    height: 300px;
    border-left: 1px solid #F5F5FA;
    border-right: 1px solid #F5F5FA;
    border-bottom: 1px solid #F5F5FA;
    padding-top: 2.5rem;
}

.kpi-target {
    padding-top: 0px !important;
}

@media only screen and (max-width: 1500px) {
    .chart-wrapper {
        height: 285px;
    }

    .chart-type {
        font-size: 12px;
    }
}