<div class="chart kpi-target">
    <div class="chart__header header">
        <div class="block-center-between h-100">
            <div class="f-16 text-black chart__header-title" style="font-weight: 600;">
                <span>{{ title | translate }}</span>
            </div>
            <div class="block-center-between chart-type">
                <span 
                    class="cp" 
                    [ngClass]="{'selected-chart-type': selectedChartType === 'point'}"
                    (click)="setChartType('point')"
                >
                    {{'Biểu đồ tỷ lệ'}}
                </span>
                <span 
                    class="cp" 
                    [ngClass]="{'selected-chart-type': selectedChartType === 'value'}"
                    (click)="setChartType('value')"
                >
                    {{'Biểu đồ giá trị'}}
                </span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!isLoading && !isEmpty">
        <div class="row">
            <div class="col-md-4 chart-wrapper" *ngFor="let item of data.chartList; let i = index">
                <app-target-chart [chartData]="item" [selectedChartType]="selectedChartType"></app-target-chart>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && isEmpty">
        <div class="chart__empty">
            <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
    </ng-container>
    <app-loading *ngIf="isLoading"></app-loading>
</div>