<div class="right-view kpi-standard-cbql-import">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center flex_one">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.importKpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right block-center row mr-0">
      <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.write' | translate }}</button>
      <button class="btn btn-light" (click)="back()">{{ 'btnAction.skip' | translate }}</button>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBlock"
                  placeholder=" "
                  class="d-block"
                  formControlName="blockCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeBlockCode()"
                >
                </p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.titleGroupRM' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listGroup"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmTitleCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="onChangeGroup()"
                ></p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.levelRM' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listLevel"
                  placeholder=" "
                  class="d-block"
                  formControlName="rmLevelCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.menu.period' | translate }} </label>
                <div class="row mt-2">
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="true" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                  </div>
                  <!--                  23-03-2022 LinhHH2: Bỏ radio 6 tháng-->
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="false" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.sixMonth' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4 row padding-right-0">
                <div class="col-md-6 form-group">
                  <label>{{ 'fields.month' | translate }}</label>
                  <p-dropdown
                    [options]="listMonth"
                    placeholder=" "
                    class="d-block"
                    formControlName="month"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="name"
                    optionValue="code"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-6 form-group">
                  <label>{{ 'fields.year' | translate }}</label>
                  <p-dropdown
                    [options]="listYear"
                    placeholder=" "
                    class="d-block"
                    formControlName="year"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="code"
                    optionValue="code"
                  >
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="card py-4 px-4 mb-3">
            <div class="mb-3 text-left">
              <span class="text-color">{{ 'kpi.fields.choose_file' | translate }}</span>
            </div>
            <div class="block-center">
              <div class="upload block-center">
                <div [class.file-disabled]="isUpload"></div>
                <input
                  class="upload__input"
                  type="file"
                  accept=".xlsx, .csv"
                  [(ngModel)]="files"
                  (change)="handleFileInput($event.target.files)"
                />
                <em class="las la-cloud-upload-alt f-20"></em>
                <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
              </div>
              <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                <em class="las la-times f-16"></em>
              </button>
              <button class="btn btn-small btn--light-blue ml-3" (click)="exportFile()">
                <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
              </button>
            </div>
          </div>
          <div *ngIf="allData.length && !listDataError.length">
            <ngx-datatable
              ngxDataTable
              #table
              class="fullscreen header-center bootstrap-non-fixed-height"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [messages]="messages"
            >
              <ngx-datatable-column
                *ngFor="let item of listHeaders; let i = index"
                [sortable]="false"
                [draggable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <span class="break-type">{{ getHeader(item, i) }}</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="i >= 3" class="number">
                    <span title="{{ value }}">{{ row[i] ? row[i] : 0 }}</span>
                  </div>
                  <div *ngIf="i < 3">
                    <span title="{{ value }}">{{ row[i] }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div *ngIf="listDataError.length">
            <ngx-datatable
              ngxDataTable
              #table
              class="fullscreen header-center bootstrap-non-fixed-height"
              [formGroup]="formCreate"
              [rows]="listDataError"
              [columnMode]="'force'"
              [headerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [messages]="messages"
            >
              <ngx-datatable-column
                *ngFor="let item of listHeaders; let i = index"
                [sortable]="false"
                [draggable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <span class="break-type">{{ getHeader(item, i) }}</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span *ngIf="isText(i)" title="{{ value }}">{{ row[i] }}</span>
                  <div *ngIf="!isText(i)" [formGroupName]="getIndex(rowIndex, i)" class="full-width">
                    <input
                      *ngIf="!formCreate.value[getIndex(rowIndex, i)].success"
                      placeholder=""
                      type="text"
                      class="d-block border-red"
                      formControlName="value"
                      pInputText
                    />
                    <input
                      *ngIf="formCreate.value[getIndex(rowIndex, i)].success"
                      placeholder=""
                      type="text"
                      class="d-block"
                      formControlName="value"
                      pInputText
                    />
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
