::ng-deep .detail-result-rm {
    .modal-dialog {
        max-width: 1150px;
        height: 100%;
        margin: auto;
        display: flex;
    }
    .modal-content {
        max-height: calc(100% - 3.5rem);
        height: calc(100% - 3.5rem);
        margin: auto;
        overflow: hidden;
        .app-detail-result-rm {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .modal-body {
            overflow: hidden;
        }
    }

    .list__block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .ngx-datatable {
        height: calc(100% - 50px);
    }

    .visible {
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .datatable-body {
        overflow-y: auto !important;
        flex: 1 !important;
    }

    .btn-group {
        background: #eff2fe;
    }
    .modal-dialog {
        max-width: 80%!important;
        max-height: calc(100% - 3.5rem);
        height: calc(100% - 3.5rem);
    }
}

