<div class='modal-header pb-4'>
    <div class='block-center-between'>
        <h5 class="m-0">Kết quả tiếp cận khách hàng</h5>
    </div>
    <button (click)='closeModal()' class='close' type='button'>
        <span aria-hidden='true'>&times;</span>
    </button>
</div>

<div class='modal-body'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class="mb-2 block-center-between">
        <div class="filter-top__left">
        </div>
        <div class="filter-top__right d-flex mr-2" style="align-items: center;">
            <button class="btn btn--light-blue btn-icon--small" (click)="exportApproachingResultFile()"
                title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
            </button>
        </div>
    </div>
    <div class='list__block'>
        <div class='table__view'>
            <ngx-datatable ngxDataTable #table class="bootstrap" [rows]="listData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [height]="40" [scrollbarV]="true" [scrollbarH]="true"
                [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                [messages]="messages">

                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmCode"
                    name="{{ 'fields.rmCode' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmName"
                    name="{{ 'fields.rmName' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerNotCode"
                    name="{{ 'campaign.detail.customer_no_code_total' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerHadCode"
                    name="{{ 'campaign.detail.customer_have_code_total' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="totalCustomerAssigned"
                    name="{{ 'Tổng KH được PG' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerNotApproached"
                    name="{{ 'SL KH chưa tiếp cận' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerApproached"
                    name="{{ 'SL KH đã tiếp cận' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="percentApproaching"
                    name="{{ 'campaign.detail.tracking_rate' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}%</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                            [hidden]="false" (change)="table.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>
<div class='modal-footer modal-footer--grey d-block'>
    <div class='text-right'>
        <button (click)='closeModal()' class='btn btn--red'>{{ 'btnAction.cancel' | translate }}</button>
    </div>
</div>
