<div class="modal-header" [class]="background">
  <div class="m-0 f-16"><span>Chi tiết lịch lặp</span></div>
  <button type="button" class="close" (click)="close(0)">
    <span aria-hidden="true" class="text-white">&times;</span>
  </button>
</div>
<div class="modal-body" id="content">
  <ng-container *ngIf="!message">
    <p class="text-center f-14">Đây là lịch lặp, bạn muốn mở chỉ 1 lịch này hay tất cả</p>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn--red mr-3 text-black background-white" (click)="close(1)">Chỉ một lịch</button>

  <button class="btn btn--light-blue" (click)="close(2)">Tất cả lịch</button>
</div>
