<ngx-datatable ngxDataTable #table class="bootstrap h-100" [rows]="listData" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [height]="40" [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
    [externalPaging]="true" [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
    (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">

    <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
        [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="isRM ? 'rmCode' : 'branchCode'" name="{{ (!isRM ? 'fields._branchCode' : 'fields.rmCode') | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="isRM ? 'rmName' : 'branchName'" name="{{ (!isRM ? 'fields._branchName' : 'fields.rmName') | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="region" name="{{ 'fields.region_origin' | translate }}" *ngIf="!isRM">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerNotCode" name="{{ 'campaign.detail.customer_no_code_total' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerHadCode" name="{{ 'campaign.detail.customer_have_code_total' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="totalCustomerAssigned" name="{{ 'Tổng KH được PG' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerNotApproached" name="{{ 'SL KH chưa tiếp cận' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="countCustomerApproached" name="{{ 'SL KH đã tiếp cận' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="percentApproaching" name="{{ 'campaign.detail.tracking_rate' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}%</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                [hidden]="false" (change)="table.onFooterPage($event)">
            </app-pager-ngx-datatable>
        </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>