.migration-view {
  .list__block {
    display: block !important;
    overflow: auto;
    .block-center-between {
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
    }
  }
  .list-content {
    margin: auto;
  }
  .import {
    padding: 8px 7px;
    font-weight: bold;
  }
  .btn-primary {
    width: 85px;
    font-weight: 700;
  }
  .p-button-icon {
    font-weight: 700;
  }
}
