<div class="right-view migration-view">
  <div class="content__top block-center-between mb-3">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Migrate</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="mt-5 col-md-12 list-content">
            <div class="block-center-between mb-3">
              <strong>1. API THÊM MỚI RM</strong>
              <p-fileUpload
                #fileUpload
                mode="basic"
                name="demo[]"
                accept=".xlsx"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action1($event, fileUpload)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>2. API QUẢN LÝ VAI TRÒ</strong>
              <button class="btn btn-small btn--light-blue" (click)="action2()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>3. API GÁN VAI TRÒ VỚI NGƯỜI DÙNG</strong>
              <button class="btn btn-small btn--light-blue" (click)="action3()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>4. API QUẢN LÝ KHỐI VẬN HÀNH</strong>
              <button class="btn btn-small btn--light-blue" (click)="action4()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>5. API DANH MỤC CHỨC DANH & 17 -DANH MỤC CẤP ĐỘ RM</strong>
              <button class="btn btn-small btn--light-blue" (click)="action5()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>6. API GÁN RM KHỐI</strong>
              <button class="btn btn-small btn--light-blue" (click)="action6()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>7. API QUẢN LÝ NHÓM RM,LỊCH SỬ NHÓM RM</strong>
              <button class="btn btn-small btn--light-blue" (click)="action7()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>8. API PHÂN GIAO KHÁCH HÀNG CHO RM(RELATIONSHIP MONGO)</strong>
              <button class="btn btn-small btn--light-blue" (click)="action8()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>9. API TẠO QUYỀN</strong>
              <p-fileUpload
                #fileUpload1
                mode="basic"
                name="demo1[]"
                accept=".xlsx"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action9($event, fileUpload1)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>10. API GÁN QUYỀN CHO VAI TRÒ</strong>
              <p-fileUpload
                #fileUpload2
                mode="basic"
                name="demo2[]"
                accept=".xlsx"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action10($event, fileUpload2)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>11. API PHÂN MIỀN DỮ LIỆU</strong>
              <button class="btn btn-small btn--light-blue" (click)="action11()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>12. API QUY TRÌNH THEO WORKFLOW</strong>
              <button class="btn btn-small btn--light-blue" (click)="action12()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>13. API ĐỒNG BỘ DỮ LIỆU TỪ CORE VỀ KÊNH</strong>
              <button class="btn btn-small btn--light-blue" (click)="action13()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>14. API THÊM CLIENT ROLE THEO REAM ROLE</strong>
              <button class="btn btn-small btn--light-blue" (click)="action14()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>15. API GENERATE QUY TRÌNH TIẾP CẬN</strong>
              <button class="btn btn-small btn--light-blue" (click)="action15()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>16. API GENERATE QUY TRÌNH BÁN</strong>
              <button class="btn btn-small btn--light-blue" (click)="action16()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>17. API DELETE AUTO ACCOUNT ASSIGNMENTS</strong>
              <button class="btn btn-small btn--light-blue" (click)="action17()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>18. UPLOAD FILE UNASSIGN AND ASSIGN-CORE</strong>
              <p-fileUpload
                #fileUpload3
                mode="basic"
                name="demo[]"
                accept=".xlsx"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action18($event, fileUpload3)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong
                >19. DOWNLOAD FILE <input placeholder="File Id" type="text" [(ngModel)]="fileId" pInputText
              /></strong>
              <button [disabled]="!fileId" class="btn btn-small btn--light-blue" (click)="action19()">Download</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>20. CẬP NHẬT DỮ LIỆU BIẾN ĐỘNG RM (USER_NAME/EMAIL)</strong>
              <button class="btn btn-small btn--light-blue" (click)="action20()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>21. CẬP NHẬT KHỐI BIẾN ĐỘNG RM</strong>
              <button class="btn btn-small btn--light-blue" (click)="action21()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>22. MIGRATE ASSIGNMENTS KAFKA</strong>
              <button class="btn btn-small btn--light-blue" (click)="action22()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>22.1 MIGRATE UNASSIGNMENTS KAFKA</strong>
              <button class="btn btn-small btn--light-blue" (click)="action36()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>23. MIGRATE EMPLOYEE ID</strong>
              <button class="btn btn-small btn--light-blue" (click)="action23()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>24. MIGRATE TITLE ID AND LEVEL ID</strong>
              <button class="btn btn-small btn--light-blue" (click)="action24()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>25. VAI TRÒ CHO NGƯỜI DÙNG CÓ KHỐI KHÁC INDIV</strong>
              <button class="btn btn-small btn--light-blue" (click)="action25()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>26. IMPORT DANH SÁCH RM VÀO BẢNG TẠM ĐỂ MIGRATE</strong>
              <p-fileUpload
                #fileUpload4
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action26($event, fileUpload4)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>27. API import file excel danh sach quyen theo ma vai tro</strong>
              <p-fileUpload
                #fileUpload5
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action27($event, fileUpload5)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>28. XÓA THÔNG TIN RM THEO DANH SÁCH MIGRATE</strong>
              <button class="btn btn-small btn--light-blue" (click)="action28()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>29. MIGRATE THÔNG TIN RM KHỐI CHỨC DANH</strong>
              <button class="btn btn-small btn--light-blue" (click)="action29('EAT_MIGRATE')">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>30. MIGRATE THÔNG TIN RM NHÓM RM-CBQL</strong>
              <button class="btn btn-small btn--light-blue" (click)="action29('GROUP_MIGRATE')">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>31. IMPORT DANH SÁCH KHÁCH HÀNG TIỀM NĂNG</strong>
              <p-fileUpload
                #fileUpload6
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action30($event, fileUpload6)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>32. IMPORT DỮ LIỆU PHÂN GIAO KH CHO RM KHÁC INDIV VÀO BẢNG TẠM</strong>
              <button class="btn btn-small btn--light-blue" (click)="action31()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>33. MIGRATE DỮ LIỆU PHÂN GIAO KH CHO RM KHÁC INDIV</strong>
              <button class="btn btn-small btn--light-blue" (click)="action32()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>34. MIGRATE KHÁCH HÀNG TTTM</strong>
              <p-fileUpload
                #fileUpload7
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action33($event, fileUpload7)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <div class="block-center-between mb-3">
              <strong>35. MIGRATE THÔNG TIN BIẾN ĐỘNG RM KHDN</strong>
              <button class="btn btn-small btn--light-blue" (click)="action34()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>36. XÓA DỮ LIỆU CÁC BẢNG LIÊN QUAN ĐẾN MIGRATE KH TTTM</strong>
              <button class="btn btn-small btn--light-blue" (click)="action35()">Merge</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>37. UNASSIGN CUSTOMER SALE</strong>
              <p-fileUpload
                #fileUpload8
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action37($event, fileUpload8)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>
            <!-- <div class="block-center-between mb-3">
              <strong>38. ĐỒNG BỘ DỮ LIỆU KHÁCH HÀNG TỪ T24</strong>
              <button class="btn btn-small btn--light-blue" (click)="action38()">ĐỒNG BỘ</button>
            </div> -->

            <div class="block-center-between mb-3">
              <strong>39. MIGRATE THÔNG TIN RM NHÓM RM-CBQL-CIB</strong>
              <button class="btn btn-small btn--light-blue" (click)="action39()">Merge</button>
            </div>

            <div class="block-center-between mb-3">
              <strong>40. MIGRATE THÔNG TIN PHÂN GIAO KH CIB/DVC/FI</strong>
              <p-fileUpload
                #fileUpload9
                mode="basic"
                name="demo[]"
                accept=".xlsx, .xls"
                styleClass="btn btn-small btn--light-blue import"
                customUpload="true"
                (uploadHandler)="action40($event, fileUpload9)"
                chooseLabel="Import"
              ></p-fileUpload>
            </div>

            <div class="block-center-between mb-3">
              <strong>41. MIGRATE THÔNG TIN RM KHỐI CHỨC DANH CIB</strong>
              <button class="btn btn-small btn--light-blue" (click)="action41('EAT_MIGRATE_CIB')">Merge</button>
            </div>

            <div class="block-center-between mb-3">
              <strong>42. SEND AP WARNING KAFKA</strong>
              <button class="btn btn-small btn--light-blue" (click)="action42()">Merge</button>
            </div>

            <div class="block-center-between mb-3">
              <strong>43. MIGRATE BẢNG LEAD</strong>
              <div>
                <button class="btn btn-small btn--light-blue" (click)="action43(false)">Migrate</button>
                <button class="btn btn-small btn--light-blue" (click)="action43(true)">MigrateFull</button>
              </div>
            </div>

            <div class="block-center-between mb-3">
              <strong>44. MIGRATE BẢNG CAMPAIGN</strong>
              <div>
                <button class="btn btn-small btn--light-blue" (click)="action44(false)">Migrate</button>
                <button class="btn btn-small btn--light-blue" (click)="action44(true)">MigrateFull</button>
              </div>
            </div>

            <div class="block-center-between mb-3">
              <strong>45. MIGRATE BẢNG LEAD_PREVIEW</strong>
              <div>
                <button class="btn btn-small btn--light-blue" (click)="action45(false)">Migrate</button>
                <button class="btn btn-small btn--light-blue" (click)="action45(true)">MigrateFull</button>
              </div>
            </div>

            <div class="block-center-between mb-3">
              <strong>46. MIGRATE BẢNG LEAD_PREVIEW_TMP</strong>
              <div>
                <button class="btn btn-small btn--light-blue" (click)="action46(false)">Migrate</button>
                <button class="btn btn-small btn--light-blue" (click)="action46(true)">MigrateFull</button>
              </div>
            </div>

            <div class="block-center-between mb-3">
              <strong>47. MIGRATE BẢNG OPPORTUNITIES</strong>
              <div>
                <button class="btn btn-small btn--light-blue" (click)="action47(false)">Migrate</button>
                <button class="btn btn-small btn--light-blue" (click)="action47(true)">MigrateFull</button>
              </div>
            </div>
            <div class="block-center-between mb-3">
              <strong>48. Thêm mới Client Role từ danh Policy</strong>
              <button class="btn btn-small btn--light-blue" (click)="action48()">Run</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>49. Cập nhật Client Role cho user</strong>
              <button class="btn btn-small btn--light-blue" (click)="action49()">Run</button>
            </div>
            <div class="block-center-between mb-3">
              <strong>50. Xóa Realm Role cho user</strong>
              <button class="btn btn-small btn--light-blue" (click)="action50()">Run</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
