@import 'variable';

.kpi-category-update {
  .list__block {
    overflow-y: auto;
  }

  .list__block {
    overflow-y: auto;
  }

  .title-info {
    margin-bottom: 1.75rem;
    h5 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .p-textarea {
    width: 100%;
    border-radius: 3px;
    border-color: $gray-400;
  }

  .p-fileupload-choose {
    width: 100%;
    justify-content: center;
    border-color: $gray-400;
    border-radius: 4px;
    color: $primary;
    &:hover {
      background: none;
      border-color: $gray-400;
      color: $primary;
    }
  }

  .p-button-label {
    flex: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
