.main-chart {
    height: 100%;
    .header {
        font-size: 16px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px 20px 0px 8px;
    }

    .echart-wrapper {
        height: 100%; 
        width: 100%;
    }
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.line {
    color: #002EDB;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    .main-chart {
        width: 275px;
        .header {
            font-size: 14px;
            padding-left: 25px;
        }
    }
}
