.table-characteristic-dialog {
	.table-characteristic-content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.modal-dialog {
		max-height: calc(100% - 3.5rem);
		height: calc(100% - 3.5rem);
	}
	.modal-content {
		height: 100%;
	}
	.modal-body {
		flex-grow: 1;
		overflow: hidden;
	}
	.list__block {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}
