<div class="modal-header pb-4">
    <div class="block-center-between">
        <div class="">
            <h5 class="m-0">{{ 'title.selectCharacteristic' | translate }}</h5>
        </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="list__block">
        <div class="mb-3">{{ 'title.listCharacteristic' | translate }}</div>
        <div class="table__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listCharacteristic"
                [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                [scrollbarH]="false" [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                [messages]="messages">

                <ngx-datatable-column [width]="40" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                    [draggable]="false" [resizeable]="false">
                    <ng-template ngx-datatable-header-template>
                        <p-checkbox binary="true" [(ngModel)]="isCheckAll" (onChange)="onChangeIsCheckAll($event)">
                        </p-checkbox>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <p-checkbox binary="true" [(ngModel)]="row.checked"
                            (onChange)="onChangeChooseItem($event, row)"></p-checkbox>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="45"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex +
                            1}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="saleKitCategoryAttributeName"
                    name="{{ 'fields.characteristicName' | translate }}" [sortable]="false" [resizeable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column prop="isCompare" name="{{ 'fields.isCharacteristicCompare' | translate }}"
                    [sortable]="false" [resizeable]="false" [width]="150" [canAutoResize]="false">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                            <p-checkbox binary="true" [(ngModel)]="row.isCompare"
                                (onChange)="onChangeIsCompare($event, row)"></p-checkbox>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                            [hidden]="false" [visiblePagesCount]="3" (change)="table.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
