<div class="modal-header pb-4">
	<div class="block-center-between">
		<h5 class="m-0">{{ "rm.title.rmHistory" | translate }} ({{ infoRm }})
		</h5>
	</div>
	<button type="button" class="close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body history-assignment">
	<app-loading *ngIf="isLoading"></app-loading>
	<div class="list__block">
		<div class="filter-top block-center-between mt-0">
			<div class="filter-top__left">
				<div>
					<input placeholder="{{ 'btnAction.search' | translate }}" type="text"
						class="form-control search-box" [(ngModel)]="textFilter" (keyup.enter)="filter()"
						maxlength="200" />
				</div>
				<button class="btn-icon btn-icon--small btn btn-search grey ml-2"
					title="{{ 'btnAction.search' | translate }}" (click)="filter()">
					<em class="las la-search f-16"></em>
				</button>
			</div>
			<div class="filter-top__right d-flex">
				<button class="btn btn-icon btn-icon--small btn-search" (click)="exportFile()">
					<em class="las la-file-excel f-16"></em>
				</button>
			</div>
		</div>
		<div class="table__view table-floor">
			<ngx-datatable ngxDataTable #table class="bootstrap fullscreen expandable" [groupRowsBy]="'blockCode'"
				[rows]="listData" columnMode="force" [headerHeight]="50" [footerHeight]="0" rowHeight="auto"
				[scrollbarH]="true" [messages]="messages">
				<ngx-datatable-group-header>
					<ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
						<div class="px-1 py-2 group-header-title">
							<button (click)="toggleExpandGroup(group)" class="datatable-tree-button">
								<em class="las" [class.datatable-icon-right]="!expanded"
									[class.datatable-icon-down]="expanded"></em>
							</button>
							<strong class="ml-2">{{ (group?.value[0]?.blockCode || '') + ' - ' +
								(group?.value[0]?.blockName || '')
								}}</strong>
						</div>
					</ng-template>
				</ngx-datatable-group-header>

				<ngx-datatable-column [sortable]="false" [draggable]="false" name="" [canAutoResize]="false"
					[resizeable]="false" [width]="45">
					<ng-template ngx-datatable-cell-template>
						<span>{{ '' }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="titleGroupName"
					name="{{ 'fields.titleGroupRM' | translate }}" [width]="150">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<span title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="levelRMName"
					name="{{ 'fields.levelRM' | translate }}" [width]="150">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<span title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isSyntheticKPI"
					name="{{ 'fields.syntheticKPI' | translate }}" [width]="110" [canAutoResize]="false">
					<ng-template ngx-datatable-header-template>
						<div class="checkbox-column">
							<span>{{ 'fields.syntheticKPI' | translate }}</span>
						</div>
					</ng-template>
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<div class="checkbox-column">
							<label class="checkbox">
								<input type="checkbox" [checked]="row.isSyntheticKPI" disabled="true" />
								<span class="ck"></span>
							</label>
						</div>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
					name="{{ 'fields.startDate' | translate }}" [width]="130" [canAutoResize]="false">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="endDate"
					name="{{ 'fields.endDate' | translate }}" [width]="130" [canAutoResize]="false">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdBy"
					name="{{ 'fields.createdBy' | translate }}" [width]="150" [canAutoResize]="false">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<span title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdDate"
					name="{{ 'fields.createdDate' | translate }}" [width]="100" [canAutoResize]="false"
					[resizeable]="false">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
</div>
<div class="modal-footer modal-footer--grey d-block">
	<div class="text-right">
		<button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
	</div>
</div>