.list__lead-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-dialog {
  max-height: calc(100% - 3.5rem);
  height: calc(80% - 3.5rem);
}

.modal-content {
  height: 100%;
  left: 20%;
  width: 62%;
}

@media screen and (max-width: 1600px) {
  .modal-content {
    height: 100%;
    left: 10%;
    width: 70%;
  }
}

@media screen and (max-width: 1450px) {
  .modal-content {
    height: 100%;
    left: 10%;
    width: 85%;
  }
}

.modal-body {
  flex-grow: 1;
  overflow: hidden;
  height: 500px !important;
}

.list__block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.step {
  width: 300px;
}

.modal-header {
  align-items: center;

  .location-name {
    color: #bbbbfd;
  }
}
