<app-loading *ngIf='isLoading'></app-loading>
<div>
  <div class='modal-header pb-4'>
    <div class='block-center-between'>
      <div class='row' style='margin-left: 0px;'>
        <i (click)='backLocation()' class='las la-arrow-left mr-2' style='font-size: 2rem'></i>
        <h5 class='m-0'>Địa chỉ:
          <span class='location-name'>
            {{chooseLocation.city.name}}{{chooseLocation?.district.name ? ' - ' + chooseLocation?.district.name : ''}}{{chooseLocation?.street.name ? ' - ' + chooseLocation?.street.name : ''}}
          </span>
        </h5>
      </div>
    </div>
    <div class='row' style='width: 400px'>
      <div class='step'>
        <p-steps [(activeIndex)]='activeIndex' [model]='items' [readonly]='true'></p-steps>
      </div>

      <button (click)='closeModal()' class='close' style='margin-left: 40px' type='button'>
        <span aria-hidden='true' style='font-size: 36px;'>&times;</span>
      </button>
    </div>


  </div>
  <div class='modal-body'>
    <div [formGroup]="form">
      <input
        (input)='searchLocation()'
        class='d-block'
        formControlName='search'
        pInputText
        placeholder='Tìm kiếm'
        type='text'
      />

    </div>
    <p-table [scrollable]='true' [value]='[{}]' [virtualScroll]='true' class='' scrollHeight='flex'>

      <ng-template let-product pTemplate='body'>
        <tr *ngFor='let item of filterList'>
          <td (click)='filerLocation($event, item)' (dblclick)='$event.preventDefault();'>{{item.value}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
