<div class="target-sale-config-update right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <h3 *ngIf="screen === 'DETAIL'" class="ml-4 mb-0 page--title">Chi tiết doanh số mục tiêu</h3>
      <h3 *ngIf="screen === 'UPDATE'" class="ml-4 mb-0 page--title">Cập nhật doanh số mục tiêu</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div style="flex-grow: 1" class="d-flex">
<!--            <div [ngClass]="listWeeksData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0">-->
            <div *ngIf="listMonthsData.length > 0" [ngClass]="listWeeksData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0">
              <div class="p-3 h-100 card flex-grow-1 mr-3">
                <div class="text-left">
                  <h6>CHỈ TIÊU THÁNG</h6>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap fullscreen"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [rowHeight]="generateRowHeight"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="listMonthsData"
                    [messages]="messages"
                    [virtualization]="false"
                  >

                    <ngx-datatable-column
                      [width]="40"
                      [sortable]="false"
                      [draggable]="false"
                      name="STT"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="product"
                      [width]="80"
                      [sortable]="false"
                      [draggable]="false"
                      name="Tên sản phẩm"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="rmLevelName"
                      [width]="100"
                      [sortable]="false"
                      [draggable]="false"
                      name="Cấp độ RM"
                    >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [width]="80"
                      [draggable]="false"
                      name="Tháng"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index">
                            <td class="table__row--fixsize">
                              <div class="col-right">Tháng {{i + 1}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Từ ngày - Đến ngày"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{item?.startDate}} - {{item?.endDate}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'DETAIL'"
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table class="w-75" aria-hidden="true">
                          <tbody class="text-right">
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{convertValue(item.value)}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'UPDATE'"
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <table class="w-100" aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index">
                            <td style="height: 35px!important;" class="">
                              <p-inputNumber
                                [inputStyle]="{'text-align': 'right'}"
                                [(ngModel)]="item.value"
                                [disabled]="row.targetSaleConfigDetail.length < 2"
                                (onBlur)="changeValue(i, rowIndex, true)"
                                (keyup.enter)="changeValue(i, rowIndex, true)"
                                class="d-block text-right"
                                [max]="row.value"
                                [min]="0"
                                locale="en"
                                maxlength='19'
                              >
                              </p-inputNumber>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'UPDATE'"
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline btn--light-blue"
                            title="{{ 'btnAction.edit' | translate }}"
                            (click)="update(row)"
                          >
                            <em class="las la-edit"></em>
                          </button>
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="delete(rowIndex,true)"
                            title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
<!--            <div [ngClass]="listMonthsData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0 ">-->
            <div *ngIf="listWeeksData.length > 0" [ngClass]="listMonthsData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0">
              <div class="p-3 h-100 card flex-grow-1">
                <div class="text-left">
                  <h6>CHỈ TIÊU TUẦN</h6>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap fullscreen"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [rowHeight]="generateRowHeight"
                    [scrollbarV]="true"
                    [scrollbarH]="true"

                    [rows]="listWeeksData"
                    [messages]="messages"
                    [virtualization]="false"
                  >

                    <ngx-datatable-column
                      [width]="40"
                      [sortable]="false"
                      [draggable]="false"
                      name="STT"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="product"
                      [width]="80"
                      [sortable]="false"
                      [draggable]="false"
                      name="Tên sản phẩm"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="rmLevelName"
                      [width]="100"
                      [sortable]="false"
                      [draggable]="false"
                      name="Cấp độ RM"
                    >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      [width]="80"
                      name="Tuần"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index ">
                            <td class="table__row--fixsize">
                              <div class="col-right">Tuần {{i + 1}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Từ ngày - Đến ngày"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{item?.startDate}} - {{item?.endDate}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'DETAIL'"
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table class="w-75" aria-hidden="true">
                          <tbody class="text-right">
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{convertValue(item.value)}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'UPDATE'"
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <table class="w-100" aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value;let i = index">
                            <td style="height: 35px!important;" class="">
                              <p-inputNumber
                                [inputStyle]="{'text-align': 'right'}"
                                (onBlur)="changeValue(i, rowIndex, false)"
                                (keyup.enter)="changeValue(i, rowIndex, false)"
                                [(ngModel)]="item.value"
                                [disabled]="row.targetSaleConfigDetail.length < 2"
                                class="d-block text-right"
                                [min]="0"
                                [max]="row.value"
                                locale="en"
                                maxlength='19'
                              >
                              </p-inputNumber>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      *ngIf="screen === 'UPDATE'"
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline btn--light-blue"
                            title="{{ 'btnAction.edit' | translate }}"
                            (click)="update(row)"
                          >
                            <em class="las la-edit"></em>
                          </button>
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="delete(rowIndex)"
                            title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="screen === 'UPDATE'" class="background-white mt-3 px-4 pb-3" style="border-radius: 12px">
            <div class="mt-3">
              <button
                class="btn btn-tab--blue btn-small"
                (click)="back()"
              >
                Hủy
              </button>
              <button
                (click)="saveAll()"
                class="btn btn--light-blue btn-small"
              >
                Cập nhật
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
