.target-sale-config-update {
  .content-body {
    background-color: #e6e6f3;
  }

  .filter-top {
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 1rem !important;
    margin-top: 0px;
  }
  .p-inputnumber {
    display: inline-flex;
    width: 100%;
  }
  .ngx-datatable {
    .datatable-body {
      .datatable-body-row {
        border-bottom: 3px solid #ececf2;
      }
    }
  }
}
.table__row--fixsize {
  height: 38px!important;
}
.datatable-row-wrapper {
  .datatable-row-right {
    .datatable-body-cell.sort-active {
      border-bottom: none;
    }
  }
}
