.news-create {
  .upload {
    width: 497px;
    height: 174px;
    background: #F5F7FB;
    border: 1px dashed #bbbbfd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c-img {
    max-width: 500px;
    max-height: 330px;
  }
  .news-img:hover .layout-config-close {
    opacity: 1;
  }
  .layout-config-close {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
    opacity: 0;

    em {
      color: #fff;
      line-height: inherit;
      padding-top: 6px;
      // font-size: 14px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  .link {
    background-color: #F7F7F7;
    height: 48px;
    margin-top: 1rem;
  }
  .btn-news {
    width: 80px;
  }
}
::ng-deep {
  .p-inputnumber {
    width: 100%;
  }
}
