<div class="right-view news-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="close()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
          translate }}
      </button>
      <h3 class="mb-0 page--title ml-4">{{screenType === 'CREATE' ? 'Thêm mới tin tức sự kiện' : screenType === 'UPDATE' ? 'Cập nhật tin tức sự kiện' : 'Chi tiết tin tức sự kiện'}}</h3>
    </div>
    <div class="content__top-right">
      <button
        *ngIf="screenType === 'DETAIL'"
        type="button"
        class="btn--light-blue btn-icon--small btn ml-2"
        title="{{ 'btnAction.edit' | translate }}"
        (click)="changeScreenType()"
      >
        <em class="las la-edit f-16"></em>
      </button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4 overflow-auto">
          <div class="row mt-3">
            <div class="col-md-12 form-group has-error">
              <div class="row px-4" [formGroup]="form">
                <label>Tiêu đề <span class="text-red">(*)</span></label>
                <input
                  formControlName="title"
                  class="form-control"
                  type="text"
                  placeholder="Tiêu đề"
                  maxlength="200"
                />
              </div>
            </div>
          </div>

          <div class="row mt-3 ml-2">
            <div [ngClass]="selectedImage ? 'd-none' : ''" class="upload block-center">
              <input
                #inputBanner
                class="upload__input"
                type="file"
                accept=".jpg, .jpeg, .png, .svg"
                (change)="changeBanner($event)"
                multiple
              />
              <em class="las la-cloud-upload-alt f-40"></em>
              <span class=""><u><b>Ấn vào đây để chọn file</b></u></span><br>
              <span style="margin: -11px; color: #737373;" class=""><i>Kích thước ảnh tối ưu: 1429x500</i></span>
            </div>
            <div *ngIf="selectedImage" class="news-img position-relative">
              <img (click)="previewBanner()" class="d-block c-img" [src]="selectedImage" alt="">
              <a *ngIf="screenType !== 'DETAIL'" tabindex="0" class="layout-config-close position-absolute" (click)="removeBanner()">
                <em  class="pi pi-times f-20"></em>
              </a>
              <div class="block-center-between">
                <div (click)="previewBanner()">
                  <span style="color: #737373;" class=""><i>{{form.controls.bannerImgName.value}}</i></span>
                </div>
                <div *ngIf="screenType !== 'DETAIL'" style="cursor: pointer;" (click)="inputBanner.click()">
<!--                <div *ngIf="screenType !== 'DETAIL'" style="cursor: pointer;" (click)="previewBanner()">-->
                  <span><b><u>Thay đổi</u></b></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3" [formGroup]="form">
            <div class="col-md-4 form-group has-error">
              <label>STT Hiển thị</label>
              <p-inputNumber
                maxlength="5"
                class="d-block p-inputnumber-parent"
                formControlName="orderNum"
                min="0"
                [useGrouping]="false"
              ></p-inputNumber>
<!--              <input-->
<!--                formControlName="orderNum"-->
<!--                class="form-control"-->
<!--                type="number"-->
<!--                min="0"-->
<!--                step="1"-->
<!--                maxlength="5"-->
<!--                oninput="this.value=this.value.replace(/[^0-9]/g,'');"-->
<!--              />-->
            </div>
            <div class="col-md-4 form-group has-error">
              <label class="m-0">Ngày bắt đầu hiệu lực <span class="text-red">(*)</span></label>
              <p-calendar
                formControlName="startDate"
                class="d-block custom-calendar"
                dateFormat="dd/mm/yy"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
                [maxDate]="form.controls.endDate.value"
              >
              </p-calendar>
            </div>
            <div class="col-md-4 form-group has-error">
              <label class="m-0">Ngày kết thúc hiệu lực <span class="text-red">(*)</span></label>
              <p-calendar
                [minDate]="(form.controls.startDate.value && form.controls.startDate.value > today) ? form.controls.startDate.value : today"
                formControlName="endDate"
                class="d-block custom-calendar"
                dateFormat="dd/mm/yy"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>
          </div>

          <div class="row mt-3" >
            <div class="col-md-4 form-group has-error" [formGroup]="form">
              <div class="mb-0 form-group">
                <label class="m-0">Loại tin tức</label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-6">
                    <p-radioButton value="1" formControlName="newsType"></p-radioButton>
                    <label class="m-0" class="ml-3">Bài viết</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-6">
                    <p-radioButton value="2" formControlName="newsType"></p-radioButton>
                    <label class="m-0" class="ml-3">Tính năng</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 form-group has-error">
              <div class="mb-0 form-group">
                <label class="m-0">Kênh hiệu lực<span class="text-red"> (*)</span></label>
                <div>
                  <p-multiSelect [disabled]="screenType === 'DETAIL'" [options]="listChannel" optionLabel="name" optionValue="code"
                                 [(ngModel)]="selectedChannel" [filter]="false"></p-multiSelect>
                </div>

              </div>
            </div>
          </div>

          <div *ngIf="form.controls.newsType.value == '2'" class="row mt-3" [formGroup]="form">
            <div class="col-md-4 form-group has-error">
              <label>Tên tính năng</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                class="d-block"
                [options]="newsFeatureConfigList"
                formControlName="featureCode"
                optionLabel="name"
                optionValue="code"
                [showClear]="false">
              </p-dropdown>
            </div>
            <div class="col-md-4 form-group has-error" *ngIf="form.controls.featureCode.value === 'KHAC'">
              <label class="m-0">Liên kết <span class="text-red">(*)</span></label>
              <input
                class="form-control"
                type="text"
                maxlength="200"
                formControlName="links"
              />
            </div>
          </div>
          <div *ngIf="form.controls.newsType.value == '1'" class="row mt-3" [formGroup]="form">
            <div class="col-md-12 form-group has-error">
              <label><b>Nội dung bài viết </b><span class="text-red">(*)</span></label>
              <editor-primeng
                class="p-0 col-md-12 mt-1"
                [(model)]="content"
                (modelChange)="onContentChange($event)"
                [disabled]="screenType === 'DETAIL'"
              >
              </editor-primeng>
            </div>
          </div>

          <div class="row" *ngIf="form.controls.newsType.value == '1'">
            <div class="mb-0 col-md-12 form-group has-error">
              <label>Tệp đính kèm (Không quá 10Mb)</label>
            </div>
            <div *ngIf="screenType !== 'DETAIL'">
              <button class="btn btn-small btn--light-blue ml-4" (click)="inputFile.click()">
                <em class="las la-file-invoice f-16"></em> Chọn File
              </button>
              <div class="d-none">
                <input
                  #inputFile
                  class="upload__input"
                  type="file"
                  accept=".jpg, .jpeg, .png, .xlsx, .csv, .doc, .docx, .pdf, .svg"
                  (change)="upload($event)"
                />
              </div>
            </div>
            <div class="col-md-12 form-group has-error">
              <div class="block-center-between pointer link" *ngFor="let id of fileIdList">
                <div class="center-inline " style="width: calc(100% - 15px);" (click)="download(id)">
                                    <span class="ml-3 hyperlink">{{fileInfo[id].fileName}}
                                    </span>
                  <span *ngIf="fileInfo[id].size">({{fileInfo[id].size}})</span>
                </div>

                <i *ngIf="screenType !== 'DETAIL'" class="mr-3 pi pi-times" style="color: red" (click)="removeFile(id)"></i>
              </div>
            </div>
          </div>
          <div *ngIf="screenType !== 'DETAIL'" class="text-center btn-action mt-3 mb-4">
            <button class="btn btn-tab--blue btn-small btn-news"
                    (click)="close()">{{ 'btnAction.cancel' | translate }}</button>
            <button
              [disabled]="checkDisableSaveBtn()"
              class="btn btn--light-blue btn-small btn-news"
              (click)="saveAll()"
            >
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
