<div class="block-loading">
    <div class="backdrop-loading--content"></div>
<!--    <img src="/assets/images/loading_balls.gif" class="rotate"/>-->
    <div class="shapeshifter play" style="background-image: url(/assets/images/loading_balls.gif)"></div>
</div>
