.kpi-assignment-receive {
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
  }

  .padding-right-0 {
    padding-right: 0rem;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }

  .row-moment {
    display: flex;
    flex-direction: row;
  }

  .w-130 {
    width: 130px !important;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-130-data {
    width: 130px !important;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-right {
    justify-content: flex-end;
    display: flex;
    padding-right: 10px;
  }
}
