<div class="right-view kpi-assignment-receive">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'kpi.title.receiveKpiAssignment' | translate }}</h3>
		</div>
		<div class="content__top-right"></div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 pt-4" [formGroup]="formSearch">
						<div class="row">

							<div class="col-md-4 form-group">
								<label>{{ 'kpi.fields.block' | translate }}</label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="blockName"
									optionValue="blockCode" (onChange)='onChangeBlockCode()'></p-dropdown>
							</div>

							<div class="col-md-4 form-group">
								<label>{{ 'fields.titleGroupRM' | translate }}</label>
								<input type="text" class="d-block" [value]="titleGroupName" pInputText [disabled]='true' />
							</div>
							
							<div class="col-md-4 form-group">
								<label>{{ 'fields.levelRM' | translate }}</label>
								<input type="text" class="d-block" [value]="levelRMName" pInputText [disabled]='true' />
							</div>

							<div class="col-md-4 form-group">
								<label>{{ 'kpi.fields.assignment_month' | translate }} </label>
								<div class="row">
									<div class="col-md-6 form-group">
										<p-dropdown [options]="listMonth" placeholder=" " class="d-block"
											formControlName="month" appendTo="body" autoZIndex="false"
											baseZIndex="10000" optionLabel="name" optionValue="code"
											(onChange)=onSearchKpiAssign()>
										</p-dropdown>
									</div>
									<div class="col-md-6 form-group">
										<p-dropdown [options]="listYear" placeholder=" " class="d-block"
											formControlName="year" appendTo="body" autoZIndex="false" baseZIndex="10000"
											optionLabel="code" optionValue="code" (onChange)=onSearchKpiAssign()>
										</p-dropdown>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="filter-top px-4">
						<span class="p-error note">{{ 'kpi.fields.note' | translate }}</span>
					</div>

					<div>
						<ngx-datatable ngxDataTable #table class="fullscreen bootstrap-non-fixed-height"
							[rows]="listKpiItemMapping" [formGroup]="formCreate" [columnMode]="'force'"
							[headerHeight]="66" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true"
							[virtualization]="false" [messages]="messages" [treeFromRelation]="'parentId'"
							[treeToRelation]="'idGroup'" (treeAction)="onTreeAction($event)">

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
								name="{{ 'kpi.fields.index' | translate }}" [isTreeColumn]="true" [treeLevelIndent]="30"
								[width]='280'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span class="ml-2">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="frequency"
								name="{{ 'kpi.fields.frequency' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="unitName"
								name="{{ 'kpi.fields.unit' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="rate"
								name="{{ 'kpi.fields.rate_2' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column *ngFor="let item of listColumnValue; let i = index" [sortable]="false"
								[draggable]="false" prop="mappingTargets" [width]='300'>
								<ng-template let-column="column" ngx-datatable-header-template>
									<table aria-hidden="true" class="table-border-first">
										<thead>
											<tr>
												<th scope="col" [attr.colspan]="5" class="colspan-border text-center">
													<span>{{getColName(item)}}</span>
												</th>
											</tr>
											<tr>
												<th scope="col" class="border-col w-150">{{'kpi.fields.standard_plan' |
													translate}}</th>
												<th scope="col" class="border-col w-130">{{'kpi.fields.assignment' |
													translate}}</th>
											</tr>
										</thead>
									</table>
								</ng-template>
								<ng-template let-value="value" let-rowIndex='rowIndex' let-row="row"
									ngx-datatable-cell-template>
									<table aria-hidden="true">
										<tbody>
											<tr>
												<td class="w-150-data" *ngIf='row.kpiItemRmLevelId'>
													<div class="col-right">{{
														value[i]?.standardValue
														}}
													</div>
												</td>
												<td class="w-130-data">
													<div *ngIf='codeSelected === item.code && row.kpiItemRmLevelId && isExist(value[i]?.standardValue)'
														[formGroupName]="rowIndex">
														<input placeholder="" type="text" class="d-block"
															formControlName="value" pInputText />
														<small class="p-error"
															*ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.cusRequired && isPressSave">{{
															'validationMessage.required' |
															translate }}</small>
														<small class="p-error"
															*ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.value">{{
															'validationMessage.value_assign' |
															translate }}</small>
													</div>
													<div class="col-right">
														<span *ngIf='codeSelected !== item.code && row.kpiItemRmLevelId'
															title="{{ value }}">{{
															value[i]?.assignValue
															}}</span>
													</div>
												</td>

											</tr>
										</tbody>
									</table>
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>