<!-- <div class="campaign-target-sme" [formGroup]="form">
    <div class="d-flex mt-5 pick-by" *ngIf="false">
        <div class="p-field-radiobutton m-r-45">
            <p-radioButton formControlName="pickBy" [value]="TARGET_PICK_BY.SINGLE">
            </p-radioButton>
            <label class="ml-2">{{ 'Đơn lẻ' | translate }}</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton formControlName="pickBy" [value]="TARGET_PICK_BY.MULTI">
            </p-radioButton>
            <label class="ml-2">{{ 'Theo lô' | translate }}</label>
        </div>
    </div>

    <div [ngSwitch]="form.controls.pickBy.value">
        <div *ngSwitchCase="TARGET_PICK_BY.SINGLE" class="form-single">

        </div>
        <div *ngSwitchCase="TARGET_PICK_BY.MULTI" class="form-multi row col-md-12 mt-4">
            <div class="col-md-3 d-column">
                <label>Tải lên file đã nhập thông tin</label>
                <button pButton type="button" class="p-button-outlined upload">
                    <em class="link-icon i-16 mini-icon mr-2"></em>
                    <span>Tải lên file Excel</span>
                </button>
            </div>
            <div class="col-md-auto d-column">
                <label>Tải xuống file mẫu</label>
                <div class="download">
                    <em class="link-icon i-16 mini-icon mr-2" style="margin: 0px"></em>
                    <span>Tải file</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="campaign-target-sme">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content" style="height: 100%;margin-top: 0px;">
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="row pt-4" style="margin-left: 0px;width:100%">
                        <span>Chọn quy mô: </span>
                        <div class="p-field-checkbox ml-4 mr-4">
                            <p-checkbox [ngModel]="scope" value="branch" class="mr-2"></p-checkbox>
                            <span>Cấp chi nhánh</span>
                        </div>
                        <div class="p-field-checkbox ml-4">
                            <p-checkbox [ngModel]="scope" value="rm" class="mr-2"></p-checkbox>
                            <span>Cấp RM</span>
                        </div>
                    </div>
                    <div class="fluid-container px-4 pt-4">
                        <div class="row py-1"></div>
                    </div>

                    <div class="filter-top block-center-between">
                        <button class="btn btn--light-blue btn-small" (click)="createFromFile()">
                            {{'rm.fields.createRmFile' | translate}}
                        </button>
                    </div>

                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages"
                            style="height:100%">

                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="35" [canAutoResize]="false" [draggable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                                name="{{ 'fields.customerCode' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="typeError"
                                name="{{ 'fields.typeError' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
