<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'customer360.menu.assignmentForRm' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn--light-blue btn-small" (click)="import()" *ngIf="objFunction?.import">
        <em class="las la-file-invoice f-16"></em>Phân giao từ file
      </button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4">
          <div class="row form-create" [formGroup]="form">
            <div class="col-md-4 form-group has-error">
              <label class="m-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listDivision"
                class="d-block"
                [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                formControlName="divisionCode"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                optionLabel="name"
                optionValue="code"
              ></p-dropdown>
              <div
                *ngIf="
                  form.get('divisionCode').errors &&
                  form.get('divisionCode').errors.cusRequired &&
                  form.get('divisionCode').touched
                "
                class="invalid-tooltip"
              >
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-4 form-group has-error">
              <label>{{ 'fields.selectRM' | translate }} <span class="text-red">(*)</span></label>
              <div class="form-group__icon">
                <input
                  type="text"
                  class="form-control"
                  formControlName="rm"
                  placeholder="{{ 'choose' | translate }}"
                  readonly
                />
                <em class="las la-search pointer" (click)="selectRm()"></em>
              </div>
              <div
                *ngIf="form.get('rm').errors && form.get('rm').errors.cusRequired && form.get('rm').touched"
                class="invalid-tooltip"
              >
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-4 form-group has-error">
              <button class="btn btn-light btn-small btn-select" (click)="selectCustomers()">
                <em class="las la-user-plus f-16"></em> {{ 'fields.selectCustomer' | translate }}
                <span class="text-red">(*)</span>
              </button>
            </div>
            <div class="col-md-4 form-group has-error">
              <label>{{ 'fields.note' | translate }}</label>
              <textarea
                class="form-control"
                placeholder="{{ 'placeholder' | translate }}"
                [maxlength]="500"
                style="resize: none"
                type="text"
                formControlName="note"
              ></textarea>
            </div>
          </div>
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="textSearch"
                  (keyup.enter)="search(true)"
                  maxlength="200"
                />
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="search(true)"
              >
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button class="btn btn-small btn-light text-red" (click)="removeCustomers()">
                <em class="las la-times f-16"></em> {{ 'btnAction.unChecked' | translate }}
              </button>
              <button class="btn btn-small btn-light ml-2" (click)="clearData(true)">
                {{ 'btnAction.ignore' | translate }}
              </button>
              <button *ngIf="objFunction?.rmGrant" class="btn btn-small btn--light-blue ml-2" (click)="confirmDialog()">
                {{ 'btnAction.record' | translate }}
              </button>
              <button
                class="btn btn-icon btn-icon--small btn-search ml-2"
                title="{{ 'btnAction.export' | translate }}"
                (click)="exportFile()"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listCustomers"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [width]="35"
                [frozenLeft]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="checkAll"
                      (click)="onCheckboxAllFn($event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [checked]="row.isChecked"
                      (click)="onCheckboxFn(row, $event.target.checked); $event.stopPropagation()"
                    />
                    <span class="ck"></span>
                  </label>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="customerCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="customerName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.customerName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="phone"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.phone' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="email"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.email' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="branch"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branch' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" class="btn-outline" (click)="removeCustomer(row); $event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
