.currency {
    font-weight: 700;
    font-size: 16px;
    color: #1c1d21;
}

.opp-status {
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;
  width: 120px;
  height: 26px;
  background: #5DCE8F;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  &.warm {
    background: #EB2D4B;
    color: #FFFFFF;
  }
}

.active-opp {
  background-color: #eff2fe!important;
}

.opp-detail {
  cursor: pointer;
}
