<div (click)="edit(data?.saleOppId)" [ngClass]="id === data.code ? 'active-opp' : 'opp-detail'" class="panel-heading box-form" role="tab" [id]="'heading' + data?.saleOppId">
  <div class="p-2 flex-bw">
    <div class="left text-el" title="{{ data?.code }} - {{ data?.subProductName }}">
      <span class="text-special">{{ data?.code }} - </span>
      <span class="text-special">{{ data?.subProductName }}</span>
    </div>
    <div class="flex-bw right text-right">
      <span class="pl-3 currency">{{ numberCurency | number: '1.0-2' }} {{ textCurency }} {{ data?.currency }}</span>
    </div>
  </div>
  <div>
    <p class="opp-status" [ngClass]="data?.statusProductsDisplay === 'Không thành công' ? 'warm' : ''">{{data?.statusProductsDisplay}}</p>
  </div>

</div>
