<div class="toi-confirm-modal-content">
    <h5>
        Tính TOI / DTTTRR cam kết
        <button type="button" class="close crm-btn-close" (click)="closeModal()"><span
                aria-hidden="true">×</span></button>
    </h5>

    <hr />
    <div [ngStyle]="{'pointer-events': ( !action || action == 'approved') ? 'none': 'auto'}" class="mb-3" [formGroup]="toiForm">
        <div class="row align-items-center m-1 pt-3 pb-3 toi-header">
            <div class="col-3">
                <span class="">{{ 'reductionProposal.labels.toiPopup.duNo' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.soDuVnd' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.nim' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.hieuQua' | translate }}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.duNoNganHanBq' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="duNoNganHanBq" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.duNoNimPlaceholder' | translate }}"
                    formControlName="duNoNganHanBqUnit" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.duNoNganHanBqHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.duNoTdhBq' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="duNoTdhBq" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.duNoNimPlaceholder' | translate }}"
                    formControlName="duNoTdhBqUnit" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.duNoTdhBqHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-3 pb-3 toi-header">
            <div class="col-3">
                <span class="">{{ 'reductionProposal.labels.toiPopup.huyDongVon' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.soDuVnd' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.nim' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.hieuQua' | translate }}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.coKyHanBq' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="coKyHanBq" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.huyDongNimPlaceholder' | translate }}"
                    formControlName="coKyHanBqUnit" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.coKyHanBqHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.khongKyHanBq' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="khongKyHanBq" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.huyDongNimPlaceholder' | translate }}"
                    formControlName="khongKyHanBqUnit" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.khongKyHanBqHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-3 pb-3 toi-header">
            <div class="col-3">
                <span class="">{{ 'reductionProposal.labels.toiPopup.thuDv' | translate }}</span>
            </div>
            <div class="col-3">
                <p class="m-0">{{ 'reductionProposal.labels.toiPopup.soDuThuDv' | translate }}</p>
                <p class="m-0">{{ 'reductionProposal.labels.toiPopup.soDuThuDvQuyDoi' | translate }}</p>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.mucPhi' | translate }}</span>
            </div>
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.hieuQua' | translate }}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.thuBl' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="thuBl" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="26" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.thuBlNimPlaceholder' | translate }}"
                    formControlName="thuBlUnit" useGrouping="false" suffix="  %/năm"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.thuBlHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.thuTTQT' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="thuTTQT" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="26" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.thuTTQTNimPlaceholder' | translate }}"
                    formControlName="thuTTQTUnit" useGrouping="false" suffix="  %/năm"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.thuTTQTHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.thuFx' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="thuFx" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" [minFractionDigits]="2" maxFractionDigits="2"
                    placeholder="{{ 'reductionProposal.labels.toiPopup.thuFxNimPlaceholder' | translate }}"
                    formControlName="thuFxUnit" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.thuFxHq) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.thuBanca' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="thuBanca" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>100%</span>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.thuBanca) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-1 pb-1 ">
            <div class="col-3">
                <span>{{ 'reductionProposal.labels.toiPopup.thuKhac' | translate }}</span>
            </div>
            <div class="col-3">
                <p-inputNumber maxlength="20" mode="decimal" [min]="0" placeholder="0" [minFractionDigits]="0"
                    maxFractionDigits="2" formControlName="thuKhac" useGrouping="false"></p-inputNumber>
            </div>
            <div class="col-3">
                <span>100%</span>
            </div>
            <div class="col-3">
                <span>{{formatCurrency(calculated.thuKhac) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-3 pb-3+">
            <div class="col-3">
                <span class="font-weight-700">{{ 'reductionProposal.labels.toiPopup.dtttrrCalculated' | translate
                    }}</span>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
                <span>{{formatCurrency(this.calculated.dtttrr) || ''}}</span>
            </div>
        </div>
        <div class="row align-items-center m-1 pt-3 pb-3 ">
            <div class="col-3">
                <span class="font-weight-700">{{ 'reductionProposal.labels.toiPopup.toiCalculated' | translate }}</span>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
                <span *ngIf="this.calculated.toi > 0">{{formatCurrency(this.calculated.toi) || ''}} %</span>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
            {{ 'btnAction.close' | translate }}
        </button>
        <button *ngIf="action && action != 'approved'" class="btn btn--light-blue btn-small"  (click)="choose(true)">
            {{ 'reductionProposal.tabs.confirm' | translate }}
        </button>
    </div>
</div>
