.toi-confirm-modal-content{
    width: 100%;

    .row{
        border-bottom: 1px solid #EEEEEE;
    }
}

.crm-btn-secondary{
    background-color: #EFF2FE;
    color: #bbbbfd;
}

.crm-btn-secondary:hover{
    color: #fff;
    background-color: #bbbbfd;
    border-color: #bbbbfd;
}

.cdk-overlay-pane{
    min-width: 60vw;
}

.toi-header{
    background: #EFF2FE;
    font-weight: 700;
}

.font-weight-700 {
    font-weight: 700;
}
