<div class="setup-existed-content">
    <h5>
        {{ 'title.notification' | translate }}
        <button type="button" class="close crm-btn-close" (click)="choose(false)"><span aria-hidden="true">×</span></button>
    </h5>
    
    <hr />
    <p class="mt-5 mb-5">Khách hàng đã có bản ghi cài đặt lãi suất, để điều chỉnh vui lòng sửa</p>
    <div class="row">
        <div class="col-6 pr-2">
            <button class="col-12 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
                {{ 'btnAction.back' | translate }}
            </button>
        </div>
        <div class="col-6 pl-2">
            <button class="col-12 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(true)">
                {{ 'btnAction.edit' | translate }}
            </button>
        </div>
    </div>
</div>