<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.branchCategory' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                  [(ngModel)]="textSearch" (keyup.enter)="search()" />
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}" (click)="search()">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction && objFunction.export" class="btn btn-icon btn-icon--small btn-search"
                (click)="exportFile()">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view branch__tree">
            <ngx-datatable ngxDataTable class="bootstrap fullscreen" [columnMode]="ColumnMode.force" [headerHeight]="50"
              [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
              [rows]="rows" [treeFromRelation]="'parentCode'" [treeToRelation]="'code'" (activate)="onActive($event)"
              (treeAction)="onTreeAction($event)">
              <ngx-datatable-column prop="code" name="{{ 'fields.branchCode' | translate }}" [sortable]="false"
                [isTreeColumn]="true" [width]="200" [treeLevelIndent]="30">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="ml-2" [class.font-weight-bold]="!row.parentCode">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="name" [sortable]="false" name="{{ 'fields.branchName' | translate }}"
                [width]="200">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span [class.font-weight-bold]="!row.parentCode">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="objFunction && objFunction.update" type="button" class="btn-outline ml-2"
                      (click)="openDetail(row);$event.stopPropagation()">
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>