.row__item-name {
  flex-basis: 50%;
  max-width: 50%;
}
.row__item-code {
  flex-basis: 50%;
  max-width: 50%;
}
.filter-list {
  padding: 12px 35px;
}
.row__tree-lv {
  &1 {
    padding-left: 0;
  }
  &2 {
    padding-left: 36px;
  }
  &3 {
    padding-left: 72px;
  }
  &4 {
    padding-left: 108px;
  }
}
