<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'system.menu.permissionCategory' | translate }}</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list row">
				<div class="table-permission col-md-12 px-0">
					<div class="filter-top block-center-between px-4">
						<div class="filter-top__left">
							<div>
								<input placeholder="{{ 'btnAction.search' | translate }}" type="text"
									class="form-control search-box" [(ngModel)]="textSearch" (keyup.enter)="filter()" />
							</div>
							<button class="btn-icon btn-icon--small btn btn-search grey ml-2"
								title="{{ 'btnAction.search' | translate }}" (click)="filter()">
								<em class="las la-search f-16"></em>
							</button>
							<div class="ml-5 mr-3">{{ 'fields.app' | translate }}</div>
							<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
								[options]="listApp" placeholder=" " class="d-block"
								emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
								[(ngModel)]="idApp" appendTo="body" autoZIndex="false" baseZIndex="10000"
								optionValue="id" optionLabel="name" (onChange)="changeApp($event)">
							</p-dropdown>
						</div>
						<div class="filter-top__right d-flex">
							<button *ngIf="objFunction && objFunction.create"
								title="{{ 'btnAction.create' | translate }}"
								class="btn btn-icon btn-icon--small btn-search" (click)="create()">
								<em class="las la-plus-circle f-16"></em>
							</button>
							<button *ngIf="objFunction && objFunction.export"
								title="{{ 'btnAction.export' | translate }}"
								class="btn btn-icon btn-icon--small ml-2 btn-search" (click)="export()">
								<em class="las la-file-excel f-16"></em>
							</button>
						</div>
					</div>
					<div class="table__view permission__tree">
						<ngx-datatable ngxDataTable class="bootstrap fullscreen" [columnMode]="ColumnMode.force"
							[headerHeight]="50" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true"
							[scrollbarH]="true" [rows]="listData" [treeFromRelation]="'parentId'"
							[treeToRelation]="'id'" (treeAction)="onTreeAction($event)" (activate)="onActive($event)"
							[selected]="selected" [selectionType]="SelectionType.single">
							<ngx-datatable-column prop="name" name="{{ 'fields.permissionName' | translate }}"
								[draggable]="false" [sortable]="false" [isTreeColumn]="true" [width]="300"
								[treeLevelIndent]="30">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span class="ml-2">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column prop="description" [sortable]="false"
								name="{{ 'fields.description' | translate }}">
							</ngx-datatable-column>
							<ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
								[frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
								[resizeable]="false">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<div class="block-center" *ngIf="row.parentId">
										<button *ngIf="objFunction && objFunction.delete" type="button"
											title="{{ 'btnAction.delete' | translate }}" class="btn-outline"
											(click)="delete(row);$event.stopPropagation()">
											<em class="las la-trash-alt"></em>
										</button>
										<button *ngIf="objFunction && objFunction.update" type="button"
											title="{{ 'btnAction.edit' | translate }}" class="btn-outline ml-2"
											(click)="edit(row);$event.stopPropagation()">
											<em class="las la-edit"></em>
										</button>
									</div>
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>