@import 'variable';

.category-declare {
  .action {
    text-align: right;
    border-bottom: 1px solid $gray-300;
  }

  .grey-custom {
    background: #eff2fe;
  }
  .flex-1 {
    flex: 1;
    overflow: hidden;
  }
  .product-list {
    height: 101%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-300;
  }
  .table__title {
    height: 54px;
    border-bottom: 1px solid $gray-300;
    font-weight: $font-weight-bold;
    font-size: 18px;
    align-items: center;
    display: flex;
  }
  .form-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .form-content {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
