<div class="right-view category-declare">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ objFunction?.rsName }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row">
            <div class="col-md-4 form-group" [formGroup]="form">
              <label class="mb-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="division"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
            <div class="col-md-4 form-group" [formGroup]="form">
              <label class="mb-0">{{ 'fields.groupInfo' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="group"
                [options]="listGroup"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="pb-3 mb-3 action">
            <button
              class="btn grey-custom btn-icon--small"
              [disabled]="selected.length === 0 || screen !== screenType.detail"
              (click)="deleteProduct()"
              title="{{ 'btnAction.delete' | translate }}"
            >
              <em class="las la-trash-alt f-16"></em>
            </button>
            <button
              class="btn grey-custom btn-icon--small ml-3"
              [disabled]="selected.length === 0 || screen !== screenType.detail"
              (click)="update()"
              title="{{ 'btnAction.edit' | translate }}"
            >
              <em class="las la-edit f-16"></em>
            </button>
            <button
              class="btn btn--light-blue btn-icon--small ml-3"
              [disabled]="checkBtnCreate()"
              (click)="create()"
              title="{{ 'btnAction.create' | translate }}"
            >
              <em class="las la-plus-circle f-16"></em>
            </button>
          </div>
          <div class="row flex-1">
            <div class="col-md-4 product-list">
              <div class="table__title">
                <label>{{ fields.name | translate }} {{ titleGroup }}</label>
              </div>

              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #table
                  class="bootstrap fullscreen"
                  [rows]="listProduct"
                  [columnMode]="'force'"
                  [headerHeight]="0"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="false"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [selectionType]="'single'"
                  [messages]="messages"
                  (activate)="onActive($event)"
                  [selected]="selected"
                >
                  <ngx-datatable-column
                    prop="saleKitCategoryName"
                    name="{{ 'fields.productName' | translate }}"
                    [sortable]="false"
                    [resizeable]="false"
                  >
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        [visiblePagesCount]="3"
                        (change)="table.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
            <div class="col-md-8 form-detail">
              <div class="form-content">
                <div class="row">
                  <div class="col-md-6 form-group has-error" [formGroup]="formItem">
                    <label class="mb-0">{{ fields.name | translate }} {{ titleGroup }}</label>
                    <input
                      pInputText
                      placeholder=""
                      [maxlength]="200"
                      type="text"
                      class="d-block"
                      formControlName="productName"
                    />
                    <div
                      *ngIf="formItem.get('productName').errors && formItem.get('productName').touched"
                      class="invalid-tooltip"
                    >
                      <div *ngIf="formItem.get('productName').errors.cusRequired">
                        {{ 'validationMessage.required' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.orderNumber' | translate }}</label>
                    <p-inputNumber
                      class="form-control1"
                      class="d-block"
                      styleClass="w-100"
                      formControlName="order"
                      [maxlength]="5"
                    >
                    </p-inputNumber>
                    <div *ngIf="formItem.get('order').errors && formItem.get('order').touched" class="invalid-tooltip">
                      <div *ngIf="formItem.get('order').errors.min">
                        {{ 'validationMessage.min' | translate }} {{ formItem.get('order').errors.min.min }}
                      </div>
                      <div *ngIf="formItem.get('order').errors.onlyNumber && !formItem.get('order').errors.min">
                        {{ 'validationMessage.onlyNumber' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-group" [formGroup]="formItem">
                    <label>{{ 'fields.description' | translate }}</label>
                    <textarea
                      class="d-block"
                      [maxlength]="500"
                      formControlName="description"
                      rows="5"
                      cols="30"
                      pInputTextarea
                    ></textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="screen !== screenType.detail" class="text-left btn-action mt-3">
                <button class="btn btn--red btn-small" (click)="cancel()">{{ 'btnAction.cancel' | translate }}</button>
                <button class="btn btn--light-blue ml-3 btn-small" (click)="saveProduct()">
                  {{ 'btnAction.save' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
