<div class="right-view selling-opp-indiv-detail-v2">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="mr-5 btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
<!--      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon&#45;&#45;small grey btn btn-icon mr-4">-->
<!--        <em class="las la-bars"></em>-->
<!--      </button>-->
      <h3 class="mb-0 page--title">
        {{ 'sellingOppIndivDetail.label.mainTitle' | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <button *ngIf="checkScopes(['CREATE'])"
              class="btn-icon btn-icon--small btn btn-search grey"
              title="{{ 'btnAction.create' | translate }}"
              (click)="createOpp()"
      >
        <em class="las la-plus-circle f-16"></em>
      </button>
      <button
        type="button"
        title="{{ 'saleSuggest.tooltip.historyAction' | translate }}"
        class="btn--light-blue btn-icon--small btn ml-2"
        (click)="historyAction()"
      >

        <em class="las la-history f-16"></em>
      </button>
      <button
        class="btn--light-blue btn-icon--small btn ml-2"
        title="{{ 'title.sendMail' | translate }}"
        (click)="mailTo()"
      >
        <em class="las la-envelope f-16"></em>
      </button>
      <button
        class="btn--light-blue btn-icon--small btn ml-2"
        title="{{ 'title.createActivity' | translate }}"
        (click)="createActivity()"
      >
        <em class="icon-create-activity i-16"></em>
      </button>
      <button
        class="btn--light-blue btn-icon--small btn ml-2"
        title="{{ 'title.createTask' | translate }}"
        (click)="createTaskTodo()"
      >
        <em class="icon-create-todo i-16"></em>
      </button>
    </div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="pt-3 row top-info">
                    <div class="col-md-6">
                      <h5 class="m-0">
                        <span class="text-special">{{ detailInfo?.customerCode }}</span> -
                        {{ detailInfo?.customerName }}
                      </h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show">
                  <div class="row">
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{
                        'sellingOppIndivDetail.label.registrationNumber' | translate
                      }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.identifiedNumber }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{
                        'sellingOppIndivDetail.label.registrationNumberDate' | translate
                      }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.identifiedIssueDate }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.phone' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span>{{ detailInfo?.phone }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.address' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.address }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.segment' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.priorityName }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">Nghề nghiệp</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.job }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">Chi nhánh khách hàng</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.customerBranchCode }} - {{ detailInfo?.customerBranchName }}</span>
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.ubManager' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap">{{ detailInfo?.rmManagement }}</span>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                          <button class="btn btn--light-blue btn-small" (click)="show()"
                                  *ngIf="!is_show">
                            <em class="las la-angle-down f-16"></em>
                          </button>
                          <button class="btn btn--light-blue btn-small" (click)="close()"
                                  *ngIf="is_show">
                            <em class="las la-angle-up f-16"></em>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div [ngClass]="is_show ? 'scroll' : 'scroll-collapse'" class="p-0 col-5"  *ngIf="accordianData?.length > 0">
              <div class="">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="wrap-detail-item" *ngFor="let data of accordianData">
                      <app-selling-opp-indiv-detail-item-v2
                        [data]="data"
                        [id] = "dataDetailBottomRight.code"
                        class="panel panel-default"
                        (onClickEdit)="handleDetailLeftClick($event)"
                      ></app-selling-opp-indiv-detail-item-v2>
                  </div>
                </div>
              </div>
            </div>

            <div class="pr-0 pl-3 col-7"  *ngIf="accordianData?.length > 0">
              <div class="h-100 col-12 detail-block mb-3">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5 pt-3 row top-info">
                      <div class="col-md-11">
                        <h5 class="m-0">
                          <div class="p-2 flex-bw" style="justify-content: unset!important;">
                            <div class="pr-3 left text-el" title="{{ dataDetailBottomRight?.code }} - {{ dataDetailBottomRight?.subProductName }}">
                              <span class="text-special">{{ dataDetailBottomRight?.code }} - </span>
                              <span class="text-special">{{ dataDetailBottomRight?.subProductName }}</span>
                            </div>
                            <div class="right">
                              <span style="border-left: 1px solid #DBDBDB;"></span>
                              <span class="pl-3 currency">{{ numberCurency | number: '1.0-2' }} {{ textCurency }} {{ dataDetailBottomRight?.currency }}</span>
                            </div>
                          </div>
<!--                          <div class="left text-el">-->
<!--                            <span class="text-special pr-3">{{ dataDetailBottomRight?.code }} - {{ dataDetailBottomRight?.subProductName }}</span>-->
<!--                          </div>-->
<!--                          <div>-->
<!--                            <span style="border-left: 1px solid #DBDBDB;"></span>-->
<!--                            <span class="pl-3 currency">{{ numberCurency | number: '1.0-2' }} {{ textCurency }} {{ dataDetailBottomRight?.currency }}</span>-->
<!--                          </div>-->
                        </h5>
                      </div>
                      <div class="col-md-1 text-right">
                        <button
                          style="background: #F0F0F0;"
                          *ngIf="checkScopes(['UPDATE']) && dataDetailBottomRight.updator"
                          class="btn-outline btn-edit"
                          title="{{ 'sellingOppIndivDetail.tab1.tooltip.edit' | translate }}"
                          (click)="edit()"
                        >
                          <em class="las la-edit"></em>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 collapse show">
                    <div class="row">
                      <div class="mb-3 col-md-12">
                        <h6>Chi tiết</h6>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Mã sản phẩm</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.productCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Người tạo cơ hội</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.createdByName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Người xử lý</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span>{{ dataDetailBottomRight?.memberName }}</span>
                      </div>
                      <div class="col-md-3" >
                        <label class="detail-key">Người giới thiệu</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.guideName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Tên chi nhánh</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.branchName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Mã chi nhánh</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.branchCode }}</span>
                      </div>
                      <!--Thom bo sung -->
                      <div class="col-md-3">
                        <label class="detail-key">{{ 'sellingOppIndiv.label.source' | translate }}</label>
                      </div>
                      <div class="col-md-3 form-group has-error">
                        <span class="text-wrap">{{ dataDetailBottomRight?.sourceName }}</span>
                      </div>


                        <div class="col-md-3" *ngIf="dataDetailBottomRight?.smbName">
                          <label class="detail-key">{{ 'sellingOppIndiv.label.smartBankName' | translate }}</label>
                        </div>
                        <div class="col-md-3 form-group has-error" *ngIf="dataDetailBottomRight?.smbName">
                          <span class="text-wrap">{{ dataDetailBottomRight?.smbName }}</span>
                        </div>

                        <div class="col-md-3" *ngIf="dataDetailBottomRight?.campaignName">
                          <label class="detail-key">{{ 'fields.campaignName' | translate }}</label>
                        </div>
                        <div class="col-md-3 form-group has-error" *ngIf="dataDetailBottomRight?.campaignName">
                          <span class="text-wrap">{{ dataDetailBottomRight?.campaignName }}</span>
                        </div>


                        <div class="col-md-12">
                          <label class="detail-key mb-0">{{ 'sellingOppIndivDetail.tab1.left.note' | translate }}</label>
                        </div>
                        <div class="col-md-12 form-group has-error">
                        <textarea
                          class=" form-control"
                          style="background-color: #EFEFEF!important;"
                          rows="3"
                          type="text"
                          disabled
                          value="{{dataDetailBottomRight?.note === undefined ? '' : dataDetailBottomRight?.note }}"
                        ></textarea>
                        </div>




                      <div class="col-md-12 m-step pt-5" *ngIf="dataDetailBottomRight?.statusProducts.length > 0">
                        <h6 class="pb-4">Trạng thái cơ hội</h6>
                        <ul class="pl-0">
                          <ng-container class="" *ngFor="let statusP of dataDetailBottomRight?.statusProducts; let i = index">
                            <li class="" [ngClass]="[i <= dataDetailBottomRight?.statusIndex ? 'passed' : ''
                            ,statusP?.text==='Không thành công' ? 'warm' : '']">{{i+1}}. {{ statusP?.text }}</li>
                          </ng-container>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="p-0 h-100 col-12"  *ngIf="accordianData?.length < 1 && !isLoading">
              <div style="flex-direction: column;justify-content: center;text-align: center;height: 100%;display: flex;" class="h-100 col-12 detail-block mb-3">
                Khách hàng chưa có cơ hội bán
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
