<div class="right-view campaigns-rm-detail">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn btn--light-blue btn-small" (click)="back()"><em class="las la-undo f-16"></em>
				{{ 'btnAction.back' | translate }}</button>
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">
				{{ 'campaign.menu.campaign_rm' | translate }} / {{ 'campaign.menu.campaign_detail' | translate }}
			</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content bg-transparent">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body p-0">
			<div class="content-body__list">
				<div class="list__block px-4">
					<div class="row form-create">
						<div class="col-12 detail-block mb-3">
							<div class="row">
								<div class="col-12">
									<div class="row mb-3">
										<div class="col-md-6">
											<h5 class="m-0">{{ 'campaign.menu.info' | translate }}</h5>
										</div>
										<div class="col-md-6 text-right">
										</div>
									</div>
								</div>
								<div class="col-12 collapse show" id="detail">
									<div class="row px-4">
										<div class="col-md-2">
											<label class="detail-key">{{'fields.campaignCode'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'code') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.campaignName'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'name') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.purpose'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'typeName') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.formality'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'formName') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.account_type'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'blockName') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.campaignMiningBlock'| translate
												}}</label>
										</div>
										<div class="col-md-4  has-error">
											<div class="col-value">
												<!-- <p *ngFor="let item of model.bizLine">{{ item }}</p> -->
												<span class='text-wrap'>{{ bizLine_name }}</span>
											</div>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.saleChannel'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'channelName') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.product'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'productName') }}</span>
										</div>

										<div class="col-md-2">
											<label class="detail-key">{{'fields.startDate'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getDate(model, 'startDate') | date: 'dd/MM/yyyy'
												}}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.endDate'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getDate(model, 'endDate') | date: 'dd/MM/yyyy'
												}}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.sourceData'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'sourceName') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.campaignSize'| translate }}</label>
										</div>
										<div class="col-md-4  has-error" [hidden]="isLoading">
											<span class="text-wrap">{{ (getValue(model, 'scope') === 'TOAN_HANG' ?
												'fields.allBranch' :
												'fields.region') | translate }}</span>
										</div>
										<div class="col-md-2" *ngIf="getValue(model, 'scope') !== 'TOAN_HANG'">
											<label class="detail-key">{{'fields.area'| translate }}</label>
										</div>
										<div class="col-md-4  has-error"
											*ngIf="getValue(model, 'scope') !== 'TOAN_HANG'">
											<div class="col-value">
												<!-- <p *ngFor="let item of model.region">{{ item }}</p> -->
												<span class="text-wrap">{{ region_name }}</span>
											</div>
										</div>
										<div class="col-md-2" *ngIf="getValue(model, 'scope') !== 'TOAN_HANG'">
											<label class="detail-key">{{'fields.agency'| translate }}</label>
										</div>
										<div class="col-md-4  has-error"
											*ngIf="getValue(model, 'scope') !== 'TOAN_HANG'">
											<div class="col-value">
												<p *ngFor="let item of model.branch">{{ item }}</p>
											</div>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.status'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap">{{ getValue(model, 'status') }}</span>
										</div>
										<div class="col-md-2">
											<label class="detail-key">{{'fields.image'| translate }}</label>
										</div>
										<div class="col-md-4  has-error">
											<span class="text-wrap download-file" (click)="downloadFile()">{{
												getValue(model,
												'fileName') }}</span>
										</div>

										<div class="col-md-2">
											<label class="detail-key">{{'fields.content'| translate }}</label>
										</div>
										<div class="col-md-10  has-error" [hidden]="isLoading">
											<textarea class="d-block" style="border: none;color: initial;resize: none;"
												type="text" rows="5" [maxlength]="1000" [value]="model.content" readonly
												pInputTextarea></textarea>
										</div>
<!--										<div class="col-md-2 py-2">-->
<!--											<label class="detail-key">{{'fields.implementationProcess'| translate-->
<!--												}}</label>-->
<!--										</div>-->
<!--										<div class="col-md-4 py-2 has-error">-->
<!--											<div class="row ml-2">-->
<!--												<div class="p-field-checkbox col-md-6">-->
<!--													<p-checkbox binary="true" disabled="true"-->
<!--														[(ngModel)]="isOutreachProcess">-->
<!--													</p-checkbox>-->
<!--													<label class="mb-0 ml-3">Qualify</label>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
                    <div class="col-md-6 d-flex">
                      <div class="field-label">
                        <label class="m-0">{{ 'fields.isRmInsert' | translate }}</label>
                      </div>
                      <div class="field-value">
                        <div class="row">
                          <div class="p-field-checkbox col-md-6">
                            <p-checkbox class="ml-10" binary="true" disabled="true" [(ngModel)]="isRmInsert"> </p-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
								</div>
							</div>
						</div>
						<div class="col-12 detail-block mb-3">
							<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
								<mat-tab label="{{ 'campaign.menu.customer_target' | translate }}"></mat-tab>
							</mat-tab-group>
						</div>

						<div class="col-12 detail-block " *ngIf="tabIndex === 0">
							<div class="col-12 detail-block p-0" *ngIf="!isLoading">
								<customer-targets #customers [showBtnAddCampaign]="showBtnAddCampaign" [isSlide]="isSlide" [campaignId]="id"
									[listBranch]="listBranch" [stage]="stage" [activityResult]="activityResult" [campaignName]="model.name" [endDate]="model.endDate" [rsId]="rsId" [productCode]="model.productCode">
								</customer-targets>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
