<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Cấu hình chỉ tiêu AP</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="paramSearch.search"
                  (keyup.enter)="search(true)"
                />
              </div>
              <div class="ml-5 mr-3">Cấp độ chỉ tiêu</div>
              <div>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listLevel"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="paramSearch.itemLevel"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="search(true)"
              >
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button
                *ngIf="objFunction && objFunction.create"
                class="btn btn-icon btn-icon--small btn-search"
                (click)="create()"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view app__config">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="itemCode"
                name="Mã chỉ tiêu"
              ></ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="itemName"
                name="Tên chỉ tiêu"
              ></ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="itemParentName"
                name="Chỉ tiêu cha"
              ></ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="unitName"
                name="Đơn vị tính"
              ></ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="itemLevel"
                name="Cấp độ chỉ tiêu"
              ></ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="110"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button
                      *ngIf="objFunction?.delete"
                      type="button"
                      class="btn-outline"
                      (click)="delete(row); $event.stopPropagation()"
                      title="{{ 'btnAction.delete' | translate }}"
                    >
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button
                      *ngIf="objFunction?.update"
                      type="button"
                      class="btn-outline ml-2"
                      (click)="update(row); $event.stopPropagation()"
                      title="{{ 'btnAction.edit' | translate }}"
                    >
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
