<div class="lead-report-finance">
    <app-loading *ngIf="isLoading"></app-loading>
    <mat-tab-group (selectedTabChange)="onChangeTab($event)" [selectedIndex]="tabIndex">
      <mat-tab *ngFor="let item of tabs" [label]="item"></mat-tab>
    </mat-tab-group>
    <div class="col-12 detail-block mb-4">
      <div class="content__top block-center-between mx-0">
        <div class="content__top-left block-center">
          <p *ngIf="tabIndex == 0"  class="text-report">Tốc độc tăng trưởng : <span>{{growth}} %</span></p>
        </div>
        <div class="content__top-right row">
          <p class="mr-3 text-report"><i>Ngày dữ liệu : {{ etlDate | date: 'dd/MM/yyyy' }}</i></p>
          <p> - </p>
          <p class="ml-3 text-report mr-4"><i>Đơn vị tính : Đồng</i></p>
        </div>
      </div>
      <div class="table__view" *ngIf="data">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [scrollbarV]="false"
          [scrollbarH]="true"
          [rows]="listData"
          [virtualization]="false"
          [externalPaging]="false"
          [messages]="messages"
          [columns]="columns"
        >
        </ngx-datatable>
      </div>
    </div>
  </div>
  