<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'device.list.activeDevice' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="filter-top block-center-between px-4" [formGroup]="formSearch">

                        <div class="filter-top__left">
                            <div class="col-md-4" *ngIf="!onlyRM">
                                <input placeholder="Tài khoản" (keyup.enter)="search(true)" type="text"
                                    class="form-control search-box" formControlName="userName" />
                            </div>
                            <div class="col-md-4" *ngIf="!onlyRM">
                                <input placeholder="RM code" (keyup.enter)="search(true)" type="text"
                                    class="form-control search-box" formControlName="rmCode" />
                            </div>
                            <ng-container *ngIf="onlyRM">
                                    <div>
                                        <p-dropdown
                                            emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                            [options]="listAppCode" class="d-block" formControlName="appCode"
                                            appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                            optionValue="code">
                                        </p-dropdown>
                                    </div>
                                    <button class="btn-icon btn-icon--small btn btn-search ml-4" (click)="search(true)">
                                        <em class="las la-search f-16"></em>
                                    </button>
                            </ng-container>
                            <ng-container *ngIf="!onlyRM">
                                <div class="col-md-4">
                                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                        [options]="listAppCode" class="d-block" formControlName="appCode"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                        optionValue="code">
                                    </p-dropdown>
                                </div>
                                <button class="btn-icon btn-icon--small btn btn-search" (click)="search(true)">
                                    <em class="las la-search f-16"></em>
                                </button>
                            </ng-container>




                        </div>
                        <div class="filter-top__right d-flex">
                            <button class="btn btn--light-blue btn-icon--small" (click)="exportFile()"
                                title="{{ 'btnAction.export' | translate }}">
                                <em class="las la-file-excel f-16"></em>
                            </button>
                        </div>
                    </div>

                    <div class="table__view group__view mt-2">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">





                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="40" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="userName"
                                name="{{ 'device.list.account' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ row?.userName}}">{{ row?.userName }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmCode"
                                name="{{ 'device.list.rmCode' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="imei"
                                name="{{ 'device.list.imei' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span>{{ value ? value : ""}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="deviceId"
                                name="{{ 'device.list.deviceId' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="deviceName"
                                name="{{ 'device.list.nameDevice' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="systemName"
                                name="{{ 'device.list.system' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="appCode"
                                name="{{ 'device.list.appCode' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="loginDate"
                                name="{{ 'device.list.lastDay' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ formatDateTime(value) }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false">
                                <ng-template ngx-datatable-header-template>
                                    <div class="left-column">
                                        <span>{{ 'device.list.status' | translate }}</span>
                                    </div>
                                </ng-template>

                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <label class="checkbox">
                                        <input type="checkbox" [(ngModel)]="row.status"
                                            (click)="onCheckboxBlockFn(row);" />
                                        <span class="ck"></span>
                                    </label>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="block-center text-center column-action">
                                        <button type="button" class="btn-outline btn--light-blue ml-2" (click)="update(row)"
                                            title="{{ 'btnAction.edit' | translate }}">
                                            <em class="las la-edit"></em>
                                        </button>
                                        <button type="button" class="btn-outline" (click)="deleteDevice(row)"
                                            title="{{ 'btnAction.delete' | translate }}">
                                            <em class="las la-trash-alt"></em>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>







                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
