<div class="right-view report-guarantee-v2">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'report.report_guarantee' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row" [formGroup]="form">
                  <div class="col-md-12">
                    <label class="m-0">{{ 'fields.block' | translate }}</label>
                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listDivision" placeholder=" " class="d-block" formControlName="division"
                      appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group" [formGroup]="form">
                <label class="m-0">{{ 'kpi.menu.typeReport' | translate }} </label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="moment" formControlName="reportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.timeReport' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="avagate" formControlName="reportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.average' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="form.get('reportType').value === 'avagate'">
                <label class="m-0">{{ 'kpi.menu.periodReport' | translate }} </label>
                <div class="row px-4" [formGroup]="form">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="monthly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodMonth' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="quarterly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodPecious' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="yearly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodYear' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3" *ngIf="form.get('reportType').value === 'moment'">
                    <p-radioButton value="optional" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodSelect' | translate }}</label>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="form.get('reportType').value === 'avagate'">
                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <ng-container *ngIf="form.get('period').value === 'monthly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-calendar class="d-block custom-calendar" formControlName="reportPeriodFrom"
                          dateFormat="mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                          [minDate]="commonData.minDate" [maxDate]="commonData.maxDate" view="month"
                          icon="las la-calendar-alt">
                        </p-calendar>
                        <small class="p-error" *ngIf="
                          form?.controls?.reportPeriodFrom?.errors?.cusRequired && form?.controls?.reportPeriodFrom?.touched
                        ">{{ 'validationMessage.reportPeriodFrom' | translate }}</small>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'quarterly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listQuarterly" class="d-block fix-width"
                          formControlName="reportPeriodQuarterly" appendTo="body" autoZIndex="false" baseZIndex="10000"
                          optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYears" class="d-block fix-width" formControlName="reportPeriodYear"
                          appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'yearly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYears" class="d-block fix-width" formControlName="reportPeriodYear"
                          appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                    </ng-container>


                  </div>
                </div>

                <div class="form-group" *ngIf="form.get('reportBy').value !== 'customer'">
                  <div class="row" [formGroup]="form">
                    <ng-container *ngIf="form.get('period').value === 'monthly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-calendar class="d-block custom-calendar" formControlName="comparePeriodFrom"
                          dateFormat="mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                          [minDate]="commonData.minDate" [maxDate]="commonData.maxDate" view="month"
                          icon="las la-calendar-alt">
                        </p-calendar>
                        <small class="p-error" *ngIf="
                          form?.controls?.comparePeriodFrom?.errors?.cusRequired && form?.controls?.comparePeriodFrom?.touched
                        ">{{ 'validationMessage.comparePeriodFrom' | translate }}</small>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'quarterly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown [autoDisplayFirst]="false" [options]="commonData.listQuarterlyCompare"
                          class="d-block fix-width" formControlName="comparePeriodQuarterly" appendTo="body"
                          autoZIndex="false" baseZIndex="10000" optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown [autoDisplayFirst]="false" [options]="commonData.listYearsCompare"
                          class="d-block fix-width" formControlName="comparePeriodYear" appendTo="body"
                          autoZIndex="false" baseZIndex="10000" optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'yearly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown [autoDisplayFirst]="false" [options]="commonData.listYearsCompare"
                          class="d-block fix-width" formControlName="comparePeriodYear" appendTo="body"
                          autoZIndex="false" baseZIndex="10000" optionLabel="label" optionValue="value">
                        </p-dropdown>
                      </div>
                    </ng-container>


                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="form.get('reportType').value === 'moment'">
                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-6">
                      <label class="m-0">{{ 'kpi.menu.reportingtime' | translate }}</label>

                      <p-calendar class="d-block custom-calendar" formControlName="momentReport" dateFormat="dd/mm/yy"
                        appendTo="body" autoZIndex="false" [maxDate]="commonData.maxDate" baseZIndex="10000"
                        [showIcon]="true" [minDate]="commonData.minDate" icon="las la-calendar-alt">
                      </p-calendar>
                      <small class="p-error" *ngIf="
                          form?.controls?.momentReport?.errors?.cusRequired && form?.controls?.momentReport?.touched
                        ">{{ 'validationMessage.toDateCredit' | translate }}</small>
                    </div>
                    <div class="col-md-6" *ngIf="form?.get('reportBy').value !== 'customer'">
                      <label class="m-0">{{ 'kpi.menu.timeOfComparison' | translate }}</label>
                      <p-calendar class="d-block custom-calendar" formControlName="momentCompare" dateFormat="dd/mm/yy"
                        appendTo="body" autoZIndex="false" [maxDate]="commonData.maxDate" baseZIndex="10000"
                        [showIcon]="true" [minDate]="commonData.minDate" icon="las la-calendar-alt">
                      </p-calendar>
                      <small class="p-error" *ngIf="
                          form?.controls?.momentCompare?.errors?.cusRequired && form?.controls?.momentCompare?.touched
                        ">{{ 'validationMessage.compareDateCredit' | translate }}</small>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 b-table">
              <div class="form-group" [formGroup]="form">
                <label class="m-0">{{ 'labels.report' | translate }}</label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="customer" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.customer' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="rm" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.rm' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3" *ngIf="!commonData.isRm">
                    <p-radioButton value="branch" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.chi_nhanh' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3" *ngIf="this.commonData.isRegionDirector">
                    <p-radioButton value="region" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.region_origin' | translate }}</label>
                  </div>
                </div>
              </div>



              <div class="form-group" [formGroup]="form" *ngIf="form?.get('reportBy').value === 'customer'">
                <label class="m-0">{{ 'kpi.menu.detailedReportType' | translate }} </label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="sync" formControlName="customerReportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.synthetic' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="contract" formControlName="customerReportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'report.contract' | translate }}</label>
                  </div>

                </div>
              </div>
              <div class="form-group" [formGroup]="form" *ngIf="showListOptions">
                <label class="m-0">{{ 'labels.list' | translate }} </label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="ALL" formControlName="listOption"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.choose_all' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="choose_rm" formControlName="listOption"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ choosenTitle | translate }}</label>
                  </div>
                  <div *ngIf="showButtonOptionRm" class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="choose_rm2"
                                   formControlName="listOption"></p-radioButton>
                    <label class="m-0"
                           class="ml-3">{{ choosenTitle2 | translate }}</label>
                  </div>
                  <div *ngIf="showButtonOptionBranch" class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="choose_branch"
                                   formControlName="listOption"></p-radioButton>
                    <label class="m-0"
                           class="ml-3">{{ 'fields.choose_branch' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="form-group row" [formGroup]="form" *ngIf="form.get('reportBy').value === 'branch'">
                <div class="col-md-5 p-w-5">
                  <label>Chi nhánh cấp 1</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.branchLv1List"
                    class="d-block"
                    formControlName="branchCodeLv1"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    [virtualScroll]="true"
                    [itemSize]="31"
                  ></p-dropdown>
                </div>
                <div class="col-md-5" [formGroup]="form">
                  <label>{{'Chi nhánh cấp 2'}}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.branchLv2List"
                    class="d-block"
                    formControlName="branchCode"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    [virtualScroll]="true"
                    [itemSize]="31"
                  ></p-dropdown>
                </div>
              </div>


              <div class="form-group row" [formGroup]="form" *ngIf="form.get('reportBy').value === 'region'">
                <div class="col-md-5 p-w-5">
                  <label>{{ 'fields.region_origin' | translate }}</label>
                  <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    [options]="commonData.regionList" class="d-block" formControlName="regionCode" appendTo="body"
                    autoZIndex="false" baseZIndex="10000" optionLabel="locationName" optionValue="locationCode"
                    [autoDisplayFirst]="false" [filter]="true" [virtualScroll]="true" [itemSize]="31"></p-dropdown>
                </div>

              </div>

              <div class="show" [ngClass]="{hide: hidePickupList}">
                <div class="filter-top block-center-between mt-0">
                  <div class="filter-top__left">
                    <div>
                      <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                        class="form-control search-box" [(ngModel)]="textSearch" (keyup.enter)="add()" maxlength="20" />
                    </div>
                    <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.create' | translate }}" (click)="add()">
                      <em class="las la-plus-circle f-16"></em>
                    </button>
                    <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}" (click)="search()">
                      <em class="las la-search f-16"></em>
                    </button>

                  </div>
                  <div class="filter-top__right block-center">
                    <button class="btn btn--red btn-small mr-4 text-white" [disabled]="allRM" (click)="removeList()">
                      {{ 'btnAction.deleteAll' | translate }}
                    </button>
                  </div>
                </div>
                <div class="table__view">
                  <ngx-datatable #table ngxDataTable class="bootstrap fullscreen" [rows]="listDataTable"
                    [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                    [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                    [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                    (page)="setPage($event)" [messages]="messages">
                    <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="55"
                      [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="columns[0].prop"
                      [name]="columns[0].name">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="columns[1].prop"
                      [name]="columns[1].name">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                      [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button type="button" class="btn-outline"
                            (click)="removeRecord(row); $event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                      <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                          [hidden]="false" (change)="table.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>

              <div class="pt-4 " [ngClass]="{'m-t-rp-view': hidePickupList}">
                <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">
                  {{ 'labels.reportShow' | translate }}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
