.app {
  &__root {
    height: 100vh;
    width: 100vw;
    display: block;
  }
  &__layout {
    display: block;
    overflow: hidden;
    height: 100vh;
  }
  &__left {
    @include flexbox;
    background: white;
  }
  &__left-bar {
    width: 200px;
    padding: 20px 0;
    text-align: center;
    background: #9595f3;
    border-right: 1px solid #f0f0f3;
    display: flex;
    flex-direction: column;
    height: 100%;
    img {
      max-width: 100px;
    }
    @media only screen and (max-width: 1600px) {
      width: 160px;
      padding: 12px 0px;
    }
  }
  &__left-content {
    padding: 0;
    width: 0;
    opacity: 0;
    transition: all 0.1s ease-out;
  }
  &__right {
    @include flex(1);
    width: calc(100% - 470px);
    display: flex;
    flex-direction: column;
    position: relative;
    .right-view {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      // height: calc(100% - 106px);

      @media only screen and (max-width: 1919px) and (min-width: 1280px) {
        // height: calc(100% - 150px);
      }
    }

    .promo-block {
      img {
        width: 100%;
      }
    }

    &-content {
      flex: 1 1 auto;
      position: relative;
      // overflow: hidden;
    }
  }
}

.content {
  padding: 15px !important;
  background: white;
  position: relative;
  flex-grow: 1;
  &__top {
    margin: 24px 24px 12px;
    @media only screen and (min-width: 768px) and (max-width: 1600px) {
      margin: 10px 8px;
    }
  }
  @include min-768 {
    margin: 10px 24px;
    border-radius: 4px;
    padding: 25px;
    min-width: 800px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    margin: 0 8px 10px;
  }
  .content-body {
    // user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 0px 0px;
    .content-body__list {
      height: 100%;
      box-sizing: border-box;
      vertical-align: top;
      margin-left: 0;
      margin-right: 0;
      .list__block {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        height: 100%;
        position: relative;
        .list-view,
        .grid-view {
          flex: 1 1 auto;
          margin-bottom: 0;
          overflow-y: auto;
        }
      }
    }
  }
}

.row {
  &--sm {
    margin-left: -7px;
    margin-right: -7px;
    > div {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}
