<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'fields.select' | translate }} {{ dataSearch?.isArm ? 'aRM' : 'RM' }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list__block">
    <div class="filter-top block-center-between">
      <div class="filter-top__left">
        <div>
          <input
            placeholder="{{ 'btnAction.search' | translate }}"
            type="text"
            class="form-control search-box"
            *ngIf="!show"
            [(ngModel)]="search_value"
            (keyup.enter)="searchBasic()"
            maxlength="200"
          />
        </div>
        <button
          class="btn-icon btn-icon--small btn btn-search grey ml-2"
          title="{{ 'btnAction.search' | translate }}"
          (click)="searchBasic()"
          *ngIf="!show"
        >
          <em class="las la-search f-16"></em>
        </button>
        <button class="btn btn--light-blue btn-small mr-2 ml-4" *ngIf="!show" (click)="show_advance_search()">
          {{ 'btnAction.searchAdvance' | translate }}
        </button>
      </div>
      <div class="filter-top__right d-flex"></div>
    </div>
    <div class="fluid-container" *ngIf="show" [formGroup]="search_form">
      <div class="row py-1">
        <div class="col-md-3">
          <label class="mb-0">{{ 'system.fields.rmCode' | translate }}</label>
          <input placeholder="" type="text" class="form-control" formControlName="employeeCode" maxlength="20" />
          <div
            *ngIf="search_form.get('employeeCode').errors && search_form.get('employeeCode').touched"
            class="invalid-tooltip"
          >
            <div *ngIf="search_form.get('employeeCode').errors?.maxlength">
              {{ 'validationMessage.maxlength' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.employee_code_hris' | translate }}</label>
          <input placeholder="" type="text" class="form-control" formControlName="employeeId" maxlength="20" />
          <div
            *ngIf="search_form.get('employeeId').errors && search_form.get('employeeId').touched"
            class="invalid-tooltip"
          >
            <div *ngIf="search_form.get('employeeId').errors?.maxlength">
              {{ 'validationMessage.maxlength' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.rm_name' | translate }}</label>
          <input placeholder="" type="text" class="form-control" formControlName="fullName" maxlength="120" />
          <div
            *ngIf="search_form.get('fullName').errors && search_form.get('fullName').touched"
            class="invalid-tooltip"
          >
            <div *ngIf="search_form.get('fullName').errors?.maxlength">
              {{ 'validationMessage.maxlength' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label class="mb-0" for="facilityCode">{{ 'rm.fields.facility' | translate }}</label>
          <lp-branches
            [listBranch]="facilities"
            [(model)]="facilityCode"
            (modelChange)="changeBranch($event)"
            [disabled]="isDisableBranch"
          ></lp-branches>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.email' | translate }}</label>
          <input placeholder="" type="text" class="form-control" formControlName="email" maxlength="50" />
          <div *ngIf="search_form.get('email').errors && search_form.get('email').touched" class="invalid-tooltip">
            <div *ngIf="search_form.get('email').errors?.maxlength">
              {{ 'validationMessage.maxlength' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.phone' | translate }}</label>
          <input placeholder="" type="text" class="form-control" formControlName="mobile" maxlength="30" />
          <div *ngIf="search_form.get('mobile').errors && search_form.get('mobile').touched" class="invalid-tooltip">
            <div *ngIf="search_form.get('mobile').errors?.maxlength">
              {{ 'validationMessage.maxlength' | translate }}
            </div>
          </div>
        </div>
        <div *ngIf="!isRmSale" class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.grade' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="grades"
            class="d-block"
            formControlName="rmBlock"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            placeholder=" "
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionValue="code"
            optionLabel="value_to_search"
            [disabled]="isDisableBlock"
          ></p-dropdown>
        </div>
        <div class="col-md-3">
          <label class="mb-0">{{ 'rm.fields.customer_range' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="customer_ranges"
            class="d-block"
            formControlName="crmIsActive"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            placeholder=" "
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionValue="code"
            optionLabel="name"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="py-4">
        <button *ngIf="showSearchBasic" class="btn btn--light-blue btn-small mr-2" (click)="show_quick_search()">
          {{ 'btnAction.searchBasic' | translate }}
        </button>
        <button class="btn btn-small btn--light-blue mr-2" (click)="searchAdvance()">
          <em class="las la-search f-16"></em>
          {{ 'btnAction.search' | translate }}
        </button>
      </div>
    </div>

    <div class="table__view user__view">
      <ngx-datatable
        ngxDataTable
        #tablerm
        [messages]="messages"
        [scrollbarV]="true"
        class="bootstrap fullscreen"
        [scrollbarH]="true"
        [virtualization]="false"
        [externalPaging]="true"
        [columnMode]="'mode'"
        [rows]="models"
        [count]="count"
        [offset]="offset"
        [limit]="params?.size"
        (page)="paging($event)"
        [headerHeight]="50"
        [footerHeight]="56"
        [selectionType]="config?.selectionType"
        [selected]="config?.selectionType === 'single' ? listSelected : []"
      >
        <ngx-datatable-column
          *ngIf="showCheckBox"
          [width]="40"
          [frozenLeft]="true"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
        >
          <ng-template ngx-datatable-header-template>
            <div class="block-center">
              <label class="checkbox">
                <input
                  type="checkbox"
                  [checked]="checkAll"
                  (click)="onCheckboxRmAllFn($event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="block-center">
              <label class="checkbox">
                <input
                  type="checkbox"
                  [checked]="isChecked(row)"
                  (click)="onCheckboxRmFn(row, $event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.index' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ offset * params?.size + rowIndex + 1 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="rm_code" [sortable]="false" [width]="70">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.rm_code' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.t24Employee?.employeeCode }}">{{ row?.t24Employee?.employeeCode }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="ehris_code" [sortable]="false" [width]="100">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.ehris_code' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.employeeId }}">{{ row?.hrisEmployee?.employeeId }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="name" [sortable]="false" [width]="150">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.name' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.fullName }}">{{ row?.hrisEmployee?.fullName }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="moblie_phone" [sortable]="false" [width]="150">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.mobile_phone' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.mobile }}">{{ row?.hrisEmployee?.mobile }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="email" [sortable]="false" [width]="200">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.email' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.email }}">{{ row?.hrisEmployee?.email }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="title" [sortable]="false" [width]="200">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.title' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.title }}">{{ row?.hrisEmployee?.title }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="date_of_birth" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.date_of_birth' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.dateOfBirth | date: 'dd/MM/yyyy' }}">{{
              row?.hrisEmployee?.dateOfBirth | date: 'dd/MM/yyyy'
            }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="start_position" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.start_position' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.hrisEmployee?.startPosDate | date: 'dd/MM/yyyy' }}">{{
              row?.hrisEmployee?.startPosDate | date: 'dd/MM/yyyy'
            }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="branch-code-level-2" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.branch_code_level_2' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row?.t24Employee?.branchLevel2 !== undefined" title="{{ row?.t24Employee?.branchLevel2 }}">{{
              row?.t24Employee?.branchLevel2
            }}</span>
            <span *ngIf="row?.t24Employee?.branchLevel2 === undefined" title="{{ row?.t24Employee?.branchCode }}">{{
              row?.t24Employee?.branchCode
            }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="branch-name-level-2" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.branch_name_level_2' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span
              *ngIf="row?.t24Employee?.branchNameLevel2 !== undefined"
              title="{{ row?.t24Employee?.branchNameLevel2 }}"
              >{{ row?.t24Employee?.branchNameLevel2 }}</span
            >
            <span *ngIf="row?.t24Employee?.branchNameLevel2 === undefined" title="{{ row?.t24Employee?.branchName }}">{{
              row?.t24Employee?.branchName
            }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="branch-code-level-1" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.branch_code_level_1' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ row?.t24Employee?.branchLevel1 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="branch-name-level-1" [sortable]="false">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.branch_name_level_1' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ row?.t24Employee?.branchNameLevel1 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            let-rowCount="count"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            ngx-datatable-footer-template
          >
            <app-pager-ngx-datatable
              [page]="curPage"
              [offset]="offset"
              [size]="pageSize"
              [count]="count"
              [hidden]="false"
              (change)="paging($event)"
              (eventChangePageSize)='handleChangePageSize($event)'
              [hasDropdown]='true'
            >
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
