.list__interest-modal {
    .list__interest-content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .modal-dialog {
      max-height: calc(100% - 7rem);
      height: calc(100% - 7rem);
      width: 100%;
    }
    .modal-content {
      height: 100%;
    }
    .modal-body {
      flex-grow: 1;
      overflow: hidden;
    }
    .list__block {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    
  .custom-data-table .datatable-body{
    height: unset !important;
  }

  .chargeNameColumn{
    width: 150% !important;
  }

  @media only screen and (min-width: 1281px) {
    /* styles for browsers larger than 1281px; */
    .chargeNameColumn{
      width: 300% !important;
    }
  }

  }

  