<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Chọn biểu phí</h5>
    </div>
  </div>
  <button type="button"
          class="close"
          (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body overflow-auto">
  <div class="list__block">
    <div class="filter-top block-center-between">
      <div class="filter-top__left w-100">
        <div style="flex: auto;">
          <label class="mb-2 font-weight-bold">Loại phí</label>
          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="feeTypes"
                      class="d-block w-100 mr-1"
                      appendTo="body"
                      [(ngModel)]="searchFeeType"
                      onchange="feeTypeChange()"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                      [autoDisplayFirst]="true"
                      [filter]="false"
                      (onChange)="reload()"
                      [showClear]="false">
          </p-dropdown>
        </div>
        <div class="ml-1"
             style="flex: auto;">
          <label class="mb-2 font-weight-bold">Mã phí</label>
          <input placeholder="Nhập mã phí"
                 type="text"
                 class="form-control search-box"
                 *ngIf="!show"
                 [(ngModel)]="search_value_code"
                 (keyup.enter)="searchFE()"
                 maxlength="50"
                 trimInput />
        </div>
        <div class="ml-1"
             style="flex: auto;">
          <label class="mb-2 font-weight-bold">Tên phí</label>
          <input placeholder="Nhập tên phí"
                 type="text"
                 class="form-control search-box"
                 *ngIf="!show"
                 (keyup)="searchFE()"
                 [(ngModel)]="search_value"
                 (keyup.enter)="searchFE()"
                 (blur)="trimSearchValue()"
                 maxlength="1000"
                 />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <div class="d-flex">
        <button class="btn btn--light-blue btn-small"
                title="{{ 'btnAction.search' | translate }}"
                (click)="searchFE()"
                *ngIf="!show">
          Tìm kiếm
        </button>
      </div>
    </div>
    <!-- <div class="table__view user__view">
      <ngx-datatable ngxDataTable
                     #tablefee
                     [messages]="messages"
                     [scrollbarV]="true"
                     class="bootstrap fullscreen"
                     [scrollbarH]="false"
                     [virtualization]="false"
                     [externalPaging]="true"
                     [columnMode]="'force'"
                     [rows]="models"
                     [count]="count"
                     [offset]="offset"
                     [limit]="params?.size"
                     (page)="paging($event)"
                     [headerHeight]="50"
                     [footerHeight]="0"
                     [selectionType]="config?.selectionType"
                     [selected]="config?.selectionType === 'single' ? selected : []">
        <ngx-datatable-column [width]="40"
                              [frozenLeft]="true"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false">
          <ng-template ngx-datatable-header-template>
            <label class="checkbox">
              <input type="checkbox"
                     [checked]="checkAll"
                     (click)="onCheckboxAllFn($event.target.checked, $event); $event.stopPropagation()" />
              <span class="ck"></span>
            </label>
          </ng-template>
          <ng-template ngx-datatable-cell-template
                       let-value="value"
                       let-row="row">
            <div class="block-center">
              <label *ngIf="config.selectionType == SelectionType.single"
                     class="radio">
                <input name="select-radio"
                       type="radio"
                       [checked]="isChecked(row)"
                       (click)="onCheckboxRmFn(row, $event.target.checked, $event); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
              <label *ngIf="config.selectionType == SelectionType.multi"
                     class="checkbox">
                <input type="checkbox"
                       [checked]="isChecked(row)"
                       (click)="onCheckboxRmFn(row, $event.target.checked, $event); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="descriptionVn"
                              [sortable]="false"
                              [headerClass]="'chargeNameColumn'"
                              [cellClass]="'chargeNameColumn'">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            Tên phí
          </ng-template>
          <ng-template let-value="value"
                       let-row="row"
                       ngx-datatable-cell-template>
            <span title="{{ row?.descriptionVn }}">{{ row?.descriptionVn }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="descriptionVn"
                              [sortable]="false">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            Loại tiền tệ
          </ng-template>
          <ng-template let-value="value"
                       let-row="row"
                       ngx-datatable-cell-template>
            <span title="{{ row?.currency }}">{{ row?.currency }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="chgAmtFrom"
                              [sortable]="false">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            Mức phí
          </ng-template>
          <ng-template let-value="value"
                       let-row="row"
                       ngx-datatable-cell-template>
            <span title="{{ formatCurrency(row?.chgAmtFrom)}}">{{ formatCurrency(row?.chgAmtFrom)}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="minCharge"
                              [sortable]="false">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            Phí tối thiểu
          </ng-template>
          <ng-template let-value="value"
                       let-row="row"
                       ngx-datatable-cell-template>
            <span title="{{ formatCurrency(row?.minCharge) }}">{{ formatCurrency(row?.minCharge) }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="maxCharge"
                              [sortable]="false">
          <ng-template let-column="column"
                       ngx-datatable-header-template>
            Phí tối đa
          </ng-template>
          <ng-template let-value="value"
                       let-row="row"
                       ngx-datatable-cell-template>
            <span title="{{ formatCurrency(row?.maxCharge)}}">{{ formatCurrency(row?.maxCharge)}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template let-rowCount="count"
                       let-pageSize="pageSize"
                       let-selectedCount="selectedCount"
                       let-curPage="curPage"
                       let-offset="offset"
                       ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage"
                                     [offset]="offset"
                                     [size]="pageSize"
                                     [count]="count"
                                     [hidden]="false"
                                     (change)="paging($event)"
                                     (eventChangePageSize)='handleChangePageSize($event)'
                                     [hasDropdown]='true'>
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div> -->
    <p-table [autoLayout]="true"
             [value]="findParentFee">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="d-flex align-items-center">
              <label class="checkbox mr-3">
                <input type="checkbox"
                       [checked]="checkAll"
                       (click)="onCheckboxAllFn($event.target.checked, $event); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
              Tên phí
            </div>
          </th>
          <th>Mã phí</th>
          <th>Loại tiền tệ</th>
          <th>Mức phí</th>
          <th>Phí tối thiểu</th>
          <th>Phí tối đa</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-product>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="block-center mr-3">
                <label *ngIf="config.selectionType == SelectionType.single"
                       class="radio">
                  <input name="select-radio"
                         type="radio"
                         [checked]="isChecked(product)"
                         (click)="onCheckboxRmFn(product, $event.target.checked, $event); $event.stopPropagation()" />
                  <span class="ck"></span>
                </label>
                <label *ngIf="config.selectionType == SelectionType.multi"
                       class="checkbox">
                  <input type="checkbox"
                         [checked]="isChecked(product)"
                         (click)="onCheckboxRmFn(product, $event.target.checked, $event); $event.stopPropagation()" />
                  <span class="ck"></span>
                </label>
              </div>
              {{product?.descriptionVn}}
            </div>
          </td>
          <td>{{product?.chargeCode}}</td>
          <td>{{product?.currency}}</td>
          <td>{{product?.chgAmtFrom}}</td>
          <td>{{product?.minCharge}}</td>
          <td>{{product?.maxCharge}}</td>
        </tr>
        <tr *ngFor="let item of findChildFee(product)">
          <td style="margin-left: 40px;" class="d-flex align-items-center">
            <div class="block-center mr-3">

              <label *ngIf="config.selectionType == SelectionType.single"
                     class="radio">
                <input name="select-radio"
                       type="radio"
                       [checked]="isChecked(item)"
                       (click)="onCheckboxRmFn(item, $event.target.checked, $event); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
              <label *ngIf="config.selectionType == SelectionType.multi"
                     class="checkbox">
                <input type="checkbox"
                       [checked]="isChecked(item)"
                       (click)="onCheckboxRmFn(item, $event.target.checked, $event); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
            </div>{{item?.descriptionVn}}
          </td>
          <td>{{item?.chargeCode}}</td>
          <td>{{item?.currency}}</td>
          <td>{{item?.chgAmtFrom}}</td>
          <td>{{item?.minCharge}}</td>
          <td>{{item?.maxCharge}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>



<div class="modal-footer modal-footer--grey d-block">
  <div class="text-center">
    <button class="btn btn--light-blue"
            (click)="choose()">{{ 'title.confirm' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
