@import 'variable';

.confirm-dialog {
  .modal-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 420px;
  }
  .modal-content {
    border-radius: 7px;
    border: none;
  }
  .modal-header {
    padding: 15px;
    margin: 0;
  }

  .background-red {
    background-color: $red !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
  .background-blue {
    background-color: $blue !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
  .background-yellow {
    background-color: $yellow !important;
    color: $white !important;
    & h5 {
      color: $white !important;
      margin: 0;
    }
  }
  .background-white {
    background-color: $white !important;
    color: $black !important;
    & h5 {
      color: $black !important;
      margin: 0;
    }
  }
  .group-name {
    color: #bbbbfd;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .fw-700 {
    font-weight: 700;
  }
}
