<app-loading *ngIf="isLoading"></app-loading>
<div class="pb-3 modal-header" [class]="background" [ngxModalDraggable]>
  <div class="block-center-between">
    <div class="m-0 f-16 fw-700">
      <span *ngIf="isConfirm">{{ 'saleSuggest.modal.titleCreate' | translate }}</span>
      <span *ngIf="!isConfirm">{{ 'saleSuggest.modal.titleErr' | translate }}</span>
    </div>
  </div>
  <button type="button" class="close" (click)="close(false)">
    <span class="f-25 pr-2" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="pb-0 modal-body" id="content">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="!isConfirm && message">
        <div *ngIf="message" class="text-center">
          <p *ngFor="let mes of listMessage">{{ mes }}</p>
        </div>

        <div *ngIf="groupNameInput" class="text-center">
          <span class="group-name">{{ groupNameInput }}</span>
        </div>
      </ng-container>

      <ng-container *ngIf="isConfirm">
        <div class="form-group">
          <label>{{ 'saleSuggest.modal.groupName' | translate }}</label>
          <textarea
            [ngClass]="hasErrDup()"
            style="resize: none"
            placeholder="{{ 'saleSuggest.modal.placeholderGroupName' | translate }}"
            class="form-control m-height"
            [maxlength]="40"
            type="text"
            [(ngModel)]="groupName"
            (ngModelChange)="valueChange(groupName)"
          >
          </textarea>

          <!--          <input-->
          <!--            placeholder="{{ 'saleSuggest.modal.placeholderGroupName' | translate }}"-->
          <!--            class="form-control"-->
          <!--            [maxlength]="40"-->
          <!--            type="text"-->
          <!--            [(ngModel)]="groupName"-->
          <!--            (ngModelChange)="valueChange(groupName)"-->
          <!--          />-->
          <div class="block-center-between bottom-info">
            <div class="pt-2">
              <span class="text-danger" *ngIf="hasErrDuplicate && !isValid">Tên nhóm đã tồn tại! Vui lòng chọn tên khác</span>
            </div>
            <span>{{ remaining }}/40 ký tự</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div style="justify-content: center" class="pt-3 modal-footer text-center">
  <button *ngIf="isConfirm" class="btn btn--light-grey" (click)="close(false)">
    Hủy
  </button>
  <button *ngIf="isConfirm && !disableConfirm" [disabled]="!isValid" class="btn btn--light-blue" (click)="createGroup()">
    {{ 'saleSuggest.modal.action.create' | translate }}
  </button>
  <button *ngIf="!isConfirm" class="btn btn--light-grey" (click)="close(false)">
    {{ 'saleSuggest.modal.action.close' | translate }}
  </button>
</div>
