<div class="customer-loan-balance">
  <div class="m-0 content__top block-center-between mx-0">
    <div class="content__top-left block-center"></div>
    <div class="content__top-right">
      <!-- <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="export()">
        <em class="las la-file-excel f-16"></em>
      </button> -->
      <p class="font-italic" *ngIf="model">Ngày dữ liệu: {{model?.dsnapShotDt}}</p>
    </div>
  </div>
  <div class="table__view">
    <table aria-hidden="true" class="table-border-first" #customerLoanBalance>
      <ng-container>
        <thead class="table-header">
          <tr>
            <th scope="col" [attr.rowspan]="2" class="border-col w-60 text-center">
              {{ 'rm.fields.index' | translate }}
            </th>
            <th scope="col" [attr.rowspan]="2" class="border-col w-250 text-center">{{ 'fields.bank' | translate }}</th>
            <th scope="col" [attr.rowspan]="2" class="colspan-border w-100 text-center">
              {{ 'customer360.fields.classify' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'Nợ ngắn hạn' }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'Nợ trung dài hạn ' }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'Nợ khác' }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'Nợ xấu khác' }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'Tổng dư nợ' }}
            </th>
          </tr>
          <tr>
            <th scope="col" class="border-col w-100">{{ 'Dư nợ (Tr.đồng)' }}</th>
            <th scope="col" class="border-col w-150">{{ 'Dư nợ ngoại tệ (USD)' }}</th>
            <th scope="col" class="border-col w-100">{{ 'Dư nợ (Tr.đồng)' }}</th>
            <th scope="col" class="border-col w-150">{{ 'Dư nợ ngoại tệ (USD)' }}</th>
            <th scope="col" class="border-col w-100">{{ 'Dư nợ (Tr.đồng)' }}</th>
            <th scope="col" class="border-col w-150">{{ 'Dư nợ ngoại tệ (USD)' }}</th>
            <th scope="col" class="border-col w-100">{{ 'Dư nợ (Tr.đồng)' }}</th>
            <th scope="col" class="border-col w-150">{{ 'Dư nợ ngoại tệ (USD)' }}</th>
            <th scope="col" class="border-col w-100">{{ 'Dư nợ (Tr.đồng)' }}</th>
            <th scope="col" class="border-col w-150">{{ 'Dư nợ ngoại tệ (USD)' }}</th>
          </tr>
        </thead>
      </ng-container>
      <ng-container *ngIf="show_data">
        <tr *ngFor="let item of models; let index = index">
          <td class="border-bottom text-center">{{ index + 1 }}</td>
          <td class="border-bottom text-custom-left">
            <span class="mr-3" title="{{ getValue(item, 'creditOrgName') }}">{{
              getTruncateValue(item, 'creditOrgName', 70)
            }}</span>
          </td>
          <td class="border-bottom text-custom-left">
            <span class="ml-3" title="{{ getSubstringValue(item, 'gprDebitLoan') }}"
              >{{ 'customer.fields.sectorName' | translate }} {{ getSubstringValue(item, 'gprDebitLoan') }}</span
            >
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtShortVnd') }}">{{ getCostValue(item, 'debtShortVnd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtShortUsd') }}">{{ getCostValue(item, 'debtShortUsd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtMediumLongVnd') }}">{{
              getCostValue(item, 'debtMediumLongVnd')
            }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtMediumLongUsd') }}">{{
              getCostValue(item, 'debtMediumLongUsd')
            }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtOtherVnd') }}">{{ getCostValue(item, 'debtOtherVnd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtOtherUsd') }}">{{ getCostValue(item, 'debtOtherUsd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtBadVnd') }}">{{ getCostValue(item, 'debtBadVnd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtBadUsd') }}">{{ getCostValue(item, 'debtBadUsd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'totalLoanVND') }}">{{ getCostValue(item, 'totalLoanVND') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'totalLoanUSD') }}">{{ getCostValue(item, 'totalLoanUSD') }}</span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!show_data">
        <tr>
          <td class="data-empty text-center" [attr.colspan]="13">
            <span class="data-empty-text-center">{{ 'messageTable.emptyMessage' | translate }}</span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
