@import 'variable';

.permissions-role-srceen {
  .content-body__list {
    display: flex;
  }
  .b-role {
    flex: 6;
    padding-right: 1rem;
  }
  .b-permission {
    flex: 6;
  }
  .tree-permission {
    overflow: auto;
    border-top: 1px solid $gray-300;
    .p-treetable .p-treetable-thead > tr > th {
      height: 40px;
      background: $gray-100;
      border: none;
    }
  }
  .h-36 {
    height: 36px;
  }
  .p-treetable-header {
    background: $white;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .p-treetable {
    .pi-minus:before {
      content: '\e909' !important;
      transition-duration: 0.2s;
      color: $white;
      font-size: 14px;
    }
    .p-checkbox-box.p-indeterminate {
      border-color: #2196f3;
      background: #2196f3;
    }
  }
  .p-dropdown-label {
    text-align: left;
  }
  .p-checkbox-label {
    margin-bottom: 0;
  }
}
