<div class="right-view permissions-role-srceen">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ objFunction.rsName }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="b-role">
          <div class="card flex-grow-1 list__block">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div>
                  <input
                    placeholder="{{ 'btnAction.search' | translate }}"
                    type="text"
                    class="form-control search-box"
                    [(ngModel)]="params.search"
                    (keyup.enter)="searchRole(true)"
                  />
                </div>
                <button
                  class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  (click)="searchRole(true)"
                  title="{{ 'btnAction.search' | translate }}"
                >
                  <em class="las la-search f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button
                  *ngIf="objFunction?.update"
                  class="btn btn--light-blue btn-small mr-2"
                  (click)="save()"
                  [disabled]="roleSelected.length === 0 || !idApp"
                >
                  {{ 'btnAction.save' | translate }}
                </button>
                <button
                  class="btn btn--light-blue btn-icon--small"
                  (click)="exportFile()"
                  title="{{ 'btnAction.export' | translate }}"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #tableRole
                class="bootstrap fullscreen"
                [rows]="listRole"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                [selectionType]="'single'"
                [selected]="roleSelected"
                (page)="setPage($event)"
                (select)="onSelect($event)"
                [messages]="messages"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="35"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  prop="name"
                  name="{{ 'system.fields.roleCode' | translate }}"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [sortable]="false"
                  prop="description"
                  name="{{ 'system.fields.roleName' | translate }}"
                ></ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [visiblePagesCount]="3"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="tableRole.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="b-permission">
          <div class="card flex-grow-1 list__block">
            <div class="tree-permission" id="tree-permission">
              <p-treeTable #tt [value]="treeNode" [columns]="colsTree">
                <ng-template pTemplate="caption">
                  <div class="filter-top block-center-between m-0">
                    <div class="filter-top__left">
                      <div class="mr-3">{{ 'fields.app' | translate }}</div>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="listApp"
                        placeholder=" "
                        class="d-block h-36"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        [(ngModel)]="idApp"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionValue="id"
                        optionLabel="name"
                        (onChange)="changeApp($event)"
                      >
                      </p-dropdown>
                    </div>
                    <div class="filter-top__right d-flex">
                      <p-checkbox
                        binary="true"
                        [(ngModel)]="isCheckedAll"
                        label="Chọn/Bỏ tất cả"
                        (onChange)="checkAll($event)"
                        [disabled]="!idApp"
                      ></p-checkbox>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th scope="col" *ngFor="let col of columns" [style.width]="col.width">{{ col.header }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr>
                    <td *ngFor="let col of columns; let i = index" [style.width]="col.width">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      <p-checkbox
                        binary="true"
                        [(ngModel)]="rowData.checked"
                        (onChange)="onChangeCheckbox($event, rowNode)"
                        *ngIf="i == 0"
                      >
                      </p-checkbox>
                      {{ rowData[col.field] }}
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
