<div class="birthday-warning right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{'warning.birthday' | translate}}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4">
          <div class="row py-1" >
            <div class="col-md-4" [formGroup]="formSearch">
              <label class="m-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [disabled]="true"
                          [options]="listDivision"
                          [ngModel]="typeDivision"
                          placeholder=" "
                          class="d-block"
                          appendTo="body"
                          optionLabel="name"
                          optionValue="code"
                          formControlName="division">

              </p-dropdown>
            </div>
            <div class="form-group col-md-4" [formGroup]="formSearch">
              <label class="mb-0">{{'btnAction.search' | translate}}</label>
              <input type="text" maxlength="100" pInputText placeholder="{{'warning.textSearch' | translate}}" class="d-block"
                     formControlName="search"  (keyup.enter)="search(true)" />
            </div>
            <div class="form-group col-md-4" *ngIf="!isRM">
              <label>{{'warning.branch' | translate}}</label>
              <div style="display: block" class="p-input-icon-right">
                <i style="right: 45px;"
                   class="pi pi-times branch "
                   (click)="removeBranchSelected()"
                ></i>
                <lp-branches
                  [listBranch]="branchesOfUserIndiv"
                  [(model)]="branchesCode"
                  (modelChange)="changeBranch($event)"
                >
                </lp-branches>
              </div>
            </div>
            <div class="col-md-4 form-group" *ngIf="!isRM">
              <div class="flex-col">
                <label>{{ 'assignLDRM.label.rmManager' | translate }}</label>
                <div class="filter-top__left custom">
                  <div class="w-100">
                        <span class="w-100 p-input-icon-right">
                          <i
                            class="pi pi-times"
                            (click)="removeRMSelected()"
                          ></i>
                          <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeCode" readonly />
                        </span>
                  </div>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    (click)="searchRM()"
                  >
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4" [formGroup]="formSearch">
              <label>{{'sellingOppIndivDetail.label.segment' | translate}}</label>
              <!--              <p-multiSelect-->
              <!--                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"-->
              <!--                [options]="privatePriority"-->
              <!--                class="d-block"-->
              <!--                [filter]="true"-->
              <!--                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"-->
              <!--                formControlName="segment"-->
              <!--                optionLabel="name"-->
              <!--                optionValue="code"-->
              <!--                [virtualScroll]="false"-->
              <!--                maxSelectedLabels="{{ privatePriority.length - 1 }}"-->
              <!--                [selectedItemsLabel]="fields.all"-->
              <!--                defaultLabel=" "-->
              <!--              >-->
              <!--              </p-multiSelect>-->
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="privatePriority"
                          placeholder=" "
                          class="d-block"
                          appendTo="body"
                          optionLabel="name"
                          optionValue="code"
                          formControlName="segment">

              </p-dropdown>
            </div>
            <div class="form-group col-md-4" [formGroup]="formSearch">
              <label class="mb-0">{{'warning.dateOfBirth' | translate}}</label>
              <p-calendar
                class="d-block"
                formControlName="indays"
                dateFormat="dd/mm/yy"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [maxDate]="maxDay"
                [minDate]="minDay"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>
            <!--            -->
          </div>
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <button class="btn btn--light-blue btn-small" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
          </div>

          <div class="table__view w-list warning-table">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" columnMode="force"
                           [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [virtualization]="false"
                           [scrollbarV]="true" [scrollbarH]="true" [rows]="listData" [virtualization]="false"
                           [externalPaging]="true" [count]="pageable?.totalElements"
                           [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                           [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customerCode" [sortable]="false" [draggable]="false"
                                    name="{{'campaign.columnImport.CUSTOMER_CODE' | translate}}" [width]="80">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="customerName" [sortable]="false" [draggable]="false"
                                    name="{{'campaign.columnImport.CUSTOMER_NAME' | translate}}" [width]="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="birthday" [sortable]="false" [draggable]="false"
                                    name="{{'fields.birthDay' | translate}}" [width]="80">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{value }}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="phone" [sortable]="false" [draggable]="false"
                                    name="{{'fields.phone' | translate}}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span>{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="email" [sortable]="false" [draggable]="false"
                                    name="{{'fields.email' | translate}}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{value}}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="segment" [sortable]="false" [draggable]="false"
                                    name="{{'sellingOppIndivDetail.label.segment' | translate}}" >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{value}}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="rmInfo" [sortable]="false" [draggable]="false"
                                    name="{{'marketing.field.rmManager' | translate}}" [width]="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span title="{{value}}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="branchInfo" [sortable]="false" [draggable]="false" [width]="100"
                                    name="{{ 'reportBank.list.branch' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{value}}">{{value}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                    [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <!--                  <div *ngIf="row.isTreeLv0"-->
                  <!--                       class="block-center text-center column-action">-->
                  <button class="btn--light-blue btn-icon--small btn"
                          title="{{ 'title.sendMail' | translate }}"
                          (click)="mailToINDIV(row?.email)">
                    <em class="las la-envelope f-16"></em>
                  </button>
                  <button
                    class="btn--light-blue btn-icon--small btn ml-2"
                    title="{{ 'title.createActivity' | translate }}"
                    (click)="createActivity(row)"
                  >
                    <em class="icon-create-activity i-16"></em>
                  </button>

                  <button
                    class="btn--light-blue btn-icon--small btn ml-2"
                    title="{{ 'title.createTask' | translate }}"
                    (click)="createTaskTodo(row)">
                    <em class="icon-create-todo i-16"></em>
                  </button>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                             let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                             ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage"
                                           [offset]="offset"
                                           [size]="pageSize"
                                           [count]="pageable?.totalElements"
                                           (eventChangePageSize)='handleChangePageSize($event)'
                                           [hasDropdown]='true'
                                           [hidden]="false"
                                           (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

