.birthday-warning{
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    label {
      font-size: 13px;
    }
  }
}
