<div class="d-flex align-items-center h-100 padding">
  <div class="d-flex flex-column w-50 mr-3 justify-content-between h-100">
      <div>
          <div class="f-16 text-black chart__header-title pl-3 pb-3">
              Phễu Khách hàng
          </div>
      </div>
      <div *ngIf="option1"
           class="d-flex w-100"
           style="background-color: #fff;border-radius: 12px"
           echarts
           [options]="option1">
      </div>
      <div class="d-flex w-100 h-100 justify-content-center align-items-center"
           *ngIf="!option1">
          Không có dữ liệu
      </div>
  </div>
  <div class="d-flex flex-column w-50 ml-3 justify-content-between h-100">
      <div>
          <div class="f-16 text-black chart__header-title pl-3 pb-3">
              Biểu đồ dịch chuyển Biz
          </div>
          <div [formGroup]="form"
               class="d-flex justify-content-between px-3 w-100">
              <div class="w-50 pr-3">
                  <label>Kiểu thời điểm</label>
                  <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                              [options]="dateTimeBitzOption"
                              class="d-block"
                              formControlName="dateOption"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="name"
                              optionValue="code"
                              [autoDisplayFirst]="false"></p-dropdown>
              </div>
              <div class="w-50 pl-3">
                  <label>{{ 'Thời điểm' }}</label>
                  <p-calendar *ngIf="form.controls.dateOption.value == 'month'" class="d-block custom-calendar"
                              formControlName="dateBitz"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              [showIcon]="true"
                              [view]="'month'"
                              icon="las la-calendar-alt"
                              [dateFormat]="'mm/yy'"
                              [maxDate]="now">
                  </p-calendar>
                  <p-dropdown *ngIf="form.controls.dateOption.value == 'year'" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                      [options]="rangerYear"
                      class="d-block"
                      formControlName="year"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                      [autoDisplayFirst]="false">
                  </p-dropdown>
              </div>
          </div>
      </div>
      <div *ngIf="option2"
           class="d-flex w-100"
           style="background-color: #fff;border-radius: 12px; padding-right: 15px;"
           echarts
           [options]="option2">
      </div>
      <div *ngIf="!option2"
           class="d-flex w-100 h-100 justify-content-center align-items-center">
          Không có dữ liệu
      </div>
  </div>
</div>