<div class="chart" [id]="'chart-' + type?.toLowerCase()">
    <div class="chart__header block-center-between">
        <div class="chart__header-left">
            <div class="f-14 font-weight-bold text-black chart__header-title">{{ 'serviceProduct.' + type?.toLowerCase()
                | translate }}
            </div>
        </div>
        <div class="chart__header-right">
        </div>
    </div>
    <ng-container *ngIf="!isLoading && data?.length > 0">
        <div class="chart__body">
            <div echarts [options]="option" style="height: 100%;"></div>
        </div>
        <!-- <div class="chart__legend">
            <ul>
                <li *ngFor="let item of data" class="block-center-between">
                    <div class="chart__legend-left">
                        <span class="legend-bage" [ngStyle]="{backgroundColor: item.color}"></span>{{item.label}}
                    </div>
                    <div class="chart__legend-right">
                        <span>{{item.value}}</span>
                    </div>
                </li>
            </ul>
        </div> -->
    </ng-container>
    <ng-container *ngIf="!isLoading && (!data || data.length === 0)">
        <div class="chart__empty">
            <div class="f-13">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
    </ng-container>
    <app-loading *ngIf="isLoading"></app-loading>
</div>