<div class="right-view">
  <div class="d-flex justify-content-between content_top p-3">
    <div class="d-flex align-items-center" >
      <button class="btn btn--light-blue btn-small pr-3" (click)="close()"><em class="las la-undo f-16"></em> Quay lại</button>
      <h3>Ngoại lệ phí</h3>
    </div>
    <div *ngIf="!modeView || (params?.action && params?.action != 'approved')" class="d-flex">
      <button *ngIf="!isLoading" class="btn btn--light-blue btn-small pr-3" (click)="save()" >Lưu</button>
      <button *ngIf="!isLoading" class="btn btn--light-blue btn-small pr-3" (click)="confirm()">Trình duyệt</button>
    </div>
    <div *ngIf="params?.action == 'approved' && !isLoading">
      <button class="btn btn--light-blue btn-small pr-3" (click)="approval(1)">Từ chối</button>
      <button class="btn btn--light-blue btn-small pr-3" (click)="approval(0)">Đồng ý</button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-3 overflow-auto">
      <div class='section p-3 info'>
        <div class='row'>
          <div class="col-6 d-flex py-3">
            <div class="w-36"><span>Mã khách hàng</span></div>
            <div class="w-46 font-weight-bold">{{info?.customerCode || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Tên khách hàng</div>
            <div class="w-46 font-weight-bold">{{info?.customerName || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">MST/DKKD/GTTT</div>
            <div class="w-46 font-weight-bold">{{info?.taxCode || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Phân khúc(Theo DTBQ 3 năm gần nhất)</div>
            <div *ngIf="customerHaveCode" class="w-46 font-weight-bold">{{info?.searchSme?.segment == "Không xác định" || !info?.searchSme?.segment ? '--' : info?.searchSme?.segment}}</div>
            <div [formGroup]='form' *ngIf="!customerHaveCode" class="w-46 font-weight-bold">
              <p-dropdown *ngIf="!isSegment" [autoDisplayFirst]='false'
              [options]="dataCommon['REVENUE_CUSTOMER_SEGMENT']"
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              formControlName='segment' optionLabel='name' optionValue='description'>
              </p-dropdown>
              <div *ngIf="isSegment" class="w-46 font-weight-bold">{{getSegment(form.controls.segment.value)}}</div>
            </div>

          </div>
          <!-- <div class="col-6 d-flex py-3">
            <div class="w-36">Số năm quan hệ với MB</div>
            <div class="w-46 font-weight-bold">{{generateRelationshipTimeWithMB(info)}}</div>
          </div> -->
          <div class="col-6 d-flex py-3">
            <div class="w-36">Xếp hạng tín dụng</div>
            <div class="w-46 font-weight-bold">{{info?.ketQuaXhtd || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Đối tượng</div>
            <div class="w-46 font-weight-bold">{{info?.searchSme?.classification || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Cơ cấu khách hàng</div>
            <div class="w-46 font-weight-bold">{{info?.customerType || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Loại khách hàng</div>
            <div class="w-46 font-weight-bold">{{info?.LOAI_KH === 'Khach hang cu' ? 'Khách hàng cũ' : 'Khách hàng mới'}}</div>
          </div>
          <ng-container *ngIf="isManage">
            <div class="col-6 d-flex py-3">
              <div class="w-36">TOI hiện hữu (%)</div>
              <div class="w-46 font-weight-bold">{{info?.TOI*100 | formatNumber : null : 2}}</div>
            </div>
            <div class="col-6 d-flex py-3">
              <div class="w-36">DTTTRR (trđ)</div>
              <div class="w-46 font-weight-bold">{{(info?.DTTTRR/1000000) | formatNumber : null : 2}}</div>
            </div>
          </ng-container>
          <div [formGroup]='form' class="col-6 d-flex py-3">
            <div class="w-36">TOI cam kết (%)</div>
            <div class="w-46 isView">
              <p-inputNumber locale="en-US" [minFractionDigits]='2' [min]='0' class='w-64' formControlName='toi'
                       maxFractionDigits='2' mode='decimal' placeholder='0.00' styleClass='w-100'>
              </p-inputNumber>
            </div>
          </div>
          <div  class="col-6 d-flex py-3">
            <div class="w-36">DTTTRR cam kết (trđ)</div>
            <div class="w-46 isView">
              <input class='w-100 form-control' [value]=" convertDtttrr() ? (convertDtttrr() | formatNumber : null : 2) : ''" placeholder='0.00'>
            </div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-36">Thời gian đánh giá</div>
            <div class="w-46 font-weight-bold">6 tháng</div>
          </div>
          <div class="col-6 d-flex py-3">
            <button (click)='openPopupCalculateTOI()' class='btn btn--light-blue btn-calculate-toi m-left-2'>
              {{'reductionProposal.labels.calculateTOI' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div [ngClass]="{'isView': modeView}" [formGroup]='form' class='section p-3'>
        <div class='row'>
          <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
            <h6>Phạm vi áp dụng</h6>
          </div>
          <div class='pt-1 pb-1 col-3 d-flex align-items-center'>
            <p-dropdown [options]='customerHaveCode ? allScopeApplys : scopeApplysKhTn'
              appendTo='body' class='d-block w-100'
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='scopeApply'
              optionLabel='displayName' optionValue='code'>
            </p-dropdown>
            <small *ngIf='form?.controls?.scopeApply?.errors?.cusRequired && form?.controls?.scopeApply?.touched'
              class='p-error'>
              {{'validationMessage.required' | translate }}</small>
          </div>
        </div>
      </div>
      <div class="section p-3">
        <div class="d-flex justify-content-between align-items-center">
          <h6>Thông tin giảm phí</h6>
          <div [ngClass]="{'isView': modeView}">
            <button (click)="openFeeModal('fee')"
              *ngIf="form?.controls.scopeApply.value === 'ALL' || form?.controls.scopeApply.value === 'UNKNOWN'"
              class='btn btn--light-blue btn-small btn-select-fee mr-4'>
              {{ 'reductionProposal.labels.selectFee' | translate }}
            </button>
            <button (click)='openOptionCodeModal()' *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE'"
              class='btn btn--light-blue btn-small btn-select-caseOption mr-4'>
              {{ 'reductionProposal.labels.selectCaseOption' | translate }}
            </button>
            <button (click)='openLdCodeModal()' *ngIf="form?.controls.scopeApply.value === 'LD_CODE'"
              class='btn btn--light-blue btn-small btn-select-LD mr-4'>
              {{ 'reductionProposal.labels.selectLD' | translate }}
            </button>
            <button (click)='openMdCodeModal()' *ngIf="form?.controls.scopeApply.value === 'MD_CODE'"
              class='btn btn--light-blue btn-small btn-select-MD mr-4'>
              {{ 'reductionProposal.labels.selectMD' | translate }}
            </button>
          </div>
        </div>
        <div class="mt-3" style="overflow: auto; max-height: 370px">
            <p-table [autoLayout]='true' [style]="{'width':'100%'}" [value]="dataTable">
              <ng-template pTemplate='header'>
                <tr>
                  <th
                  *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' || form?.controls.scopeApply.value === 'LD_CODE' || form?.controls.scopeApply.value === 'MD_CODE'"
                  rowspan='2'>
                  {{
                  form?.controls.scopeApply.value === 'OPTION_CODE' ? 'Mã phương án hạn mức' :
                    form?.controls.scopeApply.value === 'LD_CODE' ? 'Mã LD' :
                      form?.controls.scopeApply.value === 'MD_CODE' ? 'Mã MD' : ''
                  }}
                  </th>
                  <th  rowspan='2'>Tên phí/Khoản mục phí</th>
                  <th class='text-center' rowspan='2'>Loại tiền tệ</th>
                  <th class='text-center' rowspan='2'>Phân loại phí</th>
                  <th class='text-center' colspan='3'>Biểu theo quy định</th>
                  <th class='text-center' colspan='6'>Biểu đề xuất giảm</th>
                  <th class='text-center' rowspan='2'>...</th>
                </tr>
                <tr>
                  <th class='text-center'>Mức phí</th>
                  <th class='text-center'>Phí tối thiểu</th>
                  <th class='text-center'>Phí tối đa</th>
                  <th class='text-center'>Mức phí</th>
                  <th class='text-center'>Tỉ lệ giảm <br> mức phí (%)</th>
                  <th class='text-center'>Phí tối thiểu</th>
                  <th class='text-center'>Tỉ lệ giảm <br> phí tối thiểu (%)</th>
                  <th class='text-center'>Phí tối đa</th>
                  <th class='text-center'>Tỉ lệ giảm <br> phí tối đa (%)</th>
                </tr>
              </ng-template>
              <ng-template let-product pTemplate='body'>
                <tr>
                  <td *ngIf="form?.controls.scopeApply.value !== 'UNKNOWN' && form?.controls.scopeApply.value !== 'ALL'" class='text-center'>
                  {{product?.code || '--'}}
                  </td>
                  <td *ngIf="form?.controls.scopeApply.value === 'UNKNOWN' || form?.controls.scopeApply.value === 'ALL'">
                    <div style="max-width: 400px; overflow: hidden; text-overflow: ellipsis;">
                      <span style="white-space: nowrap" [title]="product?.descriptionVn">{{product?.descriptionVn}}</span>
                    </div>
                  </td>
                  <td [ngClass]="{'isView': modeView}" *ngIf="form?.controls.scopeApply.value !== 'UNKNOWN' && form?.controls.scopeApply.value !== 'ALL'">
                    <a (click)="openFeeModal('option', product)" class='text-info style-link'>
                      {{product?.descriptionVn || 'Chọn biểu phí'}}
                    </a>
                  </td>
                  <td class='text-center'>{{product?.currency || '--'}}</td>
                  <td class='text-center'>{{product?.chargeType ? 'Loại ' + product?.chargeType : '--'}}</td>
                  <td class='text-center'>{{product?.chgAmtFrom || '--'}}{{product?.chgAmtFrom ? displayWithUnit(product?.valueRefDoc,product?.chargeUnit) : ''}}</td>
                  <td class='text-center'>{{product?.minCharge || '--'}}{{product?.minCharge ? displayWithUnit(null,product?.chargeUnit) : ''}}</td>
                  <td class='text-center'>{{product?.maxCharge || '--'}}{{product?.maxCharge ? displayWithUnit(null,product?.chargeUnit) : ''}}</td>
                  <td [ngClass]="{'isView': modeView}">
                    <p-inputNumber styleClass="width-input-table" [min]="0" maxlength='15' [(ngModel)]="product.suggestCost" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2" [maxFractionDigits]="13" (onBlur)="changeSuggestCost($event, product)" (onInput)="changeSuggestCost($event, product)">
                    </p-inputNumber>
                  </td>
                  <td>{{product.rateCost}}</td>
                  <td [ngClass]="{'isView': modeView}">
                    <p-inputNumber styleClass="width-input-table" [min]="0" maxlength='15' [(ngModel)]="product.suggestMin" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2" [maxFractionDigits]="13" (onBlur)="changeSuggestMin($event, product)" (onInput)="changeSuggestMin($event, product)">
                    </p-inputNumber>
                  </td>
                  <td>{{product.rateMin}}</td>
                  <td [ngClass]="{'isView': modeView}">
                    <p-inputNumber styleClass="width-input-table" [min]="0" maxlength='15' [(ngModel)]="product.suggestMax" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"  [maxFractionDigits]="13" (onBlur)="changeSuggestMax($event, product)" (onInput)="changeSuggestMax($event, product)">
                    </p-inputNumber>
                    <small #errorMessage *ngIf="+product.suggestMax < +product.suggestMin" class='p-error'>{{'Phí tối đa đề xuất phải > Phí tối thiểu đề xuất'}}</small>
                  </td>
                  <td>{{product.rateMax}}</td>
                  <td [ngClass]="{'isView': modeView}" class='text-center'>
                    <button (click)='removeItem(product)' class='btn-outline btn-danger' title='Xóa' type='button'><em class='ic-x'></em></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </div>
      </div>
      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Hiệu lực của tờ trình</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <p-dropdown [readonly]="modeView" placeholder="Chọn số tháng"  [autoDisplayFirst]='false' [options]='effects' appendTo='body'
              class='d-block w-100'
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='monthApply'
              optionLabel='displayName' optionValue='code'>
            </p-dropdown>
          </div>
          <div class='p-error d-flex align-items-center' *ngIf="showErrControl('monthApply')">
            <span>Trường này bắt buộc</span>
          </div>
        </div>
      </div>
      <div [ngClass]="{'isView': modeView}" [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Ngày duyệt tờ trình trên MO</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <p-calendar [readonlyInput]="modeView" dateFormat="dd/mm/yy" [maxDate]="maxDate" class="w-100" formControlName='approvedDateMO' [placeholder]="'dd/mm/yyyy'"></p-calendar>
          </div>
          <div class='p-error d-flex align-items-center' *ngIf="showErrControl('approvedDateMO')">
            <span>Trường này bắt buộc</span>
          </div>
        </div>
      </div>
      <div class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Ngày hết hiệu lực tờ trình</h6>
          </div>
          <div style="padding-left: 22px;" class='col-6 d-flex align-items-center font-weight-bold'>
            {{dateEffect()}}
          </div>
        </div>
      </div>
      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Username cấp phê duyệt</h6>
          </div>
          <div class='col-3'>
            <input [readonly]="modeView" (blur)='getInfoAuthorization($event)' maxlength='50' pInputText type="text" formControlName="userName" placeholder="ví dụ: hongpt1.ho">
            <div class='p-error d-flex align-items-center' *ngIf="showErrControl('userName')">
              <span>Trường này bắt buộc</span>
            </div>
          </div>
          <div class='col-2 d-flex align-items-center'>
            <h6 class='w-100 text-center'>Họ và tên cấp phê duyệt</h6>
          </div>
          <div class='col-3'>
            <input [readonly]="modeView" maxlength='50' pInputText type="text" rows="1" formControlName="fullName">
            <div class='p-error d-flex align-items-center' *ngIf="showErrControl('fullName')">
              <span>Trường này bắt buộc</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Chức danh phê duyệt</h6>
          </div>
          <div class='col-8 d-flex align-items-center'>
            <input [readonly]="modeView" maxlength='50' pInputText type="text" rows="1" formControlName="titleCategory">
            <div class='p-error d-flex align-items-center' *ngIf="showErrControl('titleCategory')">
              <span>Trường này bắt buộc</span>
            </div>
          </div>
        </div>
      </div>
      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Lý do trình ngoại lệ</h6>
          </div>
          <div class='col-8 d-flex align-items-center'>
            <p-dropdown [readonly]="modeView" [autoDisplayFirst]='false' [options]='reason' appendTo='body'
              class='d-block w-100'
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='reason'
              optionLabel='displayName' optionValue='code'>
            </p-dropdown>
          </div>
          <div class='p-error d-flex align-items-center' *ngIf="showErrControl('reason')">
            <span>Trường này bắt buộc</span>
          </div>
        </div>
      </div>
      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Mã hotrocntt</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input [readonly]="modeView" pInputText class="w-100" [styleClass]="'w-100'" formControlName='codeHTCNTT' [maxlength]="50">
          </div>
          <div class='p-error d-flex align-items-center' *ngIf="!form.controls.codeHTCNTT.value && (clickSave || form.controls.codeHTCNTT.touched) && form.controls.reason.value == 1">
            <span>Trường này bắt buộc</span>
          </div>
        </div>
      </div>
      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Mã tờ trình MO</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input [readonly]="modeView" pInputText maxlength='50' [styleClass]="'w-100'" type="text" rows="1" formControlName="moCode">
          </div>
          <div class='p-error d-flex align-items-center' *ngIf="showErrControl('moCode')">
            <span>Trường này bắt buộc</span>
          </div>
          <div #errorMessage class='p-error d-flex align-items-center' *ngIf="form.controls.moCode?.errors?.pattern">
            <span>Không được nhập ký tự {{'!@#$%\^&*()+_{:?<>'}}</span>
          </div>
        </div>
      </div>
      <div class="section p-3">
        <h6>Upload file </h6>
        <div class="mb-5 mt-3 col-8">
          <div [ngClass]="{'isView': modeView}" class="import-file" style="padding-top: 21px;" draggable="true" (dragover)="onDragOver($event)"
            (drop)="onDropSuccess($event)">
            <input type="file" multiple #inputFile accept=".xls,.xlsx,.pdf,.doc,.docx" style="visibility: hidden;"
              (change)="changeFile($event)">
            <em class="upload-cloud i-58 mini-icon mr-2 mb-3"></em>
            <span class="mb-2" style="font-size: 16px;font-weight: 600;">
              Kéo thả file vào đây để tải lên
            </span>
            <span style="color: #141ED2; border-bottom: 1px solid #141ED2; cursor: pointer;"
              (click)="openDownloadFilePopup(inputFile)">
              Hoặc ấn vào đây để chọn file
            </span>
          </div>

          <!-- fileIdList -->
          <div>
            <div style="background-color: #F3F3F3" class="d-flex justify-content-between align-items-center p-2 my-2" *ngFor="let file of listFile ">
              <div class="d-flex align-items-center">
                <em class="cloud-file i-30 mini-icon mr-2"></em>
                <span class="mr-2 hyperlink" (click)="download(file)">{{file.fileName}}
                </span>
              </div>
              <i [ngClass]="{'isView': modeView}" class="pi pi-times" style="color: red; font-size: 20px;" (click)="removeFile(file.fileId)"></i>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'isView': modeView}" [formGroup]='form' class="section p-3">
        <div class="d-flex align-items-center">
          <p-checkbox formControlName="commitment" [binary]="true"></p-checkbox>
          <div class="font-weight-bold ml-3">
            RM chịu trách nhiệm với toàn bộ nội dung xác nhận khớp đúng với nội dung phê duyệt của Cấp phê duyệt!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
