.section {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 5px 0;
    margin-bottom: 20px;
}

.import-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBF3FF;
    border-radius: 10px;
    border-style: dashed;
    width: 100%;
    height: 200px;
}

h6 {
    margin-bottom: 0 !important;
}

.info {
    color: #737373;
}

.ic-x {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    background-image: url(/assets/images/checkx-big-red.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hyperlink {
    color: #bbbbfd;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        color: #1649ef;
        text-decoration: underline;
    }
}

.isView {
    pointer-events: none;
}

::ng-deep .w-100 {
    width: 100%;
}

::ng-deep .width-input-table {
    width: 114px !important;
}

.row {
    padding: 0 !important;
}

h3 {
    margin: 0 !important;
    padding-left: 15px;
}
::ng-deep.style-table {
    max-height: 341px;
    overflow-y: auto;
}
