@import 'variable';

.lead-create {
  .list__block {
    overflow-y: auto;
  }
  .form-body {
    flex: 1 1 auto;
  }
  .title-info {
    margin-bottom: 1.75rem;
    h5 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .p-inputnumber {
    display: inline-flex;
    width: 100%;
  }

  .disabled-empty-field {
    background-color: whitesmoke !important;
  }
}
