<div class='right-view lead-create'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button (click)='back()' class='btn btn--light-blue btn-small'>
        <em class='las la-undo f-16'></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>{{ title }}</h3>
    </div>
    <div class='content__top-right'></div>
  </div>
  <div class='content'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block'>
          <div class='form-body px-4 mt-3'>
            <div class='title-info'>
              <h5>{{ 'potentialCustomerCreate.title.basicInfo' | translate }}</h5>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <label>Loại khách hàng</label>
                <div class='d-flex'>
                  <div *ngIf='haveSME' [formGroup]='form' class='p-field-radiobutton mr-4'>
                    <p-radioButton formControlName='customerType' value='1'></p-radioButton>
                    <label class='ml-2'>Khách hàng tiềm năng doanh nghiệp</label>
                  </div>
                  <div *ngIf='haveInDiv' [formGroup]='form' class='p-field-radiobutton'>
                    <p-radioButton formControlName='customerType' value='0'></p-radioButton>
                    <label class='ml-2'>Khách hàng tiềm năng cá nhân</label>
                  </div>
                </div>
              </div>
              <ng-container *ngIf='commonData.isKHDN'>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Tên khách hàng đầy đủ <span class='text-red'>(*)</span></label>
                  <input
                    class='d-block'
                    formControlName='fullName'
                    maxlength='200'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                  <small
                    *ngIf='form?.controls?.fullName?.errors?.cusRequired && form?.controls?.fullName?.touched'
                    class='p-error'
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Mã số thuế <span class='text-red'>(*)</span></label>
                  <input class='d-block' formControlName='taxCode' maxlength='50' pInputText placeholder=''
                         type='text' />
                  <small
                    *ngIf='form?.controls?.taxCode?.errors?.cusRequired && form?.controls?.taxCode?.touched'
                    class='p-error'
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                  <small
                    *ngIf='form?.controls?.taxCode?.errors?.taxCode && form?.controls?.taxCode?.touched'
                    class='p-error'
                  >Sai định dạng, chỉ cho phép nhập chữ, số và '-,/'</small
                  >
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Ngày đăng ký thành lập doanh nghiệp</label>
                  <p-calendar
                    [maxDate]='toDate'
                    [showIcon]='true'
                    appendTo='body'
                    class='d-block'
                    dateFormat='dd/mm/yy'
                    formControlName='dateOfBirth'
                    icon='las la-calendar-alt'
                  >
                  </p-calendar>
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Số ĐKKD/QĐTL <span class='text-red'>(*)</span></label>
                  <input
                    class='d-block'
                    formControlName='businessRegistrationNumber'
                    maxlength='50'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                  <small
                    *ngIf='
                      form?.controls?.businessRegistrationNumber?.errors?.cusRequired &&
                      form?.controls?.businessRegistrationNumber?.touched
                    '
                    class='p-error'
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                  <small
                    *ngIf='
                      form?.controls?.businessRegistrationNumber?.errors?.taxCode &&
                      form?.controls?.businessRegistrationNumber?.touched
                    '
                    class='p-error'
                  >Sai định dạng, chỉ cho phép nhập chữ, số và '-,/'</small
                  >
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Số nhà, tên đường</label>
                  <input
                    class='d-block'
                    formControlName='address'
                    maxlength='1000'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Tỉnh thành/Quận huyện/Xã phường</label>
                  <input
                    (blur)='detach()'
                    (click)='chooseLocation()'
                    class='d-block'
                    formControlName='location'
                    pInputText
                    type='text'
                  />
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Loại hình doanh nghiệp</label>
                  <p-dropdown
                    [options]='commonData.listBusiness'
                    appendTo='body'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='typeOfBusiness'
                    optionLabel='name'
                    optionValue='code'
                    placeholder=' '
                  ></p-dropdown>
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Nguồn khách hàng</label>
                  <p-dropdown
                    [options]='commonData.listSourceCustomer'
                    appendTo='body'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='sourceLeadCode'
                    optionLabel='name'
                    optionValue='code'
                    placeholder=' '
                  ></p-dropdown>
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Doanh thu tài chính (đồng)</label>
                  <input
                    (input)='convertNumber($event.target.value, "financialRevenue", true)'
                    class='d-block'
                    formControlName='financialRevenue'
                    maxlength='39'
                    pInputText
                    type='text'
                  />
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Doanh số XNK (USD)</label>
                  <input
                    (input)='convertNumber($event.target.value, "salesImportAndExport", true)'
                    class='d-block'
                    formControlName='salesImportAndExport'
                    maxlength='39'
                    pInputText
                    type='text'
                  />
                </div>
                <div class='col-md-4 form-group'>
                  <label class=''>Ngành nghề lĩnh vực</label>
                  <lp-industry (modelChange)='fillIndustry($event)' [typeCustomer]= '"KHTN"' [(model)]='industryCode'></lp-industry>
                </div>

                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Số lao động</label>
                  <input
                    (input)='convertNumber($event.target.value, "numberOfEmployees", true)'
                    class='d-block'
                    formControlName='numberOfEmployees'
                    maxlength='39'
                    pInputText
                    type='text'
                  />
                  <small
                    *ngIf='
                      form?.controls?.numberOfEmployees?.errors?.onlyNumber && form?.controls?.numberOfEmployees?.touched
                    '
                    class='p-error'
                  >{{ 'validationMessage.onlyNumber' | translate }}</small
                  >
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Điện thoại</label>
                  <input class='d-block' formControlName='phone' maxlength='15' pInputText placeholder='' type='text' />
                  <small
                    *ngIf='form?.controls?.phone?.errors?.onlyNumber && form?.controls?.phone?.touched'
                    class='p-error'
                  >{{ 'validationMessage.onlyNumber' | translate }}</small
                  >
                </div>


                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Email</label>
                  <input
                    class='d-block'
                    formControlName='email'
                    maxlength='50'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                  <small
                    *ngIf='
                      form?.controls?.email?.errors?.email && form?.controls?.email?.touched
                    '
                    class='p-error'
                  >{{ 'validationMessage.noEmail' | translate }}</small
                  >
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Website</label>
                  <input
                    class='d-block'
                    formControlName='website'
                    maxlength='350'
                    pInputText
                    (keyup)='checkUrlWebsite($event)'
                  />
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Vốn điều lệ Việt Nam (VND)</label>
                  <input
                    (input)='convertNumber($event.target.value, "vnCapAmt", true)'
                    class='d-block'
                    formControlName='vnCapAmt'
                    maxlength='39'
                    pInputText
                    type='text'
                  />
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Vốn điều lệ nước ngoài (VND)</label>
                  <input
                    (input)='convertNumber($event.target.value, "frgCapAmt", true)'
                    class='d-block'
                    formControlName='frgCapAmt'
                    maxlength='39'
                    pInputText
                    type='text'
                  />
                </div>
                <div [formGroup]='form' class='col-md-4 form-group'>
                  <label>Tổng vốn đầu tư (VND)</label>
                  <input
                    (input)='convertNumber($event.target.value, "totalInvestCapAmt", true)'
                  class='d-block'
                  formControlName='totalInvestCapAmt'
                  maxlength='39'
                  pInputText
                  type='text'
                  />
                </div>
                <div class='col-md-12'>
                  <div class='title-info'>
                    <h5>Thông tin hệ thống</h5>
                  </div>
                </div>

                <div class='col-md-12'>
                  <div class='row'>
                    <div [formGroup]='form' class='col-md-4 form-group' >
                      <label>Mã khách hàng (CIF)</label>
                      <input
                        class='d-block'
                        formControlName='leadCode'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                        [ngClass]="{'disabled-empty-field': form.controls.leadCode.disabled}"
                      />
                    </div>

                    <div [formGroup]='form' class='col-md-4 form-group'>
                      <label>Loại khách hàng</label>
                      <input
                        class='d-block'
                        formControlName='customerTypeName'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>

                    <div [formGroup]='form' class='col-md-4 form-group'>
                      <label>CN quản lý</label>
                      <p-dropdown
                        [autoDisplayFirst]='false'
                        [filter]='true'
                        [itemSize]='31'
                        [options]='commonData.listBranchManager'
                        [virtualScroll]='true'
                        appendTo='body'
                        class='d-block'
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='branchCode'
                        optionLabel='name'
                        optionValue='code'
                        placeholder=' '
                      ></p-dropdown>
                    </div>

                    <div [formGroup]='form' class='col-md-4 form-group'>
                      <label>RM được phân giao quản lý</label>
                      <p-dropdown
                        [autoDisplayFirst]='false'
                        [filter]='true'
                        [itemSize]='31'
                        [options]='commonData.listRmManager'
                        [virtualScroll]='true'
                        appendTo='body'
                        class='d-block'
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='rmCode'
                        optionLabel='displayName'
                        optionValue='code'
                        placeholder=' '
                      ></p-dropdown>
                    </div>

                    <div [formGroup]='form' class='col-md-4 form-group'>
                      <label>Đơn vị upload</label>
                      <input
                        class='d-block'
                        formControlName='branchUpload'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>

                    <div [formGroup]='form' class='col-md-4 form-group'>
                      <label>Ngày thực hiện upload</label>
                      <input
                        class='d-block'
                        formControlName='createdDate'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf='commonData.isIndiv'>
                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.customerName' | translate }}<span
                    class='text-red'>(*)</span></label>
                  <input
                    class='d-block'
                    formControlName='customerName'
                    maxlength='200'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                  <small
                    *ngIf='formKHCN?.controls?.customerName?.errors?.cusRequired && formKHCN?.controls?.customerName?.touched'
                    class='p-error'
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.idCard' | translate }}<span class='text-red'>(*)</span></label>
                  <input class='d-block' formControlName='idCard' maxlength='50' pInputText placeholder=''
                         type='text' />
                  <small
                    *ngIf='formKHCN?.controls?.idCard?.errors?.cusRequired && formKHCN?.controls?.idCard?.touched'
                    class='p-error'
                  >{{ 'validationMessage.required' | translate }}</small
                  >
                  <small
                    *ngIf='formKHCN?.controls?.idCard?.errors?.idCard && formKHCN?.controls?.idCard?.touched'
                    class='p-error'
                  >Sai định dạng, chỉ cho phép nhập chữ, số và '-,/'</small
                  >
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.birthday' | translate }}</label>
                  <p-calendar
                    [maxDate]='today'
                    [showIcon]='true'
                    [yearNavigator]='true'
                    appendTo='body'
                    class='d-block'
                    dateFormat='dd/mm/yy'
                    formControlName='birthday'
                    icon='las la-calendar-alt'
                    readonlyInput='true'
                    yearRange='1900:2022'
                  >
                  </p-calendar>
                </div>

                <div class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.gender' | translate }}</label>
                  <div class='d-flex'>
                    <div [formGroup]='formKHCN' class='p-field-radiobutton mr-4'>
                      <p-radioButton formControlName='gender' value='1'></p-radioButton>
                      <label class='ml-2'>{{ 'fields.male' | translate }}</label>
                    </div>
                    <div [formGroup]='formKHCN' class='p-field-radiobutton'>
                      <p-radioButton formControlName='gender' value='0'></p-radioButton>
                      <label class='ml-2'>{{ 'fields.female' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.national' | translate }}</label>
                  <p-dropdown
                    [options]='commonData.listCountry'
                    appendTo='body'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='national'
                    optionLabel='name'
                    optionValue='code'
                    placeholder=' '
                  ></p-dropdown>
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.email' | translate }}</label>
                  <input
                    class='d-block'
                    formControlName='email'
                    maxlength='50'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                  <small
                    *ngIf='
                    formKHCN?.controls?.email?.errors?.email && formKHCN?.controls?.email?.touched
                    '
                    class='p-error'
                  >{{ 'validationMessage.noEmail' | translate }}</small
                  >
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.phone' | translate }}</label>
                  <input class='d-block' formControlName='phone' maxlength='15' pInputText placeholder='' type='text' />
                  <small
                    *ngIf='formKHCN?.controls?.phone?.errors?.onlyNumber && formKHCN?.controls?.phone?.touched'
                    class='p-error'
                  >{{ 'validationMessage.onlyNumber' | translate }}</small
                  >
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.address' | translate }}</label>
                  <input
                    class='d-block'
                    formControlName='address'
                    maxlength='255'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.potentialLevel' | translate }}</label>
                  <p-dropdown
                    [options]='commonData.listPotentialLevel'
                    appendTo='body'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='potentialLevel'
                    optionLabel='name'
                    optionValue='code'
                    placeholder=' '
                  ></p-dropdown>
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.job' | translate }}</label>
                  <input
                    class='d-block'
                    formControlName='job'
                    maxlength='255'
                    pInputText
                    placeholder=''
                    type='text'
                  />
                </div>

                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.incomePerMonth' | translate }}</label>
                  <p-inputNumber
                    class='d-block'
                    formControlName='incomePerMonth'
                    maxlength='21'
                  ></p-inputNumber>
                </div>
                <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                  <label>{{ 'potentialCustomerCreate.customerResources' | translate }}</label>
                  <p-dropdown
                    [options]='commonData.listCustomerResources'
                    appendTo='body'
                    class='d-block'
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='customerResources'
                    optionLabel='name'
                    optionValue='code'
                    placeholder=' '
                  ></p-dropdown>
                </div>

                <div class='col-md-12'>
                  <div class='title-info'>
                    <h5>{{ 'potentialCustomerCreate.title.sysInfo' | translate }}</h5>
                  </div>
                </div>

                <div class='col-md-12'>
                  <div class='row'>
                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.leadCode' | translate }}</label>
                      <input
                        class='d-block'
                        formControlName='leadCode'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>

                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.customerTypeName' | translate }}</label>
                      <input
                        class='d-block'
                        formControlName='customerTypeName'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>

                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.branchCode' | translate }}</label>
                      <p-dropdown
                        [autoDisplayFirst]='false'
                        [disabled]="this.actionType === 'UPDATE'"
                        [filter]='true'
                        [itemSize]='31'
                        [options]='commonData.listBranchManager'
                        [virtualScroll]='true'
                        appendTo='body'
                        class='d-block'
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='branchCode'
                        optionLabel='name'
                        optionValue='code'
                        placeholder=' '
                      ></p-dropdown>
                    </div>

                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.rmCode' | translate }}</label>
                      <p-dropdown
                        [autoDisplayFirst]='false'
                        [disabled]="this.actionType === 'UPDATE'"
                        [filter]='true'
                        [itemSize]='31'
                        [options]='commonData.listRmManager'
                        [virtualScroll]='true'
                        appendTo='body'
                        class='d-block'
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='rmCode'
                        optionLabel='displayName'
                        optionValue='code'
                        placeholder=' '
                      ></p-dropdown>
                    </div>

                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.branchUpload' | translate }}</label>
                      <input
                        class='d-block'
                        formControlName='branchUpload'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>

                    <div [formGroup]='formKHCN' class='col-md-4 form-group'>
                      <label>{{ 'potentialCustomerCreate.createdDate' | translate }}</label>
                      <input
                        class='d-block'
                        formControlName='createdDate'
                        maxlength='100'
                        pInputText
                        placeholder=''
                        type='text'
                      />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class='px-4 pb-4 text-left btn-action'>
            <ng-container *ngIf='commonData.isKHDN'>
              <button (click)='save()' class='btn btn--light-blue btn-small'>{{ 'btnAction.save' | translate }}</button>
            </ng-container>

            <ng-container *ngIf='commonData.isIndiv'>
              <button (click)='cancelKHCN()'
                      class='btn btn-default btn-small'>{{ 'btnAction.cancel' | translate }}</button>
              <button (click)='saveKHCN()' [disabled]='this.formKHCN.invalid'
                      class='btn btn--light-blue btn-small'>{{ 'btnAction.save' | translate }}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
