<div class="chart dashboard-business-chart-sme">
  <div class="chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">{{ title }}</div>
    </div>
    <div class="chart__header-right">
      <div *ngIf="isTable">
        Đơn vị: {{ data.key === 'TOP10_DUNO' || data.key === 'TOP10_HĐV' ? 'tỷ' : 'triệu' }} đồng
      </div>
      <p-dropdown
        *ngIf="!isTable"
        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
        [options]="listType"
        class="d-block"
        appendTo="body"
        autoZIndex="false"
        baseZIndex="10000"
        optionLabel="name"
        optionValue="code"
        [(ngModel)]="type"
        (onChange)="onChangeType($event)"
      ></p-dropdown>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && !isEmpty">
    <div class="chart__body">
      <div *ngIf="!isTable" echarts [options]="option" style="height: 100%"></div>
      <div *ngIf="isTable" class="table__view h-100">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [rows]="listDataTable"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [virtualization]="false"
          [externalPaging]="false"
          [scrollbarH]="true"
        >
          <ngx-datatable-column
            [sortable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="50"
            [frozenLeft]="true"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            [width]="150"
            [frozenLeft]="true"
            [canAutoResize]="false"
            [resizeable]="false"
          >
            <ng-template let-row="row" ngx-datatable-header-template>
              {{ 'fields.customerCode' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                (click)="viewDetail(row)"
                title="{{ row.CUSTOMER_CODE }}"
                >{{ row.CUSTOMER_CODE }}</a
              >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" [canAutoResize]="false" [width]="380" [frozenLeft]="true">
            <ng-template ngx-datatable-header-template>
              {{ 'fields.customerName' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span title="{{ row.CUSTOMER_NAME }}">{{ row.CUSTOMER_NAME }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" [width]="200">
            <ng-template ngx-datatable-header-template>
              {{ 'fields.branch_name_level_1' | translate }}
            </ng-template>
            <ng-template let-row="row"  ngx-datatable-cell-template>
              <span title="{{ row[branchName[data?.dashboardName].level_1] }}">{{ row[branchName[data?.dashboardName].level_1] }} </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" [width]="200">
            <ng-template ngx-datatable-header-template>
              {{ 'fields.branch_name_level_2' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span title="{{ row[branchName[data?.dashboardName].level_2] }}">{{ row[branchName[data?.dashboardName].level_2] }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="T1"
            name="{{ today }}"
            [resizeable]="false"
            cellClass="column-number"
            headerClass="column-number"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="T2"
            name="{{ yesterday }}"
            [resizeable]="false"
            cellClass="column-number"
            headerClass="column-number"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="M1"
            name="{{ lastMonth }}"
            [resizeable]="false"
            cellClass="column-number"
            headerClass="column-number"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="T1_NET"
            name="(+/-)/Ngày"
            [resizeable]="false"
            cellClass="column-number"
            headerClass="column-number"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="M1_NET"
            name="(+/-)/Tháng"
            [resizeable]="false"
            cellClass="column-number"
            headerClass="column-number"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span title="{{ value | number: '0.0-2' }}">{{ value | number: '0.0-2' }}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        
      </div>
    </div>
    <div *ngIf="!isTable" class="chart__legend">
      <ul class="legend-content">
        <li *ngIf="data.key === 'TINDUNG_TD' || data.key === 'HUYDONGVON_TD'" class="block-center-between legend-bar">
          <div class="chart__legend-left">
            <div class="legend-net">
              <span class="legend-bage-increase" [ngStyle]="{ backgroundColor: data?.configColor?.tang_net }"></span>
              <span class="legend-bage-decrease" [ngStyle]="{ backgroundColor: data?.configColor?.giam_net }"></span>
            </div>
            {{ data?.legend[0] || '' }}
          </div>
        </li>
        <li class="block-center-between">
          <div class="chart__legend-left">
            <span class="legend-line" [ngStyle]="{ border: '1px solid ' + data?.configColor?.line }"></span>
            {{ data?.legend[1] || '' }}
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && isEmpty">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <div class="note" *ngIf="data?.showNote">
    Lưu ý: Thông tin "Chi nhánh" trên Dashboard chiều Vùng/Chi nhánh cấp 1 căn cứ theo ĐVKD quản lý code Khách hàng.
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
