.dashboard-business-chart-sme {
  .chart__header-right {
    display: flex;
    align-items: center;
  }
  .chart__header {
    margin-bottom: 1rem;
  }
  .legend-line {
    width: 40px;
    margin-right: 15px;
  }
  .legend-net {
    display: flex;
    margin-right: 15px;
    .legend-bage-increase {
      margin-right: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    .legend-bage-decrease {
      margin-right: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }
  .legend-content {
    display: block;
    // justify-content: center;
    padding-left: 10% !important;
    .legend-bar {
      margin-bottom: 8px;
    }
  }
  .ngx-datatable .datatable-body .datatable-body-row {
    min-height: 36px !important;
    height: 36px !important;
  }
  .column-number {
    .datatable-body-cell-label {
      flex-direction: row-reverse;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .max-width {
    max-width: 185px;
    width: 185px;
  }
  .column-number {
    .datatable-body-cell-label {
      flex-direction: row-reverse;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
}

.note {
  color: red;
}