.kpi-rm-list {
  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }
  .list__block {
    overflow: auto;
  }
  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }

  .align-items-center {
    align-items: center;
    height: 100%;
  }

  .filter-top {
    align-items: flex-end;
    &__left {
      width: 200px;
    }
    &__right {
      width: 200px;
      flex-direction: row-reverse;
    }
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-200-data {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .view-calendar {
    margin-top: -1rem;
  }

  .p-25 {
    padding-top: 25px;
  }

  .padding-w {
    padding-right: 10px;
  }

  .w-60 {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-60-data {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-80 {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-80-data {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .col-date {
    .p-dropdown {
      min-width: auto !important;
    }
  }

  .center__search {
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
  }
}
