<div class="right-view kpi-rm-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.menu.titleRm' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading || isFilterLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="p-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-3 form-group">
                <label>{{ 'kpi.menu.codeRm' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="rmCode"/>
              </div>
              <div class="col-md-3 form-group">
                <label>{{ 'kpi.menu.codeHris' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="hrsCode"/>
              </div>
              <div class="col-md-3 form-group">
                <label>{{ 'kpi.menu.nameRm' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="rmName"/>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields._branch' | translate }}</label>
                <lp-branches [(model)]="paramSearch.branches" [listBranch]="commonData.listBranches"></lp-branches>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listDivision"
                  class="d-block"
                  formControlName="bizLine"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label>{{ 'kpi.menu.titleGroupRm' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listTitleGroup"
                  class="d-block"
                  formControlName="groupTitleId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label>{{ 'kpi.menu.levelRm' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listLevelRM"
                  class="d-block"
                  formControlName="rmLevelId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="row">
<!--              <div *ngIf="hiddenTypeData(formSearch.get('bizLine').value)" class="col-md-3">-->
<!--                <label>{{ 'kpi.menu.typeData' | translate }}</label>-->
<!--                <div class="row">-->
<!--                  <ng-container *ngIf="isDataTypeMoment()">-->
<!--                    <div class="p-field-radiobutton col-md-6">-->
<!--                      <p-radioButton [value]="0" formControlName="past"></p-radioButton>-->
<!--                      <label class="ml-3">{{ 'kpi.menu.now' | translate }}</label>-->
<!--                    </div>-->
<!--                  </ng-container>-->
<!--                  <ng-container *ngIf="isDataTypeHistory()">-->
<!--                    <div class="p-field-radiobutton col-md-6">-->
<!--                      <p-radioButton [value]="1" formControlName="past"></p-radioButton>-->
<!--                      <label class="ml-3">{{ 'kpi.menu.history' | translate }}</label>-->
<!--                    </div>-->
<!--                  </ng-container>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-md-3">
                <label>{{ 'kpi.menu.period' | translate }}</label>
                <div class="row">
                  <ng-container *ngIf="isPeriodDay()">
                    <div class="p-field-radiobutton col-md-6">
                      <p-radioButton [value]="0" formControlName="period"></p-radioButton>
                      <label class="ml-3">{{ 'kpi.menu.dayRm' | translate }}</label>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="isPeriodMonth()">
                    <div class="p-field-radiobutton col-md-6">
                      <p-radioButton [value]="1" formControlName="period"></p-radioButton>
                      <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-3">
                <ng-container *ngIf="formSearch.get('period').value === 0">
                  <label>{{ 'kpi.menu.dayData' | translate }}</label>
                  <p-calendar
                    formControlName="businessDate"
                    class="d-block"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    [showIcon]="true"
                    icon="las la-calendar-alt"
                    [showTime]="false"
                    [maxDate]="today"
                    [minDate]="minDate"
                  >
                  </p-calendar>
                </ng-container>
                <ng-container *ngIf="formSearch.get('period').value === 1">
                  <div class="row col-date">
                    <div class="col-md-6">
                      <label>{{ 'kpi.menu.monthRm' | translate }}</label>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listMonths"
                        class="d-block fix-width"
                        formControlName="monthRm"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="value"
                        optionValue="value"
                      >
                      </p-dropdown>
                    </div>
                    <div class="col-md-6">
                      <label>{{ 'kpi.menu.yearRm' | translate }}</label>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listYears"
                        class="d-block fix-width"
                        formControlName="yearRm"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="value"
                        optionValue="value"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4 mt-0">
            <div class="filter-top__left">
               <span *ngIf="formSearch.get('period').value === 0" style="color: red"
               >{{ 'kpi.menu.lastDayData' | translate }} :
                 {{ commonData.lasterDateBusiness | date: 'dd/MM/yyyy' }}</span
               >
              <span class="pl-4" *ngIf="formSearch.get('period').value == 0" style="color: red"><i>&ensp;Dữ liệu tạm tính</i></span>
              <span
                *ngIf="
                  formSearch.get('period').value === 1 &&
                  getLastDateByMonth(formSearch.get('monthRm').value)?.length > 0
                "
                style="color: red"
              >{{ 'kpi.menu.dataInMonth' | translate }} :
                {{ getLastDateByMonth(formSearch.get('monthRm').value) }}</span
              >
            </div>
            <div class="filter-top__center">
              <button class="btn btn--light-blue btn-small" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button
                class="btn btn--light-blue btn-icon--small"
                (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
<!--          <div class="text-red p-4"><i>Điểm Bancas hàng ngày là điểm tạm tính</i></div>-->
          <div>
            <ng-container *ngIf="!isSme">
              <ngx-datatable
                ngxDataTable
                #table
                class="custom-header"
                [messages]="messages"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [virtualization]="false"
                [externalPaging]="true"
                [columnMode]="'force'"
                [rows]="listData"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (activate)="onActive($event)"
                (page)="setPage($event)"
                [footerHeight]="70"
                [selectionType]="'single'"
                [headerHeight]="75"
              >
                <ngx-datatable-column
                  prop="rm_index"
                  headerClass="column-order"
                  [sortable]="false"
                  [width]="50"
                  [resizeable]="false"
                  [frozenLeft]="true"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'rm.fields.index' | translate }}
                  </ng-template>
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="prop"
                  [width]="510"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="5"
                  [frozenLeft]="true"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border-first">
                      <thead>
                      <tr>
                        <th scope="col" [attr.colspan]="5" class="colspan-border text-center">
                          {{ 'kpi.menu.infoRm' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-60">{{ 'kpi.menu.codeRm' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.nameRm' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.branch' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.levelRm' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.codeHris' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-60-data">{{ getValue(row, 'rmCode') }}</td>
                        <td class="w-150-data">{{ getValue(row, 'rmName') }}</td>
                        <td class="w-100-data">
                          <span title="{{ getValue(row, 'branchName') }}">{{ getValue(row, 'branchName') }}</span>
                        </td>
                        <td class="w-100-data">{{ getValue(row, 'rmLevel') }}</td>
                        <td class="w-100-data">{{ getValue(row, 'hrsCode') }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  *ngIf="formSearch.get('period').value === 1"
                  prop="prop"
                  [width]="300"
                  headerClass="align-items-center"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="3"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border" style="height: 100%">
                      <thead>
                      <tr>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.supportPoints' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.floorPoint' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.benchmark' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-100-data text-right">{{ getValue(row, 'diemHoTro') | number }}</td>
                        <td class="w-100-data text-right">{{ getValue(row, 'diemSan') | number }}</td>
                        <td class="w-100-data text-right">{{ getValue(row, 'diemChuan') | number }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="prop"
                  [width]="450"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="3"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="3" class="colspan-border text-center">
                          {{ 'kpi.menu.sellingPoint' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.loan' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.mobilization' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.service' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-150-data text-right padding-w">
                          {{ getValue(row, 'banChinhChoVayNgay') | number }}
                        </td>
                        <td class="w-150-data text-right">{{ getValue(row, 'banChinhHuyDongNgay') | number }}</td>
                        <td class="w-150-data text-right">{{ getValue(row, 'banChinhDichVuNgay') | number }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="prop"
                  [width]="450"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="3"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="3" class="colspan-border text-center">
                          {{ 'kpi.menu.crossPoint' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.loan' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.mobilization' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.service' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-150-data text-right padding-w">
                          {{ getValue(row, 'banCheoChoVayNgay') | number }}
                        </td>
                        <td class="w-150-data text-right">{{ getValue(row, 'banCheoHuyDongNgay') | number }}</td>
                        <td class="w-150-data text-right">{{ getValue(row, 'banCheoDichVuNgay') | number }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  *ngIf="formSearch.controls.period.value === 0"
                  prop="prop"
                  [width]="100"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="1"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="1" class="colspan-border text-center">
                          Điểm Bancas
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-150">Tổng điểm MBAL</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-100-data text-right">{{ getValue(row, 'tongDiemMbal') | number }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="prop"
                  [width]="formSearch.get('period').value === 0 ? 300 : 900"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="9"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="9" class="colspan-border text-center">
                          {{ 'kpi.menu.syntheticTotalPoint' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <ng-container *ngIf="formSearch.get('period').value === 0">
                          <th scope="col" class="border-col w-150">{{ 'kpi.menu.pointDay' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpi.menu.pointLkDay' | translate }}</th>
                        </ng-container>
                        <ng-container *ngIf="formSearch.get('period').value === 1">
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointPeriod' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.businessPoint' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.benchmarkPlus' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.floorPointPlus' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointSPKHCN' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointChanel' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointMBAL' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointMic' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.totalPoint' | translate }}</th>
                        </ng-container>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <ng-container *ngIf="formSearch.get('period').value === 0">
                          <td class="w-150-data text-right padding-w">
                            {{ getValue(row, 'tongDiemNgay') | number }}
                          </td>
                          <td class="w-150-data text-right">{{ getValue(row, 'tongDiemLKNgay') | number }}</td>
                        </ng-container>
                        <ng-container *ngIf="formSearch.get('period').value === 1">
                          <td class="w-100-data text-right padding-w">{{ getValue(row, 'tongDiemTheoKi') }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemKinhDoanh') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'tongDiemDiemChuan') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'tongDiemDiemSan') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemSPKHCN') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemKenhSo') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemMbal') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemMic') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'tongDiem') | number }}</td>
                        </ng-container>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>
                <!-- V -->
                <ng-container *ngIf="formSearch.get('period').value === 1">
                  <ngx-datatable-column
                    prop="prop"
                    [width]="200"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border">
                        <thead>
                        <tr>
                          <th scope="col" colspan="2" class="colspan-border text-center">
                            {{ 'kpi.menu.accumulatedPoints' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointByPeriod' | translate }}</th>
                          <th scope="col" class="border-col w-100">{{ 'kpi.menu.pointsAccumulated' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-100-data text-right padding-w">{{ getValue(row, 'diemTheoKi') | number }}</td>
                          <td class="w-100-data text-right">{{ getValue(row, 'diemLuyKe') | number }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </ng-container>

            <ng-container *ngIf="isSme">
              <ngx-datatable
                ngxDataTable
                #table
                class="custom-header"
                [messages]="messages"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [virtualization]="false"
                [externalPaging]="true"
                [columnMode]="'force'"
                [rows]="listDataSme"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (activate)="onActive($event)"
                (page)="setPage($event)"
                [footerHeight]="70"
                [selectionType]="'single'"
                [headerHeight]="75"
              >
                <ngx-datatable-column
                  prop="rm_index"
                  headerClass="column-order"
                  [cellClass]="'my-custom-cell-class'"
                  [sortable]="false"
                  [frozenLeft]="true"
                  [width]="50"
                  [maxWidth]="50"
                  [resizeable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'rm.fields.index' | translate }}
                  </ng-template>

                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <table aria-hidden="true">
                      <thead>
                      <tr>
                        <td>
                          {{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}
                        </td>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="prop"
                  [width]="650"
                  [maxWidth]="650"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="5"
                  [frozenLeft]="true"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border-first">
                      <thead>
                      <tr>
                        <th scope="col" [attr.colspan]="5" class="colspan-border text-center">
                          {{ 'kpi.menu.infoRm' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.codeRm' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpi.menu.nameRm' | translate }}</th>
                        <th scope="col" class="border-col w-200">{{ 'kpi.menu.branch' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.levelRm' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpi.menu.codeHris' | translate }}</th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-100-data">{{ getValue(row, 'rmCode') }}</td>
                        <td class="w-150-data">{{ getValue(row, 'rmName') }}</td>
                        <td class="w-200-data">
                          <span title="{{ getValue(row, 'branch') }}">{{ getValue(row, 'branch') }}</span>
                        </td>
                        <td class="w-100-data">
                          <span title="{{ getValue(row, 'rmLevelName') }}">{{ getValue(row, 'rmLevelName') }}</span>
                        </td>
                        <td class="w-100-data">
                          <span title="{{ getValue(row, 'hrisCode') }}">{{ getValue(row, 'hrisCode') }}</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <!-- day -->
                <ng-container *ngIf="formSearch.get('period').value === 0">
                  <ngx-datatable-column prop="target" [width]="600" [maxWidth]="600"
                                        [cellClass]="'my-custom-cell-class'" [flexGrow]="5"
                                        [resizeable]="false" [draggable]="false" [sortable]="false">
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border">
                        <thead>
                        <tr>
                          <th scope="col" colspan="4" class="colspan-border text-center">
                            {{ 'Kết quả ' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.totalStandardScore' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.standardRating' | translate }}</th>
                          <th scope="col"
                              class="border-col w-150">{{ 'kpiSme.totalDistributionPoints' | translate }}</th>
                          <th scope="col"
                              class="border-col w-150">{{ 'kpiSme.classificationOfAssignment' | translate }}</th>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-data text-center padding-w">
                            <span class="text-wrap"
                                  [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{ getValue(row, 'standardScore') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"
                                  [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{ getValue(row, 'standardRating') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"
                                  [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{ getValue(row, 'entrustScore') }}</span>
                          </td>
                          <td class="w-150-data text-center">
                            <span class="text-wrap"
                                  [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{ getValue(row, 'entrustRating') }}</span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>
                <!-- day -->

                <!-- Tháng -->
                <ng-container *ngIf="formSearch.get('period').value === 1">
                  <ngx-datatable-column
                    prop="prop"
                    [width]="!isArm ? 600 : 300"
                    [maxWidth]="!isArm ? 600 : 300"
                    [cellClass]="'my-custom-cell-class'"
                    [flexGrow]="5"
                    [resizeable]="false"
                    [draggable]="false"
                    [sortable]="false"
                  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                      <table aria-hidden="true" class="table-border">
                        <thead>
                        <tr>
                          <th scope="col" colspan="5" class="colspan-border text-center">
                            {{ 'kpiSme.result' | translate }}
                          </th>
                        </tr>
                        <tr>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.totalStandardScore' | translate }}</th>
                          <th scope="col" class="border-col w-150">{{ 'kpiSme.standardRating' | translate }}</th>
                          <ng-container *ngIf="!isArm">
                            <th scope="col" class="border-col w-150">
                              {{ 'kpiSme.totalDistributionPoints' | translate }}
                            </th>
                            <th scope="col" class="border-col w-150">
                              {{ 'kpiSme.classificationOfAssignment' | translate }}
                            </th>
                          </ng-container>
                        </tr>
                        </thead>
                      </table>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <table aria-hidden="true">
                        <tbody>
                        <tr>
                          <td class="w-150-data text-center padding-w">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{
                                getValue(row, 'standardScore') | number
                                }}</span>
                          </td>
                          <td class="w-150-data text-center">
                              <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'standardRatingColor') }">{{
                                getValue(row, 'standardRating')
                                }}</span>
                          </td>
                          <ng-container *ngIf="!isArm">
                            <td class="w-150-data text-center">
                                <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{
                                  getValue(row, 'entrustScore') | number
                                  }}</span>
                            </td>
                            <td class="w-150-data text-center">
                                <span class="text-wrap" [ngStyle]="{ color: getValue(row, 'entrustRatingColor') }">{{
                                  getValue(row, 'entrustRating')
                                  }}</span>
                            </td>
                          </ng-container>
                        </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </ngx-datatable-column>
                </ng-container>
                <!-- Tháng -->

                <ngx-datatable-column
                  prop="properties"
                  [width]="!isArm ? 700 : 400"
                  [maxWidth]="!isArm ? 700 : 400"
                  [cellClass]="'my-custom-cell-class'"
                  [flexGrow]="5"
                  [resizeable]="false"
                  [draggable]="false"
                  [sortable]="false"
                  *ngFor="let dataPr of properties; let i = index"
                >
                  <ng-template ngx-datatable-header-template>
                    <table aria-hidden="true" class="table-border">
                      <thead>
                      <tr>
                        <th scope="col" colspan="5" class="colspan-border text-center">
                          {{ dataPr.kpiItemName }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.standard' | translate }}</th>
                        <th *ngIf="!isArm" scope="col" class="border-col w-150">{{ 'kpiSme.assign' | translate }}</th>
                        <th scope="col" class="border-col w-100">{{ 'kpiSme.result' | translate }}</th>
                        <th scope="col" class="border-col w-150">{{ 'kpiSme.benchmarkResults' | translate }}</th>
                        <th *ngIf="!isArm" scope="col" class="border-col w-150">
                          {{ 'kpiSme.resultOfTheComparison' | translate }}
                        </th>
                      </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <table aria-hidden="true">
                      <tbody>
                      <tr>
                        <td class="w-150-data text-center padding-w">
                          {{ getValue(value[i], 'standard') | number }}
                        </td>
                        <td *ngIf="!isArm" class="w-150-data text-center">
                          {{ getValue(value[i], 'entrust') | number }}
                        </td>
                        <td class="w-100-data text-center">
                            <span
                              [ngStyle]="{ color: value[i]?.entrustColor }"
                              title="{{ getValue(value[i], 'value') | number }}"
                            >{{ getValue(value[i], 'value') | number }}</span
                            >
                        </td>
                        <td class="w-150-data text-center">
                            <span [ngStyle]="{ color: value[i]?.entrustColor }">{{
                              getValue(value[i], 'standardPercent') | number
                              }}</span>
                        </td>
                        <td *ngIf="!isArm" class="w-150-data text-center">
                            <span [ngStyle]="{ color: value[i]?.entrustColor }">{{
                              getValue(value[i], 'entrustPercent') | number
                              }}</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
