<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.customer' | translate }}/Chi tiết khách hàng</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body" style="overflow-y: auto">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row mt-3" [formGroup]="form">
            <div class="col-md-12 form-group has-error">
              <h5>THÔNG TIN KHÁCH HÀNG</h5>
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.customer_type' | translate }} <span class="text-red">*</span></label>
              <div class="d-flex">
                <div class="p-field-radiobutton mr-4" >
                  <p-radioButton formControlName="customerType" value="0"></p-radioButton>
                  <label class="ml-2">{{ 'customer360.fields.enterprise' | translate }}</label>
                </div>
                <div class="p-field-radiobutton" >
                  <p-radioButton formControlName="customerType" value="1"></p-radioButton>
                  <label class="ml-2">{{ 'customer360.fields.individual' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.customer_code' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="customerCode"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
              <!-- <div *ngIf="form.get('customerCode').errors && form.get('customerCode').touched" class="invalid-tooltip">
                <div *ngIf="form.get('customerCode').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
                <div *ngIf="form.get('customerCode').errors.code">{{ 'validationMessage.code' | translate }}</div>
              </div> -->
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.customer_name' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="customerName"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'system.fields.phone' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="phone"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>

            <!-- /// -->

            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.email' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="email"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.tax_code' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="taxCode"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label
                >{{ 'customer360.fields.businessRegistrationNumber' | translate }}
                <span class="text-red">*</span></label
              >
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="businessRegistrationNumber"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label
                >{{ 'customer360.fields.date_of_incorporation' | translate }} <span class="text-red">*</span></label
              >
              <p-calendar
                class="d-block custom-calendar"
                formControlName="dateOfIncorporation"
                dateFormat="dd/mm/yy"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                [showIcon]="true"
                icon="las la-calendar-alt"
              >
              </p-calendar>
            </div>

            <!-- /// -->
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.staffSize' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="staffSize"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.address' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="address"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.customerGroup' | translate }} <span class="text-red">*</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listCustomerGroup"
                class="d-block"
                formControlName="customerGroup"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="Chọn nhóm khách hàng"
                appendTo="body"
                optionLabel="displayName"
                optionValue="code"
              ></p-dropdown>
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.customerResources' | translate }} <span class="text-red">*</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listCustomerResources"
                class="d-block"
                formControlName="customerResources"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="Chọn nguồn khách hàng"
                appendTo="body"
                optionValue="id"
                optionLabel="name"
              ></p-dropdown>
            </div>

            <!-- /// -->

            <div class="col-md-3 form-group has-error">
              <label>{{ 'customer360.fields.statusCustomer' | translate }} <span class="text-red">*</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listStatus"
                class="d-block"
                formControlName="status"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="Chọn trạng thái"
                appendTo="body"
                optionValue="id"
                optionLabel="name"
              ></p-dropdown>
            </div>

            <!-- /// -->
            <div class="col-md-12 form-group has-error">
              <label>{{ 'customer360.fields.description' | translate }} <span class="text-red">*</span></label>
              <textarea rows="7" class="form-control" type="text" formControlName="description"></textarea>
            </div>
            <div class="col-md-12 form-group has-error">
              <h5>TÀI KHOẢN NGÂN HÀNG</h5>
            </div>
            <div class="col-md-8 form-group has-error">
              <div>
                <ngx-datatable
                  ngxDataTable
                  class="bootstrap fullscreen"
                  [headerHeight]="50"
                  [columnMode]="ColumnMode.force"
                  [footerHeight]="0"
                  [rowHeight]="50"
                  [scrollbarV]="true"
                  [rows]="listBankAccount"
                >
                  <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="20">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ rowIndex + 1}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="name"
                    [sortable]="false"
                    name="{{ 'customer360.fields.name' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="bankAccount"
                    [sortable]="false"
                    name="{{ 'customer360.fields.bankAccount' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="bankName"
                    [sortable]="false"
                    name="{{ 'customer360.fields.bankName' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    class="minh"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="block-center text-center column-action">
                        <button type="button" class="btn-outline" (click)="deleteRole(row);$event.stopPropagation()">
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
            <div class="col-md-5 form-group has-error" >
              <button class="btn btn--light-blue btn-small ml-3" (click)="addRow()">
                <i class="las la-plus" style="font-size: large"></i> {{ 'btnAction.create' | translate }}
              </button>
            </div>
            <div class="col-md-12 form-group has-error">
              <h5>NGƯỜI LIÊN HỆ</h5>
            </div>
            <div class="col-md-10 form-group has-error">
              <div>
                <ngx-datatable
                  ngxDataTable
                  class="bootstrap fullscreen"
                  [headerHeight]="50"
                  [columnMode]="ColumnMode.force"
                  [footerHeight]="0"
                  [rowHeight]="50"
                  [scrollbarV]="true"
                  [rows]="listContact"
                >
                  <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="20">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ rowIndex + 1}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="contactName"
                    [sortable]="false"
                    name="{{ 'customer360.fields.fullName' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="position"
                    [sortable]="false"
                    name="{{ 'customer360.fields.position' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="dateOfBirth"
                    [sortable]="false"
                    name="{{ 'customer360.fields.dateOfBirth' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="contactPhone"
                    [sortable]="false"
                    name="{{ 'customer360.fields.phone' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="contactEmail"
                    [sortable]="false"
                    name="{{ 'customer360.fields.email' | translate }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    class="minh"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="block-center text-center column-action">
                        <button
                          type="button"
                          class="btn-outline"
                          (click)="deleteRoleContact(row);$event.stopPropagation()"
                        >
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
            <div class="col-md-5 form-group has-error">
              <button class="btn btn--light-blue btn-small ml-3" (click)="addRowContact()">
                <i class="las la-plus" style="font-size: large"></i> {{ 'btnAction.create' | translate }}
              </button>
            </div>
            <div class="col-md-12 form-group has-error">
              <h5>NGƯỜI PHỤ TRÁCH</h5>
            </div>
            <div class="col-md-4 form-group has-error">
              <label>{{ 'customer360.fields.personInCharge' | translate }} <span class="text-red">*</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listPersonInCharge"
                class="d-block"
                formControlName="personInCharge"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="Chọn người phụ trách"
                appendTo="body"
                optionValue="id"
                optionLabel="name"
              ></p-dropdown>
            </div>
            <div class="col-md-4 form-group has-error">
              <label>{{ 'customer360.fields.personInChargePhone' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="personInChargePhone"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-4 form-group has-error">
              <label>{{ 'customer360.fields.personInChargeEmail' | translate }} <span class="text-red">*</span></label>
              <input
                class="form-control"
                type="text"
                uppercase
                formControlName="personInChargeEmail"
                maxlength="50"
                placeholder="{{ 'placeholder' | translate }}"
              />
            </div>
            <div class="col-md-12 form-group has-error">
              <h5>FILE ĐÍNH KÈM</h5>
            </div>
            <div class="col-md-10 form-group has-error">

            </div>
            <!-- <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue">{{ 'btnAction.update' | translate }}</button>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
