<div class="right-view kpi-category-create">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'kpi.title.create_category' | translate }}</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 mt-3">
						<div class="row">

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.target_code' | translate }} <span
										class="text-red">(*)</span></label>
								<input placeholder="" type="text" class="d-block" formControlName="code" pInputText
									maxlength="10" />
								<small class="p-error"
									*ngIf="form?.controls?.code?.errors?.cusRequired && form?.controls?.code?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
								<small class="p-error" *ngIf="form.get('code')?.errors?.code">{{
									'validationMessage.codeKpi' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.target_name' | translate }} <span
										class="text-red">(*)</span></label>
								<input placeholder="" type="text" maxlength="200" class="d-block" formControlName="name"
									pInputText />
								<small class="p-error"
									*ngIf="form?.controls?.name?.errors?.cusRequired && form?.controls?.name?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.target_type' | translate }} <span
										class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="kpiCategoryOutputs" placeholder=" " class="d-block"
									formControlName="categoryCode" appendTo="body" autoZIndex="false" baseZIndex="10000"
									optionLabel="name" optionValue="code"></p-dropdown>
								<small class="p-error"
									*ngIf="form?.controls?.categoryCode?.errors?.cusRequired && form?.controls?.categoryCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.block' | translate }} <span class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code"></p-dropdown>
								<small class="p-error"
									*ngIf="form?.controls?.blockCode?.errors?.cusRequired && form?.controls?.blockCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.assessment_method' | translate }} <span
										class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listKpiAssessment" placeholder=" " class="d-block" formControlName="type"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code">
								</p-dropdown>
								<small class="p-error"
									*ngIf="form?.controls?.type?.errors?.cusRequired && form?.controls?.type?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.unit' | translate }} <span class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="kpiUnitOutputs" placeholder=" " class="d-block"
									formControlName="unitCode" appendTo="body" autoZIndex="false" baseZIndex="10000"
									optionLabel="name" optionValue="code"></p-dropdown>
								<small class="p-error"
									*ngIf="form?.controls?.unitCode?.errors?.cusRequired && form?.controls?.unitCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.target_nature' | translate }} <span
										class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="kpiFeatures" placeholder=" "
									emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
									[filter]="true" class="d-block" formControlName="feature" appendTo="body"
									autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
								</p-dropdown>
								<small class="p-error"
									*ngIf="form?.controls?.feature?.errors?.cusRequired && form?.controls?.feature?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.frequency' | translate }} <span
										class="text-red">(*)</span></label>
								<p-multiSelect class="d-block" defaultLabel=" " [options]="kpiFrequencyOutputs"
									formControlName="frequencyCode" optionLabel="name" optionValue="code"
									appendTo="body" autoZIndex="false" baseZIndex="10000"
									emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
									maxSelectedLabels="{{kpiFrequencyOutputs.length - 1}}"
									[selectedItemsLabel]="fields.all">
								</p-multiSelect>
								<small class="p-error"
									*ngIf="form?.controls?.frequencyCode?.errors?.cusRequired && form?.controls?.frequencyCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-3 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.shortedName' | translate }}</label>
								<input placeholder="" type="text" class="d-block" formControlName="shortedName" pInputText
									maxlength="50" />
								<small class="p-error" *ngIf="form.get('shortedName')?.errors?.maxlength">
									{{
									'validationMessage.maxLength1' | translate: { length: form.get('shortedName').errors.maxlength.requiredLength }
									}}
								</small>
							</div>

							<div class="col-md-6 form-group" [formGroup]="form">
								<label>{{ 'kpi.fields.des' | translate}}</label>
								<textarea class="d-block p-textarea" type="text" rows="6" [maxlength]="300"
									formControlName="description" pInputTextarea></textarea>
							</div>
						</div>
					</div>
					<div class="p-4 text-left btn-action">
						<button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.write' | translate
							}}</button>
						<button class="btn btn-light mr-3" (click)="back()">{{ 'btnAction.skip' | translate
							}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
