<div class="create-valuation-report-content">
    <h5>
        {{ 'title.notification' | translate }}
        <button type="button" class="close crm-btn-close" (click)="choose(false)"><span aria-hidden="true">×</span></button>
    </h5>

    <hr />
    <p>{{ message }}</p>
    <div class="row">
        <div class="col-6 pr-2">
            <button class="col-12 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
                {{ 'btnAction.close' | translate }}
            </button>
        </div>
        <div class="col-6 pl-2">
            <button class="col-12 btn btn--light-blue btn-small" mat-dialog-close (click)="choose(true)">
                {{ 'Truy cập CMV' | translate }}
            </button>
        </div>
    </div>
</div>
