<div class="choose-potential-content">
  <h5>
    {{ 'title.notification' | translate }}
    <button type="button" class="close crm-btn-close" (click)="choose(false)"><span aria-hidden="true">×</span></button>
  </h5>
  <hr />
  <div class="d-flex flex-column align-items-center mb-3">
    <div style="font-size: 14px;">
      Cám ơn bạn đã đóng góp ý kiến cho CRM!
    </div>
    <div style="font-size: 14px;">
     Bạn có muốn tiếp tục đánh giá tính năng khác?
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class=" d-flex w-60">
      <div class="pr-2 w-50">
        <button class="col-12 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
          Huỷ
        </button>
      </div>
      <div class="pl-2 w-50">
        <button class="col-12 btn btn--light-blue btn-small" mat-dialog-close (click)="choose(true)">
          Tiếp tục đánh giá
        </button>
      </div>
    </div>
  </div>
</div>
