.tree__branch-modal {
  .app-branches-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .branch__view {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
