<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Cấu hình Template</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <div class="content-body">
      <div class="content-body__list row">
        <div class="table-user col-md-6">
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control"
                  [(ngModel)]="userSearch" />
              </div>
              <button class="btn-icon btn-icon--small btn grey ml-2" (click)="searchUser(true)">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
            </div>
          </div>
          <div class="table__view">
            <ngx-datatable #table style="height: 100%;" class="bootstrap striped" [rows]="listUser"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
              [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
              [count]="pageableUser?.totalElements" [offset]="pageableUser?.currentPage" [limit]="pageableUser?.size"
              (page)="setPage($event, 'user')">
              <ngx-datatable-column [width]="30" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                [draggable]="false" [resizeable]="false" prop="keycloakId" name="">
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="chooseUserFn">
                  <label class="radio">
                    <input type="radio" name="component" [checked]="isCheckedUser(value)" name="userId"
                      (click)="chooseUserFn(value);$event.stopPropagation()" />
                    <span class="ck"></span>
                    <span class="ml-3 checkbox-label text-black"></span>
                  </label>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="username" name="{{ 'system.fields.username' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column prop="hrsCode" name="{{ 'system.fields.hrisCode' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column prop="code" name="{{ 'system.fields.rmCode' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column prop="fullName" name="{{ 'system.fields.fullName' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column prop="branch" name="{{ 'system.fields.branch' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [visiblePagesCount]="currentVisible" [size]="pageSize"
                    [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
        <div class="table-role col-md-6">
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control"
                  [(ngModel)]="roleSearch" />
              </div>
              <button class="btn-icon btn-icon--small btn grey ml-2" (click)="searchRole()">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button class="btn btn--light-blue mr-2" (click)="save()"
                [class.disabled]="!(userSelected && roleSelected.length > 0)">
                {{ 'btnAction.save' | translate }}
              </button>
            </div>
          </div>
          <div class="table__view">
            <ngx-datatable #table1 style="height: 100%;" class="bootstrap striped" [rows]="listRole"
              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
              [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
              [count]="pageableRole?.totalElements" [offset]="pageableRole?.currentPage" [limit]="pageableRole?.size"
              (page)="setPage($event, 'role')">
              <ngx-datatable-column [width]="30" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                [draggable]="false" [resizeable]="false" prop="id" name="">
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxRoleFn">
                  <label class="checkbox">
                    <input type="checkbox" [checked]="isCheckedRole(value)"
                      (click)="onCheckboxRoleFn(value, $event.target.checked);$event.stopPropagation()" />
                    <span class="ck"></span>
                  </label>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="name" name="{{ 'system.fields.roleCode' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column prop="description" name="{{ 'system.fields.roleName' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [visiblePagesCount]="currentVisible" [size]="pageSize"
                    [count]="rowCount" [hidden]="false" (change)="table1.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
