<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'campaign.campaign-mapping.title' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="fluid-container px-4 pt-4" [formGroup]="formSearch">
                        <div class="row py-1">

                            <div class="col-md-3 form-group">
                                <label class="m-0">{{ 'campaign.campaign-mapping.listProduct' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listProduct" class="d-block" formControlName="productId" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>{{ 'campaign.campaign-mapping.listBlock' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listBlock" class="d-block" formControlName="blockCode" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{ 'campaign.campaign-mapping.listProcedure' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listProcedure" class="d-block" formControlName="process" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="id"></p-dropdown>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{ 'campaign.campaign-mapping.approvedDate' | translate }}</label>
                                  <p-calendar formControlName="approvedDate" class="d-block"
                                    dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                    icon="las la-calendar-alt" [showTime]="false">
                                  </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="filter-top__left">
                            <button class="btn btn--light-blue btn-small ml-2" (click)="searchAdvance(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="filter-top__right block-center">
                            <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-2"
                                (click)="create()" title="{{ 'btnAction.create' | translate }}">
                                <em class="las la-plus-circle f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">

                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="40" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="productName"
                                name="{{ 'campaign.campaign-mapping.listProduct' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row?.productId" title="{{ row?.productId + ' - ' + row?.productName}}">{{ row?.productId + ' - ' + row?.productName }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="blockCode"
                                name="{{ 'campaign.campaign-mapping.listBlock' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="processName"
                                name="{{ 'campaign.campaign-mapping.listProcedure' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="approvedDate"
                                name="{{ 'campaign.campaign-mapping.approvedDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{value | date: 'dd/MM/yyyy'}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
