.list__customer-error {
  .list__error-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
    width: 750px;
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .title-error {
    font-weight: bold;
  }
//   .ic-check {
//     display: block;
//     width: 13px;
//     height: 13px;
//     margin: 0 auto;
//     background-image: url(../../../../../assets/images/checkbig-green.svg);
//     background-position: center center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// button:hover {
//     .ic-check {
//         background-image: url(../../../../../assets/images/checkbig.svg);
//     }
// }
}
