<div class='right-view customer-inactive'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>{{ 'report.reportRating' | translate }}</h3>
    </div>
    <div class='content__top-right'></div>
  </div>
  <div class='content'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block p-4'>
          <div class='row' [formGroup]='form'>
            <div class='col-md-3'>
              <div class='form-group'>
                <label>Đối tượng khách hàng</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [options]='commonData.listDivision' class='d-block' formControlName='blockCode'
                            appendTo='body'
                            autoZIndex='false' baseZIndex='10000' optionLabel='displayName' optionValue='code'
                            [autoDisplayFirst]='false'
                            [filter]='true'></p-dropdown>
              </div>
            </div>

            <div class='col-md-3'>
              <div class='form-group'>
                <label class='m-0'>{{ 'kpi.menu.reportingMonth' | translate }}</label>
                <p-calendar class='d-block custom-calendar' formControlName='momentReportMonth' dateFormat='mm/yy'
                            appendTo='body' autoZIndex='false' [maxDate]='commonData.maxDate' baseZIndex='10000'
                            [showIcon]='true'
                            [minDate]='commonData.minDate' icon='las la-calendar-alt' view='month'>
                </p-calendar>

                <small class='p-error' *ngIf='
                          form?.controls?.momentReportMonth?.errors?.cusRequired && form?.controls?.momentReportMonth?.touched
                        '>{{ 'validationMessage.toDateCredit' | translate }}</small>
              </div>
            </div>
          </div>
          <label class='m-0'>{{ 'labels.list' | translate }} </label>
          <div class='row' [formGroup]='form'>
            <div class='col-md-2'>
              <div class='mt-2 mb-0 p-field-radiobutton col-md-2 mr-2'>
                <p-radioButton value='ALL' formControlName='listOption'></p-radioButton>
                <label class='m-0' class='ml-3'>{{ 'fields.choose_all' | translate }}</label>
              </div>
            </div>
            <div class='col-md-2'>
              <div class='mt-2 mb-0 p-field-radiobutton col-md-2 mr-2'>
                <p-radioButton value='choose_branch' formControlName='listOption'></p-radioButton>
                <label class='m-0' class='ml-3'>{{ 'fields.choose_branch' | translate }}</label>
              </div>
            </div>
          </div>

          <div style='margin-top: 5px' [ngClass]="{hide: hidePickupList}">
            <label class='m-0'>{{ 'kpi.menu.branch' | translate }}</label>
            <div class='filter-top block-center-between mt-0'>
              <div class='filter-top__left'>
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}"
                         type='text'
                         class='form-control search-box'
                         [(ngModel)]='textSearch'
                         (keyup.enter)='add()'
                         maxlength='20' />
                </div>
                <button class='btn-icon btn-icon--small btn btn-search grey ml-2'
                        title="{{ 'btnAction.create' | translate }}"
                        (click)='add()'>
                  <em class='las la-plus-circle f-16'></em>
                </button>
                <button class='btn-icon btn-icon--small btn btn-search grey ml-2'
                        title="{{ 'btnAction.search' | translate }}"
                        (click)='search()'>
                  <em class='las la-search f-16'></em>
                </button>

              </div>
              <div class='filter-top__right block-center'>
                <button class='btn btn--red btn-small mr-4 text-white'
                        (click)='removeList()'>
                  {{ 'btnAction.deleteAll' | translate }}
                </button>
              </div>
            </div>
            <div style='height: 400px' class='table__view'>
              <ngx-datatable #table
                             ngxDataTable
                             class='bootstrap fullscreen'
                             [rows]='listDataTable'
                             [columnMode]="'force'"
                             [headerHeight]='40'
                             [footerHeight]='50'
                             rowHeight='auto'
                             [scrollbarV]='true'
                             [scrollbarH]='true'
                             [virtualization]='false'
                             [externalPaging]='true'
                             [count]='pageable?.totalElements'
                             [offset]='pageable?.currentPage'
                             [limit]='pageable?.size'
                             (page)='setPage($event)'
                             [messages]='messages'>
                <ngx-datatable-column [sortable]='false'
                                      name="{{ 'fields.order' | translate }}"
                                      [width]='55'
                                      [canAutoResize]='false'
                                      [draggable]='false'
                                      [resizeable]='false'>
                  <ng-template let-value='value'
                               let-rowIndex='rowIndex'
                               ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]='false'
                                      [draggable]='false'
                                      name='Mã đơn vị'>
                  <ng-template let-row='row'
                               ngx-datatable-cell-template>
                    <span>{{ row?.code }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]='false'
                                      [draggable]='false'
                                      name=' Tên Đơn vị'>
                  <ng-template let-row='row'
                               ngx-datatable-cell-template>
                    <span>{{ row.name }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="{{ 'fields.action' | translate }}"
                                      [width]='100'
                                      [frozenRight]='true'
                                      [sortable]='false'
                                      [canAutoResize]='false'
                                      [draggable]='false'
                                      [resizeable]='false'>
                  <ng-template let-value='value'
                               let-row='row'
                               ngx-datatable-cell-template>
                    <div class='block-center text-center column-action'>
                      <button type='button'
                              class='btn-outline'
                              (click)='removeRecord(row); $event.stopPropagation()'
                              title="{{ 'btnAction.delete' | translate }}">
                        <em class='las la-trash-alt'></em>
                      </button>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template let-rowCount='rowCount'
                               let-pageSize='pageSize'
                               let-selectedCount='selectedCount'
                               let-curPage='curPage'
                               let-offset='offset'
                               ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]='curPage'
                                             [offset]='offset'
                                             [size]='pageSize'
                                             [count]='rowCount'
                                             [hidden]='false'
                                             (change)='table.onFooterPage($event)'>
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>

          </div>
          <div class='row'>
            <div class='col pt-4'>
              <button class='btn btn--light-blue btn-small mr-3 btn-view' (click)='export()'>
                {{ 'labels.reportExport' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
