<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userCategory' | translate }}/{{'title.create' | translate}}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row mt-3" [formGroup]="form">
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.username' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="username" maxlength="50"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('username').errors && form.get('username').touched" class="invalid-tooltip">
                <div *ngIf="form.get('username').errors.cusRequired">{{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.fullName' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="fullName" maxlength="200"
                placeholder="{{ 'placeholder' | translate }}" />
              <div
                *ngIf="form.get('fullName').errors && form.get('fullName').errors.cusRequired && form.get('fullName').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>Email <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="email" maxlength="150"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('email').errors && form.get('email').touched" class="invalid-tooltip">
                <div *ngIf="form.get('email').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
                <div *ngIf="form.get('email').errors.email">{{ 'validationMessage.noEmail' | translate }}</div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.phone' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="phoneNumber" maxlength="10"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('phoneNumber').errors && form.get('phoneNumber').touched" class="invalid-tooltip">
                <div *ngIf="form.get('phoneNumber').errors.cusRequired">{{ 'validationMessage.required' | translate }}
                </div>
                <div *ngIf="form.get('phoneNumber').errors.phoneMobile">{{ 'validationMessage.noPhoneMobile' | translate
                  }}</div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.branch' | translate }} <span class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listBranches"
                class="d-block" formControlName="branch"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                appendTo="body" optionLabel="name" optionValue="code"></p-dropdown>
              <div
                *ngIf="form.get('branch').errors && form.get('branch').errors.cusRequired && form.get('branch').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.isActive' | translate }}</label>
              <div class="mt-2">
                <label class="switch">
                  <input type="checkbox" class="checkbox-switch" formControlName="isActive" />
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue btn-small" (click)="confirmDialog()">{{ 'btnAction.create' | translate
              }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
