.ticket-update {
  .list__block {
    overflow-y: auto;
  }

  .input_block {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #EBEBEC;
    border-radius: 5px;
    padding: 17px;
    height: calc(2.3em + 0.75rem + 2px);
  }

  .direction-row {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    // align-items: flex-end;
    align-items: center;
  }
}
