<div class='right-view ticket-update'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>{{'ticket.menu.ticketUpdate' | translate}}</h3>
    </div>
    <div class='content__top-right'>
    </div>
  </div>

  <div class='content'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block'>
          <div class='px-4 mt-3'>
            <div class='row'>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.ticketName' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.ticketName}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.ticketCode' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.ticketCode}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.description' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.description}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.status' | translate }}</label>
                <input id="input-status" placeholder='' type='text' maxlength='200' class='d-block input_block'
                  data-toggle="modal" data-target="#statusModal" value="{{ticketInfo.statusName}}" readonly />
              </div>

              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.priority' | translate }}</label>
                <p-dropdown [options]='listPriority' placeholder=" " class="d-block" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="name" optionValue="code" formControlName="priority">
                </p-dropdown>
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.catalogue' | translate }}</label>
                <p-dropdown [options]='listCategory' placeholder=" " class="d-block" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="name" optionValue="code" formControlName="category">
                </p-dropdown>
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.childCatalogue' | translate }}</label>
                <p-dropdown [options]='listChildCategory' placeholder=" " class="d-block" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code"
                  formControlName="childCategory">
                </p-dropdown>
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.SLA' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block' value="{{ticketInfo.sla}}"
                  disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.handler' | translate }}</label>
                <div class='direction-row'>
                  <input placeholder='' type='text' maxlength='200' class='d-block input_block' formControlName="rm"
                    readonly />
                  <button class='btn-icon btn-icon--small btn btn-search grey ml-2'
                    title="{{ 'btnAction.search' | translate }}" (click)="selectRm()" [disabled]="!isCBQL">
                    <em class='las la-search f-16'></em>
                  </button>
                </div>
              </div>

              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.petitioner' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.requestUser}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.createdBy' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.createdByName}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.createdDate' | translate }}</label>
                <!-- <p-calendar class="d-block" dateFormat="dd/mm/yy"
                            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                            icon="las la-calendar-alt" value="{{ticketInfo.createdDate}}" [readonlyInput]="ticketInfo.createdDate | date: 'dd/MM/yyyy'">
                </p-calendar> -->
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.createdDate | date: 'dd/MM/yyyy'}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.updatedBy' | translate }}</label>
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.updatedBy}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.updatedDate' | translate }}</label>
                <!-- <p-calendar class="d-block" dateFormat="dd/mm/yy"
                            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                            icon="las la-calendar-alt" value="{{ticketInfo.updatedDate}}" disabled="true">
                </p-calendar> -->
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.updatedDate | date: 'dd/MM/yyyy'}}" disabled />
              </div>
              <div class='col-md-3 form-group' [formGroup]="form">
                <label>{{ 'ticket.fields.handleDate' | translate }}</label>
                <!-- <p-calendar class="d-block" dateFormat="dd/mm/yy"
                            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                            icon="las la-calendar-alt" value="{{ticketInfo.actionDated}}" disabled="true">
                </p-calendar> -->
                <input placeholder='' type='text' maxlength='200' class='d-block input_block'
                  value="{{ticketInfo.actionDated | date: 'dd/MM/yyyy'}}" disabled />
              </div>
            </div>

            <div class='direction-row'>
              <button type='button' class='btn btn-light btn-small mr-4' (click)='back()'>{{'ticket.btnAction.cancel' |
                translate}}</button>
              <button type='submit' class='btn btn--light-blue btn-small' (click)='update()'>{{'ticket.btnAction.confirm' |
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
