<div class="chart raise-capital-top-chart">
  <div class="chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">{{ 'title.raiseCapitalTopCustomer' | translate }}</div>
    </div>
    <div class="chart__header-right">
      <img
        *ngIf="!isTable"
        alt="icon-table"
        src="assets/images/ic_table.svg"
        class="img-icon"
        (click)="switchChart()"
      />
      <img
        *ngIf="isTable"
        alt="icon-chart"
        src="assets/images/ic_chart-horizontion.svg"
        class="img-icon"
        (click)="switchChart()"
      />
    </div>
  </div>
  <ng-container *ngIf="!isLoading && data">
    <div class="chart__body">
      <div *ngIf="!isTable" echarts [options]="option" (chartClick)="onChartClick($event)" style="height: 100%"></div>
      <div *ngIf="isTable" class="table__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [rows]="data"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [virtualization]="false"
          [externalPaging]="false"
        >
          <ngx-datatable-column
            [sortable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="35"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="code"
            [width]="150"
            [canAutoResize]="false"
            name="{{ 'fields.customerCode' | translate }}"
            [resizeable]="false"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="name"
            name="{{ 'fields.customerName' | translate }}"
            [resizeable]="false"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="value"
            [width]="150"
            [canAutoResize]="false"
            name="{{ 'fields.surplus' | translate }}"
            cellClass="column-number"
            headerClass="column-number"
            [resizeable]="false"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span>{{ value | number: '1.0-0' }}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="chart__legend">*Dữ liệu cập nhật ngày {{ data[0]?.businessDate | date: 'dd/MM/yyyy' }}</div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !data">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
