<div class="rm__leads-list">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="list__block">
    <div class="content__top block-center-between pb-4">
      <div class="content__top-left block-center">
        <div class="mr-4" [formGroup]="searchForm">
          <label class="m-0">{{ 'fields.customerCode' | translate }}</label>
          <input
            type="text"
            maxlength="15"
            class="d-block"
            (keyup.enter)="search(true)"
            formControlName="leadCode"
            pInputText
          />
        </div>

        <div class="mr-4" [formGroup]="searchForm">
          <label class="m-0">{{ 'fields.customerName' | translate }}</label>
          <input
            type="text"
            maxlength="200"
            class="d-block"
            (keyup.enter)="search(true)"
            formControlName="fullName"
            pInputText
          />
        </div>
        <div class="">
          <button class="btn-icon btn-icon--small btn btn-search buttonSearch" (click)="search(true)">
            <em class="las la-search f-16"></em>
          </button>
        </div>
      </div>

      <div class="content__top-right">
        <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="exportFile()">
          <em class="las la-file-excel f-16"></em>
        </button>
      </div>
    </div>
  </div>

  <div class="list-table">
    <ngx-datatable
      ngxDataTable
      #table
      class="bootstrap"
      [rows]="listData"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarV]="false"
      [scrollbarH]="true"
      [virtualization]="false"
      [externalPaging]="true"
      [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage"
      [limit]="pageable?.size"
      (page)="setPage($event)"
      [messages]="messages"
      (activate)="onActive($event)"
    >
      <ngx-datatable-column
        [sortable]="false"
        name="{{ 'fields.order' | translate }}"
        [width]="35"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        prop="leadCode"
        name="{{ 'fields.customerCode' | translate }}"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        prop="fullName"
        name="{{ 'fields.customerName' | translate }}"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        prop="customerTypeName"
        name="{{ 'fields.customerType' | translate }}"
      >
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="phone" name="{{ 'fields.phone' | translate }}">
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <app-pager-ngx-datatable
            [page]="curPage"
            [offset]="offset"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="false"
            (change)="table.onFooterPage($event)"
          >
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
