@import '../../../../../assets/styles/variable';

.content-body__list {
  display: flex;
  flex-direction: column;
}

.list__block {
  overflow: auto;
  height: auto !important;
  flex: 1 1 auto;
  border-radius: 12px;
}

.form-create {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-fluctuate {
  flex: 1 1 auto;
}

.block-table {
  display: flex;
  border: 1px solid $gray-700;
  border-radius: 4px;
}
.p-dropdown-w100 {
  width: 100% !important;
}
.file-disabled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.6;
  z-index: 5;
  cursor: not-allowed;
}

.upload {
  width: 300px;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $gray-400;
  height: 36px;
}
.upload__input {
  display: none;
}
.checkbox-column {
  display: flex;
  justify-content: center;
  width: 100%;
}
