<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <!-- <button  class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button> -->
      <h3 class="mb-0 page--title ml-4">
        {{ 'rm.title.fluctuate' | translate }}/{{ title | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <ng-container *ngIf="itemRm && objFunction?.approve && isDetail && itemRm?.status === '0'">
        <button class="btn btn-small btn--red text-white" (click)="handleApproveOrReject(false)">
          {{ 'btnAction.refuse' | translate }}
        </button>
        <button class="btn btn-small btn--light-blue" (click)="handleApproveOrReject(true)">
          {{ 'btnAction.approved' | translate }}
        </button>
      </ng-container>
      <button *ngIf="itemRm && itemRm?.status === '1' && objFunction?.restore && isDetail && isRestore"
        class="btn btn-small btn--light-blue" (click)="restore()">
        {{ 'btnAction.restore' | translate }}
      </button>
<!--      <button *ngIf="itemRm && objFunction?.approve && isDetail && itemRm?.statusWork === statusWorkCDV && itemRm?.status === '1'-->
<!--        && itemRm?.statusUpdateBranchT24 === 'FAIL'" class="btn btn-small btn-primary" (click)="updateT24()">-->
<!--        {{ 'btnAction.updateT24' | translate }}-->
<!--      </button>-->
      <ng-container *ngIf="itemRm && itemRm?.status !== '1' && itemRm?.status !== '2'">
        <button *ngIf="this.objFunction?.delete" class="btn btn-small btn--red text-white" (click)="deleteFluctuate()">
          {{ 'btnAction.delete' | translate }}
        </button>
        <button *ngIf="this.objFunction?.update" class="btn btn-small btn--light-blue" (click)="edit()">
          {{ 'btnAction.edit' | translate }}
        </button>
      </ng-container>
    </div>
  </div>
  <div class="content bg-transparent rm-fluctuate-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block">
          <div class="form-create">
            <div class="card text-left p-4">
              <div class="row" [formGroup]="form">
                <div class="col-12">
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <h5 class="m-0">{{ 'rm.title.rmInfo' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.officerCode' | translate
                        }}</label>
                      <input placeholder="" type="text" class="form-control label-text"
                        formControlName="employeeCode" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.employeeCodeHris' | translate
                        }}</label>
                      <input placeholder="" type="text" class="form-control label-text"
                        formControlName="employeeHrsCode" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.username' | translate }}</label>
                      <input placeholder="" type="text" class="form-control label-text"
                        formControlName="employeeUserName" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.fullName' | translate }}</label>
                      <input placeholder="" type="text" class="form-control label-text"
                        formControlName="employeeName" />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.email' | translate }}</label>
                      <input placeholder="" type="text" class="form-control label-text"
                        formControlName="employeeEmail" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.cusBlock' | translate }}</label>
                      <input placeholder="" type="text" class="form-control label-text" formControlName="blockCode" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.branchCode' | translate
                        }}</label>
                      <input placeholder="" type="text" class="form-control label-text" formControlName="branchCode" />
                    </div>
                    <div class="col-md-3">
                      <label class="mb-0 label-text">{{ 'fields.branchName' | translate
                        }}</label>
                      <input placeholder="" type="text" class="form-control label-text" formControlName="branchName" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-left p-4 mb-0 form-fluctuate">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="m-0">{{ 'rm.title.fluctuateInfo' | translate }}</h5>
                </div>
              </div>
              <div class="row mt-3" [formGroup]="form">
                <div class="col-md-3 has-error">
                  <label class="mb-0 label-text">{{ 'fields.jobStatus' | translate }}</label>
                  <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                    [options]="listStatusWork" class="d-block" formControlName="statusWork"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                    appendTo="body" optionValue="code" optionLabel="name">
                  </p-dropdown>
                  <div *ngIf="form.get('statusWork').errors && form.get('statusWork').touched" class="invalid-tooltip">
                    <div *ngIf="form.get('statusWork').errors.cusRequired">{{ 'validationMessage.required' | translate
                      }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 has-error" *ngIf="!isCreate">
                  <label class="mb-0 label-text">{{ 'fields.status' | translate }}</label>
                  <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                    [options]="listStatus" class="d-block" formControlName="status"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                    appendTo="body" optionValue="code" optionLabel="name">
                  </p-dropdown>
                  <div *ngIf="form.get('status').errors && form.get('status').touched" class="invalid-tooltip">
                    <div *ngIf="form.get('status').errors.cusRequired">{{ 'validationMessage.required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3" *ngIf="form.get('statusWork')?.value === statusWorkCDV">
                <div class="col-md-3 has-error">
                  <label class="mb-0 label-text">{{ 'fields.agencyOld' | translate }}</label>
                  <input placeholder="" type="text" class="form-control label-text" [(ngModel)]="branchOld" disabled />
                </div>
                <div class="col-md-3 has-error">
                  <label class="mb-0 label-text">{{ 'fields.agencyNew' | translate }}</label>
                  <lp-branch [(model)]="branchNew" [listBranch]="listBranch" [disabled]="isDetail">
                  </lp-branch>
                </div>
              </div>
              <div class="row" *ngIf="isShowTable">
                <div class="col-md-6 mt-3">
                  <span class="label-text">{{ 'rm.fields.rm_block' | translate }}</span>
                </div>
              </div>

              <div class="my-4 table-detail block-table" *ngIf="isShowTable">
                <p-table [value]="listBlock">
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col" style="width: 40px;">
                      </th>
                      <th scope="col">
                        {{ 'fields.blockCode' | translate }}
                      </th>
                      <th scope="col">
                        {{ 'fields.blockName' | translate }}
                      </th>
                      <th scope="col">
                        {{ 'fields.titleGroupRM' | translate }}
                      </th>
                      <th scope="col">
                        {{ 'fields.levelRM' | translate }}
                      </th>
                      <th scope="col" class="checkbox-column">
                        {{ 'fields.syntheticKPI' | translate }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-block let-rowIndex="rowIndex">
                    <tr>
                      <td>
                        <p-checkbox [disabled]="isDetail" [(ngModel)]="block.checked" binary="true"></p-checkbox>
                      </td>
                      <td>
                        {{ block.code }}
                      </td>
                      <td>
                        {{ block.name }}
                      </td>
                      <td>
                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                          [disabled]="isDetail" placeholder="{{ 'choose' | translate }}"
                          (onChange)="onChangeTitle($event, rowIndex)" [options]="block.listTitle"
                          [(ngModel)]="block.titleGroupId" optionLabel="name" optionValue="id"></p-dropdown>
                      </td>
                      <td>
                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                          [disabled]="isDetail" placeholder="{{ 'choose' | translate }}" [options]="block.listLevel"
                          [(ngModel)]="block.levelId" optionLabel="name" optionValue="id">
                        </p-dropdown>
                      </td>
                      <td>
                        <div class="checkbox-column">
                          <p-checkbox [disabled]="isDetail" [(ngModel)]="block.isSyntheticKPI" binary="true">
                          </p-checkbox>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <div class="mt-3" *ngIf="isDetail && itemRm?.fileName">
                <label class="m-0">{{ 'fields.attachments' | translate }}</label>
                <div>
                  <a href="javascript:void(0)" (click)="downloadFile()">{{ itemRm?.fileName }}</a>
                </div>
              </div>
              <div class="mt-3" *ngIf="!isDetail">
                <label class="m-0">{{ 'fields.attachments' | translate }} <span class="text-red">({{
                    'notificationMessage.E002' | translate }})</span></label>
                <div class="block-center">
                  <div class="upload block-center" (click)="onchangeFile(inputFile)">
                    <div [class.file-disabled]="fileName"></div>
                    <input #inputFile class="upload__input" type="file" [(ngModel)]="files"
                      accept=".docx,.xlsx,.txt,.pdf,.rar,.rip,.png,.jpg,.bmp,.apk,.ipa"
                      (change)="handleFileInput($event.target.files)" />
                    <em class="las la-cloud-upload-alt f-20 pointer"></em>
                    <span class="upload__label pointer">{{ fileName ? fileName : ( 'fields.chooseFile' | translate )
                      }}</span>
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                    <em class="las la-times f-20"></em>
                  </button>
                </div>
              </div>

              <div class="row mt-3" [formGroup]="form" *ngIf="!isCreate">
                <div class="col-md-3 form-group">
                  <label class="mt-15 label-text">{{ 'fields.createdDate' | translate }}</label>
                  <div class="item-field">
                    <input placeholder="" type="text" class="form-control label-text" formControlName="createdDate" />
                  </div>
                </div>
                <div class="col-md-3 form-group">
                  <label class="mt-15 label-text">{{ 'fields.modifiedDate' | translate }}</label>
                  <div class="item-field">
                    <input placeholder="" type="text" class="form-control label-text" formControlName="updatedDate" />
                  </div>
                </div>
                <div class="col-md-3 form-group">
                  <label class="mt-15 label-text">{{ 'fields.effectiveDate' | translate }}</label>
                  <div class="item-field">
                    <input placeholder="" type="text" class="form-control label-text" formControlName="effectiveDate" />
                  </div>
                </div>
              </div>
              <div class="row mt-3" [formGroup]="form">
                <div class="col-md-6 label-text" *ngIf="!isCreate">
                  <label>{{ 'fields.titleGroupAndInfoContract' | translate }}</label>
                  <textarea class="form-control label-text note-text" style="height: 200px;" type="text"
                    formControlName="hrsNote"></textarea>
                </div>
                <div class="col-md-6 label-text">
                  <label>{{ 'fields.note' | translate }}</label>
                  <textarea class="form-control label-text note-text" style="height: 100px;" [maxlength]="400"
                    type="text" formControlName="note"></textarea>
                </div>

              </div>
              <div class="row mt-3" [formGroup]="form" *ngIf="!isCreate">
                <div class="col-md-6 label-text">
                  <label>{{ 'fields.level' | translate }}</label>
                  <textarea class="form-control label-text" type="text" style="height: 100px;" [maxlength]="400"
                    formControlName="hrsLevelNote"></textarea>
                </div>
                <div class="col-md-6 label-text" *ngIf="isReason">
                  <label>{{ 'fields.reason' | translate }}</label>
                  <textarea class="form-control label-text" type="text" style="height: 100px;" [maxlength]="1000"
                    formControlName="reason"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isDetail" class="card p-4 m-0 mt-4">
          <div class="text-left btn-action">
            <button class="btn btn--light-blue" (click)="submit()">{{ 'btnAction.' + (!isCreate ? 'update' :
              'create') | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
