.back-grouud {
    background-color: #EFF2FE;
    border-radius: 12px;
}

.title {
    font-weight: 700;
    font-size: 17px;
}

.so-luong-kh {
    font-weight: 300;
    font-size: 15px;

}

.data {
    color: #bbbbfd;
    font-size: 15px;
    font-weight: 600;

}
