<div style="height: 30%;"
     class="d-flex align-items-center f-16 text-black chart__header-title p-3">
  Thống kê số lượng Khách hàng
</div>
<div style="height: 70%;"
     class="d-flex">
  <div class="w-25 h-100 p-3">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 back-grouud">
      <div class="title">Khách hàng có vay</div>
      <div class="d-flex">
        <div class="so-luong-kh pr-2">Số lượng KH: </div>
        <div class="data">{{ (CstProfileInfo?.nbrCstOustnd | number) || 'Không có dữ liệu'}}</div>
      </div>
    </div>
  </div>
  <div class="w-25 h-100 p-3">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 back-grouud">
      <div class="title">Khách hàng Biz</div>
      <div class="d-flex">
        <div class="so-luong-kh pr-2">Số lượng KH: </div>
        <div class="data">{{ (CstProfileInfo?.nbrCstBiz | number) || 'Không có dữ liệu'}}</div>
      </div>
    </div>
  </div>
  <div class="w-25 h-100 p-3">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 back-grouud">
      <div class="title">Khách hàng Payroll</div>
      <div class="d-flex">
        <div class="so-luong-kh pr-2">Số lượng KH: </div>
        <div class="data">{{(CstProfileInfo?.nbrCstPayroll| number) || 'Không có dữ liệu'}}</div>
      </div>
    </div>
  </div>
  <div class="w-25 h-100 p-3">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 back-grouud">
      <div class="title">Khách hàng code mới</div>
      <div class="d-flex">
        <div class="so-luong-kh pr-2">Số lượng KH: </div>
        <div class="data">{{(CstProfileInfo?.nbrCstNew | number) || 'Không có dữ liệu'}}</div>
      </div>
    </div>
  </div>
</div>