<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ name }}</h5>
      <label class="m-0">Lane Config</label>
    </div>
  </div>
</div>
<div class="modal-body">
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red mr-4" (click)="closeModal()">
      Cancel
    </button>
    <button class="btn btn--light-blue" (click)="confirmDialog()">Save</button>
  </div>
</div>
