<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'reductionProposal.labels.interestPopup.selectInterest' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-loading *ngIf='isLoading'></app-loading>
  <div class="list__block">
    <div class="filter-top block-center-between">
      <div class="filter-top__left w-100">
        <div style="flex: auto;">
          <input
            placeholder="{{ 'reductionProposal.labels.interestPopup.placeholder' | translate }}"
            type="text"
            class="form-control search-box"
            *ngIf="!show"
            [(ngModel)]="search_value"
            (keyup.enter)="searchBasic()"
            maxlength="200"
          />
        </div>
        <button
          class="btn-icon btn-icon--small btn btn-search grey ml-2"
          title="{{ 'btnAction.search' | translate }}"
          (click)="searchBasic()"
          *ngIf="!show"
        >
          <em class="las la-search f-16"></em>
        </button>
      </div>
      <div class="filter-top__right d-flex"></div>
    </div>
    <div class="table__view user__view">
      <ngx-datatable
        ngxDataTable
        #tablefee
        [messages]="messages"
        [scrollbarV]="true"
        class="bootstrap fullscreen"
        [scrollbarH]="false"
        [virtualization]="false"
        [externalPaging]="true"
        [columnMode]="'mode'"
        [rows]="models"
        [count]="count"
        [offset]="offset"
        [limit]="params?.size"
        (page)="paging($event)"
        [headerHeight]="50"
        [footerHeight]="0"
        [selectionType]="config?.selectionType"
        [selected]="config?.selectionType === 'single' ? selected : []"
      >
        <ngx-datatable-column
          [width]="40"
          [frozenLeft]="true"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
        >
          <ng-template ngx-datatable-header-template>

          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div  class="block-center">
                <label *ngIf="config.selectionType == SelectionType.single" class="radio">
                <input
                  name="select-radio"
                  type="radio"
                  [checked]="isChecked(row)"
                  (click)="onCheckboxRmFn(row, $event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
              <label *ngIf="config.selectionType == SelectionType.multi" class="checkbox">
                <input
                  type="checkbox"
                  [checked]="isChecked(row)"
                  (click)="onCheckboxRmFn(row, $event.target.checked); $event.stopPropagation()"
                />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" [sortable]="false" [width]="260">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.interestPopup.interest' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.name }}">{{ row?.name }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="currency" [sortable]="false" [width]="120">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.interestPopup.currency' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.currency }}">{{ row?.currency }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="adjPeriod" [sortable]="false" [width]="120">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.interestPopup.adjPeriod' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.adjustmentPeriod }}">{{ row?.adjustmentPeriod }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="loanTerm" [sortable]="false" [width]="130">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.interestPopup.loanTerm' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.period }}">{{ row?.period}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            let-rowCount="count"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            ngx-datatable-footer-template
          >
            <app-pager-ngx-datatable
              [page]="curPage"
              [offset]="offset"
              [size]="pageSize"
              [count]="count"
              [hidden]="false"
              (change)="paging($event)"
              (eventChangePageSize)='handleChangePageSize($event)'
              [hasDropdown]='true'
            >
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-center">
    <button class="btn btn--light-blue" *ngIf='models.length !== 0' (click)="choose()">{{ 'title.confirm' | translate }}</button>
    <button class="btn btn--light-blue" *ngIf='models.length === 0' (click)="choose()">{{ getTitleException() | translate }}</button>
  </div>
</div>
