@import "variable";

.kpi-standard-cbql-import {
  .border-red {
    border-color: #ff0000 !important;
  }
  .flex_one {
    flex: 1;
  }
  .list__view {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .clear-file {
    position: absolute;
    right: 0;
    top: -5px;
  }

  .upload {
    width: 300px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    height: 36px;
  }
  .file-disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 5;
    cursor: not-allowed;
  }
  .content-body__list {
    display: flex;
    flex-direction: column;
  }
  .block-table {
    display: flex;
    // flex-direction: column;
  }
  .content-body {
    background-color: $body-bg;
    padding: 0;
  }
  .table__success,
  .table__error {
    .card {
      height: 100%;
    }
  }

  .text-color {
    color: #ffffff;
  }

  // standard
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
    background-color: white;
    border-radius: 5px;
  }

  .padding-right-0 {
    padding-right: 0rem;
  }

  .margin-right-n30 {
    margin-right: -30px;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }

  .number {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .full-width {
    width: 100%;
  }

  .break-type {
    white-space: pre;
  }
  .table__success,
  .table__error {
    .card {
      height: 100%;
    }
  }
  .table__title {
    min-height: 36px;
    align-items: center;
    display: flex;
  }
  .overflow-y-auto{
    overflow-y: auto!important;
  }
  .overflow-x-hidden{
    overflow-x: hidden!important;
  }
}

.testClass{
  width: 10px;
}
