<div class="right-view kpi-standard-cbql-import">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center flex_one">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.importKpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right block-center row mr-0">

    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content" style="overflow-x: hidden;">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body overflow-x-hidden">
      <div class="content-body__list">
        <div class="card text-left">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listBlock"
                  placeholder="" class="d-block" formControlName="blockCode" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.unitType' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="unitTypes"
                  placeholder=" " class="d-block" formControlName="unitType" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" optionLabel="text" optionValue="code"></p-dropdown>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.month' | translate }}</label>
                <p-calendar formControlName="time" class="d-block" view="month" dateFormat="mm/yy" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt" [showTime]="false">
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="card py-4 px-4 mb-3">
            <div class="mb-3 text-left">
              <span class="text-color">{{ 'kpi.fields.choose_file' | translate }}</span>
            </div>
            <div class="block-center">
              <div class="upload block-center">
                <div [class.file-disabled]="isUpload"></div>
                <input class="upload__input" type="file" accept=".xlsx, .csv" [(ngModel)]="files"
                  (change)="handleFileInput($event.target.files)" />
                <em class="las la-cloud-upload-alt f-20"></em>
                <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
              </div>
              <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                <em class="las la-times f-16"></em>
              </button>
              <button [ngClass]="{'btn btn-small btn--light-blue ml-3': true, 'disabled': !files}" (click)="importFile()">
                <em class="las la-file-invoice f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
              </button>
              <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="row flex-grow-1 mt-3" *ngIf="uploaded">
          <div class="col-md-6 table__success">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3 mb-3 block-center-between">
                <h5 class="m-0">{{ 'customer360.title.listSuccess' | translate }}</h5>
                <div>
                  <button [ngClass]="{'btn btn-small btn--light-blue ml-2': true, 'disabled': listDataSuccess.length === 0}"
                    (click)="save()">
                    {{ 'btnAction.record' | translate }}
                  </button>
                </div>

              </div>
              <div class="table__view">
                <ngx-datatable ngxDataTable #tableSuccess class="fullscreen bootstrap" [footerHeight]="50"
                  [rows]="listDataSuccess" [columnMode]="'force'" [headerHeight]="50" rowHeight="auto"
                  [scrollbarV]="true" [scrollbarH]="false" [virtualization]="false" [externalPaging]="true"
                  [messages]="messages" [count]="pageSuccess?.totalElements" [offset]="pageSuccess?.currentPage"
                  [limit]="pageSuccess?.size" (page)="setPageSuccessTbl($event)">

                  <ngx-datatable-column [sortable]="false" [draggable]="false">
                    <ng-template ngx-datatable-header-template>
                      <span class="">{{ tblHeader[0] }}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row[isRegion ? 'hrisCode': 'branchCode'] }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [sortable]="false" [draggable]="false">
                    <ng-template ngx-datatable-header-template>
                      <span class="">{{ tblHeader[1] }}</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row[isRegion ? 'fullName': 'branchName'] }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                      let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                      <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                        [hidden]="false" (change)="tableSuccess.onFooterPage($event)">
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div class="col-md-6  table__error">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3 mb-3 block-center-between">
                <h5 class="m-0">{{ 'customer360.title.listError' | translate }}</h5>
                <div>
                  <button class="btn btn-small btn--light-blue ml-2" (click)="exportError()">
                    <span class="la-file-excel"></span>
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable ngxDataTable #tableError class="bootstrap fullscreen" [rows]="listDataError"
                  [footerHeight]="50" [columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                  [scrollbarH]="false" [virtualization]="false" [externalPaging]="true" [messages]="messages"
                  [count]="pageError?.totalElements" [offset]="pageError?.currentPage" [limit]="pageError?.size"
                  (page)="setPageErrorTbl($event)">

                  <ngx-datatable-column [sortable]="false" [draggable]="false" [maxWidth]="70">
                    <ng-template class="testClass" ngx-datatable-header-template>
                      <span>STT</span>
                    </ng-template>
                    <ng-template let-index="rowIndex" let-row="row" ngx-datatable-cell-template>
                      <span>{{ pageError?.currentPage*pageError?.size + index + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false" [maxWidth]="70">
                    <ng-template ngx-datatable-header-template>
                      <span>Dòng</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row?.rowError || '' }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false"  [maxWidth]="70">
                    <ng-template ngx-datatable-header-template>
                      <span>Cột</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row?.columnError || '' }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false"  [maxWidth]="150">
                    <ng-template ngx-datatable-header-template>
                      <span>Dữ liệu lỗi </span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row?.valueError || '' }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false">
                    <ng-template ngx-datatable-header-template>
                      <span>Thông tin lỗi</span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>{{ row?.infoError || '' }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                      let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                      <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                        [hidden]="false" (change)="tableError.onFooterPage($event)">
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
