.m-stepper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 15px 10px;
    &::after {
        content: "";
        width: 92%;
        height: 2px;
        background-color: #eee;
        position: absolute;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
    }
    .stepper-item {
        text-align: center;
        .text-top {
            margin-bottom: 5px;
            color: #bbbbfd;
        }
        .circle {
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #eee;
            background-color: #fff;
            &.active {
                background-color: #bbbbfd !important;
                color: #fff;
            }
            &.passed {
                background-color: #28a745;
                color: #fff;
            }
            .number {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 999;
            }
        }
    }
}

.currency {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #1c1d21;
}
