<div class="panel-heading box-form" role="tab" [id]="'heading' + data?.id">
  <div class="flex-bw header">
    <div class="left text-el" title="{{ data?.code }} - {{ data?.subProductName }}">
      <span class="text-special">{{ data?.code }} - </span>
      <span class="text-special">{{ data?.subProductName }}</span>
    </div>
    <div class="flex-bw right text-right">
      <span class="currency">{{ numberCurency | number: '1.0-2' }} {{ textCurency }} {{ data?.currency }}</span>
      <button
        *ngIf="isUpdator"
        class="btn-outline btn-edit"
        title="{{ 'sellingOppIndivDetail.tab1.tooltip.edit' | translate }}"
        (click)="edit(data)"
      >
        <em class="las la-edit"></em>
      </button>
    </div>
  </div>

  <div
    [id]="'collapse' + data?.id"
    class="panel-collapse collapse"
    role="tabpanel"
    [attr.aria-labelledby]="'heading' + data?.id"
  >
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.productCode' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span class="text-wrap">{{ data?.subProductCode }}</span>
        </div>
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.rmUb' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span class="text-wrap">{{ data?.memberName }}</span>
        </div>
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.rmUbCreate' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span>{{ data?.createdByName }}</span>
        </div>
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.branchCodeLevel2' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span class="text-wrap">{{ data?.branchCode }}</span>
        </div>
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.branchName' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span>{{ data?.branchName }}</span>
        </div>
        <div class="col-md-3">
          <label class="detail-key">{{ 'sellingOppIndivDetail.tab1.right.introducer' | translate }}</label>
        </div>
        <div class="col-md-3 form-group has-error">
          <span class="text-wrap">{{ data?.guideName }}</span>
        </div>
        <div class="col-12">
          <div class="note">
            {{ 'sellingOppIndivDetail.tab1.right.note' | translate }}
            {{ data?.note }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="m-stepper" *ngIf="data?.statusProducts.length > 0">
      <div class="stepper-item" *ngFor="let statusP of data?.statusProducts">
        <div class="text-top">{{ statusP?.text }}</div>
        <div
          class="circle"
          [ngClass]="[statusP?.number === data?.status ? 'active' : '', statusP?.number < data?.status ? 'passed' : '']"
        >
          <div *ngIf="statusP?.number >= data?.status" class="number">{{ statusP?.number }}</div>
          <div *ngIf="statusP?.number < data?.status" class="number"><em class="las la-check"></em></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a
        role="button"
        data-toggle="collapse"
        data-parent="#accordion"
        [href]="'#collapse' + data?.id"
        aria-expanded="true"
        [attr.aria-controls]="'collapse' + data?.id"
        (click)="changeDropdownArrowState(data?.id)"
      >
        <button class="btn btn-outline btn-small btn-expand button-toogle">
          <span>
            <i
              class="icon"
              [ngClass]="{
                'datatable-icon-down': !expandableAreasState[data?.id],
                'datatable-icon-up': expandableAreasState[data?.id]
              }"
            ></i>
          </span>
          <!-- <span *ngIf="!expandableAreasState[data?.id]">{{ 'sellingOppIndivDetail.expand' | translate }}</span>
            <span *ngIf="expandableAreasState[data?.id]">{{ 'sellingOppIndivDetail.collapse' | translate }}</span> -->
        </button>
      </a>
      <!-- <button class="btn btn-outline btn-small btn-expand">
        {{ 'sellingOppIndivDetail.collapse' | translate }}
      </button> -->
    </div>
  </div>
</div>
