<div class="right-view sale-target-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Mục tiêu bán</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="!permissionOpp">
          <div class="list__block">
            <div class="fluid-container px-4 pt-4" [formGroup]="formSearch">
              <!-- <div class="row py-1"> -->
              <div class="row py-1">
                <div class="col-md-3">
                  <label class="m-0">{{ 'fields.customerCode' | translate }}</label>
                  <input
                    type="text"
                    class="d-block"
                    formControlName="customerCode"
                    pInputText
                    (keyup.enter)="search(false)"
                  />
                </div>
                <div class="col-md-3">
                  <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                  <input
                    type="text"
                    maxlength="100"
                    pInputText
                    placeholder=""
                    class="d-block"
                    formControlName="customerName"
                    (keyup.enter)="search(false)"
                  />
                </div>

                <div class="col-md-3">
                  <label class="mb-0">{{ 'fields.registrationNumber' | translate }}</label>
                  <input
                    type="text"
                    maxlength="100"
                    pInputText
                    placeholder=""
                    class="d-block"
                    formControlName="registrationNumber"
                    (keyup.enter)="search(false)"
                  />
                </div>

                <div class="col-md-3">
                  <label class="m-0">Mã mục tiêu</label>
                  <input
                    type="text"
                    class="d-block"
                    formControlName="targetCode"
                    pInputText
                    (keyup.enter)="search(false)"
                  />
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-3">
                  <label class="mb-0">{{ 'fields.block' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName="division"
                    [options]="listDivision"
                    placeholder=" "
                    class="d-block"
                    optionLabel="displayName"
                    optionValue="code"
                    (keyup.enter)="search(false)"
                  >
                  </p-dropdown>
                </div>

                <div class="col-md-3">
                  <label class="mb-0">{{ 'saleTarget.saleTargetBranch' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listBranchesOpp"
                    placeholder=" "
                    class="d-block"
                    [filter]="true"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    formControlName="targetBranchCode"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [virtualScroll]="true"
                    [itemSize]="31"
                    (keyup.enter)="search(false)"
                  ></p-dropdown>
                </div>

                <div class="col-md-3">
                  <label class="mb-0">{{ 'saleTarget.saleTargetRM' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName="targetRMCode"
                    [filter]="true"
                    [options]="listRmManager"
                    placeholder=" "
                    class="d-block"
                    optionLabel="displayName"
                    optionValue="code"
                    [virtualScroll]="true"
                    [itemSize]="31"
                    (keyup.enter)="search(false)"
                  >
                  </p-dropdown>
                </div>

                <div class="col-md-3">
                  <label class="mb-0">{{ 'saleTarget.saleTargetStatus' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName="targetStatus"
                    [options]="listStatusOpp"
                    placeholder=" "
                    class="d-block"
                    optionLabel="displayName"
                    optionValue="code"
                    (keyup.enter)="search(false)"
                  >
                  </p-dropdown>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-3">
                  <label class="m-0">Mã cơ hội</label>
                  <input
                    type="text"
                    class="d-block"
                    formControlName="opportunityCode"
                    pInputText
                    (keyup.enter)="search(false)"
                  />
                </div>
              </div>
              <!-- </div> -->
            </div>

            <div class="block-center px-4 filter-top">
              <div class="action__left">
                <button class="btn btn-small btn--light-blue" (click)="search(true)">
                  <!-- <em class="las la-search f-16"></em> -->
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>

              <div class="action__right">
                <button
                  class="btn btn--light-blue btn-icon--small"
                  (click)="exportFile()"
                  title="{{ 'btnAction.export' | translate }}"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <div class="table__view user__view">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="targetCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleTarget.saleTargetCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="opportunityCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleOpportunity.codeOpportunity' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column
                prop="opportunityCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'saleOpportunity.codeOpportunity' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column> -->

                <ngx-datatable-column
                  prop="customerName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerName' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="targetBranchName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleTarget.saleTargetBranch' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="targetRMCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleTarget.saleTargetRM' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleTarget.saleTargetStatus' | translate }}"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <em class="las {{ row.icon }} f-16"></em>
                    <span style="margin-left: 15px" title="{{ row.statusOpportunity | translate }}">{{
                      row.statusTarget | translate
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="createdDate"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.createdDate' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="{{ 'fields.action' | translate }}"
                  [width]="150"
                  [frozenRight]="true"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="block-center text-center column-action">
                      <button
                        *ngIf="row.targetStatus === '1'"
                        type="button"
                        title="{{ 'btnAction.edit' | translate }}"
                        (click)="editOpportunity(row)"
                        class="btn-outline"
                      >
                        <em class="las la-edit"></em>
                      </button>

                      <button
                        *ngIf="row.targetStatus === '1'"
                        type="button"
                        title="{{ 'btnAction.transfeSale' | translate }}"
                        class="btn-outline"
                        (click)="transferSale(row)"
                      >
                        <em class="las la-transfer-opportunity"></em>
                      </button>

                      <button
                        *ngIf="row.targetStatus === '1'"
                        type="button"
                        title="{{ 'btnAction.assignTargetRM' | translate }}"
                        class="btn-outline"
                      >
                        <em class="las la-assign-opportunity-rm"></em>
                      </button>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="permissionOpp">
          <div class="group__create-form px-4 mt-4 messageSaleOpp">
            {{ 'saleOpportunity.permissionOpp' | translate }}
          </div>
        </ng-container>

        <!-- <ng-container [ngTemplateOutlet]="listContent"></ng-container> -->
      </div>
    </div>
  </div>
</div>
