@import 'variable';

.product-list-type-sme {
  .total {
    position: absolute;
    left: 0px;
    padding: 0.75rem;
  }
  .text-right {
    width: 100%;
  }
  .text-center {
    width: 100%;
  }
  .text-wrap-field {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .contractOrAccountNumber {
    color: $primary !important;
  }

  .p-accordion-header {
    background-color: #FFFFFF;
  }

  .text-center-header {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
  }
}


