@import 'variable';

.title-relationship-group {
  .content-body__list {
    display: flex;
    flex-direction: column;
  }
  .content-body {
    background-color: $body-bg;
    padding: 0;
  }
  .block-table {
    display: flex;
    // flex-direction: column;
  }

  .table__success,
  .table__error {
    .card {
      height: 100%;
    }
  }
}
