<div class="right-view title-relationship-group">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ titleFuction }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="card py-4 px-4 mb-3" style="text-align: left">
          <div class="row form-create" [formGroup]="formSearch">
            <div class="col-md-4 form-group">
              <label class="mb-0 mr-3">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="divisionCode"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="flex-grow-1 block-table">
          <div class="table__success col-md-6 pl-0 pr-3">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'fields.applicablSscreen' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <button class="btn btn-small btn--light-blue" *ngIf="screenType !== 'DETAIL'" (click)="addTitle(true)">
                    {{ 'btnAction.addTitle' | translate }}
                  </button>
                </div>
                <div class="filter-top__right d-flex"></div>
              </div>

              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableEmployee
                  class="bootstrap fullscreen"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataEmployee"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageableEmployee?.totalElements"
                  [offset]="pageableEmployee?.currentPage"
                  [limit]="pageableEmployee?.size"
                  (page)="setPage($event, 'success')"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    prop="code"
                    [sortable]="false"
                    name="{{ 'fields.codeTitle' | translate }}"
                    [width]="120"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="name"
                    [sortable]="false"
                    name="{{ 'fields.nameTitle' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="id"
                    [sortable]="false"
                    name="{{ 'fields.managerTitle' | translate }}"
                    [width]="120"
                  >
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="block-center">
                        <label class="radio">
                          <input
                            type="radio"
                            name="managerTitle"
                            [disabled]="isDisabled()"
                            [checked]="isCheckedTitleEmp(row)"
                            (click)="onCheckboxEmp(row); $event.stopPropagation()"
                          />
                          <span class="ck"></span>
                        </label>
                      </div>

                      <!-- <p-radioButton
                        [(ngModel)]="managerTitle"
                        name="managerTitle"
                        value="{{ row.id }}"
                        [tabindex]="true"
                        (onClick)="onCheckboxFn(row); $event.stopPropagation()"
                      >
                      </p-radioButton> -->
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="isDelete(row)" class="block-center text-center column-action">
                        <button
                          type="button"
                          class="btn-outline"
                          (click)="removeRecordEmployee(row); $event.stopPropagation()"
                          title="{{ 'btnAction.delete' | translate }}"
                        >
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableEmployee.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>

          <div class="table__error col-md-6 pl-0 pr-0">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'fields.manager' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <button class="btn btn-small btn--light-blue" *ngIf="screenType !== 'DETAIL'" (click)="addTitle(false)">
                    {{ 'btnAction.addTitle' | translate }}
                  </button>
                </div>
                <div class="filter-top__right d-flex"></div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableManager
                  class="bootstrap fullscreen"
                  columnMode="force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataManager"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageableManager?.totalElements"
                  [offset]="pageableManager?.currentPage"
                  [limit]="pageableManager?.size"
                  (page)="setPage($event, 'error')"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    prop="code"
                    [sortable]="false"
                    name="{{ 'fields.codeTitle' | translate }}"
                    [width]="120"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="name"
                    [sortable]="false"
                    name="{{ 'fields.nameTitle' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="id"
                    [sortable]="false"
                    name="{{ 'fields.managerTitle' | translate }}"
                    [width]="120"
                  >
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="block-center">
                        <label class="radio">
                          <input
                            type="radio"
                            name="managerManager"
                            [disabled]="isDisabled()"
                            [checked]="isCheckedTitleManager(row)"
                            (click)="onCheckboxManager(row); $event.stopPropagation()"
                          />
                          <span class="ck"></span>
                        </label>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="isDelete(row)" class="block-center text-center column-action">
                        <button
                          type="button"
                          class="btn-outline"
                          (click)="removeRecordManager(row); $event.stopPropagation()"
                          title="{{ 'btnAction.delete' | translate }}"
                        >
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableManager.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>

        <div class="card py-4 px-4 mt-3">
          <div class="filter-top block-center-between">
            <div class="filter-top__left"></div>
            <div class="filter-top__right d-flex">
              <button *ngIf="screenType !== 'DETAIL'" class="btn btn-small btn-light ml-3" (click)="back()">
                {{ 'btnAction.cancel' | translate }}
              </button>
              <button *ngIf="screenType !== 'DETAIL'" class="btn btn-small btn--light-blue" (click)="saveTitle()">
                {{ 'btnAction.save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
