<div class="right-view kpi-rm-time-factor-create">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'kpi.title.add_kpi_rm_time' | translate }}</h3>
        </div>
        <div class="content__top-right"></div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4" [formGroup]="formSearch">
                        <div class="row">

                            <div class="col-md-4 form-group">
                                <label>{{ 'kpi.fields.block' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code"></p-dropdown>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>{{ 'fields.rm_group' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound'  |  translate}}"
                                    [options]="listGroup" placeholder=" " class="d-block" formControlName="titleCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code"></p-dropdown>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>{{ 'fields.levelRM' | translate }}</label>
                                <p-dropdown emptyMessage="{{'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listLevel" placeholder=" " class="d-block" formControlName="levelCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                    optionValue="code">
                                </p-dropdown>
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'kpi.fields.configSetName' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" formControlName="configSetName"
                                    pInputText />
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.startDate' | translate }}</label>
                                <p-calendar class="d-block" formControlName="efficientDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                    icon="las la-calendar-alt" view="month" [readonlyInput]='true'
                                    [maxDate]='maxEfficientDate' [minDate]='minEfficientDate'>
                                </p-calendar>
                                <small class="p-error"
                                    *ngIf="formSearch?.controls?.efficientDate?.errors?.cusRequired && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.endDate' | translate }}</label>
                                <p-calendar class="d-block" formControlName="expireDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" view="month" (onSelect)='onChangeEndDate($event)'
                                    [readonlyInput]='true' baseZIndex="10000" [showIcon]="true"
                                    icon="las la-calendar-alt" [minDate]='minExpireDate'>
                                </p-calendar>
                            </div>

                        </div>
                    </div>

                    <div class="filter-top px-4">
                        <span class="p-error note">{{ 'kpi.fields.note' | translate }}</span>
                    </div>

                    <div>
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listKpiItemMapping"
                            [formGroup]="formCreate" [columnMode]="'force'" [headerHeight]="50" rowHeight="auto"
                            [scrollbarV]="false" [scrollbarH]="true" [virtualization]="false" [messages]="messages"
                            [treeFromRelation]="'parentId'" [treeToRelation]="'idGroup'"
                            (treeAction)="onTreeAction($event)">

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                                name="{{ 'kpi.fields.kpi_target_name' | translate }}" [isTreeColumn]="true"
                                [treeLevelIndent]="30" [width]='300'>
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span class="ml-2">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column *ngFor="let item of listColumnValue; let i = index" [sortable]="false"
                                [width]="110" [draggable]="false">
                                <ng-template let-value="value" let-row="row" ngx-datatable-header-template>
                                    <span>{{
                                        'kpi.fields.month_order' |
                                        translate }} {{item.name}}</span>
                                </ng-template>
                                <ng-template let-rowIndex='rowIndex' let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf='row.kpiItemRmLevelId' [formGroupName]="row.index">
                                        <input placeholder="" type="text" class="d-block" [formControlName]="item.value"
                                            pInputText />
                                        <small class="p-error" *ngIf="getCusRequire(item.value,rowIndex)">{{
                                            'validationMessage.required' |
                                            translate }}</small>
                                        <small class="p-error" *ngIf="getErrValue(item.value,rowIndex)">{{
                                            'validationMessage.value_common' |
                                            translate }}</small>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>

                    <div class="p-4 text-left btn-action">
                        <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.write' | translate
                            }}</button>
                        <button class="btn btn-light mr-3" (click)="back()">{{ 'btnAction.skip' | translate
                            }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
