.kpi-rm-time-factor-create {
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }
}
