<div class="right-view kpi-category-by-title">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'kpi.title.kpi_category_by_title' | translate }}</h3>
		</div>
		<div class="content__top-right"></div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 pt-4" [formGroup]="formSearch">
						<div class="row">

							<div class="col-md-3 form-group">
								<label>{{ 'kpi.fields.block' | translate }}</label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code" (onChange)='onChangeBlockCode()'></p-dropdown>
							</div>

							<div class="col-md-3 form-group">
								<label>{{ 'fields.titleGroupRM' | translate }}</label>
								<p-dropdown
									emptyMessage="{{(formSearch.value.blockCode ? 'notificationMessage.noRecordsFound' : 'notificationMessage.chooseBlockFirst') |  translate}}"
									[options]="listGroup" placeholder=" " class="d-block" formControlName="title"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code" (onChange)='onChangeGroup()'></p-dropdown>
							</div>

							<div class="col-md-3 form-group">
								<label>{{ 'fields.levelRM' | translate }}</label>
								<p-dropdown
									emptyMessage="{{(formSearch.value.blockCode ? 'notificationMessage.noRecordsFound' : 'notificationMessage.chooseBlockFirst') |  translate}}"
									[options]="listLevel" placeholder=" " class="d-block" formControlName="level"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code">
								</p-dropdown>
							</div>

							<div class="col-md-3 form-group">
								<label>{{ 'kpi.fields.target_name' | translate }}</label>
								<input placeholder="" type="text" class="d-block" formControlName="kpiItemName"
									pInputText />
							</div>

							<div class="col-md-3 form-group">
								<label>{{ 'fields.effective' | translate }} </label>
								<div class="row mt-2">
									<div class="p-field-radiobutton col-md-6">
										<p-radioButton [value]="true" formControlName="isActive"></p-radioButton>
										<label class="ml-3">{{ 'fields.yes' | translate }}</label>
									</div>
									<div class="p-field-radiobutton col-md-6">
										<p-radioButton [value]="false" formControlName="isActive"></p-radioButton>
										<label class="ml-3">{{ 'fields.no' | translate }}</label>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="filter-top block-center-between px-4">
						<div class="center__search">
							<button class="btn btn--light-bluey btn-small" (click)="searchKpiAccordingTitles()">
								{{ 'btnAction.search' | translate }}
							</button>
						</div>
						<div class="filter-top__right block-center">
							<button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-2"
								(click)="create()" title="{{ 'btnAction.create' | translate }}">
								<em class="las la-plus-circle f-16"></em>
							</button>
						</div>
					</div>
					<div>
						<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listKpiItemMapping"
							[columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="false"
							[scrollbarH]="true" [virtualization]="false" [messages]="messages"
							[treeFromRelation]="'parentId'" [treeToRelation]="'idGroup'"
							(treeAction)="onTreeAction($event)">

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
								name="{{ 'kpi.fields.target_name' | translate }}" [isTreeColumn]="true"
								[treeLevelIndent]="30" [width]='250'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span class="ml-2">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmLevelName"
								name="{{ 'fields.level' | translate }}" [width]='250'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="frequency"
								name="{{ 'kpi.fields.frequency' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="unitName"
								name="{{ 'kpi.fields.unit' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="rate"
								name="{{ 'kpi.fields.rate' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="limitFloor" [width]='200'
								name="{{ 'kpi.fields.limitFloor' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="limitCeiling"
								[width]='200' name="{{ 'kpi.fields.limitCeiling' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="ceilingRatio"
								[width]='200' name="{{ 'kpi.fields.ceilingRatio' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isTimeOrgFactor"
								name="{{ 'kpi.fields.isTimeOrgFactor' | translate }}" [width]='200'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<p-checkbox *ngIf="isBoolean(value)" [ngModel]="value" [binary]="true"
										[readonly]='true'> </p-checkbox>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isAreaFactor"
								name="{{ 'kpi.fields.isAreaFactor' | translate }}" [width]='200'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<p-checkbox *ngIf="isBoolean(value)" [ngModel]="value" [binary]="true"
										[readonly]='true'> </p-checkbox>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isKpi"
								name="{{ 'kpi.fields.isKpi' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<p-checkbox *ngIf="isBoolean(value)" [ngModel]="value" [binary]="true"
										[readonly]='true'> </p-checkbox>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="sourceInput"
								name="{{ 'kpi.fields.sourceInput' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="isShare"
								name="{{ 'kpi.fields.isShare' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<p-checkbox *ngIf="isBoolean(value)" [ngModel]="value" [binary]="true"
										[readonly]='true'> </p-checkbox>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column name="{{ 'fields.action_2' | translate }}" [width]="100"
								[frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
								[resizeable]="false" prop='name'>
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<button *ngIf='!value' type="button" class="btn-outline"
										(click)="delete(row);$event.stopPropagation()"
										title="{{ 'btnAction.delete' | translate }}">
										<em class="las la-trash-alt f-16"></em>
									</button>
									<div *ngIf='!value' class="block-center text-center column-action">
										<button type="button" class="btn-outline btn--light-blue"
											title="{{ 'btnAction.edit' | translate }}"
											(click)="update(row); $event.stopPropagation()">
											<em class="las la-edit"></em>
										</button>
									</div>
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
