<app-loading *ngIf="isLoading"></app-loading>
<div class="right-view detail-setup">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small btn-back" (click)="backStep()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <h3 _ngcontent-dcb-c416="" class="ml-3 mb-0 page--title"> Xem chi tiết cài đặt lãi suất </h3>
        </div>
        <div class="content__top-right">
            <button *ngIf="isApprove" class="btn btn--light-blue btn-small" (click)="censorship(true)">{{
                'btnAction.approved' | translate }}
            </button>
            <button *ngIf="isApprove" class="btn btn--light-blue btn-small" (click)="censorship(false)">{{
                'btnAction.refuse' | translate }}
            </button>
        </div>
    </div>
    <div class="content">
        <div style='padding: 15px' class="content-body">
            <div class="col-12 detail-block mb-4 tab-content">
                <app-declare-setup #declare (changeLoading)="changeLoading($event)" [type]="'detail'"
                    [customer]="customer"></app-declare-setup>
            </div>

        </div>
    </div>
</div>
