<div class="h-100 m-1">
    <div [formGroup]="form" style="height: 30%;">
        <h2 class="px-3">Dư nợ thời điểm</h2>
        <div class="d-flex m-3">
            <div class="w-50 mr-1">
                <label>Sản phẩm</label>
                <p-dropdown [appendTo]="'body'" optionLabel="name" optionValue="value" [options]="products"
                    formControlName="product" [placeholder]="'Sản phẩm'">
                </p-dropdown>
            </div>
            <div class="w-50 ml-1">
                <label>Kỳ hạn</label>
                <p-dropdown [appendTo]="'body'" optionLabel="name" optionValue="value" [options]="periods"
                    formControlName="period" [placeholder]="'Kỳ hạn'">
                </p-dropdown>
            </div>
        </div>
        <div class="d-flex m-3">
            <div class="w-50 mr-1">
                <label>Nhóm nợ</label>
                <p-dropdown [appendTo]="'body'" optionLabel="name" optionValue="value" [options]="debtGroups"
                    formControlName="debtGroup" [placeholder]="'Nhóm nợ'">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div *ngIf="option" style="height: 70%;" echarts [options]="option"></div>
    <div *ngIf="!option" style="height: 70%;" class="d-flex justify-content-center align-items-center">
        Không có dữ liệu
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>