<div class="right-view address">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Tra cứu Danh bạ theo danh sách</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container>
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.taxCode' | translate }}</label>
                <input
                  type="text"
                  maxlength="30"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="taxCode"
                  (keyup.enter)="search(0)"
                />
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input
                  type="text"
                  maxlength="250"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="customerName"
                  (keyup.enter)="search(0)"
                />
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.phone' | translate }}</label>
                <input
                  type="text"
                  maxlength="20"
                  pInputText
                  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                  placeholder=""
                  class="d-block"
                  formControlName="phone"
                  (keyup.enter)="search(0)"
                />
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">GTTT người đại diện</label>
                <input
                  type="text"
                  maxlength="50"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="certificateId"
                  (keyup.enter)="search(0)"
                />
              </div>

            </div>

            <div class="row form-create">
              <div class="col-md-3 form-group">
                <label class="mb-0">Loại khách hàng</label>
                <p-dropdown
                  [(ngModel)]="customerType"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="common.typeStatus"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (onChange)="search(0)"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn-small btn--light-blue" (click)="search(0)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
            </div>

            <div class="table__view list_rm">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="taxCode"
                  [width]="60"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.taxCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerName"
                  [sortable]="false"
                  [draggable]="false"
                  [width]="280"
                  name="{{ 'fields.customerName' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <p style="white-space: pre-line;">{{ value }}</p>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="industry"
                  [sortable]="false"
                  [draggable]="false"
                  name="Nghành nghề"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rmCount"
                  [width]="60"
                  [sortable]="false"
                  [draggable]="false"
                  name="SL RM Tiếp cận"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}" >{{value}}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="lastestActivityDate"
                  [width]="140"
                  [sortable]="false"
                  [draggable]="false"
                  name="Thời gian tiếp cận gần nhất"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>
                      {{ value | date: 'HH:mm dd/MM/yyyy'}}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="lastestResult"
                  [sortable]="false"
                  [draggable]="false"
                  name="Kết quả tiếp cận gần nhất"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}" [ngClass]="value === 'Đã tiếp cận' ? 'text-green' : 'text-danger'">
                      {{ value }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rm"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.rmManager' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="branch"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.branchManagement' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>
        <ng-container >
          <div class="group__create-form px-4 mt-4 messageSaleOpp">
            {{ 'saleOpportunity.permissionOpp' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
