.lead-information-extended-new {
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list_infomation {
    flex: 1 1 auto;
  }
  .err-style{
    position: absolute;
    top: 0;
    background: #fff;
  }
  // .boder-input {
  //   height: 30px;
  //   width: 100%;
  //   border-radius: 5px;
  //   border: none;
  //   padding-left: 10px;
  //   background-color: #fff;
  // }

  // .is-edit{
  //   border: 0.5px solid #222a2050!important;
  // }
  // .filter {
  //   height: 36px;
  // }

  // .flex-1 {
  //   flex: 1;
  // }

  // .filter-hearder {
  //   margin: 0;
  //   font-size: 12px;
  //   font-weight: bold;
  //   height: 44px;
  //   padding: 2px 8px;
  //   display: flex;
  //   align-items: center;
  //   background-color: #ececf2;
  //   border-radius: 4px;
  // }


  .p-calendar-disabled input{
    border: none !important;
  }
  // .col-action {
  //   font-size: 16px;
  // }

  // .button-disable {
  //   opacity: 0;
  // }

  // .p-inputnumber {
  //   width: 100%;
  // }

  // .href-link {
  //   color: #bbbbfd;
  //   text-decoration: none;
  //   &:hover{
  //     color: #1649ef;
  //     text-decoration: underline;
  //     cursor: pointer;
  //   }
  // }
}
.btn-action-lead{
  max-width: 300px;
  position: absolute;
  right: 15px;
  top: -43px;
  display: flex;
  justify-content: right;
  button{
    margin: 5px 0px;
  }
}
.ic-check {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(/assets/images/checkbig-green.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ic-x {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(/assets/images/checkx-big-red.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

button:hover {
  .ic-check {
    background-image: url(/assets/images/checkbig.svg);
  }
  .ic-x {
    background-image: url(/assets/images/checkx-big-white.svg);
  }
}
