<app-loading *ngIf="isLoading"></app-loading>
<div class="btn-action-lead w-100">
  <button type="button" class="btn-outline btn--light-blue col-action ml-2" title="Thêm" id="addContact"
    (click)="$event.stopPropagation();createPersonContact()">
    <em class="las la-plus-circle" style="font-size: 20px;"></em>
  </button>
  <button type="button" class="btn-outline btn-success" *ngIf="haveNewRecord !== 0 || haveEditRecord !== 0 || haveDeleteRecord !== 0" title="Lưu"
    (click)="save()">
    <em class="ic-check"></em>
  </button>
</div>
<div class="lead-information-extended-new">
  <div class="col-12 detail-block mb-4">
    <div class="table__view" [formGroup]="contactInfo">
      <div formArrayName="arrayContact">
        <ngx-datatable ngxDataTable #table class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
          rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true" [rows]="listData" [virtualization]="false"
          [externalPaging]="false" [messages]="messages">
          <ngx-datatable-column prop="name" [sortable]="false" [draggable]="false" [width]="60" name="STT">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <p style="white-space: pre-line;">{{ rowIndex + 1 }}</p>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="name" [sortable]="false" [draggable]="false" [width]="240" name="Họ và tên">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%">
              <mat-form-field style="width:100%" >
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].name') }}</span>
                  <input pInputText *ngIf="row.isUpdate||row.isCreate" formControlName="name" class="boder-input" value="name" maxlength="50">
                  <!-- <small class="p-error">
                      {{'validationMessage.onlyNumber' | translate}}
                  </small>     -->
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="position" [sortable]="false" [draggable]="false" name="Chức danh"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].positionName') }}</span>
                  <p-dropdown *ngIf="row.isUpdate||row.isCreate " autoZIndex="false" baseZIndex="10000" appendTo = "body" formControlName="position"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listPosition"
                    placeholder="" class="d-block" optionLabel="name" optionValue="code">
                  </p-dropdown>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="idCard" [sortable]="false" [draggable]="false" name="Số GTTT">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%">
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].idCard') }}</span>
                  <input pInputText *ngIf="row.isUpdate||row.isCreate " formControlName="idCard" class="boder-input" value="idCard" maxlength="20">
                  <small
                    class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.idCard?.errors?.taxCode && getForm(rowIndex)?.controls?.idCard?.touched"
                  >Sai định dạng số GTTT</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="phone" [sortable]="false" [draggable]="false" name="Số điện thoại">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%">
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].phone') }}</span>
                  <input pInputText *ngIf="row.isUpdate||row.isCreate " formControlName="phone" type="text" class="boder-input" value="phone" maxlength="20">
                  <small
                    class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.phone?.errors?.onlyNumber && getForm(rowIndex)?.controls?.phone?.touched"
                    >Sai định dạng số điện thoại</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="email" [sortable]="false" [draggable]="false" name="Email">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%">
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].email') }}</span>
                  <input pInputText *ngIf="row.isUpdate||row.isCreate " formControlName="email" type="email" matInput class="boder-input" value="email" maxlength="70">
                  <small
                    class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.email?.errors?.email && getForm(rowIndex)?.controls?.email?.touched"
                    >Sai định dạng email</small
                  >
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="gender" [sortable]="false" [draggable]="false" name="Giới tính">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%">
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].gender') }}</span>
                  <p-dropdown *ngIf="row.isUpdate||row.isCreate " autoZIndex="false" baseZIndex="10000" appendTo = "body" formControlName="gender"
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listGender"
                      placeholder="" class="d-block" optionLabel="name" optionValue="code">
                  </p-dropdown>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="birthday" [sortable]="false" [draggable]="false" name="Ngày sinh">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div [formGroupName]="rowIndex">
                <span *ngIf="!row.isUpdate&&!row.isCreate" class="text-wrap">{{ getValueDateString(listData, '[' + rowIndex + '].birthday') }}</span>
                <p-calendar *ngIf="row.isUpdate||row.isCreate " value="birthday" class="d-flex" dateFormat="dd/mm/yy" appendTo="body" formControlName="birthday"
                  autoZIndex="false" baseZIndex="10000" [showIcon]="row.isUpdate ||row.isCreate " icon="las la-calendar-alt"
                  [showTime]="false" [maxDate]="crrDate">
                </p-calendar>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
            [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                <button type="button" class="btn-outline btn--light-blue" title="{{ 'btnAction.edit' | translate }}"
                  (click)="updateExtend2(rowIndex)" *ngIf="!row.isUpdate && !row.isCreate">
                  <em class="las la-edit f-16"></em>
                </button>
                <button type="button" class="btn-outline btn-danger" title="Hủy" (click)="cancel(rowIndex)"
                  *ngIf="row.isUpdate||row.isCreate">
                  <em class="ic-x"></em>
                </button>
                <button type="button" class="btn-outline btn-danger" title="Xóa" (click)="deleteInfo(rowIndex)"
                  *ngIf="!row.isCreate">
                  <em class="las la-trash-alt"></em>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
