<div class="right-view detail-kpi-manager-by-day">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()"><em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}</button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'kpi.menu.detail_kpi_manager_by_day' | translate }}
      </h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <h5 class="m-0">{{ 'rm.title.rmInfo' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show" id="detail">
                  <div class="row px-4">
                    <div class="col-md-1">
                      <label class="detail-key">{{'fields.rmCode'| translate }}</label>
                    </div>
                    <div class="col-md-5 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'rmCode') }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.hrisCode'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'hrsCode') }}</span>
                    </div>
                    <div class="col-md-1">
                      <label class="detail-key">{{'fields.rmName'| translate }}</label>
                    </div>
                    <div class="col-md-5 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'rmName') }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.rm_group'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'rmGroup') }}</span>
                    </div>
                    <div class="col-md-1">
                      <label class="detail-key">{{'fields.block'| translate }}</label>
                    </div>
                    <div class="col-md-5 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'bizLine') }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.levelRM'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'rmLevel') }}</span>
                    </div>
                    <div class="col-md-1">
                      <label class="detail-key">{{'fields.period'| translate }}</label>
                    </div>
                    <div class="col-md-5 form-group has-error">
                      <div class="row">
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton value="false" [(ngModel)]="period" [disabled]="true"></p-radioButton>
                          <label class="ml-3">Ngày</label>
                        </div>
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton value="true" [(ngModel)]="period" [disabled]="true"></p-radioButton>
                          <label class="ml-3">Tháng</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">Thời điểm</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ getValue(model, 'businessDate') | date: 'dd/MM/yyyy' }}</span>
                    </div>

                    <div class="col-md-1">
                      <label class="detail-key">{{ 'kpi.menu.typeData' | translate }}</label>
                    </div>
                    <div class="col-md-5 form-group has-error">
                      <div class="row">
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton value="false" [(ngModel)]="past" [disabled]="true"></p-radioButton>
                          <label class="ml-3">Hiện tại</label>
                        </div>
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton value="true" [(ngModel)]="past" [disabled]="true"></p-radioButton>
                          <label class="ml-3">Lịch sử</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key error">{{ 'kpi.menu.lastDayData' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap error">{{ businessDate | date: 'dd/MM/yyyy' }}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 detail-block mb-3" *ngIf="isShow">
              <kpi-target-table [(models)]="model.details" [id]="code" [rsid]="rsid" [scope]="'VIEW'">
              </kpi-target-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
