.detail-kpi-manager-by-day {
  .detail-block {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
  }

  .app__left-content.left-content {
    padding: 20px 18px;
    min-height: 100vh;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    overflow-y: auto;
    border-radius: 12px;
  }
  .item-label {
    min-width: 60px !important;
  }

  .target-detail {
    font-weight: 700;
    font-size: 12px;
  }

  .target-value {
    font-weight: 700;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  .campaign-detail-table {
    height: 100%;
  }

  .tablecollateral .fullscreen {
    position: relative !important;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .data-empty {
    border-bottom: none;
  }
  .error {
    color: red;
  }
}
