<div class="confirm-authorization-content">
    <h5> <button type="button" class="close crm-btn-close" (click)="closeModal()"><span
                aria-hidden="true">×</span></button></h5>
    <ng-container>
        <div class="d-flex justify-content-center">
            <div *ngFor="let item of data ;  let i = index;let last = last;let first = first">
                <span [ngStyle]="{'visibility': !first ?  'visible' : 'hidden'}" class="step-line mr-3" visible></span>

                <span class="i-block step active">
                    <span [ngClass]="{'rounded-circle step-circle': true,'step-circle-secondary': item?.disabled}">{{item.num + 1 }}</span>

                </span>
                <span [ngStyle]="{'visibility': !last ?  'visible' : 'hidden'}" class="step-line ml-3" visible></span>
                <div [ngClass]="{'step text-center mb-2 mt-2': true, 'active': !item?.disabled ,'text-secondary': item?.disabled}">
                    {{ item.titleCategory || '' }}
                </div>

                <div *ngIf="item.childs">
                    <div class="field-radiobutton mb-2" *ngFor="let child of item.childs">
                        <label class="radio">
                            <input [name]="child.priority" type="radio" (click)="select(child)" [disabled]="child?.disabled"
                                [checked]="child.isChecked" />
                            <span class="ck"></span>
                            <label [ngClass]="{'m-0 ml-2 mt-1': true ,'text-secondary': child?.disabled}">{{child.fullName || '' }}</label>
                        </label>
                    </div>
                </div>
                <label *ngIf="!item.childs" [ngClass]="{'m-0 ml-2 mt-1 w-100 text-center': true ,'text-secondary': item?.disabled}">{{item.fullName || '' }}</label>
            </div>
        </div>
        <div class="mb-4 font-stype-em" *ngIf="!requiredAll">
            <p class="m-0">Lưu ý:</p>
            <p class="m-0">
                1. Trường hợp người khởi tạo là RM thì bắt buộc chọn CBQL trực tiếp / BLĐ chi nhánh và cấp phê duyệt cuối cùng.
            </p>
            <p class="m-0">
                2. Trường hợp người khởi tạo là CBQL thì bắt buộc chọn BLĐ chi nhánh và cấp phê duyệt cuối cùng.
            </p>
        </div>
    </ng-container>
    <div class="row mt-5">
        <div class="col-3 pl-2 text-center" style="margin: auto;">
            <button class="btn btn--light-blue btn-small" (click)="confirm()">
                {{ 'Xác nhận' }}
            </button>
        </div>
    </div>

</div>
