.confirm-authorization-content{
    width: 100%;
}

.step-container{
    // position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
  .step{
    font-weight: 600;
    font-size: 16px;
  }
  .step-circle{
    padding: 4px 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }
  .step.active {
    color: #bbbbfd!important;;
  }
  .step.active .step-circle {
    background-color: #bbbbfd!important;
    color: #fff;
  }
  .step.active .step-circle.step-circle-secondary {
    background-color: #6c757d!important;
    color: #fff;
  }
  .text-secondary{
    color: #6c757d!important;
  }
  .step-line{
    width: 7rem;
    border: 1px solid #212121;
    display: inline-block;
    vertical-align: super;
  }
  .font-stype-em{
    font-style: italic;
  }
