@import 'variable';
.dashboard-mobilize-cbql-indiv {
  border-radius: 12px;
  background-color: #fff;

  .border {
    background-color: #fff;
    border-radius: 12px;
  }
  .content-chart{
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .chart__header-right {
    display: flex;
    align-items: center;
  }
  .chart__header {
    margin-bottom: 1rem;
  }
  .legend-line {
    width: 40px;
    height: 1px;
    margin-right: 15px;
  }
  .legend-net {
    display: flex;
    margin-right: 15px;
    .legend-bage-increase {
      margin-right: 3px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    .legend-bage-decrease {
      margin-right: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }
  .chart__note {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    // display: flex;
    align-items: center;
    text-align: right;
    color: #9AA1BC;
    opacity: 0.7;
  }
  .legend-content {
    display: inline-flex;
    justify-content: center;
    padding-left: 10% !important;
    .legend-bar {
      margin-bottom: 8px;
    }
  }
  .ngx-datatable .datatable-body .datatable-body-row {
    min-height: 43px !important;
    height: 43px !important;
  }
  .column-number {
    .datatable-body-cell-label {
      flex-direction: row-reverse;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .max-width {
    max-width: 185px;
    width: 185px;
  }
  .column-number {
    .datatable-body-cell-label {
      flex-direction: row-reverse;
    }
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  p-dropdown{
    min-width: 100px;
  }
  .vertical {
    border-left: 1px solid #dcd5d5;
    height: 95%;
    position: absolute;
    left: 40.5%;
  }
}
