<div class="dashboard-mobilize-cbql-indiv chart">
  <div class="content-chart">
    <div style="flex: 2">
      <div class="chart__header block-center-between">
        <div class="chart__header-left">
          <div class="f-16 text-black chart__header-title">{{title}}</div>
        </div>
        <div class="chart__header-right">
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            [options]="listTime"
            class="d-block"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="name"
            optionValue="code"
            [(ngModel)]="typeTime"
            (onChange)="onChangeType($event)"
          ></p-dropdown>
        </div>
      </div>
      <div class="chart__header block-center-between" *ngIf="dashboardType && dashboardType === 'HDV_INDIV'">
        <div class="chart__header-left block-center-between" style="width: 50%">

          <label *ngFor="let item of listType " class="checkbox">
            <input type="checkbox" [checked]="item?.checked" [disabled]="item?.disable" (click)="onCheckboxFn(item, $event.target.checked); $event.stopPropagation()"/>
            <span class="ck"></span>&nbsp;{{ item?.name}}
          </label>


        </div>
        <div class="chart__header-right">

        </div>
      </div>
      <ng-container *ngIf="!isLoading && !isEmpty">
        <div class="chart__body">
          <div echarts [options]="option" ></div>
        </div>
        <div class="chart__legend mt-5">
          <ul class="legend-content block-center-between">
            <li class="block-center-between legend-bar">
              <div class="chart__legend-left">
                <div class="legend-net">
                  <span class="legend-bage-increase" [ngStyle]="{ backgroundColor: data?.configColor?.tang_net }"></span>
                  <span class="legend-bage-decrease" [ngStyle]="{ backgroundColor: data?.configColor?.giam_net }"></span>
                </div>
                {{ data?.legend[0] || '' }}
              </div>
            </li>
            <li class="block-center-between ml-lg-5">
              <div class="chart__legend-left">
                <span class="legend-line" [ngStyle]="{ border: '1px solid ' + data?.configColor?.line }"></span>
                {{ data?.legend[1] || '' }}
              </div>
            </li>
          </ul>
        </div>
        <div class="chart__note mt-lg-5">Dữ liệu cập nhật ngày {{ data?.businessDate }}</div>
      </ng-container>
      <ng-container *ngIf="!isLoading && isEmpty">
        <div class="chart__empty" style="height: 60%;">
          <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
      </ng-container>
      <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="vertical"></div>
    <div  class="ml-5" style="flex: 3">
      <div class="chart__header block-center-between">
        <div class="chart__header-left">
          <div class="f-16 text-black chart__header-title">{{'dashboard.creditManagement.creditNotExpense' | translate}}</div>
        </div>
        <div class="chart__header-right">
          <div >Đơn vị tính: Tỷ đồng</div>
        </div>
      </div>

      <div class="table__view mt-lg-5" style="height: 90%;">
        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" columnMode="force"
                       [headerHeight]="50" [footerHeight]="50" [rowHeight]="35" [virtualization]="false"
                       [scrollbarV]="true" [scrollbarH]="true" [rows]="listData" [virtualization]="false"
                       [externalPaging]="true" [count]="pageable?.totalElements"
                       [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                       [messages]="messages"
        >
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="40"

            [canAutoResize]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="RM_INFO" [sortable]="false" [draggable]="false"
                                name="{{'dashboard.mobilize-loan.rm_ubManagement' | translate}}" [width]="150">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span title="{{value }}">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="BAL_DAY1" [sortable]="false" [draggable]="false"
                                 [width]="100" >
            <ng-template let-column="column" ngx-datatable-header-template>
              <div class="w-100 text-center">{{'dashboard.mobilize-loan.scale' |translate}}</div>
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
<!--              <span title="{{ value}}">{{ value }}</span>-->
              <div class="w-100 text-right" title='{{ value }}'>{{value}}</div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="BAL_CHANGE_1" [sortable]="false" [draggable]="false"
                                 >
            <ng-template let-column="column" ngx-datatable-header-template>
              <div class="w-100 text-center">{{'dashboard.mobilize-loan.bal_day' |translate}}</div>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="w-100 text-right">
                <img *ngIf="value > 0" [src]="img.up"/>
                <img *ngIf="value < 0" [src]="img.down"/>
                <span title="{{row?.BAL_CHANGE_1_1 }}">{{row?.BAL_CHANGE_1_1}}</span>
              </div>
<!--              <span title="{{absValue(value) }}">{{absValue(value)}}</span>-->
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="BAL_CHANGE_2" [sortable]="false" [draggable]="false"
                                >
            <ng-template let-column="column" ngx-datatable-header-template>
              <div class="w-100 text-center">{{'dashboard.mobilize-loan.bal_week' |translate}}</div>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="w-100 text-right">
                <img *ngIf="value > 0" [src]="img.up"/>
                <img *ngIf="value < 0" [src]="img.down"/>
                <span title="{{row?.BAL_CHANGE_2_2}}">{{row?.BAL_CHANGE_2_2}}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="BAL_CHANGE_3" [sortable]="false" [draggable]="false"
                                >
            <ng-template let-column="column" ngx-datatable-header-template>
              <div class="w-100 text-center">{{'dashboard.mobilize-loan.bal_month' |translate}}</div>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="w-100 text-right">
                <img *ngIf="value > 0" [src]="img.up"/>
                <img *ngIf="value < 0" [src]="img.down"/>
                <span title="{{row?.BAL_CHANGE_3_3}}">{{row?.BAL_CHANGE_3_3}}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                         let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                         ngx-datatable-footer-template>
              <app-pager-ngx-datatable [page]="curPage"
                                       [offset]="offset"
                                       [size]="pageSize"
                                       [count]="pageable?.totalElements"
                                       (eventChangePageSize)='handleChangePageSize($event)'
                                       [hasDropdown]='true'
                                       [hidden]="false"
                                       (change)="table.onFooterPage($event)">
              </app-pager-ngx-datatable>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
      <div style="bottom: 10px" *ngIf="loadingListRm" class="w-100 position-absolute">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
