<div class="gridster__item-body">
    <gridster [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
            <div class="gridster__item-content">
                <div class="box block-center-between">
                    <div class="box__left">
                        <p class="box__left-text">{{ item.name }}</p>
                        <h4 class="box__left-title">{{ item.total }} <em class="las la-arrow-up link"></em></h4>
                    </div>
                    <div class="box__right">
                        <span [class]="'btn-icon btn-icon--medium ' + item.iconBackground">
                            <em [class]="'f-20 ' + item.icon"></em>
                        </span>
                    </div>
                </div>
            </div>
        </gridster-item>
    </gridster>
</div>
<app-loading *ngIf="isLoading"></app-loading>