.selling-opp-indiv {
  color: #353644;
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list_rm {
    flex: 1 1 auto;
  }
  .action__left {
    display: flex;
    text-align: left;
    width: 50%;
  }
  .action__right {
    text-align: right;
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }

  .column-action {
    .btn-primary.focus,
    .btn-primary:focus {
      background: none !important;
    }
  }

  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .las-cus {
    position: relative;
    top: 2px;
  }

  .label {
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0 5px;
    &.priority {
      background-color: #EBEBEC;
      color: #86868F;
    }
    &.private {
      background-color: #FFF3CA;
      color: #90784A;
    }
  }

  .customer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .c-code {
      color: #bbbbfd;
      padding-right: 3px;
    }
    .c-name {
      padding-left: 3px;
    }
  }

  .opacity-0 {
    visibility: hidden;
  }
}

.opp-filter {
  ::ng-deep .p-dropdown-label {
    color: #bbbbfd;
  }

  ::ng-deep .p-inputtext {
    padding-left: 13px;
    font-size: 13px;
  }

  ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: #bbbbfd!important;
    font-size: 13px;
  }

  ::ng-deep .p-dropdown, .p-multiselect {
    border: 1px solid #bbbbfd!important;
  }
}

::ng-deep .p-disabled, .p-component:disabled {
  background-color: #EFEFEF!important;
}
