<div class="right-view selling-opp-indiv">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Cơ hội bán</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4">
          <div class="row py-1" [formGroup]="formSearch">
            <div class="col-md-3">
              <label class="m-0">{{ 'sellingOppIndiv.label.oppCode' | translate }}</label>
              <input
                     type="text"
                     maxlength="15"
                     class="d-block"
                     (keyup.enter)="search(true)"
                     formControlName="code"
                     pInputText />
            </div>
            <div class="col-md-3">
              <label class="m-0">{{ 'sellingOppIndiv.label.customerCode' | translate }}</label>
              <input
                     type="text"
                     maxlength="15"
                     class="d-block"
                     (keyup.enter)="search(true)"
                     formControlName="customerCode"
                     pInputText />
            </div>
            <div class="col-md-3">
              <label class="m-0">{{ 'sellingOppIndiv.label.customerName' | translate }}</label>
              <input
                     type="text"
                     maxlength="200"
                     class="d-block"
                     (keyup.enter)="search(true)"
                     formControlName="customerName"
                     pInputText />
            </div>
            <div *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'" class="col-md-3">
              <label class="m-0">{{ 'sellingOppIndiv.label.registrationNumber' | translate }}</label>
              <input
                     type="text"
                     maxlength="50"
                     class="d-block"
                     (keyup.enter)="search(true)"
                     formControlName="national"
                     pInputText />
            </div>
            <div *ngIf="formSearch.controls.customerTypeMerge.value != 'INDIV'" class="col-md-3">
              <label class="m-0">Số ĐKKD</label>
              <input
                     type="text"
                     maxlength="50"
                     class="d-block"
                     (keyup.enter)="search(true)"
                     formControlName="businessRegistration"
                     pInputText />
            </div>
          </div>
          <ng-container *ngIf="isOpenMore">
            <div class="row " [formGroup]="formSearch">
              <div class="col-md-3 py-1">
                <label class="m-0">{{ 'sellingOppIndiv.label.customerBlock' | translate }}</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="customerTypeMerge"
                            [options]="listDivision"
                            placeholder=" "
                            class="d-block"
                            optionLabel="displayName"
                            optionValue="code"
                            (keyup.enter)="search(false)">
                </p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">Sản phẩm cha</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="listProduct"
                            class="d-block"
                            [filter]="true"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            formControlName="productCodeLvl2"
                            optionLabel="description"
                            optionValue="idProductTree"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (onChange)="onChangeProductLvl2($event)"></p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">Sản phẩm con</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="listProductChild"
                            class="d-block"
                            [filter]="true"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            formControlName="productCode"
                            optionLabel="name"
                            optionValue="code"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (onChange)="onChangeProduct($event)"></p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">{{'sellingOppIndiv.label.source' | translate}}</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="formSearch.controls.customerTypeMerge.value == 'INDIV' ? listSource : listSourceSME "
                            class="d-block"
                            [filter]="true"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            formControlName="source"
                            optionLabel="name"
                            optionValue="code"
                            ></p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">Trạng thái</label>
                <p-dropdown [disabled]="formSearch.get('productCode').value === ''"
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="status"
                            [options]="formSearch.controls.customerTypeMerge.value == 'INDIV' ? listStatusOpp : listStatusOppSME"
                            placeholder=" "
                            class="d-block"
                            [optionLabel]="formSearch.controls.customerTypeMerge.value == 'INDIV' ? 'displayName' : 'name'"
                            optionValue="code"
                            (keyup.enter)="search(false)">
                </p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">{{ 'sellingOppIndiv.label.branchCodeLevel2' | translate }}</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="formSearch.controls.customerTypeMerge.value == 'INDIV' ? listBranchesOpp : listBranchesSME "
                            placeholder=" "
                            class="d-block"
                            [filter]="true"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            formControlName="branchOpp"
                            appendTo="body"
                            autoZIndex="false"
                            baseZIndex="10000"
                            optionLabel="displayName"
                            optionValue="code"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (keyup.enter)="search(false)"></p-dropdown>
              </div>
              <div class="col-md-3 py-1" *ngIf="formSearch.controls.source.value === 'SMARTBANK'">
                <label class="m-0">{{ 'sellingOppIndiv.label.smartbank' | translate }}</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="listSmartBank"
                            placeholder=" "
                            class="d-block"
                            [filter]="true"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            appendTo="body"
                            autoZIndex="false"
                            baseZIndex="10000"
                            formControlName="atmId"
                            optionLabel="SMB_NM"
                            optionValue="ATM_ID"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (keyup.enter)="search(false)"></p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">Người tạo</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="createdBy"
                            [filter]="true"
                            [options]="listCreatedBy"
                            placeholder=" "
                            class="d-block"
                            optionLabel="fullName"
                            optionValue="code"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (keyup.enter)="search(false)">
                </p-dropdown>
              </div>
              <div class="col-md-3 py-1">
                <label class="m-0">Người xử lý</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="memberCode"
                            [filter]="true"
                            [options]="listRmManager"
                            placeholder=" "
                            class="d-block"
                            optionLabel="displayName"
                            [optionValue]=" formSearch.controls.customerTypeMerge.value == 'INDIV' ? 'code' : 'hrsCode'"
                            [virtualScroll]="true"
                            [itemSize]="31"
                            (keyup.enter)="search(false)">
                </p-dropdown>
              </div>
            </div>
          </ng-container>
          <div class="row mt-1 mb-3">
            <div class="col-4">
              <button class="btn btn--light-blue btn-small search" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                <em class="las la-angle-down f-16"></em>
              </button>
              <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                <em class="las la-angle-up f-16"></em>
              </button>
            </div>
            <div class="col-4 d-flex justify-content-end" [formGroup]="formSearch">
              <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]=" formSearch.controls.customerTypeMerge.value == 'INDIV' ? listOpportunityFilter : listOpportunityFilterSME"
                          formControlName="oppFilter"
                          placeholder=" "
                          class="pr-3 d-block opp-filter"
                          optionLabel="displayName"
                          optionValue="code"
                          (onChange)="changeOppFilter($event)">
              </p-dropdown>
              <!--              <button class="btn btn--light-blue btn-small search" (click)="takeAllChance()">-->
              <!--                {{isAssigned ? 'Cơ hội của tôi' : 'Cơ hội có thể nhận'}}-->
              <!--              </button>-->
              <button
                      *ngIf="checkScopes(['CREATE'])"
                      class="btn btn--light-blue btn-icon--small"
                      (click)="createOpp()"
                      title="{{ 'btnAction.create' | translate }}">
                <em class="las la-plus-circle f-16 las-cus"></em>
              </button>
              <button *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'"
                      (click)='exportFile()'
                      class='btn btn--light-blue btn-icon--small'
                      title="{{ 'btnAction.export' | translate }}">
                <em class='las la-file-excel f-16'></em>
              </button>
            </div>
          </div>
          <div class="table__view list_rm">
            <div style="height: 60%;" *ngIf="!currentBlockCode"  class="d-flex justify-content-center align-items-center w-100 mt-4">
              <h6> Vui lòng chọn tiêu chí lọc !</h6>
            </div>
            <ngx-datatable [ngClass]="{'d-none': !currentBlockCode}"
                           ngxDataTable
                           #table
                           class="bootstrap fullscreen"
                           columnMode="force"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           rowHeight="auto"
                           [virtualization]="false"
                           [scrollbarV]="true"
                           [scrollbarH]="true"
                           [rows]="listData"
                           [virtualization]="false"
                           [externalPaging]="true"
                           [count]="pageable?.totalElements"
                           [offset]="pageable?.currentPage"
                           [limit]="pageable?.size"
                           (page)="setPage($event)"
                           [messages]="messages"
                           (activate)="onActive($event)">
              <ngx-datatable-column
                                    [sortable]="false"
                                    name="{{ 'sellingOppIndiv.title.no' | translate }}"
                                    [width]="35"
                                    [canAutoResize]="true"
                                    [draggable]="false"
                                    [resizeable]="true">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                                    prop="customer"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [width]="200"
                                    [canAutoResize]="true"
                                    [resizeable]="true"
                                    name="{{ 'sellingOppIndiv.title.customer' | translate }}">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'sellingOppIndiv.title.customer' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="customer" title="{{ value }}">
                    <div>
                      <span *ngIf="row.customerCode" class="c-code" (click)="navigate360Detail(row)">{{ row?.customerCode +
                        ' -'}}
                      </span>
                    </div>
                    <span [title]="row?.customerName" class="c-code" (click)="navigate360Detail(row)" >{{ row?.customerName }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="formSearch.controls.customerTypeMerge.value != 'INDIV'"
                                    name="ĐKKD"
                                    [sortable]="false"
                                    [draggable]="false"
                                    >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>{{ row?.registrationNumber }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                                    prop="colourDisplay"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="Phân khúc">
                <!-- <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'sellingOppIndiv.title.segment' | translate }}
                </ng-template> -->
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <ng-container *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'">
                    <span
                          class="label"
                          [ngStyle]="{ backgroundColor: value.color, color: value.textColor }"
                          title="{{ value?.description }}">{{ value?.description }}</span>
                  </ng-container>
                  <ng-container *ngIf="formSearch.controls.customerTypeMerge.value != 'INDIV'">
                    <span class="label">{{ row?.segment}}
                    </span>
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                                    prop="code"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="{{ 'sellingOppIndiv.title.oppCode' | translate }}">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'sellingOppIndiv.title.oppCode' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'"
                                    prop="createdBy"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="Người tạo">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Người tạo
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'"
                                    prop="memberName"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="Người xử lý">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Người xử lý
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngIf="formSearch.controls.customerTypeMerge.value != 'INDIV'"
                                    name="Địa chỉ"
                                    [sortable]="false"
                                    [draggable]="false"
                                    >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span [title]="row?.address">{{ row?.address }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                                    prop="statusName"
                                    [sortable]="false"
                                    [draggable]="false"
                                    [width]="100"
                                    name="{{ 'sellingOppIndiv.title.status' | translate }}">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div>{{ 'sellingOppIndiv.title.status' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'"
                                    prop="createdDate"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="{{ 'sellingOppIndiv.title.createDate' | translate }}">
                <ng-template ngx-datatable-header-template>
                  <div class="text-center">{{ 'sellingOppIndiv.title.createDate' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="margin-right: auto !important; margin-left: auto !important" title="{{ value }}">{{
                    value | date: 'dd/MM/y'
                    }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                                    prop="productName"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="{{ 'sellingOppIndiv.title.product' | translate }}">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div>{{ 'sellingOppIndiv.title.product' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                                    prop="campaignName"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="{{ 'sellingOppIndiv.title.campaign' | translate }}">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div>{{ 'sellingOppIndiv.title.campaign' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                                    *ngIf="formSearch.controls.customerTypeMerge.value == 'INDIV'"
                                    prop="smbName"
                                    [sortable]="false"
                                    [draggable]="false"
                                    name="Smartbank">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div>Smartbank</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                                    name="{{ 'sellingOppIndiv.title.actions' | translate }}"
                                    [width]="150"
                                    [frozenRight]="true"
                                    [sortable]="false"
                                    [canAutoResize]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template ngx-datatable-header-template>
                  <div class="text-center">{{ 'sellingOppIndiv.title.actions' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button
                            [ngClass]="(currentBlockCode == 'INDIV' ? !row.memberCode && currUser?.code : !row.memberHrsCode && row?.branchCode == currUser?.branch) && checkScopes(['UPDATE']) ? '' : 'opacity-0'"
                            type="button"
                            title="{{ 'sellingOppIndiv.tooltip.takeAChance' | translate }}"
                            (click)="takeAChance(row)"
                            class="btn-outline">
                      <em class="las la-assign-opportunity-rm"></em>
                    </button>
                    <button
                            [ngClass]="row.updator && checkScopes(['UPDATE']) ? '' : 'opacity-0'"
                            type="button"
                            title="{{ 'sellingOppIndiv.tooltip.edit' | translate }}"
                            (click)="edit(row)"
                            class="btn-outline">
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                             let-rowCount="rowCount"
                             let-pageSize="pageSize"
                             let-selectedCount="selectedCount"
                             let-curPage="curPage"
                             let-offset="offset"
                             ngx-datatable-footer-template>
                  <app-pager-ngx-datatable
                                           [page]="curPage"
                                           [offset]="offset"
                                           [size]="pageSize"
                                           [count]="rowCount"
                                           [hidden]="false"
                                           (change)="table.onFooterPage($event)"
                                           [hasDropdown]="true"
                                           (eventChangePageSize)="handleChangePageSize($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
