<div class='choose-manager-confirm'>
  <h5>
    {{ 'title.notification' | translate }}
    <button class='close crm-btn-close' type='button' mat-dialog-close><span aria-hidden='true'>×</span></button>
  </h5>

  <hr />
  <p>{{ 'reductionProposal.messages.managerConfirmReduction' | translate }}</p>
  <div class='row'>
    <div class='col-6 pr-2'>
      <button (click)='managerConfirm(true)' class='col-12 btn crm-btn-secondary btn-small' mat-dialog-close>
        {{ 'title.confirmApproved' | translate }}
      </button>
    </div>
    <div class='col-6 pl-2'>
      <button (click)='managerConfirm(false)' class='col-12 btn crm-btn-secondary btn-small' mat-dialog-close>
        {{ 'title.confirmRefuse' | translate }}
      </button>
    </div>
  </div>
</div>
