.calendar-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .btn-secondary {
    border: 1px solid #ececf2;
  }

  .filter-top-calendar {
    border-bottom: 1px solid #dee2e6;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  a.fc-daygrid-event.fc-daygrid-block-event {
    cursor: pointer;
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }

  .w-0 {
    width: 0px !important;
  }

  .p-calendar .p-datepicker-touch-ui,
  .p-datepicker-touch-ui {
    min-width: 500px;
  }
}
