<div class="list__block calendar-view">
    <div class="filter-top-calendar pb-3 block-center-between px-4 pt-4">
        <div class="filter-top__left">
            <div class="f-14 mr-5">{{ 'calendar.title' | translate }}</div>
            <div class="block-center-between f-12">
                <div class="block-center mr-5">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded background-red p-label-none p-button-high"
                        [ngClass]="{ 'active': priority.high }" (click)="handlePriority(1)"></button>
                    <div class="ml-2">{{ 'priority.high' | translate }}</div>
                </div>
                <div class="block-center mr-5">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded background-yellow p-label-none p-button-medium"
                        [ngClass]="{ 'active': priority.medium}" (click)="handlePriority(2)"></button>
                    <div class="ml-2">{{ 'priority.medium' | translate }}</div>
                </div>
                <div class="block-center mr-5">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded background-green p-label-none p-button-low"
                        [ngClass]="{ 'active': priority.low}" (click)="handlePriority(3)"></button>
                    <div class="ml-2">{{ 'priority.low' | translate }}</div>
                </div>
                <div class="block-center mr-5">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded background-blue p-label-none p-button-low"
                        [ngClass]="{ 'active': priority.all}" (click)="handlePriority(4)"></button>
                    <div class="ml-2">{{ 'priority.all' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="filter-top__right block-center">
            <p-calendar #dateFilter class="w-0" yearRange="1900:2100" [monthNavigator]="true" [yearNavigator]="true"
                (onSelect)="gotoDate($event)" autoZIndex="false" baseZIndex="10000" appendTo="body" [touchUI]="true"
                [readonlyInput]="true">
            </p-calendar>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #rm class="event-type"
                [(ngModel)]="rmSelected" [options]="listRm" (onBlur)="onBlur(rm)" (onChange)="onChangeRM($event)"
                optionLabel="displayName" [showClear]="false">
            </p-dropdown>
            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                class="event-type ml-5" [options]="listEventType" (onBlur)="onBlur(type)"
                (onChange)="onChangeEventType($event)" optionLabel="name" [showClear]="false">
            </p-dropdown>
            <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-5" (click)="create()"
                title="{{ 'btnAction.createCalendar' | translate }}">
                <em class="las la-plus-circle f-16"></em>
            </button>
        </div>
    </div>
    <div class="table__view p-4">
        <full-calendar #calendar *ngIf="show" [options]="calendarOptions"></full-calendar>
    </div>
</div>