<div class="modal-header pb-4">
	<div class="block-center-between">
		<div class="">
			<h5 class="m-0">{{ 'cash-flow.actionAssign' | translate }}</h5>
		</div>
	</div>
	<button type="button" class="close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="action-assign w-100">
  <button type="button" class="btn btn-small btn--light-blue btn-create-assign mr-4" title="Lưu" id="save"
		(click)="update()">
		<em class="ic-check" style="font-size: 20px;"></em>
	</button>
	<button type="button" class="btn btn-small btn--light-blue btn-create-assign" title="Thêm" id="addRecord"
		(click)="createNewRecord()">
		<em class="las la-plus-circle" style="font-size: 20px;"></em>
	</button>
</div>
<div class="assign-collateral-asser-code">
	<div class="col-12 detail-block mb-4">
		<div class="table__view" [formGroup]="formCollateralAsset">
			<div formArrayName="arrayCollateralAsset">
				<ngx-datatable ngxDataTable #table class="bootstrap" [columnMode]="'force'" [headerHeight]="50"
					[footerHeight]="0" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true" [rows]="listData"
					[virtualization]="false" [externalPaging]="false" [messages]="messages">
					<ngx-datatable-column prop="collateralCode" [sortable]="false" [draggable]="false" name="Mã TSĐB"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <p-dropdown autoZIndex="false" baseZIndex="10000" appendTo = "body" formControlName="collateralCode"
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listCollateralAsset"
                    placeholder="Chọn TSĐB" class="d-block" optionLabel="maTaiSan" optionValue="maTaiSan"
                    (onChange)="onChangeCollateral($event.value,rowIndex)" [filter]="true" *ngIf="allowDelete(row)">
                  </p-dropdown>
                  <span class="text-wrap" *ngIf="!allowDelete(row)">{{ getValue(listData, '[' + rowIndex + '].collateralCode') }}</span>
                  <small class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.collateralCode?.errors?.cusRequired
                            && getForm(rowIndex)?.controls?.collateralCode?.touched"
                    >{{'validationMessage.required' | translate}}</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column prop="count" [sortable]="false" [draggable]="false" name="Thay đổi"  [width]="50">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].count') }}</span>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column> -->
					<ngx-datatable-column prop="productName" [sortable]="false" [draggable]="false" name="Tên công trình"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].productName') }}</span>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
					<ngx-datatable-column prop="contractNumber"  [sortable]="false" [draggable]="false" name="Số hợp đồng"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].contractNumber') }}</span>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
					<ngx-datatable-column prop="amountContract" [sortable]="false" [draggable]="false" name="Giá trị hợp đồng"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].amountContract') | number: '0.0-2' }}</span>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="amountContractRemaining" [sortable]="false" [draggable]="false" name="Giá trị hợp đồng còn lại"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].amountContractRemaining') | number: '0.0-2' }}</span>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="amountCollateral" [sortable]="false" [draggable]="false" name="Giá trị tiền về của TSĐB"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <!-- <span class="text-wrap">{{ getValue(listData, '[' + rowIndex + '].moneyReturnValue') | number: '0.0-2' }}</span> -->
                  <p-inputNumber maxlength="27" class="d-block p-inputnumber-parent" (onBlur)="changeValue(rowIndex)" [disabled]="!allowDelete(row)"
                                 formControlName="amountCollateral"></p-inputNumber>
                  <small class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.amountCollateral?.errors?.cusRequired
                            && getForm(rowIndex)?.controls?.amountCollateral?.touched"
                    >{{'validationMessage.required' | translate}}</small>
                  <small class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.error?.value"
                    >{{getForm(rowIndex)?.controls?.error?.value}}</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="period" [sortable]="false" [draggable]="false" name="Đợt thanh toán"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <p-dropdown autoZIndex="false" baseZIndex="10000" appendTo = "body" formControlName="period" (onChange)=onChange(rowIndex)
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listBatch"
                    placeholder="Chọn đợt" class="d-block" optionLabel="name" optionValue="code" [disabled]="!allowDelete(row)">
                  </p-dropdown>
                  <small class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.period?.errors?.cusRequired
                            && getForm(rowIndex)?.controls?.period?.touched"
                    >{{'validationMessage.required' | translate}}</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="paymentType" [sortable]="false" [draggable]="false" name="Loại thanh toán"  [width]="180">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
              style="width:100%;" >
              <mat-form-field style="width:100%">
                <div [formGroupName]="rowIndex">
                  <p-dropdown autoZIndex="false" baseZIndex="10000" appendTo = "body" formControlName="paymentType" (onChange)=onChange(rowIndex)
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listPaymentType"
                    placeholder="Chọn loại thanh toán" class="d-block" optionLabel="name" optionValue="value" [disabled]="!allowDelete(row)">
                  </p-dropdown>
                  <small class="p-error err-style"
                    *ngIf="getForm(rowIndex)?.controls?.paymentType?.errors?.cusRequired
                            && getForm(rowIndex)?.controls?.paymentType?.touched"
                    >{{'validationMessage.required' | translate}}</small>
                </div>
              </mat-form-field>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
            [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                 <!--<button type="button" class="btn-outline btn--light-blue" title="{{ 'btnAction.edit' | translate }}"
                  (click)="update(rowIndex)">
                  <em class="las la-edit f-16"></em>
                </button>
                <button type="button" class="btn-outline btn-danger" title="Hủy" (click)="cancel(rowIndex)"
                  *ngIf="row.isUpdate||row.isCreate">
                  <em class="ic-x"></em>
                </button> -->
                <button type="button" class="btn-outline btn-danger" title="Xóa" (click)="deleteRecord(rowIndex)"
                  *ngIf="allowDelete(row)">
                  <em class="las la-trash-alt"></em>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
