.list__assign-collateral-asset-code-modal {
  .list__assign-collateral-asset-codet-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 7rem);
    height: calc(100% - 7rem);
    width: calc(100% - 80px);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .btn-create-assign{
    width: 36px;
    padding: 0;
  }
  .action-assign{
    text-align: right;
    padding-right: 15px;
  }
}
.assign-collateral-asser-code{
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list_infomation {
    flex: 1 1 auto;
  }
  .err-style{
    position: absolute;
    bottom: -5px;
    background: #fff;
  }
}
.ic-check {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(/assets/images/checkbig-green.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ic-x {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(/assets/images/checkx-big-red.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
button:hover {
  .ic-check {
    background-image: url(/assets/images/checkbig.svg);
  }
  .ic-x {
    background-image: url(/assets/images/checkx-big-white.svg);
  }
}