<div class='right-view sme-360-detail'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button (click)='back()' class='btn btn--light-blue btn-small'>
        <em class='las la-undo f-16'></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button (click)='showSideBar()' class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>
        {{ 'customer360.menu.customer360' | translate }}/{{ 'customer360.title.customerInfo' | translate }}
      </h3>
    </div>
    <div class='content__top-right'>
      <button
        (click)='revenue()'
        *ngIf='showBtnRevenueShare === true'
        class='btn--light-blue btn-icon--small btn'
        title="{{ 'title.revenueSharing' | translate }}"
      >
        <em class='icon-share i-16'></em>
      </button>
      <button
        (click)='mailTo(null)'
        [matMenuTriggerFor]='beforeMenu'
        class='btn--light-blue btn-icon--small btn ml-2' mat-button title="{{ 'title.sendMail' | translate }}"
      >
        <em class='las la-envelope f-16'></em>
      </button>
      <button (click)='createTaskTodo()' class='btn--light-blue btn-icon--small btn ml-2'
              title="{{ 'title.createTask' | translate }}"
      >
        <em class='icon-create-todo i-16'></em>
      </button>
      <mat-menu #beforeMenu='matMenu' backdropClass='custom__menu' xPosition='before'>
        <div *ngFor='let item of listEmail' mat-menu-item>
          <div (click)='mailTo(item.mail)' class='row'>
            <div class='pl-2' style='min-width: 140px'>
              {{item.position}}
            </div>
            <div class='pr-1'>
              {{item.mail}}
            </div>
          </div>
        </div>
      </mat-menu>
      <app-activity-log [customerCode]='code' [rsId]='objFunction.rsId'></app-activity-log>
    </div>
    <!--    <app-lead-activity-log [customerCode]="code" ></app-lead-activity-log>-->
  </div>
  <div class='content bg-transparent customer-360-indiv-detail'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body p-0'>
      <div class='content-body__list'>
        <div class='list__block px-4'>
          <div class='row form-create'>
            <div class='col-12 detail-block mb-3'>
              <div class='row'>
                <div class='col-12'>
                  <div class='row mb-5'>
                    <div class='col-md-6'>
                      <h5 class='m-0'>{{ 'customer360.title.customerInfo' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right">
                      <span class="float-right" [ngClass]="getClassStatusNew(statusActive)">{{ statusActive }}</span>
                    </div>
                  </div>
                </div>
                <div class='col-12 collapse show' id='detail'>
                  <div class='row px-4'>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.customerCode' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'systemInfo.code') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.customerFullName' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap' title="{{ getValue(model, 'customerInfo.fullName') }}">{{
                        getTruncateValue(model, 'customerInfo.fullName', 50)
                        }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.registrationNumber' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{
                        getValue(model, 'customerInfo.registrationNumber')
                        }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.taxCode' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{
                        getValue(model, 'remainingInfo.vatInvSerial')
                        }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.companyRegistrationDate' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'businessInfo.dateofbrith') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.companyPhone' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'customerInfo.mobileNumber') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.sectorName' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'systemInfo.sectorName') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.country' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'customerInfo.nationality') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.employeeNo' | translate }}</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{
                        getNumber(model, 'customerInfo.employeesNo') | number
                        }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-3'>
                      <label class='detail-key'>Phân khúc KH (DT gần nhất)</label>
                    </div>
                    <div class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ segmentCustomer }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.customerIndustry' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span
                        *ngIf='!is_edit'
                        class='text-wrap'
                        title="{{ getValue(model, 'otherInfo.mbIndustryDesc') }}"
                      >{{ getTruncateValue(model, 'otherInfo.mbIndustryDesc', 250) }}</span
                      >
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.customerType' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ getValue(model, 'systemInfo.accountType') }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.branchOpenCode' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'
                      >{{ getValue(model, 'systemInfo.branchCode') }} -
                        {{ getValue(model, 'systemInfo.branchName') }}</span
                      >
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.rmAssignToManage' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>{{ rmManager }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.dateOpenCode' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap'>
                        {{ getValue(model, 'customerInfo.openCodeDate') }}
                      </span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.rmCrossSale' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span
                        *ngIf='!is_edit'
                        class='text-wrap'
                        title="{{ getValue(model, 'remainingInfo.mbRmBancheo') }}"
                      >{{ getTruncateValue(model, 'remainingInfo.mbRmBancheo', 250) }}</span
                      >
                      <span *ngIf='!is_edit' class='text-wrap'></span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div *ngIf='is_show' class='col-md-3'>
                      <label class='detail-key'>{{ 'fields.address' | translate }}</label>
                    </div>
                    <div *ngIf='is_show' class='col-md-3 form-group has-error'>
                      <span *ngIf='!is_edit' class='text-wrap' title="{{ getValue(model, 'customerInfo.address') }}">{{
                        getTruncateValue(model, 'customerInfo.address', 250)
                        }}</span>
                      <input *ngIf='is_edit' class='form-control' maxlength='50' type='text' uppercase />
                    </div>
                    <div class='col-md-12'>
                      <div class='row'>
                        <div class='col-md-5'></div>
                        <div class='col-md-2'>
                          <button (click)='show()' *ngIf='!is_show' class='btn btn-small btn-outline-primary'>
                            Xem thêm
                          </button>
                          <button (click)='close()' *ngIf='is_show' class='btn btn-small btn-outline-primary'>
                            Thu gọn
                          </button>
                        </div>
                        <div class='col-md-5'></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-12 detail-block mb-3'>
              <mat-tab-group (selectedTabChange)='onTabChanged($event)' [selectedIndex]='tab_index'>
                <mat-tab label="{{ 'customer360.title.info360' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.infoShareholder' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.productService' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.listOppOfCustomer' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.campaign' | translate }}"></mat-tab>
              </mat-tab-group>
            </div>

            <div *ngIf='tab_index === 0' class='col-12  detail-block mb-4'>
              <mat-tab-group (selectedTabChange)='info360TabChanged($event)' [selectedIndex]='info_360_tab_index'>
                <!-- <mat-tab label="{{ 'customer360.title.bscore' | translate }}"></mat-tab> -->
                <mat-tab label="{{ 'customer360.title.legalRepresentativeInfo' | translate }}"></mat-tab>
                <mat-tab label="Thông tin kinh doanh"></mat-tab>
              </mat-tab-group>
              <div *ngIf='info_360_tab_index === 0' class='row mt-3'>
                <div class='col-12 '>
                  <div class='row mt-3'>
                    <div class='px-4 col-12 mt-3'>
                      <div (click)='openLegalRepresentatives()' class='filter-hearder no-gutters col-12 view-more'>
                        <div class='mb-2'>
                          <button class='btn--light-blue btn-icon--small mr-2'>
                            <em *ngIf='!isLegalRepresentatives' class='las la-angle-down f-16'></em>
                            <em *ngIf='isLegalRepresentatives' class='las la-angle-up f-16'></em>
                          </button>
                          <span>{{ 'fields.legalRepresentativeInfo' | translate }}</span>
                        </div>
                      </div>
                      <div *ngIf='!isLegalRepresentatives' class='row px-4 mt-3'>
                        <div class='col-md-12'>
                          <div *ngFor='let entity of legalRepresentatives' class='row'>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.customerLegalRepresentative' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'repName') }}</span>
                            </div>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.phone' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'repPhone') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.birthDay' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'repBirthDay') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{
                                'customer360.title.identificationPapers' | translate
                                }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'repIdNum') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.email' | translate }}</label>
                            </div>
                            <div (click)="sendMailToPerson(entity,'repEmail')" class='col-md-3 form-group has-error'>
                              <span class='text-wrap href-link'>{{ getValue(entity, 'repEmail') }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='px-4 col-12 mt-3'>
                      <div (click)='openChiefAccountants()' class='filter-hearder no-gutters col-12 view-more'>
                        <div class='mb-2'>
                          <button class='btn--light-blue btn-icon--small mr-2'>
                            <em *ngIf='!isChiefAccountants' class='las la-angle-down f-16'></em>
                            <em *ngIf='isChiefAccountants' class='las la-angle-up f-16'></em>
                          </button>
                          <span>{{ 'fields.chiefAccountant' | translate }}</span>
                        </div>
                      </div>
                      <div class='row px-4'>
                        <div *ngIf='!isChiefAccountants' class='col-md-12'>
                          <div *ngFor='let entity of chiefAccountants' class='row'>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.chiefAccountantName' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'chiefAccName') }}</span>
                            </div>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.phone' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'chiefAccPhone') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.birthDay' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'chiefAccBirth') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{
                                'customer360.title.identificationPapers' | translate
                                }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'chiefAccIdNum') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.email' | translate }}</label>
                            </div>
                            <div (click)="sendMailToPerson(entity,'chiefAccMail')"
                                 class='col-md-3 form-group has-error'>
                              <span class='text-wrap href-link'>{{ getValue(entity, 'chiefAccMail') }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='px-4 col-12 mt-3'>
                      <div (click)='openContactInfos()' class='filter-hearder no-gutters col-12 view-more'>
                        <div class='mb-2'>
                          <button class='btn--light-blue btn-icon--small mr-2'>
                            <em *ngIf='!isContactInfos' class='las la-angle-down f-16'></em>
                            <em *ngIf='isContactInfos' class='las la-angle-up f-16'></em>
                          </button>
                          <span>{{ 'fields.personContact' | translate }}</span>
                        </div>
                      </div>
                      <div class='row px-4'>
                        <div *ngIf='!isContactInfos' class='col-md-12'>
                          <div *ngFor='let entity of contactInfos' class='row'>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.contactInfoName' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'traderName') }}</span>
                            </div>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.phone' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'traderPhone') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.birthDay' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'traderBirthDay') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{
                                'customer360.title.identificationPapers' | translate
                                }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'traderIdNum') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.email' | translate }}</label>
                            </div>
                            <div (click)="sendMailToPerson(entity,'traderEmail')" class='col-md-3 form-group has-error'>
                              <span class='text-wrap href-link'>{{ getValue(entity, 'traderEmail') }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='px-4 col-12 mt-3'>
                      <div (click)='openDirectors()' class='filter-hearder no-gutters col-12 view-more'>
                        <div class='mb-2'>
                          <button class='btn--light-blue btn-icon--small mr-2'>
                            <em *ngIf='!isDirectors' class='las la-angle-down f-16'></em>
                            <em *ngIf='isDirectors' class='las la-angle-up f-16'></em>
                          </button>
                          <span>{{ 'fields.director' | translate }}</span>
                        </div>
                      </div>
                      <div class='row px-4'>
                        <div *ngIf='!isDirectors' class='col-md-12'>
                          <div *ngFor='let entity of directors' class='row'>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.directorName' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'directorName') }}</span>
                            </div>
                            <div class='col-md-3 mt-3'>
                              <label class='detail-key'>{{ 'fields.phone' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error mt-3'>
                              <span class='text-wrap'>{{ getValue(entity, 'directorPhone') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.birthDay' | translate }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'directorBirth') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{
                                'customer360.title.identificationPapers' | translate
                                }}</label>
                            </div>
                            <div class='col-md-3 form-group has-error'>
                              <span class='text-wrap'>{{ getValue(entity, 'directorIdNum') }}</span>
                            </div>
                            <div class='col-md-3'>
                              <label class='detail-key'>{{ 'fields.email' | translate }}</label>
                            </div>
                            <div (click)="sendMailToPerson(entity,'directorMail')"
                                 class='col-md-3 form-group has-error'>
                              <span class='text-wrap href-link'>{{ getValue(entity, 'directorMail') }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf='info_360_tab_index === 1' class='row mt-3'>
                <div class='block-center mb-4'>
                  <div class='row mt-3'>
                    <div class='px-4 col-12 mt-3'>
                      <div class='row px-4'>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.customerProductUsed' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.relationshipWithMBTime' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'> {{ generateRelationshipTimeWithMB(model) }}</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.creditRatingLast' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.checCICTime' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.debtGroupMaxCIC' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.riskBeforeRevanue' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.balanceBonds' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.toiLast' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span class='text-wrap'>---</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.dsxnk_tchq' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span title='{{ convertNumber(salesImportAndExport?.totalTvrAmt) }}'>{{ convertNumber(salesImportAndExport?.totalTvrAmt) }}</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.dsxk_tchq' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span title='{{ convertNumber(salesImportAndExport?.exportTvrAmt) }}'>{{ convertNumber(salesImportAndExport?.exportTvrAmt) }}</span>
                        </div>
                        <div class='col-md-3'>
                          <label class='detail-key'>{{ 'fields.dsnk_tchq' | translate }}</label>
                        </div>
                        <div class='col-md-3 form-group has-error'>
                          <span title='{{ convertNumber(salesImportAndExport?.importTvrAmt) }}'>{{ convertNumber(salesImportAndExport?.importTvrAmt) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf='tab_index === 1' class='col-12 detail-block mb-4'>
              <app-info-shareholder
                [taxCode]='model?.remainingInfo?.vatInvSerial'
                (loading)='showLoading($event)'
              >
              </app-info-shareholder>
            </div>

            <div *ngIf='tab_index === 2' class='w-100'>
              <product-view-sme-component
                #customerProduct
                (loading)='showLoading($event)'
                [customerCode]='code'
                [divisionProduct]='divisionProduct'
                [listBranchCode]='listBranchCode'
              >
              </product-view-sme-component>
            </div>

            <!-- Danh sách cơ hội bán khách hàng -->
            <div *ngIf='tab_index === 3' class='col-12 detail-block mb-4'>
              <div class='col-12 mt-3'>
                <div class='row tablecollateral'>
                  <div class='table__view'>
                    <p-table [value]='listOpportunity' dataKey='opportunityCode'>
                      <ng-template pTemplate='header'>
                        <tr>
                          <th>{{ 'saleOpportunity.codeOpportunity' | translate }}</th>
                          <th>{{ 'saleOpportunity.satusOpportunity' | translate }}</th>
                          <th>{{ 'saleOpportunity.branhOpportunity' | translate }}</th>
                          <th>{{ 'saleOpportunity.rmOpportunity' | translate }}</th>
                          <th>{{ 'saleOpportunity.createDate' | translate }}</th>
                        </tr>
                      </ng-template>
                      <ng-template let-expanded='expanded' let-product pTemplate='body'>
                        <tr>
                          <td>
                            <div style='float: left'>
                              <button
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                [pRowToggler]='product'
                                class='p-button-text p-button-rounded p-button-plain p-mr-2'
                                pButton
                                pRipple
                                type='button'
                              ></button>
                            </div>

                            <div style='float: left; margin-top: 12px'>
                              <a (click)='viewDetailOpp(product)' class='ml-2' href='javascript:void(0)'>{{
                                product.opportunityCode
                                }}</a>
                            </div>
                          </td>

                          <td>{{ product.textStatusOpp }}</td>
                          <td>{{ product.opportunityBranchName }}</td>
                          <td>{{ product.assignTo }}</td>
                          <td>{{ product.createdDate | date: 'dd/MM/yyyy' }}</td>
                        </tr>
                      </ng-template>
                      <ng-template let-product pTemplate='rowexpansion'>
                        <tr>
                          <td colspan='5'>
                            <div class='p-p-3'>
                              <p-table [value]='product.targetSaleList' dataKey='targetCode'>
                                <ng-template pTemplate='header'>
                        <tr>
                          <th>{{ 'saleTarget.saleTargetCode' | translate }}</th>
                          <th>{{ 'saleTarget.saleTargetStatus' | translate }}</th>
                          <th>{{ 'saleTransfer.saleCode' | translate }}</th>
                          <th>{{ 'saleTransfer.saleStatus' | translate }}</th>
                        </tr>
                      </ng-template>
                      <ng-template let-order pTemplate='body'>
                        <tr>
                          <td>
                            <a (click)='viewDetailTarget(product, order)' href='javascript:void(0)'>{{
                              order.targetCode
                              }}</a>
                          </td>
                          <td>{{ order.textTargetStatus }}</td>
                          <td>
                            <a (click)='viewDetailSale(product, order)' href='javascript:void(0)'>{{
                              order.saleCode
                              }}</a>
                          </td>
                          <td>{{ order.textSaleStatus }}</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate='emptymessage'>
                        <tr>
                          <td colspan='4'></td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  </td>
                  </tr>
                  </ng-template>
                  <ng-template pTemplate='emptymessage'>
                    <tr>
                      <td colspan='5' style='text-align: center'>{{ 'messageTable.emptyMessage' | translate }}</td>
                    </tr>
                  </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>

            <!-- tab 7: Campaign -->
            <div *ngIf='tab_index === 4' class='col-12 detail-block mb-4'>
            <mat-tab-group (selectedTabChange)='onCampaignChanged($event)' [selectedIndex]='campaign_tab_index'>
              <mat-tab label="{{ 'customer360.title.bidding' | translate }}"></mat-tab>
            </mat-tab-group>
            <div *ngIf='campaign_tab_index === 0' class='col-12 detail-block mb-4'>
              <bidding
                #biddingTable
                (dataChange)='onBiddingChange($event)'
                (firstChange)='onFirstChange($event)'
                (loadingChange)='onLoadingChange($event)'
                (showDataChange)='onShowDataBiddingChange($event)'
                [code]='code'
                [data]='bidding'
                [fields]='fields'
                [first]='first'
                [loading]='isLoading'
                [notificationMessage]='notificationMessage'
                [registrationNumber]='registrationNumber'
                [showData]='show_data_bidding'
              ></bidding>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
