<div class="modal-header pb-4">
    <div class="block-center-between">
        <div class="">
            <h5 class="m-0">{{ 'title.listAssignError' | translate }}</h5>
        </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="list__block">
        <div class="table__view mt-2">
            <ngx-datatable ngxDataTable #tableError class="bootstrap fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
                [rows]="listDataError" [virtualization]="false" [externalPaging]="true"
                [count]="pageError?.totalElements" [offset]="pageError?.currentPage" [limit]="pageError?.size"
                (page)="setPage($event)" [messages]="messages">
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
                    [canAutoResize]="false" [draggable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageError?.currentPage * pageError?.size + rowIndex + 1}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="rowNum" [sortable]="false" name="{{ 'fields.row' | translate }}"
                    [width]="60" [canAutoResize]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div title="{{ value }}" class="text-truncate">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="errorColumn" [sortable]="false" name="{{ 'fields.column' | translate }}"
                    [width]="200" [canAutoResize]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div title="{{ 'campaign.columnImport.' + value | translate}}" class="text-truncate">
                            {{ 'campaign.columnImport.' + value | translate }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="errorData" [sortable]="false" name="{{ 'fields.dataError' | translate }}"
                    [width]="200" [canAutoResize]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div title="{{ value }}" class="text-truncate">
                            {{ value }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="errorType" [sortable]="false" name="{{ 'fields.infoError' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div title="{{ 'notificationMessage.' + value | translate: { customer:row?.errorData } }}"
                            class="text-truncate">
                            {{ 'notificationMessage.' + value | translate: { customer:row?.errorData } }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                            [hidden]="false" (change)="tableError.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>

</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
    </div>
</div>
