.warning {
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .w-list {
    flex: 1 1 auto;
  }
  .toggle-hide {
    padding: 18px;
    position: absolute;
    background-color: white;
  }
  .css-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex-1 {
    flex: 1;
  }

}

::ng-deep {
  .p-inputnumber {
    width: 100%;
  }
}

.is-up {
  color: #1FB266;
}

.is-down {
  color: #FF1A12;
}

::ng-deep .customize-menu+* .mat-menu-panel {
  max-width: 100%;

  .mat-menu-content {
    padding:  10px;

  }
}

.warning-table {
  ::ng-deep .warning-first-cell {
    padding-left: 40px!important;
  }
  ::ng-deep .datatable-row-wrapper {
    .datatable-row-right {
      .datatable-body-cell.sort-active {
        border-bottom: none;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  label {
    font-size: 13px;
  }
}

