<div class="right-view warning">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Cảnh báo</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="typeDivision !== 'INDIV'">
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create">
              <div class="form-group col-md-3" [formGroup]="formSearch">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  [ngModel]="typeDivision"
                  (onChange)="changeDivision($event)"
                  placeholder=" "
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  formControlName="blockCode"
                ></p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">Tìm kiếm</label>
                <input type="text" maxlength="100" pInputText placeholder="Gõ MST, DKKD, Code, tên KH để tìm kiếm" class="d-block"
                       formControlName="searchAdvanced" trimInput (keyup.enter)="search(false)" />
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">Tình trạng đến hạn</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="status" [options]="commonDataSME.dueStatusList" placeholder=" " class="d-block"
                            optionLabel="name" optionValue="value" (onSelect)="search(false)">
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">Loại cảnh báo</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="typeWarning" [options]="commonDataSME.warningTypeList" placeholder=" "
                            class="d-block" optionLabel="name" optionValue="code" (onSelect)="search(false)">
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">Ngày đến hạn</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="dueDate" [options]="commonDataSME.dueDateList" placeholder=" " class="d-block"
                            optionLabel="name" optionValue="value" (onSelect)="search(false)">
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">Chi nhánh quản lý</label>
                <p-multiSelect class="d-block" defaultLabel=" " [options]="branchesOfUser"
                               formControlName="listBranch" optionLabel="name" optionValue="code" appendTo="body"
                               autoZIndex="false" baseZIndex="10000"
                               emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                               [selectedItemsLabel]="fields.all" [virtualScroll]="true" itemSize="30">
                </p-multiSelect>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearch" >
                <label class="mb-0">{{ 'fields.rmManager' | translate }}</label>
                <p-multiSelect class="d-block" defaultLabel=" " [options]="listRmManager"
                               formControlName="listRm" optionLabel="name" optionValue="code" appendTo="body"
                               autoZIndex="false" baseZIndex="10000"
                               emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                               [selectedItemsLabel]="fields.all" [virtualScroll]="true" itemSize="30">
                </p-multiSelect>
              </div>

            </div>
            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small" (click)="search(false)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button (click)="exportFile()" class="btn btn-icon btn-icon--small btn-search ml-2"
                        title="{{ 'btnAction.export' | translate }}">
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <div class="table__view w-list">
              <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" columnMode="force"
                             [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [virtualization]="false"
                             [scrollbarV]="true" [scrollbarH]="true" [rows]="listData" [virtualization]="false"
                             [externalPaging]="true" [count]="pageable?.totalElements"
                             [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                             [messages]="messages" (activate)="onActive($event)">

                <ngx-datatable-column [canAutoResize]='false' [draggable]='false' [sortable]='false'
                                      [width]='35' name="{{ 'fields.order' | translate }}">
                  <ng-template let-rowIndex='rowIndex' let-value='value' ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false"
                                      name="{{ 'Code - Tên KH' | translate }}" [width]="250">

                  <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span>
                                            <a href="javascript:void(0)" (click)="viewDetail(row)"
                                               title="{{ row?.customerCode }} - {{ row?.customerName }}">
                                                {{ row?.customerCode }} - {{ row?.customerName }}
                                            </a>
                                        </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="typeName" [sortable]="false" [draggable]="false"
                                      name="{{ 'Loại cảnh báo' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <p-tag [value]="typeConfig[value]?.name" [styleClass]="typeConfig[value]?.class">
                    </p-tag>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="sla" [sortable]="false" [draggable]="false"
                                      name="{{ 'SLA' | translate }}" [width]="50">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span title="{{ value }}"
                                              [ngClass]="{'is-up': value >= 0, 'is-down': value < 0}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="contractNo" [sortable]="false" [draggable]="false"
                                      name="{{ 'Mã HĐ/ Mã tài sản' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="productName" [sortable]="false" [draggable]="false"
                                      name="{{ 'Sản phầm/ Tên tài sản' | translate }}" [width]="250">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="amount" [sortable]="false" [draggable]="false"
                                      name="{{ 'Gốc (VNĐ)' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="chgAmt" [sortable]="false" [draggable]="false"
                                      name="{{ 'Lãi/ Phí (VNĐ)' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="penalty" [sortable]="false" [draggable]="false"
                                      name="{{ 'Lãi phạt/ Phí phạt (VNĐ)' | translate }}" [width]="180">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="dueDate" [sortable]="false" [draggable]="false"
                                      name="{{ 'Ngày đến hạn' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                          }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="rmName" [sortable]="false" [draggable]="false"
                                      name="{{ 'RM' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="branchName" [sortable]="false" [draggable]="false"
                                      name="{{ 'Chi nhánh' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                      [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                      [resizeable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.customerCode !== undefined"
                         class="block-center text-center column-action">
                      <button class="btn--light-blue btn-icon--small btn" mat-button
                              [matMenuTriggerFor]="beforeMenu"
                              title="{{ 'title.sendMail' | translate }}"
                              (click)="getAllMailAndPosition(row)">
                        <em class="las la-envelope f-16"></em>
                      </button>
                      <mat-menu #beforeMenu="matMenu" yPosition="above" xPosition="before"
                                backdropClass="customize-menu" style="background-color: red;">
                        <div mat-menu-item *ngFor="let item of listEmail">
                          <div class="row info-mail" (click)="mailTo(row, item.mail)">
                            <div class="position-div" style="width : 120px">
                              <span>{{item.position}}</span>
                            </div>
                            <div class="mail-div" style="width : calc(100% - 120px)">
                              <span>{{item.mail}}</span>
                            </div>
                          </div>
                        </div>
                      </mat-menu>

                      <button class="btn--light-blue btn-icon--small btn ml-2"
                              title="{{ 'title.createTask' | translate }}"
                              (click)="createTaskTodo(row)">
                        <em class="icon-create-todo i-16"></em>
                      </button>
                    </div>
                  </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                               let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                               ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                             [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>


        </ng-container>
        <ng-container *ngIf="typeDivision === 'INDIV'">
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create">
              <div class="form-group col-md-3">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  [ngModel]="typeDivision"
                  (onChange)="changeDivision($event)"
                  placeholder=" "
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearchINDIV">
                <label class="mb-0">Tìm kiếm</label>
                <input type="text" maxlength="200" pInputText placeholder="Gõ mã, tên, SDT để tìm kiếm" class="d-block"
                       formControlName="searchAdvanced" (keyup.enter)="searchINDIV(true)" />
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearchINDIV">
                <label class="mb-0">Loại cảnh báo</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            formControlName="typeWarning" [options]="commonDataINDIV.warningTypeList" placeholder=" "
                            class="d-block" optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearchINDIV">
                <label class="mb-0">Tình trạng đến hạn của khách hàng</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="customerStatus"
                  [options]="commonDataINDIV.dueStatusList"
                  placeholder=" "
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group">

                <div class="flex-col">
                  <label>Chi nhánh</label>
                  <div style="display: block" class="p-input-icon-right">
                    <i style="right: 45px;"
                       class="pi pi-times branch "
                       (click)="removeBranchSelected()"
                    ></i>
                    <lp-branches
                      [listBranch]="branchesOfUserIndiv"
                      [(model)]="branchesCode"
                      (modelChange)="changeBranch($event)"
                    >
                    </lp-branches>
                  </div>
                </div>

              </div>

              <div class="col-md-3 form-group" >
                <div class="flex-col">
                  <label>{{ 'assignLDRM.label.rmManager' | translate }}</label>
                  <div class="filter-top__left custom">
                    <div class="flex-1">
                        <span class="w-100 p-input-icon-right">
                          <i
                            class="pi pi-times"
                            (click)="removeRMSelected()"
                          ></i>
                          <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeCode" readonly />
                        </span>
                    </div>
                    <button
                      class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}"
                      (click)="searchRM()"
                    >
                      <em class="las la-search f-16"></em>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearchINDIV">
                <label class="mb-0">Phân khúc</label>
                <p-multiSelect
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonDataINDIV.privatePriority"
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="privatePriority"
                  optionLabel="name"
                  optionValue="code"
                  [virtualScroll]="false"
                  maxSelectedLabels="{{ commonDataINDIV.privatePriority.length - 1 }}"
                  [selectedItemsLabel]="fields.all"
                  defaultLabel=" "
                >
                </p-multiSelect>

              </div>

              <div *ngIf="showGroupDebtDr" class="col-md-3 form-group" [formGroup]="formSearchINDIV">
                <label class="mb-0">Nhóm nợ KH</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="groupDebt"
                  [options]="commonDataINDIV.groupDebt"
                  placeholder=" "
                  class="d-block"
                  optionLabel="name"
                  optionValue="value"
                >
                </p-dropdown>
              </div>

              <div *ngIf="this.formSearchINDIV.controls.typeWarning.value === 'LOAN'"
                   [formGroup]='formSearchINDIV' class='col-md-3 form-group'>
                <label>Số lần trả nợ trễ hạn</label>
                <p-inputNumber
                  [min]="0"
                  class='d-block'
                  formControlName='soLanTraNoTreHan'
                  maxlength='19'
                ></p-inputNumber>
              </div>

            </div>
            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small" (click)="searchINDIV(true)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
            </div>

            <div class="table__view w-list warning-table">
              <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" columnMode="force"
                             [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [virtualization]="false"
                             [scrollbarV]="true" [scrollbarH]="true" [rows]="listData" [virtualization]="false"
                             [externalPaging]="true" [count]="pageable?.totalElements < 10000 ? 99999 : pageable?.totalElements*3"
                             [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                             [messages]="messages" (activate)="onActive($event)"
                             [treeFromRelation]="'customerCode'" [treeToRelation]="'id'"
                             (treeAction)="onTreeAction($event)">

                <ngx-datatable-column cellClass="warning-first-cell" [sortable]="false" [draggable]="false" prop="id"
                                      name="Khách hàng" [isTreeColumn]="true"
                                      [treeLevelIndent]="80" [width]='250'>
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="pr-5">STT</span>
                    <span class="pl-5">Khách hàng</span>
                  </ng-template>
                  <ng-template let-expanded="expanded" let-rowIndex='rowIndex' let-row='row' let-value='value' ngx-datatable-cell-template>
                            <span style="left: 0px;" class="position-absolute" *ngIf="row.isTreeLv0">
                              {{ pageable?.currentPage * pageable?.size + row.index }}</span>
                    <span class="pl-2 font-weight-bold " title="{{ row?.id }} - {{ row?.customerName }}" *ngIf="row.isTreeLv0">
                              {{ row?.id }} - {{ row?.customerName }}</span>
                    <span class="toggle-hide" *ngIf="!row.isTreeLv0"></span>
                    <span class="" *ngIf="!row.isTreeLv0">{{ row.index }}</span>
                  </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-column prop="contractNumber" [sortable]="false" [draggable]="false"
                                      name="Mã hợp đồng/ID thẻ" [width]="150">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="type" [sortable]="false" [draggable]="false"
                                      name="Loại cảnh báo" [width]="150">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <p-tag *ngIf="!row.isTreeLv0" [value]="generateWarningType(value)" [styleClass]="generateClassWarningType(value)">
                    </p-tag>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="sla" [sortable]="false" [draggable]="false"
                                      name="SLA" [width]="80">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span [ngClass]="row.status === 'QUA_HAN' ? 'text-red' : 'text-green'" title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false"
                                      name="Sản phẩm" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                                                                <span *ngIf="!row.isTreeLv0">
                                                                    <a
                                                                      title="{{ row?.productCode }} - {{ row?.productName }}">
                                                                        {{ row?.productCode }} - {{ row?.productName }}
                                                                    </a>
                                                                </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="duNoTaiNgaySaoKe" [sortable]="false" [draggable]="false" [width]="120"
                                      name="Gốc (VNĐ)">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span [ngClass]="{ 'font-weight-bold': row.isTreeLv0 }" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="laiDuChi" [sortable]="false" [draggable]="false" [width]="100"
                                      name="Lãi/ Phí (VNĐ)">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                          <span [ngClass]="{ 'font-weight-bold': row.isTreeLv0 }" style="margin-right: 0px; margin-left: auto !important" >{{
                            value == null ? '' :
                              value | number
                            }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="lai_PHAT_PHI_PHAT" [sortable]="false" [draggable]="false"
                                      name="Lãi phạt/ Phí phạt (VNĐ)" [width]="150">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                           <span [ngClass]="{ 'font-weight-bold': row.isTreeLv0 }" style="margin-right: 0px; margin-left: auto !important" >{{
                             value == null ? '' :
                               value | number
                             }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false"
                                      name="Tổng thanh toán" [width]="150">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                           <span [ngClass]="{ 'font-weight-bold': row.isTreeLv0 }" style="margin-right: 0px; margin-left: auto !important" >{{
                             getTotalPay(row) | number
                             }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="dueDate" [sortable]="false" [draggable]="false" [width]="100"
                                      name="{{ 'Ngày đến hạn' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                          }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="200"
                                      name="RM quản lý">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                                                                <span *ngIf="!row.isTreeLv0">
                                                                    <a
                                                                      title="{{ row?.rmCodeQL }} - {{ row?.rmNameQL }}">
                                                                        {{ row?.rmCodeQL }} - {{ row?.rmNameQL }}
                                                                    </a>
                                                                </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="200"
                                      name="Chi nhánh quản lý" >
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="!row.isTreeLv0" title="{{ row?.branchCode }} - {{ row?.branchName }}">{{ row?.branchCode }} - {{ row?.branchName }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column *ngIf="this.formSearchINDIV.controls.typeWarning.value !== 'DEPOSIT'" prop="nhomNoT24" [sortable]="false" [draggable]="false" [width]="90"
                                      name="Nhóm nợ KH">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important"  title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" [draggable]="false" [width]="150" prop="so_LAN_TRE_HAN_5_NGAY"
                                      name="Số lần trả nợ trễ hạn">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="dsnapShotDt" [sortable]="false" [draggable]="false" [width]="100"
                                      name="Ngày dữ liệu">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                          <span title="{{ value | date: 'dd/MM/yyyy'}}">{{ value | date: 'dd/MM/yyyy'
                            }}</span>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                      [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                      [resizeable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.isTreeLv0"
                         class="block-center text-center column-action">
                      <button class="btn--light-blue btn-icon--small btn"
                              title="{{ 'title.sendMail' | translate }}"
                              (click)="mailToINDIV(row?.email)">
                        <em class="las la-envelope f-16"></em>
                      </button>
                      <button
                        class="btn--light-blue btn-icon--small btn ml-2"
                        title="{{ 'title.createActivity' | translate }}"
                        (click)="createActivity(row)"
                      >
                        <em class="icon-create-activity i-16"></em>
                      </button>
                    </div>
                  </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                               let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                               ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage"
                                             [offset]="offset"
                                             [size]="pageSize"
                                             [count]="pageable?.totalElements"
                                             [hidden]="false"
                                             (change)="table.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>


        </ng-container>
      </div>
    </div>
  </div>
</div>
