<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'kpi.title.region_factor' | translate }}</h3>
        </div>
        <div class="content__top-right"></div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4" [formGroup]="formSearch">
                        <div class="row">
                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'kpi.fields.block' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                    [options]="listBlock" class="d-block" formControlName="blockCode" appendTo="body"
                                    autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
                                </p-dropdown>
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.startDate' | translate }}</label>
                                <p-calendar class="d-block" formControlName="efficientDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" view="month"
                                    [readonlyInput]='true' icon="las la-calendar-alt" [maxDate]='maxEfficientDate'>
                                </p-calendar>
                            </div>

                            <div class="col-md-4 form-group has-error">
                                <label>{{ 'fields.endDate' | translate }}</label>
                                <p-calendar class="d-block" formControlName="expireDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" view="month"
                                    [readonlyInput]='true' (onSelect)='onChangeEndDate($event)'
                                    icon="las la-calendar-alt" [minDate]='minExpireDate'>
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="center__search">
                            <button class="btn btn--light-blue btn-small" (click)="search(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="filter-top__right block-center">
                            <button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search ml-2"
                                (click)="create()" title="{{ 'btnAction.create' | translate }}">
                                <em class="las la-plus-circle f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages">
                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="35" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="kpiFactorSetName"
                                name="{{ 'kpi.fields.config_name' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="efficientDate"
                                name="{{ 'fields.effectiveDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="expireDate"
                                name="{{ 'fields.endDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="{{ 'fields.action_2' | translate }}" [width]="100"
                                [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="block-center text-center column-action">
                                        <button type="button" class="btn-outline btn--light-blue"
                                            title="{{ 'btnAction.edit' | translate }}"
                                            (click)="update(row); $event.stopPropagation()">
                                            <em class="las la-edit"></em>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
