<div class="right-view selling-opp-indiv">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'queryMBAL.label.mainTitle' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4 cus-primeng">
          <div class="row py-1" [formGroup]="formSearch">
            <div class="col-md-3">
              <div class="form-group">
                <label class="m-0">{{ 'queryMBAL.label.queryBy' | translate }}</label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton">
                    <p-radioButton value="rm" formControlName="queryBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'queryMBAL.label.rm' | translate }}</label>
                  </div>
                  <div class="ml-3 mt-2 mb-0 p-field-radiobutton">
                    <p-radioButton value="kh" formControlName="queryBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'queryMBAL.label.contract' | translate }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <label class="m-0" [ngClass]="formSearch.get('queryBy').value === 'rm' ? 'opacity-5' : ''">{{
                'queryMBAL.label.registrationNumber' | translate
              }}</label>
              <input
                type="text"
                maxlength="15"
                class="d-block"
                (keyup.enter)="search(true)"
                formControlName="alPolicyHolderId"
                pInputText
                [readonly]="formSearch.get('queryBy').value === 'rm'"
              />
            </div>
            <div class="col-md-3">
              <label class="m-0" [ngClass]="formSearch.get('queryBy').value === 'rm' ? 'opacity-5' : ''">{{
                'queryMBAL.label.nameBMBH' | translate
              }}</label>
              <input
                type="text"
                maxlength="200"
                class="d-block"
                (keyup.enter)="search(true)"
                formControlName="alPolicyHolderName"
                pInputText
                [readonly]="formSearch.get('queryBy').value === 'rm'"
              />
            </div>
            <div class="col-md-3">
              <label class="m-0" [ngClass]="formSearch.get('queryBy').value === 'rm' ? 'opacity-5' : ''">{{
                'queryMBAL.label.contractNumber' | translate
              }}</label>
              <input
                type="text"
                maxlength="50"
                class="d-block"
                (keyup.enter)="search(true)"
                formControlName="alPolicyNumber"
                pInputText
                [readonly]="formSearch.get('queryBy').value === 'rm'"
              />
            </div>
          </div>
          <ng-container *ngIf="isOpenMore">
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'queryMBAL.label.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="customerType"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [disabled]="true"
                ></p-dropdown>
              </div>
              <div class="col-md-3">
                <label class="m-0">{{ 'queryMBAL.label.channel' | translate }}</label>
                <p-multiSelect
                  class="d-block"
                  defaultLabel=" "
                  [(ngModel)]="selectedChannel"
                  [options]="listChannel"
                  optionLabel="displayName"
                  optionValue="code"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  maxSelectedLabels="{{ listChannel.length - 1 }}"
                  [selectedItemsLabel]="fields.all"
                >
                </p-multiSelect>
              </div>
              <div class="col-md-3 form-group">
                <div class="flex-col">
                  <label class="m-0">{{ 'queryMBAL.label.branch' | translate }}</label>
                  <div class="filter-top__left custom">
                    <div class="flex-1">
                      <div class="p-input-icon-right">
                        <i
                          class="pi pi-times branch"
                          [ngClass]="{ show: facilityCode }"
                          (click)="removeBranchSelected()"
                        ></i>
                        <lp-branches
                          [listBranch]="facilities"
                          [(model)]="facilityCode"
                          (modelChange)="changeBranch($event)"
                        >
                        </lp-branches>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 form-group">
                <div class="flex-col">
                  <label class="m-0">{{ 'queryMBAL.label.rmSale' | translate }}</label>
                  <div class="filter-top__left custom">
                    <div class="flex-1">
                      <span class="p-input-icon-right">
                        <i
                          class="pi pi-times"
                          [ngClass]="{ show: employeeCode && checkEmployeeCode() }"
                          (click)="removeRMSelected()"
                        ></i>
                        <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeCode" readonly />
                      </span>
                    </div>
                    <button
                      class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}"
                      (click)="searchRM()"
                    >
                      <em class="las la-search f-16"></em>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'queryMBAL.label.status' | translate }}</label>
                <p-multiSelect
                  class="d-block"
                  defaultLabel=" "
                  [(ngModel)]="selectedStatus"
                  [options]="listStatus"
                  optionLabel="displayName"
                  optionValue="code"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  maxSelectedLabels="{{ listStatus.length - 1 }}"
                  [selectedItemsLabel]="fields.all"
                >
                </p-multiSelect>
              </div>
              <div class="col-md-3" [formGroup]="formSearch">
                <label class="m-0">{{ 'queryMBAL.label.time' | translate }}</label>
                <p-calendar
                  class="d-block custom-calendar"
                  formControlName="dateFrom"
                  readonlyInput="true"
                  placeholder="Từ dd/mm/yy"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  [minDate]="commonData.minDate"
                  [maxDate]="commonData.maxDate"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-3" [formGroup]="formSearch">
                <label class="m-0">{{ '' | translate }}</label>
                <p-calendar
                  class="d-block custom-calendar"
                  formControlName="dateTo"
                  readonlyInput="true"
                  placeholder="Đến dd/mm/yy"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  [minDate]="commonData.minDateTo"
                  [maxDate]="commonData.maxDateTo"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
            </div>
          </ng-container>
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <button class="btn btn--light-blue btn-small search" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="action__center">
              <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                <em class="las la-angle-down f-16"></em>
              </button>
              <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                <em class="las la-angle-up f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex flex-center">
              <div *ngIf="formSearch.get('queryBy').value === 'rm'" class="mr-5">
                <span>{{ 'queryMBAL.tableRM.countSales' | translate }}</span>
                <span class="count">{{ totalAllRM | number: '1.0-2' }}</span>
              </div>
              <button
                (click)="exportFile()"
                class="btn btn-icon btn-icon--small btn-search ml-2"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="filter-top block-center-between mt-0">
            <div class="filter-top__left"></div>
            <div class="filter-top__right d-flex">
              <div class="text-italic">
                {{ textFooter }}
              </div>
            </div>
          </div>

          <div *ngIf="formSearch.get('queryBy').value === 'rm'" class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'queryMBAL.tableRM.no' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="rmDisplay"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableRM.rm' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableRM.rm' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- branch + branchName -->
              <ngx-datatable-column
                prop="branchDisplay"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableRM.branch' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableRM.branch' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alApeIc"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableRM.sales' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div class="text-right">
                    {{ 'queryMBAL.tableRM.sales' | translate }}
                  </div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                    value | number: '1.0-2'
                  }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [width]="150"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableRM.listContract' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div class="text-center">{{ 'queryMBAL.tableRM.listContract' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div style="margin-right: auto !important; margin-left: auto !important">
                    <button
                      (click)="viewDetail(row)"
                      class="btn btn-icon btn-icon--small btn-eye ml-2"
                      title="{{ 'queryMBAL.tableRM.detail' | translate }}"
                    >
                      <em class="las la-eye f-16"></em>
                      {{ 'queryMBAL.tableRM.detail' | translate }}
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                    [hasDropdown]="true"
                    (eventChangePageSize)="handleChangePageSize($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>

          <div *ngIf="formSearch.get('queryBy').value === 'kh'" class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'queryMBAL.tableContract.no' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="customerId"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.cif' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.cif' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alPolicyHolderName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.customerName' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.customerName' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alPolicyNumber"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.hdbh' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.hdbh' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alApeIc"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.valueVND' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div class="text-right">{{ 'queryMBAL.tableContract.valueVND' | translate }}</div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                    value | number: '1.0-2'
                  }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alPolicyStatus"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.status' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.status' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="alSaleChannel"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.channelSale' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.channelSale' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- mbAgencyCode + mbAgencyName -->
              <ngx-datatable-column
                prop="rmDisplay"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.rmSale' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.rmSale' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- branch + branchName -->
              <ngx-datatable-column
                prop="branchDisplay"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'queryMBAL.tableContract.branch' | translate }}"
              >
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'queryMBAL.tableContract.branch' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                    [hasDropdown]="true"
                    (eventChangePageSize)="handleChangePageSize($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
