.selling-opp-indiv {
  color: #353644;
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list_rm {
    flex: 1 1 auto;
  }
  .action__left {
    display: flex;
    text-align: left;
    width: 50%;
  }
  .action__right {
    text-align: right;
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }

  .flex-center {
    align-items: center;
  }

  .count {
    color: #bbbbfd;
  }

  .column-action {
    .btn-primary.focus,
    .btn-primary:focus {
      background: none !important;
    }
  }

  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .las-cus {
    position: relative;
    top: 2px;
  }

  .text-italic {
    font-style: italic;
  }

  .opacity-5 {
    opacity: 0.5;
  }

  .btn-eye {
    background-color: transparent !important;
    color: #bbbbfd;
    &:hover {
      color: #bbbbfd !important;
    }
    em {
      margin-right: 5px !important;
      top: 1px;
      position: relative;
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    label {
      font-size: 13px;
    }
  }
  .flex-1 {
    flex: 1;
  }
}
