<div class="right-view">
  <div class="d-flex content_top p-3">
    <div class="d-flex align-items-center">
      <h3>Báo cáo tần suất sử dụng chức năng</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-3 overflow-auto row">
      <div [formGroup]="form" class="col-4">
        <div class="mb-3">
          <label class="m-0">Hệ thống</label>
          <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      formControlName="system"
                      [options]="listSystem"
                      placeholder="Chọn hệ thống"
                      class="d-block"
                      [optionLabel]="'name'"
                      optionValue="value">
          </p-dropdown>
          <span *ngIf="form.controls.system.errors && form.controls.system.touched" class="p-error">Vui
            lòng chọn hệ thống</span>
        </div>
        <div class="mb-3">
          <div class="d-flex">
            <label class="m-0">Chức năng đánh giá</label><span class='p-error d-flex'>(*)</span><small
                   class="font-italic text-muted"> (giới hạn chọn 10 chức năng)</small>
          </div>
          <p-multiSelect [filter]="true"
                         emptyMessage="Không tìm thấy kết quả tìm kiếm"
                         formControlName="function"
                         [options]=" form.controls.system.value == 'CRM_WEB' ? listFunctions : listFunctionsApp"
                         placeholder="Chọn chức năng đánh giá"
                         class="d-block"
                         [selectionLimit]="10"
                         [optionLabel]="'name'"
                         optionValue="code">
          </p-multiSelect>
          <span *ngIf="form.controls.function.errors && form.controls.function.touched" class="p-error">Vui
            lòng chọn chức năng</span>
        </div>
        <div>
          <label class="m-0">{{ 'fields.block' | translate }}</label>
          <p-dropdown
                      class="d-block"
                      [options]="listDivision"
                      formControlName="blockCode"
                      placeholder="Chọn khối"
                      optionLabel="displayName"
                      optionValue="code">
          </p-dropdown>
          <span *ngIf="form.controls.blockCode.errors && form.controls.blockCode.touched" class="p-error">Vui
            lòng chọn khối</span>
        </div>
      </div>
      <div class="col-2"></div>
      <div style="height: 93%" class="col-6">
        <div [formGroup]="form" class="d-flex justify-content-between mb-3">
          <div class="w-45">
            <div class="d-flex">
              Từ ngày <span class='p-error'>(*)</span>
            </div>
            <p-calendar (onSelect)="validDate($event)" (onBlur)="validDate($event)" formControlName="fromDate"
                        dateFormat="dd/mm/yy" class="w-100"
                        [placeholder]="'dd/mm/yyyy'" [showIcon]="true" icon="las la-calendar-alt">
            </p-calendar>
            <span *ngIf="!this.form.controls.fromDate.value && this.form.controls.fromDate.touched" class='p-error'>Vui
              lòng chọn ngày!</span>
          </div>
          <div class="w-45">
            <div class="d-flex">
              Đến ngày <span class='p-error'>(*)</span>
            </div>
            <p-calendar (onSelect)="validDate($event)" (onBlur)="validDate($event)" [showIcon]="true"
                        icon="las la-calendar-alt" formControlName="toDate" dateFormat="dd/mm/yy"
                        class="w-100"
                        [placeholder]="'dd/mm/yyyy'"></p-calendar>
            <span *ngIf="!this.form.controls.toDate.value && this.form.controls.toDate.touched" class='p-error'>Vui
              lòng chọn ngày!</span>
            <span *ngIf="this.errorDate" class='p-error'>{{this.errorDate}}</span>
          </div>
        </div>
        <div style="height: 85%">
          <div class="d-flex justify-content-between">
            <div class="d-flex w-45 align-items-center">
              <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="search()">
                Chọn chi nhánh <em class="las la-search f-16"></em>
              </button>
              <span *ngIf="send && !listDataTable.length" class='p-error'>Vui
                lòng chọn chi nhánh!</span>
            </div>
            <div *ngIf="this.listDataTable.length">
              <button class="btn btn--red btn-small text-white" (click)="removeList()">
                {{ 'btnAction.deleteAll' | translate }}
              </button>
            </div>
          </div>
          <div [ngClass]="{'d-none': !this.listDataTable.length}" style="height: 80%;" class="table__view mt-3">
            <ngx-datatable #table ngxDataTable class="bootstrap fullscreen" [rows]="listDataTable"
                           [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                           [scrollbarV]="true"
                           [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                           [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                           (page)="setPage($event)" [messages]="messages">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="55"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="'code'"
                                    [name]="'Mã đơn vị'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" [prop]="'name'"
                                    [name]="'Tên đơn vị'">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                                    [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" class="btn-outline"
                            (click)="removeRecord(row); $event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                             let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                                           [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div>
          <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">Xem dữ liệu</button>
          <button class="btn btn--light-blue btn-small ml-3 btn-view" (click)="exportReport()">Xuất dữ liệu</button>
        </div>
      </div>
    </div>
  </div>
</div>
