<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userCategory' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" *ngIf="isAdvance" [formGroup]="searchForm">
            <div class="row">
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.username' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  (keyup.enter)="searchAdvance()"
                  class="form-control"
                  formControlName="username"
                />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.fullName' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  (keyup.enter)="searchAdvance()"
                  class="form-control"
                  formControlName="fullName"
                />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.email' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  (keyup.enter)="searchAdvance()"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatus"
                  placeholder=" "
                  class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="isActive"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionValue="code"
                  optionLabel="name"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.unLock' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listLock"
                  placeholder=" "
                  class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="unLock"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionValue="code"
                  optionLabel="name"
                >
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4 mt-0" [class.pt-4]="!isAdvance">
            <div class="filter-top__left">
              <div *ngIf="!isAdvance">
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="paramSearch.searchAdvanced"
                  (keyup.enter)="searchBasic()"
                  maxlength="200"
                />
              </div>
              <button *ngIf="!isAdvance" class="btn-icon btn-icon--small btn btn-search ml-2" (click)="searchBasic()">
                <em class="las la-search f-16"></em>
              </button>
              <button *ngIf="!isAdvance" class="btn btn--light-blue btn-small ml-2" (click)="isShow()">
                {{ 'btnAction.searchAdvance' | translate }}
              </button>
              <button *ngIf="isAdvance" class="btn btn--light-blue btn-small" (click)="isShow()">
                {{ 'btnAction.searchBasic' | translate }}
              </button>
              <button *ngIf="isAdvance" class="btn btn--light-blue btn-small ml-2" (click)="searchAdvance()">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <button
                *ngIf="objFunction && objFunction.export"
                class="btn btn-icon btn-icon--small btn-search ml-2"
                (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              (activate)="onActive($event)"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="username"
                name="{{ 'fields.username' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span class="btn-icon btn-icon--small grey clickable">
                    <em class="las f-16 la-user"></em>
                  </span>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="code"
                name="{{ 'fields.rmCode' | translate }}"
              ></ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="hrsCode"
                name="{{ 'fields.hrisCode' | translate }}"
              ></ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="fullName"
                name="{{ 'fields.fullName' | translate }}"
              ></ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="phoneNumber"
                name="{{ 'fields.phone' | translate }}"
              ></ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="email"
                name="{{ 'fields.email' | translate }}"
              ></ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branch"
                name="{{ 'fields.branchName' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  {{ generateBranchName(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="isActive"
                [width]="110"
                [canAutoResize]="false"
                name="{{ 'fields.isActive' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div #el class="block-center" (click)="isActive(el, row); $event.stopPropagation()">
                    <p-inputSwitch [(ngModel)]="row.active" [readonly]="true" [disabled]="!objFunction?.unLogUser">
                    </p-inputSwitch>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="isLocked"
                [width]="100"
                [canAutoResize]="false"
                name="{{ 'fields.unLock' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div #el class="block-center" (click)="isLock(el, row); $event.stopPropagation()">
                    <p-inputSwitch [(ngModel)]="row.unLock" [readonly]="true" [disabled]="!objFunction?.unLogUser">
                    </p-inputSwitch>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="reason"
                name="{{ 'fields._reason' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}"> {{ value }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
