<div class="modal-header pb-4">
	<div class="block-center-between" *ngIf="!isTitleAssignLdRM">
		<h5 class="m-0">{{
		"customer360.menu.historyAssignment" | translate }} - {{contractNumberTitle}} {{ "customer360.title.customer" | translate }} ({{
		customerName }})</h5>
	</div>
	<div class="block-center-between" *ngIf="isTitleAssignLdRM">
		<h5 class="m-0">{{
		"customer360.menu.historyAssignment" | translate }} - {{contractNumberTitle}} {{ "customer360.title.customer" | translate }} {{
		customerName }}</h5>
	</div>
	<button type="button" class="close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body history-assignment">
	<app-loading *ngIf="isLoading"></app-loading>
	<div class="list__block">
		<div class="filter-top block-center-between mt-0">
            <div class="filter-top__left">
            </div>
            <div class="filter-top__right d-flex">
                <button class="btn btn-icon btn-icon--small btn-search" (click)="exportFileHistory()" *ngIf = "isShowBtnExportExcel">
                    <em class="las la-file-excel f-16"></em>
                </button>
            </div>
        </div>
		<div class="table__view table-floor">
			<ngx-datatable ngxDataTable #table class="bootstrap expandable" [groupRowsBy]="'rmBranchName'" [rows]="listData"
				columnMode="force" [headerHeight]="50" [footerHeight]="0" rowHeight="auto" [scrollbarH]="true"
				[messages]="messages">
				<ngx-datatable-group-header>
					<ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
						<div class="px-1 py-2 group-header-title">
							<button (click)="toggleExpandGroup(group)" class="datatable-tree-button">
								<em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
							</button>
							<strong class="ml-2">{{ (group.value[0].rmBranchCode ?
								group.value[0].rmBranchCode +
								' - ' : '') + (group.value[0].rmBranchName ? group.value[0].rmBranchName
								:
								'') }}</strong>
						</div>
					</ng-template>
				</ngx-datatable-group-header>

				<ngx-datatable-column [sortable]="false" [draggable]="false" name="" [canAutoResize]="false"
					[resizeable]="false" [width]="45">
					<ng-template ngx-datatable-cell-template>
						<span>{{ '' }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
					name="{{ 'fields.startDate' | translate }}">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="endDate"
					name="{{ 'fields.endDate' | translate }}">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="" *ngIf="isShowColumnContractNumber"
					name="{{ 'fields.contractNumber' | translate }}">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{(row.contractNumber ? row.contractNumber : '')}}">
							{{ (row.contractNumber ? row.contractNumber : '') }}
						</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop=""
					name="{{ 'fields.rmManager' | translate }}">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ (row.rmCode ? row.rmCode : '') + ' - ' + (row.rmName ? row.rmName : '') }}">
							{{ (row.rmCode ? row.rmCode : '') + ' - ' + (row.rmName ? row.rmName : '')
							}}
						</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdCustom"
					name="{{ 'fields.assignee' | translate }}">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<span title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedCustom"
					name="{{ 'fields.modifiedBy' | translate }}">
					<ng-template let-value="value" ngx-datatable-cell-template>
						<span title="{{ value }}">{{ value }}</span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
					name="{{ 'fields.modifiedDate' | translate }}" [resizeable]="false">
					<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
							}}</span>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
</div>
<div class="modal-footer modal-footer--grey d-block">
	<div class="text-right">
		<button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
	</div>
</div>

<!-- <div class="right-view history-assignment">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn btn--light-blue btn-small mr-3" (click)="back()"><em class="las la-undo f-16"></em>
				{{ 'btnAction.back' | translate }}</button>
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ "customer360.menu.customer360" | translate }}/{{
				"customer360.menu.historyAssignment" | translate }}</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="p-4">
						<h5 class="m-0">{{ "customer360.title.customer" | translate }}({{ customerName }})</h5>
					</div>
					<div class="table__view table-floor">
						<ngx-datatable ngxDataTable #table class="bootstrap fullscreen expandable"
							[groupRowsBy]="'rmBranchName'" [rows]="listData" columnMode="force" [headerHeight]="50"
							[footerHeight]="0" rowHeight="auto" [scrollbarH]="true" [messages]="messages">
							<ngx-datatable-group-header>
								<ng-template let-group="group" let-expanded="expanded"
									ngx-datatable-group-header-template>
									<div class="px-1 py-2 group-header-title">
										<button (click)="toggleExpandGroup(group)" class="datatable-tree-button">
											<em class="las" [class.datatable-icon-right]="!expanded"
												[class.datatable-icon-down]="expanded"></em>
										</button>
										<strong class="ml-2">{{ (group.value[0].rmBranchCode ? group.value[0].rmBranchCode +
											' - ' : '') + (group.value[0].rmBranchName ? group.value[0].rmBranchName :
											'') }}</strong>
									</div>
								</ng-template>
							</ngx-datatable-group-header>

							<ngx-datatable-column [sortable]="false" [draggable]="false" name="" [canAutoResize]="false"
								[resizeable]="false" [width]="45">
								<ng-template ngx-datatable-cell-template>
									<span>{{ '' }}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
								name="{{ 'fields.startDate' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
										}}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="endDate"
								name="{{ 'fields.endDate' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
										}}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [draggable]="false" prop=""
								name="{{ 'fields.rmManager' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span
										title="{{ (row.rmCode ? row.rmCode : '') + ' - ' + (row.rmName ? row.rmName : '') }}">
										{{ (row.rmCode ? row.rmCode : '') + ' - ' + (row.rmName ? row.rmName : '') }}
									</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdCustom"
								name="{{ 'fields.assignee' | translate }}">
								<ng-template let-value="value" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedCustom"
								name="{{ 'fields.modifiedBy' | translate }}">
								<ng-template let-value="value" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
								name="{{ 'fields.modifiedDate' | translate }}" [resizeable]="false">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
										}}</span>
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
