<div class="choose-potential-content">
  <h5>
      {{ 'title.notification' | translate }}
      <button type="button" class="close crm-btn-close" (click)="choose(false)"><span aria-hidden="true">×</span></button>
  </h5>
  <hr />
  <div class="d-flex justify-content-center">
    <h6> Khách hàng không tồn tại. Vui lòng kiểm tra lại</h6>
  </div>
  <div class="d-flex justify-content-center">
    <div class=" d-flex w-50">
        <div class="pr-2 w-50">
            <button class="col-12 btn crm-btn-secondary btn-small" mat-dialog-close (click)="choose(false)">
                {{ 'btnAction.close' | translate }}
            </button>
        </div>
        <div class="pl-2 w-50">
            <button class="col-12 btn btn--light-blue btn-small" mat-dialog-close (click)="choose(true)">
                Tạo KHTN
            </button>
        </div>
    </div>
  </div>
</div>
