// .choose-potential-content{
//     width: 400px;
// }

.crm-btn-secondary{
    background-color: #EFF2FE;
    color: #bbbbfd;
}

.crm-btn-secondary:hover{
    color: #fff;
    background-color: #bbbbfd;
    border-color: #bbbbfd;
}
