@import 'variable';

.report-pl {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      height: 580px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
    iframe{
      width: 100%;
    }
  }
}

::ng-deep {
  .check-all-rm {
    .p-checkbox-label {
      margin-bottom: 0;
    }
  }
}

.hide {
  display: none !important;
}

.show {
  display: contents;
}

.m-t-rp-view {
  margin-top: 154px;
}