<div class="modal-header pb-4">
    <div class="block-center-between">
        <div class="">
            <h5 class="m-0">{{ title }}</h5>
        </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="row">
            <div *ngFor="let field of listFields" class="col-md-3 mb-3">
                <div><label class="text-label m-0">{{ 'fields.' + field | translate }}</label></div>
                <div><label class="text-black font-weight-normal f-14">{{ data[field] ? data[field] : '---' }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>