@import '../../../../../assets/styles/variable';

.kpi-report-rm-table {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  background: $white;
  .table__view {
    flex: 1 1 auto;
  }
  
  .table-border {
    border: 1px solid #dddd;
    margin-right: 15px;
  }

  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-row-right .datatable-body-cell {
    min-width: 106px !important;
  }
}
