<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ title }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="card p-4" *ngIf="!startAssign">
          <div class="d-flex-end">
            <div class="pr-5">
              <label>Đầu mối quản lý</label>
              <div class="d-flex">
                <div class="p-field-radiobutton mr-5">
                  <p-radioButton [(ngModel)]="form.management" value="branch"></p-radioButton>
                  <label class="ml-3">Đơn vị</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton [(ngModel)]="form.management" value="rm"></p-radioButton>
                  <label class="ml-3">RM</label>
                </div>
              </div>
            </div>
            <div class="pl-5 pr-5 mb-3">
              <label>Giao từ file</label>
              <div class="d-flex">
                <p-checkbox [(ngModel)]="form.isFile" binary="true"></p-checkbox>
              </div>
            </div>
            <button class="btn-small btn btn--light-blue ml-5 mb-3" (click)="start()">Bắt đầu</button>
          </div>
        </div>
        <div class="card p-4 list__block" *ngIf="startAssign && !form.isFile">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" *ngIf="form.management === 'branch'">
                <label class="m-0">Chọn đơn vị<span class="text-red">*</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listBranch"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="form.branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                  [virtualScroll]="true"
                  [itemSize]="31"
                ></p-dropdown>
              </div>
              <div class="form-group" *ngIf="form.management === 'rm'">
                <label class="m-0">Chọn RM<span class="text-red">*</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listRm"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [(ngModel)]="form.rmCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  (onChange)="changeRM($event)"
                ></p-dropdown>
              </div>
              <div class="form-group">
                <label class="m-0">Chọn khách hàng đầu mối</label>
                <button (click)="selectLead()" class="btn-icon btn-icon--small btn btn-search ml-2" title="tìm kiếm">
                  <em class="las la-search f-16"></em>
                </button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Ghi chú</label>
                <textarea type="text" rows="3" class="d-block" [(ngModel)]="form.note" pInputTextarea></textarea>
              </div>
            </div>
          </div>
          <div class="block-center-between mb-3">
            <div class="text-red">
              Lưu ý : Những khách hàng có kết quả sàng lọc là “Từ chối” thì không được phép phân giao
            </div>
            <div>
              <button class="btn-small btn btn-light" (click)="cancel()">Bỏ qua</button>
              <button class="btn-small btn btn--light-blue" (click)="save()">Lưu</button>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listLead"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage('selected', $event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="leadCode"
                name="{{ 'fields.customerCode' | translate }}"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="fullName"
                name="{{ 'fields.customerName' | translate }}"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="phone"
                name="{{ 'fields.phone' | translate }}"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="businessRegistrationNumber"
                name="Số CMT/Số ĐKKD"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="{{ 'fields.branchManagement' | translate }}"
              >
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmCode" name="RM quản lý">
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button
                      type="button"
                      class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.delete' | translate }}"
                      (click)="deleteLead(row); $event.stopPropagation()"
                    >
                      <em class="las la-trash-alt f-16"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
        <ng-container *ngIf="startAssign && form.isFile">
          <div class="card py-4 px-4 mb-3 d-file">
            <div class="d-flex-end">
              <div class="pr-5">
                <label class="mb-4 pb-3">Loại khách hàng</label>
                <div class="d-flex">
                  <div class="p-field-radiobutton mr-5">
                    <p-radioButton [(ngModel)]="isBusiness" [value]="true"> </p-radioButton>
                    <label class="ml-3">Khách hàng tiềm năng doanh nghiệp</label>
                  </div>
                  <!-- <div class="p-field-radiobutton">
                    <p-radioButton [(ngModel)]="isBusiness" [value]="false"> </p-radioButton>
                    <label class="ml-3">Khách hàng tiềm năng cá nhân</label>
                  </div> -->
                </div>
              </div>
              <div class="pl-5">
                <label>Chọn file<span class="text-red">(Không nhập liệu quá 500KH trong file)</span></label>
                <div class="block-center">
                  <div class="upload block-center">
                    <div [class.file-disabled]="isUpload"></div>
                    <input
                      class="upload__input"
                      type="file"
                      accept=".xlsx, .xls"
                      [(ngModel)]="files"
                      (change)="handleFileInput($event.target.files)"
                    />
                    <em class="las la-cloud-upload-alt f-20"></em>
                    <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                    <em class="las la-times f-16"></em>
                  </button>
                  <button
                    class="btn btn-small btn--light-blue ml-3"
                    [class.disabled]="!isFile || isUpload"
                    (click)="importFile()"
                  >
                    <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                  </button>
                  <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                    <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isUpload" class="flex-grow-1 block-table">
            <div class="table__success col-md-5 pl-0 pr-3">
              <div class="card flex-grow-1">
                <div class="filter-top block-center-between px-4">
                  <div class="filter-top__left">
                    <h5>{{ 'customer360.title.listSuccess' | translate }}</h5>
                  </div>
                  <div class="filter-top__right d-flex">
                    <button class="btn btn-small btn-light" (click)="cancel()">Bỏ qua</button>
                    <button
                      class="btn btn-small btn--light-blue"
                      [disabled]="isLoading || pageSuccess?.totalElements === 0 || pageError?.totalElements > 0"
                      (click)="saveDataFile()"
                    >
                      {{ 'btnAction.record' | translate }}
                    </button>
                  </div>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #tableSuccess
                    class="bootstrap fullscreen"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="listDataSuccess"
                    [virtualization]="false"
                    [externalPaging]="true"
                    [count]="pageSuccess?.totalElements"
                    [offset]="pageSuccess?.currentPage"
                    [limit]="pageSuccess?.size"
                    (page)="setPage('success', $event)"
                    [messages]="messages"
                  >
                    <ngx-datatable-column
                      [sortable]="false"
                      name="{{ 'fields.order' | translate }}"
                      [width]="40"
                      [canAutoResize]="false"
                      [draggable]="false"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageSuccess?.currentPage * pageSuccess?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ng-container *ngIf="form.management === 'rm'">
                      <ngx-datatable-column prop="rmCode" [sortable]="false" name="Mã RM" [width]="120">
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="rmName" [sortable]="false" name="Tên RM" [width]="120">
                      </ngx-datatable-column>
                    </ng-container>
                    <ng-container *ngIf="form.management === 'branch'">
                      <ngx-datatable-column prop="branchCode" [sortable]="false" name="Mã đơn vị" [width]="120">
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="branchName" [sortable]="false" name="Tên đơn vị" [width]="120">
                      </ngx-datatable-column>
                    </ng-container>
                    <ngx-datatable-column
                      prop="leadCode"
                      [sortable]="false"
                      name="{{ 'fields.customerCode' | translate }}"
                      [width]="120"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="fullName"
                      [sortable]="false"
                      name="{{ 'fields.customerName' | translate }}"
                      [width]="120"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="taxCode" [sortable]="false" name="Mã số thuế" [width]="120">
                    </ngx-datatable-column>
                    <ngx-datatable-footer>
                      <ng-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset"
                        ngx-datatable-footer-template
                      >
                        <app-pager-ngx-datatable
                          [page]="curPage"
                          [offset]="offset"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="false"
                          (change)="tableSuccess.onFooterPage($event)"
                        >
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>
            </div>
            <div class="table__error col-md-7 pl-0 pr-0">
              <div class="card flex-grow-1">
                <div class="filter-top block-center-between px-4">
                  <div class="filter-top__left">
                    <h5>{{ 'customer360.title.listError' | translate }}</h5>
                  </div>
                  <div class="filter-top__right d-flex"></div>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #tableError
                    class="bootstrap fullscreen"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="listDataError"
                    [virtualization]="false"
                    [externalPaging]="true"
                    [count]="pageError?.totalElements"
                    [offset]="pageError?.currentPage"
                    [limit]="pageError?.size"
                    (page)="setPage('error', $event)"
                    [messages]="messages"
                  >
                    <ngx-datatable-column
                      [sortable]="false"
                      name="{{ 'fields.order' | translate }}"
                      [width]="40"
                      [canAutoResize]="false"
                      [draggable]="false"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageError?.currentPage * pageError?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="rowNum"
                      [sortable]="false"
                      name="{{ 'fields.row' | translate }}"
                      [width]="60"
                      [canAutoResize]="false"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <div title="{{ value }}" class="text-truncate">
                          {{ value }}
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="errorColumn"
                      [sortable]="false"
                      name="{{ 'fields.column' | translate }}"
                      [width]="200"
                      [canAutoResize]="false"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="errorData"
                      [sortable]="false"
                      name="{{ 'fields.dataError' | translate }}"
                      [width]="200"
                      [canAutoResize]="false"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="errorType"
                      [sortable]="false"
                      name="{{ 'fields.infoError' | translate }}"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-footer>
                      <ng-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset"
                        ngx-datatable-footer-template
                      >
                        <app-pager-ngx-datatable
                          [page]="curPage"
                          [offset]="offset"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="false"
                          (change)="tableError.onFooterPage($event)"
                        >
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
