.sale-manager-list {
    color: #353644;
    .group__create-form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .list_rm {
        flex: 1 1 auto;
    }
    .messageSaleOpp {
        text-align: center;
        color: red;
        margin-top: 300px !important;
    }
}

.box {
    padding: 5px 10px;
    background-color: #F5F5FA;
    border-radius: 5px;
    .title {
        color: #AEAFB4;
        font-weight: 700;
    }
    .select-list {
        margin-top: 0;
        display: flex;
    }
    .sectors {
        border-radius: 4px;
        background-color: #ECECF9;
        padding: 5px 10px;
        margin: 5px 0;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    label {
        font-size: 13px;
    }
}

.slider-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    span {
        padding: 0 10px;
    }
    .p-inputwrapper-filled {
        flex: 1 1 auto;
    }
}

.slider-range-able {
    padding: 0 5px;
}

.flex-1 {
    flex: 1;
}

.text-bold {
    font-weight: 700;
    color: #FF3446;
    &.black {
        color: #353644;
    }
}
.search {
    padding: 0 50px;
}

.css-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-email {
    background-color: #bbbbfd;
    border: 1px solid #bbbbfd;
    &:hover {
        background-color: #bbbbfd !important;
        border: 1px solid #bbbbfd !important;
    }
}

.btn-action {
    background-color: #fff;
    border: 1px solid #EBEBEC;
    &:hover {
        background-color: #fff !important;
        border: 1px solid #EBEBEC !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.h-right {
    padding-right: 10px;
}

.btn-add {
    display: flex;
    align-items: center;
    .text {
        margin-left: 10px;
        font-style: normal;
    }
}

.cus-tooltip {
    position: relative;
}

.cus-tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #353644;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    box-shadow: 0 0px 0px -3px rgb(0 0 0 / 20%), 0 0px 10px 0px rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 12%);
}

.cus-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-bottom {
    top: 120%;
    left: 10%;
}
.cus-tooltip .tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ede4e4 transparent;
}

.tree__branches-modal {
  .choose-branches-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }
  .branch__view {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
  }
}
.style-border{
  display: flex;
  position: relative;
  height: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
