<div class="right-view sale-manager-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'saleSuggest.label.mainTitle' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="!permissionOpp">
          <div class="group__create-form px-4 mt-4 cus-primeng">
            <div class="row">
              <div class="col-md-4 form-group">
                <div class="box">
                  <div class="title">{{ 'saleSuggest.label.segment' | translate }}</div>
                  <div class="select-list">
                    <p-selectButton
                      [options]="segmentOptions"
                      [(ngModel)]="segmentSelected"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="unCheckAllSegment()"
                    >
<!--                      -->
                    </p-selectButton>
                    <p-selectButton
                      [options]="segmentAll"
                      [(ngModel)]="segmentSelectedAll"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="allClickSegment()"
                    >
<!--                      -->
                    </p-selectButton>
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="box">
                  <div class="title">{{ 'saleSuggest.label.ageGroup' | translate }}</div>
                  <div class="select-list">
                    <p-selectButton
                      [options]="ageGroupOptions"
                      [(ngModel)]="ageGroupSelected"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="unCheckAllAgeGroup()"
                    >
                    </p-selectButton>
                    <p-selectButton
                      [options]="ageGroupAll"
                      [(ngModel)]="ageGroupSelectedAll"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="allClickAgeGroup()"
                    >
                    </p-selectButton>
                  </div>
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="box">
                  <div class="title">{{ 'saleSuggest.label.customerType' | translate }}</div>
                  <div class="select-list">
                    <p-selectButton
                      [options]="customerTypeOptions"
                      [(ngModel)]="customerTypeSelected"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="unCheckAllCustomerType()"
                    >
                    </p-selectButton>
                    <p-selectButton
                      [options]="customerTypeAll"
                      [(ngModel)]="customerTypeSelectedAll"
                      optionLabel="name"
                      optionValue="value"
                      multiple="multiple"
                      (click)="allClickCustomerType()"
                    >
                    </p-selectButton>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="isOpenMore">
              <div class="row">
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.sector' | translate }}</label>
                    <p-multiSelect
                      class="d-block"
                      defaultLabel=" "
                      [options]="sectorOptions"
                      [(ngModel)]="sectorSelected"
                      optionLabel="name"
                      optionValue="value"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                      maxSelectedLabels="{{ sectorOptions.length - 1 }}"
                      [selectedItemsLabel]="fields.all"
                      resetFilterOnHide="true"
                    ></p-multiSelect>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.useProduct' | translate }}</label>
                    <p-multiSelect
                      [options]="useProducts"
                      [(ngModel)]="selectedUseProduct"
                      optionLabel="name"
                      optionValue="value"
                    ></p-multiSelect>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.notUseProduct' | translate }}</label>
                    <p-multiSelect
                      [options]="notUseProducts"
                      [(ngModel)]="selectedNotUseProduct"
                      optionLabel="name"
                      optionValue="value"
                      (ngModelChange)="notUseProductChange($event)"
                    ></p-multiSelect>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.surplusCASA' | translate }}</label>
                    <div class="form-group slider-input-group" [formGroup]="formSlider">
                      <input
                        class="form-control text-right"
                        type="text"
                        maxlength="7"
                        formControlName="minCASA"
                        (ngModelChange)="
                          rangeValuesSurplusCASA = [rangeValuesSurplusCASA[0], rangeValuesSurplusCASA[1]]
                        "
                        [(ngModel)]="rangeValuesSurplusCASA[0]"
                        (input)="inputMinCASA($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMinCASA($event)"
                        (blur)="onBlurMinCASA($event.target.value)"
                      />
                      <span>-</span>
                      <input
                        class="form-control text-right"
                        type="text"
                        maxlength="7"
                        formControlName="maxCASA"
                        (ngModelChange)="
                          rangeValuesSurplusCASA = [rangeValuesSurplusCASA[0], rangeValuesSurplusCASA[1]]
                        "
                        [(ngModel)]="rangeValuesSurplusCASA[1]"
                        (input)="inputMaxCASA($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMaxCASA($event)"
                        (blur)="onBlurMaxCASA($event.target.value)"
                      />
                    </div>
                    <div class="slider-range-able">
                      <p-slider
                        [(ngModel)]="rangeValuesSurplusCASA"
                        [range]="true"
                        [min]="0"
                        [max]="1000000"
                        (onSlideEnd)="handleChangeCASA($event)"
                        (onChange)="onChangeCASA($event)"
                      ></p-slider>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.surplusHDV' | translate }}</label>
                    <div class="form-group slider-input-group" [formGroup]="formSlider">
                      <input
                        class="form-control text-right"
                        type="text"
                        maxlength="7"
                        formControlName="minHDV"
                        (ngModelChange)="rangeValuesSurplusHDV = [rangeValuesSurplusHDV[0], rangeValuesSurplusHDV[1]]"
                        [(ngModel)]="rangeValuesSurplusHDV[0]"
                        (input)="inputMinHDV($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMinHDV($event)"
                        (blur)="onBlurMinHDV($event.target.value)"
                      />
                      <span>-</span>
                      <input
                        class="form-control text-right"
                        type="text"
                        maxlength="7"
                        formControlName="maxHDV"
                        (ngModelChange)="rangeValuesSurplusHDV = [rangeValuesSurplusHDV[0], rangeValuesSurplusHDV[1]]"
                        [(ngModel)]="rangeValuesSurplusHDV[1]"
                        (input)="inputMaxHDV($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMaxHDV($event)"
                        (blur)="onBlurMaxHDV($event.target.value)"
                      />
                    </div>
                    <div class="slider-range-able">
                      <p-slider
                        [(ngModel)]="rangeValuesSurplusHDV"
                        [range]="true"
                        [min]="0"
                        [max]="1000000"
                        (onSlideEnd)="handleChangeHDV($event)"
                        (onChange)="onChangeHDV($event)"
                      ></p-slider>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.tdn' | translate }}</label>
                    <div class="form-group slider-input-group" [formGroup]="formSlider">
                      <input
                        class="form-control text-right"
                        [ngClass]="{ 'css-readonly': isDisableTDN }"
                        type="text"
                        maxlength="7"
                        formControlName="minTDN"
                        (ngModelChange)="rangeValuesTDN = [rangeValuesTDN[0], rangeValuesTDN[1]]"
                        [(ngModel)]="rangeValuesTDN[0]"
                        (input)="inputMinTDN($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMinTDN($event)"
                        (blur)="onBlurMinTDN($event.target.value)"
                        [readonly]="isDisableTDN"
                      />
                      <span>-</span>
                      <input
                        class="form-control text-right"
                        [ngClass]="{ 'css-readonly': isDisableTDN }"
                        type="text"
                        maxlength="7"
                        formControlName="maxTDN"
                        (ngModelChange)="rangeValuesTDN = [rangeValuesTDN[0], rangeValuesTDN[1]]"
                        [(ngModel)]="rangeValuesTDN[1]"
                        (input)="inputMaxTDN($event.target.value)"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="keyUpMaxTDN($event)"
                        (blur)="onBlurMaxTDN($event.target.value)"
                        [readonly]="isDisableTDN"
                      />
                    </div>
                    <div class="slider-range-able">
                      <p-slider
                        [(ngModel)]="rangeValuesTDN"
                        [range]="true"
                        [min]="0"
                        [max]="1000000"
                        (onSlideEnd)="handleChangeTDN($event)"
                        (onChange)="onChangeTDN($event)"
                        [disabled]="isDisableTDN"
                      ></p-slider>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.branch' | translate }}</label>
                    <div class="p-input-icon-right">
                      <i
                        class="pi pi-times branch"
                        [ngClass]="{ show: facilityCode }"
                        (click)="removeBranchSelected()"
                      ></i>
                      <lp-branches
                        [listBranch]="facilities"
                        [(model)]="facilityCode"
                        (modelChange)="changeBranch($event)"
                      >
                      </lp-branches>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'saleSuggest.label.rm' | translate }}</label>
                    <div class="filter-top__left">
                      <div class="flex-1">
                        <span class="p-input-icon-right">
                          <i
                            class="pi pi-times"
                            [ngClass]="{ show: employeeCode && checkEmployeeCode() }"
                            (click)="removeRMSelected()"
                          ></i>
                          <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeCode" readonly />
                        </span>
                      </div>
                      <button
                        class="btn-icon btn-icon--small btn btn-search grey ml-2"
                        title="{{ 'btnAction.search' | translate }}"
                        (click)="searchRM()"
                      >
                        <em class="las la-search f-16"></em>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <div class="flex-col">
                    <label>{{ 'lead.fields.gender' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="listGender"
                      [(ngModel)]="selectedGender"
                      optionLabel="name"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small search" (click)="search(true, false)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="action__center">
                <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                  <em class="las la-angle-down f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                  <em class="las la-angle-up f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button
                        class="pr-3 pl-3 btn btn--light-blue btn-small search btn-add cus-tooltip"
                        title="{{ 'btnAction.create' | translate }}"
                        (click)="addToCampain()"
                        [disabled]="pageable.totalElements < 1"
                >
                  <em class="las la-plus-circle f-16"></em>
                  <em class="text">Thêm vào chiến dịch</em>
                </button>

                <button
                  *ngIf="isRMUB"
                  class="btn btn--light-blue btn-small search btn-add cus-tooltip"
                  (click)="createGroupChat()"
                >
                  <em class="las la-chat f-16"></em>
                  <em class="text">{{ 'saleSuggest.action.createGroup' | translate }}</em>
                  <div class="tooltiptext tooltip-bottom">{{ 'saleSuggest.tooltip.createGroup' | translate }}</div>
                </button>
              </div>
            </div>
            <div class="filter-top block-center-between mt-0">
              <div class="filter-top__left">
                <div class="text-bold">
                  {{ 'saleSuggest.label.lastUpdateDate' | translate
                  }}<span>{{ lastUpdateDate | date: 'dd/MM/y' }}</span>
                </div>
              </div>
              <div class="filter-top__right d-flex">
                <div class="text-bold black">{{ 'saleSuggest.label.unit' | translate }}</div>
              </div>
            </div>
            <div *ngIf="!isLoadFirst; else noSearch" class="table__view list_rm">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >
                <ngx-datatable-column
                  prop="cif"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.CIF' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.CIF' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.CUSTOMER_NAME' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.CUSTOMER_NAME' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="sector"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.SECTOR' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.SECTOR' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="phanKhucKH"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.PHAN_KHUC_KH' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.PHAN_KHUC_KH' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="gioiTinh"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.GIOI_TINH' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.GIOI_TINH' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="soThangQuanHe"
                  [sortable]="false"
                  [draggable]="false"
                  [width]="100"
                  name="{{ 'saleSuggest.title.SO_THANG_QUAN_HE' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right">{{ 'saleSuggest.title.SO_THANG_QUAN_HE' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="dob"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DOB' | translate }}"
                >
                  <ng-template ngx-datatable-header-template>
                    <div class="text-center">{{ 'saleSuggest.title.DOB' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: auto !important; margin-left: auto !important" title="{{ value }}">{{
                      value | date: 'dd/MM/y'
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="sdbqCASA3M"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.SDBQ_CASA_3M' | translate }}"
                >
                  <ng-template class="h-right" let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.SDBQ_CASA_3M' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="sdbqTK3M"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.SDBQ_TK_3M' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.SDBQ_TK_3M' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="tongDuNo"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.TONGDUNO' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.TONGDUNO' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="duNoBDS"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DUNO_BDS' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DUNO_BDS' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="duNoTDTSDB"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DUNO_TDTSDB' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DUNO_TDTSDB' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="duNoSXKD"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DUNO_SXKD' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DUNO_SXKD' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="duNoTinChap"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DUNO_TIN_CHAP' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DUNO_TIN_CHAP' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="duSPDT"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DU_SPDT' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DU_SPDT' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="dsTheTDBQ3M"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DS_THE_TD_BQ_3M' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DS_THE_TD_BQ_3M' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="dsBANCAS"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DS_BANCAS' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DS_BANCAS' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="dsKieuHoi"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DS_KIEU_HOI' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DS_KIEU_HOI' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="dsSPDT"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.DS_SPDT' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.DS_SPDT' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="tongThuThuanYTD"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.TONG_THU_THUAN_YTD' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.TONG_THU_THUAN_YTD' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="thuNgoaiLaiYTD"
                  [sortable]="true"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.THU_NGOAI_LAI_YTD' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right h-right">{{ 'saleSuggest.title.THU_NGOAI_LAI_YTD' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | formatNumberToMillion: 2
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="slsp"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.SLSP' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="text-right">{{ 'saleSuggest.title.SLSP' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{
                      value | number: '1.0-2'
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="ub"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.UB_QLY' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.UB_QLY' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="rmQlyLD"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleSuggest.title.RM_QLY_LD' | translate }}"
                >
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{ 'saleSuggest.title.RM_QLY_LD' | translate }}
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="{{ 'saleSuggest.title.ACTIONS' | translate }}"
                  [width]="150"
                  [frozenRight]="true"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template ngx-datatable-header-template>
                    <div class="text-center">{{ 'saleSuggest.title.ACTIONS' | translate }}</div>
                  </ng-template>
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="block-center text-center column-action"
                    >

                      <button *ngIf="isShowChat"
                              type="button"
                              title="Chat"
                              (click)="createGroupChat11(row)"
                              class="btn--light-blue btn-icon--small btn btn-email"
                      >
                        <em style="margin: 3px !important;" class="las la-chat-small f-16"></em>
                      </button>

                      <button
                        type="button"
                        title="{{ 'saleSuggest.tooltip.createAction' | translate }}"
                        (click)="createAction(row)"
                        class="btn--light-blue btn-icon--small btn ml-2 btn-action"
                      >
                        <em class="icon-create-activity-1 i-16"></em>
                      </button>

                      <button
                        type="button"
                        title="{{ 'saleSuggest.tooltip.historyAction' | translate }}"
                        class="btn--light-blue btn-icon--small btn ml-2 btn-action"
                        (click)="historyAction(row)"
                      >
                        <em class="icon-history-activity i-16"></em>
                      </button>
                    </div>
                    <div class="block-center text-center column-action"
                      *ngIf="isShowCreateOppBtn"
                    >
                    <!-- <div class="block-center text-center column-action"
                      *ngIf="checkScopes(['CREATE_OPPORTUNITY_SALE'])"
                    > -->
                      <button
                        type="button"
                        title="{{ 'sellingOppIndiv.tooltip.createSaleOpp' | translate }}"
                        (click)="createOppKHCN(row)"
                        class="btn--light-blue btn-icon--small btn btn-action"
                      >
                        <em class="icon-sale-opp i-16"></em>
                      </button>
                      <button
                        type="button"
                        title="{{ 'saleSuggest.tooltip.createAction' | translate }}"
                        (click)="createAction(row)"
                        class="btn--light-blue btn-icon--small btn ml-2 btn-action"
                      >
                        <em class="icon-create-activity-1 i-16"></em>
                      </button>
                      <button type="button" class="btn-outline" pButton icon="pi pi-bars" label=""
                        (click)="menu.toggle($event)"></button>
                      <p-menu #menu [popup]="true" [model]="rowMenu" appendTo="body" (onShow)="onShowMenu($event)"
                        (onHide)="onHideMenu($event)"></p-menu>
                    </div>
                    <!-- CRMCN-3672 - NAMNH - END -->
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      [hasDropdown]="true"
                      (change)="table.onFooterPage($event)"
                      (eventChangePageSize)="handleChangePageSize($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
            <ng-template #noSearch>
<!--              <div style="text-align: 'center'">-->
                <div class="style-border">
                  <b>Vui lòng chọn tiêu chí tìm kiếm</b>
<!--                  <div class="style-text">-->
<!--                    -->
<!--                  </div>-->

              </div>
            </ng-template>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
