<div class="right-view standard-kpi-cbql-import">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Nhập KPI tiêu chuẩn/kế hoạch cho chi nhánh</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn-small btn--red" (click)="back()">Bỏ qua</button>
      <button class="btn btn-small btn--light-blue" (click)="save()">Ghi</button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="form">
            <div class="row">
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="divisionCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                  (onChange)="selectedData($event)"
                ></p-dropdown>
              </div>
              <div class="col-md-3 form-group has-error">
                <label>{{ 'fields.month' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="month"
                  dateFormat="mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                  view="month"
                  (onSelect)="selectedData($event)"
                >
                </p-calendar>
              </div>
              <div class="col-md-4 form-group has-error"></div>
            </div>
          </div>
          <div class="card py-4 px-4 mb-3">
            <div class="mb-3 text-left">
              <span class="text-color">{{ 'kpi.fields.choose_file' | translate }}</span>
            </div>
            <div class="block-center">
              <div class="upload block-center">
                <div [class.file-disabled]="isUpload"></div>
                <input
                  class="upload__input"
                  type="file"
                  accept=".xlsx, .csv"
                  [(ngModel)]="files"
                  (change)="handleFileInput($event.target.files)"
                />
                <em class="las la-cloud-upload-alt f-20"></em>
                <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
              </div>

              <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                <em class="las la-times f-16"></em>
              </button>

              <button
                class="btn btn-small btn--light-blue ml-3"
                [class.disabled]="!isFile || isUpload"
                (click)="importFile()"
              >
                <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
              </button>

              <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
              </button>
            </div>
          </div>
          <!-- <div class="text-red px-4">*Lỗi: Sai định dạng</div> -->
          <div *ngIf="hiddenTable" class="table__view mb-1">
            <p-table class="p-table-fullscreen" [value]="[{}]" [scrollable]="true" scrollHeight="flex">
              <ng-template pTemplate="header">
                <tr>
                  <th width="400px" colspan="2"></th>
                  <ng-container *ngFor="let item of listDataTable[0]">
                    <th width="200px" style="white-space: pre-line">
                      <div class="text-center">{{ item.value }}</div>
                    </th>
                  </ng-container>
                </tr>
                <tr>
                  <th>Mã đơn vị</th>
                  <th>Tên đơn vị</th>
                  <ng-container *ngFor="let item of listDataTable[1]">
                    <th width="200px">
                      <div class="text-center">{{ item.value }}</div>
                    </th>
                  </ng-container>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-sale>
                <ng-container *ngFor="let itemRow of listDataTable; let rowIndex = index">
                  <tr *ngIf="rowIndex > 1">
                    <td width="200px" *ngFor="let col of itemRow; let indexCol = index">
                      <span *ngIf="indexCol < 2">{{ col.value }}</span>
                      <!-- <p-inputNumber
                        [class]="col.error ? 'ng-invalid ng-dirty' : ''"
                        *ngIf="indexCol > 1"
                        [(ngModel)]="col.value"
                        locale="en-IN"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        [min]="0"
                      ></p-inputNumber> -->
                      <input
                        maxlength="20"
                        [class]="col.error ? 'ng-invalid ng-dirty' : ''"
                        pInputText
                        [(ngModel)]="col.value"
                        *ngIf="indexCol > 1"
                      />
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
