@import 'variable';

.standard-kpi-cbql-import {
  .clear-file {
    position: absolute;
    right: 0;
    top: -5px;
  }

  .upload {
    width: 300px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    height: 36px;
  }
  .file-disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 5;
    cursor: not-allowed;
  }
  .p-inputtext.ng-dirty.ng-invalid {
    border-color: #f44336;
  }
}
