@import 'variable';

.PEditor {
  height: 100%;
  overflow: auto;
  &__Wrapper {
    border: 1px solid $gray-300 !important;
    display: flex;
    flex-direction: column;
    position: relative !important;
    .editor-disabled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .ql-editor {
      overflow: auto !important;
      height: 161px !important;
    }
  }
  &__MenuBar {
    border-bottom: 1px solid $gray-300 !important;
  }
  &__Main {
    flex: 1 1 auto;
    overflow: hidden;
    .p-editor-toolbar {
      .ql-formats {
        .ql-font {
          display: none !important;
        }
        .ql-clean {
          display: none !important;
        }
      }
    }
  }
  &__Content {
    height: 100%;
    word-break: break-word;
  }
  .ql-formats {
    overflow: unset !important;
  }

  ::ng-deep .ql-snow .ql-picker .ql-font {
    display: none !important;
  }
}

::ng-deep .ql-snow .ql-picker .ql-font {
  display: none !important;
}
