<div class="chart">
  <div class="chart__header block-center-between">
      <div class="chart__header-left">
          <div class="f-16 text-black chart__header-title" style="font-weight: 600;">{{ title | translate }}</div>
          <div class="f-12 text-black" style="font-weight: 300;">Tổng số lượng KH: <span style="font-weight: bold;">{{dataTotal? formatCustomerNumber(dataTotal) : 0}}</span></div>
      </div>
<!--        <div class="chart__header-right">-->
<!--            <img alt="" src="assets/images/chart.svg" alt="" class="img-icon" (click)="switchChart()" />-->
<!--        </div>-->
<!--      <div class="chart__header-right mr-3"><button (click)='goReport()' class="btn btn-tab&#45;&#45;blue btn-small btn-news">Xem chi tiết</button>-->
<!--      </div>-->
  </div>
  <ng-container *ngIf="!isLoading && data">
<!--        <div class="chart__body">-->
<!--            <div echarts [options]="option" style="height:  100%;"></div>-->
<!--        </div>-->
    <div class="chart__body position-relative">
      <div id="chartId" class="chart__body-height h-100" (chartClick)="onClickChart($event.data,$event)" echarts [options]="option"></div>
      <div class="legend-total legend-total--text">Tổng</div>
      <div class="legend-total legend-total--number">{{dataTotal? formatCustomerNumber(dataTotal) : 0}}</div>
    </div>
    <div class="chart__legend">
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li *ngFor="let item of leftItems" class="block-center-between" (click)="onclickLegend(item)" >
                <div class="chart__legend-left">
                  <span class="legend-bage-circle" [ngStyle]="{backgroundColor: item.color}"></span>
                  <div class="one-line-ellipsis">{{item.label}}</div>
                </div>

                <div class="chart__legend-right " >
                  <strong style="width: max-content">{{item.value | number}} KH</strong>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 ">
            <ul>
              <li *ngFor="let item of rightItems" class="block-center-between" (click)="onclickLegend(item)">
                <div class="chart__legend-left ">
                  <div class="legend-bage-circle" [ngStyle]="{backgroundColor: item.color}"></div>
                  <div class="one-line-ellipsis">{{item.label}}</div>
                  </div>
                <div class="chart__legend-right" >
                  <strong style="width: max-content">{{item.value | number}} KH</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="text-center text-update">Dữ liệu cập nhật ngày {{dateSnapshot}}</div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !data">
      <div class="chart__empty">
          <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
      </div>
  </ng-container>
<!--    <app-loading *ngIf="isLoading"></app-loading>-->
<div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
</div>
