<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userCategory' | translate }}/{{ data?.fullName | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="p-4 list__block">
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <button class="btn-list btn-filter btn btn-small mr-2 text-uppercase"
                [ngClass]="!isList ? 'btn--light-blue' : 'btn-light'" (click)="chooseTab()">
                {{ 'system.info' | translate }}
              </button>
              <button class="btn-grid btn-filter btn btn-small text-uppercase"
                [ngClass]="isList ? 'btn--light-blue' : 'btn-light'" (click)="chooseTab()">
                {{ 'system.listUserOfRole' | translate }}
              </button>
            </div>
          </div>
          <div class="tab__content">
            <ng-container *ngIf="!isList">
              <div class="list__info">
                <div class="row mt-3" [formGroup]="form">
                  <div class="col-md-6 form-group has-error">
                    <label>{{ 'system.fields.username' | translate }} <span class="text-red">(*)</span></label>
                    <input class="form-control" type="text" formControlName="username" maxlength="50"
                      placeholder="{{ 'placeholder' | translate }}" />
                    <div *ngIf="form.get('username').errors && form.get('username').touched" class="invalid-tooltip">
                      <div *ngIf="form.get('username').errors.cusRequired">{{ 'validationMessage.required' | translate
                        }}</div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error">
                    <label>{{ 'system.fields.fullName' | translate }} <span class="text-red">(*)</span></label>
                    <input class="form-control" type="text" formControlName="fullName" maxlength="200"
                      placeholder="{{ 'placeholder' | translate }}" />
                    <div
                      *ngIf="form.get('fullName').errors && form.get('fullName').errors.cusRequired && form.get('fullName').touched"
                      class="invalid-tooltip">
                      {{ 'validationMessage.required' | translate }}
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error">
                    <label>Email <span class="text-red">(*)</span></label>
                    <input class="form-control" type="text" formControlName="email" maxlength="150"
                      placeholder="{{ 'placeholder' | translate }}" />
                    <div *ngIf="form.get('email').errors && form.get('email').touched" class="invalid-tooltip">
                      <div *ngIf="form.get('email').errors.cusRequired">{{ 'validationMessage.required' | translate }}
                      </div>
                      <div *ngIf="form.get('email').errors.email">{{ 'validationMessage.noEmail' | translate }}</div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error">
                    <label>{{ 'system.fields.phone' | translate }} <span class="text-red">(*)</span></label>
                    <input class="form-control" type="text" formControlName="phoneNumber" maxlength="10"
                      placeholder="{{ 'placeholder' | translate }}" />
                    <div *ngIf="form.get('phoneNumber').errors && form.get('phoneNumber').touched"
                      class="invalid-tooltip">
                      <div *ngIf="form.get('phoneNumber').errors.cusRequired">{{ 'validationMessage.required' |
                        translate }}</div>
                      <div *ngIf="form.get('phoneNumber').errors.phoneMobile">{{ 'validationMessage.noPhoneMobile' |
                        translate }}</div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error">
                    <label>{{ 'system.fields.branch' | translate }} <span class="text-red">(*)</span></label>
                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                      [options]="listBranches" class="d-block" formControlName="branch"
                      emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                      appendTo="body" optionLabel="name" optionValue="code"></p-dropdown>
                    <div
                      *ngIf="form.get('branch').errors && form.get('branch').errors.cusRequired && form.get('branch').touched"
                      class="invalid-tooltip">
                      {{ 'validationMessage.required' | translate }}
                    </div>
                  </div>
                  <div class="col-md-6 form-group has-error">
                    <label>{{ 'system.fields.isActive' | translate }}</label>
                    <div class="mt-2">
                      <label class="switch">
                        <input type="checkbox" class="checkbox-switch" formControlName="active" />
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isList">
              <div class="list__user">
                <div class="filter-top block-center-between">
                  <div class="filter-top__left">
                    <div>
                      <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                        class="form-control search-box" [(ngModel)]="paramSearch.search"
                        (keyup.enter)="searchRole(true)" />
                    </div>
                    <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}" (click)="searchRole(true)">
                      <em class="las la-search f-16"></em>
                    </button>
                  </div>
                  <div class="filter-top__right d-flex">
                  </div>
                </div>
                <div class="table__view">
                  <ngx-datatable ngxDataTable #tableUser class="bootstrap fullscreen" [rows]="listRole"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                    [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                    [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                    (page)="setPage($event)">
                    <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                      [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="30" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                      [draggable]="false" [resizeable]="false" prop="id" name="">
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row"
                        let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxRoleFn">
                        <label class="checkbox">
                          <input type="checkbox" [checked]="row.isChecked"
                            (click)="onCheckboxRoleFn(row, $event.target.checked);$event.stopPropagation()" />
                          <span class="ck"></span>
                        </label>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                      name="{{ 'fields.roleCode' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="btn-icon btn-icon--small grey clickable">
                          <em class="las f-16 la-cogs"></em>
                        </span>
                        <span class="ml-2">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="description"
                      name="{{ 'fields.roleName' | translate }}"></ngx-datatable-column>
                    <ngx-datatable-footer>
                      <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                          [hidden]="false" (change)="tableUser.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue btn-small" (click)="confirmDialog()">{{ 'btnAction.save' | translate
              }}</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
