<div class="declare-campaign" *ngIf="form" [formGroup]="form">
    <!-- content-body__list  -->
    <!-- <app-loading *ngIf="isLoading"></app-loading> -->
    <div class="list__block">
        <div class="px-4 mt-3">
            <div class="row wrapper">
                <div class="col-md-2 form-group">
                    <label>{{ 'Chiến dịch liên quan' | translate }}</label>
                    <!-- <input placeholder="" type="text" maxlength="200" class="d-block" formControlName="parentCampaignId" -->
                    <!-- pInputText /> -->
                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="parentList" class="d-block" formControlName="parentCampaignId" appendTo="body"
                        autoZIndex="false" baseZIndex="10000" optionLabel="displayName" optionValue="id"
                        [autoDisplayFirst]="false" [filter]="true" showClear="true">
                    </p-dropdown>
                    <small style=" font-style: italic;">Chỉ chọn khi Chiến dịch đang tạo là chiến dịch con</small>
                </div>

                <div class="col-md-2 form-group">
                    <label>{{ 'fields.campaignCode' | translate }} <span class="text-red">(*)</span></label>
                    <input placeholder="Ví dụ: HO.2022.CARD, CN.2022.CREDIT" type="text" maxlength="100" class="d-block"
                        formControlName="code" pInputText />
                    <small class="p-error"
                        *ngIf="form?.controls?.code?.errors?.cusRequired && form?.controls?.code?.touched">
                        {{
                        'validationMessage.required' | translate }}
                    </small>
                    <small class="p-error"
                        *ngIf="form?.controls?.code?.errors?.onlyNormalAndSpecialChar && form?.controls?.code?.touched">
                        {{
                        'validationMessage.onlyNormalAndSpecialChar' | translate }}
                    </small>
                </div>

                <div class="col-md-4 form-group">
                    <label>{{ 'fields.campaignName' | translate }} <span class="text-red">(*)</span></label>
                    <input placeholder="" type="text" maxlength="100" class="d-block" formControlName="name"
                        pInputText />
                    <small class="p-error"
                        *ngIf="form?.controls?.name?.errors?.cusRequired && form?.controls?.name?.touched">
                        {{
                        'validationMessage.required' | translate }}
                    </small>
                </div>

                <div class="col-md-2 form-group">
                    <label>{{ 'fields.startDate' | translate }} <span class="text-red">(*)</span></label>
                    <p-calendar class="d-block" formControlName="startDate" dateFormat="dd/mm/yy" appendTo="body" placeholder="dd/mm/yyyy"
                        autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt">
                    </p-calendar>
                    <small class="p-error" *ngIf="
                        form?.controls?.startDate?.errors?.cusRequired && form?.controls?.startDate?.touched
                      ">{{ 'validationMessage.required' | translate }}</small>
                </div>

                <div class="col-md-2 form-group">
                    <label>{{ 'fields.endDate' | translate }}</label>
                    <p-calendar class="d-block" formControlName="endDate" dateFormat="dd/mm/yy" appendTo="body" placeholder="dd/mm/yyyy"
                        autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="minEndDate"
                        icon="las la-calendar-alt">
                    </p-calendar>
                </div>

                <div class="col-md-8 form-group">
                    <label>{{ 'campaign.sale.target' | translate }} <span class="text-red">(*)</span></label>
                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="targetParentList" class="d-block" formControlName="parentId" appendTo="body"
                        autoZIndex="false" baseZIndex="10000" optionLabel="itemName" optionValue="id"
                        [autoDisplayFirst]="false">
                    </p-dropdown>
                    <small class="p-error"
                        *ngIf="form?.controls?.parentId?.errors?.cusRequired && form?.controls?.parentId?.touched">
                        {{
                        'validationMessage.required' | translate }}
                    </small>
                    <div class="table__view mt-3" style="height: 350px;"  [formGroup]="planValueForm">
                    <ngx-datatable
                        ngxDataTable
                        #table
                        class="bootstrap fullscreen custom-tbl"
                        [rows]="itemAllocation"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="0"
                        rowHeight="auto"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [virtualization]="false"
                        [externalPaging]="false">

                        <ngx-datatable-column
                        [sortable]="false"
                        name="{{ 'fields.order' | translate }}"
                        [width]="35"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="true"
                      >
                        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          <span>{{ rowIndex + 1 }}</span>
                        </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column
                        [sortable]="false"
                        [draggable]="false"
                        prop="itemName"
                        name="Tên chỉ tiêu"
                      >
                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                          <span title="{{ value }}">{{ value }}</span>
                        </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                        [sortable]="false"
                        [draggable]="false"
                        prop="unitName"
                        name="Đơn vị tính"
                      >
                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                          <span title="{{ value }}">{{ value }}</span>
                        </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                        name="{{ 'campaign.label.alocation_entrust_value' | translate }}"
                        [width]="100"
                        [frozenRight]="true"
                        [sortable]="false"
                        [draggable]="false"
                        [resizeable]="false"
                      >
                        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <div class="block-center text-center column-action position-relative" [formGroupName]="rowIndex">
                                <p-inputNumber formControlName="entrustValue" mode="decimal" [min]="0"
                                placeholder="0.00" [minFractionDigits]="2" maxFractionDigits="2" useGrouping="false"></p-inputNumber>
                                <small class="p-error entrust-value-err-message" *ngIf="isInvalidPattern('entrustValue',  rowIndex)">
                                    {{'validationMessage.requiredAndMinEqualZero' | translate}}
                                </small>
                          </div>
                        </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-footer hidden>
                            <ng-template ngx-datatable-footer-template>
                            </ng-template>
                          </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>

                </div>

                <div class="col-md-4 form-group">
                    <label>{{ 'campaign.sale.member' | translate }}</label>
                    <p-multiSelect class="d-block" defaultLabel=" " [options]="rmLevelList"
                        formControlName="titleGroupDTOS" optionLabel="name" optionValue="id" appendTo="body"
                        autoZIndex="false" baseZIndex="10000"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                        maxSelectedLabels="{{ rmLevelList.length - 1 }}" [selectedItemsLabel]="fields.all"
                        [showClear]="false"
                        >
                    </p-multiSelect>

                </div>

                <div class="col-md-2 form-group">
                    <label>{{ 'SLA phân giao KH (ngày)' | translate }} <span class="text-red">(*)</span></label>
                    <input pInputText class="d-block w-100" type="text" formControlName="slaManager" maxlength="3" />
                    <small class="p-error"
                        *ngIf="form?.controls?.slaManager?.errors?.cusRequired && form?.controls?.slaManager?.touched">
                        {{ 'validationMessage.required' | translate }}
                    </small>
                    <small class="p-error"
                        *ngIf="form?.controls?.slaManager?.errors?.onlyInteger && form?.controls?.slaManager?.touched">
                        {{ 'SLA phải lớn hơn 0' }}
                    </small>
                </div>

                <div class="col-md-2 form-group">
                    <label>{{ 'SLA tiếp cận KH (ngày)' | translate }} <span class="text-red">(*)</span></label>
                    <input pInputText class="d-block w-100" formControlName="slaRm" maxlength="3" />
                    <small class="p-error"
                        *ngIf="form?.controls?.slaRm?.errors?.cusRequired && form?.controls?.slaRm?.touched">
                        {{ 'validationMessage.required' | translate }}
                    </small>
                    <small class="p-error"
                        *ngIf="form?.controls?.slaRm?.errors?.onlyInteger && form?.controls?.slaRm?.touched">
                        {{ 'SLA phải lớn hơn 0' }}
                    </small>
                </div>

                <div class="col-md-4 form-group">
                    <label>{{ 'campaign.sale.scope' | translate }} <span class="text-red">(*)</span></label>
                    <div class="row mt-2 col-md-12">
                        <div class="p-field-radiobutton mr-4 col-md-auto" *ngIf="isHO">
                            <p-radioButton formControlName="scope" [value]="CampaignSize.TOAN_HANG" [disabled]="isAllocated"></p-radioButton>
                            <label class="ml-2">{{ 'Toàn hàng' | translate }}</label>
                        </div>
                        <div class="p-field-radiobutton col-md-auto">
                            <p-radioButton formControlName="scope" [value]="CampaignSize.CHI_NHANH" [disabled]="isAllocated"></p-radioButton>
                            <label class="ml-2">{{ 'Vùng' | translate }}</label>
                        </div>
                    </div>

                </div>

                <ng-container *ngIf="form.controls.scope.value === CampaignSize.CHI_NHANH">
                    <div class="col-md-2 form-group">
                        <label>{{ 'fields.area' | translate }} <span class="text-red">(*)</span></label>
                        <p-multiSelect class="d-block" defaultLabel=" " [options]="regionList"
                            formControlName="areaCodes" optionLabel="locationName" optionValue="locationCode"
                            appendTo="body" autoZIndex="false" baseZIndex="10000"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            maxSelectedLabels="{{ regionList?.length - 1 }}" [selectedItemsLabel]="fields.all"
                            (onChange)="changeArea()"
                            [showClear]="false"
                            >
                        </p-multiSelect>
                    </div>

                    <div class="col-md-2 form-group" [formGroup]="form">
                        <label>{{'fields.chi_nhanh' | translate}} <span class="text-red">(*)</span></label>
                        <p-multiSelect class="d-block" defaultLabel=" " [options]="listBranch"
                            formControlName="branchCodes" optionLabel="displayName" optionValue="code" appendTo="body"
                            autoZIndex="false" baseZIndex="10000"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            maxSelectedLabels="{{ listBranch.length - 1 }}" [selectedItemsLabel]="fields.all"
                            [showClear]="false"
                            [resetFilterOnHide]="true"
                            >
                        </p-multiSelect>
                    </div>
                </ng-container>

                <div class="col-md-8 row form-group m-r-15 p-r-0" style="height: 200px;">
                    <div class="col-md-12 form-group p-r-0">
                        <label>{{ 'Nội dung' | translate }} </label>
                        <p-editor class="PEditor__Main" formControlName="content" [placeholder]="'Type here...'">
                        </p-editor>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label>{{ 'Văn bản liên quan chiến dịch' | translate }} </label>
                    <div class="download-wrapper mt-0">
                        <div class=" download-file">
                            <div class="box-file pointer"
                                (click)="openDownloadFilePopup(inputFile)">
                                <div>
                                    <em class="link-icon i-16 mini-icon mr-2"></em> <span>Tải file</span> <br>
                                    <span>Tối đa 5 file (2MB/file)</span>
                                </div>

                            </div>
                            <div class="box-file pointer"
                                (click)="openDownloadImgPopup(inputImg)">
                                <div>
                                    <em class="img-icon-campaign i-16 mini-icon mr-2"></em> <span>Tải ảnh</span> <br>
                                    <span>Tối đa 2 ảnh (2MB/ảnh)</span>
                                </div>

                            </div>
                            <input #inputFile type="file" style="display: none;" (change)="changeFile($event)"
                                accept=".xlsx, .csv, .docx, .pptx, .pdf" />
                            <input #inputImg type="file"
                                style="display: none;" (change)="changeFile($event)" accept="image/*" />


                        </div>
                        <div class="m-15">
                            <div class="pointer link" *ngFor="let id of fileIdList">
                                <div class="center-inline" style="width: calc(100% - 15px);">
                                    <span class="mr-2 hyperlink" (click)="download(id)">{{fileInfo[id].name}}
                                    </span>
                                    <span *ngIf="fileInfo[id].size">({{fileInfo[id].size}})</span>
                                </div>

                                <i class="pi pi-times" style="color: red" (click)="removeFile(id)"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="p-4 text-left btn-action">
            <!-- <button class="btn btn-light mr-3" (click)="retype()">{{ 'btnAction.retype' | translate
                }}</button>
            <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.save' | translate
                }}</button> -->
        </div>
    </div>
</div>
