@import "variable";

$base-color: #e9ecef;

::ng-deep .PEditor {
    height: 100%;
    overflow: auto;

    &__Wrapper {
        border: 1px solid $gray-300 !important;
        display: flex;
        flex-direction: column;
        position: relative !important;
        .editor-disabled {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        // .ql-editor {
        //     overflow: auto !important;
        //     height: 261px !important;
        // }
    }
    &__MenuBar {
        border-bottom: 1px solid $gray-300 !important;
    }
    &__Main {
        flex: 1 1 auto;
        overflow: hidden;
        .p-editor-toolbar {
            .ql-formats {
                .ql-font {
                    display: none !important;
                }
                .ql-clean {
                    display: none !important;
                }
            }
        }
        .p-editor-content {
            height: 180px;
        }
    }
    &__Content {
        height: 100%;
        word-break: break-word;
    }
    .ql-formats {
        overflow: unset !important;
    }

    ::ng-deep .ql-snow .ql-picker .ql-font {
        display: none !important;
    }
}

::ng-deep .ql-snow .ql-picker .ql-font {
    display: none !important;
}

.p-r-0 {
    padding-right: 0px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-15 {
    margin: 15px;
}

.p-15 {
    padding: 15px;
}

.download-wrapper {
    border: 1px solid #bebebe;
    border-radius: 3px;
    margin-top: 15px;
    padding: 15px 0px;
    height: 222px;
}

.download-file {
    display: flex;
    flex-direction: row;
    .box-file {
        height: 50px;
        text-align: center;
        margin: 0px 15px;
        width: calc(50% - 30px);
        background-color: #cfd2fc;
        display: flex;
        flex-direction: row;
        div {
            align-self: center;
            width: 100%;
        }
    }
}

.b-row {
    display: flex;
    flex-direction: row;
}

::ng-deep .p-editor-container {
    height: 142px;
}

.d-inline {
    display: inline !important;
}

.mini-icon {
    display: inline-block !important;
    width: 12px !important;
    height: 12px !important;
}

.declare-campaign {
    height: inherit;
    overflow: auto;
    .custom-table {
        border-bottom: 1px solid rgb(233, 236, 239);
        .header {
            height: 48px;
        }
        .t-row {
            height: 80px;
            .same-parent {
                border-bottom: none;
            }
            .last-col-split {
                border-right: 1px solid $base-color;
            }
            .first-col-split {
                text-align: center;
                border-left: 1px solid $base-color;
            }
        }
        .group-split {
            border-top: 3px solid $base-color;
        }
        .p-datatable-tbody {
            tr {
                height: 70px;
            }
        }
        td {
            white-space: pre-line;
            word-break: break-all;
            height: 60px !important;
        }
    }
}

:host ::ng-deep .p-inputnumber {
    width: 100%;
}

.link {
    @extend .center-inline;
    justify-content: space-between;
    overflow: auto;
    .hyperlink {
        color: #bbbbfd;
        text-decoration: none;
        background-color: transparent;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            color: #1649ef;
            text-decoration: underline;
        }
    }
}

.center-inline {
    display: flex;
    align-items: center;
    width: 100%;
}

:host ::ng-deep .ql-link{
    display: none !important;
}

:host ::ng-deep .ql-image {
    display: none !important;
}

:host ::ng-deep .ql-code-block {
    display: none !important;
}

.entrust-value-err-message{
    position: absolute;
    top: -5px;
    left: 0%;
    background: #fff;
}

:host .column-action {
    justify-content: left !important;
    padding: 0 0.75rem;
}

::ng-deep .custom-tbl .datatable-body{
    height: 310px!important;
}

::ng-deep .custom-tbl .datatable-row-wrapper{
    height: 43px!important;
}
