<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ "rm.menu.level_category" | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4" [formGroup]="formSearch">
            <div class="row py-2">
              <div class="col-md-4">
                <label class="mb-0" for="group_code">{{ 'rm.fields.rm_level_code' | translate }}</label>
                <input placeholder="" type="text" class="form-control" id="group_code" maxlength="20"
                  formControlName="code" />
              </div>
              <div class="col-md-4">
                <label class="mb-0" for="title_group_name">{{ 'rm.fields.rm_level_name' | translate }}</label>
                <input placeholder="" type="text" class="form-control" id="title_group_name" maxlength="250"
                  formControlName="name" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'rm.fields.status' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="status"
                  class="d-block" formControlName="isActive"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="name">
                </p-dropdown>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label class="mb-0">{{ 'rm.fields.grade' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                  class="d-block" formControlName="blockCode"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'rm.fields.rm_title_group_name' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="titleGroupValues" class="d-block" formControlName="titleGroupId"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="id" optionLabel="value_to_search"></p-dropdown>
              </div>
            </div>
            <div class="py-2 block-center-between">
              <button class="btn btn-small btn--light-blue mr-2" (click)="reload(true)">
                <em class="las la-search f-16"></em>
                {{ 'btnAction.search'| translate }}
              </button>
              <button class="btn btn--light-blue btn-icon--small" (click)="exportFile()" *ngIf="objFunction?.export">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
              [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="blockCode"
                name="{{ 'rm.fields.grade' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="titleGroupName"
                name="{{ 'rm.fields.rm_title_group_name' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                name="{{ 'rm.fields.rm_level_code' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                name="{{ 'rm.fields.rm_level_name' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="description"
                name="{{ 'rm.fields.description' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="objFunction?.delete" type="button" class="btn-outline"
                      (click)="delete(row);$event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button *ngIf="objFunction?.update" type="button" class="btn-outline ml-2"
                      (click)="update(row);$event.stopPropagation()">
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
