.boxes {
  overflow: auto;
  max-height: 75vh !important;
  min-height: 75vh !important;
}
.activity__icon {
  width: 35px;
  height: 35px;
  background-color: #f44336;
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.activity-meeting {
  background-color: #03a9f4;
  .las {
    margin: auto;
  }
}
.activity-sms {
  background-color: #17a2b8;
  .las {
    margin: auto;
  }
}
.activity-email {
  background-color: #607d8b;
  .las {
    margin: auto;
    margin-top: 6px;
  }
}
.call-missing {
  background-color: #ee4d4d;
  .las {
    margin: auto;
  }
}
.call-waiting {
  background-color: #ffc107;
  .las {
    margin: auto;
  }
}
.call-fail {
  background-color: #6c757d;
  .las {
    margin: auto;
  }
}
.call-success {
  background-color: #28a745;
  .las {
    margin: auto;
  }
}
