<div class="chart">
    <div class="chart__header block-center-between">
        <div class="chart__header-left">
            <div class="f-16 text-black chart__header-title">{{ 'fields.product_quantity_used' | translate }}</div>
        </div>
        <div class="chart__header-right">
            <img alt="" src="assets/images/chart.svg" class="img-icon" (click)="switchChart()" />
        </div>
    </div>
    <ng-container *ngIf="!isLoading && data">
        <div class="chart__body">
            <div echarts [options]="option" style="height: 100%;"></div>
        </div>
        <div class="chart__legend">
            <ul>
                <li *ngFor="let item of data" class="block-center-between">
                    <div class="chart__legend-left">
                        <span class="legend-bage" [ngStyle]="{backgroundColor: item.color}"></span>{{item.label}}
                    </div>
                    <div class="chart__legend-right">
                        <span>{{item.value | number}} kh</span>
                    </div>
                </li>
            </ul>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && !data">
        <div class="chart__empty">
            <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
    </ng-container>
<!--    <app-loading *ngIf="isLoading"></app-loading>-->
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
