<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Tạo chiến dịch</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="p-0 modal-body">
  <app-loading *ngIf="isLoading"></app-loading>
  <app-campaign-create
    [isViewFromPopup]="true"
    [listBranchChoose]="listBranchChoose"
    (onClosePopup)="closeModal($event)"
  >
  </app-campaign-create>
</div>
