<div class="modal-header pb-4">
  <div class="block-center-between">
    <h5 class="m-0">Chỉnh sửa</h5>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="px-4 pt-4">
    <div class="row">
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label class="m-0">Khối <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="commonData.listDivision"
          formControlName="division"
          class="d-block"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label class="m-0">Nhóm chức danh RM <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="commonData.listTitleGroup"
          formControlName="rmTitleId"
          class="d-block"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
      </div>
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label class="m-0">Cấp độ RM <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="commonData.listLevelRM"
          formControlName="rmLevelId"
          class="d-block"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
      </div>
      <div class="col-md-2 form-group" [formGroup]="formSearch">
        <label class="m-0">Ngày bắt đầu <span class="text-red">(*)</span></label>
        <p-calendar
          class="d-block"
          dateFormat="dd/mm/yy"
          formControlName="startDate"
          [minDate]="minDate"
          [maxDate]="this.formSearch.controls.endDate.value"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          [showIcon]="true"
          icon="las la-calendar-alt"
        >
        </p-calendar>
      </div>
      <div class="col-md-2 form-group" [formGroup]="formSearch">
        <label class="m-0">Ngày kết thúc <span class="text-red">(*)</span></label>
        <p-calendar
          class="d-block"
          dateFormat="dd/mm/yy"
          formControlName="endDate"
          [minDate]="this.formSearch.controls.startDate.value ? this.formSearch.controls.startDate.value : minDate"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          [showIcon]="true"
          icon="las la-calendar-alt"
        >
        </p-calendar>
      </div>
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label class="m-0">Sản phẩm <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="commonData.listProduct"
          formControlName="product"
          class="d-block"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="name"
        ></p-dropdown>
      </div>
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label class="m-0">Tổng giá trị phân bổ (VNĐ/cái) <span class="text-red">(*)</span></label>
        <p-inputNumber
          [inputStyle]="{'text-align': 'right'}"
          (onInput)="onChangeValue($event)"
          class="d-block"
          [min]="0"
          locale="en"
          formControlName="value"
          maxlength='19'
        ></p-inputNumber>
      </div>
      <div class="col-md-4 form-group" [formGroup]="formSearch">
        <label>{{ 'fields.agency' | translate }} <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="commonData.listBranch"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="branchCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div style="margin-top: 25px" class="col-md-4 form-group">
        <p-checkbox
          [(ngModel)]="autoAllocation"
          class="mr-3"
          binary="true">
        </p-checkbox>
        <span>Phân chia tự động</span>
      </div>
      <div class="col-md-4 form-group">
        <label class="m-0">Phân bổ theo <span class="text-red">(*)</span></label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [disabled]="true"
          [options]="commonData.listAllotmentValue"
          [(ngModel)]="allotmentValue"
          class="d-block"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button
      class="btn btn-tab--blue btn-small"
      (click)="closeModal()"
    >
      Hủy
    </button>
    <button
      [disabled]="checkRequired()"
      (click)="save()"
      class="btn btn--light-blue ml-3"
    >
      Cập nhật
    </button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
