@import '../../../../../assets/styles/variable';

.customer-activities-list {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  width: 100%;
  background: $white;
  .table__view {
    flex: 1 1 auto;
  }

  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-row-right .datatable-body-cell {
    min-width: 106px !important;
  }
}

.text-success {
  color: #2db669 !important;
}
.search-bottom {
  margin-bottom: 1rem;
    border-bottom: 1px solid #f0f0f3;
    padding-bottom: 1rem;
}
