<div class="customer-activities-list">
  <app-loading *ngIf="isLoading"></app-loading>

  <div class="table__view">
    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="models" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
      [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements" (activate)="onActive($event)"
      [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">

      <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
        [canAutoResize]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="activityType" [sortable]="false" [draggable]="false" [width]="140"
        name="{{ 'fields.activityType' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getActivityTypeName(row, 'activityType') }}">{{ getActivityTypeName(row, 'activityType')
            }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="createdDate" [sortable]="false" [draggable]="false" *ngIf="!isHistory"
        name="{{ 'fields.createdDate' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="dateStart" [sortable]="false" [draggable]="false"
        name="{{ 'fields.executionTime' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{ value | date: 'dd/MM/yyyy HH:mm' }}">{{ value | date: 'dd/MM/yyyy HH:mm' }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="activityResult" [sortable]="false" [draggable]="false"
        name="{{ 'fields.result' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getActivityResultName(row, 'activityResult') }}">{{ getActivityResultName(row,
            'activityResult') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="productName" [sortable]="false" [draggable]="false"
                            name="Sản phẩm">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{value}}">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="futureActivityType" [sortable]="false" [draggable]="false"
        name="{{ 'fields.nextTask' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getFeatureActivity(row, 'futureActivityType') }}">{{ getFeatureActivity(row,
            'futureActivityType') }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="performer" [sortable]="false" [draggable]="false" *ngIf="!isHistory"
        name="{{ 'fields.performer' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{value}}">{{ value
            }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="branch" [sortable]="false" [draggable]="false" *ngIf="!isHistory"
        name="{{ 'fields.branch' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ row?.rmBranchCode + ' - ' + row?.rmBranchName }}">{{ row?.rmBranchCode + ' - ' +
            row?.rmBranchName }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="note" [sortable]="false" [draggable]="false" name="{{ 'fields.note' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="140" [frozenRight]="true"
        *ngIf="!isHistory" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <div class="block-center column-action">
            <button type="button" class="btn-outline" (click)="edit(row);$event.stopPropagation()" title="Cập nhật"
              *ngIf="isUpdate(row)">
              <em class="las la-edit"></em>
            </button>
            <button type="button" class="btn-outline" (click)="delete(row);$event.stopPropagation()" title="Xóa"
              *ngIf="isDelete(row)">
              <em class="las la-trash-alt"></em>
            </button>
            <button type="button" class="btn-outline ml-2" (click)="recordActivity(row);$event.stopPropagation()"
              title="Ghi nhận" *ngIf="showPermission(row) && !checkValue(row,'activityResult')">
              <em class="fa fa-check text-success f-16"></em>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
            [hidden]="false" (change)="table.onFooterPage($event)">
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>
