<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ title }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form p-4">
          <div class="row form-create">
            <div [formGroup]="form" class="col-md-4 form-group has-error">
              <label>{{ 'fields.block' | translate }} <span class="text-red">(*)</span></label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listBlock"
                class="d-block"
                formControlName="divisionCode"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                appendTo="body"
                optionValue="code"
                optionLabel="displayName"
                (onChange)="selectBlock($event)"
                name="divisionCode"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
              <div
                *ngIf="
                  form.get('divisionCode').errors &&
                  form.get('divisionCode').errors.cusRequired &&
                  form.get('divisionCode').touched
                "
                class="invalid-tooltip"
              >
                <div>
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-4 form-group has-error d-flex btn-custom">
              <button
                class="btn btn-light btn-small text-primary"
                [class.disabled]="form.get('divisionCode').value === ''"
                (click)="selectMembers()"
                *ngIf="!isView"
              >
                <em class="las la-user-plus f-16"></em> {{ 'fields.addRmInGroup' | translate }}
              </button>
              <button
                class="btn btn-light btn-small text-primary"
                [class.disabled]="form.get('divisionCode').value === ''"
                (click)="selectMembers(true)"
                *ngIf="!isView"
                [disabled]="isHasARm()"
              >
                <em class="las la-user-plus f-16"></em> {{ 'fields.addaRmInGroup' | translate }}
              </button>
            </div>
            <div class="col-md-4"></div>
            <div [formGroup]="form" class="col-md-4 form-group has-error">
              <label>{{ 'fields.groupCode' | translate }} <span class="text-red">(*)</span></label>
              <input class="d-block" type="text" formControlName="code" maxlength="50" name="code" pInputText />
              <div
                *ngIf="form.get('code').errors && form.get('code').errors.cusRequired && form.get('code').touched"
                class="invalid-tooltip"
              >
                <div>
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>
            <div [formGroup]="form" class="col-md-4 form-group has-error">
              <label>{{ 'fields.groupName' | translate }} <span class="text-red">(*)</span></label>
              <input class="d-block" type="text" formControlName="name" maxlength="250" name="name" pInputText />
              <div
                *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && form.get('name').touched"
                class="invalid-tooltip"
              >
                <div>
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="isView">
              <label>{{ 'fields.aRMGroups' | translate }}</label>
              <div class="row">
                <div class="p-field-radiobutton col-md-6">
                  <p-radioButton [(ngModel)]="past" [value]="true" name="past" (click)="onChangePast(true)">
                  </p-radioButton>
                  <label class="ml-3">Hiện tại</label>
                </div>
                <div class="p-field-radiobutton col-md-6">
                  <p-radioButton [(ngModel)]="past" [value]="false" name="past" (click)="onChangePast(false)">
                  </p-radioButton>
                  <label class="ml-3">Lịch sử</label>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="textSearch"
                  (keyup.enter)="search(true)"
                  maxlength="200"
                  name="text-search"
                />
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="search(true)"
              >
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="isView" class="btn btn-icon btn-icon--small btn-search ml-3" (click)="exportFile()">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listRm"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmCode"
                name="{{ 'fields.objectCode' | translate }}"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="rmFullName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.objectName' | translate }}"
              >
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="150"
                [canAutoResize]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="center-column">
                    <span>{{ 'fields.armSupport' | translate }}</span>
                  </div>
                </ng-template>
                <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <div class="center-column">
                    <!-- <label class="radio">
                      <input type="radio" name="leader" [checked]="row.isARm" [disabled]="true" />
                      <span class="ck"></span>
                    </label> -->
                    <p-checkbox
                      [(ngModel)]="row.isARm"
                      [disabled]="true"
                      binary="true"
                      name="leader"
                      inputId="{{ row.hrsCode + '_' + rowIndex }}"
                    >
                    </p-checkbox>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="assignedBy"
                [sortable]="false"
                [draggable]="false"
                [width]="200"
                name="{{ 'fields.assignee' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="assignedDate"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.dateAssignee' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                prop="unAssignedBy"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.assigneeEnd' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="unAssignedDate" [sortable]="false" [draggable]="false" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.dateEndAssignee' | translate }}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                *ngIf="!isView"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" class="btn-outline" (click)="deleteMember(row); $event.stopPropagation()">
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <div *ngIf="!isView" class="text-left btn-action mt-3">
            <button class="btn btn-small btn--light-blue" *ngIf="isCreate" (click)="confirmDialog()">
              {{ 'btnAction.create' | translate }}
            </button>
            <button class="btn btn-small btn--light-blue" *ngIf="isUpdate" (click)="confirmDialog()">
              {{ 'btnAction.update' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
