<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0"> {{ title }}</h5>
    </div>
  </div>
  <button *ngIf="reportType == 0" class="btn--light-blue btn-icon--small btn mr-3 download-pdf-button " title="PDF"
    (click)="saveFile()">
    <em class="las la-file-pdf f-16 pdf-button"></em>
  </button>
  <button *ngIf="reportType == 0" class="btn btn--light-blue btn-icon--small mr-3 download-xlsx-button" title="EXCEL"
    (click)="saveFile('xlsx')">
    <em class="las la-file-excel f-16 pdf-button"></em></button>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div class="branch__view">
    <div class="h-100">
      <ngx-extended-pdf-viewer *ngIf="reportType == 0" [src]="url" [zoom]="'page-fit'" useBrowserLocale="true"
        height="78vh" style="width: 100%;" theme="dark">
      </ngx-extended-pdf-viewer>
      <iframe *ngIf="reportType == 1" width="100%" height="100%" frameBorder="0" [src]="safeEmbeddedReport"></iframe>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="close()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
