<div class="right-view approved-plan-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'fields.titleDetailApprove' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn--red btn-small" (click)="approveBranchOrHeadquarter(false)">Điều chỉnh</button>
      <button class="btn btn--light-blue btn-small" (click)="approveBranchOrHeadquarter(true)">Phê duyệt</button>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5 class="content__top-left">{{ 'title.infoRm' | translate }}</h5>
              <div class="content__top-right">
                <em class="las la-angle-right f-16" *ngIf="!isInfoRM" (click)="openInfoRM()"></em>
                <em class="las la-angle-down f-16" *ngIf="isInfoRM" (click)="openInfoRM()"></em>
              </div>
            </div>

            <ng-container *ngIf="isInfoRM">
              <div class="row mb-10" [formGroup]="formCreated">
                <div class="col-md-4">
                  <label class="mb-0">RM</label>
                  <input formControlName="rmCode" type="text" pInputText placeholder="" class="d-block" />
                </div>
                <div class="col-md-4">
                  <label class="mb-0">Đơn vị</label>
                  <input formControlName="branchName" type="text" pInputText placeholder="" class="d-block" />
                </div>
              </div>
              <div class="row mb-10" [formGroup]="formCreated">
                <div class="col-md-4">
                  <label class="mb-0">{{ 'fields.year' | translate }}</label>
                  <input formControlName="year" type="text" pInputText placeholder="" class="d-block" />
                </div>
                <div class="col-md-4">
                  <label class="mb-0">{{ 'fields.status' | translate }}</label>
                  <input formControlName="status" type="text" pInputText placeholder="" class="d-block" />
                </div>
              </div>
            </ng-container>
          </div>

          <div class="card text-left mb-4">
            <div class="p-4 title-info block-center-between">
              <h5>Tổng kế hoạch phân giao</h5>
            </div>

            <div style="margin-bottom: 25px">
              <p-table class="ngxDataTable plan-table" [value]="[{}]" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header">
                  <tr>
                    <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                      <th
                        *ngIf="!item.numberCode && item?.column < firstHeader"
                        rowspan="2"
                        width="150px"
                        class="pre-line"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>

                    <ng-container *ngFor="let item of parentHeader; let rowIndex = index">
                      <th
                        *ngIf="item?.countCode > 0"
                        [attr.colspan]="item?.countCode"
                        [width]="fixWidth(item.countCode)"
                        class="pre-line text-center"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>

                    <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                      <th
                        width="150px"
                        rowspan="2"
                        *ngIf="!item.numberCode && item?.column > lastHeader"
                        class="children"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>
                  </tr>

                  <tr>
                    <ng-container *ngFor="let item of childHeader; let rowIndex = index">
                      <th *ngIf="item.numberCode" width="150px" class="children">{{ item?.value }}</th>
                    </ng-container>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sale>
                  <ng-container *ngFor="let itemRow of dataRows; let rowIndex = index">
                    <tr>
                      <ng-container *ngFor="let col of itemRow; let indexCol = index">
                        <td width="150px" style="white-space: pre-line">{{ col?.value }}</td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="card text-left mb-4">
            <div class="p-4 title-info block-center-between">
              <h5>Chi tiết khách hàng 360</h5>
            </div>

            <div style="margin-bottom: 25px; height: 350px">
              <p-table
                class="ngxDataTable custom-table"
                [value]="[{}]"
                [scrollable]="true"
                scrollHeight="flex"
                selectionMode="single"
              >
                <ng-template pTemplate="header">
                  <!-- dòng -->
                  <tr>
                    <ng-container *ngFor="let item of parentHeader1; let rowIndex = index">
                      <th
                        *ngIf="item?.countCode > 0"
                        [attr.colspan]="item?.countCode"
                        [width]="fixWidth(item.countCode)"
                        class="pre-line text-center"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of granChildHeader1; let rowIndex = index">
                      <th *ngIf="item?.column < soDau1" width="150px" class="pre-line"></th>
                    </ng-container>

                    <ng-container *ngFor="let item of childHeader1; let rowIndex = index">
                      <th
                        *ngIf="item?.column"
                        [attr.colspan]="item?.countCode"
                        [width]="fixWidth(item.countCode)"
                        class="pre-line text-center"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>

                    <ng-container *ngFor="let item of granChildHeader1; let rowIndex = index">
                      <th
                        *ngIf="item?.column <= soCotCuoi1 && item?.column > soCuoi1"
                        width="150px"
                        class="pre-line"
                      ></th>
                    </ng-container>
                  </tr>

                  <tr>
                    <ng-container *ngFor="let item of granChildHeader1; let rowIndex = index">
                      <th *ngIf="item?.column === 0" width="150px" class="children">
                        <label class="checkbox">
                          <input
                            type="checkbox"
                            [checked]="checkAllCustomer360"
                            (click)="onCheckboxAllFnCustomer360($event.target.checked); $event.stopPropagation()"
                          />

                          <span class="ck"></span>
                          <span class="ml-3">{{ item?.value }}</span>
                        </label>
                      </th>
                      <th *ngIf="item?.column > 0" width="150px" class="children">{{ item?.value }}</th>
                    </ng-container>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sale>
                  <ng-container *ngFor="let itemRow of dataRows1; let rowIndex = index">
                    <tr (dblclick)="handleSelect(itemRow, false)">
                      <ng-container *ngFor="let col of itemRow.cells; let indexCol = index">
                        <td *ngIf="col?.column === 0" width="150px">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              [checked]="isCheckedCustomer360(itemRow.cells)"
                              (click)="
                                onCheckboxFnCustomer360(itemRow.cells, $event.target.checked); $event.stopPropagation()
                              "
                            />

                            <span class="ck"></span>
                            <span class="ml-3">{{ col?.value }}</span>
                          </label>
                        </td>
                        <td *ngIf="col?.column > 0" width="150px" style="white-space: pre-line">{{ col?.value }}</td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-template>
              </p-table>
            </div>
          </div>

          <div class="card text-left mb-4">
            <div class="p-4 title-info block-center-between">
              <h5>Chi tiết khách hàng tiềm năng</h5>
            </div>

            <div style="margin-bottom: 25px; height: 350px">
              <p-table
                class="ngxDataTable Ppotential-table"
                [value]="[{}]"
                [scrollable]="true"
                scrollHeight="flex"
                selectionMode="single"
              >
                <ng-template pTemplate="header">
                  <!-- dòng -->
                  <tr>
                    <ng-container *ngFor="let item of parentHeader2; let rowIndex = index">
                      <th
                        *ngIf="item?.countCode > 0"
                        [attr.colspan]="item?.countCode"
                        [width]="fixWidth(item.countCode)"
                        class="pre-line text-center"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of granChildHeader2; let rowIndex = index">
                      <th *ngIf="item?.column < soDau2" width="150px" class="pre-line"></th>
                    </ng-container>

                    <ng-container *ngFor="let item of childHeader2; let rowIndex = index">
                      <th
                        *ngIf="item?.column"
                        [attr.colspan]="item?.countCode"
                        [width]="fixWidth(item.countCode)"
                        class="pre-line text-center"
                      >
                        {{ item?.value }}
                      </th>
                    </ng-container>

                    <ng-container *ngFor="let item of granChildHeader2; let rowIndex = index">
                      <th
                        *ngIf="item?.column <= soCotCuoi2 && item?.column > soCuoi2"
                        width="150px"
                        class="pre-line"
                      ></th>
                    </ng-container>
                  </tr>
                  <!-- Dòng 3 -->
                  <tr>
                    <ng-container *ngFor="let item of granChildHeader2; let rowIndex = index">
                      <th *ngIf="item?.column === 0" width="150px" class="children">
                        <label class="checkbox">
                          <input
                            type="checkbox"
                            [checked]="checkAllPotential"
                            (click)="onCheckboxAllFnPotential($event.target.checked); $event.stopPropagation()"
                          />

                          <span class="ck"></span>
                          <span class="ml-3">{{ item?.value }}</span>
                        </label>
                      </th>
                      <th *ngIf="item?.column > 0" width="150px" class="children">{{ item?.value }}</th>
                    </ng-container>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sale>
                  <ng-container *ngFor="let itemRow of dataRows2; let rowIndex = index">
                    <tr (dblclick)="handleSelect(itemRow, true)">
                      <ng-container *ngFor="let col of itemRow.cells; let indexCol = index">
                        <td *ngIf="col?.column === 0" width="150px">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              [checked]="isCheckedPotential(itemRow.cells)"
                              (click)="
                                onCheckboxFnPotential(itemRow.cells, $event.target.checked); $event.stopPropagation()
                              "
                            />

                            <span class="ck"></span>
                            <span class="ml-3">{{ col?.value }}</span>
                          </label>
                        </td>
                        <td *ngIf="col?.column > 0" width="150px" style="white-space: pre-line">{{ col?.value }}</td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
