@import 'variable';

.approved-plan-detail {
  .list__block {
    overflow-y: auto;
    // border-radius: 12px;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }
  //Table

  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }

  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
  }

  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-200-data {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }

  .table-customer-360 datatable-body.datatable-body {
    height: 250px !important;
  }

  .table-customer-potential datatable-body.datatable-body {
    height: 250px !important;
  }

  .pre-line {
    white-space: pre-line;
  }
}
