<ng-container *ngIf="isLoaded; else loading">
  <app-calendar-alert class="notify-message"></app-calendar-alert>
  <notify-message class="notify-message"></notify-message>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<app-loading *ngIf="isLoading"></app-loading>

<ng-container *ngIf="isFireWorks">
  <div class="fire-work" (click)="hiddenFireWorks()">
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
  </div>
</ng-container>
