<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.resourcesCategory' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                  [(ngModel)]="textFilter" (keyup.enter)="search()" />
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}" (click)="search()">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction && objFunction.create"
                class="btn btn-icon btn-icon--small btn-search grey mr-2" (click)="create()"
                title="{{ 'btnAction.create' | translate }}">
                <em class="las la-plus-circle f-16"></em>
              </button>
              <button *ngIf="objFunction && objFunction.export" class="btn btn-icon btn-icon--small btn-search"
                (click)="exportFile()" title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view resource__list">
            <ngx-datatable ngxDataTable class="bootstrap fullscreen" [columnMode]="ColumnMode.force" [headerHeight]="50"
              [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="listData"
              [treeFromRelation]="'parentId'" [treeToRelation]="'id'" (treeAction)="onTreeAction($event)"
              (activate)="onActive($event)">
              <ngx-datatable-column prop="code" name="{{ 'fields.resourceCode' | translate }}" [sortable]="false"
                [draggable]="false" [isTreeColumn]="true" [width]="300" [treeLevelIndent]="30" [messages]="messages">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="name" [sortable]="false" name="{{ 'fields.resourceName' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="type" [sortable]="false" name="{{ 'fields.app' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ generateAppName(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="objFunction && objFunction.delete" type="button" class="btn-outline"
                      (click)="delete(row);$event.stopPropagation()" title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button *ngIf="objFunction && objFunction.update" type="button" class="btn-outline ml-2"
                      (click)="update(row);$event.stopPropagation()" title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>