<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ title }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
                <mat-tab [disabled]="isSelected(0)" label="{{ 'system.fields.process_info' | translate }}"></mat-tab>
                <mat-tab [disabled]="isSelected(1)" label="{{ 'system.fields.process_basic' | translate }}"></mat-tab>
                <mat-tab [disabled]="isSelected(2)" label="{{ 'system.fields.notify_type' | translate }}"></mat-tab>
                <mat-tab [disabled]="isSelected(3)" label="{{ 'system.fields.schedule_configuration' | translate }}">
                </mat-tab>
                <mat-tab [disabled]="isSelected(4)" label="{{ 'system.fields.process_history' | translate }}"></mat-tab>
              </mat-tab-group>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 0">
              <div class="row mt-3">
                <div class="col-md-6 form-group has-error">
                  <label>{{ 'system.fields.process_code' | translate }} <span class="text-red">(*)</span></label>
                  <input
                    class="form-control"
                    type="text"
                    maxlength="20"
                    uppercase
                    placeholder="{{ 'placeholder' | translate }}"
                    #code="ngModel"
                    [(ngModel)]="model.code"
                    required
                    [disabled]="!isCreate"
                  />
                  <div *ngIf="code.invalid && (code.dirty || code.touched)" class="invalid-tooltip">
                    <div *ngIf="code.errors?.required">
                      {{ 'validationMessage.required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-6 form-group has-error">
                  <label>{{ 'system.fields.process_name' | translate }} <span class="text-red">(*)</span></label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="model.name"
                    #name="ngModel"
                    required
                    [disabled]="isView"
                    placeholder="{{ 'placeholder' | translate }}"
                  />
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-tooltip">
                    <div *ngIf="name.errors?.required">
                      {{ 'validationMessage.required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-6 form-group">
                  <label>Mô tả</label>
                  <textarea
                    class="form-control"
                    type="text"
                    [(ngModel)]="model.description"
                    [disabled]="isView"
                  ></textarea>
                </div>
              </div>
              <div class="row mt-2 px-4">
                <button class="btn btn-small btn--light-blue" (click)="next()">{{ 'btnAction.next' | translate }}</button>
              </div>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 1">
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="mb-0"
                    >{{ 'system.fields.choose_process' | translate }} <span class="text-red">(*)</span></label
                  >
                  <div class="row px-4">
                    <input
                      class="form-control col-md-10"
                      type="text"
                      [(ngModel)]="process_name"
                      [disabled]="true"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="{{ 'placeholder' | translate }}"
                    />
                    <button
                      class="btn-icon btn-icon--small btn btn-search ml-2"
                      (click)="chooseProcess()"
                      *ngIf="!isView"
                    >
                      <em class="las la-search f-16"></em>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <h4 class="px-4">{{ 'system.fields.params' | translate }}</h4>
              </div>
              <div class="row mt-2 px-4">
                <table class="table table-striped m-0" aria-hidden="true">
                  <thead>
                    <tr>
                      <th scope="col" class="table-param-header">{{ 'fields.order' | translate }}</th>
                      <th scope="col" class="table-param-header">{{ 'system.fields.param_name' | translate }}</th>
                      <th scope="col" class="table-param-header">{{ 'fields.description' | translate }}</th>
                      <th scope="col">{{ 'system.fields.param_value' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ins; let index = index">
                      <td class="table-param-header">{{ index }}</td>
                      <td class="table-param-header">{{ getValue(item, 'name') }}</td>
                      <td class="table-param-header">{{ getValue(item, 'label') }}</td>
                      <td>
                        <p-calendar
                          [(ngModel)]="item.value"
                          name="value-{{ index }}"
                          class="d-block1"
                          [timeOnly]="true"
                          [hourFormat]="24"
                          [showIcon]="true"
                          icon="las la-calendar-alt"
                          [disabled]="isView"
                          [showTime]="true"
                          timeFormat="HH:mm:ss"
                          *ngIf="getValue(item, 'type') === 'TIME'"
                        >
                        </p-calendar>

                        <input
                          class="form-control"
                          type="text"
                          name="value-{{ index }}"
                          *ngIf="getValue(item, 'type') === 'STRING'"
                          placeholder="{{ 'placeholder' | translate }}"
                          [disabled]="isView"
                          [(ngModel)]="item.value"
                        />
                        <p-calendar
                          name="value-{{ index }}"
                          [(ngModel)]="item.value"
                          class="d-block1"
                          dateFormat="dd/mm/yy"
                          [showTime]="getValue(item, 'type') === 'DATETIME'"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [disabled]="isView"
                          icon="las la-calendar-alt"
                          *ngIf="getValue(item, 'type') === 'DATE' || getValue(item, 'type') === 'DATETIME'"
                        >
                        </p-calendar>
                        <input
                          class="form-control"
                          name="value-{{ index }}"
                          type="number"
                          [(ngModel)]="item.value"
                          [disabled]="isView"
                          min="0"
                          *ngIf="getValue(item, 'type') === 'INTEGER'"
                          placeholder="{{ 'placeholder' | translate }}"
                        />
                        <small class="p-error" *ngIf="!item.value && isValidate">{{
                          'validationMessage.required' | translate
                        }}</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row mt-3 px-4">
                <button class="btn btn-small btn--red mr-2" (click)="previours()">
                  {{ 'btnAction.prev' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue" (click)="next()">{{ 'btnAction.next' | translate }}</button>
              </div>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 2">
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="row">
                    <label class="mb-0 px-4 mr-5">{{ 'system.fields.notify_type' | translate }}</label>
                    <label class="checkbox mr-5">
                      <input
                        type="checkbox"
                        [checked]="model.isEmail"
                        [(ngModel)]="model.isEmail"
                        [disabled]="isView"
                      />
                      <span class="ck"></span>
                      <span class="px-2">Email</span>
                    </label>
                    <label class="checkbox mr-5">
                      <input type="checkbox" [checked]="model.isSms" [(ngModel)]="model.isSms" [disabled]="isView" />
                      <span class="ck"></span>
                      <span class="px-2">SMS</span>
                    </label>
                    <label class="checkbox mr-2">
                      <input
                        type="checkbox"
                        [checked]="model.isNotify"
                        [(ngModel)]="model.isNotify"
                        [disabled]="isView"
                      />
                      <span class="ck"></span>
                      <span class="px-2">Cảnh báo</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <h4 class="px-4">{{ 'system.fields.params' | translate }}</h4>
              </div>
              <div class="row mt-2 px-4">
                <table class="table table-striped m-0" aria-hidden="true">
                  <thead>
                    <tr>
                      <th scope="col" class="table-param-header">{{ 'fields.order' | translate }}</th>
                      <th scope="col" class="table-param-header">{{ 'system.fields.param_name' | translate }}</th>
                      <th scope="col" class="table-param-header">{{ 'fields.description' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of outs; let index = index">
                      <td class="table-param-header">{{ index }}</td>
                      <td class="table-param-header">{{ getValue(item, 'name') }}</td>
                      <td class="table-param-header">{{ getValue(item, 'label') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row mt-3">
                <span class="px-4">Nội dung cảnh báo</span>
              </div>
              <div class="row mt-3">
                <mat-tab-group class="px-4" (selectedTabChange)="onNotiTabChanged($event)" [selectedIndex]="index">
                  <mat-tab label="{{ 'system.fields.email' | translate }}"> </mat-tab>
                  <mat-tab label="{{ 'system.fields.sms' | translate }}"></mat-tab>
                  <mat-tab label="{{ 'system.fields.notify' | translate }}"></mat-tab>
                </mat-tab-group>
              </div>
              <div class="row mt-3 px-4">
                <div class="col-md-12" *ngIf="index === 0">
                  <div class="row px-4">
                    <label>Tiêu đề</label>
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="model.subject"
                      placeholder="Tiêu đề"
                      [disabled]="isView"
                    />
                  </div>
                </div>
                <editor-primeng
                  class="col-md-12 mt-1"
                  [(model)]="model.contentEmail"
                  (modelChange)="onContentEmailChange($event)"
                  *ngIf="index === 0"
                  [disabled]="isView"
                ></editor-primeng>
<!--                <lp-editor-->
<!--                  class="col-md-12 mt-1"-->
<!--                  [(model)]="model.contentEmail"-->
<!--                  (modelChange)="onContentEmailChange($event)"-->
<!--                  *ngIf="index === 0"-->
<!--                  [disabled]="isView"-->
<!--                ></lp-editor>-->
                <textarea
                  class="form-control"
                  type="text"
                  [(ngModel)]="model.contentSms"
                  [disabled]="isView"
                  *ngIf="index === 1"
                ></textarea>
                <textarea
                  class="form-control"
                  type="text"
                  [(ngModel)]="model.contentNotify"
                  [disabled]="isView"
                  *ngIf="index === 2"
                ></textarea>
              </div>

              <div class="row mt-3 px-4">
                <button class="btn btn-small btn--red mr-2" (click)="previours()">
                  {{ 'btnAction.prev' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue" (click)="next()">{{ 'btnAction.next' | translate }}</button>
              </div>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 3">
              <div class="row mt-3">
                <div class="col-md-6 form-group has-error">
                  <div class="row px-4">
                    <label>{{ 'fields.startTime' | translate }} <span class="text-red">(*)</span></label>
                  </div>
                  <div class="row px-4">
                    <p-calendar
                      [(ngModel)]="model.schedule.startTime"
                      name="start"
                      class="d-block1"
                      [disabled]="isView"
                      dateFormat="dd/mm/yy"
                      appendTo="body"
                      required
                      #start="ngModel"
                      autoZIndex="false"
                      baseZIndex="10000"
                      [showIcon]="true"
                      icon="las la-calendar-alt"
                      [showTime]="true"
                    >
                    </p-calendar>
                    <div *ngIf="start.invalid && (start.dirty || start.touched)" class="invalid-tooltip">
                      <div *ngIf="start.errors?.required">
                        {{ 'validationMessage.required' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6 form-group has-error">
                  <div class="row px-4">
                    <label>{{ 'fields.endTime' | translate }}</label>
                  </div>
                  <div class="row px-4">
                    <p-calendar
                      [(ngModel)]="model.schedule.endTime"
                      name="end"
                      class="d-block1"
                      dateFormat="dd/mm/yy"
                      [disabled]="isView"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      [showIcon]="true"
                      icon="las la-calendar-alt"
                      [showTime]="true"
                    >
                    </p-calendar>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <h4 class="px-4">{{ 'system.fields.repeat_setting' | translate }}</h4>
              </div>
              <div class="form-group row mt-2 px-4">
                <div class="p-field-radiobutton col-md-2" *ngFor="let item of repeat_status">
                  <p-radioButton
                    [value]="item.code"
                    [(ngModel)]="model.schedule.typeScheduler"
                    [disabled]="isView"
                    (ngModelChange)="change($event)"
                  >
                  </p-radioButton>
                  <label class="ml-3">{{ item.name }}</label>
                </div>
              </div>

              <div class="form-group row mt-3" *ngIf="rpt_value === 'REPEAT'">
                <div class="col-md-8 form-group">
                  <label>{{ 'system.fields.repeat_after' | translate }}</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        type="number"
                        name="recurRepeat"
                        [(ngModel)]="model.schedule.recurRepeat"
                        min="0"
                        [disabled]="isView"
                        placeholder="{{ 'placeholder' | translate }}"
                      />
                    </div>
                    <div class="col-md-6">
                      <ngx-select
                        [allowClear]="true"
                        optionValueField="code"
                        optionTextField="name"
                        name="unitTimeRepeat"
                        noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                        [items]="time_configs"
                        [(ngModel)]="model.schedule.unitTimeRepeat"
                        [disabled]="isView"
                        placeholder="{{ 'choose' | translate }}"
                      >
                      </ngx-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 form-group">
                  <label>{{ 'system.fields.repeat_number' | translate }}</label>
                  <input
                    class="form-control"
                    type="number"
                    name="countRepeat"
                    [(ngModel)]="model.schedule.countRepeat"
                    [disabled]="isView"
                    min="0"
                    placeholder="{{ 'placeholder' | translate }}"
                  />
                </div>
              </div>

              <div class="form-group row mt-3" *ngIf="rpt_value === 'DAILY'">
                <div class="col-md-12 form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>{{ 'system.fields.repeat_after' | translate }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p-calendar
                        [(ngModel)]="model.schedule.timeRepeat"
                        name="timeRepeat"
                        class="d-block1"
                        [timeOnly]="true"
                        [hourFormat]="24"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                        [disabled]="isView"
                        [showTime]="true"
                        timeFormat="HH:mm:ss"
                      >
                      </p-calendar>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row mt-3" *ngIf="rpt_value === 'WEEKLY'">
                <div class="col-md-12 form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>{{ 'system.fields.repeat_after' | translate }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p-calendar
                        [(ngModel)]="model.schedule.timeRepeat"
                        name="timeRepeat"
                        class="d-block1"
                        [timeOnly]="true"
                        [hourFormat]="24"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                        [disabled]="isView"
                        [showTime]="true"
                        timeFormat="HH:mm:ss"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="m-0">{{ 'system.fields.day' | translate }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ngx-select
                        noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                        [(ngModel)]="model.schedule.weekList"
                        name="weekList"
                        [allowClear]="false"
                        [items]="week_configs"
                        [disabled]="isView"
                        [multiple]="true"
                        optionValueField="code"
                        optionTextField="name"
                      >
                      </ngx-select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row mt-3" *ngIf="rpt_value === 'MONTHLY'">
                <div class="col-md-12 form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>{{ 'system.fields.time' | translate }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p-calendar
                        [(ngModel)]="model.schedule.timeRepeat"
                        name="timeRepeat"
                        class="d-block1"
                        [disabled]="isView"
                        [timeOnly]="true"
                        [hourFormat]="24"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                        [showTime]="true"
                        timeFormat="HH:mm:ss"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="form-group row mt-3 px-4">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="radio col-md-2">
                          <input
                            type="radio"
                            name="time_option"
                            (change)="change_time('NGAY')"
                            [disabled]="isView"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="model.schedule.typeRecur"
                            [value]="'NGAY'"
                          />
                          <span class="ck"></span>
                          <span class="ml-1 mr-5 checkbox-label text-black">Ngày</span>
                        </label>
                        <div class="col-md-10">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="model.schedule.typeRecur === 'THU'"
                            [(ngModel)]="model.schedule.dayList"
                            [allowClear]="false"
                            [items]="day_of_months"
                            [multiple]="true"
                            optionValueField="code"
                            [disabled]="isView"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row mt-3 px-4">
                    <div class="col-md-6">
                      <div class="row">
                        <label class="radio col-md-2">
                          <input
                            type="radio"
                            name="time_option"
                            (change)="change_time('THU')"
                            [disabled]="isView"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="model.schedule.typeRecur"
                            [value]="'THU'"
                          />
                          <span class="ck"></span>
                          <span class="ml-1 mr-5 checkbox-label text-black">Thứ</span>
                        </label>
                        <div class="col-md-10">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'NGAY'"
                            [(ngModel)]="model.schedule.weekList"
                            [allowClear]="false"
                            [items]="week_configs"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                            name="weekList"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-1">
                          <label>{{ 'system.fields.week' | translate }}</label>
                        </div>
                        <div class="col-md-11">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'NGAY'"
                            [(ngModel)]="model.schedule.orderList"
                            [allowClear]="false"
                            name="weekList"
                            [items]="week_of_months"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row mt-3" *ngIf="rpt_value === 'YEARLY'">
                <div class="col-md-12 form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>{{ 'system.fields.time' | translate }}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <p-calendar
                        [(ngModel)]="model.schedule.timeRepeat"
                        name="timeRepeat"
                        class="d-block1"
                        [disabled]="isView"
                        [timeOnly]="true"
                        [hourFormat]="24"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                        [showTime]="true"
                        timeFormat="HH:mm:ss"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="form-group row mt-3 px-4">
                    <div class="col-md-8">
                      <div class="row">
                        <label class="radio col-md-2">
                          <input
                            type="radio"
                            name="time_option"
                            (change)="change_time('NGAY')"
                            [disabled]="isView"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="model.schedule.typeRecur"
                            [value]="'NGAY'"
                          />
                          <span class="ck"></span>
                          <span class="ml-1 mr-5 checkbox-label text-black">Ngày</span>
                        </label>
                        <div class="col-md-10">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'THU'"
                            [(ngModel)]="model.schedule.dayList"
                            [allowClear]="false"
                            [items]="day_of_months"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">
                          <label>{{ 'system.fields.month' | translate }}</label>
                        </div>
                        <div class="col-md-10">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            name="month_thu"
                            [disabled]="model.schedule.typeRecur === 'THU'"
                            [(ngModel)]="model.schedule.monthList"
                            [allowClear]="false"
                            [items]="month_of_years"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row mt-3 px-4">
                    <div class="col-md-8">
                      <div class="row">
                        <label class="radio col-md-2">
                          <input
                            type="radio"
                            name="time_option"
                            (change)="change_time('THU')"
                            [disabled]="isView"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="model.schedule.typeRecur"
                            name="typeRecur"
                            [value]="'THU'"
                          />
                          <span class="ck"></span>
                          <span class="ml-1 mr-5 checkbox-label text-black">Thứ</span>
                        </label>
                        <div class="col-md-4">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'NGAY'"
                            name="weekList"
                            [(ngModel)]="model.schedule.weekList"
                            [allowClear]="false"
                            [items]="week_configs"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>

                        <div class="col-md-1">
                          <label>{{ 'system.fields.week' | translate }}</label>
                        </div>
                        <div class="col-md-5">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'NGAY'"
                            [(ngModel)]="model.schedule.orderList"
                            [allowClear]="false"
                            [items]="week_of_months"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">
                          <label>{{ 'system.fields.month' | translate }}</label>
                        </div>
                        <div class="col-md-10">
                          <ngx-select
                            noResultsFound="{{ 'notificationMessage.noResultsFound' | translate }}"
                            [disabled]="isView"
                            [disabled]="model.schedule.typeRecur === 'NGAY'"
                            [(ngModel)]="model.schedule.monthList"
                            [allowClear]="false"
                            [items]="month_of_years"
                            name="month"
                            [multiple]="true"
                            optionValueField="code"
                            optionTextField="name"
                          >
                          </ngx-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3 px-4">
                <button class="btn btn-small btn--red mr-2" (click)="previours()">
                  {{ 'btnAction.prev' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue" (click)="next()">{{ 'btnAction.next' | translate }}</button>
              </div>
            </div>

            <div class="col-12 detail-block mb-4 process-table" *ngIf="tab_index === 4">
              <div class="row process-table">
                <history-process-table #table [processCode]="model.processId"></history-process-table>
              </div>
              <div class="row mt-3 px-4">
                <button class="btn btn-small btn--red mr-2" (click)="previours()">
                  {{ 'btnAction.prev' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue" (click)="save()" *ngIf="!isView">
                  {{ 'btnAction.save' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
