.detail-block {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
}

.table-striped {
  border: 1px solid #f0f0f3;
}

.table-param-header {
  border-right: 1px solid #f0f0f3;
}

.over-x {
  overflow-x: auto;
}

.list__block {
  overflow-y: auto;
  border-radius: 12px;
}

// .process-table {
//   height: 100%;
// }
