<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ title }}</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="permission__create-form px-4">
          <div class="row form-create" [formGroup]="form">
            <div class="col-md-12 mt-3">
              <h5>{{ title_des }}</h5>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.rm_group_code' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="code" maxlength="20" uppercase
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('code').errors && form.get('code').touched" class="invalid-tooltip">
                <div *ngIf="form.get('code').errors.cusRequired">
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>

            <div class="col-md-6 form-group has-error">
              <label>{{ 'rm.fields.rm_group_name' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="name" maxlength="100"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('name').errors && form.get('name').touched" class="invalid-tooltip">
                <div *ngIf="form.get('name').errors.cusRequired">
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>


            <div class="col-md-6 form-group has-error">
              <label class="mb-0" for="gradeCode">{{ 'rm.fields.grade' | translate }}<span
                  class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                class="d-block" formControlName="blockCode"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                appendTo="body" optionValue="code" optionLabel="value_to_search"></p-dropdown>
              <div *ngIf="form.get('blockCode').errors && form.get('blockCode').touched" class="invalid-tooltip">
                <div *ngIf="form.get('blockCode').errors.cusRequired">
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label class="mb-0" for="status">{{ 'rm.fields.status' | translate }}</label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="status"
                class="d-block" formControlName="isActive"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                appendTo="body" optionValue="code" optionLabel="name"></p-dropdown>
            </div>

            <div class="col-md-12 form-group">

              <!-- <input type="checkbox" formControlName="isManagerGroup" placeholder="" />
              <label class="ml-2">{{ 'fields.isGroupCBQL' | translate }}</label> -->
              <label class="checkbox mr-2">
                <input type="checkbox" formControlName="isManagerGroup" placeholder="" />
                <span class="ck"></span>
                <span class="ml-3">{{ 'fields.isGroupCBQL' | translate }}</span>
              </label>
            </div>
            <div class="col-md-12 form-group">
              <label class="mb-0" for="description">{{ 'rm.fields.description' | translate }}</label>
              <textarea class="form-control" placeholder="{{ 'placeholder' | translate }}" id="description" type="text"
                formControlName="description" maxlength="1000"></textarea>
            </div>


          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="save()" *ngIf="isCreate">{{ 'btnAction.create' | translate
              }}</button>
            <button class="btn btn--light-blue" (click)="update()" *ngIf="isUpdate">{{ 'btnAction.update' | translate
              }}</button>
            <button class="btn btn-light ml-3" *ngIf="!isView" (click)="back()">{{ 'btnAction.cancel' | translate
              }}</button>
            <button class="btn btn-light ml-3" *ngIf="isView" (click)="back()">{{ 'btnAction.close' | translate
              }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
