<div class="target-sale-config-create right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <h3 class="ml-4 mb-0 page--title">Thêm mới doanh số mục tiêu</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top px-4 pt-4">
            <div class="row">
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Khối <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listDivision"
                  formControlName="division"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Nhóm chức danh RM <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listTitleGroup"
                  formControlName="rmTitleId"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Cấp độ RM <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listLevelRM"
                  formControlName="rmLevelId"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="col-md-2 form-group" [formGroup]="formSearch">
                <label class="m-0">Ngày bắt đầu <span class="text-red">(*)</span></label>
                <p-calendar
                  class="d-block"
                  dateFormat="dd/mm/yy"
                  formControlName="startDate"
                  [minDate]="minDate"
                  [maxDate]="this.formSearch.controls.endDate.value"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-2 form-group" [formGroup]="formSearch">
                <label class="m-0">Ngày kết thúc <span class="text-red">(*)</span></label>
                <p-calendar
                  class="d-block"
                  dateFormat="dd/mm/yy"
                  formControlName="endDate"
                  [minDate]="this.formSearch.controls.startDate.value ? this.formSearch.controls.startDate.value : minDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label class="m-0">Sản phẩm <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listProduct"
                  formControlName="product"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="name"
                ></p-dropdown>
              </div>
              <div class="col-md-2 form-group" [formGroup]="formSearch">
                <label class="m-0">Tổng giá trị phân bổ (VNĐ/cái) <span class="text-red">(*)</span></label>
                <p-inputNumber
                  [inputStyle]="{'text-align': 'right'}"
                  (onInput)="onChangeValue($event)"
                  class="d-block"
                  [min]="0"
                  locale="en"
                  formControlName="value"
                  maxlength='19'
                ></p-inputNumber>
              </div>
              <div class="col-md-4 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.agency' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listBranch"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div style="margin-top: 25px" class="col-md-2 form-group">
                <p-checkbox
                  [(ngModel)]="autoAllocation"
                  class="mr-3"
                  binary="true">
                </p-checkbox>
                <span>Phân chia tự động</span>
              </div>
              <div class="col-md-2 form-group">
                <label class="m-0">Phân bổ theo <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listAllotmentValue"
                  [(ngModel)]="allotmentValue"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div style="margin-top: 18px" class="col-md-4 form-group">
                <button
                  [disabled]="checkRequired()"
                  class="btn btn-tab--blue btn-small"
                  (click)="addAction()"
                >
                  Thực hiện phân bổ
                </button>
              </div>
            </div>
          </div>

          <div style="flex-grow: 1" class="d-flex">
            <div *ngIf="listMonthsData.length > 0" [ngClass]="listWeeksData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0">
              <div [ngClass]="listWeeksData.length > 0 ? 'mr-3': ''" class=" p-3 h-100 card flex-grow-1">
                <div class="text-left">
                  <h6>CHỈ TIÊU THÁNG</h6>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap fullscreen"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [rowHeight]="generateRowHeight"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="listMonthsData"
                    [messages]="messages"
                    [virtualization]="false"
                  >

                    <ngx-datatable-column
                      [width]="40"
                      [sortable]="false"
                      [draggable]="false"
                      name="STT"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="product"
                      [width]="80"
                      [sortable]="false"
                      [draggable]="false"
                      name="Tên sản phẩm"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="rmLevelId"
                      [width]="100"
                      [sortable]="false"
                      [draggable]="false"
                      name="Cấp độ RM"
                    >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span title="{{ getRMLevelName(value, row.rmTitleId) }}">{{ getRMLevelName(value, row.rmTitleId) }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [width]="80"
                      [draggable]="false"
                      name="Tháng"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index">
                            <td class="table__row--fixsize">
                              <div class="col-right">Tháng {{i + 1}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Từ ngày - Đến ngày"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{item?.startDate}} - {{item?.endDate}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index">
                            <td style="height: 35px!important;" class="">
                              <p-inputNumber
                                [inputStyle]="{'text-align': 'right'}"
                                [(ngModel)]="item.value"
                                [disabled]="row.targetSaleConfigDetail.length < 2"
                                (onBlur)="changeValue(i, rowIndex, true)"
                                (keyup.enter)="changeValue(i, rowIndex, true)"
                                class="d-block text-right"
                                [min]="0"
                                [max]="row.value"
                                locale="en"
                                maxlength='19'
                              >
                              </p-inputNumber>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline btn--light-blue"
                            title="{{ 'btnAction.edit' | translate }}"
                            (click)="update(row); $event.stopPropagation()"
                          >
                            <em class="las la-edit"></em>
                          </button>
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="delete(rowIndex,true);$event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
            <div *ngIf="listWeeksData.length > 0" [ngClass]="listMonthsData.length > 0 ? 'col-md-6': 'col-md-12'" class="p-0 ">
              <div class="p-3 h-100 card flex-grow-1">
                <div class="text-left">
                  <h6>CHỈ TIÊU TUẦN</h6>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap fullscreen"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [rowHeight]="generateRowHeight"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="listWeeksData"
                    [messages]="messages"
                    [virtualization]="false"
                  >

                    <ngx-datatable-column
                      [width]="40"
                      [sortable]="false"
                      [draggable]="false"
                      name="STT"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="product"
                      [width]="80"
                      [sortable]="false"
                      [draggable]="false"
                      name="Tên sản phẩm"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="rmLevelId"
                      [width]="100"
                      [sortable]="false"
                      [draggable]="false"
                      name="Cấp độ RM"
                    >
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span title="{{ getRMLevelName(value, row.rmTitleId) }}">{{ getRMLevelName(value, row.rmTitleId) }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      [width]="80"
                      name="Tuần"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value; let i = index ">
                            <td class="table__row--fixsize">
                              <div class="col-right">Tuần {{i + 1}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Từ ngày - Đến ngày"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value">
                            <td class="table__row--fixsize">
                              <div class="col-right">{{item?.startDate}} - {{item?.endDate}}
                              </div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="targetSaleConfigDetail"
                      [sortable]="false"
                      [draggable]="false"
                      name="Giá trị phân bổ (VNĐ/cái)"
                    >
                      <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <table aria-hidden="true">
                          <tbody>
                          <tr *ngFor="let item of value;let i = index">
                            <td style="height: 35px!important;" class="">
                              <p-inputNumber
                                [inputStyle]="{'text-align': 'right'}"
                                (onBlur)="changeValue(i, rowIndex, false)"
                                (keyup.enter)="changeValue(i, rowIndex, false)"
                                [(ngModel)]="item.value"
                                [disabled]="row.targetSaleConfigDetail.length < 2"
                                class="d-block text-right"
                                [min]="0"
                                [max]="row.value"
                                locale="en"
                                maxlength='19'
                              >
                              </p-inputNumber>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline btn--light-blue"
                            title="{{ 'btnAction.edit' | translate }}"
                            (click)="update(row); $event.stopPropagation()"
                          >
                            <em class="las la-edit"></em>
                          </button>
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="delete(rowIndex);$event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="(listMonthsData.length > 0 || listWeeksData.length > 0) ? 'background-white' : ''" class="mt-3 px-4 pb-3" style="border-radius: 12px">
            <div class="mt-3">
              <button
                class="btn btn-tab--blue btn-small"
                (click)="back()"
              >
                Hủy
              </button>
              <button
                [disabled]="listMonthsData.length < 1 && listWeeksData.length < 1"
                (click)="saveAll()"
                class="btn btn--light-blue btn-small"
              >
                Thêm mới
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
