<div class="right-view create-construction">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small btn-back" (click)="back()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <h3 class='ml-3 mb-0 page--title'>
                {{ 'debtClaims.title.createConstruction' | translate }}
            </h3>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div style='padding: 15px' class="content-body">
            <iframe *ngIf="embededLink" class="w-100 h-100" frameborder="0" [src]="embededLink"></iframe>
        </div>
    </div>
</div>
