<div class="row">
  <div class="filter-top block-center-between px-4 w-100">
    <div class="filter-top__left">
    </div>
    <div class="filter-top__right d-flex">
      <button class="btn btn--light-blue btn-small" (click)="exportFile()" title="{{ 'btnAction.export'| translate }}">
        <em class="las la-file-excel f-16"></em>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="table__view kpi-target-table">
    <ngx-datatable ngxDataTable class="custom-header fullscreen" [columnMode]="'force'" [headerHeight]="65"
      [footerHeight]="0" [rowHeight]="50" [scrollbarV]="false" [scrollbarH]="true" [messages]="message"
      [virtualization]="false" [rows]="rows" [treeFromRelation]="'groupParentCode'" [treeToRelation]="'productCode'"
      (treeAction)="onTreeAction($event)" [selectionType]="'single'">

      <ngx-datatable-column prop="prop" [width]="450" [flexGrow]="2" [resizeable]="false" [canAutoResize]="false"
        [draggable]="false" class="w-400" [sortable]="false" [isTreeColumn]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <table class="table-border-first" aria-hidden="true">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="colspan-border text-center">{{ 'kpi.menu.productInfo' | translate }}
                </th>
              </tr>
              <tr>
                <th scope="col" class="border-col wt-300">{{ 'kpi.menu.productName' | translate }}</th>
                <th scope="col" class="border-col wt-150">{{ 'kpi.menu.branchUnit' | translate }}</th>
              </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
              <tr>
                <td class="wt-300-data" [class.font-weight-bold]="!row.parent_code">{{getValue(row, 'productName')}}
                </td>
                <td class="wt-150-data">{{getValue(row, 'productUnit')}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="prop" [width]="200" [flexGrow]="2" [canAutoResize]="false" [resizeable]="false"
        [draggable]="false" [sortable]="false" [isTreeColumn]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <table class="table-border" aria-hidden="true">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="colspan-border text-center">{{ 'kpi.menu.salesDay' | translate }}
                </th>
              </tr>
              <tr>
                <th scope="col" class="border-col wt-100">{{ 'kpi.menu.versionMain' | translate }}</th>
                <th scope="col" class="border-col wt-100">{{ 'kpi.menu.versionCross' | translate }}</th>
              </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
              <tr>
                <td class="wt-100-number-data">{{getValue(row, 'soDuChinh') | number: '1.0-4'}}</td>
                <td class="wt-100-number-data">{{getValue(row, 'soDuCheo') | number: '1.0-4'}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="prop" [width]="200" [flexGrow]="2" [canAutoResize]="false" [resizeable]="false"
        [draggable]="false" [sortable]="false" [isTreeColumn]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <table class="table-border" aria-hidden="true">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="colspan-border text-center">{{ 'kpi.menu.salesDayLk' | translate }}
                </th>
              </tr>
              <tr>
                <th scope="col" class="border-col wt-100">{{ 'kpi.menu.versionMain' | translate }}</th>
                <th scope="col" class="border-col wt-100">{{ 'kpi.menu.versionCross' | translate }}</th>
              </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
              <tr>
                <td class="wt-100-number-data">{{getValue(row, 'soDuChinhLK') | number: '1.0-4'}}</td>
                <td class="wt-100-number-data">{{getValue(row, 'soDuCheoLK') | number: '1.0-4'}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="prop" [width]="300" [flexGrow]="2" [canAutoResize]="false" [resizeable]="false"
        [draggable]="false" [sortable]="false" [isTreeColumn]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <table class="table-border" aria-hidden="true">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="colspan-border text-center">{{ 'labels.accumulateMark' | translate }}
                </th>
              </tr>
              <tr>
                <th scope="col" class="border-col wt-150">{{ 'kpi.menu.versionMain' | translate }}</th>
                <th scope="col" class="border-col wt-150">{{ 'kpi.menu.versionCross' | translate }}</th>
              </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
              <tr>
                <td class="wt-150-number-data">{{getValue(row, 'pointChinhLK') | number: '1.0-4'}}</td>
                <td class="wt-150-number-data">{{getValue(row, 'pointCheoLK') | number: '1.0-4'}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="prop" [width]="300" [flexGrow]="2" [canAutoResize]="false" [resizeable]="false"
        [draggable]="false" [sortable]="false" [isTreeColumn]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <table class="table-border" aria-hidden="true">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="colspan-border text-center">{{ 'system.fields.tongHopDiem' |
                  translate }}</th>
              </tr>
              <tr>
                <th scope="col" class="border-col wt-150">{{ 'kpi.menu.pointActual' | translate }}</th>
                <th scope="col" class="border-col wt-150">{{ 'system.fields.diemKinhDoanh' | translate }}</th>
              </tr>
            </thead>
          </table>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <table aria-hidden="true">
            <tbody>
              <tr>
                <td class="wt-150-number-data">{{getValue(row, 'pointTotalLK') | number: '1.0-4'}}</td>
                <td class="wt-150-number-data">{{getValue(row, 'pointTotalLKHDV') | number: '1.0-4'}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column prop="description" [sortable]="false" [resizeable]="false" [draggable]="false"
        name="{{ 'fields.note' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span [class.font-weight-bold]="!row.parent_code" title="{{ getValue(row, 'ghi_chu') }}">{{
            getValue(row, 'note') }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
