.kpi-target-table .fullscreen {
  position: relative !important;
}

.wt-100 {
  width: 100px !important;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wt-100-data {
  width: 100px !important;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.wt-150 {
  width: 150px !important;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wt-150-data {
  width: 150px !important;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.wt-200 {
  width: 200px !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wt-200-data {
  width: 200px !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.wt-250 {
  width: 250px !important;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wt-250-data {
  width: 250px !important;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.wt-300 {
  width: 300px !important;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wt-300-data {
  width: 300px !important;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.wt-100-number-data {
  width: 100px !important;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  text-align: right !important;
}

.wt-150-number-data {
  width: 150px !important;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  text-align: right !important;
}

.wt-200-data {
  width: 200px !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  text-align: right !important;
}

.wt-200-number-data {
  width: 200px !important;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  text-align: right !important;
}

.wt-250-number-data {
  width: 250px !important;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  text-align: right !important;
}

.table-border-first {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.table-border {
  border-right: 2px solid #ffffff;
}

.colspan-border {
  border-bottom: 2px solid #ffffff;
}

.border-col {
  border-right: 2px solid #ffffff;
  text-align: center;
}
