<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'assignByProduct.mainTitle' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="card py-4 px-4 mb-3 d-flex-row">
          <div class="flex-division">
            <label class="mb-3">{{ 'assignByProduct.label.product' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="listProduct"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [(ngModel)]="productCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="value"
              [autoDisplayFirst]="false"
              [virtualScroll]="true"
              [itemSize]="31"
              (onChange)="changeProduct()"
            ></p-dropdown>
          </div>
          <div>
            <div class="mb-3 text-left">
              <span class="text-color" *ngIf="customerOrContract === '1'">{{ 'assignByProduct.label.info1' | translate }}</span>
              <span class="text-color" *ngIf="customerOrContract === '2'">{{ 'assignByProduct.label.info2' | translate }}</span>
            </div>
            <div class="block-center">
              <div class="upload block-center">
                <div [class.file-disabled]="isUpload"></div>
                <input
                  class="upload__input"
                  type="file"
                  accept=".xlsx, .csv"
                  [(ngModel)]="files"
                  (change)="handleFileInput($event.target.files)"
                />
                <em class="las la-cloud-upload-alt f-20"></em>
                <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
              </div>
              <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                <em class="las la-times f-16"></em>
              </button>
              <button
                class="btn btn-small btn--light-blue ml-3"
                [class.disabled]="!isFile || isUpload"
                (click)="importFile()"
              >
                <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
              </button>
              <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
                <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
              </button>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="isUpload" class="flex-grow-1 block-table"> -->
        <div class="flex-grow-1 block-table">
          <div class="table__success col-md-5 pl-0 pr-3">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'assignByProduct.title.listSuccess' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <div>
                    <input
                      placeholder="{{ 'btnAction.search' | translate }}"
                      type="text"
                      class="form-control search-box"
                      [(ngModel)]="textSearchSuccess"
                      (keyup.enter)="searchSuccess(true)"
                      maxlength="200"
                    />
                  </div>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    (click)="searchSuccess(true)"
                  >
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
                <div class="filter-top__right d-flex">
                  <button
                    class="btn btn-small btn--light-blue ml-2"
                    [disabled]="!this.fileId || this.pageSuccess?.totalElements <= 0"
                    (click)="confirmDialog()"
                  >
                    {{ 'btnAction.record' | translate }}
                  </button>
                  <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="exportSuccess()">
                    <em class="las la-file-excel f-16"></em>
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableSuccess
                  class="bootstrap fullscreen"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataSuccess"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageSuccess?.totalElements"
                  [offset]="pageSuccess?.currentPage"
                  [limit]="pageSuccess?.size"
                  (page)="setPage($event, 'success')"
                  [messages]="messages"
                >
                  <!-- <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="40"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageSuccess?.currentPage * pageSuccess?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column> -->
                  <ngx-datatable-column
                    prop="rm_code"
                    [sortable]="false"
                    name="{{ 'fields.rmCode' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ getValue(row, 'rmCode') }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="customerCode"
                    [sortable]="false"
                    name="{{ 'fields.customerCode' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ getValue(row, 'customerCode') }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    *ngIf="customerOrContract === '1'"
                    prop="contractNumber"
                    [sortable]="false"
                    name="{{ 'assignByProduct.fields.contract' | translate }}"
                    [width]="150"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ getValue(row, 'contractNumber') }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    *ngIf="customerOrContract === '2'"
                    prop="note"
                    [sortable]="false"
                    name="{{ 'fields.note' | translate }}"
                    [width]="150"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ getValue(row, 'note') }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableSuccess.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div class="table__error col-md-7 pl-0 pr-0">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'assignByProduct.title.listError' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <div>
                    <input
                      placeholder="{{ 'btnAction.search' | translate }}"
                      type="text"
                      class="form-control search-box"
                      [(ngModel)]="textSearchError"
                      (keyup.enter)="searchError(true)"
                      maxlength="200"
                    />
                  </div>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    (click)="searchError(true)"
                  >
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
                <div class="filter-top__right d-flex">
                  <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="exportError()">
                    <em class="las la-file-excel f-16"></em>
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableError
                  class="bootstrap fullscreen"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataError"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageError?.totalElements"
                  [offset]="pageError?.currentPage"
                  [limit]="pageError?.size"
                  (page)="setPage($event, 'error')"
                  [messages]="messages"
                >
                  <!-- <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="40"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageError?.currentPage * pageError?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column> -->
                  <ngx-datatable-column
                    prop="rowNum"
                    [sortable]="false"
                    name="{{ 'fields.row' | translate }}"
                    [width]="60"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div title="{{ getValue(row, 'rowNum') }}" class="text-truncate">
                        {{ getValue(row, 'rowNum') }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="errorColumn"
                    [sortable]="false"
                    name="{{ 'fields.column' | translate }}"
                    [width]="200"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div title="{{ getValue(row, 'errorColumn') }}" class="text-truncate">
                        {{ getValue(row, 'errorColumn') }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="errorData"
                    [sortable]="false"
                    name="{{ 'fields.dataError' | translate }}"
                    [width]="200"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div title="{{ getValue(row, 'value') }}" class="text-truncate">
                        {{ getValue(row, 'value') }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="description"
                    [sortable]="false"
                    name="{{ 'fields.infoError' | translate }}"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div title="{{ getValue(row, 'description') }}" class="text-truncate">
                        {{ getValue(row, 'description') }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableError.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
