<div class="warning-authorization-content">
    <h5>
        {{ 'title.notification' | translate }}
        <button type="button" class="close crm-btn-close" mat-dialog-close><span aria-hidden="true">×</span></button>
    </h5>
    
    <hr />
    <p>Thẩm quyền phê duyệt có thay đổi. Vui lòng chọn lại</p>
    <div class="row">
        <div class="col-12 pl-2">
            <button class="col-8 offset-2 btn crm-btn-secondary btn-small" mat-dialog-close (click)="openAuthModal()">
                Chọn thẩm quyền phê duyệt
            </button>
        </div>
    </div>
</div>