.warning-authorization-content{
    width: 400px;
}

.crm-btn-secondary{
    background-color: #EFF2FE;
    color: #bbbbfd;
}

.crm-btn-secondary:hover{
    color: #fff;
    background-color: #bbbbfd;
    border-color: #bbbbfd;
}

.cdk-overlay-pane{
    min-width: 0 !important;
}
