<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'system.menu.export_data' | translate }}</h3>
		</div>
		<div class="content__top-right"></div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 pt-4" [formGroup]="formSearch">
						<div class="col-md-12 form-group has-error">
							<textarea class="form-control text_area" type="text" formControlName="command"></textarea>
						</div>
						<div class="col-md-3 form-group has-error">
							<label>{{ 'system.fields.database' | translate }}</label>
							<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
								[options]="listDB" class="d-block" formControlName="schema" appendTo="body"
								autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="value">
							</p-dropdown>
						</div>
					</div>
					<div class="filter-top block-center-center px-4">
						<div class="mr-4">
							<button class="btn btn--light-blue btn-small" (click)="search(true)">
								{{ 'btnAction.search' | translate }}
							</button>
						</div>
						<div>
							<button class="btn btn--light-blue btn-small" (click)="exportFile()">
								{{ 'btnAction.export' | translate }}
							</button>
						</div>
					</div>
					<div>
						<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
							[scrollbarV]="false" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
							[count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
							(page)="setPage($event)" [messages]="messages">
							<ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
								[width]="35" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
								<ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
									<span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column *ngFor="let column of listColumn;let indexRegion=index"
								[sortable]="false" [draggable]="false" [name]="column">
								<ng-template ngx-datatable-cell-template let-row='row' let-rowIndex="rowIndex">
									<span>{{ row[column] }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-footer>
								<ng-template let-rowCount="rowCount" let-pageSize="pageSize"
									let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
									ngx-datatable-footer-template>
									<app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
										[count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
									</app-pager-ngx-datatable>
								</ng-template>
							</ngx-datatable-footer>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
