<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'fields.branch' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="branch__view">
    <div class="filter-top block-center-between">
      <div class="filter-top__left">
        <div>
          <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
            (keyup.enter)="search()" [(ngModel)]="textSearch" />
        </div>
        <button class="btn-icon btn-icon--small btn btn-search grey ml-2" title="{{ 'btnAction.search' | translate }}"
          (click)="search()">
          <em class="las la-search f-16"></em>
        </button>
      </div>
    </div>
    <div class="table__view branch__tree">
      <ngx-datatable ngxDataTable class="bootstrap fullscreen" [columnMode]="ColumnMode.force" [headerHeight]="50"
        [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
        [rows]="rows" [treeFromRelation]="'parentCode'" [treeToRelation]="'code'" (treeAction)="onTreeAction($event)"
        [selected]="model" [selectionType]="SelectionType.single">

        <ngx-datatable-column prop="code" name="{{ 'fields.branchCode' | translate }}" [sortable]="false"
          [isTreeColumn]="true" [width]="200" [treeLevelIndent]="30">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span class="ml-2" [class.font-weight-bold]="!row.parentCode">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" [sortable]="false" name="{{ 'fields.branchName' | translate }}" [width]="200">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span [class.font-weight-bold]="!row.parentCode">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
