<div class="heading my-4 block-center-between">
  <h5>{{ 'campaign.leftBar.title' | translate }}</h5>
</div>
<ng-container *ngIf="activityCalls && activityCalls.length > 0; else noActivity">
  <div class="boxes">
    <div class="box" *ngFor="let activity of activityCalls; let i = index; trackBy: identify"
      (click)="collapsedActivity(i)">
      <div class="media">
        <div class="media__left mr-3 position-relative">
          <ng-container *ngIf="activity.activityType === 'Call'">
            <div [class]="'activity__icon activity-call call-' + activity.activityDetail.status.toLowerCase()">
              <em class="la-phone las f-22"></em>
            </div>
          </ng-container>
          <ng-container *ngIf="activity.activityType === 'Meeting'">
            <div class="activity__icon activity-meeting">
              <em class="la-bell las f-22"></em>
            </div>
          </ng-container>
          <ng-container *ngIf="activity.activityType === 'SMS'">
            <div class="activity__icon activity-sms">
              <em class="la-sms las f-22"></em>
            </div>
          </ng-container>
          <ng-container *ngIf="activity.activityType === 'Email'">
            <div class="activity__icon activity-email">
              <em class="la-envelope las f-22"></em>
            </div>
          </ng-container>
        </div>
        <div class="media-body">
          <div class="f-12">
            {{ 'activity.fields.customer' | translate }}: <span class="text-black">{{ activity?.parentName }}</span>
          </div>
          <div class="f-12">
            {{ 'activity.fields.userCall' | translate }}:
            <span class="text-black">{{
              activity.activityDetail
              ? activity.activityDetail.assignUserName +
              (activity.activityDetail.branchCode ? ' - ' + activity.activityDetail.branchCode : '')
              : ''
              }}</span>
          </div>
          <div class="f-12">
            <ng-container *ngIf="activity.activityType === 'Call'"> {{ 'activity.fields.startTime' | translate }}:
            </ng-container>
            <ng-container *ngIf="activity.activityType === 'Meeting'"> {{ 'activity.fields.appointmentTime' | translate
              }}: </ng-container>
            <ng-container *ngIf="activity.activityType === 'SMS' || activity.activityType === 'Email'">
              {{ 'activity.fields.sendTime' | translate }}:
            </ng-container>
            <span class="pl-2 f-12 text-black">{{ activity?.dateEntered | date: 'd/M/yy, h:mm a' }}</span>
          </div>

          <div class="f-12">
            <ng-container *ngIf="activity.activityType === 'Call'">
              {{ 'activity.fields.status' | translate }}: <span class="f-12 text-black"> {{ activity?.status }}</span>
            </ng-container>
            <ng-container *ngIf="activity.activityType != 'Call'">
              {{ 'activity.fields.title' | translate }}: <span class="f-12 text-black"> {{ activity?.title }}</span>
            </ng-container>
          </div>
          <div class="f-12 activity-content" *ngIf="activity.content && activity.content.length > 0"
            [@collapse]="activity.isCollapsed">
            {{ activity?.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noActivity>
  <div class="activity-empty">
    <div class="activity-empty--body">
      <img alt="" src="/assets/images/activity-empty.png" width="80%" />
      <div class="activity-empty--text">{{ 'activity.callEmpty' | translate }}</div>
    </div>
  </div>
</ng-template>