<div class="right-view">
  <div class="d-flex justify-content-between content_top p-3">
    <div class="d-flex align-items-center">
      <button class="btn btn--light-blue btn-small pr-3 mr-3" (click)="back()"><em class="las la-undo f-16"></em> Quay
        lại</button>
      <h3>Xuất dữ liệu quản lý khối RM</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="d-flex justify-content-between p-3">
        <div [formGroup]="form" class="w-45">
          <label class="d-flex">{{ 'sellingOppIndiv.label.customerBlock' | translate }} <span class='p-error'>(*)</span>
          </label>
          <p-dropdown formControlName="blockCode"
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="listDivision"
                      placeholder=" "
                      class="d-block"
                      optionLabel="displayName"
                      optionValue="code">
          </p-dropdown>
        </div>
        <div class="w-45">
          <label>Thời điểm xuất</label>
          <div class="d-flex justify-content-between">
            <div class="w-45 d-flex align-items-center">
              <p-radioButton name="time" value="select" [(ngModel)]="selectValue"></p-radioButton>
              <div class="pl-3 d-flex">Khoảng thời gian</div>

            </div>
            <div class="w-45 d-flex align-items-center">
              <p-radioButton name="time" value="month" [(ngModel)]="selectValue" inputId="month"></p-radioButton>
              <div class="pl-3 d-flex">Chốt tháng</div>

            </div>
          </div>
          <div [formGroup]="form" style="margin-top: 30px" class="d-flex justify-content-between">
            <div *ngIf="selectValue == 'month'" class="w-45">
              <div class="d-flex">
                Tháng
              </div>
              <p-calendar formControlName="month" view="month" dateFormat="mm/yy" [maxDate]="maxDate" [minDate]="minMonth" class="w-100"
                          [placeholder]="'mm/yyyy'"></p-calendar>
            </div>
            <ng-container *ngIf="selectValue != 'month'">
              <div class="w-45">
                <div class="d-flex">
                  Từ ngày <span class='p-error'>(*)</span>
                </div>
                <p-calendar formControlName="fromDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [minDate]="minDate" class="w-100"
                            [placeholder]="'dd/mm/yyyy'">
                </p-calendar>
                <span *ngIf="!this.form.controls.fromDate.value && this.form.controls.fromDate.touched" class='p-error'>Vui lòng chọn ngày!</span>
              </div>
              <div class="w-45">
                <div>
                  Đến ngày
                </div>
                <p-calendar formControlName="toDate" [maxDate]="maxDate" dateFormat="dd/mm/yy" class="w-100" [placeholder]="'dd/mm/yyyy'"></p-calendar>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn--light-blue btn-small pr-3" (click)="export()"><em class="pi pi-download"></em> Xuất dữ
          liệu</button>
      </div>
    </div>
  </div>
</div>
