<div class="modal-header pb-4">
    <div class="block-center-between">
        <h5 class="m-0">{{ 'calendar.detailEvent' | translate }}</h5>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-task" [formGroup]="form">
        <div class="row form-group">
            <div class="col form-group mb-0 has-error">
                <label>{{ 'fields.subject' | translate }} <span class="text-red">(*)</span></label>
                <input class="form-control" type="text" maxlength="200" formControlName="name" />
                <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && isFieldValid('name')"
                    class="invalid-tooltip">
                    {{ 'validationMessage.required' | translate }}
                </div>
            </div>
            <div class="col form-group mb-0 has-error">
                <label>{{ 'fields.priority' | translate }}</label>
                <div class="block-center-between f-12">
                    <div class="block-center">
                        <button pButton pRipple type="button" icon="pi pi-check"
                            class="p-button-rounded background-red p-label-none p-button-high"
                            [ngClass]="{ 'active': priority.high}" (click)="handlePriority(1)"></button>
                        <div class="ml-2">{{ 'priority.high' | translate }}</div>
                    </div>
                    <div class="block-center">
                        <button pButton pRipple type="button" icon="pi pi-check"
                            class="p-button-rounded background-yellow p-label-none p-button-medium"
                            [ngClass]="{ 'active': priority.medium}" (click)="handlePriority(2)"></button>
                        <div class="ml-2">{{ 'priority.medium' | translate }}</div>
                    </div>
                    <div class="block-center">
                        <button pButton pRipple type="button" icon="pi pi-check"
                            class="p-button-rounded background-green p-label-none p-button-low"
                            [ngClass]="{ 'active': priority.low}" (click)="handlePriority(3)"></button>
                        <div class="ml-2">{{ 'priority.low' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group mb-0 has-error">
                <label>{{ 'fields.startTime' | translate }} <span class="text-red">(*)</span></label>
                <p-calendar formControlName="start" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                    autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optCreateDate?.minDate"
                    icon="las la-calendar-alt" [showTime]="true">
                </p-calendar>
                <div *ngIf="
                    form.get('start').errors && form.get('start').errors.cusRequired && isFieldValid('start')
                    " class="invalid-tooltip">
                    {{ 'validationMessage.required' | translate }}
                </div>
            </div>
            <div class="col form-group mb-0 has-error">
                <label>{{ 'fields.endTime' | translate }} <span class="text-red">(*)</span></label>
                <p-calendar formControlName="end" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                    autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optDueDate?.minDate"
                    icon="las la-calendar-alt" [showTime]="true">
                </p-calendar>
                <div *ngIf="
                    form.get('end').errors && form.get('end').errors.cusRequired && isFieldValid('end')
                    " class="invalid-tooltip">
                    {{ 'validationMessage.required' | translate }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'fields.description' | translate }}</label>
            <textarea class="form-control" type="text" [maxlength]="300" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label>{{ 'fields.location' | translate }}</label>
            <textarea class="form-control" type="text" [maxlength]="300" formControlName="location"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue ml-3" (click)="closeModal()">{{
            'btnAction.close' | translate }}</button>
        <button *ngIf="!isView && data?.userHrsCode === currUser?.hrsCode && data?.status !== 'DONE'"
            class="btn btn--light-blue ml-3" (click)="save(true)">{{
            'btnAction.completed' | translate }}</button>
        <button *ngIf="!isView && isEdit && data?.status !== 'DONE'" class="btn btn--light-blue ml-3"
            (click)="save(false)">{{
            'btnAction.save' | translate }}</button>
        <button *ngIf="isViewDelete" class="btn btn--red ml-3" (click)="delete()">{{
            'btnAction.delete' | translate }}</button>

    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
