.detail-calendar-modal {
  .modal-dialog {
    max-width: 650px;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }
}
