<app-loading *ngIf="isLoading"></app-loading>
<div  class="right-view">
  <div class="d-flex justify-content-between content_top p-3">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small btn-back" (click)="backStep()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <div class="d-flex pl-3 align-items-center" >
        <h3 style='margin: 0'>Ngoại lệ lãi suất</h3>
      </div>
    </div>

    <div class="d-flex">
      <button class="btn btn--light-blue btn-small pr-3" (click)='save(true)'>Lưu</button>
      <button class="btn btn--light-blue btn-small pr-3" (click)='confirmReductionException()'>Trình duyệt</button>
    </div>
  </div>
  <div class="content">
    <div class="content-body p-3 overflow-auto">
      <div class='section p-3 info' [formGroup]='form'>
        <div class='row' style='margin-left: 3%; margin-right: 1%'>
          <div class="col-6 d-flex py-3">
            <div class="w-40"><span>Mã khách hàng</span></div>
            <div class="w-55 font-weight-bold">{{info?.customerCode || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Tên khách hàng</div>
            <div class="w-55 font-weight-bold">{{info?.customerName || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">MST/DKKD</div>
            <div class="w-55 font-weight-bold">{{this.existed ? info?.taxCode : info?.businessRegistrationNumber || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Phân khúc <br>(Theo DTBQ 3 năm gần nhất)</div>
            <div *ngIf="checkSegment()" class="w-55 font-weight-bold">{{info?.searchSme?.segment === 'Không xác định' ? '--' : info?.segment === 'Không xác định' ? '--' : info?.segment || '--'}}</div>
            <div *ngIf="!checkSegment()" class="w-55 font-weight-bold">
              <p-dropdown [autoDisplayFirst]='false'
                          [options]="dataCommonSegment"
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          formControlName='segment' optionLabel='name' optionValue='description'>
              </p-dropdown>
            </div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Xếp hạng tín dụng</div>
            <div class="w-55 font-weight-bold">{{info?.scoreValue || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Đối tượng</div>
            <div class="w-55 font-weight-bold">{{info?.classification || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Loại khách hàng</div>
            <div class="w-55 font-weight-bold">{{info?.customerType || '--'}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">TOI hiện hữu (%)</div>
            <div class="w-55 font-weight-bold">{{formatCurrency(convertToiCurrent(info?.toiExisting))}}</div>
          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">DTTTRR (trđ)</div>
            <div class="w-55 font-weight-bold">{{formatCurrency(convertDtttrr(info?.dtttrr))}}</div>
          </div>
          <div class="col-6 d-flex py-3" >
            <div class="w-40">TOI cam kết (%)</div>
            <div
              class='pt-1 pb-1 d-flex align-items-center w-55'>
              <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='w-100' formControlName='toi'
                             maxFractionDigits='2' mode='decimal' placeholder='0.00' styleClass='w-100'
                             useGrouping='false'>
              </p-inputNumber>

              <small *ngIf='form?.controls?.toi?.errors?.cusRequired && form?.controls?.toi?.touched'
                     class='p-error'>{{
                'validationMessage.required' |
                  translate }}</small>
            </div>

          </div>
          <div class="col-6 d-flex py-3" >
            <div class="w-40">DTTTRR cam kết (trđ)</div>
            <div
              class='pt-1 pb-1 d-flex align-items-center w-55'>
              <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='d-block w-100'
                             formControlName='dtttrrDisplay' maxFractionDigits='2' mode='decimal' placeholder='0.00'
                             styleClass='w-100' useGrouping='false'></p-inputNumber>
              <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='d-none w-100' formControlName='dtttrr'
                             maxFractionDigits='2' mode='decimal' placeholder='0.00' styleClass='w-100'
                             useGrouping='false'></p-inputNumber>
              <small *ngIf='form?.controls?.dtttrr?.errors?.cusRequired && form?.controls?.dtttrr?.touched'
                     class='p-error'>{{
                'validationMessage.required' |
                  translate }}</small>
            </div>

          </div>
          <div class="col-6 d-flex py-3">
            <div class="w-40">Thời gian đánh giá</div>
            <p-dropdown [autoDisplayFirst]='true' [filter]='false' (onChange) ='handlerEffect($event, 1)'
                        [hidden]='monthConfirms.length === 1 && info.type === 0' [options]='monthConfirms'
                        [showClear]='false' appendTo='body'
                        autoZIndex='false' baseZIndex='10000'
                        class='mr-1 w-55' emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        formControlName='monthConfirm' optionLabel='displayName'
                        optionValue='code' placeholder="{{ 'reductionProposal.labels.chooseMonth' | translate }}"
                        styleClass='w-100'>
            </p-dropdown>
            <small *ngIf='monthConfirmError'
                   class='p-error'>{{
              monthConfirmError || ''}}</small>
          </div>
        </div>
        <div class='row' >
          <div class='col-6'></div>
          <div
            class='pt-1 pb-1 col-6 d-flex align-items-center ' >
            <button (click)='openPopupCalculateTOI()' class='btn btn--light-blue btn-calculate-toi m-left-2 w-60'>{{
              'reductionProposal.labels.calculateTOI' |
                translate }}</button>
          </div>
        </div>

      </div>
      <div class='section p-3' [formGroup]='form'>
        <div class='row'>
          <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
            <h6>Phạm vi áp dụng</h6>
          </div>
          <div class='pt-1 pb-1 col-3 d-flex align-items-center'>
            <p-dropdown [autoDisplayFirst]='true' [filter]='false' [options]='allScopeApples' [showClear]='false'
                        appendTo='body' autoZIndex='false' baseZIndex='10000' class='d-block w-100'
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='scopeApply'
                        optionLabel='displayName' optionValue='code'>
            </p-dropdown>
            <small *ngIf='form?.controls?.scopeApply?.errors?.cusRequired && form?.controls?.scopeApply?.touched'
                   class='p-error'>
              {{'validationMessage.required' | translate }}</small>
          </div>
        </div>
      </div>
      <div [formGroup]='form'
           class='section p-3'>
        <div class='row'>
          <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
            <h6>{{ 'reductionProposal.labels.TypeFee' | translate }}</h6>
          </div>
          <div class='pt-1 pb-1 col-3 d-flex align-items-center'>
            <p-dropdown [autoDisplayFirst]='true'
                        [filter]='false' [options]='AllTypeFee' [showClear]='false' appendTo='body'
                        autoZIndex='false' baseZIndex='10000' class='d-block w-100'
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='typeInterest'
                        optionLabel='displayName' optionValue='id'>
            </p-dropdown>
            <small *ngIf='form?.controls?.typeInterest?.errors?.cusRequired && form?.controls?.typeInterest?.touched'
                   class='p-error'>{{
              'validationMessage.required' |
                translate }}</small>
          </div>
        </div>
      </div>
      <div class="section p-3">
        <div class="pt-1 pb-1 d-flex align-items-center justify-content-between">
          <h6>Thông tin giảm lãi</h6>
          <div>
            <button (click)="openInterestModal('interest', listData)"
                    *ngIf="form?.controls.scopeApply.value === 'ALL' || form?.controls.scopeApply.value === 'UNKNOWN'"
                    class='btn btn--light-blue btn-small btn-select-fee mr-4'>
              {{ 'reductionProposal.labels.selectInterest' | translate }}
            </button>
            <button (click)='openOptionCodeModal()' *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE'"
                    class='btn btn--light-blue btn-small btn-select-caseOption mr-4'>
              {{ 'reductionProposal.labels.selectCaseOption' | translate }}
            </button>
            <button (click)='openLdCodeModal()' *ngIf="form?.controls.scopeApply.value === 'LD_CODE'"
                    class='btn btn--light-blue btn-small btn-select-LD mr-4'>
              {{ 'reductionProposal.labels.selectLD' | translate }}
            </button>
          </div>
        </div>
        <div class="mt-3" style="overflow: auto; max-height: 370px">
        <p-treeTable #treeTableInterest [autoLayout]='true' [style]="{'width':'100%','overflow':'auto!important'}" [value]="listData"
                     class='mt-2 mr-4 ml-4 min-width-table'>
          <ng-template pTemplate='header'>
            <tr>
              <th class='text-center' rowspan='2' *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE'">Mã phương án hạn mức</th>
              <th class='text-center' rowspan='2' *ngIf="form?.controls.scopeApply.value === 'LD_CODE'">Mã LD</th>
              <th class='text-center' rowspan='2'>Biểu lãi suất</th>
              <th class='text-center' rowspan='2'>Loại tiền tệ</th>
              <th class='text-center' rowspan='2'>Kỳ điều chỉnh</th>
              <th class='text-center' rowspan='2'>Kỳ hạn vay (tháng)</th>
              <th class='text-center' colspan='4'>Biểu theo quy định</th>
              <th [colSpan]='this.checkTableInterest() ? 3 : 2' class='text-center'>Biểu đề xuất giảm</th>
              <th class='text-center' rowspan='2'>Tỉ lệ giảm <br> biên độ (%)</th>
              <th class='text-center' rowspan='2' *ngIf="checkTableInterest()">Tỷ lệ giảm lãi <br> suất tối thiểu</th>
              <th class='text-center' rowspan='2'>...</th>
            </tr>
            <tr>
              <th class='text-center'>Lãi suất <br> tham chiếu (%)</th>
              <th class='text-center'>Biên độ (%)</th>
              <th class='text-center' *ngIf="checkTableInterest()">Lãi suất <br> tối thiêu (%)</th>
              <th class='text-center' *ngIf="!checkTableInterest()">Mức giảm biên <br> tối đa (%)</th>
              <th class='text-center'>Lãi suất <br> cho vay (%)</th>
              <th class='text-center'>Biên độ (%)</th>
              <th class='text-center' *ngIf="checkTableInterest()">Lãi suất <br> tối thiểu (%)</th>
              <th class='text-center'>Lãi suất <br> cho vay (%)</th>

            </tr>
          </ng-template>
          <ng-template let-rowData='rowData' pTemplate='body'>
            <tr>
              <td
                *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' || form?.controls.scopeApply.value === 'LD_CODE'">
                {{rowData?.code || '--'}}</td>
              <td *ngIf="form?.controls.scopeApply.value !== 'OPTION_CODE' ">{{rowData?.name}}</td>
              <td *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' ">
                <a (click)="openInterestModal('option', rowData)" class='text-info style-link'>{{rowData?.name
                || 'Chọn biểu'}}</a>
              </td>
              <td class='text-center'>{{rowData?.currency || '--'}}</td>
              <td class='text-center'>{{rowData?.adjustmentPeriod || '--'}}</td>
              <td class='text-center'>{{rowData?.period || '--'}}</td>
              <td class='text-center'>{{rowData?.referenceInterestRate || '--'}}</td>
              <td class='text-center'>{{rowData?.baseMargin || '--'}}</td>
              <td *ngIf='!this.checkTableInterest()' class='text-center'>{{getValueMax(rowData)}}</td>

              <td *ngIf='this.checkTableInterest()' class='text-center'>{{rowData?.minInterestRate || '--'}}</td>
              <!--Lãi suất tối thiểu (%)-->
              <!-- {{getValueMax(rowData?.maximumMarginReduction)}}-->
              <td class='text-center'>{{rowData?.loanRate || '--'}}</td>
              <td>
                <p-inputNumber
                  (keyup)='changeMarginSuggest($event, rowData)'
                  (onBlur)='calculateMarginSuggest($event, rowData)'
                  *ngIf='rowData?.productCode'
                  [(ngModel)]='rowData.marginSuggest'
                  [inputStyleClass]="'text-center'" [minFractionDigits]='2' [min]='0' class='w-100 text-center'
                  locale='en-US'
                  maxFractionDigits='2' maxlength='6' mode='decimal'
                  placeholder='0.00'></p-inputNumber>
                <small *ngIf='rowData?.errorMessage' class='p-error'>{{
                  rowData?.errorMessage }}</small>
              </td>
              <td *ngIf='this.checkTableInterest()'>
                <p-inputNumber
                  (keyup)='getValueMinimumRate($event, rowData)'
                  (onBlur)='calculateInterest($event, rowData)'
                  *ngIf='rowData?.productCode'
                  [(ngModel)]='rowData.rateMinimum'
                  [inputStyleClass]="'text-center'" [minFractionDigits]='2' [min]='0' class='w-100 text-center'
                  locale='en-US'
                  maxFractionDigits='2' maxlength='6' mode='decimal'
                  placeholder='0.00'></p-inputNumber>
                <small *ngIf='rowData?.rateMinimumError' class='p-error'>{{
                  rowData?.rateMinimumError }}</small>
              </td>
              <td class='text-center'>{{formatCurrency(rowData?.loanSuggest)}}</td>
              <td class='text-center'>{{formatCurrency(rowData?.reductPercent)}}</td>
              <td class='text-center' *ngIf='!rowData.minInterestRate && this.checkTableInterest()' >{{'--'}}</td>
              <td class='text-center' *ngIf='this.checkTableInterest() && rowData.minInterestRate' >{{formatCurrency(rowData?.rateInterestReduction)}}</td>
              <td class='text-center'>
                <button (click)='removeItem(rowData)' class='btn-outline btn-danger' title='Xóa'
                        type='button'><em class='ic-x'></em></button>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Hiệu lực của tờ trình <br> (Tháng)</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <p-dropdown [autoDisplayFirst]='true' (onChange) ='handlerEffect($event, 0)' [options]='months' appendTo='body' autoZIndex='false'
                        baseZIndex='10000' class='d-block w-100'
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='effect'
                        optionLabel='displayName' optionValue='code'>
            </p-dropdown>
          </div>
          <small *ngIf='effectError' class='p-error d-flex align-items-center'>{{
            effectError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Ngày duyệt tờ trình trên MO</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <p-calendar dateFormat="dd/mm/yy" [maxDate]="maxDate"  (onSelect)='handlerDate($event)' (keyup)='handlerError($event, 2)' class="w-100" formControlName='dateApprovalMO' [placeholder]="'dd/mm/yyyy'"></p-calendar>
          </div>
          <small *ngIf='dateApprovalMOError' class='p-error d-flex align-items-center'>{{
            dateApprovalMOError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Ngày hết hiệu lực tờ trình</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            {{dateEffect()}}
          </div>
          <small *ngIf='dateEndApproveError' class='p-error d-flex align-items-center'>{{
            dateEndApproveError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Username cấp phê duyệt</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input (keyup)='handlerError($event, 4)' (blur)='getInfoAuthorization($event)'  maxlength='50' class="form-control w-100" type="text" rows="1" formControlName="authApproval" placeholder='vd: hongpt.ho'/>
            <small *ngIf='authApprovalError' class='p-error d-flex align-items-center'>{{
              authApprovalError }}</small>
          </div>
          <div class='col-2 d-flex align-items-center'>
            <h6 class='w-100 text-center'>Họ và tên cấp phê duyệt</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input (keyup)='handlerError($event, 1)' maxlength='50' class="form-control w-100" type="text" rows="1" formControlName="fullName">
            <small *ngIf='fullNameError' class='p-error d-flex align-items-center'>{{
              fullNameError }}</small>
          </div>

        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Chức danh phê duyệt</h6>
          </div>
          <div class='col-8 d-flex align-items-center'>
            <input (keyup)='handlerError($event, 5)' maxlength='50' class="form-control w-100" type="text" rows="1" formControlName="titleAuthApproval">
          </div>
          <small *ngIf='titleAuthApprovalError' class='p-error d-flex align-items-center'>{{
            titleAuthApprovalError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Lý do trình ngoại lệ</h6>
          </div>
          <div class='col-8 d-flex align-items-center'>
            <p-dropdown [autoDisplayFirst]='true'
                        [filter]='false' [options]='reasonException' [showClear]='false' appendTo='body'
                        autoZIndex='false' baseZIndex='10000' class='d-block w-100'
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='codeReason'
                        optionLabel='name' optionValue='code'>
            </p-dropdown>
          </div>
          <small *ngIf='codeReasonError' class='p-error d-flex align-items-center'>{{
            codeReasonError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Mã hỗ trợ CNTT</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input (keyup)='handlerError($event, 6)' maxlength='50' class="form-control w-100" type="text" rows="1" formControlName="codeCntt">
          </div>
          <small *ngIf='codeCnttError' class='p-error d-flex align-items-center'>{{
            codeCnttError }}</small>
        </div>
      </div>
      <div class="section p-3" [formGroup]='form'>
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <h6>Mã tờ trình MO</h6>
          </div>
          <div class='col-3 d-flex align-items-center'>
            <input (keyup)='handlerError($event, 7)' maxlength='50' class="form-control w-100" type="text" rows="1" formControlName="moCode" placeholder='Mã ID văn bản trình kí'>
          </div>
          <small *ngIf='moCodeError' class='p-error d-flex align-items-center'>{{
            moCodeError }}</small>
          <div #errorMessage class='p-error d-flex align-items-center' *ngIf="form.controls.moCode?.errors?.pattern">
            <span>Không được nhập ký tự {{'!@#$%\^&*()+_{:?<>'}}</span>
          </div>
        </div>
      </div>
      <div class="section p-3">
        <h6>Upload file </h6>
        <div class="col-md-12 mb-5 mt-3">
          <div class="import-file" style="padding-top: 21px;" draggable="true" (dragover)="onDragOver($event)"
               (drop)="onDropSuccess($event)">
            <input type="file" multiple #inputFile accept=".pdf" style="visibility: hidden;"
                   (change)="changeFile($event)">
            <em class="upload-cloud i-58 mini-icon mr-2 mb-3"></em>
            <span class="mb-2" style="font-size: 16px;font-weight: 600;">
              Kéo thả file vào đây để tải lên
            </span>
            <span style="color: #141ED2; border-bottom: 1px solid #141ED2; cursor: pointer;"
                  (click)="openDownloadFilePopup(inputFile)">
              Hoặc ấn vào đây để chọn file
            </span>
          </div>

          <!-- fileIdList -->
          <div>
            <div style="background-color: #F3F3F3" class="d-flex justify-content-between align-items-center p-2 my-2" *ngFor="let file of listFile ">
              <div class="d-flex align-items-center">
                <em class="cloud-file i-30 mini-icon mr-2"></em>
                <span class="mr-2 hyperlink" (click)="download(file)">{{file.fileName}}
                </span>
              </div>
              <i class="pi pi-times" style="color: red; font-size: 20px;" (click)="removeFile(file.fileId)"></i>
            </div>
          </div>

        </div>
      </div>

      <div [formGroup]='form' class="section p-3">
        <div class="row">
          <div class='col-2 d-flex align-items-center'>
            <p-checkbox formControlName="commitment" [binary]="true"></p-checkbox>
            <div class='pl-3'>
              RM chịu trách nhiệm với toàn bộ nội dung xác nhận khớp đúng với nội dung phê duyệt của Cấp phê duyệt
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

