<div class="form-content" *ngIf="form" [formGroup]="form" style="display: flex; flex-direction: column; height: 100%">
    <!-- <app-loading *ngIf="isLoading"></app-loading> -->
    <div class="row">
        <div class="col-md-6 form-group has-error">
            <label class="mb-0">{{ 'Tên' | translate }} <span class="text-red">(*)</span></label>
            <input pInputText placeholder="" [maxlength]="100" type="text" class="d-block" formControlName="name"
                maxlength="100" />
            <div *ngIf="form.get('name').errors && (isFirstChange || form.get('name').touched)" class="invalid-tooltip">
                <div *ngIf="form.get('name').errors.duplicated">
                    {{ 'đã tồn tại tên ảnh này' | translate }}
                </div>
                <div *ngIf="form.get('name').errors.required">
                    {{ 'validationMessage.required' | translate }}
                </div>
            </div>
        </div>

        <div class="col-md-6 form-group has-error">
            <label class="mb-0">{{ 'fields.orderNumber' | translate }} <span class="text-red">(*)</span></label>
            <input pInputText class="d-block" styleClass="w-100" formControlName="priority" maxlength="1" (input)="onPress($event)">
            <div *ngIf="form.get('priority').errors && (isFirstChange || form.get('priority').touched)" class="invalid-tooltip">
                <div *ngIf="form.get('priority').errors.duplicated">
                    {{ 'trùng số thứ tự' | translate }}
                </div>
                <div *ngIf="form.get('priority').errors.required">
                    {{ 'validationMessage.required' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100%;">
        <div style="color: red; font-size: 12px; margin-bottom: 5px">(Yêu cầu up file ảnh định dạng: png, jpg, jpeg, gif) (*)</div>
        <div>

            <button [disabled]="isDisabled" class="btn btn--light-blue btn-small" (click)="inputFile.click()">Chọn file</button>
            <input  #inputFile  type="file" style="display: none;" (change)="changeFile($event)" accept="image/png,image/jpg,image/jpeg,image/gif" />
            <span class="text-red" *ngIf="isFirstChange && !selectedImage"> Chưa chọn ảnh!</span>
        </div>

        <div class="img-content mt-5">
            <img class="c-img" *ngIf="selectedImage" [src]="selectedImage" alt="">
        </div>

    </div>
    <div style="align-self: flex-start;" *ngIf="!isDisabled">
        <button class="btn btn--red ml-3" (click)="cancel()" *ngIf="canCancel">{{ 'btnAction.cancel' |
            translate }}</button>
        <button class="btn btn--light-blue ml-3" (click)="save()">{{ 'btnAction.save' | translate }}</button>
    </div>
</div>
