<div class="info-shareholder">
  <app-loading *ngIf="isLoading"></app-loading>
  <mat-tab-group (selectedTabChange)="onTabChanged($event)"
                 [selectedIndex]="tabIndex">
    <mat-tab label="Thông tin cổ đông"></mat-tab>
  </mat-tab-group>
    <div class="col-12 detail-block mb-4 mt-4">
      <div class="table__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [scrollbarV]="false"
          [scrollbarH]="true"
          [rows]="listData"
          [virtualization]="false"
          [externalPaging]="false"
          [messages]="messages"
          [columns]="columns"
        >
        </ngx-datatable>
      </div>
    </div>
  </div>

