<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'system.menu.note' | translate }}</h3>
		</div>
		<div class="content__top-right"></div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 pt-4" [formGroup]="formSearch">
						<div class="col-md-12 form-group has-error">
							<label>{{ 'system.fields.note' | translate }}</label>
							<textarea class="form-control text_area" type="text" formControlName="command"></textarea>
						</div>
						<div class="col-md-3 form-group has-error">
							<label>{{ 'system.fields.database' | translate }}</label>
							<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
								[options]="listDB" class="d-block" formControlName="schema" appendTo="body"
								autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="value">
							</p-dropdown>
						</div>
					</div>
					<div class="filter-top block-center-center px-4">
						<div class="mr-4">
							<button class="btn btn--light-blue btn-small" (click)="update()">
								{{ 'btnAction.save' | translate }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
