.sale-transfer-list {
  .messageSaleOpp {
    text-align: center;
    color: red;
    margin-top: 300px !important;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .action__left {
    display: flex;
    text-align: left;
    width: 50%;
  }
  .action__right {
    text-align: right;
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }
}
