.dashboard-view {
  .dashboard-empty {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/dashboard-empty.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .dashboard-body {
    // overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    margin-top: 0;
    .scrollVertical {
      border-radius: 12px;
    }
  }

  .dashboard__content {
    margin: 20px 5px;
    border-radius: 12px;
    min-width: 800px;
    position: relative;
    flex-grow: 1;
  }
  .dashboard__content-body {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .dashboard__content-body__list {
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }
  .dashboard__list__block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
  }
  .list-view {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
  }
  .content {
    min-width: auto !important;
    margin: 0 !important;
    height: 100%;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .pr-8 {
    padding-right: 8px;
  }
  .pl-7 {
    padding-left: 7px;
  }
  .row-activity {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    .col {
      padding-right: 10px !important;
      padding-left: 10px !important;
      .box {
        padding: 20px;
      }
    }
  }
  .statistical {
    text-align: center;
    height: 100%;
  }
  .statistical-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
    color: #bbbbfd;
    white-space: initial;
  }
  .statistical-content {
    margin-bottom: 1.5rem;
  }
  .statistical-amount {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-left: 1rem;
    font-size: 16px !important;
    // line-height: 1.5 !important;
  }
  .statistical-label {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 16px !important;
    // line-height: inherit;
  }
  .fa-trophy-1 {
    color: #ffc108;
  }
  .fa-trophy-2 {
    color: #c3d1de;
  }
  .fa-trophy-3 {
    color: #c57d77;
  }

  .menu-dashboard {
    .p-menu {
      width: 23rem;
      top: unset !important;
      left: unset !important;
    }
  }
  .gridster {
    scrollbar-width: thin;
  }

  @media only screen and (max-width: 1900px) {
    .kpi-date-type {
      // flex: 0 265px;
      // max-width: 300px;
      flex: 0 155px;
      max-width: 155px;
    }
    .kpi-date-picker {
      flex: 0 165px;
      max-width: 165px;
    }
  }

  .p-w-5 {
    padding: 0 5px;
    max-width: 250px !important;
  }

  @media only screen and (max-width: 1500px) {
    .p-w-5 {
      max-width: 165px !important;
    }
  }
}
