<div class="right-view dashboard-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'dashboard.title' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <!-- <div *ngIf="!isHO" class="btn-group">
        <button type="button" class="btn btn--light-blue btn-small" (click)="menu.toggle($event)">
          <em class="las la-tachometer-alt mr-2"></em>{{ selected.label }}<em class="pi pi-chevron-down ml-2"></em>
        </button>
        <button class="btn-icon--small btn btn-icon btn-search border-left" (click)="pin()">
          <em *ngIf="!selected.pin" class="las la-thumbtack"></em>
          <em *ngIf="selected.pin" class="fa fa-thumb-tack"></em>
        </button>
      </div>
      <p-menu #menu class="menu-dashboard" [popup]="true" [model]="rowMenu"></p-menu> -->
    </div>
  </div>
  <div class="dashboard-body">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card p-4 text-left">
      <div class="row">
        <div class="px-4" style="align-self: flex-end" *ngIf="isShowPinButton()">
          <button class="btn-icon--small btn btn-icon btn-search border-left" (click)="pin()">
            <em
              [class]="currentType === form.get('type').value ? 'fa fa-thumb-tack' : 'las la-thumbtack'"
              class="f-14"
            ></em>
          </button>
        </div>
        <div class="col-md-2" [formGroup]="form">
          <label>Đối tượng khách hàng</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            [options]="listDivision"
            class="d-block"
            formControlName="divisionCode"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="name"
            optionValue="code"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </div>
        <div class="col-1.5" [formGroup]="form">
          <label>Loại dashboard</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            [options]="listType"
            class="d-block"
            formControlName="type"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="name"
            optionValue="code"
            [autoDisplayFirst]="false"
          ></p-dropdown>
        </div>
        <ng-container
          *ngIf="!isRm && (form.get('type').value === 'DASHBOARD_BUSSINESS' || form.get('type').value === 'DASHBOARD_CUSTOMER')"
        >
          <div class="col-md-2" [formGroup]="form" *ngIf="!isRm">
            <label>{{ 'fields.branch' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="listBranchDashbroad"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="branchCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"

            ></p-dropdown>
          </div>
        </ng-container>

        <ng-container
          *ngIf="isShowDashboardFilter()"
        >
          <div *ngIf="!isRm" class="col-2" [formGroup]="form">
            <label>Chiều dashboard</label>
            <div class="block-center-between mt-2">
              <div class="p-field-radiobutton">
                <p-radioButton formControlName="isRegion" [value]="false"></p-radioButton>
                <label class="ml-3">RM</label>
              </div>
              <div class="p-field-radiobutton" *ngIf="listBranchTerm.length">
                <p-radioButton formControlName="isRegion" [value]="true"></p-radioButton>
                <label class="ml-3">Chi nhánh</label>
              </div>
            </div>
          </div>
          <div class="col-1.5 p-w-5" [formGroup]="form" *ngIf="form.get('isRegion').value">
            <label>Vùng</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="listRegion"
              class="d-block"
              formControlName="regionCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="locationName"
              optionValue="locationCode"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-dropdown>
          </div>
          <div class="col-md-2 p-w-5" [formGroup]="form" *ngIf="isShowBranchLevel1()">
            <label>Chi nhánh cấp 1</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="branchLv1List"
              class="d-block"
              formControlName="branchCodeLv1"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="displayName"
              optionValue="code"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-dropdown>
          </div>
          <div *ngIf="!isRm" class="col-md-2" [ngClass]="{'p-w-5': form.get('isRegion').value}" [formGroup]="form">
            <label>{{form.get('isRegion').value && form.get('type').value !== 'DASHBOARD_CAMPAIGN' ? 'Chi nhánh cấp 2' : 'Chi nhánh'}}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="listBranch"
              class="d-block"
              formControlName="branchCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="displayName"
              optionValue="code"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-dropdown>
          </div>
          <div class="col-md-2" [formGroup]="form" *ngIf="isShowRMdroplist()">
            <label>RM</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="listRM"
              class="d-block"
              formControlName="rmCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-dropdown>
          </div>

          <div class="col-md-2" [formGroup]="form" *ngIf="isShowCampaigndroplist()">
            <label>Chiến dịch</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="listCampaign"
              class="d-block"
              formControlName="campaigns"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-dropdown>
          </div>

          <div *ngIf="form.get('type').value === 'CUSTOMER_DASHBOARD'" class="col-md-1 kpi-date-picker" [formGroup]="form">
            <label>{{ 'Ngày dữ liệu ' }}</label>
            <p-calendar
              class="d-block custom-calendar"
              formControlName="date"
              [dateFormat]="dateFormatList.day"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              [showIcon]="true"
              icon="las la-calendar-alt"
              [maxDate]="now"
            >
            </p-calendar>
          </div>
        </ng-container>

        <ng-container *ngIf="form.get('type').value === 'KPI_DASHBOARD'">
          <div class="col-md-1 mr-5" [formGroup]="form">
            <label>Kỳ</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="kpiPeriods"
              class="d-block"
              formControlName="dateType"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>
          <div class="col-md-1 kpi-date-picker" [formGroup]="form"  *ngIf="kpiMonthPicker">
            <label>{{ datePickerLabel[form.get('dateType').value]?.from }}</label>
            <p-calendar
              class="d-block custom-calendar"
              formControlName="fromDate"
              [dateFormat]="'mm/yy'"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              [showIcon]="true"
              [view]="'month'"
              icon="las la-calendar-alt"
              [maxDate]="kpiMaxDate"
              [disabled]="true"
            >
            </p-calendar>
          </div>
          <div class="col-md-1 kpi-date-picker" [formGroup]="form" *ngIf="kpiMonthPicker">
            <label>{{ datePickerLabel[form.get('dateType').value]?.to }}</label>
            <p-calendar
              class="d-block custom-calendar"
              formControlName="toDate"
              [dateFormat]="'mm/yy'"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              [showIcon]="true"
              [view]="'month'"
              icon="las la-calendar-alt"
              [maxDate]="kpiMaxDate"
            >
            </p-calendar>
          </div>
          <div class="col-md-1 kpi-date-picker" [formGroup]="form"  *ngIf="!kpiMonthPicker">
            <label>{{ datePickerLabel[form.get('dateType').value]?.from }}</label>
            <p-calendar
              class="d-block custom-calendar"
              formControlName="fromDate"
              [dateFormat]="'dd/mm/yy'"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              [showIcon]="true"
              [view]="'date'"
              icon="las la-calendar-alt"
              [maxDate]="kpiMaxDate"
              [disabled]="true"
            >
            </p-calendar>
          </div>
          <div class="col-md-1 kpi-date-picker" [formGroup]="form" *ngIf="!kpiMonthPicker">
            <label>{{ datePickerLabel[form.get('dateType').value]?.to }}</label>
            <p-calendar
              class="d-block custom-calendar"
              formControlName="toDate"
              [dateFormat]="'dd/mm/yy'"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              [showIcon]="true"
              [view]="'date'"
              icon="las la-calendar-alt"
              [maxDate]="kpiMaxDate"
            >
            </p-calendar>
            </div>
          <div class="col-md-2" [formGroup]="form">
            <label>RM</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="listRM"
              class="d-block"
              formControlName="rmCode"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
              [filter]="true"
              [virtualScroll]="true"
              [itemSize]="31"
              [optionDisabled]="'active'"
              [disabled]="isNormalRm ? true : false"
            ></p-dropdown>
          </div>

        </ng-container>

        <ng-container *ngIf="!isRm && form.get('type').value === 'DASHBOARD_CARD'">
          <div class="col-md-3">
            <label class="" for="facilityCode">Chi nhánh</label>
            <lp-branches [listBranch]="facilities" [(model)]="facilityCode" (modelChange)="changeBranch($event)">
            </lp-branches>
          </div>
        </ng-container>
        <ng-container *ngIf="(form.get('divisionCode').value === 'SME' || form.get('divisionCode').value === 'CIB')&& form.get('type').value === 'BUSINESS_DASHBOARD'">
          <div class="col-md-1 mr-5" [formGroup]="form">
            <label>Kỳ</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              [options]="SMEPeriods"
              class="d-block"
              formControlName="periodsSME"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>
        </ng-container>
      </div>
    </div>
    <gridster *ngIf="!showEmbedded" gridDashboard class="gridster" [options]="options">
      <gridster-item class="gridster-item" [item]="item" *ngFor="let item of dashboard">
        <div class="gridster__item-body">
          <ndc-dynamic
            [ndcDynamicComponent]="item.component"
            [ndcDynamicInputs]="{
              widget: item,
              resizeEvent: resizeEvent,
              viewChange: viewChange,
              data: item.data,
              input: item.input
            }"
          >
          </ndc-dynamic>
        </div>
      </gridster-item>
    </gridster>
    <!-- <app-customer-funnel-chart></app-customer-funnel-chart> -->
    <!-- <iframe style="z-index: 100" *ngIf="showEmbedded" id="iframeId" class="h-100 w-100" [src]="source" frameborder="0">
    </iframe> -->
    <app-inv-bussiness *ngIf="showEmbedded && branchFilter"
                       [isRm]="isRm" [branchCodeFilter]='branchFilter' [state] = 'state' [listBranch] = 'lstBranchDashboardBusiness'
                       (onLoading)="onShowLoading($event)"></app-inv-bussiness>
  </div>
</div>
