<div class="customer-sme-obligation-other">
  <div class="m-0 content__top block-center-between mx-0">
    <div class="content__top-left block-center"></div>
    <div class="content__top-right">
      <!-- <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="export()">
        <em class="las la-file-excel f-16"></em>
      </button> -->
      <p class="font-italic" *ngIf="model">Ngày dữ liệu: {{model?.dsnapShotDt}}</p>
    </div>
  </div>
  <div class="table__view">
    <table aria-hidden="true" class="table-border-first" #customerObligation>
      <ng-container>
        <thead class="table-header">
          <tr>
            <th scope="col" class="border-col w-50 text-center">
              {{ 'rm.fields.index' | translate }}
            </th>
            <th scope="col" class="border-col w-250 text-center">{{ 'fields.bank' | translate }}</th>
            <th scope="col" class="colspan-border w-200 text-center">
              {{ 'customer360.fields.classify' | translate }}
            </th>
            <th scope="col" class="colspan-border w-150 text-center">
              {{ 'fields.card' | translate }} {{'(Tr.đồng)'}}
            </th>
            <th scope="col" class="colspan-border w-150 text-center">
              {{ 'fields.bond' | translate }} {{'(Tr.đồng)'}}
            </th>
            <th scope="col" class="colspan-border w-250 text-center">
              {{ 'fields.foreignCurrencyCommitment' | translate }} {{'(Tr.đồng)'}}
            </th>
          </tr>
        </thead>
      </ng-container>
      <ng-container>
        <tr *ngFor="let data of models; let index = index">
          <td class="border-bottom text-center">{{ index + 1 }}</td>
          <td class="border-bottom text-left">
            <span class="mr-3" title="{{ getValue(data, 'creditOrgName') }}">{{
              getTruncateValue(data, 'creditOrgName', 70)
            }}</span>
          </td>
          <td class="border-bottom text-left">
            <span class="ml-3" title="{{ getSubstringValue(data, 'gprDebitLoan') }}"
              >{{ 'customer.fields.sectorName' | translate }} {{ getSubstringValue(data, 'gprDebitLoan') }}</span
            >
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(data, 'cardAmt') }}">{{ getCostValue(data, 'cardAmt') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(data, 'bondAmt') }}">{{ getCostValue(data, 'bondAmt') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(data, 'commtAmt') }}">{{ getCostValue(data, 'commtAmt') }}</span>
          </td>
        </tr>
        <tr *ngIf="show_data">
          <td [attr.colspan]="3" class="border-bottom text-center data-total">{{ 'fields.total' | translate }}</td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(model, 'totalCardAmt') }}">{{ getCostValue(model, 'totalCardAmt') }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(model, 'totalBondAmt') }}">{{ getCostValue(model, 'totalBondAmt') }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(model, 'totalCommtAmt') }}">{{ getCostValue(model, 'totalCommtAmt') }}</span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!show_data">
        <tr>
          <td class="data-empty text-center" [attr.colspan]="6">
            <span class="text-center">{{ 'messageTable.emptyMessage' | translate }}</span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
