<div class="modal-header pb-4">
  <div class="m-0">
    <h5>{{ 'btnAction.changeStage' | translate }}</h5>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<div class="modal-body">
  <div  class="row">
    <div class="col-md-6 form-group" [formGroup]="form">
      <label>{{ 'fields.stage' | translate }} <span class="text-red">(*)</span></label>
      <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="lanes"
                  [autofocus]="false" placeholder=" " class="d-block" formControlName="status" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="status">
      </p-dropdown>
      <small class="p-error"
             *ngIf="form?.controls?.status?.errors?.cusRequired && form?.controls?.status?.touched && isValidator">{{
        'validationMessage.required' |
          translate }}</small>
    </div>
    <div *ngIf="workflowType === 'OPPORTUNITY' && showFormProduct" class="col-md-6 form-group"
         [formGroup]="form">
      <label>{{ 'fields.product' | translate }}</label> <span class="text-red"> (*)</span>
      <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="listProductChild" [autofocus]="false" placeholder=" " [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate}}" class="d-block"
                  formControlName="product" appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                  optionValue="code">
      </p-dropdown>
      <small class="p-error" *ngIf="form?.controls?.product?.errors?.cusRequired && form?.controls?.product?.touched && isValidator">{{
        'validationMessage.required' |
          translate }}</small>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
    <button class="btn btn--light-blue ml-3" (click)="changeStage()">{{ 'btnAction.record' | translate
      }}</button>
  </div>
</div>

