<div class="customer-loan-balance">
  <div *ngIf="userFor != 'INDIV'"
       class=" {{ userFor != 'annex' ? 'table__view' : ''}}">
    <table aria-hidden="true"
           class="table-border-first"
           #customerLoanBalance>
      <ng-container>
        <thead class="table-header">
          <tr>
            <th scope="col"
                [attr.rowspan]="2"
                class="border-col w-60 text-center">
              {{ 'rm.fields.index' | translate }}
            </th>
            <th [attr.rowspan]="2"
                class="border-col text-center {{ userFor != 'annex' ? 'w-250' : ''}}">{{ 'fields.bank' | translate }}
            </th>
            <th scope="col"
                [attr.rowspan]="2"
                class="colspan-border w-100 text-center">
                {{ 'customer360.fields.classify' | translate }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
                {{ userFor ? 'Nợ ngắn hạn (trđ)' : ('fields.shortTermDebt' | translate) }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
                {{ userFor ? 'Nợ trung dài hạn (trđ)' : ('fields.mediumLongTermDebt' | translate) }}
            </th>
            <ng-container *ngIf="userFor != 'annex'">
              <th scope="col"
                  [attr.colspan]="2"
                  class="colspan-border w-250 text-center">
                {{ userFor ? 'Nợ khác (trđ)' : ('fields.otherDebt' | translate) }}
              </th>
              <th scope="col"
                  [attr.colspan]="2"
                  class="colspan-border w-250 text-center">
                {{ userFor ? 'Nợ xấu khác (trđ)' : ('fields.otherBadDebt' | translate) }}
              </th>
              <th scope="col"
                  [attr.colspan]="2"
                  class="colspan-border w-250 text-center">
                {{ userFor ? 'Tổng dư nợ (trđ)' : ('fields.totalDebit' | translate) }}
              </th>
            </ng-container>

          </tr>
          <tr>
            <th scope="col"
                class="border-col w-100">{{ (userFor ? 'reductionProposal.labels.debtTrd' : 'fields.debtVND') | translate }}</th>
            <th class="border-col w-150">{{ 'fields.debtForeign' | translate }}</th>
            <th scope="col"
                class="border-col w-100">{{ (userFor ? 'reductionProposal.labels.debtTrd' : 'fields.debtVND') | translate }}</th>
            <th scope="col"
                class="border-col w-150">{{ 'fields.debtForeign' | translate }}</th>
            <ng-container *ngIf="userFor != 'annex'">
              <th scope="col"
                  class="border-col w-100">{{ (userFor ? 'reductionProposal.labels.debtTrd' : 'fields.debtVND') | translate }}</th>
              <th scope="col"
                  class="border-col w-150">{{ 'fields.debtForeign' | translate }}</th>
              <th scope="col"
                  class="border-col w-100">{{ (userFor ? 'reductionProposal.labels.debtTrd' : 'fields.debtVND') | translate }}</th>
              <th scope="col"
                  class="border-col w-150">{{ 'fields.debtForeign' | translate }}</th>
              <th scope="col"
                  class="border-col w-100">{{ (userFor ? 'reductionProposal.labels.debtTrd' : 'fields.debtVND') | translate }}</th>
              <th scope="col"
                  class="border-col w-150">{{ 'fields.debtForeign' | translate }}</th>
            </ng-container>
          </tr>
        </thead>
      </ng-container>
      <ng-container *ngIf="show_data">
        <tr *ngFor="let item of models; let index = index">
          <td class="border-bottom text-center">{{ index + 1 }}</td>
          <td class="border-bottom text-custom-left">
            <span class="mr-3"
                  title="{{ getValue(item, 'creditOrgName') }}">{{
              getTruncateValue(item,'creditOrgName', 70)
              }}</span>
          </td>
          <td class="border-bottom text-custom-left">
            <span class="ml-3"
                  title="{{ getSubstringValue(item, 'gprDebitLoan') }}">{{ 'customer.fields.sectorName' | translate }}
              {{ getSubstringValue(item, 'gprDebitLoan') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtShortVnd') }}">{{ getCostValue(item,'debtShortVnd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtShortUsd') }}">{{ getCostValue(item,'debtShortUsd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtMediumLongVnd') }}">{{
              getCostValue(item, 'debtMediumLongVnd')
              }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span title="{{ getCostValue(item, 'debtMediumLongUsd') }}">{{
              getCostValue(item,'debtMediumLongUsd')
              }}</span>
          </td>
          <ng-container *ngIf="userFor != 'annex'">
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'debtOtherVnd') }}">{{ getCostValue(item,'debtOtherVnd') }}</span>
            </td>
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'debtOtherUsd') }}">{{ getCostValue(item,'debtOtherUsd') }}</span>
            </td>
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'debtBadVnd') }}">{{ getCostValue(item,'debtBadVnd') }}</span>
            </td>
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'debtBadUsd') }}">{{ getCostValue(item,'debtBadUsd') }}</span>
            </td>
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'totalLoanVND') }}">{{ getCostValue(item, 'totalLoanVND') }}</span>
            </td>
            <td class="border-bottom text-custom-right">
              <span title="{{ getCostValue(item, 'totalLoanUSD') }}">{{ getCostValue(item, 'totalLoanUSD') }}</span>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </div>
  <div *ngIf="userFor == 'INDIV'"
       class=" {{ 'table__view' }}">
    <table aria-hidden="true"
           class="table-border-first"
           #customerLoanBalance>
      <ng-container>
        <thead class="table-header">
          <tr>
            <th scope="col"
                [attr.rowspan]="2"
                class="border-col w-60 text-center">
              {{ 'STT' }}
            </th>
            <th [attr.rowspan]="2"
                class="border-col text-center {{ 'w-250' }}">{{ 'Tên TCTD' }}
            </th>
            <th [attr.rowspan]="2"
                class="border-col text-center">{{ 'Nhóm nợ'}}
            </th>
            <th scope="col"
                [attr.rowspan]="2"
                class="colspan-border w-100 text-center">{{'Ngày báo cáo' }}
            </th>
            <th scope="col"
                [attr.colspan]="1"
                class="colspan-border w-100 text-center">
              {{ 'Tổng' }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
              {{ 'Nợ ngắn hạn' }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
              {{ 'Nợ trung hạn' }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
              {{ 'Nợ dài hạn'}}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
              {{ 'Khác' }}
            </th>
            <th scope="col"
                [attr.colspan]="2"
                class="colspan-border w-250 text-center">
              {{ 'Nợ xấu khác' }}
            </th>
          </tr>
          <tr>
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <!-- <th class="border-col w-100">{{ 'Dư nợ (USD)' }}</th> -->
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <th class="border-col w-150">{{ 'Dư nợ (USD)'}}</th>
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <th class="border-col w-150">{{ 'Dư nợ (USD)'}}</th>
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <th class="border-col w-150">{{ 'Dư nợ (USD)'}}</th>
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <th class="border-col w-150">{{ 'Dư nợ (USD)'}}</th>
            <th class="border-col w-100">{{ 'Dư nợ (VNĐ)' }}</th>
            <th class="border-col w-150">{{ 'Dư nợ (USD)'}}</th>
          </tr>
        </thead>
      </ng-container>
      <ng-container *ngIf="show_data">
        <tr *ngFor="let item of models; let index = index">
          <td class="border-bottom text-center">{{ index + 1 }}</td>
          <td class="border-bottom text-custom-left">
            <span class="mr-3">{{
              getTruncateValue(item, 'credit_org_name', 70)
              }}</span>
          </td>
          <td class="border-bottom text-custom-left">
            <span class="ml-3">{{ 'customer.fields.sectorName' | translate }}
              {{ getSubstringValue(item, 'gpr_debit_loan') }}</span>
          </td>
          <td>
            <span>
              {{item?.cic_date ? (item?.cic_date | date:'dd/MM/yyyy') : '--'  }}
            </span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'sum_debt_vnd') }}</span>
          </td>
          <!-- <td class="border-bottom text-custom-right">
            <span>{{ '--' }}</span>
          </td> -->
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_short_vnd' ) }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_short_usd' ) }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{getCostValue(item, 'debt_medium_vnd')}}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{getCostValue(item,'debt_medium_usd')}}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_long_vnd' ) }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_long_usd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item, 'debt_other_vnd') }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_other_usd' ) }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_bad_vnd' ) }}</span>
          </td>
          <td class="border-bottom text-custom-right">
            <span>{{ getCostValue(item,'debt_bad_usd' ) }}</span>
          </td>
        </tr>
      </ng-container>
      <tfoot class="table-footer">
        <tr>
          <td>Tổng</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'sum_debt_vnd') | formatNumber}}</td>
          <!-- <td>{{getToltalByProperty(models, '') | formatNumber}}</td> -->
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_short_vnd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_short_usd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_medium_vnd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_medium_usd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_long_vnd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_long_usd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_other_vnd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_other_usd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_bad_vnd') | formatNumber}}</td>
          <td class="text-custom-right">{{getToltalByProperty(models, 'debt_bad_usd') | formatNumber}}</td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
<div class="d-flex justify-content-center w-100 pt-3">
  <ng-container *ngIf="!show_data">
    <span class="data-empty-text-center">{{ 'messageTable.emptyMessage' | translate }}</span>
  </ng-container>
</div>