.job-item {
  position: relative;
  white-space: break-spaces;
  border-bottom: 1px solid #E3E3E3;
}
.badge-border {
  /*border: 1px solid #FF4271;*/
}

.job-item.badge-danger {
  padding: 8px 19px 14px 5px;
  background-color: #FFFFFF;
  color: #FF4271;
}

.job-item.badge-success {
  padding: 8px 19px 14px 5px;
  background-color: #FFFFFF;
  color: #25BA89;

}

.job-item.badge-primary {
  padding: 8px 19px 14px 5px;
  background-color: #FFFFFF;
  color: #1badde;
}
.job-item.badge-blur {
  padding: 8px 19px 14px 5px;
  background: rgba(174, 175, 180, 0.1);
  border-radius: 4px;
  color: #AEAFB4;
}
.badge-danger-title{
  background-color: rgb(255, 66, 113, 0.1);
  margin: -3px 0px 0px 0px;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}
.badge-success-title{
  background-color: rgb(37, 186, 137, 0.1);
  margin: -3px 0px 0px 0px;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}
.badge-primary-title{
  background-color: rgba(100, 188, 237, 0.1);
  margin: -3px 0px 0px 0px;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
}
.badge-blur-title{
  background: rgba(174, 175, 180, 0.1);
  margin: -3px 0px 0px 0px;
  border-radius: 4px;
  padding: 3px;
  font-weight: bold;
}
.star-icon{
  width: 17px;
}
.chat-icon {
  width: 13px;
  margin-left: 12px;
}
.btn-chat {
  right: 10px;
  top: 10px;
}
.me-2 {
  margin-right: .5rem !important
}
