<div *ngIf="this.index < 2 || this.isViewPersonal"  class="job-item" [ngClass]="this.getStatusClass()" (click)="openDetail()">
  <div  *ngIf="this.job.status === 'REJECT'" style="background-color: red; height: 1px; position: absolute;right: 0;left: 0;top: 50%;"></div>
  <div class="mb-3">
    <span class="me-2 btn-star "
          *ngIf="this.isShowBtnStar() ">
      <img class="star-icon" src="assets/images/sme/star-{{this.getImageFillByStatus()}}.svg"/>
    </span>
    <span>{{this.job.startDisplay | date : 'HH:mm'}} - {{this.job.endDisplay| date : 'HH:mm'}}</span>
    <span class="float-right"  [ngClass]="this.getTitleClass()">
  {{this.job.name}}
</span>
  </div>
  <div >
<!--    <span class="text-truncate position-absolute" *ngIf="this.job.status === 'REJECT'" style="color: red">───────────────────────────</span>-->
  <span>
    {{this.getLimitLength( this.job.description, 40)}}
  </span>
    <span class="btn-chat" *ngIf="isShowBtnChat()">
    <img class="chat-icon" src="assets/images/sme/icon-comment.svg"/>
  </span>
  </div>
</div>
