<div class="h-100">
    <div [formGroup]="form" style="height: 30%;">
        <h2 class="px-3">HĐV thời điểm</h2>
        <div class="m-3 w-50">
            <label>Kỳ hạn</label>
            <p-dropdown class="width" [appendTo]="'body'" optionLabel="name" optionValue="code" [options]="options"
                formControlName="period" [placeholder]="'Kỳ hạn'">
            </p-dropdown>
        </div>
    </div>
    <div *ngIf="option" style="height: 70%;" echarts [options]="option"></div>
    <div *ngIf="!option" style="height: 70%;" class="d-flex justify-content-center align-items-center">
        Không có dữ liệu
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
</div>