
<p-toast #toast class = "notify-alert" position="top-right" >
    <ng-template let-message  pTemplate="message">
      <div class="flex flex-column"  #el style="flex: 1" (click)="goDetaiNotify(el,message)">
  <!--      <app-loading *ngIf="isLoading"></app-loading>-->
        <div class="row t-content">
          <div class="col-2">
            <em class="las icon-alert-calendar"></em>
          </div>
          <div class="col-10">
            <div class="d-block pb-3">
              <h4 style="color: #141ED2;" class="d-inline">{{title}}</h4>
            </div>
            <div>
              <h6>{{message.summary}}</h6>
              <p>{{message.detail}}</p>
            </div>
          </div>
        </div>
        <div class="grid p-fluid row pt-3">
          <div class="col-6"></div>
          <p #el class="pointer text-center" (click)="clear(el,message,true)">Đóng</p>
        </div>
      </div>
    </ng-template>
  </p-toast>