.notify-alert {
    button {
      min-width: 10rem;
      margin-right: .5rem;
    }
  
    @media screen and (max-width: 960px) {
      button {
        width: 100%;
        margin-bottom: .5rem;
      }
    }
    .p-toast {
      width: 48rem !important;
      //width: 480px;
      //height: 167px;
  
      .p-toast-message.p-toast-message-success {
        background: #F9F9F9;
        border-radius: 12px;
        border: none;
  
        .p-toast-icon-close {
          display: none;
        }
      }
    }
    .t-content {
      padding: 20px 16px 0px 22px;
    }
    .time {
      background: #EAEAEA;
      border-radius: 54px;
      width: 87px;
      height: 32px;
      align-items: center;
      display: flex;
      padding-left: 10px;
      color: #818181;
      font-family: 'Averta Std CY';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
    }
  
    .no-repeat {
      color: #FF1A12;
      font-family: 'Averta Std CY';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    .close-alert {
      font-family: 'Averta Std CY';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #818181;
    }
  
    .color-orange {
      color: #FF6B00;
    }
  }
  
  .icon-alert-calendar {
    background-image: url('src/assets/images/sme/alert-calendar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 48px;
    height: 48px;
  }
  