<div class="right-view extensions-compare-product">
  <div class="content">
    <!--<app-loading *ngIf="isLoading"></app-loading>-->
    <div class="content-body">
      <app-loading *ngIf="isLoading"></app-loading>
      <div class="content-body__list">
        <div class='content__top-left block-center'>
          <button (click)='back()' class='btn btn--light-blue btn-small'>
            <em class='las la-undo f-16'></em>
            {{ 'btnAction.back' | translate }}
          </button>
          <h3 class='mb-0 page--title p-18'>
            {{ 'extensions.salekit.compare' | translate }}
          </h3>
        </div>
        <div class="block-between compare-frame" >
          <div class="compare-title block-between p-18" *ngIf="productFirst">
            <div class="compare-title">
              <label class="compare-title-header">{{productFirst.name}}</label>
              <p>Cập nhật lần cuối: <b>{{productFirst.upDatedDate}}</b> - Ngày hiệu lực: <b>{{productFirst.effectiveDate}}</b></p>
            </div>

            <div class="mt-5">
              <button class=" btn--light-blue btn-icon--small btn-custom"
                      mat-button [matMenuTriggerFor]="beforeMenu">
                <em class="la-envelope-custom"></em>
              </button>
              <mat-menu #beforeMenu="matMenu" yPosition="below" xPosition="before">
                <div class="scroll-view" mat-menu-item *ngFor="let item of productItems">
                  <div class="row" (click)="viewProductFirst(item)">
                    <span class="pl-2 compare-condition" title="{{ item.name }}">
                      {{item.name}}
                    </span>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
          <div class="compare-title block-between  p-18" *ngIf="productSecond">
            <div class="compare-title">
              <label class="compare-title-header">{{productSecond.name}}</label>
              <p>Cập nhật lần cuối: <b>{{productSecond.upDatedDate}}</b> - Ngày hiệu lực: <b>{{productSecond.effectiveDate}}</b></p>
            </div>
            <div class="mt-5">
              <button class="btn--light-blue btn-icon--small btn-custom"
                      mat-button [matMenuTriggerFor]="beforeMenu">

                <em class="la-envelope-custom"></em>
              </button>
              <mat-menu #beforeMenu="matMenu" yPosition="below" xPosition="before">
                <div class="" mat-menu-item *ngFor="let item of productItems">
                  <div class="row" (click)="viewProductSecond(item)">
                    <span class="pl-2 compare-condition" title="{{ item.name }}">
                      {{item.name}}
                    </span>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
        </div>

        <div class="flex-grow-1 block-table mt-3 scroll-view">
          <div>
            <h5 class="m-3">Danh sách đặc tính sản phẩm</h5>
            <hr>
          </div>
          <div class="flex-grow-1 content-body__list" *ngIf="productFirst && productFirst.attributes.length > 0">
            <div  class = "vertical col-md-0"></div>
            <div class="compare-body-content block-between inner" *ngFor="let item of productFirst.attributes; let i = index">
              <div class="compare-title m-3" *ngIf="item?.isCompare">
                <label class="title-attribute">{{item.name}}</label>
                <div [innerHTML]="item.content" class="attribute-detail-body pr-2"></div>
              </div>
              <div class="compare-title m-3" *ngIf="productSecond.attributes[i]?.isCompare">
                <label class="title-attribute">{{productSecond.attributes[i].name}}</label>
                <div [innerHTML]="productSecond.attributes[i].content" class="attribute-detail-body"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
