@import 'variable';

.extensions-compare-product {
  //display: flex;
  //flex-direction: column;
  //top: 0;
  //right: 0;
  //left: 0;
  //bottom: 0;
  //@media only screen and (max-width: 1919px) and (min-width: 1280px) {
  //  // height: calc(100% - 150px);
  //}

 // font-family: Lato;
 // font-size: 16px;
  font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;

  .scroll-view {
    overflow: scroll;
  }

  .content-body__list {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  }

  .content-body {
    background-color: $body-bg;
    padding: 0;
  }

  .block-table {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
  }

  .compare-frame {
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
  }

  .compare-title {
    flex: 1;
  }

  .compare-body {
    background-color: #fff;
    border-radius: 10px;
  }

  .compare-body-title {
    height: 40px;
  }


  .compare-body-content {

    display: flex;
    flex-direction: row;
  }


  .attribute-list {
    padding: 0;
  }

  .attribute-item {
    list-style-type: none;
  //  min-height: 60px;
    align-items: center;
    justify-content: center;

  }

  .attribute-detail-body {
    white-space: break-spaces;
  }

  .vertical {
    border-left: 1px solid #dcd5d5;
    height: 100%;
    position: absolute;
    left: 49%;
  }

  .la-envelope-custom {
    background-image: url("src/assets/images/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
//    background-size: contain;
    display: block;
    width: 12px;
    height: 12px;
    //padding: 15px;
  }
  .btn-custom {
    background: none!important;
    border: none!important;
  }
}
::ng-deep .mat-menu-content {
  overflow-y: auto;
  max-height:300px;
}
 .title-attribute {
   font-style: normal;
   font-weight: 300;
   line-height: 24px;
   color: #9497bb;
   font-size: 15px;

 }
 .compare-title-header{
   font-weight: 540;
   font-size: 18px;
   max-width: 1000px;
   white-space: normal !important;
   color: #bbbbfd
 }
 .compare-condition{
   min-width: 140px;
   font-size: 13px;
   text-overflow: ellipsis;
   overflow: hidden;
 }

.inner {
  word-break: break-word;
}

