@import 'variable';
.campaign-import-customer{
  .list__block {
    overflow-y: auto;
    background: #fff;
  }

  .title-info {
    margin-bottom: 1.75rem;
    h5 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .file-disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 5;
    cursor: not-allowed;
  }

  .upload {
    width: 300px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    height: 36px;
  }
  .upload__input {
    display: none;
  }

  .p-fileupload-choose {
    width: 100%;
    justify-content: center;
    border-color: $gray-400;
    border-radius: 4px;
    color: $primary;
    &:hover {
      background: none;
      border-color: $gray-400;
      color: $primary;
    }
  }
  .p-button-label {
    flex: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
