<div class="right-view campaign-import-customer">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'campaign.importCustomer' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent">
    <div class="content-body">
      <div class="content-body__list">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="list__block">
          <div class="px-4 mt-3">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'fields.processAssignType' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listProcessAssignType"
                  class="d-block"
                  [(ngModel)]="processAssignType"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-12 form-group">
                <label>{{ 'fields.uploadFileCutomers' | translate }}</label>
                <div class="block-center">
                  <div class="upload block-center" (click)="onchangeFile(inputFile)">
                    <div [class.file-disabled]="fileName"></div>
                    <input
                      #inputFile
                      class="upload__input"
                      type="file"
                      [(ngModel)]="files"
                      accept=".xlsx,.xls,.csv"
                      (change)="handleFileInput($event.target.files)"
                    />
                    <em class="las la-cloud-upload-alt f-20 pointer"></em>
                    <span class="upload__label pointer">{{
                      fileName ? fileName : ('fields.chooseFile' | translate)
                      }}</span>
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                    <em class="las la-times f-20"></em>
                  </button>
                  <button class="btn btn--light-blue btn-small ml-3" [class.disabled]="!fileName" (click)="importFile()">
                    <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                  </button>
                  <button class="btn btn--light-blue btn-small ml-3" (click)="downloadTemplate()">
                    <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 text-left btn-action">
            <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

