.posterContent {
    max-width: 60vw;
    max-height: calc(700px - 30px);

    .imgBody {
        max-width: 700px;
        max-height: 700px;
    }

    .cancel-icon {
        font-size: 20px;
        cursor: pointer;
    }

    .footer {
        button {
            float: right;
        }
    }
}

::ng-deep .poster {
    .mat-dialog-container {
        padding: 5px 15px 15px 15px;
        height: 100%;
        //max-height: calc(55vh - 15px);
    }

}

::ng-deep .cdk-overlay-container {
    z-index: 99999;

}

@media only screen and (max-width: 1280px) {
    .posterContent {
        .imgBody {
            max-width: 700px;
            //max-height: 295px;
        }
    }
}
