<div class="posterContent">
    <div class="header p-d-flex p-jc-between mb-2">
        <div></div>
        <i class="pi pi-times cancel-icon" (click)="close()"></i>
    </div>
    <div class="bn-content">
        <img [style.width.px]="widthImg" [style.heigh.px]="heighImg" class="imgBody" [src]="selectedImg" alt="">
    </div>
</div>
