<div class="chart">
  <div class="chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">Dashboard quản trị thẻ</div>
      <!--      <div class="chart__header-title-total ">Tổng số lượng thẻ: <span class="font-weight-bold">{{data.total}}</span></div>-->
    </div>
    <div class="chart__header-right mr-3" *ngIf="objFunction1 && objFunction1.view">
      <button
        (click)="goReport()"
        class="btn btn-tab--blue btn-small btn-news"
      >Xem chi tiết
      </button>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && data">
    <div class="chart__body position-relative">
      <div id="chartId" (chartClick)="onClickChart($event.data, $event)" echarts [options]="option"
           style="height: 100%;"></div>
      <div class="legend-total legend-total--text">Tổng</div>
      <div class="legend-total legend-total--number">{{formatNumber(data.total)}}</div>
    </div>
    <div class="chart__legend row">
      <div *ngFor="let item of data?.data" class="col-md-4">
        <div class="block-start-between legend-border-card legend-height-card" [ngStyle]="{borderColor: item.color}">
          <h5 class="mr-3">{{item.name}}
          </h5>
          <h5>{{formatNumber(item.value)}}</h5>
        </div>
        <div class="mt-3" style="border-top: 1px solid #EAEAEA;">
        </div>
        <div class="mt-4" *ngFor="let itemDetail of item?.detail">
          <div class="opp-detail manage-card" (click)="onClickChart(itemDetail)"
               [ngClass]="preClickData?.code === itemDetail?.code ? 'active-opp' : ''">
            <div style="display: -webkit-inline-box;">
              <span class="legend-bage-circle" [ngStyle]="{backgroundColor: itemDetail?.color}"></span>
              <div style="margin-right: 10px;">
                <span style="text-indent: 0px; padding-right: 10px;">{{itemDetail?.name}}</span>
              </div>
            </div>
            <div style="margin-left: 5px;">
              <span class="ml-5">{{formatNumber(itemDetail.value)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mr-3 mt-2"><span>Dữ liệu cập nhật ngày {{data.date}}</span></div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !data">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <!--    <app-loading *ngIf="isLoading"></app-loading>-->
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
