.chart {
  overflow-y: auto;
}

.chart__legend {
  height: fit-content;
}

.legend-bage-circle {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-flex;
}

.legend-bage {
  width: 20px;
  height: 10px;
  margin-right: 8px;
  display: inline-block;
}

.legend-border-card {
  border-left: 4px solid;
  padding-left: 10px;
}

.legend-border-card h5 {
  font-size: 1.5rem;
}

.legend-bage-card {
  width: 4px;
  margin-bottom: -7px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 60px;
}

.chart__header-title-total {
  font-weight: 400;
  font-size: 15px;

}

.legend-total {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  &--text {
    top: 43%;
    letter-spacing: 0.5px;
    color: #9F9F9F;
    font-size: 13px;
    font-weight: 400;
    z-index: -1;
  }

  &--number {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    top: 48%;
    z-index: -1;
  }

}

.active-opp {
  background-color: #eff2fe !important;
  color: #1042e5 !important;

}

.opp-detail {
  cursor: pointer;
  font-weight: 600;
}

.manage-card {
  display: flex;
  justify-content: space-between;
}

.chart__body {
  flex: 1;
  margin-bottom: 11px;
}
@media only screen and (max-width: 1900px) {
  .legend-height-card {
    height: 35px;
  }
}
@media only screen and (max-width: 1280px) {
  .legend-height-card {
    height: 55px;
  }
}

