<div class="right-view lead-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Quản lý khách hàng tiềm năng/Thông tin khách hàng</h3>
    </div>
    <div class="content__top-right" *ngIf="customerTypeFromList !== '0'">
      <button class="btn--light-blue btn-icon--small btn" title="{{ 'title.sendMail' | translate }}" mat-button  (click)="mailTo(null)" [matMenuTriggerFor]="beforeMenu">
        <em class="las la-envelope f-16"></em>
      </button>
      <button class="btn--light-blue btn-icon--small btn ml-2" title="{{ 'title.createTask' | translate }}" (click)="createTaskTodo()"
              >
        <em class="icon-create-todo i-16"></em>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div mat-menu-item *ngFor="let item of listEmail">
          <div class="row" (click)="mailTo(item.mail)">
            <div class="pl-2" style="min-width: 140px">
              {{item.position}}
            </div>
            <div class="pr-1">
              {{item.mail}}
            </div>
          </div>
        </div>
      </mat-menu>
      <app-activity-log [leadCode] = "code" [rsId]="objFunction.rsId"></app-activity-log>
    </div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
		<ng-container *ngIf="customerTypeFromList !== '0'">
          <div class="row form-create">
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-7 collapse show pl-0 pr-3" id="detail">
                  <div class="detail-block">
                    <div class="row mb-5">
                      <div class="col-lg-6">
                        <h5 class="m-0">{{ 'address.labelInfoBasic' | translate }}</h5>
                      </div>
                      <div class="col-lg-2">
                      </div>
                      <div class="col-lg-4  ">
                        <span class="float-right" [ngClass]="getClassStatusNew(statusActive)">{{ statusActive }}</span>
                      </div>
                      <div class="col-lg-6 text-right"></div>
                    </div>
                    <div class="row px-4">
                      <div class="col-3" >
                        <label class="detail-key">Tên Doanh nghiệp</label>
                      </div>
                      <div class="col-9 form-group has-error" >
                        <span class="text-wrap" title="{{ data?.fullName }}">{{ getValueNull(data?.fullName) }}
                        </span>
                      </div>
                      <div class="col-3" >
                        <label class="detail-key">{{ 'address.taxCode' | translate }}</label>
                      </div>
                      <div class="col-9 form-group has-error" >
                        <span title="{{ data?.taxCode }}" class="text-wrap">{{ getValueNull(data?.taxCode) }}</span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">Số ĐKKD</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.taxCode }}" class="text-wrap">{{ getValueNull(data?.businessRegistrationNumber) }}</span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.dateEstablished' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                          <span  title="{{ data?.dateOfBirth }}" class="text-wrap">{{ data?.dateOfBirth }}</span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.typeOfEnterprise' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.typeOfBusiness }}" class="text-wrap">{{ getValueNull(data?.typeOfBusiness) }}
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.industry' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.industryOther }}" class="text-wrap">{{ getValueNull(data?.industryOther) }}
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.address' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.address }}" class="text-wrap">{{ data?.address }}
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.NBR_OF_EMP' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.numberOfEmployees }} người" class="text-wrap">{{ data?.numberOfEmployees }} người
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.VN_CAP_AMT' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.vnCapAmt}} VNĐ" class="text-wrap">{{ data?.vnCapAmt}} VNĐ
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.FRG_CAP_AMT' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.frgCapAmt }} VNĐ" class="text-wrap">{{ data?.frgCapAmt }} VNĐ
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'address.TOTAL_INVEST_CAP_AMT' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.totalInvestCapAmt }} VNĐ" class="text-wrap">{{ data?.totalInvestCapAmt }} VNĐ
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">Doanh thu tài chính</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ data?.financialRevenue }} VNĐ" class="text-wrap">{{ data?.financialRevenue }} VNĐ
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">Doanh số XNK </label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ convertNumber(data?.salesImportAndExport?.totalTvrAmt) }} USD" class="text-wrap">{{ convertNumber(data?.salesImportAndExport?.totalTvrAmt) }} USD
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'fields.dsxk_tchq' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ convertNumber(data?.salesImportAndExport?.exportTvrAmt) }} USD" class="text-wrap">{{ convertNumber(data?.salesImportAndExport?.exportTvrAmt) }} USD
                        </span>
                      </div>
                      <div class="col-3" *ngIf="isShow">
                        <label class="detail-key">{{ 'fields.dsnk_tchq' | translate}}</label>
                      </div>
                      <div class="col-9 form-group has-error" *ngIf="isShow">
                        <span title="{{ convertNumber(data?.salesImportAndExport?.importTvrAmt) }} USD" class="text-wrap">{{ convertNumber(data?.salesImportAndExport?.importTvrAmt) }} USD
                        </span>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-2">
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="!isShow">
                              Xem thêm
                            </button>
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="isShow">
                              Thu gọn
                            </button>
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5 collapse show detail-block" >
                  <div class="row mb-5">
                    <div class="col-lg-6">
                      <h5 class="m-0">Thông tin tại MB</h5>
                    </div>
                    <div class="col-lg-6 text-right"></div>
                  </div>
                  <div class="row px-4">
                    <div class="col-4">
                      <label class="detail-key">Code:</label>
                    </div>
                    <div class="col-8 form-group has-error">
                      <span class="text-wrap">---
                      </span>
                    </div>
                    <div class="col-4 ">
                      <label class="detail-key">{{ 'address.warningFirstCheck' | translate}}</label>
                    </div>
                    <div class="col-8 form-group has-error">
                      <span class="text-wrap" title="{{ data?.result}}">{{ getValueNull(data?.result) }}</span>
                    </div>
                    <div class="col-4 " *ngIf="isShow">
                      <label class="detail-key">{{ 'address.statusActive' | translate}}</label>
                    </div>
                    <div class="col-8 form-group has-error" *ngIf="isShow">
                      <span class="text-wrap">---</span>
                    </div>
                    <div class="col-4 " *ngIf="isShow">
                      <label class="detail-key" >{{ 'address.rmManagement' | translate}}</label>
                    </div>
                    <div class="col-8 form-group has-error" *ngIf="isShow">
                      <span class="text-wrap" title="{{ data?.rmCode}}">{{ getValueNull(data?.rmCode) }}</span>
                    </div>
                    <div class="col-4 " *ngIf="isShow">
                      <label class="detail-key">{{ 'address.branch' | translate}}</label>
                    </div>
                    <div class="col-8 form-group has-error" *ngIf="isShow">
                      <span class="text-wrap" title="{{ data?.branchCode}}">{{ getValueNull(data?.branchCode) }}</span>
                    </div>
                    <div class="col-4 " *ngIf="isShow">
                      <label class="detail-key">{{ 'address.mbIndustry' | translate}}</label>
                    </div>
                    <div class="col-8 form-group has-error" *ngIf="isShow">
                      <span class="text-wrap" title="{{ data?.industry}}">{{ getValueNull(data?.industry)}}</span>
                    </div>
                    <div class="col-4 " *ngIf="isShow">
                      <label class="detail-key">Nguồn khách hàng</label>
                    </div>
                    <div class="col-8 form-group has-error" *ngIf="isShow">
                      <span class="text-wrap" title="{{ data?.sourceLead}}">{{ getValueNull(data?.sourceLead)}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <h5 class="m-0">Thông tin chung</h5>
                    </div>
                  </div>
                  <div class="col-12 collapse show" id="detail">
                    <div class="row px-4">
                      <div class="col-md-3">
                        <label class="detail-key">Tên khách hàng đầy đủ </label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.fullName }}">{{ data?.fullName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Mã số thuế</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.taxCode }}">{{ data?.taxCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Ngày đăng ký thành lập doanh nghiệp</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.dateOfBirth }}">{{ data?.dateOfBirth }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Số ĐKKD/QĐTL</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.businessRegistrationNumber }}">{{ data?.businessRegistrationNumber }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Quốc gia</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.nationCode }}">{{ data?.nationCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Email</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.email }}">{{ data?.email }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Điện thoại</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.phone }}">{{ data?.phone }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Nguồn khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.sourceLead }}">{{ data?.sourceLead }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Doanh thu tài chính (đồng)</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.financialRevenue }}">{{ data?.financialRevenue }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Phân khúc khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.segment }}">{{ data?.segment }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Ngành nghề lĩnh vực</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.industry }}">{{ data?.industry }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Số lao động</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.numberOfEmployees }}">{{ data?.numberOfEmployees }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Loại hình doanh nghiệp</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.typeOfBusiness }}">{{ data?.typeOfBusiness }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Doanh số XNK (USD)</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.salesImportAndExport }}">{{ data?.salesImportAndExport }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Địa chỉ</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.address }}">{{ data?.address }}</span>
                      </div>

                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-2">
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="!isShow">
                              Xem thêm
                            </button>
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="isShow">
                              Thu gọn
                            </button>
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 detail-block mb-3">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-5">
                      <div class="col-md-6">
                        <h5 class="m-0">Thông tin hệ thống</h5>
                      </div>
                      <div class="col-md-6 text-right"></div>
                    </div>
                  </div>
                  <div class="col-12 collapse show" id="detail">
                    <div class="row px-4">
                      <div class="col-md-3">
                        <label class="detail-key">Mã khách hàng (CIF)</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.leadCode }}">{{ data?.leadCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Loại khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.customerType }}">{{ data?.customerType }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">CN quản lý</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.branchCode }}">{{ data?.branchCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">RM được phân giao quản lý</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.rmCode }}">{{ data?.rmCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Đơn vị upload</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.branchUpload }}">{{ data?.branchUpload }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Ngày thực hiện upload</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.createdDate }}">{{ data?.createdDate }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-12 detail-block mb-3">
              <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="tabIndex">
                <mat-tab label="Thông tin liên hệ"></mat-tab>
              </mat-tab-group>
            </div>
            <div class="col-12 detail-block mb-4" *ngIf="tabIndex === 0">
              <div *ngIf="isManager"><!-- && data.createdBy !== currUser.username -->
                <div class="row pl-4">
                  <div>
                    <label class="detail-key">{{ 'address.phoneNumber' | translate }} : </label>
                    <span class="text-wrap ml-4">{{ getValueNull(data?.phone) }}</span>
                  </div>
                  <div>
                    <label class="detail-key">{{ 'address.email' | translate }} : </label>
                    <span class="text-wrap ml-4">{{ getValueNull(data?.email) }}</span>
                  </div>
                  <div>
                    <label class="detail-key">{{ 'address.website' | translate }} : </label>
                    <span class="text-wrap ml-4">{{ getValueNull(data?.website) }}</span>
                  </div>
                </div>
                <lead-information-extended-new (onClickMail) = "sendMailToPerson($event)" [data]="data"></lead-information-extended-new>
              </div>
              <div *ngIf="!isManager" class="col-12 collapse show"> <!-- && data.createdBy !== currUser.username -->
                <div class="row pl-4">
                  <h6>{{warningPermission}}</h6>
                </div>
              </div>
            </div>
            </div>
          </ng-container>

          <ng-container *ngIf="customerTypeFromList === '0'">
            <div class="row form-create">
              <div class="col-12 detail-block mb-3">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-5">
                      <div class="col-md-6">
                        <h5 class="m-0">Thông tin chung</h5>
                      </div>
                      <div class="col-md-6 text-right"></div>
                    </div>
                  </div>
                  <div class="col-12 collapse show" id="detail">
                    <div class="row px-4">
                      <div class="col-md-3">
                        <label class="detail-key">Tên khách hàng đầy đủ </label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.customerName }}">{{ data?.customerName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Giấy tờ tùy thân</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.idCard }}">{{ data?.idCard }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Ngày sinh</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.birthday }}">{{ data?.birthday | date: 'dd/MM/y' }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Giới tính</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.genderDisplay }}">{{ data?.genderDisplay }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Quốc gia</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.national }}">{{ data?.national }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Email</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.email }}">{{ data?.email }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Điện thoại</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.phone }}">{{ data?.phone }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Địa chỉ</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.address }}">{{ data?.address }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Định vị</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.longitude }} - {{ data?.latitude }}">{{ data?.longitude }} - {{ data?.latitude }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Mức đồ tiềm năng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.potentialLevelDisplay }}">{{ data?.potentialLevelDisplay }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Nghề nghiệp</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.job }}">{{ data?.job }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Thu nhập/tháng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.incomePerMonth }}">{{ data?.incomePerMonth }}</span>
                      </div>
                      <div class="col-md-3" *ngIf="isShow">
                        <label class="detail-key">Nguồn khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate" *ngIf="isShow">
                        <span title="{{ data?.customerResourcesDisplay }}">{{ data?.customerResourcesDisplay }}</span>
                      </div>

                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-2">
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="!isShow">
                              Xem thêm
                            </button>
                            <button class="btn btn-small btn-outline-primary" (click)="isOpenMore()" *ngIf="isShow">
                              Thu gọn
                            </button>
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 detail-block mb-3">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-5">
                      <div class="col-md-6">
                        <h5 class="m-0">Thông tin hệ thống</h5>
                      </div>
                      <div class="col-md-6 text-right"></div>
                    </div>
                  </div>
                  <div class="col-12 collapse show" id="detail">
                    <div class="row px-4">
                      <div class="col-md-3">
                        <label class="detail-key">Mã khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.leadCode }}">{{ data?.leadCode }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Loại khách hàng</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.customerTypeDisplay }}">{{ data?.customerTypeDisplay }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">CN quản lý</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.branchCode }} - {{ data?.branchName }}">{{ data?.branchCode }} - {{ data?.branchName }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">RM được phân giao quản lý</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.rmCode }} - {{ data?.rmName }}">{{ data?.rmCode }} - {{ data?.rmName }}</span>
                      </div>

                      <div class="col-md-3">
                        <label class="detail-key">Đơn vị upload</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.branchUpload }}">{{ data?.branchUpload }}</span>
                      </div>
                      <div class="col-md-3">
                        <label class="detail-key">Ngày thực hiện upload</label>
                      </div>
                      <div class="col-md-3 form-group text-truncate">
                        <span title="{{ data?.createdDate }}">{{ data?.createdDate | date: 'dd/MM/y' }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
