.lead-detail {
  .detail-block {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    overflow-y: auto;
    border-radius: 12px;
  }
  .item-label {
    min-width: 60px !important;
  }

  .target-detail {
    font-weight: 700;
    font-size: 12px;
  }

  .target-value {
    font-weight: 700;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  .tablecollateral .fullscreen {
    position: relative !important;
  }

  .collateral-table {
    height: 100%;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .table-bscore {
    overflow-x: hidden;
    margin-top: -10px;
  }

  .data-empty {
    border-bottom: none;
  }

  .align-value {
    vertical-align: middle !important;
  }

  .filter-hearder {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    background: #eff2fe;
    padding: 2px 8px;
  }
  .view-more {
    cursor: pointer;
  }

  .btn-custom:hover {
    background: #eff2fe !important;
    border-color: #eff2fe !important;
    color: #2196f3 !important;
  }
  .status-green {
    color: white;
    background: #2EC070;
    border-radius: 6px;
    padding: 10px;
  }
  .status-red {
    color: white;
    background: #FF1A12;
    border-radius: 6px;
    padding: 10px;
  }
  .status-hidden {
    display: none;
  }
  .status-gray {
    color: white;
    background: #9B9B9B;
    border-radius: 6px;
    padding: 10px;
  }
  .status-yellow {
    color: white;
    background: #FAA21B;
    border-radius: 6px;
    padding: 10px;
  }
}
.cus-phone-tooltip,
.cus-email-tooltip {
  .label-tooltip {
    min-width: 80px;
    max-width: 80px;
    padding-right: 15px;
  }

  .top-border {
    border-top: 1px solid #f0f0f3;
  }

  .bottom-border {
    border-bottom: 1px solid #f0f0f3;
  }

  .not-button {
    padding-left: 38px;
  }
}

::ng-deep .mat-menu-panel {
  max-width: 600px !important;
}

.mat-menu-item {
  height: 40px !important;
}
.detail-key{
  padding: 0 15px;
}