<div class="customer-report-finance">
  <app-loading *ngIf="isLoading"></app-loading>
  <mat-tab-group (selectedTabChange)="onChangeTab($event)" [selectedIndex]="tabIndex">
    <mat-tab *ngFor="let item of tabs" [label]="item"></mat-tab>
  </mat-tab-group>
  <div class="col-12 detail-block mb-4">
    <div class="content__top block-center-between mx-0">
      <div class="content__top-left block-center"></div>
      <div class="content__top-right"></div>
    </div>
    <div class="table__view" *ngIf="data">
      <ngx-datatable
        ngxDataTable
        #table
        class="bootstrap"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        rowHeight="auto"
        [scrollbarV]="false"
        [scrollbarH]="true"
        [rows]="listData"
        [virtualization]="false"
        [externalPaging]="false"
        [messages]="messages"
        [columns]="columns"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
