<div class="right-view construction-info">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small btn-back" (click)="back()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <h3 _ngcontent-dcb-c416="" class="ml-3 mb-0 page--title"> Quản lý QĐN/Dòng tiền </h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <div style='padding: 15px' class="content-body">
            <div class=" detail-block mb-3 mt-3">
                <div class="detail-container">
                    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
                        <mat-tab label="{{'debtClaims.tabs.general' | translate}}"></mat-tab>
                        <!-- <mat-tab label="{{'debtClaims.tabs.excessObligation' | translate}}"></mat-tab> -->
                        <mat-tab label="{{'debtClaims.tabs.cashflowTracking' | translate}}"></mat-tab>
                        <!-- <mat-tab label="{{'debtClaims.tabs.debtManagement' | translate}}"></mat-tab> -->
                    </mat-tab-group>
                </div>
            </div>
            <div *ngIf="tabIndex === 0" class="detail-block mb-4 tab-content" >
                <construction-general #general [item]="item"></construction-general>
            </div>
            <div *ngIf="tabIndex === 1" class="detail-block mb-4 tab-content" >
                <construction-cashflow-tracking #tracking [item]="item"></construction-cashflow-tracking>
            </div>
        </div>
    </div>
</div>
