.construction-info {
    .btn-back{
        z-index: 999;
      }
      .list__block {
        overflow-y: auto;
      }
      .mat-tab-label-active{
        font-weight: bold;
      }
      .detail-container .mat-tab-labels{
        border: none;
      }
      .tab-content {
        height: calc(100% - 75px);
        // overflow: auto;
      }
}