<div class="right-view sale-tracking-report">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Danh sách Onboarding</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container>
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="customerCode"
                  (keyup.enter)="search(true)"
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="customerName"
                  (keyup.enter)="search(true)"
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">Mã số thuế</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="taxCode"
                  (keyup.enter)="search(true)"
                />
              </div>
              <div class="col-md-3 form-group" *ngIf="customerType === 'LEAD'">
                <label class="mb-0">Trạng thái</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="sectorLead"
                  [options]="common.sectorLead"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (keyup.enter)="search(true)"
                >
                </p-dropdown>
              </div>

              <div [hidden]="!isOpenMore" class="col-md-3 form-group" *ngIf="customerType !== 'LEAD'">
                <label class="mb-0">Trạng thái</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="sectorCustomer"
                  [options]="common.sectorCustomer"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (keyup.enter)="search(true)"
                >
                </p-dropdown>
              </div>

              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{'saleTrackingReport.startAllotmentDate' | translate}}</label>
                <p-calendar
                  icon="las la-calendar-alt"
                  formControlName="startAllotmentDate"
                  class="d-flex"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [maxDate]="formSearch.get('endAllotmentDate').value"
                  [showTime]="false">
                </p-calendar>
              </div>

              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{'saleTrackingReport.endAllotmentDate' | translate}}</label>
                <p-calendar
                  icon="las la-calendar-alt"
                  formControlName="endAllotmentDate"
                  class="d-flex"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [minDate]="formSearch.get('startAllotmentDate').value"
                  [showTime]="false">
                </p-calendar>
              </div>

              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{'saleTrackingReport.startApproachDate' | translate}}</label>
                <p-calendar
                  icon="las la-calendar-alt"
                  formControlName="startApproachDate"
                  class="d-flex"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [maxDate]="formSearch.get('endApproachDate').value"
                  [showTime]="false">
                </p-calendar>
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group" >
                <label class="mb-0">{{'saleTrackingReport.endApproachDate' | translate}}</label>
                <p-calendar
                  icon="las la-calendar-alt"
                  formControlName="endApproachDate"
                  class="d-flex"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [minDate]="formSearch.get('startApproachDate').value"
                  [showTime]="false">
                </p-calendar>
              </div>
            </div>
            <div [hidden]="!isOpenMore" class="row form-create">
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label class="mb-0">{{'saleTrackingReport.miningStatus' | translate}}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="miningStatus"
                  [options]="common.miningStatus"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (keyup.enter)="search(true)"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
                <branches-by-region [listBranch]="facilities" [(model)]="facilityCode" (keyup.enter)="search(true)"
                  (modelChange)="changeBranch($event)">
                </branches-by-region>
                <!-- <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listBranchManager" placeholder=" " class="d-block" formControlName="branchCode"
                  appendTo="body" optionLabel="name" optionValue="code" [virtualScroll]="true" [itemSize]="31"
                  [autoDisplayFirst]="true" [filter]="true">
                </p-dropdown> [hidden]="!isOpenMore" -->
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.rmManager' | translate }}</label>
                <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listRmManager" class="d-block" [filter]="true" (keyup.enter)="search(true)"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="rmCodes"
                  optionLabel="displayName" optionValue="code" [virtualScroll]="true" [itemSize]="31"></p-multiSelect>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">Loại khách hàng</label>
                <p-dropdown
                  [(ngModel)]="customerType"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="common.typeStatus"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (onChange)="search(true)"
                >
                </p-dropdown>
              </div>
            </div>


            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn-small btn--light-blue" (click)="search(true)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div  class="filter-top__center">
                <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                  <em class="las la-angle-down f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                  <em class="las la-angle-up f-16"></em>
                </button>
              </div>
              <div class="action__right">
                <button
                  class="btn btn--light-blue btn-icon--small"
                  (click)="exportFile()"
                  title="{{ 'btnAction.export' | translate }}"
                  *ngIf="objFunction?.export"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <div class="table__view list_rm">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >

                <ngx-datatable-column
                  prop="customerCode"
                  [width]="100"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerName"
                  [width]="250"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerName' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="taxCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.taxCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="stepChannel"
                  [sortable]="false"
                  [draggable]="false"
                  name="Trạng thái"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}" >{{mapStatus(row)}}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="sla"
                  [sortable]="false"
                  [draggable]="false"
                  name="SLA"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span [ngClass]="value === '00:00' ? 'boder-time-blur': 'boder-time-grey'">
                      {{ value }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="assignedDate"
                  [sortable]="false"
                  [draggable]="false"
                  name="Thời gian phân giao"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | date: 'HH:mm dd/MM/yyyy' }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="approachDate"
                  [sortable]="false"
                  [draggable]="false"
                  name="Thời điểm tiếp cận"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span [ngClass]="classMiningStatus(row)" title="{{ value }}">{{ value | date: 'HH:mm dd/MM/yyyy'  }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="branchName"
                  [sortable]="false"
                  [draggable]="false"
                  name="Đơn vị quản lý"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="manageRM"
                  [sortable]="false"
                  [draggable]="false"
                  name="RM quản lý"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}" >{{value}}</span>
                  </ng-template>
                </ngx-datatable-column>


<!--                <ngx-datatable-column-->
<!--                  prop="miningStatus"-->
<!--                  [sortable]="false"-->
<!--                  [draggable]="false"-->
<!--                  name="Tình trạng khai thác"-->
<!--                >-->
<!--                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>-->
<!--                    <span title="{{ value }}" [ngClass]="classMiningStatus(row)">-->
<!--                      {{ value }}-->
<!--                    </span>-->
<!--                  </ng-template>-->
<!--                </ngx-datatable-column>-->

                <ngx-datatable-column
                  name="Hành động "
                  [width]="120"
                  [frozenRight]="true"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="block-center text-center column-action">

                      <button class="btn--light-blue btn-icon--small btn"
                              mat-button [matMenuTriggerFor]="beforeMenu"
                              title="{{ 'title.sendMail' | translate }}"
                              (click)="getAllMailAndPosition(row)">
                        <em class="las la-envelope f-16"></em>
                      </button>

                      <mat-menu #beforeMenu="matMenu" yPosition="above" xPosition="before">
                        <div mat-menu-item *ngFor="let item of listEmail">
                          <div class="row" (click)="mailTo(row, item.mail)">
                            <div class="pl-2" style="min-width: 140px">
                                {{item.position}}
                            </div>
                            <div class="pr-1">
                                {{item.mail}}
                            </div>
                          </div>
                        </div>
                      </mat-menu>

                      <button class="btn--light-blue btn-icon--small btn ml-2"
                              title="{{ 'title.createTask' | translate }}"
                              (click)="createTaskTodo(row)"
                      >
                        <em class="icon-create-todo i-16"></em>
                      </button>

                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>
        <ng-container >
          <div class="group__create-form px-4 mt-4 messageSaleOpp">
            {{ 'saleOpportunity.permissionOpp' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
