.section {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.import-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBF3FF;
  border-radius: 10px;
  border-style: dashed;
  width: 100%;
  height: 200px;
}
.ic-x {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url(/assets/images/checkx-big-red.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

h6 {
  margin-bottom: 0 !important;
}

.info {
  color: #737373;
}
.isView {
  pointer-events: none;
}
