<div class="modal-header pb-4">
    <div class="block-center-between">
        <h5 class="m-0">{{ 'calendar.titleEditSme' | translate }} </h5>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [formGroup]="form">
      <div class="form-task">
        <div class="row form-group">
          <div class="col-3 form-group mb-0 has-error">
            <label class="mb-1" ><b>{{ 'calendar.type.hd' | translate }} </b></label>
            <p-dropdown formControlName="name" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                        class="event-type border-cus" [options]="listEventType" (onChange)="onChangeWork()"
                        optionLabel="name" optionValue="name" [showClear]="false" [disabled]="flagChecked || !isOriginalRecord">
            </p-dropdown>
            <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && isFieldValid('name')"
                 class="invalid-tooltip">
              {{ 'validationMessage.required' | translate }}
            </div>
          </div>
          <div class="col-3 form-group mb-0 has-error">
            <label class="mb-1"><b>{{ 'fields.startTime' | translate }}</b> <span class="text-red">(*)</span></label>
            <p-calendar formControlName="start" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                        autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optCreateDate?.minDate" (onFocus)="changeStartTime()" (onSelect)="changeStartTime()"
                        icon="las la-calendar-alt" [showTime]="true" [disabled]="flagChecked || !isOriginalRecord || !isUpdateAll">
            </p-calendar>
            <div *ngIf="
                    form.get('start').errors && form.get('start').errors.cusRequired && isFieldValid('start')
                    " class="invalid-tooltip">
              {{ 'validationMessage.required' | translate }}
            </div>
          </div>
          <div class="col-3 form-group mb-0 has-error">
            <label class="mb-1"><b>{{ 'fields.endTime' | translate }} </b><span class="text-red">(*)</span></label>
            <p-calendar formControlName="end" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                        autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="form.get('start').value" [defaultDate]="form.get('start').value"
                        icon="las la-calendar-alt" [showTime]="true" [disabled]="flagChecked || !isOriginalRecord || !isUpdateAll">
            </p-calendar>
            <div *ngIf="
                  (form.get('end').value < form.get('start').value) && this.form.get('end').touched && form.get('end').value !== ''  && form.get('end').value !== null
                    " class="invalid-tooltip">{{'calendar.validEndDate'| translate}}
            </div>
            <div *ngIf="
                    form.get('end').errors && form.get('end').errors.cusRequired && isFieldValid('end')
                    " class="invalid-tooltip">
              {{ 'validationMessage.required' | translate }}
            </div>
          </div>
          <div class="col-2 form-group mb-0 has-error" disabled="true">
            <label class="mb-1"><b>{{'calendar.fields.repeat' | translate}}</b></label>
            <p-dropdown [disabled]="isDisableRepeat()" formControlName="repeat" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                        class="event-type border-cus" [options]="listFrequency"
                        optionLabel="name" optionValue="code" [showClear]="false" [disabled]="flagChecked || !isOriginalRecord || cannotUpdateRepeat || isDetailLead">
            </p-dropdown>
          </div>
          <div class="col-1 form-group mb-0 has-error">
            <label class="mb-1"><b>{{'calendar.fields.level' | translate}}</b></label><br>
            <div class="position-relative ml-3 mt-1" (click)="onChangeLevel()" >
              <em class="las la-circle-stars_custom position-absolute" *ngIf="this.form.get('level').value === 'HIGH'"></em>
              <em class="las la-circle-stars-black_custom position-absolute" *ngIf="this.form.get('level').value === 'MEDIUM'"></em>
            </div>
          </div>
        </div>
        <div class="form-group form-textarea">
          <textarea [readOnly]="flagChecked || !isOriginalRecord" placeholder="{{'calendar.fields.description' | translate}}" class="form-control border-0 m-height"  [maxlength]="500" type="text" formControlName="description"></textarea>
          <div class="col-right pb-3" *ngIf="isOriginalRecord">
            <button [disabled]="flagChecked || !isOriginalRecord" *ngFor="let item of listSuggest; let i = index" #itemButton class="ml-1 mb-1 btn-suggest float-right" (click)="onChangeSuggest(i)">{{item}}</button>
            <div class="clearfix"></div>
          </div>
          <p class="pl-3" *ngIf="(form.get('leadName').value !== '' && form.get('leadName').value != null ) || (form.get('leadCode').value !== '' && form.get('leadCode').value != null)"
             style="font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;color: #9B9B9B;">
            Đối tượng hoạt động: {{form.get('leadCode').value}} - {{form.get('leadName').value}}</p>
          <p class="pl-3" *ngIf="(form.get('customerName').value !== '' && form.get('customerName').value != null ) || (form.get('customerCode').value !== '' && form.get('customerCode').value != null)"
             style="font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;color: #9B9B9B;">
            Đối tượng hoạt động: {{form.get('customerCode').value}} - {{form.get('customerName').value}}</p>
        </div>
        <div class="has-error">
          <div *ngIf="form.get('description').errors && form.get('description').errors.cusRequired && isFieldValid('description')"
               class="invalid-tooltip form-group">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="form-textarea" >
          <em  class="las la-solid-active-custom f-16 col-1 d-inline"></em>
          <input [readOnly]="flagChecked || !isOriginalRecord" style="max-width: 920px;" placeholder="{{'calendar.fields.location' | translate}}" class=" col form-control border-cus input-field d-inline border-0" type="text" maxlength="300" formControlName="location" />
        </div>
        <div class="form-group" *ngIf="!isDetailLead">
          <div class="font-weight-bold"><label>Người thực hiện</label></div>
          <div class=" row ">
            <div *ngFor="let item of listUser; let i = index" [ngClass]="getStatusBtnUser(item?.status)" class=" col-3 mb-2 mt-3" >
              <em *ngIf="isDetailEvent" [ngClass]="getImgByStatus(item?.status)" class="las f-16 col-1 d-inline mr-1"></em>
              <button tooltipClass="detail-reason" triggers="click" [autoClose]="true" ngbTooltip="{{item.reason}}"
                       #tooltip3="ngbTooltip" class="border-0" #itemButton style="background-color: rgba(255,255,255,0);"  >{{item.name}}</button>
              <button
                *ngIf="isOriginalRecord && !flagChecked && !item.isCurrentUser"
                class="border-0 float-right"
                style="background: #F3F3F3; color: #999999;"
                (click)="onDeleteUser(i)"
              >
                x
              </button>
              <em tooltipClass="detail-reason" ngbTooltip="{{item.reason}}"  *ngIf="item.reason" class="float-right p-3 las la-info-custom f-16 col-1 d-inline"></em>
            </div>
            <button *ngIf="isOriginalRecord && !flagChecked"  class="btn-icon btn-icon--small btn btn-search mt-3"   style="margin-left: 13px" (click)="search()"
                     title="Thêm người thực hiện">
              <em class="las la-plus-circle f-16"></em>
            </button>
          </div>
        </div>
        <div *ngIf="isDetailEvent && !isWaitEvent">
          <div class="form-group disabled" >
            <label class="mb-1 "><b>Nhận xét</b></label>
            <input class="form-control border-cus input-field i-disable" type="text" formControlName="comment" />
          </div>
          <div class="form-group"  >
            <label class="mb-1 "><b>Kết quả</b></label>
            <input [readOnly]="flagChecked || this.form.get('status').value === 'REJECT'" class="form-control border-cus input-field " type="text" formControlName="result" [maxLength]="300" />
          </div>
          <div class="form-group">
            <mat-checkbox class="mr-2" color="primary" [disabled]="this.form.get('status').value === 'REJECT'" (change)="onchangeStatus()" [checked]="form.get('status').value === 'DONE' "></mat-checkbox>
            <span>Đã hoàn thành</span>
          </div>
        </div>
      </div>
      <div  *ngIf="isWaitEvent">
        <div class="form-textarea mt-4" >
          <em  class="las la-info-custom f-16 col-1 d-inline"></em>
          <input  style="max-width: 920px;" placeholder="Nhập lí do từ chối" class=" col form-control border-cus input-field d-inline border-0" type="text" maxlength="200" formControlName="reason" />
        </div>
        <div class="has-error">
          <div *ngIf="form.get('reason').errors && form.get('reason').errors.cusRequired "
               class="invalid-tooltip form-group">
            Bắt buộc nhập lí do từ chối
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button *ngIf="!isDetailEvent" class="btn btn--light-blue ml-3" (click)="confirmDialog('save')">{{'calendar.saveAction' | translate}}</button>
      <div *ngIf="!isWaitEvent">
        <button *ngIf="isDetailEvent" class="btn btn--light-blue ml-3" [disabled]="this.form.get('status').value === 'REJECT'"
                (click)="confirmDialog('save')">{{
          'btnAction.save' | translate }}</button>
        <button *ngIf="isDetailEvent" [disabled]="flagChecked || !isOriginalRecord"  class="btn btn--red ml-3" (click)="delete()">{{
          'btnAction.delete' | translate }}</button>
      </div>
      <div *ngIf="isWaitEvent">
        <button *ngIf="isDetailEvent"  class="btn btn--red-new ml-3" (click)="replyDialog('reject')">Từ chối</button>
        <button *ngIf="isDetailEvent"  class="btn btn--light-blue ml-3"
                (click)="replyDialog('accept')">Đồng ý</button>
      </div>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
