.create-calendar-modal {
  .modal-dialog {
    max-width: 650px;
  }

  .p-label-none {
    .p-button-icon {
      display: none !important;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }
}
.create-calendar-modal .modal-content {
  width: 158%;
  margin-left: -155px;
}
.form-control[disabled] {
  background-color: #f5f5f5 !important;
  opacity: 1;
}
.la-location_custom {
  background-image: url('src/assets/images/sme/icon-location.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin: 0px 0px -6px 6px;
}
.i-disable {
  background-color: #f5f5f5 !important;
  pointer-events: none;
}
.form-task {
  border: 1px solid #ccc;
  padding: 19px;
  border-radius: 4px;
}
.form-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}
input::placeholder {
  color: red;
  font-size: 1.2em;
  font-style: italic;
}

.btn-suggest {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.line-shadow {
  padding: 6px 17px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 8%);
}
.height-fix {
  max-height: 140px;
}

.col-right {
  padding-right: 18px;
}
.btn-outline {
  background: #EFF2FE;
}
.m-height {
  min-height: 80px;
}

.border-cus {
  border-radius: 5px;
}
.f-cus {
  font-size: 15px;
}
.la-solid-active-custom {
  background-image: url('src/assets/images/sme/solid-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.la-info-custom {
  background-image: url('src/assets/images/sme/ic_info.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.btn-user {
  background: #F3F3F3;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
  padding: 9px;
}
.btn-user-active {
  background: rgba(41, 130, 59, 0.1);
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
  padding: 9px;
}
.btn-user-danger {
  background: rgba(235, 41, 89, 0.1);
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
  padding: 9px;
}
.la-check_active-custom {
  background-image: url('src/assets/images/sme/check_active.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 8px;
}
.la-combined_shape-custom {
   background-image: url('src/assets/images/sme/combined_shape.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   padding: 6px;
 }
.detail-reason {
  .tooltip-inner {
    background: #999999;
    border-radius: 8px;
    padding: 10px 12px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
}
