<div class='declare-setup'>
  <div [formGroup]='form' class='section customer-info'>
    <div class='row mt-3'>
      <div class='col-6 d-flex align-items-center'>
        <h6 class='left-title'> {{ 'customer360.title.customerInfo' | translate }} </h6>
      </div>
    </div>
    <hr class="m-3">
    <div class="row">
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
          {{ 'reductionProposal.labels.proposalCustomerCode' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.customerCode || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <span class='m-left-2'>
          {{ 'reductionProposal.labels.proposalCustomerName' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.customerName || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
          {{ 'reductionProposal.labels._proposalMst' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.taxCode || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <span class='m-left-2'>
          {{ 'fields.block' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.customerTypeMerge || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
          {{ 'fields.segment' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.segment || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <span class='m-left-2'>
          {{ 'reductionProposal.labels.proposalRank' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.creditRanking || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
          {{ 'reductionProposal.labels.customerType' | translate }}
        </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ customer?.customerTypeDisplay || '--'}}
      </div>
    </div>
  </div>

  <div class='section' *ngIf="isDetail">
    <div class='row'>
      <div class="col">
        <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
          <mat-tab label="{{ 'reductionProposal.labels.currentSetup' | translate }}"></mat-tab>
          <mat-tab label="{{ 'reductionProposal.labels.historySetup' | translate }}"></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class='section'>
    <div class='row'>
      <div class='col-6 d-flex align-items-center'>
        <h6 class='left-title'> {{getTableTitle()}} </h6>
      </div>
      <div class='col-6 d-flex align-items-center justify-content-end'>
        <button
          class="btn btn--light-blue btn-small btn-select-fee mr-4 {{listData.length < 2 && !isDetail ? '' : 'invisible'}}"
          (click)="addItem()">
          <span class="las la-plus-circle f-16"></span>
        </button>
      </div>
    </div>
    <div class='treeTable-wrapper'>
      <p-treeTable [autoLayout]='true' [style]="{'width':'100%','overflow':'auto!important'}" [value]="listData"
        #treeTable class='mt-2 mr-4 ml-4 min-width-table'>
        <ng-template pTemplate='header'>
          <tr>
            <th rowspan="2" class="text-center">Loại lãi suất</th>
            <th rowspan="2" class="text-center">Kỳ hạn vay (tháng)</th>
            <th rowspan="2" class="text-center">Loại tiền tệ</th>
            <th rowspan="2" class="text-center">Kỳ điều chỉnh</th>
            <th rowspan="2" class="text-center">Biên độ</th>
            <th rowspan="2" class="text-center">Lãi suất tham chiếu</th>
            <th rowspan="2" class="text-center">Lãi suất cho vay</th>
            <th colspan="2" class="text-center">Cài đặt biểu áp dụng</th>
            <th rowspan="2" class="text-center">Ngày bắt đầu</th>
            <th rowspan="2" class="text-center">Ngày kết thúc</th>
            <th rowspan="2" class="text-center" *ngIf="!isDetail">...</th>
          </tr>
          <tr>
            <th class="text-center">Biên độ</th>
            <th class="text-center">Lãi suất cho vay </th>
          </tr>
        </ng-template>
        <ng-template let-rowData='rowData' pTemplate='body'>
          <tr>
            <td>
              <p-dropdown [autoDisplayFirst]='false' [filter]='false' [options]='commonData.interestTypes'
                [showClear]='false' appendTo='body' autoZIndex='false' baseZIndex='10000' class='mr-2 w-19'
                [styleClass]="isDetail? 'bg-grey' : ''" [(ngModel)]='rowData.interestType'
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" optionLabel='name'
                optionValue='code' (onChange)="changeInterestType(rowData)" [disabled]="isDetail">
              </p-dropdown>
            </td>
            <td>
              <p-dropdown [autoDisplayFirst]='false' [filter]='false' [options]='commonData.listPeriod'
                [showClear]='false' appendTo='body' autoZIndex='false' baseZIndex='10000' class='mr-2 w-19 custom-dropdown'
                [(ngModel)]='rowData.period' emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [styleClass]="isDetail? 'bg-grey' : ''" optionLabel='name' optionValue='code'
                (onHide)="changePeriod(rowData)" [disabled]="isDetail">
              </p-dropdown>
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey' pInputText type='text'
                value="VND" disabled />
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey ' pInputText type='text'
                value="3M" disabled />
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey ' pInputText type='text'
                [value]="rowData.margin" disabled />
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey ' pInputText type='text'
                [value]="rowData.referenceInterestRate" disabled />
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey ' pInputText type='text'
                [value]="rowData.interestRate" disabled />
            </td>
            <td>
              <p-inputNumber (keyup)='validateMarginSetup($event.target.value, rowData)'
                (onBlur)='checkMarginSetup($event.target.value, rowData)' [(ngModel)]='rowData.marginSetup'
                [inputStyleClass]="'text-center min-100 ' + (isDetail? 'bg-grey' : '')" [minFractionDigits]='2'
                [min]='0' class='w-100 text-center' maxFractionDigits='2' maxlength='6' mode='decimal'
                [disabled]="isDetail"></p-inputNumber>
              <small *ngIf='rowData?.marginSetupError' class='p-error p-absolute'>{{
                rowData?.marginSetupError }}</small>
            </td>
            <td>
              <input [inputStyleClass]="'text-center'" class='w-100 text-center bg-grey' min='0' pInputText type='text'
                [value]="rowData?.interestRateSetup" disabled />
            </td>
            <td>
              <p-calendar [minDate]="commonData.minDate" [(ngModel)]='rowData.fromDate' [maxDate]="rowData.maxToDate"
                (onSelect)="validateDate(rowData, 'fromDate')" (onBlur)="validateDate(rowData, 'fromDate')"
                class="d-block" dateFormat="dd/mm/yy" appendTo="body" placeholder="dd/mm/yyyy" [minDate]=""
                autoZIndex="false" [inputStyleClass]="'text-center min-100 ' + (isDetail? 'bg-grey' : '')"
                baseZIndex="10000" [showIcon]="false" icon="las la-calendar-alt" [disabled]="isDetail">
              </p-calendar>
              <small *ngIf='rowData?.fromDateError' class='p-error p-absolute'>{{ rowData?.fromDateError }}</small>
            </td>
            <td>
              <p-calendar [minDate]="commonData.minDate" [maxDate]="rowData.maxToDate" [(ngModel)]='rowData.toDate'
                (onSelect)="validateDate(rowData, 'toDate')" (onBlur)="validateDate(rowData, 'toDate')" class="d-block"
                dateFormat="dd/mm/yy" appendTo="body" placeholder="dd/mm/yyyy" autoZIndex="false" baseZIndex="10000"
                [inputStyleClass]="'text-center min-100 '  + (isDetail? 'bg-grey' : '')" [showIcon]="false"
                icon="las la-calendar-alt" [disabled]="isDetail">

              </p-calendar>
              <small *ngIf='rowData?.toDateError' class='p-error p-absolute'>{{ rowData?.toDateError }}</small>
            </td>
            <td class='text-center' *ngIf="type !== 'detail'">
              <button (click)='removeItem(rowData)' class='btn-outline btn-danger' title='Xóa' type='button'><em
                  class='ic-x'></em></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns *ngIf="isDetail">
          <tr>
            <td colspan="11" class="text-center">
              {{'notificationMessage.noRecordsFound' | translate}}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>

</div>
