<div class="px-1 h-100">
  <app-loading *ngIf="isLoading"></app-loading>
  <div style="height: 5%;">
    <h2 class="p-3">
      {{data?.title}}
    </h2>
  </div>
  <div *ngIf="!isLoading" style="height: 87%; width: 100%; overflow: auto;">
    <div class="d-flex justify-content-end">
      <p class="font-italic text-muted pr-3">{{ 'Đơn vị tính: Tỷ đồng' }}</p>
    </div>
    <p-table columnResizeMode="expand" [value]="dataView" [columns]="colsTable" [resizableColumns]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 70px;" pResizableColumn class="text-center">STT</th>
          <th style="width: 100px;" pResizableColumn class="text-center">Mã KH</th>
          <th style="width: 190px;" pResizableColumn class="text-center">Tên KH</th>
          <th style="width: 100px;"pResizableColumn class="text-center">CN Cấp 1</th>
          <th style="width: 100px;"pResizableColumn class="text-center">CN Cấp 2</th>
          <th style="width: 145px;" pResizableColumn class="text-center">{{'Hôm nay'}}{{ dateNow ? '(' + dateNow + ')' : ''}}</th>
          <th style="width: 160px;" pResizableColumn class="text-center">{{'Hôm trước'}}{{lastDay ? '(' + lastDay + ')' : ''}}</th>
          <th style="width: 160px;" pResizableColumn class="text-center">{{'Tháng trước'}}{{lastMonth ? '(' + lastMonth + ')' : ''}}</th>
          <th style="width: 125px;" pResizableColumn class="text-center">{{'Năm trước'}}{{lastYear ? '(' + lastYear + ')' : ''}}</th>
          <th style="width: 100px;"pResizableColumn class="text-center">+/- ngày</th>
          <th style="width: 100px;"pResizableColumn class="text-center">+/- tháng</th>
          <th style="width: 100px;"pResizableColumn class="text-center">+/- năm</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-product>
        <tr>
          <td class="text-center">{{product.index + 1}}</td>
          <td> <p-button [label]="product.CUSTOMER_ID" styleClass="p-button-link"
                      (click)="handleRowClick(product.CUSTOMER_ID)"></p-button>
          </td>
          <td>
            <div style="width: inherit; overflow: hidden; text-overflow: ellipsis;">
              <span style="white-space: nowrap" [title]="product.CST_NM">{{product.CST_NM}} </span>
            </div>
          </td>
          <td><span style="white-space: nowrap" [title]="product.BRANCH_NAME_CAP1">{{product.BRANCH_NAME_CAP1}} </span>
          </td>
          <td><span style="white-space: nowrap" [title]="product.BRANCH_NAME_CAP2">{{product.BRANCH_NAME_CAP2}} </span>
          </td>
          <td class="text-right">{{(id == 1 ? product.BAL_LOAN : id == 2 ? product.BAL_DEPO : product.BAL_MD)/1000000000 | formatNumber :
            null : 2}}</td>
          <td class="text-right">{{(id == 1 ? product.BAL_LOAN_D_1 : id == 2 ? product.BAL_DEPO_D_1 : product.BAL_MD_D_1)/1000000000 |
            formatNumber : null : 2}}</td>
          <td class="text-right">{{(id == 1 ? product.BAL_LOAN_M_1 : id == 2 ? product.BAL_DEPO_M_1 : product.BAL_MD_M_1)/1000000000 |
            formatNumber : null : 2}}</td>
          <td class="text-right">{{(id == 1 ? product.BAL_LOAN_Y_1 : id == 2 ? product.BAL_DEPO_Y_1 : product.BAL_MD_Y_1)/1000000000 |
            formatNumber : null : 2}}</td>
          <td class="text-right">{{((id == 1 ? product.BAL_LOAN : id == 2 ? product.BAL_DEPO : product.BAL_MD) - (id == 1 ?
            product.BAL_LOAN_D_1 : id == 2 ? product.BAL_DEPO_D_1 : product.BAL_MD_D_1))/1000000000 | formatNumber :
            null : 2}}</td>
          <td class="text-right">{{((id == 1 ? product.BAL_LOAN : id == 2 ? product.BAL_DEPO : product.BAL_MD) - (id == 1 ?
            product.BAL_LOAN_M_1 : id == 2 ? product.BAL_DEPO_M_1 : product.BAL_MD_M_1))/1000000000 | formatNumber :
            null : 2}}</td>
          <td class="text-right">{{((id == 1 ? product.BAL_LOAN : id == 2 ? product.BAL_DEPO : product.BAL_MD) - (id == 1 ?
            product.BAL_LOAN_Y_1 : id == 2 ? product.BAL_DEPO_Y_1 : product.BAL_MD_Y_1))/1000000000 | formatNumber :
            null : 2}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="!datatable?.data?.length" class="d-flex h-50 justify-content-center align-items-center">
      Không có dữ liệu
    </div>
  </div>
  <div style="height: 8%;">
    <app-pager-ngx-datatable [page]="page.curPage" [offset]="page.offset" [size]="page.pageSize" [count]="page.rowCount"
                             [hidden]="false" (change)="changePage($event)">
    </app-pager-ngx-datatable>
  </div>
</div>