.create-calendar-modal {
  .modal-dialog {
    max-width: 650px;
  }

  .p-label-none {
    .p-button-icon {
      display: none !important;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .background-red {
    background: #ff808b;
    border: 1px solid #ff808b;
  }

  .background-yellow {
    background: #f4be5e;
    border: 1px solid #f4be5e;
  }

  .background-green {
    background: #58cf8d;
    border: 1px solid #58cf8d;
  }
}
.create-calendar-modal .modal-content {
  width: 158%;
  margin-left: -155px;
}

.form-task {
  border: 1px solid #ccc;
  padding: 19px;
  border-radius: 4px;
}
.form-textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 5px;
}
input::placeholder {
  color: red;
  font-size: 1.2em;
  font-style: italic;
}

.btn-suggest {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-user {
  background: #F3F3F3;
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
  padding: 9px;
}
.line-shadow {
  padding: 6px 3px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 8%);
}
.height-fix {
  max-height: 180px;
}

.col-right {
  flex-direction: row-reverse;
  padding-right: 18px;
}
.btn-outline {
  background: #EFF2FE;
}
.m-height {
  min-height: 80px;
}

.border-cus {
  border-radius: 5px;
}
.f-cus {
  font-size: 15px;
}

.la-user-custom {
  background-image: url('src/assets/images/sme/icon-user.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.la-solid-active-custom {
  background-image: url('src/assets/images/sme/solid-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
