<div class="modal-header pb-4">
    <div class="block-center-between">
        <h5 class="m-0">{{ 'calendar.titleSme' | translate }}</h5>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-task" [formGroup]="form">
        <div class="row form-group">
            <div class="col-3 form-group mb-0 has-error">
                <label class="mb-1" ><b>{{ 'calendar.type.hd' | translate }} </b></label>
              <p-dropdown formControlName="name" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                          class="event-type border-cus" [options]="listEventType" (onChange)="onChangeWork()"
                          optionLabel="name" optionValue="name" [showClear]="false">
              </p-dropdown>
              <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && isFieldValid('name')"
                   class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-3 form-group mb-0 has-error">
<!--              <label class="mb-1"><b>{{'calendar.fields.time' | translate}}</b></label>-->
              <label class="mb-1"><b>{{ 'fields.startTime' | translate }}</b> <span class="text-red">(*)</span></label>
              <p-calendar formControlName="start" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                          autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optCreateDate?.minDate"
                          icon="las la-calendar-alt" [showTime]="true">
              </p-calendar>
              <div *ngIf="
                    form.get('start').errors && form.get('start').errors.cusRequired && isFieldValid('start')
                    " class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-3 form-group mb-0 has-error">
              <label class="mb-1"><b>{{ 'fields.endTime' | translate }} </b><span class="text-red">(*)</span></label>
            <p-calendar formControlName="end" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
                        autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="form.get('start').value"
                        icon="las la-calendar-alt" [showTime]="true" [defaultDate]="form.get('start').value">
            </p-calendar>
              <div *ngIf="
                  (form.get('end').value < form.get('start').value) && this.form.get('end').touched && form.get('end').value !== ''  && form.get('end').value !== null
                    " class="invalid-tooltip">
                {{'calendar.validEndDate'| translate}}
              </div>
            <div *ngIf="
                    form.get('end').errors && form.get('end').errors.cusRequired && isFieldValid('end')
                    " class="invalid-tooltip">
              {{ 'validationMessage.required' | translate }}
            </div>
            </div>
            <div class="col-2 form-group mb-0 has-error">
            <label class="mb-1"><b>{{'calendar.fields.repeat' | translate}}</b></label>
              <p-dropdown [disabled]="isDisableRepeat()" formControlName="repeat" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" #type
                          class="event-type border-cus" [options]="listFrequency"
                          optionLabel="name" optionValue="code" [showClear]="false">
              </p-dropdown>
          </div>
            <div class="col-1 form-group mb-0 has-error">
              <label class="mb-1"><b>{{'calendar.fields.level' | translate}}</b></label><br>
  <!--            <mat-slide-toggle formControlName="levelTemp" color="primary"></mat-slide-toggle>-->
              <div class="position-relative ml-3 mt-1" (click)="onChangeLevel()">
                <em class="las la-circle-stars_custom position-absolute" *ngIf="this.form.get('level').value === 'HIGH'"></em>
                <em class="las la-circle-stars-black_custom position-absolute" *ngIf="this.form.get('level').value === 'MEDIUM'"></em>
              </div>
          </div>
        </div>
        <div class="form-group form-textarea" style="margin-bottom: 0px;">
          <textarea placeholder="{{'calendar.fields.description' | translate}}" class="form-control border-0 m-height"  [maxlength]="500" type="text" formControlName="description"></textarea>
          <div class="col-right" >
            <button *ngFor="let item of listSuggest; let i = index" #itemButton class="ml-1 mb-1 btn-suggest float-right" (click)="onChangeSuggest(i)">{{item}}</button>
            <div class="clearfix"></div>
          </div>
          <p class="pl-3" *ngIf="(form.get('leadName').value !== '' && form.get('leadName').value != null ) || (form.get('leadCode').value !== '' && form.get('leadCode').value != null)"
             style="font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;color: #9B9B9B;">
            Đối tượng hoạt động: {{form.get('leadCode').value}} - {{form.get('leadName').value}}</p>
          <p class="pl-3" *ngIf="(form.get('customerName').value !== '' && form.get('customerName').value != null ) || (form.get('customerCode').value !== '' && form.get('customerCode').value != null)"
             style="font-style: normal;font-weight: 400;font-size: 13px;line-height: 16px;color: #9B9B9B;">
            Đối tượng hoạt động: {{form.get('customerCode').value}} - {{form.get('customerName').value}}</p>
        </div>
        <div class="has-error">
          <div *ngIf="form.get('description').errors && form.get('description').errors.cusRequired && isFieldValid('description')"
               class="invalid-tooltip form-group">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="form-group" style="margin-top: 15px;">
<!--          <div class="row mx-auto">-->
<!--            <em class="las la-solid-active-custom f-16 col-1"></em>-->
<!--            <input placeholder="{{'calendar.fields.location' | translate}}" class=" col form-control border-cus input-field" type="text" maxlength="300" formControlName="location" />-->
<!--          </div>-->
          <div class="form-textarea">
            <em  class="las la-solid-active-custom f-16 col-1 d-inline"></em>
            <input style="max-width: 920px;" placeholder="{{'calendar.fields.location' | translate}}" class=" col form-control border-cus input-field d-inline border-0" type="text" maxlength="300" formControlName="location" />
          </div>
        </div>
        <div class="form-group" *ngIf="!isDetailLead">
          <div class="font-weight-bold"><label>Người thực hiện</label></div>
          <div class=" row ">
            <div *ngFor="let item of listUser; let i = index" class="btn-user col-3 mb-2 mt-3">
              <button class="border-0"  #itemButton  >{{item.name}}</button>
              <button
                *ngIf="!item.isCurrentUser"
                class="border-0 float-right"
                style="background: #F3F3F3; color: #999999;"
                (click)="onDeleteUser(i)"
              >
                x
              </button>
            </div>
            <button class="btn-icon btn-icon--small btn btn-search mt-3"   style="margin-left: 13px" (click)="search()"
                    title="Thêm người thực hiện">
              <em class="las la-plus-circle f-16"></em>
            </button>
          </div>
        </div>
    </div>
    <div>
      <div><button class="btn-outline-primary btn mt-5 border-cus" (click)="addJob()">{{'calendar.add' | translate}}</button></div>
      <div class="overflow-auto height-fix f-cus">
        <div *ngFor="let item of listData; let i = index" class="block-center-between line-shadow">
          <div class="" >
            <em class="las repeat_custom mr-3 align-items-center align-middle " *ngIf="item.repeat !== 0 && item.repeat !== null"></em>
            <em class="las la-circle-stars_custom mr-3 align-items-center align-middle"*ngIf="item.level === 'HIGH'" ></em>
            <span class="align-items-center align-middle"> <b>{{item.name}}</b>   -  {{this.getLimitLength(item.description, 55)}}</span>
          </div>
          <div class="">
            {{item.start | date: 'HH:mm dd/MM/yyyy'}} - {{item.end | date: 'HH:mm dd/MM/yyyy'}}
            <span *ngIf="item.hrsCodeAssigns.length > 0">
              <em class="las la-user-custom ml-3 align-items-center align-middle "></em>
              <span> + {{item.hrsCodeAssigns.length}}</span>
            </span>
            <button
              type="button"
              class="btn-outline btn--light-blue ml-3"
              title="{{ 'btnAction.edit' | translate }}"
              (click)="onEdit(i)"
            >
              <em class="las la-edit f-16"></em>
            </button>
            <button
              type="button"
              class="btn-outline btn--light-blue"
              title="{{ 'btnAction.delete' | translate }}"
              (click)="onDelete(i)"
            >
              <em class="las la-trash-alt f-16"></em>
            </button>
          </div>
        </div>
      </div>

    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue ml-3" (click)="confirmDialog()">{{'calendar.save' | translate}}</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
