.content-body__list{
    .group__create-form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .campaign-allocation {
        flex: 1 1 auto;
    }
    ::ng-deep .allocationTable {
        height: 100%;
    }
    ::ng-deep .visible{
        height: 100%;
    }
    ::ng-deep .datatable-body {
        height: calc(100% - 100px)!important;
    }

    ::ng-deep .ngx-datatable.bootstrap .datatable-header{
        height: 55px!important;
    }

    ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label{
        line-height: 17px;
    }

}
