<div class="content-body__list">
  <!-- <app-loading *ngIf="isLoading"></app-loading> -->
  <ng-container>
    <div class="group__create-form px-4">
      <div [formGroup]="form">
        <div class="d-flex px-4 align-items-center justify-content-between">
          <div class="d-flex">
            <div [formGroup]='form' class='p-field-radiobutton mb-0 mr-3'>
              <p-radioButton formControlName='typeCampaign' value='3' (click)='changeType()' ></p-radioButton>
              <label class='ml-2'>RM</label>
            </div>
            <div [formGroup]='form' class='p-field-radiobutton mb-0'>
              <p-radioButton formControlName='typeCampaign' value='2' (click)='changeType()'></p-radioButton>
              <label class='ml-2'>Chi nhánh</label>
            </div>
          </div>
            <button class="btn btn--light-blue btn-small float-right" *ngIf="!isRM" (click)="createFromFile()">
                {{'rm.fields.createRmFile' | translate}}
            </button>
        </div>
      </div>
      <div class="table__view campaign-allocation mt-2">
        <ngx-datatable
              #table
              ngxDataTable
              class="bootstrap allocationTable"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="100"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [columns]="columns"
              [count]="pageable?.totalElements + 1"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size+1"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
            <ngx-datatable-footer>
              <ng-template
                let-rowCount="pageable?.totalElements"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset"
                ngx-datatable-footer-template
              >
                <app-pager-ngx-datatable
                  [page]="curPage"
                  [offset]="offset"
                  [size]="pageSize"
                  [count]="pageable?.totalElements"
                  [hidden]="false"
                  (change)="table.onFooterPage($event)"
                >
                </app-pager-ngx-datatable>
              </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #orderTmpl let-rowIndex="rowIndex" let-row="row" let-value="value">
  <span *ngIf= "row.rmCode != 'SUM' && row.branchCode != 'SUM'">{{ pageable?.currentPage * pageable?.size + rowIndex }}</span>
</ng-template>
