.popup-money-transfer {
  .modal-dialog {
    max-width: 1150px;
    height: 100%;
    margin: auto;
    display: flex;
  }
  .modal-content {
    height: 465px;
    margin: auto;
    overflow: hidden;
    .app-lead-history {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .modal-body {
      overflow: hidden;
    }
  }

  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ngx-datatable {
    height: 100%;
  }
  .visible {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .datatable-body {
    overflow-y: auto !important;
    flex: 1 !important;
  }
  .group-header-title {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #ececf2;
  }

  .btn-group {
    background: #eff2fe;
  }

  .checkbox-column {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .table-floor {
    .ngx-datatable .datatable-body {
      overflow-x: hidden !important;
    }
    .datatable-group-header {
      background-color: #eff2fe66;
    }
  }
}

