<div class='pb-4 d-flex align-items-center justify-content-between '>
  <div class='block-center-between'
       *ngIf='type === 0'>
    <h5 class='m-0'>Block TTR</h5>
  </div>
  <div class='block-center-between'
       *ngIf='type === 1'>
    <h5 class='m-0'>Block TTR</h5>
  </div>
  <button (click)='closeModal()'
          class='close'
          type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div class='d-flex w-100 justify-content-end'>
  <button (click)='exportFile()'
          class='btn btn-outline-secondary'
          type='button'
          style='background: #E8E9FB;border-radius: 4px;'>
    <span aria-hidden='true'
          style="color: #141ED2;">Xuất Excel</span>
  </button>
</div>
<br />
<div>
  <app-loading *ngIf='isLoading'></app-loading>
  <div class="overflow-auto d-flex">
    <!--Block TTR-->
    <p-table [autoLayout]="true"
             [value]="listDetailMoneyTransfer"
             *ngIf='type === 0'>
      <ng-template pTemplate="header">
        <tr>
          <th rowspan='2'>Ngày dữ liệu</th>
          <th rowspan='2'>Khối</th>
          <th rowspan='2'>Mã PGD</th>
          <th rowspan='2'>Tên PGD</th>
          <th rowspan='2'>Mã chi nhánh cấp 1</th>
          <th rowspan='2'>Tên chi nhánh cấp 1</th>
          <th rowspan='2'>Vùng</th>
          <th rowspan='2'>Mã khách hàng</th>
          <th rowspan='2'>Tên khách hàng</th>
          <th rowspan='2'>Mã gói Block TTR</th>
          <th rowspan='2'>Tên giá trị của gói</th>
          <th class="text-center"
              colspan='3'>Doanh số (USD)</th>
          <th rowspan='2'>Trạng thái</th>
          <th rowspan='2'>Ngày bắt đầu</th>
          <th rowspan='2'>Ngày kết thúc</th>
          <th rowspan='2'>Mã RM</th>
          <th rowspan='2'>Tên RM</th>
          <th rowspan='2'>Level RM</th>
        </tr>
        <tr style="white-space: nowrap;">
          <th>Tổng lưu lượng doanh số của Block</th>
          <th>Tổng lưu lượng doanh số của Block đã sử dụng</th>
          <th>Tổng lưu lượng doanh số của Block còn lại</th>
        </tr>

      </ng-template>
      <ng-template let-row
                   let-rowIndex="rowIndex"
                   pTemplate="body">
        <tr style="white-space: nowrap;">
          <td>{{row.dataDate}}</td>
          <td>{{row.blockCode}}</td>
          <td>{{row.branchCodeLv2}}</td>
          <td>{{row.branchNameLv2}}</td>
          <td>{{row.branchCodeLv1}}</td>
          <td>{{row.branchNameLv1}}</td>
          <td>{{row.region}}</td>
          <td>{{row.customerCode}}</td>
          <td>{{row.customerName}}</td>
          <td>{{row.packageId}}</td>
          <td>{{row.packageName}}</td>
          <td>{{row.blockTotal | number}}</td>
          <td>{{row.blockUsed | number}}</td>
          <td>{{row.blockRemaining}}</td>
          <td>{{row.status}}</td>
          <td>{{row.startDate}}</td>
          <td>{{row.endDate}}</td>
          <td>{{row.rmCode}}</td>
          <td>{{row.rmName}}</td>
          <td>{{row.rmLevel}}</td>
        </tr>
      </ng-template>
    </p-table>
    <!--Combo TTQT-->
    <p-table [autoLayout]="true"
             [value]="listDetailMoneyTransfer"
             *ngIf='type === 1'>
      <ng-template pTemplate="header">
        <tr style="white-space: nowrap;">
          <th>Ngày dữ liệu</th>
          <th>Khối</th>
          <th>Mã PGD</th>
          <th>Tên PGD</th>
          <th>Mã chi nhánh cấp 1</th>
          <th>Tên chi nhánh cấp 1</th>
          <th>Vùng</th>
          <th>Mã khách hàng</th>
          <th>Tên khách hàng</th>
          <th>Mã gói Combo</th>
          <th>Tên giá trị của gói</th>
          <th>Tổng mức phí (VND)</th>
          <th>Ngày bắt đầu</th>
          <th>Ngày kết thúc</th>
          <th>Mã RM</th>
          <th>Tên RM</th>
          <th>Level RM</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body"
                   let-rowData
                   let-rowIndex="rowIndex">
        <tr>
          <td>{{rowData.dataDate}}</td>
          <td>{{rowData.blockCode}}</td>
          <td>{{rowData.branchCodeLv2}}</td>
          <td>{{rowData.branchNameLv2}}</td>
          <td>{{rowData.branchCodeLv1}}</td>
          <td>{{rowData.branchNameLv1}}</td>
          <td>{{rowData.region}}</td>
          <td>{{rowData.customerCode}}</td>
          <td>{{rowData.customerName}}</td>
          <td>{{rowData.packageId}}</td>
          <td>{{rowData.packageName}}</td>
          <td>{{rowData.totalFee}}</td>
          <td>{{rowData.startDate}}</td>
          <td>{{rowData.endDate}}</td>
          <td>{{rowData.rmCode}}</td>
          <td>{{rowData.rmName}}</td>
          <td>{{rowData.rmLevel}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
