@import 'variable';

.report-app {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      // left: 5px;
      max-height: 670px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
  }
  .b-table {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .m-t-rp-view {
    height: 670px!important;
  }
}
::ng-deep {
  .check-all-rm {
    .p-checkbox-label {
      margin-bottom: 0;
    }
  }
}
