<div class="right-view campaign-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'campaign.detailCampaign' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-3">
            <div class="title-info block-center-between">
              <h5>{{ 'title.detailInfo' | translate }}</h5>
              <button *ngIf="showAction" (click)="active()" class="btn btn-small btn--light-blue ml-5">
                {{ 'btnAction.active' | translate }}
              </button>
<!--              <button  (click)="importCustomer()" class="btn btn-small btn--light-blue ml-5">-->
<!--                {{ 'rm.fields.createRmFile' | translate}}-->
<!--              </button>-->
            </div>
            <div class="row">
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.campaignCode' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.code }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.campaignName' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.name }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.purpose' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.typeName }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.formality' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.formName }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.campaignMiningBlock' | translate }}</label>
                </div>
                <div class="field-value">
                  <!-- <p class="m-0" *ngFor="let item of data?.bizLine">{{ item }}</p> -->
                  <span class="text-wrap">{{ bizLine_name }}</span>
                </div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.customerObject' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.blockName }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.saleChannel' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.channelName }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.product' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.productName }}</div>
              </div>

              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.startDate' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.startDate | date: 'dd/MM/yyyy' }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.endDate' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.endDate | date: 'dd/MM/yyyy' }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.sourceData' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.sourceName }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.campaignSize' | translate }}</label>
                </div>
                <div class="field-value">
                  {{ (data?.scope === 'TOAN_HANG' ? 'fields.allBranch' : 'fields.region') | translate }}
                </div>
              </div>
              <div *ngIf="isRegion" class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.area' | translate }}</label>
                </div>
                <div class="field-value">
                  <!-- <p class="m-0" *ngFor="let item of data?.region">{{ item }}</p> -->
                  <span class="text-wrap">{{ region_name }}</span>
                </div>
              </div>
              <div *ngIf="isRegion" class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.agency' | translate }}</label>
                </div>
                <div class="field-value field-value-scroll">
                  <p class="m-0" *ngFor="let item of data?.branch">{{ item }}</p>
                </div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.status' | translate }}</label>
                </div>
                <div class="field-value">
                  <span>{{ data?.status }}</span>
                </div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.image' | translate }}</label>
                </div>
                <div class="field-value">
                  <a href="javascript:void(0)" (click)="downloadFile()">{{ data?.fileName }}</a>
                </div>
              </div>

              <div class="col-md-12 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.content' | translate }}</label>
                </div>
                <div class="field-value">
                  <textarea
                    class="d-block"
                    rows="5"
                    style="border: none; color: initial; resize: none"
                    type="text"
                    [maxlength]="1000"
                    [value]="data?.content"
                    readonly
                    pInputTextarea
                  ></textarea>
                </div>
              </div>
<!--              <div class="col-md-6 d-flex">-->
<!--                <div class="field-label">-->
<!--                  <label class="m-0">{{ 'fields.implementationProcess' | translate }}</label>-->
<!--                </div>-->
<!--                <div class="field-value">-->
<!--                  <div class="row">-->
<!--                    <div class="p-field-checkbox col-md-6">-->
<!--                      <p-checkbox binary="true" disabled="true" [(ngModel)]="isOutreachProcess"> </p-checkbox>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-md-6 d-flex">
                <div class="field-label">
                  <label class="m-0">{{ 'fields.isRmInsert' | translate }}</label>
                </div>
                <div class="field-value">
                  <div class="row">
                    <div class="p-field-checkbox col-md-6">
                      <p-checkbox binary="true" disabled="true" [(ngModel)]="isRmInsert"> </p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card p-4 text-left mb-3">
            <div class="title-info">
              <h5>{{ 'title.foundationSLA' | translate }}</h5>
            </div>
            <div class="row">
              <div class="col-md-6 d-flex form-group" *ngIf="!isRm">
                <div class="field-label">
                  <label>{{ 'fields.sla_CBQL_assign_rm' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.slaManager }} {{ 'fields.date' | translate }}</div>
              </div>
              <div class="col-md-6 d-flex form-group">
                <div class="field-label">
                  <label>{{ 'fields.sla_rm_approach_customer' | translate }}</label>
                </div>
                <div class="field-value">{{ data?.slaRm }} {{ 'fields.date' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="card p-4 text-left m-0">
            <div class="title-info block-center-between">
              <h5>{{ 'title.listCustomerPurpose' | translate }}</h5>
              <div class="">
                <button [disabled]="checkExpired()" class="btn btn--light-blue btn-small" *ngIf="!this.isRm" (click)="redistribute()">
                  {{ 'btnAction.redistributeCustomers' | translate }}
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.customerCode' | translate }}</label>
                <input
                  placeholder=""
                  type="text"
                  maxlength="200"
                  class="d-block"
                  formControlName="customerCode"
                  (keyup.enter)="search(true)"
                  pInputText
                />
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.customerType' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listCustomerType"
                  placeholder=" "
                  class="d-block"
                  formControlName="customerType"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.campaignImplementationBranch' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranch"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  formControlName="branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3 form-group" [formGroup]="formSearch">
                <label>{{ 'fields.statusAssign' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatusAssign"
                  placeholder=" "
                  class="d-block"
                  formControlName="isAssign"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3" [formGroup]="formSearch">
                <label class="mb-0">{{ 'fields.result' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                            [options]="activityResultsParent" placeholder=" " class="d-block"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            formControlName="result"
                            appendTo="body" autoZIndex="false" baseZIndex="10000"
                            optionValue="code" optionLabel="name"></p-dropdown>
              </div>
              <div class="col-md-3" [formGroup]="formSearch">
                <label class="mb-0">{{ 'fields.process_step' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listStage"
                            placeholder=" " class="d-block"
                            formControlName="status"
                            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                            appendTo="body" autoZIndex="false" baseZIndex="10000"
                            optionValue="status" optionLabel="title"></p-dropdown>
              </div>
              <div *ngIf="formSearch.get('isAssign').value == 'true'" class="col-md-3">
                  <label class="mb-0">{{ 'assignLDRM.label.rmManager' | translate }}</label>
                  <div class="filter-top__left custom">
                    <div class="w-100">
                        <span class="w-100 p-input-icon-right">
                          <i
                            class="pi pi-times"
                            (click)="removeRMSelected()"
                          ></i>
                          <input type="text" class="form-control css-ellipsis" [(ngModel)]="employeeId" readonly />
                        </span>
                    </div>
                    <button
                      class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}"
                      (click)="searchRM()"
                    >
                      <em class="las la-search f-16"></em>
                    </button>
                  </div>
                </div>
            </div>
            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small" (click)="search(true)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="filter-top__right block-center">
                <button *ngIf="showBtnImportCus" (click)="importCustomer()" class="btn btn-small btn--light-blue ml-5">
                  {{ 'rm.fields.createRmFile' | translate}}
                </button>
                <button *ngIf="showAction" class="btn btn--red btn-small ml-3 text-white" (click)="clearData()">
                  {{ 'btnAction.deleteList' | translate }}
                </button>
                <button *ngIf="showBtnAddCampaign"
                        class="btn btn--light-blue btn-icon--small mr-2"
                        (click)="addCustomer()"
                        title="{{ 'btnAction.create' | translate }}"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button class="btn btn-search btn-small ml-3 text-white" (click)="exportExcel()">
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <ngx-datatable
              #table
              ngxDataTable
              class="row bootstrap"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [columns]="columns"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                    (eventChangePageSize)='handleChangePageSize($event)'
                    [hasDropdown]='true'
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #cellTmpl let-row="row" let-column="column" let-value="value">
  <ng-container *ngIf="column.prop === 'remainDayAssign'">
    <div class="text-center" *ngIf="checkRemainDayAssign(row)">
      <em class="fa fa-check text-success f-16"></em>
    </div>
    <div *ngIf="!checkRemainDayAssign(row)">
      <div [class]="generateAssignClass(row.remainDayAssign)">
        {{ checkExpired() ? expiredMessage : value }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="column.prop === 'remainDayRmAccost'">
    <div class="text-center" *ngIf="checkRemainDayRmAccost(row)">
      <em class="fa fa-check text-success f-16"></em>
    </div>
    <div *ngIf="!checkRemainDayRmAccost(row)">
      <div [class]="generateClass(row.remainDayRmAccost)">
        {{ checkExpired() ? expiredMessage : value }}
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #buttonsTemplate let-row="row" let-column="column" let-value="value">
  <ng-container *ngIf="column.prop === 'action'">
    <button
      type="button"
      class="btn-outline btn--light-blue"
      (click)="historyActivity(row); $event.stopPropagation()"
      title="{{ 'title.historyActivity' | translate }}"
    >
      <em class="las la-history"></em>
    </button>
    <button
      type="button"
      class="btn-outline btn--light-blue"
      (click)="historyCampaign(row); $event.stopPropagation()"
      title="{{ 'title.historyCampaign' | translate }}"
    >
      <em class="las la-calendar-check"></em>
    </button>
    <button *ngIf="row.showMenu" type="button" class="btn-outline" pButton icon="pi pi-bars" label=""
            (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" [model]="row.menu" appendTo="body" (onShow)="onShowMenu($event)"
            (onHide)="onHideMenu($event)"></p-menu>
  </ng-container>
</ng-template>
<ng-template #orderTmpl let-rowIndex="rowIndex" let-row="row" let-value="value">
  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
</ng-template>
