@import '../../../../../assets/styles/variable';

.campaign-detail {
  ::ng-deep .datatable-body {
    max-height: 492px;
    overflow-y: auto;
    min-height: 160px;
  }
}

.list__block {
  overflow-y: auto;
}

.title-info {
  margin-bottom: 1.75rem;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;
  h5 {
    margin: 0;
    padding-bottom: 5px;
  }
}

.field-label {
  width: 185px;
  padding-right: 1.5rem;
  flex: none;
}
.field-value {
  flex: 1 1 auto;
  white-space: pre-wrap;
  padding-left: 1.5rem;
  word-break: break-word;
  font-weight: $font-weight-bold;
  &-scroll {
    overflow-y: auto;
    max-height: 75px;
  }
}

.p-inputtextarea {
  min-height: 0;
  padding: 0;
  height: auto;
}

.text-error {
  color: red;
}

.text-success {
  color: #2db669 !important;
}

.text-warring {
  color: orange !important;
}
