<div class="heading my-4 block-center-between">
    <h5>{{ 'activity.recentActivities' | translate }}</h5>
</div>
<div class="boxes" [class.d-none]="activityCalls?.length === 0">
    <div class="box" *ngFor="let activity of activityCalls; let i = index; trackBy: identify"
        (click)="collapsedActivity(i)">
        <div class="media">
            <div class="media__left mr-3 position-relative">
                <ng-container *ngIf="activity.activityType === 'CALL'">
                    <div [class]="'activity__icon activity-call call-' + activity.activityDetail.status.toLowerCase()">
                        <em class="la-phone las f-22"></em>
                    </div>
                </ng-container>
                <ng-container *ngIf="activity.activityType === 'MEETING'">
                    <div class="activity__icon activity-meeting">
                        <em class="la-bell las f-22"></em>
                    </div>
                </ng-container>
                <ng-container *ngIf="activity.activityType === 'SMS'">
                    <div class="activity__icon activity-sms">
                        <em class="la-sms las f-22"></em>
                    </div>
                </ng-container>
                <ng-container *ngIf="activity.activityType === 'EMAIL'">
                    <div class="activity__icon activity-email">
                        <em class="la-envelope las f-22"></em>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="activity.activityType !== 'EMAIL' && activity.activityType !== 'SMS' && activity.activityType !== 'CALL' && activity.activityType !== 'MEETING'">
                    <div class="activity__icon activity-email" style="visibility: hidden;">
                        <em class="la-envelope las f-22"></em>
                    </div>
                </ng-container>
            </div>
            <div class="media-body">
                <div class="f-12">
                    {{ 'activity.fields.customer' | translate }}: <span class="text-black">{{
                        activity?.parentCustomerName + ' -
                        ' + activity?.parentCustomerId }}</span>
                </div>
                <div class="f-12">
                    {{ 'activity.fields.userCall' | translate }}:
                    <span class="text-black">{{ (activity.activityDetail?.assignUserName ?
                        activity.activityDetail.assignUserName : '') +
                        (activity.activityDetail?.branchCode ? ' - ' + activity.activityDetail.branchCode : '')
                        }}</span>
                </div>
                <div class="f-12">
                    <ng-container *ngIf="activity.activityType === 'CALL'"> {{ 'activity.fields.startTime' | translate
                        }}:
                    </ng-container>
                    <ng-container *ngIf="activity.activityType === 'MEETING'"> {{ 'activity.fields.appointmentTime' |
                        translate
                        }}: </ng-container>
                    <ng-container *ngIf="activity.activityType === 'SMS' || activity.activityType === 'EMAIL'">
                        {{ 'activity.fields.sendTime' | translate }}:
                    </ng-container>
                    <span class="pl-2 f-12 text-black">{{ activity?.dateEntered | date: 'd/M/yy, h:mm a' }}</span>
                </div>

                <div class="f-12">
                    <ng-container *ngIf="activity.activityType === 'CALL'">
                        {{ 'activity.fields.status' | translate }}: <span class="f-12 text-black"> {{ activity?.status
                            }}</span>
                    </ng-container>
                    <ng-container *ngIf="activity.activityType != 'CALL'">
                        {{ 'activity.fields.title' | translate }}: <span class="f-12 text-black"> {{ activity?.title
                            }}</span>
                    </ng-container>
                </div>
                <div class="f-12 activity-content" *ngIf="activity.content && activity.content.length > 0"
                    [@collapse]="activity.isCollapsed">
                    {{ activity?.content }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="activity-empty" [class.d-none]="activityCalls?.length > 0">
    <div class="activity-empty--body">
        <img alt="" src="/assets/images/activity-empty.png" width="80%" />
        <div class="activity-empty--text">{{ 'activity.callEmpty' | translate }}</div>
    </div>
</div>