<div class='confirm-reduction'>
  <app-loading *ngIf='isLoading'></app-loading>
  <div class='section customer-info'>
    <div class='row'>
      <div class='col-2 d-flex align-items-center '> <span class='m-left-2'>
        {{ 'reductionProposal.labels.proposalCustomerCode' | translate }}
          </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerCode || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center'>
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalCustomerName' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerName || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center '>
        <span class='m-left-2' *ngIf='isKhdn'>
            {{ 'reductionProposal.labels.proposalMst' | translate }}
        </span>
        <span class='m-left-2' *ngIf='!isKhdn'>GTTT</span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{redutionProposol.taxCode || redutionProposol.businessRegistrationNumber || redutionProposol.idCard || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center'>
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalSegment' | translate }}
          <br />
          {{'reductionProposal.labels.proposalSegment1' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{redutionProposol.segmentName || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center '>
        <span class='m-left-2'>
        {{ 'reductionProposal.labels.proposalRank' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{redutionProposol.creditRanking || '--'}}
      </div>
      <!-- SME -->
      <div class='col-2 d-flex align-items-center' *ngIf='isKhdn'>
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalObject' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36' *ngIf='isKhdn'>
        {{redutionProposol.classification || '--'}}
      </div>

      <div class='col-2 d-flex align-items-center'
           *ngIf="redutionProposol?.type === 0 && redutionProposol?.blockCode !== 'FI'">
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.customerStructure' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'
           *ngIf="redutionProposol?.type === 0 && redutionProposol?.blockCode !== 'FI'">
        {{  redutionProposol?.customerStructure }}
      </div>

      <div class='col-2 d-flex align-items-center '>
        <span class='m-left-2'>
          {{ 'reductionProposal.labels.customerType' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'>
        {{redutionProposol.customerType == 'OLD' ? 'Khách hàng cũ' : 'Khách hàng mới'}}
      </div>
      <div class='col-2 d-flex align-items-center'
           *ngIf="(redutionProposol?.type === 1) || (redutionProposol?.type === 0 && isKhdn && (isManage || redutionProposol?.blockCode === 'FI' || !existed))">
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalTOICurrent' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'
           *ngIf="(redutionProposol?.type === 1) || (redutionProposol?.type === 0 && isKhdn && (isManage || redutionProposol?.blockCode === 'FI' || !existed))">
        {{ formatCurrency(convertToiCurrent(redutionProposol?.toiExisting))}}
      </div>
      <div class='col-2 d-flex align-items-center'
           *ngIf="(redutionProposol?.type === 1) || (redutionProposol?.type === 0 &&isKhdn && (isManage || redutionProposol?.blockCode === 'FI' || !existed))">
        <span class='m-left-2'>
          {{ 'reductionProposal.labels.proposalDTTTRR' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36'
           *ngIf="(redutionProposol?.type === 1) || (redutionProposol?.type === 0 && isKhdn && (isManage || redutionProposol?.blockCode === 'FI' || !existed))">
        {{ (convertDtttrr(redutionProposol.dtttrrExisting) | number) || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center'
           *ngIf="((redutionProposol?.type === 1 && redutionProposol?.customerType == 'NEW') || (redutionProposol?.type === 0 && displayConfirmInfo && isKhdn))">
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalTOIConfirm' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center'
           *ngIf="((redutionProposol?.type === 1 && redutionProposol?.customerType == 'NEW') || (redutionProposol?.type === 0 && displayConfirmInfo && isKhdn))">
        <input style='width: 250px;'
               type='text'
               [disabled]='true'
               pInputText
               [(ngModel)]='redutionProposol.toiConfirmApproved? redutionProposol.toiConfirmApproved : modelValue.toi ? modelValue.toi : redutionProposol.toiConfirm'>
      </div>
      <div class='col-2 d-flex align-items-center '
           *ngIf="((redutionProposol?.type === 1 && redutionProposol?.customerType == 'NEW') || (redutionProposol?.type === 0 && displayConfirmInfo && isKhdn))">
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalDTTTRRConfirm' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center'
           *ngIf="((redutionProposol?.type === 1 && redutionProposol?.customerType == 'NEW') || (redutionProposol?.type === 0 && displayConfirmInfo && isKhdn))">
        <p-inputNumber
          mode='decimal'
          [disabled]='true'
          [(ngModel)]='dtttrrConfirmApprovedTrd? dtttrrConfirmApprovedTrd  : dtttrrConfirmTrd'></p-inputNumber>
      </div>
      <div class='col-2 d-flex align-items-center ' *ngIf='!isKhdn'>
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalNIMCurrent' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36' *ngIf='!isKhdn'>
        <!-- <div class="value">{{redutionProposol?.nimExisting?.toString() || '--'}}</div> -->
        <p-inputNumber class='w-50' styleClass='w-100' mode='decimal' [min]='1'
                       [(ngModel)]='nimExistingApproved'
                       [disabled]='true'
                       locale='en-US'
                       placeholder='0.00' [minFractionDigits]='2' maxFractionDigits='2'
                       maxlength='12'></p-inputNumber>
      </div>
      <div class='col-2 d-flex align-items-center ' *ngIf='!isKhdn'> <span class='m-left-2'>
        {{ 'reductionProposal.labels.proposalRelationship' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36' *ngIf='!isKhdn'>
        {{ data?.mbRelationship || '--'}}
      </div>
      <div class='col-2 d-flex align-items-center' *ngIf='!isKhdn'>
        <span class='m-left-2'>
            {{ 'reductionProposal.labels.proposalNIMConfirm' | translate }}
        </span>
      </div>
      <div class='col-4 d-flex align-items-center line-height-36' *ngIf='!isKhdn'>
        <!-- <div class="value">{{redutionProposol?.nimConfirm?.toString() || '--'}}</div> -->
        <p-inputNumber class='w-50' styleClass='w-100' mode='decimal'
                       [(ngModel)]='nimConfirmApproved'
                       [ngClass]="errorNimConfirm? 'error-requied' : ''"
                       [disabled]='isApproval || !action'
                       locale='en-US' (onBlur)='validateNimConfirm($event)'
                       placeholder='0.00' [minFractionDigits]='2' maxFractionDigits='2'
                       maxlength='12'></p-inputNumber>
        <small class='p-error'
               *ngIf='errorNimConfirm'>{{errorNimConfirm }}</small>
      </div>
      <div class='col-2 d-flex align-items-center '
           *ngIf="((isKhdn && redutionProposol?.customerStructure !== 'Phi tín dụng')||redutionProposol?.blockCode === 'FI') ">
          <span class='m-left-2'>
              {{ 'Thời gian đánh giá' }}
          </span>
      </div>
      <div class='col-4 d-flex align-items-center'
           *ngIf="((isKhdn && redutionProposol?.customerStructure !== 'Phi tín dụng')||redutionProposol?.blockCode === 'FI') ">
        <p-dropdown class='w-100'
                    [style]="{'width':'250px'}"
                    [disabled]='isApproval || !action'
                    optionLabel='name'
                    optionValue='code'
                    [options]='month'
                    [(ngModel)]='monthConfirm'
                    placeholder='Chọn số tháng'></p-dropdown>
      </div>
    </div>
    <div class='row'>
      <div class='col-6'></div>
      <div class='col-6 d-flex align-items-center '
           *ngIf="((redutionProposol?.type === 1 && redutionProposol?.customerType == 'NEW' ) || (redutionProposol?.type === 0 && displayConfirmInfo && isKhdn))">
        <button class='btn btn--light-blue btn-calculate-toi m-left-2' (click)='CaculateToi()'>
          {{ 'reductionProposal.labels.calculateTOI' | translate }}</button>
      </div>
    </div>
  </div>
  <div class='my-3'>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4 class='p-3 '>
            {{this.redutionProposol.type == 1 ? "Thông tin giảm lãi" : 'Thông tin giảm phí'}}
          </h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf='redutionProposol?.reductionProposalDetailsDTOList && this.redutionProposol.type == 1'>
        <p-table
          [value]='(this.isApproval || !action )? redutionProposol.reductionProposalDetailsApprovedDTOList : reductionProposalDetailsDTOList'
          [autoLayout]='true'
          [style]="{'width':'100%','overflow':'auto!important'}">
          <ng-template pTemplate='header'>
            <tr>
              <th *ngIf='redutionProposol?.reductionProposalDetailsDTOList[0]?.planCode
              || redutionProposol?.reductionProposalDetailsDTOList[0]?.mdCode
              || redutionProposol?.reductionProposalDetailsDTOList[0]?.ldCode' class='text-center'
                  rowspan='2'>{{
                redutionProposol?.reductionProposalDetailsDTOList[0]?.planCode ? 'Mã phương án hạn mức'
                  : redutionProposol?.reductionProposalDetailsDTOList[0]?.ldCode ? 'Mã LD'
                    : redutionProposol?.reductionProposalDetailsDTOList[0]?.mdCode ? 'Mã MD' : ''
                }}</th>
              <th rowspan='2'>Biểu lãi suất</th>
              <th rowspan='2'>Loại tiền tệ</th>
              <th rowspan='2'>Kỳ điều chỉnh</th>
              <th rowspan='2'>Kỳ hạn</th>
              <th class='text-center'
                  [colSpan]='this.checkAbilityInterest() ? 3 : 2 '>Đề xuất
              </th>
              <th class='text-center'
                  [colSpan]='this.checkAbilityInterest() ? 3 : 2 '>Phê duyệt
              </th>
              <th rowspan='2'>Tỷ lệ giảm <br> biên độ (%)</th>
              <th *ngIf='this.checkAbilityInterest()' rowspan='2'>Tỷ lệ giảm lãi <br> suất tối thiểu (%)</th>

            </tr>
            <tr>
              <th>Biên độ (%)</th>
              <th *ngIf='this.checkAbilityInterest()'>Lãi suất tối thiểu (%)</th>
              <th>Lãi suất cho vay (%)</th>
              <th>Biên độ (%)</th>
              <th *ngIf='this.checkAbilityInterest()'>Lãi suất tối thiểu (%)</th>
              <th>Lãi suất cho vay (%)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate='body'
                       let-rowNode
                       let-rowData>
            <tr>
              <td class='text-center'
                  *ngIf='redutionProposol?.reductionProposalDetailsDTOList[0]?.planCode
                  || redutionProposol?.reductionProposalDetailsDTOList[0]?.mdCode
|| redutionProposol?.reductionProposalDetailsDTOList[0]?.ldCode'>
                {{rowData?.planCode || rowData?.mdCode || rowData?.ldCode || ''}}</td>
              <td>{{rowData.itemName}}</td>
              <td>{{rowData.interestUnit}}</td>
              <td>{{rowData.interestAdjustPeriod}}</td>
              <td>{{rowData.interestLoanPeriod}}</td>
              <td>{{rowData.interestProposedAmplitude}}</td>
              <td *ngIf='this.checkAbilityInterest()'>{{rowData.minInterestRateOffer || '--'}}</td>
              <td>{{rowData.interestProposedValue}}</td>
              <td>
                <p-inputNumber placeholder='0.00'
                               mode='decimal'
                               [minFractionDigits]='2'
                               [min]='0'
                               locale='en-US'
                               [disabled]='isApproval || !action'
                               (onInput)='changeMarginSuggest($event, rowData)'
                               (onBlur)='onFocus($event, rowData)'
                               [(ngModel)]='rowData.interestApprovedAmplitude'>
                </p-inputNumber>
                <small class='p-error'
                       *ngIf='rowData?.errorMessage'>{{ rowData?.errorMessage }}</small>
              </td>
              <td *ngIf='!rowData.minInterestRate && this.checkAbilityInterest()' class='text-center'>{{'--'}}</td>
              <td *ngIf='this.checkAbilityInterest() && rowData.minInterestRate'>
                <p-inputNumber
                  (keyup)='getValueMinimumRate($event, rowData)'
                  (onBlur)='calculateInterest($event, rowData)'
                  placeholder='0.00'
                  mode='decimal'
                  [minFractionDigits]='2'
                  [min]='0'
                  locale='en-US'
                  [disabled]='isApproval || !action'
                  (onBlur)='onFocus($event, rowData)'
                  [(ngModel)]='rowData.minInterestRateOfferApproved'>
                </p-inputNumber>
                <small class='p-error'
                       *ngIf='rowData?.rateMinimumError'>{{ rowData?.rateMinimumError }}</small>
              </td>
              <td>{{rowData.interestValue}}
              </td>
              <td>{{rowData.reductPercent}}</td>
              <td *ngIf='!rowData.minInterestRate && this.checkAbilityInterest()' class='text-center'>{{'--'}}</td>
              <td *ngIf='rowData.minInterestRate && this.checkAbilityInterest()'>{{rowData.rateMinimum}}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-container *ngIf='reductionProposalDetailsDTOList && this.redutionProposol.type == 0'>
        <p-table [value]='reductionProposalDetailsDTOList'
                 class='mt-2 mr-4 ml-4 d-flex'
                 [autoLayout]='true'
                 [style]="{'width':'100%','overflow':'auto!important'}">
          <ng-template pTemplate='header'>
            <tr>
              <th rowspan='2' class='text-center'
                  *ngIf=' redutionProposol?.scopeType != 0 && redutionProposol.scopeType != 3'>
                {{
                redutionProposol?.scopeType == 1 ? 'Mã phương án hạn mức' :
                  redutionProposol?.scopeType == 2 ? 'Mã LD' :
                    redutionProposol?.scopeType == 4 ? 'Mã MD' : 'Không xác định'
                }}
              </th>
              <th class='text-center'
                  rowspan='2'>Tên phí/<br>Khoản mục phí
              </th>
              <th class='text-center'
                  rowspan='2'>Loại <br>tiền tệ
              </th>
              <th class='text-center'
                  rowspan='2'>Phân <br>loại phí
              </th>
              <th class='text-center' *ngIf='!isKhdn'
                  colspan='3'>Đề xuất giảm
              </th>
              <th class='text-center' *ngIf='isKhdn'
                  colspan='3'>Đề xuất giảm
              </th>
              <th class='text-center'
                  colspan='6'>Phê duyệt giảm
              </th>
            </tr>
            <tr>
              <th class='text-center'>Mức phí</th>
              <th class='text-center'>Phí tối thiểu</th>
              <th class='text-center'>Phí tối đa</th>
              <th class='text-center'>Mức phí</th>
              <th class='text-center'>Tỉ lệ giảm <br> mức phí (%)</th>
              <th class='text-center'>Phí tối thiểu</th>
              <th class='text-center' *ngIf='isKhdn'>Tỉ lệ giảm <br> phí tối thiểu (%)</th>
              <th class='text-center'>Phí tối đa</th>
              <th class='text-center' *ngIf='isKhdn'>Tỉ lệ giảm <br> phí tối đa (%)</th>
              <!-- <th class="text-center">Phí tối thiểu</th>
<th class="text-center">Tỉ lệ giảm <br> phí tối thiểu (%)</th>
<th class="text-center">Phí tối đa</th>
<th class="text-center">Tỉ lệ giảm <br> phí tối đa (%)</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate='body'
                       let-product>
            <tr>
              <td *ngIf=' redutionProposol?.scopeType != 0 && redutionProposol.scopeType != 3'>
                {{redutionProposol?.scopeType == 4 ? product?.mdCode : redutionProposol?.scopeType == 2 ? product?.ldCode : product?.planCode || '--'}}
              </td>
              <td>
                {{product?.itemName || '--'}}
              </td>
              <td>
                {{product?.interestUnit || '--'}}
              </td>
              <td>
                {{product?.interestType ? 'Loại ' + product?.interestType : '--'}}
              </td>
              <td>
                {{product?.ratioCostOffer == 0 ? 0 : formatCurrency(product?.ratioCostOffer) || '--'}}
              </td>
              <td>
                {{product?.minimumCostOffer == 0 ? 0 : formatCurrency(product?.minimumCostOffer) || '--'}}
              </td>
              <td>
                {{product?.maximumCostOffer == 0 ? 0 : formatCurrency(product?.maximumCostOffer) || '--'}}
              </td>
              <td>
                <span *ngIf='product?.itemName && product?.ratioCostOffer == null'>--</span>
                <!-- <p-inputNumber [inputStyleClass]="'text-center'" maxlength="19" class="w-100 text-center" [disabled]="isApproval || !action"
                    [minFractionDigits]="2" maxFractionDigits="2" mode="decimal" locale="en-US"
                    [min]="0" *ngIf="product?.itemName && product?.ratioCostOffer != null" placeholder="0.00"
                    [(ngModel)]="product.ratioCostApproved"
                    (keyup)="calculateReduction($event.target.value, product, 'Cost')"></p-inputNumber> -->
                <input type='text' pInputText min='0' [disabled]='isApproval || !action'
                       *ngIf='product?.itemName && product?.ratioCostOffer != null'
                       [inputStyleClass]="'text-center'" maxlength='15' class='w-100 text-center'
                       (keydown)="keyPress($event, product, 'Cost')"
                       (keyup)="calculateReduction($event.target.value, product, 'Cost')"
                       (blur)="calculateReductionOnBlur($event, product, 'Cost')"
                       [ngModelOptions]='{standalone: true}'
                       [(ngModel)]='product.ratioCostApproved' />
                <small class='p-error' *ngIf='product?.errorCost' style='position: absolute;'>{{
                  product?.errorCost }}</small>
              </td>
              <td>
                {{(product.rateCost | json) == "null" || product?.ratioCostOffer == null ? '--' : product.rateCost}}
              </td>
              <td *ngIf='isKhdn'>
                <span *ngIf='product?.itemName && product?.minimumCostOffer == null'>--</span>
                <!-- <p-inputNumber [inputStyleClass]="'text-center'" maxlength="19" class="w-100 text-center" mode="decimal" [disabled]="isApproval || !action"
                    [min]="0" *ngIf="product?.itemName && product?.minimumCostOffer != null" placeholder="0.00" locale="en-US"
                    [minFractionDigits]="2" maxFractionDigits="2" [(ngModel)]="product.minimumCostApproved"
                    (keyup)="calculateReduction($event.target.value, product, 'Min')"></p-inputNumber> -->
                <input type='text' pInputText min='0' [disabled]='isApproval || !action'
                       *ngIf='product?.itemName && product?.minimumCostOffer != null'
                       [inputStyleClass]="'text-center'" maxlength='15' class='w-100 text-center'
                       (keydown)="keyPress($event, product, 'Min')"
                       (keyup)="calculateReduction($event.target.value, product, 'Min')"
                       (blur)="calculateReductionOnBlur($event, product, 'Min')"
                       [ngModelOptions]='{standalone: true}'
                       [(ngModel)]='product.minimumCostApproved' />
                <small class='p-error' *ngIf='product?.errorMin' style='position: absolute;'>{{
                  product?.errorMin }}</small>
              </td>
              <td *ngIf='isKhdn'>
                {{(product.rateMin | json) == 'null' || product?.minimumCostOffer == null ? '--' : product.rateMin}}
              </td>
              <td *ngIf='isKhdn'>
                <span *ngIf='product?.itemName && product?.maximumCostOffer == null'>--</span>
                <!-- <p-inputNumber [inputStyleClass]="'text-center'" maxlength="19" class="w-100 text-center" mode="decimal" [disabled]="isApproval || !action"
                    [min]="0" *ngIf="product?.itemName && product?.maximumCostOffer != null" placeholder="0.00" locale="en-US"
                    [minFractionDigits]="2" maxFractionDigits="2" [(ngModel)]="product.maximumCostApproved"
                    (keyup)="calculateReduction($event.target.value, product, 'Max')"></p-inputNumber> -->
                <input type='text' pInputText min='0' [disabled]='isApproval || !action'
                       *ngIf='product?.itemName && product?.maximumCostOffer != null'
                       [inputStyleClass]="'text-center'" maxlength='15' class='w-100 text-center'
                       (keydown)="keyPress($event, product, 'Max')"
                       (keyup)="calculateReduction($event.target.value, product, 'Max')"
                       (blur)="calculateReductionOnBlur($event, product, 'Max')"
                       [ngModelOptions]='{standalone: true}'
                       [(ngModel)]='product.maximumCostApproved' />
                <small class='p-error' *ngIf='product?.errorMax' style='position: absolute;'>{{
                  product?.errorMax }}</small>
              </td>
              <td *ngIf='isKhdn'>
                {{(product.rateMax | json) == 'null' || product?.maximumCostOffer == null ? '--' : product.rateMax}}
              </td>
              <td
                *ngIf='!isKhdn'>{{ product?.minimumCostApproved === 0 ? 0 : product?.minimumCostApproved || '--'}}</td>
              <td
                *ngIf='!isKhdn'>{{ product?.maximumCostApproved === 0 ? 0 : product?.maximumCostApproved || '--'}}</td>
            </tr>

          </ng-template>
        </p-table>
      </ng-container>
    </mat-expansion-panel>
  </div>
  <p-table [value]='products'>
    <ng-template pTemplate='header'>
      <tr>
        <th>Nội dung</th>
        <th>Đề xuất</th>
        <th>Phê duyệt</th>
      </tr>
    </ng-template>
    <ng-template pTemplate='body'
                 let-product>
      <tr>
        <td>{{product.content}}</td>
        <td>{{product.offer}}</td>
        <td>
          <!-- && this.redutionProposol.scopeType == 3 -->
          <div [ngStyle]="{'pointer-events': (this.isApproval || !action ) ? 'none' : 'auto'}"
               *ngIf="product.content == 'Phạm vi áp dụng' && this.redutionProposol.scopeType == 3">
            <a href='javascript:void(0)'
               (click)='openOptionCodeModal($event)'
               role='button'
               class='link-primary'>{{optionCodeData?.optionCode || ((this.isApproval || !action) ? 'Chưa có mã phươngán' : 'Chọn mã phương án')}}</a>
          </div>
          <div *ngIf="product.content == 'Hiệu lực tờ trình'"
               class='d-flex align-items-center'>
            <p-inputNumber *ngIf='isKhdn'
                           styleClass='input-month'
                           [(ngModel)]='product.timeApproval'
                           [ngClass]="errorMonthApproval? 'error-requied' : ''"
                           [disabled]='isApproval || !action'
                           [maxlength]='2'
                           [max]='12'
                           (onBlur)='onFocusTimeApproval($event)'
                           (onInput)='setTimeApproval($event)'
                           mode='decimal'>
            </p-inputNumber>
            <p-inputNumber *ngIf='!isKhdn' styleClass='input-month'
                           [(ngModel)]='product.timeApproval'
                           [ngClass]="errorMonthApproval? 'error-requied' : ''"
                           [disabled]='isApproval || !action'
                           [maxlength]='5'
                           (onBlur)='onFocusTimeApproval($event)'
                           (onInput)='setTimeApproval($event)'
                           mode='decimal'>
            </p-inputNumber>
            <div class='pl-3'>
              tháng
            </div>
            <small class='p-error' style='position: absolute;bottom: 40px;'
                   *ngIf='errorMonthApproval'>{{errorMonthApproval }}</small>
          </div>
          <div class='d-flex'
               *ngIf="product.content == 'Thời gian hết hạn tờ trình'">
            {{product.timeEndApproval}}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div [ngStyle]="{'pointer-events': (isApproval || action != 'confirm') ? 'none' : 'auto'}"
       [formGroup]='form'
       class='d-flex align-items-center pt-3'>
    <p-checkbox [formControl]="form.controls['rmConfirm']"
                [binary]='true'></p-checkbox>
    <div class='pl-3'>
      RM chịu trách nhiệm với toàn bộ nội dung xác nhận khớp đúng với nội dung phê duyệt của Cấp phê duyệt
    </div>
  </div>
  <div *ngIf="form.controls['rmConfirm'].touched && form.controls['rmConfirm'].hasError('required')">
    <small class='p-error'>{{'Trường này bắt buộc.'}}</small>
  </div>
</div>
