<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ (isCreate ? 'kpi.title.add_branch_time' : 'kpi.title.edit_branch_time') |
                translate }}</h3>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4" [formGroup]="formSearch">
                        <div class="row">
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'kpi.fields.block' | translate }} <span class="text-red">(*)</span></label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                    [options]="listBlock" class="d-block" formControlName="blockCode" appendTo="body"
                                    autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code"
                                    (onChange)="onChangeBlockCode()">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="table__view group__view" [formGroup]="formCreate">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listBranchTypeKPI"
                            [columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                            [scrollbarH]="true" [virtualization]="false" [messages]="messages">

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name" name=''>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false"
                                name="{{ 'kpi.fields.new_branch' | translate }} (*)">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <div [formGroupName]="rowIndex">
                                        <input placeholder="" type="text" class="d-block" formControlName="value"
                                            pInputText />
                                        <small class="p-error"
                                            *ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.cusRequired && formCreate?.controls[rowIndex]?.controls?.value?.touched && isValidator">{{
                                            'validationMessage.required' |
                                            translate }}</small>
                                        <small class="p-error"
                                            *ngIf="formCreate?.controls[rowIndex]?.controls?.value?.errors?.value">{{
                                            'validationMessage.value_common' |
                                            translate }}</small>
                                        <!-- <span>{{ log(formCreate?.controls[rowIndex]?.controls?.value?.errors?.value)
                                            }}</span> -->
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="maxEfficientDate"
                                name="{{ 'kpi.fields.active_time' | translate }} (*)">
                                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                                    <div [formGroupName]="rowIndex">
                                        <p-calendar class="d-block" formControlName="efficientDate"
                                            dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                            [showIcon]="true" [minDate]='minDate' [maxDate]="value"
                                            icon="las la-calendar-alt">
                                        </p-calendar>
                                        <small class="p-error"
                                            *ngIf="formCreate?.controls[rowIndex]?.controls?.efficientDate?.errors?.cusRequired && formCreate?.controls[rowIndex]?.controls?.efficientDate?.touched && isValidator">{{
                                            'validationMessage.required' |
                                            translate }}</small>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="minExpireDate"
                                name="{{ 'fields.endTime' | translate }}">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                                    <div [formGroupName]="rowIndex">
                                        <p-calendar class="d-block" formControlName="expireDate" dateFormat="dd/mm/yy"
                                            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                                            icon="las la-calendar-alt" [minDate]="value || minDate">
                                        </p-calendar>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                    <div class="p-4 text-left btn-action">
                        <button class="btn btn--light-blue btn-small" (click)="create()">{{ 'btnAction.write' | translate
                            }}</button>
                        <button class="btn btn-light mr-3" (click)="back()">{{ 'btnAction.skip' | translate
                            }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
