<div class="right-view upload-image">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">
                Quản lý hình ảnh
            </h3>
        </div>
        <div class="content__top-right"></div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block p-4">
                    <div class="row">
                        <div class="col-md-4 form-group" [formGroup]="form">
                            <label class="mb-0">{{ 'fields.block' | translate }}</label>
                            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                formControlName="division" [options]="listDivision" placeholder=" " class="d-block"
                                optionLabel="name" optionValue="code">
                            </p-dropdown>
                        </div>
                        <div class="col-md-4 form-group" [formGroup]="form">
                            <label class="mb-0">{{ 'fields.group' | translate }}</label>
                            <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                formControlName="type" [options]="groupList" placeholder=" " class="d-block"
                                optionLabel="name" optionValue="value">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="pb-3 mb-3 action">
                        <button class="btn grey-custom btn-icon--small" [disabled]="!selectedForm"
                            (click)="deleteInfo()" title="{{ 'btnAction.delete' | translate }}">
                            <em class="las la-trash-alt f-16"></em>
                        </button>
                        <button class="btn grey-custom btn-icon--small ml-3" [disabled]="!selectedForm?.value?.uuidImage"
                            (click)="update()" title="{{ 'btnAction.edit' | translate }}">
                            <em class="las la-edit f-16"></em>
                        </button>
                        <button class="btn btn--light-blue btn-icon--small ml-3" [disabled]="!canCreate || haveFormNotSave"
                            (click)="create()" title="{{ 'btnAction.create' | translate }}">
                            <em class="las la-plus-circle f-16"></em>
                        </button>
                    </div>
                    <div class="row flex-1">
                        <div class="col-md-5 product-list">
                            <div class="table__title">
                                <label>{{ 'Tên ảnh' | translate }}</label>
                            </div>
                            <div class="table__view" *ngIf="imageList.length; else noRecord">
                                <div class="image-item" [ngClass]="{'selected-item': selectedForm?.getRawValue().uuidImage === item.uuidImage}"
                                    *ngFor="let item of imageList; let i = index" (click)="chooseForm(item.uuidImage)">
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                            <ng-template #noRecord>
                                <div style="text-align: 'center'" class="mt-5">
                                    Không có dữ liệu
                                </div>
                            </ng-template>

                        </div>
                        <div class="col-md-7">
                            <ng-container *ngIf="divisionForm?.value">
                                <app-image-form #imgForm [baseForm]="form.value" [imgForm]="selectedForm" [prefixImg]="prefixImg"
                                    (cancelUpdate)="cancelUpdate()" (onCreate)="onCreate()" (onDelete)="onDelete()" (onUpdate)="onUpdate()" (onLoading)="onLoading($event)">
                                </app-image-form>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
