<div class="wrap-item">
  <!-- queryBy === 'rm' -->
  <div class="query-detail-item" *ngIf="queryBy === 'rm'">
    <div class="panel-heading" role="tab" [id]="'heading' + data.id">
      <div class="panel-title">
        <a
          role="button"
          data-toggle="collapse"
          data-parent="#accordion"
          [href]="'#collapse' + data.id"
          aria-expanded="true"
          [attr.aria-controls]="'collapse' + data.id"
          (click)="changeDropdownArrowState(data.id)"
        >
          <button class="button-toogle">
            <span>
              <i
                class="icon"
                [ngClass]="{
                  'datatable-icon-down': !expandableAreasState[data.id],
                  'datatable-icon-up': expandableAreasState[data.id]
                }"
              ></i>
            </span>
          </button>
        </a>
        <span class="contract"
          >{{ 'queryMBALDetail.label.contractNumber' | translate }}
          <span class="cls-number">{{ data.alPolicyNumber }}</span></span
        >
      </div>
      <div class="row-detail">
        <div class="row mb-3">
          <div class="col-md-2">
            <div class="title">{{ 'queryMBALDetail.label.nameBMBH' | translate }}</div>
            <div class="cls-value">{{ data.alPolicyHolderName }}</div>
          </div>
          <div class="col-md-2">
            <div class="title">{{ 'queryMBALDetail.label.status' | translate }}</div>
            <div class="cls-status-active cls-value">{{ data.alPolicyStatus }}</div>
          </div>
          <div class="col-md-2">
            <div class="title">{{ 'queryMBALDetail.label.contractType' | translate }}</div>
            <div class="cls-value">{{ data.alMainProductName }}</div>
          </div>
        </div>
      </div>
    </div>
    <div
      [id]="'collapse' + data.id"
      class="panel-collapse collapse"
      role="tabpanel"
      [attr.aria-labelledby]="'heading' + data.id"
    >
      <div class="panel-body">
        <div class="row-detail">
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="line-bottom"></div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.registrationNumber' | translate }}</div>
              <div class="cls-value">{{ data.alPolicyHolderId }}</div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.datePublic' | translate }}</div>
              <div class="cls-value">{{ data.alIssuedDate | date: 'dd/MM/y' }}</div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.cif' | translate }}</div>
              <div class="cls-value">{{ data.customerId }}</div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.dateACK' | translate }}</div>
              <div class="cls-value">{{ data.alAckDate | date: 'dd/MM/y' }}</div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.channel' | translate }}</div>
              <div class="cls-value">{{ data.alSaleChannel }}</div>
            </div>
            <div class="col-md-2">
              <div class="title">{{ 'queryMBALDetail.label.dateCancel' | translate }}</div>
              <div class="cls-value">{{ data.alReversedDate | date: 'dd/MM/y' }}</div>
            </div>
          </div>
        </div>
        <div class="table-detail">
          <table class="table">
            <thead>
              <tr>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.no' | translate }}</th>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.product' | translate }}</th>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.periodicallyPacking' | translate }}</th>
                <th class="header text-right" scope="col">{{ 'queryMBALDetail.title.paymentDeadline' | translate }}</th>
                <th class="header text-right" scope="col">
                  {{ 'queryMBALDetail.title.insurancePremiums' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataTable; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.alRiderProductName }}</td>
                <td>{{ data.alPremiumPaymentFrequency }}</td>
                <td class="text-right">{{ data.alPremiumTerm }}</td>
                <td class="text-right">{{ data.alApeIc | number: '1.0-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- queryBy === 'kh' -->
  <div class="query-detail-item" *ngIf="queryBy === 'kh'">
    <div class="panel-title">
      <span class="contract ml-0"
        >{{ 'queryMBALDetail.label.contractNumber' | translate }}
        <span class="cls-number">{{ data.alPolicyNumber }}</span></span
      >
    </div>
    <div class="row-detail">
      <div class="row">
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.nameBMBH' | translate }}</div>
          <div class="cls-value">{{ data.alPolicyHolderName }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.status' | translate }}</div>
          <div class="cls-status-active cls-value">{{ data.alPolicyStatus }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.contractType' | translate }}</div>
          <div class="cls-value">{{ data.alMainProductName }}</div>
        </div>
        <div class="col-md-12">
          <div class="line-bottom"></div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.registrationNumber' | translate }}</div>
          <div class="cls-value">{{ data.alPolicyHolderId }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.datePublic' | translate }}</div>
          <div class="cls-value">{{ data.alIssuedDate | date: 'dd/MM/y' }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.cif' | translate }}</div>
          <div class="cls-value">{{ data.customerId }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.dateACK' | translate }}</div>
          <div class="cls-value">{{ data.alAckDate | date: 'dd/MM/y' }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.channel' | translate }}</div>
          <div class="cls-value">{{ data.alSaleChannel }}</div>
        </div>
        <div class="col-md-2">
          <div class="title">{{ 'queryMBALDetail.label.dateCancel' | translate }}</div>
          <div class="cls-value">{{ data.alReversedDate | date: 'dd/MM/y' }}</div>
        </div>
      </div>
    </div>
    <div class="panel-collapse" role="tabpanel">
      <div class="panel-body">
        <div class="table-detail">
          <table class="table">
            <thead>
              <tr>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.no' | translate }}</th>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.product' | translate }}</th>
                <th class="header" scope="col">{{ 'queryMBALDetail.title.periodicallyPacking' | translate }}</th>
                <th class="text-right header" scope="col">{{ 'queryMBALDetail.title.paymentDeadline' | translate }}</th>
                <th class="text-right header" scope="col">
                  {{ 'queryMBALDetail.title.insurancePremiums' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataTable; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.alRiderProductName }}</td>
                <td>{{ data.alPremiumPaymentFrequency }}</td>
                <td class="text-right">{{ data.alPremiumTerm }}</td>
                <td class="text-right">{{ data.alApeIc | number: '1.0-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

