.wrap-item {
    padding: 0 15px;
}

.query-detail-item {
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 5px;
    .button-toogle {
        background: #eff2fe;
        border: none;
        border-radius: 6px;
        width: 36px !important;
        height: 36px !important;
        min-width: 36px !important;
        i {
            font-size: 22px;
            color: #ffffff;
            top: 3px;
            position: relative;
        }
    }
    .panel-title {
        padding: 10px;
    }
    .row-detail {
        padding: 0 10px;
    }
    .line-bottom {
        height: 1px;
        background-color: #eee;
        margin: 0 0 10px 0;
    }
    .contract {
        margin-left: 10px;
        font-weight: 700;
        font-size: 14px;
    }
    .cls-status-active {
        color: #1bc47d;
    }
    .cls-status-lapse {
        color: yellowgreen;
    }
    .cls-status-cancel {
        color: red;
    }
    .cls-number {
        color: #bbbbfd;
    }
    .cls-value {
        font-size: 14px;
    }
    .table-detail {
        padding-top: 10px;
        .header {
            font-size: 1.2rem;
            color: #353644;
            text-align: left;
            line-height: 30px;
            background: #eff2fe;
            font-weight: 700;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::after {
                bottom: 0;
                display: inline-block;
                padding: 0 4px;
                position: absolute;
                right: 0;
                top: 0;
                visibility: hidden;
                width: 5px;
            }
        }
    }
}
