.lead-duplicate-modal {
  .modal-dialog {
    height: calc(100% - 3rem);
  }
  .modal-content {
    height: 100%;
  }
  .lead-duplicate-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .filter {
    margin: 10px 0;
    padding: 12px 20px;
  }
  .task__item-name {
    flex-basis: 50%;
    max-width: 50%;
  }
  .task__item-phone {
    flex-basis: 15%;
    max-width: 15%;
  }
  .task__item-email {
    flex-basis: 35%;
    max-width: 35%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  .list-preview {
    flex-grow: 1;
    position: relative;
  }
  .list-preview__row,
  .leadPreviews-empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
  .leadPreviews-empty {
    text-align: center;
    padding: 25px;
  }
  .leadPreviews-empty--text {
    margin-top: 15px;
  }
}
