<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ task.name }}</h5>
      <label class="m-0">{{ 'task.title' | translate }}</label>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="header-section block-center-between mb-3">
    <span class="f-14 text-black">{{ 'task.sectionTitleInfoCampaign' | translate }}</span>
  </div>
  <div class="">
    <div class="row col m-0">
      <div class="col-md-3 form-group">{{ 'fields.campaignName' | translate }}</div>
      <div class="col-md-3 form-group text-black">{{ campaignData?.name }}</div>
      <div class="col-md-3 form-group">{{ 'fields.startDate' | translate }}</div>
      <div class="col-md-3 form-group text-black">
        {{ campaignData?.startDate | date: 'dd/MM/yyyy' }}
      </div>
      <div class="col-md-3 form-group">{{ 'fields.campaignCode' | translate }}</div>
      <div class="col-md-3 form-group text-black">{{ campaignData?.code }}</div>
      <div class="col-md-3 form-group">{{ 'fields.endDate' | translate }}</div>
      <div class="col-md-3 form-group text-black">
        {{ campaignData?.endDate | date: 'dd/MM/yyyy' }}
      </div>
      <div class="col-md-3 form-group">{{ 'fields.totalImport' | translate }}</div>
      <div class="col-md-3 form-group text-black">
        {{ task?.taskLocalVariables?.countLeadPreview}}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button *ngIf="!isDetail" class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.handling' | translate
      }}</button>
    <button *ngIf="isDetail" class="btn btn--red" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
