<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'titleRelationship.titleDETAIL' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="group__create-form px-4 mt-4">
          <div class="row form-create" [formGroup]="formSearch">
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.codeTitle' | translate }}</label>
              <input
                type="text"
                maxlength="100"
                pInputText
                placeholder=""
                class="d-block"
                formControlName="titleCode"
              />
            </div>
            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.nameTitle' | translate }}</label>
              <input
                type="text"
                maxlength="100"
                pInputText
                placeholder=""
                class="d-block"
                formControlName="titleName"
              />
            </div>

            <div class="col-md-4 form-group">
              <label class="mb-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="divisionCode"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="filter-top block-center-between">
            <div class="filter-top__left">
              <button class="btn btn--light-blue btn-small" (click)="search(false)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button
                class="btn btn-icon btn-search btn-icon--small"
                (click)="createTitle()"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
            </div>
          </div>

          <div class="table__view list_rm">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="code"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.codeTitle' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="name"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.nameTitle' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="blockCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.block' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button type="button" (click)="viewEdit(row)" class="btn-outline">
                      <em class="las la-edit"></em>
                    </button>

                    <button
                      type="button"
                      (click)="deleteTitle(row)"
                      class="btn-outline"
                      title="{{ 'btnAction.delete' | translate }}"
                    >
                      <em class="las la-trash-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
