<div class="right-view basic-filter">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'rm.menu.huddleGroup' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center px-4 search-basic">
            <div class="action__left">
              <div class="dropdown mr-4">
                <label class="mb-0">{{ 'rm.fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  class="d-block"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="value"
                  [options]="statusList"
                  [(ngModel)]="paramSearch.isActived"
                ></p-dropdown>

              </div>
              <div class="search-input mr-4">
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box" maxlength="200"  (keyup.enter)="search(true)" (keyup)="isClickSearch()" [(ngModel)]="textSearch"/>
                       <!--[(ngModel)]="textSearch" -->
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2" title="{{ 'btnAction.search' | translate }}" (click)="search(true)">
                <!---->
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction.create"  class="btn btn-icon btn-icon--small btn-search mr-2"
                      (click)="create()" title="{{ 'btnAction.create' | translate }}">
                <em class="las la-plus-circle f-16"></em>
              </button>
              <button  class="btn btn-icon btn-icon--small btn-search"
                      (click)="exportFile()" title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view group__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
                           [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
                           [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
                           [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                           (activate)="onActive($event)" [messages]="messages">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column  [sortable]="false" [draggable]="false" prop="groupCode"
                                     name="{{ 'fields.groupCode' | translate }}" [width]="280">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span class="btn-icon btn-icon--small grey clickable">
                    <em class="las f-16 la-cogs"></em>
                  </span>
                  <span class="ml-2" title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="groupName"
                                    name="{{ 'fields.groupName' | translate }}" [width]="280">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="blockCode"
                                    name="{{ 'fields.blockCode' | translate }}" [width]="100" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branchName"
                                    name="{{ 'fields.branchName' | translate }}" [width]="150">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdDate"
                                    name="{{ 'fields.createdDate' | translate }}" [width]="150">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdBy"
                                    name="{{ 'opportunity.fields.createBy' | translate }}" [width]="150">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
                                    name="{{ 'fields.modifiedDate' | translate }}" [width]="150">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="isActived"
                                    name="{{ 'rm.fields.status' | translate }}" [width]="150">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ (row.isActived ? 'fields.effective' : 'fields.expire') | translate }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column  name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                                     [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="objFunction && objFunction.delete && row.isUpdateOrDelete && row.isActived" type="button" class="btn-outline"
                            (click)="delete(row);$event.stopPropagation()" title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button *ngIf="objFunction && objFunction.update && row.isUpdateOrDelete && row.isActived" type="button" class="btn-outline ml-2"
                            title="{{ 'btnAction.edit' | translate }}" (click)="update(row);$event.stopPropagation()">
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount"
                             let-pageSize="pageSize"
                             let-selectedCount="selectedCount"
                             let-curPage="curPage"
                             let-offset="offset"
                             ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage"
                                           [offset]="offset"
                                           [size]="pageSize"
                                           [count]="rowCount"
                                           (eventChangePageSize)='handleChangePageSizeHuddle($event)'
                                           [hasDropdown]='true'
                                           [hidden]="false"
                                           (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
