::ng-deep .tree__report-modal {
    .app-preview-modal {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .modal-dialog {
        max-height: calc(100% - 3.5rem);
        height: calc(100% - 3.5rem);
    }
    .modal-content {
        height: 100%;
    }
    .modal-body {
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }
    .branch__view {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 15px;
    }
    iframe {
        width: 100%!important;
    }
}
iframe {
    width: 100%!important;
}