<div class="modal-header pb-4">
    <div class="block-center-between">
        <div class="">
            <h5 class="m-0"> {{ title }}</h5>
        </div>
    </div>
    <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="branch__view">
        <div class="h-100">
            <ngx-extended-pdf-viewer [src]="url" [zoom]="'page-fit'" useBrowserLocale="true" height="78vh"
                style="width: 100%;" theme="dark">
            </ngx-extended-pdf-viewer>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue" (click)="close()">{{ 'btnAction.close' | translate }}</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
