@import 'variable';

.upload-image {
  .action {
    text-align: right;
    border-bottom: 1px solid $gray-300;
  }

  .grey-custom {
    background: #eff2fe;
  }

  .flex-1 {
    flex: 1;
    overflow: hidden;
  }

  .product-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-300;
  }

  .table__title {
    height: 54px;
    border-bottom: 1px solid $gray-300;
    font-weight: $font-weight-bold;
    font-size: 18px;
    align-items: center;
    display: flex;
  }

  .form-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .form-content {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .image-item {
    height: 50px;
    border-bottom: 1px solid #f0f0f3;
    line-height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }

  .selected-item {
    background: #bbbbfd !important;
    color: white;
  }

  .image-name {
    text-overflow: ellipsis;
    /* max-width: 200px; */
    text-align: left;
    overflow: hidden;
  }

  .table__view {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;

    .fullscreen {
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

::ng-deep .editor-hidden-toolbar .ql-toolbar.ql-snow {
  display: none;
}

.PEditor__Wrapper {
  display: inline-block !important;
}
