@import '../../../../assets/styles/variable';

.pager {
  display: flex !important;
  flex-direction: row;

  .pages {
    position: relative;

    &.active:after {
      display: block;
      content: '';
      border-bottom: 2px solid #bbbbfd;
      width: 100%;
      position: absolute;
      bottom: -7px;
    }
  }
}

.pagination-btn {
  display: flex !important;
  min-width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: $gray-800;
  border: none;
  border-radius: 6px;
  margin: 0 5px !important;
  // padding-right: 5px;
  em {
    font-size: 1.4rem;
  }

  &.active {
    background: $body-bg !important;
    color: $blue !important;
  }

  &.disabled {
    cursor: default;
  }

  &.disabled a {
    pointer-events: none;
  }

  & a:link,
  & a:visited,
  & a:hover {
    color: $gray-600;
    text-decoration: none;
  }

  & a:active {
    color: $gray-100;
    text-decoration: none;
  }
  &:hover {
    background-color: #e6e6f3;
  }
}
