<div class="block-center-between">
  <div class="count-record">
    <ng-container *ngIf="_count > 0; else emptyData">
      <span class="paging">{{((_page - 1) * _size + 1)}} - {{(_page * _size > _count) ? _count : _page * _size}} /
        {{_count}}</span>
    </ng-container>
    <ng-template #emptyData>
      <span class="paging">0 / 0</span>
    </ng-template>
  </div>
  <div class="block-center-between">
    <div class="page-footer" *ngIf="hasDropdown">
      <p-dropdown
        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
        [options]="listPageSize"
        placeholder=" "
        class="d-block"
        [filter]="false"
        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
        [(ngModel)]="pageSize"
        appendTo="body"
        autoZIndex="false"
        baseZIndex="10000"
        optionLabel="displayName"
        optionValue="code"
        (onChange)="onChangePage($event)"
      ></p-dropdown>
    </div>
    
    <ul class="pager">
      <li *ngIf="quickPage" [class.disabled]="!canPrevious()" class="pagination-btn">
        <a href="javascript:void(0)" (click)="selectPage(1)">
          <em class="{{pagerPreviousIcon}}"></em>
        </a>
      </li>
      <li [class.disabled]="!canPrevious()" class="pagination-btn">
        <a href="javascript:void(0)" (click)="prevPage()">
          <em class="{{pagerLeftArrowIcon}}"></em>
        </a>
      </li>
      <li class="pages pagination-btn" *ngFor="let pg of pages" [class.active]="pg.number === page">
        <a href="javascript:void(0)" (click)="selectPage(pg.number)">
          {{pg.text}}
        </a>
      </li>
      <li [class.disabled]="!canNext()" class="pagination-btn">
        <a href="javascript:void(0)" (click)="nextPage()">
          <em class="{{pagerRightArrowIcon}}"></em>
        </a>
      </li>
      <li *ngIf="quickPage" [class.disabled]="!canNext()" class="pagination-btn">
        <a href="javascript:void(0)" (click)="selectPage(totalPages)">
          <em class="{{pagerNextIcon}}"></em>
        </a>
      </li>
    </ul>
  </div>
</div>