<div class="right-view report-guarantee">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Báo cáo bảo lãnh</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="!isIndiv">
          <div class="list__block p-4">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" [formGroup]="form">
                  <label class="m-0">{{ 'kpi.menu.formatReport' | translate }} </label>
                  <div class="row px-4" [formGroup]="form">
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="HTML" formControlName="downloadReport"></p-radioButton>
                      <label class="m-0" class="ml-3">HTML</label>
                    </div>
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="EXCEL" formControlName="downloadReport"></p-radioButton>
                      <label class="m-0" class="ml-3">Excel</label>
                    </div>
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="PDF" formControlName="downloadReport"></p-radioButton>
                      <label class="m-0" class="ml-3">PDF</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-12">
                      <label class="m-0">{{ 'fields.block' | translate }}</label>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listDivision"
                        placeholder=" "
                        class="d-block"
                        formControlName="division"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="name"
                        optionValue="code"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <!-- Thêm -->

                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-12">
                      <label class="m-0">{{ 'kpi.menu.typeMoney' | translate }}</label>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listCurrencyType"
                        placeholder=" "
                        class="d-block"
                        formControlName="currencyType"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="label"
                        optionValue="code"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-12">
                      <label class="m-0">{{ 'fields.currencyUnit' | translate }}</label>
                      <p-dropdown
                        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listCurrencyUnit"
                        placeholder=" "
                        class="d-block"
                        formControlName="currencyUnit"
                        appendTo="body"
                        autoZIndex="false"
                        baseZIndex="10000"
                        optionLabel="name"
                        optionValue="code"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="form-group" [formGroup]="form">
                  <label class="m-0">{{ 'kpi.menu.typeReport' | translate }} </label>
                  <div class="row px-4">
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                      <p-radioButton value="moment" formControlName="reportType"></p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'kpi.menu.timeReport' | translate }}</label>
                    </div>

                    <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                      <p-radioButton value="avagate" formControlName="reportType"></p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'kpi.menu.average' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="form-group" *ngIf="form.get('reportType').value === 'avagate'">
                  <label class="m-0">{{ 'kpi.menu.periodReport' | translate }} </label>
                  <div class="row px-4" [formGroup]="form">
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                      <p-radioButton value="MONTH" formControlName="period"> </p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'kpi.menu.periodMonth' | translate }}</label>
                    </div>

                    <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                      <p-radioButton value="QUARTER" formControlName="period"> </p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'kpi.menu.periodPecious' | translate }}</label>
                    </div>

                    <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                      <p-radioButton value="YEAR" formControlName="period"> </p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'kpi.menu.periodYear' | translate }}</label>
                    </div>
                  </div>
                </div>

                <!-- Bình quân -->
                <div class="form-group" *ngIf="form.get('reportType').value === 'avagate'">
                  <ng-container *ngIf="form.get('period').value === 'MONTH'">
                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="monthReport"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDateReportPeriod"
                          [maxDate]="commonData.maxDateReportPeriod"
                          view="month"
                          [readonlyInput]="true"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </div>
                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="monthCompare"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minComparePeriod"
                          view="month"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </div>
                  </ng-container>

                  <!-- Quý -->
                  <ng-container *ngIf="form.get('period').value === 'QUARTER'">
                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listQuarterly"
                          class="d-block fix-width"
                          formControlName="reportPeriodQuarterly"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>

                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYearsQuarterly"
                          class="d-block fix-width"
                          formControlName="reportPeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </div>

                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listQuarterlyPrevious"
                          class="d-block fix-width"
                          formControlName="comparePeriodQuarterly"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listYears"
                          class="d-block fix-width"
                          formControlName="comparePeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                          (onChange)="onChangeYear($event)"
                        >
                        </p-dropdown>
                      </div>
                    </div>
                  </ng-container>
                  <!-- Năm -->
                  <ng-container *ngIf="form.get('period').value === 'YEAR'">
                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYears"
                          class="d-block fix-width"
                          formControlName="reportPeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </div>
                    <div class="row" [formGroup]="form">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listYears"
                          class="d-block fix-width"
                          formControlName="comparePeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <!-- Thêm -->
                <div class="form-group" *ngIf="form.get('reportType').value === 'moment'">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-6">
                      <label class="m-0">{{ 'kpi.menu.reportingtime' | translate }}</label>

                      <p-calendar
                        class="d-block custom-calendar"
                        formControlName="momentReport"
                        dateFormat="dd/mm/yy"
                        appendTo="body"
                        autoZIndex="false"
                        [maxDate]="commonData.maxDate"
                        baseZIndex="10000"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                      >
                      </p-calendar>
                      <small
                        class="p-error"
                        *ngIf="
                          form?.controls?.momentReport?.errors?.cusRequired && form?.controls?.momentReport?.touched
                        "
                        >{{ 'notificationMessage.momentReportValidation' | translate }}</small
                      >
                    </div>
                    <div class="col-md-6">
                      <label class="m-0">{{ 'kpi.menu.timeOfComparison' | translate }}</label>
                      <p-calendar
                        class="d-block custom-calendar"
                        formControlName="momentCompare"
                        dateFormat="dd/mm/yy"
                        appendTo="body"
                        autoZIndex="false"
                        [minDate]="commonData.minDate"
                        [maxDate]="commonData.maxDate"
                        baseZIndex="10000"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                      >
                      </p-calendar>
                    </div>
                  </div>
                </div>

                <!-- Thêm -->
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7 b-table">
                <app-loading *ngIf="isSearch"></app-loading>

                <div class="form-group" [formGroup]="form">
                  <label class="m-0">Báo cáo theo</label>
                  <div class="row px-4">
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="RM" formControlName="reportBy"></p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'fields.rm' | translate }}</label>
                    </div>
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="KH" formControlName="reportBy"></p-radioButton>
                      <label class="m-0" class="ml-3">{{ 'fields.customer' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="m-0">Kiểu báo cáo chi tiết</label>
                  <div class="row px-4" [formGroup]="form">
                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="synthesis" formControlName="reportTypeDetail"> </p-radioButton>
                      <label class="m-0" class="ml-3">Tổng hợp</label>
                    </div>
                    <div *ngIf="form.get('reportBy').value === 'RM'" class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="product" formControlName="reportTypeDetail"> </p-radioButton>
                      <label class="m-0" class="ml-3">Sản phẩm</label>
                    </div>

                    <div *ngIf="form.get('reportBy').value === 'KH'" class="mt-2 mb-0 p-field-radiobutton col-md-2">
                      <p-radioButton value="contract" formControlName="reportTypeDetail"> </p-radioButton>
                      <label class="m-0" class="ml-3">Hợp đồng</label>
                    </div>
                  </div>
                </div>

                <!-- Thêm -->

                <div class="filter-top block-center-between mt-0">
                  <div class="filter-top__left">
                    <div>
                      <input
                        placeholder="{{ 'btnAction.search' | translate }}"
                        type="text"
                        class="form-control search-box"
                        [(ngModel)]="textSearch"
                        (keyup.enter)="add()"
                        [disabled]="allRM"
                      />
                    </div>
                    <button
                      class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.create' | translate }}"
                      (click)="add()"
                      [disabled]="allRM"
                    >
                      <em class="las la-plus-circle f-16"></em>
                    </button>
                    <button
                      class="btn-icon btn-icon--small btn btn-search grey ml-2"
                      title="{{ 'btnAction.search' | translate }}"
                      (click)="search()"
                      [disabled]="allRM"
                    >
                      <em class="las la-search f-16"></em>
                    </button>
                    <p-checkbox
                    *ngIf="isShowCheckboxAllRm()"
                    class="ml-3 check-all-rm"
                    binary="true"
                    label="Chọn tất cả RM"
                    [(ngModel)]="allRM"
                    (onChange)="onChangeCheckAllRM($event)"
                  >
                  </p-checkbox>
                  </div>
                  <div class="filter-top__right block-center">
                    <button class="btn btn--red btn-small mr-4 text-white" (click)="removeList()" [disabled]="allRM">
                      {{ 'btnAction.deleteAll' | translate }}
                    </button>
                  </div>
                </div>
                <div class="table__view">
                  <ngx-datatable
                    #table
                    ngxDataTable
                    class="bootstrap fullscreen"
                    [rows]="listDataTable"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [virtualization]="false"
                    [externalPaging]="true"
                    [count]="pageable?.totalElements"
                    [offset]="pageable?.currentPage"
                    [limit]="pageable?.size"
                    (page)="setPage($event)"
                    [messages]="messages"
                  >
                    <ngx-datatable-column
                      [sortable]="false"
                      name="{{ 'fields.order' | translate }}"
                      [width]="55"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      [sortable]="false"
                      [draggable]="false"
                      [prop]="columns[0].prop"
                      [name]="columns[0].name"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      [sortable]="false"
                      [draggable]="false"
                      [prop]="columns[1].prop"
                      [name]="columns[1].name"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="removeRecord(row); $event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}"
                          >
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                      <ng-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset"
                        ngx-datatable-footer-template
                      >
                        <app-pager-ngx-datatable
                          [page]="curPage"
                          [offset]="offset"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="false"
                          (change)="table.onFooterPage($event)"
                        >
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </div>
            </div>
            <div class="text-center pt-4">
              <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">
                {{ 'labels.reportShow' | translate }}
              </button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isIndiv">
          <div class="group__create-form px-4 mt-4 messageSaleOpp">
            {{ 'saleOpportunity.permissionOpp' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
