@import 'variable';

.report-guarantee {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      height: 580px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
    .messageSaleOpp {
      text-align: center;
      color: red;
      margin-top: 300px !important;
    }
  }
}
