<div class="chart">
  <div class="chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">{{ title }}</div>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && !nullData">
    <div class="chart__body">
      <div echarts [options]="option" style="height: 100%"></div>
    </div>
    <div class="chart__legend">
      <ul>
        <li *ngFor="let item of data; let index = index" class="block-center-between">
          <div *ngIf="index == 0" class="chart__legend-left">
            <span class="legend-bage" [ngStyle]="{'background-color': item?.itemStyle?.color}"></span>{{ item.name }}
          </div>
          <div *ngIf="index == 1"class="chart__legend-left">
            <span class="legend-bage" [ngStyle]="{'background-color': item?.itemStyle?.color}"></span>{{ item.name }}
          </div>
          <div *ngIf="index == 2" class="chart__legend-left">
            <span class="legend-bage" [ngStyle]="{'background-color': item?.itemStyle?.color}"></span>{{ item.name }}
          </div> 
          <div  *ngIf="index == 3" class="chart__legend-left">
            <span class="legend-bage" [ngStyle]="{'background-color': item?.itemStyle?.color}"></span>{{ item.name }}
          </div>
          <div class="chart__legend-right">
            <span>{{ item.value | number }} kh</span>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && nullData">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <app-loading *ngIf="isLoading"></app-loading>
</div>

#FFE5CE
#58CF8D50
#EFF2FE