<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ title }}</h3>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="permission__create-form px-4">
          <div class="row form-create">
            <div class="col-md-12">
              <h5 class="mb-4 mt-3">{{ 'rm.fields.title-info' | translate }}</h5>
            </div>
            <div class="col-md-6 form-group has-error" [formGroup]="form">
              <label>{{ 'rm.fields.rm_level_code' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="code" maxlength="20" uppercase
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('code').errors && form.get('code').touched" class="invalid-tooltip">
                <div *ngIf="form.get('code').errors.cusRequired">
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>

            <div class="col-md-6 form-group has-error" [formGroup]="form">
              <label>{{ 'rm.fields.rm_level_name' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="name" maxlength="250"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('name').errors && form.get('name').touched" class="invalid-tooltip">
                <div *ngIf="form.get('name').errors.cusRequired">
                  {{ 'validationMessage.required' | translate }}
                </div>
              </div>
            </div>


            <div class="col-md-6 has-error">
              <label class="mb-0" for="gradeCode">{{ 'rm.fields.grade' | translate }}<span
                  class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                class="d-block" [(ngModel)]="block_code"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                [disabled]="isView" appendTo="body" optionValue="code" optionLabel="value_to_search"
                (onChange)="onBlockChanged($event)">
              </p-dropdown>
              <div *ngIf="show_mes" class="valid">
                {{ grade_mes }}
              </div>
            </div>

            <div class="col-md-6  has-error">
              <label class="mb-0" for="title_group">{{ 'rm.fields.rm_title_group_name' | translate }}<span
                  class="text-red">(*)</span></label>
              <div [hidden]="!show">
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="titleGroupValues" class="d-block" [(ngModel)]="title_code" [disabled]="isView"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="id" optionLabel="value_to_search"
                  (onChange)="onTitleCategoryChange($event)">
                </p-dropdown>
                <div *ngIf="show_title_mes" class="valid">
                  {{ title_category_mes }}
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-4 form-group" [formGroup]="form">
              <label>{{ 'rm.fields.rm_group_hris' | translate }}</label>
              <input class="form-control" type="text" formControlName="groupRmOnHRIS" maxlength="50"
                placeholder="{{ 'placeholder' | translate }}" />
            </div>
            <div class="col-md-6 mt-4 form-group" [formGroup]="form">
              <label>{{ 'rm.fields.rm_level_hris' | translate }}</label>
              <input class="form-control" type="text" formControlName="levelRmOnHRIS" maxlength="50"
                placeholder="{{ 'placeholder' | translate }}" />
            </div>

            <div class="col-md-12 form-group" [formGroup]="form">
              <label class="mb-0" for="description">{{ 'rm.fields.description' | translate }}</label>
              <textarea class="form-control" id="description" type="text" placeholder="{{ 'placeholder' | translate }}"
                formControlName="description" maxlength="500"></textarea>
            </div>


          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="save()" *ngIf="isCreate">{{ 'btnAction.create' | translate
              }}</button>
            <button class="btn btn--light-blue" (click)="save()" *ngIf="isUpdate">{{ 'btnAction.update' | translate
              }}</button>
            <button class="btn btn-light ml-3" *ngIf="!isView" (click)="back()">{{ 'btnAction.cancel' | translate
              }}</button>
            <button class="btn btn-light ml-3" *ngIf="isView" (click)="back()">{{ 'btnAction.close' | translate
              }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
