.btn-choose {
  height: 30px !important;
  min-height: 30px !important;
  min-width: 30px !important;
}

.btn-icon--small {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}
.form-group__icon {
  width: 100%;
}
.function-parent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// .function-parent:disabled,
// .function-parent[readonly] {
//   background-color: #fbfbfd00 !important;
// }
