<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'title.function' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="function__view">
    <div class="filter-top block-center-between">
      <div class="filter-top__left">
        <div>
          <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
            [(ngModel)]="textSearch" />
        </div>
        <button class="btn-icon btn-icon--small btn btn-search grey ml-2" title="{{ 'btnAction.search' | translate }}"
          (click)="updateFilter()">
          <em class="las la-search f-16"></em>
        </button>
      </div>
      <div class="filter-top__right d-flex">
      </div>
    </div>
    <div class="table__view function__list">
      <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [columnMode]="ColumnMode.force"
        [headerHeight]="50" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
        [rows]="listFunction" [treeFromRelation]="'parentId'" [treeToRelation]="'id'"
        (treeAction)="onTreeAction($event)" [selected]="selected" [selectionType]="'single'">
        <ngx-datatable-column prop="code" name="{{ 'fields.resourceCode' | translate }}" [sortable]="false"
          [isTreeColumn]="true" [width]="300" [treeLevelIndent]="30">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span class="ml-2">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" [sortable]="false" name="{{ 'fields.resourceName' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="type" [sortable]="false" name="{{ 'fields.app' | translate }}">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ generateAppName(value) }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
