.leads-assign-modal {
  .modal-dialog {
    height: calc(100% - 3rem);
  }
  .modal-content {
    height: 100%;
  }
  .lead-assign-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
  }
  .modal-body {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  // .list-assign {
  //   flex: 1 1 auto;
  //   overflow: auto;
  // }
}

// .filter {
//   margin: 10px 0;
//   padding: 12px 20px;
// }
// .task__item-rate {
//   flex-basis: 30%;
//   max-width: 30%;
// }
// .task__item-right {
//   flex-basis: 15%;
//   max-width: 15%;
// }
// .task__item-name {
//   flex-basis: 55%;
//   max-width: 55%;
// }
// .float-right {
//   float: right;
// }
