<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ task.name }}</h5>
      <label class="m-0">Công việc</label>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="filter-top block-center-between">
    <div class="filter-top__left">
      <div>
        <h5>Tổng số khách hàng được phân công: {{ total }}</h5>
        <p>Số khách hàng chưa được phân công: {{ unAssign }}</p>
      </div>
    </div>
    <div class="filter-top__right d-flex">
      <button class="btn-list btn-filter btn btn-light mr-2" (click)="distributed(1)">
        <em class="las la-list-alt f-16 mr-2"></em>
      </button>
    </div>
  </div>

  <div class="table__view">
    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="leadAssigns" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="0" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
      [virtualization]="false" [externalPaging]="false" [messages]="messages">

      <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false">
        <ng-template ngx-datatable-header-template>
          <div class="block-center">
            <label class="checkbox">
              <input type="checkbox" (click)="checkAll($event);$event.stopPropagation()" />
              <span class="ck"></span>
            </label>
          </div>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
          <div class="block-center">
            <label class="checkbox">
              <input type="checkbox" [checked]="row.chose" (click)="onCheckBoxChange(row);$event.stopPropagation()" />
              <span class="ck"></span>
            </label>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name" name="Tên">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ row.label }}">{{ row.label }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name" name="Tỷ lệ thành công">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ row.leadRate }}">{{ row.leadRate }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="typeName" name="">
        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <div class="block-center float-right">
            <div class="task__item-list">
              <em class="las la-minus-circle text-red f-16 pointer" (click)="setPercentField(row, false)"></em>
            </div>
            <div class="task__item-attachment ml-4 has-error">
              <input class="form-control assign-value" type="text" value="0" mask="separator" thousandSeparator=","
                #field [(ngModel)]="row.value" (keyup)="onKey(field.value, rowIndex)" [readonly]="!row.chose" />
              <div *ngIf="row.overValue" class="invalid-tooltip">
                Số lead nhập vào lớn hơn số lead chưa được phân công.
              </div>
            </div>
            <div class="task__item-comment ml-4">
              <em class="las la-plus-circle text-green f-16 pointer" (click)="setPercentField(row, true)"></em>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" [ngClass]="{ disabled: unAssign > 0 }" (click)="confirmDialog()">Phân công</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
