<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ name }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="">Attachments File</label>
    <div class="block-center-between">
      <div class="upload block-center">
        <input class="upload__input" type="file" accept=".xlsx, .xls" (change)="handleFileInput($event.target.files)" />
        <em class="las la-cloud-upload-alt f-20"></em>
        <span class="upload__label">{{ fileName }}</span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="import()">Import</button>
  </div>
</div>
