<div class="right-view limit-customer">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Quản lý hạn mức khách hàng</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container>
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input type="text" maxlength="50" pInputText placeholder="" class="d-block" (keyup.enter)="search(0)"
                  formControlName="customerCode" />
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">Mã số thuế</label>
                <input type="text" maxlength="30" pInputText placeholder="" class="d-block" formControlName="taxCode" (keyup.enter)="search(0)"/>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">ĐKKD</label>
                <input type="text" maxlength="30" pInputText placeholder="" class="d-block" formControlName="dkkd" (keyup.enter)="search(0)"/>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input type="text" maxlength="250" pInputText placeholder="" class="d-block" (keyup.enter)="search(0)"
                  formControlName="customerName" />
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{'limitCustomer.timeExpiredNotiFrom' | translate}}</label>
                <p-calendar icon="las la-calendar-alt" formControlName="thoiGianHetHieuLucActiveTBTu" class="d-flex"
                  dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                  [maxDate]="formSearch.get('thoiGianHetHieuLucActiveTBDen').value" [showTime]="false">
                </p-calendar>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{'limitCustomer.timeExpiredNotiTo' | translate}}</label>
                <p-calendar icon="las la-calendar-alt" formControlName="thoiGianHetHieuLucActiveTBDen" class="d-flex"
                  dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                  [minDate]="formSearch.get('thoiGianHetHieuLucActiveTBTu').value" [showTime]="false">
                </p-calendar>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{'limitCustomer.timeExpiredLimitFrom' | translate}}</label>
                <p-calendar icon="las la-calendar-alt" formControlName="thoiGianHetHanHanMucTu" class="d-flex"
                  dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                  [maxDate]="formSearch.get('thoiGianHetHanHanMucDen').value" [showTime]="false">
                </p-calendar>
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{'limitCustomer.timeExpiredLimitTo' | translate}}</label>
                <p-calendar icon="las la-calendar-alt" formControlName="thoiGianHetHanHanMucDen" class="d-flex"
                  dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                  [minDate]="formSearch.get('thoiGianHetHanHanMucTu').value" [showTime]="false">
                </p-calendar>
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
                <branches-by-region [listBranch]="facilities" [(model)]="facilityCode" (keyup.enter)="search(0)"
                  (modelChange)="changeBranch($event)">
                </branches-by-region>
                <!-- <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listBranchManager" placeholder=" " class="d-block" formControlName="branchCode"
                  appendTo="body" optionLabel="name" optionValue="code" [virtualScroll]="true" [itemSize]="31"
                  [autoDisplayFirst]="true" [filter]="true">
                </p-dropdown> -->
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label>{{ 'fields.rmManager' | translate }}</label>
                <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listRmManager" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="rmCodes"
                  optionLabel="displayName" optionValue="code" [virtualScroll]="true" [itemSize]="31"></p-multiSelect>
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{ 'limitCustomer.typeLimit' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" (keyup.enter)="search(0)"
                  [options]="listTypeLimit" placeholder=" " class="d-block" optionLabel="name" optionValue="value"
                  formControlName="loaiLimit">
                </p-dropdown>
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{ 'limitCustomer.typeHM' | translate }}</label>
                <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listTypeHM" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="cacLoaiHanMuc" optionLabel="name" optionValue="value" [virtualScroll]="true"
                  [itemSize]="31"></p-multiSelect>
              </div>
              <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                <label class="mb-0">{{ 'limitCustomer.miningRateLimit' | translate }}</label>
                <!-- <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listMiningRateLimit" class="d-block" [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="tyLeKhaiThacHanMuc" optionLabel="name" optionValue="value" [virtualScroll]="true"
                  [itemSize]="31"></p-multiSelect>
              </div> -->
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" (keyup.enter)="search(0)"
                  [options]="listMiningRateLimit" placeholder=" " class="d-block" optionLabel="name" optionValue="value"
                  formControlName="tyLeKhaiThacHanMuc">
                </p-dropdown>
              </div>

            </div>
            <div class="filter-top block-center-between">
              <div class="filter-top__left" style="width: 100%;justify-content: space-between;">
                <button class="btn btn-small btn--light-blue" (click)="search(0)">
                  {{ 'btnAction.search' | translate }}
                </button>
                <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                  <em class="las la-angle-down f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                  <em class="las la-angle-up f-16"></em>
                </button>
                <div class="row limit-div">
                  <p class="limit-price">Đơn vị : Triệu đồng</p><span class="limit-span">|</span>
                  <p class="limit-content">* Tải file excel để xem nhiều thông tin hơn về hạn mức khách hàng (quay vòng, không quay vòng). </p>
                </div>
                <button class="btn btn--light-blue btn-icon--small" (click)="exportFile()"
                  title="{{ 'btnAction.export' | translate }}">
                  <!--*ngIf="objFunction?.export" -->
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
            <!-- [treeFromRelation]="'parentId'" [treeToRelation]="'id'"  -->
            <div class="table__view limit_customer">
              <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listDataShow" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true"
                [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements*4" [limit]="40"
                [offset]="pageable?.currentPage" (activate)="onActive($event)" (page)="setPage($event)"
                [messages]="messages" (treeAction)="onTreeAction($event)" [treeFromRelation]="'parentId'" [treeToRelation]="'id'">
                <ngx-datatable-column  prop="stt" [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="70"
                  [canAutoResize]="false" [draggable]="false" [resizeable]="false" [isTreeColumn]="true">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div [ngClass]="{'hidden_icon':  row.stt === undefined}">
                      <button class="btn btn--light-blue btn-show-tree" *ngIf= "row.stt !== undefined" [ngClass]="{'icon-expanded':  row.treeStatus === 'expanded'}" (click)="openItem(row)">
                        <em class="las la-angle-down f-16"></em>
                      </button>
                      <span title="{{ value }}">{{ value }}</span>
                    </div>
                  </ng-template>

                </ngx-datatable-column>
                <ngx-datatable-column prop="customerCode" name="{{ 'fields.customerCode' | translate }}"
                  [treeLevelIndent]="30" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="customerName" name="{{ 'fields.customerName' | translate }}"
                  [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="taxCode" name="{{ 'fields.taxCode' | translate }}" [sortable]="false"
                  [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="loaiHanMuc" name="Loại hạn mức" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="lmBalTongRoll" name="Giá trị HM" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="tongDuNghiaVu" name="Dư nghĩa vụ" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="tongHmConlai" name="Giá trị HM còn lại" [sortable]="false"
                  [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="lmBalTongRollTyleKt" name="TL khai thác" [sortable]="false"
                  [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | number:'1.0-2' }}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="loaiLimit" name="Loại limit" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="thoiGianHetHieuLucHM" name="TG hết hiệu lực HM" [sortable]="false"
                  [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | date: 'dd/MM/yyyy'}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="thoiGianHetHieuLucActiveTB" name="TG hết hiệu lực Active TB"
                  [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value | date: 'dd/MM/yyyy'}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="trangThaiHM" name="Trạng thái HM" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}" [ngClass]="{'active_trangthai':  value === 'ACTIVE','inactive_trangthai':  value === 'INACTIVE'}">{{ value}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="branchName" name="Tên CN quản lý" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="rm" name="RM quản lý" [sortable]="false" [draggable]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  name="{{ 'fields.action' | translate }}" [width]="125"
                           [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                           [resizeable]="false">
                          <div class="action__limit">
                           <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                              <div *ngIf="row.customerCode !== undefined" class="block-center text-center column-action">
                                 <button class="btn--light-blue btn-icon--small btn"
                                         mat-button [matMenuTriggerFor]="beforeMenu"
                                    title="{{ 'title.sendMail' | translate }}" (click)="getAllMailAndPosition(row)">
                                    <em class="las la-envelope f-16"></em>
                                 </button>
                                <mat-menu #beforeMenu="matMenu" yPosition="above" xPosition="before" class="customize" style="background-color: red;">
                                  <div mat-menu-item *ngFor="let item of listEmail">
                                    <div class="row info-mail" (click)="mailTo(row, item.mail)">
                                      <div class="position-div" style="width : 120px">
                                        <span>{{item.position}}</span>
                                      </div>
                                      <div class="mail-div" style="width : calc(100% - 120px)">
                                        <span>{{item.mail}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </mat-menu>

                                <button class="btn--light-blue btn-icon--small btn ml-2"
                                    title="{{ 'title.createTask' | translate }}" (click)="createTaskTodo(row)">
                                    <em class="icon-create-todo i-16"></em>
                                 </button>
                              </div>
                           </ng-template>
                          </div>
                        </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="pageable?.totalElements" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageable?.size" [count]="pageable?.totalElements"
                      [hidden]="false" (change)="table.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoading && isEmpty">
          <div class="chart__empty">
            <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
