.limit-customer {
    .group__create-form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .limit_customer {
      flex: 1 1 auto;
    }
    .messageSaleOpp {
      text-align: center;
      color: red;
      margin-top: 300px !important;
    }
    .boder-time-grey {
      flex-direction: row;
      padding: 8px 16px;
      width: 66px;
      height: 34px;
      background: #F7F7F7;
      border: 1px solid #9B9B9B;
      border-radius: 6px;
    }
    .boder-time-blur {
      padding: 8px 16px;
      width: 66px;
      height: 34px;
      background: #F7F7F7;
      opacity: 0.5;
      border: 1px solid #9B9B9B;
      border-radius: 6px;
    }
  ::ng-deep .mat-menu-panel {
    max-width: 500px !important;
  }
  .active_trangthai{
    color: green;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 4px;
  }
  .inactive_trangthai{
    color: rgb(36, 41, 36);
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 4px;
  }

  ::ng-deep .mat-menu-item {
    height: 40px !important;
  }
  ::ng-deep .datatable-tree-button {
    background-color: #fff!important;
  }
  ::ng-deep .datatable-tree-button:hover {
    background-color: #eff2fe!important;
  }
  ::ng-deep .visible{
    height: 100%;
  }
  ::ng-deep .datatable-body {
    height: calc(100% - 100px)!important;
  }
  ::ng-deep .datatable-tree-button{
    display: none!important;
  }
  .limit-div {
    position: absolute;
    right: 70px;
    min-width: 300px;
    width: 40%;
    max-width: 612px;
  }
  .limit-price {
    width: 115px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    line-height: 36px;
  }
  .limit-span{
    font-size: 20px;
    line-height: 36px;
    margin: 0;
  }
  .limit-content{
    width: calc(100% - 125px);
    white-space: normal;
    padding-left: 5px;
    margin: 0;
    color: #2b2be9;
  }
  .icon-expanded{
    transform: rotate(180deg);
  }
  .btn-show-tree{
    padding: 7px 10px;
    margin: 0;
    background-color: #0000!important;
  }
  .btn-show-tree:hover{
    border: none;
    color: blue!important;
  }
}
::ng-deep .customize {
  max-width: 600px!important;
}


