.detail-block {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
}

.left-bar .nav-link {
  justify-content: left;
  padding: 0.5rem 1rem;
}

.app__left-content.left-content {
  padding: 20px 18px;
  min-height: 100vh;
}

button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
}

.over-hidden {
  overflow: hidden;
}
.over-x {
  overflow-x: auto;
}
.list__block {
  overflow-y: auto;
}

.block-detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

