<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'rm.form.detail' | translate }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent">
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-4">
              <app-loading *ngIf="isLoading"></app-loading>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="m-0 mb-3">{{ 'rm.fields.info' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right">
                      <!-- <button type="button" class="btn-outline mr-2" (click)="edit_form()" *ngIf="!is_edit && isUpdate">
                        <em class="las la-edit"></em>
                      </button>
                      <button class="btn btn-small btn--light-blue mr-2" (click)="update()" *ngIf="is_edit">{{
                        'btnAction.update' | translate }}</button>
                      <button class="btn btn-small btn--red mr-2" (click)="cancel()" *ngIf="is_edit">{{
                        'btnAction.cancel'| translate }}</button> -->
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show" id="detail">
                  <div class="row">
                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.account_officer_code' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span *ngIf="!is_edit">{{ model?.t24Employee?.employeeCode }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.hris_code' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.employeeId }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.agency' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span *ngIf="!is_edit"
                        >{{ model?.t24Employee?.branchCode }} - {{ model?.t24Employee?.branchName }}</span
                      >
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>

                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.email' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.email }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.name' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.fullName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group">
                      <label class="detail-key">{{ 'rm.fields.grade' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error block-detail">
                      <span *ngIf="!is_edit" title="{{ model?.t24Employee?.khoi }}">{{
                        model?.t24Employee?.khoi
                      }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.date_of_birth' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.dateOfBirth | date: 'dd/MM/yyyy' }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.start_working_evt' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.jointDate | date: 'dd/MM/yyyy' }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.user_name' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.userName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.department' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.t24Employee?.department }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.gender' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.gender }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.title' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.title }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <!-- TODO -->

                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.position' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.position }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.start_position' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.startPosDate | date: 'dd/MM/yyyy' }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.mobile_phone' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.mobile }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.home_phone' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.homePhone }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.company_phone' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.officePhone }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.extension_number' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.extNumber }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.fax' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.fax }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.rm_level' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.levelrm }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.grade_hris' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.accountType }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.note' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.note }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.address' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <span *ngIf="!is_edit">{{ model?.hrisEmployee?.address }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit" />
                    </div>
                    <div class="col-md-3 form-group" *ngIf="is_show">
                      <label class="detail-key">{{ 'rm.fields.image' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error" *ngIf="is_show">
                      <a (click)="view()" style="cursor: pointer; text-decoration: underline; color: #bbbbfd">{{
                        hyper_link
                      }}</a>
                    </div>

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                          <button class="btn btn-small btn-outline-primary" (click)="show()" *ngIf="!is_show">
                            Xem thêm
                          </button>
                          <button class="btn btn-small btn-outline-primary" (click)="close()" *ngIf="is_show">
                            Thu gọn
                          </button>
                        </div>
                        <div class="col-md-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 detail-block mb-4">
              <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
                <!-- <mat-tab label="Kết quả KPI"></mat-tab> -->
                <mat-tab label="Khách hàng đang quản lý"></mat-tab>
                <mat-tab label="Khách hàng tiềm năng đang quản lý"></mat-tab>
                <!--<mat-tab label="Hoạt động"></mat-tab>
                <mat-tab label="Cơ hội"></mat-tab>
                <mat-tab label="Thông tin đánh giá/xếp loại"></mat-tab>
                <mat-tab label="Ghi chú"></mat-tab>
                <mat-tab label="Lịch sử thay đổi"></mat-tab> -->
              </mat-tab-group>
            </div>
            <!-- <div class="col-12 detail-block" *ngIf="tab_index === 0">
              <div class="row">
                <div class="col-md-10 block-center-between">
                  <h5 class="m-0">{{ 'rm.fields.kpi' | translate }}</h5>
                </div>
                <div class="col-md-2 text-right">
                  <button type="button" class="btn-outline" data-toggle="collapse" data-target="#tab"
                    (click)="show_form()" *ngIf="!is_show_form" aria-expanded="false" aria-controls="tab">
                    <em class="las la-angle-down"></em>
                  </button>
                  <button type="button" class="btn-outline" data-toggle="collapse" data-target="#tab"
                    (click)="show_form()" *ngIf="is_show_form" aria-expanded="true" aria-controls="tab">
                    <em class="las la-angle-up"></em>
                  </button>
                </div>
              </div>
            </div> -->

            <div class="col-12 detail-block" *ngIf="tab_index === 0">
              <rm-customers
                #rmCustomers
                [propData]="param"
                [hrsCode]="hrsCode"
                [rmCode]="rmCode"
                (loading)="showLoading($event)"
              ></rm-customers>
            </div>
            <div class="col-12 detail-block" *ngIf="tab_index === 1">
              <rm-leads [rmCode]="rmCode" (loading)="showLoading($event)" #rmLeads></rm-leads>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
