<div class="right-view kpi-indiv-report">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'report.menu.indiv_kpi' | translate }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <div class="row mb-5">
                <div class="col-12 collapse show" id="detail">
                  <div class="row pt-15">
                    <div class="col-md-6">
                      <div class="row px-4">
                        <label class="mb-0">{{ 'fields.block' | translate }}</label>
                        <input placeholder="" type="text" class="form-control" [(ngModel)]="block" [disabled]="true" />
                      </div>
                      <div class="row mt-3">
                        <label class="col-md-4 mt-3">{{ 'labels.report' | translate }}</label>
                        <div class="p-field-radiobutton col-md-2" *ngFor="let item of reportTypes">
                          <p-radioButton
                            [value]="item.code"
                            [(ngModel)]="model.kpiReportType"
                            (ngModelChange)="reportTypeChange($event)"
                          ></p-radioButton>
                          <label class="ml-2 mt-3">{{ item.name }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-md-4 mt-3">{{ 'labels.reportDetail' | translate }}</label>
                        <div class="p-field-radiobutton col-md-2" *ngFor="let item of reportDetails">
                          <p-radioButton
                            [value]="item.code"
                            [(ngModel)]="model.kpiDetailReportType"
                            [disabled]="item.disabled"
                          ></p-radioButton>
                          <label class="ml-2 mt-3">{{ item.name }}</label>
                        </div>
                      </div>

                      <div class="row mt-3" *ngIf="model.kpiDetailReportType === 'KH' && (model.kpiReportType === 'CBQL' || model.kpiReportType === 'RM')">
                        <label class="col-md-4">{{'product.title' | translate}}</label>
                        <div class="p-field-radiobutton col-md-4" *ngFor="let item of productTypeOpt">
                          <p-radioButton [value]="item.code" [(ngModel)]="model.productType">
                          </p-radioButton>
                          <label class="ml-2">{{item.name}}</label>
                        </div>
                      </div>

                      <div class="row mt-3" *ngIf="model.kpiDetailReportType === 'KH' && (model.kpiReportType === 'CBQL' || model.kpiReportType === 'RM') && model.productType === 'OTHER'">
                        <div class="col-md-4">
                          <label class="mb-0 pt-2">{{ 'labels.productListlv2' | translate }}</label>
                        </div>
                        <div class="col-md-8">
                          <ngx-select
                            placeholder=""
                            name="block"
                            [(ngModel)]="productCode"
                            [allowClear]="false"
                            [items]="productList"
                            optionValueField="groupId"
                            optionTextField="value_to_search"
                          >
                          </ngx-select>
                        </div>
                      </div>

                      <div class="row mt-3" *ngIf="model.kpiDetailReportType === 'KH' && model.productType === 'OTHER' && productCode === ''; else showDatePicker">
                        <div class="col-md-6">
                          <label class="m-0">{{ 'kpi.menu.reportingMonth' | translate }}</label>
                          <p-calendar
                            class="d-block custom-calendar"
                            dateFormat="mm/yy"
                            appendTo="body"
                            autoZIndex="false"
                            baseZIndex="10000"
                            [showIcon]="true"
                            view="month"
                            [minDate]="model.minDate"
                            [maxDate]="model.maxDate"
                            [(ngModel)]="model.currentMonth"
                            [readonlyInput]="true"
                            icon="las la-calendar-alt"
                          >
                          </p-calendar>
                        </div>
                      </div>

                      <ng-template #showDatePicker>
                        <div class="row">
                          <div class="col-md-6 mt-3">
                            <label class="m-8">{{ 'fields.startFromDate' | translate }}</label>
                            <div clas="row">
                              <p-calendar
                                [(ngModel)]="model.startDate"
                                class="d-block1"
                                dateFormat="dd/mm/yy"
                                appendTo="body"
                                autoZIndex="false"
                                baseZIndex="10000"
                                [showIcon]="true"
                                icon="las la-calendar-alt"
                                [maxDate]="maxDateDefault"
                                [showTime]="false"
                                (onBlur)="onStartDateChange($event)"
                                (onClose)="closeStartDate($event)"
                              >
                              </p-calendar>
                            </div>
                          </div>
                          <div class="col-md-6 mt-3">
                            <label class="m-8">{{ 'fields.toDate' | translate }}</label>
                            <div clas="row">
                              <p-calendar
                                [(ngModel)]="model.endDate"
                                class="d-block1"
                                dateFormat="dd/mm/yy"
                                appendTo="body"
                                autoZIndex="false"
                                baseZIndex="10000"
                                [showIcon]="true"
                                icon="las la-calendar-alt"
                                [minDate]="model.startDate"
                                [showTime]="false"
                                (onBlur)="onEndDateChange($event)"
                                (onClose)="closeEvent($event)"
                              >
                              </p-calendar>
                            </div>
                          </div>
                        </div>
                      </ng-template>

                    </div>
                    <div class="col-md-6">
                      <div *ngIf="model.kpiReportType === 'RM' && model.kpiDetailReportType === 'KH' &&  this.model.productType === 'II1' ">Danh sách RM</div>
                      <div *ngIf="model.kpiReportType === 'CBQL' && model.kpiDetailReportType === 'KH' && this.model.productType === 'II1'">Danh sách CBQL</div>
                      <div class="row px-4" *ngIf="model.kpiReportType === 'RM'">
                        <kpi-report-rm-table
                          #table
                          [(model)]="rmCodes"
                          [isRm]="true"
                          [isManager]="false"
                          [values]="rms"
                          [rmCode]="rmCode"
                          [title]="'Nhập mã RM'"
                          [rsid]="obj?.rsId"
                          (modelChange)="onRmModelChange($event, 'RM')"
                          style="height: 330px;"
                        >
                        </kpi-report-rm-table>
                      </div>
                      <div class="row px-4 mt-3" *ngIf="model.kpiReportType === 'CN'">
                        <kpi-report-branch-table
                          [listBranch]="branches"
                          [(model)]="branchCodes"
                          (modelChange)="onModelChange($event)"
                          #table
                        >
                        </kpi-report-branch-table>
                      </div>
                      <div class="row px-4 mt-3" *ngIf="model.kpiReportType === 'CBQL'">
                        <kpi-report-rm-table
                          #table
                          [(model)]="managerCodes"
                          [isManager]="true"
                          [isRm]="false"
                          [values]="managers"
                          [title]="'Nhập mã CBQL'"
                          [rsid]="obj?.rsId"
                          (modelChange)="onRmModelChange($event, 'CBQL')"
                        >
                        </kpi-report-rm-table>
                      </div>
                      <ng-container *ngIf="model.kpiDetailReportType === 'KH' && this.model.productType === 'II1'">
                        <div class="mt-3">Danh sách khách hàng</div>
                        <div class="filter-top block-center-between mt-3">
                          <div class="filter-top__left">
                            <div>
                              <input
                                placeholder="{{ 'btnAction.search' | translate }}"
                                type="text"
                                class="form-control search-box"
                                [(ngModel)]="textSearch"
                                [disabled]="allRM"
                                (keyup.enter)="add()"
                              />
                            </div>
                            <button
                              class="btn-icon btn-icon--small btn btn-search grey ml-2"
                              title="{{ 'btnAction.add' | translate }}"
                              [disabled]="allRM"
                              (click)="add()"
                            >
                              <em class="las la-plus-circle f-16"></em>
                            </button>
                            <button
                              class="btn-icon btn-icon--small btn btn-search grey ml-2"
                              title="{{ 'btnAction.search' | translate }}"
                              [disabled]="allRM"
                              (click)="searchCustomer()"
                            >
                              <em class="las la-search f-16"></em>
                            </button>

                          </div>
                          <div class="filter-top__right block-center">
                            <button class="btn btn--red btn-small mr-4 text-white" [disabled]="allRM" (click)="removeListCustomer()">
                              {{ 'btnAction.deleteAll' | translate }}
                            </button>
                          </div>
                        </div>
                        <div class="table__view__customer">
                          <ngx-datatable
                            #table
                            ngxDataTable
                            class="bootstrap fullscreen"
                            [rows]="listDataTableCustomer"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [footerHeight]="50"
                            rowHeight="auto"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [virtualization]="false"
                            [externalPaging]="true"
                            [count]="pageableCustomer?.totalElements"
                            [offset]="pageableCustomer?.currentPage"
                            [limit]="pageableCustomer?.size"
                            (page)="setPageCustomer($event)"
                            [messages]="messages"
                          >
                            <ngx-datatable-column
                              [sortable]="false"
                              name="{{ 'fields.order' | translate }}"
                              [width]="55"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                            >
                              <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                <span>{{ pageableCustomer?.currentPage * pageableCustomer?.size + rowIndex + 1 }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [sortable]="false"
                              [draggable]="false"
                              [prop]="columns[0].prop"
                              [name]="columns[0].name"
                            >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                <span title="{{ value }}">{{ value }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              [sortable]="false"
                              [draggable]="false"
                              [prop]="columns[1].prop"
                              [name]="columns[1].name"
                            >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                <span title="{{ value }}">{{ value }}</span>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column
                              name="{{ 'fields.action' | translate }}"
                              [width]="100"
                              [frozenRight]="true"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                            >
                              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <div class="block-center text-center column-action">
                                  <button
                                    type="button"
                                    class="btn-outline"
                                    (click)="removeRecord(row); $event.stopPropagation()"
                                    title="{{ 'btnAction.delete' | translate }}"
                                  >
                                    <em class="las la-trash-alt"></em>
                                  </button>
                                </div>
                              </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                              <ng-template
                                let-rowCount="rowCount"
                                let-pageSize="pageSize"
                                let-selectedCount="selectedCount"
                                let-curPage="curPage"
                                let-offset="offset"
                                ngx-datatable-footer-template
                              >
                                <app-pager-ngx-datatable
                                  [page]="curPage"
                                  [offset]="offset"
                                  [size]="pageSize"
                                  [count]="rowCount"
                                  [hidden]="false"
                                  (change)="table.onFooterPage($event)"
                                >
                                </app-pager-ngx-datatable>
                              </ng-template>
                            </ngx-datatable-footer>
                          </ngx-datatable>
                        </div>
                      </ng-container>
                    </div>
                    <!-- <div class="col-md-12 action__center">
                      <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="view()">
                        Xem báo cáo</button>
                    </div> -->
                  </div>
                </div>
                <div class="action__center">
                  <!-- <p style="cursor: pointer" class="mt-lg-5 ml-2" (click)="viewListFile()"><u>Xem danh sách File</u></p> -->
                  <button *ngIf="(model.kpiDetailReportType === 'KH' && (model.kpiReportType === 'CBQL' || model.kpiReportType === 'RM') && model.productType === 'OTHER' && productCode === ''); else other" class="btn btn--light-blue btn-small mr-3 btn-view" (click)="export()">
                    {{ 'labels.reportExport' | translate }}
                  </button>

                  <ng-template #other>
                    <button  class="btn btn--light-blue btn-small mr-3 btn-view" (click)="view()">
                      {{ 'labels.reportShow' | translate }}
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
