.kpi-report-rm-table .fullscreen {
  position: relative !important;
}

.kpi-indiv-report {
  .detail-block {
    background: white;
    border-radius: 12px;
    // padding: 1.5rem;
  }

  .app__left-content.left-content {
    padding: 20px 18px;
    min-height: 100vh;
  }

  // button.btn.btn-outline-primary {
  //   height: 28px;
  //   text-align: center;
  //   padding: 0 1rem !important;
  //   font-weight: 400 !important;
  // }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    // overflow-y: auto;
    border-radius: 12px;
    // max-height: 65%;
    height: auto;
  }
  .item-label {
    min-width: 60px !important;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .border-table {
    border-left: 1px solid #dddd;
  }

  .action__center {
    margin: 0 auto !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .data-empty {
    border-bottom: none;
  }
  .m-8 {
    margin-bottom: -8px;
  }
  .form-create {
    height: 100%;
  }
  .detail-table .fullscreen {
    height: 100%;
    position: relative !important;
  }

  .pt-15 {
    padding-top: 16px;
  }
  .button-right {
    flex-direction: row-reverse;
    margin: 0px !important;
    height: 0px;
  }
  .btn-view {
    position: relative;
    margin-top: 0px;
    bottom: -16px;
    margin-right: 0;
  }

  .table__view__customer {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    .fullscreen {
      height: 180px;
    }
  }
  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .table-border {
    border-right: 2px solid #ffffff;
    height: 100%;
  }

  .colspan-border {
    border-bottom: 2px solid #ffffff;
  }

  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }

  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }

  .align-items-center {
    align-items: center;
    height: 100%;
  }

  .w-100 {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-200 {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-200-data {
    width: 200px !important;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
  .w-60 {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-60-data {
    width: 60px !important;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }

  .w-80 {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-80-data {
    width: 80px !important;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 10px;
  }
}
