@import 'variable';

.NgxEditor {
  height: 100%;
  overflow: auto;
  &__Wrapper {
    border: 1px solid $gray-300 !important;
    display: flex;
    flex-direction: column;
    position: relative;
    .editor-disabled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__MenuBar {
    border-bottom: 1px solid $gray-300 !important;
  }
  &__Main {
    flex: 1 1 auto;
    overflow: hidden;
  }
  &__Content {
    height: 100%;
    word-break: break-word;
  }
}
