<div class="right-view update-hris">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'rm.menu.rm360' | translate }}/{{ 'rm.fields.updateHris' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="card py-4 px-4 mb-3">
          <div class="block-center">
            <div class="upload block-center">
              <div [class.file-disabled]="isUpload"></div>
              <input
                class="upload__input"
                type="file"
                accept=".xlsx, .csv"
                [(ngModel)]="files"
                (change)="handleFileInput($event.target.files)"
              />
              <em class="las la-cloud-upload-alt f-20"></em>
              <span class="upload__label">{{ fileName ? fileName : ('fields.chooseFile' | translate) }}</span>
            </div>
            <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
              <em class="las la-times f-16"></em>
            </button>
            <button
              class="btn btn-small btn--light-blue ml-3"
              [class.disabled]="!isFile || isUpload"
              (click)="importFile()"
            >
              <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
            </button>
            <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
              <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
            </button>
          </div>
        </div>
        <div *ngIf="isUpload" class="flex-grow-1 block-table">
          <div class="table__success col-md-5 pl-0 pr-3">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'customer360.title.listSuccess' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left"></div>
                <div class="filter-top__right d-flex">
                  <!-- <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="exportSuccess()">
                        <em class="las la-file-excel f-16"></em>
                      </button> -->
                </div>
              </div>

              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableSuccess
                  class="bootstrap fullscreen"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataSuccess"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageSuccess?.totalElements"
                  [offset]="pageSuccess?.currentPage"
                  [limit]="pageSuccess?.size"
                  (page)="setPage($event, 'success')"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="40"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageSuccess?.currentPage * pageSuccess?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- <ngx-datatable-column prop="userName" [sortable]="false"
                        name="{{ 'rm.fields.user_name' | translate }}" [width]="120">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                          <div class="text-truncate">{{ value }}</div>
                        </ng-template>
                      </ngx-datatable-column> -->
                  <ngx-datatable-column
                    prop="hrsCodeOld"
                    [sortable]="false"
                    name="{{ 'rm.fields.hrisCodeOld' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="hrsCodeNew"
                    [sortable]="false"
                    name="{{ 'rm.fields.hrisCodeNew' | translate }}"
                    [width]="120"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div class="text-truncate">{{ value }}</div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableSuccess.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>

          <div class="table__error col-md-7 pl-0 pr-0">
            <div class="card flex-grow-1">
              <div class="table__title px-4 text-left mt-3">
                <h5>{{ 'customer360.title.listError' | translate }}</h5>
              </div>
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left"></div>
                <div class="filter-top__right d-flex">
                  <!-- <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="exportError()">
                        <em class="las la-file-excel f-16"></em>
                      </button> -->
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #tableError
                  class="bootstrap fullscreen"
                  [columnMode]="ColumnMode.force"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="listDataError"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageError?.totalElements"
                  [offset]="pageError?.currentPage"
                  [limit]="pageError?.size"
                  (page)="setPage($event, 'error')"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="40"
                    [canAutoResize]="false"
                    [draggable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageError?.currentPage * pageError?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="rowNum"
                    [sortable]="false"
                    name="{{ 'fields.row' | translate }}"
                    [width]="60"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div title="{{ value }}" class="text-truncate">
                        {{ value }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="errorColumn"
                    [sortable]="false"
                    name="{{ 'fields.column' | translate }}"
                    [width]="140"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div title="{{ value | translate }}" class="text-truncate">
                        {{ value | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="errorType"
                    [sortable]="false"
                    name="{{ 'fields.typeError' | translate }}"
                    [width]="150"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div title="{{ value | translate }}" class="text-truncate">
                        {{ value | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    prop="errorCode"
                    [sortable]="false"
                    name="{{ 'fields.dataError' | translate }}"
                    [width]="100"
                    [canAutoResize]="false"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div title="{{ value }}" class="text-truncate">
                        {{ value }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    prop="description"
                    [sortable]="false"
                    name="{{ 'fields.infoError' | translate }}"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <div title="{{ value | translate }}" class="text-truncate">
                        {{ value | translate }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="tableError.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
