<app-loading *ngIf="isLoading"></app-loading>
<div class="right-view update-setup">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small btn-back" (click)="backStep()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <h3 _ngcontent-dcb-c416="" class="ml-3 mb-0 page--title"> Sửa cài đặt lãi suất </h3>
        </div>
        <div class="content__top-right">
            <button class="btn btn--light-blue btn-small" (click)="update(true)">{{ 'btnAction.save' | translate }}</button>

            <button class="btn btn--light-blue btn-small" (click)="signSetup()">{{ 'reductionProposal.labels.signSetup' |
                translate }}
            </button>
        </div>

    </div>
    <div class="content">
        <div style='padding: 15px' class="content-body">
            <div class="col-12 detail-block mb-4 tab-content">
                <app-declare-setup #declare (changeLoading)="changeLoading($event)" [type]="'update'"
                    [customer]="customer"></app-declare-setup>
            </div>

        </div>
    </div>
</div>
