.update-setup {
  .btn-back{
    z-index: 999;
  }
  .list__block {
    overflow-y: auto;
  }
  .mat-tab-label-active{
    font-weight: bold;
  }
  .detail-container .mat-tab-labels{
    border: none;
  }
  .crm-btn-close{
    padding: 2px 6px;
    float: right;
  }
  .form-label{
    color: #737373;
  }
  .step-container{
    // position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
  .step{
    font-weight: 600;
    font-size: 17px;
  }
  .step-circle{
    padding: 4px 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }
  .step.active {
    color: #bbbbfd!important;;
  }
  .step.active .step-circle {
    background-color: #bbbbfd!important;
    color: #fff;
  }
  .step-line{
    width: 50px;
    border: 1px solid #212121;
    display: inline-block;
    vertical-align: super;
  }
  .tab-content {
    height: calc(100% - 75px);
    overflow: auto;
  }

  .font-weight-bold {
    font-weight: bold;
  }

  .visibility-hidden{
    visibility: hidden;
  }

}
::ng-deep .detail-container.border-none .mat-tab-labels{
  border: none;
}
::ng-deep .detail-container.border-none .mat-tab-labels{
  border: none;
}

.label-proposal{
  /* Label value */


  width: 35px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Global/Grey/grey-300 */

  color: #737373;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-btn{
  /* Field */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 16px;

  position: absolute;
  width: 275px;
  left: 25px;
  /* Alias/Primary/White */

  background: #FFFFFF;
}
.check-btn2{
  /* Field */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 16px;

  width: 270px;
  left: 480px;

  /* Alias/Primary/White */

  background: #FFFFFF;
}
.check-btn3{
  /* Field */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 16px;

  width: 270px;
  left: 550px;

  /* Alias/Primary/White */

  background: #FFFFFF;
}
.label-radio {
  width: 203px;
  height: 24px;

  /* 16/Normal/T16R */

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Alias/Primary/grey-500 */

  color: #2E2E2E;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
input::placeholder{
  width: 183px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Global/Grey/grey-200 */

  color: #9F9F9F;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

