@import 'variable';

.revenue-sharing-approve {
  .list__block {
    overflow-y: auto;
    // border-radius: 12px;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }
  // .table__view {
  //   margin-top: 20px;
  // }
  // .shareStatus .content__top {
  //   margin: 24px 0 12px;
  // }
}
