<div class="right-view revenue-sharing-approve">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'title.viewDetailRevenue' | translate }}
      </h3>
    </div>
    <div *ngIf="approvedList" class="content__top-right">
      <button
        *ngIf="formCreated.get('shareStatus').value === 'APPROVE'"
        class="btn btn--red btn-small"
        (click)="endRevenueShare()"
      >
        {{ 'btnAction.buttonEnd' | translate }}
      </button>

      <button
        *ngIf="formCreated.get('shareStatus').value === 'PENDING'"
        class="btn btn--red btn-small"
        (click)="isApproved('refuse')"
      >
        {{ 'btnAction.refuse' | translate }}
      </button>
      <button
        *ngIf="formCreated.get('shareStatus').value === 'PENDING'"
        class="btn btn--light-blue btn-small"
        (click)="isApproved('approved')"
      >
        {{ 'btnAction.approved' | translate }}
      </button>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.legalRepresentativeInfo' | translate }}</h5>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input formControlName="customerCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input formControlName="customerName" type="text" pInputText placeholder="" class="d-block" />
              </div>
            </div>
            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.currentRaisingCapital' | translate }}</label>
                <input formControlName="currentFundraising" type="text" pInputText placeholder="" class="d-block" />
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.currentCredit' | translate }}</label>
                <input formControlName="currentCredit" type="text" pInputText placeholder="" class="d-block" />
              </div>
            </div>

            <div class="row" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.block' | translate }}</label>
                <input formControlName="divisionCode" type="text" pInputText placeholder="" class="d-block" />
              </div>

              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
                <input formControlName="branchCode" type="text" pInputText placeholder="" class="d-block" />
              </div>

              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.codeRmManagement' | translate }}</label>
                <input formControlName="rmCode" type="text" pInputText placeholder="" class="d-block" />
              </div>
            </div>
          </div>

          <div class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'fields.infoShare' | translate }}</h5>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.divisionShare' | translate }}</label>
                <!-- <input type="text" pInputText placeholder="" class="d-block" /> -->
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  formControlName="shareDivision"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.branchShare' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranches"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="shareBranch"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>

              <div class="col-md-4 has-error">
                <label class="mb-0">{{ 'fields.codeRmShare' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="shareRmCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                ></p-dropdown>
              </div>
            </div>

            <div class="row mb-10" [formGroup]="formCreated">
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.startTime' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="startDate"
                  dateFormat="dd/mm/yy"
                  [minDate]="minDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [readonlyInput]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-4">
                <label class="mb-0">{{ 'fields.endTime' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="endDate"
                  dateFormat="dd/mm/yy"
                  [minDate]="minDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [readonlyInput]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
            </div>

            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap"
                columnMode="force"
                [headerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [rows]="listTarget"
                [messages]="messages"
              >
                <ngx-datatable-column
                  prop="targetName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.target' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  prop="rateOfRmManagement"
                  [sortable]="false"
                  [draggable]="false"
                  [disabled]="true"
                  name="{{ 'fields.rateRmManagement' | translate }}"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ row.rateOfRmManagement }}">{{ row.rateOfRmManagement }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="ratioRmAmShared"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.rateRmShare' | translate }}"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <span title="{{ row.ratioRmAmShared }}">{{ row.ratioRmAmShared }}</span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
          <div class="card p-4 flex-grow-1 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.statusRevenue' | translate }}</h5>
            </div>
            <div class="row" [formGroup]="formCreated">
              <div class="col-md-4 mb-10">
                <label class="mb-0">{{ 'fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatusShare"
                  placeholder=" "
                  class="d-block"
                  formControlName="shareStatus"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>
              <div class="col-md-12">
                <label class="mb-0">{{ 'fields.propositionShare' | translate }}</label>
                <textarea
                  maxlength="500"
                  class="form-control label-text note-text"
                  type="text"
                  formControlName="note"
                ></textarea>
              </div>

            </div>
          </div>

          <div class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.historyRevenue' | translate }}</h5>
            </div>

            <div class="table__view">
              <ngx-datatable
                ngxDataTable
                #tableTarget
                class="bootstrap"
                columnMode="force"
                [headerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="false"
                [scrollbarH]="true"
                [rows]="listDataHistory"
                [messages]="messages"
              >
                <ngx-datatable-column
                  prop="index"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="approvalBy"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.approver' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="action"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.action' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="time"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.time' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  [prop]="'reason'"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields._reason' | translate }}"
                  [resizeable]="false"
                  [frozenRight]="true"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
