<div class="right-view selling-opp-indiv-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'sellingOppIndivDetail.label.mainTitle' | translate }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="row top-info">
                    <div class="col-md-6">
                      <h5 class="m-0">
                        <span class="text-special">{{ detailInfo?.customerCode }}</span> -
                        {{ detailInfo?.customerName }}
                      </h5>
                    </div>
                    <div class="col-md-6 text-right">
                      <button
                        class="btn--light-blue btn-icon--small btn"
                        title="{{ 'title.sendMail' | translate }}"
                        (click)="mailTo()"
                      >
                        <em class="las la-envelope f-16"></em>
                      </button>
                      <button
                        class="btn--light-blue btn-icon--small btn ml-2"
                        title="{{ 'title.createActivity' | translate }}"
                        (click)="createActivity()"
                      >
                        <em class="icon-create-activity i-16"></em>
                      </button>
                      <button
                        class="btn--light-blue btn-icon--small btn ml-2"
                        title="{{ 'title.createTask' | translate }}"
                        (click)="createTaskTodo()"
                      >
                        <em class="icon-create-todo i-16"></em>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="detail-key">{{
                        'sellingOppIndivDetail.label.registrationNumber' | translate
                      }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.identifiedNumber }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{
                        'sellingOppIndivDetail.label.registrationNumberDate' | translate
                      }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.identifiedIssueDate }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.phone' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span>{{ detailInfo?.phone }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.segment' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.priorityName }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.address' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.address }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.branchCode' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.customerBranchCode }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.branchName' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.customerBranchName }}</span>
                    </div>
                    <div class="col-md-3">
                      <label class="detail-key">{{ 'sellingOppIndivDetail.label.ubManager' | translate }}</label>
                    </div>
                    <div class="col-md-3 form-group has-error">
                      <span class="text-wrap">{{ detailInfo?.rmManagement }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 detail-block mb-3">
              <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
                <mat-tab label="{{ 'sellingOppIndivDetail.tab1.name' | translate }}"></mat-tab>
                <mat-tab label="{{ 'sellingOppIndivDetail.tab2.name' | translate }}"></mat-tab>
              </mat-tab-group>
            </div>

            <div class="col-12" *ngIf="tab_index === 0">
              <div class="row opp-indiv-form">
                <div class="col-md-5">
                  <div class="scroll bg-white">
                    <ng-container *ngIf="formType === 'CREATE'">
                      <div class="box-form" [formGroup]="formCreate">
                        <div class="flex-bw header">
                          <div class="left">
                            {{ 'sellingOppIndivDetail.tab1.left.createTitle' | translate }}
                          </div>
                          <div class="right text-right">
                            <button [disabled]="isDisableCancel" class="btn btn-outline btn-small" (click)="cancel()">
                              {{ 'btnAction.cancel' | translate }}
                            </button>
                            <button
                              [disabled]="isDisableSaveCreate"
                              class="btn btn--light-blue btn-small ml-2"
                              (click)="save()"
                            >
                              {{ 'btnAction.save' | translate }}
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.productCode' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listProduct"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="productCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="code"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                              (onChange)="onChangeProduct($event)"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.branch' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listBranches"
                              placeholder=" "
                              class="d-block mb-10"
                              [filter]="true"
                              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                              formControlName="branchCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="code"
                              (onChange)="onChangeBranch($event)"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.rmUb' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listRmManager"
                              placeholder=" "
                              class="d-block mb-10"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                              formControlName="memberCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="index"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.currency' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listCurrencies"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="currency"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="name"
                              optionValue="code"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.values' | translate }}</label>
                            <input
                              formControlName="amount"
                              type="text"
                              maxlength="20"
                              pInputText
                              placeholder=""
                              class="d-block mb-10"
                              (keypress)="keyPressNumbers($event)"
                              [(ngModel)]="amountModelCreate"
                            />
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.status' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              formControlName="status"
                              [options]="listStatusOpp"
                              placeholder=" "
                              class="d-block mb-10"
                              optionLabel="displayName"
                              optionValue="code"
                            >
                            </p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.introducer' | translate }}</label>
                            <p-dropdown
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listPresenter"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="guideCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="index"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                            ></p-dropdown>
                          </div>
                          <div class="col-12">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.note' | translate }}</label>
                            <textarea
                              class="form-control"
                              [maxlength]="500"
                              rows="5"
                              type="text"
                              formControlName="note"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="formType === 'UPDATE'">
                      <div class="box-form" [formGroup]="formUpdate">
                        <div class="flex-bw header">
                          <div class="left">
                            {{ 'sellingOppIndivDetail.tab1.left.updateTitle' | translate }}
                          </div>
                          <div class="right text-right">
                            <button [disabled]="isDisableCancel" class="btn btn-outline btn-small" (click)="cancel()">
                              {{ 'btnAction.cancel' | translate }}
                            </button>
                            <button
                              [disabled]="isDisableSaveUpdate"
                              class="btn btn--light-blue btn-small ml-2"
                              (click)="save()"
                            >
                              {{ 'btnAction.save' | translate }}
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.productCode' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listProduct"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="productCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="code"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                              (onChange)="onChangeProduct($event)"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.branch' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listBranches"
                              placeholder=" "
                              class="d-block mb-10"
                              [filter]="true"
                              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                              formControlName="branchCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="code"
                              (onChange)="onChangeBranch($event)"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.rmUb' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listRmManager"
                              placeholder=" "
                              class="d-block mb-10"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                              formControlName="memberCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="index"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.currency' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listCurrencies"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="currency"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="name"
                              optionValue="code"
                            ></p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.values' | translate }}</label>
                            <input
                              [readonly]="isDisableFormUpdate"
                              [ngClass]="isDisableFormUpdate ? 'input-disabled' : ''"
                              formControlName="amount"
                              type="text"
                              maxlength="20"
                              pInputText
                              placeholder=""
                              class="d-block mb-10"
                              (keypress)="keyPressNumbers($event)"
                              [(ngModel)]="amountModelUpdate"
                            />
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.status' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              formControlName="status"
                              [options]="listStatusOpp"
                              placeholder=" "
                              class="d-block mb-10"
                              optionLabel="displayName"
                              optionValue="code"
                            >
                            </p-dropdown>
                          </div>
                          <div class="col-md-6">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.introducer' | translate }}</label>
                            <p-dropdown
                              [disabled]="isDisableFormUpdate"
                              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                              [options]="listPresenter"
                              placeholder=" "
                              class="d-block mb-10"
                              formControlName="guideCode"
                              appendTo="body"
                              autoZIndex="false"
                              baseZIndex="10000"
                              optionLabel="displayName"
                              optionValue="index"
                              [filter]="true"
                              [virtualScroll]="true"
                              [itemSize]="31"
                            ></p-dropdown>
                          </div>
                          <div class="col-12">
                            <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.note' | translate }}</label>
                            <textarea
                              [readonly]="isDisableFormUpdate"
                              [ngClass]="isDisableFormUpdate ? 'input-disabled' : ''"
                              class="form-control"
                              [maxlength]="500"
                              rows="5"
                              type="text"
                              formControlName="note"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="scroll" *ngIf="accordianData?.length > 0">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="wrap-detail-item" *ngFor="let data of accordianData">
                        <app-selling-opp-indiv-detail-item
                          [data]="data"
                          class="panel panel-default"
                          (onClickEdit)="handleEditClick($event)"
                        ></app-selling-opp-indiv-detail-item>
                      </div>
                    </div>
                  </div>
                  <div class="no-data" *ngIf="accordianData?.length === 0">
                    <div class="no-data-content">{{ 'sellingOppIndivDetail.noRecordsFound' | translate }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 1">
              <app-selling-opp-activity-list
                [listBranchCode]="listBranchCode"
                [customerCode]="customerCode"
                #sellingOppActivity
              >
              </app-selling-opp-activity-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
