.selling-opp-indiv-detail {
  .top-info {
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
  }

  .detail-block {
    background: white;
    border-radius: 4px;
    padding: 5px 20px;
  }

  .app__left-content.left-content {
    padding: 20px 18px;
    min-height: 100vh;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    overflow-y: auto;
    border-radius: 12px;
  }
  .item-label {
    min-width: 60px !important;
  }

  .target-detail {
    font-weight: 700;
    font-size: 12px;
  }

  .target-value {
    font-weight: 700;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  .tablecollateral .fullscreen {
    position: relative !important;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .table-bscore {
    overflow-x: hidden;
    margin-top: -10px;
  }

  .data-empty {
    border-bottom: none;
  }

  .align-value {
    vertical-align: middle !important;
  }

  .text-wrap {
    white-space: normal;
  }

  .text-special {
    color: #bbbbfd;
  }

  .flex-bw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.header {
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    .left {
      font-weight: 700;
      font-size: 16px;
      color: #1c1d21;
    }
    .text-el {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 60%;
      color: #bbbbfd;
    }
  }

  .note {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    white-space: normal;
  }

  .scroll {
    height: 505px;
    // height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }

  .bg-white {
    background-color: #fff;
  }

  .box-form {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-edit {
    font-size: 18px;
    background-color: rbga(239,242,254,.4);
  }
}

.cus-phone-tooltip,
.cus-email-tooltip {
  .label-tooltip {
    min-width: 80px;
    max-width: 80px;
    padding-right: 15px;
  }
}

.btn-expand {
  height: auto;
  border: 1px solid #475daa;
}

.wrap-detail-item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

textarea {
  resize: none;
}

.no-data {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control[readonly] {
  background-color: #fbfbfd;
  opacity: .5 !important;
}

.input-disabled {
  opacity: .5 !important;
}
