<div class="right-view access-denied">
    <div class="notification text-center">
        <h5>{{ 'notificationMessage.noPermission' | translate}}</h5>
        <button class="btn btn--light-blue btn-small" (click)="logout()">
            <em class="las la-sign-out-alt f-16 mr-2"></em> {{ 'btnAction.logout' | translate }}
        </button>
    </div>
</div>
