<div class="right-view approved-plan-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Phê duyệt kế hoạch</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="fluid-container px-4 pt-4" [formGroup]="formSearch">
            <div class="row py-1">
              <div class="col-md-3">
                <label class="m-0">{{ 'fields.branch' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranches"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                ></p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.rmManager' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="rmCode"
                  [filter]="true"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                >
                </p-dropdown>
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="status"
                  [filter]="true"
                  [options]="listStatusApproved"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="mb-0">{{ 'fields.year' | translate }}</label>
                <input type="text" class="d-block" formControlName="year" pInputText />
              </div>
            </div>
          </div>

          <div class="block-center px-4 filter-top">
            <div class="action__left">
              <button class="btn btn-small btn--light-blue" (click)="searchApprovedPlan(false)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>

            <div class="action__right">
              <button
                class="btn btn-icon btn-icon--small btn-search ml-2"
                (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>

          <div class="table__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [virtualization]="false"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [rows]="listData"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="40"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="rmCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="rmName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="rmLevelId"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.levelRM' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="branchCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branchCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                prop="branchName"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.branchName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.status' | translate }}">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row.statusCode ? row.status : '' }}">{{ row.statusCode ? row.status : '' }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
