<div class="history-process-table">
  <app-loading *ngIf="isLoading"></app-loading>

  <div class="table__view">
    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="models" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
      [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements" (activate)="viewDetail($event)"
      [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="paging($event)" [messages]="messages">

      <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.order' | translate }}" [width]="50"
        [canAutoResize]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="runNumber" [sortable]="false" [draggable]="false" name="Lần chạy">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'runNumber') | number }}">{{ getValue(row, 'runNumber') | number }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="start" [sortable]="false" [draggable]="false" name="Thời gian bắt đầu">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'startRuntime') | date: 'dd/MM/yyyy hh:mm:ss' }}">{{ getValue(row,
            'startRuntime') | date: 'dd/MM/yyyy
            hh:mm:ss' }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="end" [sortable]="false" [draggable]="false" name="Thời gian kết thúc">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'endRuntime') | date: 'dd/MM/yyyy hh:mm:ss' }}">{{ getValue(row, 'endRuntime') |
            date: 'dd/MM/yyyy
            hh:mm:ss' }}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
            [hidden]="false" (change)="table.onFooterPage($event)">
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>