@media only screen and (max-height: 900px) {
  .form-create {
    max-height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.selling-opp-sme-detail {
  @media only screen and (min-width: 1600px) {
    li {
      padding: 12px 23px 10px 33px !important;
    }
  }
  li {
    cursor: default;
    display: inline-block;
    background: none repeat scroll 0 0 #EFEFEF ;
    position: relative;
    list-style: none outside none;
    margin-right: 3px;
    line-height: 32px;
    padding: 12px 0px 10px 25px;
    font-weight: 500;
    font-size: 14px;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
      &:after {
        border-left: 20px solid #5DCE8F!important;
      }
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
      color: #FFFFFF;
      &:after {
        border-left: 20px solid #EB2D4B!important;
      }
    }
  }
  //li:first-child {
  //  padding-left: 12px;
  //}
  //li:first-child:before {
  //  border: 0 none;
  //}
  li:before {
    content:"";
    position: absolute;
    top: 0;
    height: 0;
    border-left: 20px solid white;
    border-bottom: 27px inset transparent;
    border-top: 27px inset transparent;
    width: 0;
    left: 0;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
    }
  }
  li:after {
    content:"";
    height: 0;
    border-left: 20px solid #EFEFEF;
    right: -20px;
    border-top: 27px inset transparent;
    border-bottom: 27px inset transparent;
    z-index: 2;
    width: 0;
    position: absolute;
    top: 0;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
    }
  }

  .currency {
    font-weight: 700;
    font-size: 16px;
    color: #1c1d21;
  }


  .top-info {
    align-items: center;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
  }

  .detail-block {
    background: white;
    border-radius: 4px;
    padding: 5px 20px;
  }

  .app__left-content.left-content {
    padding: 20px 18px;
    min-height: 100vh;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    overflow: auto;
    border-radius: 12px;
  }
  .item-label {
    min-width: 60px !important;
  }

  .target-detail {
    font-weight: 700;
    font-size: 12px;
  }

  .target-value {
    font-weight: 700;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  .tablecollateral .fullscreen {
    position: relative !important;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .table-bscore {
    overflow-x: hidden;
    margin-top: -10px;
  }

  .data-empty {
    border-bottom: none;
  }

  .align-value {
    vertical-align: middle !important;
  }

  .text-wrap {
    white-space: normal;
  }

  .text-special {
    color: #bbbbfd;
  }

  .text-el {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
    color: #bbbbfd;
  }

  .flex-bw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.header {
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    .left {
      font-weight: 700;
      font-size: 16px;
      color: #1c1d21;
    }
    .text-el {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 80%;
      color: #bbbbfd;
    }
    .right {
      border-left: 1px solid #DBDBDB;
      min-width: 150px;
    }
  }

  .note {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    white-space: normal;
  }

  .scroll-collapse {
    max-height: 620px;
    // height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .scroll {
    max-height: 485px;
    // height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .bg-white {
    background-color: #fff;
  }

  .box-form {
    height: 86px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-edit {
    font-size: 18px;
    background-color: rbga(239,242,254,.4);
    &:hover {
      background: #9595f3!important;
      border-color: #9595f3!important;
      color: white !important;
    }
  }
}

.cus-phone-tooltip,
.cus-email-tooltip {
  .label-tooltip {
    min-width: 80px;
    max-width: 80px;
    padding-right: 15px;
  }
}

.btn-expand {
  height: auto;
  border: 1px solid #475daa;
}

.wrap-detail-item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

textarea {
  resize: none;
}

.no-data {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control[readonly] {
  background-color: #fbfbfd;
  opacity: .5 !important;
}

.input-disabled {
  opacity: .5 !important;
}
