<app-loading *ngIf="isLoading"></app-loading>
<div class="right-view selling-opp-sme-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="mr-5 btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <h3 class="mb-0 page--title"> {{ 'sellingOppIndivDetail.label.title' | translate }} </h3>
    </div>
    <div class="content__top-right">
      <button
              class="btn--light-blue btn-icon--small btn ml-2"
              title="{{ 'title.sendMail' | translate }}"
              (click)="mailTo()">
        <em class="las la-envelope f-16"></em>
      </button>
      <button
              class="btn--light-blue btn-icon--small btn ml-2"
              title="{{ 'title.createTask' | translate }}"
              (click)="createTaskTodo()">
        <em class="icon-create-todo i-16"></em>
      </button>
      <app-activity-log [customerCode]='detailInfo?.customerCode' [rsId]='objFunction.rsId' *ngIf="detailInfo?.customerCode"></app-activity-log>
      <app-activity-log [leadCode]="detailInfo?.customerInfo?.leadCode" [rsId]="objFunction.rsId" *ngIf="!detailInfo?.customerCode"></app-activity-log>
    </div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <!-- Thông tin khách hàng -->
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="pt-3 row top-info">
                    <div class="col-md-6">
                      <h5 class="m-0"> {{ 'sellingOppIndivDetail.label.customerInfo' | translate }} </h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show">
                  <div class="row">
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Loại khách hàng</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ displayCustomerType(detailInfo?.customerType) }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Mã KHHH</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.customerCode || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Mã KHTN</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.leadCode || '--'}}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Tên khách hàng</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerName || detailInfo?.customerInfo?.name || '--'}}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Số ĐKKD</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.businessRegistrationNumber || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Địa chỉ</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.address || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Số lao động</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.employeesNo || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Loại hình doanh nghiệp</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.typeOfBusiness || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Phân khúc</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.segment || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Chi nhánh mở code</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.branch || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>RM quản lý</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.customerInfo?.rm || '--' }}</label></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Thông tin cơ hội -->
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="pt-3 row top-info">
                    <div class="col-md-6">
                      <h5 class="m-0"> {{ 'sellingOppIndivDetail.label.opptunityInfo' | translate }} </h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show">
                  <div class="row">
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Trạng thái</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ getName(detailInfo?.status) ||'--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Mã sản phẩm</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.productCode || '--'}}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Tên sản phẩm</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.productName || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Giá trị</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.amount | formatNumber : null : 0 || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Loại tiền tệ</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.currency  || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Chi nhánh</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ concatStr(detailInfo?.branchCode, detailInfo?.branchName, '--') }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Người xử lý</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ concatStr(detailInfo?.memberCode, detailInfo?.memberFullName, 'Chưa gán') }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Hợp đồng</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.contractCode || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Chiến dịch</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.campaignId || '--' }}</label></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Mô tả</label></div>
                    <div class="col-md-10 col-lg-11 text-wrap"><label>{{ detailInfo?.description || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Ghi chú</label></div>
                    <div class="col-md-10 col-lg-11 text-wrap"><label>{{ detailInfo?.note || '--' }}</label></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Thông tin mở rộng -->
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="pt-3 row top-info">
                    <div class="col-md-6">
                      <h5 class="m-0"> {{ 'sellingOppIndivDetail.label.otherInfo' | translate }} </h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show">
                  <div class="row">
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Trạng thái sàng lọc</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.filterStatusName || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Lãi suất dự kiến</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.interestExpected | formatNumber : null : 2 || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Người giới thiệu</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.guideUsername || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Người tạo</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.createdBy || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Ngày giờ tạo</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ formatDate(detailInfo?.createdDate) }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Người cập nhật</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.updatedBy || '--' }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Ngày giờ cập nhật</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ formatDate(detailInfo?.updatedDate) }}</label></div>
                    <div class="col-md-2 col-lg-1 text-wrap detail-key"><label>Nguồn</label></div>
                    <div class="col-md-4 col-lg-5 text-wrap"><label>{{ detailInfo?.sourceName || '--'}}</label></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
