@import 'src/assets/styles/variable';

.customer-confirm-assign {
  .p-dropdown {
    height: 36px;
    min-width: 100%;
  }
  .ngx-datatable.bootstrap .btn-outline {
    border: 1px solid $green !important;
  }
  .btn-outline-green {
    border: 1px solid $green !important;
    background-color: $green !important;
    color: $white !important;
  }
}
