<div class="right-view customer-confirm-assign">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'title.confirmRmManagerCustomer' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4">
                        <div class="row">
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.branch' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listBranch" class="d-block" [(ngModel)]="params.branchCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.block' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="listDivision" class="d-block" [(ngModel)]="params.blockCode"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [filter]="true"
                                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.customerCode' | translate }}</label>
                                <input placeholder="" type="text" class="d-block" maxlength="30"
                                    [(ngModel)]="params.customerCode" pInputText />
                            </div>
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'fields.dataDate' | translate }}</label>
                                <p-calendar class="d-block" [(ngModel)]="params.businessDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [disabled]="true"
                                    [showIcon]="true" icon="las la-calendar-alt">
                                </p-calendar>
                            </div>

                        </div>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="filter-top__left">
                            <button class="btn btn--light-blue btn-small" (click)="search(true)">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="filter-top__right block-center">
                            <button class="btn-icon btn-icon--small btn btn-search ml-2"
                                title="{{ 'btnAction.export' | translate }}" (click)="exportExcel()">
                                <em class="las la-file-excel f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view group__view">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages">

                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="45" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                                [width]="105" name="{{ 'fields.customerCode' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
                                name="{{ 'fields.customerName' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branch"
                                name="{{ 'fields.branch' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="currentRmName"
                                name="{{ 'fields.rmManaging' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="businessDate"
                                [width]="110" name="{{ 'fields.contractDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="businessDate"
                                name="{{ 'fields.assignDateCustomer' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="currentRmCode"
                                name="{{ 'fields.confirmRmManagerNew' | translate }}" [width]="200">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                        [options]="row.listRm" class="w-100" [(ngModel)]="row.rmCodeNew"
                                        appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
                                        optionValue="code" (onClick)="getRmByCustomer(row)"></p-dropdown>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="statusName"
                                name="{{ 'fields.status' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
                                [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="block-center text-center column-action">
                                        <button type="button" class="btn-outline btn--light-blue btn-outline-green"
                                            (click)="confirm(row);$event.stopPropagation()">
                                            <em class="las la-check"></em>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
