<div class="info-contact">
    <!-- <app-loading *ngIf="isLoading"></app-loading> -->
    <div class="col-12 detail-block mb-4">
      <div class="table__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [scrollbarV]="false"
          [scrollbarH]="true"
          [rows]="listData"
          [virtualization]="false"
          [externalPaging]="false"
          [messages]="messages"
          [columns]="columns"
        >
        </ngx-datatable>
      </div>
    </div>
  </div>
  
