<div class="chart raise-capital-top-chart">
  <div class="chart__header block-center-between">
    <div class="chart__header-left">
      <div *ngIf="actionType === '01'" class="header-title">Top KH CASA lớn nhất</div>
      <div *ngIf="actionType === '02'" class="header-title">Top KH tiết kiệm lớn nhất</div>
      <div *ngIf="actionType === '9999'" class="header-title">Top KH Tín dụng cao nhất</div>
    </div>
    <div class="chart__header-right">
      <div class="header-dvt pr-2">Đơn vị tính: VND</div>
      <img *ngIf="!isTable" alt="icon-table" src="assets/images/icon-table.svg" class="img-icon"
        (click)="switchChart()" />
      <img *ngIf="isTable" alt="icon-chart" src="assets/images/icon-chart.svg" class="img-icon"
        (click)="switchChart()" />
    </div>
  </div>

  <div class="d-flex justify-content-between" [formGroup]="formSearch">
    <div class="d-flex justify-content-start">
      <div *ngFor="let item of sortOrders">
        <button class='btn-filter mr-2' [class.selected]="item === selectedItemFilter" type="button" (click)="onSelectItemFilter(item)">
          <img [src]="item.icon"/>
          <span class="name"> {{item.name}}</span>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div class='mr-2'>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"  [options]="actionType !== '9999' ? dayMonths: OPTION1"
                    class="d-block dropdown-filter" formControlName="datatype" appendTo="body" optionLabel="value" optionValue="key"
                    autoWidth="false" (onChange)="getDataChart($event, filterType.date)"></p-dropdown>
      </div>

      <div>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="records"
                    class="d-block dropdown-filter" formControlName="limit" appendTo="body" optionLabel="text" optionValue="id"
                    autoWidth="false" (onChange)="getDataChart($event, filterType.size)"></p-dropdown>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isLoading && chartFetchData.data.length > 0">
    <div class="chart__body mt-3">
      <div class="chart-container" *ngIf="!isTable">
        <div class="indiv-container" *ngFor="let item of chartFetchData.data">
          <div class="unit-indiv">
            <div class="name-indiv">{{item.customerName}}</div>
            <div class="code-indiv" (click)="showDetailCustomer360(item.customerCode)">{{item.customerCode}}</div>
          </div>
          <div class="unit-chart" *ngIf="!(chartFetchData.request.fluctype === '03' || chartFetchData.request.report_id === '03')">
            <div class="chart-node" [style.width.%]="(item.balChange / chartFetchData.maxBalChange) * 80"></div>
            <div class="price">{{ item.balChange | number: '1.0-0' }}</div>
          </div>
          <div class="unit-chart" *ngIf="chartFetchData.request.fluctype === '03' || chartFetchData.request.report_id === '03'">
            <div class="chart-node" [style.width.%]="(item.bal / chartFetchData.max) * 80"></div>
            <div class="price">{{ item.bal | number: '1.0-0' }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="isTable" class="table__view">
        <div class="table-container">
          <ngx-datatable ngxDataTable #table class="bootstrap" [rows]="chartFetchData.data" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="0" rowHeight="auto" [virtualization]="false" [externalPaging]="false"
            [scrollbarH]="true" [scrollbarV]="true" style="height: 450px;">
            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
              [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{ rowIndex + 1 }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" [draggable]="false" cellClass="column-style" prop="customerCode"
              [width]="150" [canAutoResize]="false" name="{{ 'fields.customerCode' | translate }}" [resizeable]="false">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <a (click)="showDetailCustomer360(value)">{{ value }}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
              [width]="200"
              name="{{ 'fields.customerName' | translate }}" [resizeable]="false" [canAutoResize]="true">
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="bal"
            [name]="chartFetchData.request.fluctype === '03' || chartFetchData.request.report_id === '03' ? 'Số dư' : 'Hôm qua'" cellClass="column-number"
            *ngIf="(chartFetchData.request.datatype === '01' || chartFetchData.request.fluctype  === '03' || chartFetchData.request.report_id === '03')"
              headerClass="column-number" [resizeable]="false" >
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="balPre"
              name="Hôm kia" cellClass="column-number"
              headerClass="column-number" [resizeable]="false" *ngIf="(chartFetchData.request.datatype == '01' && chartFetchData.request.fluctype !== '03') && chartFetchData.request.report_id !== '03'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="bal"
              name="Tháng này" cellClass="column-number" headerClass="column-number"
              [resizeable]="false" *ngIf="(chartFetchData.request.datatype == '02' && chartFetchData.request.fluctype !== '03') && chartFetchData.request.report_id !== '03'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="balPre"
              name="Tháng trước" cellClass="column-number" headerClass="column-number"
              [resizeable]="false" *ngIf="(chartFetchData.request.datatype == '02' && chartFetchData.request.fluctype !== '03') && chartFetchData.request.report_id !== '03'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="balChange" [width]="150"
              *ngIf="!(chartFetchData.request.fluctype === '03' || chartFetchData.request.report_id === '03')"
              [canAutoResize]="false" name="Biến động" cellClass="column-number"
              headerClass="column-number" [resizeable]="false">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{ value | number: '1.0-0' }}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>

      </div>
    </div>
    <div class="chart__legend">*Dữ liệu cập nhật ngày {{ chartFetchData?.tranDate }}</div>

  </ng-container>
  <ng-container *ngIf="!chartFetchData.loading && chartFetchData.data.length === 0">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <!-- <app-loading *ngIf="isLoading"></app-loading> -->
  <div style="bottom: 10px" *ngIf="chartFetchData.loading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
