@import "variable";
.construction-list-view {
    .action__left {
        display: flex;
        text-align: left;
        width: 50%;
    }

    .action__right {
        text-align: right;
        width: 50%;
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
    }
}
