<div class="right-view construction-list-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ "debtClaims.title.constructionList" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <!-- <button class="btn btn-small btn--light-blue" (click)="redirectTo()">
        <em class="las la-list-ol f-16 mr-2"></em> {{ 'customer360.title.dashboardCustomer' | translate }}
      </button> -->
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="fluid-container px-4 pt-4" [formGroup]="searchForm">
            <div class="row py-1">
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.code' | translate }}</label>
                <input
                  placeholder=""
                  maxlength="50"
                  type="text"
                  class="d-block"
                  formControlName="code"
                  pInputText
                  trimInput
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.name' | translate }}</label>
                <input
                  placeholder=""
                  maxlength="100"
                  type="text"
                  class="d-block"
                  formControlName="name"
                  pInputText
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.startDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="startDate"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  [maxDate]="maxStartDate"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.toDate' | translate }}</label>
                <p-calendar
                  class="d-block"
                  formControlName="endDate"
                  dateFormat="dd/mm/yy"
                  [minDate]="searchForm.get('startDate').value"
                  [maxDate]="maxDate"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.customerCode' | translate }}</label>
                <input
                  placeholder=""
                  maxlength="50"
                  type="text"
                  class="d-block"
                  formControlName="customerCode"
                  pInputText
                  trimInput
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.customerName' | translate }}</label>
                <input
                  placeholder=""
                  maxlength="100"
                  type="text"
                  class="d-block"
                  formControlName="customerName"
                  pInputText
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.taxCode' | translate }}</label>
                <input
                  placeholder=""
                  maxlength="50"
                  type="text"
                  class="d-block"
                  formControlName="taxCode"
                  pInputText
                  trimInput
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.branch' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'debtClaims.placeHolder.noRecordsFound' | translate }}"
                  [options]="listBranchesManager"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  emptyFilterMessage="{{ 'debtClaims.placeHolder.noResultsFound' | translate }}"
                  formControlName="branchCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
            </div>
            <div class="row py-1">
              <div  class="col-md-3 form-group">
                <label class="m-0">{{ 'debtClaims.filter.rmInfo' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'debtClaims.placeHolder.noRecordsFound' | translate }}"
                  [options]="listRmManager"
                  placeholder=""
                  class="d-block"
                  [filter]="true"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  emptyFilterMessage="{{ 'debtClaims.placeHolder.noResultsFound' | translate }}"
                  formControlName="rmCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <ng-container >
            <div class='block-center px-4 filter-top'>
              <div class='action__left'>
                <button (click)='search(true)' class='btn btn-small btn--light-blue'>
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class='action__right'>
                <button (click)='create()' class='btn btn-small btn--light-blue'>
                  <em class="las la-plus-circle f-16"></em>
                </button>
              </div>
            </div>
          </ng-container>
          <div class="table__view group__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listConstruction"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onAction($event)"
            >

              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [width]="innerWidth < 1250? 90 : 120"
                [canAutoResize]="false"
                [draggable]="false"
                prop="codeT24"
                name="{{ 'debtClaims.fields.customerCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
                prop="soCmnd"
                name="{{ 'debtClaims.fields.taxCode' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="tenKhachHang"
                name="{{ 'debtClaims.fields.customerName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="maTaiSan"
                name="{{ 'debtClaims.fields.codeTSĐB' | translate }}"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="tenCongTrinh"
                name="{{ 'debtClaims.fields.constructionName' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="loaiCongTrinhId"
                name="{{ 'debtClaims.fields.constructionType' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ getTypeConstruction(value) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="benCoNvtt"
                name="{{ 'debtClaims.fields.responsibleTT' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="soHsplHdmb"
                name="{{ 'debtClaims.fields.numberHĐKT' | translate }}"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="hinhThucNhanThauId"
                name="{{ 'debtClaims.fields.bidType' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ getTypeBid(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
                prop="ngayBatDau"
                name="{{ 'debtClaims.fields.startDate' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ formatDate(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
                prop="ngayKetThuc"
                name="{{ 'debtClaims.fields.toDate' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ formatDate(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                [width]="innerWidth < 1250? 110 : 140"
                [canAutoResize]="false"
                prop="loaiTien"
                name="{{ 'debtClaims.fields.moneyType' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="giaTriHopDongDieuChinh"
                name="{{ 'debtClaims.fields.contractValue' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ row.giaTriHopDongDieuChinh || row.giaTriHopDongBanDau | formatNumber}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="giaTriTamUngDieuChinh"
                name="{{ 'debtClaims.fields.tempValue' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ row.giaTriTamUngDieuChinh || row.giaTriTamUngBanDau | formatNumber}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="giaTriHopDongDieuChinhQuyDoi"
                [width]="innerWidth < 1250? 150 : 160"
                [canAutoResize]="false"
                name="{{ 'debtClaims.fields.contractValueExchange' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ row.giaTriHopDongDieuChinhQuyDoi || row.giaTriHopDongBanDauQuyDoi | formatNumber}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="giaTriTamUngDieuChinhQuyDoi"
                [width]="innerWidth < 1250? 150 : 160"
                [canAutoResize]="false"
                name="{{ 'debtClaims.fields.tempValueExchange' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ row.giaTriTamUngDieuChinhQuyDoi || row.giaTriTamUngBanDauQuyDoi | formatNumber}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
