@import 'variable';

.salekit-info-declare {
  .flex-1 {
    flex: 1;
    overflow: hidden;
  }
  .product-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-300;
    .ngx-datatable .datatable-body .datatable-body-row {
      width: 100% !important;
      &.active {
        background-color: $blue !important;
        width: 100% !important;
      }
      .datatable-row-center {
        height: 46px;
        overflow: hidden;
      }
    }
  }
  .table__title {
    height: 54px;
    border-bottom: 1px solid $gray-300;
    font-weight: $font-weight-bold;
    font-size: 18px;
    align-items: center;
    display: flex;
  }
  .form-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .form-content {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .table-characteristic {
    display: flex;
    flex-direction: column;
    .ngx-datatable .datatable-body .datatable-body-row {
      height: 220px !important;
    }
    .ngx-datatable .datatable-body-row:hover .datatable-body-cell.sort-active {
      height: 100% !important;
    }
    .cell-editor {
      height: 100% !important;
      .datatable-body-cell-label {
        height: 100%;
      }
      .editor-100 {
        height: 100%;
        width: 100%;
      }
    }
  }
  .action {
    text-align: right;
    border-bottom: 1px solid $gray-300;
  }
  .grey-custom {
    background: #eff2fe;
  }
  .block-file {
    border: 1px solid $gray-300;
    border-radius: 4px;
    min-height: 100px;
    .header-file {
      padding: 1rem;
      border-bottom: 1px solid $gray-300;
      background-color: $gray-200;
    }
    ul {
      padding: 1rem;
    }
  }
  .NgxEditor__Content {
    word-break: break-word;
  }
}
