<div class="right-view salekit-info-declare">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ objFunction?.rsName }}
      </h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row">
            <div class="col-md-3 form-group" [formGroup]="form">
              <label class="mb-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                inputId="division"
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="division"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3 form-group" [formGroup]="form">
              <label class="mb-0">{{ 'fields.groupInfo' | translate }}</label>
              <p-dropdown
                inputId="group"
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="group"
                [options]="listGroup"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
            <div class="col-md-3 form-group" [formGroup]="form">
              <label class="mb-0">{{ 'fields.select' | translate }} {{ titleByGroup }}</label>
              <p-dropdown
                inputId="productId"
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="productId"
                [options]="listProduct"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="code"
              >
              </p-dropdown>
            </div>
            <div *ngIf="isApprove" class="col-md-3 form-group" [formGroup]="form">
              <label class="mb-0"
                >{{ 'fields.select' | translate }} {{ 'fields.status' | lowercase | translate }}</label
              >
              <p-dropdown
                inputId="approveStatus"
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="approveStatus"
                [options]="listStatus"
                placeholder=" "
                class="d-block"
                optionLabel="name"
                optionValue="value"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="pb-3 mb-3 action">
            <button
              *ngIf="!isApprove && objFunction?.update"
              [disabled]="selected[0]?.approveStatus !== '0' || screen !== screenType.detail"
              (click)="sendApprove()"
              class="btn btn--light-blue btn-small ml-3"
              title="{{ 'btnAction.sendApprove' | translate }}"
            >
              {{ 'btnAction.sendApprove' | translate }}
            </button>
            <button
              *ngIf="!isApprove && objFunction?.delete"
              [disabled]="selected.length === 0 || screen !== screenType.detail"
              (click)="delete()"
              class="btn grey-custom btn-icon--small ml-3"
              title="{{ 'btnAction.delete' | translate }}"
            >
              <em class="las la-trash-alt f-16"></em>
            </button>
            <button
              *ngIf="!isApprove && objFunction?.update"
              [disabled]="selected.length === 0 || screen !== screenType.detail"
              (click)="update()"
              class="btn grey-custom btn-icon--small ml-3"
              title="{{ 'btnAction.update' | translate }}"
            >
              <em class="las la-edit f-16"></em>
            </button>
            <button
              *ngIf="!isApprove && objFunction?.create"
              [disabled]="checkBtnCreate()"
              (click)="create()"
              class="btn btn--light-blue btn-icon--small ml-3"
              title="{{ 'btnAction.create' | translate }}"
            >
              <em class="las la-plus-circle f-16"></em>
            </button>
            <button
              *ngIf="isApprove"
              [disabled]="selected[0]?.approveStatus !== '1'"
              class="btn btn--red btn-small"
              title="{{ 'btnAction.refuse' | translate }}"
              (click)="refuse()"
            >
              {{ 'btnAction.refuse' | translate }}
            </button>
            <button
              *ngIf="isApprove"
              [disabled]="selected[0]?.approveStatus !== '1'"
              (click)="approved()"
              class="btn btn--light-blue btn-small ml-3"
              title="{{ 'btnAction.approved' | translate }}"
            >
              {{ 'btnAction.approved' | translate }}
            </button>
          </div>
          <div class="row flex-1">
            <div class="col-md-4 product-list">
              <div class="table__title">
                <label>{{ 'title.list' | translate }}</label>
              </div>
              <div class="table__view">
                <ngx-datatable
                  ngxDataTable
                  #table
                  class="bootstrap fullscreen"
                  [rows]="listProductTable"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="false"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [messages]="messages"
                  (activate)="onActive($event)"
                  selectionType="'single'"
                  [selected]="selected"
                >
                  <ngx-datatable-column
                    prop="code"
                    name="{{ 'fields.codeNumber' | translate }}"
                    [width]="100"
                    [canAutoResize]="false"
                    [sortable]="false"
                    [resizeable]="false"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column prop="name" [name]="textColumnName" [sortable]="false" [resizeable]="false">
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        [visiblePagesCount]="3"
                        (change)="table.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
            <div class="col-md-8 form-detail">
              <div class="form-content">
                <div class="row">
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.codeNumber' | translate }} <span class="text-red">(*)</span></label>
                    <input placeholder="" maxlength="500" type="text" class="form-control" formControlName="code" />
                    <small
                      class="p-error"
                      *ngIf="
                        formItem?.controls?.code?.errors?.cusRequired &&
                        formItem?.controls?.code?.touched &&
                        isValidator
                      "
                      >{{ 'validationMessage.required' | translate }}</small
                    >
                  </div>
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ textColumnName }} <span class="text-red">(*)</span></label>
                    <input placeholder="" maxlength="200" type="text" class="form-control" formControlName="name" />
                    <small
                      class="p-error"
                      *ngIf="
                        formItem?.controls?.name?.errors?.cusRequired &&
                        formItem?.controls?.name?.touched &&
                        isValidator
                      "
                      >{{ 'validationMessage.required' | translate }}</small
                    >
                  </div>
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.shortName' | translate }} <span class="text-red">(*)</span></label>
                    <input placeholder="" maxlength="50" type="text" class="form-control" formControlName="shortName" />
                    <small
                      class="p-error"
                      *ngIf="
                        formItem?.controls?.shortName?.errors?.cusRequired &&
                        formItem?.controls?.shortName?.touched &&
                        isValidator
                      "
                      >{{ 'validationMessage.required' | translate }}</small
                    >
                  </div>
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0"
                      >{{ 'fields.startEffectiveDate' | translate }} <span class="text-red">(*)</span></label
                    >
                    <p-calendar
                      formControlName="startDate"
                      class="d-block"
                      dateFormat="dd/mm/yy"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      [showIcon]="true"
                      icon="las la-calendar-alt"
                    >
                    </p-calendar>
                    <small
                      class="p-error"
                      *ngIf="
                        formItem?.controls?.startDate?.errors?.cusRequired &&
                        formItem?.controls?.startDate?.touched &&
                        isValidator
                      "
                      >{{ 'validationMessage.required' | translate }}</small
                    >
                  </div>
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.endEffectiveDate' | translate }}</label>
                    <p-calendar
                      formControlName="endDate"
                      class="d-block"
                      dateFormat="dd/mm/yy"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      [showIcon]="true"
                      icon="las la-calendar-alt"
                      [minDate]="minDate"
                    >
                    </p-calendar>
                  </div>
                </div>
                <div class="mb-3">{{ 'title.listCharacteristic' | translate }}</div>
                <div class="table-characteristic flex-1">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap"
                    [rows]="listCharacteristic"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [footerHeight]="0"
                    rowHeight="auto"
                    [scrollbarV]="false"
                    [scrollbarH]="false"
                    [virtualization]="false"
                    [externalPaging]="false"
                    [messages]="messages"
                  >
                    <ngx-datatable-column
                      prop="name"
                      name="{{ 'fields.characteristicName' | translate }}"
                      [sortable]="false"
                      [resizeable]="false"
                      [canAutoResize]="false"
                      [width]="200"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="content"
                      name="{{ 'fields.content' | translate }}"
                      [sortable]="false"
                      [resizeable]="false"
                      cellClass="cell-editor"
                    >
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
<!--                        <lp-editor type="html" class="editor-100" [disabled]="row.disabled" [(model)]="row.content">-->
<!--                        </lp-editor>-->
                        <editor-primeng
                          type="html" class="editor-100"
                          [disabled]="row.disabled"
                          [(model)]="row.content"
                        ></editor-primeng>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
                <div *ngIf="screen !== screenType.detail || uploadedFiles.length > 0" class="row mt-3">
                  <div class="col-md-12 form-group">
                    <label class="mb-0"
                      >{{ 'fields.attachments' | translate }}
                      <span *ngIf="screen !== screenType.detail"
                        >({{ 'notificationMessage.E002' | translate }})</span
                      ></label
                    >
                    <div class="block-file">
                      <div *ngIf="screen !== screenType.detail" class="header-file">
                        <p-fileUpload
                          #fileUpload
                          mode="basic"
                          name="demo[]"
                          multiple="multiple"
                          styleClass=""
                          customUpload="true"
                          [auto]="true"
                          (uploadHandler)="uploadFile($event, fileUpload)"
                          chooseIcon="las la-file-upload f-16"
                          chooseLabel="{{ 'fields.chooseFile' | translate }}"
                        >
                        </p-fileUpload>
                      </div>
                      <ul class="list-file" *ngIf="uploadedFiles.length">
                        <li class="row m-0 py-2 block-center-between" *ngFor="let item of uploadedFiles">
                          <div class="col-md-7 file-name text-truncate">
                            <span *ngIf="screen !== screenType.detail">{{ item.fileName }}</span>
                            <span
                              *ngIf="screen === screenType.detail"
                              class="pointer text-blue"
                              (click)="downloadFile(item)"
                              >{{ item.fileName }}</span
                            >
                          </div>
                          <div *ngIf="screen !== screenType.detail" class="col-md-2 text-right">
                            <p-button icon="pi pi-times" (click)="removeFile(item)"> </p-button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.notifyChangeToStaff' | translate }}</label>
                    <div class="row mt-2">
                      <div class="p-field-radiobutton col-md-6">
                        <p-checkbox binary="true" formControlName="isNotification"></p-checkbox>
                        <label class="ml-3">{{ 'fields.yes' | translate }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showStatus()" class="row">
                  <div class="col-md-4 form-group" [formGroup]="formItem">
                    <label class="mb-0">{{ 'fields.status' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      formControlName="approveStatus"
                      [options]="listStatus"
                      placeholder=" "
                      class="d-block"
                      optionLabel="name"
                      optionValue="value"
                    >
                    </p-dropdown>
                  </div>
                </div>
                <div *ngIf="formItem.controls.approveStatus.value === '2'" class="form-group" [formGroup]="formItem">
                  <label>{{ 'fields.contentRefuse' | translate }}</label>
                  <textarea class="form-control" [maxlength]="300" formControlName="reasonOfDisapproved"></textarea>
                </div>
              </div>
              <div *ngIf="screen !== screenType.detail" class="text-left btn-action mt-3">
                <button class="btn btn--red btn-small" (click)="cancel()">{{ 'btnAction.cancel' | translate }}</button>
                <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.save' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
