<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userSessions' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn--light-blue btn-icon--small mr-2" [ngbTooltip]="formSearch" [autoClose]="'outside'"
        triggers="click" placement="bottom-right" container="body" #tooltipSearch="ngbTooltip"
        (click)="openSearch(tooltipSearch)" tooltipClass="search-tooltip">
        <em class="las la-search f-16"></em>
      </button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                  [(ngModel)]="textFilter" (keyup.enter)="filter()" />
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}" (click)="filter()">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction && objFunction.delete" class="btn btn-small btn-search mr-2"
                (click)="revokeAll()">
                <em class="las la-sign-out-alt f-16 mr-2"></em> {{ 'btnAction.revokeAll' | translate }}
              </button>
              <button *ngIf="objFunction && objFunction.export" class="btn btn-icon btn-icon--small btn-search"
                (click)="exportFile()" title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view users__session">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listSessions" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
              [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="username"
                name="{{ 'fields.username' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span class="btn-icon btn-icon--small grey clickable">
                    <em class="las f-16 la-user"></em>
                  </span>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" prop="ipAddress" name="{{ 'fields.ipAddress' | translate }}">
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" prop="start" name="{{ 'fields.startLogin' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span>{{ formatDateTime(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="objFunction && objFunction.delete" type="button" class="btn-outline"
                      (click)="revokeUser(row);$event.stopPropagation()" title="{{ 'btnAction.cancel' | translate }}">
                      <em class="las la-sign-out-alt"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #formSearch>
  <div class="formSearch" [formGroup]="searchForm">
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.username' | translate }}</label>
      <div class="item-field">
        <input class="form-control" placeholder="{{ 'system.fields.username' | translate }}" type="text"
          formControlName="username" />
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.ipAddress' | translate }}</label>
      <div class="item-field">
        <input class="form-control" placeholder="{{ 'system.fields.ipAddress' | translate }}" type="text"
          formControlName="ipAddress" />
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.fromLogin' | translate }}</label>
      <div class="item-field">
        <div class="form-group__icon">
          <input a2e-datetimepicker [options]="fromOptions" type="text" class="form-control" formControlName="fromLogin"
            placeholder="{{ 'system.fields.fromLogin' | translate }}" />
          <em class="las la-calendar-alt" style="pointer-events: none"></em>
        </div>
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.toLogin' | translate }}</label>
      <div class="item-field">
        <div class="form-group__icon">
          <input a2e-datetimepicker [options]="toOptions" type="text" class="form-control" formControlName="toLogin"
            placeholder="{{ 'system.fields.toLogin' | translate }}" />
          <em class="las la-calendar-alt" style="pointer-events: none"></em>
        </div>
      </div>
    </div>
    <div class="text-right mt-3">
      <button class="btn btn--light-blue" (click)="search(true)">{{ 'btnAction.search' | translate }}</button>
    </div>
  </div>
</ng-template>
