.row__item-username {
  flex-basis: 30%;
  max-width: 30%;
}
.row__item-ipAddress {
  flex-basis: 30%;
  max-width: 30%;
}
.row__item-startLogin {
  flex-basis: 30%;
  max-width: 30%;
}
.row__item-action {
  flex-basis: 10%;
  max-width: 10%;
  text-align: right;
}
.filter-list {
  padding: 12px 35px;
}
