.detail-task-modal {
  .modal-dialog {
    max-width: 1200px;
    max-height: 100%;
  }
  .checkbox {
    max-width: 100%;
  }
  .header-action {
    flex: 1 1 auto;
    text-align: right;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .btn-checkList {
    padding: 3px;
    border-radius: 4px;
  }

  .background-green:hover {
    background: #00ff73;
    border: 1px solid #00ff73;
  }

  .background-yellow:hover {
    background: #fc9f00;
    border: 1px solid #fc9f00;
  }

  .background-red:hover {
    background: #ff0015;
    border: 1px solid #ff0015;
  }

  .table__view {
    flex: 1 1 auto;
    overflow: hidden;
    height: 100px;
    position: relative;
    .fullscreen {
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .c-code {
    color: #bbbbfd;
    padding-right: 3px;
  }
}
