<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ titleHeader | translate }}</h5>
      <label *ngIf="taskType" class="m-0">{{ taskType }}:
        <a href="javascript:void(0)" (click)="detail()">{{
          task.refName
          }}</a></label>
    </div>
  </div>
  <div *ngIf="isFollowUp && task?.createdBy !== currUser.username && task?.typeTask !== 'CHILD'" class="header-action">
    <button class="btn btn-light btn-small" (click)="unfollow()">{{ 'btnAction.unFollowUp' | translate }}</button>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-task">
    <div [formGroup]="form">
      <div class="row">
        <div class="col form-group mb-0 has-error">
          <label>{{ 'fields.titleTask' | translate }} <span class="text-red">(*)</span></label>
          <input class="form-control" type="text" maxlength="200" formControlName="subject" />
          <div *ngIf="form.get('subject').errors && form.get('subject').errors.required && isFieldValid('subject')"
            class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="col form-group mb-0 has-error">
          <label>{{ 'fields.priority' | translate }}</label>
          <div class="block-center-between f-12">
            <div class="block-center">
              <button [disabled]="isDisablePriority" pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded background-red p-label-none p-button-high"
                [ngClass]="{ 'active': priority.high}" (click)="handlePriority(1)"></button>
              <div class="ml-2">{{ 'priority.high' | translate }}</div>
            </div>
            <div class="block-center">
              <button [disabled]="isDisablePriority" pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded background-yellow p-label-none p-button-medium"
                [ngClass]="{ 'active': priority.medium}" (click)="handlePriority(2)"></button>
              <div class="ml-2">{{ 'priority.medium' | translate }}</div>
            </div>
            <div class="block-center">
              <button [disabled]="isDisablePriority" pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded background-green p-label-none p-button-low"
                [ngClass]="{ 'active': priority.low}" (click)="handlePriority(3)"></button>
              <div class="ml-2">{{ 'priority.low' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col form-group mb-0 has-error">
          <label>{{ 'fields.startDate' | translate }} <span class="text-red">(*)</span></label>
          <p-calendar formControlName="createdAt" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
            autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optCreateDate?.minDate"
            icon="las la-calendar-alt" [showTime]="true">
          </p-calendar>
          <div *ngIf="
              form.get('createdAt').errors && form.get('createdAt').errors.required && isFieldValid('createdAt')
            " class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="col form-group mb-0 has-error">
          <label>{{ 'fields.expiredDate' | translate }} <span class="text-red">(*)</span></label>
          <p-calendar formControlName="dueDate" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
            autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optDueDate?.minDate"
            icon="las la-calendar-alt" [showTime]="true">
          </p-calendar>
          <div *ngIf="
              form.get('dueDate').errors && form.get('dueDate').errors.required && isFieldValid('dueDate')
            " class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col form-group has-error">
          <div class="block-center-between mb-3">
            <label class="d-block">{{ 'fields.assignTo' | translate }} <span class="text-red">(*)</span></label>
<!--            <p-avatar icon="pi pi-user-plus" styleClass="p-mr-2" shape="circle" size="large"-->
<!--              (click)="addUserAssignee()"></p-avatar>-->
                <p-avatar icon="pi pi-user-plus" styleClass="p-mr-2" shape="circle" size="large"></p-avatar>

          </div>
          <div class="">
            <p-chip *ngFor="let item of listAssignee" label="{{ (item.code || '') + ' - ' + (item.fullName || '') }}"
               class="d-block mb-2"></p-chip>
          </div>
          <div *ngIf="listAssignee.length === 0" class="invalid-tooltip">
            {{ 'validationMessage.required' | translate }}
          </div>
        </div>
        <div class="col form-group has-error">
          <div class="block-center-between mb-3">
            <label class="d-block">{{ 'fields.follower' | translate }}</label>
            <p-avatar icon="pi pi-user-plus" styleClass="p-mr-2" shape="circle" size="large" (click)="addUserFollow()">
            </p-avatar>
          </div>
          <div class="">
            <p-chip *ngFor="let item of listFollow" label="{{ (item.code || '') + ' - ' + (item.fullName || '') }}"
              [removable]="!isDetail && isInProgress" (onRemove)="removeItemFollow(item)" class="d-block mb-2"></p-chip>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col form-group has-error">
          <label>{{ 'fields.status' | translate }}</label>
          <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listStatus"
                      placeholder=" " class="d-block"
                      emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="status"
                      appendTo="body" autoZIndex="false" baseZIndex="10000" optionValue="code" optionLabel="name">
          </p-dropdown>
        </div>
        <div class="col form-group has-error">
          <label>{{ 'fields.createdBy' | translate }}</label>
          <input class="form-control" type="text" formControlName="createdBy" />
        </div>
      </div>
      <div class="form-group mt-3">
        <label>{{ 'fields.description' | translate }}</label>
        <textarea class="form-control" type="text" [maxlength]="300" formControlName="description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ 'fields.listTask' | translate }}</label>
      <div class="check-list">
        <label *ngFor="let item of checkLists; let i = index" class="checkbox mb-2">
          <input type="checkbox" [(ngModel)]="item.checked" [disabled]="isDetail"
            (click)="changeCheckList(i)" /><span class="ck"></span>
          <span class="ml-3"> {{ item.title }}</span>
          <span class="ml-3" *ngIf="!isDetail" (click)="removeTask(i)"><em
              class="las la-times text-red"></em></span>
        </label>
        <div *ngIf="!isDetail" class="block-center">
          <div class="form-group__icon w-100">
            <input type="text" class="form-control" [(ngModel)]="newCheckList" (keyup.enter)="createNewCheckList()" />
            <em class="las la-plus pointer grey btn-checkList" (click)="createNewCheckList()"></em>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="listChildTodo.length > 0">
      <label>{{ 'fields.listRmAssign' | translate }}</label>
      <!--      <div class="table__view">-->
      <ngx-datatable
        ngxDataTable
        #table
        style="height: 200px;"
        class="bootstrap fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [virtualization]="false"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="listChildTodo"
        [virtualization]="false"
        [externalPaging]="true"
        [count]="pageable?.totalElements"
        [offset]="pageable?.currentPage"
        [limit]="pageable?.size"
        [messages]="messages"
      >
        <ngx-datatable-column
          [sortable]="false"
          [draggable]="false"
          name="{{ 'fields.order' | translate }}"
          [width]="20"
          [canAutoResize]="true"
        >
          <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>{{rowIndex + 1}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="true"
          [width]="100"
          prop="assign"
          name="{{ 'fields.assignTo' | translate }}"
        >
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ getValue(value) |translate }}">{{ getValue(value) | translate}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          prop="status"
          [sortable]="false"
          [draggable]="false"
          [width]="100"
          [canAutoResize]="true"
          name="{{ 'fields.statusTodo' | translate }}"
        >
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{ 'task.status.' + value.toLowerCase() | translate }}">{{ 'task.status.' + value.toLowerCase() | translate }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          prop="completedDate"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="true"
          [width]="100"
          name="{{ 'fields.completedTime' | translate }}"
        >
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{value | date: 'dd/MM/yyyy'}}">{{value | date: 'dd/MM/yyyy'}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          prop="description"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="true"
          [width]="150"
          name="{{ 'fields.description' | translate }}"
        >
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span title="{{value}}">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="true"
          [width]="50"
          name="{{ 'fields.detailTodo' | translate }}"
        >
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a href="javascript:void(0)" (click)="detailChildTodo(row)">Chi tiết</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                       let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                                     [hidden]="false" (change)="table.onFooterPage($event)">
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
      <!--      </div>-->
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
    <button *ngIf="!isDetail"  class="btn btn--light-blue ml-3" (click)="save()">{{
      'btnAction.save' | translate
      }}</button>
<!--    <button-->
<!--      *ngIf="!isDetail && isAssign && task.createdBy !== currUser.username && (task.status === 'REJECTED' || task.status === 'NEW')"-->
<!--      class="btn btn--light-blue ml-3" (click)="sendAprrove()">-->
<!--      {{ 'btnAction.sendApprove' | translate }}-->
<!--    </button>-->
<!--    <button *ngIf="!isDetail && task.status === 'PENDING' && task?.createdBy === currUser.username"-->
<!--      class="btn btn&#45;&#45;red ml-3" (click)="reject()">{{ 'btnAction.refuse' | translate }}</button>-->
<!--    <button *ngIf="!isDetail && task.status === 'PENDING' && task?.createdBy === currUser.username"-->
<!--      class="btn btn--light-blue ml-3" (click)="completed()">-->
<!--      {{ 'btnAction.approved' | translate }}-->
<!--    </button>-->
<!--    <button *ngIf="!isDetail && isAssign && task.status !== 'DONE' && task?.createdBy === currUser.username"-->
<!--      class="btn btn--light-blue ml-3" (click)="completed()">-->
<!--      {{ 'btnAction.completed' | translate }}-->
<!--    </button>-->
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
