@import 'variable';

.rm__customers-list {
  position: relative;
  .inputDivision {
    margin-top: -15px;
  }
  .buttonSearch {
    float: right;
  }
  .content__top {
    margin: 0;
    align-items: flex-end;
    &-left {
      align-items: flex-end;
    }
  }
  .p-inputgroup {
    width: 300px;
    border: 1px solid $gray-400;
    border-radius: 4px;
    &:hover {
      border: 1px solid #2196f3;
    }

    .p-inputtext {
      border: none;
      height: 34px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .p-inputgroup-dropdown-right .p-dropdown {
      height: 34px;
    }
  }
}
