<div class="rm__customers-list">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="list__block">
    <div class="content__top block-center-between pb-4">
      <div class="content__top-left block-center">
        <div class="mr-4">
          <label class="m-0">{{ 'fields.block' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="listDivision"
            placeholder=" "
            class="d-block"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            [(ngModel)]="params.customerType"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="displayName"
            optionValue="code"
          ></p-dropdown>
        </div>

        <div class="mr-4">
          <div class="p-inputgroup">
            <input
              type="text"
              (keyup.enter)="search(true)"
              [(ngModel)]="params.search"
              maxlength="200"
              placeholder="{{ 'btnAction.search' | translate }}"
              pInputText
            />
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="listSearchType"
              class="p-inputgroup-dropdown-right"
              [(ngModel)]="params.searchFastType"
              optionLabel="name"
              optionValue="code"
            ></p-dropdown>
          </div>
        </div>
        <div class="">
          <button class="btn-icon btn-icon--small btn btn-search buttonSearch" (click)="search(true)">
            <em class="las la-search f-16"></em>
          </button>
        </div>
      </div>

      <div class="content__top-right">
        <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="exportFile()">
          <em class="las la-file-excel f-16"></em>
        </button>
      </div>
    </div>
  </div>

  <div class="list-table">
    <ngx-datatable
      ngxDataTable
      #table
      class="row bootstrap"
      [rows]="listData"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarV]="false"
      [scrollbarH]="true"
      [virtualization]="false"
      [externalPaging]="true"
      [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage"
      [limit]="pageable?.size"
      (page)="setPage($event)"
      [messages]="messages"
      (activate)="onActive($event)"
    >
      <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        name="{{ 'fields.order' | translate }}"
        [width]="40"
        [canAutoResize]="false"
      >
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerCode" [sortable]="false" [width]="100">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerCode' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerName' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="phoneDisplay" [sortable]="false" [width]="100">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.phone' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="emailDisplay" [sortable]="false" [width]="100">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.email' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ row.emailDisplay }}">{{ row.emailDisplay }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerType" [sortable]="false" [width]="150">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerType' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerObject" [sortable]="false" [width]="150" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerObject' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="status" [sortable]="false" [width]="100" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.status' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="segment" [sortable]="false" [width]="100" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.segment' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="maxCic" [sortable]="false" [width]="150" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.groupMaxCIC' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="sector" [sortable]="false" [width]="55">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.sector' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="balanceRaisingCapital" [sortable]="false" [width]="150">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.currentRaisingCapital' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{ value | number }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="balanceCredit" [sortable]="false" [width]="130">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.currentCredit' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span style="margin-right: 0px; margin-left: auto !important" title="{{ value === 0 ? '' : value }}">{{
            value === 0 ? '' : (value | number)
          }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="branchManager" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.branchManager' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="assignedDate" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.handoverDate' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'fields.action' | translate }}"
        [width]="100"
        [frozenRight]="true"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <div class="block-center">
            <button
              *ngIf="objFunction?.log"
              type="button"
              class="btn-outline"
              title="{{ 'customer360.menu.historyAssignment' | translate }}"
              (click)="historyAssign(row)"
            >
              <em class="las la-file-invoice"></em>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <mat-progress-bar mode="indeterminate" [value]="500" *ngIf="!isCount"></mat-progress-bar>
          <app-pager-ngx-datatable
            *ngIf="isCount"
            [page]="curPage"
            [offset]="offset"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="false"
            (change)="table.onFooterPage($event)"
          >
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
