<div class="right-view">
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left" style="width:80%;">
            </div>
            <div class="filter-top__right d-flex">
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #table class="custom-header fullscreen" [messages]="messages"
              [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
              [columnMode]="'force'" [rows]="models" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="paging($event)" [footerHeight]="70" [selectionType]="'single'"
              [headerHeight]="50">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                name="{{ 'system.fields.process_code' | translate }}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span class="ml-2">{{ getValue(row, 'code') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.process_name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'name') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="nearest_execution_time">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.nearest_execution_time' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'prevFireTime') | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="next_execution_time">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.next_execution_time' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'nextFireTime') | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>