<div class="right-view campaign-mapping-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'campaign.campaign-mapping.title' | translate }}/{{'title.create' | translate}}
      </h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row mt-3" [formGroup]="form">

            <div class="col-md-3 form-group has-error">
              <label>{{ 'campaign.campaign-mapping.listProduct' | translate }}</label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listProduct"
                placeholder=" " class="d-block" formControlName="productId" [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" appendTo="body"
                autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
              </p-dropdown>
            </div>

            <div class="col-md-3 form-group has-error">
              <label>{{ 'campaign.campaign-mapping.listBlock' | translate }} <span class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listBlock"
                placeholder=" " class="d-block" formControlName="blockCode" [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" appendTo="body"
                autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
              </p-dropdown>
              <div *ngIf="form.get('blockCode').errors && form.get('blockCode').errors.cusRequired && isValidator"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'campaign.campaign-mapping.listProcedure' | translate }} <span
                  class="text-red">(*)</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                [options]="listProcedure" placeholder=" " class="d-block" formControlName="process" [filter]="true"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" appendTo="body"
                autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="id"></p-dropdown>
              <div *ngIf="form.get('process').errors && form.get('process').errors.cusRequired && isValidator"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-3 form-group has-error">
              <label>{{ 'campaign.campaign-mapping.approvedDate' | translate }} <span
                  class="text-red">(*)</span></label>
              <p-calendar formControlName="approvedDate" class="d-block" dateFormat="dd/mm/yy" appendTo="body"
                autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt" [showTime]="false">
              </p-calendar>
              <div *ngIf="form.get('approvedDate').errors && form.get('approvedDate').errors.cusRequired && isValidator"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>

            <div class="text-center col-md-12 m-step pt-5" *ngIf="listProcess.length > 0">
              <ul class="pl-0">
                <ng-container class="" *ngFor="let statusP of listProcess; let i = index">
                  <li class="passed">{{i+1}}. {{ statusP?.description }}</li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.create' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
