.campaign-mapping-create {
  //@media only screen and (min-width: 1600px) {
  //  li {
  //    padding: 12px 23px 10px 33px !important;
  //  }
  //}
  li {
    cursor: default;
    display: inline-block;
    background: none repeat scroll 0 0 #EFEFEF ;
    position: relative;
    list-style: none outside none;
    margin-right: 3px;
    line-height: 32px;
    padding: 12px 5px 10px 30px;
    font-weight: 500;
    font-size: 14px;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
      &:after {
        border-left: 20px solid #5DCE8F!important;
      }
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
      color: #FFFFFF;
      &:after {
        border-left: 20px solid #EB2D4B!important;
      }
    }
  }
  //li:first-child {
  //  padding-left: 12px;
  //}
  //li:first-child:before {
  //  border: 0 none;
  //}
  li:before {
    content:"";
    position: absolute;
    top: 0;
    height: 0;
    border-left: 20px solid white;
    border-bottom: 27px inset transparent;
    border-top: 27px inset transparent;
    width: 0;
    left: 0;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
    }
  }
  li:after {
    content:"";
    height: 0;
    border-left: 20px solid #EFEFEF;
    right: -20px;
    border-top: 27px inset transparent;
    border-bottom: 27px inset transparent;
    z-index: 2;
    width: 0;
    position: absolute;
    top: 0;
    &.passed {
      background: none repeat scroll 0 0  #5DCE8F!important ;
    }
    &.warm {
      background: none repeat scroll 0 0  #EB2D4B!important ;
    }
  }
}
