.row__item-name {
  flex-basis: 60%;
  max-width: 60%;
}
.row__item-code {
  flex-basis: 30%;
  max-width: 30%;
}
.row__item-action {
  flex-basis: 10%;
  max-width: 10%;
  text-align: right;
}
.filter-list {
  padding: 12px 35px;
}
.filter-top__left {
  display: flex;
  align-items: flex-end;
}
