.merge-modal {
  .modal-dialog {
    height: calc(100% - 3rem);
  }
  .modal-content {
    height: 100%;
  }
  .merge-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .filter {
    margin: 10px 0;
    padding: 12px 20px;
  }
  .task__item-label {
    flex-basis: 25%;
    max-width: 25%;
  }
  .task__item-value {
    flex-basis: 25%;
    max-width: 25%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  .list-preview {
    flex-grow: 1;
    position: relative;
  }
  .list-preview__row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}
