<div class="modal-header">
  <div class="block-center-between">
    <div class="ml-10">
      <h5 class="m-0">{{ 'task.mergeCustomer' | translate }}</h5>
      <label class="m-0">{{ 'task.title' | translate }}</label>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="header-section block-center-between mb-3">
    <span class="f-14 text-black">{{ 'task.sectionTitleInfoCus' | translate }}</span>
  </div>
  <div class="">
    <div class="row col m-0">
      <div class="col-md-3 form-group">{{ 'fields.customerName' | translate }}</div>
      <div class="col-md-3 form-group font-weight-bold text-black">{{ itemLeadPreview?.name }}</div>
      <div class="col-md-3 form-group">{{ 'fields.email' | translate }}</div>
      <div class="col-md-3 form-group font-weight-bold text-black">
        {{ itemLeadPreview?.email }}
      </div>
      <div class="col-md-3 form-group">{{ 'fields.phoneMobile' | translate }}</div>
      <div class="col-md-3 form-group font-weight-bold text-black">{{ itemLeadPreview?.phoneNumber }}</div>
    </div>
  </div>
  <div class="header-section block-center-between mb-3">
    <span class="f-14 text-black">{{ 'task.sectionTitleRecordsDuplicate' | translate }}</span>
  </div>
  <!--task-list-->
  <div class="list-preview">
    <div class="list-preview__row task pb-10">
      <div class="task__item row" *ngFor="let customer of listCustomers">
        <div class="task__item-label pr-4">
          <div class="d-flex">
            <label class="radio">
              <input type="radio" name="chooseLead" (click)="chooseCustomer(customer?.customerCode)" />
              <span class="ck"></span>
            </label>
            <div class="ml-3">
              <div class="task__name">{{ 'fields.customerName' | translate }}</div>
              <div class="task__name">{{ 'fields.email' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="task__item-value pr-4">
          <div class="">
            <div class="task__name font-weight-bold text-black">{{ customer?.customerName }}</div>
            <div class="task__name font-weight-bold text-black">{{ customer?.email }}</div>
          </div>
        </div>
        <div class="task__item-label pr-4">
          <div class="">
            <div class="task__name">{{ 'fields.phoneMobile' | translate }}</div>
          </div>
        </div>
        <div class="task__item-value">
          <div class="">
            <div class="task__name font-weight-bold text-black">{{ customer?.phoneDisplay }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--task-list-->
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" [class.disabled]="!customerCode || customerCode === ''" (click)="merge()">
      {{ 'btnAction.merge' | translate }}
    </button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
