<div class="modal-header pb-4">
    <div class="block-center-between">
        <div class="">
            <h5 class="m-0">{{ 'dashboard.titleChooseComponent' | translate }}</h5>
            <label class="m-0">{{ 'dashboard.title' | translate }}</label>
        </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let item of components" class="d-flex mb-3">
        <label class="radio">
            <input type="radio" name="component" (click)="choseComponent(item)" />
            <span class="ck"></span>
            <span class="ml-3 checkbox-label text-black"></span>
        </label>
        <div class="img-component">
            <img alt="" [src]="'assets/images/' + item.image" alt="" style="width:100%">
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue" [class.disabled]="isDisabled === true" (click)="choose()">{{ 'btnAction.choose'
            | translate }}</button>
    </div>
</div>
