<div class='right-view dashboard-manage-card'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button (click)='back()'  class='btn btn--light-blue btn-small'>
        <em class='las la-undo f-16'></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class='btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4'>
        <em class='las la-bars'></em>
      </button>
      <h3 class='mb-0 page--title'>{{'dashboard.campaign.stage' | translate}}</h3>
    </div>
  </div>
  <div class='content bg-transparent'>
    <app-loading *ngIf='isLoading'></app-loading>
    <div class='content-body'>
      <div class='content-body__list'>
        <div class='list__block flex-row'>
          <div class='pl-0 pr-0 pr-3' style="width: 40%!important;">
            <div class='card h-100 p-4 pb-0 text-left'>
              <div class='mb-0 title-info block-center-between' style='border-bottom: 0px'>
                <div class='chart__header-left'>
                  <div
                    class='f-16 text-black chart__header-title'>{{ 'dashboard.campaign.chartStage' | translate }}</div>
                  <div class="f-12 text-black" style="font-weight: 300;">Tổng số lượng KH: <span style="font-weight: bold;">{{dataTotal? formatNumber(dataTotal) : 0}}</span></div>
                </div>

              </div>
              <ng-container *ngIf='data'>
                <div class='chart__body position-relative'>
                  <div id='chartId' (chartClick)='onClickChart($event.data)' [options]='option'
                       class='chart__body-height h-100' echarts ></div>
                  <div class='legend-total legend-total--text'>Tổng</div>
                  <div class='legend-total legend-total--number'>{{dataTotal? formatNumber(dataTotal) : 0}}</div>
                </div>
                <div class='chart__legend' style="margin-top: 60px;">
                  <ul>
                    <li  *ngFor='let item of data' class='block-center-between opp-detail mt-2' (click)="onClickChart(item)" [ngClass]="preClickData?.code===item?.code ? 'active-opp' : ''">
                        <div class='chart__legend-left'>
                            <span [ngStyle]='{backgroundColor: item.color}'
                                  class='legend-bage-circle'></span>{{item.label}}
                        </div>
                        <div class='chart__legend-right'>
                          <strong style="width: max-content">{{item.value | number}} KH</strong>
                        </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
          <div class='pr-0 pl-0' style="width: 60%!important;">
            <div class='card h-100 p-4 pb-0 text-left'>
              <div class='title-info block-center-between'>
                <div class='chart__header-center'>
                  <h5>{{'dashboard.creditManagement.creditNotExpense' | translate}}</h5>
                </div>
              </div>
              <ng-container>
                <ngx-datatable
                  #table
                  (activate)='onActive($event)'
                  (page)='setPage($event)'
                  [count]='pageable?.totalElements'
                  [externalPaging]='true'
                  [footerHeight]='50'
                  [headerHeight]='68'
                  [limit]='pageable?.size'
                  [messages]='messages'
                  [offset]='pageable?.currentPage'
                  [rows]='listData'
                  [scrollbarH]='true'
                  [scrollbarV]='true'
                  [virtualization]='false'
                  class='bootstrap'
                  columnMode='force'
                  ngxDataTable
                  rowHeight='auto'
                  style='height: calc(100vh - 275px)'
                >
                  <ngx-datatable-column
                    [canAutoResize]='false'
                    [draggable]='false'
                    [sortable]='false'
                    [width]='40'
                    name="{{ 'fields.order' | translate }}"
                  >
                    <ng-template let-rowIndex='rowIndex' let-value='value' ngx-datatable-cell-template>
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.rmCode' | translate }}"
                    prop='rmInfo'
                  >
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <span class='pointer text-blue' title='{{ value }}'>{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.NoCustomers' | translate }}"
                    prop='count'
                  >
                    <ng-template let-value="value" ngx-datatable-header-template>
                      <div style="text-align: center;">
                        {{ 'fields.NoCustomers' | translate }}
                      </div>
                    </ng-template>
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <div class="w-100 text-right" title='{{ value }}'>{{ formatNumber(value) }}</div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [draggable]='false'
                    [sortable]='false'
                    name="{{ 'fields.rate' | translate }}"
                    prop='percentage'
                  >
                    <ng-template let-value="value" ngx-datatable-header-template>
                      <div style="text-align: center;">
                        {{ 'fields.rate' | translate }}
                      </div>
                    </ng-template>
                    <ng-template let-value='value' ngx-datatable-cell-template>
                      <div class="w-100 text-right" title='{{ formatPercent(value) }}'>{{ formatPercent(value) }}</div>
                    </ng-template>
                  </ngx-datatable-column>


                  <ngx-datatable-footer>
                    <ng-template
                      let-curPage='curPage'
                      let-offset='offset'
                      let-pageSize='pageSize'
                      let-rowCount='rowCount'
                      let-selectedCount='selectedCount'
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        (change)='table.onFooterPage($event)'
                        (eventChangePageSize)='handleChangePageSize($event)'
                        [count]='rowCount'
                        [hasDropdown]='true'
                        [hidden]='false'
                        [offset]='offset'
                        [page]='curPage'
                        [size]='pageSize'
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
