@import '../../../../../assets/styles/variable';

.customer-campaigns-list {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  width: 100%;
  background: $white;
  .table__view {
    flex: 1 1 auto;
  }

  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-row-right .datatable-body-cell {
    min-width: 106px !important;
  }
}