<div class="customer-campaigns-list">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="table__view">
    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="models" [columnMode]="'force'"
      [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
      [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
        [canAutoResize]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="campaignCode" [sortable]="false" [draggable]="false" [width]="140"
        name="{{ 'fields.campaignCode' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'campaignCode') }}">{{ getValue(row, 'campaignCode')
            }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="campaignName" [sortable]="false" [draggable]="false"
        name="{{ 'fields.campaignName' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="getValue(row, 'campaignName')">{{ getValue(row, 'campaignName') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="assignedDate" [sortable]="false" [draggable]="false"
        name="{{ 'fields.assign_date' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'assignedDate') | date: 'dd/MM/yyyy HH:mm' }}">{{ getValue(row,
            'assignedDate')
            | date: 'dd/MM/yyyy HH:mm' }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="product" [sortable]="false" [draggable]="false"
        name="{{ 'fields.sale_product' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getProduct(row, 'productSale') }}">{{ getProduct(row,'productSale') }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="status" [sortable]="false" [draggable]="false"
        name="{{ 'fields.stage' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'stageName') }}">{{ getValue(row,'stageName') }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="note" [sortable]="false" [draggable]="false" name="{{ 'fields.note' | translate }}">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span title="{{ getValue(row, 'note') }}">{{ getValue(row, 'note') }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
            [hidden]="false" (change)="table.onFooterPage($event)">
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>