@import 'variable';

.kpi-category-by-title-create {
  .list__block {
    overflow-y: auto;
  }

  .title-info {
    margin-bottom: 1.75rem;
    h5 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .p-textarea {
    width: 100%;
    border-radius: 3px;
    border-color: $gray-400;
  }
  .p-fileupload-choose {
    width: 100%;
    justify-content: center;
    border-color: $gray-400;
    border-radius: 4px;
    color: $primary;
    &:hover {
      background: none;
      border-color: $gray-400;
      color: $primary;
    }
  }
  .p-button-label {
    flex: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .p-dropdown-in-row {
    width: 100%;
  }

  .h-36 {
    height: 36px;
  }

  .datatable-header-cell {
    display: flex !important;
    justify-content: center;
  }

  .ngx-datatable .datatable-body .datatable-body-row {
    height: 60px !important;
  }

  // Active & inactive row-right
  // --------------
  .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    height: 60px !important;
  }

  .ngx-datatable .datatable-body-row:hover .datatable-row-right .datatable-body-cell.sort-active {
    height: 60px !important;
  }
  // --------------

  .datatable-body-cell {
    display: flex !important;
    justify-content: center;
  }

  .datatable-body-cell-label {
    justify-content: center;
    width: 85% !important;
  }

  .button-delete {
    background-color: #ebebec;
  }

  .img-delete {
    height: 14px;
  }
}
