<div class="right-view kpi-category-by-title-create">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'kpi.title.add_category_by_title' | translate }}</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 mt-3">
						<div class="row" [formGroup]="formSearch">

							<div class="col-md-4 form-group">
								<label>{{ 'kpi.fields.block' | translate }} <span class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listBlock" placeholder=" " class="d-block" formControlName="blockCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code" (onChange)='onChangeBlockCode()'></p-dropdown>
								<small class="p-error"
									*ngIf="formSearch.controls?.blockCode?.errors?.cusRequired && formSearch.controls?.blockCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-4 form-group">
								<label>{{ 'fields.titleGroupRM' | translate }} <span class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listGroup" placeholder=" " class="d-block" formControlName="rmTitleCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code" (onChange)='onChangeGroup()'></p-dropdown>
								<small class="p-error"
									*ngIf="formSearch.controls?.rmTitleCode?.errors?.cusRequired && formSearch.controls?.rmTitleCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

							<div class="col-md-4 form-group">
								<label>{{ 'fields.levelRM' | translate }} <span class="text-red">(*)</span></label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
									[options]="listLevel" placeholder=" " class="d-block" formControlName="rmLevelCode"
									appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
									optionValue="code" (onChange)='onChangeLevel()'>
								</p-dropdown>
								<small class="p-error"
									*ngIf="formSearch.controls?.rmLevelCode?.errors?.cusRequired && formSearch.controls?.rmLevelCode?.touched && isValidator">{{
									'validationMessage.required' |
									translate }}</small>
							</div>

						</div>
					</div>

					<div class="filter-top block-center-between px-4">
						<h3 class="mb-0 page--title">{{ 'kpi.title.add_category_by_title' | translate }}</h3>
						<div class="filter-top__right block-center">
							<button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="addItem()"
								title="{{ 'btnAction.create' | translate }}">
								<em class="las la-plus-circle f-16"></em>
							</button>
						</div>
					</div>

					<div class="table__view group__view" [formGroup]="formCreate">
						<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="formCreate?.value"
							[columnMode]="'force'" [headerHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
							[virtualization]="false" [messages]="messages">

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='200'
								name="{{'kpi.fields.target_type' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex" class='p-dropdown-in-row'>
										<p-dropdown
											emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
											[options]="kpiCategoryOutputs" placeholder=" " class="d-block h-36"
											formControlName="categoryCode" appendTo="body" autoZIndex="false"
											baseZIndex="10000" optionLabel="name" optionValue="code"
											(onChange)='onChangeCategoryCode(rowIndex)'></p-dropdown>
										<small class="p-error" *ngIf="getErrRequire(rowIndex, 'categoryCode')">{{
											'validationMessage.required' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='400'
								name="{{'kpi.fields.target_name' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex" class='p-dropdown-in-row'>
										<p-dropdown
											emptyMessage="{{ 'notificationMessage.chooseTypeTargetTypeFirst' |  translate}}"
											[options]="listKpiItem[rowIndex]" placeholder=" " class="d-block h-36"
											formControlName="kpiItemId" appendTo="body" autoZIndex="false"
											baseZIndex="10000" optionLabel="name" optionValue="kpiItemId">
										</p-dropdown>
										<small class="p-error" *ngIf="getErrRequire(rowIndex, 'kpiItemId')">{{
											'validationMessage.required' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='200'
								name="{{'fields.startDate' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<p-calendar class="d-block" formControlName="efficientDate"
											dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000"
											[showIcon]="true" view="month" [minDate]='minDate'
											[maxDate]='formCreate.value[rowIndex]?.maxEfficientDate'
											[readonlyInput]='true' icon="las la-calendar-alt">
										</p-calendar>
										<small class="p-error" *ngIf="getErrRequire(rowIndex, 'efficientDate')">{{
											'validationMessage.required' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='200'
								name="{{'fields.endDate' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<p-calendar class="d-block" formControlName="expireDate" dateFormat="dd/mm/yy"
											appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
											view="month" icon="las la-calendar-alt" [readonlyInput]='true'
											(onSelect)='onChangeEndDate($event, rowIndex)'
											[minDate]='formCreate.value[rowIndex]?.minExpireDate || minDate'>
										</p-calendar>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false"
								name="{{'fields.effective' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value='value'>
									<div [formGroupName]="rowIndex">
										<p-checkbox [binary]="true" formControlName="isActive"> </p-checkbox>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop='target_type' width='220'
								name="{{'kpi.fields.rate' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<input placeholder="" type="text" class="d-block" pInputText
											formControlName="rate" />
										<small class="p-error" *ngIf="getErrRequire(rowIndex, 'rate')">{{
											'validationMessage.required' |
											translate }}</small>
										<small class="p-error" *ngIf="getErrValidate(rowIndex, 'rate')">{{
											'validationMessage.value_rate' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='240'
								name="{{'kpi.fields.limitFloor' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<input placeholder="" type="text" class="d-block" pInputText
											formControlName="limitFloor" />
										<small class="p-error" *ngIf="getErrValidate(rowIndex, 'limitFloor')">{{
											'validationMessage.value_common' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='240'
								name="{{'kpi.fields.limitCeiling' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<input placeholder="" type="text" class="d-block" pInputText
											formControlName="limitCeiling" />
										<small class="p-error" *ngIf="getErrValidate(rowIndex, 'limitCeiling')">{{
											'validationMessage.value_common' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='220'
								name="{{'kpi.fields.ceilingRatio' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex">
										<input placeholder="" type="text" class="d-block" pInputText
											formControlName="ceilingRatio" />
										<small class="p-error" *ngIf="getErrValidate(rowIndex, 'ceilingRatio')">{{
											'validationMessage.value_common' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='220'
								name="{{'kpi.fields.isTimeOrgFactor' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value='value'>
									<div [formGroupName]="rowIndex">
										<p-checkbox [binary]="true" formControlName="isTimeOrgFactor"> </p-checkbox>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='220'
								name="{{'kpi.fields.isAreaFactor' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value='value'>
									<div [formGroupName]="rowIndex">
										<p-checkbox [binary]="true" formControlName="isAreaFactor"> </p-checkbox>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop='target_type'
								name="{{'kpi.fields.isKpi' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value='value'>
									<div [formGroupName]="rowIndex">
										<p-checkbox [binary]="true" formControlName="isKpi"> </p-checkbox>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" width='200'
								name="{{'kpi.fields.sourceInput' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
									<div [formGroupName]="rowIndex" class="p-dropdown-in-row">
										<p-dropdown
											emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
											[options]="listSourceInput" placeholder=" " class="d-block h-36"
											appendTo="body" autoZIndex="false" baseZIndex="10000" optionLabel="name"
											optionValue="code" formControlName="sourceInput">
										</p-dropdown>
										<small class="p-error" *ngIf="getErrRequire(rowIndex, 'sourceInput')">{{
											'validationMessage.required' |
											translate }}</small>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop='target_type'
								name="{{'kpi.fields.isShare' | translate}}">
								<ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value='value'>
									<div [formGroupName]="rowIndex">
										<p-checkbox [binary]="true" formControlName="isShare"> </p-checkbox>
									</div>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column name="{{ 'fields.action_2' | translate }}" [width]="100"
								[frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
								[resizeable]="false">
								<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
									<button type="button" class="btn-outline button-delete"
										(click)="delete(rowIndex);$event.stopPropagation()"
										title="{{ 'btnAction.delete' | translate }}" [disabled]='row.isOld'>
										<img alt="" src="assets/images/ico.svg" class="img-delete" />
									</button>
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
					</div>

					<div class="p-4 text-left btn-action">
						<button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.write' | translate
							}}</button>
						<button class="btn btn-light mr-3" (click)="back()">{{ 'btnAction.skip' | translate
							}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
