@import '../../../../../assets/styles/variable';

.block-bank-table-rm {
  display: flex;
  flex-direction: column;
  min-height: 310px;
  // margin-left: -15px;
  width: 100%;
  background: $white;
  .table__view {
    flex: 1 1 auto;
  }

  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-row-right .datatable-body-cell {
    min-width: 106px !important;
  }

  .table-border {
    border: 1px solid #dddd;
    margin-right: 15px;
  }
  .p-4 {
    padding: 1.5rem !important;
    padding-left: 0px !important;
}
}
