<!-- <div class="block-center">
  <div class="form-group__icon">
    <input type="text" class="form-control function-parent" id="industry" [(ngModel)]="display_name"
      placeholder="{{ 'choose' | translate }}" readonly />
  </div>
  <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="chooseIndustry()">
    <em class="las la-search f-16"></em>
  </button>
  <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="delete()">
    <em class="las la-times f-16"></em>
  </button>
</div> -->
<div class="block-center">
  <div class="form-group__icon">
    <input type="text" class="form-control function-parent" [(ngModel)]="display_name" readonly />
    <em class="las la-times pointer" (click)="delete()"></em>
  </div>
  <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="chooseIndustry()">
    <em class="las la-search f-16"></em>
  </button>
</div>