@import '../../../../assets/styles/_variable.scss';
.app-profile-user {
  .profile__name {
    font-weight: 500;
  }
  .la-bell {
    font-size: 2.5rem;
  }
  .profile-select__action {
    display: flex;
    align-items: center;
    align-self: stretch;
    .p-badge {
      background: $danger !important;
      top: 3px !important;
      right: 3px !important;
    }
  }
  .p-overlaypanel {
    width: 300px;
    top: 38px !important;
    &::before {
      display: none;
    }
    .p-overlaypanel-content {
      padding: 0;
      overflow: hidden;
      max-height: calc(100vh - 8vh);
      display: flex;
      flex-direction: column;
    }
  }
  .overlaypanel-notify {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .bg-primary {
    background: $blue;
    color: $white;
  }
  .notify-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    border-bottom: 1px solid $gray-500;
  }
  .notify-body {
    overflow: auto;
    .item-notify {
      padding: 1rem;
    }

    & > :not(:last-child) {
      border-bottom: 1px solid $gray-100;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .notify-time {
    color: $gray-900;
  }
  .notify-title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: $font-weight-normal;
  }
  .notify-count {
    color: $gray-900;
  }
  .p-avatar.p-avatar-lg {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .un-read {
    background: $gray-800;
    .notify-title {
      font-weight: $font-weight-bold !important;
    }
  }

  // infiniteScroll
  .b-loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 5px;
    border: 2px solid $gray-400;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $gray-400 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
