<div class="profile-select d-flex">
  <div class="profile-select__image mr-3">
    <p-avatar image="assets/images/avatar_male.png" size="xlarge"></p-avatar>
  </div>
  <div class="flex-grow-1 block-start-between">
    <div>
      <h6 class="profile__name mb-0">{{ fullName }}</h6>
      <div class="profile__sub">{{ subTitle }}</div>
    </div>
    <div class="profile-select__action pointer pr-2">
      <!-- <em *ngIf="countUnReadNotify > 0" (click)="notify.toggle($event)" class="las la-bell" pBadge severity="danger"
        [value]="countUnReadNotify"></em>
      <em *ngIf="countUnReadNotify === 0" (click)="notify.toggle($event)" class="las la-bell"></em> -->
    </div>
  </div>
</div>

<p-overlayPanel #notify>
  <ng-template pTemplate>
    <div class="overlaypanel-notify">
      <div class="notify-header">
        <div class="notify-count">{{ countUnReadNotify }} chưa đọc</div>
        <div class="notify-checked">
          <a href="javascript:void(0)" *ngIf="countUnReadNotify > 0" (click)="markAllAsRead()">Đánh dấu đọc toàn bộ</a>
        </div>
      </div>
      <div class="notify-body" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="0"
        (scrolled)="onScroll($event)">
        <div *ngFor="let item of listNotify" class="block-center item-notify" [class.un-read]="!item.isReaded"
          (click)="markAsRead(item)">
          <p-avatar [label]="item?.avatar?.label" styleClass="bg-primary mr-3" [style]="item?.avatar?.style"
            size="large"></p-avatar>
          <div>
            <div class="notify-title">{{item.title}}</div>
            <div class="notify-time">{{item.time | date: 'HH:mm dd/MM/yyyy'}}</div>
          </div>
        </div>
        <div *ngIf="isLoading" class="b-loading">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>