<div class="right-view toi-report">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'kpi.title.toiReport' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block p-4">
                    <div class=" row">
                        <div class="col-md-5">
                            <div class="form-group" [formGroup]="form">
                                <label class="m-0">Định dạng báo cáo </label>
                                <div class="row px-4" [formGroup]="form">
                                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                                        <p-radioButton value="HTML" formControlName="downloadReport"></p-radioButton>
                                        <label class="m-0" class="ml-3">HTML</label>
                                    </div>
                                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                                        <p-radioButton value="EXCEL" formControlName="downloadReport"></p-radioButton>
                                        <label class="m-0" class="ml-3">Excel</label>
                                    </div>
                                    <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                                        <p-radioButton value="PDF" formControlName="downloadReport"></p-radioButton>
                                        <label class="m-0" class="ml-3">PDF</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [formGroup]="form">
                                <label class="m-0">{{ 'fields.block' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listDivision" placeholder=" " class="d-block"
                                    formControlName="division" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                            </div>
                            <!-- <div class="form-group" [formGroup]="form">
                                <label class="m-0">{{ 'fields.currencyUnit' | translate }}</label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listCurrencyUnit" placeholder=" " class="d-block"
                                    formControlName="currencyUnit" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                            </div> -->
                            <div class="form-group" [formGroup]="form">
                                <label class="m-0">{{ 'fields.reportType' | translate }} </label>
                                <div class="row px-4">
                                    <div class="mt-2 mb-0 p-field-radiobutton col-md-4">
                                        <p-radioButton value="customer" formControlName="reportType"></p-radioButton>
                                        <label class="m-0" class="ml-3">{{ 'fields.customer' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [formGroup]="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="m-0">{{ 'fields.period' | translate }} </label>
                                        <div class="row px-4" [formGroup]="form">
                                            <div class="mt-2 mb-0 p-field-radiobutton col-md-4">
                                                <p-radioButton value="MONTHLY" formControlName="period"></p-radioButton>
                                                <label class="m-0" class="ml-3">{{ 'fields.month' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-0">{{ 'fields.month' | translate }}</label>
                                        <p-calendar class="d-block custom-calendar" formControlName="month"
                                            [maxDate]="maxDate" dateFormat="mm/yy" appendTo="body" autoZIndex="false"
                                            baseZIndex="10000" [showIcon]="true" [minDate]="commonData.minDate"
                                            inputId="monthpicker" view="month" [readonlyInput]="true"
                                            icon="las la-calendar-alt">
                                        </p-calendar>
                                    </div>
                                </div>

                                <!-- <div class="row" [formGroup]="form">
                                    <div class="col-md-6">

                                    </div>
                                </div> -->
                            </div>



                            <div class="form-group" [formGroup]="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="m-0">{{ 'fields.currencyUnit' | translate }}</label>
                                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                            [options]="commonData.listCurrencyUnit" placeholder=" " class="d-block"
                                            formControlName="currencyUnit" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                            optionLabel="name" optionValue="code"></p-dropdown>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-0">{{ 'fields.dtttrr' | translate }}</label>
                                        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                            [options]="commonData.listDTTTRR" placeholder=" " class="d-block"
                                            formControlName="dtttrr" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                            optionLabel="name" optionValue="value"></p-dropdown>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7 b-table">
                            <app-loading *ngIf="isSearch"></app-loading>
                            <div class="filter-top block-center-between mt-0">
                                <div class="filter-top__left">
                                    <div>
                                        <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                                            class="form-control search-box" [(ngModel)]="textSearch"
                                            (keyup.enter)="add()" />
                                    </div>
                                    <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                                        title="{{ 'btnAction.add' | translate }}" (click)="add()">
                                        <em class="las la-plus-circle f-16"></em>
                                    </button>
                                    <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                                        title="{{ 'btnAction.search' | translate }}" (click)="search()">
                                        <em class="las la-search f-16"></em>
                                    </button>
                                </div>
                                <div class="filter-top__right block-center">
                                    <button class="btn btn--red btn-small mr-4 text-white" (click)="removeList()">
                                        {{ 'btnAction.deleteAll' | translate }}
                                      </button>
                                </div>
                            </div>
                            <div class="table__view">
                                <ngx-datatable #table ngxDataTable class="bootstrap fullscreen" [rows]="listDataTable"
                                    [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                                    [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
                                    [externalPaging]="true" [count]="pageable?.totalElements"
                                    [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                                    [messages]="messages">

                                    <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                        [width]="55" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                        <ng-template let-value="value" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                                        [name]="fields.customerCode">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span title="{{ value }}">{{ value }}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                                        [name]="fields.customerName">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span title="{{ value }}">{{ value }}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true" [sortable]="false"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div class="block-center text-center column-action">
                                                <button type="button" class="btn-outline"
                                                    (click)="removeRecord(row);$event.stopPropagation()"
                                                    title="{{ 'btnAction.delete' | translate }}">
                                                    <em class="las la-trash-alt"></em>
                                                </button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                            ngx-datatable-footer-template>
                                            <app-pager-ngx-datatable [page]="curPage" [offset]="offset"
                                                [size]="pageSize" [count]="rowCount" [hidden]="false"
                                                (change)="table.onFooterPage($event)">
                                            </app-pager-ngx-datatable>
                                        </ng-template>
                                    </ngx-datatable-footer>

                                </ngx-datatable>
                            </div>
                        </div>
                    </div>


                    <div class="text-center pt-4">
                        <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">
                            {{ 'labels.reportShow' | translate }}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
