@import '../../../../../assets/styles/variable';

.toi-report {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      height: 400px;
    }
    .table__view {
      border: 1px solid $gray-300;
    }
  }
}
