<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userPermissionConfig' | translate }}/Import</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="block-center mb-5">
            <div class="upload block-center">
              <div [class.file-disabled]="isUpload"></div>
              <input class="upload__input" type="file" accept=".xlsx" [(ngModel)]="files"
                (change)="handleFileInput($event.target.files)" />
              <em class="las la-cloud-upload-alt f-20"></em>
              <span class="upload__label">{{ fileName ? fileName : ( 'fields.chooseFile' | translate ) }}</span>
            </div>
            <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
              <em class="las la-times f-20"></em>
            </button>
            <button class="btn btn-small btn--light-blue ml-3" [class.disabled]="!isFile" (click)="importFile(false)">
              <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
            </button>
            <button class="btn btn-small btn--light-blue ml-3" (click)="downloadTemplate()">
              <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
            </button>
          </div>
          <div class="list__view">
            <div class="table__title">
              <h5 *ngIf="isError">{{ 'system.menu.listError' | translate }}</h5>
              <h5 *ngIf="isSuccess">{{ 'system.menu.listSuccess' | translate }}</h5>
            </div>
            <div class="table__view">
              <ng-container *ngIf="isSuccess || isError">
                <ngx-datatable ngxDataTable #tableList class="bootstrap fullscreen" [columnMode]="ColumnMode.force"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
                  [rows]="listData" [virtualization]="false" [externalPaging]="true" [count]="page?.totalElements"
                  [offset]="page?.currentPage" [limit]="page?.size" (page)="setPage($event)" [messages]="messages">
                  <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ page?.currentPage * page?.size + rowIndex + 1}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ng-container *ngIf="isSuccess">
                    <ngx-datatable-column prop="code" [sortable]="false" name="{{ 'fields.rmCode' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="hrsCode" [sortable]="false" name="{{ 'fields.hrsCode' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="fullName" [sortable]="false" name="{{ 'fields.fullName' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="branches" [sortable]="false"
                      name="{{ 'fields.listBranch' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                  </ng-container>
                  <ng-container *ngIf="isError">
                    <ngx-datatable-column prop="line" [sortable]="false" name="{{ 'fields.row' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="column" [sortable]="false" name="{{ 'fields.column' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ ('fields.' + value) | translate}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="dataError" [sortable]="false"
                      name="{{ 'fields.dataError' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="infoError" [sortable]="false"
                      name="{{ 'fields.infoError' | translate }}">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ ('notificationMessage.' + value) | translate }}
                      </ng-template>
                    </ngx-datatable-column>
                  </ng-container>
                  <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                      let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                      <app-pager-ngx-datatable [page]="curPage" [offset]="offset" visiblePagesCount="5"
                        [size]="pageSize" [count]="rowCount" [hidden]="false" (change)="tableList.onFooterPage($event)">
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </ng-container>
            </div>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn-small btn--light-blue" (click)="importFile(true)" [class.disabled]="!checkImport"><em
                class="las la-file-import f-16"></em> {{ 'btnAction.writeDataFromFile' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
