@import '../../../../../assets/styles/variable';
.list__view {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clear-file {
  position: absolute;
  right: 0;
  top: -5px;
}

.upload {
  width: 300px;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $gray-400;
  height: 36px;
}
.file-disabled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  opacity: 0.6;
  z-index: 5;
  cursor: not-allowed;
}
