.user-rank__report {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  overflow: auto;
}
.fa-trophy-1 {
  color: #ffc108;
}
.fa-trophy-2 {
  color: #c3d1de;
}
.fa-trophy-3 {
  color: #c57d77;
}
