<div class="gridster__item-content">
  <div class="user-rank__report">
    <table aria-hidden="true" class="table table-striped m-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ 'dashboard.teamRate.userCall' | translate }}</th>
          <th scope="col">{{ 'dashboard.teamRate.total' | translate }}</th>
          <th scope="col">{{ 'dashboard.teamRate.demand' | translate }}</th>
          <th scope="col">{{ 'dashboard.teamRate.noDemand' | translate }}</th>
          <th scope="col">{{ 'dashboard.teamRate.reCall' | translate }}</th>
          <th scope="col">{{ 'dashboard.teamRate.missCall' | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="listUsers && listUsers.length > 0">
        <tr *ngFor="let item of listUsers; index as i">
          <th scope="row">
            {{ i + 1 }}
            <em *ngIf="i === 0" class="fa fa-trophy f-16 fa-trophy-1 pl-2" aria-hidden="true"></em>
            <em *ngIf="i === 1" class="fa fa-trophy f-16 fa-trophy-2 pl-2" aria-hidden="true"></em>
            <em *ngIf="i === 2" class="fa fa-trophy f-16 fa-trophy-3 pl-2" aria-hidden="true"></em>
          </th>
          <td>
            {{ item?.userFullName }}
          </td>
          <td>{{ (item?.total | number) || 0 }}</td>
          <td>{{ (item?.totalSuccess | number) || 0 }}</td>
          <td>{{ (item?.totalFail | number) || 0 }}</td>
          <td>{{ (item?.totalWaiting | number) || 0 }}</td>
          <td>{{ (item?.totalMissing | number) || 0 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>