<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.process_management' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left" style="width:80%;">
            </div>
            <div class="filter-top__right d-flex">
            </div>
          </div>
          <div class="fluid-container px-4">
            <div class="row py-1">
              <div class="col-md-3">
                <label class="mb-0">{{ 'system.fields.process_code'| translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="params.code" (keyup.enter)="search()" />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'system.fields.process_name'| translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="params.name" (keyup.enter)="search()" />
              </div>
              <div class="col-md-3">
                <label class="mb-0">{{ 'system.fields.status'| translate }}</label>
                <ngx-select placeholder="" class="status-box" id="gradeCode" [(ngModel)]="params.status"
                  [allowClear]="false" [items]="process_status" optionValueField="code" optionTextField="name">
                </ngx-select>
              </div>
            </div>
            <div class="row py-1 block-center-between">
              <div class="col-md-3 py-1">
                <button class="btn btn-small btn--light-blue mr-4" (click)="search()">
                  {{ 'btnAction.search'| translate }}
                </button>
              </div>
              <div>
                <button class="btn btn-icon--small btn--light-blue mr-2" (click)="create()"
                  title="{{ 'btnAction.create' | translate }}">
                  <em class="las la-plus-circle f-16"></em>
                </button>
              </div>
            </div>
          </div>
          <div class="table__view user__view">
            <ngx-datatable ngxDataTable #table class="custom-header fullscreen" [messages]="messages"
              [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
              [columnMode]="'force'" [rows]="models" [count]="pageable?.totalElements" [offset]="pageable?.currentPage"
              [limit]="pageable?.size" (page)="paging($event)" [footerHeight]="70" [selectionType]="'single'"
              (activate)="onActive($event)" [headerHeight]="50">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="40"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                name="{{ 'system.fields.process_code' | translate }}">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span class="ml-2">{{ getValue(row, 'code') }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.process_name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'name') }}</span>
                </ng-template>


              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="status">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.status' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getStatus(row) }}</span>
                </ng-template>

              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="nearest_execution_time">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.nearest_execution_time' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'prevFireTime') | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="next_execution_time">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'system.fields.next_execution_time' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span>{{ getValue(row, 'nextFireTime') | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="170" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button *ngIf="obj && obj.delete && getValue(row, 'status') !== 2" type="button" class="btn-outline"
                      (click)="delete(row);$event.stopPropagation()">
                      <em class="las la-trash-alt f-16"></em>
                    </button>
                    <button *ngIf="obj && obj.update && getValue(row, 'status') !== 2" type="button"
                      class="btn-outline ml-2" (click)="update(row);$event.stopPropagation()"
                      title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit  f-16"></em>
                    </button>
                    <button type="button" class="btn-outline ml-2" (click)="startProcess(row);$event.stopPropagation()"
                      *ngIf="getValue(row, 'status') !== 2" title="{{ 'btnAction.start' | translate }}">
                      <em class="la-play-custom f-16"></em>
                    </button>
                    <button type="button" class="btn-outline ml-2" (click)="stopProcess(row);$event.stopPropagation()"
                      *ngIf="getValue(row, 'status') === 2" title="{{ 'btnAction.stop' | translate }}">
                      <em class="la-pause-custom f-16"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
