.popup-update-note{
    .modal-dialog {
        max-width: 650px;
    }
}

  .form-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 5px;
  }
  input::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
  }
  
  .btn-suggest {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }