<div class="modal-header pb-4">
    <div class="block-center-between">
        <h6 class="m-0">Nhập nội dung ghi chú</h6>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-task" [formGroup]="form">
        <div class="form-group form-textarea" style="margin-bottom: 0px;">
            <textarea placeholder="Nhập nội dung ghi chú" class="form-control border-0 m-height"
                [maxlength]="500" type="text" formControlName="note"></textarea>
            <div class="col-right">
                <button *ngFor="let item of listSuggest; let i = index" #itemButton
                    class="ml-1 mb-1 btn-suggest float-right" (click)="onChangeSuggest(i)">{{item}}</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--light-blue ml-3" (click)="confirmDialog()">{{'calendar.save' | translate}}</button>
    </div>
</div>
