<div class="block-center">
    <div class="form-group__icon">
        <input type="text" class="form-control function-parent" [(ngModel)]="value"
            placeholder="{{ 'choose' | translate }}" readonly />
        <em class="las la-times pointer" (click)="clearData()"></em>
    </div>
    <button class="btn-icon btn-icon--small btn btn-search ml-2" (click)="search()">
        <em class="las la-search f-16"></em>
    </button>
</div>