.btn-icon--small {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}
.form-group__icon {
  width: 100%;
}
.function-parent:disabled,
.function-parent[readonly] {
  background-color: #fbfbfd00 !important;
}
