.list__optioncode-modal {
  .list__optioncode-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 7rem);
    height: calc(100% - 7rem);
    width: 720px;
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
