@import 'variable';

.customer-360__list {
  .item-right {
    width: 100%;
    justify-content: right;
  }
  .search {
    &-advance {
      .action__left {
        flex: 1;
      }
      .action__right {
        flex: 1;
      }
    }
    &-basic {
      .action__left {
        flex: 1;
      }
      .dropdown-division {
        width: 255px;
      }
    }
  }
  .filter-top {
    align-items: flex-end;
  }
  .action__left {
    display: flex;
    text-align: left;
    align-items: flex-end;
  }
  .action__right {
    text-align: right;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }
  .p-inputgroup {
    &:hover {
      border: 1px solid #2196f3;
    }
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #f0f0f3;
    border-radius: 4px;

    .p-inputtext {
      border: none;
      height: 34px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    ::placeholder {
      font-style: normal;
    }
    .p-inputgroup-dropdown-right .p-dropdown {
      height: 34px;
    }
  }
  .lds-ellipsis {
    position: relative;
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    // float: right;
    left: 15px;
  }
  .lds-ellipsis div {
    position: absolute;
    // top: 33px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $blue;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(5) {
    left: 78px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

.table_message{
  display: flex;
  position: relative;
  height: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}