<div class="list__block customer-360__list">
  <div class="fluid-container px-4 pt-4" *ngIf="isShowAdvance" [formGroup]="searchForm">
    <div class="row py-1">
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.customerCode' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="customerCode"
          pInputText
        />
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.customerName' | translate }}</label>
        <input
          type="text"
          maxlength="100"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="customerName"
          pInputText
        />
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.phone' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="phone"
          pInputText
        />
      </div>
      <div *ngIf="searchForm.get('customerType').value !== 'SME'" class="col-md-3">
        <label class="m-0">{{ 'fields.identityNumber' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="idCard"
          pInputText
        />
      </div>

      <div *ngIf="searchForm.get('customerType').value === 'SME'" class="col-md-3">
        <label class="m-0">{{ 'fields.businessRegistrationNumber' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="businessRegistrationNumber"
          pInputText
        />
      </div>
    </div>

    <div class="row py-1">
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.block' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="searchForm.get('customerTypeSale').value === 1 ? listDivision : listDivisionSale"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="customerType"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
        ></p-dropdown>
      </div>

      <div *ngIf="searchForm.get('customerType').value !== 'SME'" class="col-md-3">
        <label class="m-0">{{ 'fields.transactionFrequency' | translate }}</label>
        <div
          class="form-group__icon"
          [ngbTooltip]="transactionFrequency"
          [autoClose]="'outside'"
          triggers="click"
          placement="bottom"
          container="body"
          tooltipClass="tablerm-tooltip"
        >
          <input type="text" class="form-control" formControlName="transactionFrequencyText" readonly />
          <em class="dropdown-toggle pointer f-12"></em>
        </div>
      </div>
      <div class="col-md-3" *ngIf="searchForm.get('customerType').value === 'SME'">
        <label class="m-0">{{ 'fields.status' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listStatus"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="status"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        >
        </p-dropdown>
      </div>

      <div class="col-md-3">
        <label class="m-0">{{ 'fields.branch' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listBranches"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="branchCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div *ngIf="searchForm.get('customerTypeSale').value === 1" class="col-md-3">
        <label class="m-0">{{ 'fields.rmManager' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listRmManager"
          placeholder=" "
          class="d-block"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="31"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="hrsCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div *ngIf="searchForm.get('customerTypeSale').value === 2" class="col-md-3">
        <label class="m-0">RM chốt sale</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listRmSale"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="rmCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="row py-1" [hidden]="!isOpenMore">
      <div *ngIf="searchForm.get('customerType').value !== 'SME'" class="col-md-3">
        <label class="m-0">{{ 'fields.businessRegistrationNumber' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="businessRegistrationNumber"
          pInputText
        />
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.taxCode' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="taxCode"
          pInputText
        />
      </div>
      <div class="col-md-3" *ngIf="searchForm.get('customerType').value === 'SME'">
        <label class="m-0">{{ 'fields.segment' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listSegment"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="segment"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div class="col-md-3" *ngIf="searchForm.get('customerType').value === 'SME'">
        <label class="m-0">{{ 'fields.customerObject' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listCustomerObject"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="customerObjects"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="value"
        ></p-dropdown>
      </div>

      <div *ngIf="searchForm.get('customerType').value !== 'SME'" class="col-md-3">
        <label class="m-0">{{ 'fields.swiftCode' | translate }}</label>
        <input
          type="text"
          maxlength="50"
          class="d-block"
          (keyup.enter)="search(true, 'advance')"
          formControlName="swiftCode"
          pInputText
        />
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.bussiness' | translate }}</label>
        <lp-industry [model]="industryCode" (modelChange)="fillIndustry($event)"> </lp-industry>
      </div>
    </div>

    <div *ngIf="searchForm.get('customerType').value === 'INDIV'" class="row py-1" [hidden]="!isOpenMore">
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.status' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listStatus"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="status"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        >
        </p-dropdown>
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.segment' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listSegment"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="segment"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
      <div class="col-md-3">
        <label class="m-0">{{ 'fields.sector' | translate }}</label>
        <p-multiSelect
          placeholder="Sector"
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          [options]="sectors"
          [(ngModel)]="selectedSectors"
          [ngModelOptions]="{standalone: true}"
          maxSelectedLabels="{{ sectors.length - 1 }}"
          [selectedItemsLabel]="fields.all"
          resetFilterOnHide="true"
          formControlName="sectorArray"
          class="d-block"
          appendTo="body"
          baseZIndex="10000"
          optionLabel="id"
        ></p-multiSelect>
      </div>
    </div>
    <!-- Chốt sale sản phẩm thành công -->
    <div *ngIf="viewCustomerType" class="row py-1" [hidden]="!isOpenMore">
<!--      <div class="col-md-3">-->
<!--        <label class="m-0">Loại khách hàng</label>-->
<!--        <p-dropdown-->
<!--          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"-->
<!--          [options]="listCustomerType"-->
<!--          placeholder=" "-->
<!--          class="d-block"-->
<!--          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"-->
<!--          formControlName="customerTypeSale"-->
<!--          appendTo="body"-->
<!--          autoZIndex="false"-->
<!--          baseZIndex="10000"-->
<!--          optionLabel="displayName"-->
<!--          optionValue="code"-->
<!--          (onChange)="onChangeCustomerTypeSale($event)"-->
<!--        >-->
<!--        </p-dropdown>-->
<!--      </div>-->
      <!--Binhdt add new check CIB by status-->
      <div *ngIf="searchForm.get('customerType').value === 'CIB'" class="col-md-3">
        <label class="m-0">{{ 'fields.status' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listStatus"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="status"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        >
        </p-dropdown>
      </div>
<!--      <div *ngIf="showManagerType()" class="col-md-3">-->
<!--        <label class="m-0">{{ 'fields.manageType' | translate }}</label>-->
<!--        <p-dropdown-->
<!--          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"-->
<!--          [options]="listManageType"-->
<!--          placeholder=" "-->
<!--          class="d-block"-->
<!--          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"-->
<!--          formControlName="manageType"-->
<!--          appendTo="body"-->
<!--          autoZIndex="false"-->
<!--          baseZIndex="10000"-->
<!--          optionLabel="displayName"-->
<!--          optionValue="code"-->
<!--          [disabled]="isRMorUB"-->
<!--          (onChange)="onChangeManageType($event)"-->
<!--        >-->
<!--        </p-dropdown>-->
<!--      </div>-->
      <!-- view product -->
      <ng-container *ngIf="searchForm.get('customerTypeSale').value === 2">
        <div class="col-md-3">
          <label class="m-0">Loại sản phẩm</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="listProductType"
            placeholder=" "
            class="d-block"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            formControlName="productGroup"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="displayName"
            optionValue="code"
            (onChange)="onChangeProductType()"
          >
          </p-dropdown>
        </div>
      </ng-container>
      <!-- Phân loại KH -->
      <ng-container *ngIf="searchForm.get('customerTypeSale').value === 2 && searchForm.get('productGroup').value === 'TTTM'">
        <div class="col-md-3">
          <label class="m-0">Phân loại khách hàng</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="listCustomerClassification"
            placeholder=" "
            class="d-block"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            formControlName="customerClassification"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="name"
            optionValue="value"
          >
          </p-dropdown>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!viewCustomerType" class="row py-1">
      <div *ngIf="showManagerType()" class="col-md-3">
        <label class="m-0">{{ 'fields.manageType' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listManageType"
          placeholder=" "
          class="d-block"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="manageType"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
          [disabled]="isRMorUB"
          (onChange)="onChangeManageType($event)"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="block-center px-4 filter-top" [class]="isShowAdvance ? 'search-advance' : 'search-basic'">
    <div class="action__left">
      <ng-container *ngIf="!isShowAdvance">
        <div class="mr-4 dropdown-division">
          <label class="m-0">{{ 'fields.block' | translate }}</label>
          <p-dropdown
            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            [options]="listDivision"
            class="d-block"
            emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
            [(ngModel)]="params.customerType"
            appendTo="body"
            autoZIndex="false"
            baseZIndex="10000"
            optionLabel="displayName"
            optionValue="code"
            [autoDisplayFirst]="false"
            (onChange)="onChangeTextSearch($event)"
            [disabled]="this.dataSearch?.customerType?.disabled"
          ></p-dropdown>
        </div>
        <div class="mr-4">
          <div class="p-inputgroup">
            <input
              (ngModelChange)="onChangeTextSearch($event)"
              type="text"
              (keyup.enter)="search(true, 'basic')"
              [(ngModel)]="textSearch"
              maxlength="200"
              placeholder="{{ 'btnAction.search' | translate }}"
              pInputText
            />
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="listSearchType"
              class="p-inputgroup-dropdown-right"
              [(ngModel)]="searchQuickType"
              optionLabel="name"
              optionValue="code"
              (onChange)="onChangeCustomerType($event)"
            ></p-dropdown>
          </div>
        </div>
        <button
          [disabled]="disabledSearchBasic"
          class="btn-icon btn-icon--small btn btn-search grey ml-2"
          (click)="onClickSearch(true, 'basic')"
          title="{{ 'btnAction.search' | translate }}"
        >
          <em class="las la-search f-16"></em>
        </button>
        <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="switchSearch()">
          {{ 'btnAction.searchAdvance' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="isShowAdvance">
        <button class="btn btn--light-blue btn-small mr-2" (click)="switchSearch()">
          {{ 'btnAction.searchBasic' | translate }}
        </button>
        <button
          [disabled]="disabledSearchAdvance"
          class="btn btn-small btn--light-blue mr-2"
          (click)="onClickSearch(true, 'advance')"
        >
          <!-- <em class="las la-search f-16"></em> -->
          {{ 'btnAction.search' | translate }}
        </button>
      </ng-container>
    </div>
    <div class="action__center" *ngIf="isShowAdvance">
      <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
        <em class="las la-angle-down f-16"></em>
      </button>
      <button class="btn btn--light-blue btn-small mr-4 ml-4" (click)="openMore()" *ngIf="isOpenMore">
        <em class="las la-angle-up f-16"></em>
      </button>
    </div>
    <div class="action__right">
      <button
        class="btn btn--light-blue btn-icon--small"
        (click)="exportFile()"
        title="{{ 'btnAction.export' | translate }}"
        *ngIf="objFunction?.export && showAction"
        [disabled]="checkDisableExcel()"
      >
        <em class="las la-file-excel f-16"></em>
      </button>
      <div class="text-danger mr-3" *ngIf="isDownLoading">{{ 'notificationMessage.downloadingFile' | translate }}</div>
    </div>
  </div>

  <div *ngIf="isLoadTable; else noSearch" class="table__view user__view">
    <ngx-datatable
      ngxDataTable
      #table
      class="bootstrap fullscreen"
      [rows]="listData"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [virtualization]="false"
      [externalPaging]="true"
      [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage"
      [limit]="pageable?.size"
      (page)="setPage($event)"
      (activate)="onActive($event)"
      [messages]="messages"
    >
      <ngx-datatable-column
        *ngIf="!showAction"
        [width]="40"
        [frozenLeft]="true"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template ngx-datatable-header-template>
          <div class="block-center">
            <label class="checkbox">
              <input
                type="checkbox"
                [checked]="checkAll"
                (click)="onCheckboxAllFn($event.target.checked); $event.stopPropagation()"
              />
              <span class="ck"></span>
            </label>
          </div>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <div class="block-center">
            <label class="checkbox">
              <input
                type="checkbox"
                [checked]="isChecked(row)"
                (click)="onCheckboxFn(row, $event.target.checked); $event.stopPropagation()"
              />
              <span class="ck"></span>
            </label>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        name="{{ 'fields.order' | translate }}"
        [width]="40"
        [canAutoResize]="false"
      >
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerCode" [sortable]="false" [width]="110">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerCode' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="customerName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerName' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [prop]="searchForm.controls.customerTypeSale.value === 2 ? 'customerTypeMerge' : 'customerType'"
        [sortable]="false"
        [width]="110"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.block' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="openCodeDate" [sortable]="false" [width]="100" *ngIf="isOpenCodeDateShow">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.dateOpenCode' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span>{{ value | date: 'dd/MM/yyyy' }}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- Check isCustomerTypeSale -->
      <ng-container *ngIf="!isCustomerTypeSale">
        <ngx-datatable-column
          *ngIf="flag !== 'INDIV'"
          prop="balanceRaisingCapital"
          [sortable]="false"
          [width]="150" >
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.currentRaisingCapital' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span style="margin-right: 0px; margin-left: auto !important" title="{{ value | number }}">{{
              value | number
              }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          *ngIf="flag === 'INDIV'"
          prop="balanceCasaBalSum"
          [sortable]="false"
          [width]="150"
        >
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.currentCasa' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span style="margin-right: 0px; margin-left: auto !important" title="{{ value | number }}">{{
              value | number
              }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          *ngIf="flag === 'INDIV'"
          prop="balanceSavingBalSum"
          [sortable]="false"
          [width]="150"
        >
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.currentSaving' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span style="margin-right: 0px; margin-left: auto !important" title="{{ value | number }}">{{
              value | number
              }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="balanceCredit" [sortable]="false" [width]="130">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.currentCredit' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span
              style="margin-right: 0px; margin-left: auto !important"
              title="{{ value === 0 ? '' : (value | number) }}"
              >{{ value === 0 ? '' : (value | number) }}</span
            >
          </ng-template>
        </ngx-datatable-column>
      </ng-container>

      <ngx-datatable-column
        [prop]="searchForm.controls.customerTypeSale.value === 2 ? 'phone' : 'phoneDisplay'"
        [sortable]="false"
        [width]="100"
      >
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.phone' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="status" [sortable]="false" [width]="100" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.status' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="segment" [sortable]="false" [width]="100" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{ titleSegment }}</span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="classification" [sortable]="false" [width]="150" *ngIf="isSmeTable">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.customerObject' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ng-container *ngIf="!isCustomerTypeSale">
        <ngx-datatable-column prop="cic" [sortable]="false" [width]="150" *ngIf="isSmeTable">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.groupMaxCIC' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span style="margin: auto" title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="sector" [sortable]="false" [width]="55">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'fields.sector' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ value }}">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
      </ng-container>

      <!-- Check isCustomerTypeSale -->
      <ngx-datatable-column *ngIf="searchForm.controls.customerTypeSale.value !== 2" prop="manageRM" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.rmManager' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="branchCode" [sortable]="false" [width]="128">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ params.customerType !== 'INDIV' ? 'Mã đơn vị quản lý' : 'Mã đơn vị mở code' }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="branchName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ params.customerType !== 'INDIV' ? 'Tên đơn vị quản lý' : 'Tên đơn vị mở code' }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngIf="!isSmeTable" prop="transactionFrequency" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'fields.transactionFrequency' | translate }}
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <!-- customerClassification -->
      <ngx-datatable-column *ngIf="searchForm.controls.productGroup.value == 'TTTM'" prop="customerClassification" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          Phân loại khách hàng
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        *ngIf="showAction"
        name="{{ 'fields.action' | translate }}"
        [width]="135"
        [frozenRight]="true"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
      >
        <ng-template ngx-datatable-header-template>
          <div class="text-center">{{ 'fields.action' | translate }}</div>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <div class="block-center item-right">
            <button
              *ngIf="row.showBtnRevenueShare"
              type="button"
              class="btn-outline"
              title="{{ 'title.revenueSharing' | translate }}"
              (click)="viewCreateRevenue(row)"
            >
              <em class="las la-revenue-share"></em>
            </button>
            <button
              *ngIf="objFunction?.rmGrant && !isCustomerTypeSale"
              type="button"
              class="btn-outline"
              title="{{ 'btnAction.assignRmManagement' | translate }}"
              (click)="checkHoliday(row)"
            >
              <em class="las la-user-friends"></em>
            </button>
            <button
              *ngIf="objFunction?.rmGrant && isCustomerTypeSale"
              type="button"
              class="btn-outline"
              title="Giao RM chốt sale"
              (click)="assignSale(row)"
            >
              <em class="las la-user-friends"></em>
            </button>

            <button
              *ngIf="objFunction?.log"
              type="button"
              class="btn-outline"
              title="{{ 'customer360.menu.historyAssignment' | translate }}"
              (click)="historyAssign(row)"
            >
              <em class="las la-file-invoice"></em>
            </button>

            <button *ngIf="flag === 'INDIV' && row.customerTypeMerge === 'INDIV' && isShowChat && !objFunction?.rmGrant"
                    style="margin-left: 5px; margin-right: 5px;"
                    type="button"
                    title="Chat"
                    (click)="createGroupChat11(row)"
                    class="btn--light-blue btn-icon--small btn btn-email"
            >
              <em style="margin: 3px !important;" class="las la-chat-small f-16"></em>
            </button>

            <button *ngIf="(flag === 'INDIV' && row.customerTypeMerge === 'INDIV' && isShowCreateOppBtn && !objFunction?.rmGrant)
            || (flag === 'INDIV' && row.customerTypeMerge === 'INDIV' && isShowCreateOppBtn && !isShowChat) "
              type="button"
              title="{{ 'sellingOppIndiv.tooltip.createSaleOpp' | translate }}"
              (click)="createOppKHCN(row)"
              class="btn-outline"
            >
              <em class="icon-sale-opp i-16"></em>
            </button>

            <button *ngIf="objFunction?.rmGrant && isShowChat" type="button" class="btn-outline ml-2" pButton icon="pi pi-bars" label=""
                    (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="rowMenu" appendTo="body" (onShow)="onShowMenu($event)"
                    (onHide)="onHideMenu($event)"></p-menu>
            <!-- CRMCN-3672 - NAMNH - END -->
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          ngx-datatable-footer-template
        >
          <div *ngIf="!isCount" class="w-100">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <app-pager-ngx-datatable
            *ngIf="isCount"
            [page]="curPage"
            [offset]="offset"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="false"
            [hasDropdown]="true"
            (change)="table.onFooterPage($event)"
            (eventChangePageSize)="handleChangePageSize($event)"
          >
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
  <ng-template #noSearch>
    <div class="table_message">
      <b>Vui lòng chọn tiêu chí lọc.</b>
    </div>
  </ng-template>
</div>
<ng-template #transactionFrequency>
  <div class="text-left list__view">
    <div class="table__view">
      <ngx-datatable
        ngxDataTable
        #tableTransactionFrequency
        class="bootstrap fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="35"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="listTransactionFrequency"
        [virtualization]="false"
      >
        <ngx-datatable-column prop="selection" [sortable]="false" [width]="20">
          <ng-template let-column="column" ngx-datatable-header-template>
            <label class="checkbox">
              <input
                type="checkbox"
                [checked]="checkTransactionFrequencyGroupAll"
                (click)="onCheckboxTransactionFrequencyAllFn($event.target.checked); $event.stopPropagation()"
              />
              <span class="ck"></span>
            </label>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <label class="checkbox">
              <input
                type="checkbox"
                [checked]="row.isChecked"
                (click)="onCheckboxTransactionFrequencyFn(row, $event.target.checked); $event.stopPropagation()"
              />
              <span class="ck"></span>
            </label>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          prop="code"
          name="{{ 'fields.groupCode' | translate }}"
          [sortable]="false"
          [draggable]="false"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          prop="name"
          name="{{ 'fields.groupName' | translate }}"
          [sortable]="false"
          [draggable]="false"
        >
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</ng-template>
<ng-template #searchInfo>
  <div class="search-info text-left">
    <p>{{ 'searchCustomerSuggest.startBy' | translate }}</p>
    <p>{{ 'searchCustomerSuggest.endBy' | translate }}</p>
    <p>{{ 'searchCustomerSuggest.startAndEnd' | translate }}</p>
  </div>
</ng-template>
