@import 'variable';

.report-map-customer {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      // left: 5px;
      height: 450px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
  }
}
