.dashboard-edit-modal {
  .modal-dialog {
    max-width: 550px;
    height: calc(100vh - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
  }
  .dashboard-edit-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .gridster {
    flex-grow: 1;
    background: #f5f5fa !important;
  }
  .gridster-item {
    background: #fff !important;
  }
  .remove-gridter {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff808b;
    border-radius: 50%;
  }
}
