<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'dashboard.titleEdit' | translate }}</h5>
      <label class="m-0">{{ 'dashboard.title' | translate }}</label>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-right mb-3">
    <button class="btn-icon btn-icon--small btn grey" (click)="addItem()">
      <em class="las la-plus-circle f-16"></em>
    </button>
  </div>
  <gridster class="gridster" [options]="options">
    <gridster-item class="gridster-item" [item]="item" *ngFor="let item of dashboard">
      <div class="gridster__item-body">
        <em class="las la-minus pointer remove-gridter text-white" (click)="removeItem($event, item)"></em>
        <img alt="" [src]="'assets/images/' + item.image" alt="" style="width:100%">
      </div>
    </gridster-item>
  </gridster>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="save()">{{ 'btnAction.save' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
