<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'customer360.menu.approvedCustomerAssignForRm' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 mt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.customerCode' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="customerCode" />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.customerName' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="customerName" />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.branch' | translate }}</label>
                <lp-branches [listBranch]="listBranch" [(model)]="branchesCode"></lp-branches>
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.rmCodeAssigned' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="rmCode" />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.rmNameAssigned' | translate }}</label>
                <input placeholder="" type="text" class="form-control" formControlName="rmName" />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBlock"
                  placeholder=" "
                  class="d-block"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="blockCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionValue="code"
                  optionLabel="displayName"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <button class="btn btn--light-blue btn-small ml-2" (click)="search(true)">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
            <div class="filter-top__right block-center">
              <ng-container *ngIf="canApprove">
                <button class="btn btn-small btn--red text-white mr-2" (click)="isApprovedList(listSelected, false)">
                  {{ 'btnAction.refuse' | translate }}
                </button>
                <button class="btn btn-small btn--red text-white mr-2" (click)="isApprovedAll(false)">
                  {{ 'btnAction.refuseAll' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue mr-2" (click)="isApprovedList(listSelected, true)">
                  {{ 'btnAction.approved' | translate }}
                </button>
                <button class="btn btn-small btn--light-blue mr-2" (click)="isApprovedAll(true)">
                  {{ 'btnAction.approvedAll' | translate }}
                </button>
              </ng-container>

              <button
                *ngIf="objFunction && objFunction.export"
                class="btn btn-icon btn-icon--small btn-search"
                title="{{ 'btnAction.export' | translate }}"
                (click)="exportFile()"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view group__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              [messages]="messages"
              (activate)="onActive($event)"
            >
              <ngx-datatable-column
                [width]="40"
                [frozenLeft]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <div class="block-center">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        [checked]="checkAll"
                        (click)="onCheckboxAllFn($event.target.checked); $event.stopPropagation()"
                      />
                      <span class="ck"></span>
                    </label>
                  </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <div class="block-center">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        [checked]="isChecked(row)"
                        (click)="onCheckboxFn(row, $event.target.checked); $event.stopPropagation()"
                      />
                      <span class="ck"></span>
                    </label>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="customerCode"
                name="{{ 'fields.customerCode' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="customerName"
                name="{{ 'fields.customerName' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="customerBranchCode"
                name="{{ 'fields.branch' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="assigningRmCode"
                name="{{ 'fields.rmCodeManagement' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="assigningRmName"
                name="{{ 'fields.rmNameManagement' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmCode"
                name="{{ 'fields.rmCodeManagementNew' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmName"
                name="{{ 'fields.rmNameManagementNew' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rmLevelName"
                name="{{ 'fields.level_rm' | translate }}"
                *ngIf="formSearch.get('blockCode').value === 'SME'"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="note"
                name="{{ 'fields.description' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                *ngIf="canApprove"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center text-center column-action">
                    <button
                      type="button"
                      class="btn-outline"
                      (click)="isApproved(row, false); $event.stopPropagation()"
                    >
                      <em class="ic-x"></em>
                    </button>
                    <button
                      type="button"
                      class="btn-outline ml-2"
                      (click)="isApproved(row, true); $event.stopPropagation()"
                    >
                      <em class="ic-check"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
