<div class="lead-information-extended">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="row">
    <div class="col-12 detail-block mb-4">
      <div class="block-center mb-4"></div>
      <div class="row mt-3">
        <div class="filter filter-list no-gutters col-12">
          <div class="px-4 block-center-between">
            <div>
              {{ 'customer360.title.legalRepresentativeInfo' | translate }}
            </div>
            <div class="block-center">
              <button
                type="button"
                class="btn-outline btn--light-blue"
                title="{{ 'btnAction.edit' | translate }}"
                (click)="updateExtend()"
                *ngIf="!isUpdate"
              >
                <em class="las la-edit f-16"></em>
              </button>
              <button type="button" class="btn-outline btn-danger" title="Hủy" (click)="cancel()" *ngIf="isUpdate">
                <em class="ic-x"></em>
              </button>
              <button type="button" class="btn-outline btn-success" title="Lưu" (click)="save()" *ngIf="isUpdate">
                <em class="ic-check"></em>
              </button>
            </div>
          </div>
        </div>
        <div class="px-4 col-12 mt-3">
          <div class="filter-hearder no-gutters col-12 view-more" (click)="openDirectors()">
            <div class="mb-2 mt-2">
              <button class="btn--light-blue btn-icon--small mr-2" *ngIf="!isUpdate">
                <em class="las la-angle-down f-16" *ngIf="isDirectors"></em>
                <em class="las la-angle-up f-16" *ngIf="!isDirectors"></em>
              </button>
              <span>Giám đốc</span>
            </div>
          </div>
          <div class="row px-4 mt-3" *ngIf="isDirectors">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 mt-3">
                  <label class="detail-key">Tên giám đốc</label>
                </div>
                <div class="col-md-3 form-group has-error mt-3" [formGroup]="directorForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(director, 'name') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" pInputText formControlName="name" />
                </div>
                <div class="col-md-6 mt-3"></div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="directorForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValueDateString(director, 'birthday') }}</span>
                  <p-calendar
                    *ngIf="isUpdate"
                    formControlName="birthday"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    [showIcon]="true"
                    [maxDate]="today"
                    icon="las la-calendar-alt"
                  >
                  </p-calendar>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="directorForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(director, 'phone') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" class="form-control" pInputText formControlName="phone" />
                  <small
                    class="p-error"
                    *ngIf="directorForm?.controls?.phone?.errors?.onlyNumber && directorForm?.controls?.phone?.touched"
                    >Sai định dạng số điện thoại</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.email' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="directorForm" (click)="sendMailToPerson(director, 'email')">
                  <span *ngIf="!isUpdate" class="text-wrap href-link">{{ getValue(director, 'email') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" class="form-control" pInputText formControlName="email" />
                  <small
                    class="p-error"
                    *ngIf="directorForm?.controls?.email?.errors?.email && directorForm?.controls?.email?.touched"
                    >Sai định dạng email</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'customer360.title.identificationPapers' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="directorForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(director, 'idCard') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" pInputText formControlName="idCard" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="px-4 col-12 mt-3">
          <div class="filter-hearder no-gutters col-12 view-more" (click)="openChiefAccountants()">
            <div class="mb-2 mt-2">
              <button class="btn--light-blue btn-icon--small mr-2" *ngIf="!isUpdate">
                <em class="las la-angle-down f-16" *ngIf="isChiefAccountants"></em>
                <em class="las la-angle-up f-16" *ngIf="!isChiefAccountants"></em>
              </button>
              <span>{{ 'fields.chiefAccountant' | translate }}</span>
            </div>
          </div>
          <div class="row px-4" *ngIf="isChiefAccountants">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 mt-3">
                  <label class="detail-key">{{ 'fields.chiefAccountantName' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error mt-3" [formGroup]="chiefForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(chief, 'name') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" pInputText formControlName="name" />
                </div>
                <div class="col-md-6 mt-3"></div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="chiefForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValueDateString(chief, 'birthday') }}</span>
                  <p-calendar
                    *ngIf="isUpdate"
                    formControlName="birthday"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    [showIcon]="true"
                    [maxDate]="today"
                    icon="las la-calendar-alt"
                  >
                  </p-calendar>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="chiefForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(chief, 'phone') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" class="form-control" pInputText formControlName="phone" />
                  <small
                    class="p-error"
                    *ngIf="chiefForm?.controls?.phone?.errors?.onlyNumber && chiefForm?.controls?.phone?.touched"
                    >Sai định dạng số điện thoại</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.email' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="chiefForm" (click)="sendMailToPerson(chief, 'email')">
                  <span *ngIf="!isUpdate" class="text-wrap href-link">{{ getValue(chief, 'email') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" class="form-control" pInputText formControlName="email" />
                  <small
                    class="p-error"
                    *ngIf="chiefForm?.controls?.email?.errors?.email && chiefForm?.controls?.email?.touched"
                    >Sai định dạng email</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'customer360.title.identificationPapers' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="chiefForm">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(chief, 'idCard') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" pInputText formControlName="idCard" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="px-4 col-12 mt-3">
          <div class="filter-hearder no-gutters col-12 view-more pr-4" (click)="openContactInfos()">
            <div class="block-center-between w-100">
              <div class="mb-2 mt-2">
                <button class="btn--light-blue btn-icon--small mr-2" *ngIf="!isUpdate">
                  <em class="las la-angle-down f-16" *ngIf="isContactInfos"></em>
                  <em class="las la-angle-up f-16" *ngIf="!isContactInfos"></em>
                </button>
                <span>{{ 'fields.personContact' | translate }}</span>
              </div>
              <button
                *ngIf="arrayContact()?.controls?.length < 5 && isUpdate"
                type="button"
                class="btn-outline btn--light-blue col-action ml-2"
                title="Thêm"
                id="addContact"
                (click)="$event.stopPropagation(); createPersonContact()"
              >
                <em class="las la-plus-circle"></em>
              </button>
            </div>
          </div>
          <div class="px-4 mt-3" [formGroup]="contactInfo" *ngIf="isContactInfos">
            <div formArrayName="arrayContact">
              <div class="row" *ngFor="let info of arrayContact()?.controls; let i = index" [formGroupName]="i">
                <div class="col-md-3 mt-3">
                  <label class="detail-key">Tên người liên hệ</label>
                </div>
                <div class="col-md-3 form-group has-error mt-3">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(listContact, '[' + i + '].name') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" pInputText formControlName="name" />
                </div>
                <div class="col-md-6 mt-3">
                  <button
                    *ngIf="isUpdate && i !== 0"
                    type="button"
                    class="btn-outline btn-danger col-action ml-2"
                    title="Xóa"
                    (click)="removeInfo(i)"
                    style="float: right"
                  >
                    <em class="las la-minus-circle"></em>
                  </button>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.birthDay' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span *ngIf="!isUpdate" class="text-wrap">{{
                    getValueDateString(listContact, '[' + i + '].birthday')
                  }}</span>
                  <p-calendar
                    *ngIf="isUpdate"
                    formControlName="birthday"
                    dateFormat="dd/mm/yy"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    [showIcon]="true"
                    [maxDate]="today"
                    icon="las la-calendar-alt"
                  >
                  </p-calendar>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.phone' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(listContact, '[' + i + '].phone') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" class="form-control" pInputText formControlName="phone" />
                  <small
                    class="p-error"
                    *ngIf="getForm(i)?.controls?.phone?.errors?.onlyNumber && getForm(i)?.controls?.phone?.touched"
                    >Sai định dạng số điện thoại</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'fields.email' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error" (click)="sendMailToPerson(listContact, '[' + i + '].email')">
                  <span *ngIf="!isUpdate" class="text-wrap href-link">{{ getValue(listContact, '[' + i + '].email') }}</span>
                  <input *ngIf="isUpdate" maxlength="50" class="form-control" pInputText formControlName="email" />
                  <small
                    class="p-error"
                    *ngIf="getForm(i)?.controls?.email?.errors?.email && getForm(i)?.controls?.email?.touched"
                    >Sai định dạng email</small
                  >
                </div>
                <div class="col-md-3">
                  <label class="detail-key">{{ 'customer360.title.identificationPapers' | translate }}</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span *ngIf="!isUpdate" class="text-wrap">{{ getValue(listContact, '[' + i + '].idCard') }}</span>
                  <input *ngIf="isUpdate" maxlength="20" pInputText formControlName="idCard" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 detail-block mb-4">
          <div class="block-center mb-4"></div>
          <div class="row mt-3">
            <div class="filter filter-list no-gutters col-12 block-center">
              <div class="px-4">Thông tin kinh doanh</div>
            </div>
            <div class="px-4 col-12 mt-3">
              <div class="row px-4">
                <div class="col-md-3">
                  <label class="detail-key">Nhóm nợ max theo CIC</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'debtCIC') }}</span>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Số năm hoạt động</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="form">
                  <span class="text-wrap" *ngIf="!isUpdate">{{ getValue(data, 'numberYearOperation') }}</span>
                  <p-inputNumber
                    class="d-block"
                    formControlName="numberYearOperation"
                    maxlength="10"
                    [useGrouping]="false"
                    *ngIf="isUpdate"
                  ></p-inputNumber>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Tổng dư nợ(Triệu đồng)</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'amountLoan') }}</span>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Vốn điều lệ (Tỷ đồng)</label>
                </div>
                <div class="col-md-3 form-group has-error" [formGroup]="form">
                  <span class="text-wrap" *ngIf="!isUpdate">{{
                    formatCurrency(getValue(data, 'authorizedCapital'))
                  }}</span>
                  <input currencyInput maxlength="20" pInputText formControlName="authorizedCapital" *ngIf="isUpdate" />
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Tổng dư trái phiếu(Triệu đồng)</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'amountBonds') }}</span>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Số lượng TCTD có dư nợ vay</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'numberTCTDLoan') }}</span>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Thời điểm tra CIC</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'cicCheckTime') }}</span>
                </div>
                <div class="col-md-3">
                  <label class="detail-key">Sản phẩm gợi ý bán</label>
                </div>
                <div class="col-md-3 form-group has-error">
                  <span class="text-wrap">{{ getValue(data, 'suggestProduct') }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
