.lead-information-extended {
  .filter {
    height: 36px;
  }

  .flex-1 {
    flex: 1;
  }

  .filter-hearder {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    background-color: #ececf2;
    border-radius: 4px;
  }

  .ic-check {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    background-image: url(/assets/images/checkbig-green.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ic-x {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    background-image: url(/assets/images/checkx-big-red.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  button:hover {
    .ic-check {
      background-image: url(/assets/images/checkbig.svg);
    }
    .ic-x {
      background-image: url(/assets/images/checkx-big-white.svg);
    }
  }

  .col-action {
    font-size: 16px;
  }

  .button-disable {
    opacity: 0;
  }

  .p-inputnumber {
    width: 100%;
  }

  .href-link {
    color: #bbbbfd;
    text-decoration: none;
    &:hover{
      color: #1649ef;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
