@import '../../../../../../assets/styles/variable';

.campaign-create {
  .list__block {
    overflow-y: auto;
  }

  .title-info {
    margin-bottom: 1.75rem;
    h5 {
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .p-fileupload-choose {
    width: 100%;
    justify-content: center;
    border-color: $gray-400;
    border-radius: 4px;
    color: $primary;
    &:hover {
      background: none;
      border-color: $gray-400;
      color: $primary;
    }
  }
  .p-button-label {
    flex: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header {
    height: 50px;
    background: #EBF3FF;
    line-height: 50px;
  }

  .i-block {
    border-right: solid 1px #585858;
    padding: 0px 22px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    // font-size: 16px;
    .value {
        color: #141ED2;
    }

    &:last-child {
        border-right: none;
    }
  }

  .tab-content {
    height: calc(100% - 125px);
    overflow: auto;
    padding: 0px;
  }
}
