<div class="right-view kpi-rm-detail-sme">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.menu.detailRm' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-4">
              <div class="row">
                <div class="col-12">
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <h5 class="m-0">{{ 'kpi.menu.infoRm' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right"></div>
                  </div>
                </div>
                <div class="col-12 collapse show" id="detail">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.account_officer_code' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmCode }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.ehris_code' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.hrisCode }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.tenRM' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmName }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.grade' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.blockCode }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.rmGroup' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmTitleName }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.rm_level' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmLevelName }}</span>
                    </div>
                    <!-- Tháng -->
                    <ng-container *ngIf="period === 1">
                      <div class="col-md-2">
                        <label class="detail-key">{{ 'rm.fields.tdtc' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: customersInfo?.standardRatingColor }">{{
                          customersInfo?.standardScore
                          }}</span>
                      </div>

                      <div class="col-md-2">
                        <label class="detail-key">{{ 'rm.fields.xltc' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: customersInfo?.standardRatingColor }">{{
                          customersInfo?.standardRating
                          }}</span>
                      </div>

                      <ng-container *ngIf="!isArm">
                        <div class="col-md-2">
                          <label class="detail-key">{{ 'rm.fields.tdpg' | translate }}</label>
                        </div>
                        <div class="col-md-4 form-group">
                          <span class="text-wrap" [ngStyle]="{ color: customersInfo?.entrustRatingColor }">{{
                            customersInfo?.entrustScore
                            }}</span>
                        </div>

                        <div class="col-md-2">
                          <label class="detail-key">{{ 'rm.fields.xlpg' | translate }}</label>
                        </div>
                        <div class="col-md-4 form-group">
                          <span class="text-wrap" [ngStyle]="{ color: customersInfo?.entrustRatingColor }">{{
                            customersInfo?.entrustRating
                            }}</span>
                        </div>
                      </ng-container>
                    </ng-container>
                    <!-- End -->

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'kpi.menu.period' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <div class="row">
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton disabled="true" [value]="0" [(ngModel)]="period"> </p-radioButton>
                          <label class="ml-3">{{ 'kpi.menu.dayRm' | translate }}</label>
                        </div>
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton disabled="true" [value]="1" [(ngModel)]="period"> </p-radioButton>
                          <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.thoiDiem' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.businessDate }}</span>
                    </div>

                    <ng-container *ngIf="!period">

                      <div class="col-md-2">
                        <label class="detail-key">{{ 'kpiSme.totalStandardScore' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: getValue(customersInfo, 'standardRatingColor') }">{{
                          customersInfo?.standardScore }}</span>
                      </div>

                      <div class="col-md-2">
                        <label class="detail-key">{{ 'kpiSme.standardRating' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: getValue(customersInfo, 'standardRatingColor') }">{{
                          customersInfo?.standardRating }}</span>
                      </div>

                      <div class="col-md-2">
                        <label class="detail-key">{{ 'kpiSme.totalDistributionPoints' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: getValue(customersInfo, 'entrustRatingColor') }">{{
                          customersInfo?.entrustScore }}</span>
                      </div>

                      <div class="col-md-2">
                        <label class="detail-key">{{ 'kpiSme.classificationOfAssignment' | translate }}</label>
                      </div>
                      <div class="col-md-4 form-group">
                        <span class="text-wrap" [ngStyle]="{ color: getValue(customersInfo, 'entrustRatingColor') }">{{
                          customersInfo?.entrustRating }}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 detail-block">
              <div class="row">
                <div class="filter-top block-center-between col-md-12 mt-0">
                  <div class="filter-top__left">
                    <ng-container *ngIf="period === 1 && dateMonth !== ''">
                      <span class="px-4" style="color: red"
                      >{{ 'kpi.menu.dataInMonth' | translate }} : {{ dateMonth | date: 'dd/MM/yyyy' }}</span
                      >
                    </ng-container>
                  </div>
                  <div class="filter-top__right block-center">
                    <button class="btn btn--light-blue btn-icon--small" (click)="exportFile()">
                      <em class="las la-file-excel f-16"></em>
                    </button>
                  </div>
                </div>
                <div class="table__view group__view" *ngIf='!isLoading'>
                  <p-table
                    id="tableRmSme"
                    scrollHeight="flex"
                    [scrollable]="true"
                    columnResizeMode="expand"
                    [value]="customers"
                    [resizableColumns]="true"
                    sortField="order"
                    sortMode="single"
                    dataKey="kpiItemGroupName"
                    [expandedRowKeys]="expandedRows"
                  >
                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <!-- <col style="width: 60px" /> -->
                        <col style="width: 150px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <ng-container *ngIf='!period'>
                          <col style="width: 100px" />
                        </ng-container>
                        <col *ngIf="!isArm" style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <ng-container *ngIf='!period'>
                          <col style="width: 100px" />
                        </ng-container>
                        <col *ngIf="!isArm" style="width: 100px" />
                      </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <!-- <th scope="col" rowspan="2"></th> -->
                        <th scope="col">{{ 'kpiSme.targetName' | translate }}</th>
                        <th scope="col">{{ 'kpiSme.unit' | translate }}</th>
                        <th scope="col">{{ 'kpiSme.rate' | translate }}</th>
                        <th scope="col">{{ 'kpiSme.standard' | translate }}</th>
                        <ng-container *ngIf='!period'>
                          <th  scope="col">{{ 'kpiSme.assign' | translate }}</th>
                        </ng-container>
                        <th *ngIf="!isArm" scope="col">{{ 'kpiSme.assign' | translate }}</th>
                        <th scope="col">{{ 'kpiSme.result' | translate }}</th>
                        <th scope="col">{{ 'kpiSme.standardHt' | translate }}</th>
                        <ng-container *ngIf='!period'>
                          <th  scope="col">{{ 'kpiSme.assignHt' | translate }}</th>
                        </ng-container>
                        <th *ngIf="!isArm" scope="col">{{ 'kpiSme.assignHt' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded" >
                      <tr *ngIf="rowGroupMetadata[customer.kpiItemGroupName].index === rowIndex">
                        <td [attr.colspan]="!isArm ? 8 : 6">
                          <div style="float: left">
                            <button
                              type="button"
                              pButton
                              pRipple
                              [pRowToggler]="customer"
                              class="p-button-text p-button-rounded p-button-plain p-mr-2"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                            ></button>
                          </div>
                          <div style="float: left; margin-top: 12px">
                            <span class="p-text-bold p-ml-2">{{ customer.kpiItemGroupName }}</span>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-customer>
                      <tr>
                        <td class="" pResizableColumn>
                          {{ customer.kpiItemName }}
                        </td>
                        <td pResizableColumn>
                          {{ customer.kpiItemUnitName }}
                        </td>
                        <td class="text-center" pResizableColumn>
                          {{ formatValue(customer.rate) }}
                        </td>
                        <td class="text-center" pResizableColumn>
                          {{ formatValue(customer.standard) }}
                        </td>
                        <ng-container *ngIf='!period'>
                          <td class="text-center" pResizableColumn>
                            {{ formatValue(customer.entrust) }}
                          </td>
                        </ng-container>
                        <td *ngIf="!isArm" class="text-center" pResizableColumn>
                          {{ formatValue(customer.entrust) }}
                        </td>
                        <td class="text-center" pResizableColumn>
                          <span [ngStyle]="{ color: customer?.entrustColor }">{{ formatValue(customer.value) }}</span>
                        </td>
                        <td class="text-center" pResizableColumn>
                          <span [ngStyle]="{ color: customer?.entrustColor }">{{
                            formatValue(customer.standardPercent)
                            }}</span>
                        </td>
                        <ng-container *ngIf='!period'>
                          <td class="text-center" pResizableColumn>
                          <span [ngStyle]="{ color: customer?.entrustColor }">{{
                            formatValue(customer.entrustPercent)
                            }}</span>
                          </td>
                        </ng-container>
                        <td *ngIf="!isArm" class="text-center" pResizableColumn>
                          <span [ngStyle]="{ color: customer?.entrustColor }">{{
                            formatValue(customer.entrustPercent)
                            }}</span>
                        </td>

                      </tr>
                    </ng-template>
                    <ng-template *ngIf="isLoading" pTemplate="emptymessage" let-customer>
                      {{ 'messageTable.emptyMessage' | translate }}
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
