
<div class="campaign-content">
    <button class="btn btn--light-blue btn-small" mat-dialog-close (click)="create('INDIV')">
        {{ 'create_campaign_indiv' | translate }}
    </button>
    <button class="btn btn--light-blue btn-small" mat-dialog-close (click)="create('SME')">
        {{ 'create_campaign_sme' | translate }}
    </button>
</div>
