<div class='modal-header pb-4'>
  <div class='block-center-between'>
    <h5 class='m-0'>{{
      "customer360.menu.historyAssignment" | translate }} - {{ "customer360.title.customer" | translate }} ({{leadCode}}
      - {{
      fullName }})</h5>
  </div>
  <button (click)='closeModal()' class='close' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div class='modal-body history-assignment'>
  <app-loading *ngIf='isLoading'></app-loading>
  <div class='list__block'>
    <div class='table__view table-floor'>
      <ngx-datatable #table [footerHeight]='0' [headerHeight]='50' [messages]='messages'
                     [rows]='listData' [scrollbarH]='true' class='bootstrap expandable' columnMode='force' ngxDataTable
                     rowHeight='auto'
                     [groupRowsBy]="'leadBranchCode'"
      >

        <ngx-datatable-group-header>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="px-1 py-2 group-header-title">
              <button (click)="toggleExpandGroup(group)" class="datatable-tree-button">
                <em class="las" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></em>
              </button>
              <strong class="ml-2">{{ (group.value[0].leadBranchCode ?
                group.value[0].leadBranchCode +
                ' - ' : '') + (group.value[0].leadBranchName ? group.value[0].leadBranchName
                :
                '') }}</strong>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column [canAutoResize]='false' [draggable]='false' [resizeable]='false' [sortable]='false'
                              [width]='45' name=''>
          <ng-template ngx-datatable-cell-template>
            <span>{{ '' }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [draggable]='false' [sortable]='false' name="{{ 'fields.startDate' | translate }}"
                              prop='assignedDate'>
          <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
              }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [draggable]='false' [sortable]='false' name="{{ 'fields.endDate' | translate }}"
                              prop='endDate'>
          <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
              }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [draggable]='false' [sortable]='false' name="{{ 'fields.rmManager' | translate }}"
                              prop=''>
          <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
						<span title='{{ row.rmManager }}'>
							{{ row.rmManager }}
						</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [draggable]='false' [sortable]='false' name="{{ 'fields.assignee' | translate }}"
                              prop='assignedBy'>
          <ng-template let-value='value' ngx-datatable-cell-template>
            <span title='{{ value }}'>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [draggable]='false' [sortable]='false' name="{{ 'fields.modifiedBy' | translate }}"
                              prop='updatedBy'>
          <ng-template let-value='value' ngx-datatable-cell-template>
            <span title='{{ value }}'>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [draggable]='false' [resizeable]='false' [sortable]='false'
                              name="{{ 'fields.modifiedDate' | translate }}" prop='updatedDate'>
          <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
						<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
              }}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class='modal-footer modal-footer--grey d-block'>
  <div class='text-right'>
    <button (click)='closeModal()' class='btn btn--red'>{{ 'btnAction.cancel' | translate }}</button>
  </div>
</div>

