<div class="bidding">
  <!-- <app-loading *ngIf="loading"></app-loading> -->
  <div class="content__top block-center-between mx-0">
    <div class="content__top-left block-center">
      <h4 class="mb-0 page--title">Đấu thầu</h4>
    </div>
  </div>
  <div>
    <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="false" [scrollbarH]="true"
      [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
      [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">
      <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
        [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="soTBMT"
        name="{{ 'customer360.title.number_of_TBTM' | translate }}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="tenChuDauTu"
        name="{{ 'customer360.title.name_of_owner' | translate }}" [width]='200'>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="tenMoiThau"
        name="{{ 'customer360.title.name_of_bid_solicitor' | translate }}" [width]='200'>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="tenGoiThau"
        name="{{ 'customer360.title.bidding_package_name' | translate }}" [width]='300'>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="giatriGoiThau"
        name="{{ 'customer360.title.package_value' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="thoiDiemDangTai"
        name="{{ 'customer360.title.posting_time' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="thoiGianThucHien"
        name="{{ 'customer360.title.duration_of_contract' | translate }}" [width]='180'>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [draggable]="false" prop="loaiDanhSach"
        name="{{ 'customer360.title.list_type' | translate }}">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <span title="{{ value }}">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
          <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
            [hidden]="false" (change)="table.onFooterPage($event)">
          </app-pager-ngx-datatable>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>