<div class="chart customer-overview-chart">
  <div class="mb-0 chart__header block-center-between">
    <div class="chart__header-left">
      <div class="f-16 text-black chart__header-title">Tổng quan khách hàng</div>
      <div class="chart__header-title-total ">Tổng số lượng KH: <span class="font-weight-bold">{{data?.totalCustomer}}</span></div>
    </div>
    <div class="chart__header-right">
      <img
        *ngIf="!isTable"
        alt="icon-table"
        src="assets/images/ic_table.svg"
        class="img-icon"
        (click)="switchChart()"
      />
      <img
        *ngIf="isTable"
        alt="icon-chart"
        src="assets/images/ic_chart-horizontion.svg"
        class="img-icon"
        (click)="switchChart()"
      />
    </div>
  </div>
  <div class="mb-0 row form-group">
    <div class="form-group col-md-4"></div>
    <div class="pr-0 form-group col-md-4">
      <p-dropdown
        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
        [options]="commonData.groupCustomer"
        class="d-block pr-3"
        appendTo="body"
        autoZIndex="false"
        baseZIndex="10000"
        optionLabel="name"
        optionValue="value"
        [(ngModel)]="groupCustomer"
        (onChange)="search()"
      ></p-dropdown>
    </div>
    <div class="form-group col-md-4">
      <p-dropdown
        emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
        [options]="commonData.segment"
        class="d-block pr-3"
        appendTo="body"
        autoZIndex="false"
        baseZIndex="10000"
        optionLabel="name"
        optionValue="value"
        [(ngModel)]="segment"
        (onChange)="search()"
      ></p-dropdown>
    </div>


  </div>
  <ng-container *ngIf="!isLoading && data?.data && data?.data?.length > 0">
    <div class="chart__body">
      <div
        #myChart
        *ngIf="!isTable"
        echarts
        [options]="option"
        style="height: 100%"
      ></div>
      <div *ngIf="isTable" class="pt-5 pl-2 table__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap"
          [rows]="data?.data"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          rowHeight="auto"
          [virtualization]="false"
          [externalPaging]="false"
        >
          <ngx-datatable-column
            [sortable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="50"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="ageGroup"
            [canAutoResize]="true"
            name="Độ tuổi"
            [resizeable]="true"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="customer"
            [resizeable]="true"
            name="Số lượng KH"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="activeCustomer"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Số lượng KH active"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="activeRateCustomer"
            [resizeable]="true"
            [canAutoResize]="true"
            name="Tỷ lệ active(%)"
          >
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div class="block-center">
                <label >
                  {{formatNumber(value)}}
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <div class="chart__legend text-right">Dữ liệu cập nhật ngày {{data?.dsnapshotDate}}</div>
  </ng-container>
  <ng-container *ngIf="!isLoading && (!data?.data || data?.data?.length == 0)">
    <div class="chart__empty">
      <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
    </div>
  </ng-container>
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!--  <app-loading *ngIf="isLoading"></app-loading>-->
</div>

