.app-create-edit-selling {
  .modal-footer {
    background-color: white;
  }
  .modal-dialog {
    max-width: 650px;
    padding-top: 100px;
  }
  .checkbox {
    max-width: 100%;
  }
  .assignee {
    flex-wrap: wrap !important;
  }
  .item-assignee {
    position: relative;
  }
  .la-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1rem;
    color: #ee4d4d;
    background: #ff808b;
    border-radius: 20%;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .btn-checkList {
    padding: 3px;
    border-radius: 4px;
  }

  .background-green:hover {
    background: #00ff73;
    border: 1px solid #00ff73;
  }

  .background-yellow:hover {
    background: #fc9f00;
    border: 1px solid #fc9f00;
  }

  .background-red:hover {
    background: #ff0015;
    border: 1px solid #ff0015;
  }

  .p-inputnumber {
    width: 100%;
  }
}

.p-mr-2 {
  &:hover {
    cursor: pointer;
  }
}
