<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{title}}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-task" [formGroup]="form">
    <div class="row">
      <div class="pr-0 col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.productCode' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listProduct"
          placeholder=" "
          class="d-block mb-10"
          formControlName="productCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="31"
          (onChange)="onChangeProduct($event)"
        ></p-dropdown>
      </div>
      <div class="col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.status' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          formControlName="status"
          [options]="listStatusOpp"
          placeholder=" "
          class="d-block mb-10"
          optionLabel="displayName"
          optionValue="code"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="row mt-0">
      <div class="pr-0 col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.values' | translate }}</label>
        <p-inputNumber
          maxlength="21"
          class="d-block p-inputnumber-parent"
          formControlName="amount"
        ></p-inputNumber>
      </div>
      <div class="col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.currency' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listCurrencies"
          placeholder=" "
          class="d-block mb-10"
          formControlName="currency"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
    <div class="row mt-0">
      <div class="pr-0 col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndiv.label.source' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listSource"
          class="d-block"
          [filter]="false"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="source"
          optionLabel="name"
          optionValue="code"
          [virtualScroll]="true"
          [itemSize]="31"
        ></p-dropdown>
      </div>

      <div class="col-md-6 form-group mb-0 has-error" >
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.branch' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listBranches"
          placeholder=" "
          class="d-block mb-10"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="branchCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
          (onChange)="onChangeBranch($event)"
        ></p-dropdown>
      </div>
    </div>
    <div class="row mt-0">
      <div class="pr-0 col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.introducer' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listPresenter"
          placeholder=" "
          class="d-block mb-10"
          formControlName="guideHrsCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="guideHrsCode"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="31"
        ></p-dropdown>
      </div>
      <div class="col-md-6 form-group mb-0 has-error">
        <label class="mb-0">Người xử lý</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listRmManager"
          placeholder=" "
          class="d-block mb-10"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="31"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="memberHrsCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="memberHrsCode"
        ></p-dropdown>
      </div>
    </div>
    <div class="row mt-0">
      <div class="pr-0 col-md-6 form-group mb-0 has-error">
        <label class="mb-0">{{ 'sellingOppIndivDetail.tab1.left.note' | translate }}</label>
        <textarea
          class="form-control"
          [maxlength]="500"
          rows="5"
          type="text"
          formControlName="note"
        ></textarea>
      </div>
      <div class="col-md-6 form-group mb-0 has-error" *ngIf="form.controls.source.value === 'SMARTBANK'">
        <label class="mb-0">{{ 'sellingOppIndiv.label.smartbank' | translate }}</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listSmartBank"
          placeholder=" "
          class="d-block"
          [filter]="true"
          emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          formControlName="atmId"
          optionLabel="SMB_NM"
          optionValue="ATM_ID"
          [virtualScroll]="true"
          [itemSize]="31"
        ></p-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button *ngIf="!isEditDisplay" class="btn btn--light-blue" (click)="resetModal()">{{ 'btnAction.retype' | translate }}</button>
    <button [disabled]="!this.form.valid" class="btn btn--light-blue ml-3" (click)="confirmDialog()">{{ 'btnAction.save' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
