<div class="right-view extensions-salekit-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Salekit</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <!--      <app-loading *ngIf="isLoading"></app-loading>-->
      <div class="content-body__list">
        <div class="list__block pl-4 pr-4">
          <div style="border-radius: 12px; height: fit-content" class="background-white row mb-4">
            <div class="flex-col">
              <label>{{ 'assignLDRM.label.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                [options]="listDivision"
                placeholder=" "
                class="d-block ml-5"
                [(ngModel)]="customerType"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                appendTo="body"
                autoZIndex="false"
                baseZIndex="10000"
                optionLabel="displayName"
                optionValue="code"
                (onChange)="changeBlock($event)"
              ></p-dropdown>
            </div>
            <div class="col-12 detail-block">
              <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
                <mat-tab *ngFor="let item of listFunction" label="{{ item.name }}"></mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <!-- <div *ngIf="isUpload" class="flex-grow-1 block-table"> -->
          <div class="row flex-1" *ngIf="listCategoryProduct && listCategoryProduct.length > 0; else noData">
            <div class="p-0 col-md-2 category-container ">
              <ul class="m-0 p-0 category-list left-bar ">
                <li
                  *ngFor="let item of listCategoryProduct"
                  [ngClass]="categoryId === item.id ? 'active-opp' : 'opp-detail'"
                  class="category-item"
                  (click)="getCategoryProduct(item)"
                >
                  <span class="pl-3">{{item.name}}</span>
                </li>
              </ul>
            </div>
            <div class="p-0 col-md-2 category-container ">
              <ul class="m-0 p-0 category-list left-bar">
                <li
                  *ngFor="let item of listProduct"
                  [ngClass]="product?.id === item.id ? 'active-opp' : 'opp-detail'"
                  class="category-item"
                  (click)="viewDetailProduct(item)"
                >
                  <span class="pl-3">{{item.shortName}}</span>
                </li>

              </ul>
            </div>
            <div class="pr-0 col-md-8 product-content" *ngIf="product">
              <div class="title-product">
                <div class="mb-3 title-detail">
                  <label class="mb-0 title-product-header mr-1">{{product.name}}</label>
                  <p>Cập nhật lần cuối: <b>{{product.upDatedDate}}</b> - Ngày hiệu lực: <b>{{product.effectiveDate}}</b>
                  </p>
                </div>
                <div class="compare-btn" *ngIf="isViewCompareButton()">
<!--                  <label style="margin: 15px 0px 12px 5px; color: #bbbbfd;"-->
<!--                         (click)="compareProduct(product)">{{'extensions.salekit.compare' | translate}}</label>-->
                  <a href="javascript:void(0)" style="margin: 15px 0px 12px 5px; color: #bbbbfd; font-weight: 550;" (click)="compareProduct(product)">{{'extensions.salekit.compare' | translate}}</a>
                  <button class="mr-5 btn-icon"
                          title="{{ 'extensions.salekit.compare' | translate }}"
                          (click)="compareProduct(product)">
                    <em class="las custom-button-compare f-16"></em>
                  </button>
                </div>
              </div>
              <div class="attribute-product" >
                <div class="attribute-detail mt-2" *ngIf="product && product.attributes.length > 0">
                  <div style="border-radius: 4px; background-color: white" class="p-3 mb-3">
                    <div *ngFor="let attribute of product.attributes">
                      <ng-container *ngIf="attribute?.content">
                        <h6 style="border-bottom: 1px solid #EFEFEF;" class="mt-3">{{attribute.name}}</h6>
                        <div [innerHTML]="attribute.content"
                             class="attribute-detail-body mt-1"></div>

                      </ng-container>

                    </div>
                  </div>
                </div>
                <hr>
                <div class="file-product p-8 " *ngIf="product && product.attachments.length > 0 ">
                  <h6 class="pt-2">File đính kèm</h6>
                  <hr>
                  <div>
                    <div class="file-detail mt-3" *ngFor="let file of product.attachments">
                      <div class="mr-4 d-flex-row w-75" style="text-align: center; margin-top: auto; margin-bottom: auto">
                        <img src="/assets/images/doc.png" alt="" width="35px" height="35px">
                        <p class="ml-4"
                           style="color: #bbbbfd !important; text-align: left; max-width: 1000px; white-space: normal !important;">{{file.name}}</p>
                      </div>
                      <div class="w-25" style="text-align: right">
                        <button class="mr-1 btn-icon" (click)="downloadFile(file)">
                          <em class="next_custom"></em>
                        </button>
                      </div>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>

              <div style="text-align: 'center'" class="mt-5"
                   *ngIf="!product || (product.attachments.length === 0 && product.attributes.length === 0)">
                Không có dữ liệu
              </div>
            </div>
          </div>
          <ng-template #noData>
            <div style="text-align: 'center'" class="mt-5">
              Không có dữ liệu
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
