@import 'variable';
.extensions-salekit-view {
  //font-family: Lato;
 // font-size: 16px;
  font-family: "Lato", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  white-space: break-spaces;
  .scroll-view {
    overflow: scroll;
  }

  //.content-body__list {
  //  display: flex;
  //  flex-direction: column;
  //
  //}
  .content-body {
    background-color: $body-bg;
    //padding: 0;
  }
  .d-flex-row {
    display: flex;
    flex-direction: row !important;
    align-items: end;
  }

  .block-table {
    display: flex;
  }

  .detail-block {
    //background: white;
    border-radius: 12px;
    padding: 1.5rem;
  }

  .category-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    white-space: break-spaces;
    height: 100%;
    border-radius: 12px;
  }

  .category-list{
    border-right: 1px solid #EFEFEF;
    overflow-y: auto;
    scrollbar-width: none;
    direction: unset!important;
  }

  .category-item {
    border-bottom: 1px solid #EFEFEF;
    list-style-type: none;
    min-height: 60px;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #EFF2FE !important;
      color: #bbbbfd !important;
    }
  }
  .title-product {
  //  min-height: 60px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
  }
  .title-product-header {
    font-weight: 700;
    font-size: 16px;
    max-width: 1000px;
    white-space: normal !important;
  }
  .compare-btn{
    height: 40px;
    width: 90px;
    background: #FFFFFF;
    display: flex;
    border-radius: 10.0556px;
    align-items: center;
    justify-content: space-between;
  }

  .attribute-product{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 12px;
  }

  .attribute-detail {
    background-color: #fff;
    border-radius: 10px;
    flex: 1 1 auto;

  }

  .attribute-detail-body {
    white-space: break-spaces;
  }

  .file-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: #fff;
    //max-height: 150px;
    //overflow-y: auto;
  }
  .file-download{
    margin: 5px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #EFF2FE;
    text-align: center;
  }
  .next_custom {
    background-image: url("src/assets/images/download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 16px;
    height: 16px;
    padding: 25px;
  }
  .custom-button-compare {
    background-image: url("src/assets/images/compare.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
 //   margin: 0 !important;
    margin: 12px 0px 12px 8px;
 //   text-align: center;
  }

  .flex-1 {
    flex: 1;
    overflow: hidden;
  }

  .product-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .active-opp {
    background-color: #eff2fe!important;
    color: #bbbbfd !important;
  }

  .opp-detail {
    cursor: pointer;
  }
  .flex-col {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    label {
      font-size: 13px;
    }
  }
  .file-product{
    background-color: #fff;
    border-radius: 10px;
  }
  .compare-btn a:hover{
    text-decoration: none;
  }
}





