<div class="right-view customer-360-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em>
        {{ 'btnAction.back' | translate }}
      </button>
      <button (click)="showSideBar()" class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ 'customer360.menu.customer360' | translate }}/{{ 'customer360.title.customerInfo' | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <button
        *ngIf="isShowCreateOppBtn"
        title="{{ 'sellingOppIndiv.tooltip.createSaleOpp' | translate }}"
        (click)="createOppKHCN()"
        class="btn--light-blue btn-icon--small btn ml-2"
      >
        <em class="icon-sale-opp2 i-16"></em>
      </button>
      <button class="btn--light-blue btn-icon--small btn" title="{{ 'title.sendMail' | translate }}" (click)="mailTo()">
        <em class="las la-envelope f-16"></em>
      </button>
<!--      <button class="btn--light-blue btn-icon&#45;&#45;small btn ml-2" title="{{ 'title.createActivity' | translate }}"-->
<!--              (click)="createActivity()">-->
<!--        <em class="icon-create-activity i-16"></em>-->
<!--      </button>-->
      <button *ngIf="isShowChat"
              type="button"
              title="Chat"
              (click)="createGroupChat11()"
              class="btn--light-blue btn-icon--small btn btn-email"
      >
        <em class="las la-chat-small f-16"></em>
      </button>

      <button
        class="btn--light-blue btn-icon--small btn ml-2"
        title="{{ 'title.createActivity' | translate }}"
        (click)="createActivity()"
      >
        <em class="icon-create-activity i-16"></em>
      </button>
      <button class="btn--light-blue btn-icon--small btn ml-2" title="{{ 'title.createTask' | translate }}"
              (click)="createTaskTodo()">
        <em class="icon-create-todo i-16"></em>
      </button>
    </div>
  </div>
  <div class="content bg-transparent customer-360-indiv-detail">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-3">
              <div class="row">
                <div class="col-12">
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <h5 class="m-0">{{ 'customer360.title.customerInfo' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                  </div>
                </div>
                <div class="col-12 collapse show" id="detail">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.customerName'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.fullName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.gender'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ generateGender(model?.customerInfo) }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.phoneMobile'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span *ngIf="!is_edit">
                        {{ model?.customerInfo?.phoneDisplay }}
                        <span *ngIf="listPhone.length > 0" class="contact-count px-2" [ngbTooltip]="tooltipPhone"
                              [autoClose]="'outside'" triggers="click" placement="bottom-left" container="body"
                              tooltipClass="search-tooltip">
                          {{ listPhone.length }}
                          <em class="las la-angle-down ml-2"></em>
                        </span>
                      </span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.cmt_passport'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.identifiedNumber }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.email'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span *ngIf="!is_edit">
                        {{ model?.customerInfo?.emailDisplay }}
                        <span *ngIf="listEmail.length > 0" class="contact-count px-2" [ngbTooltip]="tooltipEmail"
                              [autoClose]="'outside'" triggers="click" placement="bottom-left" container="body"
                              tooltipClass="search-tooltip">
                          {{ listEmail.length }}
                          <em class="las la-angle-down ml-2"></em>
                        </span>
                      </span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.ageGroup'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.ageGroup }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.nationality'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.nationality }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.dateOpenCode'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.openCodeDate }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.transactionFrequency'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.customerGroupName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.maritalStatus'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                            <span class="text-wrap"
                                  *ngIf="!is_edit">{{ generateMarialStatus(model?.customerInfo) }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <!-- <div class="col-md-12 form-group">
                    </div> -->
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.customerCode'| translate }} (CIF)</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.code }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.branchOpenCode'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.branchCode + ' - ' +
                      model?.systemInfo?.branchName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.customerType'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.accountType }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.status'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.status }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.segment'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.customerInfo?.customerSegment }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.sector'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.sector
                        }}-{{model?.systemInfo?.sectorName}}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key">{{'fields.private_priority'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ model?.systemInfo?.priorityName }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <div class="col-md-2" *ngIf="is_show">
                      <label class="detail-key"
                             style="white-space: pre-wrap;">{{'fields.rmAssignToManage'| translate
                        }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error" *ngIf="is_show">
                      <span class="text-wrap" *ngIf="!is_edit">{{ rmManager }}</span>
                      <input class="form-control" type="text" uppercase maxlength="50" *ngIf="is_edit"/>
                    </div>
                    <!-- TODO -->

                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                          <button class="btn btn-small btn-outline-primary" (click)="show()" *ngIf="!is_show">Xem
                            thêm
                          </button>
                          <button class="btn btn-small btn-outline-primary" (click)="close()" *ngIf="is_show">Thu
                            gọn
                          </button>
                        </div>
                        <div class="col-md-5"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 detail-block mb-3">
              <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tab_index">
                <mat-tab label="{{ 'customer360.title.info360' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.productService' | translate }}"></mat-tab>
                <mat-tab label="{{ 'customer360.title.saleManager' | translate }}"></mat-tab>
              </mat-tab-group>
            </div>

            <div class="col-12 detail-block mb-4" *ngIf="tab_index === 0">
              <div class="row mt-3">
                <div class="filter filter-list no-gutters col-12">
                  <div class="px-5">{{ 'customer360.title.detailInfo' | translate }}</div>
                </div>
                <div class="px-5 col-12 mt-3">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.birthDay'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.businessInfo?.dateofbrith }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.address'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.businessInfo?.address }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.phoneHome'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.businessInfo?.phone }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.faxHome'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.businessInfo?.fax }}</span>
                    </div>
                  </div>
                </div>
                <div class="px-5 col-12 mt-3 block-center">
                  <div class="px-4 text-black font-weight-bold">
                    {{ 'customer360.title.identificationPapers' | translate }}
                  </div>
                  <div>
                    <span class="contact-count ml-2 px-2" [ngbTooltip]="tooltipIdentification" [autoClose]="'outside'"
                          triggers="click" placement="bottom-left" container="body"
                          tooltipClass="identification-tooltip">
                      {{ identificationPapers.length }}
                      <em class="las la-angle-down ml-2"></em>
                    </span>
                  </div>
                </div>
                <div class="px-5 col-12 mt-3">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.identificationPaperType'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ identificationPapers.length > 0 ?
                        identificationPapers[0].identificationPaperType : '' }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.number'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ identificationPapers.length > 0 ? identificationPapers[0].number : ''
                        }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.issueDate'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ identificationPapers.length > 0 ? identificationPapers[0].issueDate :
                        '' }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.issuePlace'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ identificationPapers.length > 0 ? identificationPapers[0].issuePlace :
                        '' }}</span>
                    </div>
                  </div>
                </div>
                <div class="px-5 col-12 mt-3 block-center">
                  <div
                    class="px-4 text-black font-weight-bold">{{ 'customer360.title.careerInfo' | translate }}</div>
                </div>
                <div class="px-5 col-12 mt-3">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.career'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.jobInfo?.job }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.salaryCompany'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.jobInfo?.salaryCoName }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.income'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.jobInfo?.salary | number: '1.0-0'}}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key" style="white-space: pre-wrap;">{{'fields.averageSalary3months'|
                        translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.jobInfo?.salary3month | number: '1.0-0' }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.payroll'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ getPayroll(model, 'jobInfo.payroll') }}</span>
                    </div>
                  </div>
                </div>
                <div class="px-5 col-12 mt-3 block-center">
                  <div class="px-4 text-black font-weight-bold">{{ 'customer360.title.other' | translate }}</div>
                </div>
                <div class="px-5 col-12 mt-3">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.relationshipTimeWithMB'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ generateRelationshipTimeWithMB(model?.customerInfo) }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{'fields.currentDebtGroup'| translate }}</label>
                    </div>
                    <div class="col-md-4 form-group has-error">
                      <span class="text-wrap">{{ model?.businessInfo?.maxDebtGroupCic }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-100" *ngIf="tab_index === 1">
              <app-customer-product [listBranchCode]="listBranchCode" [customerCode]="code"
                                    (loading)="showLoading($event)" #customerProduct>
              </app-customer-product>
            </div>

            <div class="w-100" *ngIf="tab_index === 2">
              <customer-activity-list [listBranchCode]="listBranchCode" [customerCode]="model?.systemInfo?.code"
                                      #customerActivity>
              </customer-activity-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tooltipPhone>
  <div class="text-left cus-phone-tooltip">
    <div class="form-custom-inline form-group mb-0" *ngFor="let item of listPhone; index as i">
      <label class="label-tooltip detail-key">{{ item.label }}</label>
      <div class="item-field">
        <div *ngFor="let phone of item.lstPhone" class="text-wrap mb-2">{{ phone }}</div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #tooltipEmail>
  <div class="text-left cus-email-tooltip">
    <div class="form-custom-inline form-group mb-0" *ngFor="let item of listEmail">
      <label class="label-tooltip detail-key">{{ item.label }}</label>
      <div class="item-field">
        <div *ngFor="let email of item.lstEmail" class="text-wrap mb-2">{{ email }}</div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #tooltipIdentification>
  <div class="text-left">
    <ngx-datatable ngxDataTable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
                   [rowHeight]="50" [scrollbarV]="false" [scrollbarH]="true" [rows]="identificationPapers"
                   [virtualization]="false">
      <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                            [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span>{{ rowIndex + 1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="identificationPaperType"
                            name="{{'fields.identificationPaperType'| translate }}"
                            [sortable]="false" [draggable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="number" name="{{'fields.number'| translate }}" [sortable]="false"
                            [draggable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="issueDate" name="{{'fields.issueDate'| translate }}" [sortable]="false"
                            [draggable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column prop="issuePlace" name="{{'fields.issuePlace'| translate }}" [sortable]="false"
                            [draggable]="false">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
