<div class="customer__activity-list" id="customer__activity-list">
  <app-loading *ngIf="isLoading"></app-loading>
	<div class="filter-top block-center-between m-0 p-4">
		<div class="filter-top__left">
			<button class="btn btn-small btn--light-blue" (click)="switchTab()">
				{{ 'fields.activity' | translate }}
			</button>
			<!-- <button class="btn btn-small btn-light ml-2" (click)="switchTab()">
				{{ 'fields.product' | translate }}
			</button> -->
		</div>
		<div class="filter-top__right d-flex">
		</div>
	</div>
	<div class="p-4">
		<div class="row">
			<div class="col-md-3 form-group">
				<label>{{ 'fields.activityType' | translate }}</label>
				<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
					[options]="listActivityType" class="d-block" [(ngModel)]="params.activityType" [filter]="false"
					emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" appendTo="body"
					autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
				</p-dropdown>
			</div>
			<div class="col-md-3 form-group">
				<label>{{ 'fields.executionTime' | translate }}</label>
				<p-calendar class="d-block" [(ngModel)]="params.dateStart" dateFormat="dd/mm/yy" appendTo="body"
					autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt">
				</p-calendar>
			</div>
			<div class="col-md-3 form-group">
				<label>{{ 'fields.campaign' | translate }}</label>
				<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
					[options]="listCampaign" class="d-block" [(ngModel)]="params.campaignId" [filter]="true"
					[virtualScroll]="true" [itemSize]="31"
					emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" appendTo="body"
					autoZIndex="false" baseZIndex="10000" optionLabel="displayName" optionValue="id"></p-dropdown>
			</div>
			<div class="col-md-3 form-group block-end">
				<button class="btn--light-blue btn-small btn btn-search" (click)="search(true)">
					{{'btnAction.search' | translate}}
				</button>
			</div>
		</div>
	</div>
	<div class="table__view">

		<ngx-datatable ngxDataTable #tableActivity class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
			[headerHeight]="40" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
			[virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
			[offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
			(activate)="onActive($event)" [messages]="messages">

			<ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.order' | translate }}"
				[width]="40" [canAutoResize]="false">
				<ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="activityType" [sortable]="false" [draggable]="false"
				name="{{ 'fields.activityType' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ getActivityTypeName(value) }}">{{ getActivityTypeName(value) }}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="createdDate" [sortable]="false" [draggable]="false"
				name="{{ 'fields.createdDate' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="dateStart" [sortable]="false" [draggable]="false"
				name="{{ 'fields.executionTime' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ value | date: 'dd/MM/yyyy HH:mm' }}">{{ value | date: 'dd/MM/yyyy HH:mm' }}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="activityResult" [sortable]="false" [draggable]="false"
				name="{{ 'fields.result' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ getActivityResultName(value) }}">{{ getActivityResultName(value) }}</span>
				</ng-template>
			</ngx-datatable-column>

      <ngx-datatable-column prop="productName" [sortable]="false" [draggable]="false"
                            name="Sản phẩm">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

			<ngx-datatable-column prop="createdBy" [sortable]="false" [draggable]="false"
				name="{{ 'fields.performer' | translate }}">
				<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
					<span title="{{ row.rmCode + ' - ' + row.rmFullName }}">{{ row.rmCode + ' - ' + row.rmFullName
						}}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="branch" [sortable]="false" [draggable]="false"
				name="{{ 'fields.agency' | translate }}">
				<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
					<span title="{{ row.rmBranchCode + ' - ' + row.rmBranchName }}">{{ row.rmBranchCode + ' - ' +
						row.rmBranchName }}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="note" [sortable]="false" [draggable]="false"
				name="{{ 'fields.note' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ value }}">{{ value }}</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column prop="campaignId" [sortable]="false" [draggable]="false"
				name="{{ 'fields.campaign' | translate }}">
				<ng-template let-value="value" ngx-datatable-cell-template>
					<span title="{{ getCampaign(value) }}">{{ getCampaign(value) }}</span>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
				[sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
				<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
					<div class="block-center column-action">
						<button *ngIf="isUpdate(row)" type="button" class="btn-outline"
							(click)="edit(row);$event.stopPropagation()">
							<em class="las la-edit"></em>
						</button>
						<button *ngIf="isDelete(row)" type="button" class="btn-outline ml-2"
							(click)="delete(row);$event.stopPropagation()">
							<em class="las la-trash-alt"></em>
						</button>
					</div>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-footer>
				<ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
					let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
					<app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
						[hidden]="false" (change)="tableActivity.onFooterPage($event)">
					</app-pager-ngx-datatable>
				</ng-template>
			</ngx-datatable-footer>

		</ngx-datatable>
	</div>
</div>
