<div class="modal-body">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Details</a
          >
          <a
            class="nav-item nav-link"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Opportunities</a
          >
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <form class="mt-5">
            <div class="row">
              <div class="col form-group">
                <label>{{ data.name }}</label>
                <input class="form-control" type="text" placeholder="Start typing.." />
              </div>
              <div class="col form-group">
                <label>Description</label>
                <input class="form-control" type="text" placeholder="Start typing.." />
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
