.p-inputtext.ng-dirty.ng-invalid {
  border-color: #f44336;
}

.img-content {
  text-align: center;
  max-width: 100%;
  max-height: 400px;

  .c-img {
    // max-width: 100%;
    // width: 500px;
    // max-height: 100%;
    // height: 330px;
    max-width: 500px;
    max-height: 330px;
    cursor: pointer;
  }
}

.text-name {
  text-overflow: ellipsis;
  /* max-width: 200px; */
  overflow: hidden;
}

.p-inputtext {
  line-height: 50px;
}

.PEditor__Wrapper {
  display: inline-block !important;
}

