<div class="form-content" *ngIf="form" style="display: flex; flex-direction: column; height: 100%">
  <!-- <app-loading *ngIf="isLoading"></app-loading> -->
  <div class="row" [formGroup]="form">
    <div class="col-md-6 form-group has-error">
      <label class="mb-0">{{ 'Tên' | translate }} <span class="text-red">(*)</span></label>
      <input pInputText placeholder="" [maxlength]="200" type="text" class="d-block" formControlName="name"
             maxlength="200"/>
      <div *ngIf="form.get('name').errors && (isFirstChange || form.get('name').touched)" class="invalid-tooltip">
        <div *ngIf="form.get('name').errors.duplicated">
          {{ 'đã tồn tại tên ảnh này' | translate }}
        </div>
        <div *ngIf="form.get('name').errors.required">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
    </div>

    <div class="col-md-6 form-group has-error">
      <label class="mb-0">{{ 'fields.orderNumber' | translate }} <span class="text-red">(*)</span></label>
      <p-inputNumber class="d-block" styleClass="w-100" min="1" maxlength="2" formControlName="priority"
                     (input)="onPress($event)"></p-inputNumber>
      <div *ngIf="form.get('priority').errors && (isFirstChange || form.get('priority').touched)"
           class="invalid-tooltip">
        <div *ngIf="form.get('priority').errors.duplicated">
          {{ 'trùng số thứ tự' | translate }}
        </div>
        <div *ngIf="form.get('priority').errors.required">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="baseForm.type === 'poster'" class="row" [formGroup]="form">
    <div class="col-md-6 form-group has-error">
      <label class="mb-0">{{'kpi.fields.active_time' | translate}} - {{'fields.fromDate' | translate}} <span
        class="text-red">(*)</span></label>
      <p-calendar
        [showIcon]='true'
        appendTo='body'
        class='d-block'
        dateFormat='dd/mm/yy'
        formControlName='startDate'
        icon='las la-calendar-alt'
        readonlyInput='true'
      >
      </p-calendar>
      <div class="invalid-tooltip"
           *ngIf="form.get('startDate').errors?.required">{{'validationMessage.required' | translate}}</div>
    </div>
    <div class="col-md-6 form-group has-error">
      <label class="mb-0">{{'fields.toDate' | translate}} <span class="text-red">(*)</span></label>
      <p-calendar class="d-block" formControlName="endDate" dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
                  baseZIndex="10000" [showIcon]="true" readonlyInput='true' icon="las la-calendar-alt">
      </p-calendar>
      <div class="invalid-tooltip"
           *ngIf="form.get('endDate').errors?.required">{{'validationMessage.required' | translate}}</div>
    </div>
  </div>
  <div class="row" *ngIf="baseForm.type === 'poster'">
    <div class="col-md-6 form-group has-error">
      <label class="mb-0">{{'rm.fields.channelAvailable' | translate}} <span class="text-red"> (*)</span></label>
      <div>
        <p-multiSelect [disabled]="isDisabled" [options]="listChannel" optionLabel="name" optionValue="code"
                       [(ngModel)]="selectedChannel" [filter]="false" (onChange)="checkViewAppChannel()"></p-multiSelect>
        <!--          [(ngModel)]="selectedChannel"-->
      </div>
    </div>
    <div class="col-md-6 form-group has-error" [formGroup]="form">
      <label class="mb-0">{{'rm.fields.maxViewInDay' | translate}} <span class="text-red"> (*)</span></label>
      <p-inputNumber class="d-block" min="1" styleClass="w-100" formControlName="numberOfDisplay"></p-inputNumber>
    </div>
    <!--    <div *ngIf="form.get('numberOfDisplay')?.errors?.required">{{'validationMessage.required' | translate}}</div>-->
  </div>

  <div >
    <div style="color: red; font-size: 12px; margin-bottom: 5px">(Yêu cầu up file ảnh định dạng: png, jpg, jpeg, gif)
      (*)
    </div>
    <div>

      <button [disabled]="isDisabled" class="btn btn--light-blue btn-small" (click)="inputFile.click()">Chọn file</button>
      <input #inputFile type="file" style="display: none;" (change)="changeFile($event)"
             accept="image/png,image/jpg,image/jpeg,image/gif"/>
      <span class="text-red" *ngIf="isFirstChange && !form?.controls.image?.value"> Chưa chọn ảnh!</span>
    </div>

    <div class="img-content mt-1">
      <img class="c-img" (click)="previewBanner()" *ngIf="selectedImage" [src]="selectedImage" alt="">
    </div>

    <div class="col-md-12 text-center" *ngIf="baseForm.type === 'poster'">
      <label class="mt-1">{{nameImage}}</label>
    </div>
  </div>

  <div class="row mt-5" *ngIf="baseForm.type === 'poster'" [formGroup]="form">
    <div class="p-field-checkbox col-md-6">
      <p-checkbox binary="true" formControlName="enableSkipPoster"></p-checkbox>
      <span class="ml-2"><b>{{'rm.fields.allowSkipAds' | translate}}</b></span>
    </div>
    <div class="p-field-checkbox col-md-6">
      <p-checkbox binary="true" formControlName="sendNotification"></p-checkbox>
      <span class="ml-2"><b>{{'rm.fields.sendNotification' | translate}}</b></span>
    </div>
  </div>
  <ng-container *ngIf="baseForm.type === 'poster' && isViewAddInfo">
    <div class="row" [formGroup]="form">
      <div class="col-md-12 form-group">
        <label><b>{{'rm.fields.contentAds' | translate}}</b></label>
        <div class="row mt-3">
          <div class="p-field-radiobutton col-md-4">
            <p-radioButton value="0" formControlName="contentPosterType"></p-radioButton>
            <label class="ml-3">{{ 'rm.fields.noAds' | translate }}</label>
          </div>
          <div class="p-field-radiobutton col-md-4">
            <p-radioButton value="1" formControlName="contentPosterType"></p-radioButton>
            <label class="ml-3">{{ 'rm.fields.post' | translate }}</label>
          </div>
          <div class="p-field-radiobutton col-md-4">
            <p-radioButton value="2" formControlName="contentPosterType"></p-radioButton>
            <label class="ml-3">{{ 'rm.fields.feature' | translate }}</label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="form.get('contentPosterType').value == '2' " class="row" [formGroup]="form">
      <div class="col-md-6 form-group has-error">
        <label>Tên tính năng</label>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" class="d-block"
                    [options]="newsFeatureConfigList" formControlName="featureCode" optionLabel="name"
                    optionValue="code" [showClear]="false"></p-dropdown>

      </div>
      <div class="col-md-6 form-group has-error" *ngIf="form.controls.featureCode.value === 'KHAC'">
        <label class="m-0">Liên kết <span class="text-red">(*)</span></label>
        <input class="form-control" type="text" maxlength="200" formControlName="featureLink"/>
        <div *ngIf="form.get('featureLink').errors?.required">{{'validationMessage.required' | translate}}</div>
      </div>
    </div>
    <div *ngIf="form.get('contentPosterType').value == '1'" class="row" [formGroup]="form">
      <div class="col-md-12 form-group has-error">
        <label><b>Nội dung bài viết </b><span class="text-red">(*)</span></label>

        <div *ngIf="isDisabled" class="editor-hidden-toolbar">
          <editor-primeng [disabled]="isDisabled" class="p-0 col-md-12 mt-1" style="height: 150px;" [(model)]="content"
                          (modelChange)="onContentChange($event)">
            <p-header hidden>
              <span class="ql-formats"></span>
            </p-header>
          </editor-primeng>

        </div>

        <div *ngIf="!isDisabled">
          <editor-primeng [disabled]="isDisabled" class="p-0 col-md-12 mt-1" style="height: 150px;" [(model)]="content"
                          (modelChange)="onContentChange($event)"></editor-primeng>
          <div *ngIf="form.get('posts').errors?.required">{{'validationMessage.required' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="form.get('contentPosterType').value == '1'">
      <div class="mb-0 col-md-12 form-group has-error" *ngIf="!isDisabled">
        <label>Tệp đính kèm (Không quá 10Mb)</label>
      </div>
      <div class="mt-1" *ngIf="!isDisabled">
        <button class="btn btn-small btn--light-blue ml-4" (click)="inputFile.click()">
          <em class="las la-file-invoice f-16"></em> Chọn File
        </button>
        <div class="d-none">
          <input #inputFile class="upload__input" type="file"
                 accept=".jpg, .jpeg, .png, .xlsx, .csv, .doc, .docx, .pdf, .svg" (change)="upload($event)"/>
        </div>
      </div>
      <div class="col-md-12 form-group has-error">
        <div class="block-center-between pointer link" *ngFor="let id of fileIdList">
          <div class="center-inline " style="width: calc(100% - 15px);text-overflow: ellipsis;overflow: hidden;"
               (click)="download(id)"><span class="ml-3 hyperlink text-name">{{fileInfo[id].name}}</span>
            <!--            <span class="ml-3 hyperlink">{{fileInfo[id]}}-->
            <!--                                    </span>-->
            <!--            <span *ngIf="fileInfo[id].size">({{fileInfo[id].size}})</span>-->
          </div>

          <i *ngIf="!isDisabled" class="mr-3 pi pi-times" style="color: red" (click)="removeFile(id)"></i>
        </div>
      </div>
    </div>
  </ng-container>


  <div style="text-align: center; margin-top: 15px" *ngIf="!isDisabled">
    <button class="btn btn--red ml-3" (click)="cancel()" *ngIf="canCancel">{{ 'btnAction.cancel' |
      translate }}</button>
    <button [disabled]="checkDisableSaveBtn()" class="btn btn--light-blue ml-3"
            (click)="save()">{{ 'btnAction.save' | translate }}</button>
  </div>
</div>
