<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ "rm.menu.level_category" | translate }}
      </h3>
    </div>
    <div class="content__top-right">
      <!-- <button class="btn btn--light-blue btn-icon--small" (click)="add()" *ngIf="obj?.create">
        <em class="las la-plus-circle f-16"></em>
      </button> -->
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4" [formGroup]="formSearch">
            <div class="row py-2 mt-3">
              <div class="col-md-6">
                <label class="mb-0" for="group_code">{{ 'rm.fields.rm_level_code' | translate }}</label>
                <input placeholder="" type="text" class="form-control" id="group_code" maxlength="20"
                  (keyup.enter)="search()" formControlName="code" />
              </div>
              <div class="col-md-6">
                <label class="mb-0" for="title_group_name">{{ 'rm.fields.rm_level_name' | translate }}</label>
                <input placeholder="" type="text" class="form-control" id="title_group_name" maxlength="250"
                  (keyup.enter)="search()" formControlName="name" />
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-6">
                <label class="mb-0" for="gradeCode">{{ 'rm.fields.grade' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="blocks"
                  class="d-block" formControlName="blockCode"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="code" optionLabel="value_to_search" (onChange)="onBlockChanged($event)">
                </p-dropdown>
              </div>
              <div class="col-md-6">
                <label class="mb-0" for="title_group">{{ 'rm.fields.rm_title_group_name' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                  [options]="titleGroupValues" class="d-block" formControlName="titleGroupId"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                  appendTo="body" optionValue="id" optionLabel="value_to_search">
                </p-dropdown>
              </div>
            </div>
            <div class="py-2 block-center-between">
              <button class="btn btn-small btn--light-blue mr-2 mb-2" (click)="search()">
                <!-- <em class="las la-search f-16"></em> -->
                {{ 'btnAction.search'| translate }}
              </button>
              <div class="col-md-1">
                <button class="btn btn--light-blue btn-icon--small" (click)="add()" *ngIf="obj?.create"
                  title="{{ 'btnAction.create' | translate }}">
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button class="btn btn--light-blue btn-icon--small ml-2" (click)="exportFile()" *ngIf="obj?.export"
                  title="{{ 'btnAction.export' | translate }}">
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
          </div>
          <div class="table__view user__view">

            <ngx-datatable ngxDataTable #tablerm class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="true"
              [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [columnMode]="mode" [rows]="models"
              [count]="count" [offset]="offset" [limit]="limit" (page)="paging($event)" [footerHeight]="56"
              [selectionType]="'single'" (activate)="onActive($event)" [selected]="model" [headerHeight]="50">

              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="35" [canAutoResize]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.index' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  {{ offset * limit + rowIndex + 1 }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="grade" [sortable]="false" [width]="70" [canAutoResize]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.grade' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.blockCode }}"> {{ row?.blockCode }} </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="rm_title_group_name" [sortable]="false" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_title_group_name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.titleGroupName }}"> {{ row?.titleGroupName }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="code" [sortable]="false" [width]="150" [canAutoResize]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_level_code' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.code }}"> {{ row?.code }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="name" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.rm_level_name' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.name }}"> {{ row?.name }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="description" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.description' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row?.description }}"> {{ row?.description }} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="action" [width]="100" [frozenRight]="true" [sortable]="false"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'fields.action' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="action-cell">
                    <button type="button" class="btn-outline" (click)="delete(row)"
                      *ngIf="row?.isActive === true && obj?.delete" title="{{ 'btnAction.delete' | translate }}">
                      <em class="las la-trash-alt"></em>
                    </button>

                    <button type="button" class="btn-outline" (click)="update(row)" *ngIf="obj?.update"
                      title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit"></em>
                    </button>
                  </div>

                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="count" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="currentVisible"
                    [size]="pageSize" [count]="count" [hidden]="false" (change)="paging($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>

            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
