<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'system.menu.commonCategory' | translate }}</h3>
		</div>
		<div class="content__top-right">
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>

		<div class="content-body">
			<div class="content-body__list row">
				<div class="form-table col-md-5 pl-0 pr-2">
					<div class="card flex-grow-1">
						<div class="filter-top block-center-between px-4">
							<div class="filter-top__left">
								<div>
									<input placeholder="{{ 'btnAction.search' | translate }}" type="text"
										class="form-control search-box" [(ngModel)]="paramSearch.search"
										(keyup.enter)="search(true)" />
								</div>
								<button class="btn-icon btn-icon--small btn btn-search grey ml-2"
									title="{{ 'btnAction.search' | translate }}" (click)="search(true)">
									<em class="las la-search f-16"></em>
								</button>
							</div>
							<div class="filter-top__right">
								<button class="btn-icon btn-icon--small btn btn-search grey ml-2"
									title="{{ 'btnAction.export' | translate }}" (click)="exportFile()">
									<em class="las la-file-excel f-16"></em>
								</button>
							</div>
						</div>
						<div class="table__view">
							<ngx-datatable ngxDataTable #tableParent class="bootstrap fullscreen"
								[rows]="listDataParent" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
								rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
								[externalPaging]="true" [count]="pageable?.totalElements"
								[offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
								[selected]="selected" [selectionType]="'single'" (select)="onSelect($event)"
								[messages]="messages">

								<ngx-datatable-column [sortable]="false" prop="code"
									name="{{ 'fields.code' | translate }}" [width]="150" [canAutoResize]="false">
								</ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" prop="name"
									name="{{ 'fields.typeCategory' | translate }}">
								</ngx-datatable-column>

								<ngx-datatable-footer>
									<ng-template let-rowCount="rowCount" let-pageSize="pageSize"
										let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
										ngx-datatable-footer-template>
										<app-pager-ngx-datatable [page]="curPage" [offset]="offset"
											[visiblePagesCount]="3" [size]="pageSize" [count]="rowCount"
											[hidden]="false" (change)="tableParent.onFooterPage($event)"
											[messages]="messages">
										</app-pager-ngx-datatable>
									</ng-template>
								</ngx-datatable-footer>
							</ngx-datatable>
						</div>
					</div>
				</div>
				<div class="form-table col-md-7 pl-2 pr-0">
					<div class="card flex-grow-1">
						<div class="filter-top block-center-between px-4">
							<div class="filter-top__left">
							</div>
							<div class="filter-top__right d-flex">
								<button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search"
									title="{{ 'btnAction.create' | translate }}" (click)="create()">
									<em class="las la-plus-circle f-16"></em>
								</button>
								<button class="btn-icon btn-icon--small btn btn-search grey ml-2"
									title="{{ 'btnAction.export' | translate }}" (click)="exportFileChildren()">
									<em class="las la-file-excel f-16"></em>
								</button>
							</div>
						</div>
						<div class="table__view">
							<ngx-datatable ngxDataTable #tableChildren class="bootstrap fullscreen"
								[rows]="listDataChildren" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
								rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false"
								[externalPaging]="true" [count]="pageableChildren?.totalElements"
								[offset]="pageableChildren?.currentPage" [limit]="pageableChildren?.size"
								(page)="setPageChildren($event)" [messages]="messages">

								<ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
									name="{{ 'fields.code' | translate }}">
								</ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" prop="name"
									name="{{ 'fields.name' | translate }}"></ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" prop="value"
									name="{{ 'fields.value' | translate }}"></ngx-datatable-column>
								<ngx-datatable-column [sortable]="false" prop="description"
									name="{{ 'fields.description' | translate }}"></ngx-datatable-column>
								<ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100"
									[frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
									[resizeable]="false">
									<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
										<div class="block-center">
											<button *ngIf="objFunction?.delete" type="button" class="btn-outline"
												(click)="delete(row);$event.stopPropagation()"
												title="{{ 'btnAction.delete' | translate }}">
												<em class="las la-trash-alt f-16"></em>
											</button>
											<button *ngIf="objFunction?.update" type="button" class="btn-outline ml-2"
												(click)="update(row);$event.stopPropagation()"
												title="{{ 'btnAction.edit' | translate }}">
												<em class="las la-edit"></em>
											</button>
										</div>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-footer>
									<ng-template let-rowCount="rowCount" let-pageSize="pageSize"
										let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
										ngx-datatable-footer-template>
										<app-pager-ngx-datatable [page]="curPage" [offset]="offset"
											[visiblePagesCount]="3" [size]="pageSize" [count]="rowCount"
											[hidden]="false" (change)="tableChildren.onFooterPage($event)">
										</app-pager-ngx-datatable>
									</ng-template>
								</ngx-datatable-footer>
							</ngx-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>