<div class="right-view kpi-standard-cbql-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.viewKpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">

              <div class="col-md-4 form-group">
                <label>{{ (dataFromView?.type === 3 ? 'fields._director' : 'fields.branch') | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.code + ' - '+ dataFromView?.name" pInputText
                  [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{'fields.block' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.blockCode" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.moment' | translate }}</label>
                <p-dropdown [options]="listYear" placeholder=" " class="d-block" formControlName="year" appendTo="body"
                  autoZIndex="false" baseZIndex="10000" optionLabel="code" optionValue="code">
                </p-dropdown>
              </div>
            </div>
          </div>

          <div class="filter-top block-center-between px-4">
            <div class="w-100">
              <button class="btn btn--light-blue btn-small pull-right d-flex align-items-center" (click)="export()">
                <span class="la-file-excel mr-2"></span> {{ 'export_excel' | translate }}
              </button>
            </div>
          </div>

          <div>
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listKpiItemMapping"
              [columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="false"
              [scrollbarH]="true" [virtualization]="false" [messages]="messages" [treeFromRelation]="'parentId'"
              [treeToRelation]="'idGroup'" (treeAction)="onTreeAction($event)">

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                name="{{ 'fields.target' | translate }}" [isTreeColumn]="true" [treeLevelIndent]="30" [width]="300">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="unit"
                name="{{ 'kpi.fields.unit' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>


              <!-- 12 tháng -->
              <ngx-datatable-column *ngFor="let month of listMonth" [sortable]="false" [draggable]="false"
                name="{{ ('fields.month' | translate) + ' '+ month.name }}" prop="kpis">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ formatKpiValue(value['m' + month.code]) }}">{{ formatKpiValue(value['m' + month.code]) }}</span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
