.center__search{
    display: flex;
    margin: 0 auto;
}
.list_reduction_proposal_view {
  .lead-management {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .action__left {
    display: flex;
    text-align: left;
    width: 50%;
  }
  .action__right {
    text-align: right;
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }

  .column-action {
    .btn-primary.focus,
    .btn-primary:focus {
      background: none !important;
    }
  }
  .p-inputnumber {
    display: inline-flex;
    width: 100%;
  }

  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .opacity-0 {
    visibility: hidden;
  }
  .signedFile{
    color: #bbbbfd;
  }
  .signedFile:hover{
    text-decoration: underline;
  }
}

