<!-- <app-confirm-reduction></app-confirm-reduction> -->
<div class="right-view list_reduction_proposal_view list__block">
  <div class="content__top block-center-between" *ngIf="!isViewFromPopup">
    <div class="content__top-left block-center">
      <h3 class="ml-4 mb-0 page--title">Quản lý miễn giảm phí/lãi suất</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block" *ngIf='showCom'>
          <app-search-customer-proposal></app-search-customer-proposal>
        </div>
        <div class="list__block" *ngIf='!showCom'>
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group has-error">
                <label>{{ 'reductionProposal.labels.caseSuggest' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" [options]="listType"
                  class="d-block" formControlName="type" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>
              <div class="col-md-4 form-group has-error">
                <label>Mã khách hàng</label>
                <input placeholder="" maxlength="50" type="text" class="d-block" (keyup.enter)="search(true)"
                  formControlName="customerCode" pInputText trimInput />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{getLabelTaxCode()}}</label>
                <input placeholder="" maxlength="50" type="text" class="d-block" (keyup.enter)="search(true)"
                  formControlName="taxCode" pInputText trimInput />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>Tên khách hàng</label>
                <input placeholder="" maxlength="200" type="text" class="d-block" (keyup.enter)="search(true)"
                  (focusout)="fnTrim($event, 'customerName')" formControlName="customerName" pInputText />
              </div>
              <div class="col-md-4 form-group has-error">
                <label>{{ 'fields.status' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="this.formSearch.controls.type.value == 2 ? listStatusSetupInterest : this.formSearch.controls.type.value == 3 || this.formSearch.controls.type.value == 4 ? listStatusException :  listStatusReductionProposal"
                  class="d-block" formControlName="status" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="name" optionValue="code">
                </p-dropdown>
              </div>
              <div class="col-md-4">
                <label class="m-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision" placeholder=" " class="d-block" [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="blockCode" appendTo="body" autoZIndex="false" baseZIndex="10000"
                  optionLabel="displayName" optionValue="code" (onChange)="changeBlock($event)"></p-dropdown>
              </div>
              <div class="col-md-4 form-group">
                <label class="mb-0">Chi nhánh</label>
                <branches-by-region [listBranch]="facilities" [(model)]="facilityCode" (keyup.enter)="search(true)"
                  (modelChange)="changeBranch($event)">
                </branches-by-region>
              </div>
              <div class="col-md-4 form-group">
                <label>Người tạo</label>
                <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="commonData.listRmManager" class="d-block" [filter]="true" (keyup.enter)="search(true)"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="rmCodes"
                  optionLabel="displayName" optionValue="code" [virtualScroll]="true" [itemSize]="31"></p-multiSelect>
              </div>
              <ng-container *ngIf="formSearch.controls.type.value != 2">
                <div class="col-md-4 form-group has-error">
                  <label>Mã tờ trình</label>
                  <input placeholder="" maxlength="50" type="text" class="d-block" (keyup.enter)="search(true)"
                    formControlName="code" pInputText trimInput />
                </div>
                <div class="col-md-2 form-group has-error">
                  <label>{{ 'fields.startFromDate' | translate }}</label>
                  <p-calendar class="d-block" formControlName="createdDateFirst" dateFormat="dd/mm/yy"
                    [maxDate]="maxEndDateFirst" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                    icon="las la-calendar-alt">
                  </p-calendar>
                </div>
                <div class="col-md-2 form-group has-error">
                  <label>{{ 'fields.toDate' | translate }}</label>
                  <p-calendar class="d-block" formControlName="createdDateLast" dateFormat="dd/mm/yy"
                    [maxDate]="maxDate" [minDate]='minEndDateLast' appendTo="body" autoZIndex="false" baseZIndex="10000"
                    [showIcon]="true" icon="las la-calendar-alt">
                  </p-calendar>
                </div>
              </ng-container>
            </div>
          </div>
          <ng-container>
            <div class='block-center px-4 filter-top'>
              <div class='action__left'>
                <button (click)='search(true)' class='btn btn-small btn--light-blue'>
                  <!-- <em class="las la-search f-16"></em> -->
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class='action__right'>
                <button class='btn btn-small btn--light-blue' (click)='openCreatePopup()'>
                  {{ 'btnAction.create' | translate }}
                </button>

              </div>
            </div>
          </ng-container>
          <div class="table__view group__view">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listDataReductionProposal"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true"
              [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages"
              (activate)="onAction($event)">

              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.type.value != 2" [sortable]="false"
                [width]="innerWidth < 1250? 90 : 120" [canAutoResize]="false" [draggable]="false" prop="code"
                name="Mã tờ trình">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="type"
                name="{{ 'reductionProposal.labels.caseSuggest' | translate }}">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getType(value) }}">{{ getType(value) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode" name="Mã khách hàng"
                [width]="innerWidth < 1250? 110 : 140" [canAutoResize]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="taxCode" name="{{getLabelTaxCode()}}"
                [width]="innerWidth < 1250? 110 : 140" [canAutoResize]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName" name="Tên khách hàng">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.type.value != 2" [sortable]="false" [draggable]="false"
                prop="approverName" name="Cấp phê duyệt">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="status"
                name="{{ 'campaign_sme.status' | translate }}" [width]="innerWidth < 1250? 110 : 160"
                [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getStatusSME(value) }}">{{ getStatusSME(value) }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdDate" name="Ngày tạo"
                [width]="innerWidth < 1250? 110 : 140" [canAutoResize]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column *ngIf="formSearch.controls.type.value != 2" [sortable]="false" [draggable]="false"
                name="File văn bản">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="signedFile" title="{{ value}}" *ngIf='row.ecmDocId' (click)='downloadECM(row)'>{{
                    row.fileName}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" name="Người tạo">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValueConcat(row?.rmCode,row?.rmName) }}">{{ getValueConcat(row?.rmCode,row?.rmName)
                    }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" name="Chi nhánh">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ getValueConcat(row?.branchCode,row?.branchName) }}">{{
                    getValueConcat(row?.branchCode,row?.branchName) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="100" [frozenRight]="true"
                [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <ng-container *ngIf="formSearch.controls.type.value != 2 && formSearch.controls.type.value != 4 && formSearch.controls.type.value != 3">
                    <button style='margin-right: 5px' *ngIf="isConfirm(row)"
                      (click)='openConfirm(row); $event.stopPropagation()' class='btn-outline'
                      title="{{ (isRmOrManager(row) ? 'btnAction.approvedRM' : 'btnAction.approved' )| translate }}"
                      type='button'>
                      <em class='las la-check-circle'></em>
                    </button>
                    <div class="block-center text-center column-action" style="justify-content: start;">
                      <button *ngIf="isUpdateAndDelete(row)"
                        (click)='updateReductionProposal(row); $event.stopPropagation()' type="button"
                        class="btn-outline btn--light-blue" title="{{ 'btnAction.edit' | translate }}">
                        <em class="las la-edit"></em>
                      </button>
                      <button *ngIf="isUpdateAndDelete(row)"
                        (click)='deleteReductionProposal(row); $event.stopPropagation()' class='btn-outline btn--light-blue'
                        title="{{ 'btnAction.delete' | translate }}" type='button'>
                        <em class='las la-trash-alt f-16'></em>
                      </button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="formSearch.controls.type.value == 4">
                    <button style='margin-right: 5px' *ngIf="isApproval(row)"
                      (click)='openConfirm(row); $event.stopPropagation()' class='btn-outline'
                      title="{{ 'btnAction.approved' | translate }}"
                      type='button'>
                      <em class='las la-check-circle'></em>
                    </button>
                    <div class="block-center text-center column-action" style="justify-content: start;">
                      <button *ngIf="isUpdateAndDeleteException(row)"
                        (click)='updateReductionProposal(row); $event.stopPropagation()' type="button"
                        class="btn-outline btn--light-blue" title="{{ 'btnAction.edit' | translate }}">
                        <em class="las la-edit"></em>
                      </button>
                      <button *ngIf="isUpdateAndDeleteException(row) && row.status != 'CBQL_REFUSED_CONFIRM'"
                        (click)='deleteReductionProposal(row); $event.stopPropagation()' class='btn-outline btn--light-blue'
                        title="{{ 'btnAction.delete' | translate }}" type='button'>
                        <em class='las la-trash-alt f-16'></em>
                      </button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="formSearch.controls.type.value == 3">
                    <button style='margin-right: 5px' *ngIf="isApproval(row)"
                            (click)='openConfirm(row); $event.stopPropagation()' class='btn-outline'
                            title="{{ 'btnAction.approved' | translate }}"
                            type='button'>
                      <em class='las la-check-circle'></em>
                    </button>
                    <div class="block-center text-center column-action" style="justify-content: start;">
                      <button *ngIf="isUpdateAndDeleteException(row)"
                              (click)='updateReductionProposal(row); $event.stopPropagation()' type="button"
                              class="btn-outline btn--light-blue" title="{{ 'btnAction.edit' | translate }}">
                        <em class="las la-edit"></em>
                      </button>
                      <button *ngIf="isUpdateAndDeleteException(row) && row.status != 'CBQL_REFUSED_CONFIRM'"
                              (click)='deleteReductionProposal(row); $event.stopPropagation()' class='btn-outline btn--light-blue'
                              title="{{ 'btnAction.delete' | translate }}" type='button'>
                        <em class='las la-trash-alt f-16'></em>
                      </button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="formSearch.controls.type.value == 2">
                    <button *ngIf="isUpdateSetupInterest(row)" (click)='updateSetupInterest(row); $event.stopPropagation()' type="button" class="btn-outline btn--light-blue"
                      title="{{ 'btnAction.edit' | translate }}">
                      <em class="las la-edit"></em>
                    </button>
                    <button style='margin-right: 5px' *ngIf="isConfirmSetupInterest(row)"
                      (click)='openConfirmSetupInterest(row); $event.stopPropagation()' class='btn-outline'
                      title="Phê duyệt"
                      type='button'>
                      <em class='las la-check-circle'></em>
                    </button>
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
