<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Chi tiết AP</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list__block">
    <div class="content__top block-center-between pb-4">
      <div class="content__top-left block-center"></div>
    </div>

    <div class="table__view user__view">
      <p-treeTable [value]="dataRows" scrollHeight="flex" [scrollable]="true" #tableTree>
        <ng-template pTemplate="header">
          <tr>
            <th width="300px" style="display: none">Cấp độ danh mục cha</th>
            <th width="300px">Tiêu chí</th>
            <th width="150px">Đơn vị</th>
            <th width="150px">Số đầu năm</th>
            <th width="150px">Số cuối năm</th>
            <th width="150px">Tháng 1</th>
            <th width="150px">Tháng 2</th>
            <th width="150px">Tháng 3</th>
            <th width="150px">Tháng 4</th>
            <th width="150px">Tháng 5</th>
            <th width="150px">Tháng 6</th>
            <th width="150px">Lũy kế T1-T6</th>
            <th width="150px">Tháng 7</th>
            <th width="150px">Tháng 8</th>
            <th width="150px">Tháng 9</th>
            <th width="150px">Tháng 10</th>
            <th width="150px">Tháng 11</th>
            <th width="150px">Tháng 12</th>
            <th width="150px">Lũy kế T1-T12</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode">
            <td width="300px" style="display: none">
              {{ rowData?.itemParent ? rowData?.itemParent : rowData?.itemId }}
            </td>
            <td width="300px">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.itemName }}
            </td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.unit }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value0 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value13 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value1 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value2 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value3 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value4 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value5 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value6 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value16 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value7 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value8 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value9 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value10 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value11 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value12 }}</td>
            <td width="150px" style="white-space: pre-line">{{ rowData?.value112 }}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button
      class="btn btn-icon btn-icon--small btn-search ml-2"
      style="width: 50px"
      (click)="exportToExcel()"
      title="{{ 'btnAction.export' | translate }}"
    >
      <em class="las la-file-excel f-16"></em>
    </button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
