.list__rm-modal {
  .list__rm-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content__top {
    margin: 0;
    align-items: flex-end;
    &-left {
      align-items: flex-end;
    }
  }

  .p-button-plain.p-mr-2.p-button.p-component.p-button-icon-only {
    background: #eff2fe;
    border: none;
    border-radius: 6px;
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}
