<div class="d-flex align-items-center justify-content-between">
  <h3>Báo cáo tần suất sử dụng chức năng</h3>
 <button type="button" class="close crm-btn-close pb-3" (click)="close()"><span aria-hidden="true" style="font-size: 20px;">×</span></button>
</div> 
<div style="height: 70vh;" class="w-100 table__view">
  <app-loading *ngIf="isLoading"></app-loading>
  <ngx-datatable *ngIf="firstLoad"
                 ngxDataTable
                 #table
                 class="bootstrap fullscreen"
                 columnMode="force"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 rowHeight="auto"
                 [virtualization]="false"
                 [scrollbarV]="true"
                 [scrollbarH]="true"
                 [rows]="data"
                 [virtualization]="false"
                 [externalPaging]="true"
                 [count]="pageable?.totalElements"
                 [offset]="pageable?.currentPage"
                 [limit]="pageable?.size"
                 [messages]="messages"
                 (page)="setPage($event)">
    <ngx-datatable-column
                          [sortable]="false"
                          name="STT"
                          [width]="35"
                          [canAutoResize]="true"
                          [draggable]="false"
                          [resizeable]="true">
      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Mã chi nhánh"
                          [sortable]="false"
                          [resizeable]="true"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.branchCode }}">{{ row?.branchCode }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Tên chi nhánh"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.branchName }}">{{ row?.branchName }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Mã RM"
                          [width]="80"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.rmCode }}">{{ row?.rmCode }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Tên RM"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.rmName }}">{{ row?.rmName }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="User name"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.userName }}">{{ row?.userName }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Hệ thống"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.system }}">{{ row?.system }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Mã chức năng"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.functionCode }}">{{ row?.functionCode }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Tên chức năng"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.functionName }}">{{ row?.functionName }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Device ID"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.deviceId }}">{{ row?.deviceId }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Device name"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.deviceName }}">{{ row?.deviceName }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Năm"
                          [width]="80"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.year }}">{{ row?.year }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Ngày tạo"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.createDate }}">{{ row?.createDate | date : 'dd/MM/yyyy'}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Thời gian login"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.loginDate }}">{{ row?.loginDate | date : 'dd/MM/yyyy HH:mm'}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Thời gian bắt đầu"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.startDate }}">{{ row?.startDate | date : 'dd/MM/yyyy HH:mm' }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
                          name="Thời gian kết thúc"
                          [sortable]="false"
                          [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span title="{{ row?.endDate }}">{{ row?.endDate | date : 'dd/MM/yyyy HH:mm '}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
                   let-rowCount="rowCount"
                   let-pageSize="pageSize"
                   let-selectedCount="selectedCount"
                   let-curPage="curPage"
                   let-offset="offset"
                   ngx-datatable-footer-template>
        <app-pager-ngx-datatable
                                 [page]="curPage"
                                 [offset]="offset"
                                 [size]="pageSize"
                                 [count]="rowCount"
                                 [hidden]="false"
                                 (change)="table.onFooterPage($event)"
                                 [hasDropdown]="true"
                                 (eventChangePageSize)="handleChangePageSize($event)">
        </app-pager-ngx-datatable>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>