<div class="right-view">
	<div class="content__top block-center-between">
		<div class="content__top-left block-center">
			<button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
				<em class="las la-bars"></em>
			</button>
			<h3 class="mb-0 page--title">{{ 'kpi.title.kpi_branch_time' | translate }}</h3>
		</div>
		<div class="content__top-right block-center row">
			<button *ngIf="objFunction?.update" class="btn-icon btn-icon--small btn btn-search" (click)="update()"
				title="{{ 'btnAction.edit' | translate }}">
				<em class="las la-edit f-16"></em>
			</button>
			<button *ngIf="objFunction?.create" class="btn-icon btn-icon--small btn btn-search mr-4" (click)="create()"
				title="{{ 'btnAction.create' | translate }}">
				<em class="las la-plus-circle f-16"></em>
			</button>
		</div>
	</div>
	<div class="content">
		<app-loading *ngIf="isLoading"></app-loading>
		<div class="content-body">
			<div class="content-body__list">
				<div class="list__block">
					<div class="px-4 pt-4" [formGroup]="formSearch">
						<div class="row">
							<div class="col-md-3 form-group has-error">
								<label>{{ 'kpi.fields.block' | translate }}</label>
								<p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
									[options]="listBlock" class="d-block" formControlName="blockCode" appendTo="body"
									autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code"
									(onChange)="onChangeBlockCode()">
								</p-dropdown>
							</div>
						</div>
					</div>
					<div class="table__view group__view">
						<ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
							[columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="true"
							[scrollbarH]="true" [virtualization]="false" [messages]="messages">

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="kpiSysOrgTypeName"
								name="">
								<ng-template let-value="value" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="value"
								name="{{ 'kpi.fields.new_branch' | translate }}">
								<ng-template let-value="value" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="efficientDate"
								name="{{ 'kpi.fields.active_time' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [sortable]="false" [draggable]="false" prop="expireDate"
								name="{{ 'fields.endTime' | translate }}">
								<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
									<span title="{{ value }}">{{ value }}</span>
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>