<div class="modal-header pb-4">
    <div class="m-0">
        <h5>{{ 'rm.title.createFluctuate' | translate }}</h5>
    </div>
</div>
<div class="modal-body">
    <div class="form-group has-error" [formGroup]="formCode">
        <label>{{ 'fields.rmOrHrsCode' | translate }} <span class="text-red">(*)</span></label>
        <input class="form-control" type="text" maxlength="50" formControlName="code"
            placeholder="{{ 'placeholder' | translate }}" />
        <div *ngIf="isError" class="invalid-tooltip">
            <div *ngIf="formCode.get('code')?.errors?.cusRequired">{{ 'validationMessage.required' | translate }}
            </div>
            <div>{{ messageError }}</div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
        <button class="btn btn--light-blue ml-3" (click)="checkRm()">{{ 'btnAction.create' | translate }}</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
