.rm-fluctuate-check {
  .modal-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 450px;
  }
  .modal-content {
    border-radius: 7px;
    border: none;
  }
  .modal-header {
    padding: 15px;
    margin: 0;
  }
  .modal-body {
    min-height: 120px;
  }
}
