.credit-top-chart {
	.chart__header-right {
		display: flex;
		align-items: center;
	}
	.chart__header {
		margin-bottom: 1rem;
	}
	.ngx-datatable .datatable-body .datatable-body-row {
		min-height: 36px !important;
		height: 36px !important;
	}
	.column-number {
		.datatable-body-cell-label {
			flex-direction: row-reverse;
		}
		.datatable-header-cell-template-wrap {
			text-align: center !important;
		}
	}
	.max-width {
		max-width: 185px;
		width: 185px;
	}
}
