@import 'variable';

.report-tttm {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      height: 580px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
  }
}
