.list__target-sale-config-error {
  .list__error-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: hidden;
  }
  .list__block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
