<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.resourcesCategory' | translate }}/{{data?.name}}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row mt-3" [formGroup]="form">
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.app' | translate }} <span class="text-red">*</span></label>
              <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listApp"
                class="d-block" formControlName="type"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" placeholder=" "
                appendTo="body" optionValue="id" optionLabel="name"></p-dropdown>
              <div *ngIf="form.get('type').errors && form.get('type').errors.cusRequired && form.get('type').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.resourceParent' | translate }}</label>
              <app-choose-function-input [(model)]="parentId" [listFunction]="listResourceParent">
              </app-choose-function-input>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.resourceCode' | translate }} <span class="text-red">*</span></label>
              <input class="form-control" type="text" uppercase formControlName="code" maxlength="50"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('code').errors && form.get('code').touched" class="invalid-tooltip">
                <div *ngIf="form.get('code').errors.cusRequired">{{ 'validationMessage.required' | translate }}</div>
                <div *ngIf="form.get('code').errors.code">{{ 'validationMessage.code' | translate }}</div>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.resourceName' | translate }} <span class="text-red">*</span></label>
              <input class="form-control" type="text" formControlName="name" maxlength="250"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && form.get('name').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.displayName' | translate }}</label>
              <input class="form-control" type="text" formControlName="displayName" maxlength="250"
                placeholder="{{ 'placeholder' | translate }}" />
              <div
                *ngIf="form.get('displayName').errors && form.get('displayName').errors.cusRequired && form.get('displayName').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.manipulation' | translate }}</label>
              <p-multiSelect class="d-block" [options]="listManipulation" formControlName="scopes" display="chip"
                emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                placeholder="{{ 'choose' | translate }}" optionValue="code" optionLabel="name"></p-multiSelect>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.urlImage' | translate }}</label>
              <input class="form-control" type="text" formControlName="iconUri"
                placeholder="{{ 'placeholder' | translate }}" />
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.url' | translate }} <span class="text-red">*</span></label>
              <input class="form-control" type="text" formControlName="uri"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('uri').errors && form.get('uri').errors.cusRequired && form.get('uri').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>API</label>
              <div formArrayName="apis" *ngFor="let uri of apis.controls; let i = index;">
                <div class="form-group__icon" [formGroupName]="i">
                  <input type="text" class="form-control" formControlName="name" />
                  <em class="las la-minus pointer grey btn-uris" (click)="deleteUri(i)"></em>
                </div>
              </div>
              <div class="form-group__icon">
                <input placeholder="{{ 'placeholder' | translate }}" type="text" class="form-control"
                  formControlName="api" (keyup.enter)="addUri()" />
                <em class="las la-plus pointer grey btn-uris" (click)="addUri()"></em>
              </div>
            </div>
            <div class="col-md-6 form-group has-error">
              <label>{{ 'system.fields.order' | translate }} <span class="text-red">*</span></label>
              <input class="form-control" type="number" formControlName="indexNumber"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('indexNumber').errors && form.get('indexNumber').touched" class="invalid-tooltip">
                <div *ngIf="form.get('indexNumber').errors.cusRequired">{{ 'validationMessage.required' | translate }}
                </div>
                <div *ngIf="form.get('indexNumber').errors.min">{{ 'validationMessage.min' | translate }} {{
                  form.get('indexNumber').errors.min.min }}</div>
                <div *ngIf="form.get('indexNumber').errors.onlyNumber">{{ 'validationMessage.onlyNumber' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.update' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
