<div class="gridster__item-content">
    <div class="statistical">
        <div class="statistical-title">{{ 'dashboard.activityReport.title' | translate}}</div>
            <div class="statistical-content">
                <div class="statistical-today">
                  <div class="statistical-label">{{ 'dashboard.activityReport.totalCallToday' | translate}}:</div>
                  <div class="statistical-amount text-primary">
                    {{
                      (activityCalls?.totalCallToday | number) || 0
                    }}
                  </div>
                </div>
                <div class="statistical-yesterday">
                  <div class="statistical-label">{{ 'dashboard.activityReport.totalCallYesterday' | translate}}:</div>
                  <div class="statistical-amount text-primary">
                    {{
                      (activityCalls?.totalCallYesterday | number) || 0
                    }}
                  </div>
                </div>
                <div class="statistical-month">
                  <div class="statistical-label">{{ 'dashboard.activityReport.totalCallMonth' | translate}}:</div>
                  <div class="statistical-amount text-primary">
                    {{
                      (activityCalls?.totalCallMonth | number) || 0
                    }}
                  </div>
                </div>
            </div>
      </div>
</div>
