.statistical {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}
.statistical-title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  color: #bbbbfd;
  white-space: initial;
}
.statistical-content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statistical-amount {
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 16px !important;
}
.statistical-label {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 16px !important;
}
