.speedometer {
    width: 100% !important;
    height: 300px;
    margin-top: -18px;
    .legend {
        margin-top: -60px;
        display: flex;
        flex-flow: column;
        align-items: center;
        .wrapper {
            div {
                font-size: 16px;
            }
        }
    }
}

.distribution-point {
    height: 350px;
}

@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-of-year {
    .chart-ct {
        @include content-center;
    }
    .progress-kpi {
        display: inline-block;
        width: 70%;
        ::ng-deep .customProgress {
            .p-progressbar .p-progressbar-value {
                background: green;
            }
        }
    }
    .result {
        font-weight: 800;
        font-size: 14px;
        margin-left: 15px;
    }

    .average-year {
        font-weight: 500;
        color: #aeafb4;
        margin-left: 20px;
    }
}

.expected-payroll-amount {
    border-top: 1px solid #ededf7;
    .title {
        font-weight: 700;
        font-size: 16px;
        color: #9698d6;
    }

    .detail {
        font-weight: 400;
        font-size: 16px;
    }

    .content {
        .result {
            font-weight: 700;
            font-size: 36px;
        }
    }
}

.header {
    height: 68px;
    border-bottom: 1.38889px solid #eeeeee;
}

.mt-n45 {
    margin-top: -45px;
}

.total-point {
    padding-top: 0px !important;
}

@media only screen and (max-width: 1500px) {
    .speedometer {
        height: 245px;
        .legend {
            margin-top: -32px;
            .wrapper {
                div {
                    font-size: 14px;
                }
            }
        }
    }

    .distribution-point {
        height: 300px;
    }

    .kpi-of-year {
        .progress-kpi {
            width: 53%;
        }
    }
}
