<div class="chart total-point">
    <div class="chart__header block-center-between header">
        <div class="chart__header-left">
            <div class="f-16 text-black chart__header-title" style="font-weight: 600;">
                <span>{{ 'Tổng điểm' | translate }}</span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!isEmpty">
        <div class="chart__body">
            <div class="speedometer" *ngIf="!isRankDataEmpty">
                <div echarts [options]="stardardCoreOptions" style="height: 100%;"></div>
                <div class="legend">
                    <div class="wrapper">
                        <div class="font-weight-bold mb-2">{{'kpiSme.totalStandardScore' | translate}}: {{rankData?.sumPointStand}}%</div>
                        <div class="font-weight-bold">{{'kpiSme.totalDistributionPoints' | translate}}: {{rankData?.sumPointEntrust}}%</div>
                    </div>
                </div>
            </div>
            <div class="distribution-point" *ngIf="!isSum4MonthsEmpty">
                <div echarts [options]="distributionPointOptions" style="height: 100%;"></div>
            </div>
            <div class="kpi-of-year" [ngClass]="{'mt-n45': !isSum4MonthsEmpty}" *ngIf="avgPointEntrust && type === 'month'">
                <div class="chart-ct">
                    <div class="progress-kpi">
                        <p-progressBar class="customProgress" [value]="avgPointEntrust" [showValue]="false"></p-progressBar>
                    </div>
                    <span class="result">{{avgPointEntrust}}%</span>
                </div>
                <div class="average-year">
                    {{'kpi.title.average_year' | translate}}
                </div>
            </div>
            <div class="expected-payroll-amount mt-4 pt-4" *ngIf="false">
                <div class="d-flex justify-content-between">
                    <span class="title">{{'kpi.title.expected_payroll_mount' | translate}}</span>
                    <span class="detail">{{'system.detail' | translate}}</span>
                </div>
                <div class="content">
                    <span class="result">{{'25 triệu đồng' | translate}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isEmpty">
        <div class="chart__empty">
            <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
    </ng-container>
    <app-loading *ngIf="isLoading"></app-loading>
</div>