<div class="right-view sale-manager-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'sellingOppIndivCreate.label.mainTitle' | translate }}</h3>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div class="row mb-10" [formGroup]="formCheckInfo">
              <div class="col-md-3">
                <label class="mb-0">{{ 'sellingOppIndivCreate.label.customerBlock' | translate }}</label>
                <p-dropdown
                            emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                            [options]="listDivision"
                            placeholder=" "
                            class="d-block"
                            formControlName="divisionCode"
                            appendTo="body"
                            autoZIndex="false"
                            baseZIndex="10000"
                            optionLabel="displayName"
                            optionValue="code"
                            placeholder="Chọn khối"
                            (onChange)="onChangeEventType($event)">
                </p-dropdown>
                <div class='p-error d-block d-flex align-items-center' *ngIf="!formCheckInfo.controls.divisionCode.value && formCheckInfo.controls.divisionCode.touched">
                  <span>Vui lòng chọn khối !</span>
                </div>
              </div>

              <div class="col-md-9">
                <label class="mb-0"></label>
                <div class="d-flex" style="align-items: center">
                  <div class="p-inputgroup">
                    <input trimInput
                           formControlName="textSearch"
                           type="text"
                           (keyup.enter)="searchOpp()"
                           maxlength="200"
                           placeholder="{{ 'btnAction.search' | translate }}"
                           pInputText />
                    <p-dropdown
                                [autoDisplayFirst]="false"
                                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                [options]="formCheckInfo.controls.divisionCode.value == 'INDIV' ? listSearchType : listSearchTypeSME"
                                class="p-inputgroup-dropdown-right"
                                formControlName="searchQuickType"
                                optionLabel="name"
                                optionValue="code"
                                placeholder="Chọn loại tìm kiếm"
                                (onChange)="onChangeCustomerType($event)">
                    </p-dropdown>
                  </div>
                  <button
                          [disabled]="!formCheckInfo.controls.textSearch.value || !formCheckInfo.controls.divisionCode.value"
                          style="margin-left: 18px"
                          (click)="searchOpp()"
                          class="btn btn-small btn--light-blue">
                    {{ 'sellingOppIndivCreate.label.checkInfo' | translate }}
                  </button>
                  <!-- <button
                          [disabled]="this.formCheckInfo.invalid || !validateSpace()"
                          style="margin-left: 18px"
                          (click)="searchOpp()"
                          class="btn btn-small btn--light-blue">
                    {{  }}
                  </button> -->
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="showMessage">
            <div class="card p-4 text-left mb-4 text-center">
              <div class="img-blank">
                <img src="../../../../../assets/images/image_empty.png" alt="">
              </div>
              <div class="messageErro">{{ 'sellingOppIndivCreate.label.notFound' | translate }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
