@import 'variable';

.sale-manager-create {
  .p-inputgroup {
    &:hover {
      border: 1px solid #2196f3;
    }
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #f0f0f3;
    border-radius: 4px;

    .p-inputtext {
      border: none;
      height: 34px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    ::placeholder {
      font-style: normal;
    }
    .p-inputgroup-dropdown-right .p-dropdown {
      height: 34px;
    }
  }

  .messageErro {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .list__block {
    overflow-y: auto;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  .img-blank {
    text-align: center;
    display: block;
    margin-top: 50px;
    img {
      max-width: 300px;
    }
  }
}
