<div class="layout-config" [ngClass]="{'layout-config-active': active}">
    <div class="layout-config-content-wrapper">
        <a tabindex="0" cdkDragLockAxis="y" cdkDrag class="layout-config-button layout-config-button-notify"
           (click)="openConfigurator($event)" (cdkDragStarted)="startDrag($event)" (cdkDragEnded)="endDrag($event)">
            <em style="font-size: 18px;" class="pi pi-thumbs-up"></em>
        </a>
        <a tabindex="0" class="layout-config-close" (click)="hideConfigurator($event)">
            <em class="pi pi-times"></em>
        </a>

        <div class="layout-rightpanel">
            <app-loading *ngIf="isLoading"></app-loading>
            <div class="right-panel-header">
                <div class="title">
                    <h6>Đánh giá mức độ hài lòng</h6>
                </div>
            </div>
            <div class="p-3 overflow-auto h-100">
                <div [formGroup]="form" class="mb-3">
                    <label class="m-0"> Tính năng đánh giá</label>
                    <p-dropdown [filter]="true"
                                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                formControlName="function"
                                [options]="listFunctions"
                                placeholder="Chọn tính năng đánh giá"
                                class="d-block"
                                [optionLabel]="'name'"
                                optionValue="id">
                    </p-dropdown>
                    <span *ngIf="!form.controls.function.value && form.controls.function.touched" class="p-error">Vui
                        lòng chọn chức năng</span>
                </div>
                <div class="my-3" [formGroup]="form">
                    <label class="m-0">1. Đánh giá mức độ hài lòng của bạn khi trải nghiệm CRM ?</label>
                    <div class="p-3">
                        (1* Chưa hài lòng; 2* Cần cải thiện thêm; 3* Hài lòng; 4* Rất hài lòng; 5* Vượt mong đợi)
                    </div>
                    <div class="mt-3 d-flex justify-content-center">
                        <p-rating class="d-flex" formControlName="stars" stars="5" [cancel]="false"></p-rating>
                    </div>
                    <div *ngIf="form.value?.stars" class="d-flex justify-content-center py-3">
                        <h6 style="color: #2196F3;">{{getDescription(form.value?.stars)}}</h6>
                    </div>
                    <div class="mt-3 d-flex justify-content-center">
                        <span *ngIf="form.controls.stars.errors && form.controls.stars.touched" class="p-error">Trường
                            này bắt buộc</span>
                    </div>
                </div>
                <ng-container *ngIf="form.controls.stars.value && form.controls.stars.value < 3">
                    <div class="my-3">
                        <label class="m-0">2. Vấn đề bạn đang gặp phải khi trải nghiệm CRM ?</label>
                        <div>
                            <div *ngFor="let item of listQuestion; let i = index" class="py-2 d-flex">
                                <p-checkbox name="problem" [value]="item?.name" [(ngModel)]="listProblem" (onChange)="onChangeProblem($event, item?.name)"></p-checkbox>
                                <div class="ml-3">
                                    <span>{{item?.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span *ngIf="!listProblem.length && clickSend" class="p-error">Trường này bắt buộc</span>
                    <div *ngIf="check()" [formGroup]="form" class="my-3">
                        <div class="mt-3">
                            <textarea pInputTextarea placeholder="Nhập nội dung" [maxlength]="1000"
                                      formControlName="another"
                                      class="d-block form-control" cols="30" rows="3"></textarea>
                        </div>
                        <span *ngIf="form.controls.another.errors?.required && form.controls.another.touched"
                          class="p-error">Trường này bắt buộc</span>
                    </div>
                </ng-container>
                <div *ngIf="form.controls.stars.value" [formGroup]="form" class="my-3">
                    <label class="m-0">{{form.controls.stars.value < 3 ? '3' : '2'}}{{'. Ý kiến đóng góp của bạn với CRM ?'}}</label>
                    <div class="mt-3">
                        <textarea placeholder="Nhập nội dung" [maxlength]="1000" formControlName="opinion"
                                  class="d-block form-control" cols="30" rows="10"></textarea>
                        <!-- <small *ngIf="form.controls.opinion.value">{{form.controls.opinion.value.length}}</small> -->
                    </div>
                    <span *ngIf="form.controls.opinion.errors?.required && form.controls.opinion.touched"
                          class="p-error">Trường này bắt buộc</span>
                </div>
                <div class="my-3 d-flex justify-content-center">
                    <div class="w-50">
                        <button class="col-12 btn btn--light-blue btn-small" mat-dialog-close (click)="send()">
                            Gửi đánh giá
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
