@import 'variable';

.layout-config {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  display: block;
  width: 400px;
  z-index: 998;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  transform: translateX(100%);
  backface-visibility: hidden;

  &.layout-config-active {
    transform: translateX(0);
  }

  .layout-config-content-wrapper {
    position: relative;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
    // color: #212529;
    background-color: #ffffff;

    .layout-config-button {
      display: block;
      position: absolute;
      width: 42px;
      height: 42px;
      line-height: 42px;
      background-color: #ffffff;
      text-align: center;
      color: $blue;
      top: 400px;
      left: -42px;
      z-index: -1;
      overflow: hidden;
      cursor: pointer;
      outline: 0 none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

      em {
        font-size: 24px;
        line-height: inherit;
        cursor: pointer;
      }

      &:hover {
        background-color: $body-bg;
      }

      &-notify {
        top: 120px;

        .p-badge-no-gutter {
          right: 4px !important;
        }

        .p-overlay-badge .p-badge {
          top: 10px;
          right: 0px;
        }
      }
    }
  }

  a {
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .layout-config-close {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    right: 15px;
    top: 15px;
    z-index: 999;
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;

    em {
      color: $white;
      line-height: inherit;
      // font-size: 14px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

h6 {
  margin: 0;
}

label {
  font-weight: 600;
  font-size: 13px;
}

::ng-deep .p-rating-icon {
  font-size: 35px !important;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: none !important;
}