<!-- <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog" style="width: 500px;">
    <div class="modal-content"  style="width: 500px;"> -->
<div class="modal-header">
  <h5 class="modal-title" id="statusModalLabel">{{'ticket.menu.statusUpdate' | translate}}</h5>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class='form-group' [formGroup]="form">
    <label>{{ 'ticket.fields.status' | translate }}</label>
    <p-dropdown [options]='listStatus' placeholder=" " class="d-block" appendTo="body" autoZIndex="false"
      baseZIndex="10000" optionLabel="name" optionValue="code" formControlName="isActived" [scrollHeight]="0">
    </p-dropdown>
  </div>

  <div class='form-group' [formGroup]="form">
    <label>{{ 'ticket.fields.note' | translate }}</label>
    <input placeholder="{{'ticket.fields.notePlaceholder'  |
                            translate}}" type='text' maxlength='500' class='d-block input_block'
      formControlName="note" />
  </div>
</div>
<div class="modal-footer">
  <button type='button' class='btn btn-light btn-small mr-4'(click)="closeModal()">{{'ticket.btnAction.cancel' |
    translate}}</button>
  <button type='submit' class='btn btn--light-blue btn-small' (click)='updateStatus()'>{{'ticket.btnAction.confirm' |
    translate}}</button>
</div>
<!-- </div>
  </div> -->
<!-- </div> -->
