.input_block {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #EBEBEC;
    border-radius: 5px;
    padding: 17px;
    height: calc(2.3em + 0.75rem + 2px);
  }

.status-modal {
  .modal-dialog {
    width: 500px;
  }
}
  