.item_edit {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	&:hover {
		background: #fff;
	}
}

.check {
	width: auto;
	border-radius: 3px;
	height: 28px;
	margin-left: 4px;
	padding: 3px;
	&:hover {
		background: #fff;
	}
}

.flex_row {
	flex-direction: row
}
