<div class="right-view">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'kpi.title.edit_region_factor' |
                translate }}</h3>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body" (click)='endEdit($event)'>
            <div class="content-body__list">
                <div class="list__block" [formGroup]="formCreate">
                    <div class="px-4 pt-4">
                        <div class="row">
                            <div class="col-md-3 form-group has-error">
                                <label>{{ 'kpi.fields.block' | translate }} <span class="text-red">(*)</span></label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                                    [options]="listBlock" class="d-block" formControlName="blockCode" appendTo="body"
                                    autoZIndex="false" baseZIndex="10000" optionLabel="name" optionValue="code">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{ 'kpi.fields.config_name' | translate }} <span
                                        class="text-red">(*)</span></label>
                                <input placeholder="" type="text" class="d-block" formControlName="kpiFactorSetName"
                                    pInputText />
                                <small class="p-error"
                                    *ngIf="formCreate?.controls.kpiFactorSetName?.errors?.cusRequired && formCreate?.controls.kpiFactorSetName?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{ 'fields.startDate' | translate }} <span class="text-red">(*)</span></label>
                                <p-calendar class="d-block" formControlName="efficientDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" view="month"
                                    [readonlyInput]='true' [minDate]='minEfficientDate' [maxDate]="maxEfficientDate"
                                    icon="las la-calendar-alt">
                                </p-calendar>
                                <small class="p-error"
                                    *ngIf="formCreate?.controls.efficientDate?.errors?.cusRequired && formCreate?.controls.efficientDate?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>{{ 'fields.endDate' | translate }}</label>
                                <p-calendar class="d-block" formControlName="expireDate" dateFormat="dd/mm/yy"
                                    appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true" view="month"
                                    [readonlyInput]='true' (onSelect)='onChangeEndDate($event)'
                                    [minDate]='minExpireDate' icon="las la-calendar-alt">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="table__view group__view" [formGroup]='formCell'>
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listBranchTypeKPI"
                            [columnMode]="'force'" [headerHeight]="50" rowHeight="auto" [scrollbarV]="true"
                            [scrollbarH]="true" [virtualization]="false" [messages]="messages">

                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name" name=''>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column *ngFor="let region of listRegion;let indexRegion=index"
                                [sortable]="false" [draggable]="false" [name]="region.name">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <!-- text input -->
                                    <div *ngIf="editing[getIndex(indexRegion, rowIndex)]" class="d-block">
                                        <div class="flex_row">
                                            <input placeholder="" type="text" class="col-md-6" pInputText
                                                formControlName="value" id='inputValue' />
                                            <img class="check" (click)="updateValue($event)" alt=""
                                                src="/assets/images/check.png" id='imgCheck' />
                                        </div>
                                        <small class="p-error" *ngIf="formCell.controls.value?.errors?.cusRequired">{{
                                            'validationMessage.required' |
                                            translate }}</small>
                                        <small class="p-error" *ngIf="formCell.controls.value?.errors?.value">{{
                                            'validationMessage.value_common' |
                                            translate }}</small>
                                    </div>
                                    <!-- text -->
                                    <div *ngIf="!editing[getIndex(indexRegion, rowIndex)]" class="d-block item_edit"
                                        title="Double click to edit"
                                        (dblclick)="onDbClickCell(getIndex(indexRegion, rowIndex))">
                                        <span>
                                            {{ listReshapeRegionFactor[getIndex(indexRegion, rowIndex)]?.value }}
                                        </span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>

                    <div class="p-4 text-left btn-action" *ngIf='!indexEditing'>
                        <button class="btn btn--light-blue btn-small" (click)="create()">{{ 'btnAction.write' | translate
                            }}</button>
                        <button class="btn btn-light mr-3" (click)="back()">{{ 'btnAction.skip' | translate
                            }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
