//@import "variable";
//
//$base-color: #e9ecef;
//
//.plan-after-coaching {
//    .type-width {
//        width: 170px;
//    }
//
//    .custom-table {
//        .header {
//            height: 48px;
//        }
//        .t-row {
//            height: 80px;
//            .same-parent {
//                border-bottom: none;
//            }
//            .last-col-split {
//                border-right: 1px solid $base-color
//            }
//            .first-col-split {
//                text-align: center;
//                border-left: 1px solid $base-color
//            }
//        }
//        .group-split {
//            border-top: 3px solid $base-color
//        }
//        .p-datatable-tbody {
//            tr {
//                height: 70px;
//            }
//        }
//        td {
//            white-space: pre-line;
//            word-break: break-all;
//        }
//    }
//    .edit-btn {
//        width: 70px;
//        height: 56px;
//        background: #eff2fe;
//        color: #777777;
//        &:hover {
//            color: $blue;
//        }
//        em {
//            font-size: 22px;
//            margin-bottom: 5px;
//        }
//    }
//
//    .custom-right {
//        display: flex;
//        align-items: end;
//    }
//    .border-red {
//        border-color: #ff0000 !important;
//    }
//
//    .apply-icon {
//        color: green;
//    }
//    .cancel-icon {
//        color: red;
//    }
//
//    .btn-option {
//        &:hover {
//            background-color: #eff2fe;
//        }
//    }
//}
