<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'rm.menu.rmBlock' | translate }}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list row">
        <div class="table-rm col-md-4 pl-0 pr-2">
          <div class="card flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                    [(ngModel)]="rmSearch" (keyup.enter)="searchRM(true)" maxlength="200" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  title="{{ 'btnAction.search' | translate }}" (click)="searchRM(true)">
                  <em class="las la-search f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable ngxDataTable #tableRM class="bootstrap fullscreen" [rows]="listRM"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                [count]="pageableRM?.totalElements" [offset]="pageableRM?.currentPage" [limit]="pageableRM?.size"
                (page)="setPage($event, 'rm')" [selected]="selected" [selectionType]="SelectionType.single"
                (select)="onSelectRM($event)" [messages]="messages">
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                  name="{{ 'fields.rmCode' | translate }}" [width]="50" [canAutoResize]="false" [resizeable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="hrsCode" name="{{ 'fields.hrsCode' | translate }}"
                  [width]="90" [canAutoResize]="false" [resizeable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="fullName" [resizeable]="false"
                  name="{{ 'fields.fullName' | translate }}" [width]="120">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" prop="username" [resizeable]="false"
                  name="{{ 'fields.username' | translate }}" [width]="120" [canAutoResize]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [quickPage]="false" [visiblePagesCount]="3"
                      [offset]="offset" [size]="pageSize" [count]="rowCount" [hidden]="false"
                      (change)="tableRM.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="table-block col-md-8 pl-2 pr-0">
          <div class="card flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
              </div>
              <div class="filter-top__right d-flex">
                <button [class.isNotUpdate]="!(objFunction && objFunction.update)"
                  class="btn btn--light-blue btn-small mr-2" (click)="save()" [class.disabled]="!rmSelected">
                  {{ 'btnAction.save' | translate }}
                </button>
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable ngxDataTable #tableBlock class="bootstrap fullscreen" [rows]="listBlock"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                [count]="pageableBlock?.totalElements" [offset]="pageableBlock?.currentPage"
                [limit]="pageableBlock?.size" (page)="setPage($event, 'block')" [messages]="messages">
                <ngx-datatable-column [width]="35" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
                  [draggable]="false" [resizeable]="false">
                  <ng-template ngx-datatable-header-template>
                    <label class="checkbox">
                      <input type="checkbox" [checked]="checkAll"
                        (click)="onCheckboxBlockAllFn($event.target.checked);$event.stopPropagation()" />
                      <span class="ck"></span>
                    </label>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <label class="checkbox">
                      <input type="checkbox" [disabled]="!(objFunction && objFunction.update)" [checked]="row.isChecked"
                        (click)="onCheckboxBlockFn(row, $event.target.checked);$event.stopPropagation()" />
                      <span class="ck"></span>
                    </label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                  name="{{ 'fields.blockCode' | translate }}" [width]="60" [canAutoResize]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                  name="{{ 'fields.blockName' | translate }}" [width]="120">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false"
                  name="{{ 'fields.titleGroupRM' | translate }}" [width]="170">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <p-dropdown class="w-100" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                      placeholder="{{ 'choose' | translate }}" (onChange)="chooseTitleGroupRM($event, row)"
                      appendTo="body" [options]="row.listTitleGroupRM" [(ngModel)]="row.titleGroupId" optionLabel="name"
                      optionValue="id"></p-dropdown>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" name="{{ 'fields.levelRM' | translate }}"
                  [width]="140">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <p-dropdown class="w-100" emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                      placeholder="{{ 'choose' | translate }}" (onChange)="chooseLevelRM($event, row)" appendTo="body"
                      [options]="row.listLevelRM" [(ngModel)]="row.levelRMId" optionLabel="name" optionValue="id">
                    </p-dropdown>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false"
                  name="{{ 'fields.syntheticKPI' | translate }}" [width]="95" [canAutoResize]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="checkbox-column">
                      <label class="checkbox">
                        <input type="checkbox" [checked]="row.isSyntheticKPI"
                          (click)="onCheckboxSyntheticFn(row, $event.target.checked);$event.stopPropagation()" />
                        <span class="ck"></span>
                      </label>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false"
                  name="{{ 'fields.effectiveDate' | translate }}" [width]="95" [canAutoResize]="false">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{ row?.assignedDate | date: 'dd/MM/yyyy' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                      [hidden]="false" (change)="tableBlock.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
            <div class="note text-left px-4 pb-4">
              <hr />
              <div class="font-weight-bold">{{ 'fields.noteRM' | translate }}:
                {{ selected.length > 0 ? selected[0].fullName + ( selected[0].code ? ' (' + selected[0].code + ')' : '')
                : '' }}
              </div>
              <textarea class="form-control search-box" [maxlength]="255" style="resize: none; height: 50px;"
                type="text" [(ngModel)]="note"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
