@import '../../../../../assets/styles/variable';

.content-body {
  background-color: $body-bg;
  padding: 0;
}
.filter-top__left {
  display: flex;
  align-items: flex-end;
}
.table-rm,
.table-block {
  display: flex;
  flex-direction: column;
}
.checkbox-column {
  display: flex;
  justify-content: center;
  width: 100%;
}
.isNotUpdate {
  opacity: 0;
  cursor: initial;
}
.backgroud-table {
  background: #f5f5fa;
}

// p-dropdown {
//   width: 100%;
// }

.search-box {
  padding: 10px !important;
}

.select1 {
  min-width: 165px;
}

.select2 {
  min-width: 135px;
}

.li.pagination-btn {
  &:first-child,
  &:last-child {
    display: none;
  }
}
