<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Danh sách khách hàng</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list__block">
    <div class="table__view user__view">
      <ngx-datatable
        ngxDataTable
        #tablerm
        [messages]="messages"
        [scrollbarV]="true"
        class="bootstrap fullscreen"
        [scrollbarH]="true"
        [virtualization]="false"
        [externalPaging]="true"
        [columnMode]="'mode'"
        [rows]="listData"
        [count]="pageable?.totalElements"
        [offset]="pageable?.currentPage"
        [limit]="pageable?.size"
        (page)="paging($event)"
        [headerHeight]="50"
        [footerHeight]="56"
        (activate)="onActive($event)"
      >
        <ngx-datatable-column
          [width]="40"
          [frozenLeft]="true"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
        >
        </ngx-datatable-column>

        <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40" >
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'rm.fields.index' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
        [sortable]="false"
        [draggable]="false"
        prop="code"
        name="{{ 'fields.customerCode' | translate }}"
        ></ngx-datatable-column>

        <ngx-datatable-column
          [sortable]="false"
          [draggable]="false"
          prop="taxCode"
          name="{{ 'fields.taxCode' | translate }}"
        ></ngx-datatable-column>

        <ngx-datatable-column
          [sortable]="false"
          [draggable]="false"
          [width]="200"
          prop="fullName"
          name="{{ 'fields.customerName' | translate }}"
        >
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="notificationType !== 'NOTIFICATION_ASSIGN_CUSTOMER_GROUP'
        && notificationType !== 'NOTIFICATION_UNASSIGN_CUSTOMER_GROUP'"

          [sortable]="false"
          [draggable]="false"
          [width]="200"
          prop="source"
          name="Nguồn khách hàng"
        >
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <span>{{ value | translate}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            ngx-datatable-footer-template
          >
            <app-pager-ngx-datatable
              [page]="curPage"
              [offset]="offset"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="false"
              (change)="paging($event)"
            >
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
