.choose-user-modal {
  .modal-dialog {
    max-width: 400px;
  }
  .list-user {
    height: 300px;
    max-height: 300px;
    overflow: auto;
  }
  .noData {
    text-align: center;
    margin-top: 100px;
  }

  .item-rm {
    padding: 5px;
    &:hover {
      background: #eff2fe;
    }
  }
}
