<div class="modal-header pb-4">
  <div class="block-center-between">
    <div>
      <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
        [(ngModel)]="rmSearch" (keyup.enter)="searchRM()" maxlength="200" />
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list-user">
    <div *ngFor="let item of data; let i = index" class="block-center item-rm" (click)="chooseUser(item)">
      <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large"></p-avatar>
      <div class="ml-3">
        <label class="m-0">{{ (item?.code || '') + ' - ' + (item?.fullName || '') }}</label>
      </div>
    </div>
    <div *ngIf="!data || data.length === 0" class="noData">{{ 'messageTable.emptyMessage' | translate }}</div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>