<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'task.createTask' | translate }}</h5>
      <label class="m-0">{{ 'task.title' | translate }}</label>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-task" [formGroup]="form">
    <div class="row">
      <div class="col form-group mb-0 has-error">
        <label>{{ 'fields.titleTask' | translate }} <span class="text-red">(*)</span></label>
        <input class="form-control" type="text" maxlength="200" formControlName="subject" />
        <div *ngIf="form.get('subject').errors && form.get('subject').errors.required && isFieldValid('subject')"
          class="invalid-tooltip">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
      <div class="col form-group mb-0 has-error">
        <label>{{ 'fields.priority' | translate }}</label>
        <div class="block-center-between f-12">
          <div class="block-center">
            <button pButton pRipple type="button" icon="pi pi-check"
              class="p-button-rounded background-red p-label-none p-button-high" [ngClass]="{ 'active': priority.high}"
              (click)="handlePriority(1)"></button>
            <div class="ml-2">{{ 'priority.high' | translate }}</div>
          </div>
          <div class="block-center">
            <button pButton pRipple type="button" icon="pi pi-check"
              class="p-button-rounded background-yellow p-label-none p-button-medium"
              [ngClass]="{ 'active': priority.medium}" (click)="handlePriority(2)"></button>
            <div class="ml-2">{{ 'priority.medium' | translate }}</div>
          </div>
          <div class="block-center">
            <button pButton pRipple type="button" icon="pi pi-check"
              class="p-button-rounded background-green p-label-none p-button-low" [ngClass]="{ 'active': priority.low}"
              (click)="handlePriority(3)"></button>
            <div class="ml-2">{{ 'priority.low' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col form-group mb-0 has-error">
        <label>{{ 'fields.startDate' | translate }} <span class="text-red">(*)</span></label>
        <p-calendar formControlName="createdAt" class="d-block1" dateFormat="dd/mm/yy" appendTo="body"
          autoZIndex="false" baseZIndex="10000" [showIcon]="true" [minDate]="optCreateDate?.minDate"
          icon="las la-calendar-alt" [showTime]="true">
        </p-calendar>
        <div *ngIf="
            form.get('createdAt').errors && form.get('createdAt').errors.required && isFieldValid('createdAt')
          " class="invalid-tooltip">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
      <div class="col form-group mb-0 has-error">
        <label>{{ 'fields.expiredDate' | translate }} <span class="text-red">(*)</span></label>
        <p-calendar formControlName="dueDate" class="d-block1" dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
          baseZIndex="10000" [showIcon]="true" [minDate]="optDueDate?.minDate" icon="las la-calendar-alt"
          [showTime]="true">
        </p-calendar>
        <div *ngIf="
            form.get('dueDate').errors && form.get('dueDate').errors.required && isFieldValid('dueDate')
          " class="invalid-tooltip">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col form-group has-error">
        <div class="block-center-between mb-3">
          <label class="d-block">{{ 'fields.assignTo' | translate }} <span class="text-red">(*)</span></label>
          <p-avatar icon="pi pi-user-plus" styleClass="p-mr-2" shape="circle" size="large" (click)="addUserAssignee()">
          </p-avatar>
        </div>
        <div class="">
          <p-chip *ngFor="let item of listAssignee" label="{{ (item.code || '') + ' - ' + (item.fullName || '') }}"
            [removable]="true" (onRemove)="removeItemAssign(item)" class="d-block mb-2"></p-chip>
        </div>
        <div *ngIf="listAssignee.length === 0" class="invalid-tooltip">
          {{ 'validationMessage.required' | translate }}
        </div>
      </div>
      <div class="col form-group has-error">
        <div class="block-center-between mb-3">
          <label class="d-block">{{ 'fields.follower' | translate }}</label>
          <p-avatar icon="pi pi-user-plus" styleClass="p-mr-2" shape="circle" size="large" (click)="addUserFollow()">
          </p-avatar>
        </div>
        <div class="">
          <p-chip *ngFor="let item of listFollow" label="{{ (item.code || '') + ' - ' + (item.fullName || '') }}"
            [removable]="true" (onRemove)="removeItemFollow(item)" class="d-block mb-2"></p-chip>
        </div>
      </div>
    </div>
    <hr class="mb-5" />

    <div class="form-group">
      <label>{{ 'fields.description' | translate }}</label>
      <textarea class="form-control" type="text" [maxlength]="300" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label>{{ 'fields.listTask' | translate }}</label>
      <div class="check-list">
        <label *ngFor="let item of checkLists; let i = index" class="checkbox mb-2">
          <input type="checkbox" /><span class="ck"></span>
          <span class="ml-3"> {{ item.title }}</span>
          <span class="ml-3" (click)="removeTask(i)">
            <em class="las la-times text-red"></em>
          </span>
        </label>
        <div class="block-center">
          <div class="form-group__icon w-100">
            <input type="text" class="form-control" formControlName="task" (keyup.enter)="createNewCheckList()" />
            <em class="las la-plus pointer grey btn-checkList" (click)="createNewCheckList()"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.close' | translate }}</button>
    <button class="btn btn--light-blue ml-3" (click)="confirmDialog()">{{ 'btnAction.save' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
