.create-task-modal {
  .modal-dialog {
    max-width: 650px;
  }
  .checkbox {
    max-width: 100%;
  }
  .assignee {
    flex-wrap: wrap !important;
  }
  .item-assignee {
    position: relative;
  }
  .la-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1rem;
    color: #ee4d4d;
    background: #ff808b;
    border-radius: 20%;
  }

  .p-label-none {
    .p-button-icon {
      display: none;
      color: #ffffff !important;
    }
  }

  .p-button-high.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-medium.active {
    .p-button-icon {
      display: block !important;
    }
  }
  .p-button-low.active {
    .p-button-icon {
      display: block !important;
    }
  }

  .btn-checkList {
    padding: 3px;
    border-radius: 4px;
  }
}

.p-mr-2{
  &:hover{
    cursor: pointer;
  }
}
