<div class="gridster__item-content">
  <div class="statistical">
    <div class="statistical-title">{{ 'dashboard.opportunitesWon.title' | translate }}</div>
    <div class="statistical-content">
      <div class="statistical-today">
        <div class="statistical-label">{{ 'dashboard.opportunitesWon.totalOpportunityToDay' | translate }}:</div>
        <div class="statistical-amount text-primary">
          {{
          (opportunitesWon?.totalToDay | number) || 0
          }}
        </div>
      </div>
      <div class="statistical-yesterday">
        <div class="statistical-label">{{ 'dashboard.opportunitesWon.totalOpportunityYesterday' | translate }}:</div>
        <div class="statistical-amount text-primary">
          {{
          (opportunitesWon?.totalYesterday | number) || 0
          }}
        </div>
      </div>
      <div class="statistical-month">
        <div class="statistical-label">{{ 'dashboard.opportunitesWon.totalOpportunityMonth' | translate }}:</div>
        <div class="statistical-amount text-primary">
          {{
          (opportunitesWon?.totalMonth | number) || 0
          }}
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>