<div class="heading my-4">
    <h5 class="heading__top mb-0">{{ 'lefBar.statisticalLanes' | translate }}</h5>
</div>
<div class="boxes">
    <div class="boxes-body">
        <div class="box" *ngFor="let item of lanes; trackBy: identify">
            <div>{{ item?.name }}</div>
            <div class="box__progress">
                <div class="block-between mb-3">
                    <h3 class="mb-0">{{ item?.total }}</h3>
                    <span class="progress-percent text-black">{{ item?.percent }}</span>
                </div>
                <div class="progress" [ngClass]="generateClassProgressBar(item)">
                    <div class="progress-bar" [ngStyle]="{ width: item?.percent }" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>