<div class="posterContent">
    <div class="header p-d-flex p-jc-between mb-2">
        <div></div>
        <i class="pi pi-times cancel-icon" (click)="hidePoster('session')"></i>
    </div>
    <div class="bn-content">
        <img class="imgBody" [src]="selectedImg" alt="">
    </div>
    <div class="footer mt-3">
        <button *ngIf="data?.poster?.enableSkipPoster && data?.poster?.enableSkipPoster == true" class="btn btn--light-blue btn-small" (click)="hidePoster('live')">
            {{ 'do_not_show_again' | translate }}
        </button>
    </div>
</div>
