@import '../../../../../assets/styles/variable';

.content-body {
  background-color: $body-bg;
  padding: 0;
  .content-body__list {
    width: 100%;
    margin: 0;
  }
}
.table-user {
  display: flex;
  flex-direction: column;
}
.table-permission {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.table-branch {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.permission-branch {
  display: flex;
  flex-direction: column;
}
