<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.userPermissionConfig' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <div *ngIf="objFunction && objFunction.import" ngbDropdown placement="bottom-right" class="d-inline-block">
        <button class="btn-icon--small btn-icon btn btn-search  dropdown-toggle grey btn" id="dropdownBasic2"
          ngbDropdownToggle>
          <em class="las la-ellipsis-v f-16"></em>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem (click)="import()">
            <em class="las la-file-upload f-16"></em> <span>{{ 'btnAction.import'
              | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list row">
        <div class="col-md-7 table-user pl-0 pr-2">
          <div class="card m-0 flex-grow-1">
            <div class="filter-top block-center-between px-4">
              <div class="filter-top__left">
                <div>
                  <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                    [(ngModel)]="userSearch" (keyup)="isClickSearch('user')" (keyup.enter)="searchUser(true)" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                  title="{{ 'btnAction.search' | translate }}" (click)="searchUser(true)">
                  <em class="las la-search f-16"></em>
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button *ngIf="objFunction && objFunction.export" class="btn-icon btn-icon--small btn btn-search ml-2"
                  (click)="exportUser()" title="{{ 'btnAction.export' | translate }}">
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>
            <div class="table__view">
              <ngx-datatable ngxDataTable #tableUser class="bootstrap fullscreen" [rows]="listUser"
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                [count]="pageableUser?.totalElements" [offset]="pageableUser?.currentPage" [limit]="pageableUser?.size"
                (page)="setPage($event, 'user')" [selected]="selectedUser" [selectionType]="SelectionType.single"
                (select)="onSelect('user')" [messages]="messages">
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                  [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageableUser?.currentPage * pageableUser?.size + rowIndex + 1}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="username"
                  name="{{ 'fields.username' | translate }}">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="btn-icon btn-icon--small grey clickable">
                      <em class="las f-16 la-user"></em>
                    </span>
                    <span class="ml-2">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="fullName"
                  name="{{ 'fields.fullName' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code" [width]="100"
                  name="{{ 'fields.rmCode' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="hrsCode"
                  name="{{ 'fields.hrsCode' | translate }}"></ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="currentVisible"
                      [size]="pageSize" [count]="rowCount" [hidden]="false" (change)="tableUser.onFooterPage($event)">
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="col-md-5 permission-branch pr-0 pl-2">
          <div class="table-permission">
            <div class="card flex-grow-1">
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <div>
                    <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                      class="form-control search-box" [(ngModel)]="permissionSearch"
                      (keyup)="isClickSearch('permission')" (keyup.enter)="searchPermission(true)" />
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}" (click)="searchPermission(true)">
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
                <div class="filter-top__right block-center">
                  <div *ngIf="objFunction && objFunction.update">
                    <label class="checkbox mr-2">
                      <input type="checkbox" [checked]="isPermissionAll"
                        (click)="checkAllPermission($event.target.checked)" />
                      <span class="ck"></span>
                    </label>
                  </div>
                  <div *ngIf="objFunction && objFunction.update">
                    {{ 'fields.checkAll' | translate }}
                  </div>
                  <button *ngIf="objFunction && objFunction.export" class="btn-icon btn-icon--small btn btn-search ml-2"
                    (click)="exportPermission()" title="{{ 'btnAction.export' | translate }}">
                    <em class="las la-file-excel f-16"></em>
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable ngxDataTable #tablePermission class="bootstrap fullscreen" [rows]="listPermission"
                  [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                  [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                  [count]="pageablePermission?.totalElements" [offset]="pageablePermission?.currentPage"
                  [limit]="pageablePermission?.size" (page)="setPage($event, 'permission')"
                  [selected]="selectedPermission" [selectionType]="SelectionType.single"
                  (select)="onSelect('permission')" [messages]="messages">
                  <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageablePermission?.currentPage * pageablePermission?.size + rowIndex + 1}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                    name="{{ 'fields.permissionName' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span class="btn-icon btn-icon--small grey clickable">
                        <em class="las f-16 la-cogs"></em>
                      </span>
                      <span class="ml-2">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                      let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                      <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="3"
                        [size]="pageSize" [count]="rowCount" [hidden]="false"
                        (change)="tablePermission.onFooterPage($event)">
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div class="table-branch">
            <div class="card m-0 flex-grow-1">
              <div class="filter-top block-center-between px-4">
                <div class="filter-top__left">
                  <div>
                    <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                      class="form-control search-box" [(ngModel)]="branchSearch" (keyup)="isClickSearch('branch')"
                      (keyup.enter)="searchBranch(true)" />
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}" (click)="searchBranch(true)">
                    <em class="las la-search f-16"></em>
                  </button>
                </div>
                <div class="filter-top__right d-flex">
                  <button *ngIf="objFunction && objFunction.export" class="btn-icon btn-icon--small btn btn-search mr-2"
                    (click)="exportBranch()" title="{{ 'btnAction.export' | translate }}">
                    <em class="las la-file-excel f-16"></em>
                  </button>
                  <button *ngIf="objFunction && objFunction.update" class="btn-icon btn-icon--small btn btn-search"
                    [class.disabled]="(selectedPermission.length === 0 && !isPermissionAll) || selectedUser.length === 0"
                    (click)="confirmBranch()">
                    <em class="las la-link f-16"></em>
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable ngxDataTable #tableBranch class="bootstrap fullscreen" [rows]="listBranch"
                  [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                  [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                  [count]="pageableBranch?.totalElements" [offset]="pageableBranch?.currentPage"
                  [limit]="pageableBranch?.size" (page)="setPage($event, 'branch')" [messages]="messages">
                  <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageableBranch?.currentPage * pageableBranch?.size + rowIndex + 1}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
                    name="{{ 'fields.branchCode' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span class="btn-icon btn-icon--small grey clickable">
                        <em class="las f-16 la-landmark"></em>
                      </span>
                      <span class="ml-2">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name"
                    name="{{ 'fields.branchName' | translate }}"></ngx-datatable-column>
                  <ngx-datatable-column [sortable]="false" [draggable]="false" prop="parentName"
                    name="{{ 'fields.branchParent' | translate }}"></ngx-datatable-column>
                  <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                      let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                      <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [visiblePagesCount]="3"
                        [size]="pageSize" [count]="rowCount" [hidden]="false"
                        (change)="tableBranch.onFooterPage($event)">
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>