@import 'variable';

.sale-manager-create {
  .messageErro {
    text-align: center;
    margin-top: 70px;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .list__block {
    overflow-y: auto;
    // border-radius: 12px;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }
  // .table__view {
  //   margin-top: 20px;
  // }
  // .shareStatus .content__top {
  //   margin: 24px 0 12px;
  // }
}
