<div class="right-view sale-manager-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'saleOpportunity.screenCreated' | translate }}</h3>
    </div>
    <div *ngIf="is_show" class="content__top-right">
      <button class="btn btn-light btn-small" (click)="back()">{{ 'btnAction.cancel' | translate }}</button>
      <button class="btn btn--light-blue btn-small ml-3" (click)="createOpportunity()">
        {{ 'btnAction.add' | translate }}
      </button>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="card p-4 text-left mb-4">
            <div class="row mb-10" [formGroup]="formCheckInfo">
              <div class="col-md-3">
                <label class="mb-0">Khối khách hàng</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  formControlName="divisionCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  (onChange)="onChangeEventType($event)"
                ></p-dropdown>
              </div>

              <div class="col-md-3">
                <label class="mb-0">Mã khách hàng</label>
                <input
                  formControlName="customerCode"
                  type="text"
                  (blur)="valiDateSpace($event)"
                  pInputText
                  placeholder="Nhập mã khách hàng"
                  class="d-block"
                />
              </div>
              <div class="col-md-1">
                <button
                  [disabled]="!btnCheckCustomer"
                  style="margin-top: 18px"
                  (click)="searchDetailCustomer()"
                  class="btn btn-small btn--light-blue"
                >
                  Kiểm tra thông tin
                </button>
              </div>
            </div>
          </div>

          <ng-container *ngIf="showMessage">
            <div style="height: 200px" class="card p-4 text-left mb-4">
              <div class="messageErro">Khách hàng chưa tồn tại, vui lòng kiểm tra lại</div>
            </div>
          </ng-container>
          <!-- Thông tin khách hàng -->
          <ng-container *ngIf="showData">
            <div class="card p-4 text-left mb-4">
              <div class="title-info block-center-between">
                <h5>{{ 'title.legalRepresentativeInfo' | translate }}</h5>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.fullNameOpportunity' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap" title="{{ model?.customerInfo?.fullName }}">
                    {{ getTruncateValue(model, 'customerInfo.fullName', 50) }}
                  </span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.businessRegistrationDate' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.customerInfo?.registrationDate }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.country' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.customerInfo?.nationality }}</span>
                </div>
                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.companyPhone' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.customerInfo?.mobileNumber }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.registrationNumber' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.customerInfo?.registrationNumber }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.employeeNo' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.customerInfo?.employeesNo }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.customerCode' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.systemInfo?.code }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.customerType' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.systemInfo?.accountType }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.address' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap" title="{{ model?.businessInfo?.address }}">{{
                    getTruncateValue(model, 'customerInfo.address', 250)
                  }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.sectorName' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ model?.systemInfo?.sectorName }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.customerIndustry' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap" title="{{ model?.customerInfo?.industryDes }}">{{
                    getTruncateValue(model, 'customerInfo.industryDes', 250)
                  }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.customerSegment' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ segmentCustomer }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.branchOpenCode' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{
                    model?.systemInfo?.branchCode + ' - ' + model?.systemInfo?.branchName
                  }}</span>
                </div>

                <div class="col-md-2">
                  <label class="detail-key">{{ 'fields.rmManager' | translate }}</label>
                </div>
                <div class="col-md-4 form-group has-error">
                  <span class="text-wrap">{{ rmManager }}</span>
                </div>
              </div>
            </div>

            <div class="card flex-grow-1 p-4 text-left mb-4">
              <div class="title-info block-center-between">
                <h5>{{ 'saleOpportunity.infoOpportunity' | translate }}</h5>
              </div>
              <span class="mb-10" style="color: red">{{ 'saleOpportunity.validationProduct' | translate }}</span>
              <div class="row mb-10" [formGroup]="formProduct">
                <div class="col-md-3">
                  <label class="mb-0">{{ 'saleOpportunity.branhOpportunity' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    [options]="listBranchesOpp"
                    placeholder=" "
                    class="d-block"
                    [filter]="true"
                    emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                    formControlName="opportunityBranch"
                    appendTo="body"
                    autoZIndex="false"
                    baseZIndex="10000"
                    optionLabel="displayName"
                    optionValue="code"
                    [virtualScroll]="true"
                    [itemSize]="31"
                  ></p-dropdown>
                </div>
                <div class="col-md-3">
                  <label class="mb-0">{{ 'saleOpportunity.rmOpportunity' | translate }}</label>
                  <p-dropdown
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName="assignTo"
                    [filter]="true"
                    [options]="listRmManager"
                    placeholder=" "
                    class="d-block"
                    optionLabel="displayName"
                    optionValue="code"
                    [virtualScroll]="true"
                    [itemSize]="31"
                  >
                  </p-dropdown>
                </div>
                <div class="col-md-1">
                  <button (click)="addProduct()" style="margin-top: 18px" class="btn btn-small btn--light-blue">
                    Chọn sản phẩm bán
                  </button>
                </div>
              </div>
              <ng-container *ngIf="showData">
                <div class="">
                  <ngx-datatable
                    ngxDataTable
                    #table
                    class="bootstrap"
                    columnMode="force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [virtualization]="false"
                    [scrollbarH]="true"
                    [rows]="listDataProduct"
                    [virtualization]="false"
                    [externalPaging]="true"
                    [count]="pageableProduct?.totalElements"
                    [offset]="pageableProduct?.currentPage"
                    [limit]="pageableProduct?.size"
                    (page)="setPage($event)"
                    [messages]="messages"
                  >
                    <ngx-datatable-column
                      [sortable]="false"
                      [draggable]="false"
                      name="{{ 'fields.order' | translate }}"
                      [width]="40"
                      [canAutoResize]="false"
                    >
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageableProduct?.currentPage * pageableProduct?.size + rowIndex + 1 }}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                      prop="productCode"
                      [sortable]="false"
                      [draggable]="false"
                      name="{{ 'fields.productCode' | translate }}"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="productName"
                      [sortable]="false"
                      [draggable]="false"
                      name="{{ 'fields.productName' | translate }}"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="productGroup"
                      [sortable]="false"
                      [draggable]="false"
                      name="{{ 'fields.productGroup' | translate }}"
                    >
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      name="{{ 'fields.action' | translate }}"
                      [width]="100"
                      [frozenRight]="true"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                    >
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="block-center text-center column-action">
                          <button
                            type="button"
                            class="btn-outline"
                            (click)="removeRecord(row); $event.stopPropagation()"
                            title="{{ 'btnAction.delete' | translate }}"
                          >
                            <em class="las la-trash-alt"></em>
                          </button>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                      <ng-template
                        let-rowCount="rowCount"
                        let-pageSize="pageSize"
                        let-selectedCount="selectedCount"
                        let-curPage="curPage"
                        let-offset="offset"
                        ngx-datatable-footer-template
                      >
                        <app-pager-ngx-datatable
                          [page]="curPage"
                          [offset]="offset"
                          [size]="pageSize"
                          [count]="rowCount"
                          [hidden]="false"
                          (change)="table.onFooterPage($event)"
                        >
                        </app-pager-ngx-datatable>
                      </ng-template>
                    </ngx-datatable-footer>
                  </ngx-datatable>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
