<div class="right-view lead-create">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ title }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="form-body px-4 mt-3">
            <div class="row">
              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Mã chỉ tiêu <span class="text-red">(*)</span></label>
                <input
                  placeholder=""
                  type="text"
                  maxlength="20"
                  class="d-block"
                  formControlName="itemCode"
                  pInputText
                />
                <small class="p-error" *ngIf="getError('itemCode')">{{
                  'validationMessage.required' | translate
                }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Tên chỉ tiêu <span class="text-red">(*)</span></label>
                <input
                  placeholder=""
                  type="text"
                  maxlength="100"
                  class="d-block"
                  formControlName="itemName"
                  pInputText
                />
                <small class="p-error" *ngIf="getError('itemName')">{{
                  'validationMessage.required' | translate
                }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Cấp độ chỉ tiêu <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listLevel"
                  class="d-block"
                  formControlName="itemLevel"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
                <small class="p-error" *ngIf="getError('itemLevel')">{{
                  'validationMessage.required' | translate
                }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Chỉ tiêu cha <span *ngIf="isRequiredParent()" class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listParent"
                  class="d-block"
                  formControlName="itemParent"
                  appendTo="body"
                  optionLabel="itemName"
                  optionValue="id"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
                <small class="p-error" *ngIf="getError('itemParent')">{{
                  'validationMessage.required' | translate
                }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Tính chất <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listAttribute"
                  class="d-block"
                  formControlName="attribute"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
                <small class="p-error" *ngIf="getError('attribute')">{{
                  'validationMessage.required' | translate
                }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Đơn vị tính <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listUnit"
                  class="d-block"
                  formControlName="unit"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
                <small class="p-error" *ngIf="getError('unit')">{{ 'validationMessage.required' | translate }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Loại chỉ tiêu <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [options]="commonData.listType"
                  class="d-block"
                  formControlName="type"
                  appendTo="body"
                  optionLabel="name"
                  optionValue="code"
                  [autoDisplayFirst]="false"
                ></p-dropdown>
                <small class="p-error" *ngIf="getError('type')">{{ 'validationMessage.required' | translate }}</small>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Công thức tổng hợp</label>
                <input
                  placeholder=""
                  type="text"
                  maxlength="100"
                  class="d-block"
                  formControlName="formula"
                  pInputText
                />
              </div>
              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Thứ tự</label>
                <p-inputNumber
                  class="d-block"
                  formControlName="orderByLevel"
                  mode="decimal"
                  inputId="orderByLevel"
                  [useGrouping]="false"
                >
                </p-inputNumber>
              </div>

              <div class="col-md-4 form-group">
                <label style="opacity: 0">Công thức tổng hợp</label>
                <div class="row">
                  <div class="p-field-radiobutton col-md-6" [formGroup]="form">
                    <p-checkbox formControlName="isGeneral" binary="true" label="Tổng hợp"> </p-checkbox>
                  </div>
                  <div class="p-field-radiobutton col-md-6" [formGroup]="form">
                    <p-checkbox formControlName="isHeader" binary="true" label="Là header"> </p-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="actionType !== 'DETAIL'" class="px-4 pb-4 text-left btn-action">
            <button class="btn btn--light-blue btn-small" (click)="save()">
              {{ 'btnAction.save' | translate }}
            </button>
            <button class="btn btn-light btn-small" (click)="back()">
              {{ 'btnAction.cancel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
