<div class="gridster__item-content">
    <div class="weekly__report">
        <div [class]="'col-md-' + sizeClass" style="margin: auto;">
            <!-- <app-chart-line [data]="chartTimeTrans"></app-chart-line> -->
        </div>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>