.kpi-assignment-rm-update {
  .center__search {
    display: flex;
    margin: 0 auto;
  }

  .list__block {
    overflow: auto;
  }

  .padding-right-0 {
    padding-right: 0rem;
  }

  .button-edit-column {
    border: 0px;
    background-color: transparent;
  }

  .button-save-column {
    border: 2px;
    margin-left: 8px;
    border-radius: 3px;
    padding-inline: 10px;
  }

  .bg-white {
    background-color: white;
  }

  .icon-save-column {
    font-size: 18px;
  }

  .icon-edit-column {
    font-size: 16px;
  }

  .note {
    padding-left: 0px;
    padding-top: 5px;
  }

  .row-moment {
    display: flex;
    flex-direction: row;
  }

  .w-110 {
    width: 110px !important;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-110-data {
    width: 110px !important;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150 {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-right {
    justify-content: flex-end;
    display: flex;
    padding-right: 18px;
  }

  .col-right-2 {
    justify-content: flex-end;
    display: flex;
    padding-right: 40px;
  }
}
