<ng-container *ngIf="!isModal">
  <div class="right-view lead-management-view">
    <div class="content__top block-center-between">
      <div class="content__top-left block-center">
        <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
          <em class="las la-bars"></em>
        </button>
        <h3 class="mb-0 page--title">Quản lý khách hàng tiềm năng</h3>
      </div>
      <div class="content__top-right"></div>
    </div>
    <div class='content'>
      <app-loading *ngIf='isLoading'></app-loading>
      <div class='content-body'>
        <div class='content-body__list'>
          <ng-container [ngTemplateOutlet]='listContent'></ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isModal">
  <div class="modal-header pb-4">
    <div class="block-center-between">
      <div class="">
        <h5 class="m-0">Chọn khách hàng mục tiêu</h5>
      </div>
    </div>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-loading *ngIf="isLoading"></app-loading>
    <ng-container [ngTemplateOutlet]="listContent"></ng-container>
  </div>
  <div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
      <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
    </div>
  </div>
</ng-container>

<ng-template #listContent>
  <div class="list__block">
    <ng-container *ngIf="searchForm.get('customerType').value !== '0'">
      <div class="fluid-container px-4 pt-4" [formGroup]="searchForm">
        <div class="row py-1">
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.customerCode' | translate }}</label>
            <input
              type="text"
              maxlength="15"
              class="d-block"
              (keyup.enter)="search(true)"
              formControlName="leadCode"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.customerName' | translate }}</label>
            <input
              type="text"
              maxlength="200"
              class="d-block"
              (keyup.enter)="search(true)"
              formControlName="fullName"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.customerType' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listCustomerType"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="customerType"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
              (onChange)="onChangeCustomerType($event)"
            ></p-dropdown>
          </div>
          <div class="col-md-3">
            <label class="m-0">Số ĐKKD/QĐTL</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="search(true)"
              formControlName="businessRegistrationNumber"
              pInputText
            />
          </div>
        </div>

        <div class="row py-1">
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.taxCode' | translate }}</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="search(true)"
              formControlName="taxCode"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.phone' | translate }}</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="search(true)"
              formControlName="phone"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.status' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listStatus"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="status"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.branchManagement' | translate }}</label>
            <p-multiSelect
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listBranch"
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="listBranchSearch"
              optionLabel="name"
              optionValue="code"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-multiSelect>
          </div>
        </div>

        <div class="row py-1" [hidden]="!isOpenMore">
          <div class="col-md-3">
            <label class="m-0">RM quản lý</label>
            <p-multiSelect
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listRmManagement"
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="lstRmCode"
              optionLabel="displayName"
              optionValue="code"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-multiSelect>
          </div>
          <div class="col-md-3">
            <label class="m-0">Kết quả sàng lọc</label>
            <p-multiSelect
              class="d-block"
              [options]="commonData.listScreeningResults"
              formControlName="filters"
              defaultLabel=""
              optionLabel="name"
              optionValue="code"
              display="chip"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            ></p-multiSelect>
          </div>
          <div class="col-md-3">
            <label class="m-0">Nguồn khách hàng</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listSourceCustomer"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="sourceLead"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.bussiness' | translate }}</label>
            <lp-industry [model]="industryCode" [typeCustomer]= '"KHTN"' (modelChange)="fillIndustry($event)"></lp-industry>
          </div>
        </div>

        <div class="row py-1" [hidden]="!isOpenMore">
          <div class="col-md-3">
            <label class="m-0">{{ 'fields.segment' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listSegment"
              placeholder=" "
              class="d-block"
              [filter]="false"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="segment"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>

          <div class="col-md-3">
            <label class='m-0'>{{ 'fields.province' | translate }}</label>
            <p-multiSelect
              class="d-block"
              defaultLabel=" "
              [options]="cityList"
              formControlName="listTownCiti"
              optionLabel="value"
              optionValue="key"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              maxSelectedLabels="{{ cityList?.length - 1 }}"
              [selectedItemsLabel]="fields.all"
            >
            </p-multiSelect>
          </div>

          <div class="col-md-3">
            <label class='m-0'>{{ 'fields.district' | translate }}</label>
            <p-multiSelect
              class="d-block"
              defaultLabel=" "
              [options]="districtList"
              formControlName="listDistrict"
              optionLabel="value"
              optionValue="key"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              maxSelectedLabels="{{ districtList?.length - 1 }}"
              [selectedItemsLabel]="fields.all"
            >
            </p-multiSelect>
          </div>

          <div class="col-md-3">
            <label class='m-0'>{{ 'fields.street' | translate }}</label>
            <p-multiSelect
              class="d-block"
              defaultLabel=" "
              [options]="streetList"
              formControlName="listWard"
              optionLabel="value"
              optionValue="key"
              appendTo="body"
              autoZIndex="false"
              baseZIndex="10000"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              maxSelectedLabels="{{ streetList?.length - 1 }}"
              [selectedItemsLabel]="fields.all"
            >
            </p-multiSelect>
          </div>
          <div class="col-md-3">
            <label class="m-0">SLA RM</label>
            <p-multiSelect
              class="d-block"
              [options]="commonData.listSlas"
              formControlName="slas"
              defaultLabel=""
              optionLabel="value"
              optionValue="value"
              display="chip"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
            ></p-multiSelect>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="searchForm.get('customerType').value === '0'">
      <div class="fluid-container px-4 pt-4" [formGroup]="searchFormKHCN">
        <div class="row py-1">
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.customerCode' | translate }}</label>
            <input
              type="text"
              maxlength="15"
              class="d-block"
              (keyup.enter)="searchKHCN(true)"
              formControlName="leadCode"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.customerName' | translate }}</label>
            <input
              type="text"
              maxlength="200"
              class="d-block"
              (keyup.enter)="searchKHCN(true)"
              formControlName="customerName"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.customerType' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listCustomerType"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="customerType"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
              (onChange)="onChangeCustomerTypeKHCN($event)"
            ></p-dropdown>
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.idCard' | translate }}</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="searchKHCN(true)"
              formControlName="idCard"
              pInputText
            />
          </div>
        </div>

        <div class="row py-1">
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.phone' | translate }}</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="searchKHCN(true)"
              formControlName="phone"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.email' | translate }}</label>
            <input
              type="text"
              maxlength="50"
              class="d-block"
              (keyup.enter)="searchKHCN(true)"
              formControlName="email"
              pInputText
            />
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.status' | translate }}</label>
            <p-dropdown
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonData.listStatus"
              placeholder=" "
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="status"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            ></p-dropdown>
          </div>
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.branchCode' | translate }}</label>
            <p-multiSelect
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonDataKHCN.listBranch"
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="listBranch"
              optionLabel="name"
              optionValue="code"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-multiSelect>
          </div>
        </div>

        <div class="row py-1" [hidden]="!isOpenMore">
          <div class="col-md-3">
            <label class="m-0">{{ 'potentialCustomerList.filter.rmCode' | translate }}</label>
            <p-multiSelect
              emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
              [options]="commonDataKHCN.listRmManagement"
              class="d-block"
              [filter]="true"
              emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
              formControlName="listRM"
              optionLabel="displayName"
              optionValue="code"
              [virtualScroll]="true"
              [itemSize]="31"
            ></p-multiSelect>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="searchForm.get('customerType').value !== '0'">
      <div class="block-center px-4 filter-top">
        <div class="action__left">
          <button class="btn btn-small btn--light-blue" (click)="search(true)">
            <!-- <em class="las la-search f-16"></em> -->
            {{ 'btnAction.search' | translate }}
          </button>
        </div>
        <div class="action__center">
          <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
            <em class="las la-angle-down f-16"></em>
          </button>
          <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="isOpenMore">
            <em class="las la-angle-up f-16"></em>
          </button>
        </div>
        <div class="action__right">
          <button
            class="btn btn--light-blue btn-icon--small"
            (click)="exportFile()"
            title="{{ 'btnAction.export' | translate }}"
            *ngIf="objFunction?.export && !isModal"
          >
            <em class="las la-file-excel f-16"></em>
          </button>
          <button
            class="btn btn--light-blue btn-icon--small mr-2"
            (click)="createLead()"
            title="{{ 'btnAction.create' | translate }}"
            *ngIf="objFunction?.create && !isModal"
          >
            <em class="las la-plus-circle f-16"></em>
          </button>
          <button class="btn btn-small btn--light-blue" (click)="createFromFile()" *ngIf="!isModal && objFunction?.import">
            Thêm từ file
          </button>
          <button (click)='save()' class='btn btn-small btn--light-blue'>
            Thêm KHTN vào danh mục
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="searchForm.get('customerType').value === '0'">
      <div class="block-center px-4 filter-top">
        <div class="action__left">
          <button class="btn btn-small btn--light-blue" (click)="searchKHCN(true)">
            <!-- <em class="las la-search f-16"></em> -->
            {{ 'btnAction.search' | translate }}
          </button>
        </div>
        <div class="action__center">
          <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
            <em class="las la-angle-down f-16"></em>
          </button>
          <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="isOpenMore">
            <em class="las la-angle-up f-16"></em>
          </button>
        </div>
        <div class="action__right">
          <button
            class="btn btn--light-blue btn-icon--small"
            (click)="exportFileKHCN()"
            title="{{ 'btnAction.export' | translate }}"
            *ngIf="objFunction?.export && !isModal"
          >
            <em class="las la-file-excel f-16"></em>
          </button>
          <button
            class="btn btn--light-blue btn-icon--small mr-2"
            (click)="createLead()"
            title="{{ 'btnAction.create' | translate }}"
            *ngIf="objFunction?.create && !isModal"
          >
            <em class="las la-plus-circle f-16"></em>
          </button>
          <button class="btn btn-small btn--light-blue" (click)="createFromFile()" *ngIf="!isModal && objFunction?.import">
            Thêm từ file
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="searchForm.get('customerType').value !== '0'">
      <div class="table__view user__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap fullscreen"
          [rows]="listData"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [virtualization]="false"
          [externalPaging]="true"
          [count]="pageable?.totalElements"
          [offset]="pageable?.currentPage"
          [limit]="pageable?.size"
          (page)="setPage($event)"
          [messages]="messages"
          (activate)="onActive($event)"
        >
          <ngx-datatable-column
            *ngIf='isModal || isShow'
            [width]="40"
            [frozenLeft]="true"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template ngx-datatable-header-template>
              <p-checkbox [(ngModel)]="checkAll" binary="true" (onChange)="onCheckboxAllFn($event)"></p-checkbox>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div>
                <p-checkbox (onChange)='onCheckboxAll($event, row)' *ngIf='isCheck' [(ngModel)]='selected' [value]='row'></p-checkbox>
                <p-checkbox (onChange)='onCheckboxAll($event, row)' *ngIf='initDataCheckBox(row)' [(ngModel)]='selected' [value]='row'></p-checkbox>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="35"
            [canAutoResize]="false"
            [draggable]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="leadCode"
            name="{{ 'fields.customerCode' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="fullName"
            name="{{ 'fields.customerName' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="phone"
            name="{{ 'fields.phone' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="segment"
            name="{{ 'fields.segment' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="industry" name="Ngành nghề kinh doanh">
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="branchName"
            name="{{ 'fields.branchManagement' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rmCode" name="RM quản lý">
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="sourceLead" name="Nguồn khách hàng">
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="address" name="Địa chỉ">
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdDate" name="Ngày tạo KH">
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="status"
            name="{{ 'fields.status' | translate }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="true" [draggable]="false" [width]="80" prop="slaRm" name="SLA RM">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                <button [ngClass]="getClassByNumber(value)" type="button" class="mr-3" style="min-width: 36px">
                  {{ value }}
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [sortable]="true" [draggable]="false" [width]="100" prop="sla" name="SLA chi nhánh">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <button type="button" class="btn-outline--gray">{{ value }}</button>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="{{ 'fields.action' | translate }}"
            [width]="150"
            [frozenRight]="true"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            *ngIf="!isModal"
          >
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                <button
                  style="margin-left: 6px"
                  type="button"
                  class="btn-outline"
                  title="{{ 'Gia hạn SLA' | translate }}"
                  (click)="onTimeExtension(row)"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button
                  *ngIf="objFunction?.rmGrant"
                  type="button"
                  class="btn-outline"
                  title="{{ 'btnAction.assignRmManagement' | translate }}"
                  (click)="assignRM(row)"
                >
                  <em class="las la-user-friends"></em>
                </button>
                <button
                  type="button"
                  class="btn-outline btn--light-blue"
                  title="{{ 'btnAction.edit' | translate }}"
                  (click)="updateLead(row); $event.stopPropagation()"
                  *ngIf="row.isFix === true || row.createdBy === currUser.username"

                >
                  <em class="las la-edit f-16"></em>
                </button>
                <button
                  type="button"
                  class="btn-outline"
                  title="{{ 'customer360.menu.historyAssignment' | translate }}"
                  (click)="historyAssign(row)"
                >
                  <em class="las la-file-invoice"></em>
                </button>
                <button
                  type="button"
                  class="btn-outline btn--light-blue"
                  title="{{ 'btnAction.delete' | translate }}"
                  (click)="deleteLead(row); $event.stopPropagation()"
                  *ngIf="row.isDelete === true"
                >
                  <em class="las la-trash-alt f-16"></em>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              ngx-datatable-footer-template
            >
              <app-pager-ngx-datatable
                [page]="curPage"
                [offset]="offset"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="false"
                (change)="table.onFooterPage($event)"
                [hasDropdown]="true"
                (eventChangePageSize)="handleChangePageSize($event)"
              >
              </app-pager-ngx-datatable>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </ng-container>

    <ng-container *ngIf="searchForm.get('customerType').value === '0'">
      <div class="table__view user__view">
        <ngx-datatable
          ngxDataTable
          #table
          class="bootstrap fullscreen"
          [rows]="listData"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [virtualization]="false"
          [externalPaging]="true"
          [count]="pageable?.totalElements"
          [offset]="pageable?.currentPage"
          [limit]="pageable?.size"
          (page)="setPage($event)"
          [messages]="messages"
          (activate)="onActive($event)"
        >
          <ngx-datatable-column
            *ngIf="isModal"
            [width]="40"
            [frozenLeft]="true"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template ngx-datatable-header-template>
              <p-checkbox [(ngModel)]="checkAll" binary="true" (onChange)="onCheckboxAllFn($event)"></p-checkbox>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <p-checkbox [(ngModel)]="selected" [value]="row" (onChange)="onCheckboxAll($event, row)"> </p-checkbox>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            name="{{ 'fields.order' | translate }}"
            [width]="35"
            [canAutoResize]="false"
            [draggable]="false"
          >
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="leadCode"
            name="{{ 'potentialCustomerList.title.customerCode' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.customerCode' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="customerName"
            name="{{ 'potentialCustomerList.title.customerName' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.customerName' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="phone"
            name="{{ 'potentialCustomerList.title.phone' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.phone' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="email"
            name="{{ 'potentialCustomerList.title.email' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.email' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="potentialLevelDisplay"
            name="{{ 'potentialCustomerList.title.potentialLevel' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.potentialLevel' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Hiển thị Mã chi nhánh - Tên chi nhánh: customerCode - customerName -->
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="branchDisplay"
            name="{{ 'potentialCustomerList.title.branchDisplay' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.branchDisplay' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Hiển thị Mã RM - Tên RM: branchCode - branchName -->
          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="rmDisplay"
            name="{{ 'potentialCustomerList.title.rmDisplay' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.rmDisplay' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="customerResourcesDisplay"
            name="{{ 'potentialCustomerList.title.customerResources' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.customerResources' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="address"
            name="{{ 'potentialCustomerList.title.address' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.address' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="statusDisplay"
            name="{{ 'potentialCustomerList.title.status' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div>{{ 'potentialCustomerList.title.status' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span title="{{ value }}">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [sortable]="false"
            [draggable]="false"
            prop="createdDate"
            name="{{ 'potentialCustomerList.title.createdDate' | translate }}"
          >
            <ng-template ngx-datatable-header-template>
              <div class="text-center">{{ 'potentialCustomerList.title.createdDate' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span style="margin-right: auto !important; margin-left: auto !important" title="{{ value }}">{{
                value | date: 'dd/MM/y'
                }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="{{ 'fields.action' | translate }}"
            [width]="150"
            [frozenRight]="true"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            *ngIf="!isModal"
          >
            <ng-template ngx-datatable-header-template>
              <div class="text-center">{{ 'fields.action' | translate }}</div>
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <div class="block-center text-center column-action">
                <button
                  type="button"
                  class="btn-outline btn--light-blue"
                  title="{{ 'btnAction.edit' | translate }}"
                  (click)="updateLeadKHCN(row); $event.stopPropagation()"
                  [ngClass]="checkScopes(['UPDATE']) ? '' : 'opacity-0'"
                >
                  <em class="las la-edit f-16"></em>
                </button>
                <button
                  type="button"
                  class="btn-outline btn--light-blue"
                  title="{{ 'btnAction.delete' | translate }}"
                  (click)="deleteLeadKHCN(row); $event.stopPropagation()"
                  [ngClass]="checkScopes(['DELETE']) ? '' : 'opacity-0'"
                >
                  <em class="las la-trash-alt f-16"></em>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              ngx-datatable-footer-template
            >
              <app-pager-ngx-datatable
                [page]="curPage"
                [offset]="offset"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="false"
                (change)="table.onFooterPage($event)"
                [hasDropdown]="true"
                (eventChangePageSize)="handleChangePageSizeKHCN($event)"
              >
              </app-pager-ngx-datatable>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </ng-container>
  </div>
</ng-template>
