<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">{{ 'fields.selectCustomer' | translate }}</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-loading *ngIf="isLoading"></app-loading>
  <app-customer-list
    [showAction]="false"
    [listSelectedOld]="listCustomer"
    [dataSearch]="dataSearch"
    (loading)="showLoading($event)"
    (selectedCustomer)="selectedCustomer($event)"
  >
  </app-customer-list>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-right">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
  </div>
</div>
