@import 'variable';

.loading {
  width: 100vw;
  height: 100vh;
}

.detail-key {
  color: $gray-900;
}

.detail-value {
  color: $body-color;
  font-weight: 700;
}

.tab-key {
  color: #ffffff;
}

.form-control:disabled,
.form-control[readonly] {
  padding-left: 12px;
  background-color: transparent !important;
  // opacity: 1;
  // font-weight: bold !important;
  // opacity: 0.7;
}

.custom .form-control:disabled,
.custom .form-control[readonly] {
  padding-left: 5px;
}

@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -3600px 0px;
  }
}

.activity-empty {
  align-items: center;
  display: flex;
  text-align: center;
  flex-grow: 1;
}

.ml-10 {
  margin-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.m-0 {
  margin: 0;
}
.p-5 {
  padding: 5px !important;
}
.p-8 {
  padding: 8px !important;
}
.p-18 {
  padding: 18px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;

}

.block {
  display: block !important;
}

.f-25 {
  font-size: 2.5rem !important;
}
.f-40 {
  font-size: 40px !important;
}
.f-60 {
  font-size: 60px !important;
}

.display-none {
  display: none !important;
}

.has-error {
  position: relative;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #bbbbfd !important;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
.background-white {
  background-color: #ffffff !important;
}
.background-outline {
  background: #f0f0f3 !important;
}

.text-nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  word-break: break-word;
  white-space: pre-wrap !important;
}

.row-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.disabled:hover {
  cursor: not-allowed;
}

.row__item {
  min-height: 42px;
  border-radius: 10px;
  border: 1px solid #ececf2;
  padding: 5px;
  margin: 0;

  &:hover {
    background: #f5f5fa;
  }

  .content__name {
    margin: 0;
  }
}

button:focus {
  outline: none !important;
}

.has-error {
  .invalid-tooltip {
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    line-height: 24px;
    color: #ff808b;
    background-color: #fff;
    font-size: 12px;
    font-style: italic;
    top: 2px;
  }
}

.form-group {
  &__note {
    position: relative;
    &.left {
      span.note-input {
        right: auto;
        left: 0;
      }
      input {
        padding-left: 45px;
      }
    }
    input {
      padding-right: 45px;
    }
    span.note-input {
      font-size: inherit;
      right: 0px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
    }
  }
}

.header-section {
  background-color: #e9e9f1;
  padding: 5px 10px;
  border-radius: 4px;
  // border-bottom: 2px solid orange;
}

.modal-header {
  margin: 15px 15px 0 15px;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #f0f0f3;
  flex-wrap: wrap;

  .header-primary {
    flex-basis: 100%;
    padding: 15px;
    background-color: #f5f5fa;
  }

  .sub-title-modal {
    flex-basis: 100%;
    padding: 8px 15px;
    display: flex;
  }
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  // border: 1px solid #f0f0f3;
  .btn-primary {
    min-width: 0;
  }
  button {
    padding: 8px 16px !important;
  }
}

.bootstrap-select {
  button {
    padding: 0;
    .filter-option-inner-inner {
      height: calc(1.5em + 0.75rem + 1px);
      padding: 6px 0;
    }
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    margin: 0;
  }
}

.form-control {
  border-color: 1px solid #f0f0f3 !important;
  border-radius: 4px;
  &:hover {
    border-color: $primary !important;
  }
  font-weight: 600 !important;
}

.kanban__progress {
  margin: 5px 0 !important;
}

.kanban__red {
  .progress-bar {
    background: #ff808b !important;
  }
}
.kanban__yellow {
  .progress-bar {
    background: #f4be5e !important;
  }
}
.kanban__blue {
  .progress-bar {
    background: #bbbbfd !important;
  }
}
.kanban__green {
  .progress-bar {
    background: #8af1b9 !important;
  }
}
.kanban__puple {
  .progress-bar {
    background: #8621d3 !important;
  }
}
.kanban__dodgerblue {
  .progress-bar {
    background: #00a8ff !important;
  }
}
.kanban__darkcyan {
  .progress-bar {
    background: #008b8b !important;
  }
}

.notify-message {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
}

.activity-tooltip {
  opacity: 1 !important;
  .tooltip-inner {
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 300px !important;
    width: 300px;
    color: initial;
  }
}

.search-tooltip {
  opacity: 1 !important;
  .tooltip-inner {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 665px !important;
    // width: 500px;
    color: initial;
  }
}
.search-tooltip {
  .arrow::before {
    border-bottom-color: #ffffff;
  }
}
.formSearch {
  text-align: left;
  .form-custom-inline {
    align-items: center;
  }
}

.form-custom-inline {
  display: flex;

  .item-label {
    min-width: 160px;
    max-width: 160px;
    padding-right: 15px;
  }

  .item-field {
    flex-grow: 1;
  }
}

.tab-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  .work-pending {
    align-items: center;
    display: flex;
    text-align: center;
    flex-grow: 1;
    // .img-pending {
    // text-align: center;
    // }
    .work-pending__title {
      margin-top: 15px;
      // text-align: center;
    }
  }
}
.dropdown-toggle {
  margin-right: 5px;
  .avatar-container {
    position: relative;

    &::after {
      display: block;
      content: '\f103';
      // font-family: 'Line Awesome Free';
      position: absolute;
      bottom: 0px;
      // right: 5px;
      //margin-right: 5px;
      font-weight: 900;
      color: #fff;
      font-size: 12px;
    }
  }
}

.table__view {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  .fullscreen {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.clickable {
  cursor: pointer !important;
}
.non-clickable {
  cursor: default !important;
}

.search-box {
  border: 1px solid $input-border-color;
  border-radius: 5px;
  padding: 17px;
  height: calc(2.3em + 0.75rem + 2px);
}

.text

//TODO: Kiểm tra lý do rm.component.scss không được load.
.app-rm {
  .datatable-body-cell {
    height: 36px !important;
  }
}

.filter-top__left {
  padding-top: 0px;
  padding-left: 0px;
  display: flex;
  // align-items: flex-end;
  align-items: center;
}

.ngx-datatable .datatable-footer .datatable-pager {
  display: block !important;
  // padding-top: 20px !important;
}

.nav-item {
  position: relative;
}

// Sub Menu lvl 1,2
.sub-nav {
  display: none;
  opacity: 0;
  position: absolute;
  left: 100%;
  width: 220px;
  z-index: 60;
  background: #fff;
  top: -20px;
  padding: 20px 1rem;
  border: 1px solid #f5f5fa;
  border-radius: 8px;
  box-shadow: 4px 4px 8px $gray-900;
}

.nav-item {
  &:focus {
    background: #eff2fe;
  }
  &:hover {
    background: #feeff3;
    em {
      color: #bbbbfd;
    }
    & > .sub-nav {
      display: block !important;
      opacity: 1 !important;
    }
  }
}

.nav-item:hover > * > .sub-nav {
  display: block !important;
  opacity: 1 !important;
}

.identification-tooltip {
  opacity: 1 !important;
  .tooltip-inner {
    width: 690px;
    // height: 120px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 700px !important;
    // width: 500px;
    color: initial;
  }
  .list__view {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.tablerm-tooltip {
  opacity: 1 !important;
  // transform: translate(380px, 305px) !important;
  .tooltip-inner {
    width: 320px;
    height: 350px;
    max-height: 400px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 700px !important;
    // width: 500px;
    color: initial;
  }
  .list__view {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .arrow {
    top: 0;

    &::before {
      border-bottom-color: #ffffff !important;
    }
  }
}

// ng-select
.ngx-select {
  .ngx-select__disabled {
    opacity: 0 !important;
    & + .ngx-select__selected {
      .ngx-select__toggle {
        background-color: #eff2fe;
        // border: none;
      }
    }
  }
  span.ngx-select__placeholder.text-muted {
    margin: -15px 0 0 0 !important;
  }
}

input.form-control {
  height: 36px;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}
textarea.form-control {
  padding-left: 12px;
  border-radius: 4px;
}

.center-column {
  display: flex;
  justify-content: center;
  width: 100%;
}

.frz-r-10 {
  right: -10px !important;
}

.ngx-select .ngx-select__disabled {
  background-image: url('assets/images/disabled.png') !important;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  & + .ngx-select__selected {
    .ngx-select__toggle {
      background: #fff;
      font-weight: bold !important;
      .ngx-select__selected-single {
        // opacity: 0.7;
        color: black;
        font-weight: 300;
      }
      .ngx-select__toggle-buttons {
        display: none !important;
      }
    }
  }
}

.contact-count {
  background: $app-blue;
  color: $blue;
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.btn-red {
  &:hover {
    background: $red;
    color: $white;
  }
}

.btn-orange {
  color: $white;
}

.background-red {
  background: $red;
  color: $white;
  border: 1px solid $red;
}
.background-grey {
  background: #AEAFB4;
  color: $white;
  border: 1px solid #AEAFB4;
}
.background-all {
  background: #6676FF;
  color: $white;
  border: 1px solid #6676FF;
}
.background-yellow {
  background: $yellow;
  color: $white;
  border: 1px solid $yellow;
}

.background-green {
  background: $green;
  color: $white;
  border: 1px solid $green;
}

.background-blue {
  background: $blue;
  color: $white;
  border: 1px solid $blue;
}

.activity-action-call {
  background: #bbbbfd !important;
  padding: 5px 14px;
}
.activity-action-meeting {
  background: #03a9f4 !important;
  padding: 5px 14px;
}
.activity-action-sms {
  background: #17a2b8 !important;
  padding: 5px 14px;
}
.activity-action-email {
  background: #607d8b !important;
  padding: 5px 14px;
}

.tab-content {
  & > .active {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

// Input group Search
.p-inputgroup {
  .p-inputtext {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .p-dropdown {
    .p-dropdown-label {
      line-height: 20px;
    }
  }
}

// Button toggle
.btn-toggle-sidebar {
  em {
    font-size: 18px;
    color: #132123;
  }
  &:hover {
    em {
      color: #fff;
    }
  }
}

.i-12 {
  height: 22px;
  width: 12px;
}

.i-13 {
  height: 22px;
  width: 13px;
}

.i-16 {
  height: 16px;
  width: 16px;
}

.icon-mail-activity {
  background-image: url('./assets/images/email-activity.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-add {
  background-image: url('./assets/images/add_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-history-activity {
  background-image: url('./assets/images/history-activity.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-create-activity-1 {
  background-image: url('./assets/images/create-activity-1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-create-activity {
  background-image: url('./assets/images/activite.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-create-activity-black {
  background-image: url('./assets/images/create-activity-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-create-todo {
  background-image: url('./assets/images/create-todo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-vecto-activity {
  background-image: url('./assets/images/vector-activity.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-top: 37px;
}
.icon-activity-call {
  background-image: url('./assets/images/activity_call.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 15px;
  vertical-align: middle;
  padding: 14px 12px 11px 11px;
}
.icon-activity-email {
  background-image: url('./assets/images/activity_email.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 14px;
  vertical-align: middle;
  padding: 14px 12px 11px 11px;
}
.icon-activity-sms {
  background-image: url('./assets/images/activity_sms.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 17px;
  vertical-align: middle;
  padding: 14px 12px 11px 11px;
}

.icon-activity-note {
  background-image: url('./assets/images/activity_note.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 17px;
  vertical-align: middle;
  padding: 17px 14px 11px 11px;
}
.icon-activity-note-black {
  background-image: url('./assets/images/edit_note_black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 17px;
  vertical-align: middle;
}
.icon-activity-calendar {
  background-image: url('./assets/images/activity_calendar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 16px;
  vertical-align: middle;
  padding: 14px 12px 11px 11px;
}
.icon-create-todo-black {
  background-image: url('./assets/images/create-todo-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.la-kpi-menu {
  mask-image: url('./assets/images/iconKPI3-custom.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-report-kpi {
  mask-image: url('./assets/images/report.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-mobile-custom {
  mask-image: url('./assets/images/smart-CRM-custom.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-pause-custom {
  background-image: url('./assets/images/pause__custom.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-play-custom {
  background-image: url('./assets/images/play__custom.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-clipboard-check-custom {
  mask-image: url('./assets/images/hd.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-font-awesome-custom {
  mask-image: url('./assets/images/cdich.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-user-lock-custom {
  // background-image: url('./assets/images/customer.svg');
  mask-repeat: no-repeat;
  // background-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
  mask-image: url('./assets/images/customer.svg');
  mask-position: center;
}

.la-address-custom {
  // background-image: url('./assets/images/customer.svg');
  mask-repeat: no-repeat;
  // background-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
  mask-image: url('./assets/images/menu_danhba.svg');
  mask-position: center;
}

.la-cogs-custom {
  mask-image: url('./assets/images/quantri.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-cogs-marketing {
  mask-image: url('./assets/images/Marketing__email.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-sync-alt__custom {
  background-image: url('./assets/images/khoiphuc__icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}
.la-circle-stars_custom {
  background-image: url('./assets/images/fa-circle-star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.la-circle-stars-black_custom {
  background-image: url('./assets/images/star-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.repeat_custom {
  background-image: url('./assets/images/repeat-cus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.icon-export-pdf {
  mask-image: url('./assets/images/pdf-icon.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-user-tie-custom {
  mask-image: url('./assets/images/RM2-custom.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.icon-share {
  background-image: url('./assets/images/share__icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin: auto;
  display: block;
}

.chart__header-title {
  font-weight: $font-weight-bold;
}

.img-icon {
  cursor: pointer !important;
  &:hover {
    opacity: 0.8;
  }
  height: 22px;
}

em.las.la-trash-alt {
  color: $red;
}

.kpi-report-branch-table .ngx-datatable.bootstrap .datatable-body {
  overflow-x: hidden !important;
}

.kpi-report-rm-table .ngx-datatable.bootstrap .datatable-body {
  overflow-x: hidden !important;
}

@media only screen and (max-width: 1299px) {
  .banner {
    height: 117px;
    width: auto;
  }
}
@media only screen and (min-width: 1300px) {
  .banner {
    height: 117px;
    width: auto;
  }
}

.icon-config-custom {
  background-image: url('./assets/images/config-custom.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
  display: block;
  width: 25px;
  height: 25px;
}

.la-file-excel {
  background-image: url('./assets/images/icon__export.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 23px;
  height: 23px;
  margin: 0 !important;
}

.la-file-excel::before {
  content: '';
}

.la-chat {
  background-image: url('./assets/images/comm-16_chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 23px;
  height: 23px;
  margin: 0 !important;
}

.la-chat::before {
  content: '';
}

.la-eye {
  // background-image: url('./assets/images/ic_eye_on.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  content: '';
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background: transparent;
  &:before {
    background-image: url('./assets/images/check__icon__white__small.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 10px;
    height: 10px;
    margin: 1px;
    content: '';
  }
}

.p-radiobutton .p-radiobutton-box {
  width: 18px;
  height: 18px;
}

.p-field-radiobutton {
  & label {
    line-height: 20px;
    margin: -2px 0 0 6px !important;
  }
}

.la-tachometer-alt-custom {
  mask-image: url('./assets/images/dashboard.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.menu-arrow-custom {
  mask-image: url('./assets/images/arrow__custom.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
}

.la-revenue-share {
  background-image: url('./assets/images/ic_revenue_share.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px;
  display: block;
  width: 20px;
  height: 20px;
}

.la-khtn {
  mask-image: url('./assets/images/icon-khtn.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-qlban {
  mask-image: url('./assets/images/icon_qlban.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.la-transfer-opportunity {
  background-image: url('./assets/images/transfer_opportunity.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px;
  display: block;
  width: 16px;
  height: 16px;
}

.la-assign-opportunity-rm {
  background-image: url('./assets/images/assign_opportunity_rm.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px;
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.la-status-opportunity-red {
  background-image: url('./assets/images/status_opportunity_red.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px;
  display: block;
  width: 10px;
  height: 10px;
}

.la-status-opportunity-violet {
  background-image: url('./assets/images/status_opportunity_violet.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px;
  display: block;
  width: 10px;
  height: 10px;
}
.la-status-opportunity-green {
  background-image: url('./assets/images/status_opportunity_green.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px;
  display: block;
  width: 10px;
  height: 10px;
}

.la-transfer-opportunity-edit {
  background-image: url('./assets/images/transfer_opportunity_edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px;
  display: block;
  width: 16px;
  height: 16px;
}

.la-assign-opportunity-rm-edit {
  background-image: url('./assets/images/assign_opportunity_rm_edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px;
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.check-list-plan {
  mask-image: url('./assets/images/checklistPlan.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}
.cus-primeng {
  .p-selectbutton {
    display: flex;
    flex-wrap: wrap;
    .p-button {
      font-size: 13px;
      color: #353644;
      padding: 0 10px;
      margin: 3px;
      border: 1px solid #bbbbfd !important;
      border-radius: 10px !important;
      &.p-highlight {
        color: #fff;
        background-color: #bbbbfd;
      }
    }
  }
  .p-inputnumber {
    display: inline;
  }

  .p-input-icon-right {
    width: 100%;
    .search-box:hover {
      border-color: #ced4da !important;
    }
  }

  .p-input-icon-right>i {
    cursor: pointer;
    color: #000;
    font-weight: 700;
    display: none;
  }

  .p-input-icon-right>i.show {
    display: block;
  }

  .p-input-icon-right>i.branch {
    right: 4.5rem;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-49%);
  }
}
.pre_custom {
  background-image: url('./assets/images/sme/pre-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.next_custom {
  background-image: url('./assets/images/sme/next-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.table-detail .ngx-datatable.scroll-horz .datatable-body {
  min-height: 200px !important;
}

.la-chemistry-education-lab-custom {
  mask-repeat: no-repeat;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
  mask-image: url('./assets/images/chemistry-education-lab.svg');
  mask-position: center;
}

.la-alarm-clock {
  background-image: url('./assets/images/alarm-clock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.la-excel-img {
  background-image: url('./assets/images/excel.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.icon-apply {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url('./assets/images/checkbig-green.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-cancel {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto;
  background-image: url('./assets/images/checkx-big-red.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-footer {
  margin-right: 10px;
  .p-dropdown {
    min-width: fit-content;
  }
}

.opp-indiv-form p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
  border-color: #ced4da !important;
}

.la-support-custom {
  mask-image: url('./assets/images/envelope.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}

.css-readonly.form-control:disabled, .css-readonly.form-control[readonly] {
  opacity: 0.5 !important;
}

.icon-sale-opp {
  background-image: url('./assets/images/sale_opp16.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.icon-sale-opp2 {
  background-image: url('./assets/images/sale_opp24.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.la-mb-chat-menu {
  // background-image: url('./assets/images/customer.svg');`
  mask-repeat: no-repeat;
  // background-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
  mask-image: url('./assets/images/mb-chat.svg');
  mask-position: center;
}
.la-alert-custom {
  mask-image: url('./assets/images/alert.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
}
.link-icon {
  background-image: url('./assets/images/link-svgrepo-com 1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

.la-chat-small {
  background-image: url('./assets/images/comm-16_chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 18px;
  height: 17px;
  margin: 2px !important;
}

.lds-ellipsis {
  position: relative;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  // float: right;
  left: 15px;
}
.lds-ellipsis div {
  position: absolute;
  // top: 33px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(5) {
  left: 78px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



.la-chat-small {
  background-image: url('./assets/images/comm-16_chat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 18px;
  height: 17px;
  margin: 2px !important;
}

.icon-change-stage {
  background-image: url('/assets/images/change_stage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  display: block;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i*1% !important;
  }
}
