@import '../../../../../../assets/styles/variable';

.template-create {
  .list__block {
    overflow-y: auto;
  }
  .b-action {
    margin-top: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-300;
  }
  .p-fileupload-choose {
    width: 100%;
    justify-content: center;
    border-radius: 4px;
    border-color: $gray-400;
    color: $primary;
    &:hover {
      background: none;
      border-color: $gray-400;
      color: $primary;
    }
  }
  .p-button-label {
    flex: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .blockbuilder-tools-panel {
    height: 550px;
  }
}
