<div class="right-view template-create">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small" (click)="back()">
                <em class="las la-undo f-16"></em> {{
                'btnAction.back' | translate }}
            </button>
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'template.create' | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block p-4">
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-md-4 form-group" [formGroup]="form">
                                <label>{{ 'fields.formality' | translate }} <span class="text-red">(*)</span></label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listFormality" placeholder=" " class="d-block"
                                    formControlName="formality" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                                <small class="p-error"
                                    *ngIf="form?.controls?.formality?.errors?.cusRequired && form?.controls?.formality?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-4 form-group" [formGroup]="form">
                                <label>{{ 'fields.templateName' | translate }} <span class="text-red">(*)</span></label>
                                <input placeholder="" type="text" maxlength="200" class="d-block" formControlName="name"
                                    pInputText />
                                <small class="p-error"
                                    *ngIf="form?.controls?.name?.errors?.cusRequired && form?.controls?.name?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-4 form-group" [formGroup]="form">
                                <label>{{ 'fields.object' | translate }} <span class="text-red">(*)</span></label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listObjects" placeholder=" " class="d-block"
                                    formControlName="object" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="name" optionValue="code"></p-dropdown>
                                <small class="p-error"
                                    *ngIf="form?.controls?.object?.errors?.cusRequired && form?.controls?.object?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-4 form-group" [formGroup]="form">
                                <label>Category <span class="text-red">(*)</span></label>
                                <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                    [options]="commonData.listCategories" placeholder=" " class="d-block"
                                    formControlName="category" appendTo="body" autoZIndex="false" baseZIndex="10000"
                                    optionLabel="name" optionValue="code">
                                </p-dropdown>
                                <small class="p-error"
                                    *ngIf="form?.controls?.category?.errors?.cusRequired && form?.controls?.category?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-4 form-group" [formGroup]="form">
                                <label>Subject <span class="text-red">(*)</span></label>
                                <input placeholder="" type="text" maxlength="200" class="d-block"
                                    formControlName="subject" pInputText />
                                <small class="p-error"
                                    *ngIf="form?.controls?.subject?.errors?.cusRequired && form?.controls?.subject?.touched && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>{{ 'fields.chooseFile' | translate }} <span class="text-red">(*)</span> ({{
                                    'notificationMessage.E002' | translate }})</label>
                                <div class="">
                                    <p-fileUpload #fileUpload mode="basic" name="demo[]"
                                        styleClass="btn-outline text-truncate" customUpload="true" [auto]="true"
                                        (uploadHandler)="uploadFile($event, fileUpload)"
                                        chooseIcon="las la-file-upload f-16" chooseLabel="{{ fileName }}">
                                    </p-fileUpload>
                                </div>
                                <small class="p-error" *ngIf="!fileName && isValidator">{{
                                    'validationMessage.required' |
                                    translate }}</small>
                            </div>
                        </div>
                        <div class="filter-top block-center-between b-action">
                            <div class="filter-top__left">
                            </div>
                            <div class="filter-top__right block-center">
                                <button class="btn btn-small btn--green" (click)="saveAndActive()"
                                    title="{{ 'btnAction.saveAndActive' | translate }}">
                                    {{ 'btnAction.saveAndActive' | translate }}
                                </button>
                                <button class="btn btn-small btn--light-blue" (click)="save()"
                                    title="{{ 'btnAction.save' | translate }}">
                                    {{ 'btnAction.save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-template">
                        <ng-container *ngIf="form?.controls?.formality?.value === 'email'">
                            <email-editor [options]="options" (loaded)="editorLoaded($event)" editorId='test'
                                minHeight="550px"></email-editor>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
