<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Tiến trình cơ sở</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="branch__view">
    <div class="filter-top block-center-between">
      <div class="filter-top__left">
        <div>
          <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
            (keyup.enter)="search()" [(ngModel)]="params.search" />
        </div>
        <button class="btn-icon btn-icon--small btn btn-search grey ml-2" title="{{ 'btnAction.search' | translate }}"
          (click)="search()">
          <em class="las la-search f-16"></em>
        </button>
      </div>
    </div>
    <div class="branch__tree">
      <div class="table-floor">
        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [messages]="messages" [scrollbarV]="true"
          [scrollbarH]="true" [virtualization]="false" [externalPaging]="true" [columnMode]="'force'" [rows]="models"
          [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size" [selected]="model"
          (page)="paging($event)" [footerHeight]="50" [selectionType]="'single'" [headerHeight]="50">
          <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="50"
            [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>{{ (pageable?.currentPage * pageable?.size) + rowIndex + 1}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="code"
            name="{{ 'system.fields.process_code' | translate }}">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span class="btn-icon btn-icon--small grey clickable">
                <em class="las f-16 la-user"></em>
              </span>
              <span class="ml-2">{{ getValue(row, 'code') }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="name">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{ 'system.fields.process_name' | translate }}
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span>{{ getValue(row, 'name') }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [draggable]="false" prop="description">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{ 'fields.description' | translate }}
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span>{{ getValue(row, 'description') }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
              let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
              <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                [hidden]="false" (change)="table.onFooterPage($event)">
              </app-pager-ngx-datatable>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
      <button class="btn btn--light-blue" (click)="choose()">{{ 'btnAction.choose' | translate }}</button>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
