// .tree__process-modal {
//   process-modal {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//   }
//   .modal-dialog {
//     max-height: calc(100% - 3.5rem);
//     height: calc(100% - 3.5rem);
//   }
//   .modal-content {
//     height: 100%;
//   }
//   .modal-body {
//     flex-grow: 1;
//     // overflow: hidden;
//   }
//   .branch__view {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//   }

//   .visible {
//     height: 100% !important;
//     display: flex !important;
//     flex-direction: column !important;
//   }
//   .datatable-body {
//     overflow-y: auto !important;
//     flex: 1 !important;
//     height: 200px !important;
//   }
// }

.tree__branch-modal {
  .process-modal {
    height: 95%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .modal-dialog {
    max-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
  }
  .modal-content {
    height: 100%;
  }
  .modal-body {
    flex-grow: 1;
    overflow: auto;
    position: relative;
  }
  .branch__view {
    // height: 90%;
    display: flex;
    flex-direction: column;
  }
  .datatable-body {
    overflow-y: auto !important;
    flex: 1 !important;
    height: auto !important;
  }

  .table-floor {
    .ngx-datatable .datatable-body {
      overflow-x: hidden !important;
    }
  }
}
