<div class="mt-3">
  <p-table [value]="[1]"
           [autoLayout]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Chỉ tiêu</th>
        <th>Năm {{year1}}</th>
        <th>Năm {{year}} {{'(tháng ' + month2 +')'}}</th>
        <th>Năm {{year}} {{'(tháng ' + month1 +')'}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-product
                 let-index="rowIndex">
      <tr>
        <td>
          RWA (Tài sản có rủi ro tín dụng)
        </td>
        <td>
          {{this.getRWAByTime(year1) | formatNumber: null : 2}}
        </td>
        <td>
          {{this.getRWAByTime(month2) | formatNumber: null : 2}}
        </td>
        <td>
          {{this.getRWAByTime(month1) | formatNumber: null : 2}}
        </td>
      </tr>
      <tr>
        <td>
          RW (Hệ số rủi ro tín dụng)
        </td>
        <td>
          {{this.getRWByTime(year1) | formatNumber: '%' : 2}}
        </td>
        <td>
          {{this.getRWByTime(month2) | formatNumber: '%' : 2}}
        </td>
        <td>
          {{this.getRWByTime(month1) | formatNumber: '%' : 2}}
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
<app-loading *ngIf="isLoading"></app-loading>