.f-18 {
  font-size: 1.8rem !important;
}

.f-22 {
  font-size: 2.2rem !important;
}

.f-20 {
  font-size: 2rem !important;
}

.f-16 {
  font-size: 1.8rem !important;
}

.f-14 {
  font-size: 1.4rem !important;
}

.f-12 {
  font-size: 1.2rem !important;
}

.f-13 {
  font-size: 1.3rem !important;
}

.light {
  font-weight: 300;
}
.block-center-between {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.block-start-between {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
}

.block-between {
  @include flexbox;
  @include justify-content(space-between);
}
.block-center {
  @include flexbox;
  @include align-items(center);
}
.block-end {
  @include flexbox;
  @include align-items(flex-end);
}
.block-center-center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

.green {
  background: $app-green !important;
  color: $green !important;
}
.grey {
  background: $app-grey !important;
  color: $gray-900 !important;
}
.yellow {
  background: $app-yellow !important;
  color: $yellow !important;
}
.red {
  background: $app-red !important;
  color: $red !important;
}
.blue {
  background: $app-blue !important;
  color: $blue !important;
}

.primary {
  background: $primary !important;
  color: white !important;
}

.light-blue {
  background: $app-light-blue !important;
  color: $teal !important;
}

.text-black {
  color: $headings-color !important;
}
.text-inherit {
  color: $gray-900 !important;
}

.text-blue {
  color: $blue !important;
}
.text-red {
  color: $red !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-green {
  color: $green !important;
}
.text-light-blue {
  color: $teal !important;
}

.img-thumbnail {
  border-radius: 4px;
}
.tag {
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
}

.font-weight-black {
  font-weight: 900;
}

@include max-767 {
  .hide-xs {
    display: none !important;
  }
}

.basic-filter {
  .search {
      &-basic {
          .action__left {
              display: flex;
              text-align: left;
              align-items: flex-end;
              flex: 1;
          }
          .dropdown {
              width: 255px;
          }
          .search-input {
              width: 255px;
          }
      }
  }
}