<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.menu.detailRm' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body p-0">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row form-create">
            <div class="col-12 detail-block mb-4">
              <div class="row">
                <div class="col-12">
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <h5 class="m-0">{{ 'kpi.menu.infoRm' | translate }}</h5>
                    </div>
                    <div class="col-md-6 text-right"></div>
                  </div>
                </div>
                <div class="col-12 collapse show" id="detail">
                  <div class="row px-4">
                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.account_officer_code' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmCode }}</span>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.ehris_code' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.hrsCode }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.tenRM' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmName }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.grade' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.bizLine }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.rmGroup' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmGroup }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.rm_level' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.rmLevel }}</span>
                    </div>

                    <div class="col-md-2">
                      <label class="detail-key">{{ 'kpi.menu.period' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <div class="row">
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton disabled="true" [value]="0" [(ngModel)]="period"> </p-radioButton>
                          <label class="ml-3">{{ 'kpi.menu.dayRm' | translate }}</label>
                        </div>
                        <div class="p-field-radiobutton col-md-4">
                          <p-radioButton disabled="true" [value]="1" [(ngModel)]="period"> </p-radioButton>
                          <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label class="detail-key">{{ 'rm.fields.thoiDiem' | translate }}</label>
                    </div>
                    <div class="col-md-4 form-group">
                      <span class="text-wrap">{{ customersInfo?.businessDate | date: 'dd/MM/yyyy' }}</span>
                    </div>

                    <!-- <div class="col-md-1"></div> -->

<!--                    <div class="col-md-2">-->
<!--                      <label class="detail-key">{{ 'kpi.menu.typeData' | translate }}</label>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                      <div class="row">-->
<!--                        <div class="p-field-radiobutton col-md-4">-->
<!--                          <p-radioButton disabled="true" [value]="0" [(ngModel)]="past"> </p-radioButton>-->
<!--                          <label class="ml-3">{{ 'kpi.menu.now' | translate }}</label>-->
<!--                        </div>-->
<!--                        <div class="p-field-radiobutton col-md-4">-->
<!--                          <p-radioButton disabled="true" [value]="1" [(ngModel)]="past"> </p-radioButton>-->
<!--                          <label class="ml-3">{{ 'kpi.menu.history' | translate }}</label>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 detail-block">
              <div class="row">
                <div class="filter-top block-center-between col-md-12 mt-0">
                  <div class="filter-top__left">
                     <ng-container *ngIf="period === 0">
                      <span class="px-4" style="color: red"
                        >{{ 'kpi.menu.lastDayData' | translate }} : {{ dateRmKpi | date: 'dd/MM/yyyy' }}</span
                      >
                    </ng-container>
                    <ng-container *ngIf="period === 1 && dateMonth !== ''">
                      <span class="px-4" style="color: red"
                        >{{ 'kpi.menu.dataInMonth' | translate }} : {{ dateMonth | date: 'dd/MM/yyyy' }}</span
                      >
                    </ng-container>
                    <span *ngIf="period == 0" class="px-4" style="color: red"
                    ><i>Dữ liệu tạm tính</i></span
                    >
                  </div>
                  <div class="filter-top__right block-center">
                    <button class="btn btn--light-blue btn-icon--small" (click)="exportFile()">
                      <em class="las la-file-excel f-16"></em>
                    </button>
                  </div>
                </div>
                <div class="table__view group__view">
                  <p-table
                    id="tableRm"
                    scrollHeight="flex"
                    [scrollable]="true"
                    columnResizeMode="expand"
                    [value]="customers"
                    [resizableColumns]="true"
                    sortField="groupParentName"
                    sortMode="single"
                    (onSort)="onSort()"
                    dataKey="groupParentName"
                    [expandedRowKeys]="expandedRows"
                  >
                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <col style="width: 60px" />
                        <col style="width: 150px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 100px" />
                        <col style="width: 120px" />
                        <col style="width: 200px" />
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th scope="col" rowspan="2">STT</th>
                        <th scope="col" class="text-center" colspan="2">{{ 'kpi.menu.productInfo' | translate }}</th>
                        <th scope="col" class="text-center" colspan="2">{{ 'kpi.menu.salesDay' | translate }}</th>
                        <th scope="col" class="text-center" colspan="2">{{ 'kpi.menu.salesDayLk' | translate }}</th>
                        <th scope="col" class="text-center" colspan="2">{{ 'kpi.menu.pointLkDay' | translate }}</th>
                        <th scope="col" class="text-center" colspan="3">
                          {{ 'kpi.menu.syntheticTotalPoint' | translate }}
                        </th>
                      </tr>
                      <tr>
                        <th scope="col">{{ 'kpi.menu.productName' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.branchUnit' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionMain' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionCross' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionMain' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionCross' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionMain' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.versionCross' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.pointActual' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.businessPoint' | translate }}</th>
                        <th scope="col">{{ 'kpi.menu.notice' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                      <tr *ngIf="rowGroupMetadata[customer.groupParentName].index === rowIndex">
                        <td>
                          <div style="float: left">
                            <button
                              type="button"
                              pButton
                              pRipple
                              [pRowToggler]="customer"
                              class="p-button-text p-button-rounded p-button-plain p-mr-2"
                              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                            ></button>
                          </div>
                        </td>
                        <td colspan="11">
                          <div style="float: left; margin-top: 12px">
                            <span class="p-text-bold p-ml-2">{{ customer.groupParentName }}</span>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-customer>
                      <!-- <div *ngIf="customer.length==0">
                                                No values to display here
                                            </div> -->
                      <tr>
                        <td pResizableColumn>
                          {{ customer.index }}
                        </td>
                        <td class="" pResizableColumn>
                          {{ customer.productName }}
                        </td>
                        <td pResizableColumn>
                          {{ customer.productUnit }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.soDuChinh) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.soDuCheo) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.soDuChinhLK) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.soDuCheoLK) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.pointChinhLK) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.pointCheoLK) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.pointTotalLK) }}
                        </td>
                        <td class="text-right" pResizableColumn>
                          {{ formatValue(customer.pointTotalLKHDV) }}
                        </td>
                        <td title="{{ customer.note }}" pResizableColumn>
                          {{ customer.note }}
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template *ngIf="isLoading" pTemplate="emptymessage" let-customer>
                      {{ 'messageTable.emptyMessage' | translate }}
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
