@import 'variable';
.sme-360-collaterial-list {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background: $white;
  .table__view {
    overflow-x: scroll !important;
  }
  .smeCollateralTable .fullscreen {
    position: relative !important;
  }

  .my-custom-header-class {
    border-left: 2px solid #ffffff;
  }
  .my-custom-cell-class {
    border: 2px solid #ffffff;
  }
  .list__block {
    overflow: auto;
  }
  .column-order {
    .datatable-header-cell-template-wrap {
      text-align: center !important;
    }
  }
  .table-header {
    background: #eff2fe !important;
    height: 66px;
  }
  .datatable-header-cell {
    padding: 0px !important;
    th {
      text-align: center !important;
    }
  }
  .align-items-center {
    align-items: center;
    height: 100%;
  }
  .w-100 {
    width: 100px !important;
    max-width: 100px;
    min-width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .w-100-data {
    width: 100px !important;
    max-width: 100px;
    min-width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
  .w-150 {
    width: 150px !important;
    max-width: 150px;
    min-width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .w-250 {
    width: 250px !important;
    max-width: 250px;
    min-width: 250px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .border-col-left {
    border-right: 2px solid #ffffff;
    text-align: left;
  }
  .w-150-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
  .w-100-number-data {
    width: 100px !important;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }
  .number-data {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }
  .w-150-number-data {
    width: 150px !important;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    text-align: right;
  }
  .table-border-first {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 100% !important;
  }
  .table-border {
    border-right: 2px solid #ffffff;
  }
  .colspan-border {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
  .border-col {
    border-right: 2px solid #ffffff;
    text-align: center;
  }
  .view-calendar {
    margin-top: -1rem;
  }
  .p-25 {
    padding-top: 25px;
  }
  .center__search {
    display: flex;
    margin: 0 auto;
  }
  .data-empty-text-center {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 100px;
  }
  .border-bottom {
    height: 48px !important;
    border-bottom: 1px solid #ececf2;
  }

  .data-total {
    font-weight: 700;
  }
}
