<div class="sme-360-collaterial-list">
  <!-- <app-loading *ngIf="loading"></app-loading> -->
  <div class="m-0 content__top block-center-between mx-0">
    <div class="content__top-left block-center"></div>
    <div class="content__top-right row">
      <p class="pr-3 font-italic" *ngIf="models">Ngày dữ liệu: {{convertDateData(models[0]?.dsnapShotDt) | date: 'dd/MM/yyyy'}}</p>
<!--      <p class="pr-3 font-italic" *ngIf="test">Ngày dữ liệu: {{test}}</p>-->
      <button class="btn btn-icon btn-icon--small btn-search ml-2" (click)="export()">
        <em class="las la-file-excel f-16"></em>
      </button>
    </div>
  </div>
  <div class="table__view">
    <table aria-hidden="true" class="table-border-first" #smeCollateralTable>
      <ng-container>
        <thead class="table-header">
          <tr>
            <th scope="col" [attr.rowspan]="2" class="border-col w-100 text-center">
              {{ 'rm.fields.index' | translate }}
            </th>
            <th scope="col" [attr.rowspan]="2" class="border-col w-250 text-center">{{ 'fields.bank' | translate }}</th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.realEstate' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.meansOfTransportation' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.machineDevices' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.inventory' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.debtClaims' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.valuablePapers' | translate }}
            </th>
            <th scope="col" [attr.colspan]="2" class="colspan-border w-250 text-center">
              {{ 'fields.otherAsset' | translate }}
            </th>
          </tr>
          <tr>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
            <th scope="col" class="border-col w-100">{{ 'fields.sl' | translate }}</th>
            <th scope="col" class="border-col w-150">{{ 'fields.gt' | translate }}</th>
          </tr>
        </thead>
      </ng-container>
      <ng-container *ngIf="showData">
        <tr *ngFor="let item of models; let index = index">
          <td class="border-bottom text-center">{{ index + 1 }}</td>
          <td class="border-bottom text-left">
            <span class="ml-3" title="{{ getValue(item, 'creditOrgName') }}">{{
              getTruncateValue(item, 'creditOrgName', 70)
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountRealEstate') }}">{{
              getCostValue(item, 'amountRealEstate')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valueRealEstate') }}">{{ getCostValue(item, 'valueRealEstate') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountTransport') }}">{{ getCostValue(item, 'amountTransport') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valueTransport') }}">{{ getCostValue(item, 'valueTransport') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountMachine') }}">{{ getCostValue(item, 'amountMachine') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valueMachine') }}">{{ getCostValue(item, 'valueMachine') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountInventories') }}">{{
              getCostValue(item, 'amountInventories')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valueInventories') }}">{{
              getCostValue(item, 'valueInventories')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountPayable') }}">{{ getCostValue(item, 'amountPayable') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valuePayable') }}">{{ getCostValue(item, 'valuePayable') }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountPaperValuation') }}">{{
              getCostValue(item, 'amountPaperValuation')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valuePaperValuation') }}">{{
              getCostValue(item, 'valuePaperValuation')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'amountOtherAssets') }}">{{
              getCostValue(item, 'amountOtherAssets')
            }}</span>
          </td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(item, 'valueOtherAssets') }}">{{
              getCostValue(item, 'valueOtherAssets')
            }}</span>
          </td>
        </tr>
        <tr *ngIf="showData">
          <td [attr.colspan]="2" class="border-bottom text-center data-total">{{ 'fields.totalValue' | translate }}</td>
          <td class="border-bottom text-right">
            <span title="{{ getCostValue(data, 'totalAmountRealEstate') }}">{{
              getCostValue(data, 'totalAmountRealEstate')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValueRealEstate') }}">{{
              getCostValue(data, 'totalValueRealEstate')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountTransport') }}">{{
              getCostValue(data, 'totalAmountTransport')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValueTransport') }}">{{
              getCostValue(data, 'totalValueTransport')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountMachine') }}">{{
              getCostValue(data, 'totalAmountMachine')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValueMachine') }}">{{
              getCostValue(data, 'totalValueMachine')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountInventories') }}">{{
              getCostValue(data, 'totalAmountInventories')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValueInventories') }}">{{
              getCostValue(data, 'totalValueInventories')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountPayable') }}">{{
              getCostValue(data, 'totalAmountPayable')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValuePayable') }}">{{
              getCostValue(data, 'totalValuePayable')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountPaperValuation') }}">{{
              getCostValue(data, 'totalAmountPaperValuation')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValuePaperValuation') }}">{{
              getCostValue(data, 'totalValuePaperValuation')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalAmountOtherAssets') }}">{{
              getCostValue(data, 'totalAmountOtherAssets')
            }}</span>
          </td>
          <td class="border-bottom text-right data-total">
            <span title="{{ getCostValue(data, 'totalValueOtherAssets') }}">{{
              getCostValue(data, 'totalValueOtherAssets')
            }}</span>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="!showData">
        <tr>
          <td class="data-empty text-center" [attr.colspan]="14">
            <span class="data-empty-text-center">{{ 'messageTable.emptyMessage' | translate }}</span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
