<div class="right-view bidding-list">
   <div class="content__top block-center-between">
      <div class="content__top-left block-center">
         <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
            <em class="las la-bars"></em>
         </button>
         <h3 class="mb-0 page--title">Danh sách đấu thầu</h3>
      </div>
      <div class="content__top-right"></div>
   </div>

   <div class="content">
      <app-loading *ngIf="isLoading"></app-loading>
      <div class="content-body">
         <div class="content-body__list">
            <ng-container>
               <div class="group__create-form px-4 mt-4">
                  <div class="row form-create" [formGroup]="formSearch">
                     <div class="col-md-3 form-group">
                        <label class="mb-0">MST/DKKD</label>
                        <input type="text" maxlength="30" pInputText placeholder="" class="d-block"
                           formControlName="taxCode"  />
                     </div>
                     <div class="col-md-3 form-group">
                        <label class="mb-0">Mã khách hàng (Code T24)</label>
                        <input type="text" maxlength="50" pInputText placeholder="" class="d-block"
                           formControlName="customerCode" />
                     </div>
                     <div class="col-md-3 form-group">
                        <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                        <input type="text" maxlength="250" pInputText placeholder="" class="d-block"
                           formControlName="customerName" />
                     </div>
                     <div class="col-md-3 form-group">
                        <label class="mb-0">{{ 'fields.name_of_bid_solicitor' | translate }}</label>
                        <input type="text" maxlength="250" pInputText placeholder="" class="d-block"
                           formControlName="biddingName"  />
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label class="mb-0">{{'fields.time_update_from' | translate}}</label>
                        <p-calendar icon="las la-calendar-alt" formControlName="startUpdateDate" class="d-flex"
                           dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                           [maxDate]="formSearch.get('endUpdateDate').value" [showTime]="false">
                        </p-calendar>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label class="mb-0">{{'fields.time_update_to' | translate}}</label>
                        <p-calendar icon="las la-calendar-alt" formControlName="endUpdateDate" class="d-flex"
                           dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                           [minDate]="formSearch.get('startUpdateDate').value" [showTime]="false">
                        </p-calendar>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label class="mb-0">{{'fields.time_assign_from' | translate}}</label>
                        <p-calendar icon="las la-calendar-alt" formControlName="startAssignDate" class="d-flex"
                           dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                           [maxDate]="formSearch.get('endAssignDate').value" [showTime]="false">
                        </p-calendar>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label class="mb-0">{{'fields.time_assign_to' | translate}}</label>
                        <p-calendar icon="las la-calendar-alt" formControlName="endAssignDate" class="d-flex"
                           dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="true"
                           [minDate]="formSearch.get('startAssignDate').value" [showTime]="false">
                        </p-calendar>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'fields.rmManager' | translate }}</label>
                        <p-multiSelect emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           [options]="commonData.listRmManager" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                           emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="rmCode"
                           optionLabel="displayName" optionValue="code" [virtualScroll]="true" [itemSize]="31"></p-multiSelect>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'Trạng thái gói thầu' | translate }}</label>
                        <p-dropdown placeholder="Chọn trạng thái gói thầu" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           [options]="commonData.biddingStatus" class="d-block" (keyup.enter)="search(0)" formControlName="type"
                           optionLabel="name" optionValue="value" [virtualScroll]="true"></p-dropdown>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'Loại khách hàng'}}</label>
                        <p-dropdown placeholder="Chọn loại khách hàng" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           [options]="commonData.biddingCustomerType" class="d-block" (keyup.enter)="search(0)" formControlName="customerType"
                           optionLabel="name" optionValue="value" [virtualScroll]="true"></p-dropdown>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{'Trạng thái KH'}}</label>
                        <p-dropdown placeholder="Chọn trạng thái KH" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           [options]="commonData.listCustomerStatus" class="d-block" (keyup.enter)="search(0)" formControlName="customerStatus"
                           optionLabel="name" optionValue="value" [virtualScroll]="true" autoDisplayFirst="true"></p-dropdown>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'Tỉnh thành' }}</label>
                        <p-multiSelect  placeholder="Chọn tỉnh thành" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                           [options]="commonData.listProvince" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                           emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="province"
                           optionLabel="value" optionValue="key" [virtualScroll]="true"></p-multiSelect>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'Quận huyện' }}</label>
                        <p-multiSelect placeholder="Chọn quận huyện" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listDistrict" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="district"
                        optionLabel="value" optionValue="key" [virtualScroll]="true"></p-multiSelect>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label>{{ 'Xã phường' }}</label>
                        <p-multiSelect placeholder="Chọn xã phường" emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                        [options]="commonData.listWards" class="d-block" [filter]="true" (keyup.enter)="search(0)"
                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}" formControlName="wards"
                        optionLabel="value" optionValue="key" [virtualScroll]="true"></p-multiSelect>
                     </div>
                     <div [hidden]="!isOpenMore" class="col-md-3 form-group">
                        <label class="mb-0">{{ 'fields.branchManagement' | translate }}</label>
                        <branches-by-region [listBranch]="facilities" [(model)]="facilityCode" (keyup.enter)="search(0)"
                           (modelChange)="changeBranch($event)">
                        </branches-by-region>
                     </div>
                  </div>
                  <div class="filter-top block-center-between">
                     <div class="filter-top__left">
                        <button class="btn btn-small btn--light-blue" (click)="search(0)">
                           {{ 'btnAction.search' | translate }}
                        </button>
                     </div>
                     <div>
                        <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="!isOpenMore">
                           <em class="las la-angle-down f-16"></em>
                         </button>
                         <button class="btn btn--light-blue btn-small mr-2 ml-4" (click)="openMore()" *ngIf="isOpenMore">
                           <em class="las la-angle-up f-16"></em>
                         </button>
                     </div>
                     <div class="action__right">
                        <button
                          class="btn btn--light-blue btn-icon--small"
                          (click)="exportFile()"
                          title="{{ 'btnAction.export' | translate }}"
                          *ngIf="objFunction?.export"
                        >
                          <em class="las la-file-excel f-16"></em>
                        </button>
                      </div>
                  </div>

                  <div class="table__view bidding_list">
                     <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                        [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                        [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                        (page)="setPage($event)" [messages]="messages" (activate)="onActive($event)">

                        <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                           [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                           <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                              <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="taxCode"
                           name="MST/DKKD">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                           name="Mã khách hàng (Code T24)" [width]="200">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
                           name="{{ 'fields.customerName' | translate }}">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="soTBMT"
                           name="Số thông báo mời thầu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="tenGoiThau"
                           name="Tên gói thầu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="benMoiThau"
                           name="Bên mời thầu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="thoiDiemDangTai"
                           name="Thời điểm đăng tải">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value | date: 'dd/MM/yyyy' }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="giaTrungThauVnd"
                           name="Giá trúng thầu (VND)">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span style="margin-right: 0px; margin-left: auto !important" title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="branch"
                           name="{{ 'fields.branchManagement' | translate }}">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="rm" name="RM quản lý">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="revenue" name="Doanh thu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value | number:'1.0-2' }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerStatus" name="Trạng thái KH">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="type" name="Trạng thái gói thầu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false" [draggable]="false" prop="etlDate" name="Ngày đồng bộ dữ liệu">
                           <ng-template let-value="value" ngx-datatable-cell-template>
                              <span title="{{ value }}">{{ value }}</span>
                           </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="{{ 'fields.action' | translate }}" [width]="125"
                           [frozenRight]="true" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                           [resizeable]="false">
                           <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                              <div class="block-center text-center column-action">
                                 <button class="btn--light-blue btn-icon--small btn"
                                         mat-button [matMenuTriggerFor]="beforeMenu"
                                    title="{{ 'title.sendMail' | translate }}" (click)="getAllMailAndPosition(row)">
                                    <em class="las la-envelope f-16"></em>
                                 </button>
                                <mat-menu #beforeMenu="matMenu" yPosition="above" xPosition="before">
                                  <div mat-menu-item *ngFor="let item of listEmail">
                                    <div class="row" (click)="mailTo(row, item.mail)">
                                      <div class="pl-2" style="min-width: 140px">
                                        {{item.position}}
                                      </div>
                                      <div class="pr-1">
                                        {{item.mail}}
                                      </div>
                                    </div>
                                  </div>
                                </mat-menu>

                                <button class="btn--light-blue btn-icon--small btn ml-2"
                                    title="{{ 'title.createTask' | translate }}" (click)="createTaskTodo(row)">
                                    <em class="icon-create-todo i-16"></em>
                                 </button>
                              </div>
                           </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-footer>
                           <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                              ngx-datatable-footer-template>
                              <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                 [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                              </app-pager-ngx-datatable>
                           </ng-template>
                        </ngx-datatable-footer>
                     </ngx-datatable>
                  </div>
               </div>
            </ng-container>
            <ng-container *ngIf="!isLoading && isEmpty">
               <div class="chart__empty">
                  <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
               </div>
            </ng-container>
         </div>
      </div>
   </div>
</div>
