.bidding-list {
    .group__create-form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .bidding_list {
      flex: 1 1 auto;
    }
    .messageSaleOpp {
      text-align: center;
      color: red;
      margin-top: 300px !important;
    }
    .boder-time-grey {
      flex-direction: row;
      padding: 8px 16px;
      width: 66px;
      height: 34px;
      background: #F7F7F7;
      border: 1px solid #9B9B9B;
      border-radius: 6px;
    }
    .boder-time-blur {
      padding: 8px 16px;
      width: 66px;
      height: 34px;
      background: #F7F7F7;
      opacity: 0.5;
      border: 1px solid #9B9B9B;
      border-radius: 6px;
    }
  ::ng-deep .mat-menu-panel {
    max-width: 500px !important;
  }

  ::ng-deep .mat-menu-item {
    height: 40px !important;
  }
  }

::ng-deep .mat-menu-panel {
  max-width: 500px !important;
}

::ng-deep .mat-menu-item {
  height: 40px !important;
}
.action__right {
  text-align: right;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  margin-bottom: 5px;
}
