.annex-body {
    overflow: auto;
    height: calc(100% - 65px);
}

p {
    white-space: break-spaces !important;
}


.row-form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.textarea-content {
    height: 171px;

    label {
        padding-left: 0px !important;
        font-weight: 700;
        word-break: break-word;
    }
}

label {
    white-space: pre-line;
}

.result-of-year-table {
    height: 230px;
}

.import-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBF3FF;
    border-radius: 10px;
    border-style: dashed;
    width: 100%;
    height: 200px;
}

.link {
    @extend .center-inline;
    justify-content: space-between;
    overflow: auto;
    height: 40px;
    background-color: #F3F3F3;
    padding: 0px 15px;

    .hyperlink {
        color: #bbbbfd;
        text-decoration: none;
        background-color: transparent;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            color: #1649ef;
            text-decoration: underline;
        }
    }
}

.footer {
    background: #eff2fe !important;
    height: 33px;
    text-align: right;
}

.center-inline {
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: #2e2e2e;
}

.white-space {
    white-space: break-spaces;
}

.p-0 {
    padding: 0px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.p-15 {
    padding: 15px;
}

.col-md-12 {
    padding: 0px !important;
}

.dropzone {
    height: 200px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
}

.fiveOver {
    border-color: cornflowerblue;
}

.sme-360-detail {
    .detail-block {
        background: white;
        border-radius: 12px;
        padding: 1.5rem;
    }

    // .left-bar .nav-link {
    //   justify-content: left;
    //   padding: 0.5rem 1rem;
    // }

    .app__left-content.left-content {
        padding: 20px 18px;
        min-height: 100vh;
    }

    button.btn.btn-outline-primary {
        height: 28px;
        text-align: center;
        padding: 0 1rem !important;
        font-weight: 400 !important;
    }

    .over-hidden {
        overflow: hidden;
    }

    .over-x {
        overflow-x: auto;
    }



    .list__block {
        overflow-y: auto;
        border-radius: 12px;
    }

    .item-label {
        min-width: 60px !important;
    }

    .target-detail {
        font-weight: 700;
        font-size: 12px;
    }

    .target-value {
        font-weight: 700;
    }

    .p-40 {
        padding-left: 40px;
    }

    .err-mes {
        padding-top: 10px;
        text-align: center;
    }

    .tablecollateral .fullscreen {
        position: relative !important;
    }

    .collateral-table {
        height: 100%;
    }

    body::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .border-rowspan {
        border: 1px solid #f0f0f3;
    }

    .table-bscore {
        overflow-x: hidden;
        margin-top: -10px;
    }

    .data-empty {
        border-bottom: none;
    }

    .align-value {
        vertical-align: middle !important;
    }

    .filter-hearder {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        height: 40px;
        background: #eff2fe;
        padding: 2px 8px;
    }

    .view-more {
        cursor: pointer;
    }

    .btn-custom:hover {
        background: #eff2fe !important;
        border-color: #eff2fe !important;
        color: #2196f3 !important;
    }

    .p-button-plain.p-mr-2.p-button.p-component.p-button-icon-only {
        background: #eff2fe;
        border: none;
        border-radius: 6px;
        width: 40px;
        min-width: 40px;
        height: 40px;
    }

    .p-datatable .p-datatable-tbody>tr:last-child>td {
        border: none;
    }

    .tableCreditRatings .fullscreen {
        position: relative !important;
    }

    .href-link {
        color: #bbbbfd;
        text-decoration: none;

        &:hover {
            color: #1649ef;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.cus-phone-tooltip,
.cus-email-tooltip {
    .label-tooltip {
        min-width: 80px;
        max-width: 80px;
        padding-right: 15px;
    }
}

.top-border {
    border-top: 1px solid #f0f0f3;
}

.bottom-border {
    border-bottom: 1px solid #f0f0f3;
}

.not-button {
    padding-left: 38px;
}

//.mat-menu-panel {
//  max-width: 600px !important;
//}

.mat-menu-item {
    height: 40px !important;
}

.custom__menu+* .cdk-overlay-pane>div.mat-menu-panel {
    max-width: 600px !important;
}

.filter {
    padding: 12px 15px;
}

.font-weight-bold {
    font-weight: bold;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.pointer-events-none {
    pointer-events: none;
}
