<!-- <app-loading *ngIf="isLoading"></app-loading> -->
<!-- {{searchValue | json}} -->
<div class="h-100 overflow-auto">
    <!-- <div class="title p-15">Cơ sở đề xuất</div> -->
    <div class="p-15"
         [formGroup]="form">

        <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'"
             class=" mb-3 row  ">
            <label class="col-2 pr-3 font-weight-bold">
                {{' Hoạt động kinh doanh' }}
            </label>
            <div class="col-10">
                <textarea [readonly]="isView"
                          class="form-control"
                          formControlName="businessActivities"
                          rows="7"
                          maxlength='5000'
                          placeholder="{{ isView ? '' : 'Trường không bắt buộc:&#10; - Mô tả phương thức kinh doanh chính của công ty.&#10;- Đánh giá ngắn gọn về năng lực hoạt động và uy tín của khách hàng trên thị trường.&#10;- Nhận xét:&#10;+ Doanh thu tăng trưởng ổn đinh không? &#10;+ Lợi nhuận của công ty qua các năm như thế nào. &#10;(Nếu có sự tăng/giảm đột biến – nêu rõ lý do)'}}"
                          type="text"></textarea>
            </div>
        </div>

        <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'" class=" my-3 row ">
            <label class="col-2 pr-3 font-weight-bold">
                {{ 'Tình hình tài chính' }}
            </label>
            <div class="col-10">
                <textarea [readonly]="isView"
                          class="form-control"
                          formControlName="financialSituation"
                          rows="3"
                          maxlength='5000'
                          placeholder="{{!isView ? '- Mô tả nguồn thu nhập của khách hàng.&#10;- Đánh giá ngắn gọn về năng lực tài chính của khách hàng &#10;- Nhận xét' : ''}}"
                          type="text"></textarea>
            </div>
        </div>

        <div class=" my-3 row ">
            <div class="col-2 pr-3 white-space">
                <b>Thông tin phương án</b> <br> <i *ngIf="searchValue?.blockCode == 'INDIV'">(Đối với phương án món)</i>
            </div>
            <div class="col-10">
                <textarea class="form-control"
                          [readonly]="isView"
                          maxlength='5000'
                          formControlName="planInformation"
                          type="text"
                          rows="3"
                          placeholder="{{ isView ?  '' : searchValue?.blockCode == 'INDIV' ? 'Sản phẩm vay/Mục đích vay &#10;...' : '- Số hợp đồng kinh tế/Tên gói thầu &#10;- Chủ đầu tư'}}"></textarea>
            </div>
        </div>

        <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'"
             class=" my-3 row ">
            <div class="col-2 pr-3 white-space">
                <b>Chính sách đang áp dụng với KH</b>
            </div>
            <div class="col-10">
                <textarea class="form-control"
                          [readonly]="isView"
                          maxlength='5000'
                          formControlName="policyApplied"
                          type="text"
                          rows="3"
                          placeholder="{{ isView ? '' :'- Chính sách/gói lãi suất' }} "></textarea>
            </div>
        </div>
        <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'"
             class=" my-3 row ">
            <div class="col-2 pr-3 white-space">
                <b>Cơ sở đề xuất</b>
            </div>
            <div class="col-10">
                <textarea class="form-control"
                          [readonly]="isView"
                          maxlength='5000'
                          formControlName="proposedBasis"
                          type="text"
                          rows="3"
                          placeholder="{{isView ? '' : '- Uy tín khách hàng &#10;- Lợi ích mang lại...'}}"></textarea>
            </div>
        </div>
        <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'" class=" my-3 row ">
            <label class="col-2 pr-3 font-weight-bold">
                {{ 'Tình hình tài chính' }}
            </label>
            <div class="col-10">
                <textarea [readonly]="isView"
                          class="form-control"
                          formControlName="financialSituation"
                          rows="3"
                          maxlength='5000'
                          placeholder="{{isView ? '': '- Tình hình tài chính có dấu hiệu bất thường không? Nếu có, nói rõ những bất thường. &#10;- Nhận xét.'}}"
                          type="text"></textarea>
            </div>
        </div>
        <div class=" my-3 row ">
            <label class="col-2 pr-3 font-weight-bold">
                {{ 'Quan hệ với các TCTD' }}
            </label>
            <div class="col-10">
                <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'">
                    <div class="d-flex justify-content-between w-100">
                        <label class="font-weight-bold">
                            {{ '1. Chi tiết dư nợ vay' }}
                        </label>
                        <p class="font-italic text-muted">{{ 'reductionProposal.labels.dateTime' | translate }}
                            {{ (creditInformation ? creditInformation?.dsnapShotDt : '') }}</p>
                    </div>
                    <customer-loan-balance [userFor]="'annex'"
                                           [(model)]="creditInformation"
                                           [notificationMessage]="notificationMessage"
                                           #customerLoanBalance>
                    </customer-loan-balance>
                </div>
                <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'">
                    <div class="d-flex justify-content-between w-100">
                        <label class="font-weight-bold">
                            {{ '1. Chi tiết nợ vay' }}
                        </label>
                        <p class="font-italic text-muted">{{ 'Đơn vị tính: Triệu đồng, USD' }}</p>
                    </div>
                    <customer-loan-balance [userFor]="'INDIV'"
                                           [(model)]="creditInformation"
                                           [notificationMessage]="notificationMessage"
                                           #customerLoanBalance>
                    </customer-loan-balance>
                </div>
                <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'"
                     class="my-3">
                    <label class="font-weight-bold">
                        {{'2. Thông tin dư nợ thẻ, trái phiếu và cam kết ngoại bảng '}}
                    </label>
                    <p-table [value]="camKetNgoaiBang"
                             [autoLayout]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>STT</th>
                                <th>Tên TCTD</th>
                                <th>Nhóm nợ</th>
                                <th>Thẻ (trđ)</th>
                                <th>Trái phiếu (trđ)</th>
                                <th>Cam kết ngoại bảng (trđ)</th>
                                <th>Cam kết ngoại bảng (ngoại tệ)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body"
                                     let-product
                                     let-index="rowIndex">
                            <tr>
                                <td>{{index + 1}}</td>
                                <td>{{product?.tentctd}}</td>
                                <td>{{product?.nhomno != null ? 'Nhóm ' + (product?.nhomno | formatNumber): ''}}</td>
                                <td>{{displayCardValue(product?.tentctd, product?.card)}}</td>
                                <td>{{'--'}}</td>
                                <td>{{product?.loaitien == 'VND' ? formatCurrency(product?.giatri) || '--' : '--'}}</td>
                                <td>{{product?.loaitien != 'VND' ? formatCurrencyWithUnit(product?.giatri, product?.loaitien) || '--' : '--'}}</td>
                                <!-- <td>{{product?.ngaybc}}</td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="!camKetNgoaiBang.length"
                         class="d-flex justify-content-center">
                        {{'Không có dữ liệu'}}
                    </div>
                </div>
                <div *ngIf="existed && searchValue && searchValue?.blockCode != 'INDIV'"
                     class="my-3"
                     style="margin-top: 20px;">
                    <label class="font-weight-bold">
                        {{ '3. Tình hình quan hệ với MB' }}
                    </label>
                    <div class='detail-block mb-4'>
                        <!-- Tình hình kinh doanh -->
                        <div class='row mt-3'>
                          <div class='filter filter-list no-gutters col-4'>
                            <div class='px-5'>{{ 'customer360.title.target' | translate }}</div>
                          </div>
                          <div class='filter filter-list no-gutters col-8'>
                            <div class='row'>
                              <div class='px-5 col-4 text-right'>
                                <span>{{ nameYearT }}</span>
                              </div>
                              <div class='px-5 col-4 text-right'>
                                <span>{{ nameT1 }}</span>
                              </div>
                              <div class='px-5 col-4 text-right'>
                                <span>{{ nameT }}</span>
                              </div>
                            </div>
                          </div>

                          <div *ngIf='show_error_riskManagement' class='col-md-12 err-mes'>
                            <span class=''>Không có thông tin tình hình kinh doanh</span>
                          </div>
                          <div *ngIf='!show_error_riskManagement' class='col-md-12'>
                            <div class='row mt-2'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessCustomer()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessCustomer' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessCustomer' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>A. Khách hàng</span>
                              </div>
                            </div>
                            <div *ngIf='isBusinessCustomer' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.statusCustomer' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getValueV2(dataYearT1.cstStatus) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getValueV2(dataT2.cstStatus) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getValueV2(dataT1?.cstStatus) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessCustomer' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.objectCustomer' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ dataYearT1.cstTarget }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ dataT2.cstTarget }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ dataT1.cstTarget }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- B.Dư nợ -->
                            <div class='row mt-2 top-border'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessDebit()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessDebit' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessDebit' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>B. Dư nợ</span>
                              </div>
                            </div>
                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtLoanMedmLongAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.mdlLoanAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.mdlLoanAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.mdlLoanAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtLoanShrAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.shrLoanAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.shrLoanAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.shrLoanAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.limitAmt' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.limitAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.limitAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.limitAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.limitRate' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.limitRate) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.limitRate) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.limitRate) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.nimBQTHD' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.mdlNim) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.mdlNim) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.mdlNim) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessDebit' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.nimBQNH' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.shrNim) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.shrNim) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.shrNim) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- C. HUY ĐỘNG -->
                            <div class='row mt-2 top-border'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessMobilization()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessMobilization' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessMobilization' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>C. HUY ĐỘNG</span>
                              </div>
                            </div>

                            <div *ngIf='isBusinessMobilization' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtDepoAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.depAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.depAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.depAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf='isBusinessMobilization' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtCasaAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.casaAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.casaAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.casaAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngIf='isBusinessMobilization' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.rateArgt' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.casaPct) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.casaPct) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.casaPct) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- D. BẢO LÃNH -->
                            <div class='row mt-2 top-border'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessGuarantee()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessGuarantee' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessGuarantee' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>D. BẢO LÃNH</span>
                              </div>
                            </div>

                            <div *ngIf='isBusinessGuarantee' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtGuaranteeAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.grtAmtYtd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.grtAmtYtd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.grtAmtYtd) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessGuarantee' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.guaranteeLimitAmt' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.grtLmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.grtLmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.grtLmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessGuarantee' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.guamanteeLimitRate' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.grtRate) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.grtRate) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.grtRate) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessGuarantee' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtGuaranteeAmtLcyMtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.grtAmtMtd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.grtAmtMtd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.grtAmtMtd) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- E. TÀI TRỢ THƯƠNG MẠI -->
                            <div class='row mt-2 top-border'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessCommercialFinance()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessCommercialFinance' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessCommercialFinance' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>E. TÀI TRỢ THƯƠNG MẠI</span>
                              </div>
                            </div>
                            <div *ngIf='isBusinessCommercialFinance' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.argtRevenueTfAmtLcyYtd' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.tfAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.tfAmt) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.tfAmt) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- F. SẢN PHẨM DỊCH VỤ -->
                            <div class='row mt-2 top-border'>
                              <div class='col-12 mt-2'>
                                <button (click)='openBusinessServiceProducts()' class='btn--light-blue btn-icon--small mr-2'>
                                  <em *ngIf='!isBusinessServiceProducts' class='las la-angle-right f-16'></em>
                                  <em *ngIf='isBusinessServiceProducts' class='las la-angle-down f-16'></em>
                                </button>
                                <span class='target-detail text-uppercase'>F. SẢN PHẨM DỊCH VỤ</span>
                              </div>
                            </div>
                            <div *ngIf='isBusinessServiceProducts' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.nbrOfPrdLvl4' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.nbrPd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.nbrPd) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.nbrPd) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf='isBusinessServiceProducts' class='row mt-3 top-border'>
                              <div class='col-4 mt-3 px-5'>
                                <span class='px-5'>{{ 'customer360.fields.frequencyOfRemTransactions' | translate }}</span>
                              </div>
                              <div class='col-8 mt-3'>
                                <div class='row'>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataYearT1.nbrTxnDep) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT2.nbrTxnDep) }}</span>
                                  </div>
                                  <div class='px-5 col-4 text-right'>
                                    <span>{{ getCostValueV2(dataT1.nbrTxnDep) }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'"
                     class="py-3">
                    <div class="d-flex justify-content-between">
                        <label class="font-weight-bold">
                            {{ '2. Thông tin thẻ tín dụng và dư nợ thẻ tín dụng' }}
                        </label>
                        <p class="font-italic text-muted">{{ 'Đơn vị tính: Triệu đồng' }}</p>
                    </div>
                    <div>
                        <p-table [value]="duNoKHCN"
                                 [autoLayout]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>STT</th>
                                    <th>Tên TCTD</th>
                                    <th>Ngày dữ liệu</th>
                                    <th>Dư nợ thẻ (VNĐ)</th>
                                    <th>Dư nợ chậm thanh toán (VNĐ)</th>
                                    <th>Số ngày chậm thanh toán thẻ</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body"
                                         let-product
                                         let-index="rowIndex">
                                <tr>
                                    <td>
                                        {{index + 1}}
                                    </td>
                                    <td>
                                        {{product.ORGNAME}}
                                    </td>
                                    <td>
                                        {{formatDate(product.TIMERESPONSE)}}
                                    </td>
                                    <td>
                                        {{product.AMOUNTTOPAID | formatNumber }}
                                    </td>
                                    <td>
                                        {{product.AMOUNTLATE | formatNumber}}
                                    </td>
                                    <td>
                                        {{product.LATEDAYNUMBER | formatNumber}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template  pTemplate="footer"
                                         let-product
                                         let-index="rowIndex">
                                <tr>
                                    <td class="footer">
                                        {{'Tổng'}}
                                    </td>
                                    <td class="footer">
                                    </td >
                                    <td class="footer">
                                    </td>
                                    <td class="footer">
                                        {{getToltalByProperty(duNoKHCN, 'AMOUNTTOPAID')| formatNumber}}
                                    </td>
                                    <td class="footer">
                                        {{getToltalByProperty(duNoKHCN, 'AMOUNTLATE')| formatNumber}}
                                    </td>
                                    <td class="footer">
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div *ngIf="!duNoKHCN.length"
                         class="d-flex justify-content-center">
                        {{'Không có dữ liệu'}}
                    </div>
                </div>
                <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'"
                     class="font-weight-bold py-3">
                    4. Nợ chú ý trong vòng 12 tháng gần nhất: Khách hàng {{noChuY ? 'có' : 'không có'}} nợ cần chú ý trong vòng 12 tháng gần nhất.
                </div>
            </div>
        </div>
        <div *ngIf="searchValue && searchValue?.blockCode != 'INDIV'"
             class="row my-3">
            <label class="col-2 pr-3">
                <b>Doanh số XNK </b> <br> <i>(2 năm có dữ liệu gần nhất)</i>
            </label>
            <div class="col-10">
                <p-table [value]="doanhSoXNKData"
                         [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Chỉ tiêu</th>
                            <th *ngIf='doanhSoXNKData.length > 0'>Năm {{doanhSoXNKData[0]?.nam}}</th>
                            <th *ngIf="doanhSoXNKData.length > 1">Năm {{doanhSoXNKData[1]?.nam}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body"
                                 let-product
                                 let-index="rowIndex">
                        <!-- chỉ lấy 1 hàng đầu để map -->
                        <ng-container *ngIf="index == 0">
                            <tr>
                                <td>{{'Doanh số XNK TCHQ (USD)'}}</td>
                                <td *ngIf="doanhSoXNKData.length > 0">{{doanhSoXNKData[0]?.doanhSoXNK}}</td>
                                <td *ngIf="doanhSoXNKData.length > 1">{{doanhSoXNKData[1]?.doanhSoXNK}}</td>
                            </tr>
                            <tr>
                                <td>{{'Doanh số TTTM  (USD)'}}</td>
                                <td *ngIf="doanhSoXNKData.length > 0">{{doanhSoXNKData[0]?.doanhSoTttmTaiMB}}</td>
                                <td *ngIf="doanhSoXNKData.length > 1">{{doanhSoXNKData[1]?.doanhSoTttmTaiMB}}</td>
                            </tr>
                            <tr>
                                <td>{{'Tỉ lệ khai thác (%)'}}</td>
                                <td *ngIf="doanhSoXNKData.length > 0">{{doanhSoXNKData[0]?.tyLeKhaiThac}}</td>
                                <td *ngIf="doanhSoXNKData.length > 1">{{doanhSoXNKData[1]?.tyLeKhaiThac}}</td>
                            </tr>
                        </ng-container>
                    </ng-template>
                </p-table>
                <div *ngIf="!doanhSoXNKData.length"
                     class="d-flex justify-content-center">
                    {{'Không có dữ liệu'}}
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-2 pr-3 font-weight-bold">
                Khả năng cạnh tranh với các TCTD khác
            </label>
            <div class="col-10">
                <textarea maxlength='5000'
                          class="form-control"
                          type="text"
                          rows="3"
                          [readonly]="isView"
                          formControlName="competitiveness"
                          placeholder=" {{ isView ? '' : '+ Chính sách lãi suất/phí TCTD khác đang áp dụng &#10; + Nhận xét'}}">
                </textarea>
            </div>
        </div>
        <div *ngIf="searchValue && searchValue?.blockCode == 'INDIV'"
             class=" my-3 row ">
            <label class="col-2 pr-3 font-weight-bold">Các sản phẩm đang sử dụng tại MB</label>
            <div class="col-10 d-flex">
                {{ "Đính kèm file phía dưới"}}
            </div>
        </div>
        <div class="row">
            <label class="col-2 pr-3 font-weight-bold">
                Tài liệu đính kèm
            </label>
            <div class="col-md-10 mb-5 mt-3">
                <div *ngIf="!isView"
                     class="import-file"
                     style="padding-top: 21px;"
                     draggable="true"
                     (dragover)="onDragOver($event)"
                     (drop)="onDropSuccess($event)">
                    <input type="file"
                           multiple
                           #inputFile
                           accept=".xls,.xlsx,.pdf,.doc,.docx"
                           style="visibility: hidden;"
                           (change)="changeFile($event)">
                    <em class="upload-cloud i-58 mini-icon mr-2 mb-3"></em>
                    <span class="mb-2"
                          style="font-size: 16px;font-weight: 600;">
                        Kéo thả file vào đây để tải lên
                    </span>
                    <span style="color: #141ED2; border-bottom: 1px solid #141ED2; cursor: pointer;"
                          (click)="openDownloadFilePopup(inputFile)">
                        Hoặc ấn vào đây để chọn file
                    </span>

                </div>

                <div *ngIf="reductionProposalApi?.info?.value?.files?.length"
                     class="import-list">
                    <!-- fileIdList -->
                    <div class="pointer link mt-4"
                         *ngFor="let file of reductionProposalApi?.info?.value.files ">
                        <div class="center-inline"
                             style="width: calc(100% - 15px);">
                            <em class="cloud-file i-30 mini-icon mr-2"></em>
                            <span class="mr-2 hyperlink"
                                  (click)="download(file)">{{file.fileName}}
                            </span>
                        </div>
                        <i class="pi pi-times"
                           style="color: red; font-size: 20px;"
                           (click)="removeFile(file.fileId)"></i>
                    </div>
                </div>
                <ng-container *ngIf="isView">
                    <div
                         *ngIf="reductionProposalDetail?.reductionProposalFileDTOList && reductionProposalDetail?.reductionProposalFileDTOList.length">
                        <div class="pointer link mt-4"
                             *ngFor="let file of reductionProposalDetail?.reductionProposalFileDTOList ">
                            <div class="center-inline"
                                 style="width: calc(100% - 15px);">
                                <em class="cloud-file i-30 mini-icon mr-2"></em>
                                <span class="mr-2 hyperlink"
                                      (click)="download(file)">{{file.fileName}}
                                </span>
                            </div>
                            <i class="pi pi-times"
                               style="color: red; font-size: 20px;"
                               (click)="removeFile(file.fileId)"></i>
                        </div>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
