<div class="right-view campaign-create">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small" (click)="backToList()">
                <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
            </button>
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'campaign.create' | translate }}</h3>
        </div>
        <div class="content__top-right">
            <button class="btn btn--light-blue btn-small" *ngIf="!isLastTab" (click)="save()">{{ 'btnAction.save' |
                translate }}</button>
            <button class="btn btn--light-blue btn-small" *ngIf="!isLastTab" (click)="next()">{{ 'btnAction.continue' |
                translate }}</button>
            <button class="btn btn--light-blue btn-small" *ngIf="isLastTab" (click)="backToList()">{{ 'btnAction.completed'
                | translate }}</button>
        </div>
    </div>
    <div class="content">

        <app-loading *ngIf="isLoading || isFirtLoading"></app-loading>
        <div class="content-body">
            <div class="header" hidden>
                <ng-container *ngIf="campaign">
                    <!-- <span class="i-block">
                    {{'fields.campaignCode' | translate}}: <span class="value">{{campaignCode }}</span>
                </span>
                <span class="i-block">
                    {{'campaign.sale.created_by' | translate}}: <span class="value">{{created_by }}</span>
                </span> -->
                    <span class="i-block">
                        {{'fields.branch' | translate}}: <span class="value">{{campaign?.branchCode}} -
                            {{campaign?.branchName}}</span>
                    </span>
                    <span class="i-block">
                        {{'fields.status' | translate}}: <span class="value">{{ 'campaign.status.' +
                            campaign?.status?.toLowerCase() | translate}}</span>
                    </span>
                </ng-container>

            </div>
            <div class="col-12 detail-block mb-3 mt-3">
                <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="tabIndex">
                    <mat-tab label="Khai báo chiến dịch"></mat-tab>
                    <mat-tab label="Phân bổ chi tiêu" [disabled]="!isCreatedCampaign"></mat-tab>
                    <mat-tab label="Phân bổ khách hàng" [disabled]="!isCreatedCampaign"></mat-tab>
                </mat-tab-group>
            </div>

            <div class="col-12 detail-block mb-4 tab-content" *ngIf="tabIndex === 0">
                <app-declare-campaign #declareCampaign style="height: 100%" [formGroup]="infoForm"
                    [rmLevelList]="rmLevelList" (changeLoading)="changeLoading($event)">
                </app-declare-campaign>
            </div>

            <div class="col-12 detail-block mb-4 tab-content" *ngIf="tabIndex === 1">
                <app-detail-campaign-allocation [campaignId]="campaignId" (changeLoading)="changeLoading($event)">
                </app-detail-campaign-allocation>
            </div>
            <div class="col-12 detail-block mb-4 tab-content" *ngIf="tabIndex === 2">
                <app-detail-customer-tracking [campaignCode]="campaignCode" [campaignId]="campaignId"
                    (changeLoading)="changeLoading($event)"></app-detail-customer-tracking>
            </div>

        </div>
    </div>
</div>
