.promo-block {
  display: block;
  position: relative;
  text-align: center;
  height: 117px;
  overflow: hidden;
  background: white;
  &.closed {
    height: 20px;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  img {
    height: 117px;
    width: 100%;
    margin: 0 auto;
  }
}

.icon-banner {
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  background: #353644;
  opacity: 0.45;
  width: 45px;
  height: 20px;
  display: inline-block;
  color: #fff;
  z-index: 60;
  &.open {
    bottom: 0;
    border-radius: 4px 4px 0 0;
  }
  &.closed {
    bottom: -20;
    border-radius: 0 0 4px 4px;
  }
}

::ng-deep .chat-widget--bubble.-hide {
  transform: translateY(3rem) scale(-0.1, -0.1) skew(0deg, 50deg) !important;
}

::ng-deep .chat-widget {
  right: 5rem !important;
  bottom: 0rem !important;
  position: relative !important;
}

//::ng-deep .chat-widget--button {
//  right: 4rem !important;
//  bottom: -14rem !important;
//}

.example-boundary {
  z-index: 2022;
  //width: 300px;
  position: fixed;
  height: 200px;
  right: 0px;
  bottom: 0px;
}
