<div class="wrapper app d-md-flex app__layout">
  <div class="app__left">
    <app-navbar></app-navbar>
    <div class="app__left-content">
      <app-profile-user></app-profile-user>
      <router-outlet name="app-left-content"></router-outlet>
    </div>
  </div>
  <div class="app__right">
    <div class="promo-block" [class]="isShowBanner ? 'open' : 'closed'">
      <ngb-carousel style="height: inherit; width: 100%;" *ngIf="isShowBanner && bannerList.length" interval="10000">
        <ng-template ngbSlide *ngFor="let item of bannerList">
          <div class="picsum-img-wrapper">
            <img [src]="item" alt="">
          </div>
        </ng-template>
      </ngb-carousel>
      <span aria-hidden="true" (click)="closeBanner()" [class]="'icon-banner ' + (isShowBanner ? 'open' : 'closed')"
        ><em [class]="'f-16 las la-angle-' + (isShowBanner ? 'up' : 'down')"></em
      ></span>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-config></app-config>
  <app-survey-function></app-survey-function>
  <div *ngIf="isShowChat" class="example-boundary">
    <div style="transform: translate3d(0px, 95px, 0px) translate3d(0px, -15px, 0px) translate3d(0px, 73px, 0px);" cdkDragBoundary=".example-boundary" cdkDrag id="widget-chat"></div>
  </div>
</div>
