<div class="authorization-information">

  <div style="margin-top: 20px;"
       class="section accordion"
       id="reductionFeeInfo">
    <div class="card m-0">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-collapse btn-block text-left"
                  type="button"
                  (click)='toggle(1)'>
            <h6 class="m-0">
              {{ 'reductionProposal.labels.reductionAuthorizationPromulgate' | translate }}
              <span class="fa fa-chevron-down chevron"
                    *ngIf='!toggleItem[1]; else upIcon1'></span>
              <ng-template #upIcon1>
                <span class="fa fa-chevron-up chevron"></span>
              </ng-template>
            </h6>
          </button>
        </h2>
      </div>

      <div class="collapse show"
           *ngIf='toggleItem[1]'>

        <div class="card-body">
          <div class="table__view h-100">
            <ngx-datatable ngxDataTable
                           #table
                           class="bootstrap"
                           [rows]="listReductionAuthorizationPromulgate"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="0"
                           rowHeight="auto"
                           [virtualization]="true"
                           [externalPaging]="false"
                           [scrollbarH]="true"
                           [messages]="{emptyMessage: 'Không có dữ liệu'}">
              <ngx-datatable-column [sortable]="false"
                                    name="{{ 'fields.order' | translate }}"
                                    [width]="50"
                                    [frozenLeft]="true"
                                    [canAutoResize]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template let-value="value"
                             let-rowIndex="rowIndex"
                             ngx-datatable-cell-template>
                  <span>{{ rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    [frozenLeft]="true">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.signer' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.fullName }}">{{ row.fullName }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.title' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.titleCategory }}">{{ row.titleCategory }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.statusProcess' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ getStatus(row.status) }}">{{ getStatus(row.status) }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    name="Thời gian xử lý"
                                    [resizeable]="false"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.note' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.note }}">{{ row.note }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    name="Hiển thị chữ ký"
                                    [resizeable]="false"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    name="Ảnh ký"
                                    [resizeable]="false"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    name="File đính kèm"
                                    [resizeable]="false"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
            </ngx-datatable>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section accordion"
       id="reductionFeeInfo1">
    <div class="card m-0">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-collapse btn-block text-left"
                  type="button"
                  (click)='toggle(2)'>
            <h6 class="m-0">
              {{ 'reductionProposal.labels.reductionAuthorizationReview' | translate }}
              <span class="fa fa-chevron-down chevron"
                    *ngIf='!toggleItem[2]; else upIcon1'></span>
              <ng-template #upIcon1>
                <span class="fa fa-chevron-up chevron"></span>
              </ng-template>

            </h6>
          </button>
        </h2>
      </div>
      <div class="collapse show"
           *ngIf='toggleItem[2]'>
        <div class="card-body">
          <div class="table__view h-100">
            <ngx-datatable ngxDataTable
                           #table
                           class="bootstrap"
                           [rows]="listReductionAuthorizationReview"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="0"
                           rowHeight="auto"
                           [virtualization]="true"
                           [externalPaging]="false"
                           [scrollbarH]="true"
                           [messages]="{emptyMessage: 'Không có dữ liệu'}">
              <ngx-datatable-column [sortable]="false"
                                    name="{{ 'fields.order' | translate }}"
                                    [width]="50"
                                    [frozenLeft]="true"
                                    [canAutoResize]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template let-value="value"
                             let-rowIndex="rowIndex"
                             ngx-datatable-cell-template>
                  <span>{{ rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Thao tác"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    [frozenLeft]="true">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.signer' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.fullName }}">{{ row.fullName }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.title' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.titleCategory }}">{{ row.titleCategory }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.statusProcess' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ getStatus(row.status) }}">{{ getStatus(row.status) }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    name="Thời gian xử lý"
                                    [resizeable]="false"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.note' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.note }}">{{ row.note }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Hiển thị chữ ký"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Fine đính kèm"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
            </ngx-datatable>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section accordion"
       id="reductionFeeInfo2">
    <div class="card m-0">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-collapse btn-block text-left"
                  type="button"
                  (click)='toggle(3)'>
            <h6 class="m-0">
              {{ 'reductionProposal.labels.reductionAuthorizationInitialSigned' | translate }}
              <span class="fa fa-chevron-down chevron"
                    *ngIf='!toggleItem[3]; else upIcon1'></span>
              <ng-template #upIcon1>
                <span class="fa fa-chevron-up chevron"></span>
              </ng-template>

            </h6>
          </button>
        </h2>
      </div>

      <div class="collapse show"
           *ngIf='toggleItem[3]'>
        <div class="card-body">
          <div class="table__view h-100">
            <ngx-datatable ngxDataTable
                           #table
                           class="bootstrap"
                           [rows]="listReductionAuthorizationInitialSigned"
                           [columnMode]="'force'"
                           [headerHeight]="50"
                           [footerHeight]="0"
                           rowHeight="auto"
                           [virtualization]="true"
                           [externalPaging]="false"
                           [scrollbarH]="true"
                           [messages]="{emptyMessage: 'Không có dữ liệu'}">
              <ngx-datatable-column [sortable]="false"
                                    name="{{ 'fields.order' | translate }}"
                                    [width]="50"
                                    [frozenLeft]="true"
                                    [canAutoResize]="false"
                                    [draggable]="false"
                                    [resizeable]="false">
                <ng-template let-value="value"
                             let-rowIndex="rowIndex"
                             ngx-datatable-cell-template>
                  <span>{{ rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Thao tác"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    [frozenLeft]="true">
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.signer' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.fullName }}">{{ row.fullName }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.title' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.titleCategory }}">{{ row.titleCategory }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.statusProcess' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ getStatus(row.status) }}">{{ getStatus(row.status) }}</span>

                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    prop="signedTime"
                                    [resizeable]="false"
                                    name="Thời gian xử lý"
                                    cellClass="column-number"
                                    headerClass="column-number">
                <ng-template let-value="value"
                             let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    >
                <ng-template ngx-datatable-header-template>
                  {{ 'reductionProposal.fields.note' | translate }}
                </ng-template>
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span title="{{ row.note }}">{{ row.note }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Hiển thị chữ ký"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [canAutoResize]="false"
                                    name="Fine đính kèm"
                                    [frozenLeft]="true">
                <ng-template let-row="row"
                             ngx-datatable-cell-template>
                  <span>{{ '--' }}</span>
                </ng-template>
              </ngx-datatable-column> -->
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>