.authorization-information {
  color: #303030;

  .section{
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    padding: 15px 0;
    margin-bottom: 20px;
  }

  .card-header,
  .btn-collapse{
    position: relative;
    background-color: #fff;
    border-radius: 0;
  }
  .card-header:hover,
  .btn-collapse:hover{
    background: #fff!important;
    border: 0.8px solid transparent!important;
    color: #bbbbfd;
  }
  .btn-collapse{
    padding: 1.3rem 2rem;
  }
  .chevron {
    position: absolute;
    right: 1%;
  }

  .left-title{
    margin-bottom: 0;
    margin-left: 2rem;
  }
}
