<div class="right-view kpi-standard-cbql-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn-small btn--light-blue" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.viewKpiStandardCbql' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 pt-4" [formGroup]="formSearch">
            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'fields.hrisCode' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.hrisCode" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.rmCode' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.rmCode" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.rmName' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.rmName" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.fields.block' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.block?.name" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.titleGroupRM' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.title?.name" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.levelRM' | translate }}</label>
                <input type="text" class="d-block" [value]="dataFromView?.level?.name" pInputText [disabled]="true" />
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'kpi.menu.period' | translate }} </label>
                <div class="row mt-2">
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="true" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.monthRm' | translate }}</label>
                  </div>
                  <!--                                    23-03-2022 LinhHH2: Bỏ radio 6 tháng-->
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton [value]="false" formControlName="isMonth"></p-radioButton>
                    <label class="ml-3">{{ 'kpi.menu.sixMonth' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4 form-group">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>{{ 'fields.month' | translate }}</label>
                    <p-dropdown
                      [options]="listMonth"
                      placeholder=" "
                      class="d-block"
                      formControlName="month"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    >
                    </p-dropdown>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>{{ 'fields.year' | translate }}</label>
                    <p-dropdown
                      [options]="listYear"
                      placeholder=" "
                      class="d-block"
                      formControlName="year"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="code"
                      optionValue="code"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-top block-center-between px-4">
            <div class="center__search">
              <button class="btn btn--light-blue btn-small" (click)="search()">
                {{ 'btnAction.search' | translate }}
              </button>
            </div>
          </div>

          <div>
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listKpiItemMapping"
              [columnMode]="'force'"
              [headerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="false"
              [scrollbarH]="true"
              [virtualization]="false"
              [messages]="messages"
              [treeFromRelation]="'parentId'"
              [treeToRelation]="'idGroup'"
              (treeAction)="onTreeAction($event)"
            >
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="name"
                name="{{ 'kpi.fields.kpi_target_name' | translate }}"
                [isTreeColumn]="true"
                [treeLevelIndent]="30"
                [width]="300"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="frequency"
                name="{{ 'kpi.fields.frequency' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="unitName"
                name="{{ 'kpi.fields.unit' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="rate"
                name="{{ 'kpi.fields.rate_2' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="value"
                name="{{ 'kpi.fields.standard_plan' | translate }}"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
