.sale-manager-list {
  .group__create-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list_rm {
    flex: 1 1 auto;
  }
  .messageSaleOpp {
    text-align: center;
    color: red;
    margin-top: 300px !important;
  }
}
