<div class="right-view sale-manager-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Quản lý bán/ Cơ hội bán</h3>
    </div>
    <div class="content__top-right"></div>
  </div>

  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <ng-container *ngIf="!permissionOpp">
          <div class="group__create-form px-4 mt-4">
            <div class="row form-create" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerCode' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="customerCode"
                  (keyup.enter)="search(false)"
                />
              </div>
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.customerName' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="fullName"
                  (keyup.enter)="search(false)"
                />
              </div>
              <!--
            <div class="col-md-3 form-group">
              <label class="mb-0">{{ 'fields.block' | translate }}</label>
              <p-dropdown
                emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                formControlName="divisionCode"
                [options]="listDivision"
                placeholder=" "
                class="d-block"
                optionLabel="displayName"
                optionValue="code"
              >
              </p-dropdown>
            </div> -->
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.registrationNumber' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="registrationNumber"
                  (keyup.enter)="search(false)"
                />
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.phone' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="mobileNumber"
                  (keyup.enter)="search(false)"
                />
              </div>
            </div>
            <div class="row form-create" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'customer360.title.identificationPapers' | translate }}</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="identifiedNumber"
                  (keyup.enter)="search(false)"
                />
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.block' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="divisionCode"
                  [options]="listDivision"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (keyup.enter)="search(false)"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.branchOpportunity' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranchesOpp"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="opportunityBranch"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  (keyup.enter)="search(false)"
                ></p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">{{ 'fields.rmOpportunity' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="rmCode"
                  [filter]="true"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                  (keyup.enter)="search(false)"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="row" [formGroup]="formSearch">
              <div class="col-md-3 form-group">
                <label class="mb-0">Trạng thái cơ hội</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="status"
                  [options]="listStatusOpp"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  (keyup.enter)="search(false)"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 form-group">
                <label class="mb-0">Mã cơ hội</label>
                <input
                  type="text"
                  maxlength="100"
                  pInputText
                  placeholder=""
                  class="d-block"
                  formControlName="opportunityCode"
                  (keyup.enter)="search(false)"
                />
              </div>
            </div>

            <div class="filter-top block-center-between">
              <div class="filter-top__left">
                <button class="btn btn--light-blue btn-small" (click)="search(false)">
                  {{ 'btnAction.search' | translate }}
                </button>
              </div>
              <div class="filter-top__right d-flex">
                <button
                  class="btn-icon btn-icon--small btn btn-search"
                  (click)="createOpportunity()"
                  title="{{ 'btnAction.create' | translate }}"
                >
                  <em class="las la-plus-circle f-16"></em>
                </button>
                <button
                  (click)="exportFile()"
                  class="btn btn-icon btn-icon--small btn-search ml-2"
                  title="{{ 'btnAction.export' | translate }}"
                >
                  <em class="las la-file-excel f-16"></em>
                </button>
              </div>
            </div>

            <div class="table__view list_rm">
              <ngx-datatable
                ngxDataTable
                #table
                class="bootstrap fullscreen"
                columnMode="force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [virtualization]="false"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rows]="listData"
                [virtualization]="false"
                [externalPaging]="true"
                [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage"
                [limit]="pageable?.size"
                (page)="setPage($event)"
                [messages]="messages"
                (activate)="onActive($event)"
              >
                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.order' | translate }}"
                  [width]="40"
                  [canAutoResize]="false"
                >
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="opportunityCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'saleOpportunity.codeOpportunity' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="fullName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerName' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="customerCode"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.customerCode' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="opportunityBranchName"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.branchOpportunity' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <!--
              <ngx-datatable-column
                prop="rmCode"
                [sortable]="false"
                [draggable]="false"
                name="{{ 'fields.rmManager' | translate }}"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span title="{{ value }}">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column> -->

                <ngx-datatable-column
                  prop="assignTo"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.rmOpportunity' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="createdBy"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.createByOpportunity' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.statusOpportunity' | translate }}"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <em class="las {{ row.icon }} f-16"></em>
                    <span style="margin-left: 15px" title="{{ row.statusOpportunity | translate }}">{{
                      row.statusOpportunity | translate
                    }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="createdDate"
                  [sortable]="false"
                  [draggable]="false"
                  name="{{ 'fields.createdDate' | translate }}"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}">{{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="{{ 'fields.action' | translate }}"
                  [width]="150"
                  [frozenRight]="true"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                >
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div class="block-center text-center column-action">
                      <button
                        *ngIf="row.status === '1'"
                        type="button"
                        title="{{ 'btnAction.edit' | translate }}"
                        (click)="editOpportunity(row)"
                        class="btn-outline"
                      >
                        <em class="las la-edit"></em>
                      </button>

                      <button
                        *ngIf="row.status === '1'"
                        type="button"
                        title="{{ 'btnAction.transferOpportunity' | translate }}"
                        class="btn-outline"
                        (click)="transferOpportunity(row)"
                      >
                        <em class="las la-transfer-opportunity"></em>
                      </button>

                      <button
                        *ngIf="row.status === '1'"
                        type="button"
                        title="{{ 'btnAction.assignOpportunityRM' | translate }}"
                        class="btn-outline"
                      >
                        <em class="las la-assign-opportunity-rm"></em>
                      </button>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                  <ng-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    ngx-datatable-footer-template
                  >
                    <app-pager-ngx-datatable
                      [page]="curPage"
                      [offset]="offset"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="false"
                      (change)="table.onFooterPage($event)"
                    >
                    </app-pager-ngx-datatable>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="permissionOpp">
          <div class="group__create-form px-4 mt-4 messageSaleOpp">
            {{ 'saleOpportunity.permissionOpp' | translate }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
