<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{
        'btnAction.back' |
        translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'campaign.campaign-type.title' | translate }}/{{'title.create' | translate}}
      </h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block px-4">
          <div class="row mt-3" [formGroup]="form">
            <div class="col-md-6 form-group has-error">
              <label>{{ 'campaign.campaign-type.name' | translate }} <span class="text-red">(*)</span></label>
              <input class="form-control" type="text" formControlName="name" maxlength="200"
                placeholder="{{ 'placeholder' | translate }}" />
              <div *ngIf="form.get('name').errors && form.get('name').errors.cusRequired && form.get('name').touched"
                class="invalid-tooltip">
                {{ 'validationMessage.required' | translate }}
              </div>
            </div>
          </div>
          <div class="text-left btn-action mt-3">
            <button class="btn btn--light-blue" (click)="confirmDialog()">{{ 'btnAction.create' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
