<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">Quản lý danh mục</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <div class="content-body">
      <div class="content-body__list">
        <div class="tab-profile col">
          <div class="work-pending">
            <div class="img-pending">
              <img alt="" src="/assets/images/worker-icon.png" width="50%" />
              <div class="work-pending__title">Đang được hoàn thiện</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>