<div class="right-view campaign-update">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'campaign.updateCampaign' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="px-4 mt-3">
            <div class="title-info">
              <h5>{{ 'title.detailInfo' | translate }}</h5>
            </div>

            <div class="row">
              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.campaignCode' | translate }} <span class="text-red">(*)</span></label>
                <input placeholder="" type="text" maxlength="200" class="d-block" formControlName="code" pInputText />
                <small
                  class="p-error"
                  *ngIf="form?.controls?.code?.errors?.cusRequired && form?.controls?.code?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.campaignName' | translate }} <span class="text-red">(*)</span></label>
                <input placeholder="" type="text" maxlength="200" class="d-block" formControlName="name" pInputText />
                <small
                  class="p-error"
                  *ngIf="form?.controls?.name?.errors?.cusRequired && form?.controls?.name?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.purpose' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listPurpose"
                  placeholder=" "
                  class="d-block"
                  formControlName="typeId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
                <small
                  class="p-error"
                  *ngIf="form?.controls?.typeId?.errors?.cusRequired && form?.controls?.typeId?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.formality' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listFormality"
                  placeholder=" "
                  class="d-block"
                  formControlName="formId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
                <small
                  class="p-error"
                  *ngIf="form?.controls?.formId?.errors?.cusRequired && form?.controls?.formId?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.campaignMiningBlock' | translate }} <span class="text-red">(*)</span></label>
                <p-multiSelect
                  class="d-block"
                  defaultLabel=" "
                  [options]="listBizLineByBlock"
                  formControlName="bizLine"
                  optionLabel="name"
                  optionValue="code"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  maxSelectedLabels="{{ listBizLineByBlock.length - 1 }}"
                  [selectedItemsLabel]="fields.all"
                >
                </p-multiSelect>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.bizLine?.errors?.cusRequired && form?.controls?.bizLine?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.customerObject' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBlock"
                  placeholder=" "
                  class="d-block"
                  formControlName="blockCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.blockCode?.errors?.cusRequired && form?.controls?.blockCode?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.saleChannel' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listChannel"
                  placeholder=" "
                  class="d-block"
                  formControlName="channel"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                ></p-dropdown>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.channel?.errors?.cusRequired && form?.controls?.channel?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.product' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listProduct"
                  placeholder=" "
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [filter]="true"
                  class="d-block"
                  formControlName="productCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.productCode?.errors?.cusRequired &&
                    form?.controls?.productCode?.touched &&
                    isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>Quy trình thực hiện <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listProductProcess"
                  placeholder=" "
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  [filter]="true"
                  class="d-block"
                  formControlName="process"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="id"
                >
                </p-dropdown>
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.sourceData' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listSourceData"
                  placeholder=" "
                  class="d-block"
                  formControlName="sourceId"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.sourceId?.errors?.cusRequired && form?.controls?.sourceId?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.startDate' | translate }} <span class="text-red">(*)</span></label>
                <p-calendar
                  class="d-block"
                  formControlName="startDate"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.startDate?.errors?.cusRequired && form?.controls?.startDate?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.endDate' | translate }} <span class="text-red">(*)</span></label>
                <p-calendar
                  class="d-block"
                  formControlName="endDate"
                  dateFormat="dd/mm/yy"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  [showIcon]="true"
                  [minDate]="minEndDate"
                  icon="las la-calendar-alt"
                >
                </p-calendar>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.endDate?.errors?.cusRequired && form?.controls?.endDate?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.status' | translate }} <span class="text-red">(*)</span></label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listStatus"
                  class="d-block"
                  formControlName="status"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
                <small
                  class="p-error"
                  *ngIf="form?.controls?.status?.errors?.cusRequired && form?.controls?.status?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.campaignSize' | translate }} <span class="text-red">(*)</span></label>
                <div class="row mt-2">
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton value="TOAN_HANG" formControlName="scope"></p-radioButton>
                    <label class="ml-3">{{ 'fields.allBranch' | translate }}</label>
                  </div>
                  <div class="p-field-radiobutton col-md-6">
                    <p-radioButton value="CHI_NHANH" formControlName="scope"></p-radioButton>
                    <label class="ml-3">{{ 'fields.region' | translate }}</label>
                  </div>
                </div>
                <small
                  class="p-error"
                  *ngIf="form?.controls?.scope?.errors?.cusRequired && form?.controls?.scope?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div *ngIf="isRegion" class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.area' | translate }} <span class="text-red">(*)</span></label>
                <p-multiSelect
                  class="d-block"
                  defaultLabel=" "
                  [options]="listRegion"
                  formControlName="areaCode"
                  optionLabel="locationCode"
                  optionValue="locationCode"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  maxSelectedLabels="{{ listRegion.length }}"
                  [selectedItemsLabel]="fields.all"
                >
                </p-multiSelect>
                <small
                  class="p-error"
                  *ngIf="
                    form?.controls?.areaCode?.errors?.cusRequired && form?.controls?.areaCode?.touched && isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
              </div>

              <div *ngIf="isRegion" class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.agency' | translate }} <span class="text-red">(*)</span></label>
                <lp-branches *ngIf="!isRm" [listBranch]="listBranchByRegion" [(model)]="branchesCode" [isForm]="true"></lp-branches>
                <small class="p-error" *ngIf="branchesCode?.length === 0 && isValidator && !isRm">{{
                  'validationMessage.required' | translate
                  }}</small>
                <div class="block-center" *ngIf="isRm">
                  <input type="text" class="function-parent" readonly [value]="currUser.branch" pInputText />
                  <button class="btn-icon btn-icon--small btn btn-search ml-2" disabled>      <em class="las la-search f-16"></em></button>
                </div>
              </div>

              <div class="col-md-4 form-group">
                <label>{{ 'fields.image' | translate }}</label>
                <p-fileUpload
                  #fileUpload
                  mode="basic"
                  name="demo[]"
                  styleClass="btn-outline text-truncate"
                  customUpload="true"
                  [auto]="true"
                  [disabled]="avatarUploading"
                  (uploadHandler)="uploadAvatar($event, fileUpload)"
                  chooseIcon="las la-file-upload f-16"
                  chooseLabel="{{ avatarName }}"
                >
                </p-fileUpload>
              </div>
<!--              <div class="col-md-12 form-group">-->
<!--               -->
<!--              </div>-->

              <div class="col-md-12 form-group" [formGroup]="form">
                <label>{{ 'fields.content' | translate }}</label>
                <textarea
                  class="d-block"
                  type="text"
                  rows="5"
                  [maxlength]="1000"
                  formControlName="content"
                  pInputTextarea
                ></textarea>
              </div>

<!--              <div class="col-md-4 form-group" [formGroup]="form">-->
<!--                <label>{{ 'fields.implementationProcess' | translate }}</label>-->
<!--                <div class="row mt-2">-->
<!--                  <div class="p-field-checkbox col-md-6">-->
<!--                    <p-checkbox binary="true" formControlName="isOutreachProcess"></p-checkbox>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.isRmInsert' | translate }}</label>
                <div class="row mt-2">
                  <div class="p-field-checkbox col-md-6">
                    <p-checkbox binary="true" formControlName="isRmInsert"></p-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <div class="title-info">
              <h5>{{ 'title.foundationSLA' | translate }}</h5>
            </div>

            <div class="row">
              <div class="col-md-4 form-group" [formGroup]="form" *ngIf="!isRm">
                <label>{{ 'fields.sla_CBQL_assign_rm' | translate }} <span *ngIf="!isRm" class="text-red">(*)</span></label>
                <div class="p-inputgroup">
                  <p-inputNumber class="d-block p-inputnumber-parent" formControlName="slaManager"> </p-inputNumber>
                  <span class="p-inputgroup-addon">{{ 'fields.date' | translate }}</span>
                </div>
                <small
                  class="p-error"
                  *ngIf="
                    !isRm &&
                    form?.controls?.slaManager?.errors?.cusRequired &&
                    form?.controls?.slaManager?.touched &&
                    isValidator
                  "
                  >{{ 'validationMessage.required' | translate }}</small
                >
                <small
                  class="p-error"
                  *ngIf="form?.controls?.slaManager?.errors?.min && form?.controls?.slaManager?.touched && isValidator"
                  >{{ 'validationMessage.min' | translate }} 1</small
                >
              </div>

              <div class="col-md-4 form-group" [formGroup]="form">
                <label>{{ 'fields.sla_rm_approach_customer' | translate }} <span class="text-red">(*)</span></label>
                <div class="p-inputgroup">
                  <p-inputNumber class="d-block p-inputnumber-parent" formControlName="slaRm"> </p-inputNumber>
                  <span class="p-inputgroup-addon">{{ 'fields.date' | translate }}</span>
                </div>
                <small
                  class="p-error"
                  *ngIf="form?.controls?.slaRm?.errors?.cusRequired && form?.controls?.slaRm?.touched && isValidator"
                  >{{ 'validationMessage.required' | translate }}</small
                >
                <small
                  class="p-error"
                  *ngIf="form?.controls?.slaRm?.errors?.min && form?.controls?.slaRm?.touched && isValidator"
                  >{{ 'validationMessage.min' | translate }} 1</small
                >
              </div>
            </div>

            <div class="title-info">
              <h5>{{ 'title.importFileCutomers' | translate }}</h5>
            </div>

            <div class="row">
              <div class="col-md-4 form-group">
                <label>{{ 'fields.processAssignType' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listProcessAssignType"
                  class="d-block"
                  [(ngModel)]="processAssignType"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-12 form-group">
                <label>{{ 'fields.uploadFileCutomers' | translate }}</label>
                <div class="block-center">
                  <div class="upload block-center" (click)="onchangeFile(inputFile)">
                    <div [class.file-disabled]="fileName"></div>
                    <input
                      #inputFile
                      class="upload__input"
                      type="file"
                      [(ngModel)]="files"
                      accept=".xlsx,.xls,.csv"
                      (change)="handleFileInput($event.target.files)"
                    />
                    <em class="las la-cloud-upload-alt f-20 pointer"></em>
                    <span class="upload__label pointer">{{
                      fileName ? fileName : ('fields.chooseFile' | translate)
                    }}</span>
                  </div>
                  <button class="btn-icon btn-icon--small btn btn-clear grey ml-3" (click)="clearFile()">
                    <em class="las la-times f-20"></em>
                  </button>
                  <button class="btn btn--light-blue btn-small ml-3" [class.disabled]="!fileName" (click)="importFile()">
                    <em class="las la-file-upload f-16"></em> {{ 'btnAction.enterDataFromFile' | translate }}
                  </button>
                  <button class="btn btn--light-blue btn-small ml-3" (click)="downloadTemplate()">
                    <em class="las la-file-invoice f-16"></em> {{ 'btnAction.downloadTemplate' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 text-left btn-action">
            <button class="btn btn--light-blue btn-small" (click)="save()">{{ 'btnAction.save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
