<mat-tab-group (selectedTabChange)="onRelationshipWithMBChanged($event)"
    [selectedIndex]="relationship_with_app_tab_index">
    <mat-tab label="{{ 'customer360.title.businessSituation' | translate }}"></mat-tab>
    <mat-tab label="{{ 'customer360.title.costIncome' | translate }}"></mat-tab>
    <mat-tab label="{{ 'customer360.title.customerExploitationSituation' | translate }}"></mat-tab>
    <!-- <mat-tab label="{{ 'customer360.title.categoryManagement' | translate }}"></mat-tab> -->
</mat-tab-group>

<div class="col-12 detail-block mb-4" *ngIf="relationship_with_app_tab_index === 0">
    <!-- Tình hình kinh doanh -->
    <div class="row mt-3">
        <div class="filter-top block-center-between px-4 w-100">
            <div class="filter-top__left"></div>
            <div class="filter-top__right d-flex">
                <button class="btn btn--light-blue btn-small" (click)="exportFileBusinessSituation()">
                    <em class="las la-file-excel f-16"></em>
                </button>
            </div>
        </div>

        <div class="filter filter-list no-gutters col-4">
            <div class="px-5">{{ 'customer360.title.target' | translate }}</div>
        </div>
        <div class="filter filter-list no-gutters col-8">
            <div class="row">
                <div class="px-5 col-4 text-right">
                    <span>{{ previousYearWarning }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ twoMonthAgoWarning }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ previousMonthWarning }}</span>
                </div>
            </div>
        </div>

        <div *ngIf="show_error_riskManagement" class="col-md-12 err-mes">
            <span class="">Không có thông tin tình hình kinh doanh</span>
        </div>
        <div *ngIf="!show_error_riskManagement" class="col-md-12">
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessCustomer()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessCustomer"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessCustomer"></em>
                    </button>
                    <span class="target-detail text-uppercase">A. Khách hàng</span>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessCustomer">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.statusCustomer' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getValue(model, 'systemInfo.status') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getValue(model, 'systemInfo.status') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getValue(model, 'systemInfo.status') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessCustomer">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.objectCustomer' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ classification }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ classification }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ classification }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- B.Dư nợ -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessDebit()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessDebit"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessDebit"></em>
                    </button>
                    <span class="target-detail text-uppercase">B. Dư nợ</span>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtLoanMedmLongAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtLoanMedmLongAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtLoanMedmLongAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtLoanMedmLongAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtLoanShrAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtLoanShrAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtLoanShrAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtLoanShrAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.limitAmt' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.limitAmt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.limitAmt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.limitAmt') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.limitRate' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.limitRate') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.limitRate') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.limitRate') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.nimBQTHD' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.nimBQTHD') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.nimBQTHD') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.nimBQTHD') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessDebit">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.nimBQNH' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.nimBQNH') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.nimBQNH') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.nimBQNH') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- C. HUY ĐỘNG -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessMobilization()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessMobilization"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessMobilization"></em>
                    </button>
                    <span class="target-detail text-uppercase">C. HUY ĐỘNG</span>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isBusinessMobilization">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtDepoAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtDepoAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtDepoAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtDepoAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isBusinessMobilization">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtCasaAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtCasaAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtCasaAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtCasaAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isBusinessMobilization">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.rateArgt' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.rateArgt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.rateArgt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.rateArgt') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- D. BẢO LÃNH -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessGuarantee()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessGuarantee"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessGuarantee"></em>
                    </button>
                    <span class="target-detail text-uppercase">D. BẢO LÃNH</span>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isBusinessGuarantee">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtGuaranteeAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtGuaranteeAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtGuaranteeAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtGuaranteeAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessGuarantee">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.guaranteeLimitAmt' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.guaranteeLimitAmt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.guaranteeLimitAmt') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.guaranteeLimitAmt') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessGuarantee">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.guamanteeLimitRate' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.guamanteeLimitRate') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.guamanteeLimitRate') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.guamanteeLimitRate') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessGuarantee">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtGuaranteeAmtLcyMtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtGuaranteeAmtLcyMtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtGuaranteeAmtLcyMtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtGuaranteeAmtLcyMtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- E. TÀI TRỢ THƯƠNG MẠI -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessCommercialFinance()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessCommercialFinance"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessCommercialFinance"></em>
                    </button>
                    <span class="target-detail text-uppercase">E. TÀI TRỢ THƯƠNG MẠI</span>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessCommercialFinance">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.argtRevenueTfAmtLcyYtd' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.argtRevenueTfAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.argtRevenueTfAmtLcyYtd') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.argtRevenueTfAmtLcyYtd') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- F. SẢN PHẨM DỊCH VỤ -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openBusinessServiceProducts()">
                        <em class="las la-angle-right f-16" *ngIf="!isBusinessServiceProducts"></em>
                        <em class="las la-angle-down f-16" *ngIf="isBusinessServiceProducts"></em>
                    </button>
                    <span class="target-detail text-uppercase">F. SẢN PHẨM DỊCH VỤ</span>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessServiceProducts">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.nbrOfPrdLvl4' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.nbrOfPrdLvl4') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.nbrOfPrdLvl4') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.nbrOfPrdLvl4') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isBusinessServiceProducts">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.frequencyOfRemTransactions' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.frequencyOfRemTransactions') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.frequencyOfRemTransactions') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.frequencyOfRemTransactions') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 detail-block mb-4" *ngIf="relationship_with_app_tab_index === 2">
    <!-- Tình hình khai thác khách hàng -->
    <div class="row mt-3">
        <div class="filter-top block-center-between px-4 w-100">
            <div class="filter-top__left">
                <h5>{{ 'customer360.title.customerExploitationSituation' | translate }}</h5>
            </div>
            <div class="filter-top__right d-flex">
                <button class="btn btn--light-blue btn-small" (click)="exportFileCustomerExploitation()">
                    <em class="las la-file-excel f-16"></em>
                </button>
            </div>
        </div>

        <div class="filter filter-list no-gutters col-4">
            <div class="px-5">{{ 'customer360.title.target' | translate }}</div>
        </div>
        <div class="filter filter-list no-gutters col-8">
            <div class="row">
                <div class="px-5 col-4 text-right">
                    <span>{{ previousYearWarning }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ twoMonthAgoWarning }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ previousMonthWarning }}</span>
                </div>
            </div>
        </div>

        <div *ngIf="show_error_riskManagement" class="col-md-12 err-mes">
            <span class="">Không có thông tin tình hình khai thác khách hàng</span>
        </div>

        <div *ngIf="!show_error_riskManagement" class="col-md-12">
            <!-- Nhóm nợ -->
            <div class="row mt-2">
                <div class="col-4 mt-3 mb-3">
                    <span class="target-detail">{{ 'customer360.title.walletShare' | translate }}</span>
                </div>
                <div class="col-8 mt-3 mb-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.walletShare') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.walletShare') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.walletShare') }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 top-border">
                <div class="col-4 mt-3 mb-3">
                    <span class="target-detail">{{ 'customer360.title.tpviMbank' | translate }}</span>
                </div>
                <div class="col-8 mt-3 mb-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.walletSize') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.walletSize') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.walletSize') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 top-border">
                <div class="col-4 mt-3 mb-3">
                    <span class="target-detail">{{ 'customer360.title.productSale' | translate }}</span>
                </div>
                <div class="col-8 mt-3 mb-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.numOfProductsRequiredSell') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.numOfProductsRequiredSell') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.numOfProductsRequiredSell') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 top-border bottom-border">
                <div class="col-4 mt-3 mb-3">
                    <span class="target-detail">{{ 'customer360.title.dtttrrP' | translate }}</span>
                </div>
                <div class="col-8 mt-3 mb-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataY1.resultNetRevenue') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT2.resultNetRevenue') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(dataEarly, 'dataT1.resultNetRevenue') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tình hình khai thác khách hàng -->
</div>

<div class="col-12 detail-block mb-4" *ngIf="relationship_with_app_tab_index === 1">
    <div class="block-center-between">
        <div class=""></div>
        <div class="">
            <button class="btn btn--light-blue btn-icon--small" (click)="export()">
                <em class="las la-file-excel f-16"></em>
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="filter filter-list no-gutters col-4">
            <div class="px-5">{{ 'customer360.title.target' | translate }}</div>
        </div>
        <div class="filter filter-list no-gutters col-8">
            <div class="row">
                <div class="px-5 col-4 text-right">
                    <span>{{ previousYear }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ twoMonthAgo }}</span>
                </div>
                <div class="px-5 col-4 text-right">
                    <span>{{ previousMonth }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="show_error" class="col-md-12 err-mes">
            <span class="">{{ error_mes }}</span>
        </div>
        <div *ngIf="!show_error" class="col-md-12">
            <!-- Doanh thu thuần trước rủi ro -->
            <div class="row mt-4 mb-4">
                <div class="col-4">
                    <span class="target-detail not-button">{{
                        'customer360.fields.netRevenueBeforeRisk' | translate
                        }}</span>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.dtttrrI') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.dtttrrI') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.dtttrrI') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Doanh thu thuần sau rủi ro -->
            <div class="row mt-4 mb-4 top-border">
                <div class="col-4 mt-4">
                    <span class="target-detail not-button">{{
                        'customer360.fields.netRevenueAfterRisk' | translate
                        }}</span>
                </div>
                <div class="col-8 mt-4">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.dttsrrI') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.dttsrrI') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.dttsrrI') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOI  -->
            <div class="row mt-3 mb-3 top-border">
                <div class="col-4 mt-4">
                    <span class="target-detail not-button">{{ 'customer360.fields.toi' | translate }}</span>
                </div>
                <div class="col-8 mt-4">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.toi') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.toi') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.toi') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thu tín dụng  -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openCreditCollection()">
                        <em class="las la-angle-right f-16" *ngIf="!isCreditCollection"></em>
                        <em class="las la-angle-down f-16" *ngIf="isCreditCollection"></em>
                    </button>
                    <span class="target-detail">{{ 'customer360.fields.creditCollection' | translate }}</span>
                </div>
            </div>
            <div class="row mt-3 top-border" *ngIf="isCreditCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.creditInterestCollection' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thulaiTindungA1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thulaiTindungA1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thulaiTindungA1') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isCreditCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.interestExpense' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.chiftpTindungB1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.chiftpTindungB1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.chiftpTindungB1') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isCreditCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.earningSimilarToProfit' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thuLaiKhacA2') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thuLaiKhacA2') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thuLaiKhacA2') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isCreditCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.bondIncome' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thulaiTraiphieuA3') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thulaiTraiphieuA3') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thulaiTraiphieuA3') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thu huy động vốn  -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="openCapitalMobilization()">
                        <em class="las la-angle-right f-16" *ngIf="!isCapitalMobilization"></em>
                        <em class="las la-angle-down f-16" *ngIf="isCapitalMobilization"></em>
                    </button>
                    <span class="target-detail">{{ 'customer360.fields.fundraisingCollection' | translate }}</span>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isCapitalMobilization">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.profitMBVHDV' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thuftpHuydongD1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thuftpHuydongD1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thuftpHuydongD1') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isCapitalMobilization">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.interestExpenseOnHDV' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.chilaiHuydongC1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.chilaiHuydongC1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.chilaiHuydongC1') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thu dịch vụ  -->
            <div class="row mt-2 top-border">
                <div class="col-12 mt-2">
                    <button class="btn--light-blue btn-icon--small mr-2" (click)="onpenServiceCollection()">
                        <em class="las la-angle-right f-16" *ngIf="!isServiceCollection"></em>
                        <em class="las la-angle-down f-16" *ngIf="isServiceCollection"></em>
                    </button>
                    <span class="target-detail">{{ 'customer360.fields.serviceCollection' | translate }}</span>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isServiceCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.guaranteeCollection' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.dvBaolanhE1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.dvBaolanhE1') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.dvBaolanhE1') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isServiceCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.collectionTTQT' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.dvTtqtE2') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.dvTtqtE2') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.dvTtqtE2') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 top-border" *ngIf="isServiceCollection">
                <div class="col-4 mt-3 px-5">
                    <span class="px-5">{{ 'customer360.fields.otherCollection' | translate }}</span>
                </div>
                <div class="col-8 mt-3">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thuKhac') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thuKhac') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thuKhac') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thu KDNT -->
            <div class="row mt-3 mb-4 top-border">
                <div class="col-4 mt-4">
                    <span class="target-detail not-button">{{
                        'customer360.fields.collectionKDNT' | translate
                        }}</span>
                </div>
                <div class="col-8 mt-4">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.fxNteE14') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.fxNteE14') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.fxNteE14') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thu bất thường -->
            <div class="row mt-4 mb-4 top-border bottom-border">
                <div class="col-4 mt-4">
                    <span class="target-detail not-button">{{
                        'customer360.fields.unusualCollection' | translate
                        }}</span>
                </div>
                <div class="col-8 mt-4 mb-2">
                    <div class="row">
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 'n1.thuBatThuong') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't2.thuBatThuong') }}</span>
                        </div>
                        <div class="px-5 col-4 text-right">
                            <span>{{ getCostValue(cost, 't1.thuBatThuong') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
