.sme-360-detail {
    .detail-block {
      background: white;
      border-radius: 12px;
      padding: 1.5rem;
    }
  
    // .left-bar .nav-link {
    //   justify-content: left;
    //   padding: 0.5rem 1rem;
    // }
  
    .app__left-content.left-content {
      padding: 20px 18px;
      min-height: 100vh;
    }
  
    button.btn.btn-outline-primary {
      height: 28px;
      text-align: center;
      padding: 0 1rem !important;
      font-weight: 400 !important;
    }
  
    .over-hidden {
      overflow: hidden;
    }
    .over-x {
      overflow-x: auto;
    }
    .filter {
      padding: 12px 15px;
    }
    .list__block {
      overflow-y: auto;
      border-radius: 12px;
    }
    .item-label {
      min-width: 60px !important;
    }
  
    .target-detail {
      font-weight: 700;
      font-size: 12px;
    }
  
    .target-value {
      font-weight: 700;
    }
  
    .p-40 {
      padding-left: 40px;
    }
    .err-mes {
      padding-top: 10px;
      text-align: center;
    }
  
    .tablecollateral .fullscreen {
      position: relative !important;
    }
  
    .collateral-table {
      height: 100%;
    }
  
    body::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  
    .border-rowspan {
      border: 1px solid #f0f0f3;
    }
  
    .table-bscore {
      overflow-x: hidden;
      margin-top: -10px;
    }
  
    .data-empty {
      border-bottom: none;
    }
  
    .align-value {
      vertical-align: middle !important;
    }
  
    .filter-hearder {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      height: 40px;
      background: #eff2fe;
      padding: 2px 8px;
    }
    .view-more {
      cursor: pointer;
    }
  
    .btn-custom:hover {
      background: #eff2fe !important;
      border-color: #eff2fe !important;
      color: #2196f3 !important;
    }
  
    .p-button-plain.p-mr-2.p-button.p-component.p-button-icon-only {
      background: #eff2fe;
      border: none;
      border-radius: 6px;
      width: 40px;
      min-width: 40px;
      height: 40px;
    }
  
    .p-datatable .p-datatable-tbody > tr:last-child > td {
      border: none;
    }
  
    .tableCreditRatings .fullscreen {
      position: relative !important;
    }
  }
  .cus-phone-tooltip,
  .cus-email-tooltip {
    .label-tooltip {
      min-width: 80px;
      max-width: 80px;
      padding-right: 15px;
    }
  }
  
  .top-border {
    border-top: 1px solid #f0f0f3;
  }
  
  .bottom-border {
    border-bottom: 1px solid #f0f0f3;
  }
  
  .not-button {
    padding-left: 38px;
  }
  