<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="modal-header-left">
      <div class="">
        <h5 class="m-0">{{ titleHeader | translate }}</h5>
        <label class="m-0">{{
          'fields.customer' | translate }}: {{
          parent?.parentId + ' - ' + parent?.parentName
          }}</label>
      </div>
    </div>
    <div class="modal-header-right">
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-loading *ngIf="isLoading"></app-loading>
  <div [formGroup]="form">
    <div class="row">
      <div class="col-md-3 form-group">
        <label>{{ 'fields.activity' | translate}}</label>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listType"
          class="d-block" formControlName="activityType" appendTo="body" autoZIndex="false" baseZIndex="10000"
          placeholder="{{ 'choose' | translate }}" optionLabel="name" optionValue="code"></p-dropdown>
        <small class="p-error"
          *ngIf="form?.controls?.activityType?.errors?.cusRequired && form?.controls?.activityType?.touched && isValidator">{{
          'validationMessage.required' |
          translate }}</small>
      </div>
      <div class="col-md-3 form-group">
        <label>{{ 'fields.executionTime' | translate}}</label>
        <p-calendar formControlName="dateStart" dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
          baseZIndex="10000" [showIcon]="true" [maxDate]="activityMaxDate" [minDate]="activityMinDate"
          icon="las la-calendar-alt" [showTime]="true">
        </p-calendar>
        <small class="p-error"
          *ngIf="form?.controls?.dateStart?.errors?.cusRequired && form?.controls?.dateStart?.touched && isValidator">{{
          'validationMessage.required' | translate }}</small>
      </div>
      <div class="col-md-3 form-group">
        <label>{{ 'fields.result' | translate}}</label>
        <p-cascadeSelect formControlName="activityResult" [options]="listResult" optionLabel="name" optionValue="code"
          optionGroupLabel="name" [optionGroupChildren]="['children']" placeholder="{{ 'choose' | translate }}">
          <ng-template pTemplate="option" let-option>
            <div class="text-truncate" title="{{option.name}}">
              <span>{{option.name}}</span>
            </div>
          </ng-template>
        </p-cascadeSelect>
        <small class="p-error"
          *ngIf="form?.controls?.activityResult?.errors?.cusRequired && form?.controls?.activityResult?.touched && isValidator">{{
          'validationMessage.required' | translate }}</small>
      </div>

      <div class="col-md-3 form-group">
        <label class="mb-0">Sản phẩm</label>
        <p-dropdown
          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
          [options]="listProduct"
          placeholder="Tìm kiếm theo tên/mã sản phẩm"
          class="d-block mb-10"
          formControlName="productCode"
          appendTo="body"
          autoZIndex="false"
          baseZIndex="10000"
          optionLabel="displayName"
          optionValue="code"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="31"
          [resetFilterOnHide]="true"
        ></p-dropdown>
      </div>

      <div class="col-md-12 note form-group">
        <label>{{ 'fields.note' | translate}}</label>
        <textarea type="text" [rows]="3" [maxlength]="200" formControlName="note" pInputTextarea></textarea>
        <small class="p-error" *ngIf="form?.controls?.note?.errors?.cusRequired && form?.controls?.note?.touched">{{
          'validationMessage.required' | translate }}</small>
      </div>
      <div class="col-md-12 note form-group" *ngIf="isShowLocation">
        <label>{{ 'fields.location' | translate}}</label>
        <textarea type="text" rows="3" formControlName="location" pInputTextarea></textarea>
      </div>
    </div>
    <h5 class="pt-4 block-center" *ngIf="!isActionHeader">
      <p-checkbox *ngIf="type !== screenType.detail && isShowCheckbox" class="mr-2" formControlName="isFutureActivity"
        binary="true" (onChange)="isCreateNextActivity($event)">
      </p-checkbox> <span>{{ 'title.nextActivity' | translate }}</span>
    </h5>
    <div *ngIf="!isActionHeader" class="row" formGroupName="futureActivity">
      <div class="col-md-4 form-group">
        <label>{{ 'fields.activity' | translate}}</label>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listType"
          formControlName="activityType" placeholder="{{ 'choose' | translate }}" optionLabel="name" optionValue="code">
        </p-dropdown>
        <small class="p-error"
          *ngIf="isValidator && form?.get('futureActivity.activityType')?.errors?.cusRequired && form?.get('futureActivity.activityType')?.touched">{{
          'validationMessage.required' | translate }}</small>
      </div>
      <div class="col-md-4 form-group">
        <label>{{ 'fields.executionTime' | translate}}</label>
        <p-calendar formControlName="dateStart" dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
          baseZIndex="10000" [showIcon]="true" [minDate]="nextActivityMinDate" icon="las la-calendar-alt"
          [showTime]="true">
        </p-calendar>
        <small class="p-error"
          *ngIf="isValidator && form?.get('futureActivity.dateStart')?.errors?.cusRequired && form?.get('futureActivity.dateStart')?.touched">{{
          'validationMessage.required' | translate }}</small>
      </div>
      <div class="col-md-4 form-group">
        <label>{{ 'fields.nextTask' | translate}}</label>
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listNextTask"
          formControlName="futureActivityType" appendTo="body" autoZIndex="false" baseZIndex="10000"
          placeholder="{{ 'choose' | translate }}" optionLabel="name" optionValue="code">
        </p-dropdown>
        <small class="p-error"
          *ngIf="isValidator && form?.get('futureActivity.futureActivityType')?.errors?.cusRequired && form?.get('futureActivity.futureActivityType')?.touched">{{
          'validationMessage.required' | translate }}</small>
      </div>
      <div class="col-md-12 note form-group">
        <label>{{ 'fields.note' | translate}}</label>
        <textarea type="text" rows="3" formControlName="note" [maxlength]="200" pInputTextarea></textarea>
      </div>
      <div class="col-md-12 note form-group" *ngIf="isShowLocationFuture">
        <label>{{ 'fields.location' | translate}}</label>
        <textarea type="text" rows="3" formControlName="location" pInputTextarea></textarea>
      </div>

    </div>

    <div class="text-center">
      <button class="btn btn--red btn-small" (click)="clean()">{{ 'btnAction.cancel' | translate }}</button>
      <button *ngIf="type !== screenType.detail" class="btn btn--light-blue ml-3 btn-small" (click)="save()">{{
        'btnAction.save' |
        translate }}</button>
    </div>
    <div class="row customer-activity-table py-2">
      <div class="col-md-12">
        <customer-activities #listView class="customer-activity-table" [campaignId]="campaignId" [rsId]="rsId"
          [customerId]="customerId" [isReload]="isReload" [(model)]="model" (loading)="showLoading($event)"
          (modelChange)="onModelChange($event)" [backHours]="backHours">
        </customer-activities>
      </div>
    </div>

  </div>
</div>
