.custom-btn-pinned {
    color: #fff !important;
    background-color: #D32F2F !important;
}

.custom-btn-unpinned {
  color: #fff !important;
  background-color:#bbbbfd !important;
}

.input-filter {
  height: 30px;
}

.btn-filter {
  width: 80px;
}

.select-filter {
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 13px;
}

select option {
  padding-top: 5px;
  padding-bottom: 5px;
}
