<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{'ticket.menu.ticketManagement' | translate}}</h3>
    </div>
    <div class="content__top-right">
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class='list__block'>
          <div class='filter-top block-center-between px-4'>
            <div class='filter-top__left'>
              <div>
                <input placeholder="{{'btnAction.search' | translate }}" type='text' class='form-control search-box'
                  [(ngModel)]='searchValue' (keyup.enter)='searchBasic()' maxlength='200' />
              </div>
              <button class='btn-icon btn-icon--small btn btn-search grey ml-2'
                title="{{ 'btnAction.search' | translate }}" (click)='searchBasic()'>
                <em class='las la-search f-16'></em>
              </button>
            </div>
            <button class='btn btn--light-blue btn-small' title="{{ 'btnAction.searchAdvance' | translate }}"
              (click)='showSearchAdvance(!isShowFilter)'>
              {{'btnAction.searchAdvance' | translate}}
            </button>
          </div>

          <div class='table__view user__view' [formGroup]="formSearch">
            <ngx-datatable ngxDataTable #tablerm class='bootstrap fullscreen' [scrollbarV]='true' [scrollbarH]='true'
              [virtualization]='false' [externalPaging]='true' [rows]='tickets' [count]='count' [footerHeight]='70'
              [headerHeight]='50' [limit]='limit' [offset]='offset' [externalSorting]='true' (sort)='sort($event)'
              (activate)='onSelect($event)' [messages]='messages' [columnMode]="'force'" >

              <ngx-datatable-column prop="rm_index" [sortable]="false" [width]="40">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{ 'rm.fields.index' | translate }}
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <ng-template [ngIf]="row.id !== 'filter'">
                    {{isShowFilter ? offset * limit + rowIndex : offset * limit + rowIndex + 1 }}
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='TICKET_NAME'>
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.ticketName' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterName'>
                    <span>{{row.ticketName}}</span>
                  </ng-template>
                  <ng-template #filterName>
                    <div class="formGroup">
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="TICKET_NAME" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='CREATED_BY' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.createdBy' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterCreatedByRm'>
                    <span>{{row.createdByName}}</span>
                  </ng-template>
                  <ng-template #filterCreatedByRm>
                    <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="CREATED_BY" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='CREATED_DATE' [width]="80">
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.createdDate' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterCreatedDate'>
                    <span>{{row.createdDate | date: 'dd/MM/yyyy'}}</span>
                  </ng-template>
                  <ng-template #filterCreatedDate>
                    <div>
                      <input placeholder='DD/MM/YYYY' type='text' class='form-control search-box input-filter'
                        formControlName="CREATED_DATE" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='DESCRIPTION' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.description' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterDescription'>
                    <span>{{row.description}}</span>
                  </ng-template>
                  <ng-template #filterDescription>
                    <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="DESCRIPTION" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='IS_ACTIVED' [width]="200">
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.status' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterStatus'>
                    <span>{{row.isActivedName}}</span>
                  </ng-template>
                  <ng-template #filterStatus>
                    <!-- <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="IS_ACTIVED" maxlength='200' /> -->
                    <select class='input-filter select-filter' style="width: 180px;" formControlName="IS_ACTIVED">
                      <option value="none" selected disabled hidden></option>
                      <ng-template ngFor [ngForOf]="listStatus" let-status let-idx="index" let-total="count">
                        <option [value]="status.code">{{status.name}}
                        </option>
                      </ng-template>
                    </select>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='PRIORITY' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.priority' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterPriority'>
                    <span>{{row.priorityName}}</span>
                  </ng-template>
                  <ng-template #filterPriority>
                    <!-- <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="PRIORITY" maxlength='200' />
                    </div> -->
                    <select class='input-filter select-filter' style="width: 130px;" formControlName="PRIORITY">
                      <option value="none" selected disabled hidden></option>
                      <ng-template ngFor [ngForOf]="listPriority" let-priority let-idx="index" let-total="count">
                        <option [value]="priority.code">{{priority.name}}
                        </option>
                      </ng-template>
                    </select>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='ACTION_USER' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.performer' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterActionUser'>
                    <span>{{row.actionUserName}}</span>
                  </ng-template>
                  <ng-template #filterActionUser>
                    <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="ACTION_USER" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='CHANNEL' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.channel' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterChannel'>
                    <span>{{row.channel}}</span>
                  </ng-template>
                  <ng-template #filterChannel>
                    <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="CHANNEL" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='UPDATED_BY' >
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.updatedBy' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterUpdatedBy'>
                    <span>{{row.updatedByName}}</span>
                  </ng-template>
                  <ng-template #filterUpdatedBy>
                    <div>
                      <input placeholder='' type='text' class='form-control search-box input-filter'
                        formControlName="UPDATED_BY" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='UPDATED_DATE'>
                <ng-template let-column='column' ngx-datatable-header-template>
                  {{ 'ticket.fields.updatedDate' | translate }}
                </ng-template>
                <ng-template let-value='value' let-row='row' ngx-datatable-cell-template let-rowIndex='rowIndex'>
                  <ng-template [ngIf]="row.id !== 'filter'" [ngIfElse]='filterUpdatedDate'>
                    <span>{{row.updatedDate| date: 'dd/MM/yyyy'}}</span>
                  </ng-template>
                  <ng-template #filterUpdatedDate>
                    <div>
                      <input placeholder='DD/MM/YYYY' type='text' class='form-control search-box input-filter'
                        formControlName="UPDATED_DATE" maxlength='200' />
                    </div>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop='action' [frozenRight]='true' [sortable]='false'
                [canAutoResize]='false' [draggable]='false' [resizeable]='false'
                name=" {{ 'ticket.fields.action' | translate }}" [width]="100">
                <ng-template let-row='row' let-value='value' ngx-datatable-cell-template>
                  <ng-template [ngIf]='row.id !== "filter"' [ngIfElse]='btnConfirmFilter'>
                    <div class="block-center">
                      <button class='btn-outline mr-2' type='button'
                      [ngClass]="row.bookmarkStatus ? 'custom-btn-pinned' : 'custom-btn-unpinned'"
                      title="{{'btnAction.pin' | translate}}}" style='border: none !important;' (click)='pin(row)'>
                      <em class='las la-thumbtack'></em>
                    </button>
                    <button class='btn-outline' type='button' title="{{'btnAction.edit' | translate}}}"
                      (click)='update(row)'>
                      <em class='las la-edit'></em>
                    </button>
                    </div>
                  </ng-template>
                  <ng-template #btnConfirmFilter>
                    <button class='btn btn-search btn-filter btn-small grey'
                      title="{{ 'btnAction.filter' | translate }}" (click)='filter()'>
                      {{'btnAction.filter' | translate}}
                    </button>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template let-rowCount="count" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                    [count]="isShowFilter ? count-1 : count" [hidden]="false" (change)="paging($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>