<div class="layout-config" [ngClass]="{'layout-config-active': active}">
    <div class="layout-config-content-wrapper">
        <!-- <a tabindex="0" class="layout-config-button" (cdkDragStarted)="startDrag($event)"
            (cdkDragEnded)="endDrag($event)" cdkDragLockAxis="y" cdkDrag (click)="openConfigurator($event, 'task')">
            <em class="config icon-config-custom"></em>
        </a> -->
        <a tabindex="0" class="layout-config-button layout-config-button-notify" (cdkDragStarted)="startDrag($event)"
            (cdkDragEnded)="endDrag($event)" cdkDragLockAxis="y" cdkDrag (click)="openConfigurator($event, 'notify')">
            <em *ngIf="countUnReadNotify > 0" class="las la-bell" pBadge severity="danger"
                [value]="countUnReadNotify > 99 ? '99+' : countUnReadNotify"></em>
            <em *ngIf="countUnReadNotify === 0" class="las la-bell"></em>
        </a>
        <a tabindex="0" class="layout-config-close" (click)="hideConfigurator($event)">
            <em class="pi pi-times"></em>
        </a>

        <div class="layout-rightpanel">
            <div class="right-panel-header">
                <div class="title"><span>Hôm nay</span>
                    <h4 class="m-0">{{ title }}</h4>
                </div>
            </div>
            <div class="right-panel-content">
                <ng-container *ngIf="type === 'task'">
                    <div class="right-panel-content-row b-task">
                        <div class="tasks pt-4">
                            <div class="tasks-header">
                                <div class="title">
                                    <h1 class="m-0">Công việc</h1>
                                </div>
                                <div class="tasks-info"><span>Bạn có</span><span class="text-blue"> {{ listTask.length
                                        }}
                                        công
                                        việc</span><span>
                                    </span></div>
                            </div>
                            <ul class="tasks-list">
                                <li *ngFor="let item of listTask" class="tasks-list-item">
                                    <div class="checkbox" [class]="generateClassTask(item)">
                                        <p-checkbox [binary]="item.refStatus === statusTask.DONE"></p-checkbox>
                                        <p>{{ item.subject }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-panel-content-row">
                        <div class="calendar pb-0">
                            <h1 class="m-0">Lịch</h1>
                            <p-calendar (onSelect)="selectedDate($event)" [inline]="true"></p-calendar>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="type === 'notify'">
                    <div class="notify-content">
                        <div class="notify-header">
                            <div class="notify-checked">
                                <a href="javascript:void(0)" *ngIf="countUnReadNotify > 0"
                                    (click)="markAllAsRead()">Đánh dấu đọc toàn bộ</a>
                            </div>
                            <div class="notify-count">{{ countUnReadNotify }} chưa đọc</div>
                        </div>
                        <div class="notify-body" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="0"
                            (scrolled)="onScroll($event)">
                            <div *ngFor="let item of listNotify" class="block-center item-notify"
                                [class.un-read]="!item.isReaded" (click)="markAsRead(item)">
                                <p-avatar [label]="item?.avatar?.label" styleClass="bg-primary mr-3"
                                    [style]="item?.avatar?.style" size="large"></p-avatar>
                                <div>
                                    <div class="notify-title" title="{{ item.title }}">{{ item.title }}</div>
                                    <div class="notify-time">{{item.time | date: 'HH:mm dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                            <div *ngIf="isLoading" class="b-loading">
                                <div class="lds-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>