@import '../../../../assets/styles/variable';

.layout-config {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  display: block;
  width: 400px;
  z-index: 998;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  transform: translateX(100%);
  backface-visibility: hidden;

  &.layout-config-active {
    transform: translateX(0);

    .layout-config-content-wrapper {
      .layout-config-button {
        .config {
          transform: rotate(0deg);
        }
      }
    }
  }

  .layout-config-content-wrapper {
    position: relative;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
    // color: #212529;
    background-color: #ffffff;

    .layout-config-button {
      display: block;
      position: absolute;
      width: 42px;
      height: 42px;
      line-height: 42px;
      background-color: #ffffff;
      text-align: center;
      color: $blue;
      top: 300px;
      left: -42px;
      z-index: -1;
      overflow: hidden;
      cursor: pointer;
      outline: 0 none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

      em {
        font-size: 24px;
        line-height: inherit;
        cursor: pointer;
        // transform: rotate(360deg);
        // transition: transform 1s;
      }
      .icon-config-custom {
        margin: 9px;
      }
      &:hover {
        background-color: $body-bg;
      }

      &-notify {
        top: 75px;
        .p-badge-no-gutter {
          right: 4px !important;
        }
        .p-overlay-badge .p-badge {
          top: 10px;
          right: 0px;
        }
      }
    }
  }

  a {
    // color: $linkColor;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .layout-config-content {
    overflow: auto;
    height: 100%;
    padding: 2rem;
  }

  .config-scale {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;

    .p-button {
      margin-right: 0.5rem;
    }

    em {
      margin-right: 0.5rem;
      font-size: 0.75rem;
      //   color: var(--text-color-secondary);

      &.scale-active {
        font-size: 1.25rem;
        // color: $linkColor;
      }
    }
  }

  .layout-config-close {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    right: 15px;
    top: 15px;
    z-index: 999;
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;

    em {
      color: $white;
      line-height: inherit;
      // font-size: 14px;
    }

    &:hover {
      transform: scale(1.1);
    }

    // &:focus {
    // //   @include focused();
    // }
  }

  .p-grid > div {
    padding: 1rem;
    text-align: center;

    span {
      display: block;
    }

    button {
      position: relative;
      display: inline-flex;
      justify-content: center;

      //   &:focus {
      //     @include focused();
      //   }
    }
  }

  .free-themes {
    img {
      width: 50px;
      border-radius: 4px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }

  .premium-themes {
    img {
      width: 100%;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .layout-rightpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    .right-panel-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #f5f5fa;
      padding: 18px;
    }

    .right-panel-content {
      flex: 1 1 auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .b-task {
        flex: 1 1 auto;
        overflow: hidden;
      }
      .right-panel-content-row {
        border-bottom: 1px solid rgba(145, 153, 169, 0.3);
        // padding: 24px 0;

        h1 {
          font-size: 18px;
          margin: 0;
          margin-bottom: 18px;
          // color: #4c566a;
          font-weight: normal;
        }

        .tasks {
          padding: 0;
          overflow: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          .tasks-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 18px;
            // margin-bottom: 18px;
          }

          .tasks-list {
            list-style: none;
            padding: 0;
            flex: 1 1 auto;
            overflow: auto;

            .tasks-list-item {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 8px 18px;

              .checkbox {
                display: flex;
                align-items: center;
                padding: 0;
                // color: #4c566a;

                p {
                  margin: 0;
                  margin-left: 10px;
                }
              }

              .tasks-day .task-type {
                border-radius: 2px;
                background-color: #88c0d0;
                color: #ffffff;
                font-size: 12px;
                padding: 3px 10px;
                text-align: center;
                min-width: 55px;
              }
            }
          }
        }

        .calendar {
          padding: 18px;
          .p-datepicker-inline {
            border: none !important;
            .p-datepicker-group-container {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  .text-red {
    .p-checkbox .p-checkbox-box {
      border-color: $red;
      &.p-highlight {
        background: $red;
      }
    }
  }
  .text-yellow {
    .p-checkbox .p-checkbox-box {
      border-color: $yellow;
      &.p-highlight {
        background: $yellow;
      }
    }
  }
  .text-green {
    .p-checkbox .p-checkbox-box {
      border-color: $green;
      &.p-highlight {
        background: $green;
      }
    }
  }

  .notify-content {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .bg-primary {
      background: $blue;
      color: $white;
    }
    .notify-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 10px 18px;
      border-bottom: 1px solid $gray-500;
    }
    .notify-body {
      overflow: auto;
      .item-notify {
        padding: 8px 18px;
      }

      & > :not(:last-child) {
        border-bottom: 1px solid $gray-100;
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    .notify-time {
      color: $gray-900;
    }
    .notify-title {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: $font-weight-normal;
      word-break: break-word;
    }
    .notify-count {
      color: $gray-900;
    }
    .p-avatar.p-avatar-lg {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }
    .un-read {
      background: $gray-800;
      .notify-title {
        font-weight: $font-weight-bold !important;
      }
    }

    // infiniteScroll
    .b-loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin: 5px;
      border: 2px solid $gray-400;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $gray-400 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
