<div class='right-view reduction-proposal-create'>
  <div class='content__top block-center-between'>
    <div class='content__top-left block-center'>
      <button class='btn btn--light-blue btn-small btn-back' (click)='backStep()'>
        <em class='las la-undo f-16'></em> {{ 'btnAction.back' | translate }}
      </button>
    </div>

    <ng-container>
      <div class='step-container'>
                <span class='i-block step active'> <span class='rounded-circle step-circle'>1</span>
                  {{'reductionProposal.tabs.declare' | translate}} </span>
        <span class='step-line ml-2 mr-2'></span>
        <span class='i-block step'> <span class='rounded-circle step-circle'>2</span>
          {{'reductionProposal.tabs.signProcess' | translate}} </span>
        <span class='step-line ml-2 mr-2'></span>
        <span class='i-block step'> <span class='rounded-circle step-circle'>3</span>
          {{'reductionProposal.tabs.confirm' | translate}} </span>
      </div>
    </ng-container>

        <div [ngClass]="{'invisible': !isDeclareTab}" class="content__top-right">
            <button class="btn btn--light-blue btn-small" (click)="previewPdf()">Preview</button>
            <button class="btn btn--light-blue btn-small" (click)="save(true, 'save')">{{ 'btnAction.save' |
                translate }}</button>
            <button class="btn btn--light-blue btn-small" *ngIf="tabIndex < 1" (click)="next()">{{ 'btnAction.continue' |
                translate }}</button>
            <button class="btn btn--light-blue btn-small" *ngIf="tabIndex > 0 && this.freeDiscountAnnexComponent && this.freeDiscountAnnexComponent.isLoadingInfo" (click)="signSubmit()">{{ 'reductionProposal.tabs.signProcess' | translate }}
            </button>
            <ng-container *ngIf="!isRm">
                <button class="btn btn--light-blue btn-small btn-view" *ngIf="tabIndex === 3"
                    (click)="CBQLconfirm(false)">{{ 'Từ chối' | translate }}</button>
                <button class="btn btn--light-blue btn-small btn-view" *ngIf="tabIndex === 3" (click)="CBQLconfirm(true)">{{
                    'Đồng ý' | translate }}</button>
            </ng-container>
            <button class="btn btn--light-blue btn-small btn-view" *ngIf="tabIndex === 3" (click)="confirm()">{{
                'reductionProposal.tabs.confirm' | translate }}</button>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div style='padding: 15px' class="content-body">
            <div [hidden]="isDeclareTab" [formGroup]="form">
              <div class='d-flex flex-column'>
                <!--Lấy thông tin khối-->
                <div class="d-block w-75" style='margin-bottom: 17px'>
                  <div class='label-proposal'>
                    <label class="m-0">{{ 'fields.block' | translate }}</label>
                  </div>
                  <div class='w-50 pr-3'>
                    <p-dropdown
                      [options]="listDivision"
                      formControlName="blockCode"
                      placeholder="Chọn khối"
                      [showClear]="true"
                      optionLabel="displayName"
                      optionValue="code">
                    </p-dropdown>
                  </div>
                </div>

          <!-- Chọn phương án-->
          <div class="d-flex my-4" *ngIf='this.form.controls.blockCode.value' >
            <div class="d-flex align-items-center">
              <p-radioButton name="type"  id="flexRadioDefault1" [value]="0" formControlName="type"></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadioDefault1">
                Miễn giảm phí
              </label>
            </div>
            <div class="d-flex align-items-center">
              <p-radioButton name="type" id="flexRadioDefault2" [value]="1" formControlName="type" [disabled] = 'this.form.controls.blockCode.value === "FI"'></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadioDefault2">
                Miễn giảm lãi
              </label>
            </div>
            <div class="d-flex align-items-center" *ngIf='this.form.controls.blockCode.value === "SME"'>
              <p-radioButton name="type" id="flexRadio" [value]="2" formControlName="type" ></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadio">
                Cài đặt lãi suất
              </label>
            </div>
            <div class="d-flex align-items-center" *ngIf='checkShow()'>
              <p-radioButton name="type" id="flexRadio" [value]="3" formControlName="type" ></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadio">
                Ngoại lệ lãi suất
              </label>
            </div>
            <div class="d-flex align-items-center" *ngIf='checkShow()'>
              <p-radioButton name="type" id="flexRadio" [value]="4" formControlName="type" ></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadio">
                Ngoại lệ phí
              </label>
            </div>
          </div>
          <!-- Chọn khách hàng-->
          <div class="d-flex w-50 my-4 " *ngIf='(this.form.controls.blockCode.value !== "FI" && this.form.controls.type.value  !== null) && !(this.form.controls.blockCode.value === "SME" && this.form.controls.type.value  === 2)'>
            <div class="d-flex align-items-center">
              <p-radioButton name="customerType" id="flexRadioDefault3" [value]="1" formControlName="customerType"></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadioDefault3" >
                Khách hàng có code
              </label>
            </div>
            <div [class]="'d-flex align-items-center ' + (this.form.controls.blockCode.value === 'INDIV' && this.form.controls.type.value == '1'  ? 'visibility-hidden' : '') ">
              <p-radioButton name="customerType" id="flexRadioDefault4" [value]="0" formControlName="customerType" ></p-radioButton>
              <label class="form-check-label pl-3 label-radio" for="flexRadioDefault4" >
                Khách hàng chưa có code
              </label>
            </div>
          </div>

                <!--Code khách hàng-->
                <div class="d-flex justify-content-between w-50" style='margin-top: 17px' *ngIf='this.form.controls.customerType.value !== null'>
                  <div class='w-50 pr-3' *ngIf='this.form.controls.customerType.value !== 0'>
                    <div class='label-proposal'>
                      <label class="m-0">Mã khách hàng</label>
                    </div>
                    <input maxlength="20" placeholder="Nhập mã khách hàng" type="text"
                           (keyup.enter)="findCustomer()" class="d-block" formControlName="customerCode" pInputText
                           trimInput />
                    <small class="p-error" *ngIf="form?.controls?.customerCode?.errors?.onlyNumber">{{
                      'validationMessage.onlyNumber' | translate }}</small>
                  </div>
                  <div class='w-50 pl-3' *ngIf='this.form.controls.blockCode.value !== "INDIV"'>
                    <div class='label-proposal'>
                      <label class="m-0">Mã số thuế</label>
                    </div>
                    <input maxlength="50" placeholder="Nhập mã số thuế" type="text"
                           (keyup.enter)="findCustomer()" class="d-block" formControlName="taxCode" pInputText
                           trimInput />
                    <small class="p-error" *ngIf="form?.controls?.taxCode?.errors?.onlyNormalAndSpecialChar">{{
                      'Chỉ được nhập ký tự không dấu, ký tự đặc biệt và số' }}</small>
                  </div>

            <div class='w-50 pl-3' *ngIf='this.form.controls.blockCode.value === "INDIV"'>
              <div class='label-proposal'>
                <label class="m-0">Số GTTT</label>
              </div>
              <input maxlength="50" placeholder="Nhập số GTTT" type="text"
                     (keyup.enter)="findCustomer()" class="d-block" formControlName="idCard" pInputText
                     trimInput />
              <small class="p-error" *ngIf="form?.controls?.idCard?.errors?.onlyNormalAndSpecialChar">{{
                'validationMessage.onlyNumber' | translate }}</small>
            </div>

          </div>
          <div class="d-flex " style='margin-top: 17px' *ngIf='this.form.controls.customerCode.value !== "" || this.form.controls.idCard.value !== "" || this.form.controls.taxCode.value !== ""'>
            <button class="btn btn--light-blue btn-small" (click)="findCustomer()">
              {{ 'btnAction.search' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div [hidden]='!isDeclareTab' class='' style='height: 100%;'>
        <!-- {{form.value | json}} -->
        <div class='col-12 detail-block mb-3 mt-3'>
          <div class='detail-container'>
            <mat-tab-group (selectedTabChange)='onTabChanged($event)' [selectedIndex]='tabIndex'>
              <mat-tab label=" {{'reductionProposal.tabs.report' | translate}}"></mat-tab>
              <mat-tab label=" {{'reductionProposal.tabs.annex' | translate}}"
                       [disabled]='createdId === null'></mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="col-12 detail-block mb-4 tab-content {{tabIndex === 0 ? 'd-block' : 'd-none'}}">
          <app-create-proposal #declareComponent (dataReduction)='handlerDataReduction($event)'
                               [declareInfo]='declareInfo' (changeLoading)='changeLoading($event)'>
          </app-create-proposal>
          <!-- <app-free-discount-annex [customerCode]="customerCode" [searchValue]="form.value"></app-free-discount-annex> -->
        </div>

        <div class="col-12 detail-block mb-4 tab-content {{tabIndex === 1 ? 'd-block' : 'd-none'}}">
          <app-free-discount-annex [customerCode]='customerCode' [searchValue]='form.value'></app-free-discount-annex>
        </div>
      </div>

    </div>
  </div>
</div>
