<div class='create-proposal'>
  <div [formGroup]='form' class='section customer-info'>
    <div class='row'>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalCustomerCode' | translate }}
                </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerCode || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalCustomerName' | translate }}
                </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerName || '--'}}
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '>
                <span *ngIf='isKhdn' class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalMst' | translate }}
                </span>
        <span *ngIf='!isKhdn' class='m-left-2'>GTTT</span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ (isKhdn ? info.customer?.taxCode || info.customer?.businessRegistrationNumber : info.customer?.idCard) || '--'}}
      </div>
      <!-- SME -->
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalSegment' | translate }}
                  <br />
                  {{'reductionProposal.labels.proposalSegment1' | translate }}
                </span>
      </div>
      <div *ngIf='existed' class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.segment || '--'}}
      </div>
      <div *ngIf='!existed' class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        <p-dropdown [autoDisplayFirst]='false'
                    [filter]='false' [hidden]='checkPotentialCustomerSegment' [options]='commonSegment'
                    [showClear]='false'
                    [style]="{'display' : checkPotentialCustomerSegment ? 'none !important': 'block !important'}"
                    appendTo='body' autoZIndex='false' baseZIndex='10000' class='w-100'
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='segment' optionLabel='name' optionValue='code'>
        </p-dropdown>
        <span [hidden]='!checkPotentialCustomerSegment'>{{ info.customer?.segment || '--'}}</span>
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalRank' | translate }}
                </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.scoreValue || '--'}}
      </div>
      <!-- SME -->
      <div *ngIf='isKhdn' class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalObject' | translate }}
                </span>
      </div>
      <div *ngIf='isKhdn' class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.classification || '--'}}
      </div>
      <!-- INDIV -->
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-2 d-flex align-items-center '>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalNIMCurrent' | translate }}
                </span>
      </div>
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        <p-inputNumber [minFractionDigits]='2' class='w-64' formControlName='nimCurrent' maxFractionDigits='2'
                       maxlength='12' mode='decimal' placeholder='0.00' styleClass='w-100'
                       useGrouping='false'>
        </p-inputNumber>

        <small *ngIf='form?.controls?.nimCurrent?.errors?.cusRequired && form?.controls?.nimCurrent?.touched'
               class='p-error'>{{
          'validationMessage.required' | translate }}</small>
        <small *ngIf='form?.controls?.nimCurrent?.errors?.maxLength && form?.controls?.nimCurrent?.touched'
               class='p-error'>{{
          'validationMessage.maxLength1' | translate }} </small>
        <small *ngIf='form?.controls?.nimCurrent?.errors?.min && form?.controls?.nimCurrent?.touched'
               class='p-error'>NIM hiện hữu
          (%) phải lớn hơn 0</small>
      </div>
      <div *ngIf="info?.type === 0 && blockCode !== 'FI'" class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.customerStructure' | translate }}
                </span>
      </div>
      <div *ngIf="info?.type === 0 && blockCode !== 'FI'"
           class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerCreditType || '--' }}
      </div>

      <!-- INDIV -->
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalNIMConfirm' | translate }}
                </span>
      </div>
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-4 d-flex align-items-center'>
        <p-inputNumber [minFractionDigits]='2' class='w-64' formControlName='nimConfirm' maxFractionDigits='2'
                       maxlength='12' mode='decimal' placeholder='0.00' styleClass='w-100'
                       useGrouping='false'>
        </p-inputNumber>
        <small *ngIf='form?.controls?.nimConfirm?.errors?.cusRequired && form?.controls?.nimConfirm?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>
        <small *ngIf='form?.controls?.nimConfirm?.errors?.maxLength && form?.controls?.nimConfirm?.touched'
               class='p-error'>{{
          'validationMessage.maxLength1' | translate }} </small>
        <small *ngIf='form?.controls?.nimConfirm?.errors?.min && form?.controls?.nimConfirm?.touched'
               class='p-error'>NIM cam kết
          (%) phải lớn hơn 0</small>
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
                    {{ 'reductionProposal.labels.customerType' | translate }}
                </span>
      </div>
      <div class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.customerTypeDisplay || '--'}}
      </div>

      <!-- SME -->
      <div *ngIf="isKhdn && (customer?.isManage || blockCode === 'FI' || !customer?.existed)"
           class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalTOICurrent' | translate }}
                </span>
      </div>
      <div *ngIf="isKhdn && (customer?.isManage || blockCode === 'FI' || !customer?.existed)"
           class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ formatCurrency(convertToiCurrent(info.customer?.toiCurrent))}}
      </div>

      <!-- INDIV -->
      <!-- <div class="pt-1 pb-1 col-2 d-flex align-items-center" *ngIf="!isKhdn">
          <span class="m-left-2">
              {{ 'reductionProposal.labels.proposalPiority' | translate }}
          </span>
      </div>
      <div class="pt-1 pb-1 col-4 d-flex align-items-center line-height-36" *ngIf="!isKhdn">
          {{ info.customer.piority || '--'}}
      </div> -->
      <div *ngIf="isKhdn && (customer?.isManage || blockCode === 'FI' || !customer?.existed)"
           class='pt-1 pb-1 col-2 d-flex align-items-center'> <span
        class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalDTTTRR' | translate }}
                </span>
      </div>
      <div *ngIf="isKhdn && (customer?.isManage || blockCode === 'FI' || !customer?.existed)"
           class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{formatCurrency(convertDtttrr(info.customer?.dtttrr))}}
      </div>
      <div *ngIf='((info?.type === 1 && info.customer?.isNew) || (info?.type === 0 && displayConfirmInfo && isKhdn))'
           class='pt-1 pb-1 col-2 d-flex align-items-center'>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalTOIConfirm' | translate }}
                </span>
      </div>
      <div *ngIf='((info?.type === 1 && info.customer?.isNew) || (info?.type === 0 && displayConfirmInfo && isKhdn))'
           class='pt-1 pb-1 col-4 d-flex align-items-center'>
        <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='w-64' formControlName='toi'
                       maxFractionDigits='2' mode='decimal' placeholder='0.00' styleClass='w-100'
                       useGrouping='false'>
        </p-inputNumber>

        <small *ngIf='form?.controls?.toi?.errors?.cusRequired && form?.controls?.toi?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>
      </div>
      <div *ngIf='((info?.type === 1 && info.customer?.isNew) || (info?.type === 0 && displayConfirmInfo && isKhdn))'
           class='pt-1 pb-1 col-2 d-flex align-items-center '>
                <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalDTTTRRConfirm' | translate }}
                </span>
      </div>
      <div *ngIf='((info?.type === 1 && info.customer?.isNew) || (info?.type === 0 && displayConfirmInfo && isKhdn))'
           class='pt-1 pb-1 col-4 d-flex align-items-center'>
        <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='d-block w-64'
                       formControlName='dtttrrDisplay' maxFractionDigits='2' mode='decimal' placeholder='0.00'
                       styleClass='w-100' useGrouping='false'></p-inputNumber>
        <p-inputNumber [disabled]='true' [minFractionDigits]='2' [min]='0' class='d-none w-64' formControlName='dtttrr'
                       maxFractionDigits='2' mode='decimal' placeholder='0.00' styleClass='w-100'
                       useGrouping='false'></p-inputNumber>
        <small *ngIf='form?.controls?.dtttrr?.errors?.cusRequired && form?.controls?.dtttrr?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>
      </div>
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-2 d-flex align-items-center '> <span class='m-left-2'>
                    {{ 'reductionProposal.labels.proposalRelationship' | translate }}
                </span>
      </div>
      <div *ngIf='!isKhdn' class='pt-1 pb-1 col-4 d-flex align-items-center line-height-36'>
        {{ info.customer?.mbRelationship || '--'}}
      </div>
      <div *ngIf="((isKhdn && info?.customer?.customerCreditType !== 'Phi tín dụng') || (blockCode === 'FI')) "
           class='pt-1 pb-1 col-2 d-flex align-items-center '>
                <span class='m-left-2'>
                    {{ 'Thời gian đánh giá' }}
                </span>
      </div>
      <div *ngIf="((isKhdn && (info?.customer?.customerCreditType !== 'Phi tín dụng') || blockCode === 'FI'))"
           class='pt-1 pb-1 col-4 d-flex align-items-center'>
        <p-dropdown [autoDisplayFirst]='true' [filter]='false'
                    [hidden]='monthConfirms.length === 1 && info.type === 0' [options]='monthConfirms'
                    [showClear]='false' appendTo='body'
                    autoZIndex='false' baseZIndex='10000'
                    class='mr-2 w-64' emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='monthConfirm' optionLabel='displayName'
                    optionValue='code' placeholder="{{ 'reductionProposal.labels.chooseMonth' | translate }}"
                    styleClass='w-100'>
        </p-dropdown>
        <span *ngIf='monthConfirms.length !== 1 && info.type === 0'>{{ 'system.fields.month' | translate
          }}</span>
        <small *ngIf='form?.controls?.monthConfirm?.errors?.cusRequired && form?.controls?.monthConfirm?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>

        <span *ngIf='monthConfirms.length === 1 && info.type === 0' class='line-height-36'>6 tháng</span>

      </div>
    </div>
    <div class='row'>
      <div class='col-6'></div>
      <div *ngIf='((info?.type === 1 && info.customer?.isNew) || (info?.type === 0 && displayConfirmInfo && isKhdn))'
           class='pt-1 pb-1 col-6 d-flex align-items-center '>
        <button (click)='openPopupCalculateTOI()' class='btn btn--light-blue btn-calculate-toi m-left-2'>{{
          'reductionProposal.labels.calculateTOI' |
            translate }}</button>
      </div>
    </div>
  </div>

  <div [formGroup]='form' class='section'>
    <div class='row'>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <h6 class='left-title'>{{ 'reductionProposal.labels.scopeApply' | translate }}</h6>
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <p-dropdown [autoDisplayFirst]='true'
                    [filter]='false' [options]='scopeApplys' [showClear]='false' appendTo='body'
                    autoZIndex='false' baseZIndex='10000' class='d-block w-100'
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='scopeApply' optionLabel='displayName' optionValue='code'>
        </p-dropdown>
        <small *ngIf='form?.controls?.scopeApply?.errors?.cusRequired && form?.controls?.scopeApply?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>
      </div>

    </div>

  </div>
  <div *ngIf="form?.controls.caseSuggest.value === 'INTEREST' && form?.controls?.scopeApply?.value !== 'LD_CODE' && this.info.customer.customerCode"
       [formGroup]='form'
       class='section'>
    <div class='row'>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <h6 class='left-title'>{{ 'reductionProposal.labels.TypeFee' | translate }}</h6>
      </div>
      <div class='pt-1 pb-1 col-2 d-flex align-items-center'>
        <p-dropdown [autoDisplayFirst]='true'
                    [filter]='false' [options]='typeInterest' [showClear]='false' appendTo='body'
                    autoZIndex='false' baseZIndex='10000' class='d-block w-100'
                    emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}" formControlName='typeInterest'
                    optionLabel='displayName' optionValue='id'>
        </p-dropdown>
        <small *ngIf='form?.controls?.typeInterest?.errors?.cusRequired && form?.controls?.typeInterest?.touched'
               class='p-error'>{{
          'validationMessage.required' |
            translate }}</small>
      </div>

    </div>

  </div>


  <div *ngIf="form?.controls.caseSuggest.value === 'FEE'" class='section'>
    <div class='row'>
      <div class='col-6 d-flex align-items-center'>
        <h6 class='left-title'> {{ 'reductionProposal.labels.reductionFeeInfo' | translate }}</h6>
      </div>
      <div class='col-6 d-flex align-items-center justify-content-end'>
        <button (click)="openFeeModal('fee', listFeeData)"
                *ngIf="form?.controls.scopeApply.value === 'ALL' || form?.controls.scopeApply.value === 'UNKNOWN'"
                class='btn btn--light-blue btn-small btn-select-fee mr-4'>
          {{ 'reductionProposal.labels.selectFee' | translate }}
        </button>
        <button (click)='openOptionCodeModal()'
                *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE'"
                class='btn btn--light-blue btn-small btn-select-caseOption mr-4'>
          {{ 'reductionProposal.labels.selectCaseOption' | translate }}
        </button>
        <button (click)='openLdCodeModal()'
                *ngIf="form?.controls.scopeApply.value === 'LD_CODE'"
                class='btn btn--light-blue btn-small btn-select-LD mr-4'>
          {{ 'reductionProposal.labels.selectLD' | translate }}
        </button>
        <button (click)='openMdCodeModal()'
                *ngIf="form?.controls.scopeApply.value === 'MD_CODE'"
                class='btn btn--light-blue btn-small btn-select-MD mr-4'>
          {{ 'reductionProposal.labels.selectMD' | translate }}
        </button>
      </div>
    </div>
    <div class='treeTable-wrapper'>
      <p-treeTable [autoLayout]='true' [style]="{'width':'100%','overflow':'auto!important'}" [value]='listFeeData'
                   class='mt-2 mr-4 ml-4 min-width-table'>
        <ng-template pTemplate='header'>
          <tr>
            <th
              *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' || form?.controls.scopeApply.value === 'LD_CODE' || form?.controls.scopeApply.value === 'MD_CODE'"
              rowspan='2'>
              {{
              form?.controls.scopeApply.value === 'OPTION_CODE' ? 'Mã phương án hạn mức' :
                form?.controls.scopeApply.value === 'LD_CODE' ? 'Mã LD' :
                  form?.controls.scopeApply.value === 'MD_CODE' ? 'Mã MD' : ''
              }}
            </th>
            <th class='text-center' rowspan='2'>Tên phí/Khoản mục phí</th>
            <th class='text-center' rowspan='2'>Loại tiền tệ</th>
            <th class='text-center' rowspan='2'>Phân loại phí</th>
            <th class='text-center' colspan='3'>Biểu theo quy định</th>
            <th [colSpan]="isKhdn ? '6': '4'" class='text-center' colspan='6'>Biểu đề xuất giảm</th>
            <th class='text-center' rowspan='2'>...</th>
          </tr>
          <tr>
            <th class='text-center'>Mức phí</th>
            <th class='text-center'>Phí tối thiểu</th>
            <th class='text-center'>Phí tối đa</th>
            <th class='text-center'>Mức phí</th>
            <th class='text-center'>Tỉ lệ giảm <br> mức phí (%)</th>
            <th class='text-center'>Phí tối thiểu</th>
            <th *ngIf='isKhdn' class='text-center'>Tỉ lệ giảm <br> phí tối thiểu (%)</th>
            <th class='text-center'>Phí tối đa</th>
            <th *ngIf='isKhdn' class='text-center'>Tỉ lệ giảm <br> phí tối đa (%)</th>
          </tr>
        </ng-template>
        <ng-template let-rowData='rowData' pTemplate='body'>
          <tr>
            <td
              *ngIf="form?.controls.scopeApply.value !== 'UNKNOWN' && form?.controls.scopeApply.value !== 'ALL'">
              {{rowData?.code || '--'}}</td>
            <td
              *ngIf="form?.controls.scopeApply.value === 'UNKNOWN' || form?.controls.scopeApply.value === 'ALL'">
              {{rowData?.descriptionVn}}</td>
            <td
              *ngIf="form?.controls.scopeApply.value !== 'UNKNOWN' && form?.controls.scopeApply.value !== 'ALL'">
              <a (click)="openFeeModal('option', rowData)"
                 class='text-info style-link'>{{rowData?.descriptionVn
              || 'Chọn biểu phí'}}</a>
            </td>
            <td class='text-center'>{{rowData?.currency || '--'}}</td>
            <td class='text-center'>{{rowData?.chargeType ? 'Loại ' + rowData?.chargeType : '--'}}</td>
            <td class='text-center'>{{displayWithUnit(rowData?.chgAmtFrom, rowData?.valueRefDoc,
              rowData?.chargeUnit)}}</td>
            <td class='text-center'>{{displayWithUnit(rowData?.minCharge, rowData?.chargeUnit,
              rowData?.chargeUnit)}}</td>
            <td class='text-center'>{{displayWithUnit(rowData?.maxCharge, rowData?.chargeUnit,
              rowData?.chargeUnit)}}</td>
            <td class='text-center'>
              <span *ngIf='rowData?.productCode && rowData?.chgAmtFrom == null'>--</span>
              <input (blur)="calculateReductionOnBlur($event, rowData, 'Cost')"
                     (keydown)="keyPress($event, rowData, 'Cost')"
                     (keyup)="calculateReduction($event.target.value, rowData, 'Cost')"
                     *ngIf='rowData?.productCode && rowData?.chgAmtFrom != null'
                     [(ngModel)]='rowData.suggestCost' [inputStyleClass]="'text-center'"
                     [ngModelOptions]='{standalone: true}'
                     class='w-100 text-center'
                     min='0'
                     pInputText type='text' />
              <small *ngIf='rowData?.errorCost' class='p-error' style='position: absolute;'>{{
                rowData?.errorCost }}</small>
            </td>
            <td class='text-center'>{{(rowData.rateCost | json) == "null" ? '--' : rowData.rateCost}}
            </td>
            <td *ngIf='isKhdn' class='text-center'>
              <span *ngIf='rowData?.productCode && rowData?.minCharge == null'>--</span>
              <input (blur)="calculateReductionOnBlur($event, rowData, 'Min')"
                     (keydown)="keyPress($event, rowData, 'Min')"
                     (keyup)="calculateReduction($event.target.value, rowData, 'Min')"
                     *ngIf='rowData?.productCode && rowData?.minCharge != null'
                     [(ngModel)]='rowData.suggestMin' [inputStyleClass]="'text-center'"
                     [ngModelOptions]='{standalone: true}'
                     class='w-100 text-center'
                     min='0'
                     pInputText type='text' />
              <small *ngIf='rowData?.errorMin' class='p-error' style='position: absolute;'>{{
                rowData?.errorMin }}</small>
            </td>
            <td *ngIf='isKhdn' class='text-center'>{{(rowData.rateMin | json) == 'null' ? '--' :
              rowData.rateMin}}</td>
            <td *ngIf='isKhdn' class='text-center'>
              <span *ngIf='rowData?.productCode && rowData?.maxCharge == null'>--</span>
              <input (blur)="calculateReductionOnBlur($event, rowData, 'Max')"
                     (keydown)="keyPress($event, rowData, 'Max')"
                     (keyup)="calculateReduction($event.target.value, rowData, 'Max')"
                     *ngIf='rowData?.productCode && rowData?.maxCharge != null'
                     [(ngModel)]='rowData.suggestMax' [inputStyleClass]="'text-center'"
                     [ngModelOptions]='{standalone: true}'
                     class='w-100 text-center'
                     min='0'
                     pInputText type='text' />
              <small *ngIf='rowData?.errorMax' class='p-error' style='position: absolute;'>{{
                rowData?.errorMax }}</small>
            </td>
            <td *ngIf='isKhdn' class='text-center'>{{(rowData.rateMax | json) == 'null' ? '--' :
              rowData.rateMax}}</td>

            <td *ngIf='!isKhdn' class='text-center'>{{formatCurrency(rowData?.minCharge)}}</td>
            <td *ngIf='!isKhdn' class='text-center'>{{formatCurrency(rowData?.maxCharge)}}</td>
            <td class='text-center'>
              <button (click)='removeItem(rowData)' class='btn-outline btn-danger' title='Xóa'
                      type='button'><em class='ic-x'></em></button>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>

  <div *ngIf="form?.controls.caseSuggest.value === 'INTEREST'" class='section'>
    <div class='row'>
      <div class='col-6 d-flex align-items-center'>
        <h6 class='left-title'> {{ 'reductionProposal.labels.reductionInterestInfo' | translate }}</h6>
      </div>
      <div class='col-6 d-flex align-items-center justify-content-end'>
        <button (click)="openInterestModal('interest', listData)"
                *ngIf="form?.controls.scopeApply.value === 'ALL' || form?.controls.scopeApply.value === 'UNKNOWN'"
                class='btn btn--light-blue btn-small btn-select-interest mr-4'>
          {{ 'reductionProposal.labels.selectInterest' | translate }}
        </button>
        <button (click)='openOptionCodeModal()'
                *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE'"
                class='btn btn--light-blue btn-small btn-select-caseOption mr-4'>
          {{ 'reductionProposal.labels.selectCaseOption' | translate }}
        </button>
        <button (click)='openLdCodeModal()'
                *ngIf="form?.controls.scopeApply.value === 'LD_CODE'"
                class='btn btn--light-blue btn-small btn-select-LD mr-4'>
          {{ 'reductionProposal.labels.selectLD' | translate }}
        </button>
      </div>
    </div>
    <!-- {{listData | json}} -->
    <div class='treeTable-wrapper'>
      <p-treeTable #treeTableInterest *ngIf='viewTable' [autoLayout]='true' [style]="{'width':'100%','overflow':'auto!important', 'flex':'auto'}" [value]='listData'
                   class='mt-2 mr-4 ml-4 flex-auto'>
        <ng-template pTemplate='header'>
          <tr>
            <th *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' || form?.controls.scopeApply.value === 'LD_CODE'"
                rowspan='2'>
              {{
              form?.controls.scopeApply.value === 'OPTION_CODE' ? 'Mã phương án hạn mức' :
                form?.controls.scopeApply.value === 'LD_CODE' ? 'Mã LD' : ''
              }}
            </th>
            <th class='text-center' rowspan='2'>Biểu lãi suất</th>
            <th class='text-center' rowspan='2'>Loại tiền tệ</th>
            <th class='text-center' rowspan='2'>Kỳ điều chỉnh</th>
            <th class='text-center' rowspan='2'>Kỳ hạn vay<br> (tháng)</th>
            <th class='text-center' colspan='4'>Biểu theo quy định</th>
            <th [colSpan]='this.checkTableInterest() ? 3 : 2 ' class='text-center'>Biểu đề xuất giảm</th>
            <!--Đối với loại lãi là Ưu đãi, Linh hoạt, Ngoại lệ Ưu đãi, Ngoại lệ linh hoạt-->
            <th class='text-center' rowspan='2'>Tỉ lệ giảm <br>biên độ (%)</th>
            <th *ngIf='this.checkTableInterest()' class='text-center' rowspan='2'>Tỷ lệ giảm <br> lãi suất tối thiểu (%)
            </th>
            <th class='text-center' rowspan='2'>...</th>
          </tr>
          <tr>
            <th class='text-center'>Lãi suất <br> tham chiếu (%)</th>
            <th class='text-center'>Biên độ(%)</th>
            <th *ngIf='!this.checkTableInterest()' class='text-center' style='width: 160px'>Mức giảm <br> biên tối đa (%)
            </th>
            <th *ngIf='this.checkTableInterest()' class='text-center' style='width: 160px'>Lãi suất <br> tối thiểu (%)
            </th> <!--Đối với loại lãi là Ưu đãi, Linh hoạt, Ngoại lệ Ưu đãi, Ngoại lệ linh hoạt-->
            <th class='text-center'>Lãi suất <br> cho vay (%)</th>
            <th class='text-center' style='width: 140px'>Biên độ (%)</th>
            <th *ngIf='this.checkTableInterest()' class='text-center'>Lãi suất <br> tối thiểu (%)</th>
            <!--Đối với loại lãi là Ưu đãi, Linh hoạt, Ngoại lệ Ưu đãi, Ngoại lệ linh hoạt-->
            <th class='text-center'>Lãi suất <br> cho vay (%)</th>
          </tr>
        </ng-template>
        <ng-template let-rowData='rowData' pTemplate='body'>
          <tr>
            <td
              *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' || form?.controls.scopeApply.value === 'LD_CODE'">
              {{rowData?.code || '--'}}</td>
            <td *ngIf="form?.controls.scopeApply.value !== 'OPTION_CODE' ">{{rowData?.name}}</td>
            <td *ngIf="form?.controls.scopeApply.value === 'OPTION_CODE' ">
              <a (click)="openInterestModal('option', rowData)" class='text-info style-link'>{{rowData?.name
              || 'Chọn biểu'}}</a>
            </td>
            <td class='text-center'>{{rowData?.currency || '--'}}</td>
            <td class='text-center'>{{rowData?.adjustmentPeriod || '--'}}</td>
            <td class='text-center'>{{rowData?.period || '--'}}</td>
            <td class='text-center'>{{rowData?.referenceInterestRate || '--'}}</td>
            <td class='text-center'>{{rowData?.baseMargin || '--'}}</td>
            <td *ngIf='!this.checkTableInterest()' class='text-center'>{{getValueMax(rowData)}}</td>

            <td *ngIf='this.checkTableInterest()' class='text-center'>{{rowData?.minInterestRate || '--'}}</td>
            <!--Lãi suất tối thiểu (%)-->
            <!-- {{getValueMax(rowData?.maximumMarginReduction)}}-->
            <td class='text-center'>{{rowData?.loanRate || '--'}}</td>
            <td>
              <p-inputNumber (keyup)='changeMarginSuggest($event, rowData)'
                             (onBlur)='calculateMarginSuggest($event, rowData)'
                             *ngIf='rowData?.productCode'
                             [(ngModel)]='rowData.marginSuggest'
                             [inputStyleClass]="'text-center'" [minFractionDigits]='2' [min]='0' class='w-100 text-center'
                             locale='en-US'
                             maxFractionDigits='2' maxlength='6' mode='decimal'
                             placeholder='0.00'></p-inputNumber>
              <small *ngIf='rowData?.errorMessage' class='p-error'>{{
                rowData?.errorMessage }}</small>
            </td>
            <td *ngIf='!rowData.minInterestRate && this.checkTableInterest()' class='text-center'>{{'--'}}</td>
            <td *ngIf='this.checkTableInterest() && rowData.minInterestRate'>
              <p-inputNumber (keyup)='getValueMinimumRate($event, rowData)'
                             (onBlur)='calculateInterest($event, rowData)'
                             *ngIf='rowData?.productCode'
                             [(ngModel)]='rowData.rateMinimum'
                             [inputStyleClass]="'text-center'" [minFractionDigits]='2' [min]='0' class='w-100 text-center'
                             locale='en-US'
                             maxFractionDigits='2' maxlength='6' mode='decimal'
                             placeholder='0.00'></p-inputNumber>
              <small *ngIf='rowData?.rateMinimumError' class='p-error'>{{
                rowData?.rateMinimumError }}</small>
            </td>
            <td class='text-center'>{{formatCurrency(rowData?.loanSuggest)}}</td>
            <td class='text-center'>{{formatCurrency(rowData?.reductPercent)}}</td>
            <td class='text-center' *ngIf='!rowData.minInterestRate && this.checkTableInterest()' >{{'--'}}</td>
            <td class='text-center' *ngIf='this.checkTableInterest() && rowData.minInterestRate' >{{formatCurrency(rowData?.rateInterestReduction)}}</td>
            <td class='text-center'>
              <button (click)='removeItem(rowData)' class='btn-outline btn-danger' title='Xóa'
                      type='button'><em class='ic-x'></em></button>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>

  <div [formGroup]='form' class='section'>
    <div class='row pb-2'>
      <div class='col-2 d-flex align-items-center'>
        <h6 class='left-title'>{{ 'reductionProposal.labels.monthApprove' | translate }}</h6>
        <p class='comment-text'>(Kể từ ngày phê duyệt)</p>
      </div>
      <div class='col-10 d-flex align-items-center'>
        <p-dropdown *ngIf='isKhdn' [autoDisplayFirst]='false'
                    [filter]='false' [options]='months' [showClear]='false' appendTo='body'
                    autoZIndex='false' baseZIndex='10000'
                    class='mr-2 w-19' emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                    formControlName='monthApply' optionLabel='displayName'
                    optionValue='code' placeholder="{{ 'reductionProposal.labels.chooseMonth' | translate }}">
        </p-dropdown>
        <p-inputNumber *ngIf='!isKhdn' class='w-19' formControlName='monthApply' maxlength='5'
                       styleClass='w-100' useGrouping='false'>
        </p-inputNumber>
        <span class='mr-2 ml-1'>
                    {{ ('system.fields.month' | translate) }}
                </span>
        <em *ngIf='!isKhdn'> (*Lưu ý: Nếu không nhập thời gian cụ thể thì sẽ mặc định lưu thông tin Hiệu lực
          của tờ trình là Không thời hạn)</em>
        <small *ngIf='form?.controls?.monthApply?.errors?.cusRequired && form?.controls?.monthApply?.touched'
               class='p-error style-error-month-approve'>{{
          'validationMessage.required' |
            translate }}</small>
        <small *ngIf='form?.controls?.monthApply?.errors?.min && form?.controls?.monthApply?.touched'
               class='p-error style-error-month-approve'>Hiệu lực
          của tờ trinh phải lớn hơn 0</small>
      </div>
    </div>
  </div>

  <div [formGroup]='form' class='section'>
    <div class='row'>
      <div class='col-2 d-flex align-items-center'>
        <h6 class='left-title'>{{ 'reductionProposal.labels.scopeApprove' | translate }}</h6>
      </div>
      <div *ngIf='info.authorization.length > 0' class='col-2 d-flex align-items-center'>
        <input [readOnly]='true' class='d-block'
               formControlName='lastApproveFull' maxlength='200' pInputText
               placeholder="{{ 'reductionProposal.labels.scopeApprove' | translate }}" type='text' />
      </div>
      <div class='col-2 d-flex align-items-center'>
        <button (click)='openAuthPopup()' class='btn btn--light-blue'>{{
          'reductionProposal.labels.scopeApproveConfirm' |
            translate }}</button>
      </div>
    </div>
  </div>
</div>
