.create-proposal {
  color: #737373;

  .section {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 5px 0;
    margin-bottom: 20px;
  }
  .customer-info {
    tr {
      margin-bottom: 15px;
    }
    tr:last-child {
      margin-bottom: 0;
    }
    td,
    th {
      padding: 1rem 2rem;
    }
    th {
      color: #2e2e2e;
    }
    .btn-calculate-toi {
      border-radius: 6px;
      max-width: 330px;
      width: 100%;
    }
  }

  .customer-info .col-4,
  .customer-info .col-2{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .card-header,
  .btn-collapse {
    position: relative;
    background-color: #fff;
    border-radius: 0;
  }
  .card-header:hover,
  .btn-collapse:hover {
    background: #fff !important;
    border: 0.8px solid transparent !important;
    color: #bbbbfd;
  }
  .btn-collapse {
    padding: 1.3rem 2rem;
  }
  .chevron {
    position: absolute;
    right: 1%;
  }

  .fa-search {
    color: #bbbbfd;
  }
  .style-link{
    color:#bbbbfd!important;
  }
  .style-link:hover{
    cursor: pointer;
  }

  .card-header button.collapsed h6 .fa-chevron-up {
    display: none;
  }
  .card-header button:not([class^="collapsed"]) h6 .fa-chevron-down {
    display: none;
  }
  .left-title {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  th {
    overflow-x: auto;
  }

  .tableStyle {
    width: 100%;
  }

  .table-layout {
    table-layout: auto !important;
  }

  .m-left-2 {
    margin-left: 2rem;
  }

  .line-height-36 {
    line-height: 36px;
    font-weight: bold;
  }
  .ic-x {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    background-image: url(/assets/images/checkx-big-red.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .comment-text{
    position: absolute;
    font-style: italic;
    top: 25px;
    left:30px;
  }

  .w-64{
    width: 47% !important;
  }
  .w-19{
    width: 18% !important;
  }
  .style-error-month-approve{
    position:absolute;
    top: 35px;
  }
  .treeTable-wrapper{
    max-height: 400px !important;
    overflow: auto;
    display: flex;
  }
  .flex-auto{
    flex: auto;
  }
  .p-error{
    font-weight: 600;
  }
}
.min-width-table {
  min-width: 97%;
}
