<div class="right-view arm-list">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'rm.menu.arm_management' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center px-4 search-basic">
            <div class="action__left">
              <div class="dropdown mr-4">
                <label class="mb-0">{{ 'rm.fields.status' | translate }}</label>
                <p-dropdown
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="statusList"
                  class="d-block"
                  [(ngModel)]="paramSearch.isActive"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="name"
                  optionValue="value"
                ></p-dropdown>
              </div>
              <div class="search-input mr-4">
                <input
                  placeholder="{{ 'btnAction.search' | translate }}"
                  type="text"
                  class="form-control search-box"
                  [(ngModel)]="textSearch"
                  (keyup.enter)="search(true)"
                />
              </div>
              <button
                class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}"
                (click)="search(true)"
              >
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="action__right">
              <button
                *ngIf="objFunction && objFunction.create"
                class="btn btn-icon btn-icon--small btn-search mr-2"
                (click)="create()"
                title="{{ 'btnAction.create' | translate }}"
              >
                <em class="las la-plus-circle f-16"></em>
              </button>
              <button
                *ngIf="objFunction && objFunction.export"
                class="btn btn-icon btn-icon--small btn-search"
                (click)="exportFile()"
                title="{{ 'btnAction.export' | translate }}"
              >
                <em class="las la-file-excel f-16"></em>
              </button>
              <!-- <button *ngIf="objFunction && objFunction.create" class="btn btn-icon btn-icon--small btn-search ml-2"
                (click)="create()">
                <em class="las la-plus-circle f-16"></em>
              </button> -->
            </div>
          </div>
          <div class="table__view group__view">
            <ngx-datatable
              ngxDataTable
              #table
              class="bootstrap fullscreen"
              [rows]="listData"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              [externalPaging]="true"
              [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage"
              [limit]="pageable?.size"
              (page)="setPage($event)"
              (activate)="onActive($event)"
              [messages]="messages"
            >
              <ngx-datatable-column
                [sortable]="false"
                name="{{ 'fields.order' | translate }}"
                [width]="35"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="code"
                name="{{ 'fields.groupCode' | translate }}"
                [width]="280"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="name"
                name="{{ 'fields.groupName' | translate }}"
                [width]="280"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="divisionCode"
                name="{{ 'fields.block' | translate }}"
                [width]="200"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="branchName"
                name="{{ 'fields.branch' | translate }}"
                [width]="200"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span title="{{ row.branchCode }} - {{ row.branchName }}"
                    >{{ row.branchCode }} - {{ row.branchName }}</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="createdDate"
                name="{{ 'fields.createdDate' | translate }}"
                [width]="150"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    {{ row.createdDate | date: 'dd/MM/yyyy' }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="updatedDate"
                name="{{ 'rm.fields.updated_date' | translate }}"
                [width]="150"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    {{ row.updatedDate | date: 'dd/MM/yyyy'}}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                [sortable]="false"
                [draggable]="false"
                prop="isActive"
                name="{{ 'fields.status' | translate }}"
                [width]="200"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    {{ (row.isActive ? 'fields.effective' : 'fields.expire') | translate }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'fields.action' | translate }}"
                [width]="100"
                [frozenRight]="true"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="block-center">
                    <button
                      *ngIf="objFunction && objFunction.delete"
                      type="button"
                      class="btn-outline"
                      (click)="delete(row); $event.stopPropagation()"
                      title="{{ 'btnAction.delete' | translate }}"
                    >
                      <em class="las la-trash-alt"></em>
                    </button>
                    <button
                      *ngIf="objFunction && objFunction.update"
                      type="button"
                      class="btn-outline ml-2"
                      title="{{ 'btnAction.edit' | translate }}"
                      (click)="update(row); $event.stopPropagation()"
                    >
                      <em class="las la-edit"></em>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  ngx-datatable-footer-template
                >
                  <app-pager-ngx-datatable
                    [page]="curPage"
                    [offset]="offset"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="false"
                    (change)="table.onFooterPage($event)"
                  >
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
