.arm-list {
    .search {
        &-basic {
            .action__left {
                display: flex;
                text-align: left;
                align-items: flex-end;
                flex: 1;
            }
            .dropdown {
                width: 255px;
            }
            .search-input {
                width: 255px;
            }
        }
    }
}
