<div class="right-view kpi-indiv-report">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ "reportBank.list.title" | translate }}</h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content bg-transparent">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body p-0">
            <div class="content-body__list">
                <div class="list__block px-4">
                    <div class="row form-create">
                        <div class="col-12 detail-block mb-3">

                            <div class="row mb-5">
                                <div class="col-12 collapse show" id="detail">

                                    <!-- <div class="row">
                                        <div class="col-md-3 mt-3 form-group">
                                            <label>{{ 'reportBank.list.block' | translate }}</label>
                                            <input placeholder="" type="text" class="form-control" [(ngModel)]="block"
                                                [disabled]="true" />

                                        </div>
                                        <div class="col-md-9 mt-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>{{ 'reportBank.list.timeReport' | translate }}</label>
                                                    <div class="row">
                                                        <div class="p-field-radiobutton col-md-6">
                                                            <p-radioButton value="1"
                                                                (ngModelChange)="dateTypeChange($event)"
                                                                [(ngModel)]="dateType"></p-radioButton>
                                                            <label class="ml-3">{{ 'reportBank.list.dayBank' | translate
                                                                }}</label>
                                                        </div>
                                                        <div class="p-field-radiobutton col-md-6">
                                                            <p-radioButton value="0"
                                                                (ngModelChange)="dateTypeChange($event)"
                                                                [(ngModel)]="dateType"></p-radioButton>
                                                            <label class="ml-3">{{ 'reportBank.list.monthBank' |
                                                                translate }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container *ngIf="checkDateType === 1">
                                                    <div class="col-md-4 form-group dateStart">
                                                        <label class="mb-0">{{ 'reportBank.list.startDate' | translate
                                                            }}</label>
                                                            <p-calendar [(ngModel)]="startDate" class="d-block" dateFormat="dd/mm/yy" appendTo="body"
                                                            autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt"
                                                            [maxDate]="endDate" [showTime]="false" (onBlur)="onStartDateChange($event)"
                                                            (onClose)="closeStartDate($event)">
                                                          </p-calendar>
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <label class="mb-0">{{ 'reportBank.list.endDate' | translate
                                                            }}</label>
                                                            <p-calendar [(ngModel)]="endDate" class="d-block" dateFormat="dd/mm/yy" appendTo="body"
                                                            autoZIndex="false" baseZIndex="10000" [showIcon]="true" icon="las la-calendar-alt"
                                                            [minDate]="startDate" [showTime]="false" (onBlur)="onEndDateChange($event)"
                                                            (onClose)="closeEvent($event)">
                                                          </p-calendar>
                                                    </div>

                                                </ng-container>
                                                <ng-container *ngIf="checkDateType === 0">
                                                    <div class="col-md-4 form-group dateStart" [formGroup]="form">
                                                        <label class="mb-0">{{ 'reportBank.list.selectMonth' | translate
                                                            }}</label>

                                                        <p-calendar [showIcon]="true" [maxDate]="dateCheck"
                                                            class="d-block" formControlName="dateMonth" view="month"
                                                            dateFormat="mm/yy" [readonlyInput]="true"
                                                            inputId="monthpicker" icon="las la-calendar-alt">
                                                        </p-calendar>

                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                    </div> -->
                                    <div class="row pt-15">
                                        <div class="col-md-6">
                                            <div class="row px-4">
                                                <label class="mb-0">{{ 'reportBank.list.block' | translate }}</label>
                                                <input placeholder="" type="text" class="form-control"
                                                    [(ngModel)]="block" [disabled]="true" />

                                            </div>


                                            <div class="row mt-3">
                                                <div class="col-md-3">
                                                    <label>{{ 'reportBank.list.timeReport' | translate }}</label>
                                                </div>

                                                <div class="col-md-3 form-group p-field-radiobutto">
                                                    <p-radioButton value="1" (ngModelChange)="dateTypeChange($event)"
                                                        [(ngModel)]="dateType"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.dayBank' | translate
                                                        }}</label>
                                                </div>
                                                <div class="col-md-3 form-group p-field-radiobutto">
                                                    <p-radioButton value="0" (ngModelChange)="dateTypeChange($event)"
                                                        [(ngModel)]="dateType"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.monthBank' |
                                                        translate }}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <ng-container *ngIf="checkDateType === 1">
                                                    <div class="col-md-6">
                                                        <label class="mb-0">{{ 'reportBank.list.startDate' | translate
                                                            }}</label>
                                                        <p-calendar [(ngModel)]="startDate" class="d-block"
                                                            dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
                                                            baseZIndex="10000" [showIcon]="true"
                                                            icon="las la-calendar-alt" [maxDate]="maxDateDefault"
                                                            [showTime]="false" (onBlur)="onStartDateChange($event)"
                                                            (onClose)="closeStartDate($event)">
                                                        </p-calendar>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="mb-0">{{ 'reportBank.list.endDate' | translate
                                                            }}</label>
                                                        <p-calendar [(ngModel)]="endDate" class="d-block"
                                                            dateFormat="dd/mm/yy" appendTo="body" autoZIndex="false"
                                                            baseZIndex="10000" [showIcon]="true"
                                                            icon="las la-calendar-alt" [minDate]="startDate"
                                                            [showTime]="false" (onBlur)="onEndDateChange($event)"
                                                            (onClose)="closeEvent($event)">
                                                        </p-calendar>
                                                    </div>

                                                </ng-container>
                                                <ng-container *ngIf="checkDateType === 0">
                                                    <div class="col-md-6 form-group" [formGroup]="form">
                                                        <label class="mb-0">{{ 'reportBank.list.selectMonth' | translate
                                                            }}</label>

                                                        <p-calendar [showIcon]="true" [maxDate]="dateCheck"
                                                            class="d-block" formControlName="dateMonth" view="month"
                                                            dateFormat="mm/yy" [readonlyInput]="true"
                                                            inputId="monthpicker" icon="las la-calendar-alt">
                                                        </p-calendar>

                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="row mt-3" [formGroup]="form">
                                                <div class="col-md-3">
                                                    <label>{{ 'reportBank.list.reportWith' | translate }}</label>
                                                </div>

                                                <div class="col-md-3 form-group p-field-radiobutton">
                                                    <p-radioButton value="CN" formControlName="kpiReportType"
                                                        (onClick)="onClickReport('CN')"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.branch' | translate
                                                        }}</label>
                                                </div>

                                                <div class="col-md-3 form-group p-field-radiobutton">
                                                    <p-radioButton value="RM" formControlName="kpiReportType"
                                                        (onClick)="onClickReport('RM')"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.rm' | translate }}</label>
                                                </div>

                                            </div>
                                            <div class="row mt-3" [formGroup]="form">
                                                <div class="col-md-3">
                                                    <label>{{ 'reportBank.list.typeReportDetail' | translate }}</label>
                                                </div>
                                                <div class="col-md-3 p-field-radiobutton">
                                                    <p-radioButton value="TH" formControlName="kpiDetailReportType"
                                                        (onClick)="onClickReportDetail('TH')"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.synthetic' | translate
                                                        }}</label>
                                                </div>

                                                <div *ngIf="valueReport === 'RM'" class="col-md-3 p-field-radiobutton">
                                                    <p-radioButton value="CT" formControlName="kpiDetailReportType"
                                                        (onClick)="onClickReportDetail('CT')"></p-radioButton>
                                                    <label class="ml-3">{{ 'reportBank.list.customer' | translate
                                                        }}</label>
                                                </div>


                                            </div>
                                            <div *ngIf="hiddenProduct" class="row mt-3" [formGroup]="form">
                                                <!-- <div class="col-md-3">

                                                </div> -->
                                                <div class="col-md-6">
                                                    <label>{{ 'reportBank.list.listProduct' | translate }}</label>
                                                    <p-dropdown
                                                        emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}"
                                                        [options]="listProduct" class="d-block"
                                                        formControlName="productCodes" appendTo="body"
                                                        autoZIndex="false" baseZIndex="10000" [filter]="true"
                                                        emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                                                        optionLabel="value_to_search" optionValue="code">
                                                    </p-dropdown>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="valueReport === 'RM'" class="mt-4" style="display: flex;">
                                                <app-block-bank-table-rm [listOldRm]="listRmOld" [rmCode]="rmCode"
                                                    [customer]="checkCustomer" (modelChange)="onModelChangeRm($event)">
                                                </app-block-bank-table-rm>
                                            </div>
                                            <div *ngIf="valueReport === 'CN'" class="mt-4">
                                                <app-block-bank-table-branch [listBranch]="branches"
                                                    [listOldBranch]="listBranchOld"
                                                    (modelChange)="onModelChange($event)" #table>
                                                </app-block-bank-table-branch>
                                            </div>
                                        </div>


                                    </div>





                                </div>

                                <div class="action__center">
                                    <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="view()">
                                        {{ 'reportBank.list.viewReport' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
