.kpi-report-rm-table .fullscreen {
  position: relative !important;
}

.kpi-indiv-report {
  .detail-block {
    background: white;
    border-radius: 12px;
    // padding: 1.5rem;
  }

  .app__left-content.left-content {
    padding: 20px 18px;
    min-height: 100vh;
  }

  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .over-hidden {
    overflow: hidden;
  }
  .over-x {
    overflow-x: auto;
  }
  .filter {
    padding: 12px 15px;
  }
  .list__block {
    // overflow-y: auto;
    border-radius: 12px;
    // max-height: 65%;
    height: auto;
  }
  .item-label {
    min-width: 60px !important;
  }

  .p-40 {
    padding-left: 40px;
  }
  .err-mes {
    padding-top: 10px;
    text-align: center;
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  .border-rowspan {
    border: 1px solid #f0f0f3;
  }

  .border-table {
    border-left: 1px solid #dddd;
  }

  .action__center {
    margin: 0 auto !important;
  }

  .data-empty {
    border-bottom: none;
  }
  .m-8 {
    margin-bottom: -8px;
  }
  .form-create {
    height: 100%;
  }
  .detail-table .fullscreen {
    height: 100%;
    position: relative !important;
  }

  .pt-15 {
    padding-top: 16px;
  }
  .button-right {
    flex-direction: row-reverse;
    margin: 0px !important;
    height: 0px;
  }
  .btn-view {
    position: relative;
    margin-top: 0px;
    bottom: -16px;
    margin-right: 0;
  }
  .dateStart {
    margin-left: -15px;
  }
  

}

