@import 'variable';

.report-mobilization {
  &.right-view {
    .list__block {
      overflow: auto;
    }
    .b-table {
      display: flex;
      flex-direction: column;
      // left: 5px;
      height: 550px;
    }
    .table__view {
      border: 1px solid #dddd;
    }
  }
}
::ng-deep {
  .check-all-rm {
    .p-checkbox-label {
      margin-bottom: 0;
    }
  }
}
