<div class="right-view report-mobilization">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'kpi.title.mobilizationReport' | translate }}</h3>
    </div>
    <div class="content__top-right"></div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block p-4">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" [formGroup]="form">
                <label class="m-0">{{ 'kpi.menu.formatReport' | translate }} </label>
                <div class="row px-4" [formGroup]="form">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="HTML" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">HTML</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="EXCEL" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">Excel</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="PDF" formControlName="downloadReport"></p-radioButton>
                    <label class="m-0" class="ml-3">PDF</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row" [formGroup]="form">
                  <div class="col-md-12">
                    <label class="m-0">{{ 'fields.block' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listDivision"
                      placeholder=" "
                      class="d-block"
                      formControlName="division"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row" [formGroup]="form">
                  <div class="col-md-12">
                    <label class="m-0">{{ 'kpi.menu.typeMoney' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listCurrencyType"
                      placeholder=" "
                      class="d-block"
                      formControlName="currencyType"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="label"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row" [formGroup]="form">
                  <div class="col-md-12">
                    <label class="m-0">{{ 'fields.currencyUnit' | translate }}</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listCurrencyUnit"
                      placeholder=" "
                      class="d-block"
                      formControlName="currencyUnit"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="name"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row" [formGroup]="form">
                  <div class="col-md-12">
                    <label class="m-0">Kỳ hạn</label>
                    <p-dropdown
                      emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                      [options]="commonData.listTerm"
                      placeholder=" "
                      class="d-block"
                      formControlName="term"
                      appendTo="body"
                      autoZIndex="false"
                      baseZIndex="10000"
                      optionLabel="label"
                      optionValue="code"
                    ></p-dropdown>
                  </div>
                </div>
              </div>

              <div class="form-group" [formGroup]="form">
                <label class="m-0">{{ 'kpi.menu.typeReport' | translate }} </label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="moment" formControlName="reportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.timeReport' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="avagate" formControlName="reportType"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.average' | translate }}</label>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="form.get('reportType').value === 'avagate'">
                <label class="m-0">{{ 'kpi.menu.periodReport' | translate }} </label>
                <div class="row px-4" [formGroup]="form">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="monthly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodMonth' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="quarterly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodPecious' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="yearly" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodYear' | translate }}</label>
                  </div>

                  <div class="mt-2 mb-0 p-field-radiobutton col-md-3">
                    <p-radioButton value="optional" formControlName="period"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'kpi.menu.periodSelect' | translate }}</label>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="form.get('reportType').value === 'avagate'">
                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <ng-container *ngIf="form.get('period').value === 'monthly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="reportPeriodFrom"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          [readonlyInput]="true"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'quarterly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listQuarterly"
                          class="d-block fix-width"
                          formControlName="reportPeriodQuarterly"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYears"
                          class="d-block fix-width"
                          formControlName="reportPeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="form.get('period').value === 'yearly'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-dropdown
                          emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                          [options]="commonData.listYears"
                          class="d-block fix-width"
                          formControlName="reportPeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="form.get('period').value === 'optional'">
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodReportDate' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="reportPeriodFrom"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          [readonlyInput]="true"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>

                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.fromDate' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="reportPeriodTo"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          [readonlyInput]="true"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <ng-container
                      *ngIf="
                        form.get('period').value === 'monthly' && form.get('reportTypeDetail').value !== 'contract'
                      "
                    >
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="comparePeriodFrom"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        form.get('period').value === 'quarterly' && form.get('reportTypeDetail').value !== 'contract'
                      "
                    >
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listQuarterlyCompare"
                          class="d-block fix-width"
                          formControlName="comparePeriodQuarterly"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                      <div class="col-md-6">
                        <label></label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listYearsCompare"
                          class="d-block fix-width"
                          formControlName="comparePeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="form.get('period').value === 'yearly' && form.get('reportTypeDetail').value !== 'contract'"
                    >
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-dropdown
                          [autoDisplayFirst]="false"
                          [showClear]="true"
                          [options]="commonData.listYearsCompare"
                          class="d-block fix-width"
                          formControlName="comparePeriodYear"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        form.get('period').value === 'optional' && form.get('reportTypeDetail').value !== 'contract'
                      "
                    >
                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.periodComparative' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="comparePeriodFrom"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>

                      <div class="col-md-6">
                        <label class="m-0">{{ 'kpi.menu.fromDate' | translate }}</label>
                        <p-calendar
                          class="d-block custom-calendar"
                          formControlName="comparePeriodTo"
                          dateFormat="mm/yy"
                          appendTo="body"
                          autoZIndex="false"
                          baseZIndex="10000"
                          [showIcon]="true"
                          [minDate]="commonData.minDate"
                          [maxDate]="commonData.maxDate"
                          view="month"
                          icon="las la-calendar-alt"
                        >
                        </p-calendar>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="form.get('reportType').value === 'moment'">
                <div class="form-group">
                  <div class="row" [formGroup]="form">
                    <div class="col-md-6">
                      <label class="m-0">{{ 'kpi.menu.reportingtime' | translate }}</label>

                      <p-calendar
                        class="d-block custom-calendar"
                        formControlName="momentReport"
                        dateFormat="dd/mm/yy"
                        appendTo="body"
                        autoZIndex="false"
                        [minDate]="commonData.minDate"
                        [maxDate]="commonData.maxDate"
                        baseZIndex="10000"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                      >
                      </p-calendar>
                      <small
                        class="p-error"
                        *ngIf="
                          form?.controls?.momentReport?.errors?.cusRequired && form?.controls?.momentReport?.touched
                        "
                        >{{ 'validationMessage.toDate' | translate }}</small
                      >
                    </div>
                    <div class="col-md-6" *ngIf="form.get('reportTypeDetail').value !== 'contract'">
                      <label class="m-0">{{ 'kpi.menu.timeOfComparison' | translate }}</label>
                      <p-calendar
                        class="d-block custom-calendar"
                        formControlName="momentCompare"
                        dateFormat="dd/mm/yy"
                        appendTo="body"
                        autoZIndex="false"
                        [minDate]="commonData.minDate"
                        [maxDate]="commonData.maxDate"
                        baseZIndex="10000"
                        [showIcon]="true"
                        icon="las la-calendar-alt"
                      >
                      </p-calendar>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 b-table">
              <div class="form-group" [formGroup]="form">
                <label class="m-0">{{ 'labels.report' | translate }} </label>
                <div class="row px-4">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="rm" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.rm' | translate }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="customer" formControlName="reportBy"></p-radioButton>
                    <label class="m-0" class="ml-3">{{ 'fields.customer' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="m-0">{{ 'kpi.menu.detailedReportType' | translate }} </label>
                <div class="row px-4" [formGroup]="form">
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2">
                    <p-radioButton value="customer" formControlName="reportTypeDetail"> </p-radioButton>
                    <label class="m-0" class="ml-3">{{
                      form.get('reportBy').value === 'rm' ? 'Khách hàng' : 'Tổng hợp'
                    }}</label>
                  </div>
                  <div class="mt-2 mb-0 p-field-radiobutton col-md-2" *ngIf="form.get('division').value !== 'INDIV'">
                    <ng-container *ngIf="form.get('reportBy').value === 'rm'">
                      <p-radioButton value="product" formControlName="reportTypeDetail"> </p-radioButton>
                      <label class="m-0" class="ml-3">Sản phẩm</label>
                    </ng-container>
                    <ng-container *ngIf="form.get('reportBy').value !== 'rm'">
                      <p-radioButton value="contract" formControlName="reportTypeDetail"> </p-radioButton>
                      <label class="m-0" class="ml-3">Hợp đồng</label>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="filter-top block-center-between mt-0">
                <div class="filter-top__left">
                  <div>
                    <input
                      placeholder="{{ 'btnAction.search' | translate }}"
                      type="text"
                      class="form-control search-box"
                      [(ngModel)]="textSearch"
                      [disabled]="allRM"
                      (keyup.enter)="add()"
                    />
                  </div>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.add' | translate }}"
                    [disabled]="allRM"
                    (click)="add()"
                  >
                    <em class="las la-plus-circle f-16"></em>
                  </button>
                  <button
                    class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}"
                    [disabled]="allRM"
                    (click)="search()"
                  >
                    <em class="las la-search f-16"></em>
                  </button>
                  <p-checkbox
                    *ngIf="isShowCheckboxAllRm()"
                    class="ml-3 check-all-rm"
                    [binary]="true"
                    label="Chọn tất cả RM"
                    name="allRM"
                    [(ngModel)]="allRM"
                    (onChange)="onChangeCheckAllRM($event)"
                  >
                  </p-checkbox>
                </div>
                <div class="filter-top__right block-center">
                  <button class="btn btn--red btn-small mr-4 text-white" [disabled]="allRM" (click)="removeList()">
                    {{ 'btnAction.deleteAll' | translate }}
                  </button>
                </div>
              </div>
              <div class="table__view">
                <ngx-datatable
                  #table
                  ngxDataTable
                  class="bootstrap fullscreen"
                  [rows]="listDataTable"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [footerHeight]="50"
                  rowHeight="auto"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [virtualization]="false"
                  [externalPaging]="true"
                  [count]="pageable?.totalElements"
                  [offset]="pageable?.currentPage"
                  [limit]="pageable?.size"
                  (page)="setPage($event)"
                  [messages]="messages"
                >
                  <ngx-datatable-column
                    [sortable]="false"
                    name="{{ 'fields.order' | translate }}"
                    [width]="55"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1 }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [sortable]="false"
                    [draggable]="false"
                    [prop]="columns[0].prop"
                    [name]="columns[0].name"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    [sortable]="false"
                    [draggable]="false"
                    [prop]="columns[1].prop"
                    [name]="columns[1].name"
                  >
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                    name="{{ 'fields.action' | translate }}"
                    [width]="100"
                    [frozenRight]="true"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                  >
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <div class="block-center text-center column-action">
                        <button
                          type="button"
                          class="btn-outline"
                          (click)="removeRecord(row); $event.stopPropagation()"
                          title="{{ 'btnAction.delete' | translate }}"
                        >
                          <em class="las la-trash-alt"></em>
                        </button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template
                    >
                      <app-pager-ngx-datatable
                        [page]="curPage"
                        [offset]="offset"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="false"
                        (change)="table.onFooterPage($event)"
                      >
                      </app-pager-ngx-datatable>
                    </ng-template>
                  </ngx-datatable-footer>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div class="text-center pt-4">
            <button class="btn btn--light-blue btn-small mr-3 btn-view" (click)="viewReport()">
              {{ 'labels.reportShow' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
