<div class="modal-header pb-4">
    <div class="block-center-between">
        <h5 class="m-0">{{
            "customer360.menu.historyAssignment" | translate }} - {{ "rm.title.customerOfRm" | translate }} ({{ infoRm
            }})</h5>
    </div>
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body history-assignment">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="list__block">
        <div class="filter-top block-center-between mt-0">
            <div class="filter-top__left">
                <div>
                    <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                        class="form-control search-box" [(ngModel)]="textSearch" (keyup.enter)="search(true)"
                        maxlength="200" />
                </div>
                <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                    title="{{ 'btnAction.search' | translate }}" (click)="search(true)">
                    <em class="las la-search f-16"></em>
                </button>
            </div>
            <div class="filter-top__right d-flex">
                <button class="btn btn-icon btn-icon--small btn-search" (click)="exportFile()">
                    <em class="las la-file-excel f-16"></em>
                </button>
            </div>
        </div>
        <div class="table__view table-floor">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
                [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
                [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)"
                [messages]="messages">
                <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                    name="{{ 'fields.customerCode' | translate }}">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
                    name="{{ 'fields.customerName' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
                    name="{{ 'fields.startDate' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                            }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="endDate"
                    name="{{ 'fields.endDate' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                            }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdCustom"
                    name="{{ 'fields.assignee' | translate }}">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedCustom"
                    name="{{ 'fields.modifiedBy' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
                    name="{{ 'fields.modifiedDate' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                            }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedType"
                    name="{{ 'fields.assignedType' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [draggable]="false" prop="productName"
                    name="{{ 'fields.product' | translate }}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span title="{{ value }}">{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                        <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                            [hidden]="false" (change)="table.onFooterPage($event)">
                        </app-pager-ngx-datatable>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
    <div class="text-right">
        <button class="btn btn--red" (click)="closeModal()">{{ 'btnAction.cancel' | translate }}</button>
    </div>
</div>


<!-- <div class="right-view rm-history">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn btn--light-blue btn-small mr-3" (click)="back()"><em class="las la-undo f-16"></em>
                {{ 'btnAction.back' | translate }}</button>
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ "rm.title.rm360" | translate }}/{{ "rm.title.rmHistoryAssign" | translate }}
            </h3>
        </div>
        <div class="content__top-right">
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="px-4 pt-4 border-bottom mb-3">
                        <h5>{{ "rm.title.customerOfRm" | translate }} ({{ infoRm }})</h5>
                    </div>
                    <div class="filter-top block-center-between px-4">
                        <div class="filter-top__left">
                            <div>
                                <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                                    class="form-control search-box" [(ngModel)]="textSearch"
                                    (keyup.enter)="search(true)" maxlength="200" />
                            </div>
                            <button class="btn-icon btn-icon--small btn btn-search grey ml-2" (click)="search(true)">
                                <em class="las la-search f-16"></em>
                            </button>
                        </div>
                        <div class="filter-top__right d-flex">
                            <button class="btn btn-icon btn-icon--small btn-search" (click)="exportFile()">
                                <em class="las la-file-excel f-16"></em>
                            </button>
                        </div>
                    </div>
                    <div class="table__view table-floor">
                        <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [scrollbarV]="true" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
                            [count]="pageable?.totalElements" [offset]="pageable?.currentPage" [limit]="pageable?.size"
                            (page)="setPage($event)" [messages]="messages">
                            <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}"
                                [width]="35" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerCode"
                                name="{{ 'fields.customerCode' | translate }}">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="customerName"
                                name="{{ 'fields.customerName' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="assignedDate"
                                name="{{ 'fields.startDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="endDate"
                                name="{{ 'fields.endDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="createdCustom"
                                name="{{ 'fields.assignee' | translate }}">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedCustom"
                                name="{{ 'fields.modifiedBy' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value }}">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [draggable]="false" prop="updatedDate"
                                name="{{ 'fields.modifiedDate' | translate }}">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <span title="{{ value | date: 'dd/MM/yyyy' }}">{{ value | date: 'dd/MM/yyyy'
                                        }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-footer>
                                <ng-template let-rowCount="rowCount" let-pageSize="pageSize"
                                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                                    ngx-datatable-footer-template>
                                    <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize"
                                        [count]="rowCount" [hidden]="false" (change)="table.onFooterPage($event)">
                                    </app-pager-ngx-datatable>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
