.rm-customer-history-modal {
  .modal-dialog {
    max-width: 1150px;
    height: 100%;
    margin: auto;
    display: flex;
  }
  .modal-content {
    height: 465px;
    margin: auto;
    .app-rm-customer-history {
      display: flex;
      flex-direction: column;
    }

    .list__block {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
