<div class="right-view">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">{{ 'system.menu.logHistory' | translate }}</h3>
    </div>
    <div class="content__top-right">
      <button class="btn btn--light-blue btn-icon--small" [ngbTooltip]="formSearch" [autoClose]="false" triggers="manual"
        placement="bottom-right" container="body" (hidden)="onCloseTooltip()" #tooltipSearch="ngbTooltip"
        (click)="openSearch()" tooltipClass="search-tooltip">
        <em class="las la-search f-16"></em>
      </button>
    </div>
  </div>
  <div class="content">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <div class="filter-top block-center-between px-4">
            <div class="filter-top__left">
              <div>
                <input placeholder="{{ 'btnAction.search' | translate }}" type="text" class="form-control search-box"
                  [(ngModel)]="textFilter" (keyup.enter)="filter()" />
              </div>
              <button class="btn-icon btn-icon--small btn btn-search grey ml-2"
                title="{{ 'btnAction.search' | translate }}" (click)="filter()">
                <em class="las la-search f-16"></em>
              </button>
            </div>
            <div class="filter-top__right d-flex">
              <button *ngIf="objFunction && objFunction.export" class="btn btn-icon btn-icon--small btn-search"
                (click)="exportFile()" title="{{ 'btnAction.export' | translate }}">
                <em class="las la-file-excel f-16"></em>
              </button>
            </div>
          </div>
          <div class="table__view log__history">
            <ngx-datatable ngxDataTable #table class="bootstrap fullscreen" [rows]="listData" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarV]="true" [scrollbarH]="true"
              [virtualization]="false" [externalPaging]="true" [count]="pageable?.totalElements"
              [offset]="pageable?.currentPage" [limit]="pageable?.size" (page)="setPage($event)" [messages]="messages">
              <ngx-datatable-column [sortable]="false" name="{{ 'fields.order' | translate }}" [width]="35"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{ pageable?.currentPage * pageable?.size + rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="objectName"
                name="{{ 'fields.object' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span class="btn-icon btn-icon--small grey clickable">
                    <em class="las f-16 la-cogs"></em>
                  </span>
                  <span class="ml-2">{{ value }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="scope"
                name="{{ 'fields.typeChange' | translate }}"></ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="dateCreated"
                name="{{ 'fields.timeChange' | translate }}">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span>{{ formatDateTime(value) }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" [draggable]="false" prop="username"
                name="{{ 'fields.userChange' | translate }}"></ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                  let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
                  <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="rowCount"
                    [hidden]="false" (change)="table.onFooterPage($event)">
                  </app-pager-ngx-datatable>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formSearch>
  <div class="formSearch" id="formSearch" [formGroup]="searchForm">
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.object' | translate }}</label>
      <div class="item-field">
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listResource"
          placeholder=" " class="d-block" emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="objectName" optionValue="code" optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.typeChange' | translate }}</label>
      <div class="item-field">
        <p-dropdown emptyMessage="{{ 'notificationMessage.noRecordsFound' |  translate}}" [options]="listTypeMethod"
          placeholder=" " class="d-block" emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
          formControlName="scope" optionValue="code" optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.userChange' | translate }}</label>
      <div class="item-field">
        <input class="form-control" type="text" formControlName="username" />
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.fromTime' | translate }}</label>
      <div class="item-field">
        <p-calendar formControlName="startDate" dateFormat="dd/mm/yy" [showIcon]="true" [maxDate]="maxStartDate"
          [minDate]="minStartDate" icon="las la-calendar-alt">
        </p-calendar>
      </div>
    </div>
    <div class="form-custom-inline form-group">
      <label class="item-label">{{ 'system.fields.toTime' | translate }}</label>
      <div class="item-field">
        <p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [showIcon]="true" [maxDate]="maxDate"
          icon="las la-calendar-alt">
        </p-calendar>
      </div>
    </div>
    <div class="text-right mt-3">
      <button class="btn btn--light-blue" (click)="search()">{{ 'btnAction.search' | translate }}</button>
    </div>
  </div>
</ng-template>
