.row__item-object {
  flex-basis: 25%;
  max-width: 25%;
}
.row__item-typeChange {
  flex-basis: 25%;
  max-width: 25%;
}
.row__item-timeChange {
  flex-basis: 25%;
  max-width: 25%;
}
.row__item-userChange {
  flex-basis: 25%;
  max-width: 25%;
}
.filter-list {
  padding: 12px 35px;
}
