@import 'variable';

.coach-suggest {
    .type-width {
        width: 170px;
    }

    .custom-table {
        .header {
            height: 48px;
        }
        .t-row {
            height: 70px;
            .same-parent {
                border-bottom: none;
            }
            .last-col-split {
                border-right: 1px solid #e9ecef;
            }
            .first-col-split {
                text-align: center;
                border-left: 1px solid #e9ecef;
            }
        }
        .group-split {
            border-top: 3px solid #e9ecef;
        }
        .p-datatable-tbody {
            tr {
                height: 70px;
            }
        }
        td {
            white-space: pre-line;
            word-break: break-all;
        }
        // ::ng-deep .p-datatable-scrollable-header-box {
        //     padding-right: 0px !important;
        // }
    }
    .book {
        width: 60px;
        height: 50px;
        background: #EFF2FE;
        color: #777777;
        &:hover {
            .la-alarm-clock {
                background-image: url('src/assets/images/alarm-clock-active.svg') !important;
            }
            color: $blue;
        }
        span {
            margin-top: 2px;
        }
    }
}
