<div class="right-view basic-filter coach-suggest">
    <div class="content__top block-center-between">
        <div class="content__top-left block-center">
            <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
                <em class="las la-bars"></em>
            </button>
            <h3 class="mb-0 page--title">{{ 'coaching.topic' | translate }}</h3>
        </div>
        <div class="content__top-right">
            <div class="block-center-between mt-2 type-width">
                <div class="p-field-radiobutton">
                    <p-radioButton [formControl]="isPersional" [value]="false"></p-radioButton>
                    <label class="ml-3">Quản lý</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radioButton [formControl]="isPersional" [value]="true"></p-radioButton>
                    <label class="ml-3">Cá nhân</label>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <app-loading *ngIf="isLoading"></app-loading>
        <div class="content-body">
            <div class="content-body__list">
                <div class="list__block">
                    <div class="filter-top block-center px-4 search-basic">
                        <div class="action__left">
                            <div class="search-input mr-4">
                                <input placeholder="{{ 'btnAction.search' | translate }}" type="text"
                                    class="form-control search-box" [(ngModel)]="textSearch" maxlength="20"
                                    (keyup.enter)="search()" />
                            </div>
                            <button class="btn btn--light-blue btn-small" (click)="search()">
                                {{ 'btnAction.search' | translate }}
                            </button>
                        </div>
                        <div class="action__right">
                            <button *ngIf="objFunction && objFunction.export"
                                class="btn btn-icon btn-small-p btn-export-excel" (click)="exportFile()"
                                title="{{ 'btnAction.export' | translate }}">
                                <em class="las la-excel-img f-16 mr-1"></em>
                                <span class="ml-2">{{'export_excel' | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="table__view">
                        <p-table class="p-table-fullscreen custom-table" [value]="virtualList" [scrollable]="true"
                            scrollHeight="flex" [virtualScroll]="true">
                            <ng-template pTemplate="header">
                                <tr class="header">
                                    <th width="200px">{{'fields.rmName' | translate}}</th>
                                    <th width="100px">{{'fields.rmCode' | translate}}</th>
                                    <th width="100px">{{'fields.hrisCode' | translate}}</th>
                                    <th width="200px">{{'fields.branch' | translate}}</th>
                                    <th width="150px">{{'fields.level' | translate}}</th>
                                    <th width="200px">{{'fields.title' | translate}}</th>
                                    <th width="200px">{{'coaching.target_below_standard' | translate}}</th>
                                    <th width="150px">{{'coaching.kqht_below_standard' | translate}}</th>
                                    <th width="120px">{{'coaching.month_below_standard' | translate}}</th>
                                    <th width="200px">{{'coaching.suggest_module' | translate}}</th>
                                    <th width="100px">{{'fields.action' | translate}}</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body">
                                <ng-container *ngFor="let row of listData; let rowIndex = index">
                                    <tr class="t-row"
                                        [ngClass]="{'group-split': rowIndex !== 0 && isFirstChild(rowIndex)}">
                                        <td width="200px" [ngClass]="{'same-parent': isSameParent(rowIndex)}">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.fullname}}</span>
                                        </td>
                                        <td width="100px" [ngClass]="{'same-parent': isSameParent(rowIndex)}">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.rmCode}}</span>
                                        </td>
                                        <td width="100px" [ngClass]="{'same-parent': isSameParent(rowIndex)}">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.hrisCode}}</span>
                                        </td>
                                        <td width="200px" [ngClass]="{'same-parent': isSameParent(rowIndex)}">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.branch}}</span>

                                        </td>
                                        <td width="150px" [ngClass]="{'same-parent': isSameParent(rowIndex)}">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.rmLevelName}}</span>

                                        </td>
                                        <td width="200px" [ngClass]="{'same-parent': isSameParent(rowIndex)}"
                                            class="last-col-split">
                                            <span *ngIf="isFirstChild(rowIndex)">{{row.rmTitleName}}</span>
                                        </td>
                                        <td width="200px">{{row.topicName}}</td>
                                        <td width="150px">{{row.entrustPoint}}</td>
                                        <td width="120px">{{row.monthYear}}</td>
                                        <td width="200px">{{row.topicPropose}}</td>
                                        <td width="100px" [ngClass]="{'same-parent': isSameParent(rowIndex)}"
                                            class="first-col-split">
                                            <button *ngIf="isFirstChild(rowIndex)" type="button"
                                                class="btn-outline book" (click)="book(row)">
                                                <em class="las la-alarm-clock"></em> <br>
                                                <span>{{'coaching.book' | translate}}</span>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>

                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="11" style="text-align: center">
                                        {{ 'messageTable.emptyMessage' | translate }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
