<div class="chart">
    <div class="chart__header block-center-between">
        <div class="chart__header-left">
            <div class="f-16 text-black chart__header-title">{{ title }}</div>
        </div>
        <div class="chart__header-right">
        </div>
    </div>
    <ng-container *ngIf="!isLoading && data">
        <div class="chart__body">
            <div echarts [options]="option" style="height: 100%;"></div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && !data">
        <div class="chart__empty">
            <div class="f-14">{{ 'notificationMessage.dataEmpty' | translate }}</div>
        </div>
    </ng-container>
<!--    <app-loading *ngIf="isLoading"></app-loading>-->
  <div style="bottom: 10px" *ngIf="isLoading" class="w-100 position-absolute">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
