<div class="modal-header pb-4">
  <div class="block-center-between">
    <div class="">
      <h5 class="m-0">Chọn mã LD</h5>
    </div>
  </div>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list__block">
    <div class="filter-top block-center-between">
      <div class="filter-top__left w-100">
        <div style="flex: auto;">
          <input placeholder="Mã LD" type="text" class="form-control search-box" trimInput
            *ngIf="!show" [(ngModel)]="search_value" (keyup.enter)="searchBasic()" maxlength="200" />
        </div>
        <div style="flex: auto;" class="ml-2">
          <p-calendar icon="las la-calendar-alt" [(ngModel)]="search_date_from" class="d-flex" dateFormat="dd/mm/yy"
            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="false" [maxDate]="search_date_to"
            [showTime]="false" placeholder="Từ ngày" (onSelect)="searchBasic()">
          </p-calendar>
        </div>
        <div style="flex: auto;" class="ml-2">
          <p-calendar icon="las la-calendar-alt" [(ngModel)]="search_date_to" class="d-flex" dateFormat="dd/mm/yy"
            appendTo="body" autoZIndex="false" baseZIndex="10000" [showIcon]="false" [minDate]="search_date_from"
            [showTime]="false" placeholder="Đến ngày" (onSelect)="searchBasic()">
          </p-calendar>
        </div>
        <div class="ml-2" style="flex: auto;">
          <button class="btn-icon btn-icon--small btn btn-search grey ml-2" title="{{ 'btnAction.search' | translate }}"
            (click)="searchBasic()" *ngIf="!show">
            <em class="las la-search f-16"></em>
          </button>
        </div>
      </div>
      <div class="filter-top__right d-flex"></div>
    </div>
    <div class="table__view user__view">
      <ngx-datatable ngxDataTable #tablefee [messages]="messages" [scrollbarV]="true" class="bootstrap fullscreen"
        [scrollbarH]="false" [virtualization]="false" [externalPaging]="true" [columnMode]="'mode'" [rows]="models"
        [count]="count" [offset]="offset" [limit]="params?.size" (page)="paging($event)" [headerHeight]="50"
        [footerHeight]="0" [selectionType]="config?.selectionType"
        [selected]="config?.selectionType === 'single' ? selected : []">
        <ngx-datatable-column [width]="40" [frozenLeft]="true" [sortable]="false" [canAutoResize]="false"
          [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template>

          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="block-center">
              <label class="checkbox">
                <input type="checkbox" [checked]="isChecked(row)"
                  (click)="onCheckboxRmFn(row, $event.target.checked); $event.stopPropagation()" />
                <span class="ck"></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="ldCode" [sortable]="false" [width]="200">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.ldCodePopoup.ldCode' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.ldCode }}">{{ row?.ldCode }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="NGAYVAY" [sortable]="false" [width]="130">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.ldCodePopoup.createdDate' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.NGAYVAY }}">{{ row?.NGAYVAY }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="NGAYDH" [sortable]="false" [width]="130">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.ldCodePopoup.updatedDate' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.NGAYDH }}">{{ row?.NGAYDH}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="INTEREST_TYPE" [sortable]="false" [width]="130">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'reductionProposal.labels.ldCodePopoup.type' | translate }}
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span title="{{ row?.INTEREST_TYPE }}">{{ row?.INTEREST_TYPE}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template let-rowCount="count" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset" ngx-datatable-footer-template>
            <app-pager-ngx-datatable [page]="curPage" [offset]="offset" [size]="pageSize" [count]="count"
              [hidden]="false" (change)="paging($event)" (eventChangePageSize)='handleChangePageSize($event)'
              [hasDropdown]='true'>
            </app-pager-ngx-datatable>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="modal-footer modal-footer--grey d-block">
  <div class="text-center">
    <button class="btn btn--light-blue" (click)="choose()">{{ 'title.confirm' | translate }}</button>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
