@import 'variable';

.sale-manager-detail {
  button.btn.btn-outline-primary {
    height: 28px;
    text-align: center;
    padding: 0 1rem !important;
    font-weight: 400 !important;
  }

  .list__block {
    overflow-y: auto;
    // border-radius: 12px;
  }
  .title-info {
    margin-bottom: 1.75rem;
    border-bottom: 1px solid $gray-300;
    h5 {
      margin: 0;
      padding-bottom: 5px;
    }
  }
  .block-center-between {
    margin-bottom: 15px;
  }
}
