<div class="right-view sale-manager-detail">
  <div class="content__top block-center-between">
    <div class="content__top-left block-center">
      <button class="btn btn--light-blue btn-small" (click)="back()">
        <em class="las la-undo f-16"></em> {{ 'btnAction.back' | translate }}
      </button>
      <button class="btn-toggle-sidebar btn-icon--small grey btn btn-icon mr-4">
        <em class="las la-bars"></em>
      </button>
      <h3 class="mb-0 page--title">
        {{ (screenType === 'DETAIL' ? 'saleTarget.screenDetail' : 'saleTarget.screenUpdate') | translate }}
        <!-- Thông tin chi tiết mục tiêu bán -->
      </h3>
    </div>
    <div *ngIf="screenType === 'UPDATE' && statusTargetCreated === '1'" class="content__top-right">
      <button class="btn btn-light btn-small" (click)="back()">{{ 'btnAction.cancel' | translate }}</button>
      <button (click)="editOpportunity()" class="btn btn--light-blue btn-small ml-3">
        {{ 'btnAction.save' | translate }}
      </button>
    </div>

    <div *ngIf="screenType === 'DETAIL' && statusTargetCreated === '1'" class="content__top-right">
      <!-- <button class="btn btn-light btn-small" (click)="back()">{{ 'btnAction.cancel' | translate }}</button>
      <button class="btn btn--light-blue btn-small ml-3">
        {{ 'btnAction.save' | translate }}
      </button> -->

      <button type="button" (click)="checkEditTarget()" class="btn btn-icon btn-icon--small btn-search">
        <em class="las la-edit f-16"></em>
      </button>

      <button
        (click)="transferSale()"
        title="{{ 'btnAction.transfeSale' | translate }}"
        class="btn btn-icon btn-icon--small btn-search ml-3"
      >
        <em class="las la-transfer-opportunity-edit f-16"></em>
      </button>
    </div>
  </div>

  <div class="content bg-transparent">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="content-body">
      <div class="content-body__list">
        <div class="list__block">
          <!-- Thông tin khách hàng -->
          <div class="card p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'title.legalRepresentativeInfo' | translate }}</h5>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.fullNameOpportunity' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap" title="{{ model?.customerInfo?.fullName }}">
                  {{ getTruncateValue(model, 'customerInfo.fullName', 50) }}
                </span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.businessRegistrationDate' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.customerInfo?.registrationDate }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.country' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.customerInfo?.nationality }}</span>
              </div>
              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.companyPhone' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.customerInfo?.mobileNumber }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.registrationNumber' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.customerInfo?.registrationNumber }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.employeeNo' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.customerInfo?.employeesNo }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.customerCode' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.systemInfo?.code }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.customerType' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.systemInfo?.accountType }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.address' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap" title="{{ model?.businessInfo?.address }}">{{
                  getTruncateValue(model, 'customerInfo.address', 250)
                }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.sectorName' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ model?.systemInfo?.sectorName }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.customerIndustry' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap" title="{{ model?.customerInfo?.industryDes }}">{{
                  getTruncateValue(model, 'customerInfo.industryDes', 250)
                }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.customerSegment' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ segmentCustomer }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.branchOpenCode' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{
                  model?.systemInfo?.branchCode + ' - ' + model?.systemInfo?.branchName
                }}</span>
              </div>
            </div>
          </div>

          <div class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'saleOpportunity.infoOpportunity' | translate }}</h5>
            </div>
            <div class="row mb-10">
              <div class="col-md-2">
                <label class="detail-key">{{ 'saleOpportunity.codeOpportunity' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailOpportunity?.opportunityCode }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleOpportunity.branhOpportunity' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailOpportunity?.opportunityBranch }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleOpportunity.rmOpportunity' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailOpportunity?.assignTo }}</span>
              </div>
            </div>
          </div>

          <div class="card flex-grow-1 p-4 text-left mb-4">
            <div class="title-info block-center-between">
              <h5>{{ 'saleTransfer.infoTarget' | translate }}</h5>
            </div>
            <div class="row mb-10" [formGroup]="formDetailTarget">
              <div class="col-md-2">
                <label class="detail-key">{{ 'saleTarget.saleTargetCode' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailTarget?.targetCode }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleTarget.productSale' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailTarget?.product }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleTarget.saleTargetBranch' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span *ngIf="screenType === 'DETAIL'" class="text-wrap">{{ detailTarget?.targetBranchName }}</span>
                <p-dropdown
                  *ngIf="screenType === 'UPDATE'"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  [options]="listBranchesOpp"
                  placeholder=" "
                  class="d-block"
                  [filter]="true"
                  emptyFilterMessage="{{ 'notificationMessage.noResultsFound' | translate }}"
                  formControlName="targetBranchName"
                  appendTo="body"
                  autoZIndex="false"
                  baseZIndex="10000"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                ></p-dropdown>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleTarget.saleTargetRM' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span *ngIf="screenType === 'DETAIL'" class="text-wrap">{{ detailTarget?.targetRMCode }}</span>
                <p-dropdown
                  *ngIf="screenType === 'UPDATE'"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="targetRMCode"
                  [filter]="true"
                  [options]="listRmManager"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                  [virtualScroll]="true"
                  [itemSize]="31"
                >
                </p-dropdown>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.status' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span *ngIf="screenType === 'DETAIL'" class="text-wrap">{{ statusTarget | translate }}</span>
                <p-dropdown
                  *ngIf="screenType === 'UPDATE'"
                  emptyMessage="{{ 'notificationMessage.noRecordsFound' | translate }}"
                  formControlName="targetStatus"
                  [options]="listStatusOpp"
                  placeholder=" "
                  class="d-block"
                  optionLabel="displayName"
                  optionValue="code"
                >
                </p-dropdown>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'saleTarget.targetActive' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <a href="javascript:void(0)">Hành động</a>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.createdDate' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailTarget?.createdDate }}</span>
              </div>

              <div class="col-md-2">
                <label class="detail-key">{{ 'fields.createdBy' | translate }}</label>
              </div>
              <div class="col-md-4 form-group has-error">
                <span class="text-wrap">{{ detailTarget?.createdBy }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
